  <%
meta title: "ShemarooMe: Hindi Movies, TV Shows, Short Films, Music, Kids Shows & More",
     description: "Watch your favorite TV series & Movies online. Enjoy high quality streaming of classic movies, TV serials, bollywood music, kids shows in various languages, devotional content & much more in regional languages such as Gujarati & Punjabi, here at ShemarooMe.",
     keywords: "online tv streaming, online television, internet tv, watch tv on internet, star player, Online tv streaming, free streaming, watch tv shows on internet, watch tv series online, watch movies online, old hindi songs, Gujarati movies, Gujarati nataks"
%>
<section class="banner-section padding-top-80 padding-top-135">
  <div class="row">
    <input type="hidden" id="index_expired_plans"  value="<%=@expired_categories%>">
    <input type="hidden" id="index_current_plans"  value="<%=@plan_categories%>">
    <input type="hidden" id="index_subscription_status"  value="<%=@subscribed_status%>">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
      <div id="banner-carousel" class="owl-carousel owl-theme">
        <%@home_list[0]['catalog_list_items'].each do |h|%>
          <div class="item">
            <%page_url,cls_name = get_banner_item_url(h)%>
            <a href="<%=page_url%><%#=h['seo_web_url']%><%#=get_item_url(h)%>">     
            <%if h["access_control"]["is_free"] == false && h["access_control"]["premium_tag"] == true && $region == "IN"%>
              <%if h.has_key?("content_definition") && h["content_definition"] == "TVOD"%>
               <span><img src="/assets/buy.png" class="premium-txt"></span>
              <%else%>
              <span class="premium-txt text-uppercase">premium</span>
              <%end%>
            <%end%>       
            <img src="<%=get_banner_image_url(h,@home_list[0]["layout_type"])%>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-none d-md-block rounded <%=cls_name%> banner_tag" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>">
            <img src="<%=h["thumbnails"]["xl_image_16_9"]["url"]%>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-block d-md-none rounded <%=cls_name%> banner_tag" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>">
            <!-- <img src="/assets/big_play.svg" alt="<%#=h['title']%>" title="<%#=h['title']%>"> -->              
            </a>
          </div>
        <%end%>       
      </div>
    </div>
  </div>
</section>
    
<div class="min-height-div">    
  <section class="full-width-content home-page light relative-content" id="home_catalog_items" style="min-height: 1000px;">
    <div class="row" id="user_continue_watch_list" style="display:none;">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <a href="/users/continue_watching">
              <h2 class="margin-bottom-15 text-capitalize heading_title_color" id="continue-watching-title">
              Continue Watching</h2>      
            </a>
            <a href="/users/continue_watching" class="text-uppercase pull-right see-more">see more</a>
          </div>
        </div>
        <div id="continue-watching-carousel" class="owl-carousel owl-theme"> 
        </div>
      </div>
    </div>
    
  <%@items.each_with_index do |list,index|%>
  <%if index != 0%>
   <%if list.has_key?("catalog_list_items") && list['catalog_list_items'].count > 0%>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- title_color_<%=index%>">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? "#{list["home_link"]}" : "#{list["home_link"]}/all"%>" id="home_title_<%=index%>" style="display:none;">
              <h2 class="margin-bottom-15 text-capitalize heading_title_color" style="<%=get_title_item_color(list['layout_scheme'])%>"><%=list['display_title']%></h2></a>
              <%unless list["home_link"].blank?%>
                <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? "#{list["home_link"]}" : "#{list["home_link"]}/all"%>" class="text-uppercase pull-right see-more all_items_<%=index%>" style="display:none;">see more</a>
              <%end%>
            </div>
          </div>
          <div id="bollywood-classic-carousel_<%=index%>" class="owl-carousel <%=get_image_type(@items[index]["layout_type"])%> owl-theme" data-item-det="<%=@items[index]["layout_type"]%>$<%=list['catalog_list_items'].count%>$<%=get_item_color(list['layout_scheme'])%>">
            <%list['catalog_list_items'].each do |item|%>
              <div class="item rounded  actual_item <%=get_image_height(@items[index]["layout_type"])%>" data-bucket-name = "<%=list['display_title']%>" >
                <a href="<%=item['seo_web_url']%><%#=get_item_url(item)%>">  
                   <%if item["content_definition"] == "TVOD"%>              
                     <img src="/assets/buy.png" class="premium-txt">
                   <%end%>
                
                <a href="<%=item['seo_web_url']%><%#=get_item_url(item)%>">
                <%if item["access_control"]["is_free"] == false  && item["access_control"]["premium_tag"] == true && item["content_definition"] != "TVOD" && $region == "IN"%>
                  <span class="premium-txt text-uppercase">premium</span>
                <%end%>
                <img src="<%=get_image_url(item,@items[index]["layout_type"])%>" class="rounded" alt="<%=item["title"]%>" title="<%=item["title"]%>">
                <%if @items[index]["layout_type"].split("_").last.downcase == "meta"
                      %>
                        <span class="list-tile-title"><%=item["title"]%></span>
                      <%end%>
                </a>
              </div> 
            <%end%>             
          </div>           
        </div>
      </div>
    <%end%> 
    <%end%> 
  <%end%>
  <%=render "layouts/page_height_setting"%>

    <div class="toster-message-wrap" id="remove_continue_watching_pop">
        <div class="center-align-content">
          <div class="toster-message">
            <img src="/assets/password_updated.svg">
            <p id="watch_later_message">
              Removed item successfully
            </p>
          </div>
        </div>
      </div> 

      <div class="toster-message-wrap" id="reset_password_email">
        <div class="center-align-content">
          <div class="toster-message">
            <img src="/assets/password_updated.svg">
            <p id="watch_later_message">
              Password reset successfully
            </p>
          </div>
        </div>
      </div>

      <div class="toster-message-wrap reset_password" id="reset_password">
      <div class="center-align-content">
        <div class="toster-message">
          <img src="/assets/password_updated.svg" alt="updated" title="updated">
          <p>
            Your password is updated.<br>
            please login with your new password.
          </p>
        </div>
      </div>  
    </div>
</section>
</div>
<div class="modal" id="ctn_watch_delete_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h6 class="pull-left w-100 margin-bottom-25 margin-top-5">Are you sure you want to delete the  Item?</h6>
        <!-- <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
          Your entire watch history on Shemaroo Me will be deleted. Once done it can not be achieved back. Are you sure want to perform this task.
        </p> -->
        <div class="inline  custom-gradient margin-bottom-20 margin-top-5 text-center pull-right">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold " id="cancel-pop">cancel</a>
          </p>
          <input type="hidden" name="playlistid" id="user_playlist_id">
        </div>
        <div class="inline  custom-gradient margin-bottom-20 margin-top-5 text-center pull-left">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold " id="user_continue_watch_clear">Confirm</a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>


<%=render "catalogs/set_user_profile_cookies"%>
<%=render "catalogs/branch_banner_events"%>
<script>
  /*var previous_url = document.referrer.split('/');
  if(previous_url[4] == 'continue_watching'){
    if(!!window.performance && window.performance.navigation.type == 2)
    {      
      window.location.reload();
    }
  }*/  
  
  var window_height = window.outerHeight;
  var window_height = window_height - 231;
  $('.min-height-div').css('min-height',window_height+'px');

$(document).ready(function() { 
  var pin = getShemarooCookies().pin
   var verified_pin = localStorage.getItem("verified_pin")
  if(pin != undefined && pin.length >0 && verified_pin != "true"){
    window.location = "/users/who_is_watching"
   }

  /*function netcore_login(is_subscribed,active_plans,inactive_plans){
     smartech('profile', '64', { 
      'identify': getShemarooCookies().user_analytical_id,
      'inactive_plans': inactive_plans,
      'active_plans': active_plans,
      'is_subscribed': is_subscribed,
      'is_loggedIn': '1'
     },function() {smartech('dispatch', 101, {})}); */


      /*smartech('identify', getShemarooCookies().user_analytical_id); 
      smartech('inactive_plans', inactive_plans);
      smartech('active_plans', active_plans);
      smartech('is_subscribed', is_subscribed);
      smartech('is_loggedIn', '1');  */
  //}

   /*var current_url = window.location.href.split('?profile_id=')
  if(current_url.length == 2){
    var profile_data = window.location.href.split('?profile_id=')[1].split("&name=");
    var user_data = profile_data[1].split("&profile_type=")
    window.history.pushState("", "", current_url[0]);
    $.cookie('profile_id',profile_data[0], { expires: 14,path: '/'});
    $.cookie('user_name',user_data[0], { expires: 14,path: '/'});
    $.cookie('user_profile_type',user_data[1], { expires: 14,path: '/'})
  }
*/

var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
    ];
 
  $('#banner-carousel').owlCarousel({
    loop:true,
    autoplay: true,
    smartSpeed: 1200,
    margin:10,
    nav:true,
    dots: false,
    navText: navigation,
    navSpeed: 1000,
    responsive:{
      0:{
          items:1,
          stagePadding: 39,
      },
      576:{
          items:1,
          stagePadding: 49,
      },
      768:{
          items:1,
          stagePadding: 59,
      },
      992:{
          items:1,
          stagePadding: 69,
      },
      1200:{
          items:1,
          stagePadding: 96,
      }
    }
  });

  var items_count = "<%=@items.count-1%>"
    for (i = 1; i <= items_count; i++) {
    var auto_loop_status = false;
    var owl = $("#bollywood-classic-carousel_"+i);
    if($("#bollywood-classic-carousel_"+i).data("item-det") != undefined){
    var det = $("#bollywood-classic-carousel_"+i).data("item-det").split("$");
    var total_item_cnt =  det[1];
    var layout_type = det[0];
    var color = det[2].split("|")
    // $("body").append("<style>.title_color_"+i+" h2:before{background: linear-gradient(to right,"+color[0]+", "+color[1]+");}</style>");
    if(layout_type == "t_16_9_big" || layout_type == "t_16_9_small" || layout_type == "t_16_9_small_meta"){
     var no_of_items = 5;
     var items_0 = 1
       var items_576 = 2
       var items_768 = 3
       var items_992 = 4
     if(total_item_cnt > 5){
        auto_loop_status = true
       $(".all_items_"+i).show();
       
     }
    }
    else if(layout_type == "t_1_1_plain" || layout_type == "t_1_1_album"){
     var no_of_items = 6;
     var items_0 = 2
       var items_576 = 3
       var items_768 = 4
       var items_992 = 5
     if(total_item_cnt > 6){
        auto_loop_status = true
       $(".all_items_"+i).show();
       
     }
    }
    else{
      var no_of_items = 7
      var items_0 = 2
      var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 7){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
    }

  owl.owlCarousel({
    loop: auto_loop_status,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 50,
    navText: navigation,
    responsive:{
      0:{
          items: items_0,
          stagePadding: 25
    },
      576:{
          items: items_576,
      },
      768:{
          items: items_768
      },
      992:{
          items: items_992
      },
      1200:{
          items: no_of_items
      }
    }
  });
}
 $("#home_title_"+i).show();
 }
 $("#home_catalog_items").css("min-height","1px");
  function continue_watch_carousel(cnt){
    if(cnt > 5){
      auto_loop_status = true
    }
    else{
      auto_loop_status = false
    }
  $('#continue-watching-carousel').owlCarousel({
    loop:auto_loop_status,
    margin:10,
    nav:true,
    dots: false,
    navText: navigation,
    stagePadding: 50,
    responsive:{
      0:{
          items:2,
          stagePadding: 25
      },
      768:{
          items:3
      },
      992:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });

}


  function smarttech_index(sub_status,present_plans,exp_plans){
    smartech('contact', '60',{ 
    'pk^user_id': getShemarooCookies().user_analytical_id,
    'INACTIVE_PLANS': exp_plans,
    'ACTIVE_PLANS': present_plans,
    'IS_SUBSCRIBED': sub_status,
    'IS_LOGGEDIN': '1'
   }); 
  }


smartech('dispatch', 'sample_test_event', {
  'name': "home",
   'city': "bangalore",
   'region': "IN"

})

  if(getShemarooCookies().user_id){
     $.ajax({
      url: "/users/continue_watching_list",
      type: "GET",
      data: {},
      success: function(response,status){
        //netcore_login(response.sub_status, response.present_plans, response.exp_plans);
        console.log(response.items.length);
        if(response.status == true && response.items.length > 0){
          smarttech_index(response.sub_status, response.present_plans, response.exp_plans);
          var list_data = "";
          var buy_tag = ""
          var premium_tag = ""
          var user_region = $(".user_region").val()
          for(i=0;i<response.items.length;i++){
            buy_tag = ""
            var item = response.items[i].split("$");
            if(item[8] == "TVOD"){
             buy_tag = '<img src="/assets/buy.png" class="premium-txt">'
            }
            else if(user_region == "IN"){
              premium_tag = '<span id="continue_premium_tag"class="premium-txt text-uppercase " style="'+item[7]+' " >premium</span>'
            }
            if((item[6]== "true" && response.sub_status == 1 )|| item[6]== "false"){
            list_data+= '<div class="item horizontal_title" id="continue_item_'+item[4]+'"><a href="'+item[3]+'" class="cn_item"><img src="assets/big_play.svg" alt="" title="">'+buy_tag+' '+premium_tag+'<img src="'+item[2]+'" alt="'+item[0]+'" title="'+item[0]+'"><div class="progress pull-left w-100"><div class="progress-bar" style="width: '+item[5]+'%;"></div></div><div class="item-feature"></a><p class="margin-bottom-0"><a href="'+item[3]+'" class="text-ellipsis">'+item[0]+'</a></p><span class="pull-left text-ellipsis">'+item[1]+'</span><span class="pull-right"><img src="assets/remove.svg" alt="remove" title="Remove" class="remove_continue_item" id="'+item[4]+'"></span></div></div>'
          }  
        }
          $("#continue-watching-carousel").append(list_data);
          if(list_data.length != 0){
             $("#user_continue_watch_list").show();
            }
           continue_watch_carousel(response.items.length)
           if(user_region != "IN"){
        $("#continue_premium_tag.premium-txt").css("display","none")
      }

        }
        if(localStorage.getItem("ctn_watch_delete") != undefined){
          $("#remove_continue_watching_pop").show().fadeOut(4500);
          localStorage.removeItem("ctn_watch_delete");
       }
      }
    });
  }
});  

$(document).ready(function(){
  localStorage.setItem("nc_stream_src","home carousel banner")
 $('body').on('click', '.cn_item', function() {
    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","continue watching")
  });
  /*smartech('contact', '60',{ 
    'pk^customerid': getShemarooCookies().user_analytical_id,
    'inactive_plans': 'NA',
    'active_plans': 'NA',
    'is_subscribed': '0',
    'is_loggedIn': '1'
  }); */
 var reset_pwd_toast = localStorage.getItem("reset_password_email_toast");
  localStorage.removeItem("reset_password_email_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $("#reset_password_email").show().fadeOut(4500);
  }
  /*var is_deep_link_url = "<%#=(params[:share_url].present?) ? "true" : "false"%>"
  var isMobile = {
    android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    iphone: function() {
        return navigator.userAgent.match(/iPhone/i);
    },
    ipad: function() {
        return navigator.userAgent.match(/iPad/i);
    }
 };

  var url = '';
  window.onload = function() {
  var share_url = $("#app_share_url").val();
  if(is_deep_link_url == "true"){
    if ((isMobile.iphone() || isMobile.ipad())) {
      //url = "shemaroome://www.shemaroome.com"
      url = "https://itunes.apple.com/in/app/shemaroome/id1439041310"
    }
    else if(isMobile.android()){
      url = "https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld"
    }
    if((isMobile.iphone() || isMobile.ipad() || isMobile.android())){
        window.location = url;
      }
    }
  } */

  var reset_pwd_toast = localStorage.getItem("password_reset_toast");
  localStorage.removeItem("password_reset_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $(".reset_password").show().fadeOut(4500);
  }
});

if(getShemarooCookies().user_id){
     $.ajax({
      url: "/users/continue_watching_list",
      type: "GET",
      data: {},
      success: function(response,status){
        //netcore_login(response.sub_status, response.present_plans, response.exp_plans);
        console.log(response.items.length);
        if(response.status == true && response.items.length > 0){
          smarttech_index(response.sub_status, response.present_plans, response.exp_plans);
          var list_data = "";
          for(i=0;i<response.items.length;i++){
            var item = response.items[i].split("$");
            list_data+= '<div class="item horizontal_title" id="continue_item_'+item[4]+'"><a href="'+item[3]+'"><img src="assets/big_play.svg" alt="" title=""><img src="'+item[2]+'" alt="'+item[0]+'" title="'+item[0]+'"><div class="progress pull-left w-100"><div class="progress-bar" style="width: '+item[5]+'%;"></div></div><div class="item-feature"></a><p class="margin-bottom-0"><a href="'+item[3]+'" class="text-ellipsis">'+item[0]+'</a></p><span class="pull-left text-ellipsis">'+item[1]+'</span><span class="pull-right"><img src="assets/remove.svg" alt="remove" title="Remove" class="remove_continue_item" id="'+item[4]+'"></span></div></div>'
          }
          $("#continue-watching-carousel").append(list_data);
          $("#user_continue_watch_list").show();
           continue_watch_carousel(response.items.length)
        }
        if(localStorage.getItem("ctn_watch_delete") != undefined){
          $("#remove_continue_watching_pop").show().fadeOut(4500);
          localStorage.removeItem("ctn_watch_delete");
       }
      }
    });
  }
</script> 

