<div class="modal" id="player_login_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5">Login Now</h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          Please login to watch this video 
        </p>
        <div class="w-100 custom-gradient margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold"  id="cancel_avod_login">cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="player_login_link">Login</a>
          </p>        
        </div>
        <!--div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
          <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-mregular normal_txt">Already subscribed?&nbsp;<a href="/users/login" class="link">Login</a></p>
        </div-->
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="player_subscription_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <img src="/assets/cancel_search_red.svg" data-dismiss="modal">
                <% get_subscribe_login  = get_lang_popup("subscribe_login")%>

        <h5 class="pull-left w-100 margin-bottom-15 margin-top-15 text-center"><%= get_subscribe_login['title_text']%></h5>        
        <div class="w-100 custom-gradient margin-top-15 text-center pull-left">          
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="<%=get_lang_url("/plans")%>" class="text-uppercase btn gradient1 font-bold" id=""><%= get_subscribe_login['positive']%></a>
          </p>          
        </div>
        <p class="login_txt pull-left w-100 margin-top-25 text-uppercase text-center she-col1 font-semibold"><%=get_lang_string("already_subscribed")%> <a href="javascript:void(0);" class="login_link font-bold login-txt"><%=get_lang_string("sign_in")%></a></p>
      </div>   
    </div>
  </div>
</div>

 <div class="modal" id="tvod_login_pop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <% svod_login  = get_lang_popup("svod_login")%>
            <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"><%= get_lang_string("login")%></h5>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
              <%= svod_login['title_text']%>
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold sec_button" id="cancel_tvod_login"><%= svod_login['negative']%></a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10 prim_button_wrap">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="plans_signin_link"><%= svod_login['positive']%></a></a>
              </p>        
            </div>
            <!-- <div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
              <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-mregular normal_txt">New User? <a href="javascript:void(0);" id="plans_register_link" class="link">Register</a></p>
            </div> -->
          </div>   
        </div>
      </div>
    </div>

     <div class="modal" id="tvod_subscribe_pop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <% buy_now  = get_lang_popup("buy_now")%>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
            <%= buy_now['title_text']%>
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_tvod_subs"><%= buy_now['negative']%></a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="tvod_subscribe"><%= buy_now['positive']%></a>
              </p>        
            </div>
            <!-- <div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
              <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-mregular normal_txt">New User? <a href="javascript:void(0);" id="plans_register_link" class="link">Register</a></p>
            </div> -->
          </div>   
        </div>
      </div>
    </div>

<input type="hidden" id="subscribe_login"  value="<%= get_lang_string("subscribe_video")%>">
<input type="hidden" id="login_to_watch"  value="<%= get_lang_string("watch_login")%>">
 <% episode_status = @episode_status == true ? "true" : "false" %>
 <% episode_time = @episode_start_time %>
 <% episode_link = "" %><% episode_title = "" %><% episode_number = "" %><% episode_image = "" %> 
<%if @all_episodes.present? && @all_episodes.count > 0 %>
  <%@all_episodes.each do |e| %>
    <%if @episode_details["sequence_no"].present? && @episode_details["sequence_no"] + 1  == e["sequence_no"]%>
      <% if params[:lang].present? && params[:lang] != "en"%>
        <% episode_link = SITE + "/#{params[:lang]}" + e["seo_web_url"] %>
      <%else%>
        <% episode_link = SITE + e["seo_web_url"] %>
      <%end%>
        <% episode_title = e["show_name"] %>
        <% episode_number = e["episode_number"] %>
        <% episode_image = e["thumbnails"]["small_16_9"]["url"] %>
    <%end%>
  <%end%>
<%end%>

<%if @item_details.nil?
 det_item = @episode_details
else
 det_item =  @item_details
end
%>
<script type="text/javascript">

  $(document).ready(function(){
    localStorage.removeItem("tvod_loc")
    function exitFullscreen(){
      document.exitFullscreen ? document.exitFullscreen() : document.mozCancelFullScreen ? document.mozCancelFullScreen() : document.webkitExitFullscreen && document.webkitExitFullscreen()
    }
    function encrypt_string(val){
      if(val.length == 0){
        val = "false"
      }
      var token = "92a7d1a410d84495fcf4c29e2a674a3c"
      var data = CryptoJS.AES.encrypt(val,token);
      return data;
    }

    $("#cancel_avod_login").click(function(){
      $("#player_login_pop").modal("hide")
    })

    $("#cancel_tvod_login").click(function(){
     $("#tvod_login_pop").modal("hide")
    })

    $("#cancel_tvod_subs").click(function(){
     $("#tvod_subscribe_pop").modal("hide")

    })

    $('#cancel_loginpop').click(function() {
      $("#player_login_pop").modal('hide');
    })

    $('#cancel_subspop').click(function() {
      $("#player_subscription_pop").modal('hide');
      smartech('dispatch', 'subscribe cancel', {
        'user_id': getShemarooCookies().user_analytical_id,
      })
    })
  
   function set_playbacktime(play_time){
     var player_src = $(".shemaroo_web_player").attr("src")+"|time="+play_time;
     $(".shemaroo_web_player").attr("src",player_src);
   }
    var catalogid = $("#catalog_id").val();
    var contentid = $("#content_id").val();
    var video_category_type = $("#item_category").val() 
    var content_definition = $("#content_definition").val() ? $("#content_definition").val() : '<%=@content_definition %>'
    var free_check = '<%=@is_free %>'
    if (content_definition != 'TVOD'){
      if (free_check == "true"){
         content_definition = "AVOD"
      }else if(free_check == "false"){
         content_definition = "SVOD"
      }
    }
    console.log('free check',free_check, content_definition)
    var current_url = window.location.href.split("?time=");
    //$.cookie(contentid+'_user_status',encrypt_string("false"), { expires: 14,path: '/'})
    $.cookie('user_status',encrypt_string("false"), { expires: 14,path: '/'})
    $.cookie('new_play_url',"", { expires: 14,path: '/'}) 
    $.cookie('key',"", { expires: 14,path: '/'}) 
    $.cookie('stream_key',"", { expires: 14,path: '/'}) 
    $.cookie('subtitle_url',"", { expires: 14,path: '/'}) 
    localStorage.removeItem("sub_login");
    localStorage.removeItem("login_wtch")
    localStorage.setItem("sub_login",$("#subscribe_login").val())
    localStorage.setItem("login_wtch",$("#login_to_watch").val())
        var play_url = ""
        var key = ""
        var stream_key  = ""
         var sub_status = ""
         var user_pack_name = ""
        var user_period = ""
        var user_plan_type = ""
        var analytic_user_id = ""
        var user_state = ""

   //var premium_flag = "<%=@video_premium_status%>";
   var premium_flag = '<%= @is_free %>'
   if(premium_flag == "false"){
    var premium = encrypt_string("true")
    $.cookie('is_premium',premium, { expires: 14,path: '/'}) 
     //document.cookie = contentid+'_is_premium' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     //$.cookie(contentid+'_is_premium',premium, { expires: 14,path: '/'}) 
     localStorage.removeItem(contentid+'_is_premium')
    localStorage.setItem(contentid+'_is_premium',premium)
     premium_flag = "true";
   }
   else if(premium_flag == "true"){
     premium_flag = "false";
     var premium = encrypt_string("false")
     localStorage.removeItem(contentid+'_is_premium')
    localStorage.setItem(contentid+'_is_premium',premium)
   }

    $.ajax({
      url: "/users/user_all_lists", 
      type: "POST",
      data: {catalog_id: catalogid,content_id: contentid, category: video_category_type,content_def: content_definition},
      success: function(response){
        if (response.user_play_back_time > 0){
          $("#continue_content").show();
          $("#play_content").hide();
        }
        if (getShemarooCookies().user_id){
          if(response.subscribe_chk == "true"){
            $(".subscribe_chk").show()
            $(".subscribe_chk").append(response.subscribe_text)
          }else if(response.user_sub_status == "false" && premium_flag == "true"){
            $(".subscribe_chk").show()
            $(".subscribe_chk").append("<%=get_lang_string("subscribe_now")%>")
          }
        }else if(premium_flag == "true"){
          $(".subscribe_chk").show()
          $(".subscribe_chk").append("<%=get_lang_string("subscribe_now")%>")
        }
         play_url = (response.new_play_url == undefined ? "" : response.new_play_url) 
         key = (response.key == undefined ? "" : response.key)
         stream_key  = (response.stream_key == undefined ? "" : response.stream_key)
          sub_status  = ( response.user_sub_status == undefined ? "" : encrypt_string(response.user_sub_status))
           user_pack_name = response.user_pack_name
           user_period = response.user_period
           user_plan_type = response.user_plan_type
           analytic_user_id = response.analytic_user_id
           user_state  = response.user_state 
       // $.cookie('user_sub_status',sub_status, { expires: 14,path: '/'})
          document.cookie = 'user_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          $.cookie('user_status',sub_status, { expires: 14,path: '/'})
      $(".video_player").click(function(){
        document.documentElement.scrollTop = 0;
       if  (response.status != false){
         console.log("get response", response);
         if(response.age.length != 0){
          $("#age").val(response.age)
         }
         $("#analytic_user_id").val(response.analytic_user_id)
          if(response.gender.length != 0){
            $("#gender").val(response.gender)
         }
         document.cookie = 'new_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'stream_key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'subtitle_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'ios_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'ios_key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'video_preview' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         $.cookie('video_preview',"false", { expires: 14,path: '/'})
         $("#user_plan").val(response.user_pack_name)
         $("#user_period").val(response.user_period)
         $("#user_plan_type").val(response.user_plan_type)
         $.cookie('user_plan',response.user_pack_name, { expires: 14,path: '/'})
         $.cookie('user_period',response.user_period, { expires: 14,path: '/'})
         $.cookie('user_plan_type',response.user_plan_type, { expires: 14,path: '/'})
         $.cookie('user_analytic_id',response.analytic_user_id, { expires: 14,path: '/'})
         $.cookie('new_play_url',response.new_play_url, { expires: 14,path: '/'})
         $.cookie('key',response.key, { expires: 14,path: '/'})
         $.cookie('stream_key',response.stream_key, { expires: 14,path: '/'})
         $.cookie('subtitle_url',response.subtitle, { expires: 14,path: '/'})
         $.cookie('ios_play_url',response.ios_play_url, { expires: 14,path: '/'})
         $.cookie('ios_key',response.ios_key, { expires: 14,path: '/'})
         if(response.user_state == "Subscribed"){
           $(".desktop_ads,.add_unit").remove();
         }
         $.cookie('user_state',response.user_state, { expires: 14,path: '/'})
      
         if(response.user_pack_name != null && response.user_pack_name.length != 0){
            _paq.push(['trackEvent', 'Users', 'Activity', 'svod_active', 1]);
         }
         if(response.user_sub_status == "true"){
          $("#buy_red_sec").hide();
          }
          localStorage.removeItem("content_chk");
          localStorage.setItem("content_chk", "original_content");
         $("#user_state").val(response.user_state)
         console.log('User status', response.user_sub_status)
          var sub_status = encrypt_string(response.user_sub_status);
          //$.cookie('user_sub_status',sub_status, { expires: 14,path: '/'})
          document.cookie = 'user_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          $.cookie('user_status',sub_status, { expires: 14,path: '/'})
          $("#playback_time").val(response.user_play_back_time);
          set_playbacktime(response.user_play_back_time)
          localStorage.removeItem("playback_time");
          localStorage.setItem("playback_time", response.user_play_back_time);
          $("#playback_time").val(response.user_play_back_time);
          $('#watch_later').data('listitemid',response.list_id)
          if(response.watch_later_st == true){
            $(".watch_later").attr("src","/assets/watch_list.svg")
            localStorage.setItem("my_list_val",1)
          }else{
            localStorage.setItem("my_list_val",0)
          }
        } else{


          $.cookie('user_status',encrypt_string("false"), { expires: 14,path: '/'})
          $.cookie('new_play_url',"", { expires: 14,path: '/'}) 
          $.cookie('key',"", { expires: 14,path: '/'}) 
          $.cookie('stream_key',"", { expires: 14,path: '/'}) 
          $.cookie('subtitle_url',"", { expires: 14,path: '/'}) 
          document.cookie = 'video_preview' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         $.cookie('video_preview',"false", { expires: 14,path: '/'})
        } 

      var theme_type = "<%=@theme%>";
      var preview_available = "false"
      var item_category = $("#item_category").val().replace("_"," ");
      var params_for_player = "<%=@new_play_url%>|key=<%=@key%>|image=<%=det_item['thumbnails']['large_16_9']['url'] if det_item['thumbnails'].has_key?(
      "large_16_9")%>|title=<%=det_item["title"]%>|theme_type=<%=@theme%>|channel_logo=<%=det_item['channel_logo']['s_logo_16_9']['url'] if det_item.has_key?("channel_logo")%>|catalog_id="+catalogid+"|"+"content_id="+contentid+"|genre=<%=det_item['genres'][0]%>"+"|language=<%=det_item['language']%>"+"|category="+item_category+"|preview_avail="+preview_available +"|is_premium="+premium_flag+"|pre_role_ad=true|subti_url=<%=@sub_tit_url%>|guideline_image=<%=det_item['guideline']['thumbnails']['web'] if det_item['guideline_info'] == true%>|guideline_info=<%= det_item['guideline_info']%>|skip_info=<%=@skip_status%>|skip_start_time=<%=@skip_start_time%>|skip_end_time=<%=@skip_end_time%>|episode_info=<%=episode_status%>|episode_link=<%=episode_link if episode_status == "true"%>|epi_title=<%=episode_title%>|epi_number=<%=episode_number%>|epi_image=<%=episode_image%>|epi_time= <%=episode_time%>"
      params_for_player = "/shemaroo_player/demo/embed.html?contenturl="+params_for_player+"'"
      $(".shemaroo_web_player").attr("src",params_for_player);


      
      }); 
      },
      error: function(response) {
        // if (getShemarooCookies.user_id && content_definition == "SVOD"){
        //   $("#player_subscription_pop").modal('show');
        // }else if (getShemarooCookies.user_id && content_definition == "TVOD"){
        //   $("#tvod_subscribe_pop").modal("show")
        // }
        // else if (getShemarooCookies().user_id == undefined){
        //    $("#player_subscription_pop").modal('show');
        // }
      }
    });
      <%if @media_list.present? %>
      var media_list_count = "<%= @media_list.count %>"
      for(var i = 0; i < media_list_count; i++ ){
        $("#list_song_"+i).click(function(){
          var song_start_time = $(this).data("value");
          document.documentElement.scrollTop = 0;
          set_playbacktime(song_start_time)
          localStorage.removeItem("playback_time");
          localStorage.setItem("playback_time", song_start_time);
           localStorage.removeItem("content_chk");
          localStorage.setItem("content_chk", "original_content");

         document.cookie = 'new_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'stream_key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         document.cookie = 'video_preview' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         $.cookie('video_preview',"false", { expires: 14,path: '/'})
         $.cookie('new_play_url', play_url, { expires: 14,path: '/'})
         $.cookie('key', key , { expires: 14,path: '/'})  
         $.cookie('stream_key', stream_key, { expires: 14,path: '/'})
         document.cookie = 'user_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          $.cookie('user_status',sub_status, { expires: 14,path: '/'})

         

        $.cookie('user_plan', user_pack_name, { expires: 14,path: '/'})
         $.cookie('user_period', user_period, { expires: 14,path: '/'})
         $.cookie('user_plan_type', user_plan_type, { expires: 14,path: '/'})
         $.cookie('user_analytic_id', analytic_user_id, { expires: 14,path: '/'})
         $.cookie('user_state', user_state, { expires: 14,path: '/'})


          var preview_available = "false"
          document.cookie = 'shm_pre_role_ad_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          var pre_role_ad_url = "<%=(det_item['access_control']['pre_role_settings']['mobile_ads_url']).gsub("iu=","$")%>"
          $.cookie('shm_pre_role_ad_url',pre_role_ad_url, { expires: 14,path: '/'})
          var item_category = $("#item_category").val().replace("_"," ");
           var params_for_player = "<%=@new_play_url%>|key=<%=@key%>|image=<%=det_item['thumbnails']['large_16_9']['url'] if det_item['thumbnails'].has_key?(
              "large_16_9")%>|title=<%=det_item["title"]%>|theme_type=<%=@theme%>|channel_logo=<%=det_item['channel_logo']['s_logo_16_9']['url'] if det_item.has_key?("channel_logo")%>|catalog_id="+catalogid+"|"+"content_id="+contentid+"|genre=<%=det_item['genres'][0]%>"+"|language=<%=det_item['language']%>"+"|category="+item_category+"|preview_avail="+preview_available +"|is_premium="+premium_flag+"|pre_role_ad=true|subti_url=<%=@sub_tit_url%>|guideline_image=<%=det_item['guideline']['thumbnails']['web'] if det_item['guideline_info'] == true%>|guideline_info=<%= det_item['guideline_info']%>|skip_info=<%=@skip_status%>|skip_start_time=<%=@skip_start_time%>|skip_end_time=<%=@skip_end_time%>|episode_info=<%=episode_status%>|episode_link=<%=episode_link if episode_status == "true"%>|epi_title=<%=episode_title%>|epi_number=<%=episode_number%>|epi_image=<%=episode_image%>|epi_time= <%=episode_time%>"
          $("#preview_coming_soon").val(params_for_player)
          $(".shemaroo_web_player").attr("src",params_for_player);
          $("#shemaroo_player").html("<iframe src='/shemaroo_player/demo/embed.html?contenturl="+params_for_player+"' class='embed-responsive-item img-fluid shemaroo_web_player' id='iframe' allowfullscreen> </iframe>")

          $(window).scrollTop(0);
        });
      }
  
  <%end%>
  var playback_time = $("#playback_time").val();
  var theme_type = "<%=@theme%>";
  var preview_available = "true"
  document.cookie = 'shm_pre_role_ad_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  var pre_role_ad_url = "<%=(det_item['access_control']['pre_role_settings']['mobile_ads_url']).gsub("iu=","$")%>"
  $.cookie('shm_pre_role_ad_url',pre_role_ad_url, { expires: 14,path: '/'})
  var item_category = $("#item_category").val().replace("_"," ");
  var new_play_url = $.cookie('new_play_url')
  var  key = $.cookie('key')
  var stream_key = $.cookie('stream_key')
  var subtitle_url = $.cookie('subtitle_url')
   var params_for_player = "<%=@new_play_url%>|key=<%=@key%>|image=<%=det_item['thumbnails']['large_16_9']['url'] if det_item['thumbnails'].has_key?(
      "large_16_9")%>|title=<%=det_item["title"]%>|theme_type=<%=@theme%>|channel_logo=<%=det_item['channel_logo']['s_logo_16_9']['url'] if det_item.has_key?("channel_logo")%>|catalog_id="+catalogid+"|"+"content_id="+contentid+"|genre=<%=det_item['genres'][0]%>"+"|language=<%=det_item['language']%>"+"|category="+item_category+"|preview_avail="+preview_available +"|is_premium="+premium_flag+"|pre_role_ad=true|subti_url=<%=@sub_tit_url%>|guideline_image=<%=det_item['guideline']['thumbnails']['web'] if det_item['guideline_info'] == true%>|guideline_info=<%= det_item['guideline_info']%>|skip_info=<%=@skip_status%>|skip_start_time=<%=@skip_start_time%>|skip_end_time=<%=@skip_end_time%>|episode_info=<%=episode_status%>|episode_link=<%=episode_link if episode_status == "true"%>|epi_title=<%=episode_title%>|epi_number=<%=episode_number%>|epi_image=<%=episode_image%>|epi_time= <%=episode_time%>"
  $("#preview_coming_soon").val(params_for_player)


  $(".shemaroo_web_player").attr("src",params_for_player);

  $("#shemaroo_player").html("<iframe src='/shemaroo_player/demo/embed.html?contenturl="+params_for_player+"' class='embed-responsive-item img-fluid shemaroo_web_player' id='iframe' allowfullscreen> </iframe>")


  if(current_url.length == 2){
    var preview_status = encrypt_string("true")
    $.cookie('user_preview_played_status',preview_status, { expires: 14,path: '/'})
    window.history.pushState("", "", current_url[0]);
    var andriod_check = navigator.userAgent.toLowerCase();
    if(andriod_check.indexOf("android") > -1){
      var player_src = $(".shemaroo_web_player").attr("src")+"|autoplay_status=false|time="+current_url[1];
      $(".shemaroo_web_player").attr("src",player_src);
    }
    else{
      var player_src = $(".shemaroo_web_player").attr("src")+"|autoplay_status=true"+"|time="+current_url[1];
      $(".shemaroo_web_player").attr("src",player_src.replace("is_premium=true","is_premium=false"));
    }
  }

  /*$(".preview_video").click(function(){
     preview_video_trigger();
  })*/

   preview_video_trigger();

  // $(".preview_video").click(function(){
  //   document.documentElement.scrollTop = 0;
  //   var playable_check  = $("#playable_entity").val();
  //   if(playable_check == "true"){
  //     preview_video_trigger();
  //     //Apxor_Stream()
  //     //Netcore_Stream()
  //   }
  //   else{
  //     trailer_video_trigger()
  //     //Apxor_Stream()
  //     //Netcore_Stream()
  //   }
  // })


var isPlayerLoaded = false;
  
  $("#channel_detail").click(function(){

   

  var audio_url = $("#audio_url").val();

  if(!isPlayerLoaded) {
    console.log("details here ..",isPlayerLoaded)
    $('#play_pause_img').attr('src', '/assets/channel_detail_pause.svg');
    isPlayerLoaded = true;

    document.cookie = 'chk_audio' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('chk_audio',"true", { expires: 14,path: '/'})

    Apxor.logEvent('Audio_Stream', {
        "source": localStorage.getItem("nc_stream_src"),
        "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
        "video_name": "<%=det_item['title']%>",
        "Parent_Video_name": "<%=det_item['title']%>",
        "channel_genre": "<%= det_item['genres'].join(",")%>",
        "channel_language": $("#language").val(),
        "consumption_type": "online",
        "content_type": $('#theme_type').val(),
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
        "channel_name": "<%=det_item['channel_name']%>"
      } ,"Audio_Stream" )

      smartech('dispatch', 'Audio_Stream', {
        "source": localStorage.getItem("nc_stream_src"),
        "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
        "video_name": "<%=det_item['title']%>",
        "Parent_Video_name": "<%=det_item['title']%>",
        "channel_genre": "<%= det_item['genres'].join(",")%>",
        "channel_language": $("#language").val(),
        "consumption_type": "online",
        "content_type": $('#theme_type').val(),
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
        "channel_name": "<%=det_item['channel_name']%>"  
      });

      branch.logEvent(
        "Audio_Stream",
          { "source": localStorage.getItem("nc_stream_src"),
            "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
            "video_name": "<%=det_item['title']%>",
            "Parent_Video_name": "<%=det_item['title']%>",
            "channel_genre": "<%= det_item['genres'].join(",")%>",
            "channel_language": $("#language").val(),
            "consumption_type": "online",
            "content_type": $('#theme_type').val(),
            "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
            "channel_name": "<%=det_item['channel_name']%>"
        },
        function(err) { console.log(err); }
      );

    function loadPlayer(src) {
      const script = document.createElement('script');
      script.src = src;
      document.getElementsByTagName("head")[0].appendChild(script);
        return new Promise((res, rej) => {
          script.onload = res;
          script.onerror = rej;
      });
    }
  
    loadPlayer("/audioPlayer/player/plugin/spinit.js").then(() => {
      var playerConfig = new SaranyuInstaPlayer('hls', '.instaAudioPlayer', {
      'file': [{
        'content_url': audio_url
      }],
      'autoplay': true,
      'mute': false,
      'features': ['playpause','eventcallbacks','loadcallbacks'],
      registerCallBacks: registerCallBacks
    });
    }).catch((e) => {});
  
    registerCallBacks = function() {}
  
    playerLoadedCallback = function() {
      isPlayerLoaded = true;
    }                                             
  } else if(ME && (ME.paused == true)) {
    console.log("play here...")
    $('#play_pause_img').attr('src', '/assets/channel_detail_pause.svg');
    ME.play();

    document.cookie = 'chk_audio' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('chk_audio',"true", { expires: 14,path: '/'})

    Apxor.logEvent('Audio_Stream', {
        "source": localStorage.getItem("nc_stream_src"),
        "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
        "video_name": "<%=det_item['title']%>",
        "Parent_Video_name": "<%=det_item['title']%>",
        "channel_genre": "<%= det_item['genres'].join(",")%>",
        "channel_language": $("#language").val(),
        "consumption_type": "online",
        "content_type": $('#theme_type').val(),
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
        "channel_name": "<%=det_item['channel_name']%>"
      } ,"Audio_Stream" )

      smartech('dispatch', 'Audio_Stream', {
        "source": localStorage.getItem("nc_stream_src"),
        "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
        "video_name": "<%=det_item['title']%>",
        "Parent_Video_name": "<%=det_item['title']%>",
        "channel_genre": "<%= det_item['genres'].join(",")%>",
        "channel_language": $("#language").val(),
        "consumption_type": "online",
        "content_type": $('#theme_type').val(),
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
        "channel_name": "<%=det_item['channel_name']%>"  
      });

      branch.logEvent(
        "Audio_Stream",
          { "source": localStorage.getItem("nc_stream_src"),
            "channel_category_name": "<%=@item_details['catalog_object']['plan_category_type'] rescue ""%>",
            "video_name": "<%=det_item['title']%>",
            "Parent_Video_name": "<%=det_item['title']%>",
            "channel_genre": "<%= det_item['genres'].join(",")%>",
            "channel_language": $("#language").val(),
            "consumption_type": "online",
            "content_type": $('#theme_type').val(),
            "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>",
            "channel_name": "<%=det_item['channel_name']%>"
        },
        function(err) { console.log(err); }
      );

  } else if (ME) {
    console.log("pause here...")
    $('#play_pause_img').attr('src', '/assets/channel_detail_play.svg');
    ME.pause();

    document.cookie = 'chk_audio' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('chk_audio',"false", { expires: 14,path: '/'})


  } else {
    console.log("Player State:", ME);
  }
  setInterval(function(){ 
    if(ME && (ME.ended == true)){
      //console.log("ME ended here....",ME.ended)
      $('#play_pause_img').attr('src', '/assets/channel_detail_play.svg');
      document.cookie = 'chk_audio' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('chk_audio',"false", { expires: 14,path: '/'})
    }
  },3000)
  setInterval(function(){ 
    $(".video_player").click(function(){
      //console.log("Play channel or continue watching click button....")
      ME.pause();
       document.cookie = 'chk_audio' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
         $.cookie('chk_audio',"false", { expires: 14,path: '/'})
      $('#play_pause_img').attr('src', '/assets/channel_detail_play.svg');
    })
  },1000)
})

function set_tvod_plan_det(){
  if(getShemarooCookies().user_id){
      var  keysToRemove = ["first_purchase_plan_selected_plan_ids","first_purchase_plan_price","first_purchase_plans_details","first_purchase_plan_currency"]
      keysToRemove.forEach(k => localStorage.removeItem(k))
      var curncy = $("#tvd_curncy").val();
      var plan_id = $("#tvd_plan_id").val();
      var price = $("#tvd_plan_prc").val();
      var plan_info = $("#tvd_plan_info").val();
      localStorage.setItem("first_purchase_plan_selected_plan_ids",plan_id);
      localStorage.setItem("first_purchase_plan_price",price);
      localStorage.setItem("first_purchase_plans_details",plan_info);
      localStorage.setItem("first_purchase_plan_currency",curncy)

      window.location = "/plans/plans_summary"
        }
        else{
          localStorage.setItem("tvod_loc","true")
          $("#tvod_login_pop").modal("show");
        }

 
}


function trailer_video_trigger(){
  var preview_video = encrypt_string("true")
    $.cookie('video_preview',preview_video, { expires: 14,path: '/'})
    var player_src = '';
    var preview_time = $(".preview_video").data("preview-time").split(":");
    if(getShemarooCookies().user_id) {
      player_src = $("#preview_coming_soon").val().split("|time=")[0]        
    }
    else {
      player_src = "/shemaroo_player/demo/embed.html?contenturl="+$("#preview_coming_soon").val();
    }
    var external_preview_url = $(".preview_video").data("preview-url");
    if(external_preview_url.length == 0){
       player_src = player_src+"|autoplay_status=true"+"|time="+parseInt(preview_time[0])+"|is_preview=true|preview_end_time="+preview_time[1];
    }
    else{
      var preview_content_url = external_preview_url.split("preview");
      var new_content_url = preview_content_url[0];
      var new_key = preview_content_url[1];
       document.cookie = 'new_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      document.cookie = 'key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('new_play_url',new_content_url, { expires: 14,path: '/'}) 
      $.cookie('key',new_key, { expires: 14,path: '/'}) 
      $.cookie('external_preview_url',"true", { expires: 14,path: '/'})
      player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$("#preview_coming_soon").val().split("|image=")[1].split("|time=")[0];
      player_src = player_src+"|autoplay_status=true|is_preview=true";
    }
  
    $("#trailer_preview_video").html("<iframe src='/shemaroo_player/demo/embed.html?contenturl="+params_for_player+"' class='embed-responsive-item img-fluid shemaroo_web_player' id='iframe' allowfullscreen> </iframe>")
    $("#trailer_preview_video").addClass("w-100 embed-responsive embed-responsive-16by9").removeClass("coming_soon_banner");
    $(".shemaroo_web_player").attr("src",player_src);
}



function preview_video_trigger(){
  //$('iframe').contents().find(".sp-controls-preview").addClass("removePreview");
    //$('iframe').contents().find(".sp-controls-preview").attr("msg","hi");
    /*$("iframe").contents().find("video").attr("src", "");*/
    
  //$.cookie('video_preview',"true", { expires: 14,path: '/'})
    var preview_video = encrypt_string("true")
    $.cookie('video_preview',preview_video, { expires: 14,path: '/'})
    var player_src = '';

    if(getShemarooCookies().user_id) {
      player_src = $(".shemaroo_web_player").attr("src").split("|time=")[0]        
    }
    else {
      player_src = $(".shemaroo_web_player").attr("src");
    }
   
    var external_preview_url = $("#preview-url").val() ? $("#preview-url").val() : "";

    console.log("preview_url", external_preview_url )
     localStorage.removeItem("content_chk");
    localStorage.setItem("content_chk", "preview");
    if(external_preview_url.length == 0){
      //var preview_time = $(".preview-time").val().split(":");
       //player_src = player_src+"|autoplay_status=true"+"|time="+parseInt(preview_time[0])+"|is_preview=true|preview_end_time="+preview_time[1];
    }
    else{
      var preview_content_url = external_preview_url.split("preview");
      var new_content_url = preview_content_url[0];
      var new_key = preview_content_url[1];
        document.cookie = 'new_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'ios_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'ios_key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        $.cookie('new_play_url',new_content_url, { expires: 14,path: '/'}) 
        $.cookie('key',new_key, { expires: 14,path: '/'})
        $.cookie('ios_play_url',new_content_url, { expires: 14,path: '/'}) 
        $.cookie('ios_key',new_key, { expires: 14,path: '/'}) 
        $.cookie('external_preview_url',"true", { expires: 14,path: '/'})

      player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$(".shemaroo_web_player").attr("src").split("|image=")[1].split("|time=")[0];
       //player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image=<%#=det_item['thumbnails']['large_16_9']['url'] if det_item['thumbnails'].has_key?(
      "large_16_9")%>"
      console.log("player src", player_src)
      player_src = player_src+"|autoplay_status=true|is_preview=true";
      $(".shemaroo_web_player").attr("src",player_src);
    }
   
}


function listener(event){
  var current_url = window.location.protocol + "//" + window.location.host;
  var url = "";
  if (current_url == "http://localhost:3000"){
    url = "http://localhost:3000";
  }
  else if (current_url == "http://54.144.222.119:3004"){
    url = "http://54.144.222.119:3004";
  }
  else if (current_url == "http://staging.shemaroome.com"){
    url = "http://staging.shemaroome.com";
  }
  else if (current_url == "http://52.220.137.44:3000"){
    url = "http://52.220.137.44:3000";
  }
  else if(current_url == "http://origin.staging.shemaroome.com"){
    url = "http://origin.staging.shemaroome.com";
  }
  else if(current_url == "http://52.71.58.205"){
    url = "http://52.71.58.205";
  }
  else if(current_url == "http://192.168.1.199:3000"){
    url = "http://192.168.1.199:3000";
  }
  else if (current_url == "https://staging1.shemaroome.com"){
    url = "https://staging1.shemaroome.com";
  }
  else if (current_url == "http://staging1.shemaroome.com"){
    url = "http://staging1.shemaroome.com";
  }
  else if(current_url == "http://52.71.58.205:3000"){
    url = "http://52.71.58.205:3000";
  }
  else if(current_url == "http://54.144.222.119:3001"){
    url = "http://54.144.222.119:3001";
  }
  else if(current_url == "http://192.168.1.187:3000"){
    url = "http://192.168.1.187:3000";
  }
  else if(current_url == "http://192.168.1.118:3000"){
    url = "http://192.168.1.118:3000";
  }
  else if(current_url == "http://192.168.1.117:3000"){
    url = "http://192.168.1.117:3000";
  }
  else if(current_url == "http://192.168.1.197:3000"){
    url = "http://192.168.1.197:3000";
  }
  else if(current_url == "http://54.221.118.191:3002"){
    url = "http://54.221.118.191:3002";
  }
  else if(current_url == "https://preprod.shemaroome.com"){
    url = "https://preprod.shemaroome.com";
  }
  else if(current_url == "http://www.shemaroome.com"){
    url = "http://www.shemaroome.com";
  }
  else if(current_url == "www.shemaroome.com"){
    url = "www.shemaroome.com";
  }
  else if(current_url == "https://www.shemaroome.com"){
    url = "https://www.shemaroome.com";
  }
  else if(current_url == "http://54.221.118.191:3004"){
      url = "http://54.221.118.191:3004";
    }
  else if(current_url == "http://54.221.118.191:3006"){
      url = "http://54.221.118.191:3006";
    }

 function preview_rebuild(){
   var player_src = $(".shemaroo_web_player").attr("src").split("|autoplay_status")[0].replace("|preview_avail=true","");
    $(".shemaroo_web_player").attr("src",player_src);
    $.cookie('video_preview',"false", { expires: 14,path: '/'})
 }

  function load_main_video(){
  $.cookie('video_preview',encrypt_string("false"), { expires: 14,path: '/'})
   var player_src = $(".shemaroo_web_player").attr("src").split("|autoplay_status")[0].replace("|preview_avail=false","|preview_avail=false");
    $(".shemaroo_web_player").attr("src",player_src);
 }


function build_preview(){
   //$.cookie('user_preview_played_status',"true", { expires: 14,path: '/'})
    var user_preview_played_status = encrypt_string("true")
    $.cookie('user_preview_played_status',user_preview_played_status, { expires: 14,path: '/'})
    var player_src = '';
    var external_preview_url = $(".preview_video").data("preview-url");
    if(external_preview_url.length == 0){
      var preview_time = $(".preview_video").data("preview-time").split(":");
      player_src = $(".shemaroo_web_player").attr("src").split("|time")[0];
      player_src = player_src+"|autoplay_status=true"+"|time="+parseInt(preview_time[0])+"|is_preview=true|preview_end_time="+preview_time[1];
    }
    else{
      var preview_content_url = external_preview_url.split("preview");
      var new_content_url = preview_content_url[0];
      var new_key = preview_content_url[1];
      $.cookie('external_preview_url',"true", { expires: 14,path: '/'})
      player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$(".shemaroo_web_player").attr("src").split("|image=")[1];
      player_src = player_src+"|autoplay_status=true|is_preview=true";
    }
    $(".shemaroo_web_player").attr("src",player_src);       
}
function netcore_mediaevent(time){
  smartech('dispatch', 'media event', {
    'identity': getShemarooCookies().user_analytical_id,
    'content_type': $('#theme_type').val(),
    'watch_time': time,
    'category': $('#item_category').val(),
    'title': $("#ma_title").val(),
    'genre': $("#genre").val(),
    'language': $('#language').val()
  });
}


function send_player_analytics(){
  _paq.push(['trackEvent', 'Users', 'Activity', 'media_active', 1])
}

function stream_10_apxor_netcore_event(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
  Apxor.logEvent('Stream_10%_Completion', {
  "content_type": "<%= det_item['theme'].capitalize %>",
  "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time": parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
   } ,"STREAM_EVENTS" )
  smartech('dispatch', 'Stream_10_Completion', {
   "content_type": "<%= det_item['theme'].capitalize %>",
   "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time":  parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });
  branch.logEvent(
    "Stream_10%_Completion",
      { "content_type": "<%= det_item['theme'].capitalize %>",
       "user_id": getShemarooCookies().user_analytical_id,
      "video_name": "<%= det_item['title']%>",
      "content_time":  parseInt(time),
      'user_state': user_state,
      'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'consumption_type': "Online",
      'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>" 
  },
  function(err) { console.log(err); }
  );
}

function stream_25_apxor_netcore_event(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
  Apxor.logEvent('Stream_25%_Completion', {
  "content_type": "<%= det_item['theme'].capitalize %>",
  "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time": parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
   } ,"STREAM_EVENTS" )
  smartech('dispatch', 'Stream_25_Completion', {
   "content_type": "<%= det_item['theme'].capitalize %>",
   "user_id": getShemarooCookies().user_analytical_id,
   "video_name": "<%= det_item['title']%>",
   "content_time":  parseInt(time),
   'user_state': user_state,
   'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
   'genre': $("#genre").val(),
   'language': $('#language').val(),
   'consumption_type': "Online",
   'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });
  branch.logEvent(
    "Stream_25%_Completion",
      { "content_type": "<%= det_item['theme'].capitalize %>",
       "user_id": getShemarooCookies().user_analytical_id,
       "video_name": "<%= det_item['title']%>",
       "content_time":  parseInt(time),
       'user_state': user_state,
       'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
       'genre': $("#genre").val(),
       'language': $('#language').val(),
       'consumption_type': "Online",
       'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  },
  function(err) { console.log(err); }
  );
}

function stream_50_apxor_netcore_event(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
  Apxor.logEvent('Stream_50%_Completion', {
  "content_type": "<%= det_item['theme'].capitalize %>",
  "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time": parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
   } ,"STREAM_EVENTS" )
  smartech('dispatch', 'Stream_50_Completion', {
   "content_type": "<%= det_item['theme'].capitalize %>",
   "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time":  parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });
  branch.logEvent(
    "Stream_50%_Completion",
      { "content_type": "<%= det_item['theme'].capitalize %>",
       "user_id": getShemarooCookies().user_analytical_id,
      "video_name": "<%= det_item['title']%>",
      "content_time":  parseInt(time),
      'user_state': user_state,
      'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'consumption_type': "Online",
      'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>" 
  },
  function(err) { console.log(err); }
  );
}

function stream_75_apxor_netcore_event(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
  Apxor.logEvent('Stream_75%_Completion', {
  "content_type": "<%= det_item['theme'].capitalize %>",
  "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time": parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
   } ,"STREAM_EVENTS" )
  smartech('dispatch', 'Stream_75_Completion', {
   "content_type": "<%= det_item['theme'].capitalize %>",
   "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time":  parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });
  branch.logEvent(
    "Stream_75%_Completion",
      { "content_type": "<%= det_item['theme'].capitalize %>",
       "user_id": getShemarooCookies().user_analytical_id,
      "video_name": "<%= det_item['title']%>",
      "content_time":  parseInt(time),
      'user_state': user_state,
      'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'consumption_type': "Online",
      'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>" 
  },
  function(err) { console.log(err); }
  );
}

function stream_90_apxor_netcore_event(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
  Apxor.logEvent('Stream_90%_Completion', {
  "content_type": "<%= det_item['theme'].capitalize %>",
  "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time": parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
   } ,"STREAM_EVENTS" )
  smartech('dispatch', 'Stream_90_Completion', {
   "content_type": "<%= det_item['theme'].capitalize %>",
   "user_id": getShemarooCookies().user_analytical_id,
  "video_name": "<%= det_item['title']%>",
  "content_time":  parseInt(time),
  'user_state': user_state,
  'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
  'genre': $("#genre").val(),
  'language': $('#language').val(),
  'consumption_type': "Online",
  'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });
  branch.logEvent(
    "Stream_90%_Completion",
      { "content_type": "<%= det_item['theme'].capitalize %>",
       "user_id": getShemarooCookies().user_analytical_id,
      "video_name": "<%= det_item['title']%>",
      "content_time":  parseInt(time),
      'user_state': user_state,
      'Parent_Video_name': "<%= det_item['title'] rescue ""%>",
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'consumption_type': "Online",
      'title_value': "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  },
  function(err) { console.log(err); }
  );
}

function convert_seconds_hh_mm_ss(sec){
  var hours = Math.floor(sec / 3600);
  var min = Math.floor((sec - (hours*3600)) / 60);
  var seconds = Math.floor(sec % 60);
  if(hours>=0 && hours<=9){
    hours = "0"+hours
  }
  if(min>=0 && min<=9){
    min = "0"+min
  }
  if(seconds>=0 && seconds<=9){
    seconds = "0"+seconds
  }
  console.log(hours);
  return hours +":"+ min + ":"+ seconds
}


function apxor_stream_end(time){
  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
 var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
 var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_End', {
"content_type": "<%= det_item['theme'].capitalize %>" ,
'user_state': user_state,
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nt_bucket_name") : "",
"video_name": "<%= det_item['title']%>",
"parent_video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"full_screen": 0,
"subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "sharing mode like whatsapp, email etc",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"content_price": pre_chk,
"value": parseInt(time),
"source": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nc_stream_src") : "",
"source_page": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nc_stream_src") : "",
"COUNTRY":user_region,
"title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
 },"STREAM_EVENTS" )

 smartech('dispatch', 'Stream_End', {
    "content_type": "<%= det_item['theme'].capitalize %>" ,
    'user_state': user_state,
    "category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
    "bucket_name": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nt_bucket_name") : "",
    "video_name": "<%= det_item['title']%>",
    "Parent_Video_name": "<%= det_item['title'] rescue "" %>",
    "genre": "<%= det_item['genres'].join(",")%>",
    "language": $("#language").val(),
    "full_screen": 0,
    "subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
    "chromecast":"No"  ,
    "quality": "Auto",
    "watch_later": "No" ,
    "share": "sharing mode like whatsapp, email etc",
    "consumption_type":"Online"  ,
    "content_id": "<%=det_item['content_id']%>",
    "duration": "<%=det_item['duration_string']%>",
    "content_price": pre_chk,
    "value": parseInt(time),
    "source": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nc_stream_src") : "",
    "source_page": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nc_stream_src") : "",
    "COUNTRY":user_region,
    "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
  });

branch.logEvent(
  "Stream_End",
    {
"source": localStorage.getItem("nc_stream_src") != undefined ? localStorage.getItem("nc_stream_src") : "" ,
"source_page": localStorage.getItem("nc_stream_src") != undefined ? localStorage.getItem("nc_stream_src") : "" ,
'user_state': user_state,
"content_type": "<%= det_item['theme']%>" ,
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name") != undefined ? localStorage.getItem("nt_bucket_name") : "",
"video_name": "<%= det_item['title']%>",
"parent_video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"full_screen": 0,
"subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
"chromecast":"No",
"quality": "Auto",
"value": parseInt(time),
"consumption_type":"Online"  ,
"content_price": pre_chk,
"title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"

  },
  function(err) { console.log(err); }
);

 
}



var media_dimension = $("#ma_title").val()+'|'+$("#content_id").val()+'|'+$('#item_category').val()+'|'+$('#language').val()+'|'+$("#genre").val()+'|'+$('#theme_type').val()
var cnt_def = $("#content_definition").val();
var free_chk = '<%=@is_free %>'
console.log("free chk", free_chk)
  if (event.origin !== url)
  return
    switch(event.data.ga_event){
    case 'loginpop':
      exitFullscreen();
      //$("#player_login_pop").modal("show");
      if(cnt_def == "TVOD"){
        localStorage.setItem("tvod_loc","true")
       $("#tvod_login_pop").modal("show")
      }else if( cnt_def == "AVOD" || free_chk == "true"){
        $("#player_login_pop").modal("show")
      }else{
      $("#player_subscription_pop").modal("show");
      }
      localStorage.removeItem("nc_sub_strt_src")
      localStorage.setItem("nc_sub_strt_src",$("#ma_title").val())
     break;
    case 'previewreplay':
      preview_rebuild()
    break;
    case 'load_default_video':
      load_main_video()
    break;
    case 'load_preview_video':
      build_preview()
     break;
    case 'load_preview_video_sub':
      preview_video_trigger()
     break;
    case 'subscriptionpop':
      exitFullscreen();
      if($.cookie("user_id")){
        $(".login_txt").hide();
      }
       if(cnt_def == "TVOD"){
       $("#tvod_subscribe_pop").modal("show")
      }else{
      $("#player_subscription_pop").modal("show");
        }
      localStorage.removeItem("nc_sub_strt_src")
      localStorage.setItem("nc_sub_strt_src",$("#ma_title").val())
    break;  
    case 'loginpage':
     if(cnt_def == "TVOD"){
      localStorage.setItem("tvod_loc","true")
       $("#tvod_login_pop").modal("show")
       }else if(cnt_def == "AVOD" || free_chk == "true"){
        $("#player_login_pop").modal("show")
      }else{
    $("#player_subscription_pop").modal("show");

      }
      //window.location = "/users/login"
    //$("#login_pop").modal("show");
    break;
    case 'subscriptionpage':
      localStorage.removeItem("nc_sub_strt_src")
      localStorage.setItem("nc_sub_strt_src",$("#ma_title").val())
      if(cnt_def == "TVOD"){
        set_tvod_plan_det()
      }else{
       var pln_url = "/plans"
        if(getShemarooCookies().shm_sel_lang != undefined && getShemarooCookies().shm_sel_lang != "en"){
            pln_url = "/"+getShemarooCookies().shm_sel_lang+pln_url
        }
      window.location = pln_url
       }
    break;
    case 'player_active_status':
      send_player_analytics()
    break;
    case 'videopause':
      smartech('dispatch', 'Media Event', {});
      apxor_stream_end(event.data.video_time)
    break;
    case 'playstart':
     gtag('event','Playback',{'dimension1' : $("#content_id").val(),'dimension2': '<%=det_item['title']%>' ,'dimension3': event.data.bit_rate,'dimension4': $("#user_state").val(),'dimension5': $("#user_plan").val(),'dimension6': $("#user_plan_type").val(),'dimension7': $("#item_category").val(),'dimension8': $("#theme_type").val(),'dimension9': $("#genre").val(),'dimension10': $("#language").val(),'dimension11': $("#analytic_user_id").val(),'metric3': 1})
    _paq.push(['trackEvent', 'Media', 'Activity', 'Media View', 1]);
    _paq.push(['trackEvent', 'Media', 'Activity', 'play', 1, {dimension1: 'shemaroo-web', dimension2: $('#language').val(), dimension3: $('#item_category').val(), dimension4: $('#theme_type').val(), dimension5: $("#genre").val(), dimension6: "NA", dimension7: "284p", dimension10: $.cookie('user_state'), dimension11: $.cookie('user_period'), dimension14: getShemarooCookies().user_analytical_id, dimension15: $("#content_id").val(), dimension16: $("#ma_title").val(),dimension18: $("#video_duration").val(), dimension28: media_dimension}]);
    break;
    case 'videoactive':
     //gtag('event','Playback',{'dimension1' : $("#content_id").val(),'dimension2': '<%=det_item['title']%>' ,'dimension3': event.data.bit_rate,'dimension4': $("#user_state").val(),'dimension5': $("#user_plan").val(),'dimension6': $("#user_plan_type").val(),'dimension7': $("#item_category").val(),'dimension8': $("#theme_type").val(),'dimension9': $("#genre").val(),'dimension10': $("#language").val(),'dimension11': $("#analytic_user_id").val(),'metric2': 1})
      _paq.push(['trackEvent', 'Media', 'Activity', 'Media active', 1]);
    break;
    case 'videocomplete':
     netcore_mediaevent(event.data.video_time)
     gtag('event','Playback',{'dimension1' : $("#content_id").val(),'dimension2': '<%=det_item['title']%>' ,'dimension3': event.data.bit_rate,'dimension4': $("#user_state").val(),'dimension5': $("#user_plan").val(),'dimension6': $("#user_plan_type").val(),'dimension7': $("#item_category").val(),'dimension8': $("#theme_type").val(),'dimension9': $("#genre").val(),'dimension10': $("#language").val(),'dimension11': $("#analytic_user_id").val(),'metric5': 1})
     _paq.push(['trackEvent', 'Media', 'Activity', 'play_complete', 1, {dimension1: 'shemaroo-web', dimension2: $('#language').val(), dimension3: $('#item_category').val(), dimension4: $('#theme_type').val(), dimension5: $("#genre").val(), dimension6: "NA", dimension7: "284p", dimension10: $.cookie('user_state'), dimension11: $.cookie('user_period'), dimension14: getShemarooCookies().user_analytical_id, dimension15: $("#content_id").val(), dimension16: $("#ma_title").val(),dimension18: $("#video_duration").val(), dimension28: media_dimension}]);
    break;
    case 'video_view_time':
     //gtag('event','Playback',{'dimension1' : $("#content_id").val(),'dimension2': '<%=det_item['title']%>' ,'dimension3': event.data.bit_rate,'dimension4': $("#user_state").val(),'dimension5': $("#user_plan").val(),'dimension6': $("#user_plan_type").val(),'dimension7': $("#item_category").val(),'dimension8': $("#theme_type").val(),'dimension9': $("#genre").val(),'dimension10': $("#language").val(),'dimension11': $("#analytic_user_id").val(),'dimension12': $.cookie('user_plan_type'),'dimension13': $.cookie('user_plan') ,'metric4': event.data.video_time})
      _paq.push(['trackEvent', 'Media', 'Activity', 'Media view time', 1]);
      _paq.push(['trackEvent', 'Media', 'Activity', 'playback_time', 10, {dimension1: 'shemaroo-web', dimension2: $('#language').val(), dimension3: $('#item_category').val(), dimension4: $('#theme_type').val(), dimension5: $("#genre").val(), dimension6: "NA", dimension7: "284p", dimension10: $.cookie('user_state'), dimension11: $.cookie('user_period'), dimension14: getShemarooCookies().user_analytical_id, dimension15: $("#content_id").val(), dimension16: $("#ma_title").val(),dimension18: $("#video_duration").val(), dimension28: media_dimension}]);
    break;
    case 'stream_10per_complete':
      stream_10_apxor_netcore_event(event.data.video_time);
    break;
    case 'stream_25per_complete':
      stream_25_apxor_netcore_event(event.data.video_time);
    break;
    case 'stream_50per_complete':
      stream_50_apxor_netcore_event(event.data.video_time);
    break;
    case 'stream_75per_complete':
      stream_75_apxor_netcore_event(event.data.video_time);
    break;
    case 'stream_90per_complete':
      stream_90_apxor_netcore_event(event.data.video_time);
    break;
    case 'stream_start':
    var user_region = $(".user_region").val()
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': user_state,
"content_type": "<%= det_item['theme'].capitalize %>" ,
"category_name": "<%= det_item['catalog_name']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"parent_video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "No",
 "subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "sharing mode like whatsapp, email etc",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 })

  branch.logEvent(
    "Stream_Start",
      {
        "content_type": "<%= det_item['theme'].capitalize %>" ,
        'user_state': user_state,
        "category_name": "<%= det_item['catalog_name']%>",
        "video_name": "<%= det_item['title']%>",
        "Parent_Video_name": "<%= det_item['title']%>",
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
      },
      function(err) { console.log(err); }
    );

   } 
 }
 if (window.addEventListener){
    addEventListener("message", listener, true)
  } else {
    attachEvent("onmessage", listener)
  }

  });


</script>


<!-- Video ID(1), Title(2), Bitrate(3), User state(
4), User plan(5), User plan type(6), Category(7), Content type(8), Genre(9), Language(10), User ID(11) -->


<!-- {"watch_later_st":false,"status":true,"list_id":"","user_play_back_time":72,"user_sub_status":"true","age":"","gender":"","user_state":"Subscribed","user_period":"paid","user_pack_name":"ShemarooMe Premium Plan","user_plan_type":"Yearly","analytic_user_id":"573805484"} -->