<%if @item_details.nil?
  det_item = @episode_details
else
  det_item =  @item_details
end
%>
<script type="text/javascript">
  $(document).ready(function(){
    var state_of_user = $("#user_state").val();
    var user_period = $("#user_period").val();
    var user_plan_type  = $("#user_plan_type").val();
    var user_plan = $("#user_plan").val();
    var media_dimension = $("#ma_title").val()+'|'+$("#content_id").val()+'|'+$('#item_category').val()+'|'+$('#language').val()+'|'+$("#genre").val()+'|'+$('#theme_type').val()
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var bt_cnt_type = "<%= det_item['theme']%>"
    var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    $(".google,.twitter").click(function(){
       _paq.push(['trackEvent', 'Media', 'Activity', 'share', 1, {dimension1: 'shemaroo-web', dimension2: $('#language').val(), dimension3: $('#item_category').val(), dimension4: $('#theme_type').val(), dimension5: $("#genre").val(), dimension6: "NA", dimension7: "284p", dimension10: $.cookie('user_actv_sub_status'), dimension11: $.cookie('user_period'), dimension14: getShemarooCookies().user_analytical_id, dimension15: $("#content_id").val(), dimension16: $("#ma_title").val(), dimension28: media_dimension, dimension12: $.cookie('user_plan_type'), dimension13: $.cookie('user_plan'), dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id}]);
      smartech('dispatch', 'share', {
      'content_id': $("#content_id").val(),
      'title': $("#ma_title").val(),
      'category': $('#item_category').val(),
      'content_type': $('#theme_type').val(),
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'user_plan_type': $("#user_plan_type").val(),
      'user_period': $("#user_period").val(),
      'user_state': $.cookie('user_actv_sub_status'),
      'user_custom_plan': $.cookie('user_plan'),
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time,
      'session_id': getShemarooCookies().user_id,
      'userid': getShemarooCookies().user_analytic_id
      });

      branch.logEvent(
     "SHARE",
      {"title": $("#ma_title").val(),
      "content_id": $("#content_id").val(),
      "category": $('#item_category').val(), 
      "content_type": $('#theme_type').val(),
      "genre": $("#genre").val(),
      "language": $('#language').val(), 
      'user_plan_type': $.cookie('user_plan_type'),
      'user_period': $.cookie('user_period'),
      'user_state': $.cookie('user_actv_sub_status'),
      'user_custom_plan': $.cookie('user_plan'),
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "session_id": getShemarooCookies().user_id,
      "userid": getShemarooCookies().user_analytic_id
       },
     function(err) { console.log(err); }
     );

      /*smartech('dispatch', 'share', {
      'item_id': $(".content_id").val(),
      'title': $("#ma_title").val(),
      'bitrate': '240p',
      'state_user': $('#user_state').val(),
      'user_period': $('#user_period').val() ,
      'category': $('#item_category').val(),
      'content_type': $('#theme_type').val(),
      'genre': $("#genre").val(),
      'language': $('#language').val(),
      'user_id': getShemarooCookies().user_id,
      'user_plan_type': $("#user_plan_type").val(),
      'identity': getShemarooCookies().user_analytical_id
      }); */
    })
    var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
    var tvod_cnt = "<%= det_item["content_definition"]%>"
    if(tvod_cnt == "TVOD"){
      branch_pre_chk = "tvod"
    }else{
      branch_pre_chk  = pre_chk
    }
  <%if @item_details.present? %>
    bt_cnt_type = "<%= det_item['theme']%>"
    if(bt_cnt_type == "linear"){
      bt_cnt_type = "tv channel"
    }else if(bt_cnt_type == "show"){
      bt_cnt_type = "episode"
    }
    bt_cnt_type = bt_cnt_type.charAt(0).toUpperCase() + bt_cnt_type.slice(1)
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    // setTimeout(function() {
    //   //Apxor_Stream_40_Sec()
    //  },40000)
   
    // setTimeout(function() {
    //   Apxor_Stream_start()
    //  },5000)

    // setTimeout(function() {
    //   //Apxor_Stream_10_Min()
    //  },600000)

    // setTimeout(function() {
    //   //Apxor_Stream_5_Min()
    //  },300000)
    Apxor_Stream_start();
    Netcore_Stream()
    Apxor_Stream()
    fb_view_content_event()
    Netcore_item_Artwork_Tapped()
    Apxor_item_Artwork_Tapped()
      
      
      function fb_view_content_event(){
        fbq('track', 'ViewContent');
      }
  

      function Apxor_Stream_start(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        var user_region = $(".user_region").val()
         Apxor.logEvent('Stream_Start', {
        'user_state': user_state,
        "content_type": bt_cnt_type ,
        "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
        "Parent_Video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
        "genre": "<%= det_item['genres'].join(",")%>",
        "language": $("#language").val(),
        "release_year_new1": release_date,
        "full_screen": "No",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%=det_item['content_id']%>",
        "duration": "<%=det_item['duration_string']%>",
        "content_price": pre_chk,
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
         } ,"STREAM_EVENTS" )
      }


      function Apxor_Stream(){
        var pre_chk =  "<%=@video_premium_status == true ? "premium" : "free" %>"
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_region = $(".user_region").val()
        Apxor.logEvent("Stream", {
        'user_state': user_state,
        "source": localStorage.getItem("nc_stream_src"),
        "source_page": localStorage.getItem("nc_stream_src"),
        "category_name":"<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name") ,
        "video_name":"<%= det_item['title']%>".replace(/amp;/g, '') ,
        "parent_video_name" : "<%= det_item['title'] rescue ""%>".replace(/amp;/g, ''),
        "genre":"<%= det_item['genres'].join(",")%>" ,
        "language": $("#language").val() ,
        "release_year_new1": release_date,
        "full_screen": "No" ,
        "subtitles":"<%= @sub_tit_url.blank? ?  "None" : "English"%>" ,
        "chromecast":"No" ,
        "quality":"Auto" ,
        "watch_later":"No",
        "share":"sharing mode like whatsapp, email etc" ,
        "consumption_type":"Online" ,
        "content_type":bt_cnt_type,
        "content_id":"<%=det_item['content_id']%>" ,
        "duration":"<%=det_item['duration_string']%>",
        "my_list":  localStorage.getItem("my_list_val"),
        "content_price": branch_pre_chk,
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
          },"STREAM_EVENTS" )
      }

      function Apxor_Stream_10_Min(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_region = $(".user_region").val()
         Apxor.logEvent('Stream_Start_10Mins', {
        "content_type": bt_cnt_type ,
        'user_state': user_state,
        "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
        "genre": "<%= det_item['genres'].join(",")%>",
        "language": $("#language").val(),
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%=det_item['content_id']%>",
        "duration": "<%=det_item['duration_string']%>",
        "content_price": branch_pre_chk,
        "COUNTRY":user_region
         },"STREAM_EVENTS" )
      }

      function Apxor_Stream_5_Min(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_region = $(".user_region").val()
         Apxor.logEvent('Stream_Start_5Mins', {
        "content_type": bt_cnt_type ,
        'user_state': user_state,
        "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize%>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
        "genre": "<%= det_item['genres'].join(",")%>",
        "language": $("#language").val(),
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%=det_item['content_id']%>",
        "duration": "<%=det_item['duration_string']%>",
        "content_price": branch_pre_chk,
        "COUNTRY":user_region
         } ,"STREAM_EVENTS" )
      }


      function Apxor_item_Artwork_Tapped(){    
        var user_region = $(".user_region").val()
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        Apxor.logEvent('Artwork_Tapped', {
        'user_state': user_state,
        "source_page": localStorage.getItem("nc_stream_src"),
        "video_name": "<%= @item_details['title']%>".replace(/amp;/g, ''),
        "Parent_Video_name": "<%= @item_details['title'] rescue ""%>".replace(/amp;/g, ''),
        "source_bucket": localStorage.getItem("nt_bucket_name"),
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "artwork_type":"<%= @item_details['theme']%>",
        "position_within_bucket": "1",
        "promo_unit": $(".banner_tag").attr("id") != undefined ? $(".banner_tag").attr("id").split("|")[0] : "",
        "COUNTRY":user_region
          },"STREAM_EVENTS"  )
      }

      function Netcore_Stream(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Stream', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "source": localStorage.getItem("nc_stream_src"),
        "source_page": localStorage.getItem("nc_stream_src"),
        "category_name":"<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name") ,
        "video_name":"<%= det_item['title']%>".replace(/amp;/g, ''),
        "parent_video_name":"<%= det_item['title']%>".replace(/amp;/g, ''),
        "genre":"<%= det_item['genres'].join(",")%>" ,
        "language": $("#language").val() ,
        "release_year_new1": release_date,
        "full_screen":"No" ,
        "subtitles":"English" ,
        "chromecast":"No" ,
        "quality":"Auto" ,
        "watch_later":"No",
        "share":"NA" ,
        "consumption_type":"Online" ,
        "content_type":bt_cnt_type ,
        "content_id":"<%=det_item['content_id']%>" ,
        "duration":"<%=det_item['duration_string']%>",
        "content_price": branch_pre_chk,
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
          } )

        branch.logEvent(
        "Stream",
          {"content_type": bt_cnt_type ,
          'user_state': user_state,
          "source": localStorage.getItem("nc_stream_src") ? localStorage.getItem("nc_stream_src") : "",
          "source_page": localStorage.getItem("nc_stream_src") ? localStorage.getItem("nc_stream_src") : "",
          "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
          "bucket_name": localStorage.getItem("nt_bucket_name") ? localStorage.getItem("nt_bucket_name") : "",
          "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
          "parent_video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
          "genre": "<%= det_item['genres'].join(",")%>",
          "language": $("#language").val(),
          "full_screen": "No",
          "subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
          "my_list": localStorage.getItem("my_list_val") ? localStorage.getItem("my_list_val") : "",
          "chromecast":"No",
          "quality": "Auto",
          "share": "sharing mode like whatsapp, email etc",
          "consumption_type":"Online",
          "content_price": branch_pre_chk,
          "title_value": "<%=@video_premium_status == true ? 'premium' : det_item['content_definition']== 'TVOD' ? 'tvod' : 'free' %>"
        },
        function(err) { console.log(err); }
        );

      }

      function Netcore_Stream_40_Sec(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        var user_region = $(".user_region").val()
          smartech('dispatch', 'Stream_Start', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "content_type": "<%= det_item['theme']%>" ,
        "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
        "genre": "<%= det_item['genres'].join(",")%>",
        "language": $("#language").val(),
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%=det_item['content_id']%>",
        "duration": "<%=det_item['duration_string']%>",
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : det_item["content_definition"]== "TVOD" ? "tvod" : "free" %>"
         } )


        branch.logEvent(
        "Stream_Start",
          {"content_type": bt_cnt_type ,
          'user_state': user_state,
          "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize%>",
          "video_name": "<%= det_item['title'].gsub("'","")%>"
        },
        function(err) { console.log(err); }
        );
      }

      function Netcore_Stream_10_Min(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Stream_Start_10Mins', {
          "user_id": getShemarooCookies().user_analytical_id,
          'user_state': user_state,
          "content_type": "<%= det_item['theme']%>" ,
          "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
          "bucket_name": localStorage.getItem("nt_bucket_name"),
          "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
          "genre": "<%= det_item['genres'].join(",")%>",
          "language": $("#language").val(),
          "release_year_new1": release_date,
          "full_screen": "NO",
          "subtitles": "English",
          "chromecast":"No"  ,
          "quality": "Auto",
          "watch_later": "No" ,
          "share": "NA",
          "consumption_type":"Online"  ,
          "content_id": "<%=det_item['content_id']%>",
          "duration": "<%=det_item['duration_string']%>",
          "COUNTRY":user_region
        })
      }

      function Netcore_Stream_5_Min(){
        var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Stream_Start_5Mins', {
          "user_id": getShemarooCookies().user_analytical_id,
          'user_state': user_state,
          "content_type": "<%= det_item['theme']%>" ,
          "category_name": "<%= det_item['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
          "bucket_name": localStorage.getItem("nt_bucket_name"),
          "video_name": "<%= det_item['title']%>".replace(/amp;/g, ''),
          "genre": "<%= det_item['genres'].join(",")%>",
          "language": $("#language").val(),
          "release_year_new1": release_date,
          "full_screen": "NO",
          "subtitles": "English",
          "chromecast":"No"  ,
          "quality": "Auto",
          "watch_later": "No" ,
          "share": "NA",
          "consumption_type":"Online"  ,
          "content_id": "<%=det_item['content_id']%>",
          "duration": "<%=det_item['duration_string']%>",
          "COUNTRY":user_region
        })
      }
    
      function Netcore_item_Artwork_Tapped(){
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Artwork_Tapped', {
          "user_id": getShemarooCookies().user_analytical_id,
          'user_state': user_state,
          "source_page": localStorage.getItem("nc_stream_src"),
          "video_name": "<%= @item_details['title']%>".replace(/amp;/g, ''),
          "parent_video_name" : "<%= @item_details['title'] rescue ""%>".replace(/amp;/g, ''),
          "source_bucket": localStorage.getItem("nt_bucket_name"),
          "bucket_name": localStorage.getItem("nt_bucket_name"),
          "artwork_type":"<%= @item_details['theme']%>",
          "COUNTRY":user_region
        })

        branch.logEvent(
          "Artwork_Tapped",
            {
          "source_page": localStorage.getItem("nc_stream_src"),
          "user_state": user_state,
          "video_name": "<%= @item_details['title'].gsub("'","")%>",
          "parent_video_name" : "<%= @item_details['title'] rescue ""%>".replace(/amp;/g, ''),
          "promo_unit": $(".banner_tag").attr("id") != undefined ? $(".banner_tag").attr("id").split("|")[0] : "",
          "source_bucket":  localStorage.getItem("nt_bucket_name") ? localStorage.getItem("nt_bucket_name") : " ",
          "bucket_name": localStorage.getItem("nt_bucket_name") ? localStorage.getItem("nt_bucket_name") : " ",
          "artwork_type": "<%= det_item['theme'] == "linear" ? "tv channel": det_item['theme'] %>",
          "position_within_bucket": "",

            },
          function(err) { console.log(err); }
        );
      }
    <%end%>

    <%if @episode_details.present? %>

    bt_cnt_type = "<%=@episode_details['theme']%>"
      if(bt_cnt_type == "linear"){
        bt_cnt_type = "tv channel"
      }else if(bt_cnt_type == "show"){
        bt_cnt_type = "episode"
      }

      bt_cnt_type = bt_cnt_type.charAt(0).toUpperCase() + bt_cnt_type.slice(1)


      Netcore_episode_Stream()
      Apxor_episode_Stream()
      fb_episode_view_content_event()

      // setTimeout(function() {
      // //Apxor_Epi_Stream_40_Sec()
      // },40000)

      // setTimeout(function() {
      // //Apxor_Epi_Stream_10_Min()
      // },600000)

      // setTimeout(function() {
      // //Apxor_Epi_Stream_5_Min()
      // },300000)

      // setTimeout(function() {
      
      // },5000)
      
      Netcore_episode_Artwork_Tapped()
      Apxor_episode_Artwork_Tapped()
      Apxor_Epi_Stream_1_Sec()

      function fb_episode_view_content_event(){
        fbq('track', 'ViewContent');
      }

      function Apxor_Epi_Stream_1_Sec(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        var user_region = $(".user_region").val()
        Apxor.logEvent('Stream_Start', {
        "content_type": "<%=  @episode_details['theme']%>" ,
        'user_state': user_state,
        "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize%>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": 0,
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "content_price": pre_chk,
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : @episode_details["content_definition"]== "TVOD" ? "tvod" : "free" %>"
         }  ,"STREAM_EVENTS")


         branch.logEvent(
          "Stream_Start",
            {"content_type": bt_cnt_type ,
            'user_state': user_state,
            "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
            "video_name": "<%=  @episode_details['title'].gsub("'","")%>"
          },
          function(err) { console.log(err); }
        );
      }

      function Apxor_Epi_Stream_10_Min(){
        var pre_chk =  "<%=@video_premium_status == "true" ?  "premium" : "free" %>"
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
          var user_region = $(".user_region").val()
         Apxor.logEvent('Stream_Start_10Mins', {
        'user_state': user_state,
        "content_type": "<%=  @episode_details['theme']%>" ,
        "category_name": "<%= @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "content_price": pre_chk,
        "COUNTRY":user_region
         } ,"STREAM_EVENTS" )
      }

      function Apxor_Epi_Stream_5_Min(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
          var user_region = $(".user_region").val()
         Apxor.logEvent('Stream_Start_5Mins', {
        'user_state': user_state,
        "content_type": "<%=  @episode_details['theme']%>" ,
        "category_name": "<%= @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "COUNTRY":user_region
         }  ,"STREAM_EVENTS")
      }

      function Apxor_episode_Stream(){
        console.log('Apxor Stream')
        var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
        var user_region = $(".user_region").val()
        console.log("Apxor episode Apxor_Stream----------------------------")
        Apxor.logEvent('Stream', {
        'user_state': user_state,
        "category_name":"<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "source": localStorage.getItem("nc_stream_src"),
        "video_name":"<%=  @episode_details['title']%>".replace(/amp;/g, '') ,
        "genre":"<%=  @episode_details['genres'].join(",")%>" ,
        "language":"<%=  @episode_details['language']%>" ,
        "release_year_new1":release_date ,
        "full_screen": "No" ,
        "subtitles":"<%= @sub_tit_url.blank? ?  "None" : "English"%>" ,
        "chromecast":"No" ,
        "quality":"Auto" ,
        "watch_later":"No" ,
        "share":"sharing mode like whatsapp, email etc" ,
        "consumption_type":"Online" ,
        "content_type":"<%= @episode_details['theme'] == "Linear" ? "Tv channel": @episode_details['theme'].capitalize %>" ,
        "content_id":"<%= @episode_details['content_id']%>" ,
        "duration":"<%=  @episode_details['duration_string']%>",
        "content_price": pre_chk,
        "my_list":  localStorage.getItem("my_list_val"),
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : @episode_details["content_definition"]== "TVOD" ? "tvod" : "free" %>"
          }  ,"STREAM_EVENTS")
      }


      function Netcore_Epi_Stream_40_Sec(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Stream_Start_40Sec', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "content_type": "<%=  @episode_details['theme'].capitalize %>" ,
        "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "COUNTRY":user_region
         } )
      }

      function Netcore_Epi_Stream_10_Min(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
          var user_region = $(".user_region").val()
          smartech('dispatch', 'Stream_Start_10Mins', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "content_type": "<%=  @episode_details['theme'].capitalize %>" ,
        "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "COUNTRY":user_region
         } )
      }

      function Netcore_Epi_Stream_5_Min(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
          var user_region = $(".user_region").val()
          smartech('dispatch', 'Stream_Start_5Mins', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': $.cookie('user_actv_sub_status'),
        "content_type": "<%=  @episode_details['theme'].capitalize %>" ,
        "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "genre": "<%=  @episode_details['genres'].join(",")%>",
        "language": "<%=  @episode_details['language']%>",
        "release_year_new1": release_date,
        "full_screen": "NO",
        "subtitles": "English",
        "chromecast":"No"  ,
        "quality": "Auto",
        "watch_later": "No" ,
        "share": "NA",
        "consumption_type":"Online"  ,
        "content_id": "<%= @episode_details['content_id']%>",
        "duration": "<%=  @episode_details['duration_string']%>",
        "COUNTRY":user_region
         } )
      }

      


      function Netcore_episode_Stream(){
        var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
        var user_region = $(".user_region").val()
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        console.log("netcore episode Netcore_Stream----------------------------")
        smartech('dispatch', 'Stream', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "category_name":"<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "source": localStorage.getItem("nc_stream_src"),
        "video_name":"<%= @episode_details['title']%>".replace(/amp;/g, ''),
        "genre":"<%=  @episode_details['genres'].join(",")%>" ,
        "language":"<%=  @episode_details['language']%>" ,
        "release_year_new1":release_date ,
        "full_screen":"No" ,
        "subtitles":"Engilish" ,
        "chromecast":"No" ,
        "quality":"Auto" ,
        "watch_later":"No" ,
        "share":"Twitter,copy link" ,
        "consumption_type":"Online" ,
        "content_type":"<%=  @episode_details['theme'].capitalize %>" ,
        "content_id":"<%= @episode_details['content_id']%>" ,
        "duration":"<%=  @episode_details['duration_string']%>",
        "COUNTRY":user_region,
        "title_value": "<%=@video_premium_status == true ? "premium" : @episode_details["content_definition"]== "TVOD" ? "tvod" : "free" %>"
          } )

        branch.logEvent(
          "Stream",
            {"content_type": bt_cnt_type ,
            "source": localStorage.getItem("nc_stream_src"),
            'user_state': user_state,
            "category_name": "<%=  @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').capitalize %>",
            "bucket_name": localStorage.getItem("nt_bucket_name"),
            "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
            "genre": "<%=  @episode_details['genres'].join(",")%>",
            "language": "<%=  @episode_details['language']%>",
            "full_screen": "No",
            "subtitles": "<%= @sub_tit_url.blank? ?  "None" : "English"%>",
            "my_list": localStorage.getItem("my_list_val") ,
            "chromecast":"No"  ,
            "quality": "Auto",
            "share": "sharing mode like whatsapp, email etc",
            "consumption_type":"Online"  ,
            "content_price": pre_chk,
            "title_value": "<%=@video_premium_status == true ? "premium" : @episode_details["content_definition"]== "TVOD" ? "tvod" : "free" %>"
          },
          function(err) { console.log(err); }
        );
      }

      function Apxor_episode_Artwork_Tapped(){
        var user_region = $(".user_region").val()
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        Apxor.logEvent('Artwork_Tapped', {
        "source_page": localStorage.getItem("nc_stream_src"),
        'user_state': user_state,
        "video_name": "<%=  @episode_details['title']%>".replace(/amp;/g, ''),
        "Parent_Video_name": "<%=  @episode_details['title'] rescue ""%>".replace(/amp;/g, ''),
        "source_bucket":  localStorage.getItem("nt_bucket_name"),
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "artwork_type": "<%=  @episode_details['theme']%>" ,
        "position_within_bucket": "1",
        "promo_unit": $(".banner_tag").attr("id") != undefined ? $(".banner_tag").attr("id").split("|")[0] : "",
        "COUNTRY":user_region
        }  ,"STREAM_EVENTS")
      }
    
      function Netcore_episode_Artwork_Tapped(){
        var user_region = $(".user_region").val()
        var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
        smartech('dispatch', 'Artwork_Tapped', {
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        "source_page": localStorage.getItem("nc_stream_src"),
        "video_name": "<%=  @episode_details['title'].gsub(/amp;/, '') %>",
        "Parent_Video_name": "<%=  @episode_details['title'] rescue ""%>".replace(/amp;/g, ''),
        "source_bucket":  localStorage.getItem("nt_bucket_name"),
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "artwork_type": "<%=  @episode_details['theme']%>" ,
        "COUNTRY":user_region
          } )

        branch.logEvent(
        "Artwork_Tapped",
          {
        "source_page": localStorage.getItem("nc_stream_src"),
        'user_state': user_state,
        "video_name": "<%=  @episode_details['title'].gsub("'","")%>",
        "Parent_Video_name": "<%=  @episode_details['title'] rescue ""%>".replace(/amp;/g, ''),
        "promo_unit":  $(".banner_tag").attr("id") != undefined ? $(".banner_tag").attr("id").split("|")[0]: "",
        "source_bucket": localStorage.getItem("nt_bucket_name"),
        "bucket_name": localStorage.getItem("nt_bucket_name"),
        "artwork_type":  "<%= @episode_details['theme'] == "linear" ? "tv channel": @episode_details['theme'] %>",
        "position_within_bucket": "",

          },
        function(err) { console.log(err); }
        );
      }
    <%end%>
  })
</script>