<%
meta title: "All tv channels",
     description: "All tv channels",
     keywords: "All tv channels"
%>

<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div">
    <section class="full-width-content inside-container light padding-bottom-20">
      <%if @all_channels.count > 0%>
      <div class="row h-100">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10 listing-page">
          <div class="row">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
          <h2 class="section-title big-desktop-app-font3 app-color1">All Channels</h2>
        </div>
        </div>
        <div class="row row-show-list all_show_horizontal_title">
         <%@all_channels.each do |i|%>
            <div class="item rounded <%=i["catalog_object"]["plan_category_type"] == "kids" ? "kids_channels" : "non_kids_channels"%>">                                             
              <a href="<%=get_item_url(i)%>" class="channel_item" data-channel-name = "<%=i['title']%>">
              <%if i['access_control']['is_free'] == false && i['access_control']['premium_tag'] == true && $region == "IN" %>
              <div class="h-center">
                <span class="text-uppercase premium-txt">Premium</span>
              </div>
              <%end%>
              <%if i["theme"] == "live"%>
              <!-- <span class="live-txt text-uppercase all_channels_live_txt">live</span> -->
              <%end%>
              <img src="<%=i["thumbnails"]["small_16_9"]["url"]%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
                <span class="list-tile-title"><%=i['title']%></span>
              </a>
            </div>
          <%end%>
        </div>  
        </div>  
      </div>
      <%else%>
      <div class="light no-items-found">
          <img src="/assets/no_content.svg" class="margin-bottom-10 welcome_page_image"  alt="" title="">
          <p class="font-mbold margin-top-25 margin-bottom-0"><strong>Sorry!</strong></p>
          <p class="font-mregular margin-top-0 margin-bottom-5">There is no channels to show</p>
          <p class="pull-left w-100 margin-top-20 margin-bottom-15 text-center">
            <a href="/" class="text-uppercase btn btn-outline-primary gradient1 radius-button">go back</a>
          </p>
        </div>
      <%end%>

    </section>
    <%=render "layouts/page_height_setting"%>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  $(".scrollmenuwrap").hide();
  $("#header_tv_icon").addClass("tv_highlighted");
  //$("#tv_icon").attr("src","/assets/tv_w_highlight.svg");
  $("#tv_icon").attr("src","/assets/tv_active.svg");
  
  if(getShemarooCookies().user_id){
     if(getShemarooCookies().user_profile_type == "kids"){
       $(".non_kids_channels").hide();
     }
  }

  $(".channel_item").click(function(){
  var channel_name = $(this).data("channel-name")
  Netcore_Browse_Tv(channel_name)
})
function Netcore_Browse_Tv(channel_name){
console.log("netcore Netcore_Browse_Tv----------------------------",channel_name)
var user_region = $(".user_region").val()
smartech('dispatch', 'Browse_Tv', {
"user_id": getShemarooCookies().user_analytical_id,
"channel_name": channel_name,
"COUNTRY": user_region
 });
/*
Apxor.logEvent('Browse_Tv', {
"channel_name": channel_name,
"COUNTRY": user_region
 },"BROWSE");*/

} 
});
</script>
