<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div" style="min-height: 472px;">
    <section class="full-width-content inside-container light">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10 listing-page margin-bottom-20">
         <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
        <h2 class="section-title big-desktop-app-font3 app-color1">All Shows</h2>
        </div>
        </div>
        <div class="row row-show-list all_show_horizontal_title" id="all_tvshows">
           <%@all_shows.each do |s|%>
              <div class="item rounded">                                                
                <a href="<%=s['seo_web_url']%>">
                  <%if s['access_control']['is_free'] == false && s['access_control']['premium_tag'] == true  && $region == "IN"%>
                    <div class="h-center"><span class="text-uppercase premium-txt">Premium</span></div>
                  <%end%>
                  <img src="<%=s["thumbnails"]["medium_16_9"]["url"]%>" class="rounded" alt="<%=s['title']%>" title="<%=s['title']%>">
                  <span class="list-tile-title"><%=s['title']%></span>
                </a>
              </div>
            <%end%>
        </div>
        <%if @next_page == "true"%> 
          <div class="text-center margin-bottom-25 margin-top-20" id="load_more_items_link"> <a href="javascript:void(0);" class="inline-block radius-button text-uppercase load_all_items" id="load_more_all_items">Load more</a></div>
        <%end%>
        </div>  
      </div>
    </section>
    <input type="hidden" value="1" id="page_number">
     <%=render "layouts/page_height_setting"%>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
   $("#load_more_all_items").click(function(){
    $(this).text("Load more...");
    var pageno = $("#page_number").val();
    $.ajax({
    url: window.location.pathname,
    type: "GET",
    data: {
    page_no: pageno
    },
    success: function(response,status){
      $("#load_more_all_items").text("Load more");
      $("#page_number").val(response.pageno);
      var items = response.items
      for(i=0 ; i <items.length; i++){
        var item_det = items[i].split("$");
        $("#all_tvshows").append('<div class="item rounded"><a href="'+item_det[2]+'"><div class="h-center"><span class="text-uppercase premium-txt" style="display:'+(item_det[3] == "true" ? "none" : "")+'">Premium</span></div><img src="'+item_det[1]+'" class="rounded" alt="'+item_det[0]+'" title="'+item_det[0]+'"><span class="list-tile-title">'+item_det[0]+'</span></a></div>')
      } console.log(response.next_page);
      if(response.next_page == "false"){
        $("#load_more_items_link").hide();
      }
      $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
    }
  });
  })
})


</script>