<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div" style="min-height: 472px;">
    <section class="full-width-content inside-container light">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10 listing-page">
         <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
        <h2 class="section-title big-desktop-app-font3 app-color1">All Short Films</h2>
        </div>
        </div>
        <div class="row row-movie-list">
           <%@all_short_films.each do |m|%>
              <div class="item rounded">                                                
                <a href="<%=m['seo_web_url']%>">
                  <%if m['access_control']['is_free'] == false && m['access_control']['premium_tag'] == true && $region == "IN" %>
                    <div class="h-center"><span class="text-uppercase premium-txt">Premium</span></div>
                  <%end%>
                  <img src="<%=m["thumbnails"]["medium_2_3"]["url"]%>" class="rounded" alt="<%=m['title']%>" title="<%=m['title']%>">
                </a>
              </div>
            <%end%>
        </div>
        </div>  
      </div>
    <script type="text/javascript">
	$(document).ready(function(){
		var window_height = window.innerHeight;
	  	//var window_height = window_height - 231;
	  	//alert("window_height "+window_height)
	  	var x = $('.header-section').outerHeight() + $('.footer-section').outerHeight();
	  	var y = $('.header-section1').outerHeight() + $('.footer-section').outerHeight();
	  	//alert("x "+x);
	  	var content_height = window_height - x;
	  	var content_height_pre1 = window_height - y + 68;
	  	var content_height_pre = window_height - y - 70;
	  	//alert("content_height "+content_height)
	  	$('.min-height-div-pre').css('min-height',content_height_pre+'px');
	  	$('.min-height-div-pre1').css('min-height',content_height_pre1+'px');
	  	$('.min-height-div').css('min-height',content_height+'px');
	  	$('.min-height-divtoast').css('min-height',(content_height+80)+'px');
	  	$('.min-height-no-content').css('height',content_height+'px');
  	})
  	//alert("min_height "+min_height);
</script>
  
    </section>
  </div>
</div>