<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<div class="float-left w-100 wrapper listing-page">
  <div class="container">    
    <div class="float-left w-100 ">
      <div class="float-left w-100">
        <section class="main-content">
          <div class="float-left w-100 min-height-div">
          <ul class="ml-3 float-left w-100 list-none p-0 ml-4 breadcrumbs d-none d-xl-block">
            <li class="float-left font-regular home">
              <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
            </li>
              
           <li class="float-left font-regular">
            <a href="<%=get_lang_url("/channels")%>"><%=get_lang_string("channels")%></a>
          </li>
            <li class="float-left font-regular">
              <%=@title%>
              <%#=@item_details['ml_title'].present? ? @item_details['ml_title'] : @item_details['title']%>
            </li>        
          </ul>
           <ul class="ml-3 mt-2 float-left w-100 list-none p-0 breadcrumbs d-block d-xl-none">
            <li class="float-left font-regular home">
                <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
              </li>
             <li class="float-left font-regular">
              <a href="/channels"><%=get_lang_string("channels")%></a>
            </li>
              <li class="float-left font-regular">
               <%=@title%>
              </li>                
            </ul>  
          
          <%if @all_items.count > 0%> 
              <div class="slick-parent-container-inner">
                <div class="float-left w-100 slick-area">
                  <div class="slicks-container">
                    <div class="float-left w-100 slicks">
                      <div class="float-left w-100 ">
                        <div class="float-left w-100 slick-container slick-gap">
                          <div class="float-left w-100 slick-wrapper">
                            <div class="float-left w-100 app-slick-carousel">
                              <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                <h1 class="section-title3 font-black app-color1"><%=@title%></h1>
                              </div>
                              <div class="float-left w-100 app-slick-slider-container">
                                <div id="all_items">
                                <%if @layout_type == "t_2_3_movie" || @layout_type == "movies" 
                                 class_name = "vertical"
                                else
                                  class_name ="horizontal"
                                end%>
                                 <%@all_items.each do |i|%>
                                    <div class="listing-thumb <%= class_name%>-listing-thumb margin-bottom-10">
                                      <div style="width: 100%; display: inline-block;">
                                        <div class="slick-vertical-thumb">
                                          <article class="slick-vertical-thumb" style="">                                        
                                            <a href="<%=get_lang_url(i['seo_web_url'])%>" >
                                              <div class="thumbnail-container">
                                                <div class="card-img-container">
                                                  <%if @layout_type == "t_16_9_playlist" || @layout_type == "songs"%>
                                                    <img src="<%=i["thumbnails"]["xl_image_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=i["title"]%>" title="<%=i["title"]%>">
                                                  <%else%>
                                                    <img src="<%=get_image_url(i,@layout_type)%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=i["title"]%>" title="<%=i["title"]%>">
                                                  <%end%>
                                                </div>  
                                              </div>                                            
                                              <div class="slick-thumb-details">
                                                <div class="content-title ellipsize"><%= i['ml_display_title'] rescue i['display_title']%></div>
                                               <!--  <div class="sub-info ellipsize"><%#=i['ml_genres'][0].capitalize rescue i['genres'][0].capitalize %> | <%#=i['ml_language'][0].capitalize rescue i['language']%> | <%#= i['ml_release_date'].split("-")[0] rescue i['release_date_string'].split("-")[0]%>
                                                </div> --> 
                                             </div>                                         
                                            </a>
                                            <div class="h-center">
                                              <%if i["content_definition"] == "TVOD"%>
                                                  <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                              <%elsif i["access_control"]["is_free"] == false  && i["access_control"]["premium_tag"] == true && i["content_definition"] != "TVOD" && $region == "IN"%>
                                                 <span class="premium-img"><img src="/assets/premium_icon.svg" class="w-100" alt="" title=""></span>
                                              <%end%>
                                            </div>
                                            <div class="app-d-flex justify-content-end">
                                              <% if i['access_control']['is_free'] == true && i['theme'] == "episode"%>
                                                  <span class="free-txt text-uppercase">free</span>
                                              <% end %>
                                            </div> 
                                          </article>                                        
                                        </div>
                                      </div>
                                    </div>
                                  <%end%>
                                </div> 
                                <%if @next_page == "true"%> 
                                   <div class="text-center margin-bottom-25 margin-top-20" id="load_more_items_link"> <a href="javascript:void(0);" class="inline-block radius-button text-uppercase load_all_items" id="load_more_all_items"><%= get_lang_string("load_more")%></a></div>
                                <%end%>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <%=render "layouts/page_height_setting"%>    
            <%else%>
              <div class="light no-items-found" style="margin-top:87px;">
                <img src="/assets/no_content.svg" class="margin-bottom-10 welcome_page_image margin-top-25"  alt="" title=""  >
                <p class="font-mbold margin-top-25 margin-bottom-0"><strong><%= get_lang_string("sorry")%></strong></p>
                <p class="font-mregular margin-top-0 margin-bottom-5"><%= get_lang_string("no_content")%></p>
                <p class="pull-left w-100 margin-top-20 margin-bottom-15 text-center">
                  <a href="/" class="text-uppercase radius-button"><%= get_lang_string("go_back")%></a>
                </p>
              </div>
               <%=render "layouts/page_height_setting"%>    
            <%end%>
          </div>  
        </section>
      </div>  
    </div>
  </div>
</div>
<input type="hidden" value="1" id="page_number">
<input type="hidden" name="layout_type" value="<%=@layout_type%>" class="items_layout_type">

<%=render "layouts/page_height_setting"%>    

<script type="text/javascript">
$(document).ready(function(){
  $(".scrollmenuwrap").hide();
  $("#load_more_all_items").click(function(){
    var tab_name =$("#net_head_title").text()
    Netcore_Browse(tab_name,"","")
    var video_theme = $(".items_layout_type").val();
    $(this).text("<%= get_lang_string("load_more")%>...");
    var pageno = $("#page_number").val();
    $.ajax({
    url: window.location.pathname,
    type: "GET",
    data: {
    page_no: pageno,
    theme_type: video_theme,
    lang: getShemarooCookies().shm_sel_lang
    },
    success: function(response,status){
      $("#load_more_all_items").text("<%= get_lang_string("load_more")%>");
      $("#page_number").val(response.pageno);
      var items = response.items
      for(i=0 ; i <items.length; i++){
        var item_det = items[i].split("$");
        if(video_theme == "t_2_3_movie" || video_theme == "movies"){
          $("#all_items").append('<div class="listing-thumb vertical-listing-thumb" style=""><div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="'+item_det[2]+'"><div class="thumbnail-container"><div class="card-img-container"><img src="'+item_det[1]+'" class="img-loader lazy-img-loader loaded" loading="lazy" alt="'+item_det[0]+'" title="'+item_det[0]+'"></div></div><div class="slick-thumb-details"><div class="content-title ellipsize">'+item_det[0]+'</div><div class="sub-info ellipsize">'+item_det[4]+' | '+item_det[5]+' | '+item_det[6]+' </div></div></a><div class="h-center"><span class="premium-img" style="display:'+(item_det[3] == "true" ? "none" : "")+'"><img src="/assets/premium_icon.svg" alt="" title="" class="w-100"></span></div><div class="app-d-flex justify-content-end"><span class="free-txt text-uppercase" style="display:'+(item_det[7] == "episode" && item_det[8] == "true" ? "" : "none")+'">free</span></div></article></div></div></div>')
        }
        else{

          $("#all_items").append('<div class="listing-thumb horizontal-listing-thumb" style=""><div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="'+item_det[2]+'"><div class="thumbnail-container"><div class="card-img-container"><img src="'+item_det[1]+'" class="img-loader lazy-img-loader loaded" loading="lazy" alt="'+item_det[0]+'" title="'+item_det[0]+'"></div></div><div class="slick-thumb-details"><div class="content-title ellipsize">'+item_det[0]+'</div><div class="sub-info ellipsize">'+item_det[4]+' | '+item_det[5]+' | '+item_det[6]+' </div></div></a><div class="h-center"><span class="premium-img" style="display:'+(item_det[3] == "true" ? "none" : "")+'"><img src="/assets/premium_icon.svg" alt="" title="" class="w-100"></span></div><div class="app-d-flex justify-content-end"><span class="free-txt text-uppercase" style="display:'+(item_det[7] == "episode" && item_det[8] == "true" ? "" : "none")+'">free</span></div></article></div></div></div>')

        }
      } console.log(response.next_page);
      if(response.next_page == "false"){
        $("#load_more_items_link").hide();
      }
      $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });

      $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );

    }
  });

  })

  $('article').hover(
    function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
  );


  $(window).scroll(function(){
    var scroll = $(window).scrollTop(),
    doc_height = $(document).height(),
    window_height = $(window).height();
    var scrollPercent = ((scroll / (doc_height - window_height)) * 100).toFixed(0);
    if (scrollPercent == 10 || scrollPercent == 25  || scrollPercent == 50  || scrollPercent == 75 || scrollPercent == 100) {
      netcore_apxor_scoll_event('<%= params[:catalog_name] %>',scrollPercent)
    };
    
  })

  function netcore_apxor_scoll_event(name,scrollPercent){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"    
    Apxor.logEvent("Scroll_Vertical",{
    "screen_name": name,
    'user_state': user_state,
    "depth": scrollPercent
    }, "Scroll_Vertical");

    smartech('dispatch', 'Scroll_Vertical', {
      "screen_name": name,
      "depth": scrollPercent,
      'user_state': user_state
    })


    branch.logEvent(
    "Scroll_Vertical",
      {"screen_name": name,
      'user_state': user_state,
      "depth": scrollPercent
    },
    function(err) { console.log(err); }
    );
  }

})

</script>

