<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div">
    <section class="full-width-content inside-container top-bg-gradient1 light padding-bottom-20">
      <%if @all_items.count > 0%>
        <div class="row h-100">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10 listing-page">
            <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- listing-page">
            <h2 class="section-title big-desktop-app-font3 app-color1" id="net_head_title" style="<%#=get_title_item_color(@layout_scheme)%>"><%=@title%></h2>
          </div>
          </div>
          <input type="hidden" value="1" id="page_number">
         <%if @layout_type == "t_2_3_movie" || @layout_type == "movies" 
            class_name = "row-movie-list all_movie_vertical" 
            title = "no"        
           else
            class_name = "row-show-list all_show_horizontal_title" 
            title = "yes"        
          end%>
          <div class="row <%=class_name%>" id="all_items">
           <%@all_items.each do |i|%>
              <div class="item rounded <%#= title == "yes" ? "rounded" : ""%>">                                                              
                <a href="<%=i['seo_web_url']%><%#=get_item_url(i)%>">
                  <%if i.has_key?("content_definition") && i["content_definition"] == "TVOD"%>
                  <div class="h-center"><span class="buy-txt"><%= get_lang_string("buy") %></span></div>

                <%elsif i.has_key?('access_control') && i['access_control']['is_free'] == false && i['access_control']['premium_tag'] == true && $region == "IN" %>
                  <div class="h-center"><span class="premium-txt">Premium</span></div>
                <%end%>
                <%if @layout_type == "t_1_1_album" || @layout_type == "songs"%>
                <img src="<%=i["thumbnails"]["medium_16_9"]["url"]%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
                <%else%>
                <img src="<%=get_image_url(i,@layout_type)%>" class="rounded" alt="<%=i['title']%>" title="<%=i['title']%>">
                <%end%>
                <%if title == "yes"%>
                  <span class="list-tile-title"><%=i['title']%></span>
                <%end%>
                </a>
              </div>
            <%end%>
          </div>  
           <%if @next_page == "true"%> 
               <div class="text-center margin-bottom-25 margin-top-20" id="load_more_items_link"> <a href="javascript:void(0);" class="inline-block radius-button black-button text-uppercase load_all_items" id="load_more_all_items">Load more</a></div>
            <%end%>
          </div>  
        </div>
        <input type="hidden" name="layout_type" value="<%=@layout_type%>" class="items_layout_type">
        <%=render "layouts/page_height_setting"%>    
        <%else%>
        <div class="light no-items-found">
          <img src="/assets/no_content.svg" class="margin-bottom-10 welcome_page_image"  alt="" title="">
          <p class="font-medium margin-top-25 margin-bottom-0"><strong>Sorry!</strong></p>
          <p class="font-light margin-top-0 margin-bottom-5">There is no content to show</p>
          <p class="pull-left w-100 margin-top-20 margin-bottom-15 text-center">
            <a href="/" class="text-uppercase btn btn-outline-primary gradient1 radius-button">go back</a>
          </p>
        </div>
        <%=render "layouts/page_height_setting"%> 
        <%end%>
    </section>
    <%=render "layouts/page_height_setting"%>
  </div>  
</div>
<style>
  
</style>
<script type="text/javascript">
$(document).ready(function(){
  $(".scrollmenuwrap").hide();
  $("#load_more_all_items").click(function(){
    var tab_name =$("#net_head_title").text()
    Netcore_Browse(tab_name,"","")
    var video_theme = $(".items_layout_type").val();
    $(this).text("Load more...");
    var pageno = $("#page_number").val();
    $.ajax({
    url: window.location.pathname,
    type: "GET",
    data: {
    page_no: pageno,
    theme_type: video_theme
    },
    success: function(response,status){
      $("#load_more_all_items").text("Load more");
      $("#page_number").val(response.pageno);
      var items = response.items
      for(i=0 ; i <items.length; i++){
        var item_det = items[i].split("$");
        if(video_theme == "t_2_3_movie" || video_theme == "movies"){
          $("#all_items").append('<div class="item"><a href="'+item_det[2]+'"><div class="h-center"><span class="text-uppercase premium-txt" style="display:'+(item_det[3] == "true" ? "none" : "")+'">Premium</span></div><img src="'+item_det[1]+'" class="rounded" alt="'+item_det[0]+'" title="'+item_det[0]+'"></a></div>')
        }
        else{
          $("#all_items").append('<div class="item rounded"><a href="'+item_det[2]+'"><div class="h-center"><span class="text-uppercase premium-txt" style="display:'+(item_det[3] == "true" ? "none" : "")+'">Premium</span></div><img src="'+item_det[1]+'" class="rounded" alt="'+item_det[0]+'" title="'+item_det[0]+'"><span class="list-tile-title">'+item_det[0]+'</span></a></div>')
        }
      } console.log(response.next_page);
      if(response.next_page == "false"){
        $("#load_more_items_link").hide();
      }
      $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
    }
  });
  })
})

</script>

