<script type="text/javascript">
     /*var title = "<%#=@item_details['title']%>";
     localStorage.setItem("item_title", title);
  clevertap.event.push("Content details", {
    "User name": getShemarooCookies().user_name,
    "Item title": localStorage.getItem("item_title")
  });
  localStorage.removeItem("item_title")*/
</script>
<%#title,desc,keywords,theme,genres = get_item_meta_det(@item_details)%>
<%#
   meta title: "#{title}",
    description: "#{desc}",
    keywords: "#{keywords}"
%>
    <%if @item_details.nil?
 det_item = @episode_details
else
 det_item =  @item_details
end
%>

<div class="padding-top-80 padding-top-100 padding-top-60">
  <div class="contianer-fluid padding-left-0 padding-right-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-left-0 padding-right-0">
      <!-- <div class="pull-left w-100 margin-bottom-25 text-center banner-wrapper">
        <img src="/assets/details_banner.png" alt="" title="">
      </div> -->
      <div class="margin-bottom-25 text-center banner-wrapper desktop_ads" style="display:none;">
                 <div id='div-gpt-ad-1585741893616-0' style='width: 728px; height: 90px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585741893616-0'); });
  </script>
</div>
      </div>
      <%if det_item.has_key?("play_type") && det_item["play_type"] == false%>
        <div class="coming_soon_banner_wrap">
          <div class="coming_soon_banner relative-content" id="trailer_preview_video">
            <img src="<%=det_item['thumbnails']['large_16_9']['url']%>" class="img-fluid" alt="" title="">
            <img src="/assets/coming_soon.png" id="coming_soon_tag" alt="<%=det_item['title']%>" title="">
          </div>
        </div>
      <%else%>
      <div class="player_section w-100 embed-responsive embed-responsive-16by9"  id="shemaroo_player">
        <img src="<%=det_item['thumbnails']['large_16_9']['url']%>" class="img-fluid" alt="" title="">
      </div>
      <%end%>

    </div>
  </div>
  <section class="full-width-content inside-container light margin-top-15 margin-bottom-10 relative-content">
    <div class="row">
      <%if @theme == "live" || @theme == "linear"
        status = false
        else
        status = true
        end  
      %>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- <%= status == true ? "" : "livechannel" %>">
      <div class="margin-bottom-25 text-center banner-wrapper desktop_ads" style="display:none;">
        <div id='div-gpt-ad1-1585741893616-0' style='width: 728px; height: 90px;'>
          <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad1-1585741893616-0'); });
          </script>
        </div>
      </div>
      <%if det_item.has_key?("content_definition") && det_item["content_definition"] == "TVOD"%>
        <div class="margin-bottom-25 text-center center-align-content" id="buy_red_sec">
          <a href="javascript:void(0);" class="text-uppercase shemaroo-color6 app-btn3 font-bold" id="buy_movie">buy ticket @&nbsp;<%=det_item["price_tag"]["currency_symbol"]%><!-- <i class="fa fa-inr" aria-hidden="true" style="margin-top: 3px; font-size: 15px;"></i> -->&nbsp;<%=det_item["price_tag"]["price"]%></a>
          <a href="javascript:void(0);" class="text-uppercase shemaroo-color6 app-btn3 font-bold" id="redm_tkt">redeem your ticket</a>
        </div>
        <input type="hidden" id="tvd_curncy" value="<%=det_item["price_tag"]["currency_symbol"]%>">
        <input type="hidden" id="tvd_plan_prc" value="<%=det_item["price_tag"]["price"]%>">
        <input type="hidden" id="tvd_plan_id" value="<%=det_item["price_tag_plan_id"]%>">
         <input type="hidden" id="tvd_pln_tit" value="<%=det_item["price_tag_pack_name"]%>">
        <input type="hidden" id="tvd_plan_info" value="<%=det_item["price_tag_plan_id"]%>|<%=det_item["price_tag_plan_catalog_id"]%>|<%=det_item["catalog_object"]["plan_category_type"]%>|<%=det_item['price_tag_plan_type']%>|<%=det_item["price_tag"]["currency"]%>|<%=det_item["price_tag"]["currency_symbol"]%>|<%=det_item["price_tag"]["price"]%>|<%=(det_item["price_tag"]["adyen_price"])%>|<%=det_item["price_tag"]["price"]%>|<%=det_item["price_tag_category_id"]%>|<%=det_item["price_tag_pack_name"]%>">
        <input type="hidden" id="content_definition" value="<%= det_item["content_definition"]%>">
        <input type="hidden" id="tvod_mv_rel_dt" value="<%= Time.parse(det_item["price_tag"]["release_date"]).strftime("%d %b %Y").to_s%> at <%= Time.parse(det_item["price_tag"]["release_date"]).strftime("%H %p").to_s.downcase%>">
        <input type="hidden" id="pre_rel_chk" value="<%= Date.parse(det_item["price_tag"]["release_date"]) <= Date.today() ? "true" : "false"%>">
        <input type="hidden" id="tvod_mv_valid_till" value="<%=get_mov_validity_till(det_item)%>">
        <input type="hidden" id="tvod_mv_dur" value="<%= det_item["price_tag"]["duration"]%>">
        <input type="hidden" id="tvod_mv_title" value="<%= det_item["title"]%>">

       <%end%>
        <div class="player_desc_section margin-left-0 margin-top-0">
          <div class="video_feature1 pull-left">
            <input type="hidden" id="catalog_id" value="<%=@item_details['catalog_id']%>">
            <input type="hidden" id="content_id" value="<%=@item_details['content_id']%>">
            <input type="hidden" id="item_category" value="<%=@item_details['catalog_object']['plan_category_type']%>">
            <input type="hidden" id="playback_time" value="00:00:00">
           <!--  <input type="hidden" id="preview_available" value="<%#=(@item_details.has_key?("preview") && @item_details['preview']['preview_available'] == true) ? "true" : "false"%>"> -->
            <input type="hidden" id="preview_available" value="false">
            <input type="hidden" id="language" value="<%=det_item['language']%>">
            <input type="hidden" id="release_date" value="<%=det_item['release_date_string']%>">
            <input type="hidden" id="theme_type" value="<%=@theme%>">
            <input type="hidden" id="genre" value="<%=det_item['genres'][0].capitalize%>">
            <input type="hidden" id="age" value="NA">
            <input type="hidden" id="gender" value="NA">
            <input type="hidden" id="user_state" value="Anonymous">
            <input type="hidden" id="user_period" value="NA">
            <input type="hidden" id="user_plan_type" value="NA">
            <input type="hidden" id="user_plan" value="NA">
            <input type="hidden" id="analytic_user_id" value="NA">
            <input type="hidden" id="app_share_url" value="<%=det_item['internal_share_url'].split("?")[1]%>">
            <input type="hidden" id="ma_title" value="<%=det_item['title']%>">
            <input type="hidden" id="branch_title" value="<%=det_item['title'].gsub("'","")%>">

            <input type="hidden" id="video_duration" value="<%=@item_details['duration_string']%>">
            <input type="hidden" id="user_region" value="<%=$region%>">
            <input type="hidden" id="playable_entity" value="<%=(det_item.has_key?("play_type") && det_item["play_type"] == false) ? "false" : "true"%>">
            <input type="hidden" id="preview_coming_soon" value="">
            <%#=det_item["price_tag"]["currency_symbol"]%>
            
   


            <h1 class="margin-bottom-15 margin-top-5"><%=@item_details['title']%></h1>
            <ul class="play_feature1 list-none padding-left-0 margin-bottom-20">
              <%@item_details['item_caption'].split("|").each do |s|%>
              <li><%=s%></li>
              <%end%>
            </ul>
          </div>
          <input type="text" id="copy_link" value="<%=SITE%><%=request.fullpath%>">                                      
          <div class="video_feature2 pull-right margin-left-20 relative-content desktop_view_screen">  
            <ul class="play_feature2 list-none padding-left-0 margin-bottom-20">
             
             <%if status == true %>
              <%if @item_details.has_key?("preview") && @item_details['preview']['preview_available'] == true%>
                 <!-- <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/preview.svg" class="text-center preview_video" alt="Preview" title="Preview" data-preview-time="<%#=get_preview_time(@item_details['preview'])%>" data-preview-url="<%#=
                      @item_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@item_details['preview']['ext_preview_url'])}" %>">
                    <span>Preview</span>
                  </a>                
                </li> -->
                <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/trailer.png" class="text-center preview_video" alt="Trailer" title="Trailer" id="Trailer" data-preview-time="<%=get_preview_time(@item_details['preview'])%>" data-preview-url="<%=
                      @item_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@item_details['preview']['ext_preview_url'])}" %>">
                    <span>Trailer</span>
                  </a>
                </li>
                <%end%>
                <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/watch_later.svg" class="text-center watch_later" alt="Watch Later" title="Watch Later" id="watch_later" data-listitemid="">
                    <span>Watch Later</span>
                  </a>
                </li>
              <%end%>
              <li class="text-uppercase text-center share_social_icons">
                <a href="javascript:void(0);">
                  <img src="/assets/share.svg" class="text-center" alt="Share" title="Share">
                  <span>Share</span>
                </a>
                <ul class="share_feature list-none padding-bottom-10 padding-top-10">
                  <!-- <li>
                    <a href="https://plus.google.com/share?url=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/google_share.svg" class="text-center google" alt="google" title="google">                  
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="https://www.facebook.com/dialog/share?app_id=<%#=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/facebook_share.svg" class="text-center facebook" alt="facebook" title="facebook">                  
                    </a>
                  </li> -->
                  <li>
                   <!--  <a href="https://twitter.com/home?status=<%=SITE%><%=request.fullpath%>" target="_blank"> -->
                    <a href="https://twitter.com/intent/tweet?url=<%=SITE%><%=request.fullpath%>&text=Watch online <%=@item_details['genres'][0]%> movie <%=@item_details['title']%> - ShemarooMe" target="_blank">
                      <img src="/assets/twitter_share.svg" class="text-center twitter" alt="twitter" title="twitter">                  
                    </a>
                  </li>
                  <li class="margin-right-0">
                    <a href="javascript:void(0);">
                      <img src="/assets/copy_link.svg" class="text-center copy_link" alt="copy Link" title="copy link" id="<%=SITE%><%=request.fullpath%>"
                      onclick="copyLink()">                      
                    </a>
                  </li>
                </ul>
              </li>
            </ul>                    

          </div>  
          <%unless @item_details['description'].blank? %>  

          <p class="margin-bottom-20 full-desc d-none d-sm-block d-xl-block">
          <%=@item_details['description']%>
          </p>
          <p class="margin-bottom-20 short_desc d-block d-sm-none d-xl-none">
            
            <span class="short_desc"><%=@item_details['description'].truncate(140)%></span>
            
            <span class="full_desc"><%=@item_details['description']%></span>
            
          </p>
          <%if @item_details['description'].length > 140 %>
          <div class="d-block d-sm-none d-xl-none">
            <p class="center-align-content margin-top-10 margin-bottom-10">
              <img src="/assets/accordian_arrow.svg" class="desc_show_more_icon" alt="" title="">
              <img src="/assets/accordian_arrow.svg" class="desc_show_less_icon" alt="" title="">
            </p>
          </div>
          <%end%>
            <%#if @item_details['description'].length > 440 %>
              <!-- <p class="margin-bottom-20 short_desc"><%=@item_details['description'].truncate(440)%></p>
              <img src="assets/accordian_arrow.svg" alt="" title=""> -->
            <%#else%>  
              <!-- <p class="margin-bottom-20 full-desc"><%=@item_details['description']%></p> -->
            <%#end%>
          <%end %>
          <%if @item_details.has_key?("item_additional_data") && !@item_details['item_additional_data'].empty?%>
            <%@item_details['item_additional_data'].each do |k,v|%>
              <%unless v.empty?%>
                 <p class="margin-bottom-20">
                  <b><%=k%>:</b><br>
                   <%=v.join(",")%>
                </p>
              <%end%>
            <%end%>
          <%end%>
          <div class="video_feature2 pull-right relative-content mobile_view_screen">  
            <ul class="play_feature2 list-none padding-left-0 margin-bottom-20 <%=get_item_box_type(@item_details,@theme)%>">
             
             <%if status == true %>
              <%if @item_details.has_key?("preview") && @item_details['preview']['preview_available'] == true%>
                <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/preview.svg" class="text-center preview_video" alt="Preview" title="Preview" data-preview-time="<%=get_preview_time(@item_details['preview'])%>" data-preview-url="<%#=get_preview_url(@item_details['preview'])%>">
                    <span>Preview</span>
                  </a>
                <%end%>
                </li>
                <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/watch_later.svg" class="text-center watch_later" alt="Watch Later" title="Watch Later" id="watch_later" data-listitemid="">
                    <span>Watch Later</span>
                  </a>
                </li>
              <%end%>
              <li class="text-uppercase text-center share_social_icons">
                <a href="javascript:void(0);">
                  <img src="/assets/share.svg" class="text-center" alt="Share" title="Share">
                  <span>Share</span>
                </a>
                <ul class="share_feature list-none padding-left-20 padding-right-15 padding-bottom-10 padding-top-10">
                  <!-- <li>
                    <a href="https://plus.google.com/share?url=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/google_share.svg" class="text-center google" alt="google" title="google">                  
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="https://www.facebook.com/dialog/share?app_id=<%#=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/facebook_share.svg" class="text-center facebook" alt="facebook" title="facebook">                  
                    </a>
                  </li> -->
                  <li>
                    <a href="https://twitter.com/home?status=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/twitter_share.svg" class="text-center twitter" alt="twitter" title="twitter">                  
                    </a>
                  </li>
                  <li class="margin-right-0">
                    <a href="javascript:void(0);">
                      <img src="/assets/copy_link.svg" class="text-center copy_link" alt="copy Link" title="copy link" id="<%=SITE%>/<%=request.fullpath%>"
                      onclick="copyLink()">                                                          
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            
          </div>  
        </div>  
        <div class="pull-left ad_section desktop_ads" style="display: none;">
          <div id="non_uc_browse_adds">
        <div id='div-gpt-ad-1585723049846-0' style='width: 300px; height: 250px;'>
          <script>
             googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585723049846-0'); });
          </script>
        </div>
        </div>
           <div id ="uc_browser_ads" style="display: none">
            <div id='div-gpt-ad-1589367833644-0' style='width: 300px; height: 250px; display: none;' >
              <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589367833644-0'); });
              </script>
            </div>
            </div>
        </div>
      </div>
    </div>
     <div class="add_unit" style="display: none !important">
    <div id='div-gpt-ad-1571401090315-0' style='width: 300px; height: 250px; display: none !important'>
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571401090315-0'); });
        </script>
      </div>

   </div>
    
       <div class="toster-message-wrap" id="watch_later_pop">
      <div class="center-align-content">
        <div class="toster-message">
          <img src="/assets/password_updated.svg" alt="" title="">
          <p id="watch_later_message">
            Added to your Watchlist successfully
          </p>
        </div>
      </div>
    </div>  

    <div class="toster-message-wrap" id="copy_link_pop">
      <div class="center-align-content">
        <div class="toster-message toster-message-small">
          <img src="/assets/password_updated.svg" alt="" title="">
          <p>
            Link Copied
          </p>
        </div>
      </div>
    </div>

  </section>
  <%if @theme == "linear"%>
   <%if @channel_all_programs.count > 0%>
    <div class="contianer-fluid">
      <div class="detail-page-bottom-section">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 pull-left">Playing Next</h2>   
            </div>
          </div>
          <div id="palying_next_programs" class="owl-carousel owl-theme">
            <%@channel_all_programs.each_with_index do |p,index|%>
            <%#if index != 0%>
              <div class="item horizontal_title">
                <a href="javascript:void(0);">
                  
                  <%if index == 0%>
                    <span class="playingnow-txt text-uppercase">NOW PLAYING</span>
                    <%elsif index ==  1%>
                    <span class="playing-next text-uppercase"><img src="/assets/program_next.png" />playing next</span>
                    <%else%>
                    <span class="upcoming text-uppercase"><img src="/assets/program_next.png" />upcoming</span>
                    <%end%>
                  <img src="<%=p['thumbnails']["small_16_9"]["url"]%>" class="rounded" alt="<%=p["title"]%>" title="<%=p["title"]%>">
                  <span class="list-tile-title"><%=p['title']%></span>
                  <span class="list-tile-duration"><%=get_program_time(p)%></span>
                 
                </a>
              </div> 
               <%#end%>
            <%end%>            
          </div>
        </section>
      </div>  
    </div>
    <%end%>
    <div class="contianer-fluid all_other_channels">
      <div class="detail-page-bottom-section-bg">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 pull-left">Other Channels</h2>   
              <a href="/all_channels" class="text-uppercase pull-right see-more" data-cat-name = "Other Channels">see more</a>
            </div>
          </div>
          <div id="other_channels" class="owl-carousel owl-theme">
            <%@all_channels.each do |c|%>
            <%if c['theme'] == "linear"%>
            <%if @item_details['friendly_id'] != c['friendly_id']%>
              <div class="item horizontal">
                  <a href="<%=get_item_url(c)%>">
                  <%if c["theme"] == "live"%>
                    <span class="live-txt text-uppercase all_channels_live_txt">live</span>
                  <%end%>
                    <img src="<%=c["thumbnails"]["small_16_9"]["url"]%>" class="rounded" alt="<%=c["title"]%>" title="<%=c["title"]%>">
                  </a>
              </div> 
            <%end%> 
            <%end%>    
            <%end%>        
          </div>
        </section>
      </div>  
    </div>
  <%else%>
    <%if @theme == "live"%>
     <%unless @more_livtev_items.empty?%>
    <div class="contianer-fluid">
      <div class="detail-page-bottom-section-bg">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <%more_live_cnt = @more_livtev_items.collect{|x|x if(!x["theme"].blank? && x["theme"] == "live" && x['friendly_id'] != @item_details['friendly_id'])}.compact.count%>
              <%if more_live_cnt > 0%>
              <h2 class="margin-bottom-15 pull-left heading_title_color" data-cat-name = "<%=@item_details['catalog_object']['plan_category_type']%>" style="<%=get_title_item_color(@item_details['catalog_object']['layout_scheme'])%>">More in <%=@item_details['catalog_object']['plan_category_type'].capitalize%> Live</h2>
             <!--  <a href="/<%#=params[:catalog_name]%>/<%#=@item_details['genres'][0].downcase%>/all" class="text-uppercase pull-right see-more">see more</a>  --> 
             <%end %>  
            </div>
          </div>
          <div id="more-livetv-carousel" class="owl-carousel owl-theme">
            <%@more_livtev_items.each do |gi|%>
            <%if gi['theme'] == "live"%>
              <%if @item_details['friendly_id'] != gi['friendly_id']%>
                <div class="item horizontal_title">
                  <a href="<%=gi['seo_web_url']%><%#=get_item_url(gi)%>" class="mr_it">
                    
                   <%if gi['access_control']['is_free'] == false && $region == "IN" %>
                      <span class="text-uppercase premium-txt">Premium</span>
                     <%end%>
                     <!-- <span class="live-txt text-uppercase all_channels_live_txt">live</span> -->
                    <img src="<%=gi["thumbnails"]["medium_16_9"]["url"]%>" class="rounded" alt="<%=gi["title"]%>" title="<%=gi["title"]%>">
                    <span class="list-tile-title"><%=gi['title']%></span>
                  </a>
                </div> 
              <%end%>
              <%end%>
            <%end%>            
          </div>
        </section>
      </div>  
    </div>
    <%end%>
    <%else%>
    <%if @associated_videos.count > 0%>
     <div class="contianer-fluid">
      <div class="detail-page-bottom-section-bg">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 pull-left">Associated Videos</h2>
              <!-- <a href="/<%#=@item_details['catalog_object']['friendly_id']%>/<%#=@item_details['genres'][0].downcase%>/all" class="text-uppercase pull-right see-more">see more</a>  -->   
            </div>
          </div>
          <div id="associated_videos" class="owl-carousel owl-theme">
            <%@associated_videos.each do |a|%>
              <div class="item">
                <a href="<%=a['seo_web_url']%><%#=get_item_url(gi)%>">
                 <%if a['access_control']['is_free'] == false && a['access_control']['premium_tag'] == true && $region == "IN"%>
                    <span class="text-uppercase premium-txt">Premium</span>
                   <%end%>
                   <%if @layout_type == "song" || @layout_type == "video" || @layout_type == "videos"
                    img_url = a["thumbnails"]["medium_16_9"]["url"]
                  else
                    img_url = a["thumbnails"]["medium_2_3"]["url"]
                  end
                    %>
                  <img src="<%=img_url%>" class="rounded" alt="<%=a["title"]%>" title="<%=a["title"]%>">
                </a>
              </div> 
            <%end%>            
          </div>
        </section>
      </div>  
    </div>
    <%end%>
    <%if @genere_items.count > 0 %>
      <div class="contianer-fluid">
      <div class="detail-page-bottom-section-bg">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 pull-left">More in <%=@item_details['genres'][0].capitalize%></h2>
              <a href="/<%=@item_details['catalog_object']['friendly_id']%>/<%=@item_details['genres'][0].downcase%>/all" class="text-uppercase pull-right see-more" data-cat-name = "<%=@item_details['genres'][0].capitalize%>">see more</a>    
            </div>
          </div>
          <div id="more-comedy-carousel" class="owl-carousel owl-theme">
            <%@genere_items.each do |gi|%>
              <div class="item">
                <a href="<%=gi['seo_web_url']%><%#=get_item_url(gi)%>" class = "see-more-item">
                 <%if gi['access_control']['is_free'] == false && gi['access_control']['premium_tag'] == true && gi['content_definition'] != "TVOD" && $region == "IN"%>
                    <span class="text-uppercase premium-txt">Premium</span>
                    
                   <%end%>
                   <%if gi["content_definition"] == "TVOD"%>              
                    <img src="/assets/buy.png" class="premium-txt">
                  <%end%>
                   <%if @layout_type == "song" || @layout_type == "video" || @layout_type == "videos"
                    img_url = gi["thumbnails"]["medium_16_9"]["url"]
                  else
                    img_url = gi["thumbnails"]["medium_2_3"]["url"]
                  end
                    %>
                  <img src="<%=img_url%>" class="rounded" alt="<%=gi["title"]%>" title="<%=gi["title"]%>">
                </a>
              </div> 
            <%end%>            
          </div>
        </section>
      </div>  
    </div>
    <%end%>
    <%end%>

  <%end%>
  <%=render "layouts/page_height_setting"%>
 
</div>

<div class="modal" id="add_watch_list">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h6 class="margin-bottom-10 margin-top-5">Login</h6>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
              You have to login to add to watchlist
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="watch_list_cancel">Cancel</a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="watch_list_confirm">Proceed</a>
              </p>
            </div>
          </div>   
        </div>
      </div>
    </div>

     <div class="modal" id="tvod_login_pop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h5 class="pull-left w-100 margin-bottom-5 margin-top-5">Login</h5>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt" id="tvod_pop_txt">
              You have not logged in. To buy the  movie please login 
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_login_tvod">cancel</a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="can_login">login</a>
              </p>        
            </div>
            <!-- <div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
              <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-light normal_txt">New User? <a href="javascript:void(0);" id="plans_register_link" class="link">Register</a></p>
            </div> -->
          </div>   
        </div>
      </div>
    </div>

<%=render "load_player"%>
<%=render "matomo_analytics"%>
<%= render "netcore_events"%>
<script type="text/javascript">
$(document).ready(function(){

$(".see-more-item").click(function(){
  var catalog_name = $(this).data("cat-name")
   localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","More in")

})

bt_cnt_type = "<%=det_item['theme']%>"
if(bt_cnt_type == "linear"){
  bt_cnt_type = "tv channel"
}else if(bt_cnt_type == "show"){
  bt_cnt_type = "episode"
}


    $(".mr_it").click(function(){
   localStorage.removeItem("nc_stream_src")
   localStorage.setItem("nc_stream_src","More in")
  });


var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
 var tvod_cnt = "<%= det_item["content_definition"]%>"
 if(tvod_cnt == "TVOD"){
  branch_pre_chk = "tvod"
 }else{
  branch_pre_chk  = pre_chk
 }

function Apxor_Stream_1_Sec(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start', {
"content_type": "<%= det_item['theme']%>" ,
'user_state': $.cookie('user_actv_sub_status'),
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "No",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"content_price": pre_chk,
"COUNTRY":user_region
 } ,"STREAM_EVENTS" )
}
 
  document.cookie = 'item_cnt_def' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  $.cookie('item_cnt_def',tvod_cnt, { expires: 14,path: '/'});
  localStorage.removeItem("mv_cnt_type")
  localStorage.removeItem("mv_tvod_url")
   setTimeout(function() {
    Netcore_Stream_40_Sec()
    //Apxor_Stream_40_Sec()
   },40000)
 
  setTimeout(function(){
    Apxor_Stream_1_sec()
   },5000)

   setTimeout(function() {
    Netcore_Stream_10_Min()
    //Apxor_Stream_10_Min()
   },600000)

  setTimeout(function() {
    Netcore_Stream_5_Min()
    //Apxor_Stream_5_Min()
   },300000)

  Netcore_Stream()
  Apxor_Stream()
  Netcore_item_Artwork_Tapped()
  Apxor_item_Artwork_Tapped()

  
function Netcore_Stream(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
smartech('dispatch', 'Stream', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_actv_sub_status'),
"source": localStorage.getItem("nc_stream_src"),
"category_name":"<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name") ,
"video_name":"<%= det_item['title']%>" ,
"genre":"<%= det_item['genres'].join(",")%>" ,
"language": $("#language").val() ,
"release_year_new1": release_date,
"full_screen":"No" ,
"subtitles":"English" ,
"chromecast":"No" ,
"quality":"Auto" ,
"watch_later":"No",
"share":"NA" ,
"consumption_type":"Online" ,
"content_type":"<%= det_item['theme']%>" ,
"content_id":"<%=det_item['content_id']%>" ,
"duration":"<%=det_item['duration_string']%>",
"COUNTRY":user_region
  } )


branch.logEvent(
  "Stream",
    {"content_type": bt_cnt_type ,
    "source": localStorage.getItem("nc_stream_src"),
    'user_state': $.cookie('user_actv_sub_status'),
    "category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
    "bucket_name": localStorage.getItem("nt_bucket_name"),
    "video_name": "<%= det_item['title'].gsub("'","")%>",
    "genre": "<%= det_item['genres'].join(",")%>",
    "language": $("#language").val(),
    "full_screen": "No",
    "subtitles": "<%= @sub_tit_url.blank? ?  "NA" : "English"%>",
    "my_list": "0" ,
    "chromecast":"No"  ,
    "quality": "Auto",
    "share": "sharing mode like whatsapp, email etc",
    "consumption_type":"Online"  ,
    "content_price": branch_pre_chk,
  },
  function(err) { console.log(err); }
);

}

function Netcore_Stream_40_Sec(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_actv_sub_status'),
"content_type": "<%= det_item['theme']%>" ,
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 } )


  branch.logEvent(
  "Stream_Start",
    {"content_type": bt_cnt_type ,
    "category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
    "video_name": "<%= det_item['title'].gsub("'","")%>"
  },
  function(err) { console.log(err); }
);



}

function Netcore_Stream_10_Min(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start_10Mins', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_actv_sub_status'),
"content_type": "<%= det_item['theme']%>" ,
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 })
}

function Netcore_Stream_5_Min(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start_5Mins', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_actv_sub_status'),
"content_type": "<%= det_item['theme']%>" ,
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 } )
}


function Netcore_item_Artwork_Tapped(){
  var user_region = $(".user_region").val()
smartech('dispatch', 'Artwork_Tapped', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_actv_sub_status'),
"source_page": localStorage.getItem("nc_stream_src"),
"video_name": "<%= @item_details['title']%>",
"source_bucket": localStorage.getItem("nt_bucket_name"),
"artwork_type":"<%= @item_details['theme']%>",
"COUNTRY":user_region
  } )

branch.logEvent(
"Artwork_Tapped",
  {
"source_page": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_actv_sub_status'),
"video_name": "<%= @item_details['title'].gsub("'","")%>",
"promo_unit": "",
"source_bucket":  localStorage.getItem("nt_bucket_name"),
"artwork_type": "<%= det_item['theme'] == "linear" ? "tv channel": det_item['theme'] %>",
"position_within_bucket": "",

  },
function(err) { console.log(err); }
);


}


// apxor  events

function Apxor_Stream(){
   var pre_chk =  "<%=@video_premium_status == true ? "premium" : "free" %>"
 var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
Apxor.logEvent("Stream", {
"source": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_actv_sub_status'),
"category_name":"<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name") ,
"video_name":"<%= det_item['title']%>" ,
"genre":"<%= det_item['genres'].join(",")%>" ,
"language": $("#language").val() ,
"release_year_new1": release_date,
"full_screen": "No" ,
"subtitles":"<%= @sub_tit_url.blank? ?  "None" : "English"%>" ,
"chromecast":"No" ,
"quality":"Auto" ,
"watch_later":"No",
"share":"sharing mode like whatsapp, email etc" ,
"consumption_type":"Online" ,
"content_type":"<%= det_item['theme'] == "linear" ? "tv channel": det_item['theme'] %>" ,
"content_id":"<%=det_item['content_id']%>" ,
"duration":"<%=det_item['duration_string']%>",
"my_list":  "0",
"content_price": branch_pre_chk,
"COUNTRY":user_region
  },"STREAM_EVENTS" )
}




function Apxor_Stream_10_Min(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start_10Mins', {
"content_type": "<%= det_item['theme']%>" ,
'user_state': $.cookie('user_actv_sub_status'),
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 },"STREAM_EVENTS" )
}




function Apxor_Stream_5_Min(){
var release_date = parseInt("<%=  det_item['release_date_string'].split("T")[0] unless det_item['release_date_string'].blank?%>")
var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start_5Mins', {
"content_type": "<%= det_item['theme']%>" ,
'user_state': $.cookie('user_actv_sub_status'),
"category_name": "<%= det_item['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%= det_item['title']%>",
"genre": "<%= det_item['genres'].join(",")%>",
"language": $("#language").val(),
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%=det_item['content_id']%>",
"duration": "<%=det_item['duration_string']%>",
"COUNTRY":user_region
 } ,"STREAM_EVENTS" )
}



function Apxor_item_Artwork_Tapped(){
  var user_region = $(".user_region").val()
Apxor.logEvent('Artwork_Tapped', {
"source_page": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_actv_sub_status'),
"video_name": "<%= @item_details['title']%>",
"source_bucket": localStorage.getItem("nt_bucket_name"),
"artwork_type":"<%= @item_details['theme']%>",
"position_within_bucket": "1",
"promo_unit": "",
"COUNTRY":user_region
  },"STREAM_EVENTS"  )
}



// $('ul.nav').find('li a.active').text()
  $(".fixed-top").css("box-shadow","none");
  $(".scrollmenuwrap").hide();
  $("#watch_list_cancel").click(function(){
    $("#add_watch_list").modal("hide");
  })

  $('.desc_show_more_icon').click(function() {
    $(this).hide();
    $('.desc_show_less_icon').show();
    $('.full_desc').show();
    $('.short_desc').hide();
  });
  $('.desc_show_less_icon').click(function() {
    $(this).hide();
    $('.desc_show_more_icon').show();
    $('.short_desc').show();
    $('.full_desc').hide();
  });
    var catalogid = $("#catalog_id").val();
    var contentid = $("#content_id").val();
    var video_category_type = $("#item_category").val();
    if(getShemarooCookies().user_id){
      if(video_category_type.length != 0 && getShemarooCookies().user_profile_type == "kids"){
       if(video_category_type != "kids"){
        window.location = "/kids"
       }
      else{
       $(".all_other_channels").hide();
        
      }
      }
    }
 
  var theme = "<%=@theme%>";
  if(theme.lengh != 0 && (theme == "linear" || theme == "live")){
    /*$("#header_tv_icon").prepend("<p>")*/
    $("#header_tv_icon").addClass("tv_highlighted");
    $("#tv_icon").attr("src","/assets/tv_active.svg")
  }
  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
    ];
    var layout_type = "<%=@layout_type%>"
    if(layout_type == "song" || layout_type == "video" || layout_type == "videos"){
      var items_0 = 1;
      var stage_padding = 50;
      var items_576 = 2;
      var items_768 = 3;
      var items_992 = 4;
      var items_1200 = 5
    }
    else{
      var items_0 = 2;
      var stage_padding = 25;
      var items_576 = 3;
      var items_768 = 4;
      var items_992 = 5;
      var items_1200 = 7;
    }
    $('#more-comedy-carousel,#associated_videos').owlCarousel({
    navText: navigation,
    loop:false,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 50,
    responsive:{
      0:{
          items:items_0,
          stagePadding: 25
      },
      576:{
          items: items_576
      },
      768:{
          items: items_768
      },
      992:{
          items: items_992
      },
      1200:{
          items: items_1200
      }
    }
  });


  $('#palying_next_programs,#other_channels,#more-livetv-carousel').owlCarousel({
    navText: navigation,
    loop:false,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 50,
    responsive:{
        0:{
            items:2,
            stagePadding: 25,
        },
        576:{
            items:2
        },
        768:{
            items:3
        },
         992:{
            items:4
        },
        1200:{
            items:5
        }
      }
    });

/*
var is_deep_link_url = "<%#=(params[:share_url].present?) ? "true" : "false"%>"
var isMobile = {
    android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    iphone: function() {
        return navigator.userAgent.match(/iPhone/i);
    },
    ipad: function() {
        return navigator.userAgent.match(/iPad/i);
    }
};

  var url = '';
  window.onload = function() {
    var share_url = $("#app_share_url").val();
    if(is_deep_link_url == "true"){
      if ((isMobile.iphone() || isMobile.ipad())) {
        url = "shemaroome://www.shemaroome.com?"+share_url
      }
      else if(isMobile.android()){
        url = "https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld"
      }
      if((isMobile.iphone() || isMobile.ipad() || isMobile.android())){
        window.location = url;
      }
    }
  } */


});
    

</script> 

<script type="text/javascript">
  
$(".shemaroo_player").empty();
  
</script> 

