<%
   meta title: "#{@episode_details['title']}",
    description: "#{@episode_details['description']}",
    keywords: "#{@episode_details['keywords']}"
%>
<div class="padding-top-80 padding-top-100 padding-top-60">
  <div class="contianer-fluid padding-left-0 padding-right-0">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-left-0 padding-right-0">
         <div class="margin-bottom-25 text-center banner-wrapper desktop_ads" style="display:none;">
                 <div id='div-gpt-ad-1585741893616-0' style='width: 728px; height: 90px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585741893616-0'); });
  </script>
</div>
      </div>
      <div class="player_section w-100 embed-responsive embed-responsive-16by9"  id="shemaroo_player">
        <img src="<%=@episode_details['thumbnails']['large_16_9']['url']%>" class="img-fluid" alt="" title="">
      </div>
    </div>  
  </div>
  <section class="full-width-content inside-container light margin-top-15 margin-bottom-10 relative-content">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <div class="margin-bottom-25 text-center banner-wrapper desktop_ads" style="display:none;">
          <div id='div-gpt-ad1-1585741893616-0' style='width: 728px; height: 90px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad1-1585741893616-0'); });
  </script>
</div>
      </div>
        <div class="player_desc_section margin-left-0 margin-top-0">
          <div class="video_feature1 pull-left">
           <input type="hidden" id="catalog_id" value="<%=@episode_details['catalog_id']%>">
            <input type="hidden" id="content_id" value="<%=@content_id%>">
            <input type="hidden" id="item_category" value="<%=@episode_details['catalog_object']['plan_category_type']%>">
           <!--  <input type="hidden" id="preview_available" value="<%#=(@episode_details.has_key?("preview") && @episode_details['preview']['preview_available'] == true) ? "true" : "false"%>"> -->
            <input type="hidden" id="preview_available" value="false">
            <input type="hidden" id="language" value="<%=@episode_details['language']%>">
            <input type="hidden" id="release_date" value="<%=@episode_details['release_date_string']%>">
            
            <!-- <input type="hidden" id="theme_type" value="<%#=@episode_details['catalog_object']['layout_type']%>"> -->
            <input type="hidden" id="theme_type" value="<%=@theme_type%>">
            <input type="hidden" id="genre" value="<%=@episode_details['genres'][0].capitalize%>">
            <input type="hidden" id="age" value="NA">
            <input type="hidden" id="gender" value="NA">
            <input type="hidden" id="user_state" value="Anonymous">
            <input type="hidden" id="user_period" value="NA">
            <input type="hidden" id="user_plan_type" value="NA">
            <input type="hidden" id="user_plan" value="NA">
            <input type="hidden" id="analytic_user_id" value="NA">
            <input type="hidden" id="app_share_url" value="<%=@episode_details['internal_share_url'].split("?")[1]%>">
            <input type="hidden" id="ma_title" value="<%=@episode_details['title']%>">
             <input type="hidden" id="branch_title" value="<%=@episode_details['title'].gsub("'","")%>">
            <input type="hidden" id="video_duration" value="<%=@episode_details['duration_string']%>">
            <input type="hidden" id="user_region" value="<%=$region%>">
            <input type="hidden" id="playable_entity" value="<%=(@episode_details.has_key?("play_type") && @episode_details["play_type"] == false) ? "false" : "true"%>">
            <input type="hidden" id="preview_coming_soon" value="">
            <h1 class="margin-bottom-15 margin-top-5"><%=@tvshow_name%></h1>
            <input type="hidden" value="1" id="page_no">
            <ul class="play_feature1 list-none padding-left-0 margin-bottom-20">
            <%if @episode_details.has_key?('item_caption')%>
              <%@episode_details['item_caption'].split("|").each do |s|%>
              <li><%=s%></li>
              <%end%>
            <%end%>
            </ul>
          </div>
          <input type="text" id="copy_link" value="<%=SITE%><%=request.fullpath%>">                      
          <div class="video_feature2  pull-right relative-content desktop_view_screen">  
            <ul class="play_feature2 list-none padding-left-0 margin-bottom-15">
            <%if !@video_preview.nil? && @video_preview['preview_available'] == true%>
              <!-- <li class="text-uppercase text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/preview.svg" class="text-center preview_video" alt="Preview" title="Preview" data-preview-time="<%#=get_preview_time(@video_preview)%>" data-preview-url="<%#=
                      @video_preview['ext_preview_url'].blank? ? "" : "#{get_preview_url(@video_preview['ext_preview_url'])}" %>">
                  <span>Preview</span>
                </a>
              </li> -->
               <li class="text-uppercase text-center">
                  <a href="javascript:void(0);">
                    <img src="/assets/trailer.png" class="text-center trailer_video" alt="Trailer" title="Trailer" id="Trailer" data-listitemid="">
                    <span>Trailer</span>
                  </a>
                </li>
             <%end%>
              <li class="text-uppercase text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/watch_later.svg" class="text-center watch_later" alt="Watch Later" title="Watch Later" id="watch_later" data-listitemid="">
                  <span>Watch Later</span>
                </a>
              </li>
              <li class="text-uppercase text-center share_social_icons">
                <a href="javascript:void(0);">
                  <img src="/assets/share.svg" class="text-center" alt="Share" title="Share">
                  <span>Share</span>
                </a>
                <ul class="share_feature list-none padding-bottom-10 padding-top-10">
                  <!-- <li>
                    <a href="https://plus.google.com/share?url=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/google_share.svg" class="text-center google" alt="Google" title="Google">                  
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="https://www.facebook.com/dialog/share?app_id=<%#=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%#=SITE%><%#=request.fullpath%>" target="_blank">
                      <img src="/assets/facebook_share.svg" class="text-center facebook" alt="Facebook" title="Facebook">                  
                    </a>
                  </li> -->
                  <li>
                    <!-- <a href="https://twitter.com/home?status=<%=SITE%><%=request.fullpath%>" target="_blank"> -->
                      <a href="https://twitter.com/intent/tweet?url=<%=SITE%><%=request.fullpath%>&text=Watch online  <%=@episode_details['title']%> - ShemarooMe" target="_blank">
                      <img src="/assets/twitter_share.svg" class="text-center twitter" alt="Twitter" title="Twitter">                  
                    </a>
                  </li>
                  <li class="margin-right-0">
                    <a href="javascript:void(0);">
                      <img src="/assets/copy_link.svg" class="text-center copy_link" alt="copy Link" title="copy link" id="<%=SITE%><%=request.fullpath%>"
                      onclick="copyLink()">                                        
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
        
          </div>  
          <p class="margin-bottom-20"><%=@episode_details['description']%></p>
          <%if @episode_details.has_key?("item_additional_data")%>
            <%unless @episode_details['item_additional_data'].empty?%>
              <%@episode_details['item_additional_data'].each do |k,v|%>
                <%unless v.empty?%>
                   <p class="margin-bottom-20">
                    <b><%=k%>:</b><br>
                     <%=v.join(",")%>
                  </p>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
          <div class="video_feature2  pull-right relative-content mobile_view_screen">  
            <ul class="play_feature2 list-none padding-left-0 margin-bottom-15 <%=get_item_box_type(@episode_details,"")%>">
            <%if @episode_details.has_key?('preview') && @episode_details['preview']['preview_available'] == true%>
              <li class="text-uppercase text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/preview.svg" class="text-center" alt="Preview" title="Preview">
                  <span>Preview</span>
                </a>
              </li>
             <%end%>
              <li class="text-uppercase text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/watch_later.svg" class="text-center watch_later" alt="Watch Later" title="Watch Later" id="watch_later" data-listitemid="">
                  <span>Watch Later</span>
                </a>
              </li>
              <li class="text-uppercase text-center share_social_icons">
                <a href="javascript:void(0);">
                  <img src="/assets/share.svg" class="text-center" alt="Share" title="Share">
                  <span>Share</span>
                </a>
                <ul class="share_feature list-none padding-left-20 padding-right-15 padding-bottom-10 padding-top-10">
                  <!-- <li>
                    <a href="https://plus.google.com/share?url=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/google_share.svg" class="text-center google" alt="Google" title="Google">                  
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="https://www.facebook.com/dialog/share?app_id=<%#=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%#=SITE%><%#=request.fullpath%>&redirect_uri=<%#=SITE%><%#=request.fullpath%>" target="_blank">
                      <img src="/assets/facebook_share.svg" class="text-center facebook" alt="Facebook" title="Facebook">                  
                    </a>
                  </li> -->
                  <li>
                    <a href="https://twitter.com/home?status=<%=SITE%><%=request.fullpath%>" target="_blank">
                      <img src="/assets/twitter_share.svg" class="text-center twitter" alt="Twitter" title="Twitter">                  
                    </a>
                  </li>
                  <li class="margin-right-0">
                    <a href="javascript:void(0);">
                      <img src="/assets/copy_link.svg" class="text-center copy_link" alt="copy Link" title="copy link" id="<%=SITE%><%=request.fullpath%>"
                      onclick="copyLink()">                                                          
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
        
          </div>  
        </div> 
               <div class="pull-left ad_section desktop_ads" style="display: none;">
          <div id="non_uc_browse_adds">
          <div id='div-gpt-ad-1585723049846-0' style='width: 300px; height: 250px;'>
            <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585723049846-0'); });
            </script>
          </div>
        </div>
            <div id ="uc_browser_ads" style="display: none">
              <div id='div-gpt-ad-1589367833644-0' style='width: 300px; height: 250px; display: none;' >
              <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589367833644-0'); });
              </script>
            </div>
          </div>
        </div>
      </div> 
    </div>
  <div class="add_unit" style="display: none !important">
      <div id='div-gpt-ad-1571401090315-0' style='width: 300px; height: 250px; display: none !important'>
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571401090315-0'); });
        </script>
      </div>
   </div>
    
    <%if @all_episodes.count > 0 %>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20">
          <h2 class="margin-bottom-15 text-capitalize w-100">All  <%= (@layout_type.present? && @layout_type.downcase) == "album" ? "songs" : "episodes"%></h2>
          <div class="row row-show-list detail_page" id="all_episodes">
            
           <%@all_episodes[0..9].each do |e|%>
            <div class="item rounded details_episode_horizontal_title">                  
              <a href="<%=e['seo_web_url']%><%#=get_item_url(e)%>">
               <%if e['access_control']['is_free'] == false && e['access_control']['premium_tag'] == true && $region == "IN"%>
                 <span class="text-uppercase premium-txt">Premium</span>
               <%end%>
                <img src="<%=e["thumbnails"]["small_16_9"]["url"]%>" class="rounded" alt="<%=e["title"]%>" title="<%=e['title']%>">
                <span class="list-tile-title"><%=e['title']%></span>
                <span class="list-tile-duration"><%=e['episode_number'] unless e['episode_number'].blank?%></span>
                <span class="list-tile-duration list-tile-duration2" style="<%= e["episode_number"].blank? ? "left:0px;": ""%>"><%unless e['episode_number'].blank? %>&nbsp;&nbsp;|&nbsp;&nbsp;<%end%><%=get_duration_time(e['duration_string'])%></span>
              </a>
            </div>              
           <%end%>  
           </div>  
          </div>  
          <%if @all_episodes.count > 10%> 
            <div class="w-100 text-center margin-bottom-25 margin-top-20" id="load_more_link">
            <a href="javascript:void(0);" class="inline-block radius-button black-button text-uppercase" id="load_more">Load more</a>
            </div> 
          <%end%>       
        </div>                      
    <%end%>
  <%=render "layouts/page_height_setting"%>
  
    <div class="toster-message-wrap" id="watch_later_pop">
      <div class="center-align-content">
        <div class="toster-message">
          <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
          <p id="watch_later_message">
            Added to watch later successfully
          </p>
        </div>
      </div>
    </div>

    <div class="toster-message-wrap" id="copy_link_pop">
      <div class="center-align-content">
        <div class="toster-message toster-message-small">
          <img src="/assets/password_updated.svg" alt="" title="">
          <p>
            Link Copied
          </p>
        </div>
      </div>
    </div>

  </section>
<%unless @other_items.empty?%>

    <div class="contianer-fluid">
      <div class="detail-page-bottom-section-bg">
        <section class="full-width-content padding-top-30 padding-bottom-10">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="margin-bottom-15 pull-left">Other <%=@catalog_name%></h2>
              <%if @other_items.count > 5 %>
                <a href="/<%=@other_items.first['catalog_object']['friendly_id']%>/others/all" class="text-uppercase pull-right see-more" data-cat-name = "<%=@catalog_name%>">see more</a>
              <%end%>    
            </div>
          </div>
          
          <div id="other-shows-carousel" class="owl-carousel owl-theme">
           <%@other_items.each do |t|%>
           <%if t["thumbnails"].has_key?("small_16_9")%>
              <div class="item horizontal_title details_shows_horizontal_title rounded">
                <a href="<%=get_item_url(t)%>" class="see-more-item">
                 <%if t['access_control']['is_free'] == false  && $region == "IN"%>
                  <span class="text-uppercase premium-txt">Premium</span>
                 <%end%>
                  <img src="<%=t["thumbnails"]["small_16_9"]["url"]%>" class="rounded" alt="<%=t['title']%>" title="<%=t['title']%>">
                  <span class="list-tile-title"><%=t['title']%></span>
                </a>
              </div> 
            <%end%>
            <%end%>            
          </div>              
        </section>
      </div>  
  </div>
  <%end%>
</div>

<div class="modal" id="add_watch_list">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h6 class="margin-bottom-10 margin-top-5">Login</h6>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
              You have to login to add to watchlist
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="watch_list_cancel">Cancel</a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="watch_list_confirm">Proceed</a>
              </p>
            </div>
          </div>   
        </div>
      </div>
    </div>


<%=render "load_player"%>
<%=render "matomo_analytics"%>
<%= render "netcore_events"%>

<script type="text/javascript">
$(document).ready(function(){
  document.cookie = 'item_cnt_def' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  $("#watch_list_cancel").click(function(){
    $("#add_watch_list").modal("hide");
  })
  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
    ];
 $('#other-shows-carousel').owlCarousel({
    navText: navigation,
    loop:false,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 50,
    responsive:{
      0:{
          items:1,
          stagePadding: 25,
      },
      576:{
          items:3
      },
      768:{
          items:4
      },
      1200:{
          items:5
      }
    }
  });
});
  
</script> 

<script type="text/javascript">

  $(".see-more-item").click(function(){
  var catalog_name = $(this).data("cat-name")
   localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","More in")

})

$("#shemaroo_player").empty();
$(document).ready(function(){

  bt_cnt_type = "<%=@episode_details['theme']%>"
if(bt_cnt_type == "linear"){
  bt_cnt_type = "tv channel"
}else if(bt_cnt_type == "show"){
  bt_cnt_type = "episode"
}


  var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
  if(tvod_cnt == "TVOD"){
  branch_pre_chk = "tvod"
 }else{
  branch_pre_chk  = pre_chk
 }
  function Apxor_Epi_Stream_1_Sec(){
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start', {
"content_type": "<%=  @episode_details['theme']%>" ,
'user_state': $.cookie('user_state'),
"category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": 0,
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"content_price": pre_chk,
"COUNTRY":user_region
 }  ,"STREAM_EVENTS")


 branch.logEvent(
  "Stream_Start",
    {"content_type": bt_cnt_type ,
    'user_state': $.cookie('user_state'),
    "category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
    "video_name": "<%=  @episode_details['title'].gsub("'","")%>"
  },
  function(err) { console.log(err); }
);
 
}


  Netcore_episode_Stream()
  Netcore_episode_Artwork_Tapped()
  Apxor_episode_Stream()
  Netcore_episode_Artwork_Tapped()

   setTimeout(function() {
    Netcore_Epi_Stream_40_Sec()
    //Apxor_Epi_Stream_40_Sec()
   },40000)

   setTimeout(function() {
    Netcore_Epi_Stream_10_Min()
    //Apxor_Epi_Stream_10_Min()
   },600000)

  setTimeout(function() {
    Netcore_Epi_Stream_5_Min()
    //Apxor_Epi_Stream_5_Min()
   },300000)

  setTimeout(function() {
    Apxor_Epi_Stream_1_Sec()
   },5000)





function Netcore_Epi_Stream_40_Sec(){
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start_40Sec', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_state'),
"content_type": "<%=  @episode_details['theme']%>" ,
"category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"COUNTRY":user_region
 } )
}

function Netcore_Epi_Stream_10_Min(){
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start_10Mins', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_state'),
"content_type": "<%=  @episode_details['theme']%>" ,
"category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"COUNTRY":user_region
 } )
}


function Netcore_Epi_Stream_5_Min(){
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
  smartech('dispatch', 'Stream_Start_5Mins', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_state'),
"content_type": "<%=  @episode_details['theme']%>" ,
"category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"COUNTRY":user_region
 } )
}


function Netcore_episode_Stream(){
  var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
console.log("netcore episode Netcore_Stream----------------------------")
smartech('dispatch', 'Stream', {
"user_id": getShemarooCookies().user_analytical_id,
'user_state': $.cookie('user_state'),
"category_name":"<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"source": localStorage.getItem("nc_stream_src"),
"video_name":"<%=  @episode_details['title']%>" ,
"genre":"<%=  @episode_details['genres'].join(",")%>" ,
"language":"<%=  @episode_details['language']%>" ,
"release_year_new1":release_date ,
"full_screen":"No" ,
"subtitles":"Engilish" ,
"chromecast":"No" ,
"quality":"Auto" ,
"watch_later":"No" ,
"share":"Twitter,copy link" ,
"consumption_type":"Online" ,
"content_type":"<%=  @episode_details['theme']%>" ,
"content_id":"<%= @episode_details['content_id']%>" ,
"duration":"<%=  @episode_details['duration_string']%>",
"COUNTRY":user_region
  } )

branch.logEvent(
  "Stream",
    {"content_type": bt_cnt_type ,
    "source": localStorage.getItem("nc_stream_src"),
    'user_state': $.cookie('user_state'),
    "category_name": "<%=  @episode_details['catalog_object']['plan_category_type']%>",
    "bucket_name": localStorage.getItem("nt_bucket_name"),
    "video_name": "<%=  @episode_details['title'].gsub("'","")%>",
    "genre": "<%=  @episode_details['genres'].join(",")%>",
    "language": "<%=  @episode_details['language']%>",
    "full_screen": "No",
    "subtitles": "<%= @sub_tit_url.blank? ?  "None" : "English"%>",
    "my_list": "0" ,
    "chromecast":"No"  ,
    "quality": "Auto",
    "share": "sharing mode like whatsapp, email etc",
    "consumption_type":"Online"  ,
    "content_price": pre_chk,
  },
  function(err) { console.log(err); }
);


}

function Netcore_episode_Artwork_Tapped(){
  var user_region = $(".user_region").val()
smartech('dispatch', 'Artwork_Tapped', {
"user_id": getShemarooCookies().user_analytical_id,
"source_page": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_state'),
"video_name": "<%=  @episode_details['title']%>",
"source_bucket":  localStorage.getItem("nt_bucket_name"),
"artwork_type": "<%=  @episode_details['theme']%>" ,
"COUNTRY":user_region
  } )

branch.logEvent(
"Artwork_Tapped",
  {
"source_page": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_state'),
"video_name": "<%=  @episode_details['title'].gsub("'","")%>",
"promo_unit":  "",
"source_bucket": localStorage.getItem("nt_bucket_name"),
"artwork_type":  "<%= @episode_details['theme'] == "linear" ? "tv channel": @episode_details['theme'] %>",
"position_within_bucket": "",

  },
function(err) { console.log(err); }
);

}



// apxor evnts--------------------------------







function Apxor_Epi_Stream_10_Min(){
var pre_chk =  "<%=@video_premium_status == "true" ?  "premium" : "free" %>"
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start_10Mins', {
"content_type": "<%=  @episode_details['theme']%>" ,
'user_state': $.cookie('user_state'),
"category_name": "<%= @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"content_price": pre_chk,
"COUNTRY":user_region
 } ,"STREAM_EVENTS" )
}




function Apxor_Epi_Stream_5_Min(){
var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
 Apxor.logEvent('Stream_Start_5Mins', {
"content_type": "<%=  @episode_details['theme']%>" ,
'user_state': $.cookie('user_state'),
"category_name": "<%= @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
"video_name": "<%=  @episode_details['title']%>",
"genre": "<%=  @episode_details['genres'].join(",")%>",
"language": "<%=  @episode_details['language']%>",
"release_year_new1": release_date,
"full_screen": "NO",
"subtitles": "English",
"chromecast":"No"  ,
"quality": "Auto",
"watch_later": "No" ,
"share": "NA",
"consumption_type":"Online"  ,
"content_id": "<%= @episode_details['content_id']%>",
"duration": "<%=  @episode_details['duration_string']%>",
"COUNTRY":user_region
 }  ,"STREAM_EVENTS")
 }




function Apxor_episode_Stream(){
  var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
  var release_date = parseInt("<%=  @episode_details['release_date_string'].split("T")[0] unless @episode_details['release_date_string'].blank?%>" )
  var user_region = $(".user_region").val()
console.log("Apxor episode Apxor_Stream----------------------------")
Apxor.logEvent('Stream', {
"category_name":"<%=  @episode_details['catalog_object']['plan_category_type']%>",
"bucket_name": localStorage.getItem("nt_bucket_name"),
'user_state': $.cookie('user_state'),
"source": localStorage.getItem("nc_stream_src"),
"video_name":"<%=  @episode_details['title']%>" ,
"genre":"<%=  @episode_details['genres'].join(",")%>" ,
"language":"<%=  @episode_details['language']%>" ,
"release_year_new1":release_date ,
"full_screen": "No" ,
"subtitles":"<%= @sub_tit_url.blank? ?  "None" : "English"%>" ,
"chromecast":"No" ,
"quality":"Auto" ,
"watch_later":"No" ,
"share":"sharing mode like whatsapp, email etc" ,
"consumption_type":"Online" ,
"content_type":"<%= @episode_details['theme'] == "linear" ? "tv channel": @episode_details['theme'] %>" ,
"content_id":"<%= @episode_details['content_id']%>" ,
"duration":"<%=  @episode_details['duration_string']%>",
"content_price": pre_chk,
"my_list":  "0",
"COUNTRY":user_region
  }  ,"STREAM_EVENTS")
}




function Apxor_episode_Artwork_Tapped(){
  var user_region = $(".user_region").val()
Apxor.logEvent('Artwork_Tapped', {
"source_page": localStorage.getItem("nc_stream_src"),
'user_state': $.cookie('user_state'),
"video_name": "<%=  @episode_details['title']%>",
"source_bucket":  localStorage.getItem("nt_bucket_name"),
"artwork_type": "<%=  @episode_details['theme']%>" ,
"position_within_bucket": "1",
"promo_unit": "",
"COUNTRY":user_region
  }  ,"STREAM_EVENTS")
}
  $(".fixed-top").css("box-shadow","none");
  $(".scrollmenuwrap").hide();

  var catalogid = $("#catalog_id").val();
  var contentid = $("#content_id").val();
   var video_category_type = $("#item_category").val();
    if(getShemarooCookies().user_id){
      if(video_category_type.length != 0 && getShemarooCookies().user_profile_type == "kids" && video_category_type != "kids"){
        window.location = "/kids"
      }
    }

  $("#load_more").click(function(){
    $(this).text("Load more...");
    var path = "";
    var current_path = window.location.pathname.split("/")
    if(current_path.length == 3){
      path = window.location.pathname+"/all_episodes";
    }
    else{
      path = "/"+current_path[1]+"/"+current_path[2]+"/all_episodes";
    }
    var pageno = $("#page_no").val();
    $.ajax({
    url: path,
    type: "GET",
    data: { 
     page_no: pageno 
    },
    success: function(response){
      $("#load_more").text("Load more")
      var episodes = response.episodes;
      $("#page_no").val(response.pageno);
      for (var i=0; i< episodes.length; i++){
        var item_det = episodes[i].split("$");
        $("#all_episodes").append('<div class="item details_episode_horizontal_title"><a href="'+item_det[3]+'"><span class="text-uppercase premium-txt" style="display:'+(item_det[5] == "true" ? "none" : "")+'">Premium</span><img src="'+item_det[1]+'" alt="'+item_det[0]+'" title="'+item_det[0]+'"><span class="list-tile-title">'+item_det[0]+'</span><span class="list-tile-duration">'+item_det[4]+' |&nbsp;&nbsp;'+item_det[2]+'</span></a></div>')
      }
      if(response.next_page == "false"){
       $("#load_more_link").hide();
      }
    }
  });
  })
})

/*function listener(event){
  var current_url = window.location.protocol + "//" + window.location.host;
  var url = "";
  if (current_url == "http://localhost:3000"){
    url = "http://localhost:3000";
  }
  else if (current_url == "http://staging.shemaroome.com"){
    url = "http://staging.shemaroome.com";
  }
  else if (current_url == "http://52.220.137.44:3000"){
    url = "http://52.220.137.44:3000";
  }
  else if(current_url == "http://origin.staging.shemaroome.com"){
    url = "http://origin.staging.shemaroome.com";
  }


  

  if (event.origin !== url)
  return
    switch(event.data.ga_event){
    case 'loginpop':
      window.location = "/users/login"
    break;
   }  
 }
 if (window.addEventListener){
    addEventListener("message", listener, true)
  } else {
    attachEvent("onmessage", listener)
  }*/
/* $(document).ready(function(){


var is_deep_link_url = "<%#=(params[:share_url].present?) ? "true" : "false"%>"
var isMobile = {
    android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    iphone: function() {
        return navigator.userAgent.match(/iPhone/i);
    },
    ipad: function() {
        return navigator.userAgent.match(/iPad/i);
    }
};

  var url = '';
  window.onload = function() {
  var share_url = $("#app_share_url").val();
    if(is_deep_link_url == "true"){
      if ((isMobile.iphone() || isMobile.ipad())) {
        url = "shemaroome://www.shemaroome.com?"+share_url
      }
      else if(isMobile.android()){
        url = "https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld"
      }
      if((isMobile.iphone() || isMobile.ipad() || isMobile.android())){
        window.location = url;
      }
    }
  }
}); */
</script> 


