<div class="contest-app-page static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
    	<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
        	<div class="float-left w-100 contest-banner">
        		<img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">
        	</div>
        </div>
      </div>
      <!-- Screen 1 -->
      <!-- <div class="row login_screen1">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack font-size6 shemaroo-color9 mb-4 text-uppercase">Registration</h1>
          <p class="float-left w-100 text-center font-mbold font-size4 shemaroo-color9 mb-4" style="letter-spacing: -0.12px">Enter your mobile number</p>
          <div class="float-left w-100 pl-4 pr-4">
	          <div class="input-group mt-2 mt-4 pl-2 pr-2">
	            <input type="text" id="country_code" name="country_code" class="" readonly="" value="+91" style="letter-spacing: -0.11px">
	            <input type="number" id="" name="mobile_number" class="form-control font-mregular font-size5" style="letter-spacing: -0.11px">
	            <span class="input-label font-mregular font-size5" style="letter-spacing: -0.11px">Mobile Number</span>
	            <label class="error font-mregular" id="fb_mobile_error_msg" style="margin-left: 95px; bottom: -3px;">This field is mandatory</label>
	          </div>
	        </div>  
          <div class="float-left w-100 app-d-flex h-center">
          	<a href="javascript:void(0);" class="btn font-mbold font-size5 shemaroo-color6">Get OTP</a>
          </div>
        </div>
      </div> -->
      <!-- Screen 2 -->
      <!-- <div class="row login_screen2"> 
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack font-size6 shemaroo-color9 mb-4 text-uppercase">Registration</h1>
          <p class="float-left w-100 text-center font-mbold font-size4 shemaroo-color9 mb-4" style="letter-spacing: -0.12px">Enter your mobile number</p>
          <p class="float-left w-100 text-center font-mregular font-size1 shemaroo-color9 mb-4" style="letter-spacing: -0.1px">+91XXXXX 67493</p>
          <div class="float-left w-100 pl-4 pr-4">
	          <div class="input-group mt-2 mt-4 mb-2 pl-2 pr-2">
	            <input type="number" id="" name="" class="form-control font-mregular font-size5" style="letter-spacing: -0.11px">
	            <span class="input-label font-mregular font-size5" style="letter-spacing: -0.11px">Enter OTP</span>
	            <label class="error font-mregular" id="fb_mobile_error_msg" style="margin-left: 95px; bottom: -3px;">This field is mandatory</label>
	          </div>
	        </div>  
          <div class="float-left w-100 app-d-flex h-center">
          	<a href="javascript:void(0);" class="btn font-mbold font-size5 shemaroo-color6">Submit OTP</a>
          </div>
        </div>
      </div> -->

      <!-- Screen 3 -->
      <!-- <div class="row contest_screen">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">          
          <div class="float-left w-100 app-d-flex hv-center text-center mb-5 margin-top-20 pl-4 pr-3">
	          <p class="float-left margin-right-20 mb-0 text-uppercase font-mblack font-size1 shemaroo-color9">Contests</p>
	          <label class="switch mb-0 float-left mr-3">
						  <input type="checkbox">
						  <span class="slider round"></span>
						</label>
						<p class="float-left mb-0 font-mbold font-size1 shemaroo-color5 text-uppercase">Winners</p>
					</div>		
        </div>
        <div class="float-left w-100 pl-3 pr-3">
        	<div class="thumb-list relative-content mb-4">
        		<img src="/assets/contest/banner.png" class="img-fluid mb-3" alt="" title="">
        		<p class="thumb-btn thumb-btn1 app-d-flex hv-center font-mbold font-size5 shemaroo-color6">Play Now</p>
        	</div>
        	<div class="thumb-list relative-content mb-4">
        		<img src="/assets/contest/banner.png" class="img-fluid mb-3" alt="" title="">
        		<p class="thumb-btn thumb-btn2 app-d-flex hv-center font-mbold font-size2 shemaroo-color6 text-center">Live in 2 days<br>00:00:00</p>
        	</div>
        </div>
      </div> -->

      <!-- Screen 4     
      <div class="float-left w-100 text-center relative-content lang_wrap">
      	<p class="float-left margin-bottom-20 text-uppercase font-mbold font-size2 shemaroo-color3">Select language</p>
      	<p id="select_language" class="float-left margin-bottom-20 text-uppercase font-mregular shemaroo-color2" style="font-size: 15px;">
      		<span class="margin-right-20">English</span><i class="fa fa-caret-down" aria-hidden="true"></i>
      	</p>
      	<ul class="list-none pl-0 pb-2 mb-0">
      		<li class="selected_language text-left"><span class="margin-right-20">English</span><i class="fa fa-caret-up" aria-hidden="true"></i></li>
      		<li class="text-left">Hindi</li>
      		<li class="text-left">Marathi</li>
      	</ul>
      </div>
      <div class="float-left w-100 text-center pl-3 pr-3 question_wrap">
      	<div class="float-left w-100 app-d-flex hv-center question-box">
      		<p class="mr-2 font-mblack font-size2 shemaroo-color2 mb-0">Q&nbsp;:</p>
      		<p class="font-mblack font-size2 shemaroo-color2 mb-0 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum, purus a tristique tempor, lacus sapien accumsan felis, a vestibulum odio purus iaculis orci.</p>
      	</div>
      	<div class="float-left w-100 app-d-flex pl-4 pr-4 mb-4">
      		<div class="float-left w-100 answer-option-box">
	      		<ul class="float-left list-none mb-0 p-0 w-100">
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Hema" name="radio-group" class="" value="">
	              <label for="Hema" class="mb-0 shemaroo-color2  font-mbold font-size1">Hema</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Rekha" name="radio-group" class="" value="">
	              <label for="Rekha" class="mb-0 shemaroo-color2 font-mbold font-size1">Rekha</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Jaya" name="radio-group" class="" value="">
	              <label for="Jaya" class="mb-0 shemaroo-color2 font-mbold font-size1">Jaya</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Shushma" name="radio-group" class="" value="">
	              <label for="Shushma" class="mb-0 shemaroo-color2 font-mbold font-size1">Shushma</label>
	      			</li>
	      		</ul>
	      	</div>	
      	</div>

      	<div class="float-left w-100 app-d-flex hv-center question-box">
      		<p class="mr-2 font-mblack font-size2 shemaroo-color2 mb-0">Q&nbsp;:</p>
      		<p class="font-mblack font-size2 shemaroo-color2 mb-0 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum, purus a tristique tempor, lacus sapien accumsan felis, a vestibulum odio purus iaculis orci.</p>
      	</div>
      	<div class="float-left w-100 app-d-flex pl-4 pr-4 mb-4">
      		<div class="float-left w-100 answer-option-box">
	      		<ul class="float-left list-none mb-0 p-0 w-100">
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Hema" name="radio-group" class="" value="">
	              <label for="Hema" class="mb-0 shemaroo-color2  font-mbold font-size1">Hema</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Rekha" name="radio-group" class="" value="">
	              <label for="Rekha" class="mb-0 shemaroo-color2 font-mbold font-size1">Rekha</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Jaya" name="radio-group" class="" value="">
	              <label for="Jaya" class="mb-0 shemaroo-color2 font-mbold font-size1">Jaya</label>
	      			</li>
	      			<li class="float-left text-left w-100 app-d-flex v-center">
	      				<input type="radio" id="Shushma" name="radio-group" class="" value="">
	              <label for="Shushma" class="mb-0 shemaroo-color2 font-mbold font-size1">Shushma</label>
	      			</li>
	      		</ul>
	      	</div>	
      	</div>

      </div>
      <div class="float-left w-100 app-d-flex h-center mt-3 mb-2">
      	<a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6">Submit Answer</a>
      </div>
      <p class="float-left w-100 font-mbold font-size2 text-center mb-3 pb-1 shemaroo-color3" style="letter-spacing: -0.09px;">Read <a href="javascript:void(0);" class="text-underline" style="color: #001DFF;">Terms and Conditions*</a></p>-->  
		<!-- Screen 6 -->      
			<!-- <div class="float-left w-100 pl-3 pr-3">
				<div id="date_carousel" class="owl-carousel owl-theme relative-content">        
	        <div class="item">
	        	<p class="float-left w-100 text-center date font-mbold font-size4 shemaroo-color9 mb-3">15 Sept. 2020</p>
	        	<div class="float-left w-100 thumb-list relative-content mb-3">
	        		<img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">        		
	        	</div>
	        	<h1 class="float-left w-100 text-center shemaroo-color9 font-size6 shemaroo-color9 text-uppercase font-mblack mb-3">Winners</h1>
	        	<ul class="float-left winners-list-wrap list-none p-0 mb-3">
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        	</ul>
	        </div>
	        <div class="item">
	        	<p class="float-left w-100 text-center date font-mbold font-size4 shemaroo-color9 mb-3">16 Sept. 2020</p>
	        	<div class="float-left w-100 thumb-list relative-content mb-3">
	        		<img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">        		
	        	</div>
	        	<h1 class="float-left w-100 text-center shemaroo-color9 font-size6 shemaroo-color9 text-uppercase mb-3">Winners</h1>
	        	<ul class="float-left winners-list-wrap list-none p-0 mb-3">
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name1<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        		<li class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 pt-3 pb-3">Winner Name<br>+91XXXXX 67493</li>	
	        	</ul>
	        </div>
	      </div>
	    </div> -->  

      <!-- Screen 7 -->

      <!-- <div class="row thanks_screen">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack shemaroo-color9 mb-4 text-uppercase">Thank You!</h1>
          <p class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 mb-5 margin-top-20 pl-4 pr-3">Winner of Geet Contestwill be announs after 30/09/2020</p>
          <div class="float-left w-100 app-d-flex h-center mt-3">
          	<a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6">Home</a>
          </div>
          <p class="float-left w-100 text-center font-mbold font-size1 shemaroo-color9 mb-3 margin-top-20">Tell your friends about this contest</p>
          <div class="float-left w-100 app-d-flex h-center mb-4 pb-2">
          	<img src="/assets/contest/facebook.svg" class="margin-left-10 margin-right-10" alt="Facebook" title="Facebook">
          	<img src="/assets/contest/whatsapp.svg" class="margin-left-10 margin-right-10" alt="Twitter" title="Twitter">
          	<img src="/assets/contest/twitter.svg" class="margin-left-10 margin-right-10" alt="Facebook" title="Facebook">
          </div>
        </div>
      </div> -->
      

    </div>
  </section>
</div>
<script>
	$(document).ready(function() {
		$('.header-section, .footer-section').hide();
		var window_height = window.innerHeight;
		var contest_banner_height = $(".contest-banner").innerHeight();
		$(".onboarding-bg").css({"min-height": (window_height-60)+"px"});
  	$("#chs_pln").removeClass('mt-5')
  	$('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector,.plans-bg').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
  	$(".plans-summary-container").css("padding-top","0px")

  	var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/contest/left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/contest/right_arrow.svg" alt="" title=""></span>'
    ];

  	$("#date_carousel").owlCarousel({
      loop: false,
      margin: 3,
      nav: true,
      dots: false,
      navText: navigation,
      items: 1
    });

  	$("#select_language").click(function() {
  		$(".lang_wrap ul").show().css({"opacity": "1"})
  	});

  	$(".lang_wrap ul li, .lang_wrap ul:not(li.selected_language)").click(function() {
  		$(".lang_wrap ul").hide().css({"opacity": "0"})
  	});
  	
	});
</script>
