<%
meta title: "#{@meta_title}",
    description: "#{@meta_desc}",
     keywords: "#{@meta_keywords}"
%>
<section class="main-content">
  <div class="slick-parent-container-inner">
    <div class="float-left w-100 landing-page"> 
      <%#if @header_tabs_links.include?(@catalog_name)%>
       <div class="float-left w-100 banner-slider">
        <div class="single-slide">
          <div id="banner-carousel" class="owl-carousel owl-theme">
           
          <%@items_list[0]['catalog_list_items'].each do |i|%>
            <%page_url,cls_name = get_banner_item_url(i)%>
            <div class="item">
              <a href="<%=page_url%>" class="float-left w-100  <%=cls_name%>">
                <%if i["access_control"]["is_free"] == false && i["access_control"]["premium_tag"] == true && $region == "IN"%>
                       <span class="banner-premium-img"><img src="/assets/premium.svg" alt="" title=""></span>
                <%end%>
                <div class="masthead-card">
                  <div class="image-holder">
                    <div class="imageloader loaded">
                      <img src="<%=get_banner_image_url(i,@items_list[0]["layout_type"])%>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag free_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>">
                      <img src="<%= (i["thumbnails"]["subscribed_banner"].present? && i["thumbnails"]["subscribed_banner"]["url"].present?) ? i["thumbnails"]["subscribed_banner"]["url"] : get_banner_image_url(i,@items_list[0]["layout_type"]).present? ? get_banner_image_url(i,@items_list[0]["layout_type"]) : "" %>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag subscribe_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>" style="display: none !important;">
                      <img src="<%= (i["thumbnails"]["nonsubscribed_banner"].present? && i["thumbnails"]["nonsubscribed_banner"]["url"].present?) ? i["thumbnails"]["nonsubscribed_banner"]["url"] : get_banner_image_url(i,@items_list[0]["layout_type"]).present? ? get_banner_image_url(i,@items_list[0]["layout_type"]) : ""%>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag non_subscribe_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>" style="display: none !important;">
                      
                    <img src="<%=get_banner_image_url(i,@items_list[0]["layout_type"])%>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag free_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>">
                    <img src="<%= (i["thumbnails"]["subscribed_banner"].present? && i["thumbnails"]["subscribed_banner"]["url"].present?) ? i["thumbnails"]["subscribed_banner"]["url"] : get_banner_image_url(i,@items_list[0]["layout_type"]) rescue "" %>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag subscribe_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>" style="display: none !important;">
                    <img src="<%= (i["thumbnails"]["nonsubscribed_banner"].present? && i["thumbnails"]["nonsubscribed_banner"]["url"].present?) ? i["thumbnails"]["nonsubscribed_banner"]["url"] : get_banner_image_url(i,@items_list[0]["layout_type"]) rescue "" %>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag non_subscribe_banner" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>" style="display: none !important;">
                      </div>
                      <div class="container"></div>
                    </div>
                    <!-- <div class="image-desc">
                        <h4 class="font-black">Best of</h4>
                        <h2 class="font-black text-uppercase mb-0">Dilip <br>Kumar</h2>
                    </div> -->
                </div>                      
              </a>
            </div>
          <%end%>
          </div>
        </div>
      </div> 
     <%#else%>
      <!-- <div class="float-left w-100 banner-slider mt-0">
        <div class="float-left w-100 browser-banner-wrap relative-content">
          <img src="<%#=get_browse_img(@catalog_name)%>" alt="" title="" class="w-100">
          <p class="font-black app-color1 mb-0">Browse</p>
          <h2 class="font-black app-color1 mb-0"><%#= @catalog_name.gsub(/-/, ' ').split.map(&:capitalize).join(' ') %></h2>
        </div>
      </div> -->
     <%#end%> 
      <div class="float-left w-100 slick-area">
        <div class="slicks-container">
          <div class="float-left w-100 slicks">
            <div class="float-left w-100">
              <% new_index = 2 %>
              <%@items_list.each_with_index do |list,index|%>
                
                <% if list['catalog_list_items'].blank?  
                  new_index = new_index + 1
                end
                 %>  
                <%if index != 0%>
                  <%if @items_list[index]["layout_type"] != "t_subscription" %>
                    <%unless list['catalog_list_items'].blank?%>
                      <div class="float-left w-100 slick-container slick-gap">
                        <div class="float-left w-100 slick-wrapper">
                          <div class="float-left w-100 app-slick-carousel">
                            <%if index == new_index%>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- show_item_color">
                                  <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
                                    <div class="margin-bottom-25 text-center banner-wrapper desktop_ads" style="display:none;">
                                    <div id='div-gpt-ad-1585741893616-0' style='width: 728px; height: 90px;'>
                                    <script>
                                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585741893616-0'); });
                                    </script>
                                    </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <%end%>

                            <%#if list["home_link"].blank?
                              url = "javascript:void(0)"
                            else
                              
                            end
                            %>
                            <%url = get_list_url(list)%>
                            <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                              <a href="<%=list["layout_type"] == "t_16_9_epg" ? "#{get_item_url(list['catalog_list_items'].first)}" : "#{url}"%>" id="show_catalog_title_<%=index%>" class="w-50" style="display:none;">
                               <h2 class="section-title big-desktop-app-font3 app-color1" ><%=list['ml_display_title'] rescue list['display_title']%></h2>
                              </a>
                              <a href="<%=list["layout_type"] == "t_16_9_epg" ? "#{get_item_url(list['catalog_list_items'].first)}" : "#{get_list_url(list)}"%>"  data-cat-name = "<%=list['display_title']%>" class="more w-50 see-more all_items_<%=index%>" style="display:none;"><%= get_lang_string("see_all")%></a>
                            </div>
                            <div id="catalog_lists_<%=index%>"  data-item-det="<%=@items_list[index]["layout_type"]%>$<%= list["layout_type"] == "t_16_9_epg" ? "#{list['catalog_list_items'].collect{|x|x['programs']}.compact.flatten.count}" : list['catalog_list_items'].count%>" class="float-left w-100 app-slick-slider-container">
                              <div class="square2 slider responsive">
                               <%list['catalog_list_items'].each_with_index do |item,j|%>
                                  <div style="width: 100%; display: inline-block;">
                                    <div class="slick-vertical-thumb actual_item"   data-bucket-name = "<%=list['display_title']%>">
                                      <article class="slick-vertical-thumb">
                                        <a href="<%=get_lang_url(item['seo_web_url'])%>" class= "<%= item["theme"] == "live" ? "netcore_live" : "cat_lis_itm"%>" data-channel-name ="<%=item["title"]%>" id="<%=list['display_title']%>">
                                          <div class="thumbnail-container">
                                            <div class="card-img-container">
                                              <img src="<%=get_image_url(item,@items_list[index]["layout_type"])%>"   class="img-loader lazy-img-loader loaded" loading="lazy" alt="">
                                            </div>

                                            <div class="h-center">
                                              <%if item["theme"] == "live"%>
                                                <span class="live-txt text-uppercase all_channels_live_txt"><%= get_lang_string("live")%></span>
                                              <%end%>
                                              <%if item["content_definition"] == "TVOD"%>
                                                  <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                              <%#elsif item["access_control"]["is_free"] == false  && item["access_control"]["premium_tag"] == true && item["content_definition"] != "TVOD" && $region == "IN"%>
                                                 <!-- <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span> -->
                                              <%end%>
                                            </div> 
                                            <!-- <div class="app-d-flex justify-content-end">
                                              <%# if item['access_control']['is_free'] == true && item['theme'] == "episode"%>
                                              <span class="free-txt text-uppercase"><%#= get_lang_string("free")%></span>
                                              <%# end %>
                                            </div> -->
                                            <div class="slick-thumb-details">
                                              <div class="content-title ellipsize">
                                                <h2 class="font-black"><%#= item['title']%></h2>
                                                </div>
                                            </div>
                                          </div>
                                        </a>
                                      </article>
                                    </div>
                                    <%if j == 0 && item['theme'] == "linear"%>
                                      <%unless item['programs'].empty?%>
                                        <%item['programs'].each_with_index do |p,program_index|%>
                                          <div class="slick-vertical-thumb">
                                            <article class="slick-vertical-thumb">
                                              <a href="<%=program_index == 0 ? "#{get_item_url(item)}" : "javascript:void(0);"%>">
                                                <div class="thumbnail-container">
                                                  <div class="card-img-container">
                                                     <img src="<%=p['thumbnails']['small_16_9']['url']%>" class="img-loader lazy-img-loader loaded" alt="<%=p["title"]%>" title="<%=p["title"]%>">
                                                  </div>
                                                  <div class="h-center">
                                                    <%if p.has_key?("access_control") && p["access_control"]["is_free"] == false && p["access_control"]["premium_tag"] == true && $region == "IN"%>
                                                   <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                                  <%end%>
                                                  <%if program_index == 0%>
                                                  <span class="playingnow-txt text-uppercase">playing now</span>
                                                  <%elsif program_index ==  1%>
                                                  <span class="playing-next text-uppercase"><img src="/assets/program_next.png" />playing next</span>
                                                  <%else%>
                                                  <span class="upcoming text-uppercase"><img src="/assets/program_next.png" />upcoming</span>
                                                  <%end%>                                           </div> 
                                                  <div class="slick-thumb-details">
                                                    <div class="content-title ellipsize"><%=p['title']%></div>
                                                    <div class="sub-info ellipsize"><%= p['item_caption']%></div>
                                                  </div>
                                                </div>
                                              </a>
                                            </article>
                                          </div>
                                        <%end%>
                                      <%end%>
                                    <%end%>
                                  </div>
                                <%end%>
                              </div>  
                            </div>
                          </div>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            </div>
            <!-- <div class="float-left w-100 relative-content relative-content-scroll" style="padding-bottom: 0px;">
              <div class="float-left w-100 get_more_items"></div>  
              <div class="scroll_loader">
              </div>  
            </div> -->
            <div class="float-left w-100 relative-content mt-4 pt-3 mb-4 pb-3 app-d-flex h-center" style="padding-bottom: 0px;">
                <a href="<%= params[:lang].present? ? "/#{params[:lang]}" : ""%>/all_channels_playlist/<%=@channel_home_link%>" class="pink-btn app-d-flex hv-center font-bold" id="all_channel_list"><%= get_lang_string("view_all_channel")%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<input type="hidden" value="2" id="page_no">
<input type="hidden" value="true" id="next_page">
<input type="hidden" id="category_title" value="<%=  @cat_link_name%>">

<%=render "layouts/page_height_setting"%>
<%=render "catalogs/set_user_profile_cookies"%>
<%=render "catalogs/branch_banner_events"%>
<style>
  /*.slicks-container {
    max-width: calc(100vw - 304px);
  }
  .slicks-container > .slicks {
    margin-left: -100px;
  }*/
  .slick-wrapper .slick-list {
    padding: 0px 170px !important;
    padding-left: 0 !important;
  }
  .square2.slick-initialized .slick-slide:before {
    left: 140px;
  }
  .slick-initialized .slick-slide:before {
    left: 13%;
    width: 170px;
  }
  .slick-initialized .slick-slide:after {
    right: 13%;
    width: 170px;
    display: none;
  }
  /*.app-slick-container a.more, .tab-pane a.more {
    position: absolute;
    right: -90px;
  }*/
  .slick-thumb-details .content-title h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-left: 12px;
    width: 55%;
  }
  .slick-initialized article.expand.slick-vertical-thumb, article.expand.slick-horizontal-thumb {
    -webkit-transform: scale3d(1.1, 1.05, 1) translate3d(0, 0, 0) perspective(500px);
    transform: scale3d(1.1, 1.05, 1) translate3d(0, 0, 0) perspective(500px);
    z-index: 4;
  }
  .slick-thumb-details {
    display: block;
  }
  #all_channel_list {
    background: #D51F53 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-size: 20px;
    height: 54px;
    width: 280px;
  }
  .slick-thumb-details {
    padding-top: 40%;
  }
  @media(max-width: 1199px) {
    /*.slicks-container {
      max-width: calc(100vw - 170px);
    }
    .slicks-container > .slicks {
      margin-left: -70px;
    }*/
    .slick-thumb-details .content-title h2 {
      width: 60%;
    }
    .slick-wrapper .square2 .slick-list {
      padding: 0px 140px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 100px;
    }
    /*.app-slick-container a.more, .tab-pane a.more {
      position: absolute;
      right: -40px;
    }*/
    .slick-thumb-details .content-title h2 {
      font-size: 26px;
      line-height: 26px;
    }
    .banner-slider .image-desc h4 {
      font-size: 36px;
      line-height: 44px;
    }
    .banner-slider .image-desc h2 {
      color: #fff;
      font-size: 60px;
      line-height: 50px; 
    }
    .slick-thumb-details .content-title h2 {
      margin-left: 0;
    }
  }
  @media(max-width: 991px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 80px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 80px;
    }
    .slick-initialized .slick-slide:after {
      display: none;
    }
    .slick-thumb-details .content-title h2 {
      font-size: 24px;
      line-height: 24px;
    }
    .banner-slider .image-desc h4 {
      font-size: 32px;
      line-height: 36px;
    }
    .banner-slider .image-desc h2 {
      color: #fff;
      font-size: 50px;
      line-height: 48px; 
    }
  }
  @media(max-width: 767px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 90px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 20px;
    }
    .slicks-container > .slicks {
      margin-left: 0;
    }
    /*.app-slick-container a.more, .tab-pane a.more {
      right: -100px;
    }*/
    .slick-thumb-details .content-title h2 {
      font-size: 21px;
      line-height: 21px;
    }
    .banner-slider .image-desc h4 {
      font-size: 28px;
      line-height: 32px;
    }
    .banner-slider .image-desc h2 {
      color: #fff;
      font-size: 42px;
      line-height: 38px; 
    }
  }
  @media(max-width: 440px) {
    /*.slicks-container {
      max-width: calc(100vw - 120px);
    }
    .app-slick-carousel .w-50 {
      width: 80% !important;
    }*/
    .slick-wrapper .square2 .slick-list {
      padding: 0px 60px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 20px;
    }
    /*.app-slick-container a.more, .tab-pane a.more {
      right: -80px;
    }*/
    .slick-thumb-details .content-title h2 {
      font-size: 17px;
      line-height: 17px;
      width: 96%;
    }
    .banner-slider .image-desc h4 {
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 5px;
    }
    .banner-slider .image-desc h2 {
      color: #fff;
      font-size: 32px;
      line-height: 28px; 
    }
  }
</style>

  <script type="text/javascript">
    $("#all_channel_list").click(function(){

      Apxor.logEvent('ViewAll_Playlist_button', {
        "source": "Channel playlist",
        "content_type": "Channel playlist",
        "channel_name": "all channels playlists",
        "channel_category_name": "bollywood_classic",
        "channel_language": "hindi"
      } ,"ViewAll_Playlist_button" )

      smartech('dispatch', 'ViewAll_Playlist_button', {
        "source": "Channel playlist",
        "content_type": "Channel playlist",
        "channel_name": "all channels playlists",
        "channel_category_name": "bollywood_classic",
        "channel_language": "hindi"    
      });

      branch.logEvent(
        "ViewAll_Playlist_button",
          {"source": "Channel playlist",
           "content_type": "Channel playlist",
           "channel_name": "all channels playlists",
           "channel_category_name": "bollywood_classic",
           "channel_language": "hindi"
        },
        function(err) { console.log(err); }
      );

    })
  </script>
<script type="text/javascript">
  $(document).ready(function(){
     if (getShemarooCookies().user_id){
      if (getShemarooCookies().user_actv_sub_status == "Subscribed"){
        $(".free_banner").remove();
        $(".non_subscribe_banner").remove();
        $(".subscribe_banner").show();
      }else{
        $(".free_banner").remove();
         $(".subscribe_banner").remove();
        $(".non_subscribe_banner").show();
      }
    }
    var status = false
    $(window).scroll(function(){

      var scroll = $(window).scrollTop(),
      doc_height = $(document).height(),
      window_height = $(window).height();

      var scrollPercent = ((scroll / (doc_height - window_height)) * 100).toFixed(0);
      
      if($("#next_page").val() == "false" || '<%= @item_count%>' < 10 ){
        $(".relative-content-scroll").css("padding-bottom", 0);
        $(".scroll_loader").hide();
      } 


      //if ($(window).scrollTop() >= $(document).height() - $(window).height()){
      if((scrollPercent >= 75 && scrollPercent <= 85) && status == false){
        if ($("#next_page").val() != "false" && '<%= @item_count%>' >= 10){
        $(".relative-content-scroll").css("padding-bottom", 120); 
        $(".scroll_loader").show();
          status = true 
          //AddMoreContent();
        }
      }

      if (scrollPercent == 10 || scrollPercent == 25  || scrollPercent == 50  || scrollPercent == 75 || scrollPercent == 100) {
        netcore_apxor_scoll_event($('ul.tab_desktop').find('li.active').text(), scrollPercent)
      };
    });


    
 
    function top_slider_init(){
      $(".square2").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 2,
      responsive: [
        {
          breakpoint: 2,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    

      $(".vertical").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });
      $('article').hover(
      function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
    );


    }


  
    $(".cat_lis_itm").click(function(){
      var cat_sec = $(this).attr("id");
      localStorage.removeItem("nc_stream_src")
      localStorage.setItem("nc_stream_src",cat_sec+" carousel banner")
    })

    var pin = getShemarooCookies().pin
     var verified_pin = localStorage.getItem("verified_pin")

    if(getShemarooCookies().user_profile_type != "kids" && pin != undefined && pin.length >0 && verified_pin != "true"){
      window.location = "/users/who_is_watching"
     }
     
    if(getShemarooCookies().user_id && getShemarooCookies().user_profile_type == "kids"){
      var kids_url = "/kids"
      if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en" &&  window.location.pathname.split("/") [2] !="kids"){
        kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
        window.location = kids_url
      }
      else{
        if((getShemarooCookies().shm_sel_lang == undefined  || getShemarooCookies().shm_sel_lang == "en") && window.location.pathname.split("/") [1] !="kids"){
            window.location =  kids_url
        }
      }
        //window.location = kids_url
      }
      else{
        if(window.location.pathname.split("/") [1] !="kids"){
            //window.location =  kids_url
        }
      }
      //window.location = kids_url

     /*var current_url = window.location.href.split('?profile_id=')
    if(current_url.length == 2){
      var profile_data = window.location.href.split('?profile_id=')[1].split("&name=");
      window.history.pushState("", "", current_url[0]);
      var user_data = profile_data[1].split("&profile_type=")
      $.cookie('profile_id',profile_data[0], { expires: 14,path: '/'});
      $.cookie('user_name',user_data[0], { expires: 14,path: '/'});
      $.cookie('user_profile_type',user_data[1], { expires: 14,path: '/'});
      if(user_data[1] == "kids"){
        $(".main_logo_link").attr("href","/kids");
      }
    }*/
  })


  if(getShemarooCookies().theme_option == "light_theme")
  {
    var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/new_icons/carousel_prev.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/new_icons/carousel_next.svg" alt="" title=""></span>'
    ];
  }else{
        var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/new_icons/carousel_prev_dark.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/new_icons/carousel_next_dark.svg" alt="" title=""></span>'
      ];
    }
      $('#banner-carousel').owlCarousel({
      loop:true,
      autoplay: true,
      smartSpeed: 1200,
      margin:10,
      nav:true,
      dots: true,
      navText: navigation,
      navSpeed: 1000,
      responsive:{
        0:{
          nav: false,
          items:1,
          stagePadding: 35,
        },
        576:{
            items:1,
            stagePadding: 49,
        },
        768:{
            items:1,
            stagePadding: 59,
            dots: false,
        },
        992:{
            items:1,
            stagePadding: 69,
        },
        1200:{
            nav: true,
            items:1,
            stagePadding: 160,
        },
        1400:{
            items:1,
            stagePadding: 194,
        },
        1650:{
            items:1,
            stagePadding: 300,
        }
      }
    });
   
     $(document).ready(function(){
       localStorage.removeItem("nc_stream_src")
       localStorage.setItem("nc_stream_src",$('ul.tab_desktop').find('li.active').text()+" carousel banner")
      $(".netcore_live").click(function(){
        var channel_name = $(this).data("channel-name")
        var user_region = $(".user_region").val()
        smartech('dispatch', 'Browse_Tv', {
        "user_id": getShemarooCookies().user_analytical_id,
        "channel_name": channel_name,
        "COUNTRY": user_region })

        /*Apxor.logEvent('Browse_Tv', {
      "channel_name": channel_name,
      "COUNTRY": user_region
       },"BROWSE");*/
        
      })
     var items_count = "<%=(@items_list.count)-1%>"
      for (i = 0; i <= items_count; i++) {
      var auto_loop_status = false;
      var owl = $("#catalog_lists_"+i);
      var det = $("#catalog_lists_"+i).data("item-det")
      var platform = getShemarooCookies().mobile_browser_type
      if(det != undefined){
          det = det.split("$");
      }
      else{
        det = ""
      }
      var total_item_cnt =  det[1];
      var layout_type = det[0];
      if(layout_type == "t_16_9_big" || layout_type == "t_16_9_small" || layout_type == "t_1_1_play" || layout_type == "t_16_9_small_meta" || layout_type == "t_16_9_big_meta" || layout_type == "t_16_9_epg"){
       var no_of_items = 5;
       var items_0 = 2
         var items_576 = 2
         var items_768 = 3
         var items_992 = 4
        if(total_item_cnt > 5 && platform != "mobile"){
         auto_loop_status = true
         var show_more_url = $(".all_items_"+i).attr("href");
          if(show_more_url != "/all"){
            $(".all_items_"+i).show();
          } 
        } else if(total_item_cnt > 2 && platform == "mobile"){
         auto_loop_status = true
         var show_more_url = $(".all_items_"+i).attr("href");
          if(show_more_url != "/all"){
            $(".all_items_"+i).show();
          } 
        }
      }
      else if(layout_type == "t_1_1_plain" || layout_type == "t_1_1_album_meta"){
       var no_of_items = 6;
       var items_0 = 2
       var items_576 = 3
        var items_768 = 4
        var items_992 = 5
       if(total_item_cnt > 6 && platform != "mobile"){
         auto_loop_status = true
         var show_more_url = $(".all_items_"+i).attr("href");
         if(show_more_url != "/all"){
            $(".all_items_"+i).show();
         } 
       } else if(total_item_cnt > 2 && platform == "mobile"){
         auto_loop_status = true
         var show_more_url = $(".all_items_"+i).attr("href");
         if(show_more_url != "/all"){
            $(".all_items_"+i).show();
         } 
       }
      }
      else if(layout_type == "t_comb_16_9_list" || layout_type == "t_16_9_big_meta"){
       var no_of_items = 3;
       var items_0 = 1
        var items_576 = 1
       var items_768 = 2
       var items_992 = 3
        if(total_item_cnt > 3 && platform != "mobile"){
         auto_loop_status = true
         var show_more_url = $(".all_items_"+i).attr("href");
           if(show_more_url != "/all"){
              $(".all_items_"+i).show();
           } 
        } else if(total_item_cnt > 2 && platform == "mobile"){
           auto_loop_status = true
           var show_more_url = $(".all_items_"+i).attr("href");
           if(show_more_url != "/all"){
              $(".all_items_"+i).show();
           } 
        }
      }
      else if(layout_type == "t_comb_1_1_image"){
       var no_of_items = 5;
       var items_0 = 1
         var items_576 = 2
         var items_768 = 3
         var items_992 = 4
          if(total_item_cnt > 5 && platform != "mobile"){
           auto_loop_status = true
           var show_more_url = $(".all_items_"+i).attr("href");
            if(show_more_url != "/all"){
              $(".all_items_"+i).show();
            } 
          }else if(total_item_cnt > 2 && platform == "mobile"){
            auto_loop_status = true
            var show_more_url = $(".all_items_"+i).attr("href");
            if(show_more_url != "/all"){
              $(".all_items_"+i).show();
            } 
          }
      }
      else if(layout_type == "t_16_9_playlist") {
      var no_of_items = 7
      var items_0 = 2
      var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 3 && platform != "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
     else if(total_item_cnt > 3 && platform == "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
    }
      else{
        var no_of_items = 7
        var items_0 = 2
        var items_576 = 3
        var items_768 = 4
        var items_992 = 5
       if(total_item_cnt > 7 && platform != "mobile"){
        auto_loop_status = true
        var show_more_url = $(".all_items_"+i).attr("href");
         if(show_more_url != "/all"){
            $(".all_items_"+i).show();
         } 
       }else if(total_item_cnt > 2 && platform == "mobile"){
          auto_loop_status = true
          var show_more_url = $(".all_items_"+i).attr("href");
          if(show_more_url != "/all"){
            $(".all_items_"+i).show();
          } 
        }
      }

        $("#show_catalog_title_"+i).show();
    var getUserShemarooCookies = function(){
        var pairs = document.cookie.split("; ");
        var cookies = {};
        for (var i=0; i<pairs.length; i++){
        var pair = pairs[i].split("=");
        cookies[pair[0]] = unescape(pair[1]);
        }
        return cookies;
      }
     if(getShemarooCookies().user_actv_sub_status ==  "Subscribed"){
       $(".desktop_ads").remove();
     }
  }
        

  /*var color = $(".gradient8").attr("id").split("|");
   $("body").append("<style>.show_item_color h2:before{background: linear-gradient(to right,"+color[0]+", "+color[1]+");}</style>");*/
   // var header_title_color = $('ul.nav').find('li a.active').attr('id').split("|");

   // $("body").append("<style>ul.nav li a.active{background: linear-gradient(to right,"+header_title_color[0]+", "+header_title_color[1]+")!important;}</style>");
  $("#show_catalog_items").css("min-height","1px");
  });  

  </script>
  <script>
  $(document).ready(function(){
    


    var navigation = [
     '<span aria-label="' + 'Previous' + '"><img src="/assets/new_icons/carousel_prev.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/new_icons/carousel_next.svg" alt="" title=""></span>'
    ];
    $("#banner-carousel").owlCarousel({
      margin: 20,
      loop: true,
      stagePadding: 230,
      dots: false,
      nav: true,
      navText: navigation,
      responsive: {
        0: {
          margin: 10,
          stagePadding: 20,
          items: 1
        },
        440: {
          margin: 14,
          stagePadding: 40,
          items: 1
        },
        768: {
          margin: 16,
          stagePadding: 47,
          items: 1
        },
        1000: {
          stagePadding: 80,
          items: 1
        },
        1200: {
          stagePadding: 170,          
          items: 1
        },
        1350: {          
          stagePadding: 194,          
          items: 1
        },
        1600: {          
          items: 1
        },
      }
    });

    var bg_slide_width = $(window).width();
    $("#banner-bg-slider, #banner-bg-slider > div ").height(bg_slide_width);
    $('.browse-slider').slick({
      rows: 2,
      dots: false,      
      arrows: false,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }  
      ]
    });

    $('.vertical').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 6,
            slidesToScroll: 1,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });

    $('.square2').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 2,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 2,
            slidesToScroll: 2,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    $('article').hover(
      function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
    );
  });
  <%unless @header_tabs_links.include?(@catalog_name)%>
      $("#navbar-chk-Home").addClass("active")
  <%else%>
      $("#navbar-chk-Home").removeClass("active")
  <%end%>




  function netcore_apxor_scoll_event(name,scrollPercent){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"    
  Apxor.logEvent("Scroll_Vertical",{
  "screen_name": name,
  'user_state': user_state,
  "depth": scrollPercent
  }, "Scroll_Vertical");

  smartech('dispatch', 'Scroll_Vertical', {
    "screen_name": name,
    "depth": scrollPercent,
    'user_state': user_state
  })


  branch.logEvent(
  "Scroll_Vertical",
    {"screen_name": name,
    'user_state': user_state,
    "depth": scrollPercent
  },
  function(err) { console.log(err); }
  );
}



</script>  










