<%if @item_details.nil?
  det_item = @episode_details
else
  det_item =  @item_details
end
%>
<div class="float-left w-100 details-wrapper">
  <section class="main-content">
    <ul class="float-left w-100 list-none p-0 breadcrumbs d-none d-xl-block">
      <li class="float-left font-regular home">
        <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
      </li>
    <li class="float-left font-regular">
        <%= raw(get_brd_name(@theme))%>
     </li>  
     <%if @theme.present? && @theme == "live"%>
     <li class="float-left font-regular">
      <a href="<%=get_lang_url("/all_channels")%>"><%=get_lang_string("all_channels_1")%></a>
    </li>
     <%end%>
     <%if @item_details['catalog_object']['plan_category_type'].present? %>
      <li class="float-left font-regular">
        <a href="<%=params[:lang].present? ? "/#{params[:lang]}"  : ""%>/<%= @item_details['catalog_object']['plan_category_type'].gsub(/_/, '-')%>"><%= get_lang_string(@item_details['catalog_object']['plan_category_type']).present? ? @item_details['catalog_object']['plan_category_type'] == "bollywood_plus" ? get_lang_string("bollywood_premiere") : get_lang_string(@item_details['catalog_object']['plan_category_type']) : @item_details['catalog_object']['plan_category_type'] %></a>
      </li>
      <%end%>
      <li class="float-left font-regular">
        <%=@item_details['ml_title'].present? ? @item_details['ml_title'] : @item_details['title']%>
      </li>        
    </ul>
    <div class="details-container">
      <%if det_item.has_key?("play_type") && det_item["play_type"] == false%>
        <div class="coming_soon_banner_wrap">
          <div class="coming_soon_banner relative-content" id="trailer_preview_video">
            <img src="<%=det_item['thumbnails']['large_16_9']['url']%>" class="img-fluid" alt="" title="">
            <img src="/assets/coming_soon.png" id="coming_soon_tag" alt="<%=det_item['title']%>" title="">
          </div>
        </div>
      <%else%>
        <div class="player_section w-100 embed-responsive embed-responsive-16by9"  id="shemaroo_player">
          <img src="<%=det_item['thumbnails']['large_16_9']['url'] rescue ""%>" class="img-fluid" alt="" title="">
        </div> 
      <%end%>


      
      <%if @theme == "live" || @theme == "linear"
        status = false
        else
        status = true
        end  
      %>
      <%if det_item.has_key?("content_definition") && det_item["content_definition"] == "TVOD"%>
        <div class="float-left w-100 app-d-flex hv-center mt-3 pl-5 pr-5" id="buy_red_sec">
          <a href="javascript:void(0);" class="text-uppercase shemaroo-color6 font-mblack app-btn3 mulli-font3" id="buy_movie"><%= get_lang_string("buy_ticket") %> &nbsp;<%=$region == "IN" ? "₹" : "$"%><!-- <i class="fa fa-inr" aria-hidden="true" style="margin-top: 3px; font-size: 15px;"></i> -->&nbsp;<%=det_item["price_tag"]["price"]%></a>
          <a href="javascript:void(0);" class="text-uppercase shemaroo-color6 font-mblack app-btn3 mulli-font3" id="redm_tkt"><%= get_lang_string("redeem") %></a>
        </div>
      <%end%>
      <div class="float-left w-100 details-wrapper2">
        <% if @item_details['original_tag'].present?%>
          <div class="video_tag font-bold">
          <%= @item_details['original_tag'].downcase %>
        </div>
        <%end%>
        
        <div class="float-left w-100 video-info relative-content"> 
          <ul class="float-left w-100 list-none p-0 breadcrumbs d-block d-xl-none">
            <li class="float-left font-regular home">
                <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
              </li>
            <li class="float-left font-regular">
               <%= raw(get_brd_name(@theme))%>
             </li>  
             <%if @theme.present? && @theme == "live"%>
             <li class="float-left font-regular">
              <a href="/all_channels"><%=get_lang_string("all_channels_1")%></a>
            </li>
             <%end%>
             <%if @item_details['catalog_object']['plan_category_type'].present? %>
              <li class="float-left font-regular">
                 <a href="<%=params[:lang].present? ? "/#{params[:lang]}"  : ""%>/<%= @item_details['catalog_object']['plan_category_type'].gsub(/_/, '-')%>"><%= get_lang_string(@item_details['catalog_object']['plan_category_type']).present? ? get_lang_string(@item_details['catalog_object']['plan_category_type']) : @item_details['catalog_object']['plan_category_type'] %></a>
              </li>
              <%end%>
              <li class="float-left font-regular">
                <%=@item_details['ml_title'].present? ? @item_details['ml_title'] : @item_details['title']%>
              </li>                
            </ul>         
          <div class="player_desc_section float-left w-100 app-d-flex justify-content-between">
            <div class="video-info-left">
              <h1 class="float-left w-100 app-color1 font-black margin-bottom-10 section-title2"><%=@item_details['ml_title'] rescue @item_details['title'] %></h1>
              <ul class="list-none float-left w-100 p-0 mb-3 pb-1">
                <%@item_details['ml_item_caption'].split("|").each do |s|%>
                  <% if s.present?%>
                  <li class="float-left font-regular app-color5 app-color1"><%=s%></li>
                  <%end%>
                <%end%>
              </ul>
              <!-- <ul class="list-none float-left w-100 p-0 mb-3">
                  <p class="float-left font-regular app-color1"><%#= get_lang_string("audio_language")%> <%#=@item_details['audio_languages'][0].capitalize %></p>
              </ul> -->
              
              <div class="video_feature2 float-left w-100 video-feature">
                <div class="float-left w-100 app-d-flex">
                  <a href="javascript:void(0);" class="video_player details_player_btn1 margin-right-10 app-color4" id="play_content"><img src="/assets/play.svg" class="play-img" alt="" title=""><%= @theme == "live" ? "Play Live" : @theme == "vod_playlist" ? get_lang_string("play_channel") : get_lang_string("play_video") %></a>

                  <a href="javascript:void(0);" class="video_player details_player_btn2 margin-right-10 app-color4" id="channel_detail"><img src="/assets/channel_play.svg" class="channel_play-img" alt="" title=""><%=get_lang_string("channel_detail")%></a>
                </div>
                <ul class="play_feature2 list-none float-left w-100 p-0 mb-1 mt-2 pt-1">
                  <%if status == true %>

                    <%if @item_details.has_key?("preview") %>
                      <input type="hidden" id="preview-time" value="<%=get_preview_time(@item_details['preview'])%>">
                            <input type="hidden" id="preview-url" value="<%=
                            @item_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@item_details['preview']['ext_preview_url'])}" %>">
                    <%end%>

                    <!--<%#if @item_details.has_key?("preview") && @item_details['preview']['preview_available'] == true%>
                      <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                        <p class="margin-bottom-5 app-d-flex hv-center">
                          <a href="javascript:void(0);">
                           <img src="/assets/trailer.svg" class="preview_video preview_video_light" alt="Trailer" title="Trailer" data-preview-time="<%#=get_preview_time(@item_details['preview'])%>" data-preview-url="<%#=
                            @item_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@item_details['preview']['ext_preview_url'])}" %>" style="display: none !important;" >

                             

                             <img src="/assets/trailer_dark.svg" class="preview_video preview_video_dark" alt="Trailer" title="Trailer" data-preview-time="<%#=get_preview_time(@item_details['preview'])%>" data-preview-url="<%#=
                            @item_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@item_details['preview']['ext_preview_url'])}" %>" style="display: none !important;" > 

                          </a>
                        </p>
                        <%#=get_lang_string("trailer")%>
                      </li> -->
                    <%#end%>
                    <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                      <a href="javascript:void(0);" class="later_watch">
                        <p class="margin-bottom-5 app-d-flex hv-center">
                       <img src="/assets/watch_later.svg"  class="watch_later watch_later_light" alt="Watch Later" title="My List" id="watch_later" data-listitemid=""  style="display: none !important;">
                       <img src="/assets/watch_later_dark.svg" class="watch_later watch_later_dark" alt="Watch Later" title="My List" id="watch_later" data-listitemid=""  style="display: none !important;">
                        </p>
                      </a>
                      <%=get_lang_string("my_list")%>
                    </li>
                  <%end%>
                  <li class=" float-left font-regular app-color1 app-d-flex hv-center flex-column share_social_icons relative-content">
                      <a href="javascript:void(0);">
                        <p class="margin-bottom-5 app-d-flex hv-center">
                       <img src="/assets/share_android.svg"  class="share text-center share_light" alt="Share" title="Share"  style="display: none !important;">
                        <img src="/assets/share_android_dark.svg" class="share text-center share_dark" alt="Share" title="Share"  style="display: none !important;">
                        </p>
                      </a>  
                    <%=get_lang_string("share")%>
                    <ul class="share_feature list-none padding-bottom-10 padding-top-10">
                      <li>
                        <a href="https://twitter.com/intent/tweet?url=<%=SITE%><%=request.fullpath%>&text=Watch online <%=@item_details['genres'][0]%> movie <%=@item_details['title']%> - ShemarooMe" target="_blank">
                          <img src="/assets/twitter_share.svg" class="mr-1" alt="twitter" title="twitter">    </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <img src="/assets/copy_link.svg" class="copy_link mr-1" alt="copy Link" title="copy link" id="<%=SITE%><%=request.fullpath%>"
                            onclick="copyLink()">                      
                          </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/dialog/share?app_id=<%=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%=SITE%><%=request.fullpath%>" target="_blank">
                          <img src="/assets/facebook_share.svg" class="text-center facebook" alt="facebook" title="facebook">                  
                        </a>
                      </li> 
                    </ul>
                  </li> 
                  <%if status == true %>
                  <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                    <a href="javascript:void(0);" onclick="downloadLink()">
                      <p class="margin-bottom-5 app-d-flex hv-center" >
                          <img src="/assets/download.svg" class="download download_light" alt="download" title="download"  style="display: none !important;">

                          <img src="/assets/download_dark.svg" class="download download_dark" alt="download" title="download"  style="display: none !important;" >
                      </p> 
                    </a> 
                      <%=get_lang_string("download")%>
                  </li> 
                  <%end%>
                </ul>
              </div>
            </div>  
            <div class="video-info-right">
              <div class="ad-wrap mb-0">
                <div class="ad_section desktop_ads" style="display: none;">
                  <div id="non_uc_browse_adds">
                    <div id='div-gpt-ad-1585723049846-0' style='width: 300px; height:250px;'>
                      <script>
                         googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585723049846-0'); });
                      </script>
                    </div>
                  </div>
                  <div id ="uc_browser_ads" style="display: none">
                    <div id='div-gpt-ad-1589367833644-0' style='width: 300px; height: 250px; display: none;'>
                      <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589367833644-0'); });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="add_unit" style="display: none !important">
                  <div id='div-gpt-ad-1571401090315-0' style='width: 300px; height: 250px; display: none !important'>
                      <script>
                      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571401090315-0'); });
                      </script>
                  </div>
                </div>
              </div>
            </div> 
          </div> 

          <div class="toster-message-wrap" id="watch_later_pop">
            <div class="center-align-content">
              <div class="toster-message app-d-flex hv-center">
                <img src="/assets/password_updated.svg" alt="" title="">
                <p id="watch_later_message">
                  <%= get_lang_string("added_to_list")%>
                </p>
              </div>
            </div>
          </div>
          <div class="toster-message-wrap" id="copy_link_pop">
            <div class="center-align-content">
              <div class="toster-message app-d-flex hv-center">
                <img src="/assets/password_updated.svg" alt="" title="">
                <p>
                   <%= get_lang_string("link_copied")%>
                </p>
              </div>
            </div>
          </div>
          <!--<div class="float-left w-100 video-info-bottom">
            <%#unless @item_details['description'].blank? %>  
              <h4 class="float-left w-100 app-color1 font-black font-bold mt-3"><%#= get_lang_string("synopsis")%></h4>
              <p class="float-left w-100 app-color1 font-regular"><%#=@item_details['ml_synopsis'] rescue @item_details['description']%></p>
            <%#end%>
            <%#if @item_details.has_key?("item_additional_data") && !@item_details['item_additional_data'].empty?%>
              <%#@item_details['ml_item_additional_data'].each do |k,v|%>
                <%#unless v.empty?%>
                  <h4 class="float-left w-100 app-color1 font-black"><%#= k %></h4>
                    <p class="float-left w-100 app-color1 font-regular" style="font-size: 14px;"><%#=v.join(",")%></p>
                <%#end%>
              <%#end%>
            <%#end%>
          </div> -->
        </div>
      </div>  
    </div>
  </section>
</div>

<div class="slick-parent-container-inner">
  <div class="float-left w-100 slick-area">
    <div class="slicks-container">
      <div class="float-left w-100 slicks">
        <div class="float-left w-100 ">
            <ul id="details_tabs" class="w-100 relative-content margin-bottom-20 pl-0" role="tablist" data-tabs="tabs">
              <%# @content_info.each_with_index do |s,i| %>
              <li>
                <a href="javascript:void(0);" class="font-bold active" data-toggle="tab" data-value="<%#= s["catalog_id"]%>,<%#= s["home_link"]%>,<%#= i%>,<%#= s["ml_display_title"]%>" id="synop"><%= get_lang_string("synopsis")%></a>
              </li>
              <%#end%>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active">
                <div id="synopsis_data"> 
                  <%unless @item_details['description'].blank? %>  
                    <!-- <h4 class="float-left w-100 app-color1 font-black font-bold mt-3"><%#= get_lang_string("synopsis")%> </h4>-->
                    <p class="float-left w-100 app-color1 font-regular"><%=@item_details['ml_synopsis'] rescue @item_details['description']%></p>
                  <%end%>
                  <%if @item_details.has_key?("item_additional_data") && !@item_details['item_additional_data'].empty?%>
                    <%@item_details['ml_item_additional_data'].each do |k,v|%>
                      <%unless v.empty?%>
                        <h4 class="float-left w-100 app-color1 font-black"><%= k %></h4>
                          <p class="float-left w-100 app-color1 font-regular" style="font-size: 14px;"><%=v.join(",")%></p>
                      <%end%>
                    <%end%>
                  <%end%>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="slick-parent-container-inner">
  <div class="float-left w-100 slick-area">
    <div class="slicks-container">
      <div class="float-left w-100 slicks">
        <div class="float-left w-100 ">
            <ul id="details_tabs" class="w-100 relative-content margin-bottom-20 pl-0" role="tablist" data-tabs="tabs">
              <% @content_info.each_with_index do |s,i| %>
              <li>
                <a href="javascript:void(0);" class="tab_chk font-bold" data-toggle="tab" data-value="<%= s["catalog_id"]%>,<%= s["home_link"]%>,<%= i%>,<%= s["ml_display_title"]%>" id="content_info_<%=i%>"><%= s["ml_display_title"]%></a>
              </li>
              <%end%>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active">

                <div class="media_list_data">
                  <div class="slicks-container">
                    <div class="float-left w-100 slick-area">
                      <div class="float-left w-100 slicks">
                        <div class="float-left w-100" id="user_continue_watch_list">
                          <div class="float-left w-100 app-d-flex justify-content-between mb-0 app-slick-container">
                            <!-- <a href="<%#= get_lang_url("/users/continue_watching")%>">
                              <h2 class="section-title big-desktop-app-font3 app-color1">
                              <%#=get_lang_string("continue_watching")%></h2>      
                            </a> -->
                            <!-- <a href="<%#= get_lang_url("/users/continue_watching")%>" class="more see-more"><%#= get_lang_string("see_all")%></a> -->
                          </div>
                          <div  class="float-left w-100 slick-container slick-gap">
                            <div class="float-left w-100 slick-wrapper">
                              <div class="float-left w-100 app-slick-carousel" >
                                <%if @media_list.count > 0 %>
                                <div class="horizontal slider responsive mb-0">
                                <div class="float-left w-100 app-slick-slider-container mb-0" id="continue-watching-carousel">
                                  <% @media_list.each do |m| %>
                                  <div style="width: 100%; display: inline-block;">
                                    <div class="slick-vertical-thumb"> 
                                      <article class="slick-vertical-thumb float-left w-100 padding-bottom-5 continue_watch" style=""> 
                                        <a href="<%= m["share_url"] %>" class="cn_item">
                                          <div class="thumbnail-container">
                                            <div class="card-img-container"> 
                                              <img src="<%= m["thumbnails"]["medium_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded">
                                              <!-- <div class="h-center">'+tag+'</div> -->
                                            </div>
                                          </div> 
                                        </a>
                                        <div class="continue-thumb-details thumb-info">
                                          <!-- <div class="progress pull-left w-100 mt-1">
                                            <div class="progress-bar" style="width: '+item[5]+'%;">
                                            </div>
                                          </div> -->
                                          <div class="float-left w-100 content-title text-ellipsis app-color1 padding-left-5">
                                            <p class="mb-0 text-ellipsis"><%= m["title"] %></p>
                                          </div>
                                          <div class="float-left sub-info text-ellipsis app-color1 padding-left-5">
                                            <p class="mb-0 text-ellipsis"><%= m["item_caption"] %></p>
                                          </div>
                                          <!-- <div class="move-left float-right padding-right-5"> <img src="/assets/new_icons/'+delete_theme+'" alt="remove" title="Remove" class="remove_continue_item cursor-pointer" id="'+item[4]+'">
                                          </div> -->
                                        </div> 
                                      </article>
                                    </div>
                                  </div>
                                  <%end%>
                                </div>
                                </div>
                                <%end%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="more_channels_data">
                  <div class="slick-parent-container-inner">
                    <div class="float-left w-100 slick-area">
                      <div class="slicks-container">
                        <div class="float-left w-100 slicks">
                          <div class="float-left w-100 ">
                            <div class="float-left w-100 slick-container slick-gap">
                              <div class="float-left w-100 slick-wrapper">
                                <div class="float-left w-100 app-slick-carousel">
                                  <%if @genere_items.count > 0 %>
                                    <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                      <h2 class="section-title2 font-black app-color1"><%#= get_lang_string("you_may_like")%></h2>
                                      <a href="<%=params[:lang].present? ? "/#{params[:lang]}" : ""%>/<%=@item_details['catalog_object']['friendly_id']%>/<%=@item_details['genres'][0].downcase%>/collection"  data-cat-name = "<%=@item_details['genres'][0].capitalize%>" class=" pull-right see-more more" style="display:none;"><%#= get_lang_string("see_all")%></a>    
                                    </div>
                                    <%if @layout_type == "song" || @layout_type == "video" || @layout_type == "videos" || @layout_type == "linear" || @layout_type == "live"
                                      class_name = "horizontal"
                                    else
                                      class_name = "vertical"
                                    end%>

                                    <div class="float-left w-100 app-slick-slider-container">
                                      <div class="slider <%=class_name%>">
                                        <%@genere_items.each do |gi|%>
                                          <div>
                                            <div style="width: 100%; display: inline-block;">
                                              <div class="slick-vertical-thumb">
                                                <article class="slick-vertical-thumb" style="">
                                                  <a href="<%=get_lang_url(gi['seo_web_url'])%>">
                                                    <%if @layout_type == "song" || @layout_type == "video" || @layout_type == "videos" || @layout_type == "linear" || @layout_type == "live" || @layout_type == "channels"
                                                      img_url = gi["thumbnails"]["medium_16_9"].present? ? gi["thumbnails"]["medium_16_9"]["url"] : ""
                                                    else
                                                      img_url = gi["thumbnails"]["medium_2_3"].present? ? gi["thumbnails"]["medium_2_3"]["url"] : ""
                                                    end%>
                                                    <div class="thumbnail-container">
                                                      <div class="card-img-container">
                                                        <img src="<%=img_url%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=gi["title"]%>" title="<%=gi["title"]%>">
                                                      </div>  
                                                    </div>
                                                    <div class="h-center">
                                                      <%if gi["content_definition"] == "TVOD"%>
                                                          <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                                      <%elsif gi["access_control"]["is_free"] == false  && gi["access_control"]["premium_tag"] == true && gi["content_definition"] != "TVOD" && $region == "IN"%>
                                                         <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                                      <%end%>
                                                    </div> 
                                                    <div class="slick-thumb-details">
                                                      <div class="content-title ellipsize"><%= gi['title']%></div>
                                                      <div class="sub-info ellipsize"><%=gi['ml_genres'][0].capitalize rescue gi['genres'][0].capitalize %> | <%=gi['ml_language'].capitalize rescue gi['language'].capitalize %> | <%= gi['ml_release_date'].split("-")[0]rescue gi['release_date_string'].split("-")[0]%>
                                                      </div> 
                                                   </div>                                         
                                                  </a>
                                                </article>
                                              </div>
                                            </div>
                                          </div>  
                                        <%end%> 
                                       </div>
                                    </div>  
                                  <%end%>
                                  <%if @associated_videos.count > 0%>
                                    <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                      <h2 class="section-title2 font-black app-color1">Associated Videos</h2>
                                      <!-- <a href="/<%#=@item_details['catalog_object']['friendly_id']%>/<%#=@item_details['genres'][0].downcase%>/all" class="text-uppercase pull-right see-more">see more</a>  -->   
                                    </div>
                                    <div class="float-left w-100 app-slick-slider-container">
                                      <div class="slider responsive">
                                    
                                        <%@associated_videos.each do |a|%>
                                          <div>
                                            <div style="width: 100%; display: inline-block;">
                                              <div class="slick-vertical-thumb">
                                                <article class="slick-vertical-thumb" style="">
                                                  <a href="<%=a['seo_web_url']%>">
                                                     <%if @layout_type == "song" || @layout_type == "video" || @layout_type == "videos" || @layout_type == "channels"
                                                      img_url = a["thumbnails"]["medium_16_9"]["url"] rescue ""
                                                    else
                                                      img_url = a["thumbnails"]["medium_2_3"]["url"]
                                                    end %>
                                           
                                                    <div class="thumbnail-container">
                                                      <div class="card-img-container">
                                                        <img src="<%=img_url%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=a["title"]%>" title="<%=a["title"]%>">
                                                      </div>  
                                                    </div>
                                                    <%if a['access_control']['is_free'] == false && a['access_control']['premium_tag'] == true && $region == "IN"%>
                                                        <div class="h-center">
                                                          <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                                      </div>
                                                    <%end%>                                          
                                                  </a>
                                                </article>
                                              </div>
                                            </div>
                                          </div>  
                                        <%end%>
                                      </div>
                                    </div> 
                                  <%end%>
                                </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="float-left w-100 relative-content relative-content-scroll" style="padding-bottom: 0px;">
                  <div class="float-left w-100 get_more_items"></div>  
                  <div class="scroll_loader">
                  </div>  
                </div>

                <div class="season_all_results mt-2"></div>
 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>               

<div class="modal" id="add_watch_list">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h4 class="margin-bottom-10 margin-top-5 font-bold"><%=get_lang_string("login")%></h4>
        <% my_list = get_lang_popup("add_mylist") %>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= my_list['title_text']%></p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold sec_button" id="watch_list_cancel"><%=my_list['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="watch_list_confirm"><%=my_list['positive']%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="modal" id="tvod_login_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5 font-bold"><%= get_lang_string("login")%></h5>
        <% get_tvod_login  = get_lang_popup("tvod_login")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" id="tvod_pop_txt">
          <%= get_tvod_login["title_test"]%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_login_tvod"><%= get_tvod_login["negative"]%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="can_login"><%= get_lang_string("login")%></a>
          </p>        
        </div>
        <!-- <div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
          <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-mregular normal_txt">New User? <a href="javascript:void(0);" id="plans_register_link" class="link">Register</a></p>
        </div> -->
      </div>   
    </div>
  </div>
</div>

<%if  det_item.has_key?("content_definition") && det_item["content_definition"] == "TVOD"%>
        
  <input type="hidden" id="tvd_curncy" value="<%=det_item["price_tag"]["currency_symbol"]%>">
  <input type="hidden" id="tvd_plan_prc" value="<%=det_item["price_tag"]["price"]%>">
  <input type="hidden" id="tvd_plan_id" value="<%=det_item["price_tag_plan_id"]%>">
   <input type="hidden" id="tvd_pln_tit" value="<%=det_item["price_tag_pack_name"]%>">
  <input type="hidden" id="tvd_plan_info" value="<%=det_item["price_tag_plan_id"]%>|<%=det_item["price_tag_plan_catalog_id"]%>|<%=det_item["catalog_object"]["plan_category_type"]%>|<%=det_item['price_tag_plan_type']%>|<%=det_item["price_tag"]["currency"]%>|<%=det_item["price_tag"]["currency_symbol"]%>|<%=det_item["price_tag"]["price"]%>|<%=(det_item["price_tag"]["adyen_price"])%>|<%=det_item["price_tag"]["price"]%>|<%=det_item["price_tag_category_id"]%>|<%=det_item["price_tag_pack_name"]%>">
  
  <%if det_item["price_tag"]["release_date"].present? %>
  <input type="hidden" id="tvod_mv_rel_dt" value="<%= Time.parse(det_item["price_tag"]["release_date"]).strftime("%d %b %Y").to_s%> at <%= Time.parse(det_item["price_tag"]["release_date"]).strftime("%H %p").to_s.downcase%>">
  <input type="hidden" id="pre_rel_chk" value="<%= Date.parse(det_item["price_tag"]["release_date"]) <= Date.today() ? "true" : "false"%>">
    <input type="hidden" id="tvod_mv_valid_till" value="<%=get_mov_validity_till(det_item)%>">

  <%end%>
  <input type="hidden" id="tvod_mv_dur" value="<%= det_item["price_tag"]["duration"]%>">
  <input type="hidden" id="tvod_mv_title" value="<%= det_item["title"]%>">

<%end%>

  <input type="hidden" id="content_definition" value="<%= det_item["content_definition"]%>">
  <input type="hidden" id="catalog_id" value="<%=@item_details['catalog_id']%>">
  <input type="hidden" id="content_id" value="<%=@item_details['content_id']%>">
  <input type="hidden" id="item_category" value="<%=@item_details['catalog_object']['plan_category_type']%>">
  <input type="hidden" id="playback_time" value="00:00:00">
 <!--  <input type="hidden" id="preview_available" value="<%#=(@item_details.has_key?("preview") && @item_details['preview']['preview_available'] == true) ? "true" : "false"%>"> -->
  <input type="hidden" id="preview_available" value="false">
  <input type="hidden" id="language" value="<%=det_item['language']%>">
  <input type="hidden" id="release_date" value="<%=det_item['release_date_string']%>">
  <input type="hidden" id="theme_type" value="<%=@theme%>">
  <input type="hidden" id="genre" value="<%=det_item['genres'][0].capitalize%>">
  <input type="hidden" id="age" value="NA">
  <input type="hidden" id="gender" value="NA">
  <input type="hidden" id="user_state" value="Anonymous">
  <input type="hidden" id="user_period" value="NA">
  <input type="hidden" id="user_plan_type" value="NA">
  <input type="hidden" id="user_plan" value="NA">
  <input type="hidden" id="analytic_user_id" value="NA">
  <input type="hidden" id="app_share_url" value="<%#=det_item['internal_share_url'].split("?")[1]%>">
  <input type="hidden" id="ma_title" value="<%=det_item['title']%>">
  <input type="hidden" id="branch_title" value="<%=det_item['title'].gsub("'","")%>">

  <input type="hidden" id="video_duration" value="<%=@item_details['duration_string']%>">
  <input type="hidden" id="user_region" value="<%=$region%>">
  <input type="hidden" id="playable_entity" value="<%=(det_item.has_key?("play_type") && det_item["play_type"] == false) ? "false" : "true"%>">
  <input type="hidden" id="preview_coming_soon" value="">
  <input  type="hidden" id="my_list_remove" value="<%=get_lang_string("my_list_sucess")%>">
  <input  type="hidden" id="something_wrong" value="<%=get_lang_string("something_wrong")%>">
  <input   type="hidden" id="added_to_list" value="<%= get_lang_string("added_to_list")%>">
  <input   type="hidden" id="redeem_login" value="<%= get_lang_string("redeem_login")%>">
  <input type="text" id="copy_link" value="<%=SITE%><%=request.fullpath%>">
<%#=render "layouts/page_height_setting"%>
<%=render "load_player"%>
<%=render "matomo_analytics"%>
<%= render "netcore_apxor_events"%>

<script type="text/javascript">
  localStorage.setItem("parent_category_src","<%=@item_details['catalog_object']['plan_category_type'] %>")
  bt_cnt_type = "<%=det_item['theme']%>"
  if(bt_cnt_type == "linear"){
    bt_cnt_type = "tv channel"
  }else if(bt_cnt_type == "show"){
    bt_cnt_type = "episode"
  }

  
  var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
  var tvod_cnt = "<%= det_item["content_definition"]%>"
  if(tvod_cnt == "TVOD"){
    branch_pre_chk = "tvod"
  }else{
    branch_pre_chk  = pre_chk
  }

  document.cookie = 'item_cnt_def' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  $.cookie('item_cnt_def',tvod_cnt, { expires: 14,path: '/'});
  localStorage.removeItem("mv_cnt_type")
  localStorage.removeItem("mv_tvod_url")
  
  // $('ul.nav').find('li a.active').text()
  $(".fixed-top").css("box-shadow","none");
  $(".scrollmenuwrap").hide();
  $("#watch_list_cancel").click(function(){
    $("#add_watch_list").modal("hide");
  })
  
  var catalogid = $("#catalog_id").val();
  var contentid = $("#content_id").val();
  var video_category_type = $("#item_category").val();
  if(getShemarooCookies().user_id){
    if(video_category_type.length != 0 && getShemarooCookies().user_profile_type == "kids"){
     if(video_category_type != "kids"){
      var kids_url = "/kids"
        if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
          kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
        }
        window.location = kids_url
      }
    else{
     $(".all_other_channels").hide();
      
    }
    }
  }

  if (getShemarooCookies().user_profile_type == "kids"){
    var kids_url = "/kids"
     if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
          kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
        }
    $(".home a").attr("href",kids_url)
  }
 
  var theme = "<%=@theme%>";
  if(theme.lengh != 0 && (theme == "linear" || theme == "live")){
    /*$("#header_tv_icon").prepend("<p>")*/
    $("#header_tv_icon").addClass("tv_highlighted");
    $("#tv_icon").attr("src","/assets/tv_active.svg")
  }
  var navigation = [
    '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
    '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
  ];


  var layout_type = "<%=@layout_type%>"
  var items_count = "<%=@genere_items.count%>"
 var platfrm = getShemarooCookies().mobile_browser_type
  if(layout_type == "song" || layout_type == "video" || layout_type == "videos"){
    var items_0 = 1;
    var stage_padding = 50;
    var items_576 = 2;
    var items_768 = 3;
    var items_992 = 4;
    var items_1200 = 5
    if(items_count > 5 && platfrm != "mobile"){
      $(".see-more").show();
    }else if(items_count > 2 && platfrm == "mobile"){
      $(".see-more").show();
    }
  }
  else{
    var items_0 = 2;
    var stage_padding = 25;
    var items_576 = 3;
    var items_768 = 4;
    var items_992 = 5;
    var items_1200 = 7;
    if(items_count > 7 && platfrm != "mobile"){
      $(".see-more").show();
    }else if(items_count > 3 && platfrm == "mobile"){
      $(".see-more").show();
    }
  }
  
  $(".shemaroo_player").empty();
  
</script> 

<script>
  $(document).ready(function() {
    if (getShemarooCookies().theme_option == "dark_theme"){
      $(".preview_video_light").remove()
      $(".preview_video_dark").show()
      $(".watch_later_light").remove()
      $(".watch_later_dark").show()
      $(".share_light").remove()
      $(".share_dark").show()
      $(".download_light").remove()
      $(".download_dark").show()
      
      
    }else if (getShemarooCookies().theme_option == "light_theme" || getShemarooCookies().theme_option == undefined){
      $(".preview_video_light").show()
      $(".preview_video_dark").remove()
      $(".watch_later_light").show()
      $(".watch_later_dark").remove()
      $(".share_light").show()
      $(".share_dark").remove()
      $(".download_light").show()
      $(".download_dark").remove()

    }



    $(".horizontal").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    
    $(".vertical").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 7,
      slidesToScroll: 7,
      centerPadding: '170px',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });
      $('article').hover(
      function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
    );

      $('.header_tab').removeClass('active');
      var thm = "<%=@theme%>"
      if(thm == "live"){
        $("#"+thm).addClass("active")
      }
      else{
         $("#"+thm+"s").addClass("active")
      }
    // function call_tab_slide(x) {
    //   console.log(".horizontal_"+x);
    //   $('.horizontal_'+x).slick({
    //   infinite: false,
    //   dots: false,
    //   speed: 300,
    //   slidesToShow: 4,
    //   slidesToScroll: 4,
    //   responsive: [
    //     {
    //       breakpoint: 1024,
    //       settings: {
    //         slidesToShow: 4,
    //         slidesToScroll: 4,          
    //       }
    //     },
    //     {
    //     breakpoint: 991,
    //       settings: {
    //         slidesToShow: 3,
    //         slidesToScroll: 3
    //       }
    //     },
    //     {
    //     breakpoint: 600,
    //       settings: {
    //         slidesToShow: 2,
    //         slidesToScroll: 2
    //       }
    //     },
    //     {
    //     breakpoint: 440,
    //       settings: {
    //         slidesToShow: 1,
    //         slidesToScroll: 1
    //       }
    //     }
    //   ]
    // });
    // }
    $("#details_tabs a").click(function() {
      var x = $(this).attr("href").split("#")[1];
      setTimeout(function() {
        //call_tab_slide(x);
      }, 500)
      
    })
    /*setTimeout(function(){
      $(".details-wrapper2 .tab-content > .tab-pane").css("display", "none") 
    }, 10000);*/

    $("#more_channels_data").hide()
    $('#continue-watching-carousel').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    $('article:not(.continue_watch)').hover(
      function() {
      $(this).addClass("expand")
      $(this).find('.progress').hide();
    },
    function() {
      $(this).removeClass("expand")
      $(this).find('.progress').show();
    });

  });

  
</script>