<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="float-left w-100 wrapper listing-page">
  <div class="container">    
    <div class="float-left w-100">
        <section class="main-content">
          <div class="float-left w-100 min-height-div">
            <%if @all_episodes.count  > 0%>
              <div class="slick-parent-container-inner">
                <div class="float-left w-100 slick-area">
                  <div class="slicks-container">
                    <div class="float-left w-100 slicks">
                      <div class="float-left w-100">
                        <div class="float-left w-100 slick-container slick-gap">
                          <div class="float-left w-100 slick-wrapper">
                            <div class="float-left w-100 app-slick-carousel">
                              <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                <h1 class="section-title3 font-black app-color1"><%= get_lang_string("all_episodes")%></h1>
                              </div>
                              <div class="float-left w-100 app-slick-slider-container">
                                <div id="all_episodes">
                                <%@all_episodes.each do |i|%>
                                    <div class="listing-thumb horizontal-listing-thumb margin-bottom-10">
                                      <div style="width: 100%; display: inline-block;">
                                        <div class="slick-vertical-thumb">
                                          <article class="slick-vertical-thumb" style="">                                        
                                            <a href="<%=get_lang_url(i['seo_web_url'])%>">
                                              <div class="thumbnail-container">
                                                <div class="card-img-container">
                                                    <img src="<%=i["thumbnails"]["small_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=i["title"]%>" title="<%=i["title"]%>">
                                                </div>  
                                              </div>                                            
                                              <div class="slick-thumb-details">
                                                <div class="content-title ellipsize"><%= i['title']%></div>
                                                <div class="sub-info ellipsize"><%=i['ml_genres'][0].capitalize rescue  ['genres'][0].capitalize%> | <%=i['ml_language'][0].capitalize rescue i['language'].capitalize %> | <%= i['ml_release_date'].split("-")[0]rescue ''%>
                                                </div> 
                                             </div>                                         
                                            </a>
                                            <div class="h-center">
                                              <%if i["content_definition"] == "TVOD"%>
                                                  <span class="buy-txt"><%= get_lang_string("buy")%></span>
                                              <%elsif i["access_control"]["is_free"] == false  && i["access_control"]["premium_tag"] == true && i["content_definition"] != "TVOD" && $region == "IN"%>
                                                 <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title="" class="w-100"></span>
                                              <%end%>
                                            </div> 
                                            <div class="app-d-flex justify-content-end">
                                              <% if i['access_control']['is_free'] == true %>
                                                  <span class="free-txt text-uppercase">free</span>
                                              <% end %>
                                            </div>
                                          </article>                                        
                                        </div>
                                      </div>
                                    </div>
                                  <%end%>
                                </div> 
                                <%if @all_episodes.count > 19 %> 
                                   <div class="text-center margin-bottom-25 margin-top-20" id="load_more_items_link"> <a href="javascript:void(0);" class="inline-block radius-button text-uppercase load_all_items" id="load_more"><%= get_lang_string("load_more")%></a></div>
                                <%end%>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <%=render "layouts/page_height_setting"%>    
              <%end%>
            </div>  
        </section>
      </div>
  </div>
</div>


<input type="hidden" value="2" id="page_no">
<script type="text/javascript">

  $("#load_more").click(function(){
    $(this).text("<%= get_lang_string("load_more")%>...");
    var path = "";
    var current_path = window.location.pathname.split("/")
    if(current_path.length == 3){
      path = window.location.pathname+"/all_episodes";
    }
    else{
      path = "/"+current_path[1]+"/"+current_path[2]+"/all_episodes";
    }
    var pageno = $("#page_no").val();
    $.ajax({
    url: path,
    type: "GET",
    data: { 
     page_no: pageno 
    },
    success: function(response){
      $("#load_more").text("Load more")
      var episodes = response.episodes;
      $("#page_no").val(response.pageno);
      for (var i=0; i< episodes.length; i++){
        var item_det = episodes[i].split("$");
        $("#all_episodes").append('<div class="listing-thumb horizontal-listing-thumb margin-bottom-10"><div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="'+item_det[3]+'"><div class="thumbnail-container"><div class="card-img-container"><img src="'+item_det[1]+'" class="img-loader lazy-img-loader loaded" loading="lazy" alt="'+item_det[0]+'" title="'+item_det[0]+'"></div></div><div class="slick-thumb-details"><div class="content-title ellipsize">'+item_det[0]+'</div><div class="sub-info ellipsize">'+item_det[6]+' | '+item_det[7]+' | '+item_det[8]+' </div></div></a><div class="h-center"><span class="premium-img" style="display:'+(item_det[5] == "true" ? "none" : "")+'"><img src="/assets/premium_icon.svg" alt="" title="" class="w-100"></span></div><div class="app-d-flex justify-content-end"><span class="free-txt text-uppercase" style="display:'+(item_det[9] == "show" && item_det[10] == "true" ? "" : "none")+'">free</span></div></article></div></div></div>')

      }
      if(response.next_page == "false"){
       $("#load_more_items_link").hide();
      }

      $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );
    }


  });
  })

    $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );
</script>


