<%
   meta title: "More In #{params[:genre]}",
    description: "#{params[:genre]}",
    keywords: "#{params[:genre]}"
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="float-left w-100 wrapper listing-page">
  <div class="container">    
    <div class="float-left w-100 ">
      <div class="float-left w-100">
        <section class="main-content">
          <div class="float-left w-100 min-height-div">
            <div class="slick-parent-container-inner">
              <div class="float-left w-100 slick-area">
                <div class="slicks-container">
                  <div class="float-left w-100 slicks">
                    <div class="float-left w-100 ">
                      <div class="float-left w-100 slick-container slick-gap">
                        <div class="float-left w-100 slick-wrapper">
                          <div class="float-left w-100 app-slick-carousel">
                            <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                              <h1 class="section-title3 font-black app-color1"><%= get_lang_string("you_may_like")%></h1>
                            </div>
                            <div class="float-left w-100 app-slick-slider-container">
                              <%if @theme == "movie" 
                                 class_name = "vertical"
                                else
                                  class_name ="horizontal"
                                end%>
                                <%@all_genere_items.each do |i|%>
                                  <div class="listing-thumb <%=class_name%>-listing-thumb mb-3">
                                    <div style="width: 100%; display: inline-block;">
                                      <div class="slick-vertical-thumb">
                                        <article class="slick-vertical-thumb" style="">
                                          <a href="<%=get_lang_url(i['seo_web_url'])%>" >
                                            <div class="thumbnail-container">
                                              <div class="card-img-container">
                                                 <%if @theme == "video" || @theme == "livetv" || @theme == "show"
                                                  img_url = i["thumbnails"]["medium_16_9"]["url"]
                                                else
                                                  img_url = i["thumbnails"]["medium_2_3"]["url"]
                                                end
                                                  %>
                                                  <img src="<%=img_url%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=i["title"]%>" title="<%=i["title"]%>">
                                              </div>  
                                            </div>                                            
                                            <div class="slick-thumb-details">
                                              <div class="content-title ellipsize"><%= i['ml_title'] rescue i['title']%></div>
                                              <div class="sub-info ellipsize"><%=i['ml_genres'][0].capitalize rescue i['genres'][0].capitalize %> | <%=i['ml_language'][0].capitalize rescue i['language'].capitalize %> | <%= i['ml_release_date'].split("-")[0]rescue i['release_date_string'].split("-")[0]%>
                                               </div> 
                                           </div>                                         
                                          </a>
                                          <div class="h-center">
                                            <%if i["content_definition"] == "TVOD"%>
                                                <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                            <%elsif i["access_control"]["is_free"] == false  && i["access_control"]["premium_tag"] == true && i["content_definition"] != "TVOD" && $region == "IN"%>
                                               <span class="premium-img"><img src="/assets/premium_icon.svg" class="w-100" alt="" title=""></span>
                                            <%end%>
                                          </div> 
                                          <div class="app-d-flex justify-content-end">
                                            <% if i['access_control']['is_free'] == true && i['theme'] == "episode" %>
                                                <span class="free-txt text-uppercase">free</span>
                                            <% end %>
                                          </div> 
                                        </article>                                        
                                      </div>
                                    </div>
                                  </div>
                                <%end%>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>       
        </section>
      </div>  
    </div>
  </div>
</div>

<%=render "layouts/page_height_setting"%> 
 
<script type="text/javascript">
$(document).ready(function(){

  $(window).scroll(function(){

      var scroll = $(window).scrollTop(),
      doc_height = $(document).height(),
      window_height = $(window).height();
      var scrollPercent = ((scroll / (doc_height - window_height)) * 100).toFixed(0);
      if (scrollPercent == 10 || scrollPercent == 25  || scrollPercent == 50  || scrollPercent == 75 || scrollPercent == 100) {
        netcore_apxor_scoll_event('<%= params[:catalog_name] %>',scrollPercent)
      };
    
  })
 $('article').hover(
    function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
  );

  function netcore_apxor_scoll_event(name,scrollPercent){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"    
    Apxor.logEvent("Scroll_Vertical",{
    "screen_name": name,
    'user_state': user_state,
    "depth": scrollPercent
    }, "Scroll_Vertical");

    smartech('dispatch', 'Scroll_Vertical', {
      "screen_name": name,
      "depth": scrollPercent,
      'user_state': user_state
    })


    branch.logEvent(
    "Scroll_Vertical",
      {"screen_name": name,
      'user_state': user_state,
      "depth": scrollPercent
    },
    function(err) { console.log(err); }
    );
  }               

 })

</script>
