<%
meta title: "ShemarooMe: Hindi Movies, TV Shows, Short Films, Music, Kids Shows & More",
     description: "Watch your favorite TV series & Movies online. Enjoy high quality streaming of classic movies, TV serials, bollywood music, kids shows in various languages, devotional content & much more in regional languages such as Gujarati & Punjabi, here at ShemarooMe.",
     keywords: "online tv streaming, online television, internet tv, watch tv on internet, star player, Online tv streaming, free streaming, watch tv shows on internet, watch tv series online, watch movies online, old hindi songs, Gujarati movies, Gujarati nataks"
%>
<section class="main-content">
  <div class="slick-parent-container-inner">
    <div class="float-left w-100 landing-page">          
      <div class="float-left w-100 banner-slider">
        <div class="single-slide">
          <div id="banner-carousel" class="owl-carousel owl-theme">
            <% if @home_list[0]['catalog_list_items'].present? %>
            <%@home_list[0]['catalog_list_items'].each do |h|%>  
            <%page_url,cls_name = get_banner_item_url(h)%>      
            <div class="item">
              <a href="<%=page_url%>" class="float-left w-100  <%=cls_name%>">
                <%if h["access_control"]["is_free"] == false && h["access_control"]["premium_tag"] == true && $region == "IN"%>
                       <span class="banner-premium-img"><img src="/assets/premium.svg" alt="" title=""></span>
                <%end%>
                <div class="masthead-card">
                <div class="image-holder">
                <div class="imageloader loaded">
                <img src="<%=get_banner_image_url(h,@home_list[0]["layout_type"])%>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag free_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>">

                <img src="<%=(h["thumbnails"]["subscribed_banner"].present? && h["thumbnails"]["subscribed_banner"]["url"].present?) ? h["thumbnails"]["subscribed_banner"]["url"] : get_banner_image_url(h,@home_list[0]["layout_type"]).present? ? get_banner_image_url(h,@home_list[0]["layout_type"]) : "" %>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag subscribe_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>" style="display: none !important;">

                <img src="<%=(h["thumbnails"]["nonsubscribed_banner"].present? && h["thumbnails"]["nonsubscribed_banner"]["url"].present?)? h["thumbnails"]["nonsubscribed_banner"]["url"] : get_banner_image_url(h,@home_list[0]["layout_type"]).present? ? get_banner_image_url(h,@home_list[0]["layout_type"]) : "" %>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-none d-md-block <%=cls_name%> banner_tag non_subscribe_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>" style="display: none !important;">

                 <img src="<%=get_banner_image_url(h,@home_list[0]["layout_type"])%><%#=h["thumbnails"]["xl_image_16_9"]["url"]%>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag free_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>">

                 <img src="<%=(h["thumbnails"]["subscribed_banner"].present? && h["thumbnails"]["subscribed_banner"]["url"].present?) ? h["thumbnails"]["subscribed_banner"]["url"] : get_banner_image_url(h,@home_list[0]["layout_type"]) rescue "" %>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag subscribe_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>" style="display: none !important;">

                 <img src="<%=(h["thumbnails"]["nonsubscribed_banner"].present? && h["thumbnails"]["nonsubscribed_banner"]["url"].present?) ? h["thumbnails"]["nonsubscribed_banner"]["url"] : get_banner_image_url(h,@home_list[0]["layout_type"]) rescue "" %>" alt="<%=h['title']%>" title="<%=h['title']%>" class="d-block d-md-none <%=cls_name%> banner_tag non_subscribe_banner" id="<%=h['title']%>|<%=h['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=h['content_id']%>|<%=h['catalog_object']['layout_type']%>" style="display: none !important;">
                </div>
                <div class="container"></div>
                </div>
                </div>                      
               </a>
            </div>
          <%end%>
          <%end%>
          </div>
        </div>
      </div>

      <div class="slicks-container">
        <div class="float-left w-100 slick-area">
          <div class="float-left w-100 slicks">
            <div class="float-left w-100" id="user_continue_watch_list" style="display:none;">
              <div class="float-left w-100 app-d-flex justify-content-between mb-0 app-slick-container">
                <a href="<%= get_lang_url("/users/continue_watching")%>">
                  <h2 class="section-title big-desktop-app-font3 app-color1">
                  <%=get_lang_string("continue_watching")%></h2>      
                </a>
                <a href="<%= get_lang_url("/users/continue_watching")%>" class="more see-more"><%= get_lang_string("see_all")%></a>
              </div>
              <div  class="float-left w-100 slick-container slick-gap">
                <div class="float-left w-100 slick-wrapper">
                  <div class="float-left w-100 app-slick-carousel" >
                    <div class="horizontal slider responsive mb-0">
                    <div class="float-left w-100 app-slick-slider-container mb-0" id="continue-watching-carousel">
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="slicks-container">
        <div class="float-left w-100 slick-area">
          <div class="float-left w-100 slicks">
            <div class="float-left w-100" id="user_recommend_list" style="display:none;">
              <div class="float-left w-100 app-d-flex justify-content-between mb-0 app-slick-container">
                <a href="<%= get_lang_url("/users/user_recommendation")%>">
                  <h2 class="section-title big-desktop-app-font3 app-color1">
                  <%=get_lang_string("recommendation_for_you")%></h2>      
                </a>
                <a href="<%= get_lang_url("/users/user_recommendation")%>" class="more see-more"><%= get_lang_string("see_all")%></a>
              </div>
              <div  class="float-left w-100 slick-container slick-gap">
                <div class="float-left w-100 slick-wrapper">
                  <div class="float-left w-100 app-slick-carousel" >
                    <div class="horizontal slider responsive mb-0">
                    <div class="float-left w-100 app-slick-slider-container mb-0" id="user-recommend-carousel">
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal" id="ctn_watch_delete_pop">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body text-left padding-left-30 padding-right-30">
                    <%delete_popup = get_lang_popup("delete_item")%>
                    <h6 class="pull-left w-100 margin-bottom-25 margin-top-5"><%= delete_popup['title_text'] %></h6>
                    <div class="inline-block w-100  custom-gradient margin-bottom-20 margin-top-5 text-center">
                      <p class="inline radius-button radius-button margin-right-10">
                        <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold " id="cancel-pop"><%= delete_popup['negative']%></a>
                      </p>
                      <input type="hidden" name="playlistid" id="user_playlist_id">
                      <p class="inline radius-button radius-button margin-right-10">
                        <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold " id="user_continue_watch_clear"><%= delete_popup['positive']%></a>
                      </p>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
         <!--  </div>
        </div>
      </div>
         -->
      <div class="float-left w-100 slick-area">
        <div class="slicks-container">
          <div class="float-left w-100 slicks" >
            <div class="float-left w-100">
              <%@fst_itms.each_with_index do |list,index|%>
                <%#if index != 0%>
                  <%if list.has_key?("catalog_list_items") && list['catalog_list_items'].count > 0%>
                      <div class="float-left w-100 slick-container slick-gap">
                        <div class="float-left w-100 slick-wrapper">
                        <div class="float-left w-100 app-slick-carousel">
                          <div class="float-left w-100 app-d-flex justify-content-between app-slick-container actual_item"   data-bucket-name = "<%=list['display_title']%>">
                            <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? get_lang_url(list["home_link"]) : get_cln_url(list["home_link"])%>" id="home_title_<%=index%>">
                            <h2 class="section-title big-desktop-app-font3 app-color1"><%=list['ml_display_title'] rescue list['display_title']%></h2></a>
                              <%unless list["home_link"].blank?%>
                              <%if list["home_link"] == "channel" %>
                               <a href="/channels" class="more see-more all_items_<%=index%>" style="display:none;"><%= get_lang_string("see_all")%></a>
                               <%else%>
                                <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? get_lang_url(list["home_link"]) : get_cln_url(list["home_link"])%>" class="more see-more all_items_<%=index%>" style="display:none;"><%= get_lang_string("see_all")%></a>
                                <%end%>
                              <%end%>
                          </div>
                          <div class="float-left w-100 app-slick-slider-container">
                            <div id="bollywood-classic-carousel_<%=index%>" data-item-det="<%=@fst_itms[index]["layout_type"]%>$<%=list['catalog_list_items'].count%>$<%=get_item_color(list['layout_scheme'])%>" class="<%=(@fst_itms[index]["layout_type"] == "t_playlist" ? "square2" : get_img_type(@fst_itms[index]["layout_type"]))%> slider responsive" >
                             <%list['catalog_list_items'].each do |item|%>
                                <div style="width: 100%; display: inline-block;">
                                  <div class="slick-vertical-thumb">
                                    <article class="slick-vertical-thumb" style="">
                                      <a href="<%=get_lang_url(item['seo_web_url'])%>">
                                        <div class="thumbnail-container">
                                          <div class="card-img-container">
                                            <%if @fst_itms[index]["layout_type"] == "t_playlist" %>
                                            <img src="<%=get_image_url(item,@fst_itms[index]["layout_type"])%>" data-value="<%=item["channel_name"] rescue ""%>,<%=item["theme"] rescue ""%>,<%=item["catalog_object"]["plan_category_type"] rescue ""%>,<%=item["ml_language"].join(",") rescue ""%>,<%=item["ml_genres"].join(",") rescue ""%>" onclick="channel_card_event(this)" class="img-loader lazy-img-loader loaded" loading="lazy" alt="">
                                            <%else %>
                                            <img src="<%=get_image_url(item,@fst_itms[index]["layout_type"])%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="">
                                            <%end%>
                                          </div>
                                          <div class="h-center">
                                            <%if item["content_definition"] == "TVOD"%>
                                                <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                            <%elsif item["access_control"]["is_free"] == false  && item["access_control"]["premium_tag"] == true && item["content_definition"] != "TVOD" && $region == "IN"%>
                                              <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                               <!-- <span class="premium-txt"><%#= get_lang_string("premium")%></span> -->
                                            <%end%>
                                          </div>
                                          <div class="app-d-flex justify-content-end">
                                            <% if item['access_control']['is_free'] == true && item['theme'] == "episode" %>
                                            <span class="free-txt text-uppercase">free</span>
                                            <% end %>
                                          </div>
                                          <%#if @fst_itms[index]["layout_type"] == "t_playlist" %>
                                          <!-- <div class="slick-thumb-details">
                                            <div class="image-desc">
                                              <h4 class="font-black">Best of</h4>
                                              <h2 class="font-black text-uppercase mb-0"><%#= item["ml_title"]%></h2>
                                            </div>  
                                          </div> -->
                                          <%#end%> 
                                        </div>                                         
                                      </a>
                                    </article>
                                  </div>
                                </div>
                              <%end%>
                            </div>  
                          </div>
                          </div>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                <%#end%>
              </div>
            </div>
          </div>
        </div>

       <div class="slicks-container">
        <div class="float-left w-100 browse-section">
          <div class="slick-wrapper">
            <div class="app-slick-carousel">
              <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                 <h2 class="section-title big-desktop-app-font3 app-color1"><%=get_lang_string("browse")%></h2>              
              </div>
              <div class="float-left w-100 d-none d-md-block app-slick-slider-container">
                <div class="browse-thumb-wrap">
                  <%@browse_items.each do |b|%>
                    <div class="browse-thumb">
                        <a href="<%=get_lang_url(b['home_link'])%>" class="float-left w-100" class="float-left w-100" title="<%=b['display_title']%>">
                        <img src="<%=b['thumbnails']['list_item_banner_web']['url'].blank? ? "https://daex9l847wg3n.cloudfront.net/shemoutputimages/Blue-Mountains/5f359fbea609d2bc64000002/small_16_9_1597945580.jpg?1597948322" : "#{b['thumbnails']['list_item_banner_web']['url']}"%>"class="img-loader lazy-img-loader loaded" loading="lazy" alt="" title="<%=b["display_title"]%>" style="height: <%=b['thumbnails']['list_item_banner_web']['url'].blank? ? "136px;" : ""%>">
                        <div class="app-d-flex ml-2 pl-1">
                          <span class="shemaroo-color9"><%=b['ml_display_title'] rescue b['display_title'] %></span>
                        </div>  
                      </a>
                    </div>
                  <%end%>
                </div>
              </div>
              <div class="float-left w-100 d-block d-md-none">
                <div class="float-left w-100 browse-slider">
                  <%@browse_items.each do |b|%>
                    <div class="browse-thumb">
                      <a href="<%=get_lang_url(b['home_link'])%>" class="float-left w-100" class="float-left w-100" title="<%=b['display_title']%>">
                        <img src="<%=b['thumbnails']['list_item_banner_web']['url'].blank? ? "https://daex9l847wg3n.cloudfront.net/shemoutputimages/Blue-Mountains/5f359fbea609d2bc64000002/small_16_9_1597945580.jpg?1597948322" : "#{b['thumbnails']['list_item_banner_web']['url']}"%>"class="img-loader lazy-img-loader loaded" loading="lazy" alt="" title="<%=b["display_title"]%>" style="height: <%=b['thumbnails']['list_item_banner_web']['url'].blank? ? "136px;" : ""%>">
                        <div class="h-center">
                          <span class="shemaroo-color9"><%=b['ml_display_title'] rescue b['display_title'] %></span>
                        </div>  
                      </a>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="float-left w-100 slick-area">
        <div class="slicks-container">
          <div class="float-left w-100 slicks" >
            <div class="float-left w-100">
              <%if @scnd_itms%>
              <%@scnd_itms.each_with_index do |list,index|%>
                  <%if list.has_key?("catalog_list_items") && list['catalog_list_items'].count > 0%>
                      <div class="float-left w-100 slick-container slick-gap">
                        <div class="float-left w-100 slick-wrapper">
                        <div class="float-left w-100 app-slick-carousel">
                          <div class="float-left w-100 app-d-flex justify-content-between app-slick-container actual_item"   data-bucket-name = "<%=list['display_title']%>">
                              <%if list["home_link"] == "new-channels-homepagelist" %>
                              <a href="<%= params[:lang].present? ? "/#{params[:lang]}" : ""%>/channels" id="home_title_<%=index+4%>" style="display:none;">
                              <h2 class="section-title big-desktop-app-font3 app-color1"><%=list['ml_display_title'] rescue list['display_title']%></h2></a>
                              <%else%>
                                <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? get_lang_url(list["home_link"]) : get_cln_url(list["home_link"])%>" id="home_title_<%=index+4%>" style="display:none;">
                              <h2 class="section-title big-desktop-app-font3 app-color1"><%=list['ml_display_title'] rescue list['display_title']%></h2></a>
                              <%end%>
                              <%unless list["home_link"].blank?%>
                                <%if list["home_link"] == "new-channels-homepagelist" %>
                                <a href="<%= params[:lang].present? ? "/#{params[:lang]}" : ""%>/channels" class="more see-more all_items_<%=index+4%>" style="display:none;"><%= get_lang_string("see_all")%></a>
                                <%else%>
                                <a href="<%=(list["home_link"] == list["layout_scheme"].gsub("_","-")) ? get_lang_url(list['home_link']) : get_cln_url(list["home_link"])%>" class="more see-more all_items_<%=index+4%>" style="display:none;"><%= get_lang_string("see_all")%></a>
                                <%end%>
                              <%end%>
                          </div>
                          <div class="float-left w-100 app-slick-slider-container">
                            <div id="bollywood-classic-carousel_<%=index+4%>" data-item-det="<%=@scnd_itms[index]["layout_type"]%>$<%=list['catalog_list_items'].count%>$<%=get_item_color(list['layout_scheme'])%>"  class="<%=(@scnd_itms[index]["layout_type"] == "t_playlist" ? "square2" : get_img_type(@scnd_itms[index]["layout_type"]))%> slider responsive" >
                             <%list['catalog_list_items'].each do |item|%>
                                <div style="width: 100%; display: inline-block;">
                                  <div class="slick-vertical-thumb">
                                    <article class="slick-vertical-thumb" style="">
                                      <a href="<%=get_lang_url(item['seo_web_url'])%>">
                                        <div class="thumbnail-container">
                                          <div class="card-img-container">
                                            <img src="<%=get_image_url(item,@scnd_itms[index]["layout_type"])%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="">
                                          </div>
                                          <div class="h-center">
                                            <%if item["content_definition"] == "TVOD"%>
                                                <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                            <%elsif item["access_control"]["is_free"] == false  && item["access_control"]["premium_tag"] == true && item["content_definition"] != "TVOD" && $region == "IN"%>
                                                <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                               <!-- <span class="premium-txt"><%#= get_lang_string("premium")%></span> -->
                                            <%end%>
                                          </div> 
                                          <div class="app-d-flex justify-content-end">
                                            <% if item['access_control']['is_free'] == true && item['theme'] == "episode" %>
                                            <span class="free-txt text-uppercase">free</span>
                                            <% end %>
                                          </div>
                                          <div class="slick-thumb-details">
                                              <div class="content-title ellipsize"><%=item['ml_title']%></div>
                                              <div class="sub-info ellipsize"><%=item['ml_genres'][0].capitalize rescue ""%> | <%=item['ml_language'][0].capitalize rescue ""%>  <%= '| '+ item['ml_release_date'].split("-")[0] rescue item['release_date_string'].split("-")[0] if item['release_date_string'].present?%></div>
                                            </div> 
                                        </div>                                         
                                      </a>
                                    </article>
                                  </div>
                                </div>
                              <%end%>
                            </div>  
                          </div>
                          </div>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
               <div class="float-left w-100 relative-content relative-content-scroll" style="padding-bottom: 0px;">
                  <div class="float-left w-100 get_more_items"></div>  
                  <div class="scroll_loader">
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


   
<input type="hidden" id="index_expired_plans"  value="<%=@expired_categories%>">
<input type="hidden" id="index_current_plans"  value="<%=@plan_categories%>">
<input type="hidden" id="index_subscription_status"  value="<%=@subscribed_status%>">
<input type="hidden" id="continue_confirm"  value="<%= get_lang_string("confirm")%>">

<input type="hidden" value="2" id="page_no">
<input type="hidden" value="true" id="next_page">


<%=render "catalogs/set_user_profile_cookies"%>
<%=render "catalogs/branch_banner_events"%>
<style>
  .square2.slick-initialized .slick-slide {
    margin-right: 24px;
  }
  .slick-wrapper .square2 .slick-list {
    padding: 0px 220px !important;
    padding-left: 0 !important;
  }
  .square2.slick-initialized .slick-slide:before {
    left: 220px;
  }
  .square2 .slick-thumb-details {
    display: block;
  }
  .square2 .slick-thumb-details .image-desc {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .square2 .slick-thumb-details .image-desc h4 {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 0;
    color: #fff;
  }
  .square2 .slick-thumb-details .image-desc h2 {
    color: #fff;
    font-size: 48px;
    line-height: 38px;
    margin-bottom: 0; 
  }
  @media(max-width: 1600px) {
    .square2.slick-initialized .slick-slide:before {
      left: 210px;
    }
  }
  @media(max-width: 1199px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 160px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 120px;
    }
    .square2 .slick-thumb-details .image-desc h4 {
      font-size: 28px;
      line-height: 44px;
    }
    .square2 .slick-thumb-details .image-desc h2 {
      font-size: 42px;
      line-height: 34px;
    }
  }
  @media(max-width: 991px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 80px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 80px;
    }
    .square2 .slick-thumb-details .image-desc h4 {
      font-size: 24px;
      line-height: 38px;
    }
    .square2 .slick-thumb-details .image-desc h2 {
      font-size: 36px;
      line-height: 30px;
    }
    .square2.slick-initialized .slick-slide {
      margin-right: 16px;
    }
  }
  @media(max-width: 767px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 90px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 50px;
    }
    .square2 .slick-thumb-details .image-desc {
      bottom: 16px;
      left: 16px;
    }
    .square2 .slick-thumb-details .image-desc h4 {
      font-size: 21px;
      line-height: 34px;
    }
    .square2 .slick-thumb-details .image-desc h2 {
      font-size: 32px;
      line-height: 26px;
    }
  }
  @media(max-width: 440px) {
    .slick-wrapper .square2 .slick-list {
      padding: 0px 60px !important;
      padding-left: 0 !important;
    }
    .square2.slick-initialized .slick-slide:before {
      left: 20px;
    }
    .square2 .slick-thumb-details .image-desc {
      bottom: 10px;
      left: 10px;
    }
    .square2 .slick-thumb-details .image-desc h4 {
      font-size: 17px;
      line-height: 28px;
    }
    .square2 .slick-thumb-details .image-desc h2 {
      font-size: 24px;
      line-height: 20px;
    }
  }
</style>

<script>
  function channel_card_event(channel_data){
      var channel_details = $(channel_data).data("value").split(",")
      Apxor.logEvent('View_Button_Channelcard', {
        "source": "",
        "content_type": channel_details[1],
        "channel_name": channel_details[0],
        "channel_category_name": channel_details[2],
        "channel_language": channel_details[3],
        "channel_genre": channel_details[4]
      } ,"View_Button_Channelcard" )

      smartech('dispatch', 'View_Button_Channelcard', {
        "source": "",
        "content_type": channel_details[1],
        "channel_name": channel_details[0],
        "channel_category_name": channel_details[2],
        "channel_language": channel_details[3],
        "channel_genre": channel_details[4]  
      });

      branch.logEvent(
        "View_Button_Channelcard",
          { "source": "",
            "content_type": channel_details[1],
            "channel_name": channel_details[0],
            "channel_category_name": channel_details[2],
            "channel_language": channel_details[3],
            "channel_genre": channel_details[4]
        },
        function(err) { console.log(err); }
      );
    }
</script>

<script>
  $(document).ready(function(){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    if (getShemarooCookies().user_id){
      if (getShemarooCookies().user_actv_sub_status == "Subscribed"){
        $(".free_banner").remove();
        $(".non_subscribe_banner").remove();
        $(".subscribe_banner").show();
      }else{
        $(".free_banner").remove();
         $(".subscribe_banner").remove();
        $(".non_subscribe_banner").show();
      }
    }

    $( '.browse-thumb-wrap a, .browse-thumb a').on( 'click', function() {
      var value = $(this).attr('title');
      Apxor.logEvent("Catalogue_Browse",{
      "parent_category": value,
      'user_state': user_state
      }, "Catalogue_Browse");

      smartech('dispatch', 'Catalogue_Browse', {
        "parent_category": value,
        'user_state': user_state
      });
      branch.logEvent(
      "Catalogue_Browse",
        {"parent_category": value,
        'user_state':user_state
      },
      function(err) { console.log(err); }
      );
    });

    $(".scrollmenuwrap").hide();

    var swiper = new Swiper('.swiper-container',{
      pagination: {
      el: '.swiper-pagination',
      clickable: true,
      renderBullet: function (index, className) {
      return '<span class="' + className + '"></span>';
      },
      },
    });


    var status = false
    $(window).scroll(function(){

      var scroll = $(window).scrollTop(),
      doc_height = $(document).height(),
      window_height = $(window).height();
      var scrollPercent = ((scroll / (doc_height - window_height)) * 100).toFixed(0);
      
      //if (($(window).scrollTop()) == ($(document).height() - 400 ) - ($(window).height() - 400)){
     if((scrollPercent >= 75 && scrollPercent <= 85) && status == false){
        if ($("#next_page").val() != "false"){ 
        $(".relative-content-scroll").css("padding-bottom", 120);
        $(".scroll_loader").show(); 
          status = true
          AddMoreContent();
        }
      }

      if($("#next_page").val() == "false"){
        $(".relative-content-scroll").css("padding-bottom", 0);
        $(".scroll_loader").hide();
      }

      if (scrollPercent == 10 || scrollPercent == 25  || scrollPercent == 50  || scrollPercent == 75 || scrollPercent == 100) {
        netcore_apxor_scoll_event('Home',scrollPercent, user_state)
      };

    });

    function AddMoreContent(){
      var pageno = $("#page_no").val();
      $.ajax({
      url: "/catalogs/add_home_list",
      type: "GET",
      data: { 
       page_no: pageno,
       lang: getShemarooCookies().shm_sel_lang
      },
      success: function(response){
        var home_list = response.home_list;
        $("#page_no").val(response.pageno);
        $("#next_page").val(response.next_page);
        for (var i=0; i< home_list.length; i++){
            var item_det = home_list[i][1].split("$$");
            var list_data = "";
            var list_items = "";
            for (var m=0; m< home_list[i][0].length; m++){
              var list = home_list[i][0][m].split("$$");
              list_items+='<div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="'+list[0]+'"><div class="thumbnail-container"><div class="card-img-container"><img src="'+list[5]+'" class="img-loader lazy-img-loader loaded" loading="lazy" alt=""></div><div class="h-center"><span class="buy-txt" style="display:'+(list[10] == "TVOD" ? "" : "none")+'"><%= get_lang_string("buy")%></span><span class="premium-img" style="display:'+(list[6] == "true" && list[10] != "TVOD"? "" : "none")+'"><img src="/assets/premium_icon.svg" alt="" title=""></span></div><div class="app-d-flex justify-content-end"><span class="free-txt text-uppercase" style="display:'+(list[8] == "episode" && list[9] == "true" ? "" : "none")+'">free</span></div><div class="slick-thumb-details"><div class="content-title ellipsize">'+list[1]+'</div><div class="sub-info ellipsize" style="display:'+(list[7] == "0" ? "none" : "")+'">'+list[2]+' | '+list[3]+' | '+list[7]+'</div><div class="sub-info ellipsize" style="display:'+(list[7] == "0" ? "" : "none")+'">'+list[2]+' | '+list[3]+'</div></div></div></a></article></div></div>'
            }
            if (getShemarooCookies().shm_sel_lang == undefined || getShemarooCookies().shm_sel_lang == "en"){
              var cond = (item_det[2] === item_det[1].replace("_","-") ?  item_det[2] : item_det[2]+'/collection')
            }else{
              var cond = (item_det[2] === item_det[1].replace("_","-") ?  "/"+getShemarooCookies().shm_sel_lang+"/"+item_det[2] : "/"+getShemarooCookies().shm_sel_lang+"/"+item_det[2]+'/collection')
            }
            

            list_data = '<div class="float-left w-100 slick-container slick-gap"><div class="float-left w-100 slick-wrapper"><div class="float-left w-100 app-slick-carousel"><div class="float-left w-100 app-d-flex justify-content-between app-slick-container"><a href="'+cond+'" id="home_title_'+item_det[3]+'"><h2 class="section-title big-desktop-app-font3 app-color1">'+item_det[0]+'</h2></a><a href="'+cond+'" class="more see-more more_check_'+item_det[3]+'" style="display:none"><%= get_lang_string("see_all")%></a></div><div class="float-left w-100 app-slick-slider-container"><div class="'+item_det[7]+' slider responsive">'+list_items+'</div></div></div></div></div>'

              $(".get_more_items").append(list_data)
              $(".relative-content-scroll").css("padding-bottom", 0);
              $(".scroll_loader").hide();
              top_slider_init()
              status = false

              var items_count = home_list[i][0].length
              var platfrm = getShemarooCookies().mobile_browser_type
              image_type = item_det[7]
              if(image_type == "horizontal" ){
                 if(items_count > 5 && platfrm != "mobile"){
                    $(".more_check_"+item_det[3]).show();
                 }else if(items_count > 2 && platfrm == "mobile"){
                    $(".more_check_"+item_det[3]).show();
                 }
              }else{
               if(items_count > 6 && platfrm != "mobile"){
                  $(".more_check_"+item_det[3]).show();
               }else if(items_count > 3 && platfrm == "mobile"){
                  $(".more_check_"+item_det[3]).show();
               }
              }

          }
          if(home_list.length == 0 || response.next_page == "false"){
            $(".relative-content-scroll").css("padding-bottom", 0);
            $(".scroll_loader").hide();
          }
       }
      });
    }
 
    function top_slider_init(){

      $('.tabs-block .active').removeClass('active');
      $('div.active').removeClass('active');

    $(".horizontal").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      draggable: false,
      asNavFor: '.slider-for',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            draggable: true,
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    
    $(".vertical").not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      draggable: false,
      asNavFor: '.slider-for',
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            draggable: true,
            slidesToShow: 6,
            slidesToScroll: 1,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });

    $('.square2').not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 2,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 2,
            slidesToScroll: 2,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
      $('article:not(.continue_watch)').hover(
      function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
    );
    }
    
    var bg_slide_width = $(window).width();
    $("#banner-bg-slider, #banner-bg-slider > div ").height(bg_slide_width);
    $('.browse-slider').slick({
      rows: 2,
      dots: false,      
      arrows: false,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }  
      ]
    });

    $('.vertical').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 6,
            slidesToScroll: 1,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });

    $('.horizontal').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    
    $('.square2').not('.slick-initialized').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 2,
      draggable: false,
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            draggable: true,
            slidesToShow: 2,
            slidesToScroll: 2,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });    
    $('article:not(.continue_watch)').hover(
      function() {
      $(this).addClass("expand")
    },
    function() {
      $(this).removeClass("expand")
    }
    );
    
  });

  var window_height = window.outerHeight;
  var window_height = window_height - 231;
  $('.min-height-div').css('min-height',window_height+'px');

$(document).ready(function() { 
  var pin = getShemarooCookies().pin
   var verified_pin = localStorage.getItem("verified_pin")
  if(pin != undefined && pin.length >0 && verified_pin != "true"){
    window.location = "/users/who_is_watching"
   }

  if(getShemarooCookies().theme_option == "light_theme")
  {
    var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/new_icons/carousel_prev.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/new_icons/carousel_next.svg" alt="" title=""></span>'
    ];
  }else{
        var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/new_icons/carousel_prev_dark.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/new_icons/carousel_next_dark.svg" alt="" title=""></span>'
      ];
    }
 
  $('#banner-carousel').owlCarousel({
    loop:true,
    autoplay: true,
    smartSpeed: 1200,
    margin:10,
    nav:true,
    dots: true,
    navText: navigation,
    navSpeed: 1000,
    responsive:{
      0:{
          nav: false,
          items:1,
          stagePadding: 35,
      },
      576:{
          items:1,
          stagePadding: 49,
      },
      768:{
          items:1,
          stagePadding: 59,
          dots: false,
      },
      992:{
          items:1,
          stagePadding: 69,
      },
      1200:{
          nav: true,
          items:1,
          stagePadding: 160,
      },
      1400:{
          items:1,
          stagePadding: 194,
      },
      1650:{
          items:1,
          stagePadding: 300,
      }
    }
  });


  var items_count = "<%=@items.count-1%>"
    for (i = 1; i <= items_count; i++) {
    var auto_loop_status = false;
    var owl = $("#bollywood-classic-carousel_"+i);
    if($("#bollywood-classic-carousel_"+i).data("item-det") != undefined){
    var det = $("#bollywood-classic-carousel_"+i).data("item-det").split("$");
    var total_item_cnt =  det[1];
    var layout_type = det[0];
    var color = det[2].split("|")
    var platform = getShemarooCookies().mobile_browser_type
    // $("body").append("<style>.title_color_"+i+" h2:before{background: linear-gradient(to right,"+color[0]+", "+color[1]+");}</style>");
    if(layout_type == "t_16_9_big" || layout_type == "t_16_9_small" || layout_type == "t_16_9_small_meta"  || layout_type == "t_16_9_big_meta"){
     var no_of_items = 5;
     var items_0 = 1
       var items_576 = 2
       var items_768 = 3
       var items_992 = 4

     if(total_item_cnt > 5 && platform != "mobile" ){
        auto_loop_status = true
        $(".all_items_"+i).show();
     }
     else if(total_item_cnt > 2 && platform == "mobile" ){
        auto_loop_status = true
        $(".all_items_"+i).show();
     }
    }
    else if(layout_type == "t_1_1_plain" || layout_type == "t_1_1_album"){
     var no_of_items = 6;
     var items_0 = 2
       var items_576 = 3
       var items_768 = 4
       var items_992 = 5
     if(total_item_cnt > 6 && platform != "mobile"){
        auto_loop_status = true
       $(".all_items_"+i).show();
      }
      else if(total_item_cnt > 3 && platform == "mobile"){
        auto_loop_status = true
       $(".all_items_"+i).show();
      }

    }
    else if(layout_type == "t_playlist") {
      var no_of_items = 7
      var items_0 = 2
      var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 3 && platform != "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
     else if(total_item_cnt > 3 && platform == "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }

    }
    else{
      var no_of_items = 7
      var items_0 = 2
      var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 7 && platform != "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
     else if(total_item_cnt > 3 && platform == "mobile"){
       auto_loop_status = true
      $(".all_items_"+i).show();
     }
    }

  
}
 $("#home_title_"+i).show();
 }
 $("#home_catalog_items").css("min-height","1px");

  function continue_watch_carousel(cnt){
    if(cnt > 5){
      auto_loop_status = true
    }
    else{
      auto_loop_status = false
    }


    $('#continue-watching-carousel').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    $('article:not(.continue_watch)').hover(
      function() {
      $(this).addClass("expand")
      $(this).find('.progress').hide();
    },
    function() {
      $(this).removeClass("expand")
      $(this).find('.progress').show();
    });

  
  }

  //============recoment list style=======================//

    function user_recommend_carousel(cnt){
    if(cnt > 5){
      auto_loop_status = true
    }
    else{
      auto_loop_status = false
    }


    $('#user-recommend-carousel').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,          
          }
        },
        {
        breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
        breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
        breakpoint: 440,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
    $('article:not(.continue_watch)').hover(
      function() {
      $(this).addClass("expand")
      $(this).find('.progress').hide();
    },
    function() {
      $(this).removeClass("expand")
      $(this).find('.progress').show();
    });

  
  }

  //==================end=================================//

  function smarttech_index(sub_status,present_plans,exp_plans){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    smartech('contact', '60',{ 
    'pk^user_id': getShemarooCookies().user_analytical_id,
    'user_state': user_state,
    'INACTIVE_PLANS': exp_plans,
    'ACTIVE_PLANS': present_plans,
    'IS_SUBSCRIBED': sub_status,
    'IS_LOGGEDIN': '1'
   }); 
  }

  smartech('dispatch', 'sample_test_event', {
    'name': "home",
     'city': "bangalore",
     'region': "IN"

  })

  if(getShemarooCookies().user_id){
     $.ajax({
      url: "/users/continue_watching_list",
      type: "GET",
      data: {},
      success: function(response,status){
        //netcore_login(response.sub_status, response.present_plans, response.exp_plans);
        console.log(response.items.length);
        if(response.status == true && response.items.length > 0){
          smarttech_index(response.sub_status, response.present_plans, response.exp_plans);
          var list_data = "";
          var user_region = $(".user_region").val()
          for(i=0;i<response.items.length;i++){
            var tag = ""
            var item = response.items[i].split("$");
            if(item[8] == "TVOD"){
             tag = '<span class="buy-txt"><%= get_lang_string("buy")%></span>'
            }
            else if(user_region == "IN" && item[9] == "true" ){
              tag = '<span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>'
            }
            //if((item[6]== "true" && response.sub_status == 1 )|| item[6]== "false"){
              var  delete_theme = getShemarooCookies().theme_option == "light_theme" ? "delete.svg" : "delete-dark.svg"

             list_data+= '<div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"> <article class="slick-vertical-thumb float-left w-100 padding-bottom-5 continue_watch" style=""> <a href="'+item[3]+'" class="cn_item"><div class="thumbnail-container"><div class="card-img-container"> <img src="'+item[2]+'" class="img-loader lazy-img-loader loaded"><div class="h-center">'+tag+'</div></div></div> </a><div class="continue-thumb-details thumb-info"><div class="progress pull-left w-100 mt-1"><div class="progress-bar" style="width: '+item[5]+'%;"></div></div><div class="float-left w-100 content-title text-ellipsis app-color1 padding-left-5"><p class="mb-0 text-ellipsis">'+item[0]+'</p></div><div class="float-left sub-info text-ellipsis app-color1 padding-left-5"><p class="mb-0 text-ellipsis">'+item[1]+'</p></div><div class="move-left float-right padding-right-5"> <img src="/assets/new_icons/'+delete_theme+'" alt="remove" title="Remove" class="remove_continue_item cursor-pointer" id="'+item[4]+'"></div></div> </article></div></div>'
          //}  
        }
          $("#continue-watching-carousel").append(list_data);
          if(list_data.length != 0){
             $("#user_continue_watch_list").show();
            }
           continue_watch_carousel(response.items.length)
           if(user_region != "IN"){
        $("#continue_premium_tag.premium-img").css("display","none")
      }

        }
        if(localStorage.getItem("ctn_watch_delete") != undefined){
          $("#remove_continue_watching_pop").show().fadeOut(4500);
          localStorage.removeItem("ctn_watch_delete");
       }
      }
    });

// ajax call for recommendation
     $.ajax({
      url: "/users/user_recommendation_list",
      type: "GET",
      data: {},
      success: function(response,status){
        //netcore_login(response.sub_status, response.present_plans, response.exp_plans);
        console.log(response.items.length);
        if(response.status == true && response.items.length > 0){
          smarttech_index(response.sub_status, response.present_plans, response.exp_plans);
          var list_data = "";
          var user_region = $(".user_region").val()
          for(i=0;i<response.items.length;i++){
            var tag = ""
            var item = response.items[i].split("$");
            if(item[8] == "TVOD"){
             tag = '<span class="buy-txt"><%= get_lang_string("buy")%></span>'
            }
            else if(user_region == "IN" && item[7] == "true" ){
              tag = '<span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>'
            }
            //if((item[6]== "true" && response.sub_status == 1 )|| item[6]== "false"){
             list_data+= '<div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"> <article class="slick-vertical-thumb float-left w-100 padding-bottom-5 continue_watch" style=""> <a href="'+item[3]+'" class="cn_item"><div class="thumbnail-container"><div class="card-img-container"> <img src="'+item[2]+'" class="img-loader lazy-img-loader loaded"><div class="h-center">'+tag+'</div></div></div> </a><div class="continue-thumb-details thumb-info"><div class="float-left w-100 content-title text-ellipsis app-color1 padding-left-5"><p class="mb-0 text-ellipsis">'+item[0]+'</p></div><div class="float-left sub-info text-ellipsis app-color1 padding-left-5"><p class="mb-0 text-ellipsis">'+item[1]+'</p></div></div> </article></div></div>'
          //}  
        }
          $("#user-recommend-carousel").append(list_data);
          if(list_data.length != 0){
             $("#user_recommend_list").show();
            }
           user_recommend_carousel(response.items.length)
           if(user_region != "IN"){
        $("#continue_premium_tag.premium-img").css("display","none")
      }

        }
       //  if(localStorage.getItem("ctn_watch_delete") != undefined){
       //    $("#remove_continue_watching_pop").show().fadeOut(4500);
       //    localStorage.removeItem("ctn_watch_delete");
       // }
      }
    });
//======end======================
  }
});  

$(document).ready(function(){
  localStorage.setItem("nc_stream_src","home carousel banner")
 $('body').on('click', '.cn_item', function() {
    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","continue watching")
  });
  
 var reset_pwd_toast = localStorage.getItem("reset_password_email_toast");
  localStorage.removeItem("reset_password_email_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $("#reset_password_email").show().fadeOut(4500);
  }
  
  var reset_pwd_toast = localStorage.getItem("password_reset_toast");
  localStorage.removeItem("password_reset_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $(".reset_password").show().fadeOut(4500);
  }
});




function netcore_apxor_scoll_event(name,scrollPercent, user_state){
  Apxor.logEvent("Scroll_Vertical",{
  "screen_name": name,
  "depth": scrollPercent,
  'user_state': user_state
  }, "Scroll_Vertical");

  smartech('dispatch', 'Scroll_Vertical', {
    "screen_name": name,
    "depth": scrollPercent,
    'user_state': user_state
  })


  branch.logEvent(
  "Scroll_Vertical",
    {"screen_name": name,
    "depth": scrollPercent,
    'user_state': user_state
  },
  function(err) { console.log(err); }
  );
}


</script> 

