<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
         
<div class="float-left w-100 wrapper listing-page">
  <div class="container">    
    <div class="float-left w-100 ">
      <div class="float-left w-100">
        <section class="main-content">
          <%if @all_tvshows.count > 0%>
          <div class="float-left w-100 min-height-div">
            <div class="slick-parent-container-inner">
              <div class="float-left w-100 slick-area">
                <div class="slicks-container">
                  <div class="float-left w-100 slicks">
                    <div class="float-left w-100 ">
                      <div class="float-left w-100 slick-container slick-gap">
                        <div class="float-left w-100 slick-wrapper">
                          <div class="float-left w-100 app-slick-carousel">
                            <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                              <h1 class="section-title3 font-black app-color1"><%= get_lang_string("you_may_like")%></h1>
                            </div>
                            <div class="float-left w-100 app-slick-slider-container">
                                <%@all_tvshows.each do |i|%>
                                  <div class="listing-thumb horizontal-listing-thumb mb-3">
                                    <div style="width: 100%; display: inline-block;">
                                      <div class="slick-vertical-thumb">
                                        <article class="slick-vertical-thumb" style="">
                                          <a href="<%=params[:lang].present? ? "/#{params[:lang]}" : ""%><%=get_item_url(i)%>">
                                            <div class="thumbnail-container">
                                              <div class="card-img-container">
                                                <img src="<%=i["thumbnails"]["medium_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="<%=i["title"]%>" title="<%=i["title"]%>">
                                              </div>  
                                            </div>                                            
                                            <div class="slick-thumb-details">
                                              <div class="content-title ellipsize"><%= i['ml_title'] rescue i['title']%></div> 
                                               <div class="sub-info ellipsize"><%=i['ml_genres'][0].capitalize rescue i['genres'][0].capitalize %> | <%=i['ml_language'][0].capitalize rescue i['language'].capitalize %> | <%= i['ml_release_date'].split("-")[0]rescue i['release_date_string'].split("-")[0]%>
                                               </div> 
                                           </div>                                         
                                          </a>
                                          <div class="h-center">
                                            <%if i["content_definition"] == "TVOD"%>
                                                <span class="buy-txt"><%= get_lang_string("buy") %></span>
                                            <%elsif i["access_control"]["is_free"] == false  && i["access_control"]["premium_tag"] == true && i["content_definition"] != "TVOD" && $region == "IN"%>
                                               <span class="premium-txt"><%= get_lang_string("premium")%></span>
                                            <%end%>
                                          </div> 
                                        </article>                                        
                                      </div>
                                    </div>
                                  </div>
                                <%end%>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%else%>
            <div class="light no-items-found">
              <h2 class="margin-top-25 margin-bottom-20 text-capitalize 1-100 gradient1" style="">No items found</h2>
            </div>
          <%end%>
        </section>
      </div>  
    </div>
  </div>
</div>


<%=render "layouts/page_height_setting"%> 
 
<script type="text/javascript">
$(document).ready(function(){

 $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );               

 })

</script>
