<%
meta title: "#{@meta_title}",
     description: "Shemaroo",
     keywords: %w(Shemaroo)
%>
<section class="banner-section padding-top-80">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
      <div id="banner-carousel" class="owl-carousel owl-theme">
       <%@items_list[0]['catalog_list_items'].each do |i|%>
          <div class="item">
            <%page_url,cls_name = get_banner_item_url(i)%>
            <a href="<%=page_url%><%#=get_item_url(i)%>">
              <%if i["access_control"]["is_free"] == false && i["access_control"]["premium_tag"] == true && $region == "IN"%>
                <span class="premium-txt text-uppercase">premium</span>
              <%end%>  
              <%#if i["theme"] == "live"%>
              <!-- <span class="live-txt text-uppercase all_channels_live_txt">live</span> -->
              <%#end%>
              


 <img src="<%=get_banner_image_url(i,@items_list[0]["layout_type"])%>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-none d-md-block rounded <%=cls_name%> banner_tag" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>">
            <img src="<%=get_ixigo_banner_img(i)%>" alt="<%=i['title']%>" title="<%=i['title']%>" class="d-block d-md-none rounded <%=cls_name%> banner_tag" id="<%=i['title']%>|<%=i['catalog_object']['plan_category_type'].gsub("_"," ")%>|<%=i['content_id']%>|<%=i['catalog_object']['layout_type']%>">

              <!-- <img src="/assets/big_play.svg" alt="" title=""> -->
            </a>
          </div> 
        <%end%>         
      </div>
    </div>
  </div>
</section>
<div class="min-height-div">
  <section class="full-width-content light home-page" id="show_catalog_items" style="min-height: 1000px;">
    <%@items_list.each_with_index do |list,index|%>
     <%if index != 0 %>
     <%if @items_list[index]["layout_type"] != "t_subscription" %>
        <%unless list['catalog_list_items'].blank?%>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- show_item_color">
              <div class="row">
              <% if list["home_link"].blank?
                url = "javascript:void(0)"
              else
                url = "#{list["home_link"]}/all"
              end
              %>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
                  <a href="<%=list["layout_type"] == "t_16_9_epg" ? "#{get_item_url(list['catalog_list_items'].first)}" : "#{url}"%>" id="show_catalog_title_<%=index%>" style="display:none;">
                    <h2 class="margin-bottom-15 text-capitalize heading_title_color" style="<%=get_title_item_color(list['layout_scheme'])%>"><%=list['display_title']%></h2>
                  </a>
                  <a href="<%=list["layout_type"] == "t_16_9_epg" ? "#{get_item_url(list['catalog_list_items'].first)}" : "#{list["home_link"]}/all"%>"  data-cat-name = "<%=list['display_title']%>" class="text-uppercase pull-right see-more all_items_<%=index%>" style="display:none;">see more</a>
                </div>
              </div>
              <div id="catalog_lists_<%=index%>" class="owl-carousel <%=get_image_type(@items_list[index]["layout_type"])%> owl-theme" data-item-det="<%=@items_list[index]["layout_type"]%>$<%= list["layout_type"] == "t_16_9_epg" ? "#{list['catalog_list_items'].collect{|x|x['programs']}.compact.flatten.count}" : list['catalog_list_items'].count%>">
                <%list['catalog_list_items'].each_with_index do |item,j|%>
                  <div class="item rounded <%=get_image_height(@items_list[index]["layout_type"])%> <%#=(@items_list[index]["layout_type"].split("_").last.downcase == "meta") ? "rounded" : ""%> <%= list["layout_type"] == "t_16_9_epg" ? "show_playing_next show_catalog_item_channel_logo" : ""%>">
                      <a href="<%=item['seo_web_url']%><%#=get_item_url(item)%>">
                      <%if item["access_control"]["is_free"] == false && item["access_control"]["premium_tag"] == true && $region == "IN"%>
                       <span class="premium-txt text-uppercase">premium</span>
                      <%end%>
                      <%if item["theme"] == "live"%>
                        <span class="live-txt text-uppercase all_channels_live_txt">live</span>
                      <%end%>
                      <img src="<%=get_image_url(item,@items_list[index]["layout_type"])%>" class="rounded" alt="<%=item["title"]%>" title="<%=item["title"]%>">
                      <%if @items_list[index]["layout_type"].split("_").last.downcase == "meta"
                      %>
                        <span class="list-tile-title"><%=item["title"]%></span>
                      <%end%>
                      </a>                    
                  </div> 
                
                <%if j == 0 && item['theme'] == "linear"%>
                  <%unless item['programs'].empty?%>
                    <%item['programs'].each_with_index do |p,program_index|%>
                      <div class="item rounded <%=get_image_height(@items_list[index]["layout_type"])%> <%#=(@items_list[index]["layout_type"].split("_").last.downcase == "meta") ? "rounded" : ""%> horizontal_title show_playing_next">
                        <a href="<%=program_index == 0 ? "#{get_item_url(item)}" : "javascript:void(0);"%>">
                        <%if p.has_key?("access_control") && p["access_control"]["is_free"] == false && p["access_control"]["premium_tag"] == true && $region == "IN"%>
                         <span class="premium-txt text-uppercase">premium</span>
                        <%end%>
                        <%if program_index == 0%>
                        <span class="playingnow-txt text-uppercase">playing now</span>
                        <%elsif program_index ==  1%>
                        <span class="playing-next text-uppercase"><img src="/assets/program_next.png" />playing next</span>
                        <%else%>
                        <span class="upcoming text-uppercase"><img src="/assets/program_next.png" />upcoming</span>
                        <%end%>
                        <img src="<%=p['thumbnails']['small_16_9']['url']%>" class="rounded" alt="<%=p["title"]%>" title="<%=p["title"]%>">
                         <span class="list-tile-title"><%=p["title"]%></span>
                         <span class="list-tile-duration"><%=p['item_caption']%></span>
                        </a>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
               <%end%>
              </div>           
            </div>
          </div> 
        <%end%> 
      <%end%> 
      <%end%>
    <%end%>
  </section>
  <section>
    <!-- <div class="bollywod-bottom-banner margin-bottom-20 margin-top-15">
      <a href="javascript:;" class="rounded">
        <p class="text-uppercase">subscribe to bollywood classic</p> <span><i class="fa fa-inr" aria-hidden="true"></i> 49</span>
      </a>
    </div> -->
  </section>
  <%=render "layouts/page_height_setting"%>
</div>
<%=render "catalogs/set_user_profile_cookies"%>
<%=render "catalogs/branch_banner_events"%>


<script type="text/javascript">
	$("#with_header_tabs").hide();
 $("#without_header_tabs").show();
$(document).ready(function(){

   /*var current_url = window.location.href.split('?profile_id=')
  if(current_url.length == 2){
    var profile_data = window.location.href.split('?profile_id=')[1].split("&name=");
    window.history.pushState("", "", current_url[0]);
    var user_data = profile_data[1].split("&profile_type=")
    $.cookie('profile_id',profile_data[0], { expires: 14,path: '/'});
    $.cookie('user_name',user_data[0], { expires: 14,path: '/'});
    $.cookie('user_profile_type',user_data[1], { expires: 14,path: '/'});
    if(user_data[1] == "kids"){
      $(".main_logo_link").attr("href","/kids");
    }
  }*/
})


var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/big_left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/big_right_arrow.svg" alt="" title=""></span>'
    ];
    $('#banner-carousel').owlCarousel({
    loop:true,
    autoplay: true,
    smartSpeed: 1200,
    margin:10,
    nav:true,
    dots: false,
    navText: navigation,
    navSpeed: 1000,
    responsive:{
        0:{
            items:1,
            stagePadding: 39,
        },
        576:{
            items:1,
            stagePadding: 49,
        },
        768:{
            items:1,
            stagePadding: 59,
        },
        992:{
            items:1,
            stagePadding: 69,
        },
        1200:{
            items:1,
            stagePadding: 96,
        }
    }
  });
 
   $(document).ready(function(){
   var items_count = "<%=(@items_list.count)-1%>"
    for (i = 0; i <= items_count; i++) {
    var auto_loop_status = false;
    var owl = $("#catalog_lists_"+i);
    var det = $("#catalog_lists_"+i).data("item-det")
    if(det != undefined){
        det = det.split("$");
    }
    else{
      det = ""
    }
    var total_item_cnt =  det[1];
    var layout_type = det[0];
    if(layout_type == "t_16_9_big" || layout_type == "t_16_9_small" || layout_type == "t_1_1_play" || layout_type == "t_16_9_small_meta" || layout_type == "t_16_9_epg"){
     var no_of_items = 5;
     var items_0 = 2
       var items_576 = 2
       var items_768 = 3
       var items_992 = 4
     if(total_item_cnt > 5){
       auto_loop_status = true
       var show_more_url = $(".all_items_"+i).attr("href");
       if(show_more_url != "/all"){
          $(".all_items_"+i).show();
       }  
     }
    }
    else if(layout_type == "t_1_1_plain" || layout_type == "t_1_1_album_meta"){
     var no_of_items = 6;
     var items_0 = 2
     var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 6){
       auto_loop_status = true
       var show_more_url = $(".all_items_"+i).attr("href");
       if(show_more_url != "/all"){
          $(".all_items_"+i).show();
       } 
     }
    }
    else if(layout_type == "t_comb_16_9_list" || layout_type == "t_16_9_big_meta"){
     var no_of_items = 3;
     var items_0 = 1
      var items_576 = 1
     var items_768 = 2
     var items_992 = 3
     if(total_item_cnt > 3){
       auto_loop_status = true
       var show_more_url = $(".all_items_"+i).attr("href");
       if(show_more_url != "/all"){
          $(".all_items_"+i).show();
       } 
       
     }
    }
    else if(layout_type == "t_comb_1_1_image"){
     var no_of_items = 5;
     var items_0 = 1
       var items_576 = 2
       var items_768 = 3
       var items_992 = 4
     if(total_item_cnt > 5){
       auto_loop_status = true
       var show_more_url = $(".all_items_"+i).attr("href");
       if(show_more_url != "/all"){
          $(".all_items_"+i).show();
       } 
       
     }
    }

    else{
      var no_of_items = 7
      var items_0 = 2
      var items_576 = 3
      var items_768 = 4
      var items_992 = 5
     if(total_item_cnt > 7){
      auto_loop_status = true
      var show_more_url = $(".all_items_"+i).attr("href");
       if(show_more_url != "/all"){
          $(".all_items_"+i).show();
       } 
     }
    }

  owl.owlCarousel({
    loop: auto_loop_status,
    margin:10,
    nav:true,
    dots: false,
    stagePadding: 50,
    navText: navigation,
    responsive:{
      0:{
          items: items_0,
          stagePadding: 25
      },
      576:{
          items: items_576
      },
      768:{
          items: items_768
      },
      992:{
          items: items_992
      },
      1200:{
          items: no_of_items
      }
    }
  });
  $("#show_catalog_title_"+i).show();
}
/*var color = $(".gradient8").attr("id").split("|");
 $("body").append("<style>.show_item_color h2:before{background: linear-gradient(to right,"+color[0]+", "+color[1]+");}</style>");*/
 // var header_title_color = $('ul.nav').find('li a.active').attr('id').split("|");

 // $("body").append("<style>ul.nav li a.active{background: linear-gradient(to right,"+header_title_color[0]+", "+header_title_color[1]+")!important;}</style>");
$("#show_catalog_items").css("min-height","1px");
});  

</script>