<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <meta property="og:title" content="Shemaroo" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
    <meta property="og:url" content="http://shemaroome.com/" />
    <meta property="og:description" content="Shemaroo Entertainmenent" />
    <meta property="fb:app_id" content="1963321883746360" />
    <link rel="canonical" href="http://shemaroome.com/" />
    <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
    <meta name="description" content="Shemaroo" />
    <meta name="keywords" content="Shemaroo" />
    <%=stylesheet_link_tag 'application', media: 'all' %>
    <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
    </script>
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':

                new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);

    })(window, document, 'script', 'dataLayer', 'GTM-PH6WPGG');
    </script>
</head>
<script type="text/javascript">
var getShemarooCookies = function() {
    var pairs = document.cookie.split("; ");
    var cookies = {};
    for (var i = 0; i < pairs.length; i++) {
        var pair = pairs[i].split("=");
        cookies[pair[0]] = unescape(pair[1]);
    }
    return cookies;
}
</script>

<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH6WPGG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container gujarthi-page promotion-page">
        <div class="gujarthi-page-bg">
            <div class="row">
                <header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-top-20">
                    <img src="/assets/shemaroo_logo.svg" alt="" title="">
                </header>

            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-top-10">

                    <b class="promo_head_title"><%=@promotion_dt["header_title"]%></b>
                </div>
            </div>
            <div class="line-divider3"></div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- gujarthi-info margin-top-25 margin-bottom--10">
                    <div class="top-section-padding pull-left w-100">
                        <%  @promotion_dt["header_images"].each do |header_dt|%>
                        <div class="info-first margin-bottom-25">
                            <img src="<%= header_dt['image_url'] %>" class="pull-left" alt="" title="">
                            <p class="margin-bottom-0 pull-left margin-left-15 font-regular text-center clamp" style="margin-top: 10px;font-size: 16px !important"><b class="font-semibold">
                                    <%= header_dt['img_title'] %></b>
                            </p>
                         

                        </div>
                        <% end %>
                        <% if  @promotion_dt["is_mid_sec"] == "true"%>
                        <div class="line-divider1"></div>
                        <div class="line-divider2"></div>
                        <div class="pull-left w-50 promocodetext1">
                            <p class="mide_sec_dt text-center clamp">
                                <%= @promotion_dt["mid_sec_fir_title"] %>
                            </p>
                        </div>
                        <div class="pull-left w-50 promocodetext">
                            <p class="mide_sec_dt text-center clamp" style="margin-top: 17px">
                                <%= @promotion_dt["mid_sec_second_title"] %>
                            </p>
                        </div>
                        <div class="line-divider1"></div>
                        <div class="line-divider2"></div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col- bollywood_plus_box" style="margin-top: 21px;">
                    <div class="content-section-padding1">
                        <p class="free-trial-btnp1 margin-bottom-25 pull-left w-100 margin-top-20">
                            <a class="text-uppercase" style="color: #D72454;margin-left: 161px">Choose your plan<%#=@promotion_dt['register_header']%></a>
                        </p>
                        <div class="pull-left w-100 center-align-content" style="margin-top: -31px">
                        <%@promotion_dt["plan_details"]['plans'].each_with_index do |g,i|%>
                            
                                <div class="pack-btnp <%=i == 1 ? "pack-btnp-second" : ""%> bollywood_plus_pack bollywood_plus_pack1 margin-top-20 margin-bottom-25 pull-left w-50"> 
                                    <p>
                                     <a href="javascript:void(0);" class="text-capitalize select_gu_plan <%=i == 1 ? "pack-active" : ""%>"  data-plan-info="<%=g['id']%>|<%=@promotion_dt["plan_details"]['catalog_id']%>|<%=@promotion_dt["plan_details"]['category']%>|<%=g['title']%>|<%=g['currency']%>|<%=g['currency_symbol']%>|<%=g['discounted_price']%>|<%=g['pg_price']['adyen']%>|<%=g['pg_price']['cc_avenue']%>|<%=@promotion_dt["plan_details"]['content_id']%>"><%=@promotion_dt["plan_details"]["title"]%> <%=g['title'] == "Yearly" ? "Annual" : g['title']%> <!-- Plan --><br><span>$<%=g['discounted_price']%></span></a>
                                    </p>    
                                </div>
                            
                        <%end%>
                            
                    </div>


                        <!--<div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
                        <div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
                            <p>
                                <a href="javascript:void(0);" class="text-capitalize">Gujarati Monthly Plan<br><span>$5.00</span></a> 
                            </p>
                        </div> -->
                        <div class="gujarthi-login-box-wrap pull-left w-100">
                            <div class="gujarthi-login-box pull-left w-100">
                                <h3 class="margin-top-15 pull-left w-100 text-center"><%=@promotion_dt["register_header"]%></h3>
                                <div class="relative-content padding-top-85">
                                    <div class="w-100 all_error padding-left-0 padding-right-0">
                                        <label class="error" id="signup_marketing_resp_error_msg">Invalid username or Password</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="email" id="gu_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off"> <span class="input-label">Email ID</span>
                                        <label class="error" id="gu_email_error">This field is mandatory</label>
                                    </div>
                                    <div class="input-group hide_password_group">
                                        <input type="password" id="gu_pwd" name="login_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off">
                                        <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                                        <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password"> <span class="input-label">Password</span>
                                        <label class="error" id="gu_password_error">This field is mandatory</label>
                                    </div>
                                </div>
                                <div class="inline-block margin-top-0 margin-bottom-25 w-100">
                                    <p class="inline-block w-100 margin-bottom-20">
                                        <a href="javascript:void(0);" class="text-uppercase btn font-bold" id="gujarati_sub"><%=@promotion_dt["register_button_text"]%></a>
                                    </p>
                                     <p style="margin-left: 57px; font-size: 13px">Use your coupon code in the checkout page</p>
                                </div>

                            </div>
                        </div>
                        <p class="d-none d-lg-block d-xl-block pull-left w-100 margin-top-0 margin-bottom-20 shemaroo-color1 font-size3 text-center">Shemaroo &copy; 2019, All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col- margin-top-10" style="margin-top: 35px !important;">
                    <div class="content-section-padding2">
                        <% @promotion_dt["right_banner_items"].each do |rght_items|%>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
                                <h6 class="text-center">
                                    <%= rght_items["title"] %>
                                
                                </h6>
                                <% rght_items["banner_images"].each do |img|%>
                                <img src="<%= img %>" title="">
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
                 <!-- <p style="margin-left: 179px;"class="pull-left w-100 margin-top-5 margin-bottom-10 shemaroo-color1 font-size3 landing-copyright" 
                 >Shemaroo &copy; 2019, All Rights Reserved</p> -->
            </div>
        </div>
           
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('.pack-btnp a').click(function() {
            $(this).toggleClass('pack-active');
            $(this).parents('.pack-btnp').siblings('.pack-btnp').find('a').removeClass('pack-active');
        })
        $('.gujarthi-info, .free-trial-btnp, .content-section-padding2 img, .offer_text, .promocodetext').click(function() {
            if (window.outerWidth < 470) {
                var x = $(".pack-btnp").offset();
                $('html, body').animate({ scrollTop: x.top }, 'slow');
            }
        });
    });

    (function () {

  'use strict';

  var defaultConf = {
    ellipsis: '…',
    debounce: 0,
    responsive: true,
    className: '.clamp',
    lines: 2,
    portrait: null,
    break_word: true
  };

  var _idCounter = 0;

  var windowWidth = window.innerWidth;

  var RAF_SUPPORTED = !!window.requestAnimationFrame;

  var newId = function(){
    _idCounter += 1;
    return _idCounter;
  };

  var setIdAttribute = function(element, id){
    element.setAttribute('data-ellipsis-id', id);
  };

  var getIdAttribute = function(element){
    return element.getAttribute('data-ellipsis-id');
  };

  var storeCache = function(cache, element){
    var id = newId();
    setIdAttribute(element, id);
    cache[id] = cache[id] || {};
    cache[id].element = element;
    cache[id].innerHTML = element.innerHTML;
  };

  var retrieveCache = function(cache, element){
    if(cache){
      return cache[getIdAttribute(element)];
    } else {
      return null;
    }
  };

  var getCachedElements = function(cache){
    return Object.keys(cache).map(function(value, index){
      return cache[value].element;
    });
  };

  var merge = function(obj1, obj2){
    var obj3 = {};
    for (var attrn in obj1) { obj3[attrn] = obj1[attrn]; }
    for (var attrnm in obj2) { obj3[attrnm] = obj2[attrnm]; }
    return obj3;
  };

  function Ellipsis(opts) {
    var conf = merge(defaultConf, opts || {});
    this.create(conf);
    this.add();
  }

  Ellipsis.prototype = {
    conf: {},
    prop: {},
    lines: {},
    temp: null,
    listener: null,
    create: function(opts){
      this.conf = opts;
      this.lines = {
        get current(){
          if(opts.portrait && window.innerHeight > window.innerWidth){
            return opts.portrait;
          }
          return opts.lines;
        }
      };

      if(this.conf.responsive){
        this.temp = {};

        var debounceTime = this.conf.debounce;
        var listener;

        if (RAF_SUPPORTED && !debounceTime) {
          this._isScheduled = false;

          var self = this;
          listener = function(event) {
            if ( window.innerWidth != windowWidth ) {
              windowWidth = window.innerWidth;
              if (!self._isScheduled) {
                self._isScheduled = true;

                window.requestAnimationFrame(function() {
                  self._isScheduled = false;
                  self.add(getCachedElements(self.temp));
                });
              }
            }
          }
        } else {
          // This is for in case the `debounce` is set to 0 and the browser
          // does not support requestAnimationFrame. We don't want to swamp
          // the browser on a resize so we "fake" the requestAnimationFrame
          // functionality with the same debounce time (60 FPS).
          debounceTime = debounceTime || 16;

          var debounce;
          listener = function(event) {
            if ( window.innerWidth != windowWidth ) {
              windowWidth = window.innerWidth;
              clearTimeout(debounce);
              debounce = setTimeout(function(){
                this.add(getCachedElements(this.temp));
              }.bind(this), debounceTime);
            }
          };
        }

        this.listener = listener.bind(this);

        window.addEventListener('resize', this.listener, false);
        window.removeEventListener('beforeunload', this.listener, false);
      }
    },
    destroy: function(){
      this.listener && window.removeEventListener('resize', this.listener, false);
    },
    createProp: function(element){
      this.prop = {
        get height(){
          var viewportOffset = element.getBoundingClientRect();
          return parseInt(viewportOffset.bottom - viewportOffset.top, 10);
        },
        get lineheight(){
          var lineh = getComputedStyle(element).getPropertyValue("line-height");
          if(String('normal|initial|inherit').indexOf(lineh) > -1){ //very specific case
            lineh = parseInt(getComputedStyle(element).getPropertyValue("font-size"), 10) + 2;
          }
          return parseInt(lineh, 10);
        }
      };
    },
    add: function(elements){
      if(!elements && this.conf.className){
        elements = document.querySelectorAll(this.conf.className);
      }

      if (elements){
        if(elements.length){
          for(var i = 0; i < elements.length; i++){
            this.addElement(elements[i]);
          }
        } else if (elements.length === undefined) {
          this.addElement(elements);
        }
      }
    },
    addElement: function(element){
      if(this.conf.responsive){
        var cached = retrieveCache(this.temp, element);
        if(!cached){
          storeCache(this.temp, element);
        } else {
          // insert cached element for Resizing
          if(element.innerHTML !== cached.innerHTML){
            element.innerHTML = cached.innerHTML;
          }
        }
      }

      this.createProp(element);

      if(this.isNotCorrect()){
        if(element.childNodes.length && element.childNodes.length > 1){
          this.handleChildren(element);
        } else if(element.childNodes.length && element.childNodes.length === 1 &&
          element.childNodes[0].nodeType === 3){
          this.simpleText(element);
        }
      }
    },
    breakWord: function(str, str2, fix){
      var words = str.split(' ');
      words.pop();
      if(fix){
        words.pop();
      }
      if(!str2){
        if(words[words.length - 1]){
          words[words.length - 1] = words[words.length - 1].replace(/(,$)/g, "").replace(/(\.$)/g, "");
        }
        words.push(this.conf.ellipsis);
        return words.join(' ');
      } else {
        if(words[words.length - 1]){
          words[words.length - 1] = words[words.length - 1].replace(/(,$)/g, "").replace(/(\.$)/g, "");
          //words.push(this.conf.ellipsis);
          return [words.join(' '), str2];
        } else if(!words[words.length - 1] && str2){
          var st = ' ' + str2.trim().replace(/(,$)/g, "").replace(/(\.$)/g, "") + ' ';
          //words.push(this.conf.ellipsis);
          return [words.join(' '), st];
        }
      }
    },
    simpleText: function(element){
      var childText = element.childNodes[0].nodeValue;
      while(this.prop.height > (this.prop.lineheight * this.lines.current)){
        element.childNodes[0].nodeValue = childText.slice(0, -1);
        childText = element.childNodes[0].nodeValue;
      }
      if(this.conf.break_word){
        element.childNodes[0].nodeValue = childText.slice(0, -this.conf.ellipsis.length);
        if(this.isNotCorrect()){ //edge case
          element.childNodes[0].nodeValue = ' ' + element.childNodes[0].nodeValue.slice(0, -(this.conf.ellipsis.length + 1)).trim().slice(0, -(this.conf.ellipsis.length));
        }
      } else {
        element.childNodes[0].nodeValue = this.breakWord(element.childNodes[0].nodeValue);
        if(this.isNotCorrect()){ //edge case
          element.childNodes[0].nodeValue = this.breakWord(element.childNodes[0].nodeValue, null, true);
        }
      }
    },
    isNotCorrect: function(){
      return this.prop.height > (this.prop.lineheight * this.lines.current);
    },
    processBreak: function(dOne, dTwo, fix){
      var r = this.breakWord(dOne.innerText || dOne.nodeValue, dTwo.innerText || dTwo.nodeValue, fix);
      if(dOne.innerText){
        dOne.innerText = r[0];
      } else {
        dOne.nodeValue = r[0];
      }
      if(dTwo.innerText){
        dTwo.innerText = r[1];
      } else {
        dTwo.nodeValue = r[1];
      }
    },
    handleChildren: function(e){
      var domChildren = e.childNodes;
      var childText;
      for(var i = domChildren.length - 1; i >= 0; i--){
        var displayOrigin;
        if(domChildren[i].nodeType === 8){
          continue; // skip comment nodes
        }
        if(domChildren[i].nodeType === 3){
          displayOrigin = domChildren[i].nodeValue;
          domChildren[i].nodeValue = '';
        } else {
          displayOrigin = getComputedStyle(domChildren[i]).getPropertyValue("display");
          domChildren[i].style.display = 'none';
        }

        if(this.prop.height <= this.prop.lineheight * this.lines.current){
          if(domChildren[i].nodeType === 3){
            domChildren[i].nodeValue = displayOrigin;
            childText = domChildren[i].nodeValue;
            while(this.prop.height > (this.prop.lineheight * this.lines.current)){
              domChildren[i].nodeValue = childText.slice(0, -1);
              childText = domChildren[i].nodeValue;
            }

            if(this.conf.break_word){
              domChildren[i].nodeValue = childText.slice(0, -this.conf.ellipsis.length);
              if(this.isNotCorrect()){ //edge case
                domChildren[i].nodeValue = ' ' + domChildren[i].nodeValue.slice(0, -this.conf.ellipsis.length).trim().slice(0, -this.conf.ellipsis.length);
                if(domChildren[i].nodeValue.length > 1){
                  domChildren[i].nodeValue = domChildren[i].nodeValue.slice(0, -this.conf.ellipsis.length);
                } else {
                  continue;
                }
              }
            } else {
              if(!domChildren[i].innerText && !domChildren[i].nodeValue){
                continue;
              }
              this.processBreak(domChildren[i], domChildren[i - 1]);
              if(this.isNotCorrect()){ //edge case
                this.processBreak(domChildren[i], domChildren[i - 1], true);
                if(this.isNotCorrect()){
                  e.removeChild(domChildren[i]);
                  continue;
                }
              }
            }
          } else {
            domChildren[i].style.display = displayOrigin;
            childText = domChildren[i].innerText;
            while(this.prop.height > (this.prop.lineheight * this.lines.current)){
              domChildren[i].innerText = childText.slice(0, -1);
              childText = domChildren[i].innerText;
            }
            if(this.conf.break_word){
              domChildren[i].innerText = childText.slice(0, -this.conf.ellipsis.length);
              if(this.isNotCorrect()){ //edge case
                domChildren[i].innerText = ' ' + domChildren[i].innerText.slice(0, -this.conf.ellipsis.length).trim().slice(0, -this.conf.ellipsis.length);
                if(domChildren[i].innerText.length > 1){
                  domChildren[i].innerText = domChildren[i].innerText.slice(0, -this.conf.ellipsis.length) ;
                } else {
                  continue;
                }
              }
            } else {
              if(!domChildren[i].innerText && !domChildren[i].nodeValue){
                continue;
              }
              this.processBreak(domChildren[i], domChildren[i - 1]);
              if(this.isNotCorrect()){ //edge case
                this.processBreak(domChildren[i], domChildren[i - 1], true);
                if(this.isNotCorrect()){
                  e.removeChild(domChildren[i]);
                  continue;
                }
              }
            }
          }
          break;
        } else {
          e.removeChild(domChildren[i]);
        }
      }
    }
  };

  var EllipsisClass = function(opts){
    return new Ellipsis(opts);
  };

  //RequireJS Style
  if (typeof define === "function" && define.amd) {
    define("ellipsis", [], function() {
      return EllipsisClass;
    });
  }

  self.Ellipsis = EllipsisClass;
  return EllipsisClass;

}());

    </script>

    <script>
      Ellipsis({
  ellipsis: '…', // custom ellipsis character
  debounce: 100, // chill out your memory usage on resizing
  responsive: true,
  class: '.clamp',
  lines: 2,
  portrait: null, // default no change, put a number of lines if you want a different number of lines in portrait mode
  break_word: true // truncate words
});
    </script>
</body>

</html>