<%
   meta title: "#{@episode_details['title']}",
    description: "#{@episode_details['description']}",
    keywords: "#{@episode_details['keywords']}"
%>
<div class="float-left w-100 details-wrapper">
  <section class="main-content">
    <ul class="float-left w-100 list-none p-0 breadcrumbs d-none d-xl-block">
      <li class="float-left font-regular home">
          <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
      </li>
       <li class="float-left font-regular">
        <%= raw(get_brd_name(@theme_type))%>
     </li>   
      <li class="float-left font-regular">
        <a href="<%=params[:lang].present? ? "/#{params[:lang]}"  : ""%>/<%= @episode_details['catalog_object']['plan_category_type'].gsub(/_/, '-')%>"><%= get_lang_string(@episode_details['catalog_object']['plan_category_type']).present? ? @episode_details['catalog_object']['plan_category_type'] == "bollywood_plus" ? get_lang_string("bollywood_premiere") : get_lang_string(@episode_details['catalog_object']['plan_category_type']) : @episode_details['catalog_object']['plan_category_type'] %></a>
      </li>
        <%if @theme_type == "show"%>
          <li class="float-left font-regular">
             <%= @episode_details['ml_title'].present? ? @episode_details['ml_title'] : @episode_details['title']%>
          </li>
        <%else%>
       <li class="float-left font-regular">
             <a href="<%=params[:lang].present? ? "/#{params[:lang]}"  : ""%>/shows/<%=params[:show_name]%>"><%= @episode_details['ml_show_name'].present? ? @episode_details['ml_show_name'] : @episode_details['show_name']%></a>
          </li>
          <li class="float-left font-regular">
             <%=@episode_details['ml_title'].present? ? @episode_details['ml_title'] : @episode_details['title']%>
          </li>
        <%end%>     
    </ul>
    <div class="details-container">
       <div class="player_section w-100 embed-responsive embed-responsive-16by9"  id="shemaroo_player">
        <img src="<%=@episode_details['thumbnails']['large_16_9']['url']%>" class="img-fluid" alt="" title="">
      </div>
      <div class="float-left w-100 details-wrapper2">
        <% if @episode_details['original_tag'].present?%>
        <div class="video_tag font-bold">
          <%= @episode_details['original_tag'].downcase %>
        </div>
        <%end%>
        <div class="float-left w-100 video-info relative-content"> 
          <ul class="float-left w-100 list-none p-0 breadcrumbs d-block d-xl-none">
            <li class="float-left font-regular home">
                <a href="/<%=params[:lang]%>"><%= get_lang_string("home")%></a>
            </li>
            <li class="float-left font-regular">
                <%= raw(get_brd_name(@theme_type))%>
             </li>
            <li class="float-left font-regular">
              <a href="/<%= @episode_details['catalog_object']['plan_category_type'].gsub(/_/, '-')%>"><%= @episode_details['catalog_object']['plan_category_type'].gsub(/_/, ' ').split.map(&:capitalize).join(' ') %></a>
            </li>
           <%if @theme_type == "show"%>
            <li class="float-left font-regular">
               <%=@episode_details['ml_title'].present? ? @episode_details['ml_title'] : @episode_details['title']%>
            </li>
          <%else%>
         <li class="float-left font-regular">
               <a href="/shows/<%=params[:show_name]%>"><%= @episode_details['ml_show_name'].present? ? @episode_details['ml_show_name'] : @episode_details['show_name']%></a>
            </li>
            <li class="float-left font-regular">
               <%=@episode_details['ml_title'].present? ? @episode_details['ml_title'] : @episode_details['title']%>
            </li>
          <%end%>        
          </ul>         
          <div class="player_desc_section float-left w-100 app-d-flex justify-content-between">
            <div class="video-info-left">
              <h1 class="float-left w-100 app-color1 font-black margin-bottom-10 section-title2">
                <% show_nm =  @episode_details['ml_show_name'].present? ? @episode_details['ml_show_name'] : @episode_details['show_name']%>
                <% title_nm = @episode_details['ml_title'].present? ? @episode_details['ml_title'] : @episode_details['title']%>
                <%= @episode_details['show_name'] ? show_nm : title_nm%></h1>
              <ul class="list-none float-left w-100 p-0 mb-3 pb-1">
                <%if @episode_details.has_key?('item_caption')%>
                <% item_caption = @episode_details['ml_item_caption'].present? ? @episode_details['ml_item_caption'] : @episode_details['item_caption']%>
                  <%item_caption.split("|").each do |s|%>
                  <%if s.present? %>
                    <li class="float-left font-regular app-color5"><%=s.gsub(/ 00h :/, '')%></li>
                    <%end%>
                  <%end%>
                <%end%>
              </ul>
              <!-- <ul class="list-none float-left w-100 p-0 mb-3">
                  <p class="float-left font-regular app-color1"><%#= get_lang_string("audio_language")%> <%#=@episode_details['audio_languages'][0].capitalize %></p>
              </ul> -->
              <div class="video_feature2 float-left w-100 video-feature">
                <div class="float-left w-100 app-d-flex">
                  <a href="javascript:void(0);" class="video_player details_player_btn1 margin-right-10 app-color4" id="play_content"><img src="/assets/play.svg" class="play-img" alt="" title=""><%=get_lang_string("play_episode")%></a>

                  <a href="javascript:void(0);" class="video_player details_player_btn1 margin-right-10 app-color4" id="continue_content" style="display: none;"><img src="/assets/play.svg" class="play-img" alt="" title=""><%=get_lang_string("continue_watching")%></a>

                  <a href="<%=get_lang_url("/plans")%>" class="subscribe_chk details_player_btn2 app-color4" style="display: none;"></a>
                </div>
                <ul class="play_feature2 list-none float-left w-100 p-0 mb-1 mt-2 pt-1">
                  <%#if !@video_preview.nil? && @video_preview['preview_available'] == true%>
                    <!-- <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                      <p class="margin-bottom-5 app-d-flex hv-center">
                        <a href="javascript:void(0);">
                         <img src="/assets/trailer_dark.svg" class="trailer_video trailer_video_dark" alt="Trailer" title="Trailer" id="Trailer" data-listitemid="" style="display: none !important;">
                         <img src="/assets/trailer.svg" class="trailer_video trailer_video_light" alt="Trailer" title="Trailer" id="Trailer" data-listitemid="" style="display: none !important;">
                        </a>
                      </p>
                      <%#=get_lang_string("trailer")%>
                    </li> -->
                  <%#end%>
                  <%if @episode_details['preview'].present? %>
                   <input type="hidden" id="preview-time" value="<%=get_preview_time(@episode_details['preview'])%>">
                            <input type="hidden" id="preview-url" value="<%=
                            @episode_details['preview']['ext_preview_url'].blank? ? "" : "#{get_preview_url(@episode_details['preview']['ext_preview_url'])}" %>">
                  <%end%>
                  <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                    <p class="margin-bottom-5 app-d-flex hv-center">
                      <a href="javascript:void(0);">
                     <img src="/assets/watch_later_dark.svg" class="watch_later watch_later_dark" alt="Watch Later" title="My List" id="watch_later" data-listitemid="" style="display: none !important;">
                     <img src="/assets/watch_later.svg" class="watch_later watch_later_light" alt="Watch Later" title="My List" id="watch_later" data-listitemid="" style="display: none !important;">
                     </a>
                    </p>
                    <%=get_lang_string("my_list")%>
                  </li>
                  <li class=" float-left font-regular app-color1 app-d-flex hv-center flex-column share_social_icons relative-content">
                    <p class="margin-bottom-5 app-d-flex hv-center">
                      <a href="javascript:void(0);">
                        <img src="/assets/share_android_dark.svg"class="share text-center share_dark" alt="Share" title="Share" style="display: none !important;">
                        <img src="/assets/share_android.svg" class="share text-center share_light" alt="Share" title="Share" style="display: none !important;">
                      </a>
                    </p>  
                    <%=get_lang_string("share")%>
                    <ul class="share_feature list-none padding-bottom-10 padding-top-10">
                      <li>
                        <a href="https://twitter.com/intent/tweet?url=<%=SITE%><%=request.fullpath%>&text=Watch online  <%=@episode_details['title']%> - ShemarooMe" target="_blank">
                          <img src="/assets/twitter_share.svg" class="mr-1" alt="twitter" title="twitter">    </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <img src="/assets/copy_link.svg" class="copy_link mr-1" alt="copy Link" title="copy link" id="<%=SITE%><%=request.fullpath%>"
                            onclick="copyLink()">                      
                          </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/dialog/share?app_id=<%=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%=SITE%><%=request.fullpath%>" target="_blank">
                        <img src="/assets/facebook_share.svg" class="text-center facebook" alt="Facebook" title="Facebook">                  
                        </a>
                       </li>
                    </ul>
                  </li>  
                  <li class="float-left font-regular app-color1 app-d-flex hv-center flex-column">
                    <a href="javascript:void(0);" onclick="downloadLink()">
                      <p class="margin-bottom-5 app-d-flex hv-center" >
                        <img src="/assets/download_dark.svg" class="download download_dark" alt="download" title="download" style="display: none !important;">
                        <img src="/assets/download.svg" class="download download_light" alt="download" title="download" style="display: none !important;">                      
                      </p> 
                    </a> 
                     <%=get_lang_string("download")%>
                  </li> 
                </ul>
              </div>
            </div>  
            <div class="video-info-right">
              <div class="ad-wrap mb-0">
                <div class="ad_section desktop_ads" style="display: none;">
                  <div id="non_uc_browse_adds">
                    <div id='div-gpt-ad-1585723049846-0' style='width: 350px; height:0px;'>
                      <script>
                         googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585723049846-0'); });
                      </script>
                    </div>
                  </div>
                  <div id ="uc_browser_ads" style="display: none">
                    <div id='div-gpt-ad-1589367833644-0' style='width: 300px; height: 50px; display: none;' >
                      <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589367833644-0'); });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="add_unit" style="display: none !important">
                  <div id='div-gpt-ad-1571401090315-0' style='width: 300px; height: 250px; display: none !important'>
                      <script>
                      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571401090315-0'); });
                      </script>
                  </div>
                </div>
              </div>
            </div> 
          </div> 

          <div class="toster-message-wrap" id="watch_later_pop">
            <div class="center-align-content">
              <div class="toster-message app-d-flex hv-center">
                <img src="/assets/password_updated.svg" alt="" title="">
                <p id="watch_later_message">
                  <%= get_lang_string("added_to_list")%>
                </p>
              </div>
            </div>
          </div>
          <div class="toster-message-wrap" id="copy_link_pop">
            <div class="center-align-content">
              <div class="toster-message app-d-flex hv-center">
                <img src="/assets/password_updated.svg" alt="" title="">
                <p>
                  <%= get_lang_string("link_copied")%>
                </p>
              </div>
            </div>
          </div>
          <div class="float-left w-100 video-info-bottom">
          </div> 
        </div>
      </div>  
    </div>
  </section>
</div>
<div class="slick-parent-container-inner">
  <div class="float-left w-100 slick-area">
    <div class="slicks-container">
      <div class="float-left w-100 slicks">
        <div class="float-left w-100 ">
            <ul id="details_tabs" class="w-100 relative-content margin-bottom-20 pl-0" role="tablist" data-tabs="tabs">

              <% @content_info.each_with_index do |s,i|%>
               <li>
              <a href="javascript:void(0);" class="tab_chk font-bold" data-toggle="tab" data-value="<%= s["catalog_id"]%>,<%= s["home_link"]%>,<%= i%>,<%= s["display_title"]%>" id="content_info_<%=i%>"><%= s["ml_display_title"]%></a>
              </li>
              <%end%>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active"> 
                <div id="synopsis_data">
               <%unless @episode_details['synopsis_data'].blank? %> 
               
                <% @episode_details['synopsis_data'].each do |k, v| %>
                <h4 class="float-left w-100 app-color1 font-black"><%= v["title"] %></h4>
                 <p class="float-left w-100 app-color1 font-regular" style="font-size: 14px;"><%=v["description"]%></p>
                <%end%>
                <%end%>

                <%unless @episode_details['description'].blank? %>  
                 <!--  <h4 class="float-left w-100 app-color1 font-black font-bold mt-3"><%#= get_lang_string("synopsis")%></h4> -->
                  <p class="float-left w-100 app-color1 font-regular"><%=@episode_details['ml_synopsis'] rescue @episode_details['description']%></p>
                <%end%>
                <%if @episode_details.has_key?("item_additional_data") && !@episode_details['item_additional_data'].empty?%>
                <%if @episode_details.has_key?("ml_item_additional_data") && !@episode_details['ml_item_additional_data'].empty?
                     ad_dat = @episode_details['ml_item_additional_data']
                   else
                   ad_dat = @episode_details["item_additional_data"]
                  end
                   %>
                  <%ad_dat.each do |k,v|%>
                    <%unless v.empty?%>
                      <h4 class="float-left w-100 app-color1 font-black"><%= k %></h4>
                        <p class="float-left w-100 app-color1 font-regular" style="font-size: 14px;"><%=v.join(",")%></p>
                    <%end%>
                  <%end%>
                <%end%>
              </div>

                <div class="float-left w-100 relative-content relative-content-scroll" style="padding-bottom: 0px;">
                    <div class="float-left w-100 get_more_items"></div>  
                    <div class="scroll_loader">
                    </div>  
                  </div>

                <div id="episode_data">
                  <div class="slick-parent-container-inner">
                    <div class="float-left w-100 slick-area">
                      <div class="slicks-container">
                        <div class="float-left w-100 slicks">
                          <div class="float-left w-100 ">
                            <div class="float-left w-100 slick-container slick-gap">
                              <div class="float-left w-100 slick-wrapper">
                                <div class="float-left w-100 app-slick-carousel">
                                  <%if @all_episodes.count > 0 %>
                                    <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                      <h2 class="section-title2 font-black app-color1 mt-3"><%= get_lang_string("all_episodes")%></h2>
                                     <a href="<%=params[:lang].present? ? "/#{params[:lang]}" : ""%>/shows/<%=@all_episodes.first['show_object']['friendly_id']%>/episodes" class=" pull-right see-more-episodes more" data-cat-name = "<%= @episode_details['show_name'] ? @episode_details['show_name'] : @episode_details['title']%>"  style="display:none;"><%= get_lang_string("see_all")%></a> 
                                    </div>
                                    <div class="float-left w-100 app-slick-slider-container">
                                      <div class="slider episodes_carousel horizontal">
                                        <%@all_episodes.each do |e|%>
                                          <div>
                                            <div style="width: 100%; display: inline-block;">
                                              <div class="slick-vertical-thumb">
                                                <article class="slick-vertical-thumb" style="">
                                                  <a href="<%=get_lang_url(e['seo_web_url'])%>" >
                                                    <div class="thumbnail-container">
                                                      <div class="card-img-container">
                                                        <img src="<%=e["thumbnails"]["small_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded" alt="<%=e["title"]%>" loading="lazy" title="<%=e['title']%>">
                                                      </div>  
                                                    </div> 
                                                    <div class="h-center">
                                                      <%if e['access_control']['is_free'] == false && e['access_control']['premium_tag'] == true && $region == "IN"%>
                                                        <%if e['episode_number'].present? %>
                                                         <span class="episodes-txt">Ep - <%= e['episode_number'] %></span>
                                                         <%end%>
                                                      <%end%> 
                                                    </div> 
                                                    <div class="app-d-flex justify-content-end">
                                                      <% if e['access_control']['is_free'] == true %>
                                                      <span class="free-txt text-uppercase">free</span>
                                                      <% end %>
                                                    </div>
                                                    <div class="slick-thumb-details">
                                                      <div class="content-title ellipsize"><%= e['ml_title'] rescue e['title']%></div>
                                                      <div class="sub-info ellipsize"><%=e['ml_genres'][0].capitalize rescue e['genres'][0].capitalize %> | <%=e['ml_language'][0].capitalize rescue e['language'].capitalize %> | <%= e['ml_release_date'].split("-")[0]rescue e['release_date_string'].split("-")[0]%>
                                                      </div>  
                                                   </div>          
                                                  </a>
                                                </article>
                                              </div>
                                            </div>
                                          </div>  
                                        <%end%> 
                                       </div>
                                    </div>  
                                  <%end%>
                                </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="season_all_results"></div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slick-parent-container-inner">
  <div class="float-left w-100 slick-area">
    <div class="slicks-container">
      <div class="float-left w-100 slicks">
        <div class="float-left w-100 ">
          <div class="float-left w-100 slick-container slick-gap">
            <div class="float-left w-100 slick-wrapper">
              <div class="float-left w-100 app-slick-carousel">
                <%if @other_items.count > 0 %>
                  <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                    <h2 class="section-title2 font-black app-color1"><%= get_lang_string("you_may_like")%></h2>
                    <a href="<%=params[:lang].present? ? "/#{params[:lang]}": ""%>/<%=@other_items.first['catalog_object']['friendly_id']%>/others/collection" class="pull-right see-more see-more-items more" data-cat-name = "<%=@catalog_name%>" style="display:none;" ><%= get_lang_string("see_all")%></a>
                  </div>
                  <div class="float-left w-100 app-slick-slider-container">
                    <div class="slider horizontal horizontal_more">
                      <%@other_items.each do |t|%>
                        <div>
                          <div style="width: 100%; display: inline-block;">
                            <div class="slick-vertical-thumb">
                              <article class="slick-vertical-thumb" style="">
                                <a href="<%=params[:lang].present? ? "/#{params[:lang]}": ""%><%=get_item_url(t)%>" >
                                  <div class="thumbnail-container">
                                    <div class="card-img-container">
                                      <img src="<%=t["thumbnails"]["small_16_9"]["url"]%>" class="img-loader lazy-img-loader loaded" alt="<%=t['title']%>" loading="lazy" title="<%=t['ml_title'].present? ? t["ml_title"] : t["title"]%>">
                                    </div>  
                                  </div> 
                                  
                                  <div class="h-center">
                                    <%if t['access_control']['is_free'] == false  && $region == "IN"%>
                                      <span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span>
                                    <%end%> 
                                  </div> 
                                  <div class="slick-thumb-details">
                                    <div class="content-title ellipsize"><%=t['ml_title'] rescue t['title']%></div>
                                    <div class="sub-info ellipsize"><%=t['ml_genres'][0].capitalize rescue t['genres'][0].capitalize %> | <%=t['ml_language'][0].capitalize rescue t['language'].capitalize %> |  <%= t['release_date_string'].split("-")[0] rescue ''%>
                                    </div>   
                                 </div>                                                                                                                
                                </a>
                              </article>
                            </div>
                          </div>
                        </div>  
                      <%end%> 
                     </div>
                  </div>  
                <%end%>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="modal" id="add_watch_list">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h4 class="margin-bottom-10 margin-top-5 font-bold"><%=get_lang_string("login")%></h4>
           <% my_list  = get_lang_popup("add_mylist")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= my_list['title_text']%> </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="watch_list_cancel"><%= my_list['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="watch_list_confirm"><%= my_list['positive']%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>

<input type="hidden" id="content_definition" value="<%= @episode_details["content_definition"]%>">
<input type="hidden" id="catalog_id" value="<%=@episode_details['catalog_id']%>">
<input type="hidden" id="content_id" value="<%=@content_id%>">
<!-- <input type="hidden" id="item_category" value="<%#=@episode_details['catalog_object']['plan_category_type']%>"> -->
<input type="hidden" id="item_category" value="<%=@episode_details['catalog_object']['plan_category_type']%>">
<!--  <input type="hidden" id="preview_available" value="<%#=(@episode_details.has_key?("preview") && @episode_details['preview']['preview_available'] == true) ? "true" : "false"%>"> -->
<input type="hidden" id="preview_available" value="false">
<input type="hidden" id="language" value="<%=@episode_details['language']%>">
<input type="hidden" id="release_date" value="<%=@episode_details['release_date_string']%>">
<!-- <input type="hidden" id="theme_type" value="<%#=@episode_details['catalog_object']['layout_type']%>"> -->
<input type="hidden" id="theme_type" value="<%=@theme_type%>">
<input type="hidden" id="genre" value="<%=@episode_details['genres'][0].capitalize%>">
<input type="hidden" id="age" value="NA">
<input type="hidden" id="gender" value="NA">
<input type="hidden" id="user_state" value="Anonymous">
<input type="hidden" id="user_period" value="NA">
<input type="hidden" id="user_plan_type" value="NA">
<input type="hidden" id="user_plan" value="NA">
<input type="hidden" id="analytic_user_id" value="NA">
<input type="hidden" id="app_share_url" value="<%=@episode_details['internal_share_url'].split("?")[1]%>">
<input type="hidden" id="ma_title" value="<%=@episode_details['title']%>">
 <input type="hidden" id="branch_title" value="<%=@episode_details['title'].gsub("'","")%>">
<input type="hidden" id="video_duration" value="<%=@episode_details['duration_string']%>">
<input type="hidden" id="user_region" value="<%=$region%>">
<input type="hidden" id="playable_entity" value="<%=(@episode_details.has_key?("play_type") && @episode_details["play_type"] == false) ? "false" : "true"%>">
<input type="hidden" id="preview_coming_soon" value="">
<input  type="hidden" id="my_list_remove" value="<%=get_lang_string("my_list_sucess")%>">
<input  type="hidden" id="something_wrong" value="<%=get_lang_string("something_wrong")%>">
<input   type="hidden" id="added_to_list" value="<%= get_lang_string("added_to_list")%>">
<input   type="hidden" id="redeem_login" value="<%= get_lang_string("redeem_login")%>">
<input type="hidden" value="1" id="page_no">
<input type="text" id="copy_link" value="<%=SITE%><%=request.fullpath%>">

<%#=render "layouts/page_height_setting"%>
<%=render "load_player"%>
<%=render "matomo_analytics"%>
<%= render "netcore_apxor_events" %>

<script type="text/javascript">
    $("#shemaroo_player").empty();

  $(document).ready(function(){
  localStorage.setItem("parent_category_src","<%=@episode_details['catalog_object']['plan_category_type']%>")

  var layout_type = "<%=@layout_type%>"
  var items_count = "<%=@other_items.count%>"
  var episodes_count = "<%=@all_episodes.count%>"
  var platfrm = getShemarooCookies().mobile_browser_type

  if(layout_type == "shows"){
    var items_0 = 1;
    var stage_padding = 50;
    var items_576 = 2;
    var items_768 = 3;
    var items_992 = 4;
    var items_1200 = 5
    if(items_count > 5 && platfrm != "mobile"){
      $(".see-more-items").show();
    }
    if( episodes_count > 5 && platfrm != "mobile"){
      $(".see-more-episodes").show();
    }
    if(items_count > 2 && platfrm == "mobile"){
      $(".see-more-items").show();
    }
    if( episodes_count > 2 && platfrm == "mobile"){
      $(".see-more-episodes").show();
    }
  }
  else{
    var items_0 = 2;
    var stage_padding = 25;
    var items_576 = 3;
    var items_768 = 4;
    var items_992 = 5;
    var items_1200 = 7;
    if(items_count > 5 && platfrm != "mobile"){
      $(".see-more-items").show();
    }
    if( episodes_count > 5 && platfrm != "mobile"){
      $(".see-more-episodes").show();
    }
    if(items_count > 2 && platfrm == "mobile"){
      $(".see-more-items").show();
    }
    if( episodes_count > 2 && platfrm == "mobile"){
      $(".see-more-episodes").show();
    }
  }




    
    var pre_chk =  "<%=@video_premium_status == true ?  "premium" : "free" %>"
    var tvod_cnt = "<%= @episode_details["content_definition"]%>"

    if(tvod_cnt == "TVOD"){
      branch_pre_chk = "tvod"
    }else{
      branch_pre_chk  = pre_chk
    }

    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();

    var catalogid = $("#catalog_id").val();
    var contentid = $("#content_id").val();
    var video_category_type = $("#item_category").val();
    if(getShemarooCookies().user_id){
      if(video_category_type.length != 0 && getShemarooCookies().user_profile_type == "kids" && video_category_type != "kids"){
        var kids_url = "/kids"
        if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
          kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
        }
        window.location = kids_url
      }
    }

    if (getShemarooCookies().user_profile_type == "kids"){
      var kids_url = "/kids"
        if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
          kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
        }
      $(".home a").attr("href",kids_url)

    }
  })

</script> 

<script>
  $(document).ready(function() {
    $("#watch_list_cancel").click(function(){
      $("#add_watch_list").modal("hide");
    })

    if (getShemarooCookies().theme_option == "dark_theme" ){
      $(".trailer_video_light").remove()
      $(".trailer_video_dark").show()
      $(".watch_later_light").remove()
      $(".watch_later_dark").show()
      $(".share_light").remove()
      $(".share_dark").show()
      $(".download_light").remove()
      $(".download_dark").show()
      
      
    }else if (getShemarooCookies().theme_option == "light_theme" || getShemarooCookies().theme_option == undefined){
      $(".trailer_video_light").show()
      $(".trailer_video_dark").remove()
      $(".watch_later_light").show()
      $(".watch_later_dark").remove()
      $(".share_light").show()
      $(".share_dark").remove()
      $(".download_light").show()
      $(".download_dark").remove()

    }


     $('.horizontal_more').slick({
        infinite: false,
        dots: false,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,          
            }
          },
          {
          breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
          breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
          breakpoint: 440,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    
    
    $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );


   
    function season_carousel() {
      console.log("s ca called");
       $('.episodes_carousel').slick({
        infinite: false,
        dots: false,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,          
            }
          },
          {
          breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
          breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
          breakpoint: 440,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    }

    $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );

    $('.header_tab').removeClass('active');
    
    var thm = "<%= @theme_type %>"
    if(thm == "show" || thm == "episode" ){
      $("#tv-shows").addClass("active")
    }
  
      
    
    $("#details_tabs a").click(function() {
      var x = $(this).attr("href").split("#")[1];
      setTimeout(function() {
        
      }, 500)
      
    })
    /*setTimeout(function(){
      $(".details-wrapper2 .tab-content > .tab-pane").css("display", "none") 
    }, 10000);*/
  
  $("#episode_data").hide()

  window.onload = (event) => {
    $("#content_info_1").addClass("active")
    var data = $("#content_info_1").data("value").split(",")
   if (data[3] == "Episodes"){
      $(".scroll_loader").show();
      $("#synopsis_data").hide()
      $('.season_all_results').html('');
      $(".relative-content-scroll").css("padding-bottom", 184);
      $("#episode_data").show()
      $(".relative-content-scroll").css("padding-bottom", 0);
      $(".scroll_loader").hide();
      season_carousel();
    }else{
      $("#synopsis_data").hide()
      $("#episode_data").hide()
      $('.season_all_results').html('');
      $(".relative-content-scroll").css("padding-bottom", 184);
      $(".scroll_loader").show();
      season_list(data[0],data[1],data[3])
    }
  };
 
  var list_count = "<%= @content_info.count %>"
  for(var i = 0; i < list_count ; i++){
  $("#content_info_" + i).click(function(){
    $(".tab_chk").removeClass("active")
    
    var data = $(this).data("value").split(",")
    $("#content_info_"+data[2]).addClass("active")
    if(data[3] == "Synopsis"){
      $("#synopsis_data").show()
      $("#episode_data").hide()
      $('.season_all_results').html('');
    }else if(data[3] == "Trailers & More"){
      $("#synopsis_data").hide()
      $("#episode_data").hide()
      $('.season_all_results').html('');
      $(".relative-content-scroll").css("padding-bottom", 184);
      $(".scroll_loader").show();
      trailer_list(data[0],data[1])
    }else if (data[3] == "Episodes"){
      $(".scroll_loader").show();
      $("#synopsis_data").hide()
      $('.season_all_results').html('');
      $(".relative-content-scroll").css("padding-bottom", 184);
      $("#episode_data").show()
      $(".relative-content-scroll").css("padding-bottom", 0);
      $(".scroll_loader").hide();
      season_carousel();
    }else{
      $("#synopsis_data").hide()
      $("#episode_data").hide()
      $('.season_all_results').html('');
      $(".relative-content-scroll").css("padding-bottom", 184);
      $(".scroll_loader").show();
      season_list(data[0],data[1],data[3])
    }
  })
}

  function season_list(catalog_id,home_link, title){
    
      $.ajax({
      url: "/catalogs/season_episodes",
      type: "GET",
      data: { 
       catalog_id : catalog_id,
       season_id : home_link
      },
      success: function(response){
        $('.season_all_results').html('');
         var list_data = "";
          var list_items = "";
         var season_list = response.season_list;
          for (var i=0; i< season_list.length; i++){
            var item= season_list[i].split("$");
            console.log("11111111111111111111111111")
            console.log()
         list_data +=  '<div><div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="'+item[3]+'"><div class="thumbnail-container"><div class="card-img-container"><img src="'+item[2]+'" class="img-loader lazy-img-loader loaded" alt="'+item[0]+'" loading="lazy" title="'+item[0]+'"></div><img src="/assets/thumb_play_btn.svg" class="tab-thumb-play"></div><div class="h-center"></div><div class="app-d-flex justify-content-end"></div></a><p class="float-left w-100 meta-info1 margin-bottom-10"><span class="meta-info11 font-black">00'+(i+1)+'</span><span class="meta-info12 font-black ml-3">'+item[1].split("|")[0]+'</span><span class="meta-info13 font-black">'+item[1].split("|")[2].split(":")[1]+'</span></p><p class="float-left w-100 meta-info2 margin-bottom-0">'+item[9]+'</p><div class="app-d-flex justify-content-end"><span class="free-txt text-uppercase" style="display:'+(item[8] == "true" ? "" : "none")+'">free</span></div></article></div></div></div>'
       }
         if (season_list.length !=0){
         list_items = '<div class="float-left w-100 app-d-flex justify-content-between app-slick-container" style="margin-top:-9px;"><h2 class="section-title2 font-black app-color1"></h2><a href="/season/'+home_link+'/collection" style = "display : '+(season_list.length > "5" ? "" : "none")+'" class="pull-right see-more see-more-items more">See More</a></div><div class="float-left w-100 app-slick-slider-container mt-2"><div class="slider tab-horizontal horizontal_1">'+list_data+'</div></div>'
        }else{
          list_items = '<div class="text-center"><h1 class="section-title2 font-black app-color1" style="padding-bottom:80px;margin-top:40px;">No Episodes</h1></div>'
        }
        $(".season_all_results").append(list_items);

         $(".relative-content-scroll").css("padding-bottom", 0);
         $(".scroll_loader").hide();

            $('.horizontal_1').slick({
          infinite: false,
          dots: false,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 4,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,          
              }
            },
            {
            breakpoint: 991,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
            breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
            breakpoint: 440,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
          
        }
      });

      
    }


    function trailer_list(catalog_id,home_link){
      $(".relative-content-scroll").css("padding-bottom", 120);
      $(".scroll_loader").show();
      //var item_id = '<%#= @episode_details["show_theme_id"] %>'
      $.ajax({
      url: "/catalogs/get_trailers",
      type: "GET",
      data: { 
       catalog_id : catalog_id,
       item_id : home_link
      },
      success: function(response){
        $('.season_all_results').html('');
         var list_data = "";
          var list_items = "";
         var trailer_list = response.trailer_list;
          for (var i=0; i< trailer_list.length; i++){
            console.log(trailer_list[i])
            var item= trailer_list[i].split("$");
         list_data +=  '<div><div style="width: 100%; display: inline-block;"><div class="slick-vertical-thumb"><article class="slick-vertical-thumb" style=""><a href="javascript:void(0);" data-value="'+item[3]+'" onclick="myFunction(this)"><div class="thumbnail-container"><div class="card-img-container"><img src="'+item[2]+'" class="img-loader lazy-img-loader loaded" alt="'+item[0]+'" loading="lazy" title="'+item[0]+'"></div><img src="/assets/thumb_play_btn.svg" class="tab-thumb-play"></div><div class="h-center"></div><div class="app-d-flex justify-content-end"></div></a><p class="float-left w-100 meta-info1 margin-bottom-10"><span class="meta-info12 font-black">'+item[1].split("|")[0]+'</span></p><p class="float-left w-100 meta-info2 margin-bottom-0">'+item[0]+'</p></article></div></div></div>'
       }

       if(trailer_list.length != 0){
       list_items = '<h5 class="font-black app-color1 mb-2"><%= get_lang_string("trailer")%></h5><div class="slick-parent-container-inner"><div class="float-left w-100 slick-area"><div class="slicks-container"><div class="float-left w-100 slicks"><div class="float-left w-100 "><div class="float-left w-100 slick-container slick-gap"><div class="float-left w-100 slick-wrapper"><div class="float-left w-100 app-slick-carousel"><div class="float-left w-100"    style = "display : '+(trailer_list.length > "5" ? "" : "none")+'"><a href="javascript:void(0);" class="pull-right see-more see-more-items more margin-top-20 margin-bottom-20">See all</a></div><div class="float-left w-100 app-slick-slider-container"><div class="slider tab-horizontal horizontal_2">'+list_data+'</div></div></div></div></div></div></div></div></div></div>'
        }else{
          list_items = '<div class="text-center"><h1 class="section-title2 font-black app-color1" style="padding-bottom:80px;margin-top:40px;">No Trailer</h1></div>'
        }
        $(".season_all_results").append(list_items);
         $(".relative-content-scroll").css("padding-bottom", 0);
         $(".scroll_loader").hide();

            $('.horizontal_2').slick({
          infinite: false,
          dots: false,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 4,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,          
              }
            },
            {
            breakpoint: 991,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
            breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
            breakpoint: 440,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
          
        }
      });

      
    }

 });

 function myFunction(trailer_urll){
      document.documentElement.scrollTop = 0;
      var trailer_data = $(trailer_urll).data("value")
      console.log("trailereeeeeeeeeeeeeee",trailer_data)
      trailer_and_more(trailer_data);
    }

    function trailer_and_more(trailer_data){
      var external_preview_url =  trailer_data 
      if(external_preview_url.length != 0){
        var preview_content_url = external_preview_url.split("preview");
        var new_content_url = preview_content_url[0];
        var new_key = preview_content_url[1];
          document.cookie = 'new_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'ios_play_url' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'ios_key' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          $.cookie('new_play_url',new_content_url, { expires: 14,path: '/'}) 
          $.cookie('key',new_key, { expires: 14,path: '/'})
          $.cookie('ios_play_url',new_content_url, { expires: 14,path: '/'}) 
          $.cookie('ios_key',new_key, { expires: 14,path: '/'}) 
          $.cookie('external_preview_url',"true", { expires: 14,path: '/'})
        player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$(".shemaroo_web_player").attr("src").split("|image=")[1].split("|time=")[0];
        player_src = player_src+"|autoplay_status=true|is_preview=true";
      }
     $(".shemaroo_web_player").attr("src",player_src);
    }   
    
</script>

