<div class="min-height-divtoast">
<div class="float-left w-100 search-page padd-wrapper">
  <div class="float-left w-100">
    <section class="main-content">  
      <div class="float-left w-100 ">
        <!-- <div class="float-left w-100 search-type-wrap">
          <input type="radio" id="all" name="radio-group" class="search-type custom-radio" value="All" checked="checked">
          <label for="all" class="mb-0 app-color1 font-regular">All</label>
          <input type="radio" id="movies" name="radio-group" class="search-type custom-radio" value="Movies">
          <label for="movies" class="mb-0 app-color1 font-regular">Movies</label>
          <input type="radio" id="tvshows" name="radio-group" class="search-type custom-radio" value="tvshows">
          <label for="tvshows" class="mb-0 app-color1 font-regular">TV Shows</label>
          <input type="radio" id="videos" name="radio-group" class="search-type custom-radio" value="Videos">
          <label for="videos" class="mb-0 app-color1 font-regular">Videos</label>
        </div> 
  -->

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-4">
              <div class="float-left w-100 relative-content mb-3 search-box-wrap">
                <img src="/assets/new_icons/search.svg" class="search_icon" alt="" title="">
                <input type="search" id="search" name="" class="item_search" placeholder="<%=get_lang_string("search_title")%>" value="<%=params[:q]%>">                    
                <span class="search_errors" style="display: none;"><%=get_lang_string("search_text")%></span>
                <a href="javascript:void(0)">
                  <img src="/assets/cancel_search_black.svg" alt="cancel search" title="cancel search" class="cancel_search" style="<%=params[:q].present? ? "" : "display:none"%>">
                </a>
              </div> 
            </div>
        </div>   

        <div class="row">
          <%unless params[:q].present?%>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-3 seach-tag-wrap" id="recent_search">
              <h1 class="float-left section-title big-desktop-app-font3 app-color1"> <%=get_lang_string("rec_search")%></h1>
              <h1 class="float-right clear-txt app-color7 text-uppercase"><a href="javascript:void(0);" id="clear_search" style="display:none;"><%=get_lang_string("clear")%></a></h1>
              
              <div class="float-left w-100 mt-2" id="user_recent_search">
                <span class="tag searchtag app-color1"> <%=get_lang_string("no_recent_search")%> </span>
              </div>
            </div>
          
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-3 seach-tag-wrap" id="trend_search">
              <h1 class="float-left w-100 section-title big-desktop-app-font3 app-color1"><%=get_lang_string("trend_search")%></h1>
              <div class="float-left w-100 mt-2">
                  <%@search_results.each do |t|%>
                  <a href="<%=get_lang_url(t["seo_web_url"])%>" class="tag searchtag app-color1 searched_item">#<%=t['ml_title'] rescue t['title'] %></a>
                <%end%>
              </div>
            </div>
          <%end%>   
        <%if @search_results.count > 0 %>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-3 seach-tag-wrap" id="search_heading" style="display:none;">
            <h1 class="float-left w-100 section-title big-desktop-app-font3 app-color1"><%=get_lang_string("search_res")%> (<span class="search_count"><%=@search_results.count%></span>)</h1>
          </div>
        <%end%>
        </div>
       <div class="row" id="search_all_results" style="display: none;">
        <%if @search_results.count > 0 %>
            <%@search_results.each do |s|%>
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col- search-thumb-wrap">
            <div class="row1">
              <div class="search-image-wrap">                    
                <a href="<%=get_lang_url(s["seo_web_url"])%>" class="float-left w-100 searched_item">
                   <img src="<%=s['thumbnails']['medium_16_9']['url']%>"  alt="" alt="<%=s['title']%>" title="<%=s['title']%>" class="search-img img-fluid">
                </a>
              </div>
              <div class="search-category-wrap">
                <a href="javascript:void(0);">
                  <p class="search-tile-title text-ellipsis font-black app-color6 searched_item"><%=s['title']%></p>
                </a>
<!--                 <p class="app-color5 search-tile-category">7+ | U</p>
 -->                <p class="app-color5 search-tile-category"><%=s['item_caption']%></p>
              </div>
            </div>
          </div>
          <%end%>
          <%elsif params[:q].present?%>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30 no-content-wrap text-center" id="no_search_results">
                <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
                <p class="margin-bottom-0 font-bold text-ellipsis"><strong><%= get_lang_string("no_result")%></strong></p>
                <p class="font-regular margin-bottom-0"><%= get_lang_string("search_failure")%></p>
                <p class="font-regular margin-bottom-0"><%- get_lang_string("check_spelling")%></p>
              </div>
              </div>
          <%end%>

        </div>
        </div>  
        <input type="hidden" id="no_res_msg" value="<%=get_lang_string("no_result")%>">
        <input type="hidden" id="no_res_title" value="<%=get_lang_string("no_result_title")%>">
    </section>
  </div>
</div>
      <%unless params[:q].present?%>
        <div class="slick-parent-container-inner" id="popular_search">
          <div class="float-left w-100 slick-area">
            <div class="slicks-container">
              <div class="float-left w-100 slicks">
                <div class="float-left w-100 ">
                  <div class="float-left w-100 slick-container slick-gap">
                    <div class="float-left w-100 slick-wrapper">
                      <div class="float-left w-100 app-slick-carousel">
                        <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                          <h2 class="float-left w-100 section-title big-desktop-app-font3 app-color1 mt-2 pt-1"><%=get_lang_string("pop_search")%></h2>
                        </div>
                        <div class="float-left w-100 app-slick-slider-container">
                          <div class="slider responsive">
                          <%if @search_results.count > 0 %>
                          <%@search_results.each do |s|%>
                            <div>
                              <div>
                                <div style="width: 100%; display: inline-block;">
                                  <div class="slick-vertical-thumb">
                                    <article class="slick-vertical-thumb" style="">
                                      <a href="<%=get_lang_url(s["seo_web_url"])%>">
                                        <div class="thumbnail-container">
                                          <div class="card-img-container">
                                            <img src="<%=s['thumbnails']['medium_2_3']['url']%>" class="img-loader lazy-img-loader loaded" loading="lazy" alt="" alt="<%=s['title']%>" title="<%=s['title']%>">
                                          </div> 
                                          <div class="slick-thumb-details">
                                            <div class="content-title ellipsize"><%=s['ml_title']  rescue s['title']%></div>
                                            <div class="sub-info ellipsize"><%=s['ml_item_caption'] rescue s['item_caption']%></div>
                                          </div> 
                                        </div>                                          
                                      </a>
                                    </article>
                                  </div>
                                </div>
                              </div>  
                            </div>
                            <%end%>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <%end%>
    </div>
            <%=render "layouts/page_height_setting"%> 
  
<script type="text/javascript">

$(document).ready(function(){
  <%if params[:q].present?%>
  $("#search_all_results").show();
  $("#search_heading").show();
  $(".search_icon").hide();
  $('.search-page input[type="search"]').css("padding", "15px 20px 15px 20px");
  <%end%>

  // $(".sa_li_item").click(function(){
 //  localStorage.removeItem("nc_stream_src")
 //  localStorage.setItem("nc_stream_src","search result")
 //    })

  
  $(".scrollmenuwrap").hide();
  var search_item = "<%=params[:q].present? ? "true" : "false"%>";
  if(search_item == "false"){
  if(getShemarooCookies().recent_search_data){
    $("#clear_search").show();
    var search_val = $.unique(getShemarooCookies().recent_search_data.split(","));
    $("#user_recent_search").html("");
    for(i=0; i < search_val.length;i++){
       $("#user_recent_search").append('<a href="/search?q='+search_val[i]+'"><span class="tag searchtag app-color1">#'+search_val[i]+'</span> </a>')
    }
  }
  }

  $(document).on('click', '.search-image-wrap',function(){

    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","search result")
    //var title = $(this).data('title')
    var title = $('img', this).attr('title');
    //smartech('debug','1');
    Netcore_Search_Result_Clicked(title)

   
  });


  $(document).on('click','.search-category-wrap',function(){
     var item = $(this).attr("id");
     Netcore_Search_Result_Clicked(item)
    });




  function Netcore_Search_Result_Clicked(title){
    
    console.log("netcore Search_Result_Clicked----------------------------")
    var user_region = $(".user_region").val()
    var search_text = $("#search").val();
    smartech('dispatch', 'Search_Result_Clicked', {
    "session_id": getShemarooCookies().user_id,
    "user_id": getShemarooCookies().user_analytic_id,
    'user_state': $.cookie('user_state'),
    "content_name":title,
    "keyword" :search_text,
    "clicked":"true",
    "COUNTRY":user_region

      });

    Apxor.logEvent('Search_Result_Clicked', {
    "content_name":title,
    "clicked": "true",
    "keyword" :search_text,
    "user_id": getShemarooCookies().user_analytic_id,
    'user_state': $.cookie('user_state'),
    "COUNTRY":user_region
        },"BROWSE");

    branch.logEvent(
    "Search_Result_Clicked",
      {
        "content_name": title, 
        "keyword": search_text,
        "clicked": "true"
      },
    function(err) { console.log(err); }
    );

  }
});

</script>
<script>
  $(document).ready(function() {

    $('.responsive').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 7,
      slidesToScroll: 7,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 6,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 5
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
          breakpoint: 440,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        }
      ]
    });
    $('article').hover(
      function() {
        $(this).addClass("expand")
      },
      function() {
        $(this).removeClass("expand")
      }
    );
    
 
  });   

</script> 