
<%
   meta title: "Search for shows, movies, songs",
    description: "Search for shows, movies, songs",
    keywords: "Search for shows, movies, songs"
%>
<div class="padding-top-80 padding-top-100 mobile-padding-top-85 search-page">
	<section class="full-width-content inside-container light min-height-div"> 
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-15">

				<div class="search-box-wrap">
					<input type="search" id="search" name="" class="item_search" placeholder="Search for movies, songs & more …" value="<%=params[:q]%>">
					<span class="search_errors" style="display:none;">Please enter Search text</span>
					<a href="javascript:void(0)"><img src="/assets/cancel_search.svg" alt="cancel search" title="cancel search" class="cancel_search" style="<%=params[:q].present? ? "" : "display:none"%>"></a>
				</div> 
				
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
				<h2 class="margin-bottom-20 margin-top-20 text-capitalize pull-left w-100"  id="search_heading" style="<%=params[:q].present? ? "" : "display:none"%>">
						<%if @search_results.count > 0 %>
						Search Result (<span class="search_count"><%=@search_results.count%></span>)
						<%end%>
					</h2>
					<% if @search_results.count > 0%>
					<h2 class="margin-bottom-20 margin-top-20 text-capitalize pull-left w-100" id="trending_search" style="<%=params[:q].present? ? "display:none" : ""%>"><%=params[:q].present? ? "" : "Trending Search"%></h2>
					<% end %>
				</div>	
			</div>				
				<div class="row" id="search_all_results"> 
				 <%if @search_results.count > 0 %>
				<%@search_results.each do |s|%>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col- margin-bottom-10">
						<div class="row1">
						<div class="search-image-wrap" data-title="<%= s['title']%>">
							<a href="<%=s["seo_web_url"]%>" class="search_result_item sa_li_item" >
								<%if s.has_key?("access_control") && s['access_control']['is_free'] == false && s["access_control"]["premium_tag"] == true && $region == "IN"%>
	                <span class="text-uppercase premium-txt">Premium</span>
	              <%end%>
	             	<img src="<%=s['thumbnails']['medium_16_9']['url']%>" class="img-fluid rounded tile-box-shadow searched_item" alt="<%=s['title']%>" title="<%=s['title']%>">
	            </a>
						</div>
						<div class="search-category-wrap">
							<a href="<%=s["seo_web_url"]%><%#=get_item_url(s)%>"><p class="search-tile-title text-ellipsis searched_item"><%=s['title']%></p></a>
							<p class="search-tile-category"><%=s['item_caption']%></p>
						</div>
						</div>
						</div>
					<%end%>
					<%elsif params[:q].present?%>
					 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30 no-content-wrap text-center" id="no_search_results">
	              <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
	              <p class="margin-bottom-0 font-bold text-ellipsis"><strong>No Results found!</strong></p>
	              <p class="font-regular margin-bottom-0">We could not find what you searched for.</p>
				  			<p class="font-regular margin-bottom-0">Please check the spelling or try another term.</p>
	            </div>
	            </div>
					<%end%>

			    

						<div class="spinner" style="display:none;">
							<img src="/assets/loader.gif" class="img-fluid" alt="loading" title="loading">
						</div>
					
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30 no-content-wrap text-center" id="no_search_results" style="display:none;">
	              <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
	              <p class="margin-bottom-0 font-bold text-ellipsis"><strong>No Results found!</strong></p>
	              <p class="font-regular margin-bottom-0">We could not find what you searched for.</p>
				  			<p class="font-regular margin-bottom-0">Please check the spelling or try another term.</p>
	            </div>
	            </div>


				
			
		    <%unless params[:q].present?%>
			<div class="row" id="recent_search">
	 	     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30">
					<h2 class="margin-bottom-0 margin-top-15 text-capitalize inline-block">Recent search</h2>
	                 <a href="javascript:void(0);" class="pull-right margin-top-20 clear" id="clear_search" style="display:none;">CLEAR</a>
					<ul class="list-group list-group-flush w-100" id="user_recent_search">
					<li class="list-group-item border-top-0 padding-left-0">You have not searched anything recently!</li>
					</ul> 
				</div> 
			</div>
			<%end%>
		  <%=render "layouts/page_height_setting"%>
	</section>
</div>




<script type="text/javascript">
 $(".search_icon").attr("src","/assets/search_active.svg")
 $(".search_icon").css("width","32px")
  

$(document).ready(function(){
	$(".sa_li_item").click(function(){
  localStorage.removeItem("nc_stream_src")
  localStorage.setItem("nc_stream_src","search result")
    })

	
	$(".scrollmenuwrap").hide();
	var search_item = "<%=params[:q].present? ? "true" : "false"%>";
	if(search_item == "false"){
	if(getShemarooCookies().recent_search_data){
    $("#clear_search").show();
    var search_val = $.unique(getShemarooCookies().recent_search_data.split(","));
    $("#user_recent_search").html("");
    for(i=0; i < search_val.length;i++){
    	 $("#user_recent_search").append('<a href="/search?q='+search_val[i]+'"><li class="list-group-item padding-left-0">'+search_val[i]+'</li> </a>')
    }
	}
	}

	$(".search-image-wrap").click(function(){
		var title = $(this).data('title')
		//smartech('debug','1');
		Netcore_Search_Result_Clicked(title)

	});


	$(document).on('click','.search-category-wrap',function(){
     var item = $(this).attr("id");
     Netcore_Search_Result_Clicked(item)
    });




	function Netcore_Search_Result_Clicked(title){
console.log("netcore Search_Result_Clicked----------------------------")
var user_region = $(".user_region").val()
smartech('dispatch', 'Search_Result_Clicked', {
"session_id": getShemarooCookies().user_id,
"user_id": getShemarooCookies().user_analytic_id,
'user_state': $.cookie('user_state'),
"content_name":title,
"clicked":"true",
"COUNTRY":user_region

    });

Apxor.logEvent('Search_Result_Clicked', {
"content_name":title,
"clicked": "true",
"user_id": getShemarooCookies().user_analytic_id,
"COUNTRY":user_region
    },"BROWSE");

branch.logEvent(
"Search_Result_Clicked",
	{
"content_name": title, 
"keyword":$("#search").val(),
"clicked": "true"

	},
function(err) { console.log(err); }
);

}


});

	

</script>