<div class="min-height-divtoast">
  <div class="float-left w-100 search-page">
    <div class="float-left w-100">
      <section class="main-content">  
        <div class="float-left w-100 ">
          <div class="slick-parent-container-inner">
            <div class="float-left w-100 slick-area">
              <div class="slicks-container">
                <section class="full-width-content light min-height-div"> 
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-15">
                      <div class="search-box-wrap">
                        <img src="/assets/new_icons/search.svg" class="search_icon search_icon_light" alt="" title="" style="display: none !important;">
                        <img src="/assets/new_icons/search_not_selected.svg" class="search_icon search_icon_dark" alt="" title="" style="display: none !important;">
                        <input type="search" id="search" name="" class="item_search" placeholder="<%=get_lang_string("type_here")%>" value="<%=params[:q]%>">
                        <span class="search_errors" style="display:none;"><%=get_lang_string("search_text")%></span>
                        <a href="javascript:void(0)"><img src="/assets/cancel_search.svg" alt="cancel search" title="cancel search" class="cancel_search" style="<%=params[:q].present? ? "" : "display:none"%>"></a>
                      </div> 
                    </div>
                  </div>
                
                  <div class="row" id="srch_categories">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
                      <div class="tabs">
                        <%#if params[:q].present?%>
                        <div class="tab-button-outer srch_tbs" style="display:none;">
                          <ul id="tab-button">
                            <%@category_list.each_with_index do |s,i|%>
                              <li class="relative-content srch_tab"  id="<%=s['home_link']%>"><a href="javascript:void(0)" class="font-bold font-size1 cat_sel" id="<%=s['home_link']%>"><%= s["ml_display_title"] rescue s["display_title"] %></a></li>
                            <%end%>
                          </ul>
                        </div>
                          <div id="tab01" class="tab-contents">
                            <%if params[:q].present? && @search_results.count > 0 %>
                            <%@search_results.each_with_index do |s,i|%>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- app-d-flex v-center">
                                  <h2 class="search-results-sec-title font-black app-color1 mr-auto"><%=s['ml_display_title'].capitalize%></h2>
                                  <% if(s['catalog_list_items'].count > 5) %>
                                  <a href="/search/all?q=<%=params[:q].gsub(" ","%20")%>&type=<%=(params[:type].present? ? "#{params[:type]}" : (cookies[:user_profile_type].present? && cookies[:user_profile_type] == "kids")? "kids" : "all")%>&theme=<%=s['home_link']%>&lang=<%=params[:lang].present? ? params[:lang] : ''%>" class="search-see-all" id=""><span><%=get_lang_string("see_all")%></span><!-- <img src="/assets/see_all.svg"> --></a>
                                  <%end%>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
                                  <div class="search-slicks-container">
                                    <div class="float-left w-100 slicks" >
                                      <div class="float-left w-100">
                                        <div class="float-left w-100 slick-container slick-gap">
                                          <div class="float-left w-100 slick-wrapper">
                                            <div class="float-left w-100 app-slick-carousel">
                                              <div class="float-left w-100 app-slick-slider-container">
                                                <div class="slider search-carousel<%=i%>">
                                                  <% s['catalog_list_items'].each do |i|%>
                                                    <div>
                                                      <div class="item">
                                                        <div class=" float-left w-100 search-thumb-section">
                                                          <div class="search-thumb-img-section">
                                                            <a href="<%=get_lang_url(i['seo_web_url'])%>"><img src="<%=i['thumbnails']['medium_16_9']['url']%>" alt="" title="<%=i['title']%>" class="searched_item"></a>
                                                            <input type="hidden" id="title_name"  value="<%=i['title']%>">
                                                            <input type="hidden" id="content_type"  value="<%=i['theme']%>">
                                                            <input type="hidden" id="category_name"  value="<%=i['catalog_object']['plan_category_type']%>">
                                                            <input type="hidden" id="title_value"  value="<%=(i["access_control"].present? && i["access_control"]["is_free"] == true) ? "free" : "premium"%>">
                                                          </div>
                                                          <div class=" float-left w-100 search-thumb-desc-section">
                                                            <h2 class="app-color6 font-black float-left w-100 searched_item"><%=i['ml_title']%></h2>
                                                            <p class="app-color2 font-regular float-left w-100">
                                                              <%=i['ml_item_caption'].split("|")[0]+ '|'  rescue " " %>  <%=  i['ml_item_caption'].split("|")[1]+ '|' rescue " " %>
                                                              <%= i['release_date_string'].split("-")[0] rescue  i['ml_release_date'].split("-")[0]%>
                                                            </p>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  <%end%>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <%end%>
                            <%elsif params[:q].present? %>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30 no-content-wrap text-center" id="no_search_results">
                                <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
                                <p class="margin-bottom-0 font-bold text-ellipsis"><strong><%= get_lang_string("no_result")%></strong></p>
                                <p class="font-regular margin-bottom-0"><%= get_lang_string("no_match")%><strong>&nbsp;"<%=params[:q]%>"</strong></p>
                                <p class="font-regular margin-bottom-0"><%= get_lang_string("popular_browse_sug")%></p>
                              </div>
                            <%end%>
                           </div>
                      </div>
                    </div>
                  </div>
                 <%unless params[:q].present?%>
                    <div class="row">
                        <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-3 seach-tag-wrap" id="recent_search">
                          <h1 class="float-left section-title big-desktop-app-font3 app-color1"> <%#=get_lang_string("recent_search_1")%></h1>

                          <h1 class="float-right clear-txt app-color7 text-uppercase"><a href="javascript:void(0);" id="clear_search" style="display:none;"><%#=get_lang_string("clear")%></a></h1>
                          <div class="float-left w-100 mt-2" id="user_recent_search">
                            <span class="tag searchtag app-color1"> <%#=get_lang_string("no_recent_search")%> </span>
                          </div>
                        </div> -->
                       <%if @search_results.count > 0 %>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-3 seach-tag-wrap" id="trend_search">
                            <h1 class="float-left w-100 section-title big-desktop-app-font3 app-color1"><%=get_lang_string("trending_search_1")%></h1>
                            <div class="float-left w-100 mt-2">
                              <%@search_results.each do |t|%>
                                <a href="<%=get_lang_url(t["seo_web_url"])%>" class="tag searchtag app-color1 searched_item">#<%=t['ml_title'] rescue t['title'] %></a>
                              <%end%>
                            </div>
                          </div>
                        <%end%>
                    </div>
                   <%end%>
                    <%unless params[:q].present?%>
                    <%if @search_results.count > 0%>
                      <div class="row padding-top-15">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-">
                          <div class="slick-parent-container-inner" id="popular_search">
                            <div class="float-left w-100 slick-area">
                              <div class="slicks-container1">
                                <div class="float-left w-100 slicks">
                                  <div class="float-left w-100 ">
                                    <div class="float-left w-100 slick-container slick-gap">
                                      <div class="float-left w-100 slick-wrapper">
                                        <div class="float-left w-100 app-slick-carousel">
                                          <div class="float-left w-100 app-d-flex justify-content-between app-slick-container">
                                            <h1 class="float-left section-title big-desktop-app-font3 app-color1"> <%=get_lang_string("popular_search_1")%></h1>
                                          </div>
                                          <div class="float-left w-100 app-slick-slider-container">
                                            <div class="slider responsive">
                                            <%if @search_results.count > 0 %>
                                            <%@search_results.each do |s|%>
                                              <div>
                                                <div>
                                                  <div style="width: 100%; display: inline-block;">
                                                    <div class="slick-vertical-thumb">
                                                      <article class="slick-vertical-thumb" style="">
                                                        <a href="<%=get_lang_url(s["seo_web_url"])%>">
                                                          <div class="thumbnail-container">
                                                            <div class="card-img-container">
                                                              <img src="<%=s['thumbnails']['medium_2_3']['url']%>" class="img-loader lazy-img-loader loaded searched_item" loading="lazy" alt="" alt="<%=s['title']%>" title="<%=s['title']%>">
                                                            </div> 
                                                            <div class="slick-thumb-details">
                                                              <div class="content-title ellipsize"><%=s['ml_title']  rescue s['title']%></div>

                                                              <div class="sub-info ellipsize"><%=s['ml_item_caption'].split("|")[0]%> | <%=s['ml_item_caption'].split("|")[1]%>|<%= s['release_date_string'].split("-")[0] if s['release_date_string']%></div>
                                                            </div> 
                                                          </div>                                          
                                                        </a>
                                                      </article>
                                                    </div>
                                                  </div>
                                                </div>  
                                              </div>
                                              <%end%>
                                               <%elsif params[:q].present?%>
                                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-30 no-content-wrap text-center" id="no_search_results">
                                                      <img src="/assets/no_result.svg" class="search-no-results-image" alt="" title="">
                                                      <p class="margin-bottom-0 font-bold text-ellipsis"><strong><%#= get_lang_string("no_result")%></strong></p>
                                                      <p class="font-regular margin-bottom-0"><%= get_lang_string("no_match")%><strong>&nbsp;"<%=params[:q]%>"</strong></p>
                                                      <p class="font-regular margin-bottom-0"><%= get_lang_string("popular_browse_sug")%></p>
                                                    </div>
                                                    </div>
                                              
                                              <%end%>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>  
                      </div>
                      <%end%>
                    <div class="search_all_results"></div>
                  <%end%>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<input type="hidden" id="no_res_msg" value="<%=get_lang_string("no_result")%>">
<input type="hidden" id="no_match" value="<%=get_lang_string("no_match")%>">
<input type="hidden" id="no_res_title" value="<%=get_lang_string("popular_browse_sug")%>">
<%=render "layouts/page_height_setting"%>

<script>
  theme = getShemarooCookies().theme_option
    if (theme == "dark_theme"){
        $(".search_icon_dark").show()
        $(".search_icon_light").remove()
    }else{
        $(".search_icon_dark").remove()
        $(".search_icon_light").show()
    }


  $(function() {
  var $tabButtonItem = $('#tab-button li'),
      $tabSelect = $('#tab-select'),
      $tabContents = $('.tab-contents'),
      activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });

  $tabSelect.on('change', function() {
    var target = $(this).val(),
        targetSelectNum = $(this).prop('selectedIndex');

    $tabButtonItem.removeClass(activeClass);
    $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
    $tabContents.hide();
    $(target).show();
  });


  $('.search-carousel0,.search-carousel1, .search-carousel2, .search-carousel3, .search-carousel4, .search-carousel5').slick({
    infinite: false,
    dots: false,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    draggable: false,
    responsive: [      
      {
      breakpoint: 991,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
      breakpoint: 440,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });  

$('.responsive').slick({
      infinite: false,
      dots: false,
      speed: 300,
      slidesToShow: 7,
      slidesToScroll: 7,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 6,          
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 5
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4
          }
        },
        {
          breakpoint: 440,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        }
      ]
    });

$(".cat_sel").click(function(){

  var type = $(this).attr("id");
  var srch_inp = $("#search").val();
  var url = window.location.pathname
  //.split("&type")[0]
  window.location = url+"?q="+srch_inp+"&type="+type
})

var cat_type = "<%=params[:type].present? ? "#{params[:type]}" : ""%>"
if(cat_type.length != 0){
  $("li.srch_tab").removeClass("is-active");
  $("#"+cat_type).addClass("is-active");
}
var search_item = "<%=params[:q].present? ? "true" : "false"%>";
  if(search_item == "false"){
  if(getShemarooCookies().recent_search_data){
    $("#clear_search").show();
    var search_val = $.unique(getShemarooCookies().recent_search_data.split(","));
  search_val = $.grep(search_val, function(s, index) {
                return index == $.inArray(s, search_val);
              });
    $("#user_recent_search").html("");
    for(i=0; i < search_val.length;i++){
       $("#user_recent_search").append('<a href="/search?q='+search_val[i]+'"><span class="tag searchtag app-color1">#'+search_val[i]+'</span> </a>')
    }
  }
  }
 var src_terms = "<%=params[:q].present? ? "true" : "false"%>"
 if(src_terms == "true"){
  $(".srch_tbs").show();
  $(".search_icon").hide();
  $('.search-page input[type="search"]').css("padding", "15px 20px 15px 20px");
 }
 else{
    $(".srch_tbs").hide();
    
 }
});


  $(document).on('click', '.search-thumb-img-section',function(){
    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","search result")
    //var title = $('img', this).attr('title');
    var title = $('#title_name', this).val();
     var content_type = $('#content_type', this).val();
    var category_name = $('#category_name', this).val();
    var title_val = $('#title_value', this).val();
    if (content_type == "show_episode"){
      content_type = 'show'
    }
    Netcore_Search_Result_Clicked(title,content_type,category_name,title_val)
   
  });

  function Netcore_Search_Result_Clicked(title,content_type,category_name,title_val){
    console.log("netcore Search_Result_Clicked----------------------------")
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    var user_region = $(".user_region").val()
    var search_text = $("#search").val();
    smartech('dispatch', 'Search_Result_Clicked', {
     "session_id": getShemarooCookies().user_id,
    "user_id": getShemarooCookies().user_analytic_id,
    'user_state': user_state,
    "content_name":title,
    "video_name":title,
    "Parent_Video_name":title,
    "keyword" :search_text,
    "clicked":"true",
    "COUNTRY":user_region,
    "content_type": content_type,
    "category_name": category_name,
    "title_value": title_val

      });

    Apxor.logEvent('Search_Result_Clicked', {
    "content_name":title,
    "video_name":title,
    "Parent_Video_name":title,
    "clicked": "true",
    "keyword" :search_text,
    "user_id": getShemarooCookies().user_analytic_id,
    'user_state': user_state,
    "COUNTRY":user_region,
    "title_value": title_val,
    "content_type": content_type,
    "category_name": category_name
        },"BROWSE");

    branch.logEvent(
          "Search_Result_Clicked",
            {
              "content_name":title,
              "video_name":title,
              "Parent_Video_name":title,
              "clicked": "true",
              "keyword" :search_text,
              "user_id": getShemarooCookies().user_analytic_id,
              'user_state': user_state,
              "COUNTRY":user_region,
              "title_value": title_val,
              "content_type": content_type,
              "category_name": category_name
          },
          function(err) { console.log(err); }
        );

  }
  if(getShemarooCookies().user_profile_type == "kids"){
    $("#trend_search,#popular_search").hide();
  }

</script>