<div class="min-height-divtoast">
  <div class="float-left w-100 search-see-all-page padd-wrapper">
    <div class="float-left w-100">
      <section class="main-content">  
        <div class="float-left w-100">
          <p class="font-size1 app-color1 font-bold float-left w-100 mb-3 pb-2">Search Results for "golmaal"</p>
          <h2 class="app-color1 font-black float-left w-100 mb-3 pb-2">Movies</h2>          
        </div>
        <div class="float-left w-100 search-see-all-resuts-thumb-wrap">
          <div class="item">
            <div class=" float-left w-100 search-thumb-section">
              <div class="search-thumb-img-section">
                <img src="/assets/carousel/thumb_16_9.jpg" alt="" title="">
              </div>
              <div class=" float-left w-100 search-thumb-desc-section">
                <h2 class="app-color6 font-black float-left w-100">Golmaal</h2>
                <p class="app-color2 font-regular float-left w-100">Comedy | Hindi | 1979 02h : 18m : 06s</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class=" float-left w-100 search-thumb-section">
              <div class="search-thumb-img-section">
                <img src="/assets/carousel/thumb_16_9.jpg" alt="" title="">
              </div>
              <div class=" float-left w-100 search-thumb-desc-section">
                <h2 class="app-color6 font-black float-left w-100">Golmaal</h2>
                <p class="app-color2 font-regular float-left w-100">Comedy | Hindi | 1979 02h : 18m : 06s</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class=" float-left w-100 search-thumb-section">
              <div class="search-thumb-img-section">
                <img src="/assets/carousel/thumb_16_9.jpg" alt="" title="">
              </div>
              <div class=" float-left w-100 search-thumb-desc-section">
                <h2 class="app-color6 font-black float-left w-100">Golmaal</h2>
                <p class="app-color2 font-regular float-left w-100">Comedy | Hindi | 1979 02h : 18m : 06s</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class=" float-left w-100 search-thumb-section">
              <div class="search-thumb-img-section">
                <img src="/assets/carousel/thumb_16_9.jpg" alt="" title="">
              </div>
              <div class=" float-left w-100 search-thumb-desc-section">
                <h2 class="app-color6 font-black float-left w-100">Golmaal</h2>
                <p class="app-color2 font-regular float-left w-100">Comedy | Hindi | 1979 02h : 18m : 06s</p>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>  
</div>

<%=render "layouts/page_height_setting"%>
<script>
  $(function() {
  var $tabButtonItem = $('#tab-button li'),
      $tabSelect = $('#tab-select'),
      $tabContents = $('.tab-contents'),
      activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });

  $tabSelect.on('change', function() {
    var target = $(this).val(),
        targetSelectNum = $(this).prop('selectedIndex');

    $tabButtonItem.removeClass(activeClass);
    $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
    $tabContents.hide();
    $(target).show();
  });


  $('.search-carousel1, .search-carousel2').slick({
    infinite: false,
    dots: false,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    draggable: false,
    responsive: [      
      {
      breakpoint: 991,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
      breakpoint: 440,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });  


});
</script>