body {
	margin: 0;
}
.background {
	background: #fff;
	height: 100vh;
}
.splash {
	background-image: url(chrome_cast.png);	
	background-size: 100%;
	background-repeat: no-repeat;	
}
.gcpa .logo, .gcpa .splash {
	font-size: 0px!important;
}
/*.splash {
	background-image: url(chrome_cast.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 0px;
	height: 842px;
	max-width: 1430px;
}
.logo {
	background-image: url(chrome_cast.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 20px;
	height: 842px;
	max-width: 1430px;	
}
.splash {
	background-image: url(chrome_cast.png);	
}
.logo {
	background-image: url(chrome_cast.png);
}*/