<div class="modal social_pop" id="fb_email_login_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="fb_email_login_later" class="pull-right margin-bottom-0 font-mregular she-col2 text-right w-100"><%= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-mbold app-color1 text-center" style="letter-spacing: -0.13px;"><%= get_lang_string("sign_in")%></h2>
              
              <div class="pull-left w-100 padding-top-30 relative-content">
                <p class="text-center font-size1 font-mregular margin-bottom-15 margin-top-0 she-col11" style="letter-spacing: -0.1px;"><%= get_lang_string("enter_email1")%></p>
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular" id="firebase_user_errors_msg">Invalid Credentials</label>
                </div>  
                <div class="input-group">
                  <input type="text" id="firebase_user_email" name="firebase_user_email" class="form-control disableAutoComplete" value=""   autocomplete="none">                  
                  <span class="input-label font-mregular"><%= get_lang_string("email")%></span>
                  <label class="error font-mregular" id="firebase_user_email_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div class="input-group">
                  <input type="password" id="firebase_password" name="password" class="form-control  font-mregular disableAutoComplete" value=""   autocomplete="none">
                  <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                  <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                  <span class="input-label font-mregular"><%= get_lang_string("password")%></span>
                  <label class="error font-mregular" id="firebase_password_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
              </div>
              <div class="input-group" style="margin-bottom: 20px;">
                <div id="recaptcha"><%= recaptcha_tags(ajax: true,hl: "#{params[:lang].present? ? "#{params[:lang]}" : "en"}") %></div>                
                <label class="error font-mregular" id="firebase_captcha_errors_msg">Invalid Credentials</label>                
              </div> 
              <div class="pull-left w-100 text-center">
                <p class="social_login_btn">
                  <a href="javascript:void(0);" id="social_login_btn_text" class="font-mregular font-size1 text-uppercase">
                    <%= get_lang_string("sign_in")%>
                  </a>
                </p>  
              </div>
              <a href="javascript:void(0);" class="pull-left w-100 text-center margin-bottom-15 she-col2  font-mregular font-size2" id="forgot_fb_password"style="text-decoration: underline; letter-spacing: -0.1px"><%= get_lang_string("forgot_pass1")%></a>
              <p class="pull-left w-100 text-center">
                <span class="  text-center margin-bottom-15 she-col2  font-mregular font-size2"><%= get_lang_string("new_user_1")%>,</span>
                <span id="fb_user_reg">
                  <a href="javascript:void(0);" class="  text-center margin-bottom-15   font-mregular font-size2 she-col11" style="text-decoration: underline; letter-spacing: -0.1px;"> <%= get_lang_string("sign_up")%> </a>
                </span>
                <span class="  text-center margin-bottom-15 she-col2 font-mregular font-size2"> <%= get_lang_string("here")%></span>
              </p>
              <div class="pull-left w-100 text-center fb_nav center-align-content margin-top-20">
                <p class="margin-right-20">
                  <a href="javascript:void(0)" class="fb_mobile_back" id="fb_mobile_back_login"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><br>
                  <span class="she-col2 font-mregular font-size2"><%= get_lang_string("back")%></span>
                </p>                
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="sign_in" value="<%= get_lang_string("sign_in")%>">
<input type="hidden" id="registered_email" value="<%= get_lang_string("registered_email")%>">
<input type="hidden" id="mandatory_info" value="<%= get_lang_string("mandatory_info")%>">
<input type="hidden" id="min_info" value="<%= get_lang_string("min_info")%>">
<input type="hidden" id="not_robot" value="<%= get_lang_string("not_robot")%>">
<input type="hidden" id="invalid_email" value="<%= get_lang_string("invalid_email")%>">
