<div class="modal social_pop" id="fb_email_register_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="fb_email_reg_later"class="pull-right margin-bottom-0 font-mregular she-col2 text-right w-100"><%= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-mbold she-col7 text-center margin-bottom-25" style="letter-spacing: -0.13px;"><%= get_lang_string("register")%></h2>
              <div class="pull-left w-100 padding-top-45 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-0" id="fb_backend_error_msg">Invalid Credentials</label>
                </div> 
                <div class="input-group">
                  <input type="text" id="fb_email_reg_name" name="fb_email_reg_name" class="form-control font-mregular disableAutoComplete" value="" onkeypress='return validateSpecialCharNum(event);' autocomplete="none">
                  <span class="input-label font-mregular"><%= get_lang_string("name")%></span>
                  <label class="error font-mregular" id="fb_email_reg_name_error"><%= get_lang_string("mandatory_info")%></label>
                </div> 
                <div class="input-group">
                  <input type="text" id="fb_email_reg_email" name="fb_email_reg_email" class="form-control disableAutoComplete" value=""  autocomplete="none">
                  <span class="input-label font-mregular"><%= get_lang_string("email")%></span>
                  <label class="error font-mregular" id="fb_email_reg_email_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div class="input-group">
                  <input type="password" id="fb_email_reg_pwd" name="password" class="form-control font-mregular disableAutoComplete" value=""  autocomplete="none">
                  <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                  <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                  <span class="input-label font-mregular"><%= get_lang_string("password")%></span>
                  <label class="error font-mregular" id="fb_email_reg_pwd_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div class="input-group">
                  <input type="password" id="fb_email_reg_con_pwd" name="password" class="form-control font-mregular disableAutoComplete" value=""  autocomplete="none">
                  <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                  <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                  <span class="input-label"><%= get_lang_string("confirm_password")%></span>
                  <label class="error font-mregular" id="fb_email_reg_con_pwd_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div id="signup_privacy_check" class="input-group custom-controls-stacked d-block margin-bottom-25 margin-top-0">
                  <label class="custom-control overflow-checkbox font-mregular">
                    <input type="checkbox" class="agree_terms overflow-control-input" id="fb_register_agree_terms" checked>
                    <span class="overflow-control-indicator"></span>
                    <span class="overflow-control-description she-col2 font-mregular"><%= get_lang_string("i_agree_to")%> <a href="<%=get_lang_url("/terms-and-conditions")%>" style="text-decoration: underline;" target="blank"><%= get_lang_string("terms_conditions")%> </a><%= get_lang_string("and")%> <a href="<%=get_lang_url("/privacy-policy")%>" style="text-decoration: underline;" target="blank"><%= get_lang_string("privacy_policy")%></a></span>

                  </label>
                 <label class="error font-mregular" id="fb_terms_check_error"><%= get_lang_string("accept_terms_1")%></label> 
                </div>
              </div>  
              <div class="pull-left w-100 text-center margin-top-5">
                <p class="social_login_btn">
                  <a href="javascript:void(0);" id="fb_email_sub" class="font-mregular font-size1 text-uppercase">
                    <%= get_lang_string("sign_up")%>
                  </a>
                </p>  
              </div>
              <p class="pull-left w-100 text-center">
                <span class="  text-center margin-bottom-15 she-col2 font-mregular font-size2"><%= get_lang_string("exist_user")%>, </span>
                <span id="fb_user_login">
                  <a href="javascript:void(0);" class="text-center margin-bottom-15  font-mregular font-size2 she-col11" style="text-decoration: underline; letter-spacing: -0.1px;"> <%= get_lang_string("sign_in")%></a></span>
                </p>
                <div class="pull-left w-100 text-center fb_nav center-align-content margin-top-20">
                <p class="margin-right-20">
                  <a href="javascript:void(0)" class="fb_mobile_back" id="fb_mobile_back_register"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><br>
                  <span class="she-col2 font-mregular font-size2"><%= get_lang_string("back")%></span>
                </p>                
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="reg_mandatory_info" value="<%= get_lang_string("mandatory_info")%>">
<input type="hidden" id="reg_password_match" value="<%= get_lang_string("password_match")%>">
<input type="hidden" id="reg_min_info" value="<%= get_lang_string("min_info")%>">
<input type="hidden" id="reg_valid_email" value="<%= get_lang_string("valid_email")%>">

<%=render "users/validate_mobile_number"%>

<script type="text/javascript">
function validateSpecialCharNum(event) {
    var regex = new RegExp("^[a-zA-Z0-9]+$"); 
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key) ) {      
      event.preventDefault();
      return false;
  }              
}
</script>