<div class="modal social_pop sso_pop" id="sso_mobile_login_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="sso_login_later"class="pull-right margin-bottom-0 font-mregular she-col2 text-right w-100"><%= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold she-col7 text-center margin-bottom-25 font-mbold"><%= get_lang_string("enter_mobile")%></h2>
              <div class="pull-left w-100 pt-4 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-10" id="sso_mobile_msg"></label>
                </div> 
                 <div class="input-group margin-top-0 mb-1 pb-2">
                  <input type="text" id="country_code" name="country_code" class="" value="+91" readonly>
                  <input type="number" id="sso_login_mobile_number" name="mobile_number" class="form-control font-mregular" placeholder="Mobile Number" value="">
                  <label class="error font-mregular" id="sso_usr_mobile_error_msg" style="margin-left: 65px"><%= get_lang_string("mandatory_info")%></label>
                </div>
              </div>  
              <div class="pull-left w-100 text-center fb_nav ss_nav center-align-content">
                <p class="mb-0">
                  <a href="javascript:void(0)" class="ss_mobile_sub" id="ext_mobile_next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a><br>
                  <span class="she-col2 font-mregular font-size2"><%= get_lang_string("next")%></span>
                </p>  
                <div id="recaptcha-container" style="display:none;"></div>                
              </div>                                
            </div>
          </div>
          <div class="float-left w-100 mt-4 pt-3">
            <div class="sso_content_container1">
              <div class="float-left w-100 mb-5">
                <div class="float-left">
                  <p class="font-mregular app-color4 mb-0">
                    <a href="javascript:void(0);" class="font-size1 app-col6 login_fb_google"><%= get_lang_string("sign_title2")%></a>
                  </p>
                  <p class="font-mregular font-size2 app-col6 login_fb_google"><%= get_lang_string("social_medias")%></p>
                </div>
                <div class="float-right">
                  <a href="javascript:void(0);" class="login_fb_google">
                    <i class="fa fa-angle-right margin-top-10 app-color1 " aria-hidden="true"></i>
                  </a>
                </div>
              </div>  
              <div class="float-left w-100 tc-gap-pop">
                <p class="font-mregular font-size2 app-col6 text-center"><%= get_lang_string("privacy_policy_info")%> <br><a href="/terms_and_conditions" class="app-col6 text-underline" target="_blank"><%= get_lang_string("terms_of_use")%></a> & <a href="/privacy-policy" class="app-col6 text-underline" target="_blank"><%= get_lang_string("privacy_policy")%></a></p>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal social_pop sso_pop" id="sso_mobile_login_pop2">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="sso_user_mobile_later"class="pull-right margin-bottom-0 font-mregular app-color1 text-right w-100"><%#= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold app-color1 text-center margin-bottom-25 font-mbold"><%= get_lang_string("enter_mobile")%></h2>
              <div class="pull-left w-100 pt-4 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-10" id="sso_mobile_msg"></label>
                </div> 
                 <div class="input-group margin-top-0 mb-2 pb-2">
                  <input type="text" id="country_code" name="country_code" class="" value="+91" readonly>
                  <input type="number" id="sso_user_mob_num" name="mobile_number" class="form-control font-mregular" value="">
                  <label class="error font-mregular" id="sso_mobile_error_msg" style="margin-left: 5px"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div class="input-group app-d-flex h-center">
                  <a href="javascript:void(0);" class="app-color4 otp-btn app-d-flex hv-center" id="sso_mob_otp"><%= get_lang_string("get_otp")%></a>
                </div>
              </div>                            
            </div>
          </div>
          <div class="float-left w-100 mt-4">
            <div class="sso_content_container1">
              <div class="float-left w-100 mb-5">
                <p class="font-mregular font-size1 mb-5 text-center" style="letter-spacing: -0.1px;color: <%= cookies[:theme_option] == "light_theme" ? "#111010 !important;" : "#ffffff !important;" %>"><%= get_lang_string("added_security")%></p>  
              </div>  
              
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal social_pop sso_pop" id="sso_mobile_login_otp_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <!-- <a href="javascript:void(0);" id="sso_otp_later" class="pull-right margin-bottom-0 font-mregular shemaroo-color6 text-right w-100" id=""><%#=get_lang_string("later")%></a>   -->            
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold app-color4 text-center font-mbold"><%= get_lang_string("enter_mobile")%></h2>
              <p class="font-mregular font-size1 text-center app-color1 margin-top-15 mb-0" id="sso_mob_no">+91XXXXX 67493</p>

              <div class="pull-left w-100 padding-top-45 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-10" id="sso_otp_msg"></label>
                </div> 
                 <div class="input-group margin-top-0 pb-2">
                  <input type="number" id="sso_otp" name="user_name" class="form-control font-mregular font-size1" value="">
                  <span class="input-label"><%= get_lang_string("enter_otp_3")%></span>
                  <label class="error" id="sso_otp_error_msg"><%= get_lang_string("mandatory_info")%></label>                  
                </div>
                <div class="input-group app-d-flex h-center">
                  <a href="javascript:void(0);" class="app-color4 otp-btn app-d-flex hv-center" id="sso_otp_verfy"><%= get_lang_string("verify_otp")%></a>
                </div>
              </div>                            
            </div>
          </div>
          <div class="float-left w-100 mt-4">
            <div class="sso_content_container1">
              <div class="float-left w-100 mb-5">
                <p class="font-mregular font-size1 mb-5 text-center" style="letter-spacing: -0.1px;color: #111010 !important;"><a href="javascript:void(0);" class="app-color1 text-underline" id="sso_resend_otp"><%= get_lang_string("resend_otp")%></a></p>  
              </div>  
              
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="mobile_suc_up">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20"><%= get_lang_string("mob_num_update")%><b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm" id="mobile_continue"><%= get_lang_string("ok")%></a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>
<input type="hidden" name="ext_user_mob_no" value="" id="ext_user_mob_no">
<input type="hidden" id="ext_mandatory_info"  value="<%= get_lang_string("mandatory_info")%>">
<input type="hidden" id="ext_mobile_length"  value="<%= get_lang_string("mobile_length")%>">
<input type="hidden" id="ext_get_otp"  value="<%= get_lang_string("get_otp")%>">
<input type="hidden" id="ext_otp_sent"  value="<%= get_lang_string("otp_sent")%>">
<input type="hidden" id="ext_verify_otp"  value="<%= get_lang_string("verify_otp")%>">
<input type="hidden" id="ext_invalid_otp"  value="<%= get_lang_string("invalid_otp")%>">

<script>
  $(document).ready(function() {
    $('#sso_login_mobile_number,#sso_user_mob_num').focusin(function() {      
      if($(this).val().length > 0) {        
        $(this).next('.input-label').css({'left': '10px', 'top': '-14px' });
      }
      else {        
        $(this).next('.input-label').css({'left': '80px', 'top': '5px' });  
      }
    });
    $('#sso_login_mobile_number,#sso_user_mob_num').keyup(function() {
      
      if($(this).val().length > 0) {
        
        $(this).next('.input-label').css({'left': '10px', 'top': '-14px' });
      }
      else {
        $(this).next('.input-label').css({'left': '80px', 'top': '5px' });  
      }
    });
  });
</script>
