<div class="modal social_pop" id="acnt_merge_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="fb_acnt_later"class="pull-right margin-bottom-0 font-mregular app-color1 text-right w-100"><%= get_lang_string("later") %></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="app-color1 text-center margin-bottom-25 font-mbold"><!-- Connect with <span class="login_type">Facebook</span> --> <%= get_lang_string("connect_fb")%></h2>
              <p class="social_connect_box" style="margin-top: 5px">
                <img src="/assets/firebase/fb.png" id="social_img">
                <img src="/assets/firebase/key.svg" style="width: 44px;">
                <img src="/assets/firebase/me_logo.png">
              </p>
              <p class="text-center font-size1 app-color1 margin-bottom-15 font-mregular" style="letter-spacing: -0.1px;"><!-- We’ve noticed you already have a <span class="font-mbold">ShemarooMe</span> account for --> <%= get_lang_string("account_msg")%><br><a href="javascript:void(0)" class="text-underline font-mbold app-color1" id="merge_user_email">username@gmail.com</a></p>
              <p class="text-center font-size2 app-color1 margin-bottom-15 font-mregular" style="letter-spacing: -0.09px;"><%= get_lang_string("fb_msg")%>.</p>
              <p class="text-center font-size2 font-mregular app-color1 margin-bottom-15" style="letter-spacing: -0.09px;"><%= get_lang_string("to_do")%>.</p>
              <div class="pull-left w-100 relative-content padding-top-35">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-0 padding-bottom-0" id="fb_acnt_error_msg">Invalid Credentials</label>
                </div> 
                 <div class="input-group">
                  <input type="password" id="fb_acnt_pwd" name="password" class="form-control font-mregular disableAutoComplete" value="" autocomplete="new-username" autocorrect="off">
                  <span class="input-label font-mregular" style="left: 0"><%= get_lang_string("password")%></span>
                  <label class="error font-mregular" id="fb_acnt_pwd_error"><%= get_lang_string("mandatory_info")%></label>
                </div>
              </div>  
               <a href="javascript:void(0);" class="pull-left w-100 text-center margin-bottom-15 app-color1 font-mregular font-size2" id="fgt_acnt_fb_pwd"style="text-decoration: underline; letter-spacing: -0.1px"><%= get_lang_string("forgot_pass1")%></a>
              <div class="pull-left w-100 text-center">
                <p class="social_login_btn">
                  <a href="javascript:void(0);" class="font-mregular font-size1 text-uppercase" id="fb_acnt_merge">
                    <%= get_lang_string("connect")%>
                  </a>
                </p>  
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="merge_connect"  value="<%= get_lang_string("connect")%>">
<input type="hidden" id="merge_mandatory_info"  value="<%= get_lang_string("mandatory_info")%>">
