<div class="modal social_pop" id="fb_otp_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="fb_otp_later"class="pull-right margin-bottom-0 font-semibold app-color1 text-right w-100"><% get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold app-color1 text-center margin-bottom-25"><%= get_lang_string("enter_otp")%></h2>
              <p class="text-center font-size1  margin-bottom-15 shemaroo-color3" style="letter-spacing: -0.1px;" id="user_mobile_no">+91XXXXX 67493</p>
              <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;margin-top: 20px">
                <label class="error" id="fb_otp_msg" style="margin-top: 20px">Invalid Credentials</label>
              </div> 
              <div class="pt-4">
                 <div class="input-group">
                  <input type="number" id="fb_logn_otp" name="user_name" class="form-control" value="">
                  <span class="input-label"><%= get_lang_string("enter_otp")%></span>
                  <label class="error" id="fb_otp_error_msg"><%= get_lang_string("mandatory_info")%></label>
                </div>
                <div class="pull-left w-100 text-center">
                  <p class="social_login_btn">
                    <a href="javascript:void(0);" class="font-regular font-size1 text-uppercase fb_otp_verify">
                      <%= get_lang_string("continue")%>
                    </a>
                  </p>  
                </div>
                <a href="javascript:void(0);" class="pull-left w-100 text-center margin-bottom-15 app-color1 font-regular" style="text-decoration: underline; letter-spacing: -0.1px" id="fb_resend_otp"><%= get_lang_string("resend_otp")%></a>
                <div class="pull-left w-100 text-center fb_nav center-align-content margin-top-25">
                  <p class="margin-right-20">
                    <a href="javascript:void(0)" id="fb_otp_back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><br>
                    <span class="app-color1 font-size2"><%= get_lang_string("back")%></span>
                  </p>
                  <p>
                    <a href="javascript:void(0)" class="fb_otp_next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a><br>
                    <span class="app-color1 font-size2"><%= get_lang_string("next")%></span>
                  </p>
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="continue"  value="<%= get_lang_string("continue")%>">
<input type="hidden" id="valid_otp"  value="<%= get_lang_string("valid_otp")%>">
<input type="hidden" id="otp_mandatory_info" value="<%= get_lang_string("mandatory_info")%>">
<input type="hidden" id="otp_sent" value="<%= get_lang_string("otp_sent")%>">
<input type="hidden" id="valid_6_digit_otp" value="<%= get_lang_string("valid_6_digit_otp")%>">
<input type="hidden" id="invalid_otp" value="<%= get_lang_string("invalid_otp")%>">
