<div class="modal social_pop" id="fb_mobile_login_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="fb_mobile_later"class="pull-right margin-bottom-0 font-mregular app-color1 text-right w-100"><%= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold app-color1 text-center margin-bottom-25 font-mbold"><%= get_lang_string("enter_mobile")%></h2>               
              <p class="text-center font-size1 font-mregular app-color1 margin-bottom-0 fixed-container2 margin-top-20" style="letter-spacing: -0.1px;"><%= get_lang_string("sms_info")%></p>
              <div class="pull-left w-100 padding-top-65 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-10" id="fb_mobile_msg"></label>
                </div> 
                 <div class="input-group margin-top-20 margin-bottom-30">
                  <input type="text" id="country_code" name="country_code" class="" readonly>
                  <input type="number" id="fb_login_mobile_number" name="mobile_number" class="form-control font-mregular" value="">
                  <span class="input-label">Enter Mobile Number</span>
                  <label class="error font-mregular" id="fb_mobile_error_msg" style="margin-left: 65px"><%= get_lang_string("mandatory_info")%></label>
                </div>
              </div>  
              <div class="pull-left w-100 text-center fb_nav center-align-content">
                <p class="margin-right-20">
                  <a href="javascript:void(0)" class="fb_mobile_back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><br>
                  <span class="app-color1 font-mregular font-size2"><%= get_lang_string("back")%></span>
                </p>
                <p>
                  <a href="javascript:void(0)" class="fb_mobile_sub" id="user_mobile_next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a><br>
                  <span class="app-color1 font-mregular font-size2"><%= get_lang_string("next")%></span>
                  <div id="recaptcha-container" style="display:none;"></div>
                </p>
              </div>                                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="mobile_mandatory_info" value="<%= get_lang_string("mandatory_info")%>">

<script>
  $(document).ready(function() {
    $('#fb_login_mobile_number').focusin(function() {      
      if($(this).val().length > 0) {        
        $(this).next('.input-label').css({'left': '10px', 'top': '-14px' });
      }
      else {        
        $(this).next('.input-label').css({'left': '80px', 'top': '5px' });  
      }
    });
    $('#fb_login_mobile_number').keyup(function() {
      
      if($(this).val().length > 0) {
        
        $(this).next('.input-label').css({'left': '10px', 'top': '-14px' });
      }
      else {
        $(this).next('.input-label').css({'left': '80px', 'top': '5px' });  
      }
    });
  });
</script>
