<div class="modal social_pop" id="fb_tc_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-10 pull-left">
        <a href="javasscript:void(0);" class="pull-right margin-bottom-0 font-semibold shemaroo-color6 text-right w-100">Later</a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold shemaroo-color7 text-center margin-bottom-25">Terms of Service and Usage</h2>
              <p class="margin-bottom-15 shemaroo-color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <p class="margin-bottom-30 shemaroo-color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="input-group custom-controls-stacked d-block margin-bottom-20 margin-top-30">
                <label class="custom-control overflow-checkbox">
                  <input type="checkbox" class="agree_terms overflow-control-input" id="register_agree_terms" checked>
                  <span class="overflow-control-indicator"></span>
                  <span class="overflow-control-description shemaroo-color2">I agree to the <a href="/terms-and-conditions" class="text-uppercase shemaroo-color2" target="blank">terms and conditions </a></span>
                </label>
               <label class="error" id="terms_check_error">Please check the terms of use</label> 
              </div>
              <div class="pull-left w-100 text-center">
                <p class="social_login_btn">
                  <a href="javasscript:void(0);" class="font-regular font-size1 text-uppercase">
                    continue
                  </a>
                </p>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>