<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    //$(".scrollmenuwrap").hide();
    //$("#social_mobile_login_pop").modal("show");
  });
</script>

<div class="modal social_pop" id="fb_login_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="firebase_later" class="pull-right margin-bottom-0 font-mregular she-col2 text-right w-100"><%= get_lang_string("later")%></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-30">
            <img src="/assets/social_login/logo.png" class="logo margin-bottom-30">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- modal-body-content">
            <p class="pull-left w-100 text-center font-mbold font-size2 she-col2 margin-bottom-15"><%=get_lang_string("sign_title1")%></p>
            <p class="pull-left w-100 text-center social_icons margin-bottom-0">
              <a href="javascript:void(0);" class="margin-right-20" id="fb_facebk_login">
                <img class="pull-left" src="/assets/firebase/f_logo_white.png" alt="" title="">
                <span class="shemaroo-color6 pull-left font-mbold font-size2 margin-left-15 " style="margin-left: 8px !important"><%=get_lang_string("connect_fb")%></span>
              </a>
              <a href="javascript:void(0);" class="margin-right-20" id="fb_google_login">
                <img class="pull-left" src="/assets/firebase/g_logo.png" alt="" title="">
                <span class="shemaroo-color2 pull-left font-mbold font-size2 margin-left-15 "style="margin-left: 7px !important"><%=get_lang_string("sign_google")%></span>
              </a>
              <a href="javascript:void(0);" class="margin-right-20" id="fb_email_login">
                <img class="pull-left" src="/assets/firebase/email.svg" alt="" title="">
                <span class="shemaroo-color6 pull-left font-mbold font-size2 margin-left-15 "><%=get_lang_string("sign_email")%>  </span>
              </a>
              <%if $region != "IN"%>
                <a href="javascript:void(0);" class="margin-right-20" id="fb_mobile_login_btn">
                  <img class="pull-left" src="/assets/firebase/device.png" alt="" title="">
                  <span class="shemaroo-color6 pull-left font-mbold font-size2 margin-left-15 " style="margin-left: 18px !important"><%=get_lang_string("sign_mobile")%></span>
                </a>
              <%end%>
            </p>  
            
            <p class=" text-center font-mregular pull-left w-100 margin-bottom-25 padding-bottom-25 font-size2 shemaroo-color2">              
              <%#= get_lang_string("privacy_policy_info")%> <br>
              <!-- <a href="<%#= get_lang_url("terms-and-conditions")%>" class="shemaroo-color2" style="text-decoration: underline;" target="_blank"><%#= get_lang_string("terms_of_use")%></a> & <a href="<%#= get_lang_url("privacy-policy")%>" class="shemaroo-color2" style="text-decoration: underline;" target="_blank"><%#= get_lang_string("privacy_policy")%></a> -->
            </p>
            <p class="text-center pull-left w-100 font-size2 font-mregular she-col2 margin-top-20">
              <%#= get_lang_string("sub_signin")%>

               <%= get_lang_string("privacy_policy_info")%> <br>
              <a href="<%= get_lang_url("terms-and-conditions")%>" class="she-col2" style="text-decoration: underline;" target="_blank"><%= get_lang_string("terms_of_use")%></a> & <a href="<%= get_lang_url("privacy-policy")%>" class="she-col2" style="text-decoration: underline;" target="_blank"><%= get_lang_string("privacy_policy")%></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="modal" id="social_error_popup">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <p class="normal_txt margin-bottom-20" id ="social_error_popup_text"></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="social_error_popup_ok">ok</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
      </div>

<%=render "users/firebase_otp"%>

<%=render "users/firebase_forgot_pwd"%>

<%=render "users/firbase_email_login"%>

<%=render "users/firebase_mobile_login"%>

<%=render "users/firebase_email_register"%>

<%=render "users/firebase_account_merge"%>

<%=render "users/firebase_external_mobile"%>


<%=render "users/firebase_auth_error"%>
   
<script>
  $(document).ready(function() {
    $("input[type='text'], input[type='password'], input[type='number'],  input[type='email']").keyup(function() { 
      var inputlenth = $(this).val().length;
      var id_val = $(this).attr("id");
      if(inputlenth > 0) {
        $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        if(id_val == 'social_login_mobile_number') {
          $(this).nextAll(".input-group .input-label").css({"top":"5px","left":"80px","font-size":"16px"});      
        }
        $(this).nextAll(".input-group .input-label").css({"top":"5px","font-size":"16px"});   
      }
    });
    $("input[type='text'], input[type='password'], input[type='number'],  input[type='email']").focusout(function() { 
      var inputlenth = $(this).val().length;
      if(inputlenth > 0) {
        $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $(this).nextAll(".input-group .input-label").css({"top":"5px","font-size":"16px"});   
      }
    });

    $("#fb_login_mobile_number").keypress(function(event) {
      if($(this).val().length >= 10) {
        return false;
      }
      else return true
    });
    $("#fb_logn_otp").keypress(function(event) {      
      if($(this).val().length >= 6) {
        return false;
      }
      else return true
    });

    $("#fb_email_btn").click(function() {
      var email_id = $("#fb_email").val();
      var pwd = $("#fb_password").val();
      var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

      if(email_id.length != 0 && regex_email.test(email_id) ){
        status = true;        
      }
      else {
        status = false;
      }
      if(status == true) {

      }
      else if(email_id.length == 0){
        $("#fb_email_error").show(); 
      }
      else if(!regex_email.test(email_id)){
        $("#fb_email_error").text("Please enter a valid email address").show();      
      }
      else if(pwd.length == 0){
        $("#fb_password_error").show();        
      }
      else if(pwd.length < 6){
        $("#fb_password_error").text("Minimum length of 6 characters is mandatory").show();        
      }
    });
    


  });


$("#firebase_later").click(function(){

  $("#fb_login_pop").modal("hide")
})
</script>  
</body>