<div class="modal social_pop" id="fb_forgot_pwd_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-bottom-0 padding-left-0 padding-right-28 padding-top-15 pull-left">
        <a href="javascript:void(0);" id="forgot_firebase_later"class="pull-right margin-bottom-0 font-mregular app-color1 text-right w-100"><%=get_lang_string("later") %></a>              
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0 padding-bottom-25">
        <div class="row">

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-bottom-20">
            <img src="/assets/social_login/logo.png" class="logo">
          </div>
          
          <div class="modal-bottom-content w-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <h2 class="font-bold app-color1 text-center font-mbold"><%= get_lang_string("forgot_pass")%></h2>
              <div class="pull-left w-100 padding-top-30 relative-content">
                <p class="text-center font-mregular font-size1 margin-bottom-15 margin-top-0 app-color1" style="letter-spacing: -0.1px;"><%= get_lang_string("enter_email1")%></p>
                <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;">
                  <label class="error font-mregular margin-bottom-0" id="fb_forgot_errors_msg"><%= get_lang_string("invaild_credentials")%></label>
                </div> 
                
                 <div class="input-group">
                  <input type="text" id="fb_email" name="user_name" class="form-control font-mregular" value="">
                  <span class="input-label font-mregular"><%= get_lang_string("emil_id")%></span>
                  <label class="error font-mregular" id="fb_email_error" style="bottom: -18px;"><%= get_lang_string("mandatory_info")%></label>
                </div>
              </div>  
              <div class="pull-left w-100 text-center margin-bottom-30 margin-top-20">
                <p class="social_login_btn">
                  <a href="javascript:void(0);" class="font-mregular font-size1 text-uppercase" id="fb_confirm_text">
                    <%= get_lang_string("send")%>
                  </a>
                </p>  
              </div>
              <div class="pull-left w-100 text-center fb_nav center-align-content margin-top-25">
                <p class="margin-right-20 ">
                  <a href="javascript:void(0)" class="fb_fgt_back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><br>
                  <span class="app-color1 font-mregular font-size2"><%= get_lang_string("back")%></span>
                </p>               
              </div> 
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="email_addr"  value="<%= get_lang_string("enter_email2")%>">
<input type="hidden" id="pass_reset_lang"  value="<%=get_lang_string("password_reset")%>">
<input type="hidden" id="send_text" value="<%=get_lang_string("send")%>">
<input type="hidden" id="associated_email_err" value="<%=get_lang_string("associated_email")%>">
<input type="hidden" id="invalid_email_text" value="<%=get_lang_string("invalid_email")%>">