<div class="modal" id="fb_autherror_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h6 class="margin-bottom-10 margin-top-5 font-mregular" id="fb_aut_error_msg">Sorry something went wrong please try again</h6>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-25 text-center">
          <p class="inline  margin-right-10">
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/" class="text-uppercase btn gradient1 font-mregular" id="logout_confirm1">Ok</a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>