<div class="modal" id="login_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
        <h2 class="pull-left margin-bottom-0 font-semibold">Login</h2>
        <img src="/assets/cancel_search_red.svg" alt="" title="" id="login_close" data-dismiss="modal"> 
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-20 login_page">
         <!-- <input type="hidden" class="user_region" name="user region" value="<%=$region%>"> -->          
          <div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">
            
            <div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">                          
              <div class="w-100 all_error padding-left-0 padding-right-0">
                <label class="error" id="bakend_user_errors_msg">Invalid Credentials</label>
              </div>
              <form autocomplete="off">
                <div class="input-group country in_show">
                  <input type="text" id="signin_country_code" name="country_code" class="form-control country_code <%=$region == "BD" ? "bd_mobileno" : ""%>" value="+<%=$region == "IN" ? "91": "880"%>" readonly>
                <input type="number" id="signin_mobile_number" name="mobilenumber" class="form-control disableAutoComplete" autocomplete="new-username"  onfocus="countryCode(this)">
                  <span class="input-label">Mobile Number</span>
                  <label class="error" id="signin_mobile_number_error">This field is mandatory</label>
                </div>
                <div class="input-group us_show">
                  <input type="email" id="signin_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off">
                  <span class="input-label">Email ID</span>
                  <label class="error" id="signin_email_error">This field is mandatory</label>
                </div>
                  
                <div class="input-group hide_password_group">
                  <input type="password" id="signin_password" name="signin_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off"> 
                  <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                    <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                  <span class="input-label">Password</span>
                  <label class="error" id="signin_password_error">This field is mandatory</label>
                </div>
                <div class="text-center margin-bottom-10 margin-top-15 light">
                  <!-- <a href="javascript:;" class="inline-block text-uppercase gradient-button1" id="user_login"><span class="font-medium" id="login_text">login</span></a> -->
                  <div class="inline-block margin-top-0 margin-bottom-15 custom-gradient">
                    <p class="inline radius-button">
                      <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_signin">Login</a>
                    </p>              
                  </div>
                </div>
                <div class="text-center margin-bottom-5 margin-top-20 form_bottom">
                  <a href="/users/forgot_password" class="inline-block text-uppercase margin-bottom-0 font-semibold font-size2 forgot_pass_tag">forgot password ?</a>
                </div>
                <div class="text-center margin-bottom-0 margin-top-0 font-size2 form_bottom">
                  <span class="font-semibold shemaroo-color1">Not a member?</span><a href="javascript:void(0);" id="register_link" class="inline-block text-uppercase">&nbsp;Register</a>
                </div>
              </form>
            </div>
          
          </div>
      
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="register_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
        <h2 class="pull-left margin-bottom-0 font-semibold">Register</h2>
        <img src="/assets/cancel_search_red.svg" alt="" title="" id="register_close" data-dismiss="modal">
      </div>
      
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <p class="text-center text-uppercase padding-top-15 padding-bottom-15 margin-top-5 margin-bottom-0 font-semibold" id="free_trial_tag">Start 7 day free trial</p>
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-0">          
         <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">                      
            <div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">                          
              <div class="w-100 all_error padding-left-0 padding-right-0">
                <label class="error" id="register_resp_error_msg">Invalid Credentials</label>
              </div>
              <form autocomplete="off">
                <div class="input-group">
                  <input type="text" id="register_name" name="user_name" class="form-control disableAutoComplete" value="" autocorrect="off">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="input-label">Name</span>
                  <label class="error" id="register_name_error">This field is mandatory</label>
                </div>
                
                <div class="input-group country in_show">
                  <input type="text" id="register_country_code" name="country_code" class="form-control country_code <%=$region == "BD" ? "bd_mobileno" : ""%>" value="+<%=$region == "IN" ? "91" : "880"%>" readonly> 
                  <input type="number" id="register_mobile" name="user_mobile" class="form-control" onfocus="countryCode(this)"> 
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="input-label">Mobile Number</span>
                  <label class="error" id="register_mobile_error">This field is mandatory</label>
                </div>
                <div class="input-group signup_email_us us_show">
                  <input type="email" id="register_email" name="user_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="input-label">Email ID</span>
                  <label class="error" id="register_email_error">This field is mandatory</label>
                </div>
                
                <div class="input-group hide_password_group signup_password_us">
                  <input type="password" id="register_password" name="signup_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off"> 
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="input-label">Password</span>
                  <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                  <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                  <label class="error" id="register_password_error">This field is mandatory</label>
                </div>
                <div class="input-group custom-controls-stacked d-block margin-bottom-15">
                  <label class="custom-control overflow-checkbox">
                    <input type="checkbox" class="agree_terms overflow-control-input" id="register_agree_terms" checked>
                    <span class="overflow-control-indicator"></span>
                    <span class="overflow-control-description">I agree to the <a href="/terms-and-conditions" class="text-uppercase" target="blank">terms of use </a>and <a href="/privacy-policy" class="text-uppercase" target="blank">privacy policy</a></span>
                  </label>
                 <label class="error" id="terms_check_error">Please check the terms of use</label> 
                </div>                
                <div class="text-center margin-bottom-10 margin-top-25 light">                  
                  <div class="inline-block margin-top-10 margin-bottom-15 custom-gradient">
                    <p class="inline radius-button">
                      <a href="javascript:void(0);" class="user_register_bottom text-uppercase btn gradient1 font-bold" id="user_register_bottom">Start 7 days free trial</a>
                    </p>              
                  </div>
                </div>    
                <div class="text-center margin-bottom-10 margin-top-0 font-size2 form_bottom">
                  <span class="font-semibold shemaroo-color1">Already a member?</span><a href="javascript:void(0);" id="login_link" class="inline-block text-uppercase">&nbsp;Login</a>
                </div>                            
              </form>
            </div>
          
          </div>
      

          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="modal" id="reg_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" aria-label="Close" id="user_email_close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="margin-bottom-20 margin-top-25">Congratulations!</h5>
        <img src="/assets/transaction_successful.svg" class="plans_pop_image margin-top-10 margin-bottom-5" alt="congratulations" title="congratulations">
        <p class="pull-left w-100 margin-top-25 margin-bottom-25 font-medium">Your Email id has been successfully registered</p>
        <div class="pull-left w-100 inline-block margin-top-5 margin-bottom-20 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_email_process">proceed</a>
          </p>
        </div>
        </div>      
    </div>
  </div>
</div>
<script>
function countryCode() {
  $(".country_code").show();
  $("#signin_mobile_number, #register_mobile").css({"padding":"5px 5px 5px 0px"});
}  
$(document).ready(function() {
  var user_region = $(".user_region").val();
  if(user_region == 'IN' || user_region == "BD") {
    $(".in_show").show();
    $(".us_show").hide();
  }
  else {
    $(".us_show").show();
    $(".in_show").hide(); 
  }
  var free_trail_status = $(".free_trail").val();
  var free_trail_message = $(".free_trail_msg").val();
  if(free_trail_status == 'false'){
    $("#user_register_bottom").text("Register")
    $("#free_trial_tag").hide()
  }
  else if(free_trail_status == 'true'){
    $("#user_register_bottom, #free_trial_tag").text(free_trail_message)
    $("#free_trial_tag").show()
  }
});

</script>
