<script type="text/javascript">

	$(document).ready(function(){

  	if(getShemarooCookies().user_id){
      var class_name = "";
      $("#header_user_profiles .panel-body").html('');
      var user_profiles = getShemarooCookies().user_profiles.split(",");
      check_user_parental_control();
      $(".profile-container .panel-body").html(set_profiles('desktop'));
        if(getShemarooCookies().user_profile_type == "kids"){
         $(".non_kids_tabs").hide();
         $(".kid_tab").show();
       }
        else{
        var profiles = getShemarooCookies().user_profiles.split(",")
        var all_profile_names = profiles.map(function(t){ return t.split("$")[1].replace(/%20/g, "").replace(/\s+/g, "").toLowerCase(); })
        var profile_position = all_profile_names.indexOf(getShemarooCookies().user_name.replace(/%20/g, "").replace(/\s+/g, "").toLowerCase())
         var selected_profile = profiles[profile_position].split("$")[3]
          if(selected_profile.length != 0 && selected_profile == "false"){
            //$(".account_deatils,.view_plans,.logout").hide();
         }
      }
      $('.panel-body').show();
      $(".category_check a").attr("href","/users/profile");
    }


    function check_user_parental_control(){
  		$.ajax({
				url: "/users/account_details",
				type: "POST",
				data: {},
				success: function(response){
					if(response.status == true){
						console.log("set cookies");
						$.cookie('is_parent_control',response.parental_control, { expires: 14,path: '/'})
            $.cookie('pin',response.pin, { expires: 14,path: '/'})
					}
				}
		  });
  	}


  	function set_profiles(device_type) {
  	var user_profiles = getShemarooCookies().user_profiles.split(",");
  	var class_name = "";
  	var user_data = "";
  	var device = device_type
  	var profile_class = "";
    
  	for(i=0;i< user_profiles.length;i++){
			var user_name = user_profiles[i].split("$")
			var username_acronym = user_name[1].match(/\b(\w)/g).join('').substr(0,2);
			if(user_name[1].replace(/%20/g, "").replace(/\s+/g, "").toLowerCase() == getShemarooCookies().user_name.replace(/%20/g, '').replace(/\s+/g, '').toLowerCase()) {													
        if(user_name[2] == "true") {
        	profile_class = "active kids"
				}else{
	 				profile_class = "active"
	 			}
        user_data+= '<div class="profile-wrap '+ profile_class+' app-d-flex hv-center flex-column"><label class="text-uppercase hv-center font-black section-title mb-0 cursor-pointer">'+username_acronym.toUpperCase()+'</label><p class="w-100 text-center app-color1 mb-0 font-black text-ellipsis cursor-pointer">'+user_name[1]+'</p></div>'
			}
			else {
				var profile_url = "/users/change_profile/"+user_name[0]
				if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
					profile_url = "/"+getShemarooCookies().shm_sel_lang+"/users/change_profile/"+user_name[0]
				}
				if(user_name[2] == "true") {
				 	class_name = "kids-profile"
				 	profile_url = profile_url
			 	}
			 	else {
				 	class_name = ""
				 	profile_url = profile_url
				 	if(getShemarooCookies().is_parent_control == "true") {
	          profile_url = "javascript:void(0)"
	          class_name = "profile_item_watching"
				 	}
			  }
			   profile_class = (class_name  == "kids-profile" ? "kids" : "inactive")
			  user_data+= '<div class="'+ profile_class +' profile-wrap inactive  app-d-flex hv-center flex-column"><a href="'+profile_url+'" class="'+class_name+' float-left w-100 app-d-flex flex-column v-center" id="'+user_name[0]+'"><label class="text-uppercase hv-center font-black mb-0 cursor-pointer">'+username_acronym.toUpperCase()+'</p></label><p class="text-center app-color1 mb-0 font-regular w-100 text-ellipsis cursor-pointer">'+user_name[1]+'</p></a></div>'
	  	}
		}
		return user_data;
  }


	});


</script>



        