 <%
meta title: "User AccountDetails",
     description: "User AccountDetails",
     keywords: %w(User AccountDetails)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><%=get_lang_string("account_details")%></h2>
          <div class="w-100 pull-left tile-box-shadow padding-left-30 account_details padding-right-30 padding-bottom-30 padding-top-30 rounded">
          	<div class="pull-left w-100 border-bottom margin-bottom-25">
          		<!-- <h6 class="pull-left">Personal Details</h6> -->
              <% if @user_details['user_login_type'] == "Operator-billing"%>
              <h6 class="pull-left" id="logged_in_text"><%= get_lang_string("logged_in_via")%> <%= get_lang_string("mobile_number")%></h6>
              <%else%>
              <h6 class="pull-left" id="logged_in_text"><%= get_lang_string("logged_in_via")%> <%= get_lang_string(@user_details['user_login_type'].downcase.gsub(' ','_'))%></h6>
              <%end%>
          		<!-- <a href="/users/update_personal_details" class="text-uppercase pull-right font-semibold">Update</a> -->
          	</div>
          	<div class="pull-left w-100 margin-bottom-25">
          		<i class="fa fa-circle" aria-hidden="true"></i><label class="font-regular margin-bottom-0 margin-left-10"><%= get_lang_string("name")%></label>
          		<br>
          		<span class="font-regular margin-left-10"><%=@user_details['firstname']%></span>
          	</div>
            <% if @user_details['user_type'] == "msisdn" || @user_details['user_type'] == "operator-billing" %>
              	<div class="pull-left w-100 margin-bottom-25">
              		<% if $region == "IN" %><i class="fa fa-circle" aria-hidden="true"></i><%end%>
                      <label class="font-regular margin-bottom-0 margin-left-10">Mobile Number</label>
              		<br>
              		<span class="font-regular margin-left-10"><%=@user_details['mobile_number'].blank? ? "-" : "+"+@user_details['mobile_number']%></span>
              	</div>
            <% end %>
            <% if @user_details['user_type'] == "email" %>
          	<div class="pull-left w-100 margin-bottom-25">
          		<% if $region != "IN" %><i class="fa fa-circle" aria-hidden="true"></i><%end%>
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <label class="font-regular margin-bottom-0 margin-left-10"><%= get_lang_string("email_1")%></label>
          		<br>
          		<span class="font-regular margin-left-10">
                     <!--  <% if $region == "IN" || $region == "BD" %><%=@user_details['user_email_id'].blank? ? "-" : @user_details['user_email_id'] %> 
                      <% else %> <%=@user_details['email_id']%> 
                      <%end %>   -->
                      <%=@user_details['email_id']%>                      
                  </span>
          	</div>
            <% end%>

               <% if @user_details['user_type'] == "facebook" || @user_details['user_type'] == "google" %>
               <% unless @user_details['ext_account_email_id'].blank?%>
            <div class="pull-left w-100 margin-bottom-25">
                  <label class="font-regular margin-bottom-0 margin-left-10"><%= get_lang_string("email_1")%></label>
              <br>
              <span class="font-regular margin-left-10">
                      <%=@user_details['ext_account_email_id']%>                      
                  </span>
            </div>
            <% end %>
            <% end%>
          <!-- 	<div class="pull-left w-100 margin-bottom-25">
          		<label class="font-regular margin-bottom-0 margin-left-10">Birth Date</label>
          		<br>
          		<span class="font-regular margin-left-10"><%=@user_details['birthdate'].blank? ? "-" : DateTime.parse(@user_details['birthdate']).strftime("%d-%m-%Y")%></span>
          	</div> -->
            <% if @user_details["login_type"] == "email"%>
          	<div class="pull-left w-100 border-bottom margin-bottom-25 no_passwd_chge">
          		<h6 class="pull-left"><%= get_lang_string("security_details")%></h6>
          		<a href="<%=get_lang_url("/users/change_password")%>" class="text-uppercase pull-right font-semibold app-color7"><%=get_lang_string("change")%></a>
          	</div>
          	<div class="pull-left w-100 margin-bottom-25 no_passwd_chge">
          		<i class="fa fa-circle" aria-hidden="true"></i><label class="font-regular margin-bottom-0 margin-left-10"><%= get_lang_string("password")%></label>
          		<br>
          		<span class="font-regular margin-left-10 label_pwd">......</span>
          	</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_user"%>

    <div class="toster-message-wrap reset_password">
        <div class="center-align-content">
          <div class="toster-message app-d-flex hv-center">
            <img src="/assets/password_updated.svg" alt="updated" title="updated">
            <p>
             <%= get_lang_string("password_changed")%>
            </p>
          </div>
        </div>  
      </div>
  <div class="toster-message-wrap update_personal_details_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
          <p>
            <%= get_lang_string("personal_details_updated")%>
          </p>
        </div>
      </div>  
    </div>

  </section>
</div>  
<script>
    var reset_pwd_toast = localStorage.getItem("reset_password_toast");
    var update_personal_details_toast = localStorage.getItem("update_personal_details_toast");
    localStorage.removeItem("reset_password_toast");
    localStorage.removeItem("update_personal_details_toast");
    if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
      $(".reset_password").show().fadeOut(4500);
       $("html, body").animate({ scrollTop: 450 }, 600);
    }
   if(update_personal_details_toast != undefined && update_personal_details_toast == "true"){
      $(".update_personal_details_toast").show().fadeOut(4500);
       $("html, body").animate({ scrollTop: 450 }, 600);
    } 



</script>