<%
meta title: "User Activate TV",
     description: "User Activate TV",
     keywords: %w(User Activate TV)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="otp-roku-container  margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-30">
          <h2 class="section-title block margin-bottom-10"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""> --> <%= get_lang_string("activate_tv")%></h2>
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded otp-verification-page">
            <span class="pull-left w-100 margin-bottom-20 font-light"><%= get_lang_string("6_digit_tv_code")%></span>
            <div class="input-group margin-bottom-25">
              <input type="text" id="first_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)">
              <input type="text" id="second_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)">
              <input type="text" id="third_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)">
              <input type="text" id="fourth_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)"> 
              <input type="text" id="fifth_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)">          
              <input type="text" id="sixth_char" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)">    
              <label class="error text-center" id="verify_code_error"><%= get_lang_string("valid_6_digit_code")%></label>
            </div>
            <div class="text-center light">
              <div class="inline-block margin-top-10 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="verify_tv_code"><%=get_lang_string("verify")%></a>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>

    <div class="toster-message-wrap reset_password">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="updated" title="updated">
          <p>
            We use cookies to enhance user experience, analyze site usage, and assist in our marketing efforts. By continuing to browse or closing this banner, you acknowledge that you have read and agree to our Cookie Policy, Privacy Policy and Terms of Service. 
          </p>
        </div>
      </div>  
    </div>


    <!-- <div class="cookie_pop_container">
      <div class="cookie_pop pull-left w-100 margin-bottom-25">
        <div class="pull-left w-100 cookie-pop-shadow padding-left-20 padding-right-10 padding-bottom-15 padding-top-5 rounded font-regular">
          <button type="button" class="close" aria-label="Close" id="cookie_close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p class="pull-left w-75 margin-bottom-15 margin-top-20" style="font-size: 15px;">
            We use cookies to enhance user experience, analyze site usage, and assist in our marketing efforts. By continuing to browse or closing this banner, you acknowledge that you have read and agree to our <a href="/cookie-policy">Cookie Policy</a>, <a href="/privacy-policy">Privacy Policy</a> and <a href="/terms-and-conditions">Terms of Service</a>. 
            <div class="pull-left w-25 text-center light">
              <div class="inline-block margin-top-10 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="">Agree</a>
                </p>
              </div>
            </div>
          </p>
        </div>    
      </div>
    </div>  -->
  </section>
</div>

<div class="modal" id="otp_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" aria-label="Close" id="otp_success_close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="margin-bottom-20 margin-top-25"><%= get_lang_string("congrats")%></h5>
        <img src="/assets/transaction_successful.svg" class="plans_pop_image margin-top-10 margin-bottom-5" alt="" title="">
        <p class="pull-left w-100 margin-top-25 margin-bottom-25 font-medium"><%= get_lang_string("account_created")%></p>
        <div class="pull-left w-100 inline-block margin-top-5 margin-bottom-20 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="otp_success_process"><%= get_lang_string("proceed")%></a>
          </p>
        </div>
        </div>      
    </div>
  </div>
</div>
<%=render "validate_mobile_number"%>
<%=render "layouts/page_height_setting"%>

<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){

  $("#cookie_close").click(function() {
    $(".cookie_pop_container").hide();
  });

 $("#without_header_tabs").show();
});
function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
		//console.log(target.previousSibling.previousSibling);		
		var prevElement = target.previousSibling.previousSibling
		if(prevElement != null) {
			prevElement.focus();	
		}
				
	} 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}

var counter = 60;
var interval = setInterval(function() {
    counter--;
    if (counter <= 0) {
        clearInterval(interval);
        $('#timer').text("00:00");
        return;
    }else{
      $('#timer').text("00:"+counter);
      //console.log("Timer --> " + counter);
    }
}, 1000);
function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}


</script>