<%
meta title: "Add Profile",
     description: "Add Profile",
     keywords: %w(Add Profile)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <input type="hidden" id="user_current_plans"  value="<%=@plan_categories%>">
        <input type="hidden" id="user_expired_plans"  value="<%=@expired_categories%>">
        <input type="hidden" id="user_subscription_status"  value="<%=@subscribed_status%>">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Add Profile</h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-30 edit_profile_page padding-top-50 rounded">
            <div class="w-100 all_error padding-left-30 padding-right-30" >
                <label class="error" id="profile_sucess_up_msg">Profile updated sucessfully</label>
                <label class="error" id="bakend_addprofile_errors">Invalid Credentials</label>
              </div>
              <div class="profile_active text-center ">
                <p class="font-extra-bold inline-block text-center text-uppercase">
                  <img src="/assets/me_w_highlight.svg" alt="" title="" class="user_icon">
                </p>
              </div>
          	<div class="padding-left-30 padding-right-30 margin-top-25">
  	        	<div class="input-group name">
  	        		<input type="text" id="profile_name" name="profile name" class="form-control"> 
                <i class="fa fa-circle" aria-hidden="true"></i>
  		          <span class="input-label">Profile Name</span>
                <label class="error" id="profile_name_error">This field is mandatory</label>
  	        </div>
    	        <div class=" input-group form-group name margin-bottom-45">
    		          <span class="input-label pull-left">Kids Profile</span>
    			        <div class="custom-controls-stacked">
    								<label class="custom-control material-switch">
    									<input type="checkbox" class="material-switch-control-input" id="add_profile_kids">
    									<span class="material-switch-control-indicator"></span>
    								</label>
    			      	</div>
    			      
    	        </div>
  	        <div class="text-center margin-bottom-10 margin-top-25 light">
                <div class="inline-block margin-top-25 margin-bottom-15 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="add_profile">Add</a>
                  </p>
                </div>
              </div>
  	      </div>
        </div>
      </div>
    </div>
    <%=render "check_valid_user"%>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
