<div class="float-left w-100 referal_page add_bank_acc_page padding-top-80 padding-top-60">
	<div class="container">
		<div class="float-left w-100 poster">
			<img src="/assets/referal/poster_image.jpg" class="posterimage">
		</div>
		<h1 class="float-left w-100 shemaroo-color8 font-rcb font1 text-center font-bregular mb-4" >JITNA CHAHO UTNA KAMAO	</h1>
		<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%>  font-rcb font2 text-center mb-5 pb-1">Add Bank Account Details</p>
		<div class="float-left w-100 referal_form_wrap">
			  <div class="form-group row mb-3">
			    <label for="acc_no" class="col-form-label font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4">Account number</label>
			    <div class="">
			      <input type="text" class="form-control font4" id="acc_no" value="<%=decrypt_dt(params[:accnt_no])%>">
			      <label class="error" id="acc_no_error">Account no is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label for="re_acc_no" class="col-form-label font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4">Re-enter account number</label>
			    <div class="">
			      <input type="text" class="form-control font4" id="re_acc_no" value="<%=decrypt_dt(params[:re_accunt_no])%>">
			      <label class="error" id="re_acc_no_error">Account no is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label for="ifsc" class="col-form-label font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4">IFSC</label>
			    <div class="">
			      <input type="text" class="form-control font4" id="ifsc" value="<%=decrypt_dt(params[:ifsc])%>">
			      <label class="error" id="ifsc_error">IFSC code is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label for="recipient_name" class="col-form-label font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4">Recipient name</label>
			    <div class="">
			      <input type="text" class="form-control font4" id="recipient_name" value="<%=decrypt_dt(params[:rec_name])%>">
			      <label class="error" id="recpt_error">Recipient name is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-2">
			    <label for="recipient_name" class="col-form-label font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%= get_lang_string("pan")%><br>
			    	<small style="font-size: 84%">(<%= get_lang_string("pan1")%>)</small>
			    </label>
			    <!-- <div class="">
			      <input type="text" class="form-control font4" id="recipient_name" value="">
			    </div> -->
			    <div class="upload-btn-wrapper">
					  <button class="float-left btn"><%= get_lang_string("upload")%></button><p id="filename" class="float-left ml-3 mt-2 pt-1 mb-0"></p>
					  <form action="https://<%=@s3_endpoint%>/<%=@s3_bucket_name%>" method="post" enctype="multipart/form-data" id="s3_upload">
						  <input type="hidden" name="key" value="" id="s3_file_name">
							<input type="hidden" name="acl" value="public-read">
							<input type="hidden" name="X-Amz-Credential" value="<%=@s3_cred%>">
							<input type="hidden" name="X-Amz-Algorithm" value="<%=@s3_algorithm%>">
							<input type="hidden" name="X-Amz-Date" value="<%=@s3_dt%>">
							<input type="hidden" name="Policy" value="<%=@s3_policy%>">
							<input type="hidden" name="X-Amz-Signature" value="<%=@s3_sig%>">
							<input type="hidden" name="Content-Type" value="image/jpeg">
						  <input accept="image/png,image/jpeg,.pdf" type="file" name="file" id="file">&nbsp;
						  <span id="file_name_info" class="mt-2 pt-1 float-left w-100" style="word-break: break-all;">No file choosen </span>
						</form>
					  <p class="float-left w-100 mb-0 shemaroo-color3">Upload your PAN Card here</p>
					  <label class="error" id="pan_error" style="height: 14px;">Please upload pan</label>
					  <small class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%>">Note:(
					  	a.Max File Size 1MB&nbsp;b. File Type (jpg, pdf, etc.)&nbsp;c.Self-Attested)
						</small>
					</div> 
				</div>	 
				<input type="hidden" name="" id="pan_url" value="<%=params[:pan_url]%>">
				<div class="form-group row mb-1">
			    <label class="col-form-label"></label>
			    <div class="">
						<div class="custom-controls-stacked margin-bottom-10">				      
	        	  <label class="custom-control overflow-checkbox">
		            <input type="checkbox" class="overflow-control-input" checked="" id="tax_disclaimer_check">
		            <span class="overflow-control-indicator"></span>
		            <span class="overflow-control-description font-semibold w-100" id="tx_dis_check"><a href="/referal_terms_conditions" class="font-semibold" target="blank">Taxation Disclaimer</a></span>
		          </label>
		          <label class="error" id="txn_error">First name is required</label>
						</div>	    
					</div>					
			  </div>
				<p class="float-left w-100 app-d-flex h-center text-center mt-3 pt-1 mb-5 pb-3" style="margin-bottom: 3.4%;"><a class="btn btn-primary shemaroo-color6 float-left app-d-flex hv-center text-uppercase font-rcb" id="bnk_add"><%= get_lang_string("add")%></a></p>
			</div>	
	</div>
</div>
<div class="modal" id="bnk_success_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"></h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" style="font-size: 1.1em;" id="pln_up_txt">
        	Bank account details added successfully
         </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
       
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/users/my_earnings" class="text-uppercase btn gradient1 font-bold"><%= get_lang_string("continue")%></a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>
<%=render "referal_android_check"%>

<script type="text/javascript">
$(document).ready(function(){
	var s3_file_url = "<%=params[:accnt_no].present? ? "sample" : ""%>"
	var pan_url_file_name = "<%=params[:pan_url].present? ? "#{params[:pan_url].split("images/")[1]}" : ""%>"
	if(pan_url_file_name.length > 0){
		$("#file_name_info").text(pan_url_file_name)
	}
	$("#s3_file_name").val(s3_file_url)
	if(getShemarooCookies().mobile_browser_type == "android"){
		$("#file").click(function(){
				var acnt_no =  $("#acc_no").val();
			  var re_acnt_no = $("#re_acc_no").val();
			  var ifsc = $("#ifsc").val();
			  var rec_name = $("#recipient_name").val();
		  	 $(".loader").show();
			  	$.ajax({
					url: "/users/encrypt_bank_dt",
					type: "POST",
					data: {"acc_no": acnt_no,"re_acc_no": re_acnt_no,"ifsc_code": ifsc,"recp_name": rec_name},
					success: function(response,status){
					$(".loader").hide();
				   console.log(response);
		        Android.sendBankDetails(response.accunt_no+"|"+response.re_accunt_no+"|"+response.ifsc+"|"+response.rec_name)
				  }
				});
	   });
	}
	if(getShemarooCookies().mobile_browser_type == undefined){
		$("#file").change(function(){
			var fil_name = $("#file").val().split("\\").pop().toLowerCase()
			var rem_file_name = fil_name.replace(/ /g, "_");
			$("#file_name_info").text(fil_name)
			$("#s3_file_name").val("images/"+rem_file_name)
			var file_url = $("#s3_file_name").val();
			if(file_url.length != 0){
				$("#s3_upload").submit();
				var file_name = $("#file").val().split("\\").pop().toLowerCase().replace(/ /g, "_")
				$("#pan_url").val("https://shem-info.s3-ap-southeast-1.amazonaws.com/images/"+file_name)
			}
		});
	}
});
// restrict size to 1mb for file upload:
var uploadField = document.getElementById("file");

uploadField.onchange = function() {
    if(this.files[0].size > 1048576	){
       alert("File is too big!");
       this.value = "";
    };
};

</script>