<div class="mobile_plans_selector padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <!-- <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20 onboarding-box-wrap">
          <h2 class="pull-left margin-bottom-10">Summary</h2>
        </div>
      </div>
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20">
          <p class="amz_pay_mobile">Amazon pay</p>
        </div>
 -->
    </div>
  </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>

<script type="text/javascript">
  $(".loader").show();

  
  $(document).ready(function(){

    function set_user_cookies(resp){
   $.cookie('user_id',resp.user_id, { expires: 14,path: '/'});
   $.cookie('user_login_id',resp.login_id, { expires: 14,path: '/'});
   $.cookie('user_name',resp.user_name, { expires: 14,path: '/'});
   $.cookie('profile_id',resp.profile_id, { expires: 14,path: '/'});
   $.cookie('user_profiles',resp.user_profiles, { expires: 14,path: '/'})
   $.cookie('is_parent_control',resp.user_parental_control, { expires: 14,path: '/'})
   $.cookie('pin',resp.pin, { expires: 14,path: '/'})
   $.cookie('user_profile_type',resp.profile_type, { expires: 14,path: '/'})
   $.cookie('user_analytical_id',resp.user_analytic_id, { expires: 14,path: '/'})
  }

     function get_query_dt(){
    var queries = {};
    $.each(document.location.search.substr(1).split('&'),function(c,q){
     var i = q.split('=');
     queries[i[0].toString()] = i[1].toString();
    });
   return queries
   }
    var cur_url = window.location.search.split("?")[1].split("&")
    var user_sub_st = cur_url[2].split("is_subscribed=")[1]
    var qury_str = get_query_dt();


    $.ajax({
        url: "/users/bd_user",
        type: "POST",
        data: {
          user_ses_id: cur_url[0].split("session_id=")[1],
          plan_id: cur_url[1].split("plan_id=")[1],
          sub_st: cur_url[2].split("is_subscribed=")[1],
          login_type: "d2c_user",
          all_dt: qury_str
        },
        success: function(response,status){
          console.log(response)
          console.log("d2c user response");
          if(response.status == "true"){
            set_user_cookies(response)
            if(user_sub_st == "false"){
              window.location = response.ret_url
            }
            else{
              window.location = "/"
            }
          }
          else{
            window.location = "/"
          }
        }
      });
      
  })
</script>