<%
meta title: "User Watchlist",
     description: "User Watchlist",
     keywords: %w(User Watchlist)
%>

<%unless @watch_list_items.empty?%>

<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="full-width-content inside-container light min-height-div padding-bottom-20 watchlist-page">
    <div class="row">         
      <input type="hidden" value="1" id="page_no">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10">
        <h2 class="margin-bottom-15 text-capitalize w-100">Watchlist</h2>
        <div class="row row-show-list detail_page" id="all_episodes">
         <%@watch_list_items.each do |l|%>
            <div class="item details_episode_horizontal_title" id="item_<%=l['listitem_id']%>">         
              <a href="<%=l['seo_web_url']%> <%#=get_item_url(l)%>" class="wa_li_item">
                <%if l["content_definition"] == "TVOD"%>              
                     <img src="/assets/buy.png" class="premium-txt" id="watchlist_buy">
                   <%end%>
                <%if l["access_control"]["is_free"] == false && l["access_control"]["premium_tag"] == true && l["content_definition"] != "TVOD" && $region == "IN"%>
                   <span class="premium-txt text-uppercase">premium</span>
                <%end%>
                <img src="<%=l['thumbnails']["medium_16_9"]["url"]%>" alt="<%=l['title']%>" title="<%=l['title']%>">
                </a>
                <div class="item-feature">
                  <p class="list-tile-title pull-left w-100 margin-bottom-0">
                    <a href="<%=l['seo_web_url']%><%#=get_item_url(l)%>" class=" text-ellipsis"><%=l['title']%></a>
                  </p>
                  <p class="list-tile-title pull-left w-100 margin-bottom-0 margin-top-2">
                    <span class="list-tile-duration pull-left text-ellipsis"><!--001 | &nbsp;&nbsp;--><%=l['item_caption']%></span>
                    <span class="pull-right">
                      <img src="/assets/remove.svg" class="remove delete_watch_item" alt="Delete Watch List" title="Delete Watch List" id="<%=l["listitem_id"]%>" data-watchlist-info="<%=l['theme']%>|<%=l['genres'][0]%>|<%=l['language']%>|<%=l['catalog_object']['plan_category_type']%>|<%=l['title']%>">
                    </span>
                  </p>
                </div>
            </div>
          <%end%> 
        </div>
        <%if @total_items_count > 20 %> 
                 <div class="text-center margin-bottom-25 margin-top-20" id="load_more_watchlist_link"> <a href="javascript:void(0);" class="inline-block radius-button black-button text-uppercase load_all_items" id="load_more_watchlist">Load more</a></div>
              <%end%>
      </div>                
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_user"%>
     <div class="toster-message-wrap" id="watch_list_delete_toast">
      <div class="center-align-content <%= @total_items_count > 10 ? "less_height_box" : ""%>">
        <div class="toster-message">
          <img src="/assets/password_updated.svg" alt="watch list delete" title="watch list delete">
          <p>
            Item  deleted successfully
          </p>
        </div>
      </div>
    </div>
  </section>  
</div>  
<%else%>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="full-width-content inside-container light min-height-no-content padding-bottom-20 watchlist-page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10">
        <h2 class="pull-left margin-bottom-15 text-capitalize w-100">Watchlist</h2>
      </div>
    </div>
    
    <div class="row" id="no_search_results_wrap" style="height: calc(100% - 35px);">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap text-center" id="no_search_results">
        <img src="/assets/no_watchlist.svg" class="search-no-results-image" alt="" title="">
        <p class="margin-bottom-5 font-medium"><strong>Create your list now!</strong></p>
        <p class="font-light margin-bottom-25">Add movies, shows and songs to your Watchlist by pressing the 'Watch Later' button.</p>
        <div class="text-center margin-bottom-10 margin-top-5 light">
          <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
            <p class="inline radius-button">
              <a href="/" class="text-uppercase btn gradient1 font-bold">Browse</a>
            </p>
          </div>
        </div>
      </div>  
    </div>

    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_user"%>
  </section>
</div>
<%end%>

<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
    $(".wa_li_item").click(function(){
    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","watchlist")
    })
  });
</script>