
<%
meta title: "Manage Profiles",
     description: "Manage Profiles",
     keywords: %w(Manage Profiles)
%>
<%=render "check_valid_user"%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>

<div class="padding-top-80 padding-top-100 padding-top-70">
<section class="onboarding-bg min-height-div">
  <div class="onboarding-payment-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
        <h2 class="block margin-bottom-10">Manage Profiles</h2>
        <div class="w-100 pull-left tile-box-shadow padding-left-30 manage_profile_page padding-right-30 padding-bottom-30 padding-top-30 rounded">
            <div class="pull-left w-100 profile_items">
            <%@user_profiles.each do |p|%>
                <div class="profile_active profile_item_box text-center <%= p["child"] == true ? "kids_profile" : ""%>">
                    <p class="text-uppercase font-extra-bold text-center inline-block margin-bottom-5"><%=p["firstname"].split.map(&:chr).join.first(2)%></p>
                    <b class="text-uppercase font-sebold inline-block text-ellipsis"><%=p['firstname']%></b>
                    <a href="/users/edit_profile/<%=p['profile_id']%>" class="text-uppercase block link">Edit</a>
                </div>
            <%end%>
            <%if @profiles_limit > @user_profiles.count%>
              <div class="profile_item_box text-center">
                <a href="/users/add_profile" class="not_ie_circle"><i class="fa fa-plus margin-bottom-5" aria-hidden="true"></i></a>
                <div class="circle_ie"><a href="/users/add_profile"></a></div>
                <b class="text-uppercase font-bold inline-block w-100"><a href="/users/add_profile" id="add_profile">New profile</a></b>
              </div>
            <%end%>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%=render "layouts/page_height_setting"%>
  <div class="toster-message-wrap update_profile_toast">
    <div class="center-align-content">
      <div class="toster-message">
        <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
        <p>
          Profile updated successfully
        </p>
      </div>
    </div>
  </div>
  <div class="toster-message-wrap add_profile_toast">
    <div class="center-align-content">
      <div class="toster-message">
        <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
        <p>
          Profile added successfully
        </p>
      </div>
    </div>
  </div>
   <div class="toster-message-wrap delete_profile_toast">
    <div class="center-align-content">
      <div class="toster-message">
        <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
        <p>
          Profile deleted successfully
        </p>
      </div>
    </div>
  </div>
</section>
</div>
<%=render "check_valid_user"%>

<script type="text/javascript">

  var add_toast = localStorage.getItem("add_profile_toast");
  localStorage.removeItem("add_profile_toast");
  if(add_toast != undefined && add_toast == "true"){
    $(".add_profile_toast").show().fadeOut(4500);
    $('html,body').animate({ scrollTop: 300}, 'slow');
  }

  var toast = localStorage.getItem("edit_profile_toast");
  localStorage.removeItem("edit_profile_toast");
  if(toast != undefined && toast == "true"){
    $(".update_profile_toast").show().fadeOut(4500);
    $('html,body').animate({ scrollTop: 300}, 'slow');
  }

  var toast = localStorage.getItem("delete_profile_toast");
  localStorage.removeItem("delete_profile_toast");
  if(toast != undefined && toast == "true"){
    $(".delete_profile_toast").show().fadeOut(4500);
    $('html,body').animate({ scrollTop: 300}, 'slow');
  }
   
</script>

