<section class="onboarding-bg min-height-div padding-top-85 padding-top-135">
  <div class="onboarding-payment-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
        <h2 class="block margin-bottom-10">Manage Profiles</h2>
        <div class="w-100 pull-left tile-box-shadow padding-left-30 manage_profile_page padding-right-30 padding-bottom-30 padding-top-30 rounded">
          <div class="pull-left w-100 profile_items">
            <div class="profile_active profile_item_box margin-bottom-20 text-center">
              <p class="text-uppercase font-extra-bold text-center inline-block margin-bottom-5">K</p>
              <b class="text-uppercase font-bold inline-block w-100 text-ellipsis">Kannan</b>
            </div>
            <div class="profile_active profile_item_box margin-bottom-20 text-center kids_profile">
              <p class="text-uppercase font-extra-bold text-center inline-block margin-bottom-5">k</p>
              <b class="text-uppercase font-bold inline-block w-100 text-ellipsis">kids</b>
            </div>
	          <div class="profile_item_box margin-bottom-20 text-center">
	            <a href="/users/add_profile"><i class="fa fa-plus margin-bottom-5" aria-hidden="true"></i></a>
	            <b class="text-uppercase font-bold inline-block w-100"><a href="/users/add_profile" id="add_profile">New profile</a></b>
	          </div> 
	          <div class="text-center margin-bottom-0 margin-top-5 pull-left w-100 light">
              <!-- <a href="javascript:;" class="inline-block text-uppercase gradient-button1" id="user_login"><span class="font-medium" id="login_text">login</span></a> -->
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold">Proceed</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%=render "layouts/page_height_setting"%>
</section>