 <%
meta title: "User ChangePassword",
     description: "User ChangePassword",
     keywords: %w(User ChangePassword)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
 <section class="onboarding-bg min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- change_password_page onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
       <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <h2 class="block margin-bottom-10"><%= get_lang_string("change_password")%></h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
          <div class="w-100 all_error padding-left-30 padding-right-30" >
            <label class="error" id="cp_bakend_user_errors"><%= get_lang_string("invaild_credentials")%></label>
          </div>
          <div class="pull-left w-100 padding-left-28 padding-right-28 margin-top-0">
          <div class="input-group hide_password_group">
              <input type="password" id="change_password" name="" class="form-control" maxlength="20"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("old_pass")%></span>
              <label class="error" id="change_password_error"><%= get_lang_string("mandatory_info")%></label>
            </div>            
            <div class="input-group hide_password_group">
              <input type="password" id="new_change_password" name="" class="form-control" maxlength="20"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("new_pass")%></span>
              <label class="error" id="new_change_password_error"><%= get_lang_string("mandatory_info")%></label>
            </div>
            <div class="input-group hide_password_group">
              <input type="password" id="new_change_confirm_password" name="" class="form-control" maxlength="20"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide confirm password" title="hide confirm password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show confirm password" title="show confirm password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("confirm_new_pass")%></span>
              <label class="error" id="new_change_confirm_password_error"><%= get_lang_string("mandatory_info")%></label>
            </div>
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="confirm_pass"><%= get_lang_string("confirm")%></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toster-message-wrap change_passowrd_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/wrong_mark.svg" alt="user account update" title="user account update">
          <p class="change_password_message">
            <%= get_lang_string("same_old_new_password")%>
          </p>
        </div>
      </div>  
    </div>

    <input type="hidden" id="pwd_min_info"  value="<%=get_lang_string("min_info")%>">
    <input type="hidden" id="password_match"  value="<%=get_lang_string("password_match")%>">
    <input type="hidden" id="pwd_confirm"  value="<%=get_lang_string("confirm")%>">
    <input type="hidden" id="pwd_done"  value="<%=get_lang_string("done")%>">
    <input type="hidden" id="pwd_mandatory_info"  value="<%=get_lang_string("mandatory_info")%>">

  <%=render "layouts/page_height_setting"%>
   <%=render "validate_mobile_number"%>
   <%=render "check_valid_user"%>
</section>
</div>
<script>
 $(document).ready(function(){
   $("#change_password").focus();
  })
</script>