<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <meta property="og:title" content="Shemaroo"  />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
  <meta property="og:url" content="http://shemaroome.com/" />
  <meta property="og:description" content="Shemaroo Entertainmenent" />
  <meta property="fb:app_id" content="1963321883746360"/>
  <link rel="canonical" href="http://shemaroome.com/" />
  <meta http-equiv="Cache-control" content="public">
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <title>Shemaroo Entertainment Limited</title>
	<meta name="description" content="Shemaroo" />
	<meta name="keywords" content="Shemaroo" />
	<%=stylesheet_link_tag 'application', media: 'all' %>
	<%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script>
		 var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
  var user_analytical_id = getShemarooCookies().user_analytical_id
  if(user_analytical_id == undefined){
    user_analytical_id = '';
  } 
</script>
  <script>
        // Your web app's Firebase configuration
          var firebaseConfig = {
          apiKey: "AIzaSyDao8u3ipgjpON1lYOHD-vsE5tuOAYt-eQ",
          authDomain: "shemaroome-fa3b3.firebaseapp.com",
          databaseURL: "https://shemaroome-fa3b3.firebaseio.com",
          projectId: "shemaroome-fa3b3",
          storageBucket: "shemaroome-fa3b3.appspot.com",
          messagingSenderId: "535802096681",
          appId: "1:535802096681:web:9ffcaf22170a3ccd1bc038",
          measurementId: "G-7R95HMN23M"
        };
      // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
      </script>
	<style type="text/css">
		@media(min-width: 768px) {
			.body-bg {
				background: url('/assets/offer/background.png') no-repeat;
				background-size: cover;
				background-position: top center;
			}
		}
		@media(max-width: 767px) {
			.body-bg {
				background: url('/assets/offer/background_mobile.png') no-repeat;
				background-size: cover;
				background-position: top center;
			}
		}	
		.modal-open {
      position: static;
    }
	</style>
</head>
<body>
	<div class="pull-left w-100 body-bg">
		<div class="banner_contest relative-content">
			<img src="/assets/offer/offer_banner.png" class="d-none d-md-block img-fluid mb-5">
			<img src="/assets/offer/offer_banner_mobile.png" class="d-block d-md-none img-fluid">
			<div class="pull-left w-100 qa_wrap mb-3">
				<div class="pull-left w-100 quest_wrap">
					<p class="pull-left w-100">
						<span class="number">1</span><span class="txt">Amar Akbar Anthony movie mein Anthony ka kirdaar kisne nibhaya tha?</span>
					</p>
				</div>
				<div class="pull-left w-100 ans_wrap mb-4">
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-option frst_qus" id="ajay_devgan">Ajay Devgan</button>
						<button type="button" class="btn btn-option frst_qus" id="amitabh_bachchan">Amitabh Bachchan</button>
					</div>	
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-option frst_qus" id="shakti_kapoor">Shakti Kapoor</button>
						<button type="button" class="btn btn-option frst_qus" id="tigerr_shroff">Tiger Shroff</button>
					</div>	
				</div>
				<div class="pull-left w-100 quest_wrap mt-2">
					<p class="pull-left w-100">
						<span class="number">2</span><span class="txt">Jab We Met movie mein Shahid Kapoor ka kya naam hai?</span>
					</p>
				</div>
				<div class="pull-left w-100 ans_wrap mb-4">
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-option scnd_qus" id="aditya">Aditya</button>
						<button type="button" class="btn btn-option scnd_qus" id="anshuman">Anshuman</button>
					</div>	
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-option scnd_qus" id="imtiaz">Imtiaz</button>
						<button type="button" class="btn btn-option scnd_qus" id="mohit">Mohit</button>
					</div>	
				</div>
				<div class="pull-left w-100 ans_wrap d-flex justify-content-center mb-5 mt-2">
					<a href="javascript:void(0);" class="subm mb-3" id="cnts_sub"><%= get_lang_string("submit_1")%></a>
				</div>
			</div>
			<div class="pull-left w-100 banner-footer">
				<img src="/assets/offer/offer_footer.png" class="d-none d-md-block img-fluid">
				<img src="/assets/offer/offer_footer_mobile.png" class="d-block d-md-none img-fluid">			
			</div>
		</div>
	</div>
	<div class="modal" id="wrng_ans">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Let’s give it one more try<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold" id="ok_cns_btn">ok</a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <div class="modal" id="sel_ans">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Please select the answer<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold" id="sel_an_ok">ok</a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <div class="modal" id="sucs_parct">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Congratulations! Your participation in Subscribe & Win contest is confirmed. The winner will be announce on 13th July. Stay Tuned!<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="/" class="text-uppercase btn gradient1 font-bold" id="ok_suc_parc">Continue</a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>
<script>
	if(!getShemarooCookies().user_id){
    window.location = "/"
	}
	$(document).ready(function() {
	});	
</script>
</body>	
</html>