<%
meta title: "Create PIN",
     description: "Create PIN",
     keywords: %w(Create PIN)
%>

<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10 font-bold"><%=get_lang_string("create_pin")%></h2>
          <div class="w-100 tile-box-shadow padding-left-28 padding-right-28 padding-bottom-30 padding-top-30 rounded otp-verification-page create-pin-page">
            <span class="pull-left w-100 margin-bottom-20 font-mregular">
              <%= get_lang_string("create_parental_pin")%>
            </span>
            <span class="pull-left w-100 margin-bottom-10 font-mregular">
              <%=get_lang_string("new_pin")%>
            </span>
            <div class="input-group margin-bottom-15">
              <input type="number" id="first_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="second_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="third_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="fourth_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">        
              <!-- <span class="pull-left w-100 text-center font-mregular" id="timer">00:60</span> -->
              <label class="error text-center" id="pin_error">Please enter the the valid 4 digit pin</label>
              <label class="error text-center" id="resend_otp_msg"></label>
            </div>
            <span class="pull-left w-100 margin-bottom-10 font-mregular">
              <%=get_lang_string("confirm_new_pin")%>
            </span>
            <div class="input-group margin-bottom-25">
              <input type="number" id="cnfrm_first_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="cnfrm_second_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="cnfrm_third_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="cnfrm_fourth_pwd_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">        
              <!-- <span class="pull-left w-100 text-center font-mregular" id="timer">00:60</span> -->
              <label class="error text-center" id="cnfrm_pin_error">Password does not match</label>
              <label class="error text-center" id="cnfrm_resend_otp_msg"></label>
            </div>
            <div class="text-center light">
              <div class="inline-block margin-top-10 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="create_pin"><%=get_lang_string("confirm")%></a>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="create_confirm"  value="<%=get_lang_string("confirm")%>">
    <input type="hidden" id="mandatory_info"  value="<%=get_lang_string("mandatory_info")%>">
    <input type="hidden" id="pin_match" value="<%=get_lang_string("pin_match")%>">
    <input type="hidden" id="4_digit_valid_pin_err" value="<%=get_lang_string("4_digit_valid_pin")%>">

    <%=render "layouts/page_height_setting"%>
    <%=render "validate_mobile_number"%>
    <%=render "check_valid_user"%>
  </section>
</div>

<script type="text/javascript">
  function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
    //console.log(target.previousSibling.previousSibling);    
    var prevElement = target.previousSibling.previousSibling
    if(prevElement != null) {
      prevElement.focus();  
    }
        
  } 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}


</script>