<%
meta title: "Edit Profile",
     description: "Edit Profile",
     keywords: %w(Edit Profile)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><%= get_lang_string("edit_profile")%></h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-30 edit_profile_page padding-top-25 rounded">
            <div class="w-100 all_error padding-left-30 padding-right-30" >
                <label class="error rounded text-center" id="profile_sucess_up_msg">Profile updated sucessfully</label>
              </div>
          	<div class="profile_active text-center <%=@edit_profile['child'] == true ? "kids_profile" : ""%>">
          		<p class="font-extra-bold inline-block text-center text-uppercase"><%=@edit_profile['firstname'].chr%></p>
  <!--         		<a href="javascript:;" class="block text-uppercase">Change picture</a>
   -->        	</div>
          	<div class="padding-left-30 padding-right-30 margin-top-25">
  	        	<div class="input-group name edit_profile_name">
  	        		<input type="text" id="edit_profile_name" name="profile name" class="form-control" value="<%=@edit_profile['firstname']%>" maxlength="20"> 
  		          <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label"><%= get_lang_string("profile_name")%></span>
                <label class="error" id="edit_profile_name_error"><%= get_lang_string("mandatory_info")%></label>
  	        </div>
            <%if @edit_profile["default_profile"] == "false"%>
    	        <div class=" input-group form-group name margin-bottom-45">
    		        
    		          <span class="input-label pull-left"><%= get_lang_string("kid_profile")%></span>

    			        <div class="custom-controls-stacked">
    								<label class="custom-control material-switch">
    									<input type="checkbox" class="material-switch-control-input">
    									<span class="material-switch-control-indicator"></span>
    								</label>
    			      	</div>
    			      
    	        </div>
            <%end%>
  	        <div class="text-center margin-bottom-10 margin-top-25 light">
                <div class="inline-block margin-top-25 margin-bottom-15 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="update_profile"><%= get_lang_string("done") rescue 'Done'%></a>
                  </p>
                </div>
                <%if @edit_profile["default_profile"] == "false"%>
                  <!-- <div class="pull-left w-100 margin-top-10" id="delete_profile">
                  	<a href="javascript:void(0)" class="text-uppercase" id="delete_user_profile">delete this profile</a>
                  </div> -->
                <%end%>
              </div>
  	      </div>
        </div>
      </div>
    </div>

    <div class="modal" id="delete_prof">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h6 class="margin-bottom-10 margin-top-5">Delete profile?</h6>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-bold normal_txt">
              Are you sure you want to delete this profile?
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="delet_prof_cancel">No</a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="delet_prof_confirm">Yes</a>
              </p>
            </div>
          </div>   
        </div>
      </div>
    </div>

    <div class="toster-message-wrap">
      <div class="toster-message app-d-flex hv-center">
        <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
        <p>
          Profile updated successfully
        </p>
      </div>
    </div>
    <%=render "check_valid_user"%>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
<input type="hidden" id="edit_done"  value="<%= get_lang_string("done") rescue 'Done'%>">

<script type="text/javascript">
  $(document).ready(function(){
    $("#delet_prof_cancel").click(function(){
      $("#delete_prof").modal("hide");
    })
    var profile_name = "<%=@edit_profile['firstname'].gsub(" ","").downcase%>"
    if(getShemarooCookies().user_name.replace(/%20/g, "").replace(/\s+/g, "").toLowerCase() == profile_name){
      $("#delete_profile").hide();
    }
    var is_child_profile = "<%=@edit_profile['child']%>";
    if(is_child_profile == "true"){
      $(".material-switch-control-input").prop('checked',true)
    }
  })


  /*window.onbeforeunload = function (e) {
      var e = e || window.event;
      var msg = "Do you really want to leave this page?"

      history.go(-1);
    location.reload(true);
      // For IE and Firefox
      if (e) {
          e.returnValue = msg;
      }

      // For Safari / chrome
      //return msg;
      //delete_user_cookies();
      
   };*/   
</script>