<%
meta title: "User ForgotPassword",
     description: "User ForgotPassword",
     keywords: %w(User ForgotPassword)
%>
<div class="padding-top-80">
 <section class="onboarding-bg min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
       <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <h2 class="block margin-bottom-10 shemaroo-color6 "><%= get_lang_string("forgot_pass")%></h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
          <div class="w-100 all_error padding-left-28 padding-right-28" >
            <label class="error" id="fp_bakend_user_errors"><%= get_lang_string("invaild_credentials")%></label>
          </div>
          <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
            <% if $region == "IN"%>
            <p class="margin-top-0 margin-bottom-30 normal_txt"><%= get_lang_string("reset_mobile_num")%></p>
            <% else %>
            <p class="margin-top-0 margin-bottom-30 normal_txt"><%= get_lang_string("reset_mobile_email")%></p>
            <%end%>
            <% if $region == "IN" %>
            <div class="input-group country margin-top-0">
              <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly> 
              <input type="number" id="forgot_pass_mobile_number" name="mobilenumber" class="form-control" maxlength="10" onfocus="countryCode(this)">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("sign_mobile")%></span> 
              <label class="error" id="forgot_pass_mobile_error"><%= get_lang_string("enter_mobile_1")%></label>              
            </div>
            <% else %>
            <div class="input-group margin-top-0">
              <input type="email" id="forgot_pass_email" name="login email" class="form-control">
              <i class="fa fa-circle" aria-hidden="true"></i>                
              <span class="input-label"><%= get_lang_string("email")%></span> 
              <label class="error" id="forgot_pass_email_error"><%= get_lang_string("enter_email_3")%></label>              
            </div>
            <% end %>
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold" id="confirm_mob_no"><%= get_lang_string("confirm")%></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%=render "validate_mobile_number"%>
  <%=render "layouts/page_height_setting"%>
</section>
</div>
<script>
  
  $("#with_header_tabs").hide();

  function countryCode() {
    $("#country_code").show();
    $("#forgot_pass_mobile_number").css({"padding":"5px 5px 5px 0px"});
  }

  $( "#forgot_pass_mobile_number" ).focusout(function() { 
    if($(this).val().length) {
      //$("#login_mobile_number").parents(".input-group").children('.fa-circle').hide();
      $("#country_code").show();
      $("#forgot_pass_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px"})        
    }
    else {
      //$("#login_mobile_number").parents(".input-group").children('.fa-circle').show();
      $("#country_code").hide();
      $("#forgot_pass_mobile_number").css({"padding":"5px 5px 5px 10px"});
      $("#forgot_pass_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
    }
 });
  
  $(document).ready(function() {
    $("#without_header_tabs").show();  
    var user_region = "<%= $region %>";

    if(user_region == "IN") {
      if($('#forgot_pass_mobile_number').val().length) {
        $("#country_code").show();
        $("#forgot_pass_mobile_number").css({"padding":"5px 5px 5px 0px"});
        $("#forgot_pass_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
        $("#forgot_pass_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"})              
      }
      else {
        $("#country_code").hide();
        $("#forgot_pass_mobile_number").css({"padding":"5px 5px 5px 10px"});
        $("#forgot_pass_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"}); 
        $("#forgot_pass_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
      }
    }
    else {
      if($('#forgot_pass_email').val().length) {
        $("#forgot_pass_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
        $("#forgot_pass_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});  
      }
      else {
        $("#forgot_pass_email").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#forgot_pass_email").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});            
      }
    }
    
});
 
</script>