<%
meta title: "User ForgotPassword",
     description: "User ForgotPassword",
     keywords: %w(User ForgotPassword)
%>
<div class="padding-top-80">
 <section class="onboarding-bg min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
        <h2 class="block margin-bottom-10"><%= get_lang_string("forgot_pin1")%></h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
          <div class="w-100 all_error padding-left-28 padding-right-28" >
            <label class="error" id="fpin_bakend_user_errors"><%= get_lang_string("invaild_credentials")%></label>
          </div>
          <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
            

            <div class="input-group margin-top-0">
              <input type="email" id="forgot_pin_email" name="login email" class="form-control">
              <i class="fa fa-circle" aria-hidden="true"></i>                
              <span class="input-label"><%= get_lang_string("email")%></span> 
              <label class="error" id="forgot_pin_email_error"><%= get_lang_string("enter_email_3")%></label>              
            </div>
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold" id="confirm_pin_email"><%= get_lang_string("confirm")%></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="pin_confirm"  value="<%=get_lang_string("confirm")%>">
  <input type="hidden" id="pin_mandatory_info"  value="<%=get_lang_string("mandatory_info")%>">
  <input type="hidden" id="pin_has_mailed"  value="<%=get_lang_string("pin_has_mailed")%>">
  <input type="hidden" id="pin_vaild_email"  value="<%=get_lang_string("vaild_email")%>">

  <%=render "validate_mobile_number"%>
  <%=render "layouts/page_height_setting"%>
</section>
</div>
<script>
  
  $("#with_header_tabs").hide();

  $(document).ready(function() {
    $("#without_header_tabs").show();  
    
      if($('#forgot_pin_email').val().length) {
        $("#forgot_pin_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
        $("#forgot_pin_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});  
      }
      else {
        $("#forgot_pin_email").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#forgot_pin_email").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});            
      }
    
    
});
 
</script>