<%
meta title: "Forgot Password Otp Verify",
     description: "Forgot Password Otp Verify",
     keywords: %w(Forgot Password Otp Verify)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""> --> OTP Verification</h2>
          <div class="w-100 tile-box-shadow padding-left-28 padding-right-28 padding-bottom-30 padding-top-30 rounded otp-verification-page">
            <% if $region == "IN" %>
            <span class="pull-left w-100 margin-bottom-20 font-regular">Enter the OTP sent to your mobile number via SMS</span>
            <% else %>
            <span class="pull-left w-100 margin-bottom-20 font-regular">Enter the OTP sent to your email address</span>
            <% end %>
            <div class="input-group margin-bottom-25">
              <input type="number" id="fp_first_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="fp_second_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="fp_third_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">
              <input type="number" id="fp_fourth_digit" name="" placeholder="0" maxlength="1" onkeyup="focusNext(event)">        
              <span class="pull-left w-100 text-center font-regular" id="timer">00:60</span>
              <label class="error text-center" id="fp_verify_otp_error">This field is mandatory</label>
              <input type="hidden" id="mob_number" name="mobile_number"> 
              <label class="error text-center" id="fp_resend_otp_msg">Otp sent sucessfully</label>
            </div>
            <div class="text-center margin-bottom-15 margin-top-0 font-regular">
              <p>Didn't receive the OTP?</p>
            </div>
            <div class="text-center margin-bottom-20 font-semibold">
              <a href="javascript:void(0)" class="inline-block text-uppercase" id="fp_resend_otp">Resend</a>
            </div>
            <div class="text-center light">
              <!-- <a href="javascript:void(0)" class="inline-block text-uppercase gradient-button1" id="verify_otp">
                <span class="verify_text">Verify</span>
              </a> -->
              <div class="inline-block margin-top-10 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="fp_verify_otp">verify</a>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>


<%=render "validate_mobile_number"%>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
 $("#without_header_tabs").show();
});
function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
		//console.log(target.previousSibling.previousSibling);		
		var prevElement = target.previousSibling.previousSibling
		if(prevElement != null) {
			prevElement.focus();	
		}	
	} 
  if (myLength >= maxLength) {
    var next = target;
    while (next = next.nextElementSibling) {
      if (next == null){
        break;
      }
      if (next.tagName.toLowerCase() == "input") {
        next.focus();
        break;
      }
    }
  }
}
var counter = 60;
var interval = setInterval(function() {
  counter--;
  if (counter <= 0) {
    clearInterval(interval);
    $('#timer').text("00:00");
    return;
  }
  else{
    $('#timer').text("00:"+counter);
    //console.log("Timer --> " + counter);
  }
}, 1000);
function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}


</script>