<div class="contest-app-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
    	<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
        	<div class="float-left w-100 contest-banner">
        		<img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">
        	</div>
        </div>
      </div>
      <!-- Screen 1 -->
      <%if $region == "IN"%>
      <div class="row login_screen1" id="gmfc_reg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack font-size6 shemaroo-color9 mb-4 text-uppercase"><%= get_lang_string("registration")%></h1>
          <p class="float-left w-100 text-center font-mbold font-size4 shemaroo-color9 mb-4" style="letter-spacing: -0.12px"><%= get_lang_string("enter_mobile")%></p>
          <div class="float-left w-100 pl-4 pr-4">
	          <div class="input-group mt-2 mt-4 pl-2 pr-2">
	            <input type="text" id="country_code" name="country_code" class="" readonly="" value="+91" style="letter-spacing: -0.11px">
	            <input type="number" id="gmfc_mob_no" name="mobile_number" class="form-control font-mregular font-size5" style="letter-spacing: -0.11px">
	            <span class="input-label font-mregular font-size5" style="letter-spacing: -0.11px"><%= get_lang_string("mobile_number")%></span>
	            <label class="error font-mregular" id="gmfc_mob_error" style="margin-left: 95px; bottom: -3px;"><%= get_lang_string("mandatory_info")%></label>
	          </div>
	        </div>  
          <div class="float-left w-100 app-d-flex h-center">
          	<a href="javascript:void(0);" class="btn font-mbold font-size5 shemaroo-color6" id="gmfc_otp"><%= get_lang_string("get_otp")%></a>
          </div>
        </div>
      </div>
      <%else%>
       <div class="row login_screen1" id="gmfc_us_reg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack font-size6 shemaroo-color9 mb-4 text-uppercase"><%= get_lang_string("registration")%></h1>
          <p class="float-left w-100 text-center font-mbold font-size4 shemaroo-color9 mb-4" style="letter-spacing: -0.12px"><%= get_lang_string("enter_email3") %></p>
          <div class="float-left w-100 pl-4 pr-4">
            <div class="input-group mt-2 mt-4 pl-2 pr-2">
              <input type="email" id="gmfc_email" name="email" class="form-control font-mregular font-size5" style="letter-spacing: -0.11px">
              <span class="input-label font-mregular font-size5" style="letter-spacing: -0.11px"><%= get_lang_string("email")%></span>
              <label class="error font-mregular" id="gmfc_email_error" style="margin-left: 95px; bottom: -3px;"><%= get_lang_string("mandatory_info")%></label>
            </div>
          </div>  
          <div class="float-left w-100 app-d-flex h-center">
            <a href="javascript:void(0);" class="btn font-mbold font-size5 shemaroo-color6" id="gmfc_email_reg"><%= get_lang_string("submit_1")%></a>
          </div>
        </div>
      </div>
      <%end%>
      <%=render "gmfc_android_check"%>
      <!-- Screen 2 -->
      <div class="row login_screen2" id="gmfc_otp_ver" style="display:none;"> 
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack font-size6 shemaroo-color9 mb-4 text-uppercase"><%= get_lang_string("registration")%></h1>
          <p class="float-left w-100 text-center font-mbold font-size4 shemaroo-color9 mb-4" style="letter-spacing: -0.12px"><%= get_lang_string("enter_mobile")%></p>
          <p class="float-left w-100 text-center font-mregular font-size1 shemaroo-color9 mb-4" style="letter-spacing: -0.1px" id="gmfc_phone_no">+91XXXXX 67493</p>
          <div class="float-left w-100 pl-4 pr-4">
	          <div class="input-group mt-2 mt-4 mb-2 pl-2 pr-2">
	            <input type="number" id="gmfc_mob_otp" name="" class="form-control font-mregular font-size5" style="letter-spacing: -0.11px">
	            <span class="input-label font-mregular font-size5" style="letter-spacing: -0.11px"><%= get_lang_string("enter_otp")%></span>
	            <label class="error font-mregular" id="gmfc_otp_error_msg" style="margin-left: 95px; bottom: -3px;"><%= get_lang_string("mandatory_info")%></label>
	          </div>
	        </div>  
          <div class="float-left w-100 app-d-flex h-center">
          	<a href="javascript:void(0);" class="btn font-mbold font-size5 shemaroo-color6" id="gmfc_sub_otp"><%= get_lang_string("submit_otp")%></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<input type="hidden" id="gmfc_get_otp"  value="<%= get_lang_string("get_otp")%>">
<input type="hidden" id="gmfc_mobile_length"  value="<%= get_lang_string("mobile_length")%>">
<input type="hidden" id="gmfc_mandatory_info"  value="<%= get_lang_string("mandatory_info")%>">
<input type="hidden" id="gmfc_submit_otp"  value="<%= get_lang_string("submit_otp")%>">
<input type="hidden" id="gmfc_invalid_otp"  value="<%= get_lang_string("invalid_otp")%>">
<input type="hidden" id="gmfc_user_exists"  value="<%= get_lang_string("user_exists")%>">
<input type="hidden" id="gmfc_enter_6_otp"  value="<%= get_lang_string("enter_6_otp")%>">
<script>
	$(document).ready(function() {
		$('.header-section, .footer-section').hide();
		var window_height = window.innerHeight;
		var contest_banner_height = $(".contest-banner").innerHeight();
		$(".onboarding-bg").css({"min-height": (window_height-60)+"px"});
  	$("#chs_pln").removeClass('mt-5')
  	$('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector,.plans-bg').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
  	$(".plans-summary-container").css("padding-top","0px")

  	var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/contest/left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/contest/right_arrow.svg" alt="" title=""></span>'
    ];

  	$("#date_carousel").owlCarousel({
      loop: false,
      margin: 3,
      nav: true,
      dots: false,
      navText: navigation,
      items: 1
    });

  	$("#select_language").click(function() {
  		$(".lang_wrap ul").show().css({"opacity": "1"})
  	});

  	$(".lang_wrap ul li, .lang_wrap ul:not(li.selected_language)").click(function() {
  		$(".lang_wrap ul").hide().css({"opacity": "0"})
  	});
  	
	});


</script>

<script type="text/javascript">
  $(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var lng_type = "<%=params[:lang].present? ? "#{params[:lang]}" : "en"%>"
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',mobile_browser_type, { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $.cookie('shm_sel_lang',lng_type, { expires: 14,path: '/'});
     $('.header-section, .footer-section').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
    }
});

</script>
