<%#=$user_ip%>
<div class="padding-top-85">
  <section class="min-height-div12232424" style="min-height: calc(100vh - 174px);">  
    <div class="static-container static-container-web margin-bottom-5">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 margin-top-30">

					<table class="table table-bordered">
					
					  <tbody>
					  	<tr>
					  		<td colspan="2" class="text-center font-bold">User Location Details</td>
					  	</tr>
					    <tr>
					      <td>IP Address</td>
					      <td class="font-regular"><%=$user_ip%></td>
					    </tr>
					    <tr>
					      <td>City</td>
					      <td class="font-regular"><%=$city%></td>
					    </tr>
					    <tr>
					      <td colspan>Country</td>
					      <td class="font-regular"><%=$region%></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
<%=render "layouts/page_height_setting"%>