<div class="contest-app-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <div class="float-left w-100 contest-banner relative-content">
            <img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">          
          <div class="float-left w-100 app-d-flex hv-center text-center mb-5 margin-top-20 pl-4 pr-3">
            <p id="cnts_sec_title" class="float-left margin-right-20 mb-0 text-uppercase font-mblack font-size1 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6" %>"><a href="<%=get_lang_url("/users/gamification")%>"><%=params[:cnt_name]%></a></p>
          </div>    
        </div>

         <div class="float-left w-100 app-d-flex mt-4 ml-3">
        <a href="<%= get_lang_url("/users/gmfc_contest")%>" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6" id=""><%= get_lang_string("back")%></a>
      </div>
       <div class="float-left w-100 pl-3 pr-3" id="win_sec2">
          <%#if @winners.length> 0 %>
          <div  id="date_carousel" class="float-left w-100 relative-content">
            <div class="owl-nav">
              <button type="button" role="presentation" class="owl-prev" id="prev_dt"><span aria-label="Previous" style="cursor: pointer;"><img src="/assets/contest/<%= cookies[:theme_option] == "light_theme" ? "left_arrow_light.svg" : "left_arrow.svg" %>" alt="" title=""></span>
              </button>
              <%if params[:start_date].present? && DateTime.strptime(params[:start_date], '%Q').strftime("%d-%b-%Y") ==  Date.today.strftime("%d-%b-%Y")%>
              <button type="button" role="presentation" class="owl-next disabled"><span aria-label="Next"><img src="/assets/contest/right_arrow.svg" alt="" title=""></span>
              <%else%>
                <button type="button" role="presentation" class="owl-next <%=params[:start_date].present? ? "" : "disabled"%>"  id="next_dt" style="cursor: pointer;"><span aria-label="Next"><img src="/assets/contest/<%= cookies[:theme_option] == "light_theme" ? "right_arrow_light.svg" : "right_arrow.svg" %>" alt="" title=""></span>
                </button>
                <%end%>
            </div>
            <div class="item">
              <p class="float-left w-100 text-center date font-mbold font-size4 shemaroo-color6 mb-3"><%= params[:start_date].present? ? "#{DateTime.strptime(params[:start_date], '%Q').strftime("%d %b. %Y")}" : Time.now().strftime("%d %b. %Y")%></p>
              <div class="float-left w-100 thumb-list relative-content mb-3">
                <img src="<%=params[:img_url]%>" class="img-fluid" alt="" title="">            
              </div>
              <h1 class="float-left w-100 text-center font-size6 shemaroo-color6 text-uppercase font-mblack mb-3"><%= get_lang_string("winners")%></h1>
              <%if @winners.length > 0%>
                <ul class="float-left winners-list-wrap list-none p-0 mb-3">
                  <%@winners.each do |w|%>
                    <li class="float-left w-100 text-center font-mbold font-size1 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6" %> pt-3 pb-3"> <%=w['name']%><br>+91XXXXX <%=w['mobile'][7..11]%></li> 
                  <%end%> 
                </ul>
              <%else%>
               Winner of <%=params[:cnt_name]%> Contest will be announced soon
              <%end%>
            </div>
            <%if params[:start_date].present?%>
             <input type="hidden" name="" id="cur_dt" value="<%=(DateTime.strptime("#{params[:start_date]}", '%Q') - 1.day).strftime('%Q')%>">
             <input type="hidden" name="" id="nxt_dt" value="<%=(DateTime.strptime("#{params[:start_date]}", '%Q') + 1.day).strftime('%Q')%>">
            <%else%>
             <input type="hidden" name="" id="cur_dt" value="<%=(DateTime.now - 1.day).strftime('%Q')%>">
             <input type="hidden" name="" id="nxt_dt" value="<%=(DateTime.now + 1.day).strftime('%Q')%>">
            <%end%>
           
          </div>
          <%#else%>
          <!--  Winner of <%#=params[:cnt_name]%> Contest will be announced soon -->
          <%#end%>
        </div>
    </div>
  </section>
</div>
<%=render "gmfc_android_check"%>

<script type="text/javascript">
$(document).ready(function(){
  $("#prev_dt").click(function(){
    $(".loader").show();
    var dt = $("#cur_dt").val()
    var cur_url = window.location.pathname+window.location.search
    window.location = cur_url+"&start_date="+dt
  })
  $("#next_dt").click(function(){
    $(".loader").show();
    var dt = $("#nxt_dt").val()
    var cur_url = window.location.pathname+window.location.search
    window.location = cur_url+"&start_date="+dt
  })
})
</script>