<div class="contest-app-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <div class="float-left w-100 contest-banner">
            <img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">
          </div>
        </div>
      </div>
      <div class="row thanks_screen">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <h1 class="float-left w-100 text-center margin-bottom-10 mt-4 pt-1 font-mblack she-col9 mb-4"><%=get_lang_string("thank_you")%></h1>
          <p class="float-left w-100 text-center font-mbold font-size1 she-col9 mb-5 margin-top-20 pl-4 pr-3">Winner of <%=params[:contest_name]%> Contest will be announced after <%=params[:dt]%></p>
          <div class="float-left w-100 app-d-flex h-center mt-3">
          	<a href="/users/gmfc_contest" class="btn font-mbold app-d-flex hv-center font-size5 she-col9" id="home"><%= get_lang_string("home")%></a>
          </div>
          <p class="float-left w-100 text-center font-mbold font-size1 she-col9 mb-3 margin-top-20"><%= get_lang_string("tell_friends")%></p>
          <div class="float-left w-100 app-d-flex h-center mb-4 pb-2">
           <a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 she-col9" id="share"><%= get_lang_string("share")%></a>
          	<!-- <img src="/assets/contest/facebook.svg" class="margin-left-10 margin-right-10" alt="Facebook" title="Facebook">
          	<img src="/assets/contest/whatsapp.svg" class="margin-left-10 margin-right-10" alt="Twitter" title="Twitter">
          	<img src="/assets/contest/twitter.svg" class="margin-left-10 margin-right-10" alt="Facebook" title="Facebook"> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%=render "gmfc_android_check"%>
<script type="text/javascript">
  $(document).ready(function(){
    /*$("#home").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android"){
        Android.doHome("success")
      }
      else{
        window.webkit.messageHandlers.contestHome.postMessage("home");
      }
    })*/
    $("#share").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android"){
        Android.doContestShare("I just played an interesting Quiz on the ShemarooMe App in the Contest Zone that I think you'll enjoy. You can also win amazing prizes!  https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld")
      }
      else{
        window.webkit.messageHandlers.contestShare.postMessage("I just played an interesting Quiz on the ShemarooMe App in the Contest Zone that I think you'll enjoy. You can also win amazing prizes! https://apps.apple.com/app/apple-store/id1439041310");
      }
    })
  })
</script>