<div class="contest-app-page contest-ques-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <div class="float-left w-100 contest-banner relative-content">
            <!-- <img src="/assets/contest/banner1.jpg" class="img-fluid" alt="" title=""> -->
            <img src="<%=params[:img_url]%>" class="img-fluid" alt="" title="">
            <%unless @gmfc_cntst_qusts.empty?%>
              <p class="mb-0 shemaroo-color2 w-100 text-center font-mbold font-size2"><%= get_lang_string("contest_closed")%></p>
                <%#time = get_gmfc_time(params[:end_time]).split(':')%>
              <p class="mb-0 w-100 text-center font-mblack font-size4" id="timer">00 h : 00m : 00s</p>
            <%end%>
          </div>
        </div>
      </div>
      <div class="float-left w-100 app-d-flex mt-4 ml-3">
        <a href="<%=get_lang_url("/users/gmfc_contest")%>" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6" id=""><%= get_lang_string("back")%></a>
      </div>
      <%unless @gmfc_cntst_qusts.empty?%>
        <div class="float-left w-100 text-center relative-content lang_wrap mt-2 pt-1">
          <p class="float-left margin-bottom-20 text-uppercase font-mbold font-size2 shemaroo-color3"><%=get_lang_string("select_language")%></p>
          <p id="select_language" class="float-left margin-bottom-20 text-uppercase font-mregular app-col1" style="font-size: 15px;">
            <%if params[:lang].present? && params[:lang] == "en"%>
              <span class="margin-right-20">English</span><i class="fa fa-caret-down" aria-hidden="true"></i>
            <%else%>
             <span class="margin-right-20"><%=get_the_lang(params[:lang])%></span><i class="fa fa-caret-down" aria-hidden="true"></i>
            <%end%>
          </p>
          <ul class="list-none pl-0 pb-2 mb-0">
          <%if params[:lang].present? && params[:lang] == "en"%>
              <li class="selected_language text-left" data-lang="English" data-lg="en"><span class="margin-right-20">English</span><i class="fa fa-caret-up" aria-hidden="true"></i></li>
              <%else%>
                <li class="selected_language text-left" data-lang="<%=get_the_lang(params[:lang])%>" data-lg="<%=params[:lang]%>"><span class="margin-right-20"><%=get_the_lang(params[:lang])%></span><i class="fa fa-caret-up" aria-hidden="true"></i></li>
              <%end%>
            <%@gmfc_lang.keys.each do |k|%>
             <%if  k != "en" && k != params[:lang]%>
                <li class="text-left lang_optionss" data-lang="<%=@gmfc_lang[k]%>" data-lg="<%=k%>"><%=@gmfc_lang[k]%></li>
            <%end%>
            <%end%>
            <%if  params[:lang] != "en"%>
            <li class="text-left lang_optionss" data-lang="English" data-lg="en">English</li>
            <%end%>
          </ul>
        </div>
        <%@gmfc_cntst_qusts.each_with_index do |q,i|%>
          <div class="float-left w-100 text-center pl-3 pr-3 question_wrap">
            <div class="float-left w-100 app-d-flex v-center question-box">
              <p class="mr-2 font-mblack font-size2 shemaroo-color2 mb-0">Q<%=i+1%>&nbsp;:</p>
              <p class="font-mblack font-size2 shemaroo-color2 mb-0 text-left"><%=q['question_ml_texts'][0]['ml_text'] rescue ''%></p>
            </div>
            <div class="float-left w-100 app-d-flex pl-4 pr-4 mb-4">
              <div class="float-left w-100 answer-option-box">
                <ul class="float-left list-none mb-0 p-0 w-100">
                  <%q['answers'].each do |a|%>
                    <li class="float-left text-left w-100 app-d-flex v-center">
                      <input type="radio" id="a_<%=a['id']%>" name="q_<%=q['id']%>" class="q_<%=q['id']%>" value="<%=q['id']%>$a_<%=a['id']%>">
                      <label for="a_<%=a['id']%>" class="mb-0 shemaroo-color2  font-mbold font-size1"><%=a['answer_ml_texts'][0]['ml_text'] rescue '' %></label>
                    </li>
                  <%end%>
                </ul>
              </div>  
            </div>
          </div>
        <%end%>
        <div class="float-left w-100 app-d-flex h-center mt-3 mb-2">
          <a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6" id="sub_ans"><%= get_lang_string("submit_ans")%></a>
        </div>
        <p class="float-left w-100 font-mbold font-size2 text-center mb-3 pb-1 shemaroo-color3" style="letter-spacing: -0.09px;"><%= get_lang_string("read")%> <a href="/shu-thayu/tnc" class="text-underline" style="color: #001DFF;"><%= get_lang_string("terms_cond")%>*</a></p>
      </div>
      <input type="hidden" name="" id="gmfc_qtns" value="<%=@gmfc_cntst_qusts.collect{|x|x["id"]}.join("|")%>">
      <input type="hidden" name="" id="gmfc_cntst_id" value="<%=params[:cnts_id]%>">
      <input type="hidden" name="" id="gmfc_slot_id" value="<%=@gmfc_slot_id%>">
      <input type="hidden" name="" id="gmfc_lang" value="<%=params[:lang]%>">
      <input type="hidden" name="" id="gmfc_win_dt" value="<%=Date.parse(@gmfc_win_dt).strftime("%d/%m/%Y")%>">
       <input type="hidden" name="" id="gmfc_cntst_name" value="<%=params[:c_name]%>">
      <input type="hidden" name="" id="gmfc_cntst_img_url" value="<%=params[:img_url]%>">
    <%else%>
      <div class="float-left w-100 text-center relative-content lang_wrap">
        <p><%= get_lang_string("no_slots")%></p>
      </div>
    <%end%>
  </section>
  <div class="modal" id="gmfc_term_cntns">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-left pl-4 pr-4">
          <h2 class="pull-left w-100 mb-2 pb-1 margin-top-5 font-mblack shemaroo-color2 font-size6">Terms and Conditions</h2>
          <p class="pull-left w-100 margin-top-5 font-size1 shemaroo-color9 font-mregular mb-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
          <p class="pull-left w-100 font-size1 shemaroo-color9 font-mregular mb-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
          <p class="pull-left w-100 font-size1 shemaroo-color9 font-mregular mb-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          </p>
          <div class="float-left w-100 app-d-flex h-center mt-4">
            <a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6 text-uppercase" id="trms_cls">Close</a>
          </div>
        </div>   
      </div>
    </div>
  </div>

  <div class="modal" id="gmfc_all_an_chck" >
  <div class="modal-dialog" style="width: 300px;">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
          <%= get_lang_string("select_ans")%>
        </p>
        <div class="float-left w-100 app-d-flex h-center mt-4">
            <a href="javascript:void(0);" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6 text-uppercase" id="anw_ok"><%= get_lang_string("ok_1")%></a>
          </div>   
        </div>
      </div>   
    </div>
  </div>
</div>

  <%=render "gmfc_android_check"%>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $("#select_language").click(function() {
    $(".lang_wrap ul").show().css({"opacity": "1"})
  });

  $(".lang_wrap ul li").click(function() {
    console.log("1212")
    $(".lang_wrap ul").hide().css({"opacity": "0"})
    var lang = $(this).attr("data-lang");
    var lg_code = $(this).attr("data-lg");
    var new_url = window.location.href.split("&lang=")[0]+"&lang="+lg_code
    $("#select_language span").text(lang);
    window.location = new_url
  });

  $("#terms_gmfc").click(function(){
    $("#gmfc_term_cntns").modal("show");
  });
  $("#trms_cls").click(function(){
    $("#gmfc_term_cntns").modal("hide");
  })

  $("#anw_ok").click(function(){
    $("#gmfc_all_an_chck").modal("hide");
  })

  var countDownDate = new Date('<%=(Time.parse(params[:end_time])) - 5.30.hours %>').getTime();
  var interval = setInterval(function() {
    var now = new Date().getTime();
    var time_count = countDownDate - now;
    var days = Math.floor(time_count / (1000 * 60 * 60 * 24));
    var hours = Math.floor((time_count % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((time_count % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((time_count % (1000 * 60)) / 1000);
    $("#timer").html(days + "d : " + hours + "h : "+ minutes + "m : " + seconds + "s ")
    if (time_count < 0) {
      clearInterval(interval);
      $("#timer").html("00d : 00 h : 00m : 00s")
    }
  }, 1000);
}); 


</script>