<div class="contest-app-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">  
    <div class="contest-app-container margin-bottom-5">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">
          <div class="float-left w-100 contest-banner relative-content">
            <img src="/assets/contest/banner.png" class="img-fluid" alt="" title="">
            <!-- p class="mb-0 shemaroo-color9 w-100 text-center font-mblack font-size1">Welcome +91XXXXX 67493</p> -->
            <%if params[:mobile_no].present?%>
            <p class="mb-0 <%= params[:theme_option] == "light_theme" ? "shemaroo-color6" : "shemaroo-color9"%> w-100 text-center font-mblack font-size1"><%= get_lang_string("welcome")%> +91XXXXX<%=params[:mobile_no][7..11] %></p>
            <%else%>
            <p class="mb-0 <%= params[:theme_option] == "light_theme" ? "shemaroo-color6" : "shemaroo-color9"%> w-100 text-center font-mblack font-size1"><%= get_lang_string("welcome") %> <%=params[:email]%></p>
            <%end%>
          </div>
        </div>
      </div>
      <div class="row contest_screen">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- ">          
          <div class="float-left w-100 app-d-flex hv-center text-center mb-5 margin-top-20 pl-4 pr-3">
            <p id="cnts_sec_title" class="float-left margin-right-20 mb-0 text-uppercase font-mblack font-size1 she-col9"><%= get_lang_string("contests")%></p>
            <label class="switch mb-0 float-left mr-3">
              <input type="checkbox" id="contest_type">
              <span class="slider round"></span>
            </label>
            <p id="win_sec_title" class="float-left mb-0 font-mbold font-size1 she-col9 text-uppercase"><%get_lang_string("winners")%></p>
          </div>    
        </div>
        <%unless @all_contests.collect{|x|x if x["status"] != "completed"}.compact.empty?%>
          <div class="float-left w-100 pl-3 pr-3" id="cnts_sec">
            <%@all_contests.each do |gc|%>
              <%if gc['status'] != "completed"%>
                <div class="thumb-list <%=gc['status'] == "scheduled" ? "active_white_overlay" : ""%> relative-content mb-4">
                  <img src="<%=gc['banner']%>" class="img-fluid mb-3" alt="" title="">
                   <%if gc['status'] == "live"%>
                      <a href="<%=get_lang_url("/users/gmfc_contest_questions?cnts_id=#{gc['contest_id']}&end_time=#{gc['end_date']}&win_dt=&c_name=#{gc['contest_name']}&img_url=#{gc['banner']}&lang=en")%>"><p class="thumb-btn thumb-btn1 app-d-flex hv-center font-mbold font-size5 <%= params[:theme_option] == "light_theme" ? "shemaroo-color6" : "shemaroo-color9"%> text-center gmfc_cntst_start" data-cnt-inf="<%=gc['contest_name']%>|<%=gc['contest_id']%>"><%= get_lang_string("play_now")%></p></a>
                   <%else%>
                      <p class="thumb-btn thumb-btn2 app-d-flex hv-center font-mbold font-size2 <%= params[:theme_option] == "light_theme" ? "shemaroo-color6" : "shemaroo-color9"%> text-center"><%= get_lang_string("live_in")%> <%=(Date.parse(gc['start_date'])- Date.today).to_i%> days<br><%=gc['start_date'].split("T")[1].split(".000Z")[0]%></p>
                   <%end%>
                </div>
               <%end%>
            <%end%>
          </div>
        <%else%>
          <div class="float-left w-100 text-center relative-content lang_wrap">
            <p><%=get_lang_string("no_live_contests") %>.</p>
          </div>
          <br>
          <div class="float-left w-100 app-d-flex h-center mt-4">
              <a href="javascript:void(0)" class="btn font-mbold app-d-flex hv-center font-size5 shemaroo-color6" id="home"><%= get_lang_string("home")%></a>
          </div>
        <%end%>


        <div class="float-left w-100 pl-3 pr-3" id="win_sec" style="display:none;">
          <%@all_contests.each do |gc|%>
            <%if gc['status'] == "live" || gc['status'] == "completed"%>
                <div class="thumb-list <%=gc['status'] == "scheduled" ? "active_white_overlay" : ""%> relative-content mb-4">
                  <a href="<%=get_lang_url("/users/gmfc_winners?cnts_id=#{gc['contest_id']}&img_url=#{gc['banner']}&cnt_name=#{gc['contest_name']}")%>"><img src="<%=gc['banner']%>" class="img-fluid mb-3" alt="" title="">
                    </a>
                </div>
              <%end%>
          <%end%>
        </div>
      </div>  

    </div>
  </section>
</div>
<%=render "gmfc_android_check"%>
<script type="text/javascript">

$(document).ready(function() {
  $('#contest_type').change(function() {
    if(this.checked) {  
      $("#cnts_sec_title").html('<p class="float-left margin-right-20 mb-0 text-uppercase font-mbold font-size1 app-color1"><%= get_lang_string("contests")%></p>');
      $("#win_sec_title").html('<p class="float-left mb-0 font-mblack font-size1 app-color1 text-uppercase"><%= get_lang_string("winners")%></p>');
      $("#cnts_sec").hide();
      $("#win_sec").show();
    }
    else {
      $("#cnts_sec_title").html('<p class="float-left margin-right-20 mb-0 text-uppercase font-mblack font-size1 app-color1"><%= get_lang_string("contests")%></p>');
      $("#win_sec_title").html('<p class="float-left mb-0 font-mbold font-size1 app-color1 text-uppercase"><%= get_lang_string("winners")%></p>');
      $("#win_sec").hide();
      $("#cnts_sec").show();
    }
  });
});

  if(getShemarooCookies().theme_option == "light_theme")
  {
    var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/contest/left_arrow_light.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/contest/right_arrow_light.svg" alt="" title=""></span>'
    ];
  }else {
    var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/contest/left_arrow.svg" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/contest/right_arrow.svg" alt="" title=""></span>'
    ];
  }

    $("#date_carousel").owlCarousel({
      loop: false,
      margin: 3,
      nav: true,
      dots: false,
      navText: navigation,
      items: 1
    });
</script>

<script type="text/javascript">
  $(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var lng_type = "<%=params[:lang].present? ? "#{params[:lang]}" : "en"%>"
  var theme = "<%=params[:theme_option]%>"
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',mobile_browser_type, { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $.cookie('shm_sel_lang',lng_type, { expires: 14,path: '/'});
     $('.header-section, .footer-section').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
      $(".navbar-nav-scroll").remove();
    }
    var user_region = $(".user_region").val()
    var plat_form = "ios"
    if(getShemarooCookies().mobile_browser_type == "android"){
      plat_form = "andriod"
    }
    /*Apxor.logEvent('browse_gamesection', {
      "user_id": getShemarooCookies().user_analytical_id,
      "platform": plat_form,
      "region": user_region == "IN" ? "India" : "USA"
    }, "USER_EVENTS");
    smartech('dispatch', 'browse_gamesection', {
     "user_id": getShemarooCookies().user_analytical_id,
      "platform": plat_form,
      "region": user_region == "IN" ? "India" : "USA"
    });
     branch.logEvent(
       'browse_gamesection',
        { "user_id": getShemarooCookies().user_analytical_id,
        "platform": plat_form,
        "region": user_region == "IN" ? "India" : "USA"
        },
       function(err) { console.log(err); }
      );*/
      $("#home").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android"){
        Android.doHome("success")
      }
      else{
        window.webkit.messageHandlers.contestHome.postMessage("home");
      }
    })

});
  
  $(".gmfc_cntst_start").click(function(){
    var cnt_info = $(this).data("cnt-inf").split("|");
    var cnt_name = cnt_info[0]
    var cnt_id = cnt_info[1]
    var user_region = $(".user_region").val()
    var plat_form = "ios"
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
    if(getShemarooCookies().mobile_browser_type == "android"){
      plat_form = "android"
    }
    Apxor.logEvent('game_selected', {
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': user_state,
      "contest_name": cnt_name,
      "contest_id": cnt_id,
      "platform": plat_form
    }, "USER_EVENTS");
    smartech('dispatch', 'game_selected', {
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': user_state,
      "contest_name": cnt_name,
      "contest_id": cnt_id,
      "platform": plat_form    
    });
    branch.logEvent('game_selected',
      { "user_id": getShemarooCookies().user_analytical_id,
      'user_state': user_state,
        "contest_name": cnt_name,
        "contest_id": cnt_id,
        "platform": plat_form
      },
     function(err) { console.log(err); }
    );
  })


</script>

