<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <meta property="og:title" content="Shemaroo"  />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
  <meta property="og:url" content="http://shemaroome.com/" />
  <meta property="og:description" content="Shemaroo Entertainmenent" />
  <meta property="fb:app_id" content="1963321883746360"/>
  <link rel="canonical" href="http://shemaroome.com/" />
  <meta http-equiv="Cache-control" content="public">
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <title>Shemaroo Entertainment Limited</title>
	<meta name="description" content="Shemaroo" />
	<meta name="keywords" content="Shemaroo" />
	<%=stylesheet_link_tag 'application', media: 'all' %>
	<%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src='//cdnt.netcoresmartech.com/smartechclient.js'></script>  
   <!-- Matomo -->
<script type="text/javascript">
  var matomo_value = '1'
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = "https://analytics.shemaroome.com/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', matomo_value]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
	<script>
		 var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
  var user_analytical_id = getShemarooCookies().user_analytical_id
  if(user_analytical_id == undefined){
    user_analytical_id = '';
  } 
</script>
<script>
 smartech('create', 'ADGMOT35CHFLVDHBJNIG50K968SF88APLS8HMS7NN4OLU8FSE4CG');
 smartech('register', '21c0991a4c2327fc3461186644e7d2c3');               
 smartech('identify', user_analytical_id); 
 smartech('dispatch',1,{});
</script>   
<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
</head>
<body>
	 <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '397219034188525');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=397219034188525&ev=PageView&noscript=1"
  /></noscript>
	<%=render "users/firebase_login"%>
	 <div class="loader" style="display: none;"></div>
             <script>
        // Your web app's Firebase configuration
          var firebaseConfig = {
          apiKey: "AIzaSyDao8u3ipgjpON1lYOHD-vsE5tuOAYt-eQ",
          authDomain: "shemaroome-fa3b3.firebaseapp.com",
          databaseURL: "https://shemaroome-fa3b3.firebaseio.com",
          projectId: "shemaroome-fa3b3",
          storageBucket: "shemaroome-fa3b3.appspot.com",
          messagingSenderId: "535802096681",
          appId: "1:535802096681:web:9ffcaf22170a3ccd1bc038",
          measurementId: "G-7R95HMN23M"
        };
      // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
      </script>
	<div class="pull-left w-100 relative-content">
		<a href="javascript:void(0)" class="d-none d-md-block cntst_url">
			<img src="/assets/offer/contest_website.jpg" class="img-fluid" alt="" title="">
		</a>
		<a href="javascript:void(0)" class="d-block d-md-none cntst_url">
			<img src="/assets/offer/contest_mobile.jpg" class="img-fluid" alt="" title="">			
		</a>	
		<p class="rules_reg text-center w-100">
			Read&nbsp;<a href="/offer_rules_regulations" target="_blank">Rules & Regulations</a>&nbsp;& detailed	<a href="/offer_terms_conditions" target="_blank">Terms & Conditions</a>
		</p>
	</div>	

	<div class="modal" id="mnth_pk_pop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">This quiz is only for yearly plan customers<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm">ok</a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>

<style type="text/css">
	body{
		margin: 0;
	}
</style>
<script type="text/javascript">
	
</script>
</body>	
</html>