<%
meta title: "User Login",
     description: "Login",
     keywords: %w(Login)
%>

<script>
  $("#fb_login_pop").modal("show")
  $("#firebase_later").hide();
  $("#fb_login_pop").css("background","#473250")
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-60" >
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15 login_page" style="display: none">
         <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <h2 class="block margin-bottom-10">Login</h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
            <div class="w-100 all_error padding-left-28 padding-right-28" >
              <label class="error" id="bakend_user_errors">Invalid Credentials</label>
            </div>
            <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
              <form autocomplete="off">
            <%if $region == "IN" || $region == "BD"%>
              <div class="input-group country margin-top-0">
                <!-- <input type="text" id="country_code" name="country_code" class="form-control" value="+<%#= $region == "IN" ? "91" : "880"%>" readonly>  -->
                <input type="number" id="login_mobile_number" name="mobilenumber" class="form-control disableAutoComplete" autocomplete="new-username"  onfocus="countryCode(this)">
                <span class="input-label">Mobile Number</span> 
                <label class="error" id="login_mobile_number_error">This field is mandatory</label>
              </div>
            <%else%>
            <div class="input-group">
              <input type="email" id="login_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off">
              <span class="input-label">Email</span>
              <label class="error" id="login_email_error">This field is mandatory</label>
            </div>
            <%end%>
            <div class="input-group hide_password_group">
              <input type="password" id="login_password" name="login_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <span class="input-label">Password</span>
              <label class="error" id="login_password_error">This field is mandatory</label>
            </div>
            <div class="text-center margin-bottom-10 margin-top-5 light">
              <!-- <a href="javascript:;" class="inline-block text-uppercase gradient-button1" id="user_login"><span class="font-medium" id="login_text">login</span></a> -->
              <div class="inline-block margin-top-0 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_login">Login</a>
                </p>              
              </div>
            </div>
            <div class="text-center margin-bottom-10 margin-top-20 form_bottom">
              <a href="/users/forgot_password" class="inline-block text-uppercase margin-bottom-15 font-semibold forgot_pass_tag">forgot password ?</a>
            </div>
            <div class="text-center margin-bottom-0 margin-top-20 form_bottom">
              <span>Not a member?</span><a href="javascript:void(0)" id="user_reg_pop" class="inline-block text-uppercase">&nbsp;Register</a>
            </div>
            </form>
          </div>
          
        </div>
      

        </div>
      </div>
    </div>

    <%=render "validate_mobile_number"%>

    <%=render "layouts/page_height_setting"%>

    <!--div class="toster-message-wrap reset_password">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="updated" title="updated">
          <p>
            Your password is updated.<br>
            please login with your new password.
          </p>
        </div>
      </div>  
    </div-->

  </section>
<div class="modal" id="user_reg_pop12">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h6 class="margin-bottom-10 margin-top-5">Register</h6>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
              Please register in App's
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="confirm_app_login">Yes</a>
              </p>
            </div>
          </div>   
        </div>
      </div>
    </div>
</div>
<script>
  $( "#login_mobile_number" ).focusout(function() { 
    if($(this).val().length) {
      // $("#country_code").show();
      $("#login_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px"})        
    }
    else {
      // $("#country_code").hide();
      $("#login_mobile_number").css({"padding":"5px 5px 5px 10px"});
      $("#login_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
    }
 });

$("#login_email, #login_password").focusout(function() { 
    if($(this).val().length) {
      $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"0px"})        
    }
    else {
      $(this).css({"padding":"5px 5px 5px 10px"});
      $(this).nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
    }
 });

  //$("#with_header_tabs").hide();
$(document).ready(function(){

  //$("#without_header_tabs").show();  
  var user_region = "<%= $region %>";
  if (user_region == "IN") {  
    if($("#login_mobile_number").val().length){
      // $("#country_code").show();
      $('#login_mobile_number').css({"padding":"5px 5px 5px 0px"});
      $("#login_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"})
      $("#login_password").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"}); 
    }
    else {
      // $("#country_code").hide();
      $('#login_mobile_number').css({"padding":"5px 5px 5px 10px"});
      $("#login_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
      $("#login_password").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
    }
  }
  else {
    if($("#login_email").val().length) {
      $("#login_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"}); 
      $("#login_password").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"}); 
    }
    else {
      $("#login_email").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});      
      $("#login_password").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
    }
  }  
 
    
  $(".label.error").show();

  var path_name = window.location.href.split("?q=");
  if(path_name[1] == "tv"){
      var url = window.location.href.split("?q=")[0]
      window.history.pushState("", "", url)
     localStorage.setItem("activate_tv_path",true)
  }
  /*var reset_pwd_toast = localStorage.getItem("reset_password_toast");
  localStorage.removeItem("reset_password_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $(".reset_password").show().fadeOut(4500);
  }*/

 /* var reset_pwd_toast = localStorage.getItem("password_reset_toast");
  localStorage.removeItem("password_reset_toast");
  if(reset_pwd_toast != undefined && reset_pwd_toast == "true"){
    $(".reset_password").show().fadeOut(4500);
  } */
  $("#register_button").click(function(){
    smartech('dispatch', 'register_page_click', {});
  })
});  
</script>