<div class="float-left w-100 wrapper">
  <section class="main-content">
    <div class="profile-container min-height-div"> 
      <div class="float-left w-100 app-d-flex mt-3 pt-1">
          <h1 class="section-title mr-auto"><%=get_lang_string("manage_profile")%></h1>
      </div>
      <div class="float-left w-100 h-center manage-profile-section">
        <%@user_profiles.each_with_index do |p,i|%>
          <div class="profile-wrap active app-d-flex hv-center flex-column <%= p["child"] == true ? "kids" : ""%>">
            <label class="text-uppercase hv-center font-black section-title mb-0"><%=p["firstname"].split.map(&:chr).join.first(2)%></label>
            <p class="w-100 text-center app-color1 mb-0 font-bold text-ellipsis"><%=p['firstname']%></p>
            <a href="<%= get_lang_url("/users/edit_profile/#{p['profile_id']}")%>" class="text-uppercase font-bold app-color7 mt-3"><%= get_lang_string("edit")%></a>
          </div>
        <%end%>
        <%if @profiles_limit > @user_profiles.count%>
          <!-- <a href="/users/add_profile">
            <div id="new_profile" class="profile-wrap app-d-flex hv-center flex-column">
               <a href="/users/add_profile" class="not_ie_circle"><label class="text-uppercase hv-center font-black mb-0"><i class="fa fa-plus" aria-hidden="true"></i></label>
              </a>

              <p class="text-center app-color1 mb-0 font-bold w-100 mb-3">New Profile</p>
               <a href="/users/add_profile" class="text-uppercase font-bold app-color7">&nbsp;</a> 
            </div>
          </a> -->
        <%end%>       
      </div>
    </div>
  </section>  
  <%=render "layouts/page_height_setting"%>
</div>