<div class="float-left w-100 referal_page get_start_page  padding-top-80 padding-top-60 earnings_page">
	<div class="float-left w-100 mb-2 pb-1 app-d-flex h-center">
		<!-- <img src="/assets/referal/poster_image.jpg" class="posterimage"> -->
		<img src="/assets/referal_earnmoney/banner.png" class="img-fluid d-none d-xl-block" alt="" title="">
  	<img src="/assets/referal_earnmoney/banner_mobile.jpg" class="img-fluid d-block d-xl-none" alt="" title="">   
	</div>
	<div class="container">		
		<!-- <h1 class="float-left w-100 shemaroo-color8 font-rcb font1 text-center font-bregular mb-4" >JITNA CHAHO UTNA KAMAO</h1> -->
		<div class="float-left w-100 app-d-flex h-center">
	  	  <img src="/assets/referal_earnmoney/jitna.png" class="mb-4 jitnalogo">
	    </div>
		<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font2 text-center mb-2 pb-1">Hi <%=@my_earnings['name']%>,</p>
		<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 text-center mb-5"><%= get_lang_string("your_earnings")%></p>
		<div class="row mb-4" style="display: <%= (cookies[:firefox] == "true") ? 'inline-flex' : 'flex' %>" >
			<div class="col-md-4 col-sm-4 col- pl-2 pr-2 mb-3">
				<div class="float-left w-100 earnings_box p-3 app-d-flex align-items-start flex-column ">
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-auto"><%= get_lang_string("total_referral")%></p>
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb numbers mb-0"><%=@my_earnings["total_referrals"]%></p>
				</div>	
			</div>
			<div class="col-md-4 col-sm-4 col- pl-2 pr-2 mb-3">
				<div class="float-left w-100 earnings_box p-3 app-d-flex align-items-start flex-column ">
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-auto"><%= get_lang_string("total_earnings")%></p>
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb numbers mb-0"><%=$region == "IN" ? "₹" : "$"%> <%=@my_earnings["total_amount"]%></p>
				</div>	
			</div>
			<div class="col-md-4 col-sm-4 col- pl-2 pr-2 mb-3">
				<div class="float-left w-100 earnings_box p-3 app-d-flex align-items-start flex-column ">
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-auto"><%= get_lang_string("total_transferred")%></p>
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb numbers mb-0"><%=$region == "IN" ? "₹" : "$"%> <%=@my_earnings["total_amount_transferred"]%></p>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col- pl-2 pr-2 mb-4">
				<div class="col-md-6 col-sm-6 float-left w-100 earnings_box p-3 app-d-flex align-items-start flex-column week_earnings" style="margin-left: -9px;">
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-auto"><%= get_lang_string("weekly_earnings")%></p>
					<div class="float-left w-100 app-d-flex v-center">
						<span class="float-left <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb numbers mr-auto"><%=$region == "IN" ? "₹" : "$"%> <%=@my_earnings["weekly_earning"]%></span>	
					</div>
				</div>
				<div class="float-right col-md-6 col-sm-6 w-100 earnings_box p-3 app-d-flex align-items-start flex-column money_withdrawl">
					<p class="float-left w-100 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-auto"><%= get_lang_string("pending_money")%></p>
					<div class="float-left w-100 app-d-flex v-center">
						<span class="float-left <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb numbers mr-auto"><%=$region == "IN" ? "₹" : "$"%> <%=@my_earnings["pending_amount"]%></span>	
						<!-- <a href="/users/add_bank_account" class="text-uppercase shemaroo-color8 font4 text-center app-d-flex hv-center" id="claim_btn">claim now</a> -->
						<%#if @my_earnings["user_referrals"].length > 0 && @my_earnings['redeemable_amount'] > 0%>
							<!-- <a href="javascript:void(0)" class="text-uppercase shemaroo-color8 font4 text-center app-d-flex hv-center" id="claim_btn">claim now</a> -->
						<%#end%>
					</div>
				</div>
				<input type="hidden" name="bank_det_set" value="<%=@my_earnings["bank_details"]%>" id="usr_bnk_st">
				<input type="hidden" name="user_red_amt" value="<%=@my_earnings["redeemable_amount"]%>" id="user_red_amt">
				<input type="hidden" name="ref_usr_name" id="ref_usr_name" value="<%=@my_earnings["name"]%>">
			</div>
			<%if @my_earnings["total_count"] > 0 && @my_earnings["bank_details"] == false%>
			  <%if $region == "IN"%>
					<div class="col-md-12 col-sm-12 col- pl-2 pr-2 mb-4">
						<div class="float-left w-100 earnings_box p-3" style="height: auto;">
							<p class="float-left <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font3 mb-4 mr-auto"><%= get_lang_string("add_bank_details")%></p>
							<a href="/users/add_bank_account"><p class="float-right add_bank_btn font4 app-d-flex v-center font-rcb"><i class="fa fa-plus" aria-hidden="true"></i>ADD</p></a>
							<div class="float-left w-100 app-d-flex align-items-start flex-column ">
								<p class="font4 mb-2">- A user must earn a minimum of INR 100 every week as reward money to be eligible for auto money transfer.</p>
								<!-- <p class="font4 mb-2">- Minimum amount required is INR 100</p> -->
							</div>			
						</div>	
					</div>
				 <%else%>
				 <div class="col-md-12 col-sm-12 col- pl-2 pr-2 mb-4" id="us_bnk_sec">
						<div class="float-left w-100 earnings_box p-3" style="height: auto;">
							<p class="float-left shemaroo-color9 font-rcb font3 mb-4 mr-auto w-100"><%= get_lang_string("add_paypal")%></p>
						  <div class="float-left w-100 referal_form_wrap p-0">
						  	<div class="form-group float-left w-100">
						  		<div class="col-md-8 col-sm-12 p-0">
							  		<input type="text" name="" id="paypal_id" class="form-control float-left mr-3" placeholder="Enter your PayPal id">
										<a href="javascript:void(0);" class="btn btn-primary shemaroo-color6 float-left app-d-flex hv-center text-uppercase font-rcb" id="ad_paypal"><%= get_lang_string("add")%></a>
										<label class="error" id="pypl_error"><%= get_lang_string("enter_paypal")%></label>	
									</div>	
						  	</div>
								<p class="font4 mb-2 addbank_txt">- Claim money request can be placed only once a month on & before 25th. Your request will be processed by the 15th of next month.</p>
								<p class="font4 mb-2 addbank_txt">- Minimum amount required is USD 20</p>
							</div>			
						</div>	
					</div>
				 <%end%>
			<%end%>
		</div>
		<div class="row">
			<div class="col-md-12 mb-4 pl-2 pr-2">
				<div class="form-inline" id="date_sec">
			    <label for="start_date" class="mb-2 mr-sm-2"><%= get_lang_string("start_date")%></label>
			    <div class="date_wrap relative-content">
			    	<input type="text" class="form-control mb-2 mr-sm-2" id="start_date" placeholder="DD/MM/YYYY" name="start_date" readonly="readonly">			    	
			    	<!-- <div><img src="/assets/referal/calendar.svg"></div> -->
			    </div>	

			    <label for="end_date" class="mb-2 mr-sm-2"><%= get_lang_string("end_date")%></label>
			    <div class="date_wrap relative-content">
		    		<input type="text" class="form-control mb-2 mr-sm-2" id="end_date" placeholder="DD/MM/YYYY" name="end_date" readonly="readonly">		    		
		    		<!-- <div><img src="/assets/referal/calendar.svg"></div> -->
		    	</div>
			  </div>
			</div>
			<div class="col-md-12 pl-2 pr-2">
				<div class="table-responsive">
  				<table class="table table-striped" id="earnings_tab">
  					<thead>
				      <tr>
				      	<th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%>"></th>
				        <th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> mp-font"><%= get_lang_string("date")%></th>
				        <th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> mp-font"><%= get_lang_string("user_detalis")%></th>
				        <th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> mp-font"><%= get_lang_string("pack_name")%></th>
				        <th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> mp-font"><%= get_lang_string("duration")%></th>
				        <!-- <th class="text-uppercase font4 font-rcb shemaroo-color9 mp-font">Currency</th> -->
				        <th class="text-uppercase font4 font-rcb <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> mp-font"><%= get_lang_string("my_earnings")%></th>
				      </tr>
				    </thead>
				      <%@my_earnings["user_referrals"].each_with_index do |r,i|%>
					      <tr>
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=i+1%>.</td>
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=Time.parse(r['created_at']).strftime("%d/%m/%Y")%></td>
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=r['user_details']%></td>
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=r['plan_title']%></td>
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=r['plan_type']%></td>
					      	<!-- <td class="shemaroo-color9 font4">INR</td> -->
					      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font4"><%=get_ernings_cur_symbol($region)%> <%=r['referral_amount']%></td>
					      </tr>
				      <%end%>
				      	<td class="<%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-rcb font4" align="right" colspan="7"><%= get_lang_string("total_earnings")%>&nbsp;&nbsp;&nbsp;<span class="total_price"><%=get_ernings_cur_symbol($region)%>&nbsp;<%=@my_earnings["total_amount"]%></td>
				      </tr>
				    </tbody>				  
  				</table>
  				<%if @my_earnings["total_referrals"] > 5 %>
	  			  <div class="float-left w-100 mt-2" style="padding: 12px;">
	  					<a href="javascript:void(0);" class="float-left" id="pre_pg">
	  						<i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> 
	  						Prev
	  					</a>
	  					<a href="javascript:void(0);" class="float-right" id="next_pg">
	  						Next <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i> 
	  					</a>
	  				</div>
	  			<%end%>
	  			<input type="hidden" name="" value="0" id="cur_page">
	  			<input type="hidden" name="" value="false" id="prev_pg_st">
	  			<input type="hidden" name="" value="true" id="next_pg_st">
  			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="claim_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left pl-4 pr-4">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"></h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" style="font-size: 1.1em;" id="clm_txt">
         </p>
        <!-- <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button border-radius-40 margin-left-10"><a href="/users/my_earnings" class="text-uppercase btn gradient1 font-bold" id="clm_cls">Ok</a>
          </p> 

        </div> -->
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="clm_cancel">cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="clm_ok">OK</a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="claim_suc_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left pl-4 pr-4">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5">Congratulations <%=@my_earnings["name"]%> !!</h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" style="font-size: 1.1em;">
        	Your withdrawal request is placed successfully.<br><b>Note:</b> Your request will be processed by the end of the month. It may take up to 12 days for the reward money to reflect in your bank account.
         </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button border-radius-40 margin-left-10"><a href="/users/my_earnings" class="text-uppercase btn gradient1 font-bold">Ok</a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="pypl_su_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"></h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" style="font-size: 1.1em;" id="pln_up_txt">
        	<%= get_lang_string("paypal_added")%>
         </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
         <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/users/my_earnings" class="text-uppercase btn gradient1 font-bold"id ="bnk_cnt"><%= get_lang_string("continue")%></a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>
<%=render "referal_android_check"%>
<script>
	$(document).ready(function() {
		$("#pre_pg").css("cursor","default");
    function load_my_earnings(){
    	var st_dt = $( "#start_date" ).val();
    	var end_dt = $( "#end_date" ).val();
      var cur_pg = parseInt($("#cur_page").val());
    	
      if(st_dt.length != 0){
      	$(".loader").show();
	     $.ajax({
					url: "/users/my_earnings",
					type: "POST",
					data: {"start_date": st_dt,"end_date": end_dt,"page_no": cur_pg},
					success: function(response,status){
						console.log(response)
						if(response.status == "true"){  
							$("#earnings_tab tbody").html("");
							var list_data = ""
							var ref_ear = response.earnings_dt['user_referrals']
							if(ref_ear.length > 0){
								for(i=0;i<ref_ear.length;i++){
									list_data+= '<tr><td class="shemaroo-color9 font4">'+(parseInt(i)+1)+'.</td><td class="shemaroo-color9 font4">'+ref_ear[i]['created_at'].split("T")[0]+'</td><td class="shemaroo-color9 font4">'+ref_ear[i]['user_details']+'</td><td class="shemaroo-color9 font4">'+ref_ear[i]['plan_title']+'</td><td class="shemaroo-color9 font4">'+ref_ear[i]['plan_type']+'</td><td class="shemaroo-color9 font4">'+response.cur+' '+ref_ear[i]['referral_amount']+'</td></tr>'
								}
								list_data = list_data+'<tr><td class="shemaroo-color9 font-rcb font4" align="right"colspan="6">Total Earnings&nbsp;&nbsp;&nbsp;<span class="total_price">'+response.cur+'  '+response.ref_amt+'</span></td></tr>'
								$("#earnings_tab tbody").append(list_data)
							}
							else{
								$("#earnings_tab tbody").append('<tr><td class="font4">No data found.</td><td></td><td></td><td></td><td></td><td></td></tr>')
							}
							$(".loader").hide();
						}
				  }
			});
    }
  }



   var start = new Date();
    start.setFullYear(start.getFullYear() - 70);
    var end = new Date();
    end.setFullYear(end.getFullYear() - 18);

    var dateFormat = "dd/mm/yy",
      start_date = $( "#start_date" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          dateFormat: dateFormat,
          changeMonth: true,
          changeYear: true,
          maxDate: '0',
          //minDate: new Date(2020, 11 - 1, 1),
          /*showOn: "button",
		      buttonImage: "/assets/calendar.svg",		      
		      buttonText: "Select date"*/
        })
        .on( "change", function() {
          end_date.datepicker( "option", "minDate", getDate( this ) );
        }),
        end_date = $("#end_date").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
          dateFormat: dateFormat,
          changeMonth: true,
          changeYear: true,
           maxDate: '0',
        /*showOn: "button",
	      buttonImage: "/assets/calendar.svg",		      
	      buttonText: "Select date"*/
	      onSelect: function() {
         load_my_earnings()
    }
      })
      .on( "change", function() {
        start_date.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }

  $("#end_date").datepicker({
    
});


  $(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $('.header-section, .footer-section, .ft_sec').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
    }
   });
   var bnk_st = $("#usr_bnk_st").val();
   var redem_amt = parseFloat($("#user_red_amt").val());
   var u_reg = $(".user_region").val();
   var amt_st = "false"
   if(u_reg == "IN" && redem_amt > 100){
    amt_st = "true"
   }
   else if(u_reg == "US" && redem_amt > 20){
   	amt_st = "true"
   }
 if(amt_st == "true" && bnk_st == "false"){
 	var u_reg =  $(".user_region").val();
 	var pm_msg = "Please update your bank details"
 	if(u_reg == "US"){
    pm_msg = "Please update your paypal details"
 	}
 	$("#clm_txt").text(pm_msg);
 	$("#claim_pop").modal("show");
  }

  $("#clm_ok").click(function(){
  	var u_reg =  $(".user_region").val();
  	$("#claim_pop").modal("hide");
  	if(u_reg == "IN"){
     window.location  = "/users/add_bank_account"
  	}
  	else{
  	 $("#us_bnk_sec").show();
  	}
  })
  $("#clm_cancel").click(function(){
  	$("#claim_pop").modal("hide");
  })
  });
</script>