<%
meta title: "#{@title}",
     description: "",
     keywords: ""
%>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div">
    <!-- <section class="full-width-content inside-container tvod-empty-content-bg">
      <img src="/assets/my_movie_big.png" id="tag11" alt="" title="">
      <p class="margin-bottom-20">All movies purchased by you wil be available here. You don't seem to have any purchased right now, let us help you find some.</p>
      <a href="javascript:void(0);" class="text-uppercase font-size1 shemaroo-color6 app-btn4">browse</a>
    </section>  -->
    <section class="full-width-content inside-container padding-bottom-20">
      <div class="pull-left w-100 playlist">
        <div class="item-box">          
          <div class="pull-left item-box-img relative-content">
            <img src="/assets/my_movie.png" class="my-movie" = alt="" title="">            
            <img src="/assets/thumnail_play.png" class="thumb-play" alt="" title="">
          </div>  
          <div class="pull-left item-box-content">
            <h3 class="font-bold">Movie Name</h3>
            <p class="margin-bottom-0 font-regular font-size3">Comedy | hindi | 2007</p>
            <p class="margin-bottom-20 font-regular font-size3">U | 02h : 10m : 18s</p>
            <p class="margin-bottom-0 font-medium font-size2">Valid Till:</p>
            <p class="margin-bottom-10 font-bold font-size1">25 April 2020</p>
          </div>
        </div>
        <div class="item-box">          
          <div class="pull-left item-box-img relative-content">
            <img src="/assets/my_movie.png" class="my-movie" = alt="" title="">            
            <img src="/assets/thumnail_play.png" class="thumb-play" alt="" title="">
          </div>  
          <div class="pull-left item-box-content">
            <h3 class="font-bold">Movie Name</h3>
            <p class="margin-bottom-0 font-regular font-size3">Comedy | hindi | 2007</p>
            <p class="margin-bottom-20 font-regular font-size3">U | 02h : 10m : 18s</p>
            <p class="margin-bottom-0 font-medium font-size2">Valid Till:</p>
            <p class="margin-bottom-10 font-bold font-size1">25 April 2020</p>
          </div>
        </div>
      </div>
    </section>
    <%=render "layouts/page_height_setting"%>
  </div>  
</div>
<style>
  
</style>
<script type="text/javascript">
$(document).ready(function(){
  $(".scrollmenuwrap").hide();
  $("#load_more_all_items").click(function(){
    var video_theme = $(".items_layout_type").val();
    $(this).text("Load more...");
    var pageno = $("#page_number").val();
    $.ajax({
    url: window.location.pathname,
    type: "GET",
    data: {
    page_no: pageno,
    theme_type: video_theme
    },
    success: function(response,status){
      $("#load_more_all_items").text("Load more");
      $("#page_number").val(response.pageno);
      var items = response.items
      for(i=0 ; i <items.length; i++){
        var item_det = items[i].split("$");
        if(video_theme == "t_2_3_movie" || video_theme == "movies"){
          $("#all_items").append('<div class="item"><a href="'+item_det[2]+'"><span class="text-uppercase premium-txt" style="display:'+(item_det[3] == "true" ? "none" : "")+'">Premium</span><img src="'+item_det[1]+'" class="rounded" alt="'+item_det[0]+'" title="'+item_det[0]+'"></a></div>')
        }
        else{
          $("#all_items").append('<div class="item rounded"><a href="'+item_det[2]+'"><span class="text-uppercase premium-txt" style="display:'+(item_det[3] == "true" ? "none" : "")+'">Premium</span><img src="'+item_det[1]+'" class="rounded" alt="'+item_det[0]+'" title="'+item_det[0]+'"><span class="list-tile-title">'+item_det[0]+'</span></a></div>')
        }
      } console.log(response.next_page);
      if(response.next_page == "false"){
        $("#load_more_items_link").hide();
      }
      $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
    }
  });
  })
})

</script>

