<div style="height: 300px"><div id="participate">Participate</div></div>

<script type="text/javascript">
	
		$(document).ready(function(){


			function participate_in_survey(){
				if(getShemarooCookies().user_analytical_id){
					$.ajax({
						url: "/participate",
						type: "GET",
						data: { 
						},
						success: function(response){
							if(response.status){
								if(response.feedback_check){
									window.location = "/feedback_questions"
								}
							}
						}
					})
				}else{
					$("#fb_login_pop").modal("show")
				}
			}

			$("#participate").click(function(){
				participate_in_survey()
			})
		

	})
</script>