<div class="float-left w-100 wrapper profile-page">
  <section class="main-content">
    <div class=" min-height-div">
      <div class="profile-container">    
        <div class="float-left w-100 app-d-flex mt-3 pt-1">
          <h1 class="section-title big-desktop-app-font3 mr-auto"><%=get_lang_string("manage_profile")%></h1>
          <a href="<%=get_lang_url("/users/manage_profiles")%>" class="non_kid_tab"><img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "edit-tools.svg" : "edit-tools-dark.svg"%>" style="width :24px; height: 24px;"></a>
        </div>

        <div class="float-left w-100 h-center mt-2 panel-body" style="display: none;">
        </div>
        
        <div class="float-left w-100 mt-3 pt-1">
          <div class="profile-banner-container">
            <div id="profile_banner_carousel" class="owl-carousel owl-theme">          
              <div class="item">
                <img src="/assets/slide1.jpg" alt="slider1" title="slider1">
              </div>
              <div class="item">
                <img src="/assets/slide2.jpg" alt="slider2" title="slider2">
              </div>
            </div>
          </div>
        </div>  
        <div class="float-left w-100 app-d-flex mt-3 pt-1 non_kid_tab">
          <h1 class="section-title big-desktop-app-font3 mr-auto"><%= get_lang_string("sub_plan")%></h1>        
        </div>
      </div>
      <div class="float-left w-100 non_kid_tab">
        <%if @current_plans.count > 0%>
          <div class="subscribed-plan-box-container">
            <div class="subscribed-plan-box-wrap">
              <%@current_plans.each do |p|%>
                <div class="subscribed-plan-box">
                  <p class="float-left app-color7 font-black"><%=p['ml_subscription_title'] rescue p['subscription_title']%><br><%if p['plan_title'].downcase == "yearly" || p['plan_title'].downcase == "monthly"%><%=p['plan_title'].downcase == "yearly" ? "12": "1"%> <%= get_lang_string("month_plan") %><%end%></p>
<!--                   <img src="/assets/new_icons/info.svg" class="float-right" alt="" title="">
 -->                  <p class="float-left w-100 mb-0 plan-progress relative-content">
                    <span style="width:<%=get_time_per(p)%>;"></span>
                  </p>
                  <p class="float-left app-color2 font-regular margin-top-10 mb-0"><%= Time.parse(p["start_date"]).strftime("%d/%m/%Y")%></p>
                  <p class="float-right app-color2 font-regular margin-top-10 mb-0"><%= Time.parse(p["valid_till"]).strftime("%d/%m/%Y")%></p>
                </div>
              <%end%>
            </div>
          </div>
        <%else%>
          <div class="profile-banner-container">
            <div id="no_plan_box" class="subscribed-plan-box app-d-flex flex-column hv-center" style="display: flex !important;">
              <p class="mt-2 mb-4 app-color7 font-black"><%= get_lang_string("no_plans")%></p>
              <a href="<%=get_lang_url("/plans")%>" class="btn app-color4 font-bold" title="View Plans"><%= get_lang_string("subscribe_now")%></a>
            </div>
          </div>
        <%end%>  
      </div>
      <div class="profile-container upgrade_profile_plan non_kid_tab" style="display:none;"> 
        <div class="float-left w-100 mt-3 app-d-flex v-center profle_upgrade_btn_wrap">
          <h4 class="float-left d-none d-sm-block mr-auto">Upgrade your Subscription Plan</h4>
          <a href="<%=get_lang_url("/plans/upgrade_plans")%>" id="profle_upgrade_desktop_btn" class="text-uppercase app-d-flex hv-center shemaroo-color6 font-bold d-none d-sm-block">
            <img src="/assets/upgrade/btn-upgrade.svg">
          </a>          
        </div>
        <div class=" d-block d-sm-none">
          <div class="float-left w-100 mt-3 app-d-flex h-center profle_upgrade_btn_wrap">          
            <a href="<%=get_lang_url("/plans/upgrade_plans")%>" id="profle_upgrade_btn" class="text-uppercase app-d-flex hv-center shemaroo-color6 font-bold"><%=get_lang_string("upgrade_your_sub")%></a>
          </div>
        </div>  
      </div>
      <div class="profile-container"> 
        <div class="float-left w-100 mt-4 pt-1">
          <div class="app-d-flex mb-3 pb-1 menu-box1-wrap h-center">  
            <div class="menu-box menu-box1 v-center kid_tab" style="display: none">
              <a href="<%=get_lang_url("/users/watch_list")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "my_list_selected.svg" : "my_list_selected_dark.svg"%>" alt="" title="My List">
                <span class="text-center"><%=get_lang_string("my_list")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center kid_tab"  style="display: none">
               <a href="<%=get_lang_url("faq")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "faqs.svg" : "faqs_dark.svg"%>" alt="" title="FAQ">
                <span><%=get_lang_string("faq")%></span>
              </a>
            </div>
          </div>
          
          <div class="mb-3 pb-1 menu-box1-wrap">
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/plans")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "view_plans_profile.svg" : "view_plans_profile_dark.svg"%>" alt="" title="View Plans">
                <span class="text-center"><%=get_lang_string("view_plans")%></span>
              </a>  
            </div>

            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/users/watch_list")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "my_list_selected.svg" : "my_list_selected_dark.svg"%>" alt="" title="My List">
                <span class="text-center"><%=get_lang_string("my_list")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("tv")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "device.svg" : "device_dark.svg"%>" alt="" title="Activate TV">
                <span class="text-center"><%=get_lang_string("activate_tv")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/users/settings")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "settings_profile.svg" : "settings_profile_dark.svg"%>" alt="" title="Settings">
                <span class="text-center"><%=get_lang_string("settings")%></span>
              </a>  
            </div>
          
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/users/referral")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "earn_money.svg" : "earn_money_dark.svg"%>" alt="" title="Earn Money">
                <span class="text-center"><%=get_lang_string("earn")%></span>
              </a>
            </div>
            
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/users/account_details")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "account_details.svg" : "account_details_dark.svg"%>" alt="" title="Account Details">
                <span><%=get_lang_string("account_details")%></span>
              </a>  
            </div>

            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="javascript:void(0)" class="app-color1 app-d-flex v-center w-100 h-100" id="prof_lang_sel">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "language.svg" : "language_dark.svg"%>" alt="" title="language">
                <span class="mr-auto"><%=get_lang_string("language")%></span>
                <!-- <span class="current_lang_box font-size2 font-bold">English</span> -->
              </a>  
            </div>

            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="javascript:void(0)" class="app-color1 app-d-flex v-center w-100 h-100" id="theme_option">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "set_theme.svg" : "set_theme_dark.svg"%>" alt="" title="set theme">
                <span class="mr-auto"><%=get_lang_string("theme")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("/users/redeem_ticket")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "redeem.svg" : "redeem_dark.svg"%>" alt="" title="Redeem Ticket">
                <span><%=get_lang_string("redeem_ticket")%></span>
              </a>  
            </div>
          
             
            <!-- <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="/users/redeem_ticket" class="app-color1 v-center">
                <img src="/assets/new_icons/promocode.svg" alt="" title="Coupon code">
                <span>Coupon code</span>
              </a>  
            </div> -->
          
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("faq")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img  src= "/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "faqs.svg" : "faqs_dark.svg" %>" alt="" title="FAQ">
                <span><%=get_lang_string("faq")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("terms_and_conditions")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "terms_conditions.svg" : "terms_conditions_dark.svg" %>" alt="" title="Terms of Use">
                <span><%=get_lang_string("terms_of_use")%></span>
              </a>  
            </div>
          
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("privacy-policy")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "privacy_policy.svg" : "privacy_policy_dark.svg" %>" alt="" title="Privacy Policy">
                <span><%=get_lang_string("privacy_policy")%></span>
              </a>  
            </div>  
         
            <!-- <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="/feedback" class="app-color1 v-center">
                <img src="/assets/new_icons/feedback.svg" alt="" title="Feedback">
                <span>Feedback</span>
              </a>  
            </div> -->      
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="<%=get_lang_url("contact-us")%>" class="app-color1 app-d-flex v-center w-100 h-100">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "email.svg" : "email_dark.svg" %>" alt="" title="Contact Us">
                <span><%=get_lang_string("contact_us")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 v-center mb-3 pb-1 non_kid_tab">
              <a href="javascript:void(0);" class="app-color1 app-d-flex v-center w-100 h-100" id="user_logout">
                <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "log_out.svg" : "log_out_dark.svg" %>" class="log-out" alt="" title="Logout">
                <span><%=get_lang_string("logout")%></span>
              </a>  
            </div>
           
          </div>
           <div style="width: 300px; height: 1px;"></div>
          


          <div class="app-d-flex flex-column hv-center">
            
          </div>
        </div>  
      </div>
    </div> 
  </section>     
</div>




<div class="modal pr-0 show" id="theme-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "cancel_search_black.svg" : "cancel_search.svg"%>" class="float-right cursor-pointer" id="cancel_theme" style="width : 16px; height : 16px;">
        <div class="float-left w-100 pl-4 pr-4">
          <h4 class="mb-4 margin-top-5 font-mblack">Set Theme</h4>
          <div class="mb-3">
            <input type="radio" id="light_theme" name="theme-sel" value="light_theme" class="">
            <label for="light_theme" class="mb-0 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-mregular mulli-font1"><%=get_lang_string("light")%></label>
          </div>
          <div class="mb-3">
            <input type="radio" id="dark_theme" name="theme-sel" value="dark_theme" class="">
            <label for="dark_theme" class="mb-0 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-mregular mulli-font1"><%=get_lang_string("dark")%></label>
          </div>
          <div class="float-left w-100 mt-4">
            <div class="text-center margin-bottom-25 margin-top-20">
              <a href="javascript:void(0);" class="inline-block radius-button black-button app-color4 font-mbold" id="change_theme" style="border: 0 !important; font-size: 20px"><%= get_lang_string("continue")%></a>
            </div>  
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="logout-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h4 class="margin-bottom-10 margin-top-5 font-mbold"><%=get_lang_string("logout")%></h4>
        <% get_logout  = get_lang_popup("logout")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= get_logout['title_text']%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="logout_cancel"><%= get_logout['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="logout_confirm"><%= get_logout['positive']%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>


<div class="modal pr-0 show" id="small_selection_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "cancel_search_black.svg" : "cancel_search.svg"%>" class="float-right cursor-pointer" id="prf_lg_cls" style="width : 16px; height : 16px;">
        <div class="float-left w-100">
          <h4><%= get_lang_string("language")%></h4>
          <div class="float-left w-100">
            <div class="app-d-flex hv-center flex-column">
              <%@all_langs.each do |l|%>
                <div class="lang_box app-d-flex v-center mb-2 cursor-pointer prof_lang_box" id="<%=l['language_code']%>" data-color="<%=l['start_color']%>">
                  <span class="float-left text-uppercase font-bold mr-auto" style="color:#<%=l['start_color']%>"><%=l['language']%></span><img src="/assets/new_icons/tick.svg">
                </div>
              <%end%>         
            </div>  
          </div> 
          <div class="float-left w-100 mt-4">
            <div class="app-d-flex h-center">
              <a href="javascript:void(0);" class="btn app-d-flex hv-center mb-3 app-color4" id="prf_lng"><%= get_lang_string("continue")%></a>
            </div>  
          </div>  

        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="logout_yes" value="<%= get_logout['positive']%>">
<input type="hidden" id="lang_continue" value="<%= get_lang_string("continue")%>">

<%=render "layouts/page_height_setting"%>
<%=render "profile_script"%>
<script>

  $(document).ready(function() {
    if(navigator.userAgent.indexOf("Firefox") != -1 ){
      $.cookie('firefox', true, { expires: 14,path: '/'})
    }
    if (getShemarooCookies().user_actv_sub_status == "Subscribed"){
      var reg = "<%=$region%>"
      if(reg == "IN" || reg == "US"){
        $(".upgrade_profile_plan").show()
      }
      localStorage.setItem("upgrade_click", 'profile')
      localStorage.setItem("subscription_type", 'upgrade')
    }

    var selected_lang = (getShemarooCookies().shm_sel_lang == undefined ? "English" : getShemarooCookies().shm_sel_lang == "gu" ? "Gujarati" : getShemarooCookies().shm_sel_lang == "hi" ? "Hindi" : "English")
      $(".current_lang_box").text(selected_lang).show()

      var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
    $( '.menu-box a, .profile-banner-container a').on( 'click', function() {
      var value = $('img', this).attr('title');
      if (value == undefined){
        value = $(this).attr('title');
      }
      
      Apxor.logEvent("Profile_Browse",{
      "menu": value,
      'user_state': user_state
      }, "Profile_Browse");

      smartech('dispatch', 'Profile_Browse', {
        "menu": value,
        'user_state': user_state
      })


      branch.logEvent(
      "Profile_Browse",
        {"menu": value,
        'user_state': user_state
      },
      );

    });

   
    $("#theme_option").click(function(){
      var get_theme = getShemarooCookies().theme_option
      var theme = ''
      if(get_theme == "dark_theme" || get_theme == "light_theme"){
          $("#"+get_theme).prop("checked","true");
          theme = get_theme
      }else{
        $("#light_theme").prop("checked","true");
        theme = "light_theme"
      }
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('theme_option',theme, { expires: 14,path: '/'});
      $("#theme-pop").modal("show");
    
    })

    
     $("#cancel_theme").click(function(){
      $("#theme-pop").modal("hide");
      })

  $(document).ready(function(){
    $("#change_theme").click(function(){
      get_color = $("input[name='theme-sel']:checked"). val();
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('theme_option',get_color, { expires: 14,path: '/'});
      $("#theme-pop").modal("hide");
      location.reload()
    })     
  })
})

</script>