<%
meta title: "Edit Profile",
     description: "Edit Profile",
     keywords: %w(Edit Profile)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div promocode-page">
    <div class="payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15"> 
          <h2 class="block margin-bottom-10">Promo Code</h2>
          <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
            <!-- <p class="font-size2 font-regular">To redeem, enter Promo code below:</p> -->
            <p class="pull-left w-100 font-size1 font-semibold margin-bottom-5" style="color: #CC4057"><%= get_lang_string("have_promocode")%></p>
            <div class="pull-left w-100 relative-content">
              <input type="text" name="" class="" placeholder="Enter Promo Code" id="promo_code" maxlength="15">            
              <label class="font-regular error promocode_error font-size2 margin-bottom-0">
                Invalid code entered
              </label>
            </div>  
            <div class="text-center margin-bottom-0 margin-top-5 light">              
              <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="">apply</a>
                </p>              
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>
  </div>

<script type="text/javascript">
var $input = $("#promo_code")
$input.keyup(function(e) {
    var max = 15;
    if ($input.val().length >= max) {
        $(".promocode_error").text("Exceeding promo code limit").show().fadeOut(6000);
        $input.val($input.val().substr(0, max));
    }
});
</script>