<%
meta title: "Redeem Ticket on Shemaroome",
     description: "Redeem Ticket",
     keywords: %w(Edit Profile)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div promocode-page">
    <div class="payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15"> 
          <h2 class="block margin-bottom-10 redeem_codee"><%=get_lang_string("redeem")%></h2>
          <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
            <!-- <p class="font-size2 font-regular">To redeem, enter Promo code below:</p> -->
            <div class="float-left w-100 relative-content">
              <p class="pull-left w-100 font-size1 font-semibold mb-4 pb-3" style="color: <%= @theme == "light_theme" ? "#0090D6" : "" %>"><%= get_lang_string("have_code")%></p>
              <div class="float-left w-100 padding-left-0 padding-right-0">
                <label class="error" id="redeem_tkt_bakend_user_errors_msg">ShemarooMe Premium plan is already active on this account. please come back later</label>
              </div>
            </div>
            <div class="pull-left w-100 relative-content">
              <input type="text" name="" class="" placeholder="<%=get_lang_string("enter_code_1")%>" id="promo_code" maxlength="15">
              <label class="font-regular error promocode_error font-size2 margin-bottom-0">
                <%= get_lang_string("invalid_code")%>
              </label>
            </div>  
            <div class="pull-left w-100 text-center margin-bottom-0 center-align-content">              
              <a href="javascript:void(0);" class="text-uppercase font-size1 shemaroo-color6 app-btn4" id="redm_tckt_apy"><%= get_lang_string("apply")%></a>
            
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <input type="hidden" id="enter_code"  value="<%= get_lang_string("enter_code")%>">
  <input type="hidden" id="rdm_apply"  value="<%= get_lang_string("apply")%>">


   <%=render "layouts/page_height_setting"%>
    <%=render "plans/check_valid_browser_type"%>
<script type="text/javascript">
  $(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var lng_type = "<%=params[:lang].present? ? "#{params[:lang]}" : "en"%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var aaid = "<%=params[:aaid]%>"
  var city = "<%=params[:city]%>"
  var device_id = "<%=params[:device_id]%>"
  var device_make = "<%=params[:device_make]%>"
  var user_ip = "<%=params[:user_ip]%>"
  var os = "<%=params[:os]%>"
  var user_agent = "<%=params[:user_agent]%>"
  var theme = "<%= params[:theme_option] %>"
  var branch_details = aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip+'|'+os+'|'+user_agent
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'android_branch_set' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('android_branch_set',branch_details, { expires: 14,path: '/'});
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $.cookie('shm_sel_lang',lng_type, { expires: 14,path: '/'});
     document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     $('.header-section, .footer-section, .ft_sec,.contest-fixedbox').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
    }
});

var $input = $("#promo_code")
$input.keyup(function(e) {
    var max = 15;
    if ($input.val().length >= max) {
        $(".promocode_error").text("<%= get_lang_string("exceed_promo_code")%>").show().fadeOut(6000);
        $input.val($input.val().substr(0, max));
    }
});

</script>