<div class="float-left w-100 referal_page share_code_page padding-top-80 padding-top-60">
  <div class="float-left w-100 mb-2 pb-1 app-d-flex h-center">
    <img src="/assets/referal_earnmoney/banner.png" class="img-fluid d-none d-xl-block" alt="" title="">
    <img src="/assets/referal_earnmoney/banner_mobile.jpg" class="img-fluid d-block d-xl-none" alt="" title="">   
  </div>
  <div class="container" id="ref_share_code">   
    <div class="float-left w-100 app-d-flex h-center">
      <img src="/assets/referal_earnmoney/jitna.png" class="mb-4 jitnalogo">
    </div>

    <p class="float-left w-100 she-col9 font-rcb font2 text-center mb-5 pb-1">Hi <%=params[:name]%>,</p>
    <p class="float-left w-100 she-col9 font-rcb font3 text-center mb-4"><%= get_lang_string("your_referral_code")%>:</p>
     <!-- <input type="text" id="copy_link" value="Hi, Have you tried ShemarooMe? They have the best collection of Movies, Music, Shows, Plays from Bollywood, Gujarati, Marathi, Punjabi, Bengali. They also have Kids and devotional content. Please use my referral code #<%#=params[:ref_code]%> and subscribe to ShemarooMe on and get <%#= $region == "IN"?  '5%': '20%' %> off on any subscription pack.https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld"> -->  
    <input type="text" id="copy_link" value="Hi, Have you tried ShemarooMe? They have the best collection of Movies, Music, Shows, Plays from Bollywood, Gujarati, Marathi, Punjabi, Bengali. They also have Kids and devotional content. Please use my referral code #<%=params[:ref_code]%> and subscribe to ShemarooMe on and get discount on any subscription pack.https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld">
    <p class="float-left w-100 text-center font-rcb mb-5" style="color: #8DC53E;" id="referal_code"><%=params[:ref_code]%>
      <a href="javascript:void(0);"><img src="/assets/referal/copy.svg" alt="copy" title="copy referral code" onclick="copyLink()"></a>
    </p>
    <p class="float-left w-100 she-col9 font-rcb text-center pb-4 mb-4"><%= get_lang_string("share_the_code")%></p>
    <p class="text-center w-100 app-d-flex h-center social_wrap mb-5" id="desk_share">
      <a href="https://www.facebook.com/dialog/share?app_id=<%=ENV['FACEBOOK_APP_KEY']%>&display=popup&href=<%=SITE%><%=request.fullpath%>&redirect_uri=<%=SITE%>/users/referral" target="_blank" class="ref_shr" id="facebook$<%=params[:ref_code]%>"><img src="/assets/referal/fb.svg" alt="facebook" title="facebook"></a>
      <a href="https://twitter.com/intent/tweet?url=<%=SITE%><%=request.fullpath.split("?")[0]+"?ref_code=#{params[:ref_code]}"%>&text=<%=URI.encode("Apply my referral code #{params[:ref_code]} to get 20% discount while subscribing to ShemarooMe for Movies, Music, Shows,Plays! Download the app : https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld")%>" target="_blank" class="ref_shr" id="twitter$<%=params[:ref_code]%>"><img src="/assets/referal/twitter.svg" alt="twitter" title="twitter"></a>
    </p>
    <p class="float-left w-100 app-d-flex h-center text-center" style="margin-bottom: 3.4%;display:none;" id="mb_share">
      <a class="btn btn-secondary shemaroo-color8 float-left app-d-flex hv-center text-uppercase font-rcb" id="app_share_code"><%= get_lang_string("share_code")%></a>
    </p>
  </div>
  <div class="float-left w-100 check_earning_wrap mt-1">
    <p class="float-left w-100 mt-3 mb-3 text-center"><%= get_lang_string("network_user_code")%></p>
    <p class="float-left w-100 app-d-flex h-center text-center mb-4" >
      <a href="<%= get_lang_url("/users/my_earnings")%>" class="btn btn-primary shemaroo-color-6 float-left app-d-flex hv-center text-uppercase font-rcb" id="user_earnings">
        <img src="/assets/referal/earnings.png" style="width: 24px; height: 24px;"> <%= get_lang_string("check_earnings")%></a>
    </p>      
  </div>
  <div class="toster-message-wrap" id="copy_link_pop">
    <div class="center-align-content">
      <div class="toster-message app-d-flex hv-center">
        <img src="/assets/password_updated.svg" alt="" title="">
        <p>
          <%= get_lang_string("link_copied")%>
        </p>
      </div>
    </div>
  </div>
<%=render "referal_android_check"%>
<script>
  $("#app_share_code").click(function(){
    var ref_code = "<%=params[:ref_code]%>"
    Android.SendReferralcode(ref_code);
  })

$(document).ready(function() {
  $(".more_faq").click(function(e) {
    $(".card-hidden").toggle();
  });
   var br_type = getShemarooCookies().mobile_browser_type
   if(br_type == "android"){
     $('#desk_share').hide();
     $("#mb_share").show()
   }
  function copyLink() {
    var copyText = document.getElementById('copy_link');
    copyText.select();
    document.execCommand("copy");
    $("#copy_link_pop").show().fadeOut(4500);
  }
})
$(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytical_id]%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $('.header-section, .footer-section,#desk_share').hide();
     $("#mb_share").show()
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector,.referal_page').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
     $(".navbar-nav-scroll").remove();
     var theme = "<%=params[:theme_option]%>";
     theme = theme ? theme : getShemarooCookies().theme_option
     document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
  }
});
</script>