<%
meta title: "Discount Coupon | Offer Coupon | Referral Code | Coupon Code",
     description: "Get the Best Discount And Coupons on Shemaroome.com. Redeem your Promo Code on Shemaroome.com & Shemaroome App",
     keywords: "Discount Coupon For SMe, Offer Coupon For SMe, Referral Code For SMe, Referral Code, Discount Coupon, Offer Coupon"
%>
<div class="float-left w-100 wrapper">
	<div class="float-left w-100 referal_page get_start_page padding-top-80 padding-top-60">
		<div class="" style="max-width: 1440px; margin: 0 auto;">
			<div class="float-left w-100 poster">
					<!-- <img src="/assets/referal/poster_image.jpg" class="posterimage"> -->
				<img src="/assets/referal_earnmoney/banner.png" class="img-fluid d-none d-xl-block" alt="" title="">
				<img src="/assets/referal_earnmoney/banner_mobile.jpg" class="img-fluid d-block d-xl-none" alt="" title="">	
			</div>
		</div>
		<div class="container">		
			<div class="float-left w-100 app-d-flex h-center">
		  	<img src="/assets/referal_earnmoney/jitna.png" class="mb-4 jitnalogo">
		  </div>	
			<!-- <h1 class="float-left w-100 shemaroo-color8 font-rcb font1 text-center font-bregular mb-4" >JITNA CHAHO UTNA KAMAO</h1> -->
			<!-- <p class="float-left w-100 text-center font4 font-rcb shemaroo-color8 mb-2">REFER & EARN MONEY</p> -->
			<p class="float-left w-100 text-center font4 font-rcb she-col9 mb-4 pb-2"><%= get_lang_string("3_steps")%></p>
			<div class="float-left w-100">
				<div class="row mb-4">
					<div class="col-md-4 col-sm-4 col- app-d-flex align-items-start padding-left-15 padding-right-15 mb-4">
						<img src="/assets/referal/<%= @theme == "light_theme" ? "fill_form_light.svg" : "fill_form.svg"%>" class="float-left mr-2" alt="" title="">	
						<p class="she-col9 font5 float-left mb-0"><%= get_lang_string("generate_unique_code")%></p>
					</div>
					<div class="col-md-4 col-sm-4 col- app-d-flex align-items-start padding-left-15 padding-right-15 mb-4">
						<img src="/assets/referal/<%= @theme == "light_theme" ? "share_with_friends_light.svg" : "share_with_friends.svg"%>" class="float-left mr-2" alt="" title="">	
						<p class="she-col9 font5 float-left mb-0"><!-- Share your code on Social Media and have friends subscribe to ShemarooMe at a <span class="shemaroo-color8 font-rcb">20%</span> discount --> <%#= get_lang_string("refer_friend")%>
							 <%=  $region == "IN" ?   get_lang_string("in_subscription_referral")   : get_lang_string("us_subscription_referral")%>
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col- app-d-flex align-items-start padding-left-15 padding-right-15 mb-4">
						<img src="/assets/referal/<%= @theme == "light_theme" ? "earn_money_light.svg" : "earn_money.svg"%>"  class="float-left mr-2" alt="" title="">	
						<p class="she-col9 font5 float-left mb-0"><!-- You earn <span class="shemaroo-color8 font-rcb">20%</span> when anyone subscribes using your code --><%#= get_lang_string("20_referral_earn")%>
							<%=  $region == "IN" ?    get_lang_string("in_referral_earn")  : get_lang_string("us_referral_earn")%>
						</p>
					</div>
				</div>
			</div>
			<p class="float-left w-100 she-col9 font-rcb font2 text-center mb-4"><%=get_lang_string("get_started")%></p>
			<div class="float-left w-100 referal_form_wrap">
			  <div class="form-group row mb-3">
			    <label for="first_name" class="col-form-label font-rcb she-col9 font4"><%=get_lang_string("first_name")%> <span class="font4">*</span></label>
			    <div class="ml-2" style="padding: 2px;">
			      <input type="text" class="form-control font4 txtOnly" id="ref_first_name" value="" >
			      <label class="error" id="fname_error">First name is required</label>
			    </div>	
			  </div>
			  <div class="form-group row mb-3">
			    <label for="last_name" class="col-form-label font-rcb she-col9 font4"><%=get_lang_string("last_name")%> <span class="font4">*</span></label>
			    <div class="ml-2" style="padding: 2px;">
			      <input type="text" class="form-control font4" id="ref_last_name" value="" onkeypress='return validateSpecialCharNum(event);'>
			      <label class="error" id="lname_error">last name is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label for="email_id" class="col-form-label font-rcb she-col9 font4"><%=get_lang_string("emil_id")%><span class="font4">*</span></label>
			    <div class="ml-2" style="padding: 2px;">
			      <input type="email" class="form-control font4" id="ref_email" value="<%=@user_det['user_type'] == "email" ? "#{@user_det['email_id']}" : ""%>" <%=@user_det['email_id'].present? ? "readonly" : ""%>>
			      <label class="error" id="email_error">Email  is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label for="mobile_no" class="col-form-label font-rcb she-col9 font4"><%=get_lang_string("mobile_number")%> <span class="font4">*</span></label>
			    <div class="ml-2" style="padding: 2px;">
			      <input type="text" class="form-control font4" id="ref_mobile_no" maxlength="10" value="<%=@user_det['user_type'] == "msisdn" ? get_mobno_widout_country_code(@user_det) : ""%>" <%=@user_det['user_type'] == "msisdn" ?  "readonly" : "" %>>
			      <label class="error" id="phone_error">Phone no is required</label>
			    </div>
			  </div>
			  <div class="form-group row mb-3">
			    <label class="col-form-label"></label>
			    <div class="custom-controls-stacked margin-bottom-10">
			      
	          <label class="custom-control overflow-checkbox">
	            <input type="checkbox" class="overflow-control-input" checked="" id="get_start_agree_terms">
	            <span class="overflow-control-indicator"></span>
	            <span class="overflow-control-description font-semibold w-100"><%= get_lang_string("accept")%><a href="/referal_terms_conditions" class="font-semibold" target="blank"><%= get_lang_string("terms_conditions")%></a></span>
	          </label>
	          <label class="error" id="term_n_cond">Please accept, Terms and Conditions</label>
			    </div>
			  </div>
			  <p class="float-left w-100 app-d-flex h-center text-center mt-3 pt-1 mb-5 pb-3" style="margin-bottom: 3.4%;"><a class="btn btn-primary shemaroo-color6 float-left app-d-flex hv-center text-uppercase font-rcb" id="ref_sub"><%=get_lang_string("generate_code")%></a></p>			
			</div>	

<!-- FAQ -->
			<div id="faqs" class="float-left w-100 faq_wrap faq_top_gap">
				<h2 class="she-col9 font3 font-rcb mb-4"><%= get_lang_string("faq")%></h2>
			<% if $region == "US" %>
			    <div id="accordion" class="float-left w-100">
					<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse1">
			              1.&nbsp;&nbsp;&nbsp;What is the validity of my referral code?
			            </a>
			          </div>
			          <div id="collapse1" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			              <p class="margin-bottom-0 she-col93">
			                Referral code does not have an expiry date unless the discontinuation of the referral program.
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse2">
			              2.&nbsp;&nbsp;&nbsp;How can an iOS customer use the referral code to avail the discount?
			              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or iOS Users:
			            </a>
			          </div>
			          <div id="collapse2" class="collapse" data-parent="#accordion">
			            <div class="card-body">		  		            
							      <p class="font5 she-col93 pl-3">• iOS users: You can avail the offer on this website - www.shemaroome.com.</p>
							      <p class="font5 she-col93 pl-3">• Register your account and go to ‘View Plans’ and choose any plan and proceed</p>
							      <p class="font5 she-col93 pl-3">• On summary screen, enter the PROMOCODE</p>
							      <p class="font5 she-col93 pl-3">• Click ‘Pay Now’ to make the payment and enjoy content on ShemarooMe</p>
							      <p class="font5 she-col93 pl-3">• Go to AppStore and download the application on iPhone or iPad – ShemarooMe</p>
							      <p class="font5 she-col93 pl-3">• Log in using your User Id & Password and enjoy unlimited entertainment on ShemarooMe!</p>
			              
			            </div>
			          </div>
			        </div>
			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse3">
			              3.&nbsp;&nbsp;&nbsp;Is my referral code valid in a different country?
			            </a>
			          </div>
			          <div id="collapse3" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			              <p class="margin-bottom-0 she-col93">
			                The referral codes are a specific to a geographic region. Referral generated by an Indian user in India will not be applicable in the US or any other country and vice versa.
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse4">
			              4.&nbsp;&nbsp;&nbsp;How do I transfer the reward money to my account?
			            </a>
			          </div>
			          <div id="collapse4" class="collapse" data-parent="#accordion">
			            <div class="card-body">		          
							     	<p class="font5 she-col93">Follow the guided steps on ShemarooMe</p>
								    <p class="font5 she-col93 pl-3">• Enter your PayPal account details carefully</p>
						<!-- 		    <p class="font5 she-col93 pl-3">    • Upload a self-attested copy of your W9 Form, only if the reward payout crosses $600 for the financial year</p> -->
								    <p class="font5 she-col93 pl-3">• Raise a reward money withdrawal money request</p>
								    <p class="font5 she-col93 pl-3">• Sit back and relax, money will be credited in your account within 10-12 business days</p>
			            </div>
			          </div>
			        </div>
			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse5">
			              5.&nbsp;&nbsp;&nbsp;What all details are needed to initiate reward money transfer?
			            </a>
			          </div>
			          <div id="collapse5" class="collapse" data-parent="#accordion">
			            <div class="card-body">		              
			              <p class="font5 she-col93">Name of the user</p>
			              <p class="font5 she-col93">PayPal account details of the user</p>
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="card-hidden" style="display: none;">
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse6">
				              6.&nbsp;&nbsp;&nbsp;How many days it will take for the reward money to reflect in my account?
				            </a>
				          </div>
				          <div id="collapse6" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">
				                It can take up to 10-12 business days for the money to reflect in the account after the withdrawal request is made.
				              </p>
				            </div>
				          </div>
				        </div>
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse7">
				              7.&nbsp;&nbsp;&nbsp;On which devices can I avail this offer?
				            </a>
				          </div>
				          <div id="collapse7" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">• Android Smart Phone users can avail the offer on ShemarooMe app available in Google Playstore.</p>
				              <p class="margin-bottom-0 she-col93">• iOS users can avail the offer on www.shemaroome.com website. </p>
				              <p class="margin-bottom-0 she-col93">• Desktop/laptop users can avail the offer on www.shemaroome.com website.</p>
				            </div>
				          </div>
				        </div>
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse8">
				              8.&nbsp;&nbsp;&nbsp;How frequently will I receive reward money in my bank account?
				            </a>
				          </div>
				          <div id="collapse8" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">Money will be transferred on a weekly basis.</p>
				              <p class="margin-bottom-0 she-col93">User must earn a minimum of USD 25 as reward money to be able to receive money in the bank account. Once the user has earned the required amount, ShemarooMe will initiate the transfer automatically. </p>
				            </div>
				          </div>
				        </div>
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse9">
				              9.&nbsp;&nbsp;&nbsp;What is the minimum amount of reward money to earn weekly to receive money in the bank account? 
				            </a>
				          </div>
				          <div id="collapse9" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">A user must earn a minimum of USD 25 as reward weekly to receive money in the bank account.</p>
				            </div>
				          </div>
				        </div>
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse10">
				              10.&nbsp;&nbsp;&nbsp;Where do I see my earnings? 
				            </a>
				          </div>
				          <div id="collapse10" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">After sharing the referral code in your social circle, you can check your earnings regularly by accessing ‘My Earnings’ option in the referral section on ShemarooMe.</p>
				            </div>
				          </div>
				        </div>
				        <div class="card mb-2">
				          <div class="card-header">
				            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse11">
				              11.&nbsp;&nbsp;&nbsp;Where can I post my questions and grievances?
				            </a>
				          </div>
				          <div id="collapse11" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				              <p class="margin-bottom-0 she-col93">Please send an email to support@shemaroome.com with your account details and your concern</p>
				            </div>
				          </div>
				        </div>
				      </div> 
				</div>
				<% else %> <!-- India -->			

				 <div id="accordion" class="float-left w-100">
					<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link font4 she-col93" data-toggle="collapse" href="#collapse1">
			              1.&nbsp;&nbsp;&nbsp;What is the validity of my referral code?
			            </a>
			          </div>
			          <div id="collapse1" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			              <p class="margin-bottom-0 she-col93">
			                <p>Referral code does not have an expiry date unless the referral program is discontinued by ShemarooMe.</p>
			              </p>
			            </div>
			          </div>
			        </div>

			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse2">
			              2.&nbsp;&nbsp;&nbsp;How can an iOS customer use the referral code to avail the discount?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or iOS Users: 
			            </a>
			          </div>
			          <div id="collapse2" class="collapse" data-parent="#accordion">
			            <div class="card-body">		              
			              <p class="font5 she-col93  pl-3">•iOS users: To avail the offer, open www.shemaroome.com on your browser</p>
										<p class="font5 she-col93 pl-3">• Signup and go to ‘View Plans’. Choose any plan and proceed.</p>
										<p class="font5 she-col93 pl-3">• On summary screen, enter the PROMOCODE. </p>
										<p class="font5 she-col93 pl-3">• Click ‘Pay Now’ to make the payment and enjoy content on ShemarooMe</p>
										<p class="font5 she-col93 pl-3">• Go to AppStore and download ShemarooMe app on iPhone or iPad</p>
										<p class="font5 she-col93 pl-3">• Log in using same credentials you used on the browser and enjoy unlimited entertainment on ShemarooMe!</p>
			            </div>
			          </div>
			        </div>

							<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse3">
			              3.&nbsp;&nbsp;&nbsp;Is my referral code valid in a different country?
			            </a>
			          </div>
			          <div id="collapse3" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			              <p class="mb-0 she-col93">
			                The referral codes are a specific to geographic region. Referral codes generated in India will not be applicable in the US or any other country and vice versa.</p>		              
			            </div>
			          </div>
			        </div>

			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse4">
			              4.&nbsp;&nbsp;&nbsp;How do I transfer the reward money to my bank account?
			            </a>
			          </div>
			          <div id="collapse4" class="collapse" data-parent="#accordion">
			            <div class="card-body">		              
										<p class="font5 she-col93">Follow the guided steps on ShemarooMe </p>
										<p class="font5 she-col93 pl-3">• Enter your bank account details carefully</p>
										<p class="font5 she-col93 pl-3">• Upload a self-attested copy of your PAN card linked with the same bank account</p>
										<p class="font5 she-col93 pl-3">• Earn a minimum of INR 100 as reward money through referrals. </p>
										<p class="font5 she-col93 pl-3">• it back and relax, money will be credited in your account within 6-8 business days.
			              </p>
			            </div>
			          </div>
			        </div>


			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse5">
			              5.&nbsp;&nbsp;&nbsp;What all details are needed to receive reward money in the bank account? 
			            </a>
			          </div>
			          <div id="collapse5" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			              <p class="font5 she-col93">A self-attested PAN card copy and Bank Account details:</p>
										<p class="font5 she-col93 pl-3">• Name of the beneficiary customer</p>
										<p class="font5 she-col93 pl-3">• Name of the beneficiary bank and branch</p>
										<p class="font5 she-col93 pl-3">• The IFSC number of the receiving branch</p>
										<p class="font5 she-col93 pl-3">• Account number of the beneficiary customer</p>

			            </div>
			          </div>
			        </div>

			        <div class="card-hidden" style="display: none;">
			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse6">
			              6.&nbsp;&nbsp;&nbsp;On which devices can I avail this offer?
			            </a>
			          </div>
			          <div id="collapse6" class="collapse" data-parent="#accordion">
			            <div class="card-body">		              
						    		<p class="font5 she-col93 pl-3">• Android Smart Phone users can avail the offer on ShemarooMe app available in Google Playstore </p>
										<p class="font5 she-col93 pl-3">• iOS users can avail the offer on www.shemaroome.com website</p>
	  								<p class="font5 she-col93 pl-3">• Desktop/laptop users can avail the offer on www.shemaroome.com website</p>
			            </div>
			          </div>
			        </div>

			        <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse7">
			              7.&nbsp;&nbsp;&nbsp;How frequently will I receive reward money in my bank account? 
			            </a>
			          </div>
			          <div id="collapse7" class="collapse" data-parent="#accordion">
			            <div class="card-body">		                    
										<p class="font5 she-col93 pl-3">• Money will be transferred on a weekly basis. </p>
										<p class="font5 she-col93 pl-3">• User must earn a minimum of INR 100 as reward money to be able to receive money in the bank account. Once the user has earned the required amount, ShemarooMe will initiate the transfer automatically.</p>
			            </div>
			          </div>
			        </div>

							<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse8">
			              8.&nbsp;&nbsp;&nbsp;What is the minimum amount of reward money to earn weekly to receive money in the bank account? 
			            </a>
			          </div>
			          <div id="collapse8" class="collapse" data-parent="#accordion">
			            <div class="card-body">		
			             <p class="font5 she-col93">A user must earn a minimum of INR 100 as reward weekly to receive money in the bank account. </p>
			            </div>
			          </div>
			        </div>


	  					<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse9">
			              9.&nbsp;&nbsp;&nbsp;Where do I see my earnings?
			            </a>
			          </div>
			          <div id="collapse9" class="collapse" data-parent="#accordion">
			            <div class="card-body">		              
										<p class="font5 she-col93">After sharing the referral code in your social circle, you can check your earnings regularly by accessing ‘My Earnings’ option in the referral section on ShemarooMe. </p>
			            </div>
			          </div>
			        </div>

							<div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse10">
			              10.&nbsp;&nbsp;&nbsp;Where can I post my questions and grievances?
			            </a>
			          </div>
			          <div id="collapse10" class="collapse" data-parent="#accordion">
			            <div class="card-body">
			  						<p class="font5 she-col93">Please send an email to support@shemaroome.com with your account details and your concern</p>
			            </div>
			          </div>
			        </div>

				      <div class="card mb-2">
			          <div class="card-header">
			            <a class="card-link she-col93" data-toggle="collapse" href="#collapse11">
			              11.&nbsp;&nbsp;&nbsp;How many days will it take for the reward money to reflect in my bank account?
			            </a>
			          </div>
			          <div id="collapse11" class="collapse" data-parent="#accordion">
			            <div class="card-body">		    
			              <p class="font5 she-col93">It can take up to 6-8 business days for the money to reflect in the beneficiary account.</p>
				          </div>
				        </div>
				      </div>
				    </div>  
				</div>



			<% end %>


				<p class="float-left w-100 text-center mt-3 font4 <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color3 "%>">
					<a href="javascript:void(0);" class="<%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color3 "%> more_faq">
						<span id="more_faq">View more FAQ’s</span>
						<span id="less_faq" style="display: none;">View less FAQ’s</span>
					<i class="fa fa-angle-down font1 w-100" aria-hidden="true"></i></a> 
				</p>
			</div>
		</div>
	</div>
</div>
  <input type="hidden" id="generate_code"  value="<%=get_lang_string("generate_code")%>">
  <input type="hidden" id="first_name_blank"  value="<%=get_lang_string("first_name_blank")%>">
	<input type="hidden" id="first_name_length"  value="<%=get_lang_string("first_name_length")%>">
	<input type="hidden" id="email_blank"  value="<%=get_lang_string("email_blank")%>">
	<input type="hidden" id="mobile_blank"  value="<%=get_lang_string("mobile_blank")%>">
	<input type="hidden" id="mobile_length"  value="<%=get_lang_string("mobile_length")%>">
	<input type="hidden" id="accept_terms"  value="<%=get_lang_string("accept_terms")%>">
	<input type="hidden" id="last_name_blank"  value="<%=get_lang_string("last_name_blank")%>">

<script>
	$(document).ready(function() {
		$(".more_faq").click(function(e) {
			$(".card-hidden").toggle();
			$(this).find("span#more_faq").toggle();
			$(this).find("span#less_faq").toggle();
			$(this).find("i").toggleClass("fa-angle-down");
			$(this).find("i").toggleClass("fa-angle-up");
			
		});	
		$( ".txtOnly" ).keypress(function(e) {
			console.log("dsfs")
		  var key = e.keyCode;
		  if (key >= 48 && key <= 57) {
		    e.preventDefault();
		  }
		});
		
	});
	//Start For Andriod set the cookies
$(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     $('.header-section, .footer-section,.ft_sec,.contest-fixedbox').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector, .referal_page').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60').addClass("mobile-padding-top-15");
    $(".referal_page .poster img").addClass("mt-0");
    $(".navbar-nav-scroll").remove();
  }
});

//End For Andriod set the cookies

</script>
<script type="text/javascript">


/*function validateSpecialCharNum(event) {
	console.log("sdfsdsf");
    var regex = new RegExp("^[a-zA-Z ]+$");    
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key) ) {      
      event.preventDefault();
      return false;
  }              
}*/

</script>
