<%
meta title: "User Register",
     description: "Register",
     keywords: %w(Register)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15 register_page">
           <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <h2 class="block margin-bottom-10"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="back arrow" title="back arrow"> --> Register</h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
            <div class="w-100 all_error padding-left-30 padding-right-30" >
                <label class="error" id="signup_resp_error_msg">Invalid Credentials</label>
              </div>
              <div class="pull-left w-100 padding-left-28 padding-right-26 margin-top-0">
              <div class="input-group name">
                <input type="text" id="user_name" name="user name" class="form-control" maxlength="50" required="true" onkeypress='return validateSpecialChar(event);' autocomplete="new-username"> 
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Name</span> 
                <label class="error" id="signup_user_name_error">This field is mandatory</label>
              </div>
              <%if $region == "IN"%>
              <div class="input-group country">
                <input type="text" id="country_code" name="country_code" class="form-control" value="+910" readonly autocomplete="new-countrycode"> 
                <input type="number" id="mobile_number" name="mobile no" class="form-control" onfocus="countryCode(this)"> 
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Mobile Number</span>
                <!-- <span id="hint_mobile_number" class="hint_txt">Enter the mobile number associated with your ShemarooMe account</span> -->
                <label class="error" id="signup_mobile_number_error">This field is mandatory</label>
                <input type="hidden" value="10" class="max_digits">
              </div>
             <%elsif  $region == "BD" %>
               <div class="input-group country">
                <input type="text" id="country_code" name="country_code" class="form-control" value="+<%=@calling_code%>" readonly autocomplete="new-countrycode"> 
                <input type="number" id="mobile_number" name="mobile no" class="form-control" onfocus="countryCode(this)"> 
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Mobile Number</span>
                <!-- <span id="hint_mobile_number" class="hint_txt">Enter the mobile number associated with your ShemarooMe account</span> -->
                <label class="error" id="signup_mobile_number_error">This field is mandatory</label>
                <input type="hidden" value="<%=@max_digits%>" class="max_digits">
              </div>
              <%else%>

              <div class="input-group email">
                <input type="email" id="user_email" name="user email" class="form-control" required="true"  autocomplete="new-email">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Email</span> 
                <!-- <span id="hint_user_email" class="hint_txt">Enter the email address associated with your ShemarooMe account</span> -->
                <label class="error" id="signup_user_email_error">This field is mandatory</label>
              </div>
              <%end%>
              <div class="input-group pwd hide_password_group">
                <input type="password" id="password" name="password" class="form-control" maxlength="20" autocomplete="new-password">
                <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Password</span>
                <span id="hint_password" class="hint_txt">Minimum 6 characters</span>
                <label class="error" id="signup_password_error">Please enter the password</label> 
              </div>
              <div class="input-group cpwd hide_password_group">
                <input type="password" id="confirm_password" name="confirm password" class="form-control margin-bottom-15" maxlength="20" autocomplete="new-confirmpassword"> 
                <img src="/assets/hide_password.svg" class="password_toggle" alt="hide confirm password" title="hide confirm password">
                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show confirm password" title="show confirm password">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="input-label">Confirm Password</span>
                <label class="error" id="signup_confirm_password_error">This field is mandatory</label> 
              </div>
              <div class="input-group custom-controls-stacked d-block margin-bottom-15">
              <label class="custom-control overflow-checkbox">
                  <input type="checkbox" class="overflow-control-input" id="agree_terms">
                  <span class="overflow-control-indicator"></span>
                  <span class="overflow-control-description">I agree to the <a href="/terms-and-conditions" class="text-uppercase" target="blank">terms of use </a>and <a href="/privacy-policy" class="text-uppercase" target="blank">privacy policy</a></span>
                </label>
               <label class="error" id="terms_check">Please check the terms of use</label> 
              </div>
              <div class="inline-block w-100 text-center margin-bottom-5 margin-top-25 light">
                <!-- <a href="javascript:void(0)" class="inline-block text-uppercase gradient-button1" id="user_register">
                  <span id="register_text">Register</span>
                </a> -->
                <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_register">Register</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>

<div class="modal" id="reg_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" aria-label="Close" id="user_email_close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="margin-bottom-20 margin-top-25">Congratulations!</h5>
        <img src="/assets/transaction_successful.svg" class="plans_pop_image margin-top-10 margin-bottom-5" alt="congratulations" title="congratulations">
        <p class="pull-left w-100 margin-top-25 margin-bottom-25 font-medium">Your Email id has been successfully registered</p>
        <div class="pull-left w-100 inline-block margin-top-5 margin-bottom-20 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_email_process">proceed</a>
          </p>
        </div>
        </div>      
    </div>
  </div>
</div>

  </section>
</div>
<%=render "validate_mobile_number"%>
<script type="text/javascript">

function countryCode() {
  $("#country_code").show();
  $("#mobile_number").css({"padding":"5px 5px 5px 0px"});
}

$( "#mobile_number" ).focusout(function() { 
    if($(this).val().length) {
      //$("#login_mobile_number").parents(".input-group").children('.fa-circle').hide();
      $("#country_code").show();
      $("#mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px"})        
    }
    else {
      //$("#login_mobile_number").parents(".input-group").children('.fa-circle').show();
      $("#country_code").hide();
      $("#mobile_number").css({"padding":"5px 5px 5px 10px"});
      $("#mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
    }
 });

$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();




  $("#user_name,#user_email,#mobile_number,#password,#confirm_password").focusin(function(){
    id = $(this).attr("id");
     $("#signup_"+id+"_error").hide();
     $("#hint_"+id).show();
   })
  /*
   $("#user_email").focusin(function(){
     $("#signup_user_email_error").hide();
   })
   $("#mobile_number").focusin(function(){
     $("#signup_mobile_number_error").hide();
   })
   $("#password").focusin(function(){
     $("#signup_password_error").hide();
   })
   $("#confirm_password").focusin(function(){
     $("#signup_confirm_password_error").hide();
   }) */


   $("#user_name,#user_email,#mobile_number,#password,#confirm_password").focusout(function(){
    id = $(this).attr("id");
    val = $(this).val();
    if(!val.length){
      $("#signup_"+id+"_error").text("This field is mandatory").show();
      $("#hint_"+id).hide();
    }
    else{
      $("#signup_"+id+"_error").hide();
      if(id == "user_email"){
        var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if(!regex_email.test($("#user_email").val())){
          $("#signup_user_email_error").text("Please enter a valid email address").show();         
        }
      }
      else if(id == "mobile_number"){
        $("#signup_"+id+"_error").hide();
        if($("#mobile_number").val().length != 10){
          $("#signup_mobile_number_error").text("Please enter your 10 digit mobile number").show();          
        }
      }
      else if(id == "password"){
        $("#signup_"+id+"_error").hide();
        if($("#password").val().length < 6){
          $("#signup_password_error").text("Minimum length of 6 characters is mandatory").show();
          $("#hint_password").hide();
        }
      }
      else if(id == "confirm_password"){
        $("#signup_"+id+"_error").hide();
        if($("#confirm_password").val().length < 6){
          $("#signup_confirm_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
        else if(($("#password").val().length < 6 ) ||  (!$("#password").val().length)){
          $("#signup_confirm_password_error").hide();          
        }
        else if($("#password").val() != $("#confirm_password").val()){
          $("#signup_confirm_password_error").text("Passwords do not match").show();          
        }
      }
    }
  });
   /*
  $("#user_email").focusout(function(){
  var input = $(this).val().length
    if(!input){
      $("#signup_user_email_error").text("This field is mandatory").show();
    }
    else{
      $("#signup_user_email_error").hide();
      var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      if(!regex_email.test($("#user_email").val())){
        $("#signup_user_email_error").text("Invalid email address").show();
      }
    }

  });
  $("#mobile_number").focusout(function(){
  var input = $(this).val().length
    if(!input){
      $("#signup_mobile_number_error").text("This field is mandatory").show();
    }
    else{
      $("#signup_mobile_number_error").hide();
      if($("#mobile_number").val().length != 10){
          $("#signup_mobile_number_error").text("Invalid mobile number").show();
        }
    }
  });
  $("#password").focusout(function(){
    if(!$(this).val().length){
      $("#signup_password_error").text("This field is mandatory").show();
    }
    else{
      $("#signup_password_error").hide();
      if($("#password").val().length < 6){
        $("#signup_password_error").text("Minimum length of 6 characters is mandatory").show();
      }
    }
  });
  $("#confirm_password").focusout(function(){
    if(!$(this).val().length){
      $("#signup_confirm_password_error").text("This field is mandatory").show();
    }
    else{
      $("#signup_confirm_password_error").hide();
      if($("#confirm_password").val().length < 6){
        $("#signup_confirm_password_error").text("Minimum length of 6 characters is mandatory").show();
      }
      else if($("#password").val() != $("#confirm_password").val()){
        $("#signup_confirm_password_error").text("Passwords don't match").show();
      }
    }
  }); */



  // var user_email = $('#user_email').val();
  // var inputlenth = $('#user_email').val().length;
  // var mobile_number = $('#user_email').val();
  // var inputlenth2 = $('#mobile_number').val().length;
  // var user_name = $('#user_name').val();
  // var inputlenth3 = $('#user_name').val().length;

  var user_region = "<%= $region %>";

  if (user_region == "IN") {
    var mobile_number = $('#user_email').val();
    var inputlenth2 = $('#mobile_number').val().length;
    
    if(inputlenth2) {
      //$("#mobile_number").parents(".input-group").children('.fa-circle').hide();
      $('#mobile_number').css({"padding":"5px 5px 5px 0px"});
      $("#country_code").show();
      $("#mobile_number").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
      $("#mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"})        
    }
    else {
      //$("#mobile_number").parents(".input-group").children('.fa-circle').show();
      $("#country_code").hide();
      $('#mobile_number').css({"padding":"5px 5px 5px 10px"});
      $("#mobile_number").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"}); 
      $("#mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
    }
  }  
  else {
    if($('#user_email').val().length) {
      //$("#user_email").parents(".input-group").children('.fa-circle').hide();
      $('#user_email').css({"padding":"5px"});
      $("#user_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
      $("#user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
    }
    else {
      $('#user_email').css({"padding":"5px 5px 5px 10px"});
      $("#user_email").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
      $("#user_email").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
    }
  }


  if($('#user_name').val().length) {
    $('#user_name').css({"padding":"5px"});
    $("#user_name").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
    $("#user_name").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#user_name').css({"padding":"5px 5px 5px 10px"});
    $("#user_name").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
    $("#user_name").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
  }

});

</script>