 <%
meta title: "User Registered Devices",
     description: "User Registered Devices",
     keywords: %w(User Registered Devices)
%>
<section class="onboarding-bg min-height-div padding-top-85 padding-top-135">
  <div class="onboarding-payment-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
        <h2 class="pull-left w-100 margin-bottom-10 app_registered_device"><%= get_lang_string("registered_device")%></h2>
        <div class="w-100 pull-left tile-box-shadow padding-left-30 settings_page padding-right-30 padding-bottom-15 padding-top-25 registered_devices_page rounded">
          <ul class="list-none padding-left-0 pull-left w-100 font-mregular">
            <%@registered_devices['data'].each_with_index do |r,index|%>
              
                <li class="pull-left w-100 iphone_device" id="<%=r['session_id']%>">
                  <% image_name, c_name = get_device_img(r)%>
                  <img src="/assets/<%=image_name%>" class="pull-left <%=c_name%>" alt="" title="">
                  <span class="pull-left normal_txt"><%= r['device_name']%></span>
                  <%if r['is_deletable'] == false%>
                    <span class="pull-left active_device margin-left-15"><%= get_lang_string("this_device")%></span>
                  <%end%>
                  <%if r['is_deletable'] == true%>
                    <span class="pull-right normal_txt">
                      <a href="javascript:;" class="text-uppercase font-medium delete_device" id="<%=r['session_id']%>">
                        <img src="/assets/delete.png" alt="" title="" class="img_light" style="display: none !important;">
                         <img src="/assets/delete-dark.svg" alt="" title="" class="img_dark" style="display: none !important;">
                      </a>
                    </span>
                  <%end%>
                </li>
              
            <%end%>
            <!--<li class="pull-left w-100 iphone_device">
              <img src="/assets/iphone_icon.svg" class="pull-left" alt="" title="">
              <span class="pull-left normal_txt">iPhone</span>
              <span class="pull-left active_device margin-left-15">This Device</span>
              <span class="pull-right normal_txt">
                <a href="javascript:;" class="text-uppercase font-medium iphone_delete"><img src="/assets/delete.png" alt="" title=""></a>
              </span>
            </li>
            <li class="pull-left w-100 tv_device">
              <img src="/assets/tv_icon.svg" class="pull-left" alt="" title=""><span class="pull-left normal_txt">Mi TV</span>
              <span class="pull-right normal_txt">
                <a href="javascript:;" class="text-uppercase font-medium mitv_delete"><img src="/assets/delete.png" alt="" title=""></a>
              </span>
            </li>
            <li class="pull-left w-100 android_device">
              <img src="/assets/android_phone_icon.svg" class="pull-left" alt="" title=""><span class="pull-left normal_txt">Roku TV</span>
              <span class="pull-right normal_txt">
                <a href="javascript:;" class="text-uppercase font-medium rokutv_delete"><img src="/assets/delete.png" alt="" title=""></a>
              </span>
            </li>
            <li class="pull-left w-100 android_device">
              <img src="/assets/android_phone_icon.svg" class="pull-left" alt="" title=""><span class="pull-left normal_txt">Fire TV Stick</span>
              <span class="pull-right normal_txt">
                <a href="javascript:;" class="text-uppercase font-medium firetv_delete"><img src="/assets/delete.png" alt="" title=""></a>
              </span>
            </li> -->
          </ul>          
        </div>
      </div>
    </div>
  </div>

  <div class="toster-message-wrap device_toaster">
    <div class="center-align-content">
      <div class="toster-message app-d-flex hv-center">
        <img src="/assets/password_updated.svg" alt="updated" title="updated">
        <p>
          <%= get_lang_string("device_delete")%>
        </p>
      </div>
    </div>  
  </div>

</section>

<div class="modal" id="remove-device-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h6 class="margin-bottom-10 margin-top-5"><%= get_lang_string("remove_device_1")%></h6>
         <% device =  get_lang_popup("remove_device")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
           <%= device['title_text'] %>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="remove_device_cancel"><%= device['negative'] %></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="remove_device_confirm"><%= device['positive'] %></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    theme = getShemarooCookies().theme_option
    if (theme == "dark_theme"){
        $(".img_dark").show()
        $(".img_light").remove()
    }else{
        $(".img_dark").remove()
        $(".img_light").show()
    }
    var attr_id = "";
    var no_of_devices = "<%=@registered_devices['data'].count%>"
    no_of_devices = parseInt(no_of_devices)
    var browser_type = "<%=params[:browser]%>";
    $(".delete_device").click(function(){
       attr_id = $(this).attr("id")
      //alert(attr_id)
      $("#remove-device-pop").modal("show");
    })
    //alert(attr_id)
    $("#remove_device_cancel").click(function(){
      $("#remove-device-pop").modal("hide");
    })
    var window_height = window.outerHeight;
    var window_height = window_height - 153;
    $('.min-height-div').css('min-height',window_height+'px');
    $("#remove_device_confirm").click(function(){
      $("#remove_device_confirm").text("<%= device['positive'] %>...")
      //alert(attr_id)
      $.ajax({
        type: 'POST',
        url: '/users/registered_devices',
        data: {
          device_session_id: attr_id
        },
        success: function(response){
          if(response.status == true){
            if(response.device_count == "5"){
              if(browser_type == "ios"){
                window.webkit.messageHandlers.deviceStatus.postMessage("true");
              }
              if(getShemarooCookies().mobile_browser_type == "android"){
                Android.success("device deleted successfully");
              }
            }
            if(localStorage.getItem("max_device_limit_reached") != undefined){
              localStorage.removeItem("max_device_limit_reached") 
            } 
            $("#remove_device_confirm").text("<%= device['positive'] %>");
            $("#"+attr_id).remove();
            //location.reload(); 
            $("#remove-device-pop").modal("hide");
            $(".device_toaster").show().fadeOut(4500);
            $(".header-section, .footer-section").css({"filter":"blur(0px)","pointer-events":"auto"});
          }
        }
      }) 
    }) 
    var max_device_limit =  localStorage.getItem("max_device_limit_reached")
    if(no_of_devices <= 4){
      if(localStorage.getItem("max_device_limit_reached") != undefined){
        localStorage.removeItem("max_device_limit_reached") 
      } 
    }
    if(max_device_limit != undefined && max_device_limit != null && max_device_limit == "true" && no_of_devices >= 5){
      $(".header-section, .footer-section").css({"filter":"blur(3px)","pointer-events":"none"});
    }

  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var theme = "<%=params[:theme_option]%>"
  var lng_type = "<%=params[:lang].present? ? "#{params[:lang]}" : "en"%>"
  if(login_user_id.length != 0){
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $('.header-section, .footer-section, .ft_sec,.contest-fixedbox').hide();
     $("h2.app_registered_device").hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
     $(".app_registered_device").css("margin-top","15px");
     $(".navbar-nav-scroll").remove();
     //$(".onboarding-bg").css("background", "#fff");
     $(".onboarding-payment-contianer").css("padding", "15px !important")
     $.cookie('shm_sel_lang',lng_type, { expires: 14,path: '/'});
     //$.cookie('user_region',user_region, { expires: 14,path: '/'});
  }
  if (getShemarooCookies().theme_option == "light_theme"){
    $(".onboarding-bg").css("background", "#fff")
  }
  });


    

</script>