<%
meta title: "Verify PIN",
     description: "Verify PIN",
     keywords: %w(Verify PIN)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-10">
          <h2 class="block margin-bottom-10">Enter PIN</h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-28 padding-right-28 padding-bottom-30 padding-top-30 rounded otp-verification-page create-pin-page">
            <span class="pull-left w-100 margin-bottom-20 font-mregular">
              Please enter your  Parental Control PIN to remove parental control pin
            </span>
            <div class="input-group padding-bottom-30">
              <input type="text" id="first_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="second_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="third_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="fourth_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>        
              <label class="error text-center" id="remove_pin_error">Please enter the  valid 4 digit pin</label>
            </div>
            <input type="hidden" id="rmv_parental_pin" value="<%= @parental_pin %>">
            <div class="text-center light">
              <div class="inline-block margin-top-10 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="remove_pin">confirm</a>
                </p>
              </div>
            </div>
            <div class="pull-left w-100 text-center margin-top-25" id="forgot_pin_div" style="display: none">     
              <a href="/users/forgot_pin" class="text-uppercase">forgot PIN</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "validate_mobile_number"%>
  </section>
</div>

<script type="text/javascript">

  function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
    //console.log(target.previousSibling.previousSibling);    
    var prevElement = target.previousSibling.previousSibling
    if(prevElement != null) {
      prevElement.focus();  
    }
        
  } 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}


</script>

