<%
meta title: "Reset PIN",
     description: "Reset PIN",
     keywords: %w(Reset PIN)
%>

<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10 font-bold"><%= get_lang_string("reset_pin")%></h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-28 padding-right-28 padding-bottom-30 padding-top-30 rounded otp-verification-page create-pin-page">
            <span class="pull-left w-100 margin-bottom-25 font-mregular">
              <%= get_lang_string("create_parental_pin_1")%>
            </span>
            <span class="pull-left w-100 margin-bottom-10 font-mregular"><%= get_lang_string("old_pin")%></span>
            <div class="pull-left w-100 relative-content">
              <div class="w-100 all_error padding-left-0 padding-right-0" style="text-align: center;margin-top: -14px">
                  <label class="error" id="parental_pin_errors_msg">Invalid Credentials</label>
              </div> 
              <div class="float-left w-100 pt-3">
                <div class="input-group margin-bottom-15">
                  <input type="text" id="first_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                  <input type="text" id="second_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                  <input type="text" id="third_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                  <input type="text" id="fourth_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>        
                  <!-- <span class="pull-left w-100 text-center font-mregular" id="timer">00:60</span> -->
                  <label class="error text-center" id="pin_errors"><%= get_lang_string("mandatory_info")%></label>
                  <!--label class="error text-center" id="resend_otp_msg"--></label>
                </div>
              </div>  
              <span class="pull-left w-100 margin-bottom-10 font-mregular">
                <%= get_lang_string("new_pin")%>
              </span>
              <div class="input-group margin-bottom-15">
                <input type="text" id="new_first_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="new_second_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="new_third_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="new_fourth_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>        
                <!-- <span class="pull-left w-100 text-center font-mregular" id="timer">00:60</span> -->
                <label class="error text-center" id="new_pin_errors"><%= get_lang_string("mandatory_info")%></label>
                <!--label class="error text-center" id="resend_otp_msg"--></label>
              </div>
               <span class="pull-left w-100 margin-bottom-10 font-mregular">
                <%= get_lang_string("confirm_new_pin")%>
              </span>
              <div class="input-group margin-bottom-25">
                <input type="text" id="cnfrm_first_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="cnfrm_second_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="cnfrm_third_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                <input type="text" id="cnfrm_fourth_pn_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>        
                <!-- <span class="pull-left w-100 text-center font-mregular" id="timer">00:60</span> -->
                <label class="error text-center" id="cnfrm_pin_errors"><%= get_lang_string("mandatory_info")%></label>
                <!--label class="error text-center" id="resend_otp_msg"--></label>
              </div>
              <input type="hidden" id="parental_pin" value="<%= @parental_pin %>">
              <input type="hidden" id="parental_control" value="<%=  @parental_control %>">


              <div class="text-center light">
                <div class="inline-block margin-top-10 margin-bottom-5 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold prim_button" id="forgot_pin_reset_pin"><%= get_lang_string("confirm")%></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="reset_confirm"  value="<%=get_lang_string("confirm")%>">
    <input type="hidden" id="pin_not_matching"  value="<%=get_lang_string("pin_not_matching")%>">
    <input type="hidden" id="not_as_old_pin_1"  value="<%=get_lang_string("not_as_old_pin_1")%>">
    <input type="hidden" id="invalid_old_pin"  value="<%=get_lang_string("invalid_old_pin")%>">
    <input type="hidden" id="enter_4_digit_pin_1"  value="<%=get_lang_string("enter_4_digit_pin_1")%>">

    <%=render "layouts/page_height_setting"%>
    <%=render "validate_mobile_number"%>
    <%=render "check_valid_user"%>
  </section>
</div>

<script type="text/javascript">

  function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
    //console.log(target.previousSibling.previousSibling);    
    var prevElement = target.previousSibling.previousSibling
    if(prevElement != null) {
      prevElement.focus();  
    }
        
  } 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}


</script>