 <section class="onboarding-bg padding-top-80 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- reset_password_page onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
       <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <h2 class="block margin-bottom-10">Reset Password</h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
          <div class="w-100 all_error padding-left-30 padding-right-30" >
            <label class="error rounded text-center" id="rp_bakend_user_errors">Invalid Credentials</label>
          </div>
          <div class="pull-left w-100 padding-left-28 padding-right-28 margin-top-0">
             <div class="input-group">
              <input type="text" id="reset_password_otp" name="" class="form-control" readonly="true"> 
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">OTP</span>
              <label class="error" id="reset_password_otp_error">Please enter the OTP</label>
            </div>
            <div class="input-group hide_password_group">
              <input type="password" id="reset_password" name="" class="form-control" maxlength="20"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">New Password</span>
              <span id="hint_password" class="hint_txt">Minimum 6 characters</span>
              <label class="error" id="reset_password_error">Please enter the new password</label>
            </div>            
            <div class="input-group hide_password_group">
              <input type="password" id="new_reset_password" name="" class="form-control" maxlength="20"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide confirm password" title="hide confirm password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show confirm password" title="show confirm password"> 
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">Confirm Password</span>
              <label class="error" id="new_reset_password_error">Please enter the confirm the password</label>
            </div>
            
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="reset_pass">reset</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%=render "validate_mobile_number"%>
</section>
<script>
  $("#with_header_tabs").hide();
  $(document).ready(function(){
    $("#without_header_tabs").show();

    $("#reset_password_otp").val(localStorage.getItem("user_otp"));
    //localStorage.removeItem("user_otp");
    
    var window_height = window.outerHeight;
    var window_height = window_height - 153;
    $('.min-height-div').css('min-height',window_height+'px');

    if($("#reset_password_otp").val().length) {
      $("#reset_password_otp").parents(".input-group").children('.fa-circle').hide();
      $("#reset_password_otp").css({"pointer-events":"none"});
      $("#reset_password_otp").nextAll(".input-group .input-label").css({"top":"-16px","left":"0px", "font-size":"0.75em"}); 
    }
    else {
      $("#reset_password_otp").parents(".input-group").children('.fa-circle').show();
      $("#reset_password_otp").css({"pointer-events":"auto"});
      $("#reset_password_otp").nextAll(".input-group .input-label").css({"top":"7px","left":"10px",  "font-size":"1em", "pointer-events":"auto"});
    }
  });  
</script>