 <%
meta title: "Reset Password",
     description: "Reset Password",
     keywords: %w(Reset Password)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
 <section class="onboarding-bg padding-top-80 padding-top-100 padding-top-70 min-height-div">
  <div class="onboarding-contianer margin-bottom-30">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
       <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <h2 class="block margin-bottom-10">Reset Password</h2>
        <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-50 rounded">
          <div class="w-100 all_error padding-left-30 padding-right-30" >
            <label class="error" id="rp_bakend_user_errors_email">Invalid Credentials</label>
          </div>
          <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
            <div class="input-group hide_password_group">
              <input type="password" id="reset_password_email" name="" class="form-control"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">New Password</span>
              <label class="error" id="reset_pwd_error_email">Please enter the new password</label>
            </div>            
            <div class="input-group hide_password_group">
              <input type="password" id="new_reset_password_email" name="" class="form-control"> 
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">Confirm Password</span>
              <label class="error" id="new_reset_pwd_email_error">Please enter the confirm the password</label>
            </div>
            
            <div class="text-center margin-bottom-0 margin-top-5 light">         
              <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="reset_pass_email">reset</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%=render "validate_mobile_number"%>
   <%=render "statics/app_static_page"%>
</section>
<script>
  $(document).ready(function(){
    $("#reset_password_email").val("");
    var window_height = window.outerHeight;
    var window_height = window_height - 153;
    $('.min-height-div').css('min-height',window_height+'px');
  });  

$("#with_header_tabs").hide();
$(document).ready(function(){
  $(".main_logo_link").attr("href","javascript:void(0)")
  $("#without_header_tabs").show();  
  });


</script>