<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Select Language</h2>
		  <input type="radio" id="en" name="lang" value="en"  class="usr_lang" checked>
		  <label for="en">English</label><br>
		   <input type="radio" id="hi" name="lang" value="hi" class="usr_lang">
		  <label for="hi">Hindi</label><br>
		  <input type="radio" id="gu" name="lang" value="gu"  class="usr_lang">
		  <label for="gu">Gujarati</label><br>
		  <p><input type="submit" value="Submit" id="lang_sub"></p>
      </div>
  </div>
</div>
</section>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  var lang = getShemarooCookies().shm_sel_lang
	  if(lang != undefined){
	  	$("#"+lang).prop("checked", true);
	  }
	})
	$("#lang_sub").click(function(){
	  var sel_lang = $('.usr_lang:checked').val();
	  $.cookie('shm_sel_lang',sel_lang, { expires: 14,path: '/'});
	  window.location = "/"+sel_lang
	})
</script>