 <%
meta title: "User Settings",
     description: "User Settings",
     keywords: %w(User Settings)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-10">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-30">
          <h2 class="block margin-bottom-10"><%=get_lang_string("settings")%></h2>
          <div class="w-100 pull-left tile-box-shadow padding-left-30 settings_page padding-right-30 padding-bottom-15 padding-top-15 rounded">
            <h5><%=get_lang_string("device_settings")%></h5>
            <ul class="list-none padding-left-0 pull-left w-100 font-mregular">
              <!-- <li class="pull-left w-100 border-bottom">
                <a href="/users/streaming"><span class="pull-left normal_txt">Streaming</span>
                <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
              </li>-->
              <li class="pull-left w-100 border-bottom">
                <a href="<%= get_lang_url("/users/registered_devices")%>"><span class="pull-left normal_txt"><%=get_lang_string("registered_device")%></span>
                <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>
              </li> 
              <li class="pull-left w-100 border-bottom">
                <span class="pull-left normal_txt"><%=get_lang_string("notifications")%></span>
                <div class="custom-controls-stacked pull-right">
                  <label class="custom-control material-switch margin-bottom-0">
                    <input type="checkbox" checked="checked" class="material-switch-control-input">
                    <span class="material-switch-control-indicator"></span>
                  </label>
                </div>
              </li>
              <li class="pull-left w-100 border-bottom">
                <a href="javascript:;" id="clear-watch-history"><span class="pull-left normal_txt"><%=get_lang_string("clear_watch_history")%></span></a>
              </li>
            </ul>
            <h5 class="pull-left w-100 margin-top-10"><%=get_lang_string("privacy_settings")%></h5>
            <%if @is_child_profile != true%>
            <ul class="list-none padding-left-0 pull-left w-100 font-mregular">
              <li class="pull-left w-100 border-bottom">
                <span class="pull-left normal_txt"><%=get_lang_string("parental_control")%></span>
                <div class="custom-controls-stacked pull-right <%#=@parent_control == "true" ? "no-events" : ""%>">
                  <label class="custom-control material-switch margin-bottom-0">
                    <%if @parent_control == "true"%>
                      <input type="checkbox"  class="material-switch-control-input new_parent_cntrl_switch" checked="checked" id=""> 
                    <%else%>
                      <input type="checkbox" class="material-switch-control-input new_parent_cntrl_switch" id="parent_control_switch">
                    <%end%>
                    <span class="material-switch-control-indicator"></span>
                  </label>
                </div>
              </li>
              <%if @parent_control == "true" %>
              <li class="pull-left w-100 border-bottom" id="change_pin_text">
                <a href="javascript:void(0)"><span class="pull-left normal_txt new_parental_change_pin"><%=get_lang_string("change_pin")%></span></a>
              </li>
              <%end%>
            </ul>
            <%end%>
          </div>
        </div>
      </div>    
    </div>  
    
    <div class="toster-message-wrap parental_pin_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
          <p class="settings_page_message">
            <%= get_lang_string("parental_pin_changed")%>
          </p>
        </div>
      </div>  
    </div>
    <div class="toster-message-wrap watch_history_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
          <p class="settings_page_message1">
            <%= get_lang_string("watch_history_clear")%>
          </p>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
<div class="modal" id="clear-watch-history-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="margin-bottom-10 margin-top-5"><%=get_lang_string("clear_watch_history")%></h5>
                <% clear_watch_history = get_lang_popup("clear_watch_history") %>

        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%#= clear_watch_history['title_text']%>
          Are you sure you want to clear your watch history? Your watch history helps us give you better recommendations.
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel-clear"><%= get_lang_string("cancel")%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold " id="user_watch_history_clear"><%= get_lang_string("confirm")%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="modal" id="parental-pin-disable-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="margin-bottom-10 margin-top-5 margin-bottom-30">Disable Parental Pin</h5>
        <!--<p class="pull-left w-100 margin-top-5 margin-bottom-15 font-mregular normal_txt">
          
        </p>-->
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel-disable"><%= clear_watch_history['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_disable_parental_pin"><%= clear_watch_history['positive']%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>

  <input   type="hidden" id="parental_pin_change" value="<%= get_lang_string("parental_pin_changed")%>">
    <input   type="hidden" id="parental_pin_disabled" value="<%= get_lang_string("pin_disabled")%>">
    <input   type="hidden" id="clear_his_confirm" value="<%= get_lang_string("confirm")%>">

<%=render "layouts/page_height_setting"%>

<script type="text/javascript">


$(document).ready(function(){

  if(performance.navigation.type == 2){
     location.reload(true);
  }
  // $(".parental_change_pin").click(function(){
  //   localStorage.removeItem("parental_pin_change");
  //   localStorage.setItem("parental_pin_change", "true");
  //   window.location = "/users/verify_password";
  // })
  localStorage.removeItem("parent_control_disable")
  var toast_message = localStorage.getItem("parent_control_toast");
  var change_pin_toast = localStorage.getItem("parental_pin_change");
  localStorage.removeItem("parental_pin_change");
  localStorage.removeItem("parent_control_toast");
  var parent_control = "<%=@parent_control%>";
  $(".label.error").show();
  var url  = window.location.href.split("?type=")
  if(url.length > 1 && change_pin_toast != undefined && change_pin_toast == "true"){
    window.history.pushState("", "", url[0])
    $(".settings_page_message").text($("#parental_pin_change").val())
    $(".parental_pin_toast").show().fadeOut(4500);
    $('html,body').animate({ scrollTop: 300}, 'slow');
  }
  if(url.length > 1 && change_pin_toast == undefined){
    window.history.pushState("", "", url[0])
   $(".settings_page_message").text("<%= get_lang_string("parental_pin_set")%>")
   $(".parental_pin_toast").show().fadeOut(4500);
   $('html,body').animate({ scrollTop: 300}, 'slow');
  }
 if(toast_message != undefined && toast_message == "true"){
   $(".settings_page_message").text($("#parental_pin_disabled").val());
   $.cookie('is_parent_control',"false", { expires: 14,path: '/'})
   $.cookie('pin',"", { expires: 14,path: '/'})
   $(".parental_pin_toast").show().fadeOut(4500);
   $('html,body').animate({ scrollTop: 300}, 'slow');
 }
});

  $(".new_parental_change_pin").click(function(){
    localStorage.removeItem("parental_pin_change");
    localStorage.setItem("parental_pin_change", "true");
    var url = "/users/reset_pin";
    if (getShemarooCookies().shm_sel_lang != undefined && getShemarooCookies().shm_sel_lang != "en"){
        url = "/"+getShemarooCookies().shm_sel_lang+"/users/reset_pin";
    }
      window.location = url
  })
</script>
<%=render "check_valid_user"%>