<script>
  $(document).ready(function() {
	$(".fixed-top").css("box-shadow","none");
	$(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
				<h4 class="block margin-bottom-10" style="font-size: 19px;">CONTEST TERMS AND CONDITIONS</h4>
				<div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">		      
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">1. Acceptance Of Policies</h5>
				  <p class="margin-bottom-15">
				 
					Please read this document carefully (“Terms and Conditions”) before participating in the contest 
          titled ‘Subscribe & Win’ (“<b>Contest</b>”) conducted by Shemaroo Entertainment Limited 
					(“Shemaroo/Us/We”) and hosted on the platform ‘ShemarooMe’ (“<b>Platform</b>”). By participating 
					in the Contest, the participant agrees to be bound by these Terms & Conditions and represents 
					that the participant satisfies all of the eligibility requirements set out herein below and adheres 
					to the other policies governing the usage of the Platform. The participant hereby acknowledges 
					that the participant has fully read these Terms and Conditions voluntarily, without coercion or 
					any undue influence on the part of Shemaroo and with complete understanding. In case the 
					participant does not agree to be bound or cannot comply with any of the Terms & Conditions, 
					please do not continue to submit any information and/or visit this section of the Platform. The 
					participant’s failure to comply with the provisions of these Terms & Conditions will disqualify him 
					/ her from participating in the Contest. The decision of Shemaroo for all matters relating to 
					participation shall be final and binding in all respects. </p>	
				  <p class="margin-bottom-15">
					The Contest shall commence from 15th July and conclude on 15th August, 2021 (both dates 
					inclusive) (“<b>Contest Period</b>”). Results will be announced in 3rd week of August 2021 or any other date as may be communicated by Shemaroo to the participants. 
				   </p>
				  <p class="margin-bottom-15">
				  These Terms and Conditions govern the participation in this Contest, organized and conducted 
					by Shemaroo. The participant(s) agrees and confirms that the participant has voluntarily 
					participated in the Contest and has submitted the Entry / Entries (as defined below) subject to 
					the unconditional acceptance to comply with and abide by the Terms and Conditions and the 
					participant is eligible as per the rules of the Contest for participation as listed herein below. 
					Failure to accept or comply with the provisions of these Terms & Conditions will disqualify any 
					participation in the Contest. By proceeding further, the participant are representing to Shemaroo 
					that their participation in the Contest is in compliance with all laws applicable and that they are 
					not in any manner prohibited from participating herein by any law. The participant shall ensure 
					and be responsible to ensure that any individual (other than the participant) participating in any 
					Quiz (as defined below) submitted for the Contest shall also abide by and comply with these 
					Terms and Conditions. Failure or non-compliance with the provisions of these Terms & 
					Conditions by any individual participating in any Quiz will disqualify any participation in the 
					Contest. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
				  These Terms and Conditions shall be irrevocably binding on each participant(s) voluntarily 
					participating in the Contest. The Privacy Policy (as defined below) shall govern all usage of any 
					personal information and/or any other information as detailed in the Privacy Policy, including but 
					not limited to the name, age, email address, mobile phone number, Quiz and/or any information 
					gathered by Shemaroo under or pursuant to the Contest and in relation to your participation in 
					the same. Any information gathered through these Terms and Conditions shall be subject to the 
					Privacy Policy incorporated herein by reference. Shemaroo will have access to and collect 
					information and data shared by the participants including their personal information and 
					information requested to be submitted as part of the Contest for the purposes of the Contest, 
					including information and data relating to any individual (other than the participant) 
					participating in any Quiz (“Data”). By participation in the Contest, the participant(s) hereby 
					consents to the collection, storage, disclosure, processing, transfer of and sharing of the 
					personal information and Data by Shemaroo, its affiliates, and designated third parties in 
					accordance with the terms of its Privacy Policy which is accessible at 
					<u style="color:blue">https://www.shemaroome.com/privacy-policy</u> (“Privacy Policy”). 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					By participating in this Contest, it is deemed that the participant(s) has read, understood, 
					accepted and agreed to irrevocably and unconditionally abide by and be bound by all the terms 
					and conditions of the Contest, including these Terms and Conditions, the Platform’s Terms of Use
					) and the Privacy Policy. If the participant(s) do not agree to be bound by or cannot comply with 
					any of these Terms and Conditions, the Terms of Use and/or the Privacy Policy, please do not 
					continue. The participant(s) failure to accept or comply with the provisions of these Terms and 
					Conditions, the Terms of Use and/or the Privacy Policy will disqualify you from participation in 
					the Contest. The decision of Shemaroo for all matters relating to your participation shall be final 
					and binding in all respects. The Contest shall be governed by the Terms and Conditions stated 
					herein below and all participant(s) are requested herein to unconditionally accept and agree to 
					comply with and abide by the same.
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					The participant(s) act of voluntarily participating in the Contest in the manner as detailed below 
					shall be deemed to be the absolute acceptance and agreement to the Terms and Conditions, the 
					Privacy Policy, and the Terms of Use as prescribed from time to time. 
				  </p>
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">2. Contest Rules </h5><br>
				  <h6 class="margin-bottom-5 margin-top-0 font-semibold">A. Eligibility   Criteria:</h6>
				  <p class="padding-left-15 margin-bottom-15">
				  I. Any individual, who is an Indian citizen residing in India and is over the age of the 18 years can participate in this Contest Please note a subscriber must voluntarily participate in the Contest. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
				  II. To Participate in the Contest, you must purchase and subscribe to either of the below subscription packs: 
				  </p>
			  	<table border=1 style="margin: 0px auto;">
			  		<tr>
			  			<th><b>Subscription Pack Name </b></th>
			  			<th><b>Validity</b></th>
			  			<th><b>Price (INR)</b></th>
			  		</tr>
			  		<tr>
			  			<td>ShemarooMe Premium Plan </td>
			  			<td>Yearly</td>
			  			<td>749/- </td>
			  		</tr>
			  		<tr>
			  			<td>Bollywood Premium Plan </td>
			  			<td>Yearly</td>
			  			<td>449/- </td>
			  		</tr>
			  		<tr>
			  			<td>Gujrati Premium Plan </td>
			  			<td>Yearly</td>
			  			<td>449/- </td>
			  		</tr>
			  		<tr>
			  			<td>Bollywood Classic Premium Plan </td>
			  			<td>Yearly</td>
			  			<td>449/- </td>
			  		</tr>
			  		<tr>
			  			<td>Marathi Premium Plan </td>
			  			<td>Yearly</td>
			  			<td>449/- </td>
			  		</tr>
			  	</table><br>
					<p class="padding-left-15 margin-bottom-15">
					III. Once you subscribe to one of the above subscription packs, you will get multiple-choice questions on the Platform, which you are required to answer correctly to win the prizes. </p>
 					<p class="padding-left-15 margin-bottom-15">
 					IV. A subscriber who has already subscribed to any of the services on Platform before and/or after the Contest Period shall not be eligible for participation basis those purchase.</p>
					<h6 class="margin-bottom-5 margin-top-0 font-semibold">B. Selection & Shortlisting Process:</h6>
					<p class="padding-left-15 margin-bottom-15">I. A subscriber who answers all the questions correctly will be shortlisted to win the daily prize.</p>							
					<p class="padding-left-15 margin-bottom-15">II. One lucky subscriber from the pool of subscribers giving correct answers will be randomly selected each day during the Contest Period to win a daily prize. </p>	
					<h6 class="margin-bottom-5 margin-top-0 font-semibold">C. Winner  Announcement </h6>
					<p class="padding-left-15 margin-bottom-15">I. Winner will be announced on 3rd Week of August 2021, or any other date as solely decided by Shemaroo. </p>
					<p class="padding-left-15 margin-bottom-15">II. Shemaroo is not obliged to make the selection process public to all the participants.</p>
					<p class="padding-left-15 margin-bottom-15">III. Winner will be communicated via an e-mail, SMS, App push notification or any other mode of communication possible. </p>
					<p class="padding-left-15 margin-bottom-15">IV. Communication will be dependent on the details shared by the user by updating his/her profile. </p>
					<p class="padding-left-15 margin-bottom-15">V. Shemaroo will try to communicate via available information provided by the user.</p>
					<h6 class="margin-bottom-5 margin-top-0 font-semibold">D. Details of Prizes </h6>
 
					<p class="padding-left-15 margin-bottom-15">I. Upon receipt of self-attested copy of PAN Card, Aadhaar Card and Bank Details) and upon verification of the same by us, the winner shall be given the following prizes (“Prize”). It is hereby clarified that all expenses in relation to availing the Prizes below shall be borne entirely by the winner and Shemaroo shall in no manner be responsible for the same:  </p>

					<table border=1 style="margin: 0px auto;">
						<tr>
							<th>Winner</th>
							<th>Prize</th>
						</tr>
						<tr>
							<td>One winner from the pool of subscribers giving correct answers will be selected by random selection method and will win the bumper prize at the end of the contest period </td>
							<td>INR 1,00,000/-*</td>
						</tr>
						<tr>
							<td>Second winner from the pool of subscribers giving correct answers will be selected by random selection method and will win the bumper prize at the end of the contest period </td>
							<td>INR 50,000/-*</td>
						</tr>
						<tr>
							<td>Third winner from the pool of subscribers giving correct answers will be selected by random selection method and will win the bumper prize at the end of the contest period </td>
							<td>INR 25,000/-*</td>
						</tr>
						<tr>
							<td>Forth winner from the pool of subscribers giving correct answers will be selected by random selection method and will win the bumper prize at the end of the contest period </td>
							<td>INR 25,000/-*</td>
						</tr>
						<tr>
							<td>Each day from 16th July – 31st July, one qualifying winner (selected by random selection method in case there are more than 1 eligible winners) 	will win a Gold Coin during the contest period  </td>
							<td>1g Gold Coin </td>
						</tr>
					</table><br>

					<p class="padding-left-15 margin-bottom-15">II. All Prize money shall be disbursed after deduction of taxes including but not limited to tax deduction at source upfront as per the tax rates prevalent at the time of disbursements under applicable law. For the Gold Coin prize, if the actual market value of the gold coin is above Rs. 10,000/- (Rupees Ten Thousand only) then the winner is obligated to pay the TDS, on actual market value of the gold coin, in advance before collecting the gold coin prize. The winner will provide certificate of payment of TDS while collecting the gold coin prize. </p>
					<p class="padding-left-15 margin-bottom-15">3. Shemaroo shall not be responsible failure of delivery of the Prize or if a prize is not deliverable due to any reasons. Further, Shemaroo shall not be responsible or liable for any technical disruption and/or failure and/ or any other difficulties of such nature, due to which the winner is unreachable or any technical disruption and/or failure and/or any other difficulties of such nature, due to which Shemaroo is unable to intimate the winner. Shemaroo reserves the right to recover the Prize from a winner, as deemed fit by Shemaroo, in case of any violation of these Terms and Conditions or other policies of the Platform.  </p>
 
					<p class="padding-left-15 margin-bottom-15">4. Failure to provide any proof or requested information including but not limited to KYC or documents, within the timelines as may be communicated by Shemaroo to the selected participant(s), could result in Prize forfeiture. Shemaroo also reserves the right to forfeit the Prize in case where a discrepancy is found to exist in the information furnished/provided by the winning participant.</p>
 
					<p class="padding-left-15 margin-bottom-15">5. Shemaroo shall make the payment of the Prize(s) to the winner within 45 (forty five) days of the receipt and verification of documents and confirmation of the winner by Shemaroo. </p>
 
					<p class="padding-left-15 margin-bottom-15">6. The winner agrees and confirms that the Prize so awarded by Shemaroo shall be the sole gratification/prize pursuant to the winner participating and winning in the Contest, as the case may be, and that the winner shall not be entitled to any further gratification at any time. It is clarified that the Prize is non-transferable and may not be exchanged in any manner or for any reason whatsoever. If the Prize is not claimed or otherwise within the stipulated timelines as mentioned under these Terms and Conditions, the Prize will be forfeited and may be awarded to an alternate winner, unless otherwise stated, at Shemaroo’s sole discretion.</p>
 
					<p class="padding-left-15 margin-bottom-15">7. In the event the winner does not accept or agree to the terms as stated herein, the Prize shall remain with Shemaroo, who on its own discretion may offer the same to the next eligible winner. For the purpose of clarity, no alternative prize will be given to the winner.  </p>
 
					<p class="padding-left-15 margin-bottom-15">8. Shemaroo will not entertain any requests or claims to check/audit/challenge the logic of factors relevant for determining the shortlisted participant(s)/winner for any Contest. </p>
					<p class="padding-left-15 margin-bottom-15"> 9. Shemaroo reserves the right to add or modify the Prize(s) at its sole discretion. The participant shall not be permitted to question or challenge any such revision. The winner agrees that he/she shall not hold Shemaroo and/or its employees, responsible for delays or any problem in connection to the Prize. The winner agrees that if due to any reason, whatsoever, beyond the control of Shemaroo, the Prize and/or anything in connection to the Prize and/or the enjoyment of the Prize becomes ineffective or invalid, Shemaroo cannot be held responsible and/or liable for the same. All and any incidental costs direct and/or indirect, applicable taxes, in relation to the Prize, shall be borne solely by the winner and in no manner whatsoever shall Shemaroo, be responsible or liable for the same in any manner whatsoever.</p>
 
					<p class="padding-left-15 margin-bottom-15">10. Shemaroo will be deducting Tax deducted at Source applicable on the Prizes  as per the provisions of the Income Tax Act . All taxes on income shall be the responsibility of and shall be borne by the respective winners. It is clarified that Shemaroo will furnish a Certificate to the respective winner for such amount deducted as per the prescribed timeliness under the applicable laws provided the winner has provided with the required KYC documents..  </p>

					<p class="padding-left-15 margin-bottom-15">11. Shemaroo is in no manner whatsoever responsible and/or shall not be held liable in any manner whatsoever, for any injury, loss, outrage, dissatisfaction, death, mental trauma caused to the participant(s) and/or the winner in any manner whatsoever or for any reason whatsoever in connection to the Contest and/or Prize. </p>
 
					<p class="padding-left-15 margin-bottom-15">12. Shemaroo reserves the right to forfeit the Prize in the event it is found by Shemaroo that any information including but not limited to Data provided by the participant(s) and/or the winner is wrong, fraudulent or any misrepresentation is made by the participant(s) and/or the winner. It is clarified that Shemaroo shall not be obligated to select another shortlisted participant(s) as the winner and the Prize that was to be granted to such winner shall stand forfeited.  </p>
 
					<p class="padding-left-15 margin-bottom-15">13. For avoidance of doubt it is clarified that for the purpose of participating in the Contest, in case a Participant(s) is found indulging in spam acts, he/she shall stand disqualified from participating in the Contest.  </p>
 
					<p class="padding-left-15 margin-bottom-15">14. <b>FORCE MAJEURE:</b> This Contest is subject to force majeure circumstances including without limitation, floods, natural disasters, pandemic, epidemic, war, act of terror, political unrests, technical snags, act of God or any circumstance beyond the reasonable control of Shemaroo ("Force Majeure Event"). Shemaroo shall be not liable for any delay or adverse effect caused to the participants in the Contest including the winners as a result of a Force Majeure Event.</p>
 
					<p class="padding-left-15 margin-bottom-15">15. <b>PUBLICITY RELEASE:</b> By participating in the Contest, you give Shemaroo and/or its affiliates permission to use your name, likeness, image, voice, and / or appearance as such may be embodied in any pictures, photos, video recordings, audiotapes, digital images, and the like, taken or made in relation to the Contest and any promotions, events, or contests to follow. You agree that Shemaroo and / or its affiliates has the right to publish your saved item details for any communication, promotions, events, or contests that follow. You agree that Shemaroo and / or its affiliates has complete ownership of such pictures, etc., including the entire copyright, and may use them for any purpose. These uses include, but are not limited to illustrations, bulletins, exhibitions, videotapes, reprints, reproductions, publications, advertisements, and any promotional or educational materials in any medium now known or later developed, including the internet. You acknowledge that you will not receive any compensation, etc. for the use of such pictures, etc., and hereby release Shemaroo and/or its affiliates and its agents and assigns from any and all claims which arise out of or are in any way connected with such use. You give your consent to Shemaroo and / or its affiliates and its agents and assigns to use your name and likeness to promote the Contest and any promotions, events, or contests to follow. </p>
 
					<p class="padding-left-15 margin-bottom-15">16. <b>LIABILITY RELEASE:</b> This Contest is being made purely on a "best effort" basis and participating in this Contest is voluntary. By participating in the Contest, you will be legally bound hereby, to release from liability, and hold harmless Shemaroo, its affiliates and any of their employees, directors, agents, representatives or successor and its services for any matters in relation to this Contest, including the Prize and/or benefits. This release is for any and all liability for personal injuries (including death), property loss or damage, and misuse of the Prizes offered under this Contest, in connection with any activity or directly or indirectly, by reason of the acceptance, possession, or participation in the Contest, even if caused or contributed to by Shemaroo’s negligence. By participating in this Contest, you agree to bear all the personal taxation that might arise out of the winnings from this Contest and shall not hold Shemaroo responsible for payment of the same and / or any dispute arising in relation thereof. </p>
				</div>
				</div>
			</div>
		</div>
	</section>
</div>
<%=render "layouts/page_height_setting"%>
<%=render "/statics/app_static_page"%>
<%=render "gmfc_android_check"%>
<style type="text/css">
	table, p{ padding: 0px 15px 0px 15px; }
	th{ font-size: 16px; }
	td {font-size: 13px; }
</style>