<div class="float-left w-100 wrapper signin-page">
  <section class="main-content">
    <div class="float-left w-100 min-height-div">
      <div class="profile-container">    
        <div class="float-left w-100 h-center mt-3 pt-1">
          <a href="javascript:void(0);" id="profile_signin_btn" class="font-semibold app-color4 hv-center"><%=get_lang_string("sign_title")%> </a>
        </div>
        <!-- <div class="float-left w-100 mt-3 pt-1">
          <div class="profile-banner-container">
            <div id="profile_banner_carousel" class="owl-carousel owl-theme">          
              <div class="item">
                <img src="/assets/slide1.jpg" alt="slider1" title="slider1">
              </div>
              <div class="item">
                <img src="/assets/slide2.jpg" alt="slider2" title="slider2">
              </div>
            </div>
          </div>
        </div>   -->
        <div class="float-left w-100 mt-4 pt-1">
          <div class="mb-3 pb-1 menu-box1-wrap">
            <div class="menu-box menu-box1 mb-3 pb-1  v-center">
              <a href="<%=get_lang_url("plans")%>" class="w-100 h-100 app-d-flex v-center app-color1">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "view_plans_profile.svg" : "view_plans_profile_dark.svg"%>" alt="" title="Plans">
                <span><%=get_lang_string("view_plans")%></span>
              </a>  
            </div>

            <div class="menu-box menu-box1 mb-3 pb-1  v-center">
              <a href="javascript:void(0);" class="w-100 h-100 app-d-flex v-center app-color1" id="profile_setting_pop">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "settings_profile.svg" : "settings_profile_dark.svg"%>" alt="" title="Settings">
                <span><%=get_lang_string("settings")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 mb-3 pb-1  v-center">
              <a href="javascript:void(0);" class="w-100 h-100 app-d-flex v-center app-color1" id="profile_earn_pop">
                <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "earn_money.svg" : "earn_money_dark.svg"%>" alt="" title="Earn Money" >
                <span><%=get_lang_string("earn")%></span>
              </a>
            </div>
            <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="javascript:void(0)" class="w-100 h-100 app-d-flex v-center app-color1" id="prof_lang_sel">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "language.svg" : "language_dark.svg"%>" alt="" title="Language">
                <span class="mr-auto"><%=get_lang_string("language")%></span>
                 <!-- <span class="current_lang_box font-size2 font-bold">English</span>  --> 
              </a>

            </div>
             <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="javascript:void(0)" class="w-100 h-100 app-d-flex v-center app-color1" id="theme_option">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "set_theme.svg" : "set_theme_dark.svg"%>" alt="" title="set theme">
                <span class="mr-auto"><%=get_lang_string("theme")%></span>
              </a>

            </div>
            <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="<%=get_lang_url("faq")%>" class="w-100 h-100 app-d-flex v-center app-color1">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "faqs.svg" : "faqs_dark.svg"%>" alt="" title="FAQ">
                <span><%=get_lang_string("faq")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="<%=get_lang_url("terms_and_conditions")%>" class="w-100 h-100 app-d-flex v-center app-color1">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "terms_conditions.svg" : "terms_conditions_dark.svg"%>" alt="" title="Terms of Use">
                <span><%=get_lang_string("terms_of_use")%></span>
              </a>  
            </div>
            <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="<%=get_lang_url("privacy-policy")%>" class="w-100 h-100 app-d-flex v-center app-color1">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "privacy_policy.svg" : "privacy_policy_dark.svg"%>" alt="" title="Privacy Policy">
                <span><%=get_lang_string("privacy_policy")%></span>
              </a>  
            </div>
            <!-- <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="javascript:void(0);" class="app-color1">
                <img src="/assets/new_icons/feedback.svg" alt="" title="">
                <span>Feedback</span>
              </a>  
            </div> -->
            <div class="menu-box menu-box1 mb-3 pb-1 v-center">
              <a href="<%=get_lang_url("contact-us")%>" class="w-100 h-100 app-d-flex v-center app-color1">
                <img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "email.svg" : "email_dark.svg"%>" alt="" title="Contact Us">
                <span><%=get_lang_string("contact_us")%></span>
              </a>  
            </div>
            <div style="width: 300px; height: 1px;"></div>
          </div>
          <div class="app-d-flex flex-column hv-center">
            
          </div>
        </div>
      </div>
    </div>
  </section>  
</div>

<div class="modal pr-0 show" id="theme-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <img src="/assets/<%= cookies[:theme_option] == "light_theme" ? "cancel_search_black.svg" : "cancel_search.svg"%>" class="float-right cursor-pointer" id="cancel_theme" style="width : 16px; height : 16px;">
        <div class="float-left w-100 pl-4 pr-4">
          <h4 class="mb-4 margin-top-5 font-mblack"><%=get_lang_string("theme")%></h4>
          <div class="mb-3">
            <input type="radio" id="light_theme" name="theme-sel" value="light_theme" class="">
            <label for="light_theme" class="mb-0 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-mregular mulli-font1"><%=get_lang_string("light")%></label>
          </div>
          <div class="mb-3">
            <input type="radio" id="dark_theme" name="theme-sel" value="dark_theme" class="">
            <label for="dark_theme" class="mb-0 <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-mregular mulli-font1"><%=get_lang_string("dark")%></label>
          </div>
          <div class="float-left w-100 mt-4">
            <div class="text-center margin-bottom-25 margin-top-20">
              <a href="javascript:void(0);" class="inline-block radius-button black-button app-color4 font-mbold" id="change_theme" style="border: 0 !important; font-size: 20px;"><%= get_lang_string("continue")%></a>
            </div>  
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="profile_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"><%=get_lang_string("login")%></h5>
        <% login_popup  = get_lang_popup("tvod_login")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= login_popup['title_text']%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold sec_button" id="cancel_profile_login"><%= login_popup['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="profile_signin_link"><%= login_popup['positive']%></a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="modal pr-0 show" id="small_selection_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <img src="/assets/new_icons/close.svg" class="float-right cursor-pointer" id="prf_lg_cls">
        <div class="float-left w-100">
          <h4><%= get_lang_string("language")%></h4>
          <div class="float-left w-100">
            <div class="app-d-flex hv-center flex-column">
              <%@all_langs.each do |l|%>
                <div class="lang_box app-d-flex v-center mb-2 cursor-pointer user_lang_box" id="<%=l['language_code']%>" data-color="<%=l['start_color']%>">
                  <span class="float-left text-uppercase font-bold mr-auto" style="color:#<%=l['start_color']%>"><%=l['language']%></span><img src="/assets/new_icons/tick.svg">
                </div>
              <%end%>         
            </div>  
          </div> 
          <div class="float-left w-100 mt-4">
            <div class="app-d-flex h-center">
              <a href="javascript:void(0);" class="btn app-d-flex hv-center mb-3 app-color4" id="prf_lng"><%= get_lang_string("continue")%></a>
            </div>  
          </div>  

        </div>
      </div>
    </div>
  </div>
</div>
<%=render "layouts/page_height_setting"%>
<input type="hidden" id="lang_continue" value="<%= get_lang_string("continue")%>">
<script>
if(getShemarooCookies().user_id){
  var sign_url = "/"
  var user_lang = getShemarooCookies().shm_sel_lang
  if(user_lang != undefined && user_lang != "en"){
   sign_url = sign_url+user_lang
  }
  window.location  = sign_url
}
$(document).ready(function() { 

  var selected_lang = (getShemarooCookies().shm_sel_lang == undefined ? "English" : getShemarooCookies().shm_sel_lang == "gu" ? "Gujarati" : getShemarooCookies().shm_sel_lang == "hi" ? "Hindi" : "English")
      $(".current_lang_box").text(selected_lang).show()
    var user_state = "anonymous"

    $( '.menu-box a').on( 'click', function() {
      var value = $('img', this).attr('title');
      if (value == undefined){
        value = $(this).attr('title');
      }
      
      Apxor.logEvent("Profile_Browse",{
      "menu": value,
      'user_state': user_state
      }, "Profile_Browse");

      smartech('dispatch', 'Profile_Browse', {
        "menu": value,
        'user_state': user_state
      })


      branch.logEvent(
      "Profile_Browse",
        {"menu": value,
        'user_state': user_state
      },
      );
    })


  $("#profile_banner_carousel").owlCarousel({
    margin: 0,
    loop: true,
    items: 1,
    stagePadding: 0,
    dots: true,
    nav: false          
  });
});  


   $("#theme_option").click(function(){
      var get_theme = getShemarooCookies().theme_option
      var theme = ''
      if(get_theme == "dark_theme" || get_theme == "light_theme"){
            $("#"+get_theme).prop("checked","true");
            theme = get_theme
      }else{
         $("#light_theme").prop("checked","true");
          theme = "light_theme"
      }
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('theme_option',theme, { expires: 14,path: '/'});
      $("#theme-pop").modal("show");  
    })

    
     $("#cancel_theme").click(function(){
      $("#theme-pop").modal("hide");
      })

  $(document).ready(function(){
    $("#change_theme").click(function(){
      get_color = $("input[name='theme-sel']:checked"). val();
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('theme_option',get_color, { expires: 14,path: '/'});
      $("#theme-pop").modal("hide");
      location.reload()
    })     
  })

</script>  