<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
var getShemarooCookies = function() {
    var pairs = document.cookie.split("; ");
    var cookies = {};
    for (var i = 0; i < pairs.length; i++) {
        var pair = pairs[i].split("=");
        cookies[pair[0]] = unescape(pair[1]);
    }
    return cookies;
}
</script>
	<!-- Global site tag (gtag.js) - Google Ads: 773430063 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <!-- Google Tag Manager -->
	<!-- Matomo -->
<script type="text/javascript">
  var matomo_value = '1'
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = "https://analytics.shemaroome.com/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', matomo_value]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<script src='//cdnt.netcoresmartech.com/smartechclient.js'></script> 
<script>
  var user_analytical_id = getShemarooCookies().priv_view_user_analytical_id
  if(user_analytical_id == undefined){
    user_analytical_id = '';
  } 
</script> 
<script>
 smartech('create', 'ADGMOT35CHFLVDHBJNIG50K968SF88APLS8HMS7NN4OLU8FSE4CG');
 smartech('register', '21c0991a4c2327fc3461186644e7d2c3');               
 smartech('identify', user_analytical_id); 
 smartech('dispatch',1,{});
</script> 
<script>
    // load Branch
      (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking".split(" "), 0);
    // init Branch
    branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF');
  </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
@font-face {    
  font-family: 'Muli-Regular';
  src: url('/assets/fonts/Muli-Regular.ttf');
}
@font-face {    
  font-family: 'Muli-Bold';
  src: url('/assets/fonts/Muli-Bold.ttf');
}
@font-face {    
  font-family: 'Muli-Black';
  src: url('/assets/fonts/Muli-Black.ttf');
}
	body {
    background-color: #161616;
    
    font-family: 'muli-regular';
    font-size: 16px;
   }
   a, a:hover, a.link {
    color: #009AE4;
    text-decoration: none;
	}
	.container {
		max-width: 1440px;
    margin: 0 auto;
    padding: 0;
	}
	.wrapper {
    background-color: #F9F9F9;
    float: left;
    padding: 0px 57px;
    width: 100%;
  }
  .relative-content {
	  position: relative;
	}
	.margin-top-25 {
    margin-top: 25px !important;
	}
	.margin-top-15 {
	  margin-top: 15px !important;
	}
	.margin-bottom-0 {
	  margin-bottom: 0px !important;
	}
	.margin-bottom-10 {
	  margin-bottom: 10px !important;
	}
	.padding-top-85 {
    padding-top: 85px !important;
	}
	.margin-bottom-30 {
    margin-bottom: 30px !important;
	}
	.margin-bottom-25 {
	  margin-bottom: 25px !important;
	}
	.margin-bottom-15 {
	 	margin-bottom: 15px !important;
	}
	.pull-left {
	    float: left;
	}
	.form-control {
		border-radius: 4px !important;
	}
	.vendor_logo {
	  margin: 0 auto;
	  margin-bottom: 20px;
	  text-align: center;
	  width: 315px;
	}	
	.img-fluid {
	  max-width: 100%;
	  height: auto;
	}
	.vendor-container3 {
	  max-width: 300px;
	  margin: 0 auto;
	}
	label.error {
    display: none;
	}
	.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #009AE4;
    border-color: #009AE4;
  }
  .vendor-container3 .text-underline {
    font-size: 18px;
    text-decoration: underline !important;
}
</style>
</head>
<body>
	<div class="container">
    <div class="wrapper min-height-div">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-content pull-left w-100 relative-content" style="height: calc(100vh - 40px)">

            	<div class="padding-top-85 margin-top-25">
								<div class="vendor_logo margin-top-15">
									<img src="/assets/shemaroo_logo.svg" class="img-fluid margin-bottom-10" alt="shemaroo vendor logo" title="shemaroo vendor logo">
								</div>
							</div>
							<div class="vendor-container3 text-center">
								<div class="pull-left w-100 margin-bottom-30">
									<h1 class="pull-left w-100 font-bold shemaroo-color2 margin-top-25 margin-bottom-15 vendor-title font-bold">Sign in</h1>
									<div class="form-group pull-left w-100 margin-bottom-0 relative-content">
								    <input type="email" class="form-control margin-bottom-25" id="priv_email" placeholder="Email">
								    <label class="priv_email_error"></label>
								  </div>
								  <div class="form-group pull-left w-100 margin-bottom-0 relative-content">
								    <input type="password" class="form-control margin-bottom-25" id="priv_pwd" placeholder="Password">
								    <label class="priv_password_error"></label>
								  </div>
								  <input type="hidden" name="sign_in" value="true">
								  <div class="pull-left w-100 margin-bottom-20">
								  	<!-- <button type="submit" id="priv_user_sign_in" class="btn btn-primary btn-vendor text-uppercase font-bold">Sign in</button> -->
								  	<input type="submit" id="priv_user_sign_in" class="btn btn-primary btn-vendor text-uppercase font-bold" value="SIGN IN">
								  	<!-- <a href="/sign_up" class="text-underline font-bold pull-left w-100 text-center margin-top-15">Sign up</a> -->
								  	<a href="/forgot_password" class="text-underline font-bold pull-left w-100 text-center margin-top-15" name="forgot_password">Forgot Password</a>
								  </div>
								</div>
							</div>

            </div>
            <div class="pull-left w-100 text-center">
              <p class="margin-bottom-20">Shemaroo Entertainment Ltd © 2020, All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
  </div>
	
</body>
</html>
<head>
    
<body>
