<%
meta title: "Update Personal  Details",
     description: "Update Personal  Details",
     keywords: %w(Update Personal  Details)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-10">
      <div class="row">
        <input type="hidden" id="current_plans"  value="<%=@plan_categories%>">
        <input type="hidden" id="expired_plans"  value="<%=@expired_categories%>">
        <input type="hidden" id="subscription_status"  value="<%=@subscribed_status%>">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <h2 class="block margin-bottom-10">Update Personal Details</h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-10 padding-top-25 rounded">
            <div class="w-100 all_error padding-left-30 padding-right-30" >
              <label class="error" id="profile_sucess_up_msg">Profile updated sucessfully</label>
            </div>
          	<div class="padding-left-30 padding-right-30 margin-top-25">
  	        	<div class="input-group name edit_profile_name">
  	        		<input type="text" id="user_profile_name" name="profile name" class="form-control" maxlength="50" value="<%=@user_profile_details['firstname']%>" onkeypress='return validateSpecialChar(event);'> 
                <i class="fa fa-circle" aria-hidden="true"></i>
  		          <span class="input-label">Name</span>
                <label class="error" id="user_name_error">This field is mandatory</label>
              </div>
              <% if $region == "IN" || $region == "BD"%>
              <input type="hidden" id="reg" name="user_region" value="IN">
                <div class="input-group name edit_profile_name">
                  <input type="text" id="user_mobile_number" name="profile name" class="form-control" readonly="true" value="+<%=@user_profile_details['mobile_number']%>">          
                  <i class="fa fa-circle" aria-hidden="true"></i>      
                  <span class="input-label">Mobile Number</span>
                  <label class="error" id="user_mobile_error">This field is mandatory</label>
                </div>
                <div class="input-group name edit_profile_name">       
                  <input type="email" id="user_email_address" name="profile name" class="form-control"  value="<%=@user_profile_details['user_email_id']%>" >           
                  <span class="input-label">Email</span>
                  <label class="error" id="user_email_error">This field is mandatory</label>
                </div>
              <% else %>
                <div class="input-group name ro_user_mobile_number">
                  <input type="number" id="ro_user_mobile_number" name="profile name" class="form-control"  value="<%=@user_profile_details['mobile_number']%>" >          
                  <span class="input-label">Mobile Number</span>
                  <label class="error" id="ro_user_mobile_error">This field is mandatory</label>
                </div>
                <div class="input-group name edit_profile_name">
                  <input type="email" id="ro_user_email_address" name="profile name" class="form-control"  value="<%=@user_profile_details['email_id']%>" readonly="true"  >           
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="input-label">Email</span>
                  <label class="error" id="ro_user_email_error">This field is mandatory</label>
                </div>
              <% end %>
              <div class="input-group datepicker">
                <input type="text" id="datepicker" class="form-control" value="<%=@user_profile_details['birthdate']%>" readonly="true">
                <span class="input-label">Birth Date</span>
                <label class="error" id="user_dob_error">This field is mandatory</label>
              </div>
    	        <div class="text-center margin-bottom-10 light">
                <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="update_personal_details">Done</a>
                  </p>
                </div>
              </div>
  	        </div>
          </div>
        </div>
      </div>
    </div>
  <%=render "layouts/page_height_setting"%>
  <%=render "validate_mobile_number"%>
      <script>
       $("#ro_user_mobile_number").focusout(function() { 
        
        if($(this).val().length) {
          $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"0px"})        
        }
        else {
          $(this).css({"padding":"5px 5px 5px 10px"});
          $(this).nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
        }
     });
     $("#user_email_address").focusout(function() { 
        
        if($(this).val().length) {
          $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"0px"})        
        }
        else {
          $(this).css({"padding":"5px 5px 5px 10px"});
          $(this).nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});
        }
     }); 
    $(document).ready(function() {

      var user_region = "<%= $region %>";

      if (user_region == "IN" || user_region == "BD") {        
        var mobile_number = $('#user_email_address').val();
        var inputlenth2 = $('#user_mobile_number').val().length;
        
        if(inputlenth2) {
          //$("#mobile_user_mobile_numbernumber").parents(".input-group").children('.fa-circle').hide();
          $('#user_mobile_number').css({"padding":"5px"});
          $("#country_code").show();
          $("#user_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
          $("#user_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"})        
          }
        else {
          //$("#mobile_number").parents(".input-group").children('.fa-circle').show();
          $("#country_code").hide();
          $('#user_mobile_number').css({"padding":"5px 5px 5px 10px"});
          $("#user_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"}); 
          $("#user_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
        }
        if($("#user_email_address").val().length) {
          $('#user_email_address').css({"padding":"5px"});
          $("#user_email_address").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
          $("#user_email_address").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});        
        }
        else {
          $('#user_email_address').css({"padding":"5px 5px 5px 10px"});
          $("#user_email_address").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
          $("#user_email_address").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});          
        }
      }  
      else {
        if($('#ro_user_email_address').val().length) {
          //$("#user_email").parents(".input-group").children('.fa-circle').hide();
          $('#ro_user_email_address').css({"padding":"5px"});
          $("#ro_user_email_address").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
          $("#ro_user_email_address").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
        }
        else {
          $('#ro_user_email_address').css({"padding":"5px 5px 5px 10px"});
          $("#ro_user_email_address").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
          $("#ro_user_email_address").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});          
        }
      }
      if($('#user_profile_name').val().length) {
        $('#user_profile_name').css({"padding":"5px"});
        $("#user_profile_name").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#user_profile_name").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
      }
      else {
        $('#user_profile_name').css({"padding":"5px 5px 5px 10px"});
        $("#user_profile_name").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#user_profile_name").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }

      if($('#datepicker').val().length) {
        $("#datepicker").css({"padding":"5px 0px 5px 0px"});
        $("#datepicker").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});        
      }
      else {
        $("#datepicker").css({"padding":"5px 5px 5px 0px"});
        $("#datepicker").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});          
      }
      if(user_region == "US") {        
        if($('#ro_user_mobile_number').val().length) {
          $("#ro_user_mobile_number").css({"padding":"5px 0px 5px 0px"});
          $("#ro_user_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});        
        }
        else {
          $("#ro_user_mobile_number").css({"padding":"5px 5px 5px 0px"});
          $("#ro_user_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"5px"});          
        }
      }  
      var user_selected_date = "";
      user_selected_date = "<%=DateTime.parse(@user_profile_details['birthdate']).strftime("%d/%m/%Y") unless @user_profile_details["birthdate"].blank?%>";
      if(user_selected_date.length != 0){
        $("#datepicker").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px"});
      }
      $("#datepicker").datepicker(
        { 
          maxDate: "-18Y",
          yearRange: "-80:+0",
          changeMonth: true,
          changeYear: true,
          dateFormat: "dd/mm/yy",
          onSelect: function(){
            var inputlenth = $(this).val().length;
            if(inputlenth > 0) { 
              $(this).nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});
            }
            else {
              $(this).nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});      
            }
          }
        }

      );
      $('#datepicker').datepicker("setDate", user_selected_date);  
      $("#datepicker, #user_email_address").click(function(){
        smartech('dispatch', 'default profile event', {});
      })
    });
    </script>
    
    

  </section>
</div>  