<%
meta title: "User Recommendation",
     description: "User Recommendation",
     keywords: %w(User Recommendation)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>

<%unless @user_recommended_list.empty?%>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div">
    <section class="full-width-content inside-container light  padding-bottom-20 watchlist-page">
      <div class="row">
        <input type="hidden" value="1" id= "page_no">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10">
          <h2 class="margin-bottom-15 text-capitalize w-100"><%= get_lang_string("recommendation_for_you")%></h2>
          <div class="row row-show-list detail_page" id="all_items">
           <%@user_recommended_list.each do |l|%>
              <div class="item details_episode_horizontal_title" id="continue_item_<%=l['listitem_id']%>">             
                <a class="ca_li_item" href="<%=get_lang_url(l['seo_web_url'])%><%#=get_continue_item_url(l)%>">
                  <%if l["content_definition"] == "TVOD"%>              
                  <span class="buy-txt"><%= get_lang_string("buy") %></span>
                   <%end%>
                  <%if l["access_control"]["is_free"] == false && l["content_definition"] != "TVOD" && $region == "IN"%>
                    <div class="h-center"><span class="premium-img"><img src="/assets/premium_icon.svg" alt="" title=""></span></div>
                  <%end%>
                  <img src="<%=l['thumbnails']["medium_16_9"]["url"]%>" alt="<%=l['title']%>" title="<%=l['title']%>">
                  </a>
                  <div class="item-feature">
                    <p class="list-tile-title pull-left w-100 margin-bottom-0">
                      <a href="<%=l['seo_web_url']%><%#=get_continue_item_url(l)%>" 
                      class="text-ellipsis ca_li_item <%= cookies[:theme_option] == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%>" style="line-height: 14px;"><%= l['ml_title'].present? ? l['ml_title'] : l['title'] %></a>
                    </p></br></br>
                    <p class="pull-left w-100 margin-bottom-0 margin-top-2">
                      <span class="list-tile-duration pull-left text-ellipsis"><!--001 | &nbsp;&nbsp;--><%=l['ml_item_caption'].present? ? l['ml_item_caption'] : l['item_caption']%></span>
                    </p>
                  </div>
              </div>
            <%end%> 
          </div>
          <%if @total_items > 20 %> 
                   <div class="text-center margin-bottom-25 margin-top-20" id="load_more_userrecommendation_link"> <a href="javascript:void(0);" class="inline-block radius-button black-button text-uppercase load_all_items" id="load_more_userrecommendation"><%= get_lang_string("load_more")%></a></div>
                <%end%>
        </div>                
      </div>
      <%=render "check_valid_user"%>
      <%=render "layouts/page_height_setting"%>

    </section>  
  </div>  
</div> 
<%else%>
<div class="padding-top-80 padding-top-100 padding-top-70">
  <div class="min-height-div">
    <section class="full-width-content inside-container light padding-bottom-20 watchlist-page">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10">
          <h2 class="pull-left margin-bottom-15 text-capitalize w-100"><%= get_lang_string("recommendation_for_you")%></h2>
        </div>
      </div>
      
      <div class="row min-height-div" id="no_search_results_wrap">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap text-center" id="no_search_results">
          <img src="/assets/no_content.svg" class="search-no-results-image" alt="" title="">
          <p class="margin-bottom-0 font-medium"><strong><%= get_lang_string("sorry")%></strong></p>
          <p class="font-mregular margin-bottom-25"><%= get_lang_string("no_watch_content")%></p>
          <div class="text-center margin-bottom-10 margin-top-5 light">
            <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
              <p class="inline radius-button">
                <a href="/" class="text-uppercase btn gradient1 font-bold"><%= get_lang_string("browse_shemaroo")%></a>
              </p>
            </div>
          </div>        
        </div>  
      </div>

      <%=render "layouts/page_height_setting"%>
      <%=render "check_valid_user"%>
    </section>
  </div>  
</div>

<%end%>
    <input   type="hidden" id="load_more_cont" value="<%= get_lang_string("load_more")%>">

<script type="text/javascript">
  $(document).ready(function() {
    $(".ca_li_item").click(function(){
    localStorage.removeItem("nc_stream_src")
    localStorage.setItem("nc_stream_src","user recommenation")
    })
  });
</script>
