 <%
meta title: "User Verify password",
     description: "User Verify password",
     keywords: %w(User Verify password)
%>
<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="padding-top-80 padding-top-100 padding-top-70">
   <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
         <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <h2 class="block margin-bottom-10">Parental Control</h2>
          <div class="pull-left w-100 tile-box-shadow padding-bottom-25 padding-top-20 rounded">
            <div class="w-100 all_error padding-left-28 padding-right-28">
              <label class="error rounded text-center" id="backend_verify_pwd_errors">Invalid Credentials</label>
            </div>
            <div class="pull-left w-100 padding-left-30 padding-right-30 margin-top-0">
              <p class="margin-top-0 margin-bottom-25 normal_txt">Enter your ShemarooMe password</p>
              <div class="input-group hide_password_group">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <input type="password" id="verify_password" name="" class="form-control"> 
                <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                <span class="input-label">Password</span>
                <label class="error" id="password_verify_error">Please enter the password</label>
              </div>
              <div class="text-center margin-bottom-0 margin-top-5 light">         
                <div class="inline-block margin-top-0 margin-bottom-5 custom-gradient">
                  <p class="inline radius-button">
                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="password_verify">continue</a>
                  </p>
                </div>              
              </div>
             <div class="pull-left w-100 text-center margin-top-25">     
                <a href="/users/forgot_password" class="text-uppercase">forgot password</a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="toster-message-wrap verify_passowrd_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/wrong_mark.svg" alt="user account update" title="user account update">
          <p class="verify_password_message">
            Incorrect password
          </p>
        </div>
      </div>  
    </div>
  </div>  
   
  <%=render "layouts/page_height_setting"%>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if (window.history && window.history.pushState){
      window.history.pushState('forward', null, location.href);
      $(window).on('popstate', function() {
        window.location = "/users/settings";
      });
    }
  });
</script>