<%
meta title: "Verify PIN",
     description: "Verify PIN",
     keywords: %w(Verify PIN)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-10">
          <h2 class="block margin-bottom-10"><%= get_lang_string("enter_pin")%></h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-28 padding-right-28 padding-bottom-30 padding-top-30 rounded otp-verification-page create-pin-page">
            <span class="pull-left w-100 margin-bottom-20 font-mregular">
              <%= get_lang_string("parental_pin_info")%>
            </span>
            <div class="input-group margin-bottom-25">
              <input type="text" id="first_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="second_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="third_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
              <input type="text" id="fourth_pin_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>        
              <label class="error text-center" id="verify_pin_error"><%= get_lang_string("valid_4_digit_pin")%></label>
            </div>
            <div class="text-center light">
              <div class="inline-block margin-top-10 margin-bottom-5 custom-gradient">
                <p class="inline radius-button">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="verify_pin"><%= get_lang_string("continue")%></a>
                </p>
              </div>
            </div>
            <div class="pull-left w-100 text-center margin-top-25" id="forgot_pin_div" style="display: none">     
              <a href="<%= get_lang_url("/users/forgot_pin")%>" class="text-uppercase login-txt"><%= get_lang_string("forgot_pin")%></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "validate_mobile_number"%>
  </section>
</div>
<input type="hidden" id="incorrect_pin"  value="<%=get_lang_string("incorrect_pin")%>">
<input type="hidden" id="pin_confirm"  value="<%=get_lang_string("confirm")%>">

<script type="text/javascript">

  function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
    //console.log(target.previousSibling.previousSibling);    
    var prevElement = target.previousSibling.previousSibling
    if(prevElement != null) {
      prevElement.focus();  
    }
        
  } 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}


</script>

<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  var parent_control_pin = "<%=@user_details['parental_pin']%>"
   $.cookie('pin',parent_control_pin, { expires: 14,path: '/'})
   $("#without_header_tabs").show();  
  });
  </script>