<%
meta title: "User Watchlist",
     description: "User Watchlist",
     keywords: %w(User Watchlist)
%>

<%unless @watch_list_items.empty?%>
<section class="main-content">
  <div class="float-left w-100 min-height-div relative-content">
    <section class="user-item-thumb-list-container padding-bottom-20 watchlist-page">
      <div class="row">         
        <input type="hidden" value="1" id="page_no">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- mt-4">
          <h2 class="section-title big-desktop-app-font3 she-col9"><%=get_lang_string("my_list")%></h2>
          <div class="row user-item-thumb-list-wrap">
            <%@watch_list_items.each do |l|%>
              <div class="col-md-3 col-sm-4 col- mb-3 thumb-list" id="item_<%=l['listitem_id']%>">
                <a href="<%=get_lang_url(l['seo_web_url'])%>" class="wa_li_item">
                  <%if l["content_definition"] == "TVOD"%>              
                     <div class="h-center"><span class="buy-txt"><%= get_lang_string("buy") %></span></div>
                 <%end%>
                  <%if l["access_control"]["is_free"] == false && l["access_control"]["premium_tag"] == true && l["content_definition"] != "TVOD" && $region == "IN"%>
                     <div class="h-center"><span class="premium-img-wat"><img src="/assets/premium_icon.svg" alt="" title="" class="w-100"></span></div>
                  <%end%>
                  <img src="<%=l['thumbnails']["medium_16_9"]["url"]%>" alt="<%=l['title']%>" title="<%=l['ml_title'] rescue l['title']%>" class="img-fluid wa_li_item">
                </a>
                <div class="app-d-flex align-items-center margin-top-10 pt-1 thumb-info">
                  <p class="font-mregular she-col9 text-ellipsis mb-0 mr-auto"><%= l['ml_title'].present? ? l['ml_title'] : l['title'] %></p>

                  <a href="javascript:void(0);" class="app-d-flex"><img src="/assets/new_icons/<%= cookies[:theme_option] == "light_theme" ? "delete.svg" : "delete-dark.svg"%>" class="delete_watch_item" alt="Delete Watch List" title="Delete Watch List" id="<%=l["listitem_id"]%>" data-watchlist-info="<%=l['theme']%>|<%=l['genres'][0]%>|<%=l['language']%>|<%=l['catalog_object']['plan_category_type']%>|<%=l['title']%>"></a>
                </div>            
              </div>
            <%end%>
          </div>
        </div>
      </div>

       <%if @total_items_count > 20 %> 
           <div class="text-center margin-bottom-25 margin-top-20" id="load_more_watchlist_link"> <a href="javascript:void(0);" class="inline-block radius-button black-button text-uppercase load_all_items" id="load_more_watchlist"><%= get_lang_url("load_more")%></a></div>
        <%end%>

       <div class="toster-message-wrap" id="watch_list_delete_toast">
        <div class="app-d-flex w-100 h-center <%= @total_items_count > 10 ? "less_height_box" : ""%>">
          <div class="toster-message app-d-flex hv-center">
            <img src="/assets/password_updated.svg" alt="watch list delete" title="watch list delete">
            <p>
              <%= get_lang_string("item_deleted")%>
            </p>
          </div>
        </div>
      </div>
     
    </section>  
  </div>  
</section>
<%else%>
  
    <div class="float-left w-100 padding-top-80">
      <section class="full-width-content inside-container light padding-bottom-20 watchlist-page">
          <div class="float-left w-100 min-height-div">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- desktop-margin-top-10">
            <h2 class="section-title big-desktop-app-font3 she-col9 pull-left margin-bottom-15 w-100"><%=get_lang_string("my_list")%></h2>
          </div>
        </div>
        
        <div class="row" id="no_search_results_wrap12">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap text-center" id="no_search_results">
            <img src="/assets/no_watchlist.svg" class="search-no-results-image" alt="" title="">
            <p class="margin-bottom-5 font-mbold"><strong><%=get_lang_string("create_list")%></strong></p>
            <p class="font-mregular margin-bottom-25"><%=get_lang_string("my_list_info")%></p>
            <div class="text-center margin-bottom-10 margin-top-5 light">
              <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
                <p class="inline radius-button">
                  <% if @is_child_profile == true%>
                  <a href="<%=get_lang_url("/kids")%>" class="text-uppercase btn gradient1 font-bold"><%= get_lang_string("browse")%></a>
                  <%else%>
                   <a href="/<%=params[:lang]%>" class="text-uppercase btn gradient1 font-bold"><%= get_lang_string("browse")%></a>
                  <%end%>
                </p>
              </div>
            </div>
          </div>  
        </div>
        </div>
      </section>
    </div>  
  
<%end%>

<%=render "layouts/page_height_setting"%>
<%=render "check_valid_user"%>

<script>
  $(document).ready(function() {
    $(".scrollmenuwrap").hide();
    $(".wa_li_item").click(function(){
      localStorage.removeItem("nc_stream_src")
      localStorage.setItem("nc_stream_src","watchlist")
      localStorage.removeItem("my_list_val")
      localStorage.setItem("my_list_val",1)
      var x = $(".min-height-div").height();

    //$("#no_search_results_wrap").css("height", (x - 35)+"px");
    })
  });
    
</script>