<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15 welcome_page">
          <input type="hidden" class="user_region" name="user region" value="<%=$region%>">    
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded text-center">
	          <h6 class="margin-bottom-25 text-ellipsis login_user_name">Welcome !</h6>      
	          <img src="/assets/welcome.png" class="margin-bottom-5 welcome_page_image"  alt="subscription" title="subscription">
	          <p class="font-regular margin-top-15 margin-bottom-20" id="welcome_message"></p>
           <!--  <p class="font-regular margin-top-20 margin-bottom-20" id="free_trail_message">Enjoy your <b>7 day</b> trial period.</p>  -->
            <div class="pull-left w-100 margin-top-15 margin-bottom-15 custom-gradient">
              <p class="inline radius-button">
  		          <a href="/" class="text-uppercase btn gradient1 font-bold" id="Proceed_button">Proceed</a>
              </p>
              <div class="pull-left w-100 text-center margin-top-25" id="no_thanks">     
                <a href="/" class="text-uppercase">no thanks</a> 
              </div>
		        </div>		        
	        </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
<%=render "layouts/disable_browser_back"%>

<script type="text/javascript">
  $("#with_header_tabs").hide();
 $(document).ready(function(){
 branch.logEvent(
     "COMPLETE_REGISTRATION",
      {'description': 'registration_complete',
      'user_id': getShemarooCookies().user_analytical_id },
      'user_state': $.cookie('user_state'),
     function(err) { console.log(err); }
     );
  var free_trail = localStorage.getItem("free_trail");
  var message = localStorage.getItem("welcome_message_text");
  $("#welcome_message").text(message)
  if(localStorage.getItem("welcome_message_text") == undefined){
    $("#welcome_message").text("We have a lot of entertainment in store for you! Browse through our packs to know what suits you best.")
    free_trail = "false"
  }
  if(free_trail == "true"){
    branch.logEvent(
     "START_TRIAL",
      {'description': "free_trail",
      'amount': "0",
      'currency_type': "₹",
      'user_id': getShemarooCookies().user_analytical_id },
      'user_state': $.cookie('user_state'),
     function(err) { console.log(err); }
     );
    $("#no_thanks").hide()
    smartech('dispatch', 'Free trial registration complete', {});
  }
  else if(free_trail == "false"){
    //$("#free_trail_message").hide()
    $("#no_thanks").show()
    $("#Proceed_button").text("Subscribe now")
    $("#Proceed_button").attr("href", "/plans")
  }
  localStorage.removeItem("free_trail");
  localStorage.removeItem("welcome_message_text");

  $("#without_header_tabs").show();

  $(".login_user_name").text("Welcome "+getShemarooCookies().user_name+"!");
   

   var current_url = window.location.href.split('?t=')
  if(current_url.length == 2){
    window.history.pushState("", "", current_url[0]);
  }
 
    
 })

</script>