<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15 welcome_page">
          <input type="hidden" class="user_region" name="user region" value="<%=$region%>">    
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded text-center">
	          <h6 class="margin-bottom-25 text-ellipsis login_user_name">Congratulations !</h6>      
	          <img src="/assets/subscription.svg" class="margin-bottom-5 welcome_page_image"  alt="subscription" title="subscription">
	          <p class="font-regular margin-top-20 margin-bottom-0">Your email id has been successfully registered. 
            <div class="pull-left w-100 margin-top-15 margin-bottom-15 custom-gradient">
              <p class="inline radius-button">
  		          <a href="/" class="text-uppercase btn gradient1 font-bold">Proceed</a>
              </p>
		        </div>
		        <!-- <p class="pull-left w-100 margin-top-15">
		          <a href="/" class="text-uppercase">no thanks</a>
		        </p> -->
	        </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
<%=render "layouts/disable_browser_back"%>

<script type="text/javascript">
  $("#with_header_tabs").hide();
 $(document).ready(function(){
  $("#without_header_tabs").show();

  // $(".login_user_name").text("Welcome "+getShemarooCookies().user_name+"!");
   

   var current_url = window.location.href.split('?t=')
  if(current_url.length == 2){
    window.history.pushState("", "", current_url[0]);
  }
 
    
 })

</script>