
<%
meta title: "Who is watching",
     description: "Who is watching",
     keywords: %w(Who is watching)
%>

<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><%= get_lang_string("whos_watching")%></h2>
          <div class="w-100 pull-left tile-box-shadow padding-left-30 manage_profile_page who_is_watching_page padding-right-30 padding-bottom-30 padding-top-30 rounded">
              <div class="pull-left w-100 profile_items">
              <%@user_profiles.each do |p|%>
                <div class="profile_active profile_item_box text-center <%= p["child"] == true ? "kids_profile" : ""%>">
                  <a href="<%=p["child"] == true ? get_lang_url("/users/change_profile/#{p["profile_id"]}") : "javascript:void(0)"%>" class="profile_item_watching" id="<%=p["profile_id"]%>">  
                    <p class="text-uppercase font-extra-bold text-center inline-block margin-bottom-5">
                      <%=p["firstname"].split.map(&:chr).join.first(2)%>                      
                    </p>
                    <b class="text-uppercase font-bold inline-block text-ellipsis"><%=p['firstname']%></b>
                  </a>
                </div>
              <%end%>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%> 
    <%=render "layouts/disable_browser_back"%>
    <%=render "check_valid_user"%>
  </section>
</div>  
<script type="text/javascript">
  $("#with_header_tabs").hide();
  $(document).ready(function(){
    localStorage.removeItem("verified_pin")
    $(".main_logo_link").attr("href","javascript:void(0)")
    $("#without_header_tabs").show();  
  });

</script>