
<%
meta title: "Who is watching",
     description: "Who is watching",
     keywords: %w(Who is watching)
%>
<div class="padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Who's watching</h2>
          <div class="w-100 pull-left tile-box-shadow padding-left-280 manage_profile_page padding-right-28 padding-bottom-30 padding-top-30 rounded">
              <div class="pull-left w-100 profile_items">
              <%@user_profiles.each do |p|%>
                <div class="profile_active profile_item_box text-center <%= p["child"] == true ? "kids_profile" : ""%>">
                  <a >  
                    <p class="text-uppercase font-extra-bold text-center inline-block margin-bottom-5">
                      <%=p["firstname"].split.map(&:chr).join.first(2)%>                      
                    </p>
                    <b class="text-uppercase font-bold inline-block text-ellipsis"><%=p['firstname']%></b>
                  </a>
                </div>
              <%end%>
              <div class="profile_item_box text-center">
                <a href="/users/add_profile"><i class="fa fa-plus margin-bottom-5 new_profile_click" aria-hidden="true"></i></a>
                <b class="text-uppercase font-bold inline-block w-100 new_profile_click"><a href="/users/add_profile" id="add_profile">New profile</a></b>
              </div>
              </div>
              <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient w-100 text-center">
                    <p class="inline radius-button">
                      <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="processed_register_sucess">Proceed</a>
                    </p>
                  </div>
          </div>
        </div>
      </div>
    </div>

    <div class="toster-message-wrap add_profile_toast">
      <div class="center-align-content">
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="user account update" title="user account update">
          <p>
            Profile added successfully
          </p>
        </div>
      </div>
    </div>

    <%=render "layouts/page_height_setting"%> 
    <%=render "layouts/disable_browser_back"%>
    <%=render "check_valid_user"%>
  </section>
</div>  
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  $(".main_logo_link").attr("href","javascript:void(0)")
  $("#without_header_tabs").show();  

 // var toast = localStorage.getItem("add_profile_toast");
  
  if(localStorage.getItem("add_profile_toast") != undefined){
    $(".add_profile_toast").show().fadeOut(4500);
    $('html,body').animate({ scrollTop: 300}, 'slow');
  }
  localStorage.removeItem("add_profile_toast");


  $(".new_profile_click").click(function(){
    localStorage.removeItem("new_profile_at_register");
    localStorage.setItem("new_profile_at_register", "/users/who_is_watching_register");
  })

  });

  </script>