<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
  <%=stylesheet_link_tag 'application', media: 'all' %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>
</head>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<body>
  <div class="loader" style="display: none;"></div>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH6WPGG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <input type="hidden" id="con_user_region" value="<%= $region%>">
  <div class="container gujarthi-page consult_page">
    <div class="gujarthi-page-bg">
      <div class="row">
        <header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-top-20">
          <img src="/assets/shemaroo_logo.svg" alt="" title="">
        </header>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- gujarthi-info margin-top-25 margin-bottom-0">
          <div class="top-section-padding pull-left w-100">
            <div class="info-first margin-bottom-25">
              <img src="assets/premiere.png" class="pull-left" alt="" title="">
              <p class="margin-bottom-0 pull-left margin-left-15 font-medium">One-stop destination for authentic Indian content | Over 3700+ titles
              </p>
            </div>
            <div class="info-second  margin-bottom-25">
              <img src="assets/titles.png" class="pull-left" alt="" title="">
              <p class="margin-bottom-0 pull-left margin-left-15 font-medium">Watch Bollywood movies, TV shows, Songs & Regional content in Gujarati, Marathi & Punjabi</p>
            </div>
            <div class="info-third  margin-bottom-25">
              <img src="assets/play.png" class="pull-left" alt="" title="">
              <p class="relative-content margin-bottom-0 pull-left margin-left-15 font-medium">Get the best of devotional content from India LIVE & Kids content
              </p>
            </div>
            <div class="line-divider1"></div>
            <div class="line-divider2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-" id="consult_page">
          <div class="left-content" id="">
            <div id="social_logo" class="pull-left w-100 padding-top-10 mt-3">
              <img src="/assets/shemaroo_logo.svg" id="shem" alt="shemaroome" title="shemaroome" style="width: 153px;height: 70px;">
              <span>&nbsp;</span>              
              <img src="/assets/ticketexpress_logo.png" id="" alt="ticketexpress_logo" title="ticketexpress_logo" style="width: 178px;">              
            </div>
            <div class="pull-left w-100 social-left-bg margin-top-10">
              <div class="pull-left w-100 rightform-wrap">                
                <div class="marketing_form pull-left w-100">
                  <div class="input-group relative-content promo_box">
                    <input type="text" name="name" class="form-control font-medium text-uppercase margin-bottom-30" placeholder="ENTER YOUR EGV CODE" id="cons_gen_coupon_code">
                    <a href="javascript:void(0);" id="cons_gen_apply_promo_code" class="text-uppercase font-size3 font-bold">Apply</a>          
                    <label class="error" id="cons_gen_signup_user_promo_error">Sorry, this Coupon Code is Invalid</label>
                    <label class="error" id="signup_cons_gen_coupon_code_error">This field is mandatory</label>
                   <input type="hidden" value="" id="cons_gen_coupon_id">
                   <input type="hidden" value="false" id="acntv_cupn_st">
                   <input type="hidden" value="" id="acntv_cupn_type">
                  </div>
                  <p class="coupon-invalid-error dont_have_coupon">Don't have coupon code? Register for 7 day free trial</p>
                  <div class="w-100 all_error" style="margin-top: 6px">
                    <label class="error" id="signup_cons_gen_resp_error_msg">Invalid Credentials</label>
                  </div>
                  <div class="input-group margin-top-5">
                    <input type="text" id="cons_gen_user_name" name="name" class="form-control" style="padding: 5px 5px 5px 10px;">
                    <i class="fa fa-star" aria-hidden="true" style="top: 11px; left: 0px;"></i>
                    <span class="input-label" style="top: 8px; left: 10px;">Name</span>
                    <label class="error" id="signup_cons_gen_user_name_error">This field is mandatory</label>
                  </div>
                  <div class="input-group"> 
                    <input type="email" id="cons_gen_user_email" name="email" class="form-control" style="padding: 5px 5px 5px 10px;">
                    <i class="fa fa-star" aria-hidden="true" style="top: 11px; left: 0px;"></i>
                    <span class="input-label" style="top: 8px; left: 10px;">Email ID</span>
                    <label class="error" id="signup_cons_gen_user_email_error">This field is mandatory</label>
                  </div>
                  <div class="input-group pwd hide_password_group"> 
                    <input type="password" id="cons_gen_password" name="password" class="form-control">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="input-label">Password</span>
                    <label class="error" id="signup_cons_gen_password_error">This field is mandatory</label>
                  </div>
                  <div class="input-group cpwd12 hide_password_group">  
                    <input type="password" id="cons_gen_confirm_password" name="cpassword" class="form-control">            
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="input-label">Confirm Password</span>
                    <label class="error" id="signup_cons_gen_confirm_password_error">This field is mandatory</label>
                  </div>
               
                  <div class="input-group custom-controls-stacked d-block margin-bottom-10">
                    <label class="custom-control overflow-checkbox">
                      <input type="checkbox" class="overflow-control-input" checked="" id="cons_gen_agree_terms">
                      <span class="overflow-control-indicator"></span>
                      <span class="overflow-control-description font-semibold w-100">I am over 18, and I agree to the <a href="/terms-and-conditions" class="font-semibold" target="blank">Terms of Use </a>and <a href="/privacy-policy" class="font-semibold" target="blank">Privacy Policy</a></span>
                    </label>
                    <label class="error" id="terms_check">Please check the terms of use</label> 
                  </div>
                  
                  <div class="input-group center-align-content">
                    <button type="button" id="accen_user_register" class="text-uppercase margin-top-5 margin-bottom-15" style="cursor: pointer;">Register now</button>
                   <!--  <p class="font-size3 font-medium text-center margin-bottom-0 w-100" id="already-txt">Already have an account? <a href="javascript:void(0)" class="font-bold" id="usr_login_link">Login</a></p> -->
                  </div>
                </div>
              </div>
            </div>  
            <p class="pull-left w-100 text-center shemaroo-color1 font-size3 d-none d-lg-block">Shemaroome &copy; 2020, All Rights Reserved.</p>
          </div>

          <div class="right-video-content pt-2">
            <img src="/assets/nria_banner.png" class="img-fluid mt-3" alt="" title="">
          </div>
          <p class="pull-left w-100 text-center font-size3 shemaroo-color1 margin-top-25 d-block d-lg-none">Shemaroome &copy; 2020, All Rights Reserved.</p>

        </div>
      </div>
    </div>
  </div> 


 <div class="modal" id="acntv_suc_pop" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body d-flex flex-column justify-content-center align-items-center relative-content">              
          <img src="/assets/cancel_search.svg" class="close_pop" alt="" title="" id="acntv_cls" style="cursor: pointer;"> 
          <h2 class="shemaroo-color7 font-semibold mt-4">Subscription Successful !!!</h2>
          <p class="font-medium shemaroo-color2 pull-left w-100 margin-top-20 margin-bottom-20 text-center">
            1. Logon to www.shemaroome.com or download ShemarooMe from App store
          </p>
          <p class="font-medium shemaroo-color2 pull-left w-100 margin-bottom-20 text-center">
            2. Login with your registration details and enjoy you subscription
          </p>
          <a href="/" class="btn mt-4 mb-4 font-semibold text-uppercase shemaroo-color6">continue</a>
          </div>  
        </div>      
      </div>
    </div>
  </div>


  <style>  
  .consult_page .top-section-padding {
    padding: 0px 20px 0px 25px;
  }
  .gujarthi-page .info-first {
    width: 35%;
  }
  .gujarthi-page .info-second {
    width: 36%;
  }
  .gujarthi-page .info-third {
    width: 29%;
  }
  .gujarthi-page .info-first p {
    width: calc(100% - 130px);
  }
  .gujarthi-page .info-second p {
    width: calc(100% - 105px);
  }
  .gujarthi-page .info-third p {
    width: calc(100% - 150px);
  }
  #consult_page {
    padding: 0px 30px;
  }
  #consult_page .left-content {
    margin-right: 2px;
    width: 26.2%;
  }
  #social_logo {
    border: 3px solid #D82754;
    padding: 24px 5px 7px;
    height: 120px;
    display: flex;
    align-items: center;
  }
  #social_logo #shem {
    padding-right: 7px;
  }
  #consult_page .rightform-wrap {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #social_logo span {
    height: 120px;
    width: 2px;
    background: red;
    margin: 20px 0px 7px;
    height: 90%;
  }
  #cons_gen_apply_promo_code {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #fff;
  }
  .custom-control.overflow-checkbox .overflow-control-indicator::after {
    background: #F2F2F2;
  }
  .input-group.promo_box input[type="text"]::placeholder {
    font-family: 'condensed-semibold'!important;
  }
  #consult_page .custom-control span.overflow-control-description {
    font-size: 0.635em;
    margin-top: 7px;
  }
  #already-txt {
    color: #2c2c2c;
  }
  label.error, span.hint_txt {
    bottom: 0px;
  }
  .input-group.custom-controls-stacked label.error {
    bottom: -23px;
  }
  #consult_page .right-video-content {
    width: calc(75% - 20px);
  }
  #consult_page .form-control {
    margin-bottom: 25px;
  }
  @media(max-width: 1340px) {
    #social_logo #shem {
      height: 66px !important;
      width: 145px !important;
    }
    #social_logo img:last-child {
      width: 152px !important;
    }
  }
  @media(max-width: 991px) {
    .gujarthi-page .info-first, .gujarthi-page .info-second, .gujarthi-page .info-third {
      width: 100%;
    }
    .gujarthi-page .info-first p, .gujarthi-page .info-second p, .gujarthi-page .info-third p {
      width: calc(100% - 65px);
    }
    #consult_page .left-content {
      float: none;
      margin: 0 auto;
      width: 330px;
    }
    #consult_page .right-video-content {
      margin-top: 20px !important;
      width: 100%;
    }
  }
  @media(max-width: 470px) {
    #consult_page .right-video-content img {
      max-width: 100%;
      width: auto;
    }
  }
  @media(max-width: 375px) {
    #consult_page {
      padding: 0px 15px;
    }
  }
  @media(max-width: 359px) {
    #consult_page .left-content {
      width: 290px;
    }
    #social_logo #shem {
      height: 60px !important;
      width: 135px !important;
    }
    #social_logo img:last-child {
      width: 140px !important;
    }
  }
 </style> 
 <script>
   if(getShemarooCookies().user_id){
      window.location = "/"
    }
$(document).ready(function(){
 $(".const_ok").click(function(){
  $("#consult_page_pop_up").hide()
 })
 
 $("#acntv_cls").click(function(){
  $("#acntv_suc_pop").modal("hide");
 })
 
})
</script>