
<section class="onboarding-bg onboarding-bg-min-height static-mobile-page padding-top-80 padding-top-60">
  <div class="min-height-div">
    <div class="static-container margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">FAQ</h2>
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded mobile_padding_0">
    
            <div id="faqs">
              <div class="custom-select font-regular">
                <select id="faq">
                  <option value="about">All Topic</option>
                  <option value="about">About ShemarooMe</option>
                  <option value="plans">Plans</option>
                  <option value="account">Managing your account</option>                   
                  <option value="billing">Billing</option>
                  <option value="service">Service Usage</option>                   
                </select>
              </div>
              <div id="accordion" class="font-regular">
                <div id="about" class="faq_content" data-faqcontent="About ShemarooMe">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse1">
                        What is ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe is a one stop destination for authentic Indian content. With access to over 3700 titles, across multiple genres and languages -  Bollywood Classic, Bollywood Plus, Gujarati, Bhakti, Ibaadat, Kids and Punjabi - it has something for everyone in your family.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse2">
                        Where can I download ShemarooMe app?
                      </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can download ShemarooMe app from -</p>
                        <p class="padding-left-15 margin-bottom-15">1. For Android devices – Visit Google Play Store 
                        </p>
                        <p class="padding-left-15 margin-bottom-15">2. For iOS devices- Visit App Store
                        </p>
                        <p class="margin-bottom-0">You can also watch content on web – Visit <a href="/">www.shemaroome.com</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse3">
                        Which platforms and devices is ShemarooMe available on? 
                      </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe is currently available on Android phones, iPhones, Web. We will soon be launching on Roku, AppleTV and Amazon Firestick. We shall make sure to keep you posted.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse4">
                       What are the necessary requirements for accessing ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">The app is only available on Android 5.1 & above and iOS 9.0 & above - both phones & tablets.</p>
                        <p class="margin-bottom-0">The web app can be viewed on Chrome 62.0 & above, Edge 11.0 & above, Firefox 13.0 & above, Safari 10.0 & above, UCBrowser 11.0 & above.</p>
                      </div>
                    </div>
                  </div>
                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse5">
                       Is the App supported for phones running on Windows or Blackberry?
                      </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, currently we do not support these 2 platforms. We will keep you posted.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse6">
                       Does ShemarooMe work on Chromecast?
                      </a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, ShemarooMe does not supports Chromecast at the moment. We are working on it and will keep you posted once it available.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse7">
                       Is ShemarooMe available outside India? 
                      </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0"><!-- As of now, ShemarooMe is available in India and USA. We do plan to launch our services in other countries too. We will keep you posted about it! -->
                         As of now, ShemarooMe is available in India. We do plan to launch our services in other countries too. We will keep you posted about it!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="plans" class="faq_content" data-faqcontent="Plans">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse8">
                       What are the types of plans? 
                      </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">There are two types of plans you can purchase on ShemarooMe:</p>
                        <p class="padding-left-15 margin-bottom-15">1.  Individual plan yearly/ monthly plans 
                        </p>
                        <p class="margin-bottom-0">You can choose from the following premium plans -  Bollywood Classic, Bollywood Plus, Gujarati, Bhakti, Ibaadat, Kids and Punjabi.</p>
                        <p class="padding-left-15 margin-bottom-15">2.  ShemarooMe Premium yearly and monthly plan
                        </p>
                        <p class="margin-bottom-0">This plan will give access to all individual plans </p>
                        <p class="margin-bottom-0">To understand more and get started, click on ‘Me’ icon and go to ‘View Plans’.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse9">
                       Why am I not able to access individual category plans on iPhone?
                      </a>
                    </div>
                    <div id="collapse9" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">On all iOS devices, payments are done through iTunes. On iTunes, a user can only buy monthly or yearly subscription of ShemarooMe Premium plan. We will let you know once you can avail individual category plans.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse10">
                       Can I watch videos without purchasing a plan? 
                      </a>
                    </div>
                    <div id="collapse10" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe has a mix of free and premium titles. If you have not subscribed to a plan, you can only avail the free titles. After you subscribe to a plan, you can view exclusive, unlimited, ad free content for the purchased plan and get the best ShemarooMe experience.</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse11">
                       I am not able to subscribe to a plan on my smart TV?
                      </a>
                    </div>
                    <div id="collapse11" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You cannot subscribe to a plan on TV, you can only purchase on Web and mobile. To subscribe to a plan of your choice, click on the ‘Me’ icon and go to ‘View Plans’.</p>
                      </div>
                    </div>
                  </div> -->
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse12">
                       Where can I see my current plan?
                      </a>
                    </div>
                    <div id="collapse12" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can check your current plan by clicking on the ‘Me’ icon and navigating to ‘View Plans’. You will be able to see your current and past plans, and update your plans as well.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse13">
                       Will a subscription purchased in India work in any other region/country?
                      </a>
                    </div>
                    <div id="collapse13" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No. Subscription plans and their prices are country specific so the plan that you have bought will work only in the country you have bought it in & nowhere else. </p>
                        <p class="margin-bottom-0">For example:  if you have bought a monthly subscription to Gujarati Premium plan in India, it will only be valid in India and not in any other country outside India.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="account" class="faq_content" data-faqcontent="Managing your account">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse14">
                       How can I log in?
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can login by clicking on ‘Me’ icon and going to ‘Login’. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse15">
                       Can I Login via Facebook on ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse15" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0"><!-- Facebook login is not available on ShemarooMe across all platforms (Android, iOS, Web, Amazon Fire Stick & Roku) -->Facebook login is not available on ShemarooMe across all platforms (Android, iOS & Web)</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse16">
                       I forgot my password. What can I do?
                      </a>
                    </div>
                    <div id="collapse16" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0"><u>Reset via Phone</u></p>
                        <p class="margin-bottom-0">Click ‘Forgot Password’. You will be redirected to provide your registered mobile number. On entering correct details, you will receive your one-time password (OTP) via text message. Enter that OTP to reset your password. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse17">
                       What are profiles?
                      </a>
                    </div>
                    <div id="collapse17" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">In ShemarooMe, you can create multiple profiles for different members of your family. We recommend users to create different profiles for each member to enjoy a personalised experience based on their preferences. You can create a maximum of 5 profiles including a kids’ profile within a single account.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse18">
                       How can I create profiles?
                      </a>
                    </div>
                    <div id="collapse18" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">As soon as you log in, you will be asked to create profiles. If you want to add more profiles, click on ‘Me’ and go to ‘Manage profiles’ and add a new profile.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse19">
                       Can I edit my profile?
                      </a>
                    </div>
                    <div id="collapse19" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Yes, you can edit profiles. To edit your profile(s), you first have to log in to your account, if you’re not logged in already. Now follow this process to edit profile:</p>
                        <ul class="padding-left-25 margin-bottom-20">
                          <li class="margin-bottom-10">
                            Go to your ‘Me’ icon and enter ‘Manage profiles’
                          </li>
                          <li class="margin-bottom-10">
                            Click on ‘Edit’ below the profile you want to make changes in and press ‘Done’.
                          </li>
                        </ul>
                       <!--  <p class="margin-bottom-0">Note: Profile details cannot be changed on TV</p> -->
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse20">
                       Can I delete my profile?
                      </a>
                    </div>
                    <div id="collapse20" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can delete your profile. To do so, you have to logged in to ShemarooMe. Click on the ‘Me’ icon and go to ‘Manage profiles’. Select ‘Edit’ below the profile you want to Delete and press ‘Delete Profile’.</p>
                        <p class="margin-bottom-0">We’d really like you to keep your profile running, so let us know if there is any specific issue you are facing and that we could help with.</p>
                        <p class="margin-bottom-0">Write an email to <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> with your grievance.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse21">
                       I am unable to create more profiles.
                      </a>
                    </div>
                    <div id="collapse21" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can create a maximum of 5 profiles including a kids’ profile within a single account.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse22">
                        How to enable parental control?
                      </a>
                    </div>
                    <div id="collapse22" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Parental control is a feature which helps in preventing kids from accessing content not suitable for their viewing.</p>
                        <p class="margin-bottom-0">On ShemarooMe, you can enable parental control by setting a PIN, the steps to do the same are mentioned below :</p>
                        <ul class="padding-left-25 margin-bottom-20">
                          <li class="margin-bottom-10">
                            Select the ‘Me’ icon and navigate the menu to select ‘Settings’
                          </li>
                          <li class="margin-bottom-10">
                            Under ‘Privacy Settings’, you will find an option to enable ‘Parental Control’ by sliding the button.
                          </li>
                          <li class="margin-bottom-10">
                            On Enabling ‘Parental Control’, user will be prompted to enter their ShemarooMe password.
                          </li>
                          <li class="margin-bottom-10">
                           After successfully entering the password, you will be requested to set a 4-digit PIN. Enter a 4-digit number of your choice and press ‘Confirm’. 
                          </li>
                        </ul>
                        <p class="margin-bottom-0">After enabling parental control, users will be prompted to enter the PIN when they try to exit the kids’ profile or launch the app, to ensure maximum safety.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse23">
                       How to disable parental control?
                      </a>
                    </div>
                    <div id="collapse23" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">After you have logged in, you can follow the process to disable parental control:</p>
                        <ul class="padding-left-25 margin-bottom-20">
                          <li class="margin-bottom-10">
                            Select the ‘Me’ icon and navigate the menu to select ‘Settings’
                          </li>
                          <li class="margin-bottom-10">
                            Under ‘Privacy Settings’, you will find an option to disable ‘Parental Control’ by sliding the button.
                          </li>
                        </ul>
                        <p class="margin-bottom-0">However, we do recommend keeping parental control if your child accesses the app.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse24">
                       I want to change the parental control PIN.
                      </a>
                    </div>
                    <div id="collapse24" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">After you have logged in, you can follow the process to </p>
                        <ul class="padding-left-25 margin-bottom-20">
                          <li class="margin-bottom-10">
                            Select the ‘Me’ icon and navigate the menu to select ‘Settings’
                          </li>
                          <li class="margin-bottom-10">
                            Under ‘Privacy Settings’, you will find an option to Change the PIN
                          </li>
                          <li class="margin-bottom-10">
                            You will be prompted to enter your ShemarooMe password. After successfully entering the password, you will be requested to change the PIN by entering the new 4-digit PIN.
                          </li>
                          <li class="margin-bottom-10">
                            Enter the new 4-digit PIN and continue watching ShemarooMe. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse25">
                       How do I enable or disable in-app notifications?
                      </a>
                    </div>
                    <div id="collapse25" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">To disable in-App notifications, you’ll have to log in to ShemarooMe. After doing that, navigate to ‘Settings’. You will find an option to disable notifications in ‘Device Settings’ </p>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse1">
                       How many devices can a user play content at a time from a single account?
                      </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">We allow only two devices to view content simultaneously on one subscribed account. This is to ensure that your premium membership is not misused.</p>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div id="billing" class="faq_content" data-faqcontent="Billing">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse26">
                       What are the different modes of payment accepted by ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse26" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">There are multiple payment options available depending on the platform (operating system) on which you are purchasing the subscription:</p>
                        <p class="padding-left-15 margin-bottom-15">1. iOS</p>
                        <p class="margin-bottom-0">For India & US users on iOS platform, the payment can only be made via iTunes.</p>
                        <p class="padding-left-15 margin-bottom-15">2. Android Phones and Web</p>
                        <p class="margin-bottom-0">On Mobile and Web, there are multiple options available like Credit cards, Debit cards, Net banking and wallets</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse27">
                       Can I pay Cash?
                      </a>
                    </div>
                    <div id="collapse27" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">We currently don’t accept cash as a payment option for your ShemarooMe subscription.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse28">
                       How can I cancel my plan?
                      </a>
                    </div>
                    <div id="collapse28" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can choose to stop your subscription anytime.</p>
                        <p class="margin-bottom-0">If you have bought your plan on android and web, you can follow this process: Click on ‘Me’ and enter ‘View Plans’. Select the option ’View/Modify Plans’ to cancel the plan. </p>
                        <p class="margin-bottom-0">Whereas, if you have paid for your subscription through iTunes, and have an auto renewal subscription, visit this website for more information - https://support.apple.com/en-us/HT202039</p>
                        <p class="margin-bottom-0">We’d really like you to stay, so let us know if there is any specific issue you are facing and that we could help with.
                        Write an email to <u><a href="mailto:support@shemaroome.com">support@shemaroome.com</a></u> with your grievance.</p>
                        <p class="margin-bottom-0">Note:
                        Uninstalling the ShemarooMe app will not automatically stop your subscription. If you uninstall the Shemaroo app without cancelling your subscription, you will still be charged. You must cancel your subscription using the steps above to end your subscription. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse29">
                       I am still getting charged after I cancelled by plan.
                      </a>
                    </div>
                    <div id="collapse29" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If you have been incorrectly charged, we apologise to you. We will solve this issue at the earliest. Please check your ‘Active Plans’ in ‘View Plans’ to confirm if the plan you have been charged for is still active. If it is active, then you have been charged because the plan is not cancelled yet. You can cancel the plan if you wish to.</p>
                        <p class="margin-bottom-0">However, if there are no active plans, please write to us on <u><a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</u></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse30">
                      How can I get a refund? 
                      </a>
                    </div>
                    <div id="collapse30" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">As a policy, ShemarooMe does not offer any partial or full refunds. In case you require any assistance this regards, please contact us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse31">
                      Are there any additional fees associated with the ShemarooMe subscription?
                      </a>
                    </div>
                    <div id="collapse31" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe only charges the subscription fee, which is inclusive of all taxes. 
                        <!-- ShemarooMe only charges the subscription fee, which is inclusive of all taxes. Some financial institutions add additional transaction fees for foreign transactions. These fees are charged by your bank, so if you have questions, please contact your financial institution. --></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse32">
                      I have registered via iTunes. Will my plan be auto renewed?
                      </a>
                    </div>
                    <div id="collapse32" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Your plan will be auto renewed if you have purchased ShemarooMe via iTunes. However, you can cancel auto renewal of the subscription 24 hours before the renewal date.</p>
                        <p class="margin-bottom-0">To know more about how to disable auto plan, please click on the link https://support.apple.com/en-us/HT202039 for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse33">
                      I tried subscribing but the transaction failed and the money is deducted from my bank.
                      </a>
                    </div>
                    <div id="collapse33" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can try relaunching the App or go to the website and check if the subscription details appear below ‘Active Plans’ under ‘View Plans’ in ‘Me’. If you can't see the details, please contact our support team at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service" class="faq_content" data-faqcontent="Service Usage">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse34">
                        Can I download a list of movies and shows to watch later?  
                      </a>
                    </div>
                    <div id="collapse34" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, currently the download feature is not available but we will soon introduce this feature.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse35">
                        I'm getting a black screen with no sound.
                      </a>
                    </div>
                    <div id="collapse35" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Please restart the device you are viewing the content on and start the app. If the issue still persists, write to us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>, mentioning the steps to recreate the issue and screenshot of error messages if any.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse36">
                        Why is my app shutting down/ crashing/ closing frequently on my phone? 
                      </a>
                    </div>
                    <div id="collapse36" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">For a good user experience, kindly update the app to the latest version. Also, try to clear your app data and restart your phone. If you're still facing problems, send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com.</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse37">
                        Video is taking very long time to load. What can I do?
                      </a>
                    </div>
                    <div id="collapse37" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the videos are buffering on your app, check if your Internet connection is working fine. If the internet is working fine and it’s still taking time to load, then please send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse38">
                        App is consuming too much data. 
                      </a>
                    </div>
                    <div id="collapse38" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the app seems to be consuming too much of your data, try changing your video quality settings. You can try changing the video quality by tapping the video and clicking the gear icon on the top right corner. That should bring up a list of video quality options to choose from! If it still doesn’t help, send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> about the problem.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse39">
                        Can I change the video quality?
                      </a>
                    </div>
                    <div id="collapse39" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Yes, you can change video quality by clicking on gear icon on video player and choose desired quality as per your network speed.</p>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              
  
            
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              var selected_option = $(".same-as-selected").text();
              $(".faq_content").hide();
              $("div[data-faqcontent*='" + selected_option + "']").show(); 
              if(selected_option.toLowerCase() == 'all topic') {
                $(".faq_content").show();
              }
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
 
  </script>
</div>
</div>
</div>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
</body>