<div class="modal" id="player_login_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5">Subscribe Now</h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
          To continue watching, with unlimited and ad free access to premium videos, subscribe now.  
        </p>
        <div class="w-100 custom-gradient margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_loginpop">cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/users/login" class="text-uppercase btn gradient1 font-bold" id="">Proceed</a>
          </p>        
        </div>
        <div class="inline-block w-100 custom-gradient margin-bottom-5 margin-top-5 text-center">
          <p class="pull-left w-100 margin-top-5 margin-bottom-0 font-light normal_txt">Already subscribed?&nbsp;<a href="/users/login" class="link">Login</a></p>
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="player_subscription_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5">Subscribe Now</h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-light normal_txt">
         To continue watching, with unlimited and ad free access to premium videos, subscribe now.
        </p>
        <div class="w-100 custom-gradient margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_subspop">cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/plans" class="text-uppercase btn gradient1 font-bold" id="">Proceed</a>
          </p>
        
        </div>
        
      </div>   
    </div>
  </div>
</div>

<%if @item_details.nil?
 det_item = @episode_details
else
 det_item =  @item_details
end
%>
<script type="text/javascript">
  $(document).ready(function(){
  


    $('#cancel_loginpop').click(function() {
      $("#player_login_pop").modal('hide');
    })
    $('#cancel_subspop').click(function() {
      $("#player_subscription_pop").modal('hide');
    })

    $.cookie('user_sub_status',"false", { expires: 14,path: '/'})
    $.cookie('video_preview',"false", { expires: 14,path: '/'})
    $.cookie('is_premium',"false", { expires: 14,path: '/'})
    $.cookie('user_preview_played_status',"false", { expires: 14,path: '/'})
    $.cookie('preview_available',"false", { expires: 14,path: '/'})
    $.cookie('external_preview_url',"false", { expires: 14,path: '/'})


   function set_playbacktime(play_time){
     var player_src = $(".shemaroo_web_player").attr("src")+"|time="+play_time;
     $(".shemaroo_web_player").attr("src",player_src);
   }
  	var catalogid = $("#catalog_id").val();
    var contentid = $("#content_id").val();
    var video_category_type = $("#item_category").val();
    var current_url = window.location.href.split("?time=");
    // if(current_url.length == 2){
			if(getShemarooCookies().user_id){
		     $.ajax({
		      url: "/users/user_all_lists",
		      type: "GET",
		      data: {catalog_id: catalogid,content_id: contentid,item_category: video_category_type},
		      success: function(response){
           console.log(response);
           if(response.age.length != 0){
            $("#age").val(response.age); 
           }
           $("#analytic_user_id").val(response.analytic_user_id)
            if(response.gender.length != 0){
              $("#gender").val(response.gender)
           }
           $("#user_plan").val(response.user_pack_name)
           $("#user_period").val(response.user_period)
           $("#user_plan_type").val(response.user_plan_type)
           if(response.user_pack_name != null && response.user_pack_name.length != 0){
              _paq.push(['trackEvent', 'Users', 'Activity', 'svod_active', 1]);
           }
           $("#user_state").val(response.user_state)
            $.cookie('user_sub_status',response.user_sub_status, { expires: 14,path: '/'})
		        set_playbacktime(response.user_play_back_time)
		        $("#playback_time").val(response.user_play_back_time);
		        $('#watch_later').data('listitemid',response.list_id)
		        if(response.watch_later_st == true){
		          $(".watch_later").attr("src","/assets/watch_list.svg")
		        }
		      }
	   });
	  }
	// }
  var premium_flag = "<%=det_item['access_control']['is_free']%>";
   if(premium_flag == "false"){
     $.cookie('is_premium',"true", { expires: 14,path: '/'}) 
     premium_flag = "true";
   }
   else if(premium_flag == "true"){
     premium_flag = "false";
   }
  var playback_time = $("#playback_time").val();
  var theme_type = "<%=@theme%>";
  var preview_available = $("#preview_available").val();
  var item_category = $("#item_category").val().replace("_"," ");
  var params_for_player = "<%=@new_play_url%>|key=<%=@key%>|image=<%=det_item['thumbnails']['large_16_9']['url'] if det_item['thumbnails'].has_key?(
  "large_16_9")%>|title=<%=det_item["title"]%>|theme_type=<%=@theme%>|channel_logo=<%=det_item['channel_logo']['s_logo_16_9']['url'] if det_item.has_key?("channel_logo")%>|catalog_id="+catalogid+"|"+"content_id="+contentid+"|genre=<%=det_item['genres'][0]%>"+"|language=<%=det_item['language']%>"+"|category="+item_category+"|preview_avail="+preview_available +"|is_premium="+premium_flag
  $("#shemaroo_player").html("<iframe src='/shemaroo_player/demo/embed.html?contenturl="+params_for_player+"' class='embed-responsive-item img-fluid shemaroo_web_player' id='iframe' allowfullscreen> </iframe>")
  if(current_url.length == 2){
    $.cookie('user_preview_played_status',"true", { expires: 14,path: '/'})
 	  window.history.pushState("", "", current_url[0]);
    var andriod_check = navigator.userAgent.toLowerCase();
    if(andriod_check.indexOf("android") > -1){
      var player_src = $(".shemaroo_web_player").attr("src")+"|autoplay_status=false|time="+current_url[1];
      $(".shemaroo_web_player").attr("src",player_src);
    }
    else{
      var player_src = $(".shemaroo_web_player").attr("src")+"|autoplay_status=true"+"|time="+current_url[1];
      $(".shemaroo_web_player").attr("src",player_src.replace("is_premium=true","is_premium=false"));
    }
  }
  	
  $(".preview_video").click(function(){
     preview_video_trigger();
  })

function preview_video_trigger(){
  $.cookie('video_preview',"true", { expires: 14,path: '/'})
    var player_src = '';
    var preview_time = $(".preview_video").data("preview-time").split(":");
    if(getShemarooCookies().user_id) {
      player_src = $(".shemaroo_web_player").attr("src").split("|time=")[0]        
    }
    else {
      player_src = $(".shemaroo_web_player").attr("src");
    }
    var external_preview_url = $(".preview_video").data("preview-url");
    if(external_preview_url.length == 0){
       player_src = player_src+"|autoplay_status=true"+"|time="+parseInt(preview_time[0])+"|is_preview=true|preview_end_time="+preview_time[1];
    }
    else{
      var preview_content_url = external_preview_url.split("preview");
      var new_content_url = preview_content_url[0];
      var new_key = preview_content_url[1];
      $.cookie('external_preview_url',"true", { expires: 14,path: '/'})
      player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$(".shemaroo_web_player").attr("src").split("|image=")[1].split("|time=")[0];
      player_src = player_src+"|autoplay_status=true|is_preview=true";
    }
    $(".shemaroo_web_player").attr("src",player_src);
}


function listener(event){
  var current_url = window.location.protocol + "//" + window.location.host;
  var url = "";
  if (current_url == "http://localhost:3000"){
    url = "http://localhost:3000";
  }
  else if (current_url == "http://staging.shemaroome.com"){
    url = "http://staging.shemaroome.com";
  }
  else if (current_url == "http://52.220.137.44:3000"){
    url = "http://52.220.137.44:3000";
  }
  else if(current_url == "http://origin.staging.shemaroome.com"){
    url = "http://origin.staging.shemaroome.com";
  }
  else if(current_url == "http://52.71.58.205"){
    url = "http://52.71.58.205";
  }
  else if(current_url == "http://192.168.1.199:3000"){
    url = "http://192.168.1.199:3000";
  }
  else if (current_url == "https://staging1.shemaroome.com"){
    url = "https://staging1.shemaroome.com";
  }
  else if (current_url == "http://staging1.shemaroome.com"){
    url = "http://staging1.shemaroome.com";
  }
  else if(current_url == "http://52.71.58.205:3000"){
    url = "http://52.71.58.205:3000";
  }
  else if(current_url == "http://192.168.1.187:3000"){
    url = "http://192.168.1.187:3000";
  }
  else if(current_url == "http://192.168.1.118:3000"){
    url = "http://192.168.1.118:3000";
  }
  else if(current_url == "http://192.168.1.117:3000"){
    url = "http://192.168.1.117:3000";
  }
  else if(current_url == "http://54.221.118.191:3002"){
    url = "http://54.221.118.191:3002";
  }
  else if(current_url == "https://preprod.shemaroome.com"){
    url = "https://preprod.shemaroome.com";
  }
  else if(current_url == "http://www.shemaroome.com"){
    url = "http://www.shemaroome.com";
  }
  else if(current_url == "www.shemaroome.com"){
    url = "www.shemaroome.com";
  }
  else if(current_url == "https://www.shemaroome.com"){
    url = "https://www.shemaroome.com";
  }

 function preview_rebuild(){
   var player_src = $(".shemaroo_web_player").attr("src").split("|autoplay_status")[0].replace("|preview_avail=true","");
    $(".shemaroo_web_player").attr("src",player_src);
    $.cookie('video_preview',"false", { expires: 14,path: '/'})
 }


function build_preview(){
   $.cookie('user_preview_played_status',"true", { expires: 14,path: '/'})
    var player_src = '';
    var external_preview_url = $(".preview_video").data("preview-url");
    if(external_preview_url.length == 0){
      var preview_time = $(".preview_video").data("preview-time").split(":");
      player_src = $(".shemaroo_web_player").attr("src").split("|time")[0];
      player_src = player_src+"|autoplay_status=true"+"|time="+parseInt(preview_time[0])+"|is_preview=true|preview_end_time="+preview_time[1];
    }
    else{
      var preview_content_url = external_preview_url.split("preview");
      var new_content_url = preview_content_url[0];
      var new_key = preview_content_url[1];
      $.cookie('external_preview_url',"true", { expires: 14,path: '/'})
      player_src = "/shemaroo_player/demo/embed.html?contenturl="+new_content_url+"|key="+new_key+"|image="+$(".shemaroo_web_player").attr("src").split("|image=")[1];
      player_src = player_src+"|autoplay_status=true|is_preview=true";
    }
    $(".shemaroo_web_player").attr("src",player_src);       
}


function send_player_analytics(){
  _paq.push(['trackEvent', 'Users', 'Activity', 'media_active', 1])
}


  if (event.origin !== url)
  return
    switch(event.data.ga_event){
    case 'loginpop':
      $("#player_login_pop").modal("show");
     break;
    case 'previewreplay':
      preview_rebuild()
    break;
    case 'load_preview_video':
      build_preview()
     break;
    case 'load_preview_video_sub':
      preview_video_trigger()
     break;
    case 'subscriptionpop':
      $("#player_subscription_pop").modal("show");
    break;  
    case 'loginpage':
      window.location = "/users/login"
    break;
    case 'subscriptionpage':
      window.location = "/plans"
    break;
    case 'player_active_status':
      send_player_analytics()
    break;
   }  
 }
 if (window.addEventListener){
    addEventListener("message", listener, true)
  } else {
    attachEvent("onmessage", listener)
  }

  });


</script>