<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
body {
  background-color: #fff;
}
  .coming_soon_banner {
    max-width: 600px;
    margin: 0 auto;
  }
  .coming_soon_logo {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 200px; 
    height: 91px;
  }
  @media(max-width: 1199px) {
    .coming_soon_banner12 img {
      margin-left: 30px;
      margin-right: 30px;
      width: calc(100% - 60px) !important;
    }
   .coming_soon_logo {
    height: 54px;
    width: 150px;
   } 
  }

  @media(max-width: 767px) {
    .coming_soon_banner12 {
      height: calc(100vh - 300px);
    }
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .coming_soon_banner12 {
      height: calc(100vh - 100px);
    }
  .coming_soon_banner12 img {
      margin-left: 60px;
    margin-right: 60px;
    width: calc(100% - 120px) !important;
    }
}
</style>
<body>
  <div class="wrapper" style="background-color: #fff;">
    <div class="pull-left w-100 text-center">
      <img src="/assets/shemaroo_logo.svg" alt="logo" title="logo" class="coming_soon_logo" style="">  
    </div>
    
    <div class="coming_soon_banner_wrap" style="background: #fff;">
      <div class="coming_soon_banner coming_soon_banner12">
        <img src="/assets/coming_soon_banner.png" class="img-fluid" style="">
      </div>
    </div>
  </div>
</body>