<div class="contest-app-page static-mobile-page">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">       
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-top-80">
    	<div style="margin: 0 auto; max-width: 1200px">
        <div class="float-left w-100 contest-win-banner relative-content">
          <img src="/assets/contest/play_contestandwin_new.jpg" class="img-fluid" alt="" title="">
        </div>
      </div>  
    </div>  
  </section>
</div>
<script>
 $(document).ready(function(){ 
 	$(".contest-fixedbox").hide();

    var region = $(".user_region").val();

    Apxor.logEvent("browse_gamesection",{
      "Platform" : "web",
      "region" : region 
      }, "browse_gamesection");
    smartech('dispatch', 'browse_gamesection', {
      "Platform" : "web",
      "region" : region 
    });
    // webengage.track("browse_gamesection", {
    //   "Platform" : "web",
    //   "region" : region 
    // });
    branch.logEvent(
      "browse_gamesection",
        {"Platform" : "web",
         "region" : region
      },
      function(err) { console.log(err); }
      );
 })
</script>