<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />   
    <%title,desc,image,keywords = get_meta_details%>
    <meta property="og:title" content="<%=title%>"  />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%=image%>" />
    <meta property="og:url" content="<%=SITE%><%=request.fullpath%>" />
    <meta property="og:description" content="<%=desc%>" />
    <meta property="fb:app_id" content="<%=ENV['FACEBOOK_APP_KEY']%>"/>
    <link rel="canonical" href="<%=SITE%><%=request.fullpath%>" />
   <meta http-equiv="Cache-control" content="public">
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>
<style>
	body {
	/*	background-color: #161616;
		align-items: center;
		margin: 0;
		display: flex;
		height: 100%;
		justify-content: center;*/
	}
</style>
<div class="wrapper">
	<div class="container">
		<div class="content-not-availble-page pull-left w-100">
				<div class="left-side">
					&nbsp;
				</div>
				<div class="right-side text-center">
					<img src="/assets/shemaroo_logo.svg" class="logoimage" alt="" title="">
					<h1 class="pull-left w-100 text-left font-bold shemaroo-color2">ShemarooMe is currently not available in your country!</h1>
					<p class="pull-left w-100 text-left font-regular shemaroo-color1">We are working towards launching in different parts of the world</p>
					<p class="pull-left w-100 text-left font-semibold shemaroo-color1">Follow us to stay updated!</p>
					<ul class="pull-left list-none padding-left-0">
						<li class="pull-left"><a href="https://www.facebook.com/ShemarooMe/"><img src="/assets/facebook.svg" class="social-icon" alt="facebook" title="facebook"></a></li>
			      <li class="pull-left"><a href="https://twitter.com/ShemarooMe"><img src="/assets/twitter.svg" class="social-icon" alt="twitter" title="twitter"></a></li>
			      <li class="pull-left"><a href="https://www.instagram.com/shemaroome/"><img src="/assets/instagram.png" class="social-icon" alt="instagram" title="instagram"></a></li>           
			    </ul>
				</div>
				<div class="mobile_content text-center padding-left-30 padding-right-30">
					<img src="/assets/shemaroo_logo.svg" class="logoimage" alt="" title="">
					<img src="/assets/no_content.svg" class="no_content_img" alt="" title="">
					<p class="font-semibold margin-top-20 padding-left-30 padding-right-30">ShemarooMe is not available in your country yet!</p>
				</div>
		</div>	
	</div>	
</div>
<script>
	var window_height = window.innerHeight;
	$(".content-not-availble-page").css('min-height', window_height);
</script>
</body>
</html>