<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div contact-page">  
    <div class="contact-page-container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10 mt-3"><%=get_lang_string("contact_us")%></h2>
          <div class="pull-left w-100">
            <h5 class="margin-bottom-20 font-semibold"><%= get_lang_string("write_to_us")%></h5>
            <div class="contact-page">
              <div class="pull-left w-100">
                <div class="contact-form-wrap">
                  <div class="input-group query_type margin-bottom-25 margin-top-25">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <div class="custom-select font-regular">
                      <select id="contact_us_query">
                        <option value="Subscription">Subscription</option>
                        <option value="Billing">Billing</option>
                        <option value="Content Issue">Content Issue</option>                   
                        <option value="Account Information">Account Information</option>
                        <option value="Others">Others</option>                   
                      </select>
                    </div>
                    <span class="input-label"><%= get_lang_string("type_query")%></span> 
                    <label class="error" id=""><%= get_lang_string("select_query_type")%></label>
                  </div>
                  <input type="hidden" id="user_region" name="" value="<%= $region %>">
                  <% if $region == "IN" && %>
                    <div class="input-group country">
                      <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly autocomplete="new-countrycode"> 
                      <input type="number" id="contact_mobile" name="" class="form-control" value="<%=@user_mobilno if @user_mobilno.length > 0%>" <%= @user_mobilno.length > 0 ? "readonly" : "" %>   required="true" onfocus="countryCode(this)"> 
                      <i class="fa fa-circle" aria-hidden="true"></i>
                      <span class="input-label"><%= get_lang_string("enter_mobile")%></span> 
                      <label class="error" id="mobile_error"><%= get_lang_string("enter_mobile_num")%> </label>
                    </div> 
                  <%end%>
                    <div class="input-group contact-email margin-bottom-5">
                      <input type="email" id="contact_email" name="" class="form-control" required="true" value="<%= @user_email rescue "" %>"> 
                      <i class="fa fa-circle" aria-hidden="true"></i>
                      <span class="input-label"><%= get_lang_string("email_id")%></span> 
                      <label class="error" id="email_error"><%= get_lang_string("enter_email_id")%></label>
                    </div>                  
                  <div class="input-group query_description margin-bottom-25">
                    <textarea id="query_description" class="form-control rounded margin-bottom-5" required="true" rows="2"  resize="false" value=""></textarea>                
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <span class="input-label"><%= get_lang_string("enter_query")%></span> 
                    <label class="error" id="query_error"><%= get_lang_string("enter_query")%></label>


                  </div>
                  <div class="inline-block w-100 margin-top-10 margin-bottom-15 custom-gradient">
                    <p class="inline radius-button">
                      <a href="javascript:void(0);" id="contact-submit" class="text-uppercase btn gradient1 font-bold"><%= get_lang_string("submit") %></a>
                    </p>
                  </div>
                  
                </div> 
                <div class="contact-form-text">
                  <p>For any queries related to ShemarooMe, please feel free write to us on <b style="color:#0095DB;text-decoration: underline; letter-spacing: -0.1px;"><a class="mailto" href="mailto:support@shemaroome.com"> support@shemaroome.com</a></b> and our team will get back to you shortly.</p>

                    <p>For Greivance related query<a href="grievance"> <u>Click here</u> </a></p>
                </div> 
                

  <script>

 $(document).ready(function(){
  var text = $("#contact_email").val()
  if (text != null || text != undefined || text != ""){
   $("#contact_email").focus();
  }
  })

  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);
  </script>

              </div>             
            </div>                     
          </div>
        </div>
      </div>

    <div class="toster-message-wrap margin-top-0 margin-bottom-20 padding-top-5" id="contactform_toast">
      <div class="center-align-content">      
        <div class="toster-message app-d-flex hv-center">
          <img src="/assets/password_updated.svg" alt="contact-form-status" title="contact-form-status">
          <p>
            <%= get_lang_string("message_sent")%>
          </p>
        </div>
      </div>
    </div>
    
<script>

  function countryCode() {
    $("#country_code").show();
    $("#mobile_number").css({"padding":"5px 5px 5px 0px"});
  }
  $("#contact_mobile").focusin(function() { 
    $("#country_code").val("+91").show();
    $("#country_code").show();
  });
  $("#contact_mobile").focusout(function() { 
      if($(this).val().length) {
        $("#country_code").show();
        $("#contact_mobile").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px"})        
      }
      else {
        $("#country_code").hide();
        //$("#contact_mobile").css({"padding":"5px 5px 5px 10px"});
        $("#contact_mobile").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
      }
   });

  $("#query_description").focusout(function() { 
      if($(this).val().length) {
        $("#query_description").nextAll(".input-group .input-label").css({"top":"-20px","left":"10px"})        
        //$(".query_description .fa-circle").nextAll(".input-group .input-label").css({"top":"-15px"})        
      }
      else {
        
        $("#query_description").nextAll(".input-group .input-label").css({"top":"2px","left":"12px"});
      }
   });

  $(document).ready(function() {
    var user_region = $("#user_region").val();
    if(user_region == "IN") {
      var contact_mobile_length = $('#contact_mobile').val().length;

      $("#contact_mobile").keypress(function(event) {
        var key = window.event ? event.keyCode : event.which;

        if(event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 35 || event.keyCode == 36 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) { 
          return true;
        }
        else if ( key < 48 || key > 57 ) {
          return false;
        }
        else if($(this).val().length >= 10) {
          return false;
        }
        else return true
      });

      if(contact_mobile_length) {
      //$("#mobile_number").parents(".input-group").children('.fa-circle').hide();
      $('#contact_mobile').css({"padding":"5px 5px 5px 0px"});
      $("#country_code").show();
      $("#contact_mobile").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
      $("#contact_mobile").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px"})        
      }
      else {
        //$("#mobile_number").parents(".input-group").children('.fa-circle').show();
        $("#country_code").hide();
        //$('#contact_mobile').css({"padding":"5px 5px 5px 10px"});
        $("#contact_mobile").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"}); 
        $("#contact_mobile").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});
      }
    }
    else {
       if($("#contact_email").val().length) {
        $('#contact_email').css({"padding":"5px"});
        $("#contact_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
        $("#contact_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px"});        
      }
      else {
        $('#contact_email').css({"padding":"5px 5px 5px 10px"});
        $("#contact_email").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#contact_email").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }
    }
    
    if($("#query_description").val().length) {
      $("#query_description").parents(".input-group").children('.fa-circle').css({"top":"-20px","left":"0px"}).show();
      $("#query_description").nextAll(".input-group .input-label").css({"top":"-25px","left":"10px"})        
    }
    else {
      $("#query_description").parents(".input-group").children('.fa-circle').css({"top":"7px","left":"3px"}); 
      $("#query_description").nextAll(".input-group .input-label").css({"top":"2px","left":"12px"});
    }

       
    $('#contact-submit').click(function() {
      var user_region = $("#user_region").val();
      var contact_mobile = $("#contact_mobile").val();
      var contact_email = $("#contact_email").val();
      var query_description = $("#query_description").val();
      var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      var status = false;
      if(user_region == "IN") {
        if(contact_mobile.trim().length == 0){
          $("#mobile_error").show();        
          status = false;
        }
        else if(contact_mobile.length != 0 && contact_mobile.length != 10){
          $("#mobile_error").text("<%= get_lang_string("invalid_mobile")%>").show();    
          status = false;    
        }  
        else if(contact_email.length == 0){
          $("#email_error").show();        
          status = false;
        }
        else if(!regex_email.test(contact_email)){
          $("#email_error").text("<%= get_lang_string("invalid_email")%>").show();  
          status = false;      
        }
        else if(query_description.trim().length == 0){
          $("#query_error").show();        
          status = false;
        }
        else {
          status = true;
        }
      }
      else {
        if(contact_email.length == 0){
          $("#email_error").show();        
          status = false;
        }
        else if(!regex_email.test(contact_email)){
          $("#email_error").text("<%= get_lang_string("invalid_email")%>").show();  
          status = false;      
        }
        else if(query_description.trim().length == 0){
          $("#query_error").show();        
          status = false;
        }
        else {
          status = true;
        }
      }

      if(status == true) {
        $("#contact-submit").text("<%= get_lang_string("submit")%>...");
        $("#contact-submit").css('pointer-events', 'none');
        $.ajax({
          url: "/contact-us",
          type: "POST",
          data: {mobile_no: $("#contact_mobile").val(),
          query: $("#contact_us_query").val(),
          desc: $("#query_description").val(),
          email_id: $("#contact_email").val()
          },
          success: function(response,status){
          console.log(response);
           if(response.status == "true"){ 
            $("html, body").animate({ scrollTop: $(document).height() });
            $('#contactform_toast').show().fadeOut(4500); 
             $("#contact-submit").text("<%= get_lang_string("submit")%>")
             $("#contact-submit").css('pointer-events', 'auto');
            if(user_region == "IN") { 
              $("#country_code").val("");
              $("#contact_mobile").val("").removeAttr("readonly");
            }

            $("#contact_email").val("")
            $("#query_description").val("");
           }
           else{
             $("#contact-submit").text("<%= get_lang_string("submit")%>");
             $("#contact-submit").css('pointer-events', 'auto')
           }
          }
       });
        
      }

    });

    $("#contact_mobile,#contact_email,#query_description").focusin(function(){
     $("#mobile_error,#email_error,#query_error").hide();
    });

  });
</script>
</div>    
  </section>
</div>  
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>