<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Cookie Policy</h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">

            <p class="pull-left w-100 margin-bottom-15">
              This policy offers detailed information about how and when we (Shemaroo Entertainment Limited) use cookies.
            </p>

            <h5 class="margin-bottom-5 margin-top-0">I. What is a cookie?</h5>
            <p class="pull-left w-100 margin-bottom-15">
              Cookies are small text files containing identifiers that websites place on your device as you are browsing. They are processed and stored by your web browser. The identifier is then sent back to the server each time the browser requests a page from the server.
            </p>
            <h5 class="margin-bottom-5 margin-top-0">II. Does ShemarooMe use cookies?</h5>
            <p class="pull-left w-100 margin-bottom-15">
              Yes, as mentioned in our Privacy Policy, we use cookies to enhance your experience.
            </p>
            <h5 class="margin-bottom-5 margin-top-0">III. What does ShemarooMe use the cookies for?</h5>
            <p class="pull-left w-100 margin-bottom-15">
              There are two broad categories of cookies.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              1. Cookies that are essential for the operation of ShemarooMe website, also known as Strictly Necessary Cookies, enable features without which you would not be able to use ShemarooMe as intended. Your consent is not required for the use of Strictly Necessary Cookies, which is why Strictly Necessary Cookies cannot be disabled using the features of or the links on ShemarooMe. However, you have the option to completely disable cookies in your browser at any time.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              2. The other category of cookies is cookies which, in strictly legal terms, are not essential to use ShemarooMe website. Nevertheless, these cookies do still fulfil important functions. You may disable any of these cookies via your browser settings or by using the links provided in the list below. However, if you do so, various functions of the ShemarooMe website may be unavailable to you or may not work the way you want them to.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              The specific types of cookies served through ShemarooMe website are described below:
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Strictly Necessary Cookies.</b><br>
              These cookies are necessary to provide you with services available through ShemarooMe website and to use some of its features, such as access to secure areas. Without these cookies, services you have asked for, like secure customer account pages, would not be possible.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Analytics Cookies.</b>
              These cookies collect information that is used, either in aggregate form to help us understand how ShemarooMe website is being used or how effective our marketing campaigns are, or to help us customize ShemarooMe website for you. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Who serves them and how could I block the cookies?</b><br>
              Google Analytics - You may disable any of these cookies via your browser settings or by downloading a browser add-in: https://tools.google.com/dlpage/gaoptout?hl=en If you do so, various functions of the ShemarooMe website may be unavailable to you or may not work the way you want them to.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Facebook Pixel - You may disable any of these cookies or similar technologies via your browser settings. If you do so, various functions of the ShemarooMe website may be unavailable to you or may not work the way you want them to.
            </p>
            <p>
              On some pages of ShemarooMe, third parties that provide applications through ShemarooMe website may set their own cookies in order to track the success of their applications or customize applications for you.<br>
              For example, when you share a video using a social media sharing button on ShemarooMe website (e.g., Facebook or Twitter), the social network that has created the button will record that you have done this. Because of how cookies work, we cannot access these cookies, nor can the third parties access the data in cookies used by us. 
            </p>
            <p class="pull-left w-100 margin-bottom-5">
              <b>Who serves them and how could I block the cookies?</b>
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Facebook Connect + Social Plug-ins - If you want to prevent this, you must first log out of your Facebook account before activating the Facebook plug-in and then delete all Facebook cookies after visiting Websites with Facebook plug-ins.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Twitter - Log out of your Twitter account before activating the Twitter plug-ins and then delete all Twitter cookies after visiting Websites with Twitter plug-ins.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>