<div class="padding-top-80 relative-content">
	<!-- <div class="media_tag">
		<img src="/assets/8kmedia.png" alt="" title="">
	</div> -->
  <section class="pull-left w-100 marketing_page digital_marketing_page">
  	
		<div class="left-content marketing-min-height-div">
			<p class="margin-top-20 title text-center font-medium"><span class="font-bold text-uppercase">Bollywood Plus</span> From romantic comedies to action-packed adventures, catch the best of Bollywood hits!</p>
			<!-- <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood plus</h4> -->
			<section class="slider-section">
        <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <div id="banner-carousel" class="owl-carousel owl-theme">
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Plus</h4>
                <img src="assets/carousel/jab_we_met_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Classic</h4>
                <img src="assets/carousel/mughaleazam.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Gujarati</h4>
                <img src="assets/carousel/chhello_divas_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bhakti</h4>
                <img src="assets/carousel/dham_yatra.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                               
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Kids</h4>
                <img src="assets/carousel/bal_ganesh_2_eng_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Punjabi</h4>
                <img src="assets/carousel/jatt_airways_fum_hd.jpg" alt="" title=""> 
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
              </div> 
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Marathi</h4>
                <img src="assets/carousel/manatlya_manaat.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>             
            </div>
          </div>
        </div>
      </section>
      <section class="marketing_feature">
				<div class="row margin-top-25">
					<div class="col-md-3 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/entertainment.png" alt="" title="">
							
							<p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Over</p>					
							<p class="font-size1 font-semibold margin-top-0">4000 titles</p>
						</div>	
					</div>	
					<div class="col-md-3 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/tv.png" alt="" title="">
							<p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Curated Channels &</p>			
							<p class="font-size1 font-semibold margin-top-0">Live Stream</p>								
						</div>	
					</div>	
					<div class="col-md-3 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/multi_device.png" alt="" title="">						
							<p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Multi-</p>					
							<p class="font-size1 font-semibold margin-top-0">Device experience</p>
						</div>
					</div>	
          <div class="col-md-3 text-center margin-top-25">
            <div class="marketing_feature_box">
              <img src="/assets/gift.svg" alt="" title="">            
              <p class="font-size1 font-semibold margin-bottom-0 margin-top-10">7 Day</p>          
              <p class="font-size1 font-semibold margin-top-0">Free Trial</p>
            </div>
          </div>  
				</div>
			</section>
		</div>
		<div class="right-content" id="offers_sec">
      <div class="rightform-wrap pull-left w-100">
        <h1 class="shemaroo-color1 font-bold text-uppercase">Bollywood plus</h1>
        <p class="shemaroo-color1 font-size2 font-medium margin-bottom-20 margin-left-20 margin-right-20">From romantic comedies to action-packed adventures, catch the best of Bollywood hits!</p>
        <div class=" margin-left-20 margin-right-20 margin-bottom-20">
          <div class="pack-details pull-left w-100 margin-bottom-10">
            <div class="box">
              <p class="pack-desc font-size3 font-medium">Individual Annual Pack</p>
              <p class="pack-detail margin-bottom-0">
                <img src="/assets/check.svg" alt="" title="" id="check">
                <span class="font-size2 font-semibold">$</span>
                <span class="font-semibold pack-price">50.00</span>
                <span class="font-medium font-size2"> / Annual</span>
              </p>
            </div>
            <div class="box">
              <p class="pack-desc font-size3 font-medium">Individual Monthly Pack</p>
              <p class="pack-detail margin-bottom-0">
                <img src="/assets/check.svg" alt="" title="" id="check">
                <span class="font-size2 font-semibold">$</span>
                <span class="font-semibold pack-price">50.00</span>
                <span class="font-medium font-size2"> / Annual</span>
              </p>
                      
          </div>
        </div>
  			<h2 class="shemaroo-color1 font-bold margin-right-20 margin-left-20 margin-top-25 pull-left">Register 7 day free trial</h1>
  			<div class="marketing_form pull-left margin-left-20 margin-right-20">
          <div class="w-100 all_error">
            <label class="error" id="signup_marketing_resp_error_msg">Invalid Credentials</label>
          </div>
  				<div class="input-group">	
  					<input type="email" id="marketing_user_email" name="email" class="form-control">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Email ID</span>
            <label class="error" id="signup_marketing_user_email_error">This field is mandatory</label>
  				</div>
  				<div class="input-group pwd hide_password_group">	
  					<input type="password" id="marketing_password" name="password" class="form-control">
  					<img src="/assets/pwd_eye.png" class="password_toggle" alt="hide password" title="hide password">
            <img src="/assets/pwd_eye.png" class="password_toggle show_pwd" alt="show password" title="show password">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Password</span>
            <label class="error" id="signup_marketing_password_error">This field is mandatory</label>
  				</div>
  				<div class="input-group text-center">
  					<button type="button" id="marketing_user_register" class="text-uppercase margin-top-10 margin-bottom-5 font-size3 font-bold">start 7 day free trial</button>
  					<p class="font-size3 font-regular shemaroo-color1 text-center w-100" id="already-txt">Already have an account? <a href="users/login" class="font-bold">Login</a></p>
  				</div>
  			</div>
      </div>
		</div>
    <div class="mobile_content_carousel_section pull-left w-100">
      <div id="mobile-content-carousel" class="owl-carousel owl-theme">
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/entertainment.png" alt="" title="">              
            <p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Over</p>         
            <p class="font-size1 font-semibold margin-top-0">4000 titles</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/tv.png" alt="" title="">
            <p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Curated Channels &</p>     
            <p class="font-size1 font-semibold margin-top-0">Live Stream</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/multi_device.png" alt="" title="">            
            <p class="font-size1 font-semibold margin-bottom-0 margin-top-10">Multi-</p>         
            <p class="font-size1 font-semibold margin-top-0">Device experience</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/gift.svg" alt="" title="">            
            <p class="font-size1 font-semibold margin-bottom-0 margin-top-10">7 Day</p>         
            <p class="font-size1 font-semibold margin-top-0">Free Trial</p>
          </div>
        </div>
      </div>
    </div>  
	</section>
	<%=render "layouts/page_height_setting"%>
</div>
<script>
	$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();
  $(".media_tag").css({"left":$(".marketing_page").offset().left - 26 });
  if(window.outerWidth <  1200 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 27 });
  }
  if(window.outerWidth <  470 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 22 });
  }
  if(window.outerHeight > 950 ) {
  	$(".right-content").css({'min-height': $(".left-content").height()});
	}
  if(window.outerHeight < 950 && window.outerWidth > 991) {
    $(".left-content").css({'min-height': $(".right-content").height()}+'!important');
  }

  $(".digital_marketing_page .pack-details .box").click(function() {
    $(this).find('#check').toggle();
    $(this).toggleClass('active');
    $(this).siblings().removeClass('active');
    $(this).siblings().find('#check').hide();
  })

  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/left_arrow.png" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/right_arrow.png" alt="" title=""></span>'
    ];

  $('#banner-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,
    navText: navigation,
    dots: true,
    responsive:{
      0:{
          items:1,
          stagePadding: 20,
          margin:10,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });


  $('#mobile-content-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,    
    dots: false,
    responsive:{
      0:{
          items:1,
          stagePadding: 40,
      },
      576:{
          items:1,
          stagePadding: 100,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });

  $("#marketing_user_email,#marketing_password").focusin(function(){
    id = $(this).attr("id");
     $("#signup_"+id+"_error").hide();     
   })
  
  $("#marketing_user_email,#marketing_password").focusout(function(){
    id = $(this).attr("id");
    val = $(this).val();
    if(!val.length){
      $("#signup_"+id+"_error").text("This field is mandatory").show();      
    }
    else{
      $("#signup_"+id+"_error").hide();
      if(id == "marketing_user_email"){
        var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if(!regex_email.test($("#marketing_user_email").val())){
          $("#signup_marketing_user_email_error").text("Please enter a valid email address").show();         
        }
      }
      else if(id == "marketing_password"){
        $("#signup_"+id+"_error").hide();
        if($("#marketing_password").val().length < 6){
          $("#signup_marketing_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
      }
    }
  });

  if($('#marketing_user_email').val().length) {
    $('#marketing_user_email').css({"padding":"5px"});
    $("#marketing_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#marketing_user_email').css({"padding":"5px 5px 5px 10px"});
    $("#marketing_user_email").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }
  if($('#marketing_password').val().length) {
    $('#marketing_password').css({"padding":"5px"});
    $("#marketing_password").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#marketing_password').css({"padding":"5px 5px 5px 10px"});
    $("#marketing_password").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }

});
</script>