<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>
<div class="static_page pull-left w-100">
  <section class="onboarding-bg">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">FAQ</h2>
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded mobile_padding_0">
            
            <div id="faqs">
              <div class="custom-select font-regular">
                <select id="faq">
                  <option value="about">All Topic</option>
                  <option value="about">About ShemarooMe</option>
                  <option value="account">Managing your account</option>                   
                  <option value="service">Service Usage</option>                   
                </select>
              </div>
              <div id="accordion" class="accordion font-regular">
                <div id="about" class="faq_content" data-faqcontent="About ShemarooMe">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse1">
                        What is ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe is a one stop destination for authentic Indian content. With access to over 3700 titles, across multiple genres and languages - Bollywood Classic, Bollywood Plus, Gujarati, Kids, and Punjabi - it has something for everyone in your family.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse2">
                        What are the necessary requirements for accessing ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">The app is only available on Android 5.1 & above phones.</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse3">
                        Is the App supported for phones running on Windows or Blackberry?
                      </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, currently we do not support these 2 platforms yet. We will keep you posted.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse4">
                       Does ShemarooMe work on Chromecast?
                      </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, ShemarooMe does not support Chromecast at the moment. We are working on it and will keep you posted once it’s available.</p>
                      </div>
                    </div>
                  </div>
                </div>
             
                <div id="account" class="faq_content" data-faqcontent="Managing your account">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse5">
                       What are profiles?
                      </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">In ShemarooMe, you can create multiple profiles for different members of your family. We recommend users to create different profiles for each member to enjoy a personalised experience based on their preferences. You can create a maximum of 5 profiles including a kids’ profile within a single account. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse6">
                       How can I create profiles?
                      </a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Click on ‘Me’ and go to ‘Manage profiles’ and add a new profile.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse7">
                       Can I edit my profile?
                      </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">Yes, you can edit profiles. Follow this process to edit profile:</p>
                        <ul>
                          <li class="margin-bottom-10 padding-left-30">Go to your ‘Me’ icon and enter ‘Manage profiles’</li>
                          <li class="padding-left-30">Click on ‘Edit’ below the profile you want to make changes in and press ‘Done’.
                        </li>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse8">
                       Can I delete my profile?
                      </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          You can delete your profile. Click on the ‘Me’ icon to and go to ‘Manage profiles’. Select ‘Edit’ below the profile you want to Delete and press ‘Delete Profile’.
                        </p> 
                        <p class="margin-bottom-10">
                          We’d really like you to keep your profile running, so let us know if there is any specific issue you are facing and that we could help with.<br>
                        Write an email to <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> with your grievance.
                        </p>
                        <p class="margin-bottom-10">I am unable to create more profiles.</p>
                        <p class="margin-bottom-0">You can create a maximum of 5 profiles including a kids’ profile within a single account. </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse9">
                       How do I enable or disable in-app notifications?
                      </a>
                    </div>
                    <div id="collapse9" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">To disable in-App notifications, navigate to ‘Settings’. You will find an option to disable notifications in ‘Device Settings’ 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse10">
                       How many devices can a user play content at a time from a single account?
                      </a>
                    </div>
                    <div id="collapse10" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">We allow only five devices to view content simultaneously on one subscribed account. If more than 5 people try to access the app simultaneously then first person to logon to the app would get disconnected. This is to ensure that your premium membership is not misused.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service" class="faq_content" data-faqcontent="Service Usage">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse11">
                       Can I download a list of movies and shows to watch later?
                      </a>
                    </div>
                    <div id="collapse11" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, currently the download feature is not available but we will soon introduce this feature.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse12">
                       I'm getting a black screen with no sound.
                      </a>
                    </div>
                    <div id="collapse12" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Please restart the device you are viewing the content on and start the app. If the issue still persists, write to us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>, mentioning the steps to recreate the issue and screenshot of error messages if any.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse13">
                       Why is my app closing frequently on my phone?
                      </a>
                    </div>
                    <div id="collapse13" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">For a good user experience, kindly update the app to the latest version. Also, try to clear your app data and restart your phone. If you're still facing problems, send us an email on <a href="mailto:etisalatnoc@altruistindia.com">etisalatnoc@altruistindia.com</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse14">
                       Video is taking a very long time to load. What can I do?
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the videos are buffering on your app, check if your Internet connection is working fine. If the internet is working fine and it’s still taking time to load, then please send us an email at <a href="mailto:etisalatnoc@altruistindia.com">etisalatnoc@altruistindia.com</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse15">
                       App is consuming too much data. 
                      </a>
                    </div>
                    <div id="collapse15" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the app seems to be consuming too much of your data, try changing your video quality settings. You can try changing the video quality by tapping the video and clicking the gear icon on the top right corner. That should bring up a list of video quality options to choose from! If it still doesn’t help, send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> about the problem.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse16">
                       Can I change the video quality?
                      </a>
                    </div>
                    <div id="collapse16" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Yes, you can choose to stream the content in Low, Medium, High, and HD quality depending on your network connection. You can select your preferred quality by following these steps: Click on ‘Me’ icon and select ‘Settings’. Now, choose ‘Streaming’ under ‘Device Settings’ to make the desired change. 
                        </p>
                      </div>
                    </div>
                  </div>
                  
                </div>                
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </section>
</div>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
  <script>
/*    $(".card-link").attr("aria-expanded","false");
      $(".collapse").removeClass("show");
    $(".card-link").click(function() {
      
      $(this).attr("aria-expanded","true");
      $(this).parent(".card-header").parent(".card").children(".collapse").addClass("show");
    })
    */

  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              var selected_option = $(".same-as-selected").text();
              $(".faq_content").hide();
              $("div[data-faqcontent*='" + selected_option + "']").show(); 
              if(selected_option.toLowerCase() == 'all topic') {
                $(".faq_content").show();
              }
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
 
  </script>