<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>

      <div class="static_page pull-left w-100">
      	<section class="onboarding-bg">
			    <div class="static-container static-container-web margin-bottom-30">
			      <div class="row">
			        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
			          <h2 class="block margin-bottom-10">Privacy Policy</h2>
			          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
				          <p class="pull-left w-100 margin-bottom-15">
				          	This policy is binding on the users of the Platform (as mentioned hereunder) of <b>Shemaroo Entertainment Ltd.</b>, (hereinafter referred to as "ShemarooMe", "we", "our" or "us" and shall include our affiliates and subsidiaries). Your privacy is very important to us and we are committed to protecting and respecting it.
				          </p>
				          <p class="pull-left w-100 margin-bottom-15">
										This policy (together with our "Terms of Use") sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.
									</p>
									<p class="pull-left w-100 margin-bottom-15">
										By visiting and/or downloading our platform from Etisalat Arena Application (the <b>"Site"</b>) you are accepting and consenting to the practices described in this Policy.
									</p>	
									<p class="pull-left w-100 margin-bottom-15">
										This Privacy Policy entails the details of our collection, use and disclosure of information, including your personal information, within ShemarooMe.
									</p>
									<p class="pull-left w-100 margin-bottom-15">	
										This Policy specifically governs the usage of information collected by us from our users of ShemarooMe <b>(“Platform”)</b> and any associated mobile sites, applications, and/or any other services provided by us on the Site, which can be accessed thereof. This Policy should be read in conjunction and together with the Terms of Use available on the Site and/or Platform. 
									</p>
									<p class="pull-left w-100 margin-bottom-15">	
										Your viewing or browsing of our content or your use of our services offered on our Platform is construed to mean that you consent to our collection, storage, processing of your Personal Information or Sensitive Personal Information or Information in accordance with this Privacy Policy and you consent to the terms and conditions of this Privacy Policy. You agree to be bound by the terms of this Privacy Policy. 
				          </p>
				          <h5 class="margin-bottom-5 margin-top-0">1. Collection of Information</h5>
										<p class="pull-left w-100 margin-bottom-15">
										We may receive and store information about you, such as:</p>
										<ul class="padding-left-15">
											<li>
												Provided by You: The following are collected, as you provide us with:
											</li>
										</ul>

										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Your name, e-mail address, address, postal code, and telephone number.
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Certain other information like your choice to provide further information pertaining to preferences, account settings, reviews, ratings, or any other information provided to us through our service, or elsewhere. 
										</p>
										<ul class="padding-left-15">
											<li>
												As Collected Automatically: The following are collected about you, your use of our service, the devices used to access our service [internet enabled compatible devices]. This information includes the following:
											</li>
										</ul>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Your activity on the Platform, which would include your search history, your search inputs, services or products viewed over the Platform, visits and the time stamps; 
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Device IDs and other unique identifiers like IP address, browser type, version, network service provider details;
										</p>		
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Device and software characteristics including types and configurations, connection information, statistics on page views, URLs with time stamp;
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Your interactions with our customer support via various support channels like e-mails, messages; 
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Your comments or other content that you publicly post or share on the Site / Platform.
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Service support;
										</p>		
											<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Information collected by cookies, and other technologies, etc. 
										</p>		
										<h5 class="margin-bottom-5 margin-top-0">2. Use of Information Collected by Us</h5>
										<p class="pull-left-0 w-100 margin-bottom-15">
											In order to provide you with the services of the Platform and offer you enhanced use of the features of our Platform. We use your information to:
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Process your registration, and provide you with your login account details;
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Provide you with regional content, customized and personalized viewing options, recommendations on videos, movies, etc., which you may like to watch;
										</p>		
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Perform analytics and customer research, to improve our service, including the user experience and the interface;
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;To offer you certain types of services, and other applicable offers based on your eligibility. 
										</p>
										<h5 class="margin-bottom-5 margin-top-0">3. Sharing and Disclosure of Information</h5>
								  	<p class="pull-left w-100 margin-bottom-15">
								  		While the Platform is the recipient of your Personal Information or Sensitive Personal Information, we may allow access of this information to various 3rd parties with whom Shemaroo Entertainment Ltd., has direct legal and confidentiality binding and such data shall stay with them only for limited purpose and period for the processing and storage of information, provision of account to you, provision of customer support, content development and delivery, and other purposes as identified in the Use of Information Collected By Us section to this Policy. 
								  	</p>
								  	<p class="pull-left w-100 margin-bottom-15">
											We also engage various service providers to perform services on behalf of us enabling us to provide you services better. Such services may include, communications, advertising, infrastructure and IT, customer support, data analytics, conduct customer surveys, geo tagging/ location based content. It is our constant endeavor to ensure that such service providers adhere to a similar standard of data protection and security that we have agreed to under this Privacy Policy. At times, when we offer promotional offers in collaboration with third party entities, we will not be responsible for the privacy practices of such third party entities.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">4. Storage and Security</h5>
										<p class="pull-left w-100 margin-bottom-15">
											Our Platform is secured and encrypted for your privacy. However, the data that we may collect from you may be transferred to, and stored at, a destination outside the United Arab Emirates (UAE). By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our Platform; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.											
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											Shemaroo, and our service providers may be required to disclose and otherwise use your personal and other information where we or our service providers reasonably believe that there exists the need to disclose to: 					
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Meet or satisfy any applicable law, regulation, governmental request, or, legal process;
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Enforce the agreed Terms of Use;
										</p>
										<p class="padding-left-15 margin-bottom-15">
											-&nbsp;&nbsp;&nbsp;Address and investigate any illegal activities, which may also include financial frauds, any security or technical issues;
										</p>
										<p class="padding-left-15 margin-bottom-15">	
											-&nbsp;&nbsp;&nbsp;Protect itself against any harm, misuse, of the property or safety of its users and the public, as required or permitted by law. 
										</p>
										<p class="pull-left w-100 margin-bottom-15">											
											In the event where there is any restructuring, reorganization, merger or sale, or any other transfer of assets, we shall transfer such information, including your personal information, subject to an agreement by the other party in respect to your personal information in a manner which is consistent with this Policy.
										</p>
										<p class="pull-left w-100 margin-bottom-15">											
											Where you use any social plugin or social media application operated by other social media networks, you shall be subject to the terms of use and privacy policies of such entities themselves. 	
										</p>	


										<h5 class="margin-bottom-5 margin-top-0">5. Interaction with Other Applications, Platforms</h5>
										<p class="pull-left w-100 margin-bottom-15">											
											You may be using other third party platforms, to access our services, which may have policies pertaining to privacy which may be different from ours. While you may use mobile devices, gaming systems, smart TVs and other such enabling devices to access our services, it is noteworthy that these have independent privacy policies, terms of use, which we recommend you read very carefully. 
										</p>
										<h5 class="margin-bottom-5 margin-top-0">6. Your Rights and Your Preferences</h5>
										<p class="pull-left w-100 margin-bottom-15">
											Where you have any questions, or wish to make additional requests, you may write to our support team. We strive to respond to any requests made with the specific exercise of data protection rights available under various applicable data protection laws. We retain information as required or permitted by the applicable laws or regulations, including to retain your choices and preferences, and to meet and fulfill other requirements as specified in this Privacy Policy. Reasonable measures are made to destroy or to remove identifiers in a secure manner when it is no longer required to be retained with us. 
										</p>
										
										<h5 class="margin-bottom-5 margin-top-0">7. Children</h5>
										<p class="pull-left w-100 margin-bottom-15">
											You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of majority is older than 18, in such case, you must satisfy such requirement to become a member. Any individual under the age of 18 utilizing the service, may do so only with the strict involvement, supervision and approval of a parent or a legal guardian. 
										</p>
										<h5 class="margin-bottom-5 margin-top-0">8. Cookies and Advertising</h5>
										<p class="pull-left w-100 margin-bottom-15">
											We and our service providers may use cookies and other technologies, such as web beacons, as well as several advertising identifiers for several purposes. This is done to understand the users better and offer you with tailored services. If you do not consent to the use of cookies, use of similar technologies by us, you may at any time adjust your browser settings and delete or disable such cookies. However, this may result in the absence of tailored or user interest based advertisements. 
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											This license does not include any rights (and you agree not) to: (1) archive, permanently download, reproduce, distribute, modify, perform, broadcast, display, license, sell, resell, lend, lease, rent or otherwise use, access, or commercially use the Site, Content or any other material or information contained therein; (2) collect or use any information, data, listings, or descriptions for any reason; (3) create derivative works from the Site, Content or any other materials or information contained therein; (4) download or copy information of any third party; (5) use data mining, robots, or other data gathering and extraction tools; (6) distribute, transfer, or post any Content on any third party website, online service or other media; (7) modify, adapt, copy or otherwise create derivative works from or translate any part of the Site or Content; (8) reverse engineer, decompile or disassemble the Site or Content, or otherwise attempt to obtain access to the Shemaroo IP (as defined above); (9) remove or alter any copyright, trade mark or other proprietary notice contained in the Services, Site, or Content. Except as provided herein, you may not frame or utilize framing techniques to use, surround or enclose the Site or Content or any trademarks, service marks, logo, or other proprietary information (including: images, text, page layout, or form) of Shemaroo and/or its affiliates or subsidiaries or Content providers. You may not use any meta-tags or any other "hidden text" utilizing the name of the Site, Shemaroo and/or its affiliates, subsidiaries or Content providers, or any trade names or trademarks or other copyrighted materials relating thereto, without the express written consent of Shemaroo.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">9. Changes in Privacy Policy</h5>
										<p class="pull-left w-100 margin-bottom-15">											
											We may update this Privacy Policy from time to time. Your continued use of our Platform constitutes your acceptance of our Terms of Use and this Privacy Policy. We encourage you to review this section periodically to review any changes made. If you do not wish to accept any changes made to this Privacy Policy, you may cancel your use of our services. 
										</p>
										<h5 class="margin-bottom-5 margin-top-0">10. Contact Us</h5>
										<p class="pull-left w-100 margin-bottom-15">					
											Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed to <a href="mailto:shreepad.nandigram@shemaroo.com">shreepad.nandigram@shemaroo.com</a>.
										</p>

				        </div>
				      </div>
				    </div>
				  </div>  
				</section>
			</div>

			<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
			
<style>
  @media(max-width: 1366px) {
    .row {
      margin: 0px;
    }
  }
  @media(max-width: 767px) {
  	.inside-wrapper {
  		background: #fff!important;
  	}
  }
</style>
</body>