<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>

      <div class="static_page pull-left w-100">
      	<section class="onboarding-bg">
			    <div class="static-container static-container-web margin-bottom-30">
			      <div class="row">
			        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
			          <h2 class="block margin-bottom-10">Terms and Conditions</h2>
			          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
				          <p class="pull-left w-100 margin-bottom-15">
				          	These terms of use (the "Terms") constitute a legally binding agreement between you and us together with our affiliates and subsidiaries (hereinafter referred to as "ShemarooMe", "we", “our" or “us”) and Etisalat, the website(s), browser extensions, and/or mobile applications for mobile devices (the <b>"Site"</b>) (collectively the <b>"Service"</b>). By accessing or using the Service, you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement (“Agreement”) and to the collection and use of your information as set forth in the ShemarooMe Privacy Policy, whether or not you are a registered user of the Service. This Agreement applies to you, and all other visitors, users, and others who access the Service from time to time ("Users").
				          </p>
				          <h5 class="margin-bottom-5 margin-top-0">1. USE OF THE SERVICE</h5>
										<p class="padding-left-0 margin-bottom-15">
											You hereby represent and warrant to us that you are of competent years of age or above, is/are resident in a Service Location, and are capable of entering, performing and adhering to these Terms and that you agree to be bound by the following terms and conditions. While individuals under competent age may utilize the Service and/or the Site, they shall do so only with the involvement & guidance of their parents and/or legal guardians, under such parent/legal guardian’s registered Subscription account. You agree to register prior to commencing your use of the Service or services of the Site and provide your details including but not limited to complete name, age, email address, and contact telephone number.
										</p>
										<p class="padding-left-0 margin-bottom-15">
											You also represent that you are an individual and not a corporation. Shemaroo reserves the right, at its discretion, to change, modify, add, or remove portions of these Terms at any time by posting the amended Terms. Please check these Terms periodically for changes. Your continued use of the Service after the posting of changes constitutes your binding acceptance of such changes and any so amended Terms.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">2. COMMERCIAL USES:</h5>
										<p class="pull-left-0 w-100 margin-bottom-15">
											The use of the Service, the Site or any content for commercial purposes is unauthorized and may constitute infringement. You agree not to use the Service for any of the following commercial purposes without our written consent:
										</p>
										<p class="padding-left-0 margin-bottom-15">
											By connecting to the Service with a third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.
										</p>
										<p class="padding-left-0 margin-bottom-15">
											You are responsible for your Subscription Account. You may never use another user’s Subscription account. When creating your Subscription account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your Subscription account, and you must keep your account password secure. You must notify Etisalat and Shemaroo immediately of any breach of security or unauthorized use of your Subscription account vide e-mail/writing. We shall not be liable for any loss or damage caused by any unauthorized use of your Subscription account. 
										</p>
										<p class="padding-left-0 margin-bottom-15">
											You may use the Service solely in accordance with the terms and conditions of this Agreement and all applicable laws, rules, and regulations, including without limitation the laws of the Service Location from which you access the Service. You acknowledge and agree that certain content or certain features of the Service may not be available to you depending on your location.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">3. SERVICE RULES</h5>
								  	<p class="pull-left w-100 margin-bottom-15">
											 You agree not to engage in any of the following prohibited activities unless expressly permitted by Etisalat and Shemaroo (in writing) or made available as a public feature of the Service:						 	
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(i) copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated "scraping";
										</p>		
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(ii) transmitting spam, chain letters, or other unsolicited email;
										</p>	
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(iii) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service;
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(iv) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(v) uploading invalid data, viruses, worms, or other software agents through the Service;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(vi) collecting or harvesting any personally identifiable information, including but not limited to Subscription account names, from the Service;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(vii) using the Service for any commercial solicitation purposes;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(viii) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(ix) interfering with the proper working of the Service;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(x) accessing any content on the Service through any technology or means other than those provided or authorized by the Service;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(xi) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein; or
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(xii) knowingly using or attempting to use a fraudulent Payment Method.				 	
										</p>

										<h5 class="margin-bottom-5 margin-top-0">4. CHANGES TO THE SERVICE</h5>
										<p class="pull-left w-100 margin-bottom-15">
											We may, without prior notice and at our sole discretion, change, modify, discontinue, enhance, add or remove any content, any part of the Site, or of the Service, or any provision of these Terms, in whole or in part, at any time; we may stop providing the Service or any of the features of the Site or the Service, to you or to users generally; or create usage limits for the Service.										
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.		
										</p>
										<h5 class="margin-bottom-5 margin-top-0">5. SHEMAROOME SUBSCRIPTION SERVICES TERMS AND CONDITIONS</h5>
										<p class="pull-left w-100 margin-bottom-15">											
											As part of the Service, Etisalat may offer paid subscriptions <b>("Subscription")</b> to features of the Service that allow Users to access and Stream video Content on a subscription video on-demand (SVOD) basis. By subscribing to or otherwise using the Service, you expressly agree to the ShemarooMe Subscription Services Terms and Conditions set forth in this Section <b>("Subscription Terms").</b> If you do not agree to, or wish not to abide by these Subscription Terms, you may not continue to access or use the Service, and you must immediately cease any and all use of the Service.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">6. ELIGIBILITY</h5>
										<p class="pull-left w-100 margin-bottom-15">
											You may use the Service only if you can form a binding contract with Etisalat, and only in compliance with this Agreement and all applicable laws, rules and regulations. The Service may be accessed only in the following particular geographic locations: United Arab Emirates (each a <b>"Service Location"</b>). If you are not located in a Service Location, as determined by Etisalat in its sole discretion, you are not eligible to subscribe to or otherwise access or use the Service. Any access to or use of the Service outside the Service Locations is expressly prohibited. You acknowledge and agree that Etisalat may immediately suspend or terminate your access to the Service if Etisalat believes, in its sole discretion, that you are not located within a Service Location. 								
										</p>
										
										<h5 class="margin-bottom-5 margin-top-0">7. INTELLECTUAL PROPERTY</h5>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(a) As between you and Etisalat, the Service, the Site and the content are all owned and/or controlled by Shemaroo, and are protected by applicable domestic and international copyright laws. As used herein, <b>"Content"</b> means: (1) any and all motion pictures, programming, and any other audio visual content, images, animations, artwork, copy or information; and (2) any and all other human readable audio and/or visual elements, regardless of the form or format, accessible via the Services. (3) Any and all underlying patentable or copyrightable elements (or elements protectable as trade secrets or otherwise under intellectual property laws) related to the Service or the Content, including without limitation, source code, script, object code, software, protocols, algorithms, computer programs, data and other sets of statements and instructions contained in the Service, Site, Content and/or any features of the Service will be considered the property of Shemaroo for the purposes of this Agreement <b>("Shemaroo IP").</b> 
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(b) Shemaroo and ShemarooMe and all related registered and/or unregistered trademarks, trade names, and/or service marks <b>("Shemaroo Marks")</b> are the property of Shemaroo Entertainment ltd. and/or its affiliates or subsidiaries. certain characters, logos, names and images incorporated by ShemarooMe the Site and/or the Content are also protected as registered or unregistered trademarks, trade names and/or service marks and are the property of their respective owners. The Shemaroo Marks may not be used without the express permission of Shemaroo.
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											CONTENT RATINGS AND CLASSIFICATION. MOST CONTENT AVAILABLE ON THE SITE IS RATED ACCORDING TO GUIDELINES ESTABLISHED BY THEIR RESPECTIVE PREVALENT LAWS OR TELEVISION RATINGS/CONTENT ADVISORIES. HOWEVER, SOME CONTENT MAY NOT BE RATED, AND MAY CONTAIN GRAPHIC VIOLENCE, SEXUAL CONTENT AND MATURE THEMES. <b>SUCH CONTENT MAY NOT BE SUITABLE FOR ALL VIEWERS.</b>
										</p>
										<h5 class="margin-bottom-5 margin-top-0">8. STREAMING CONTENT</h5>
										<p class="pull-left w-100 margin-bottom-15">											
											 Accessing the Content available on the Service for any purpose or in any manner other than Streaming (as defined below) is expressly prohibited. <b>"Stream" or "Streaming"</b> means a contemporaneous digital transmission of a Cinematograph, Audio-visual work via the Internet from the Service to a User’s device in such a manner that the data is intended for real-time viewing and not intended to be copied, stored, permanently downloaded, or redistributed by the User. 
										</p>
										<h5 class="margin-bottom-5 margin-top-0">9. LICENSE</h5>
										<p class="pull-left w-100 margin-bottom-15">
											Subject to the terms and conditions of this Agreement (including these Subscription Terms) and the payment by you of all applicable Subscription Fees (as defined below), during the term of your Subscription, Etisalat grants you a non-exclusive, limited, non-transferable, freely revocable license to Stream the video Content made generally available on the Service in a Service Location solely for your personal, non-commercial use and solely as permitted by the features of the Service. 
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											This license does not include any rights (and you agree not) to: (1) archive, permanently download, reproduce, distribute, modify, perform, broadcast, display, license, sell, resell, lend, lease, rent or otherwise use, access, or commercially use the Site, Content or any other material or information contained therein; (2) collect or use any information, data, listings, or descriptions for any reason; (3) create derivative works from the Site, Content or any other materials or information contained therein; (4) download or copy information of any third party; (5) use data mining, robots, or other data gathering and extraction tools; (6) distribute, transfer, or post any Content on any third party website, online service or other media; (7) modify, adapt, copy or otherwise create derivative works from or translate any part of the Site or Content; (8) reverse engineer, decompile or disassemble the Site or Content, or otherwise attempt to obtain access to the Shemaroo IP (as defined above); (9) remove or alter any copyright, trade mark or other proprietary notice contained in the Services, Site, or Content. Except as provided herein, you may not frame or utilize framing techniques to use, surround or enclose the Site or Content or any trademarks, service marks, logo, or other proprietary information (including: images, text, page layout, or form) of Shemaroo and/or its affiliates or subsidiaries or Content providers. You may not use any meta-tags or any other "hidden text" utilizing the name of the Site, Shemaroo and/or its affiliates, subsidiaries or Content providers, or any trade names or trademarks or other copyrighted materials relating thereto, without the express written consent of Shemaroo.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">10. PAYMENT INFORMATION AND BILLING POLICIES</h5>
										<p class="pull-left w-100 margin-bottom-15">											
											Shemaroo does not store any payment information.
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											By registering for the Service, you agree to the pricing terms as set forth on the Site, as maybe update them from time to time. You agree to pay all fees due for your Subscription to the Service <b>("Subscription Fees")</b> on or around the date you register for the Service (unless you participate in a free trial or other Promotion as provided below), and you hereby authorize Etisalat to charge your Payment Method (as defined below) for all such Subscription Fees as and when they fall due. You acknowledge and agree that your Subscription will automatically renew for additional periods on or around each renewal date after you registered for the Service (each a “Renewal Date”), unless you cancel your Subscription prior to the applicable Renewal Date. You further authorize Etisalat to charge your Payment Method the Subscription Fees on or around each Renewal Date. Etisalat may add new services for additional fees and charges, or amend fees and charges for existing services, at any time in its sole discretion. Any change to the pricing or payment terms shall become effective in the billing cycle following notice of such change to you as provided in this Agreement.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">11. PAYMENT METHOD, CHARGES, AND TAXES</h5>
										<p class="pull-left w-100 margin-bottom-15">					
											All information that you provide in connection with a purchase or transaction or other monetary transaction interaction with the Service must be legitimate, accurate, complete, and current. You agree to pay all charges incurred by you and/or any other user of your credit card, debit card or other payment method used in connection with a purchase or transaction or other monetary transaction interaction with the Service <b>("Payment Method")</b> at the prices in effect when such charges are incurred. You will pay any applicable taxes and other fees, if any, whether now applicable or applied in the future, relating to any such purchases, transactions or other monetary transaction interactions.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">12. CONFIDENTIAL INFORMATION</h5>
										<p class="pull-left w-100 margin-bottom-15">
											You agree not to access, or try to access, any information through the Site that does not pertain to you and which you are not properly authorized to receive. You agree that if you should access information about another individual or entity, or otherwise receive information you are not authorized to receive, or if you become aware that someone else has accessed or attempted to access information that such person was not authorized to receive, you will immediately cease such unauthorized access, notify Etisalat of the unauthorized access, and reasonably assist Etisalat in identifying and correcting the circumstances which permitted such unauthorized access. You will keep confidential all information you receive concerning another individual or entity, will not use such information, will return such information to Etisalat immediately, will not transmit it to any other person or entity and will not reproduce or distribute it in any electronic or other form.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">13. COPYRIGHT NOTICE</h5>
										<p class="pull-left w-100 margin-bottom-15">
											If you are of the honest belief that any Content appearing on the Site constitutes copyright infringement in any way, shape, or form, please forward the following information to <a href="mailto:shreepad.nandigram@shemaroo.com">shreepad.nandigram@shemaroo.com</a>:Your name, address, telephone number, and email address; A description of the copyrighted work that you claim has been infringed; The exact URL or a description of where the alleged infringing material is located; A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; and, a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">14. PRIVACY POLICY:</h5>
										<p class="pull-left w-100 margin-bottom-15">
											We care about the privacy of all of our Users, and yes, that means you and your personal information and private data. You understand that by using the Service you consent to the collection, use and disclosure of your personally identifiable information and aggregate data as set forth in the Shemaroo Privacy Policy.
										</p>
										<h5 class="margin-bottom-5 margin-top-0">15. LEGAL</h5>
										<p class="pull-left w-100 margin-bottom-15">											
										Indemnity: You agree to defend, indemnify and hold harmless Shemaroo and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from:
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(i) your use of and access to the Service, including any data or content transmitted or received by you;
										</p>		
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(ii) your violation of any term of this Agreement, including without limitation your breach of any of the representations and warranties contained herein; 
										</p>	
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(iii) your violation of any third-party right, including without limitation any right of privacy or Intellectual Property Rights;
										</p>
										<p class="pull-left w-100 margin-bottom-15">
											&nbsp;&nbsp;&nbsp;(iv) your violation of any applicable law, rule or regulation;
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(v) your User content or any Submission that is submitted via your Subscription account or otherwise; 
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(vi) your use of any Content in violation of local law; or 
										</p>
										<p class="pull-left w-100 margin-bottom-15">	
											&nbsp;&nbsp;&nbsp;(vii) any other party’s access and use of the Service with your unique username, password or other appropriate security code.
										</p>
										<h5 class="margin-bottom-10 margin-top-0">16. GENERAL</h5>	
										<ul class="padding-left-25">
											<li>ENTIRE AGREEMENT/SEVERABILITY</li>
										</ul>		
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											This Agreement, together with any amendments and any additional agreements you may enter into with Etisalat in connection with the Service, shall constitute the entire agreement between you and Etisalat concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect.	
										</p>
										<ul class="padding-left-25">
											<li>FORCE MAJEURE</li>
										</ul>
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											We will not have any liability to you for any delay or non-performance of obligations under this Agreement, to the extent that such delay or non-performance is attributable to an Event of Force Majeure (as hereinafter defined). For the purposes of this Agreement, "Event of Force Majeure" will mean an act of God, war, riot, rebellion or civil unrest, labour dispute, or failure of facilities, networks, equipment or software, or any similar event, to the extent that such event is beyond our reasonable control. 
										</p>
										<ul class="padding-left-25">
											<li>NO WAIVER</li>
										</ul>
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Etisalat failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.
										</p>
										<ul class="padding-left-25">
											<li>RELATIONSHIP</li>
										</ul>	
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											Nothing contained in this Agreement will constitute, or enable the development of a joint venture, partnership or any other employee/employer or independent contractor relationship or any other commercial relationship (except as seller and customer) between you and us.
										</p>
										<ul class="padding-left-25">
											<li>JURISDICTION</li>
										</ul>
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											This Agreement will be governed by the laws of the republic of India irrespective of UAE conflict or choice of law rules. Any action brought by you arising out of or relating to this Agreement may be brought exclusively in Mumbai, India, and you irrevocably consent to the jurisdiction of such courts and venue.
										</p>
 										<ul class="padding-left-25">
											<li>CONTACT</li>
										</ul>
										<p class="padding-left-25 pull-left w-100 margin-bottom-15">	
											Please contact us at <a href="mailto:shreepad.nandigram@shemaroo.com">shreepad.nandigram@shemaroo.com</a> with any questions regarding this Agreement.
										</p>

				        </div>
				      </div>
				    </div>
				  </div>  
				</section>
			</div>

			<%=render "layouts/page_height_setting"%>
			
<style>
  @media(max-width: 1366px) {
    .row {
      margin: 0px;
    }
  }
  @media(max-width: 767px) {
  	.inside-wrapper {
  		background: #fff!important;
  	}
  }
</style>
</body>