<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
  <%=stylesheet_link_tag 'application', media: 'all' %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>

<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
</head>
<script src="/node_modules/apxor/dist/apxor.min.js"></script>
 <script type="text/javascript">
   Apxor.init('e170a9513966fbdcde03486d8fa8383e', {});
 </script>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<style type="text/css">
header{
  background: none;
}
</style>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet">
  <div id="evergreen_page" class="float-left w-100">
    <div class="container-fluid">
      <div class="float-left w-100 app-bg-color1">
        <div class="float-left w-100 head-section">
          <div class="float-left w-100 app-d-flex h-center">
            <img src="/assets/shemaroo_logo.svg" id="green_logo1" alt="shemaroome" title="shemaroome">
            <img src="/assets/evergreen/clubeverGreen.png" id="green_logo2" alt="evergreen" title="evergreen">
          </div>  
          <p class="text-center float-left w-100 mt-3 mb-3 pt-1">Present</p>          
        </div>
        <div class="float-left w-100 titletag-section">
          <p class="w-100 text-center text-uppercase mb-0">lights, camera, action!</p>
          <div class="float-left w-100 text-center">                  
            <p class="inline-block text-center text-uppercase mb-0 boderline pb-5">dilip kumar movie screening</p>
          </div>
        </div>
        <div class="player-section">
          <img src="/assets/evergreen/thumbnail.jpg" class="img-fluid mb-4">
          <!-- <div id='player' class="player_section w-100 embed-responsive embed-responsive-16by9 margin-bottom-25">
            <video id="video-element" autoplay muted playsinline poster="/assets/bollywood_classic_img.jpg">
              <source src='/assets/bollywood_classic.mp4' type='video/mp4'>                  
            </video>
            <div id='controls'>
              <button id='btnMute' class='mute' title='mute' onclick='muteVolume();'>Mute</button>
              <button id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'>Play</button>             
            </div>
          </div> --> 
          <div class="float-left w-100 app-d-flex h-center">
            <a href="https://www.shemaroome.com/movies/madhumati">
              <img src="/assets/evergreen/btn_play.png" id="btn_play_video" class="mt-1 mb-4">
            </a>
          </div>  
        </div>
        <div id="evergreen_cpy_txt" class="float-left w-100 text-center">
          <p>Shemaroo &copy; 2021, All Rights Reserved.</p>
        </div>
      </div>
    </div>
    
  </div> 
  <style>
  #player {
    float:left;     
    position: relative;
    width: 100%;
  }
  
  #controls {
    position: absolute;
    bottom: 3%;
    left: 3%;
    z-index: 1;
  }
  video {
    width: 100%;
    height:auto;      
  }
  
  button {
    text-indent:-9999px;
    width: 105px;
    height:105px;
    border:none;
    cursor:pointer;
  }
  #controls button {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    -webkit-background-clip: unset !important;
    border: 0px;
  }
  .play {
    /*display: none;*/
    background: url('play.png') no-repeat;
    background-size: 100%;
  }
  .pause {
    background: url('pause.png') no-repeat;
    background-position: 0px -5px;
    background-size: 100%;
  }

  .mute { 
    background: url('mute.svg') no-repeat;
    background-size: 100%; 
    background-position: 0px 3px;
    width: 28px;
    height: 28px;
  }
  .unmute { 
    background: url('volume.svg') no-repeat;
    background-position: 0px 3px;
    background-size: 100%;
    width: 28px;
    height: 28px;
  }

    
</style> 

<script type="text/javascript">
  $(document).ready(function() {
     $(".header-section, .mobile-menu nav, .contest-fixed-wrapper, .mobile-menu nav ul").hide();      
     $(".mobile-menu").css("background", "none");
     if(getShemarooCookies().user_id){
      //window.location = "/"
      $("#sso_mobile_login_pop2").modal("hide");
      localStorage.removeItem("user_mob_map_st")
      localStorage.removeItem("offer_couponcode_message")
   var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_name' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'profile_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profiles' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'is_parent_control' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'pin' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profile_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_actv_sub_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

  }); 

  

     </script>
 <script>
  // Get a handle to the player
  player       = document.getElementById('video-element');
  btnPlayPause = document.getElementById('btnPlayPause');
  btnMute      = document.getElementById('btnMute');

  
  // Add a listener for the play and pause events so the buttons state can be updated
  player.addEventListener('play', function() {
    // Change the button to be a pause button
    changeButtonType(btnPlayPause, 'pause');
  }, false);
  
  player.addEventListener('pause', function() {
    // Change the button to be a play button
    changeButtonType(btnPlayPause, 'play');
  }, false);
  
 
  
  player.addEventListener('ended', function() { this.pause(); }, false);  


  function playPauseVideo() {
    if (player.paused || player.ended) {
      // Change the button to a pause button
      changeButtonType(btnPlayPause, 'pause');
      player.play();
    }
    else {
      // Change the button to a play button
      changeButtonType(btnPlayPause, 'play');
      player.pause();
    }
  }
  
  // Stop the current media from playing, and return it to the start position
  function stopVideo() {
    player.pause();
    if (player.currentTime) player.currentTime = 0;
  }
  
  // Toggles the media player's mute and unmute status
  function muteVolume() {
    if (player.muted) {
      console.log("!")
      // Change the button to a mute button
      changeButtonType(btnMute, 'unmute');
      player.muted = false;
    }
    else {
      console.log("2")
      // Change the button to an unmute button
      changeButtonType(btnMute, 'mute');
      player.muted = true;
       
    }
  }
  
  // Replays the media currently loaded in the player
  function replayVideo() {
    resetPlayer();
    player.play();
  }
  
  // Update the progress bar
  function updateProgressBar() {
    // Work out how much of the media has played via the duration and currentTime parameters
    var percentage = Math.floor((100 / player.duration) * player.currentTime);
    // Update the progress bar's value
    progressBar.value = percentage;
    // Update the progress bar's text (for browsers that don't support the progress element)
    progressBar.innerHTML = percentage + '% played';
  }
  
  // Updates a button's title, innerHTML and CSS class
  function changeButtonType(btn, value) {
    btn.title     = value;
    btn.innerHTML = value;
    btn.className = value;
  }
  
  function resetPlayer() {
    progressBar.value = 0;
    // Move the media back to the start
    player.currentTime = 0;
    // Set the play/pause button to 'play'
    changeButtonType(btnPlayPause, 'play');
  }  
</script>
 
     
</body>
</html>
