<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<section class="onboarding-bg onboarding-bg-min-height static-mobile-page padding-top-80 padding-top-60">
  <div class="min-height-div">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><%=get_lang_string("faq")%></h2>
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded mobile_padding_0">

            <div id="faqs">
              <div class="custom-select font-regular">
                <select id="faq">
                  <option value="about">All Topic</option>
                  <option value="about">About ShemarooMe</option>
                  <option value="plans">Plans</option>
                  <option value="account">Managing your account</option>                   
                  <option value="billing">Billing</option>
                  <option value="service">Service Usage</option>
                  <option value="boxoffice">Shemaroo Box Office</option>                     
                </select>
              </div>
              <div id="accordion" class="font-regular">
              
              <div id="about" class="faq_content" data-faqcontent="About ShemarooMe">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse1">
                        What is ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          ShemarooMe is a one stop destination for authentic Indian content. With access to over 3700 titles, across multiple genres and languages -  Bollywood (Classic & Premiere), Regional content (Gujarati, Punjabi, Marathi, etc.), Devotional content and other genres like Kids - it has something for everyone in your family.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse2">
                        Where can I download ShemarooMe app?
                      </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          You can download ShemarooMe app from -
                        </p>
                        <p class="margin-bottom-10">
                          1. For Android devices – Visit Google Play Store
                        </p>
                        <p class="margin-bottom-10">
                          2. For iOS devices- Visit App Store
                        </p>
                        <p class="margin-bottom-10">
                          3. Amazon FireTV 
                        </p>
                        <p class="margin-bottom-10">
                          4. Roku TV (US region only)
                        </p>
                        <p class="margin-bottom-10">
                          5. Cloudwalker (India region only)
                        </p>
                        <p class="margin-bottom-10">
                          6. Mi TV (India region only)
                        </p>
                        <p class="margin-bottom-10">
                          7. Android TV (India region only)
                        </p>
                        <p class="margin-bottom-10">
                          8. Apple TV 
                        </p>
                        <p class="margin-bottom-0">
                          You can also watch content on web – Visit <a href="https://www.shemaroome.com">https://www.shemaroome.com</a>                          
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse3">
                        Which platforms and devices are ShemarooMe available on? 
                      </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          ShemarooMe is currently available on Android phones, iPhones, Web, Amazon FireStick TV, Apple TV, Android TV, Samsung TV, MI TV, LG Smart TV, Cloudwalker, and Roku TV. We shall keep you posted as and when we add more platforms/devices.
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse4">
                        What are the necessary requirements for accessing ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">
                          The app is only available on Android 5.1 & above and iOS 9.0 & above - both phones & tablets. 
                        </p>
                        <p class="margin-bottom-15">
                          The web app can be viewed on Chrome 62.0 & above, Edge 11.0 & above, Firefox 13.0 & above, Safari 10.0 & above, Roku TV 8.0 & above, UC Browser 11.0 & above. 
                        </p>
                        <p class="margin-bottom-0">
                          ShemarooMe app is available on Android TV 6.0 & above, for Apple TV 10.0 & above  
                        </p>                        
                      </div>
                    </div>
                  </div> 
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse5">
                        Is the App supported for phones running on Windows or Blackberry?
                      </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          No, currently we do not support these 2 platforms. We will keep you posted.
                        </p>
                      </div>
                    </div>
                  </div>
                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse57">
                        How can I contact customer care support at ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse57" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          For assistance with a query or any issues, please write to us at support@shemaroome.com (Monday - Sunday, 10:00 am - 08:00 pm). Alternatively, you can also send messages to our WhatsApp number 9372786382 (Monday - Friday, 10:00 am - 07:00 pm). 
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse6">
                        Can I cast ShemarooMe on Chromecast?
                      </a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          Yes, ShemarooMe supports Chromecast. 
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse7">
                        Is ShemarooMe available outside India? 
                      </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          Yes, ShemarooMe is currently available in more than 248 countries across the world.
                        </p>
                      </div>
                    </div>
                  </div> 
                </div>
                <div id="plans" class="faq_content" data-faqcontent="Plans">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse8">
                       What are the types of plans that can be purchased? 
                      </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          There are two types of plans you can purchase on ShemarooMe:
                        </p>
                        <p class="margin-bottom-10">
                          1. ShemarooMe Premium Quarterly Plan<br/>
                          You can chose this plan which allows you to view all our premium content for 3 months
                        </p>
                        <p class="margin-bottom-10">                          
                         2. ShemarooMe Premium Yearly Plan
                         You can chose this plan which allows you to view all our premium content for 1 year.
                        </p>
                        <!-- <p class="margin-bottom-10">                          
                          This plan will give access to all individual plans
                        </p> -->
                        <p class="margin-bottom-0">                          
                          To understand more and get started, go to ShemarooMe website and go to ‘View Plans’. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse9">
                       What is Bollywood Premiere?
                      </a>
                    </div>
                    <div id="collapse9" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          New movies with great stories! On Bollywood Premiere, a user will get exclusive access to movies that will be digitally premiered on ShemarooMe. Every two weeks, one digital premiere. This is a part of your ShemarooMe Premium Plan! 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse10">
                       Why am I not able to access individual category plans on iPhone?
                      </a>
                    </div>
                    <div id="collapse10" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          On all iOS devices, payments are done through iTunes. On iTunes, a user can only buy quarterly or yearly subscription of ShemarooMe Premium plan. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse11">
                       Can I watch videos without purchasing a plan? 
                      </a>
                    </div>
                    <div id="collapse11" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          ShemarooMe has a mix of free and premium titles. If you have not subscribed to a plan, you can only avail the free titles with ads. After you subscribe to a plan, you can view exclusive, unlimited, ad-free content for the purchased plan and get the best ShemarooMe experience.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse12">
                       Can I subscribe to a plan on my Smart TV?
                      </a>
                    </div>
                    <div id="collapse12" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          Yes, you can subscribe to a plan on Smart TV. In India you can subscribe on and Android TV and Mi TV via Paytm, to subscribe go to ‘Me’ icon and go to ‘View Plans and select a plan of your choice. You can subscribe to a plan on Roku TV and Apple TV as well. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse13">
                       Where can I see my current plan?
                      </a>
                    </div>
                    <div id="collapse13" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          You can check your current plan by clicking on the ‘Me’ icon and navigating to ‘Subscriptions’. You will be able to see your current and past plans, and update your plans as well. 
                        </p>                       
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse14">
                      Why am seeing the video & display ads while browsing and streaming content?
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          A registered user subscribed to ShemarooMe Premium Plan (All Access) for any duration, the said user can view exclusive, unlimited, ad-free content (both video ads & display ads) for the purchased plan and get the best ShemarooMe experience.
                        </p> 
                        <p class="margin-bottom-0">
                          A registered user subscribed to a category plan other than ShemarooMe Premium Plan for any duration the said user can view exclusive, unlimited, ad-free content (video ads) for the purchased plan of the same category.  The said user will continue seeing the display ads on the platform. These display ads will not alter or interrupt the video streaming experience.
                        </p>                      
                      </div>
                    </div>
                  </div>
                </div>
                <div id="account" class="faq_content" data-faqcontent="Managing your account">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse14">
                       How can I log in?  
                      </a>
                    </div>
                    <div id="collapse14" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          You can log in by clicking on ‘Me’ icon and going to ‘Login’. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse15">
                       Can I Sign up/ Sign In via Facebook or Google  on ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse15" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          Yes, you can use Facebook or Google for login on Web and Mobile devices.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse16">
                       Can I Login via Facebook or Google on ShemarooMe TV apps for Android, Amazon Fire Stick & Mi TV?
                      </a>
                    </div>
                    <div id="collapse16" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">
                          Yes, you can login via social sign in on ShemarooMe TV apps on Android TV, Apple TV, Cloudwalker, Amazon Fire stick & Mi TV.
                        </p>
                        <p class="margin-bottom-0">
                          To login on TV kindly go to <a href="http://www.shemaroome.com/tv" target="_blank">www.shemaroome.com/tv</a> and select your desired social sign in option. After you have signed in, enter the 6 digit code seen on the TV
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse17">
                       I forgot my password. What can I do?
                      </a>
                    </div>
                    <div id="collapse17" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">
                          <u class="pull-left w-100 margin-bottom-10">Reset via Mobile Number</u>
                          Click ‘Forgot Password’. You will be redirected to provide your registered mobile number. On entering correct details, you will receive your one-time password (OTP) via text message. Enter that OTP to reset your password. 
                        </p>
                        <p class="margin-bottom-0">
                          <u class="pull-left w-100 margin-bottom-10">Reset via Email</u>
                          Click ‘Forgot Password’. You will be redirected to provide your registered Email. On entering correct details, you will receive reset password email. Click on Set a New Password, enter New Password & Confirm Password, now click on Reset button.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse18">
                       What are profiles?
                      </a>
                    </div>
                    <div id="collapse18" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          In ShemarooMe, you can create multiple profiles for different members of your family. We recommend users to create different profiles for each member to enjoy a personalised experience based on their preferences. You can create a maximum of 5 profiles including a kids’ profile within a single account. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse19">
                       How can I create profiles?
                      </a>
                    </div>
                    <div id="collapse19" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          As soon as you log in, you will be asked to create profiles. If you want to add more profiles, click on ‘Me’ and go to ‘Manage profiles’ and add a new profile.
                        </p>                       
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse20">
                       How can I create profiles?
                      </a>
                    </div>
                    <div id="collapse20" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          As soon as you log in, you will be asked to create profiles. If you want to add more profiles, click on ‘Me’ and go to ‘Manage profiles’ and add a new profile.
                        </p>                       
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse21">
                       Can I edit my profile?
                      </a>
                    </div>
                    <div id="collapse21" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          Yes, you can edit profiles. To edit your profile(s), you first have to log in to your account, if you’re not logged in already. Now follow this process to edit profile:
                        </p>    
                        <ul class="margin-bottom-10 padding-left-20">
                          <li class="margin-bottom-10">Go to your ‘Me’ icon and enter ‘Manage profiles’</li>
                          <li class="margin-bottom-10">Click on ‘Edit’ below the profile you want to make changes in and press ‘Done’.</li>
                        </ul>
                        <p class="margin-bottom-0">
                          Note: Profile details cannot be changed on TV
                        </p>                   
                      </div>
                    </div>
                  </div>
                   
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse22">
                       Can I delete my profile?
                      </a>
                    </div>
                    <div id="collapse22" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          You can delete your profile. To do so, you have to logged in to ShemarooMe. Click on the ‘Me’ icon and go to ‘Manage profiles’. Select ‘Edit’ below the profile you want to Delete and press ‘Delete Profile’. 
                        </p>
                        <p class="margin-bottom-0">                          
                          We’d really like you to keep your profile running, so let us know if there is any specific issue you are facing and that we could help with.<br>
                          Write an email to <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> with your grievance.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse23">
                       I am unable to create more profiles.
                      </a>
                    </div>
                    <div id="collapse23" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          You can create a maximum of 5 profiles including a ‘kids’ profile within a single account.  
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse24">
                       How to enable parental control?
                      </a>
                    </div>
                    <div id="collapse24" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          Parental control is a feature which helps in preventing kids from accessing content not suitable for their viewing. 
                        </p>
                        <p class="margin-bottom-10">
                          On ShemarooMe, you can enable parental control by setting a PIN. You can avail this feature only if you have purchase a plan.
                        </p>
                        <p class="margin-bottom-10">
                          After purchasing a plan, users can follow the below steps:
                        </p>
                        <ul class="padding-left-20 margin-bottom-10">
                          <li class="margin-bottom-10">Select the ‘Me’ icon and navigate the menu to select ‘Settings’</li>
                          <li class="margin-bottom-10">Under ‘Privacy Settings’, you will find an option to enable ‘Parental Control’ by sliding the button.</li>
                          <li class="margin-bottom-10">On Enabling ‘Parental Control’, user will be prompted to enter their ShemarooMe password.</li>
                          <li class="margin-bottom-10">After successfully entering the password, you will be requested to set a 4-digit PIN. Enter a 4-digit number of your choice and press ‘Confirm’.  
                          </li>
                        </ul>
                        <p class="margin-bottom-0">
                          After enabling parental control, users will be prompted to enter the PIN when they try to exit the kids’ profile or launch the app, to ensure maximum safety.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse25">
                       How to disable parental control?
                      </a>
                    </div>
                    <div id="collapse25" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          After you have logged in, you can follow the process to disable parental control:
                        </p>
                        <ul class="padding-left-20 margin-bottom-10">
                          <li class="margin-bottom-10">
                            Select the ‘Me’ icon and navigate the menu to select ‘Settings’
                          </li>
                          <li class="margin-bottom-0">
                            Under ‘Privacy Settings’, you will find an option to disable ‘Parental Control’ by sliding the button.
                          </li>
                        </ul>
                        <p class="margin-bottom-0">
                          However, we do recommend keeping parental control if your child accesses the app. 
                        </p>                     
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse26">
                       I want to change the parental control PIN.
                      </a>
                    </div>
                    <div id="collapse26" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">
                          After you have logged in, you can follow the process to 
                        </p>
                        <ul class="padding-left-20 margin-bottom-10">
                          <li class="margin-bottom-10">
                            Select the ‘Me’ icon and navigate the menu to select ‘Settings’
                          </li>
                          <li class="margin-bottom-10">
                            Under ‘Privacy Settings’, you will find an option to Change the PIN
                          </li>
                          <li class="margin-bottom-10">
                            You will be prompted to enter your ShemarooMe password. After successfully entering the password, you will be requested to change the PIN by entering the new 4-digit PIN.
                          </li>
                          <li class="margin-bottom-0">
                            Enter the new 4-digit PIN and continue watching ShemarooMe.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse27">
                       I forgot my Parental pin code what do I do now?
                      </a>
                    </div>
                    <div id="collapse27" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">
                          To get your parental pin code, click on Forget Pin tab, enter your email id on which you wish to receive your parental pin code.
                        </p>
                        <p class="margin-bottom-0">
                          Click on ShemarooMe then go to Me icon and click on Main profile. Get your parental Pin code from your email id and enter the same.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse28">
                       How do I enable or disable in-app notifications?
                      </a>
                    </div>
                    <div id="collapse28" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          To disable in-App notifications, you’ll have to log in to ShemarooMe. After doing that, navigate to ‘Settings’. You will find an option to disable notifications in ‘Device Settings’ 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse29">
                       How many devices can a user play content at a time from a single account?
                      </a>
                    </div>
                    <div id="collapse29" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          We allow only four devices to view content simultaneously on one subscribed account. This is to ensure that your premium membership is not misused.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse30">
                       How I can merge my Facebook or Google id with registered email id.
                      </a>
                    </div>
                    <div id="collapse30" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">
                          You can merge your registered Email account with Facebook or Google account.
                        </p>
                        <p class="margin-bottom-0">
                          Mobile number registered user cannot merge their account with Facebook, Google or Email account.
                        </p>
                        <p class="margin-bottom-0">
                          However, if you use Facebook or Google for login and purchase pack with same id then you must use same sign-in method for login on ShemarooMe.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse31">
                       Can existing Registered user be able to login while relocating internationally?
                      </a>
                    </div>
                    <div id="collapse31" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">
                          When user is registered from a location, his/her account gets linked to that location, hence user will not be able to login with same login id internationally. He/she has to register on ShemarooMe with fresh login id to access content in that particular country.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                 <div id="billing" class="faq_content" data-faqcontent="Billing">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse32">
                       What are the different modes of payment accepted by ShemarooMe?
                      </a>
                    </div>
                    <div id="collapse32" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">There are multiple payment options available depending on the platform (operating system) on which you are purchasing the subscription:</p>
                        <p class="padding-left-0 margin-bottom-10">1. Android Phones and Web</p>
                        <p class="margin-bottom-15">On Mobile and Web, there are multiple options available like Credit cards, Debit cards, Net banking and wallets.</p>
                        <p class="padding-left-0 margin-bottom-10">2. iOS</p>
                        <p class="margin-bottom-15">Subscribers can use iOS in-app purchases on iTunes to buy subscription of ShemarooMe.</p>
                        <p class="padding-left-0 margin-bottom-10">3. TV Platforms</p>
                        <p class="margin-bottom-15">Indian customers can buy ShemarooMe plans on Mi TV & Android TV. For login, Go to Me icon, select plan of your choice and pay via PayTm.</p>
                        <p class="margin-bottom-0">Now US user can buy subscription on ROKU platform via Roku In app purchase. Go to Me icon, click on View Plans and select desired plan & proceed.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse33">
                       How can I Subscribe outside India and US region?
                      </a>
                    </div>
                    <div id="collapse33" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Outside India and US region customers can Subscribe on Android devices via Google in app purchase and on ios devices user can use iTunes for subscription. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse34">
                       Can I pay Cash?
                      </a>
                    </div>
                    <div id="collapse34" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">We currently don’t accept cash as a payment option for your ShemarooMe subscription.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse35">
                       How can I cancel my plan?
                      </a>
                    </div>
                    <div id="collapse35" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-10">You can choose to stop your subscription anytime.</p>
                        <p class="margin-bottom-10">If you have bought your plan on android and web, you can follow this process: Click on ‘Me’ and enter ‘View Plans’. Select the option ’View/Modify Plans’ to cancel the plan. </p>
                        <p class="margin-bottom-10">Whereas, if you have paid for your subscription through iTunes, and have an auto renewal subscription, visit this website for more information - <a href="https://support.apple.com/en-us/HT202039">https://support.apple.com/en-us/HT202039</a></p>
                        <p class="margin-bottom-10">We’d really like you to stay, so let us know if there is any specific issue you are facing and that we could help with.
                        Write an email to <u><a href="mailto:support@shemaroome.com">support@shemaroome.com</a></u> with your grievance.</p>
                        <p class="margin-bottom-0">Note:
                        Uninstalling the ShemarooMe app will not automatically stop your subscription. If you uninstall the Shemaroo app without cancelling your subscription, you will still be charged. You must cancel your subscription using the steps above to end your subscription. </p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse36">
                       I am still getting charged after I cancelled by plan.
                      </a>
                    </div>
                    <div id="collapse36" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If you have been incorrectly charged, we apologise to you. We will solve this issue at the earliest. Please check your ‘Active Plans’ in ‘View Plans’ to confirm if the plan you have been charged for is still active. If it is active, then you have been charged because the plan is not cancelled yet. You can cancel the plan if you wish to.</p>
                        <p class="margin-bottom-0">However, if there are no active plans, please write to us on <u><a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</u></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse37">
                      How can I get a refund? 
                      </a>
                    </div>
                    <div id="collapse37" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">As a policy, ShemarooMe does not offer any partial or full refunds. In case you require any assistance this regards, please contact us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse38">
                      Are there any additional fees associated with the ShemarooMe subscription?
                      </a>
                    </div>
                    <div id="collapse38" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">ShemarooMe charges subscription fee, which is exclusive of all taxes. Some states in US like New Jersey add sales tax for transactions. The tax charged depends on the billing address of your debit or credit card.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse39">
                      I have registered via iTunes. Will my plan be auto renewed?
                      </a>
                    </div>
                    <div id="collapse39" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Your plan will be auto renewed if you have purchased ShemarooMe via iTunes. However, you can cancel auto renewal of the subscription 24 hours before the renewal date.</p>
                        <p class="margin-bottom-0">To know more about how to disable auto plan, please click on the link <a href="https://support.apple.com/en-us/HT202039">https://support.apple.com/en-us/HT202039</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse40">
                      I tried subscribing but the transaction failed and the money is deducted from my bank.
                      </a>
                    </div>
                    <div id="collapse40" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can try relaunching the App or go to the website and check if the subscription details appear below ‘Active Plans’ under ‘View Plans’ in ‘Me’. If you can't see the details, please contact our support team at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service" class="faq_content" data-faqcontent="Service Usage">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse41">
                        Can I download a list of movies and shows to watch later?  
                      </a>
                    </div>
                    <div id="collapse41" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No, currently the download feature is not available but we will soon introduce this feature.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse42">
                        I'm getting a black screen with no sound.
                      </a>
                    </div>
                    <div id="collapse42" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Please restart the device you are viewing the content on and start the app. If the issue still persists, write to us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>, mentioning the steps to recreate the issue and screenshot of error messages if any.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse43">
                        Why is my app shutting down/ crashing/ closing frequently on my phone? 
                      </a>
                    </div>
                    <div id="collapse43" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">For a good user experience, kindly update the app to the latest version. Also, try to clear your app data and restart your phone. If you're still facing problems, send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com.</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse44">
                        Video is taking very long time to load. What can I do?
                      </a>
                    </div>
                    <div id="collapse44" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the videos are buffering on your app, check if your Internet connection is working fine. If the internet is working fine and it’s still taking time to load, then please send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse45">
                        App is consuming too much data. 
                      </a>
                    </div>
                    <div id="collapse45" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">If the app seems to be consuming too much of your data, try changing your video quality settings. You can try changing the video quality by tapping the video and clicking the gear icon on the top right corner. That should bring up a list of video quality options to choose from! If it still doesn’t help, send us an email at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a> about the problem.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse46">
                        Can I change the video quality?
                      </a>
                    </div>
                    <div id="collapse46" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Yes, you can change video quality by clicking on gear icon on video player and choose desired quality as per your network speed.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="boxoffice" class="faq_content" data-faqcontent="Shemaroo Box Office">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse48">
                        How to watch purchased movies? 
                      </a>
                    </div>
                    <div id="collapse48" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-15">Once you have purchased a ticket for ShemarooMe Box Office, you can watch the movie on any device (web, Android, iOS, Smart TVs) that supports ShemarooMe. </p>
                        <ul class="margin-bottom-10 padding-left-20">
                          <li class="margin-bottom-10">
                            Watch on a Laptop/ PC<br>
                            To access a purchased movie on a computer, Register/ sign in to your <a href="http://www.shemaroome.com">ShemarooMe account</a> and click on <b>Me</b> and then <b>Redeem</b> to activate your ticket 
                          </li>                          
                          <li class="margin-bottom-10">
                            Watch on Mobile app<br>
                            &nbsp;&nbsp;&nbsp;a. Android: Download the <a href="https://shemaroome.app.link/pSibOf3y65" target="_blank">ShemarooMe app</a> on your Android mobile device and register/ login. Tap on the Me icon and navigate to the Redeem option to activate your ticket<br>
                            &nbsp;&nbsp;&nbsp;b. iOS: Visit <a href="shemaroome.com">shemaroome.com</a> and login/ sign up by clicking on the <b>Me</b> icon. Once done, go to <b>Redeem Ticket</b> and enter the code you have received. To watch on the ShemarooMe app, download the app from the App Store and login with the same details used to sign into the web browser. Else, continue on the mobile browser
                          </li>
                          <li class="margin-bottom-0">
                            Watch on Smart TVs<br>
                            You can also access purchased movies on the ShemarooMe app for certain Smart TVs, Apple TV, Android TV, Fire TV.<br>
                            Login/ Register on the ShemarooMe app and navigate to <b>Redeem</b> section located within the <b>Me</b> tab. 
                          </li>
                        </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse49">
                        How many days do I have to redeem the ticket? 
                      </a>
                    </div>
                    <div id="collapse49" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                      </div>
                      <ul class="padding-left-20 margin-bottom-10">
                        <li class="margin-bottom-10">
                            Purchased a ticket before launch: Once the movie releases on ShemarooMe, you must redeem and watch the movie within a 3-day window
                          </li>
                          <li class="margin-bottom-0">
                            Purchased a ticket after launch: Once a ticket has been purchased, the title will be able for viewing for three days
                          </li>
                        
                        </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse50">
                        Once I have redeemed the ticket, how many days do I have to watch the movie (viewing period)?  
                      </a>
                    </div>
                    <div id="collapse50" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Once a ticket has been redeemed, the title will be available for your viewing for three days. In this time period, you can watch the movie as many times as you like. Rewinding or pausing the movie will not increase the viewing period.</p>
                      </div>
                    </div>
                  </div>

                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse51">
                        Do I need an internet connection to watch the movie?  
                      </a>
                    </div>
                    <div id="collapse51" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Just like any streaming experience, a stable internet connection is required to watch the movie</p>
                      </div>
                    </div>
                  </div>

                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse52">
                        Can I download ShemarooMe movies and watch them offline?  
                      </a>
                    </div>
                    <div id="collapse52" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">You can download the movie for offline viewing on ShemarooMe. The title will be removed from your downloads after the viewing period expires.</p>
                      </div>
                    </div>
                  </div>

                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse53">
                       Can I watch a Shemaroo movie on BookMyShow?   
                      </a>
                    </div>
                    <div id="collapse53" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">No – the movies are only available for viewing on the ShemarooMe app.</p>
                      </div>
                    </div>
                  </div>
                   <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse54">
                        Can I watch Shemaroo movies while travelling abroad?   
                      </a>
                    </div>
                    <div id="collapse54" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Due to licensing and rights constraints, titles may not be available for viewing outside of India.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse55">
                        Can I cancel my ticket and get a refund before redeeming it?  
                      </a>
                    </div>
                    <div id="collapse55" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">Shemaroo Movie tickets are non-refundable tickets. In case you are facing any problems with redemption, please contact BookMyShow/ ShemarooMe’s customer care team and we will help resolve it for you</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapse56">
                        Can I extend the three day viewing period?   
                      </a>
                    </div>
                    <div id="collapse56" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <p class="margin-bottom-0">At this moment, there is no option to extend your viewing period. However, you can purchase a new ticket to get an additional three days to watch the movie. </p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>  
            
            
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              var selected_option = $(".same-as-selected").text();
              $(".faq_content").hide();
              $("div[data-faqcontent*='" + selected_option + "']").show(); 
              if(selected_option.toLowerCase() == 'all topic') {
                $(".faq_content").show();
              }
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
 
  </script>
</div>
</div>
</div>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
</body>