<!-- Term of Use India Region -->
<script>
  $(document).ready(function() {
	$(".fixed-top").css("box-shadow","none");
	$(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
				<h2 class="block margin-bottom-10">Grievance Details</h2>
				<div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">	
					<h5 class="margin-bottom-5 margin-top-0 font-semibold">Grievance Redressal Mechanism:</h5>
				  	<ul class="pull-left w-100 margin-bottom-10 padding-left-20">
						  <li class="pull-left w-100 margin-bottom-10">For any complaints with respect to our content, please write to our Grievance Officer- Ms. Swati Khanna at
						  	<u style="color: #45c1e9;">contenthelp@shemaroo.com</u></li>
						  <li class="pull-left w-100 margin-bottom-10">Kindly also provide the following details along with your complaint for quick resolution:
						  	<ul>
						  		<li>Name of the Film/Web series or Program along with Episode Number</li>
						  		<li>Type of Complaint- Age rating of the content/Classification of Content and/or Content related</li>
						  		<li>Summary of the complaint in detail</li>
						  		<li>Your details-Full Name and Email Id</li>
						  	</ul>
						  </li>
						  <li class="pull-left w-100 margin-bottom-10">Note:-For any subscription or platform related issues kindly send your concerns at support@shemaroome.com</li>

						  <li class="pull-left w-100 margin-bottom-10">Based on the complaint raised by you, we will take reasonable measures to resolve the concern and if required, may also seek further information from you.</li>						  
						</ul>
					<h5 class="margin-bottom-5 margin-top-0 font-semibold">Process for resolving Grievances:</h5> 	
						<ul class="pull-left w-100 margin-bottom-10 padding-left-20">
						  <li class="pull-left w-100 margin-bottom-10">On receipt of your complaint, we will send an acknowledgement mail within 24 hours of receiving the complaint during working hours.</li>
						  
						  <li class="pull-left w-100 margin-bottom-10">Upon review, all valid complaints will be addressed and the complainant will be informed within 15 working days. Reasonable measures will be taken, wherever required, to redress the concerns of the viewers.</li>

						  <li class="pull-left w-100 margin-bottom-10">ShemarooMe is a member of a self-regulatory body namely, “Digital Publisher Content Grievance Council” (DPCGC), and you can reach DPCGC for all unresolved content related grievances at dpcgc.org.</li>
						</ul>
						<h5 class="margin-bottom-5 margin-top-0 font-semibold">Content related report for the month of May, 2022 is as stated below:</h5>
						<table class="table table-responsive-stack table-bordered">
                      <thead>
                        <tr>
                          <th>Grievance Pending at the beginning of the month</th>
                          <th>Grievances Received during the month</th>
                          <th>Grievances related to Code of Ethics</th>
                          <th>Grievances Disposed</th>
                          <th>Grievances Pending not related to Code of Ethics</th>
                          <th>Grievances Pending related to Code of Ethics</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>0</td>
                          <td>12</td>
                          <td>0</td>
                          <td>12</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        
                      </tbody>
                    </table>
				</div>
				</div>
			</div>
		</div>
	</section>
</div>

<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>

<script>
  (function(a) {
    a.fn.rtResponsiveTables = function(c) {
        var e = a.extend({
            containerBreakPoint: 0
        }, c);
        rtStartingOuterWidth = a(window).width();
        is_iOS = /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
        rt_responsive_table_object = this;

        function g(h) {
            return !a.trim(h.html())
        }

        function f(h) {
            rt_css_code = '<style type="text/css">';
            a(h).find("th").each(function(i, j) {
                rt_css_code += h + ".rt-vertical-table td:nth-of-type(" + (i + 1) + '):before { content: "' + a(this).text() + '"; }'
            });
            rt_css_code += "</style>";
            a(rt_css_code).appendTo("head")
        }

        function d(h) {
            rt_table_width = 0;
            if (h.hasClass("rt-vertical-table")) {
                rt_table_width = h.outerWidth()
            } else {
                h.find("th").each(function(i, j) {
                    rt_table_width += a(this).outerWidth()
                });
                rt_table_width = rt_table_width
            }
            return rt_table_width
        }

        function b() {
            if (a("table.rt-responsive-table").length) {
                a("table.rt-responsive-table").each(function(h) {
                    rt_containers_width = a(this).parent().width();
                    rt_current_width = d(a(this)) - 1;
                    rt_max_width = a(this).attr("data-rt-max-width");
                    rt_has_class_rt_vertical_table = a(this).hasClass("rt-vertical-table");
                    if (a(this).attr("data-rtContainerBreakPoint")) {
                        rt_user_defined_container_breakpoint = a(this).attr("data-rtContainerBreakPoint")
                    } else {
                        rt_user_defined_container_breakpoint = e.containerBreakPoint
                    } if (rt_containers_width < rt_current_width || rt_containers_width <= rt_user_defined_container_breakpoint) {
                        a(this).addClass("rt-vertical-table");
                        if (rt_max_width > rt_current_width && rt_max_width > rt_user_defined_container_breakpoint) {
                            a(this).attr("data-rt-max-width", rt_current_width)
                        } else {
                            if (rt_max_width > rt_current_width && rt_max_width <= rt_user_defined_container_breakpoint) {
                                a(this).attr("data-rt-max-width", rt_user_defined_container_breakpoint)
                            }
                        }
                    } else {
                        if (rt_containers_width > rt_max_width && rt_containers_width > rt_user_defined_container_breakpoint) {
                            a(this).removeClass("rt-vertical-table");
                            if ((rt_max_width > rt_current_width && !rt_has_class_rt_vertical_table) && (rt_max_width > rt_user_defined_container_breakpoint && !rt_has_class_rt_vertical_table)) {
                                a(this).attr("data-rt-max-width", rt_current_width)
                            } else {
                                if ((rt_max_width > rt_current_width && !rt_has_class_rt_vertical_table) && (rt_max_width <= rt_user_defined_container_breakpoint && !rt_has_class_rt_vertical_table)) {
                                    a(this).attr("data-rt-max-width", rt_user_defined_container_breakpoint)
                                }
                            }
                        } else {}
                    }
                })
            }
        }
        rt_responsive_table_object.each(function(h, i) {
            a(this).addClass("rt-responsive-table-" + h).addClass("rt-responsive-table");
            if (h == rt_responsive_table_object.length - 1) {
                a(window).resize(function() {
                    if (!is_iOS || (is_iOS && (rtStartingOuterWidth !== a(window).width()))) {
                        rtStartingOuterWidth = a(window).width();
                        b()
                    }
                });
                rt_responsive_table_count = a("table.rt-responsive-table").length;
                a("table.rt-responsive-table").each(function(k, j) {
                    f("table.rt-responsive-table-" + k);
                    a("table.rt-responsive-table-" + k).attr("data-rt-max-width", d(a(this)));
                    a(this).find("td,th").each(function(m, l) {
                        if (g(a(this))) {
                            a(this).html("&#160;")
                        }
                    });
                    if (rt_responsive_table_count - 1 == k) {
                        b()
                    }
                })
            }
        });
        return this
    }
}(jQuery));

$("table").rtResponsiveTables();
</script>


