<!DOCTYPE html>
<html>

<head>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
	<%=stylesheet_link_tag 'application', media: 'all' %>
	<%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>

<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
</head>
<script src="/node_modules/apxor/dist/apxor.min.js"></script>
 <script type="text/javascript">
   Apxor.init('e170a9513966fbdcde03486d8fa8383e', {});
 </script>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<style type="text/css">
header{
	background: none;
}
</style>
<body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH6WPGG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
	<div class="container gujarthi-page">
		<div class="gujarthi-page-bg">
			<div class="row">
				<header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-top-20">
					<img src="/assets/shemaroo_logo.svg" alt="" title="">
				</header>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- gujarthi-info margin-top-25 margin-bottom-0">
					<div class="top-section-padding pull-left w-100">
						<div class="info-first margin-bottom-25">
							<img src="assets/premiere.png" class="pull-left" alt="" title="">
							<p class="margin-bottom-0 pull-left margin-left-15 font-regular"><b class="font-semibold">Watch a new Gujarati Title every week</b>
							</p>
						</div>
						<div class="info-second  margin-bottom-25">
							<img src="assets/titles.png" class="pull-left" alt="" title="">
							<p class="margin-bottom-0 pull-left margin-left-15 font-regular"><b class="font-semibold">500+ Gujarati Natak, <b class="font-semibold">Movies and Web Series</b></p>
						</div>
						<div class="info-third  margin-bottom-25">
							<img src="assets/play.png" class="pull-left" alt="" title="">
							<p class="relative-content margin-bottom-0 pull-left margin-left-15 font-regular"><b>Live Gujarati News channel</b></b>
							</p>
						</div>
						<div class="line-divider1"></div>
						<div class="line-divider2"></div>
						<!-- <div class="pull-left w-50 offer_text text-right">
							<p>40% OFF</p>
						</div>
						<div class="pull-left w-50 promocodetext">
							<p>USE CODE
								<br>
								<span>SMDIWALI</span><br>
								<span class="small">*in the checkout page</span>
							</p>
						</div>
						<div class="line-divider1"></div>
						<div class="line-divider2"></div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col- bollywood_plus_box">
					<div class="content-section-padding1">
						<!-- <p class="free-trial-btnp margin-bottom-25 pull-left w-100 margin-top-30">
							<a class="text-uppercase">Choose your plan</a> 
						</p> -->
						<div class="ml-0 w-100 center-align-content v-center margin-top-20 mb-3 pack-btnp">
						<%@gujarathi_packs['plans'].reverse.each_with_index do |g,i|%>
							     <%if g['id'] == "5b72a084c1df4137ef000004" %>
								
									<p class="mb-0">
									 <a href="javascript:void(0);" class="text-capitalize select_gu_plan pack-active" data-plan-info="<%=g['id']%>|<%=@gujarathi_packs['catalog_id']%>|<%=@gujarathi_packs['category']%>|<%=g['title']%>|<%=g['currency']%>|<%=g['currency_symbol']%>|<%=g['discounted_price']%>|<%=g['pg_price']['adyen']%>|<%=g['pg_price']['cc_avenue']%>|<%=@gujarathi_packs['content_id']%>|<%=@gujarathi_packs['category']%>">Gujarati <%=g['title'] == "Yearly" ? "Annual" : g['title']%> Plan<br><span>$<%=g['discounted_price']%></span></a>
									</p>	
									<!-- <img src="/assets/guj_new/stamp.png" title="" id="guj_stamp" class="margin-left-5"> -->
								<%end%>
							
						<%end%>
							
					</div>
						<!--<div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
						<div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
							<p>
								<a href="javascript:void(0);" class="text-capitalize">Gujarati Monthly Plan<br><span>$5.00</span></a> 
							</p>
						</div> -->
						<div class="guj_page_form">
							<div class="gujarthi-login-box-wrap pull-left w-100">
								<div class="gujarthi-login-box pull-left w-100">
									<h3 class="margin-top-15 pull-left w-100 text-center">Register</h3> 								
		              <div class="relative-content padding-top-85">
		              	<div class="w-100 all_error padding-left-0 padding-right-0">
			                <label class="error" id="signup_marketing_resp_error_msg">Invalid username or Password</label>
			              </div>
										<div class="input-group">
											<input type="email" id="gu_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off"> <span class="input-label">Email ID</span> 
											<label class="error" id="gu_email_error">This field is mandatory</label>
										</div>
										<div class="input-group hide_password_group">
											<input type="password" id="gu_pwd" name="login_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off">
											<img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
											<img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password"> <span class="input-label">Password</span> 
											<label class="error" id="gu_password_error">This field is mandatory</label>
										</div>
									</div>	
									 <div class="inline-block margin-top-0 margin-bottom-25 w-100">
		                <p class="inline-block w-100 margin-bottom-20">
		                  <a href="javascript:void(0);" class="text-uppercase btn font-bold" id="gujarati_sub">Register</a>
		                </p> 
		                <p>*Already Registered users need to register using a new email address</p>             
		              </div>
								</div>
							</div>
						</div>	
						<!-- <p class="d-none d-lg-block d-xl-block pull-left w-100 margin-top-0 margin-bottom-20 shemaroo-color1 font-size3 text-center">Shemaroo &copy; 2019, All Rights Reserved</p> -->
					</div>
					
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col- margin-top-10">
					<div class="content-section-padding2">
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">New releases</h6>
	             <img src="https://shemworldoutput.s3.amazonaws.com/Images/21Tiffin.jpg" title="">
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/yamraj.jpg" title="">    
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Malhar Specials</h6>
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/Sharto.jpg" title="">
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/Swagtam.jpg" title="">     
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Siddharth Ranaderia Specials</h6>
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/Guju.jpg" title="">
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/Rabgeela.jpg" title="">    
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Sanjay Goradia Specials</h6>
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/goti-soda.jpg">
	              <img src="https://shemworldoutput.s3.amazonaws.com/Images/MyDear.jpg">   
	            </div>
	          </div>
	        </div>
				</div>
				<p class="pull-left w-100 margin-top-5 margin-bottom-10 shemaroo-color1 font-size3 text-center">Shemaroo &copy; 2021, All Rights Reserved</p>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function() {
		$('.pack-btnp a').click(function() {
			$(this).toggleClass('pack-active');
			$(this).parents('.pack-btnp').siblings('.pack-btnp').find('a').removeClass('pack-active');
		})
		$('.gujarthi-info, .free-trial-btnp, .content-section-padding2 img, .offer_text, .promocodetext').click(function() {
	      if(window.outerWidth <  470) {
	        var x = $(".pack-btnp").offset();              
	        $('html, body').animate({scrollTop: x.top}, 'slow');        
	      }    
	    });
	});	
</script>
<style>
	@media(max-width: 991px) {
		.pack-btnp {
			width: 100% !important;
		}
	}
	@media(max-width: 470px) {
		.bollywood_plus_box .bollywood_plus_pack {
			margin-top: 0 !important;
		}
	}
	
</style>
</body>

</html>