<!DOCTYPE html>
<html>

<head>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
	<%=stylesheet_link_tag 'application', media: 'all' %>
	<%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>
</head>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH6WPGG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
	<div class="container gujarthi-page">
		<div class="gujarthi-page-bg">
			<div class="row">
				<header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center margin-top-20">
					<img src="/assets/shemaroo_logo.svg" alt="" title="">
				</header>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- gujarthi-info margin-top-25 margin-bottom-0">
					<div class="top-section-padding pull-left w-100">
						<div class="info-first margin-bottom-25">
							<img src="assets/premiere.png" class="pull-left" alt="" title="">
							<p class="margin-bottom-0 pull-left margin-left-15 font-regular"><b class="font-semibold">1 New Premiere Every Friday</b>
							</p>
						</div>
						<div class="info-second  margin-bottom-25">
							<img src="assets/titles.png" class="pull-left" alt="" title="">
							<p class="margin-bottom-0 pull-left margin-left-15 font-regular"><b class="font-semibold">400+</b> Titles <b class="font-semibold">1000+</b> Hours of Entertainment</p>
						</div>
						<div class="info-third  margin-bottom-25">
							<img src="assets/play.png" class="pull-left" alt="" title="">
							<p class="relative-content margin-bottom-0 pull-left margin-left-15 font-regular">1<small>st</small> Ever 24&#215;7 Live <b class="font-semibold">Gujarai Movies</b> and <b>Natak</b>
								Channel in the <b>US</b>
							</p>
						</div>
						<div class="line-divider1"></div>
						<div class="line-divider2"></div>
						<!-- <div class="pull-left w-50 offer_text text-right">
							<p>40% OFF</p>
						</div>
						<div class="pull-left w-50 promocodetext">
							<p>USE CODE
								<br>
								<span>SMDIWALI</span><br>
								<span class="small">*in the checkout page</span>
							</p>
						</div>
						<div class="line-divider1"></div>
						<div class="line-divider2"></div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col- bollywood_plus_box">
					<div class="content-section-padding1">
						<p class="free-trial-btnp margin-bottom-25 pull-left w-100 margin-top-30">
							<a class="text-uppercase">Choose your plan</a> 
						</p>
						<div class="pull-left w-100 center-align-content">
						<%@gujarathi_packs['plans'].reverse.each_with_index do |g,i|%>
							
								<div class="pack-btnp <%=i == 1 ? "pack-btnp-second" : ""%> bollywood_plus_pack bollywood_plus_pack1 margin-top-20 margin-bottom-25 pull-left w-50"> 
									<p>
									 <a href="javascript:void(0);" class="text-capitalize select_gu_plan <%=i == 1 ? "pack-active" : ""%>"  data-plan-info="<%=g['id']%>|<%=@gujarathi_packs['catalog_id']%>|<%=@gujarathi_packs['category']%>|<%=g['title']%>|<%=g['currency']%>|<%=g['currency_symbol']%>|<%=g['discounted_price']%>|<%=g['pg_price']['adyen']%>|<%=g['pg_price']['cc_avenue']%>|<%=@gujarathi_packs['content_id']%>">Gujarati <%=g['title'] == "Yearly" ? "Annual" : g['title']%> Plan<br><span>$<%=g['discounted_price']%></span></a>
									</p>	
								</div>
							
						<%end%>
							
					</div>
						<!--<div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
						<div class="pack-btnp pack-btnp-second margin-top-20 margin-bottom-25 pull-left w-50"> 
							<p>
								<a href="javascript:void(0);" class="text-capitalize">Gujarati Monthly Plan<br><span>$5.00</span></a> 
							</p>
						</div> -->
						<div class="gujarthi-login-box-wrap pull-left w-100">
							<div class="gujarthi-login-box pull-left w-100">
								<h3 class="margin-top-15 pull-left w-100 text-center">Register</h3> 								
	              <div class="relative-content padding-top-85">
	              	<div class="w-100 all_error padding-left-0 padding-right-0">
		                <label class="error" id="signup_marketing_resp_error_msg">Invalid username or Password</label>
		              </div>
									<div class="input-group">
										<input type="email" id="gu_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off"> <span class="input-label">Email ID</span> 
										<label class="error" id="gu_email_error">This field is mandatory</label>
									</div>
									<div class="input-group hide_password_group">
										<input type="password" id="gu_pwd" name="login_password" class="form-control disableAutoComplete" maxlength="20" autocomplete="new-password" value="" autocorrect="off">
										<img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
										<img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password"> <span class="input-label">Password</span> 
										<label class="error" id="gu_password_error">This field is mandatory</label>
									</div>
								</div>	
								 <div class="inline-block margin-top-0 margin-bottom-25 w-100">
	                <p class="inline-block w-100 margin-bottom-20">
	                  <a href="javascript:void(0);" class="text-uppercase btn font-bold" id="gujarati_sub">Register</a>
	                </p>              
	              </div>
							</div>
						</div>
						<!-- <p class="d-none d-lg-block d-xl-block pull-left w-100 margin-top-0 margin-bottom-20 shemaroo-color1 font-size3 text-center">Shemaroo &copy; 2019, All Rights Reserved</p> -->
					</div>
					
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col- margin-top-10">
					<div class="content-section-padding2">
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Romantic</h6>
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Passport/5c6286aba609d23238000027/medium_16_9.jpg?1558532349" title="">
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Sharato-Lagu/5c6286d9a609d23238000031/medium_16_9.jpg?1551186606" title="">    
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Comedy</h6>
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Gujjubhai-The-Great/5ba9f6b9a609d29cf6000009/medium_16_9.jpg?1551187181" title="">
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Chhello-Divas---A-New-Beginning/5ba9f6ada609d29cf6000007/medium_16_9.jpg?1555679905" title="">    
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Nataks</h6>
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Aa-Namo-Bahu-Nade-Chhe/5b8e5b83a609d2ee9b00000d/medium_16_9.jpg?1549403167" title="">
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Bas-Kar-Bakula/5c795875a609d24fbc000054/medium_16_9.jpg?1559825689" title="">    
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-15">
	              <h6 class="pull-left w-100 text-center">Family Entertainers</h6>
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/Mari-Wife-Mari-Kom/5bfe843da609d2fab50000ce/medium_16_9.jpg?1552988322">
	              <img src="https://daex9l847wg3n.cloudfront.net/shemoutputimages/2-Idiots/5b9c9d10a609d2a58d000003/medium_16_9.jpg?1558532003">    
	            </div>
	          </div>
	        </div>
				</div>
				<p class="pull-left w-100 margin-top-5 margin-bottom-10 shemaroo-color1 font-size3 text-center">Shemaroo &copy; 2019, All Rights Reserved</p>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function() {
		$('.pack-btnp a').click(function() {
			$(this).toggleClass('pack-active');
			$(this).parents('.pack-btnp').siblings('.pack-btnp').find('a').removeClass('pack-active');
		})
		$('.gujarthi-info, .free-trial-btnp, .content-section-padding2 img, .offer_text, .promocodetext').click(function() {
	      if(window.outerWidth <  470) {
	        var x = $(".pack-btnp").offset();              
	        $('html, body').animate({scrollTop: x.top}, 'slow');        
	      }    
	    });
	});	
</script>

</body>

</html>