<div class="padding-top-80 relative-content">

  <section class="pull-left w-100 marketing_page">
  	
		<div class="left-content marketing-min-height-div">
      <div class="hotstar_free_tag center-align-content">
        <p class="margin-top-15 font-bold">Exclusive Offer for <img src="/assets/hotstar.png" alt="" title=""> Subscribers</p>
        <!-- <img src="/assets/hotstar_mobile.png" class="mobile-show" alt="" title=""> -->
      </div>
      <div class="hotstar_free_tag center-align-content">
        <p class="relative-content">
          <img src="/assets/crown.png" alt="" title="">
          <span class="font-bold">6 months FREE!</span>
        </p>
      </div>
			<!-- <p class="margin-top-20 title text-center font-light"><span class="font-bold">GET THE BEST</span> of blockbuster Bollywood, latest Gujarati, divine Bhakti, inspirational Gurbani, and informative Kids content.</p> -->
			<!-- <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood plus</h4> -->
			<section class="slider-section">
        <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <div id="banner-carousel" class="owl-carousel owl-theme">
              <!-- <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Plus - Prem Ratan Dhan Payo</h4>
                <img src="/assets/carousel/prem_ratan_dhan_payo.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>
              </div> -->
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Classic - Shree 420</h4>
                <img src="/assets/carousel/shree_420.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Gujarati - Sharto Lagu</h4>
                <img src="/assets/carousel/sharato_lagu.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bhakti - Aarti sangrah</h4>
                <img src="/assets/carousel/aarti_sangarha.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                               
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Punjabi - Jatt Airways</h4>
                <img src="/assets/carousel/bal_hanuman.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Marathi - Manatlay Manat</h4>
                <img src="/assets/carousel/manatlya_manat.jpg" alt="" title=""> 
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
              </div> 
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Kids – Bal Hanuman 2</h4>
                <img src="/assets/carousel/bal_hanuman.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>             
            </div>
          </div>
        </div>
      </section>
      <section class="marketing_feature">
				<div class="row margin-top-25">
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/entertainment.png" alt="" title="">
							
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Over</p>					
							<p class="font-size1 font-semibold margin-top-0">4000 titles</p>
						</div>	
					</div>	
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/tv.png" alt="" title="">
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Curated Channels &</p>			
							<p class="font-size1 font-semibold margin-top-0">Live Stream</p>								
						</div>	
					</div>	
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/multi_device.png" alt="" title="">						
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Multi-</p>					
							<p class="font-size1 font-semibold margin-top-0">Device experience</p>
						</div>
					</div>	
				</div>
			</section>
		</div>
		<div class="right-content" id="offers_sec">
      <div class="rightform-wrap hotstar_right_content">
  			<!--h1 class="shemaroo-color1 font-bold">Register 7 day free trial</h1-->
        <h2 class="shemaroo-color1 font-bold">Start ShemarooMe All Access Pass</h2>

  			<div class="marketing_form pull-left">
          <div class="input-group relative-content promo_box">
            <input type="text" name="name" class="form-control font-medium text-uppercase margin-bottom-30" readonly placeholder="" id="hotstar_coupon_code">
            <a href="javascript:void(0);" id="hotstar_apply_promo_code" class="text-uppercase">Have a promocode? </a>          
            <label class="error" id="hotstar_signup_user_promo_error">Sorry, this Coupon Code is Invalid</label>
            <label class="error" id="signup_hotstar_coupon_code_error">This field is mandatory</label>
            <p class="margin-bottom-0" id="hotstar_promo_txt">
              <label class="font-regular shemaroo-color1">Applied Code&nbsp;
                <span class="text-uppercase font-bold shemaroo-color4" id="hotstar_promo_code">offer20</span>
              </label>
              <img src="/assets/close.svg" class="promo_close" alt="" title="">
            </p>
          </div>
          <p class="coupon-invalid-error dont_have_coupon">Don't have coupon code? Register for 7 day free trial</p>
          <div class="green_box">
            <p class="price relative-content">$60</p>
            <p class="discount_price">$0</p>
            <p class="free_tag">Get 6 months subscription Worth USD 60 free</p>
          </div>          
          <div class="w-100">
            <h4 class="shemaroo-color1 font-regular text-center">Register to avail the offer</h4>
          </div>
          <div class="w-100 all_error">
            <label class="error" id="signup_offer_resp_error_msg">Invalid Credentials</label>
          </div>
  				<div class="input-group">	
  					<input type="email" id="hotstar_user_email" name="email" class="form-control">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Email ID</span>
            <label class="error" id="signup_hotstar_user_email_error">This field is mandatory</label>
  				</div>
  				<div class="input-group pwd hide_password_group">	
  					<input type="password" id="hotstar_password" name="password" class="form-control">
  					<img src="/assets/pwd_eye.png" class="password_toggle" alt="hide password" title="hide password">
            <img src="/assets/pwd_eye.png" class="password_toggle show_pwd" alt="show password" title="show password">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Password</span>
            <label class="error" id="signup_hotstar_password_error">This field is mandatory</label>
  				</div>
  				
  				<div class="input-group" style="justify-content: center;">
  					<button type="button" id="hotstar_user_register" class="text-uppercase margin-top-10 margin-bottom-15">proceed</button>
  					<p class="font-size3 font-regular shemaroo-color1 text-center w-100" id="already-txt">Already have an account? <a href="users/login" class="font-bold">Login</a></p>
  				</div>
  			</div>
      </div>
		</div>
    <div class="mobile_content_carousel_section pull-left w-100">
      <div id="mobile-content-carousel" class="owl-carousel owl-theme">
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/entertainment.png" alt="" title="">              
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Over</p>         
            <p class="font-size1 font-semibold margin-top-0">4000 titles</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/tv.png" alt="" title="">
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Curated Channels &</p>     
            <p class="font-size1 font-semibold margin-top-0">Live Stream</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/multi_device.png" alt="" title="">            
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Multi-</p>         
            <p class="font-size1 font-semibold margin-top-0">Device experience</p>
          </div>
        </div>
      </div>
    </div>  
	</section>
  <div class="modal" id="hotstar_promocode_pop" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body text-center padding-left-30 padding-right-30">
              <h4 class="margin-bottom-20 margin-top-10">Enter Promo Code or Add a Gift card</h4>
              <p class="input-group margin-top-20 margin-bottom-10 promocode_pop_textbox_wrap font-medium relative">
                <input type="text" id="promo_code" name="promo_code" class="form-control margin-bottom-20" value="" maxlength="15">
                <span class="input-label">Promo Code</span>
              <label class="error" id="promo_code_error"><%= get_lang_string("enter_promo_code_1")%></label>
              <label class="error" id="promo_code_backend_error">Invalid Coupon</label>
              </p>
              <div class="inline-block custom-gradient margin-bottom-15 margin-top-5">
                <p class="inline radius-button radius-button2 margin-right-20">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="hotstar_cancel_promo">cancel</a>
                </p>
                <!-- <p class="inline radius-button radius-button margin-left-10">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="plan_apply_promo">apply</a>
                </p> -->
                <button type="button" id="hotstar_apply_promo" class="text-uppercase margin-top-10 margin-bottom-15">apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
	<%=render "layouts/page_height_setting"%>
  <input type="hidden" name="hotstar_plan" value="<%=@monthly_plan_det['id']%>|<%=@all_access_packs[0]['catalog_id']%>|<%=@all_access_packs[0]['category']%>|<%=@monthly_plan_det['title']%>|<%=@monthly_plan_det['currency']%>|<%=@monthly_plan_det['currency_symbol']%>|<%=@monthly_plan_det['discounted_price']%>|<%=@monthly_plan_det['pg_price']['adyen']%>|<%=@monthly_plan_det['pg_price']['cc_avenue']%>|<%#=@all_access_packs['plan_details']['category_id']%>" id="hotstar_plan_info">
  <input type="hidden" name="promocode_id" id="promo_code_id">
</div>
<script>
	$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();
  
  setTimeout(function() {
    if(window.outerWidth > 1200 ) {
      $(".right-content").css({'min-height': $(".left-content").height()});
    }
  }, 250);
  	
	
  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/left_arrow.png" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/right_arrow.png" alt="" title=""></span>'
    ];

  $('#banner-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,
    navText: navigation,
    dots: true,
    responsive:{
      0:{
          items:1,
          stagePadding: 20,
          margin:10,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });


  $('#mobile-content-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,    
    dots: false,
    responsive:{
      0:{
          items:1,
          stagePadding: 40,
      },
      576:{
          items:1,
          stagePadding: 100,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });

  $("#hotstar_user_email,#hotstar_password").focusin(function(){
    id = $(this).attr("id");
     $("#signup_"+id+"_error").hide();     
   })
  
  $("#hotstar_user_email,#hotstar_password").focusout(function(){
    id = $(this).attr("id");
    val = $(this).val();
    if(!val.length){
      $("#signup_"+id+"_error").text("This field is mandatory").show();      
    }
    else{
      $("#signup_"+id+"_error").hide();
      if(id == "offer_user_email"){
        var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if(!regex_email.test($("#offer_user_email").val())){
          $("#signup_hotstar_user_email_error").text("Please enter a valid email address").show();         
        }
      }
      else if(id == "offer_password"){
        $("#signup_"+id+"_error").hide();
        if($("#hotstar_password").val().length < 6){
          $("#signup_hotstar_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
      }
    }
  });

  if($('#hotstar_user_email').val().length) {
    //$("#user_email").parents(".input-group").children('.fa-circle').hide();
    $('#hotstar_user_email').css({"padding":"5px"});
    $("#hotstar_user_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
    $("#hotstar_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#hotstar_user_email').css({"padding":"5px 5px 5px 10px"});
    $("#hotstar_user_email").parents(".input-group").children('.fa-circle').css({"top":"11px","left":"0px"});
    $("#hotstar_user_email").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }

  $("#hotstar_apply_promo_code").click(function() {
    $('#hotstar_promocode_pop').modal('show');
  });
  $("#hotstar_cancel_promo").click(function() {
    $('#hotstar_promocode_pop').modal('hide');
  });
  /*$("#hotstar_apply_promo").click(function() {
    var promo = $("#promo_code").val();
    $('#hotstar_promocode_pop').modal('hide');
    $("#hotstar_promo_txt").show();
    $("#hotstar_promo_txt span.shemaroo-color4").text(promo);
    $("#hotstar_apply_promo_code").hide();
  });*/
  $(".promo_close").click(function() {
    $("#hotstar_promo_txt").hide();
    $("#hotstar_apply_promo_code").show();
    localStorage.removeItem("coupon_message")
  });
  $("#promo_code").click(function(){
    $("#promo_code_backend_error").hide()
    $("#promo_code_error").hide()
  })
});

var $input = $("#promo_code")
$input.keyup(function(e) {
    var max = 15;
    if ($input.val().length >= max) {
        $("#promocode_error").text("Exceeding promo code limit").show().fadeOut(6000);
        $input.val($input.val().substr(0, max));
    }
});
</script>