<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>ICICI Bank Money2India</title>
      <style type="text/css">
         /* Client-specific Styles */
		 .img_res{
	max-width: 100%;
	height: auto;
	
}
		 .rupees_small{ font-size:14px; color:#6d6e71;}
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #b02a30;}
         /*STYLES*/
		 table[class=devicewidth3] {width: 100%!important; text-align:center!important; }
		 .text1{font-family:arial; font-size:14px; color:#6d6e71; padding-left:35px;}
         table[class=full] { width: 100%; clear: both; }
		 .respons{ width:100%;}
		 .padding-left24{padding-left:24px!important;}
		 .pad_left15{padding-left:0px;}
		   .pad_left25{padding-left:0px; padding-right:0px;}
		  
		   
		   
		   
		    .table240{width:200px; height:auto;border-right:1px solid #b8b8b8;}
		  .table350{width:300px;}
		  .tablestep1{width:100px; }
		  .tablestep2{width:130px; }
		  .tablestep3{width:135px; }
		  .tablestep4{width:135px;}
		  .borderRight{border-right:1px solid #b8b8b8;}
		  .tabwhatsmore1{width:160px;}
		    .tabwhatsmore2{width:160px;margin-left:15px;}
			  .tabwhatsmore3{width:160px;margin-left:15px;}
			  
		  .pad10 { padding:4px 10px;}
		 .tbl180 { width:180px; float:left; display:inline-table;text-align:left!important;}
		 .tbl220 { width:215px; float:left; display:inline-table;text-align:left!important;}
		 .tbl130 { width:130px; float:left; display:inline-table;text-align:left!important;}
		 
		 .ipad { width:380px; float:left; display:inline-table;text-align:left!important;}
		 .kindle { width:380px; float:left; display:inline-table;text-align:left!important;}
		 
		  
		  .img_res2{width:100%; }
		  
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #9ec459; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #9ec459 !important;
         pointer-events: auto;
         cursor: default;
         }
		  
         table[class=devicewidth] {max-width: 640px!important; text-align:center!important; }
		
		 
         td[class=devicewidth] {width: 440px!important; text-align:center!important;}
         img[class=devicewidth] {width: 440px!important; text-align:center!important;}
         img[class=banner] {width: 440px!important; height:147px!important;}
         table[class=devicewidthinner] {  width: 420px!important; margin:10px;  text-align:center!important; }
         table[class=icontext] {width: 345px!important; text-align:center!important;}
         img[class="colimg2"] {width:420px!important;height:243px!important;}
         table[class="emhide"]{display: none!important;}
         img[class="logo"]{width:440px!important;height:110px!important;}
		 .respons{ width:100%;}
		 
		 .img_res{
	max-width: 100%;
	height: auto;
	
}
       
		  .pad_left15{padding-left:8px;}
		    .pad_left25{padding-left:8px; padding-right:8px;}
		  table[class='removeMobile']{width:10px!important; display:none;}
		  td[class='removeMobile']{width:3px!important; display:none;}
		   
		 
		 
		  .table240{width:100%; height:auto;border-right:none;}
		  .table350{width:100%;}
		  .tablestep1{width:200px; }
		  .tablestep2{width:200px;}
		  .tablestep3{width:200px;}
		  .tablestep4{width:200px;}
		   .borderRight{ width:180px;border-right:none;}
		   
		    .tabwhatsmore1{width:160px; border-right:1px solid #b8b8b8;}
		    .tabwhatsmore2{width:200px;}
			  .tabwhatsmore3{width:200px;margin-left:0;}
			  
			  .tbl180 { width:180px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 .tbl220 { width:215px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 .tbl130 { width:130px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 
		 .ipad { width:95%; float:left; padding:0 0 0 4%; display:block;text-align:left!important; clear:both;}
		 .kindle { width:95%; float:left; padding:0 0 0 4%; display:block;text-align:left!important; clear:both;}
		 
	 .img_res2{width:100%; height:auto; }
		 .space{display: none;}
         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #9ec459; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #9ec459 !important; 
         pointer-events: auto;
         cursor: default;
         }
		
         table[class=devicewidth] {max-width: 480px!important;text-align:center!important;border: none !important;}
		 
         td[class=devicewidth] {width: 280px!important;text-align:center!important;}
         img[class=devicewidth] {width: 280px!important;text-align:center!important;}
         img[class=banner] {width: 280px!important;height:93px!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         table[class=icontext] {width: 186px!important;text-align:center!important;}
         img[class="colimg2"] {width:260px!important;height:150px!important;}
         table[class="emhide"]{display: none!important;}
         img[class="logo"]{width:280px!important;height:70px!important;}
		 
		 .respons{ width:100%;}
		 .text1{font-family:arial; font-size:14px; color:#6d6e71; padding-left:12px;}
		 .img_res{
	max-width: 100%;
	height: auto;
	
}
		  .pad_left15{padding-left:8px;}
		  .pad_left25{padding-left:8px; padding-right:8px;}
		  
		    .table240{width:100%; height:auto;border-right:none;}
		  .table350{width:100%;}
		   .tablestep1{width:280px; border-right:none;}
		  .tablestep2{width:280px; border-right:none;}
		  .tablestep3{width:280px; border-right:none;}
		  .tablestep4{width:280px;}
		  .tabwhatsmore1{width:200px; border-right:none;}
		    .tabwhatsmore2{width:200px; margin-left:0;}
			  .tabwhatsmore3{width:200px;margin-left:0;}
			  .textleft { text-align:left!important;}
			  
		 
			 .tbl180 { width:180px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 .tbl220 { width:215px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 .tbl130 { width:130px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
		 
		.ipad { width:95%; float:left; padding:0 0 0 4%; display:block;text-align:left!important; clear:both;}
		 .kindle { width:95%; float:left; padding:0 0 0 4%; display:block;text-align:left!important; clear:both;}
		 
		 .img_res2{width:100%; height:auto; }
		  
      .space{display: none;}
         }
      

      .ipad1 {width:380px; float:left; display:inline-table;text-align:left!important;}
.ipad1 {width:240px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
.ipad1 {width:240px; float:left; padding:0 0 0 20px; display:block;text-align:left!important; clear:both;}
.textleft {text-align:left!important;}
      </style>
   </style>
   </head>
<body style="margin:0; padding:0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0"  id="backgroundTable">
  <tbody>
    <tr>
      <td align="center" valign="top"><table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="devicewidth">
  <tbody>
    <tr>
      <td  align="left" valign="top" ><table width="1024" border="0" cellspacing="0" cellpadding="0" class="devicewidth" style="border:1px solid #ef7f22;">
  <tbody>
    <tr>
      <td align="left" valign="middle">
      <table width="200" border="0" align="left" cellpadding="0" cellspacing="0" id="logo_wrap" class="devicewidth">
          <tr>
            <td align="left" valign="middle" id="logo"><img src="/assets/icici/Shemaroo-Logo.png" alt="ICICI Bank" width="180" class="img_res" height="92" title="ICICI Bank" style="display:block; border:none; outline:none; text-decoration:none; padding: 10px;" /></td>
            </tr>
  </table>
  <table width="320" border="0" align="left" cellpadding="0" cellspacing="0" class="devicewidth">
          <tr>
            <td>&nbsp;</td>
            </tr>
  </table>
  <table width="452" border="0" align="left" cellpadding="0" cellspacing="0" class="devicewidth">
          <tr>
            <td height="77" align="left" valign="middle" id="icici_logo"><img src="/assets/icici/logo-1.png" alt="ICICI Bank" width="302" class="img_res" height="77" title="ICICI Bank" style="display:block; border:none; outline:none; text-decoration:none; padding: 10px;" /></td>
            </tr>
  </table>
                      </td>
    </tr>    <td align="left" valign="top" style="border-bottom: 4px solid #FF840A;">
         <img src="/assets/icici/banner1.jpg" width="1024" class="img_res2" /></td>
     </tr>
     <tr>
     	<td align="left" valign="top">
            <table align="center" width="800" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
     		<tr><td height="30"></td></tr>
     		<tr>
     			<td class="txt-content" style="font-family:Arial; font-size:18px; color:#000000; text-align:left; line-height:22px;">
     				Register and transact on Money2India for a 35 paise better rate and one month complimentary subscription of ShermarooMe.
     			</td>
     		</tr>
     	</table>
     	</td>
     </tr>
     
     <tr><td height="20"></td></tr>
     <tr>
        <td align="center">
            <table width="800" class="devicewidth" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td align="center">
                   <table width="550" class="devicewidth" cellpadding="0" cellspacing="0" border="0">
                       <tr>
                           <td>
                               <table width="250" align="center" class="devicewidth button-content" bgcolor="#f28c20">
                                   <tr>
                                       <td style="font-family: arial; text-align:center; color: #ffffff; font-size: 18px; line-height: 22px; padding: 10px; font-weight: bold;"><a href="https://money2india.icicibank.com/usa/registration/individual?site=Shemaroo&utm_source=Shemaroo&utm_medium=Shemaroo&utm_campaign=Nov" target="_blank" style="color: #ffffff;text-decoration: none;">Register Now</a></td>
                                   </tr>
                               </table>
                               <table width="30" align="left" class="removeMobile"><tr><td>&nbsp;</td></tr></table>
                               <!-- <table width="250" align="left" class="devicewidth" bgcolor="#f28c20">
                                   <tr>
                                    <td style="font-family: arial; text-align:center; color: #ffffff; font-size: 18px; line-height: 22px; padding: 10px; font-weight: bold;"><a href="https://money2india.icicibank.com/usa/login?site=Shemaroo&utm_source=Shemaroo&utm_medium=Shemaroo&utm_campaign=Nov" target="_blank" style="color: #ffffff;text-decoration: none;">Login Now</a></td>
                                   </tr>
                               </table> -->
                           </td>
                       </tr>
                       <tr><td height="5"></td></tr>
                       
                       <tr><td height="5"></td></tr>
                       
                       <tr><td height="5"></td></tr>
                   </table>
                </td>
                </tr>
            </table>
        </td>
     </tr>
     <tr>
      <td align="left" valign="top">
            <table align="center" width="800" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
        <tr><td height="30"></td></tr>
        <tr>
          <td class="txt-content" style="font-family:Arial; font-size:18px; color:#000000; text-align:left; line-height:22px;">
           Offer valid till January 31, 2020.
          </td>
        </tr>
      </table>
      </td>
     </tr>
     <tr><td height="15"></td></tr>           
           
    
           </tbody>
         </table>
       </td>
   </tr>
  
   <tr>
       <td height="20"></td>
   </tr>

    </tbody>
</table>
</td>
    </tr>
  
    
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
<style>
  @media(max-width: 767px) {
    .borderclass {
      border: none !important;
    }    
    #icici_logo, #logo {
      display: flex;
      justify-content: center;
    }
    .txt-content {
      font-size: 12px !important;
      line-height: 18px !important;
      padding: 0px 10px;
    }
    .button-content {
      max-width: 200px !important;
      border-radius: 10px;
    }
    table[class=devicewidth] {max-width: 640px!important; border: none !important;}
    #logo_wrap {
      width: 100%;
    }
  }
  @media(max-width: 440px) {
    #icici_logo, #logo {
      display: flex;
      justify-content: center;
    }
    .txt-content {
      font-size: 12px !important;
      line-height: 18px !important;
      padding: 0px 10px;
    }
    .button-content {
      max-width: 200px !important;
      border-radius: 10px;
    }
    table[class=devicewidth] {max-width: 440px!important;}
    #logo_wrap {
      width: 100%;
    }
  }
  @media(max-width: 420px) {
    table[class=devicewidth] {max-width: 420px!important;} 
  }
  @media(max-width: 410px) {
    table[class=devicewidth] {max-width: 410px!important;} 
  }
  @media(max-width: 400px) {
    table[class=devicewidth] {max-width: 400px!important;} 
  }
  @media(max-width: 375px) {
    table[class=devicewidth] {max-width: 375px!important;} 
  }
  @media(max-width: 360px) {
    table[class=devicewidth] {max-width: 360px!important;} 
  }
  @media(max-width: 320px) {
    table[class=devicewidth] {max-width: 320px!important;} 
  }
</style>
</body>
</html>
