<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>

<div class="wrapper">
  <div class="container-fluid padding-left-0 padding-right-0">
    <div class="inside-wrapper" style="background: #f2f2f2; min-height: 100px;">
      <section class="header-section1" id="with_header_tabs" >
        <div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        </div>
        <div class="row">
          <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <div class="main-logo pull-left" style="width: 112px;margin-bottom: 4px"> 
             <a href="/" class="main_logo_link">        
              <img src="/assets/shemaroo_logo.svg" alt="shemaroo" title="shemaroo">
              </a>
            </div>            
          </div>  
        </div>
        
      </section>

      <div class="padding-top-70 landing_page  pull-left w-100">
        <div class="min-height-div-pre1 content pull-left w-100">
        	<h1 class="text-uppercase">india ka asli entertainment</h1>
      		<div class="left-section">
      			
	          <h6 class="">Coming soon</h6>
             
	          <%if $region == "IN"%>
	          <p class="">Sign up and stand a chance to get 50% off on your annual subscription*</p>
            <%else%>
            <!-- <p class="">Show your interest to get some exclusive offers*</p> -->
            <p class="">Update your contact details for exclusive offers when we launch*</p>
	          <%end%>
		     		
            <div class="videobox">
              <div class="videoboxwrap"></div>
              <img src="/assets/poster_image.jpg" alt="" title="">
              <!-- <video id="myvideo" controlsList="nodownload" autoplay="" loop="" muted="" poster="/assets/shemaroo_poster.jpg" src="https://www.shemarooent.com/video/shemaroo.mp4"  class="w-100">
              </video> -->
              <!-- <video width=""  autoplay="true" loop controlsList="nodownload" >
              <source src="https://www.shemarooent.com/video/shemaroo.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>    --> 
            </div>
		
      		</div>  
      		<div class="right-section">
      			<div class="tile-box-wrap pull-left w-100 margin-bottom-15">
      				<%if $region == "IN"%>
      					<h2 class="">Sign up</h2>
      				<%else%>	
      					<h2 class="">Register your Interest</h2>
      				<%end%>
        			<div class="pull-left w-100 tile-box-shadow padding-bottom-5 padding-top-35 rounded">
		            <div class="w-100 all_error padding-left-30 padding-right-30" >
		                <label class="error" id="pre_register_resp_error_msg">Invalid Credentials</label>
		              </div>
		              <div class="pull-left w-100 padding-left-20 padding-right-20 margin-top-0">		              	
		              <div class="input-group name">
		                <input type="text" id="pre_register_user_name" name="user name" class="form-control" maxlength="50" required="true" onkeypress='return validateSpecialChar(event);' autocomplete="new-username"> 
		                <i class="fa fa-circle" aria-hidden="true"></i>
		                <span class="input-label">Name</span> 
		                <label class="error" id="pre_register_user_name_error">This field is mandatory</label>
		              </div>
		              <%if $region == "IN"%>
			              <div class="input-group country">
			                <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly autocomplete="new-countrycode"> 
			                <input type="number" id="pre_register_mobile_number" name="mobile no" class="form-control" onfocus="countryCode(this)"> 
			                <i class="fa fa-circle" aria-hidden="true"></i>
			                <span class="input-label">Mobile Number</span>
			                <label class="error" id="pre_register_mobile_number_error">This field is mandatory</label>
			              </div>		              
			              <div class="input-group email ind-email">
			                <input type="email" id="pre_resgister_user_email" name="user email" class="form-control" required="true"  autocomplete="new-email">
			                <!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
			                <span class="input-label">Email ID ( optional )</span> 
			                <label class="error" id="pre_resgister_user_email_error">This field is mandatory</label>
			              </div>
			              <div class="input-group pwd hide_password_group">
			                <input type="password" id="pre_register_password" name="password" class="form-control" maxlength="20" autocomplete="new-password">
			                <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
			                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
			                <i class="fa fa-circle" aria-hidden="true"></i>
			                <span class="input-label">Password</span>
			                <label class="error" id="pre_register_password_error">Please enter the password</label> 
			              </div>
			              <div class="input-group cpwd hide_password_group">
			                <input type="password" id="pre_register_confirm_password" name="confirm password" class="form-control margin-bottom-15" maxlength="20" autocomplete="new-confirmpassword"> 
			                <img src="/assets/hide_password.svg" class="password_toggle" alt="hide confirm password" title="hide confirm password">
			                <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show confirm password" title="show confirm password">
			                <i class="fa fa-circle" aria-hidden="true"></i>
			                <span class="input-label">Confirm Password</span>
			                <label class="error" id="pre_register_confirm_password_error">This field is mandatory</label> 
			              </div>
		              <%else%>
			              <div class="input-group email other-email">
			                <input type="email" id="pre_resgister_user_email" name="user email" class="form-control" required="true"  autocomplete="new-email">
			                <i class="fa fa-circle" aria-hidden="true"></i>
			                <span class="input-label">Email ID</span> 
			                <label class="error" id="pre_resgister_user_email_error">This field is mandatory</label>
			              </div>
			              <div class="input-group country margin-bottom-100">
			                <!-- <input type="text" id="country_code" name="country_code" class="form-control" value="+91" readonly autocomplete="new-countrycode">  -->
			                <input type="number" id="pre_register_mobile_number" name="mobile no" class="form-control" style="padding: 5px 5px 5px 10px !important"> 
<!-- 			                <i class="fa fa-circle" aria-hidden="true"></i>
 -->			                <span class="input-label">Mobile Number ( optional)</span>
			                <label class="error" id="signup_mobile_number_error">This field is mandatory</label>
			              </div>	
		              <%end%>
		              <div class="input-group custom-controls-stacked d-block margin-bottom-30">
		              <label class="custom-control overflow-checkbox">
		                  <input type="checkbox" class="overflow-control-input" id="agree_terms">
		                  <span class="overflow-control-indicator"></span>
		                  <span class="overflow-control-description">I agree to the <a href="/privacy_policy" class="text-uppercase" target="_blank"> privacy policy</a> & <a href="/terms_and_conditions" class="text-uppercase" target="_blank">terms and conditions</a></span>
		                </label>
		               <label class="error" id="terms_check">Please check the terms of conditions</label> 
		              </div>
		              <div class="inline-block w-100 text-center margin-bottom-0 margin-top-15 light">
		                <!-- <a href="javascript:void(0)" class="inline-block text-uppercase gradient-button1" id="user_register">
		                  <span id="register_text">Register</span>
		                </a> -->
		                <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient">
		                  <p class="inline radius-button">
		                    <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="pre_register">Register</a>
		                  </p>
		                </div>
		              </div>
		            </div>
		          </div>
	        	</div>
            
      		</div>
      	  
          <%if $region != "IN"%>
            <p class="othe_reg_offer_hint">*This offer will only be available for users in The United States region.</p>
          <%end%>

        </div>
      </div>  

    </div>
  </div>
</div>
<%=render "layouts/page_height_setting"%>
<section class="footer-section pre-register-page" id="footer-section">
  <div class="row">
    <div class="footer-menu pull-left">
      <ul>
        <li class="text-uppercase <%=params[:action] == "privacy_policy" ? "active" : ""%>"><a href="/privacy_policy">privacy policy&nbsp;&nbsp;|</a></li>
          <li class="text-uppercase <%=params[:action] == "terms_and_conditions" ? "active" : ""%>"><a href="/terms_and_conditions">&nbsp;&nbsp;terms and conditions</a></li>        
      </ul>
      <p class="margin-bottom-0">Shemaroo Entertainment Ltd &copy; 2019, All Rights Reserved</p>
    </div>
    <div class="pull-right">
      <ul class="pull-left">
        <li><a href="https://www.instagram.com/shemaroome/"><img src="/assets/instagram.png" alt="instagram" title="instagram"></a></li>
        <li><a href="https://www.facebook.com/ShemarooMe/"><img src="/assets/facebook.svg" alt="facebook" title="facebook"></a></li>
        <li><a href="https://twitter.com/ShemarooMe"><img src="/assets/twitter.svg" alt="twitter" title="twitter"></a></li>
      </ul>
      <ul class="pull-right" style="padding-top: 0px;padding-bottom: 0px;">
        <li><a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank"><img src="/assets/android_play_store.png" alt="playstore" title="playstore"></a></li>
        <li><a href="https://itunes.apple.com/in/app/shemaroome/id1439041310" target="_blank"><img src="/assets/app_store.png" alt="appstore" title="appstore"></a></li>                
      </ul>              
    </div>
    
  </div>
  <%=render "users/validate_mobile_number"%>

</section>
<style>

  @media(max-width: 1366px) {
    .row {
      margin: 0px;
    }
  }
  video::-webkit-media-controls-volume-slider {
    display: none;
  }
  video::-webkit-media-controls-mute-button {
    display:none;
  } 
  .landing_page .othe_reg_offer_hint {
    color: #fff;
    position: fixed;
    bottom: 50;
    left: 30px;
    font-size: 12px;
  }
   @media(min-width: 1366px) {
    .landing_page .othe_reg_offer_hint {
      bottom: 65px;
    }
  }
</style>

<script type="text/javascript">
  /*var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;*/
  if (navigator.userAgent.indexOf('Android') >=0) {
   //document.getElementById('myvideo').controls = true;
}
document.addEventListener('touchmove', function (event) {
  if (event.scale !== 1) { event.preventDefault(); }
}, false);

	function countryCode() {
     $("#country_code").show();
     $("#pre_resgister_mobile_number").css({"padding":"5px 5px 5px 0px"});
   }
$(document).ready(function() {

  var user_region = "<%= $region %>";


  if($('#pre_register_user_name').val().length) {
    $('#pre_register_user_name').css({"padding":"5px"});
    $("#pre_register_user_name").parents(".input-group").children('.fa-circle').css({"top":"-11px","left":"0px"});
    $("#pre_register_user_name").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#pre_register_user_name').css({"padding":"5px 5px 5px 10px"});
    $("#pre_register_user_name").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
    $("#pre_register_user_name").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
  }

  if($('#pre_register_mobile_number').val().length) {
    
    if (user_region == "IN") {
      $("#country_code").show();
    }
    $('#pre_register_mobile_number').css({"padding":"5px"});
    $("#pre_register_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"-11px","left":"0px"});
    $("#pre_register_mobile_number").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $("#country_code").hide();      
    $('#pre_register_mobile_number').css({"padding":"5px 5px 5px 10px"});
    $("#pre_register_mobile_number").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
    $("#pre_register_mobile_number").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
  }
  if($('#pre_resgister_user_email').val().length) {
    $('#pre_resgister_user_email').css({"padding":"5px"});
    $("#pre_resgister_user_email").parents(".input-group").children('.fa-circle').css({"top":"-11px","left":"0px"});
    if (user_region == "IN") {
      $("#pre_resgister_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});        
    }
    else {
      $("#pre_resgister_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});          
    }
  }
  else {
    $('#pre_resgister_user_email').css({"padding":"5px 5px 5px 10px"});
    $("#pre_resgister_user_email").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
    $("#pre_resgister_user_email").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
  }
  if(user_region == "IN") {
    if($('#pre_register_password').val().length) {
    $('#pre_register_password').css({"padding":"5px"});
    $("#pre_register_password").parents(".input-group").children('.fa-circle').css({"top":"-11px","left":"0px"});
    $("#pre_register_password").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
    }
    else {
      $('#pre_register_password').css({"padding":"5px 5px 5px 10px"});
      $("#pre_register_password").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
      $("#pre_register_password").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
    }
    if($('#pre_register_confirm_password').val().length) {
      $('#pre_register_confirm_password').css({"padding":"5px"});
      $("#pre_register_confirm_password").parents(".input-group").children('.fa-circle').css({"top":"-11px","left":"0px"});
      $("#pre_register_confirm_password").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
    }
    else {
      $('#pre_register_confirm_password').css({"padding":"5px 5px 5px 10px"});
      $("#pre_register_confirm_password").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
      $("#pre_register_confirm_password").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
    }  
  }
  
  $("#pre_register_mobile_number").focusout(function(){ 
    if($(this).val().length) {
      $("#country_code").show();
    }
    else {
      $("#country_code").hide();  
    }
  });
  $("#pre_resgister_user_email").focusout(function(){ 
    if (user_region == "IN") { 

      $("#pre_resgister_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"0px", "font-size":"0.75em"});        
    }

  });

  function non_india_user_register(){
 	  var name = $("#pre_register_user_name").val();
 	  var emailid = $("#pre_resgister_user_email").val();
 	  var mobileno = $("#pre_register_mobile_number").val();
 	  var terms_check = $("#agree_terms").is(":checked")
 	  var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/; 
 	  if(name.length  != 0 && emailid.length != 0 && regex_email.test(emailid) && terms_check == true){
       $.ajax({
			 url: "/users/pre_register",
			 type: "POST",
			 data: { 
				name: name, 
				mobileno: mobileno,
				email_id: emailid,
				type: "email"
			},
			success: function(response){
			 console.log(response);
			 if(response.status == true){
			 	window.location = "/thanks"
			 }
				else{
				   $("#user_register").text("Register")
	         $("#pre_register_resp_error_msg").text(response.error_message).show()
				 }
				}
			});
 	  }
   	else if(name.length == 0){
   	 	$("#pre_register_user_name_error").show();
   	}
   	else if(emailid.length == 0){
   	 	$("#pre_resgister_user_email_error").show();
   	}
   	else if(emailid.length != 0 && !regex_email.test(emailid)){
   	 	$("#pre_resgister_user_email_error").text("Invalid email address").show();
   	}
   	else if(terms_check == false){
   	 	$("#terms_check").show();
   	}
  }


	function user_register() {
		var status = "false"
		$("#pre_register_user_name_error,#pre_register_user_name_error,#pre_register_password_error,#pre_register_confirm_password_error").hide();
		var user_name = $("#pre_register_user_name").val();
		var mobile_no = $("#pre_register_mobile_number").val();
		var email_id = $("#pre_register_user_email").val();
		var pwd = $("#pre_register_password").val();
		var cpwd = $("#pre_register_confirm_password").val();
		
     if(user_name.length == 0){
     	$("#pre_register_user_name_error").show();
     }
     else if(mobile_no.length == 0){
     	$("#pre_register_mobile_number_error").show();
     }
     else if(mobile_no.length != 0 && mobile_no.length < 10 ){
     	$("#pre_register_mobile_number_error").text("Please enter your 10 digit mobile number").show();
     }
     else if(pwd.length == 0){
     	$("#pre_register_password_error").show();
     }
     else if(cpwd.length == 0){
     	$("#pre_register_confirm_password_error").show();
     }
     else if(pwd.length != 0 && pwd.length < 6){
     	$("#pre_register_password_error").text("Password must contain at least 6 characters").show();
       
     }
      else if(cpwd.length != 0 && cpwd.length < 6){
     	$("#pre_register_confirm_password_error").text("Password must contain at least 6 characters").show();
       
     }
      else if(pwd.length != 0 && cpwd.length != 0  && pwd != cpwd){
     	$("#pre_register_password_error").text("Passwords do not match").show();
     }
     else if(!$("#agree_terms").is(":checked")){
       $("#terms_check").show();
     }
     else{
     	$("#pre_register").text("Register...");
       $.ajax({
				url: "/users/pre_register",
				type: "POST",
				data: { 
					name: user_name, 
					mobileno: mobile_no,
					email_id: email_id,
					password: pwd
				},
				success: function(response){
				 console.log(response);
				 if(response.status == true){
          $.cookie('user_registed_mobile_no',"91"+mobile_no, { expires: 14,path: '/'});
				 	window.location = "/users/otp_verify"
				 }
				else{
				   $("#pre_register").text("Register")
	         $("#pre_register_resp_error_msg").text(response.error_message).show().fadeOut(4500);
				 }
				}
			});
    }
	}
	
	$("#pre_register").click(function(){
		var user_region = "<%= $region %>";
    if(user_region == "IN"){
     	user_register()
    }
    else{
     	non_india_user_register()
    }
	  
	});


	$("#pre_register_user_name,#pre_register_mobile_number,#pre_register_user_email, #pre_resgister_user_email").focusin(function(){
		var error_name = $("#"+$(this).attr("id")+"_error");
		if(error_name.is(":visible")){
			$(error_name).hide();
		}
   });

	$("#pre_register_user_name,#pre_register_mobile_number,#pre_register_password,#pre_register_confirm_password, #pre_resgister_user_email").keypress(function(e) {
    var error_name = $("#"+$(this).attr("id")+"_error");
    if(error_name.is(":visible")){
      $(error_name).hide();
    }
    if(e.which == 13){
    	user_register();
    }

    if($("#agree_terms").is(":checked")) {
       $("#terms_check").hide();
    }

  });

});


</script>



</body>