<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
  <%=stylesheet_link_tag 'application', media: 'all' %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>

<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
</head>
<script src="/node_modules/apxor/dist/apxor.min.js"></script>
 <script type="text/javascript">
   Apxor.init('e170a9513966fbdcde03486d8fa8383e', {});
 </script>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '626609931113137');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
</script>
<style>
	header, footer {
		display: none !important;
	}
</style>
<body>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet">
<div class="float-left w-100 microsite_classic2_page">
	<div class="container">
		<div class="float-left w-100 relative-content section section1">
			<div class="float-left w-100 relative-content">
				<div class="img-section">
					<img src="/assets/classic2/desktop/section1.jpg" class="img-fluid section1-bg d-none d-sm-block">	
					<img src="/assets/classic2/mobile/section1.jpg" class="img-fluid section1-bg d-block d-sm-none">	
					<img src="/assets/classic2/desktop/logo.png" class="section1-logo">
					<img src="/assets/classic2/desktop/section1_couple.png" class="section1-couple d-none d-sm-block">
					<img src="/assets/classic2/mobile/couple.png" class="section1-couple d-block d-sm-none">
				</div>	
				<div class="text-section">
					<h2 class="text-center">WELCOMES TO THE WORLD OF JOY, MEMORIES AND EVERGREEN <span class="">BOLLYWOOD CINEMA</span></h2>
				</div>
				<div class="section1_video">
					<!-- <div class="player_section w-100 embed-responsive embed-responsive-16by9 margin-bottom-25"> -->
						<div id='player' class="player_section w-100 embed-responsive embed-responsive-16by9 margin-bottom-25">
              <video id="video-element" autoplay muted playsinline poster="/assets/bollywood_classic_img.jpg">
                <source src='/assets/bollywood_classic_new.mp4' type='video/mp4'>                  
              </video>
              <div id='controls'>
                <button id='btnMute' class='mute' title='mute' onclick='muteVolume();'>Mute</button>
                <button id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'>Play</button>             
              </div>
            </div>  
        <!-- </div> -->
      			<!-- <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
      		<!-- </div> -->
      	</div>

			</div>
			
		</div>
		<div class="float-left w-100 relative-content section section2">		
			<div class="img-section">
				<img src="/assets/classic2/desktop/section2.jpg" class="img-fluid d-none d-sm-block">	
				<img src="/assets/classic2/mobile/section2.jpg" class="img-fluid d-block d-sm-none">	
			</div>
			<div class="text-section">
				<h2 class="text-center d-none d-sm-block">CLASSIC FLIMS,<br>MUSIC VIDEOS, TALK SHOWS-<br>
				WE ARE YOUR ASLI ENTERTAINMENT DESTINATION SINCE<br><span>58 YEARS.</span></h2>
				<h2 class="text-center d-block d-sm-none">CLASSIC FLIMS, MUSIC VIDEOS, TALK SHOWS-<br>
				WE ARE YOUR ASLI ENTERTAINMENT<br>DESTINATION SINCE<br><span>58 YEARS.</span></h2>
			</div>
		</div>
		<div class="float-left w-100 relative-content section section3">		
			<div class="img-section">
				<img src="/assets/classic2/desktop/section_3_new.jpg" class="img-fluid d-none d-sm-block">	
				<img src="/assets/classic2/mobile/section_3_new.jpg" class="img-fluid d-block d-sm-none">	
			</div>
			<!-- <div class="text-section">
				<h2 class="text-center">WE HAVE PUT TOGETHER A RANGE OF <span><a href="/plans">SUBSCRIPTION PLANS</a></span></h2>
				<h2 class="text-center">FOR YOU TO CHOOSE FROM.</h2>
				<h2 class="text-center">GO AHEAD, TAKE YOUR PICK, AND GET STARTED</h2>
			</div> -->
		</div>
		<div class="float-left w-100 relative-content section section4">		
			<div class="img-section">
				<img src="/assets/classic2/desktop/section4.jpg" class="img-fluid d-none d-sm-block">	
				<img src="/assets/classic2/mobile/section4.jpg" class="img-fluid d-block d-sm-none">					
			</div>
			<div class="text-section">
				<h2 class="text-center">
					<span>BRIGHT DELIGHT TO YOU<br>AND YOUR LOVED ONES.</span>
				</h2>
				<h2 class="text-center">EASY SEARCH, AD-FREE. HANDPICKED. BEST STANDARDS.</h2>
			</div>
		</div>
		<div class="float-left w-100 relative-content section section5">		
			<div class="img-section">
				<img src="/assets/classic2/desktop/section5.jpg" class="img-fluid d-none d-sm-block">	
				<img src="/assets/classic2/mobile/section5.jpg" class="img-fluid d-block d-sm-none">	
			</div>
			<div class="text-section">
				<h2 class="text-center">
					ENJOY THE BEST OF YESTERYEARS
					ON A SCREEN OF YOUR CHOICE -<br><span>TV, MOBILE OR DESKTOP. </span>
				</h2>
			</div>
		</div>
		<div class="float-left w-100 relative-content section section6">		
			<div class="img-section">
				<img src="/assets/classic2/desktop/section6.jpg" class="img-fluid d-none d-sm-block">	
				<img src="/assets/classic2/mobile/section6.jpg" class="img-fluid d-block d-sm-none">
			</div>
			<div class="text-section">
				<h2 class="text-center">
					ONCE SUBSCRIBED, FOLLOW A SIMPLE <span>2 STEP ACTIVATION,</span><br>AND START WATCHING:
				</h2>
			</div>
		</div>
		<div class="float-left w-100 relative-content section section7">
			<div class="float-left w-100 app-d-flex hv-center">
				<ul class="list-none p-0 mb-1 app-d-flex h-center w-100">
					<li>
						<a href="javascript:void(0);" class="text-uppercase app-color4">terms of use</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="text-uppercase app-color4">Privacy policy</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="text-uppercase app-color4">faq</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="text-uppercase app-color4">contact us</a>
					</li>
				</ul>
			</div>
			<div class="float-left w-100 text-center text-uppercase cpy_text">
				<p>Shemaroo entertainment ltd 2020, all rights reserved</p>
			</div>
			<div class="float-left w-100 social_icons  d-none d-sm-block">
				<div class="float-left w-100 app-d-flex h-center">
					<a href="https://www.instagram.com/shemaroome/">
						<img src="/assets/classic2/instagram.png" alt="instagram" title="instagram">
					</a>
					<a href="https://www.facebook.com/ShemarooMe/">
						<img src="/assets/classic2/fb.png" alt="facebook" title="facebook">
					</a>
					<a href="https://twitter.com/ShemarooMe">
						<img src="/assets/classic2/twitter.png" alt="twitter" title="twitter">
					</a>
					<a href="javascript:void(0);" id="app_store">
						<img src="/assets/classic2/app-store.png" alt="App store" title="App store">
					</a>
					<a href="javascript:void(0);" id="play_store">
						<img src="/assets/classic2/google-play.png" alt="google play" title="google play">
					</a>
					<a href="javascript:void(0);">
						<img src="/assets/classic2/appleTv.png" alt="Apple TV" title="Apple TV">
					</a>
					<a href="javascript:void(0);" id="firetv">
						<img src="/assets/classic2/fire-Tv.png" alt="fire-Tv" title="fire-Tv">
					</a>
				</div>	
			</div>
			<div class="float-left w-100 social_icons d-block d-sm-none">
				<div class="float-left w-100 app-d-flex h-center">
					<a href="https://www.instagram.com/shemaroome/">
						<img src="/assets/classic2/instagram.png" alt="instagram" title="instagram">
					</a>
					<a href="https://www.facebook.com/ShemarooMe/">
						<img src="/assets/classic2/fb.png" alt="facebook" title="facebook">
					</a>
					<a href="https://twitter.com/ShemarooMe">
						<img src="/assets/classic2/twitter.png" alt="twitter" title="twitter">
					</a>
				</div>
				<div class="float-left w-100 app-d-flex h-center">	
					<a href="javascript:void(0);" id="app_store">
						<img src="/assets/classic2/app-store.png" alt="App store" title="App store">
					</a>
					<a href="javascript:void(0);" id="play_store">
						<img src="/assets/classic2/google-play.png" alt="google play" title="google play">
					</a>
				</div>	
				<div class="float-left w-100 app-d-flex h-center">	
					<a href="javascript:void(0);">
						<img src="/assets/classic2/appleTv.png" alt="Apple TV" title="Apple TV">
					</a>
					<a href="javascript:void(0);" id="firetv">
						<img src="/assets/classic2/fire-Tv.png" alt="fire-Tv" title="fire-Tv">
					</a>
				</div>	
			</div>
		</div>
		<div class="subscription-fixed-wrapper">
			<div class="subscription-fixedbox text-center w-100">
				<a href="/plans" class="text-uppercase w-100 text-center">
          subscribe
        </a>
			</div>
		</div>
	</div>
</div>

<style>
  #player {
    float:left;     
    position: relative;
    width: 100%;
  }
  
  #controls {
    position: absolute;
    bottom: 3%;
    left: 3%;
    z-index: 1;
  }
  video {
    width: 100%;
    height:auto;      
  }
  
  button {
    text-indent:-9999px;
    width: 105px;
    height:105px;
    border:none;
    cursor:pointer;
  }
  #controls button {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    -webkit-background-clip: unset !important;
    border: 0px;
  }
  .play {
    /*display: none;*/
    background: url('play.png') no-repeat;
    background-size: 100%;
  }
  .pause {
    background: url('pause.png') no-repeat;
    background-position: 0px -5px;
    background-size: 100%;
  }

  .mute { 
    background: url('mute.svg') no-repeat;
    background-size: 100%; 
    background-position: 0px 3px;
    width: 28px;
    height: 28px;
  }
  .unmute { 
    background: url('volume.svg') no-repeat;
    background-position: 0px 3px;
    background-size: 100%;
    width: 28px;
    height: 28px;
  }

    
</style> 

<script type="text/javascript">
  $(document).ready(function() {
     $(".header-section, .mobile-menu nav, .contest-fixed-wrapper, .mobile-menu nav ul").hide();      
     $(".mobile-menu").css("background", "none");
     if(getShemarooCookies().user_id){
      //window.location = "/"
      $("#sso_mobile_login_pop2").modal("hide");
      localStorage.removeItem("user_mob_map_st")
      localStorage.removeItem("offer_couponcode_message")
   var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_name' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'profile_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profiles' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'is_parent_control' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'pin' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profile_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_actv_sub_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

  }); 

   </script>

   <script>
  // Get a handle to the player
  player       = document.getElementById('video-element');
  btnPlayPause = document.getElementById('btnPlayPause');
  btnMute      = document.getElementById('btnMute');

  
  // Add a listener for the play and pause events so the buttons state can be updated
  player.addEventListener('play', function() {
    // Change the button to be a pause button
    changeButtonType(btnPlayPause, 'pause');
  }, false);
  
  player.addEventListener('pause', function() {
    // Change the button to be a play button
    changeButtonType(btnPlayPause, 'play');
  }, false);
  
 
  
  player.addEventListener('ended', function() { this.pause(); }, false);  


  function playPauseVideo() {
    if (player.paused || player.ended) {
      // Change the button to a pause button
      changeButtonType(btnPlayPause, 'pause');
      player.play();
    }
    else {
      // Change the button to a play button
      changeButtonType(btnPlayPause, 'play');
      player.pause();
    }
  }
  
  // Stop the current media from playing, and return it to the start position
  function stopVideo() {
    player.pause();
    if (player.currentTime) player.currentTime = 0;
  }
  
  // Toggles the media player's mute and unmute status
  function muteVolume() {
    if (player.muted) {
      console.log("!")
      // Change the button to a mute button
      changeButtonType(btnMute, 'unmute');
      player.muted = false;
    }
    else {
      console.log("2")
      // Change the button to an unmute button
      changeButtonType(btnMute, 'mute');
      player.muted = true;
       
    }
  }
  
  // Replays the media currently loaded in the player
  function replayVideo() {
    resetPlayer();
    player.play();
  }
  
  // Update the progress bar
  function updateProgressBar() {
    // Work out how much of the media has played via the duration and currentTime parameters
    var percentage = Math.floor((100 / player.duration) * player.currentTime);
    // Update the progress bar's value
    progressBar.value = percentage;
    // Update the progress bar's text (for browsers that don't support the progress element)
    progressBar.innerHTML = percentage + '% played';
  }
  
  // Updates a button's title, innerHTML and CSS class
  function changeButtonType(btn, value) {
    btn.title     = value;
    btn.innerHTML = value;
    btn.className = value;
  }
  
  function resetPlayer() {
    progressBar.value = 0;
    // Move the media back to the start
    player.currentTime = 0;
    // Set the play/pause button to 'play'
    changeButtonType(btnPlayPause, 'play');
  }  
</script>
 
</body>