<!-- Term of Use India Region -->
<script>
  $(document).ready(function() {
	$(".fixed-top").css("box-shadow","none");
	$(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
				<h2 class="block margin-bottom-10"><%=get_lang_string("terms_conditions")%></h2>
				<div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">	
				  	<ul class="pull-left w-100 margin-bottom-10 padding-left-20">
						  <li class="pull-left w-100 margin-bottom-10">Maximum Cash back that can be availed is Rs.75.  </li>
						  <li class="pull-left w-100 margin-bottom-10">Offer valid once/user during the offer period from 2nd Dec 2021 to 31st Jan 2022</li>
						  <li class="pull-left w-100 margin-bottom-10">Code required to avail the offer is MBK75. Cash back will be auto credited to customer's MobiKwik wallet within 24 hours</li>

						  <!-- <li class="pull-left w-100 margin-bottom-10">5% Cash back is applicable with maximum of Rs. 75/- cashback. There is no minimum transaction amount for Cash back.		</li>
 -->
						  <li class="pull-left w-100 margin-bottom-10">If the order is cancelled or left undelivered at ShemarooMe’s end, ShemarooMe will initiate a refund. If the user cancels the order, the user cannot avail the cashback offer again.</li>

						  <li class="pull-left w-100 margin-bottom-10">In case of partial refunds/cancellations, the refund amount will be adjusted with the Cash back received on initial payment. Full Cash back will be rolled back in case of a full refund.</li>

						  <li class="pull-left w-100 margin-bottom-10">
						  After the refund is initiated, amount will be credited back to wallet within 7-10 days. </li>
							<li class="pull-left w-100 margin-bottom-10">
						  Both MobiKwik & ShemarooMe reserve the right to discontinue the offer without any prior notice.</li>
						</ul> 	
					
				  </p>
				</div>
				</div>
			</div>
		</div>
	</section>
</div>

<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>




