<!-- Term of Use India Region -->

<script>
  $(document).ready(function() {
  	$(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<style>
	table th, table td {
		font-size: 14px;
	}
</style>
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
			    <h2 class="block margin-bottom-10">Rules and Regulations</h2>
			    <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">
			    <h5 class="margin-bottom-5 margin-top-0 font-semibold">Eligibility Criteria</h5>
			      <p class="padding-left-15 margin-bottom-15">
			      	1. Only users subscribing to any yearly pack on ShemarooMe between 10/06/2020 to 10/07/2020 (both dates included) will be eligible for ‘Subscribe & Win’ contest
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	2. Subscriber who are subscribed to any pack before and after the said dates will not be eligible for the contest
			      </p>
			      <h5 class="padding-left-15 margin-bottom-5 margin-top-0 font-semibold">Eligible Pack</h5>
			      <div class="table-responsive margin-bottom-15">
			      	<table class="table table-condensed table-bordered">
			      		<tr>
			      			<th>Plan Name</th>
			      			<th>Plan Validity</th>
			      			<th>Price (INR)</th>			      			
			      		</tr>
			      		<tr>
			      			<td>ShemarooMe Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>999/-</td>
			      		</tr>
			      		<tr>
			      			<td>Bollywood Premiere Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      		<tr>
			      			<td>Gujarati Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      		<tr>
			      			<td>Kids Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>999/-</td>
			      		</tr>
			      		<tr>
			      			<td>Comedy Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      		<tr>
			      			<td>Bollywood Classic Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      		<tr>
			      			<td>Punjabi Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      		<tr>
			      			<td>Marathi Premium Plan</td>
			      			<td>Yearly</td>
			      			<td>499/-</td>
			      		</tr>
			      	</table>
			      </div>
			      <h5 class="margin-bottom-5 margin-top-0 font-semibold">Rules</h5>
			      <p class="padding-left-15 margin-bottom-15">
			      	1. User can participate in ‘Subscribe & Win’ contest on ShemarooMe App or Website
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	2. User must sign in with valid login details on ShemarooMe to participate in the contest
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	3. User must subscribe to any yearly pack as mentioned above to become eligible for the contest
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	4. After successful sign in user must click on the ‘Participate Now’ option on the contest page
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	5. ‘Quiz Page’ will open up for the user to answer the questions
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	6. User must answer all the question and click on ‘Submit’ option on the Quiz Page
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	7. Once the user clicks on ‘Submit Option’ he/she has successfully completed the process
			      </p>
			      <p class="padding-left-15 margin-bottom-15">
			      	8. ShemarooMe will announce the contest winner on 13/07/2020, user can visit ShemarooMe App or Website for regular updates
			      </p>
						<h5 class="margin-bottom-5 margin-top-0 font-semibold">Note –</h5>
						<ul>
							<li class="margin-bottom-15">All users must complete the Quiz Round successfully to become eligible for winning the contest ‘Subscribe & Win’</li>
							<li class="margin-bottom-15">User subscribing before 10/06/2020 and after 10/07/2020 will not be eligible for the ‘Subscribe & Win’ contest</li>
						</ul>					
						<p class="text-center">For any further queries kindly write to us on <a href="mailto:support@shemaroome.com">support@shemaroome.com</a></p>
			    </div>
			  </div>    
			</div>
		</div>
	</section>
</div>			    