<div class="padding-top-80 relative-content">
	<!--div class="media_tag">
		<img src="/assets/8kmedia.png" alt="" title="">
	</div-->
  <section class="pull-left w-100 marketing_page">
  	
		<div class="left-content marketing-min-height-div">
			<p class="margin-top-20 title text-center font-bold"><span class="font-bold">GET THE BEST</span> of blockbuster Bollywood, latest Gujarati, divine Bhakti, inspirational Gurbani, and informative Kids content.</p>
			<!-- <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood plus</h4> -->
			<section class="slider-section">
        <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
            <div id="banner-carousel" class="owl-carousel owl-theme">
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Plus</h4>
                <img src="assets/carousel/jab_we_met_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bollywood Classic</h4>
                <img src="assets/carousel/mughaleazam.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Gujarati</h4>
                <img src="assets/carousel/chhello_divas_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Bhakti</h4>
                <img src="assets/carousel/dham_yatra.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                               
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Kids</h4>
                <img src="assets/carousel/bal_ganesh_2_eng_fum_hd.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                 
              </div>
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Punjabi</h4>
                <img src="assets/carousel/jatt_airways_fum_hd.jpg" alt="" title=""> 
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
              </div> 
              <div class="item">
                <h4 class="text-uppercase font-size4 text-center font-bold">Marathi</h4>
                <img src="assets/carousel/manatlya_manaat.jpg" alt="" title="">
                <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
              </div>             
            </div>
          </div>
        </div>
      </section>
      <section class="marketing_feature">
				<div class="row margin-top-25">
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/entertainment.png" alt="" title="">
							
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Over</p>					
							<p class="font-size1 font-semibold margin-top-0">4000 titles</p>
						</div>	
					</div>	
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/tv.png" alt="" title="">
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Curated Channels &</p>			
							<p class="font-size1 font-semibold margin-top-0">Live Stream</p>								
						</div>	
					</div>	
					<div class="col-md-4 text-center margin-top-25">
						<div class="marketing_feature_box">
							<img src="/assets/multi_device.png" alt="" title="">						
							<p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Multi-</p>					
							<p class="font-size1 font-semibold margin-top-0">Device experience</p>
						</div>
					</div>	
				</div>
			</section>
		</div>
		<div class="right-content" id="offers_sec">
      <div class="rightform-wrap">
  			<h5 class="shemaroo-color2 font-bold">Enter coupon code for 30 day free trial</h5>
        
  			<div class="marketing_form pull-left">
          <div class="input-group relative-content promo_box">
            <input type="text" name="name" class="form-control font-medium text-uppercase margin-bottom-30" placeholder="Enter the Coupon Code" id="offers_coupon_code">
            <a href="javascript:void(0);" id="offers_apply_promo_code" class="text-uppercase font-size3 font-bold">Apply</a>          
            <label class="error" id="offers_signup_user_promo_error">Sorry, this Coupon Code is Invalid</label>
            <label class="error" id="signup_offers_coupon_code_error">This field is mandatory</label>
           <input type="hidden" value="" id="offers_coupon_id">
          </div>
          <p class="coupon-invalid-error dont_have_coupon">Don't have coupon code? Register for 7 day free trial</p>
          <div class="w-100 all_error">
            <label class="error" id="signup_offer_resp_error_msg">Invalid Credentials</label>
          </div>
  				<div class="input-group">
  					<input type="text" id="offer_user_name" name="name" class="form-control">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Name</span>
            <label class="error" id="signup_offer_user_name_error">This field is mandatory</label>
  				</div>
  				<div class="input-group">	
  					<input type="email" id="offer_user_email" name="email" class="form-control">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Email ID</span>
            <label class="error" id="signup_offer_user_email_error">This field is mandatory</label>
  				</div>
  				<div class="input-group pwd hide_password_group">	
  					<input type="password" id="offer_password" name="password" class="form-control">
  					<img src="/assets/pwd_eye.png" class="password_toggle" alt="hide password" title="hide password">
            <img src="/assets/pwd_eye.png" class="password_toggle show_pwd" alt="show password" title="show password">
  					<i class="fa fa-circle" aria-hidden="true"></i>
            <span class="input-label">Password</span>
            <label class="error" id="signup_offer_password_error">This field is mandatory</label>
  				</div>
  				<div class="input-group cpwd12 hide_password_group">	
  					<input type="password" id="offer_confirm_password" name="cpassword" class="form-control">
  					<img src="/assets/pwd_eye.png" class="password_toggle" alt="hide confirm password" title="hide confirm password">
            <img src="/assets/pwd_eye.png" class="password_toggle show_pwd" alt="show confirm password" title="show confirm password">
  					<i class="fa fa-circle" aria-hidden="true"></i>
  	        <span class="input-label">Confirm Password</span>
            <label class="error" id="signup_offer_confirm_password_error">This field is mandatory</label>
  				</div>
          <!--div class="input-group margin-bottom-25">  
            <a href="javascript:void(0);" class="text-uppercase font-size3 font-semibold w-100">Have a gift card code?</a>
            <p class="margin-bottom-0" id="promo_txt">
              <label class="font-regular shemaroo-color1 font-size3">Applied Code&nbsp;&nbsp; 
                <span class="text-uppercase font-bold shemaroo-color4">offer20</span>
              </label>
              <img src="/assets/close.svg" class="promo_close" alt="" title="">
            </p>
          </div-->
          
          <!--div class="w-100 font-semibold shemaroo-color1 font-size3 margin-bottom-15">Apply code for one month of free entertainment</div-->
  				<!-- <div class="input-group margin-bottom-25">	
  					<a href="javascript:void(0);" class="text-uppercase font-size3 font-semibold w-100">Have a promo code?</a>
            <p class="margin-bottom-0" id="promo_txt">
              <label class="font-regular shemaroo-color1 font-size3">Applied Code&nbsp;&nbsp; 
                <span class="text-uppercase font-bold shemaroo-color4">offer20</span>
              </label>
              <img src="/assets/close.svg" class="promo_close" alt="" title="">
            </p>
  				</div>
  				<div class="input-group relative-content promo_box">
  					<input type="text" name="name" class="form-control font-medium text-uppercase" placeholder="Enter Promo Code">
  					<a href="javascript:void(0);" id="apply_promo_code" class="text-uppercase font-size3 font-bold">Apply</a>          
            <label class="error" id="signup_user_promo_error">Sorry, this Promo Code is Invalid</label>

  				</div> -->
  				<div class="input-group custom-controls-stacked d-block margin-bottom-15">
            <label class="custom-control overflow-checkbox">
              <input type="checkbox" class="overflow-control-input" checked id="offer_agree_terms">
              <span class="overflow-control-indicator"></span>
              <span class="overflow-control-description font-semibold shemaroo-color1">I am over 18, and I agree to the <a href="/terms-and-conditions" class="font-semibold" target="blank">Terms of Use </a>and <a href="/privacy-policy" class="font-semibold" target="blank">Privacy Policy</a></span>
            </label>
            <label class="error" id="terms_check">Please check the terms of use</label> 
          </div>
  				
  				<div class="input-group">
  					<button type="button" id="offer_user_register" class="text-uppercase margin-top-10 margin-bottom-5">start free trial</button>
  					<p class="font-size3 font-regular shemaroo-color1 text-center w-100" id="already-txt">Already have an account? <a href="users/login" class="font-bold">Login</a></p>
  				</div>
  			</div>
      </div>
		</div>
    <div class="mobile_content_carousel_section pull-left w-100">
      <div id="mobile-content-carousel" class="owl-carousel owl-theme">
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/entertainment.png" alt="" title="">              
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Over</p>         
            <p class="font-size1 font-semibold margin-top-0">4000 titles</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/tv.png" alt="" title="">
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Curated Channels &</p>     
            <p class="font-size1 font-semibold margin-top-0">Live Stream</p>
          </div>
        </div>
        <div class="item">
          <div class="marketing_feature_box">
            <img src="/assets/multi_device.png" alt="" title="">            
            <p class="font-size1 font-semibold margin-bottom-5 margin-top-10">Multi-</p>         
            <p class="font-size1 font-semibold margin-top-0">Device experience</p>
          </div>
        </div>
      </div>
    </div>  
	</section>
	<%=render "layouts/page_height_setting"%>
</div>
<script>
	$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();
  $(".media_tag").css({"left":$(".marketing_page").offset().left - 26 });
  if(window.outerWidth <  1200 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 27 });
  }
  if(window.outerWidth <  470 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 22 });
  }
  if(window.outerHeight > 950 ) {
  	$(".right-content").css({'min-height': $(".left-content").height()});
	}
  if(window.outerHeight < 950 && window.outerWidth > 991) {
    $(".left-content").css({'min-height': $(".right-content").height()}+'!important');
  }
  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/left_arrow.png" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/right_arrow.png" alt="" title=""></span>'
    ];

  $('#banner-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,
    navText: navigation,
    dots: true,
    responsive:{
      0:{
          items:1,
          stagePadding: 20,
          margin:10,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });


  $('#mobile-content-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,    
    dots: false,
    responsive:{
      0:{
          items:1,
          stagePadding: 40,
      },
      576:{
          items:1,
          stagePadding: 100,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });

  $("#offer_user_name,#offer_user_email,#offer_password,#offer_confirm_password,#offers_coupon_code").focusin(function(){
    id = $(this).attr("id");
     $("#signup_"+id+"_error").hide();    
     $("#offers_signup_user_promo_error").hide() 
   })
  
  $("#offer_user_name,#offer_user_email,#offer_password,#offer_confirm_password").focusout(function(){
    id = $(this).attr("id");
    val = $(this).val();
    if(!val.length){
      $("#signup_"+id+"_error").text("This field is mandatory").show();      
    }
    else{
      $("#signup_"+id+"_error").hide();
      if(id == "offer_user_email"){
        var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if(!regex_email.test($("#offer_user_email").val())){
          $("#signup_offer_user_email_error").text("Please enter a valid email address").show();         
        }
      }
      else if(id == "offer_password"){
        $("#signup_"+id+"_error").hide();
        if($("#offer_password").val().length < 6){
          $("#signup_offer_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
      }
      else if(id == "offer_confirm_password"){
        $("#signup_"+id+"_error").hide();
        if($("#offer_confirm_password").val().length < 6){
          $("#signup_offer_confirm_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
        else if(($("#offer_password").val().length < 6 ) ||  (!$("#offer_password").val().length)){
          $("#signup_offer_confirm_password_error").hide();          
        }
        else if($("#offer_password").val() != $("#offer_confirm_password").val()){
          $("#signup_offer_confirm_password_error").text("Passwords do not match").show();          
        }
      }
    }
  });

  if($('#offer_user_name').val().length) {
      //$("#user_email").parents(".input-group").children('.fa-circle').hide();
    $('#offer_user_name').css({"padding":"5px"});
    $("#offer_user_name").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
    $("#offer_user_name").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#offer_user_name').css({"padding":"5px 5px 5px 10px"});
    $("#offer_user_name").parents(".input-group").children('.fa-circle').css({"top":"11px","left":"0px"});
    $("#offer_user_name").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }
  if($('#offer_user_email').val().length) {
    //$("#user_email").parents(".input-group").children('.fa-circle').hide();
    $('#offer_user_email').css({"padding":"5px"});
    $("#offer_user_email").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"}).show();
    $("#offer_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#offer_user_email').css({"padding":"5px 5px 5px 10px"});
    $("#offer_user_email").parents(".input-group").children('.fa-circle').css({"top":"11px","left":"0px"});
    $("#offer_user_email").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }


});
</script>