<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<% if $region == "IN" %>
<!-- India Region -->
<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10"><%= get_lang_string("privacy_policy")%></h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
              <p class="pull-left w-100 margin-bottom-15">
                Shemaroo, our subsidiaries, affiliate corporations, successors and assigns (collectively, “Shemaroo”, “we”, “us” or “our”) recognize and respect the importance of protecting your privacy. To that end, we have adopted the principles set forth in this privacy policy (this “Policy”) to govern our use and disclosure of your personal information.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              This Policy specifically governs the usage of information collected by us from our users of the ShemarooMe “Platform” and any associated mobile sites, applications, and/or any other services provided by us on the Platform, which can be accessed thereof. This Policy should be read in conjunction and together with the <a href="/terms-and-conditions">Terms of Use</a> available on the Platform. </p>
            <p class="pull-left w-100 margin-bottom-15">
              Your viewing or browsing of our content or your use of our services offered on our Platform is construed to mean that you consent to our collection, storage, processing of your Personal Information or Sensitive Personal Information or Information in accordance with this Privacy Policy and you consent to the terms and conditions of this Privacy Policy. You agree to be bound by the terms of this Privacy Policy. 
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">1. Collection of Information</h5>
            <p class="pull-left w-100 margin-bottom-15">
              We receive and store information about you, such as:<br>Information Provided By You: The following are collected, as you provide us with:
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">Your name, e-mail address, address, postal code, inclusive of payment methods, and, telephone number.</li>
              <li class="margin-bottom-10">Certain other information like your choice to provide further information pertaining to preferences, account settings, reviews, ratings, or any other information provided to us through our service, or elsewhere.</li>                        
            </ul>
            <!--p class="padding-left-15 margin-bottom-15">
              -&nbsp;&nbsp;&nbsp;Your name, e-mail address, address, postal code, inclusive of payment methods, and, telephone number.
            </p>
            <p class="padding-left-15 margin-bottom-15">
              -&nbsp;&nbsp;&nbsp;Certain other information like your choice to provide further information pertaining to preferences, account settings, reviews, ratings, or any other information provided to us through our service, or elsewhere. 
            </p-->
            <p class="pull-left w-100 margin-bottom-5">
              As Collected Automatically: The following are collected about you, your use of our service, the devices used to access our service [internet enabled compatible devices]. This information includes the following:
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-20">Your activity on the Platform, which would include your search history, your search inputs, services or products viewed over the Platform, visits and the time stamps;</li>                      
              <li class="margin-bottom-20">Device IDs and other unique identifiers like IP address, browser type, version, network service provider details;</li>  
              <li class="margin-bottom-20">Device and software characteristics including types and configurations, connection information, statistics on page views, URLs with time stamp;</li> 
              <li class="margin-bottom-20">Your interactions with our customer support via various support channels like e-mails, messages;</li>  
              <li class="margin-bottom-20">Service support and transaction history;</li>
              <li class="margin-bottom-20">Information collected by cookies, and other technologies, also including advertisement data, etc.</li>                                    
            </ul>
            <!--p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Your activity on the Platform, which would include your search history, your search inputs, services or products viewed over the Platform, visits and the time stamps; 
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Device IDs and other unique identifiers like IP address, browser type, version, network service provider details;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Device and software characteristics including types and configurations, connection information, statistics on page views, URLs with time stamp;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Your interactions with our customer support via various support channels like e-mails, messages; 
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Service support and transaction history;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp; Information collected by cookies, and other technologies, also including advertisement data, etc.
            </p-->
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">2. Use of Information Collected by Us</h5>
            <p class="padding-left-15 margin-bottom-15">
              In order to provide you with the services of the Platform and offer you enhanced use of the features of our Platform. We use your information to:
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">Process your registration, and provide you with your login account details;</li>
              <li class="margin-bottom-10">Process your orders and payments in respect of our services;</li>
              <li class="margin-bottom-20">Provide you with regional content, customized and personalized viewing options, recommendations on videos, movies, etc. which you may like to watch;</li>
              <li class="margin-bottom-10">Perform analytics and customer research, to improve our service, including the user experience and the interface;</li>
              <li class="margin-bottom-10">To offer you certain types of services, free trials, and other applicable offers based on your eligibility.</li>
              <li class="margin-bottom-10">To offer you relevant contextual advertisements wherever applicable. </li>   
              <li class="margin-bottom-10">To connect with you to know your feedbacks regarding the Platform and record the phone calls for quality purposes and future references with an intent to enhance customer experience on the Platform.</li>
            </ul>
            <!--p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Process your registration, and provide you with your login account details;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Process your orders and payments in respect of our services;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Provide you with regional content, customized and personalized viewing options, recommendations on videos, movies, etc. which you may like to watch;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Perform analytics and customer research, to improve our service, including the user experience and the interface;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;To offer you certain types of services, free trials, and other applicable offers based on your eligibility. 
            </p>
            <p class="padding-left-15 margin-bottom-15">
              -&nbsp;&nbsp;&nbsp;To offer you relevant contextual advertisements wherever applicable.  
            </p -->
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">3. Sharing and Disclosure of Information</h5>
            <p class="pull-left w-100 margin-bottom-15">
              While the Platform is the recipient of your Personal Information or Sensitive Personal Information, we may allow access of this information to various 3rd parties with whom Shemaroo., has direct legal and confidentiality binding and such data shall stay with them only for limited purpose and period for the processing and storage of information, provision of account to you, provision of customer support, content development and delivery, and other purposes as identified in the Use of Information Collected By Us section to this Policy.    
            </p>
            <p class="pull-left w-100 margin-bottom-15">
             We also engage various service providers to perform services on behalf of us enabling us to provide you services better. Such services may include, communications, advertising, infrastructure and IT, payment gateways processing payments, customer support, data analytics, conduct customer surveys, geo tagging/ location based content. It is our constant endeavor to ensure that such service providers adhere to a similar standard of data protection and security that we have agreed to under this Privacy Policy. At times, when we offer promotional offers in collaboration with third party entities, we will not be responsible for the privacy practices of such third party entities. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Shemaroo</b>, and our service providers may be required to disclose and otherwise use your personal and other information where we or our service providers reasonably believe that there exists the need to disclose to 
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">Meet or satisfy any applicable law, regulation, governmental request, or, legal process;</li>
              <li class="margin-bottom-10">Enforce the agreed Terms of Use;</li>
              <li class="margin-bottom-10">Address and investigate any illegal activities, which may also include financial frauds, any security or technical issues;</li>
              <li class="margin-bottom-20">Protect itself against any harm, misuse, of the property or safety of its users and the public, as required or permitted by law.</li>       
            </ul>
            <!--p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Meet or satisfy any applicable law, regulation, governmental request, or, legal process;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Enforce the agreed Terms of Use;
            </p>
            <p class="padding-left-15 margin-bottom-15">      
              -&nbsp;&nbsp;&nbsp;Address and investigate any illegal activities, which may also include financial frauds, any security or technical issues;
            </p>
            <p class="padding-left-15 margin-bottom-15">
              -&nbsp;&nbsp;&nbsp;Protect itself against any harm, misuse, of the property or safety of its users and the public, as required or permitted by law. 
            </p -->
           <p class="pull-left w-100 margin-bottom-15">
             In the event where there is any restructuring, reorganization, merger or sale, or any other transfer of assets, we shall transfer such information, including your personal information, subject to an agreement by the other party in respect to your personal information in a manner which is consistent with this Policy.
           </p>
           <p class="pull-left w-100 margin-bottom-15">
             Where you use any social plugin or social media application operated by other social media networks, you shall be subject to the terms of use and privacy policies of such entities themselves. 
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">4. Interaction with Other Applications, Platforms</h5>
           <p class="pull-left w-100 margin-bottom-15">
             You may be using other third party platforms, to access our services, which may have policies pertaining to privacy which may be different from ours. While you may use mobile devices, gaming systems, smart TVs and other such enabling devices to access our services, it is noteworthy that these have independent privacy policies, terms of use, which we recommend you read very carefully. 
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">5. Cross Border Transfers</h5>
           <p class="pull-left w-100 margin-bottom-15">
             In our sharing of your information outside of the European Economic Area and any other region with specific and comprehensive data protection laws, we will ensure that your information is transferred only in accordance with this Privacy Policy and as may be prescribed and permitted by the laws applicable thereof. 
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">6. Your Rights and Your Preferences</h5>
           <p class="pull-left w-100 margin-bottom-15">
             At all times, you have the right to access your personal information, or update, or correct the personal information we hold about you. This can be easily done by you through the “Me” section, which empowers you with multiple information about your account, which may relate to your contact information, payment information, and several other relevant information about your account. To access this section, and make the relevant changes, you must be logged into your Account.
           </p>
           <p class="pull-left w-100 margin-bottom-15">
             You also have the right to make a request to us, for deleting your personal information as available with us. You also acknowledge that deletion of some of these details may result in cancellation of your registration.
           </p>
           <p class="pull-left w-100 margin-bottom-15">
            Where you have any questions, or wish to make additional requests, you may write to our support team. We strive to respond to any requests made with the specific exercise of data protection rights available under various applicable data protection laws. We retain information as required or permitted by the applicable laws or regulations, including to retain your choices and preferences, for billing purposes, and to meet and fulfill other requirements as specified in this Privacy Policy. Reasonable measures are made to destroy or to remove identifiers in a secure manner when it is no longer required to be retained with us. 
           </p>
           <p class="pull-left w-100 margin-bottom-15">
             If you no longer wish to receive certain communications from us via e-mail, messages, you can unsubscribe to the same by clicking on the unsubscribe option in the e-mail communication received from us. Please note that you cannot however, unsubscribe to service related correspondence made by us to you, such as messages regarding your transactions, subscriptions. You can also choose not to receive any push notifications, as may be enabled on your devices; this can be done through your device settings. 
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">7. Data Security </h5>
           <p class="pull-left w-100 margin-bottom-15">
            We understand that we must safeguard your personal information available with us. We use and employ reasonable technical, organizational, logical, physical, administrative measures to protect your personal information against any unauthorized access, modification, or, use.  
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">8. Children </h5>
           <p class="pull-left w-100 margin-bottom-15">
             You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of majority is older than 18, in such case, you must satisfy such requirement to become a member. Any individual under the age of 18 utilizing the service, may do so only with the strict involvement, supervision and approval of a parent or a legal guardian.
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">9. Cookies and Advertising</h5>
           <p class="pull-left w-100 margin-bottom-15">
             We and our service providers use cookies and other technologies, such as web beacons, as well as several advertising identifiers for several purposes. This is done to understand the users better and offer you with tailored marketing and advertising services. If you do not consent to the use of cookies, use of similar technologies by us, you may at any time adjust your browser settings and delete or disable such cookies. However, this may result in the absence of tailored or user interest based advertisements.
           </p>
           <h5 class="margin-bottom-5 margin-top-0 font-semibold">10. Changes in Privacy Policy</h5>
           <p class="pull-left w-100 margin-bottom-15">
             We may update this Privacy Policy from time to time. Your continued use of our Platform constitutes your acceptance of our Terms of Use and this Privacy Policy. We encourage you to review this section periodically to review any changes made. If you do not wish to accept any changes made to this Privacy Policy, you may cancel your use of our services. 
           </p>      
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<% elsif $region == "US" %>
<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">
    <div class="static-container margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Privacy Policy</h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
              <p class="pull-left w-100 margin-bottom-15">
              <b>Privacy is important. Take some time to review our Privacy Policy, and contact us if you have any concerns about our use of your Personal Data in connection with our services to you.</b>
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Shemaroo Media & Entertainment LLC. (the "Company" "e" "s" or "ur"), and its affiliates and subsidiaries, respects your privacy and we are committed to protecting your Personal Data. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              As an organization that cares about the privacy of your personal data, it is our desire and duty to comply with the various applicable regulations around the world that govern the collection and processing (using) of your Personal Data. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <i>Protecting the personal rights and privacy of each individual and company that visits or uses our ShemarooMe platform, website and APPs (collectively the “website”) is at the center of our concern in our relationship with you. </i>
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              So we recognize the need for appropriate safeguards and management practices in relation to the collection and use of your Personal Data. We want to ensure that you understand what information we collect about you and how we use it. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              This Privacy Policy sets out the principles the Company follows when we collect and process your Personal Data through your use of our services or when you otherwise engage with us. It also applies to our suppliers, website-users and anyone who participates in our services or similar activity. This Privacy Policy should be read and reviewed by you along with our Terms of Use available on the website. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Our website is not intended for children and we do not knowingly collect data relating to children.<br>
              We may amend this Privacy Policy from time to time so please visit this page occasionally to ensure that you understand any amendments. If we need your consent to process your Personal Data in a different way, we will seek your permission in advance.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Please use the Definitions provided at the end of this Policy to understand the meaning of some of the terms we use here. If you have any questions regarding this Policy, contact us at: <a href="mailto:usasupport@shemaroome.com">usasupport@shemaroome.com</a> and please write "Questions on your Privacy Policy" in the subject line of your email.  
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              When you subscribe to our service you will have the ability and right to access your personal information, or update or correct the personal information we hold about you. This can be easily done by you through the <b>"Me"</b> section on the website, which has information about your account with us which may relate to your contact information, and other relevant information about your account. To access this section, and make the relevant changes, you must be logged into your Account with us. 
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">Who We Are</h5>
            <p class="pull-left w-100 margin-bottom-15">
              This Privacy Policy is issued on behalf of the the Company as a whole. When we mention the "Company", "we", "us" or "our", we are referring to the relevant Company entity responsible for collecting or processing your data.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Unless specified otherwise in this Privacy Policy, the Company is the controller of your Personal Data which means that the Company decides why and how your Personal Data is processed (i.e. used). Unless otherwise stated, the Company entity you are engaging with will be the controller of your data.   
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Shemaroo Media & Entertainment LLC. in the USA is the legal data controller and responsible for our website.</b>
            </p>

            <h5 class="margin-bottom-5 margin-top-0 font-semibold">The Company DATA PRIVACY CONTACT</h5>
            <p class="pull-left w-100 margin-bottom-15">
              If you have any questions about this Privacy Policy, including any requests to exercise any of your legal rights, please contact us using the details set out below.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>CONTACT DETAILS</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              Our full details are:<br>
              <b>Full name of legal entity:</b> Shemaroo Media & Entertainment LLC.     <br>
              <b>Address:</b> c/o Mission50 Coworking, 50 Harrison Street, PH 475, Hoboken, NJ 07030 USA<br>
              <b>ATTN:</b> Legal Department.<br>
              <b>Email address:</b> <a href="mailto:usasupport@shemaroome.com">usasupport@shemaroome.com</a>            
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">What Personal Data We Collect and How We Collect It</h5>
            <p class="pull-left w-100 margin-bottom-15">
              "Personal Data" is defined as any information about an individual from which that person can be identified. It might include your name, mailing address, email address, telephone number, company, title, website username or website  password. It does not include data where your identity has been removed (anonymous data).               
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              We collect, store and process your Personal Data by different methods in connection with your use of our services, such data may include: account data, your personal profile data, your personal data that are provided in the course of the use of our services, information that you post for publication on our website or through our services, information relating to transactions, including purchases of goods and services, that you enter into with us and/or through our website, information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters, and information contained in or relating to any communication that you send to us. 
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>WHERE YOU ARE A WEBSITE USER:</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              When you are using our websites, which may include when you stream or download content or contact us via our websites, here is how we generally collect your data:
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                You may provide Personal Data by completing online registration forms, by applying for services via our website, or when you create or update any of your marketing preferences; and
              </li>
              <li class="margin-bottom-10">
                We may collect your data automatically via cookies, in line with your cookie consent, web beacons, server logs and other similar technologies, preferences and settings in your browser;
              </li>            
              <li class="margin-bottom-0">
                For more information on how we use cookies please see our <b>cookie policy</b> below.
              </li>
            </ul>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">How We Use Your Personal Data</h6>
            <p class="pull-left w-100 margin-bottom-15">
              We collect, process or disclose your Personal Data for our legitimate business purposes including:
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                To provide our services to website users or to fulfill our contractual obligations;
              </li>
              <li class="margin-bottom-10">
                To any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes, and on the legal bases, set out in this Policy.
              </li>
              <li class="margin-bottom-10">
                To market our services, promotions, blogs or webinars, reports, our service news or relevant Policy updates. Depending on which jurisdiction you are in, we may be required to give you an option to “opt-out” with each marketing communication;
              </li>
              <li class="margin-bottom-10">
                As required by law or regulation;
              </li>
              <li class="margin-bottom-10">
                For our business purposes, such as data analysis, audits, fraud monitoring and prevention;
              </li>
              <li class="margin-bottom-10">
                To develop new products, services and offerings, or to enhance, improve or modify our products and services; or
              </li>
              <li class="margin-bottom-10">
                To record your usage of our website in accordance with our cookie policy.
              </li>
              <li class="margin-bottom-10">
                To our insurers and/or professional advisers insofar as reasonably necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, obtaining professional advice, or the establishment, exercise or defense of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.
              </li>
              <li class="margin-bottom-10">
                We may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.
              </li>
              <li class="margin-bottom-0">
                On certain pages on our website or blogs you may see ‘share’ or ‘social buttons’. These would enable you to share or bookmark pages on our website. These may include buttons for: Twitter, LinkedIn, Pinterest, Facebook, Instagram or other social media platforms. In order for us to implement these buttons on our website and connect them to the relevant social networks and external sites, there are scripts that are executed from domains owned by third-parties and outside of our control. You should be aware that these sites are likely to be collecting information about what you are doing all around the internet, including on our website. So if you click on any of these buttons, these sites will be registering that action and may use that information. In some cases these sites will be registering the fact that you are visiting our website, and the specific pages you are on, even if you don’t click on the button but are already or automatically logged into their services, like Google and Facebook. We recommend that you check the respective policies of each of these sites to see how exactly they use your personal information and to find out how to opt out, or delete, such personal information if you wish to.
              </li>
            </ul>

            <h6 class="margin-bottom-5 margin-top-0 font-semibold">What Is the Legal Basis for Processing Your Data</h6>
            <p class="pull-left w-100 margin-bottom-15">
              <i>We rely on the following main grounds to process Personal Data of our website users, suppliers or other third parties:</i>
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                <b>Necessary for entering into, or performing, a contract</b> – to perform obligations that we undertake in providing a service to you, or to take steps at your request to enter into a contract with us;
              </li>
              <li class="margin-bottom-10">
                <b>Necessary for compliance with a legal obligation</b> – we are subject to certain legal requirements which may require us to process your Personal Data. We may also be obliged by law to disclose your Personal Data to a regulatory body or law enforcement agency;
              </li>
              <li class="margin-bottom-10">
                <b>Necessary for the purposes of Legitimate Interests</b> – we, or a third party, will process your Personal Data for the purposes of our (or a third party's) Legitimate Interests, provided we have established that those interests are not overridden by your rights and freedoms, including your right to have your Personal Data protected. Our Legitimate Interests include responding to requests and enquiries from you or a third party, optimizing our website and customer experience, informing you about our products and services and ensuring that our operations are conducted in an appropriate and efficient manner;
              </li>
              <li class="margin-bottom-10">
                <b>Consent</b> – in some circumstances, we may ask for your consent to process your Personal Data;
              </li>
              <li class="margin-bottom-0">
                <b>Necessary to protect the vital interests</b> of you the data subject or of another natural person.
              </li>
            </ul>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>CHANGE OF PURPOSE</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              We will only use your Personal Data for the purposes for which we collected it, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original purpose. If you wish to get an explanation as to how the processing for the new purpose is compatible with the original purpose, please contact us at: usasupport@shemaroome.com             and clearly write “New Data Processing purpose Question” in the subject line of your email.<br>
              If we need to use your Personal Data for an unrelated purpose, we will notify you and we will explain the legal basis which allows us to do so or seek your consent, providing you with a clear, conspicuous and readily available mechanism for you to exercise your choice.<br>
              Please note that we may process your Personal Data without your knowledge or consent where this is required or permitted by law.
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">How We Share Your Personal Data</h6>
            <p class="pull-left w-100 margin-bottom-15">
              We will not sell or rent to anyone the Personal Data provided to us or obtained by us.<br>
              In certain circumstances we will share your Personal Data with other parties. We share your data with other entities within the Company acting as joint controllers or processors. We do this to provide sales and marketing, IT, system administration services, product development and undertake internal reporting. We will also share your Personal Data across the Company entities to improve our customer service and to make our services more valuable to you.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <i>We also share your Personal Data with the following third parties:</i>
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                Service providers acting as processors who provide IT and system administration services, including, for example: Adyen, or other cloud service providers, etc.;
              </li>
              <li class="margin-bottom-10">
                Professional advisers acting as processors or joint controllers;
              </li>
              <li class="margin-bottom-10">
                Regulators and other authorities acting as processors or joint controllers who require reporting of processing activities in certain circumstances; 
              </li>
              <li class="margin-bottom-0">
                Third parties to whom we may choose to sell, transfer, or merge parts of our business or our assets. If a change happens to our business, then the new owners may use your Personal Data in the same way as set out in this Privacy Policy.
              </li>
            </ul>
            <p class="pull-left w-100 margin-bottom-15">
              We require all third parties to respect the security of your Personal Data and to treat it in accordance with applicable laws. We do not allow our third party service providers to use your Personal Data for their own purposes and only permit them to process your Personal Data for specified purposes and in accordance with our instructions.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              We also collect, use and share aggregated data such as statistical or demographic data for our legitimate business purposes. Aggregated data is not Personal Data as this data does not directly or indirectly reveal your identity. 
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">International Transfers of Data</h6>
            <p class="pull-left w-100 margin-bottom-15">
              We share your Personal Data within the Company. We may transfer the Personal Data we collect about you to countries outside of the country in which the information originally was collected. Those countries may not have the same data protection laws as the country in which you initially provided the information. When we transfer your information to other countries, we will protect that information as described in this Privacy Policy.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>TRANSFERS OUT OF THE EEA</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              If you are located in the European Economic Area (EEA) this may involve transferring your Personal Data outside of the EEA. Whenever we transfer your Personal Data out of the EEA, we ensure a similar degree of protection is afforded to it by ensuring at least one of the following safeguards is implemented.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>GENERAL SAFEGUARDS</i></h5>  
            <p class="pull-left w-100 margin-bottom-15">
              <b><i>We will only transfer your Personal Data to countries that have been deemed to provide an adequate level of protection for Personal Data by the European Commission. For further details, see <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/adequacy-protection-personal-data-non-eu-countries_en">European Commission: Adequacy of the protection of Personal Data in non-EU countries.</a>  </i></b>
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-0">
                Where we use certain service providers, we may use specific contracts approved by the European Commission which give Personal Data the same protection it has in Europe. For further details, see <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/model-contracts-transfer-personal-data-third-countries_en">European Commission: Model contracts for the transfer of Personal Data to third countries.</a>
              </li>
            </ul>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">Data Security</h6>
            <p class="pull-left w-100 margin-bottom-15">
              The Company uses industry standard physical, technical, and administrative controls to protect your Personal Data by:
            </p>

            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                Not collecting or retaining excessive amounts of data;
              </li>
              <li class="margin-bottom-10">
                Protecting Personal Data from loss, misuse, unauthorized access and disclosure. Any employees, agents, contractors or third parties who are so authorized act on our instructions are subject to a duty of confidentiality;
              </li>
              <li class="margin-bottom-10">
                Keeping Personal Data up to date;
              </li>
              <li class="margin-bottom-10">
                Storing and destroying it securely;
              </li>
              <li class="margin-bottom-10">
                Ensuring that appropriate administrative, technical and physical safeguards are in place to protect Personal Data. These measures include measures to deal with any suspected data breach; and
              </li>
              <li class="margin-bottom-0">
                Regularly reviewing our information collection, storage and processing practices, including physical security measures.
              </li>
            </ul>
            <p class="pull-left w-100 margin-bottom-15">
              <i>While we operate to industry standards we are also aware that the transmission of information via the internet is not completely secure. We cannot guarantee the security of your data transmitted to our website and any transmission is at your own risk.</i> Where we have given you (or where you have chosen) a password which enables you to access any of our online or electronic services or resources, you are responsible for keeping this password confidential. We advise you not to share your password with anyone.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              You should note that this website may include links to third-party websites, plug-ins and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their content or privacy statements. When you leave our website, we encourage you to read the privacy notice of every website you visit.              
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold">COOKIES</h5>
            <p class="pull-left w-100 margin-bottom-15">
              The Company uses "cookies" on its sites. A cookie is a piece of data stored on a site visitor's system that help us improve your access to our site and identify repeat visitors to our site.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Cookies can also enable us to track and target the interests of our users to enhance their experience on our website. Except where contacts elect to identify themselves for purposes of receiving information from the Company, or inquiring as to a business relationship with the Company, cookies are not linked to any personally identifiable information.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. You can disable or remove any cookies already stored on your computer, but these may stop our website from functioning properly. 
            </p>  
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">Data Retention</h6>
            <p class="pull-left w-100 margin-bottom-15">
              Where we collect your Personal Data, the length of time for which we retain it depends on the type of data, the purpose for which we use that data and our accounting, regulatory and legal data retention obligations. We do not retain Personal Data in an identifiable format for longer than is necessary.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              To determine the appropriate retention period for Personal Data, we consider the amount, nature, and sensitivity of the Personal Data, the potential risk of harm from unauthorized use or disclosure of your Personal Data, the purposes for which we process your Personal Data and whether we can achieve those purposes through other means, and the applicable legal requirements.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              We will retain your Personal Data on our systems for such period as we believe in good faith that the law, statute or relevant regulators require us to preserve your data). After this period, it is likely your data will no longer be relevant for the purposes for which it was collected and we will delete or destroy it.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              In some circumstances we may anonymize your Personal Data (so that it can no longer be associated with you) for research or statistical purposes in which case we may use this information indefinitely without further notice to you.
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">Children’s Privacy</h6>
            <p class="pull-left w-100 margin-bottom-15">
              As noted above, our website and all related services are not directed to or intended for use by minors. You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of majority is older than 18, in such case, you must satisfy such requirement to become a subscriber. Any individual under the age of 18 utilizing the service may do so only with the approval and supervision of a parent or a legal guardian. <br>
              Consistent with the requirements of the US Children’s Online Privacy Protection Act, if we learn that we have received information directly from a child under age 13 without his or her parent or legal guardian’s verified consent, we will use that information only to respond directly to that child (or his or her parent or legal guardian) to inform the child that he or she cannot use our website and any related services. Subsequently, we will make commercially reasonable efforts to delete such information.
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">Your Legal Rights</h6>
            <p class="pull-left w-100 margin-bottom-15">
              <i>Under certain circumstances, you have the right to:</i>
            </p>
            <ul class="pull-left padding-left-25 margin-bottom-20">
              <li class="margin-bottom-10">
                <b>Request access to your personal information</b> (commonly known as a “data subject access request”). This enables you to receive a copy of the personal information we hold about you and to check that we are lawfully processing it;
              </li>
              <li class="margin-bottom-10">
                <b>Request correction of the personal information</b> that we hold about you. This enables you to have any incomplete or inaccurate information we hold about you corrected;
              </li>
              <li class="margin-bottom-10">
                <b>Request erasure of your personal information.</b> This enables you to ask us to delete or remove personal information where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your personal information where you have exercised your right to object to processing. Note, however, that we may not always be able to comply with your request of erasure for specific legal reasons which will be notified to you, if applicable, at the time of your request;
              </li>
              <li class="margin-bottom-10">
                <b>Object to processing</b> of your personal information where we are relying on a Legitimate Interest (or those of a third party) and there is something about your particular situation which makes you want to object to processing on this ground. You also have the right to object where we are processing your personal information for direct marketing purposes;
              </li>
              <li class="margin-bottom-10">
                <b>Request the restriction of processing of your personal information.</b> This enables you to ask us to suspend the processing of personal information about you, for example if you want us to establish its accuracy or the reason for processing it; and/or
              </li>
              <li class="margin-bottom-10">
                <b>Request the transfer of your personal information</b> to another party.  <br>
                If you want to review, verify, correct or request erasure of your personal information, object to the processing of your Personal Data, or request that we transfer a copy of your personal information to another party, please contact us by email at: <a href="mailt:usasupport@shemaroome.com">usasupport@shemaroome.com</a> and clearly write “Personal Data Request” in the subject line of your email.
              </li>
            </ul>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>NO FEE USUALLY REQUIRED</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              You will not have to pay a fee to access your personal information (or to exercise any of the other rights). However, we may charge a reasonable fee if your request for access is clearly unfounded or excessive. Alternatively, we may refuse to comply with the request in such circumstances.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>WHAT WE MAY NEED FROM YOU</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              We may need to request specific information from you to help us confirm your identity and ensure your right to access the information (or to exercise any of your other rights). This is another appropriate security measure to ensure that personal information is not disclosed to any person who has no right to receive it.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>RIGHT TO WITHDRAW CONSENT</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              In the limited circumstances where you may have provided your consent to the collection, processing and transfer of your personal information for a specific purpose, you have the right to withdraw your consent for that specific processing at any time. To withdraw your consent, please send us an email at: usasupport@shemaroome.com and clearly write “Personal Data Consent Withdrawal” on the subject line of your email. Once we have received notification that you have withdrawn your consent, we will no longer process your information for the purpose or purposes you originally agreed to without undue delay, unless we have another legitimate legal basis for doing so.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>OUR RESPONSE TIMES</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if your request is incomplete and we need to write to you for more information or is particularly complex or you have made several requests. In these cases, we will notify you and keep you updated.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>IN THE EU, THE RIGHT TO COMPLAIN TO A SUPERVISORY AUTHORITY </i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              In the EU, if you consider that our processing of your personal information infringes data protection laws, you have a legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so in the EU member state of your principle residence, your place of work or the place of the alleged infringement. <br>
              Please see “How to make a complaint” below.
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">How to Make a Complaint</h6>
            <p class="pull-left w-100 margin-bottom-15">
              Data privacy laws are constantly evolving and we endeavor to maintain best practices. However, we recognize that we may not always get it right and if you are not satisfied in the way we handle your Personal Data or you wish to discuss our processes then we would like to hear from you.
            </p>
            <h5 class="margin-bottom-5 margin-top-0 font-semibold"><i>THE COMPANY COMPLAINT PROCESS</i></h5>
            <p class="pull-left w-100 margin-bottom-15">
              If you believe that there is something which we have not done correctly with your Personal Data then we would appreciate the chance to deal with your concerns before you approach a Supervisory Authority, so please contact us in the first instance at: <a href
              ="mailto:usasupport@shemaroome.com">usasupport@shemaroome.com</a> and please clearly write <i>“Data Complaint”</i> in the subject line of your email.
            </p>
            <h6 class="margin-bottom-5 margin-top-0 font-semibold">Definitions of Terms used in this Policy</h6>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Consent</b> means your agreement which must be freely given, specific, informed and be an unambiguous indication of you, the Data Subject’s wishes, by which you, by a statement or by a clear positive action, signifies agreement to the Processing of Personal Data relating to you.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Data Controller</b> means the person or organization that determines when, why and how to process your Personal Data. It is responsible for establishing practices and policies in line with the GDPR. For example, we are the Data Controller of all Personal Data relating to our Company Personnel and Personal Data used in our business for our own commercial purposes.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Data Subject</b> means a living, identified or identifiable individual about whom we hold Personal Data. Data Subjects may be nationals or residents of any country and may have various legal rights regarding their Personal Data.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>EEA means</b> the 28 countries in the EU, and Iceland, Liechtenstein and Norway.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Explicit Consent</b> means consent which requires a very clear and specific statement (that is, not just action).              
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>General Data Protection Regulation (GDPR)</b> means the European Union General Data Protection Regulation ((EU) 2016/679).  Applicable Personal Data is subject to the legal safeguards specified in the GDPR.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Legitimate Interest</b> means the interest of our business in conducting and managing our business to enable us to give you the best service/product and the best and most secure experience. We make sure we consider and balance any potential impact on you (both positive and negative) and your rights before we process your Personal Data for our legitimate interests. We do not use your Personal Data for activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted to by law).
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Personal Data</b> means any information identifying a Data Subject or information relating to a Data Subject that we can identify (directly or indirectly) from that data alone or in combination with other identifiers we possess or can reasonably access. Personal Data includes Special Category (Sensitive) Personal Data and pseudonymized Personal Data but excludes anonymous data or data that has had the identity of an individual permanently removed. Personal Data can be factual (for example, a name, email address, location or date of birth) or an opinion about that person’s actions or behavior.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Privacy Notices or Privacy Policy Notices</b> means separate notices setting out information that may be provided to Data Subjects (such as you) when The Company collects information about them. These notices may take the form of general privacy statements applicable to a specific group of individuals (for example, website privacy policy notices) or they may be stand-alone, one-time privacy statements covering Processing related to a specific purpose.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Processing or Process</b> means any activity that involves the use of your Personal Data. It includes obtaining, recording or holding the data, or carrying out any operation or set of operations on the data including organizing, amending, retrieving, using, disclosing, erasing or destroying it. Processing also includes transmitting or transferring Personal Data to third parties.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b>Special Category or Sensitive Personal Data:</b> information revealing racial or ethnic origin, political opinions, religious or similar beliefs, trade union membership, physical or mental health conditions, sexual life, sexual orientation, biometric or genetic data, and Personal Data relating to criminal offences and convictions. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              <b><i>Thank you for taking the time to review our Policy!</i></b>
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              This Privacy Policy was last revised on: April 11, 2019
            </p>


          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%else%>
<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">Privacy Policy</h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-25 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
            <p class="pull-left w-100 margin-bottom-15">
              This Privacy Policy entails the details of our collection, use and disclosure of information, including your personal information, within ShemarooMe.
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              This Policy specifically governs the usage of information collected by us from our users of the ShemarooMe <b>“Platform”</b> and any associated mobile sites, applications, and/or any other services provided by us on the website, which can be accessed thereof. This Policy should be read in conjunction and together with the Terms of Use available on the Platform. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Your viewing or browsing of our content or your use of our services offered on our Platform is construed to mean that you consent to our collection, storage, processing of your Personal Information or Sensitive Personal Information or Information in accordance with this Privacy Policy and you consent to the terms and conditions of this Privacy Policy. You agree to be bound by the terms of this Privacy Policy. 
            </p>
            <p class="pull-left w-100 margin-bottom-15">
              Please keep in mind that when you provide information to us on a third-party site or platform the information we collect through those third-party sites linked with is covered by this Privacy Policy, and the information the third-party site or platform collects is subject to the third-party site or its privacy practices. Privacy choices you have made on the third-party site will not apply to our use of the information we have collected directly through. Please also keep in observance that our Platform may contain links to other sites not owned or controlled by us and we are not responsible for the privacy practices of those sites. We encourage you to be aware when you leave our Platform and to read the privacy policies of other sites that may collect your personal information.
            </p>
            <h5 class="margin-bottom-5 margin-top-0">1. User Consent </h5>
            <p class="pull-left w-100 margin-bottom-15">
              By using our services you agree to provide consent to our collection, use and sharing of your information as described in this Privacy Policy. In some cases, particularly if you reside in a country governed by a data protection regulation, we may ask you to provide explicit consent to access our services before proceeding for further operations. In case of any roaming user profile or if you are a traveler visiting various countries around the world and avail our services, then we will consider the country of registration as your primary country and the consents obtained at the time of registration will be valid for your processing of personal information.
            </p>
            <h5 class="margin-bottom-5 margin-top-0">2. Collection of Information</h5>
              <p class="pull-left w-100 margin-bottom-15">
              We receive and store information about you, such as:<br>Provided By You: The following are collected, as you provide us with:</p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Your name, e-mail address, address, postal code, inclusive of payment methods, and, telephone number.
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Certain other information like your choice to provide further information pertaining to preferences, account settings, reviews, ratings, or any other information provided to us through our service, or elsewhere.                
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                As Collected Automatically: The following are collected about you, your use of our service, the devices used to access our service [internet enabled compatible devices]. This information includes the following:                      
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Your activity on the Platform, which would include your search history, your search inputs, services or products viewed over the Platform, visits and the time stamps; 
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Device IDs and other unique identifiers like IP address, browser type, version, network service provider details;
              </p>    
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Device and software characteristics including types and configurations, connection information, statistics on page views, URLs with time stamp;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Your interactions with our customer support via various support channels like e-mails, messages;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Service support and transaction history;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Information collected by cookies, and other technologies, also including advertisement data, etc.
              </p>    

              <h5 class="margin-bottom-5 margin-top-0">3. Use of Information Collected by Us</h5>
              <p class="pull-left w-100 margin-bottom-15">
                In order to provide you with the services of the Platform and offer you enhanced use of the features of our Platform. We use your information to:
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Process your registration, and provide you with your login account details;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -   Process your orders and payments in respect of our services;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Provide you with regional content, customized and personalized viewing options, recommendations on videos, movies, etc. which you may like to watch;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Perform analytics and customer research, to improve our service, including the user experience and the interface;
              </p>    
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;To offer you certain types of services, free trials, and other applicable offers based on your eligibility.
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;To offer you relevant contextual advertisements wherever applicable.
              </p>    
              
              <h5 class="margin-bottom-5 margin-top-0">4. Sharing and Disclosure of Information</h5>
              <p class="pull-left w-100 margin-bottom-15">
                While the Platform is the recipient of your Personal Information or Sensitive Personal Information, we may allow access of this information to various 3rd parties with whom Shemaroo Entertainment Ltd., has direct legal and confidentiality binding and such data shall stay with them only for limited purpose and period for the processing and storage of information, provision of account to you, provision of customer support, content development and delivery, and other purposes as identified in the Use of Information Collected By Us section to this Policy.                 
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                We also engage various service providers to perform services on behalf of us enabling us to provide you services better. Such services may include, communications, advertising, infrastructure and IT, payment gateways processing payments, customer support, data analytics, conduct customer surveys, geo tagging/ location based content. It is our constant endeavor to ensure that such service providers adhere to a similar standard of data protection and security that we have agreed to under this Privacy Policy. At times, when we offer promotional offers in collaboration with third party entities, we will not be responsible for the privacy practices of such third party entities.             
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                <strong>ShemarooMe,</strong> and our service providers may be required to disclose and otherwise use your personal and other information where we or our service providers reasonably believe that there exists the need to disclose to
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Meet or satisfy any applicable law, regulation, governmental request, or, legal process;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Enforce the agreed Terms of Use;
              </p>    
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Address and investigate any illegal activities, which may also include financial frauds, any security or technical issues;
              </p>
              <p class="padding-left-15 margin-bottom-15">
                -&nbsp;&nbsp;&nbsp;Protect itself against any harm, misuse, of the property or safety of its users and the public, as required or permitted by law.
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                In the event where there is any restructuring, reorganization, merger or sale, or any other transfer of assets, we shall transfer such information, including your personal information, subject to an agreement by the other party in respect to your personal information in a manner which is consistent with this Policy.
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Where you use any social plugin or social media application operated by other social media networks, you shall be subject to the terms of use and privacy policies of such entities themselves.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">5. Billing Information</h5>
              <p class="pull-left w-100 margin-bottom-15">
                We will be using third party payment gateway partners to process and facilitate the payment of your subscription fee to the services for providing you access to the subscription. Please note that we do not directly collect any financial information such as credit card or debit card or net banking details from you. Such payment gateway partners are not controlled by us. When you visit such payment gateways you do so at your own risk. These payment gateways may have their own privacy policies in place, which we recommend you review if you visit any such payment gateways. We do not assume any responsibility or liability for such payment gateways, the content of such payment gateways and their privacy practices, nor do we endorse them. We encourage you to familiarize yourself with the privacy statements provided by such payment gateways prior to providing them with information about you or entering into any transactions with them. While transacting with these payment gateways, you may provide your financial information including without limitation your bank account details, credit card account details or your details pertaining to any payment settlement or pre-paid instrument service provider. You understand, agree and acknowledge that we never receive your financial and payment information from these payment gateways. Your personal information, sensitive personal data or information and financial information will be dealt by these payment gateways in accordance with their respective privacy policies and other terms and conditions and we shall not be liable, accountable or responsible for your personal information, sensitive personal data and financial information which you provide to these payment gateways.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">6. Interaction with Other Applications, Platforms</h5>
              <p class="pull-left w-100 margin-bottom-15">
                You may be using other third party platforms, to access our services, which may have policies pertaining to privacy which may be different from ours. While you may use mobile devices, gaming systems, smart TVs and other such enabling devices to access our services, it is noteworthy that these have independent privacy policies, terms of use, which we recommend you read very carefully. 
              </p>
              <h5 class="margin-bottom-5 margin-top-0">7. Cross Border Transfers </h5>
              <p class="pull-left w-100 margin-bottom-15">                      
                In our sharing of your information outside of the European Economic Area and any other region with specific and comprehensive data protection laws, we will ensure that your information is transferred only in accordance with this Privacy Policy and as may be prescribed and permitted by the laws applicable thereof.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">8. Your Rights and Your Preferences</h5>
              <p class="pull-left w-100 margin-bottom-15">
                At all times, you have the right to access your personal information, or update, or correct the personal information we hold about you. This can be easily done by you through the “Me” section, which empowers you with multiple information about your account, which may relate to your contact information, payment information, and several other relevant information about your account. To access this section, and make the relevant changes, you must be logged into your Account.                
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Data Access and Portability: In some jurisdictions, applicable law may entitle you to request copies of your personal information held by us. You may also be entitled to request copies of personal information that you have provided to us in a structured, commonly used, and machine-readable format and/or request us to transmit this information to another service provider (where technically feasible).
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                You also have the right to make a request to us, for deleting your personal information as available with us. You also acknowledge that deletion of some of these details may result in cancellation of your registration.
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Withdrawing consent and restriction of processing: For withdrawing your consent at any time during the tenure of your services with us, you may choose to do so by sending us an e-mail. We shall review your request and may ask you to verify your identity. Post verification we will withdraw the consent for which request was made by you and stop any further processing of your personal information.
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Where you have any questions, or wish to make additional requests, you may write to our support team. We strive to respond to any requests made with the specific exercise of data protection rights available under various applicable data protection laws. We retain information as required or permitted by the applicable laws or regulations, including to retain your choices and preferences, for billing purposes, and to meet and fulfill other requirements as specified in this Privacy Policy. Reasonable measures are made to destroy or to remove identifiers in a secure manner when it is no longer required to be retained with us. 
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                If you no longer wish to receive certain communications from us via e-mail, messages, you can unsubscribe to the same by clicking on the unsubscribe option in the e-mail communication received from us. Please note that you cannot however, unsubscribe to service related correspondence made by us to you, such as messages regarding your transactions, subscriptions. You can also choose not to receive any push notifications, as may be enabled on your devices; this can be done through your device settings. 
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Complaints: You can write to our data protection officer in case of any grievance or complaint. You have the right to complaint about the data processing activities carried out by us before the competent data protection authorities.
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                Please be aware that if you do not allow us to collect personal information from you, we may not be able to deliver certain experiences, products, and services to you, and some of our services may not be able to take account of your interests and preferences. If collection of personal information is mandatory, we will make that clear at the point of collection so that you can make an informed decision whether to participate. If you have questions about the specific personal information about you that we process or retain, and your rights regarding that personal information, please contact our customer support team.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">9. Data Security</h5>
              <p class="pull-left w-100 margin-bottom-15">
                We understand that we must safeguard your personal information available with us. We use and employ reasonable technical, organizational, logical, physical, administrative measures to protect your personal information against any unauthorized access, modification, or, use. 
              </p>
              <p class="pull-left w-100 margin-bottom-15">
                We operate globally and may transfer your personal information to third parties in locations around the world for the purposes described in this privacy policy. Wherever your personal information is transferred, stored or processed by us, we will take reasonable steps to safeguard the privacy of your personal information. Additionally, when using or disclosing personal information transferred from the European Union, we use standard contractual clauses approved by the European Commission, adopt other means under European Union law for ensuring adequate safeguards.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">10. Children</h5>
              <p class="pull-left w-100 margin-bottom-15">                      
                You must be 18 years of age or older to subscribe to our services. In jurisdictions, where the age of majority is older than 18, in such case, you must satisfy such requirement to become a member. Any individual under the age of 18 utilizing the service, may do so only with the strict involvement, supervision and approval of a parent or a legal guardian.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">11. Cookies and Advertising</h5>
              <p class="pull-left w-100 margin-bottom-15">
                We and our service providers use cookies and other technologies, such as web beacons, as well as several advertising identifiers for several purposes. This is done to understand the users better and offer you with tailored marketing and advertising services. If you do not consent to the use of cookies, use of similar technologies by us, you may at any time adjust your browser settings and delete or disable such cookies. However, this may result in the absence of tailored or user interest based advertisements. 
              </p>
              <h5 class="margin-bottom-5 margin-top-0">12. Changes in Privacy Policy</h5>
              <p class="pull-left w-100 margin-bottom-15">                      
                We may update this Privacy Policy from time to time. Your continued use of our Platform constitutes your acceptance of our Terms of Use and this Privacy Policy. We encourage you to review this section periodically to review any changes made. If you do not wish to accept any changes made to this Privacy Policy, you may cancel your use of our services. 
              </p>
              <h5 class="margin-bottom-5 margin-top-0">13. Support</h5>
              <p class="pull-left w-100 margin-bottom-15">                      
                If you require any information or clarification regarding the use of your personal information or this Privacy Policy or grievances with respect to use of your personal information, please email us at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>.
              </p>
              <h5 class="margin-bottom-5 margin-top-0">14. Grievance Redressal</h5>
              <p class="pull-left w-100 margin-bottom-15">
                In the event you have any grievance relating to the processing of user(s) information provided by you, you may contact us with your grievance at <a href="mailto:support@shemaroome.com">support@shemaroome.com</a>. 
              </p>
              <h5 class="margin-bottom-5 margin-top-0">15. Data Controller Officer</h5>
              <p class="pull-left w-100 margin-bottom-15">                      
                The data controller for Shemaroo services is Shemaroo Entertainment Ltd. with the registered and correspondence address at Shemaroo House, Plot No 18, Marol Co-op Industrial estate, Off Andheri Kurla Road, Andheri (E), Mumbai: 400059.
              </p>
              <p class="pull-left w-100 margin-bottom-15">                      
                The data protection officer (DPO) can be contacted at <a href="mailto:kinnari.dave@shemaroo.com">kinnari.dave@shemaroo.com</a>.
              </p>
              <p class="pull-left w-100 margin-bottom-15">                      
                If you have any queries, complaints regarding the collecting, processing, transfer of personal data/information or regarding this policy please do contact our Data Protection Officer.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%end%>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>