<!-- Term of Use India Region -->
<% if $region == "IN" %>
<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
    <section class="onboarding-bg onboarding-bg-min-height min-height-div">
        <div class="static-container static-container-web margin-bottom-30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
                    <h2 class="block margin-bottom-10">Terms & Conditions</h2>
                    <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">
                      <ol type="1">
                        <li><p>Refer a friend and earn up to ₹160 per referral</p></li>
                        <li><p>Your friend gets a <%= $region == "IN"?  '5%': '20%' %> discount on any plan available on ShemarooMe platform during the time of purchase.<br><p>You will receive a reward which is <%= $region == "IN"?  '5%': '20%' %> of the transaction value received by ShemarooMe.</p></p></li>
                        <li>How to participate?
                          <p>● &nbsp;&nbsp;One must successfully register/sign up on ShemarooMe platform to be a part of the referral program. </p>
                          <p>● &nbsp;&nbsp;Registered user must complete the process of generating a personalised referral code by filling in the required details and share within his/her social circle.</p>
                          <p>● &nbsp;&nbsp;A referee must use the referral code while subscribing to any plan on ShemarooMe, after successful payment, the referrer whose referral code was used will be eligible for a reward under the referral program guidelines stated by ShemarooMe </p>
                        </li>
                        <li>How to receive reward money in your registered bank account? 
                            <p>● &nbsp;&nbsp;The referrer can check the earnings by clicking on ‘My Earnings’ option. </p>
                            <p>● &nbsp;&nbsp;User must update his/her registered bank account details correctly in the profile to receive the money.  </p>
                            <p>● &nbsp;&nbsp;A self-attested copy of a PAN card linked with the registered bank account must be uploaded on the portal to complete the process. </p>
                            <p>● &nbsp;&nbsp;The money will be credited into the account within 6 to 8 business days once the process is initiated by ShemarooMe.  </p>
                            <p>● &nbsp;&nbsp;Reward money will be available for transfer weekly if the user has entered all the required details.  </p>
                        </li>
                        <li>Referral Code Usage in a different country
                            <p>● &nbsp;&nbsp;The referral codes are specific to geographic region </p>
                            <p>● &nbsp;&nbsp;Referral code generated in a specific country will only be applicable in that country. </p>
                            <p>● &nbsp;&nbsp;Referral code generated by an Indian user in India will not be applicable in the US or 
                            any other country and vice versa. </p>
                        </li>
                        <li>Reward Money transfer weekly proces
                            <p>● &nbsp;&nbsp;ShemarooMe will initiate money transfer weekly once the customer has earned a minimum amount of INR 100.  </p>
                            <p>● &nbsp;&nbsp;User must save his/her Bank Account & PAN Card details to be able to receive reward money.  </p>
                            <p>● &nbsp;&nbsp;It will take 6 to 8 days for the money to reflect in one’s bank account after the payout is processed by end of the week. </p>
                            <p>● &nbsp;&nbsp;A user must earn a minimum of INR 100 as reward money to be able eligible for auto money transfer.  </p>
                        </li>
                        <li>Delays related to reward money transfer 
                            <p>● &nbsp;&nbsp;ShemarooMe will initiate money transfer only if the user has earned a minimum of INR 100.  </p>
                            <p>● &nbsp;&nbsp;User will be solely responsible for any mistakes committed while filling the registered bank account details. Hence, the user must enter the registered bank account details carefully. </p>
                            <p>● &nbsp;&nbsp;In case of any discrepancies related to the payout of the reward money, ShemarooMe cannot be held responsible. </p>
                            <p>● &nbsp;&nbsp;User must resolve the issue with the concerned registered bank on one’s own. </p>
                        </li>
                        <li><p>Referral code once generated will not have any expiry date but will be invalid in case of discontinuation of the referral program.  </p></li>
                        <li><p>Referral rewards and the discount percentage is subject to change as and when required. In such a case, ShemarooMe is not liable to send any prior notification.   </p></li> 
                        <li><p>ShemarooMe reserves its sole right to change offer terms or stop the offer without any prior notice to customers. </p></li>
                        <li><p>This offer is valid for Android & Web User. For iOS users kindly refer the FAQs to know the process.  </p></li>
                      </ol>
                      <p class="margin-top-30">In case of any queries, write to us at <span><a href="mailto:support@shemaroome.com"><u><i>support@shemaroome.com</i></u></a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%else%>
<!-- Term of Use Non India Region -->
<div class="static-mobile-page padding-top-80 padding-top-60">
    <section class="onboarding-bg onboarding-bg-min-height min-height-div">
        <div class="static-container static-container-web margin-bottom-30">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
                <h2 class="block margin-bottom-10">Terms & Conditions</h2>
                <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0"><ol type="1">
                        <li><p>Your friend gets a discount on selected plans available on ShemarooMe platform during the time of purchase based on the current offer mentioned on the referral page. </p>
                          <p>You will receive a reward payout which is 20% of the transaction value received by ShemarooMe. </p></li>
                        <li>How to participate?
                          <p>● &nbsp;&nbsp;One must successfully register/sign up on ShemarooMe platform to be a part of the referral program. </p>
                          <p>● &nbsp;&nbsp;Registered subscriber must complete the process of generating a personalised referral code by filling in the required details and share within his/her social circle.</p>
                          <p>● &nbsp;&nbsp;A referee must use the referral code while subscribing to any plan on ShemarooMe, after successful payment, the referrer whose referral code was used will be eligible for a reward under the referral program guidelines stated by ShemarooMe </p>
                        </li>
                        <li>How to receive reward money in your registered account? 
                            <p>● &nbsp;&nbsp;The referrer can check the earnings by clicking on ‘My Earnings’ option and raise a withdrawal request for transferring money into his/her registered account.</p>
                            <p>● &nbsp;&nbsp;User must update his/her registered account details correctly in the profile to receive the money after raising a withdrawal request on ShemarooMe. </p><!-- 
                            <p>● &nbsp;&nbsp;If the reward payout for the financial pay out exceeds $600, a self-attested copy of a W9 Form of the individual must be uploaded on the portal.  </p> -->
                            <p>● &nbsp;&nbsp;The money will be credited into the account within 6-8 business days after raising a withdrawal request on the portal successfully. </p>
                            <p>● &nbsp;&nbsp;Reward money will be available for transfer on wwekly interval. </p>
                        </li>
                        <li>Referral Code Usage in a different country
                            <p>● &nbsp;&nbsp;The referral codes are a specific to a geographic region  </p>
                            <p>● &nbsp;&nbsp;Referral code generated in a specific country will only be applicable in that country. </p>
                            <p>● &nbsp;&nbsp;Referral code generated by an Indian user in India will not be applicable in the US or any other country and vice versa. </p>
                        </li>
                        <li>Requirements for reward money withdrawal request on ShemarooMe
                            <p>● &nbsp;&nbsp;Withdrawal request can be placed only <b>once</b> a month.</p>
                            <p>● &nbsp;&nbsp;User can raise a request for withdrawing reward money on and before <b>25th</b> of every month and the payout will be processed by 15th of the next month.</p>
                            <p>● &nbsp;&nbsp;A user must earn a minimum of USD 20 as reward money to be able to raise a withdrawal request on ShemarooMe </p>
                        </li>
                        <li>Delays related to reward money transfer 
                            <p>● &nbsp;&nbsp;ShemarooMe will initiate money transfer only after receiving the withdrawal request from the user. Minimum balance required to transfer money is USD 25. </p>
                            <p>● &nbsp;&nbsp;User will be solely responsible for any mistakes committed while filling in the registered details. Thus, the user must enter the registered account details carefully. </p>
                            <p>● &nbsp;&nbsp;In case of any discrepancies related to the pay-out of the reward money, ShemarooMe cannot be held responsible.  </p>
                        </li>
                        <li>Reward Money transfer weekly process 
                            <p>● &nbsp;&nbsp;ShemarooMe will initiate money transfer weekly once the customer has earned a minimum amount of USD 25. </p>
                            <p>● &nbsp;&nbsp;User must enter and save their PayPal address correctly. </p>
                            <p>● &nbsp;&nbsp;It will take 6 to 8 days for the money to reflect in one’s PayPal account after the payout is processed by end of the week.</p>
                            <p>● &nbsp;&nbsp;A user must earn a minimum of USD 25 as reward money to be able eligible for auto money transfer. </p>
                        </li>
                        <li><p>Referral code once generated will not have any expiry date but will be invalid in case of discontinuation of the referral program. </p></li>
                        <li><p>Referral rewards and the discount percentage is subject to change as and when required. In such a case, ShemarooMe is not liable to send any prior notification. </p></li> 
                        <li><p>ShemarooMe reserves its sole right to change offer terms or stop the offer without any prior notice to customers.  </p></li>
                        <li><p>This offer is valid on Android and Web.</p></li>
                      </ol>
                      <p class="margin-top-30">In case of any queries, write to us at <span><a href="mailto:support@shemaroome.com"><u><i>support@shemaroome.com</i></u></a></span></p>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>  
<%end%>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
<%=render "plans/check_valid_browser_type"%>