<div class="padding-top-80 relative-content">
	<!--div class="media_tag">
		<img src="/assets/8kmedia.png" alt="" title="">
	</div-->
  <section class="pull-left w-100" id="rehalt_page">
  	
		<div class="left-content marketing-min-height-div">
      <div class="banner-slider-wrap">
  			<h2 class="margin-top-25 title text-center font-semibold">Enjoy  Popular Bollywood movies, Bengali movies, kids, comedy and <br> <span>World Digital Premieres</span> <span>with your 3 months Free pass</span></h2>
  			<section class="slider-section margin-top-15">
          <input type="hidden" class="user_region" name="user region" value="<%=$region%>">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <div id="banner-carousel" class="owl-carousel owl-theme">
                <div class="item">                
                  <img src="assets/rehalt_offers/dedh_Ishqiya.jpg" alt="" title="">
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>
                </div>
                <div class="item">                
                  <img src="assets/rehalt_offers/dhamaal.jpg" alt="" title="">
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
                </div>
                <div class="item">                
                  <img src="assets/rehalt_offers/egaro.jpg" alt="" title="">
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p> 
                </div>
                <div class="item">                
                  <img src="assets/rehalt_offers/golmaal_fun_unlimited.jpg" alt="" title="">
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                               
                </div>
                <div class="item">                
                  <img src="assets/rehalt_offers/jab_we_met.jpg" alt="" title="">
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                 
                </div>
                <div class="item">                
                  <img src="assets/rehalt_offers/maine_pyaar_kyun_kiya.jpg" alt="" title=""> 
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
                </div> 
                <div class="item">                
                  <img src="assets/rehalt_offers/Naxaal.jpg" alt="" title=""> 
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
                </div> 
                <div class="item">                
                  <img src="assets/rehalt_offers/prem_by_chance.jpg" alt="" title=""> 
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
                </div>  
                <div class="item">                
                  <img src="assets/rehalt_offers/prem_Ratan_dhan_payo.jpg" alt="" title=""> 
                  <p class="margin-top-0 margin-bottom-0">&nbsp;</p>                                
                </div>                 
              </div>
            </div>
          </div>
        </section>  
       </div>
       <!-- <section class="marketing_feature d-block d-lg-none">
        <div class="row margin-top-25">
          <div class="col-md-4 text-center margin-top-25">
            <div class="marketing_feature_box">
              <img src="/assets/rehalt/tiles.png" alt="" title="">
              
              <p class="font-semibold margin-bottom-0 margin-top-10">Over</p>         
              <p class="font-semibold margin-top-0">4000 titles</p>
            </div>  
          </div>  
          <div class="col-md-4 text-center margin-top-25">
            <div class="marketing_feature_box">
              <img src="/assets/rehalt/channels.png" alt="" title="">
              <p class="font-semibold margin-bottom-0 margin-top-10">Curated Channels &</p>     
              <p class="font-semibold margin-top-0">Live Stream</p>               
            </div>  
          </div>  
          <div class="col-md-4 text-center margin-top-25">
            <div class="marketing_feature_box">
              <img src="/assets/rehalt/multi_device.png" alt="" title="">           
              <p class="font-semibold margin-bottom-0 margin-top-10">Multi-</p>         
              <p class="font-semibold margin-top-0">Device experience</p>
            </div>
          </div>  
        </div>
      </section> -->
    </div>
  		<div class="right-content" id="rehalt_sec">
        <div class="rightform-wrap">
    			<h5 class="font-bold text-uppercase text-center">enter your coupon code for <br>all-access 3 MONTHS FREE PASS</h5>
          
    			<div class="marketing_form pull-left w-100">
            <div class="input-group relative-content promo_box">
              <input type="text" name="name" class="form-control font-medium text-uppercase margin-bottom-30" placeholder="Enter the Coupon Code" id="rehalt_coupon_code">
              <a href="javascript:void(0);" id="rehalt_apply_promo_code" class="text-uppercase font-size3 font-bold">Apply</a>          
              <label class="error" id="rehalt_signup_user_promo_error">Sorry, this Coupon Code is Invalid</label>
              <label class="error" id="signup_rehalt_coupon_code_error">This field is mandatory</label>
             <input type="hidden" value="" id="rehalt_coupon_id">
            </div>
            <p class="coupon-invalid-error dont_have_coupon">Don't have coupon code? Register for 7 day free trial</p>
            <div class="w-100 all_error" style="margin-top: 6px">
              <label class="error" id="signup_rehalt_resp_error_msg">Invalid Credentials</label>
            </div>
    				<div class="input-group margin-top-5">
    					<input type="text" id="rehalt_user_name" name="name" class="form-control">
    					<i class="fa fa-star" aria-hidden="true"></i>
              <span class="input-label">Name</span>
              <label class="error" id="signup_rehalt_user_name_error">This field is mandatory</label>
    				</div>
    				<div class="input-group">	
    					<input type="email" id="rehalt_user_email" name="email" class="form-control">
    					<i class="fa fa-star" aria-hidden="true"></i>
              <span class="input-label">Email ID</span>
              <label class="error" id="signup_rehalt_user_email_error">This field is mandatory</label>
    				</div>
    				<div class="input-group pwd hide_password_group">	
    					<input type="password" id="rehalt_password" name="password" class="form-control">
    					<i class="fa fa-star" aria-hidden="true"></i>
              <span class="input-label">Password</span>
              <label class="error" id="signup_rehalt_password_error">This field is mandatory</label>
    				</div>
    				<div class="input-group cpwd12 hide_password_group">	
    					<input type="password" id="rehalt_confirm_password" name="cpassword" class="form-control">  					
    					<i class="fa fa-star" aria-hidden="true"></i>
    	        <span class="input-label">Confirm Password</span>
              <label class="error" id="signup_rehalt_confirm_password_error">This field is mandatory</label>
    				</div>
            <!--div class="input-group margin-bottom-25">  
              <a href="javascript:void(0);" class="text-uppercase font-size3 font-semibold w-100">Have a gift card code?</a>
              <p class="margin-bottom-0" id="promo_txt">
                <label class="font-regular shemaroo-color1 font-size3">Applied Code&nbsp;&nbsp; 
                  <span class="text-uppercase font-bold shemaroo-color4">rehalt20</span>
                </label>
                <img src="/assets/close.svg" class="promo_close" alt="" title="">
              </p>
            </div-->
            
            <!--div class="w-100 font-semibold shemaroo-color1 font-size3 margin-bottom-15">Apply code for one month of free entertainment</div-->
    				<!-- <div class="input-group margin-bottom-25">	
    					<a href="javascript:void(0);" class="text-uppercase font-size3 font-semibold w-100">Have a promo code?</a>
              <p class="margin-bottom-0" id="promo_txt">
                <label class="font-regular shemaroo-color1 font-size3">Applied Code&nbsp;&nbsp; 
                  <span class="text-uppercase font-bold shemaroo-color4">rehalt20</span>
                </label>
                <img src="/assets/close.svg" class="promo_close" alt="" title="">
              </p>
    				</div>
    				<div class="input-group relative-content promo_box">
    					<input type="text" name="name" class="form-control font-medium text-uppercase" placeholder="Enter Promo Code">
    					<a href="javascript:void(0);" id="apply_promo_code" class="text-uppercase font-size3 font-bold">Apply</a>          
              <label class="error" id="signup_user_promo_error">Sorry, this Promo Code is Invalid</label>

    				</div> -->
    				<div class="input-group custom-controls-stacked d-block margin-bottom-10">
              <label class="custom-control overflow-checkbox">
                <input type="checkbox" class="overflow-control-input" checked id="rehalt_agree_terms">
                <span class="overflow-control-indicator"></span>
                <span class="overflow-control-description font-semibold w-100">I am over 18, and I agree to the <a href="/terms-and-conditions" class="font-semibold" target="blank">Terms of Use </a>and <a href="/privacy-policy" class="font-semibold" target="blank">Privacy Policy</a></span>
              </label>
              <label class="error" id="terms_check">Please check the terms of use</label> 
            </div>
    				
    				<div class="input-group center-align-content">
    					<button type="button" id="rehalt_user_register" class="text-uppercase margin-top-5 margin-bottom-15" style="cursor: pointer;">start free trial</button>
    					<!-- <p class="font-size3 font-medium text-center margin-bottom-0 w-100" id="already-txt">Already have an account? <a href="javascript:void(0)" class="font-bold" id="usr_login_link">Login</a></p> -->
    				</div>
    			</div>
        </div>
  		</div>
      
    
    <!-- <section class="marketing_feature d-none d-lg-block">
      <div class="row margin-top-25">
        <div class="col-md-4 text-center margin-top-25">
          <div class="marketing_feature_box">
            <img src="/assets/rehalt/tiles.png" alt="" title="">
            
            <p class="font-semibold margin-bottom-0 margin-top-10">Over</p>         
            <p class="font-semibold margin-top-0">4000 titles</p>
          </div>  
        </div>  
        <div class="col-md-4 text-center margin-top-25">
          <div class="marketing_feature_box">
            <img src="/assets/rehalt/channels.png" alt="" title="">
            <p class="font-semibold margin-bottom-0 margin-top-10">Curated Channels &</p>     
            <p class="font-semibold margin-top-0">Live Stream</p>               
          </div>  
        </div>  
        <div class="col-md-4 text-center margin-top-25">
          <div class="marketing_feature_box">
            <img src="/assets/rehalt/multi_device.png" alt="" title="">           
            <p class="font-semibold margin-bottom-0 margin-top-10">Multi-</p>         
            <p class="font-semibold margin-top-0">Device experience</p>
          </div>
        </div>  
      </div>
    </section> -->
	</section>


<div class="modal" id="plan_act_pop">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <p class="normal_txt margin-bottom-20" id="rehal_cong">Congratulations you have successfully availed 3 months free offer for ShemarooMe. To watch free content please download the application from below link.<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
              <p class="normal_txt margin-bottom-20" id="rehal_link" style="display:none;"><a href="https://shemaroome.app.link/OynPfzIn04" target="_blank">https://shemaroome.app.link/OynPfzIn04</a></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm">ok</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
      </div>

      <div class="modal" id="download_app_pop" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body relative-content">              
              <img src="/assets/cancel_search.svg" class="close_pop" alt="" title="" id="rehalt_cls" style="cursor: pointer;"> 
              <p class="normal_txt pull-left w-100 margin-top-20 margin-bottom-20 text-center" id="rehal_cong">Congratulations you have successfully availed 3 months free offer for ShemarooMe. To watch free content please download the ShemarooMe app from the links below</p>
              <div class="pull-left w-100 center-align-content margin-bottom-15">
                <a href="https://itunes.apple.com/app/apple-store/id1439041310?pt=2089066&ct=Web%20Campaign&mt=8" target="_blank" class="margin-left-5 margin-right-5"><img src="/assets/app_store.svg" alt="ios play store" title="ios play store"></a>
                <a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank" class="margin-left-10 margin-right-10"><img src="/assets/google_play.svg" alt="google play store" title="google play store"></a>              
              </div>  
            </div>      
          </div>
        </div>
      </div>

   <div class="toster-message-wrap" id="rehalt_toster">
        <div class="center-align-content">
          <div class="toster-message app-d-flex hv-center">
            <img src="/assets/password_updated.svg">
            <p id="rehalt_toster_message">
              
            </p>
          </div>
        </div>
      </div> 
	<%=render "layouts/page_height_setting"%>
</div>


   


<script>
	$("#with_header_tabs").hide();
$(document).ready(function(){
var user_region = $(".user_region").val();
var rehalt_url = window.location.pathname.split("/")[1]
if($.cookie("user_id") != undefined){
  window.location = "/"
}

  $("#without_header_tabs").show();
  /*$(".media_tag").css({"left":$(".marketing_page").offset().left - 26 });
  if(window.outerWidth <  1200 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 27 });
  }
  if(window.outerWidth <  470 ) {
    $(".media_tag").css({"left":$(".marketing_page").offset().left - 22 });
  }*/
  if(window.outerHeight > 950 ) {
  	$(".right-content").css({'min-height': $(".left-content").height()});
	}
  if(window.outerHeight < 950 && window.outerWidth > 991) {
    $(".left-content").css({'min-height': $(".right-content").height()}+'!important');
  }
  var navigation = [
      '<span aria-label="' + 'Previous' + '"><img src="/assets/left_arrow.png" alt="" title=""></span>',
      '<span aria-label="' + 'Next' + '"><img src="/assets/right_arrow.png" alt="" title=""></span>'
    ];

  $('#banner-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,
    navText: navigation,
    dots: true,
    responsive:{
      0:{
          items:1,
          stagePadding: 20,
          margin:10,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });


  $('#mobile-content-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,
    smartSpeed: 1200,
    nav:true,    
    dots: false,
    responsive:{
      0:{
          items:1,
          stagePadding: 40,
      },
      576:{
          items:1,
          stagePadding: 100,
      },
      768:{
          items:1,
          stagePadding: 140,
      },
      992:{
          items:1,
          stagePadding: 160,
      },
      1200:{
          items:1,
          stagePadding: 209,
      }
    }
  });

  $("#rehalt_user_name,#rehalt_user_email,#rehalt_password,#rehalt_confirm_password,#rehalt_coupon_code").focusin(function(){
    id = $(this).attr("id");
     $("#signup_"+id+"_error").hide();    
     $("#rehalt_signup_user_promo_error").hide() 
   })
  
  $("#rehalt_user_name,#rehalt_user_email,#rehalt_password,#rehalt_confirm_password").focusout(function(){
    id = $(this).attr("id");
    val = $(this).val();
    if(!val.length){
      $("#signup_"+id+"_error").text("This field is mandatory").show();      
    }
    else{
      $("#signup_"+id+"_error").hide();
      if(id == "rehalt_user_email"){
        var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if(!regex_email.test($("#rehalt_user_email").val())){
          $("#signup_rehalt_user_email_error").text("Please enter a valid email address").show();         
        }
      }
      else if(id == "rehalt_password"){
        $("#signup_"+id+"_error").hide();
        if($("#rehalt_password").val().length < 6){
          $("#signup_rehalt_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
      }
      else if(id == "rehalt_confirm_password"){
        $("#signup_"+id+"_error").hide();
        if($("#rehalt_confirm_password").val().length < 6){
          $("#signup_rehalt_confirm_password_error").text("Minimum length of 6 characters is mandatory").show();          
        }
        else if(($("#rehalt_password").val().length < 6 ) ||  (!$("#rehalt_password").val().length)){
          $("#signup_rehalt_confirm_password_error").hide();          
        }
        else if($("#rehalt_password").val() != $("#rehalt_confirm_password").val()){
          $("#signup_rehalt_confirm_password_error").text("Passwords do not match").show();          
        }
      }
    }
  });

  if($('#rehalt_user_name').val().length) {
      //$("#user_email").parents(".input-group").children('.fa-star').hide();
    $('#rehalt_user_name').css({"padding":"5px"});
    $("#rehalt_user_name").parents(".input-group").children('.fa-star').css({"top":"-10px","left":"0px"}).show();
    $("#rehalt_user_name").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#rehalt_user_name').css({"padding":"5px 5px 5px 10px"});
    $("#rehalt_user_name").parents(".input-group").children('.fa-star').css({"top":"11px","left":"0px"});
    $("#rehalt_user_name").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }
  if($('#rehalt_user_email').val().length) {
    //$("#user_email").parents(".input-group").children('.fa-star').hide();
    $('#rehalt_user_email').css({"padding":"5px"});
    $("#rehalt_user_email").parents(".input-group").children('.fa-star').css({"top":"-10px","left":"0px"}).show();
    $("#rehalt_user_email").nextAll(".input-group .input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});        
  }
  else {
    $('#rehalt_user_email').css({"padding":"5px 5px 5px 10px"});
    $("#rehalt_user_email").parents(".input-group").children('.fa-star').css({"top":"11px","left":"0px"});
    $("#rehalt_user_email").nextAll(".input-group .input-label").css({"top":"8px","left":"10px"});          
  }


 $("#rehalt_cls").click(function(){
  $("#download_app_pop").modal("hide");
 })

});
</script>