<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
  <%=stylesheet_link_tag 'application', media: 'all' %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>

<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
</head>
<script src="/node_modules/apxor/dist/apxor.min.js"></script>
 <script type="text/javascript">
   Apxor.init('e170a9513966fbdcde03486d8fa8383e', {});
 </script>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<style type="text/css">
header{
  background: none;
}
</style>
<body>
  
  <div class="float-left w-100 shemaroome_classic_page">

    <div class="static-container1">
      <!-- <header class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- text-center mt-3 mb-2">
        <img src="/assets/shemaroo_logo.svg" alt="" title="">
      </header> -->
      <section class="">
        <div class="float-left w-100 mb-2 relative-content">
          <img src="/assets/classic/desktop_banner.jpg" id="banner-img" class="img-fluid d-none d-sm-block" alt="" title="">
          <img src="/assets/classic/mobile_banner.jpg" class="img-fluid d-block d-sm-none" alt="" title="">     
          <div class="banner-content w-100 app-d-flex flex-column hv-center">
            <p class="font-medium">India’s only video on demand destination dedicated to classic cinema lovers.</p>
            <p class="font-bold text-uppercase">A perfect gift for your loved ones.</p>
          </div>
        </div>
    
        <div class="row-three-box">
          <div class="float-left w-100 classic-box three-box">
            <div class="classic-icon-box">
              <div class="app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_classicfilms.png" alt="" title="">
                <p class="font-bold text-uppercase">Classic Films</p>
              </div>  
            </div>
            <div class="classic-icon-box">
              <div class="app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_music.png" alt="" title="">
                <p class="font-bold text-uppercase">Music Videos</p>
              </div>
            </div>
            <div class="classic-icon-box">
              <div class="app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_talkshows.png" alt="" title="">
                <p class="font-bold text-uppercase">Talk - Shows</p>
              </div>
            </div>
          </div>
        </div>
        <div class="float-left w-100 classic-box device-box bg-color">
          <h1 class="float-left w-100 text-center font-bold text-uppercase">About ShemarooMe Classic</h1>
          <p class="text-center font-medium">Welcome to the home of Bollywood Classics. ShemarooMe brings to you best of the evergreen period - from the 50s to the 80s, from Guru Dutt to Dev Anand to Big B, we have got it all covered. Enjoy an array of movies, music videos and interviews in any screen of your choice.</p>
          <img src="/assets/classic/device.png" class="img-fluid" alt="" title=""> 
        </div>
        <div class="float-left w-100 classic-box">
          <h1 class="float-left w-100 text-center font-bold text-uppercase">Relive the classic era with our delightful features</h1>
          <div class="float-left w-100 relive-box">
            <div class="relive-box-left">
              <div class="float-left w-100">
                <label class="font-bold">Discovery</label>
                <p class="font-medium">Easy search on your fingertips.</p>  
              </div>
              <div class="float-left w-100">
                <label class="font-bold">Curation</label>
                <p class="font-medium">Collection designed to your taste.</p>  
              </div>
              <div class="float-left w-100">
                <label class="font-bold">Convenience</label>
                <p class="font-medium">2 step activation and AD free experience</p>  
              </div>
              <div class="float-left w-100">
                <label class="font-bold">Quality</label>
                <p class="font-medium">Best viewing experience</p>  
              </div>
            </div>
            <div class="relive-box-right">
              <div class="relive-icon-box app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_easysearch.png" alt="" title="">
                <p class="font-medium text-uppercase">Easy Search</p>
              </div>
              <div class="relive-icon-box app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_adfree.png" alt="" title
                ="">
                <p class="font-medium text-uppercase">Ad - Free</p>
              </div>
              <div class="relive-icon-box app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_handpicked.png" alt="" 
                title="">
                <p class="font-medium text-uppercase">Handpicked</p>
              </div>
              <div class="relive-icon-box app-d-flex hv-center flex-column">
                <img src="/assets/classic/icon_beststandards.png" alt="" title="">
                <p class="font-medium text-uppercase">Best Standards</p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="float-left w-100 classic-box under-stand-box bg-color">
          <h1 class="float-left w-100 text-center font-bold text-uppercase">We understand you</h1>
          <p class="float-left w-100 text-center mb-1 font-medium">It’s time for nostalgia. It’s time for connections.</p>
        </div>
        <div class="float-left w-100 classic-box thumb-right-box">
          <div class="masthead-card">
            <div class="image-holder">
              <div class="imageloader loaded">
                <img src="/assets/classic/thumb1_desktop.jpg" class="img-fluid d-none d-sm-block">
                <img src="/assets/classic/thumb1_mobile.jpg" class="img-fluid d-block d-sm-none">
              </div>              
            </div>
            <div class="image-gradient"></div>
            <div class="masthead-data">
              <div class="slider-caption non-subs-caption">
                <div class="content-holder">
                  <div class="description font-medium">Gift your parents a service they will love. An annual subscription of ShemarooMe Bollywood Classics which they can enjoy with you or on their own.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="float-left w-100 classic-box thumb-left-box">
          <div class="masthead-card">
            <div class="image-holder">
              <div class="imageloader loaded">
                <img src="/assets/classic/thumb2.jpg" alt="" title="">
              </div>              
            </div>
            <div class="image-gradient"></div>
            <div class="masthead-data">
              <div class="slider-caption non-subs-caption">
                <div class="content-holder">
                  <div class="description font-medium">Watch all your yesteryear favourites, handpicked in a single destination. Lazy afternoons or family evenings, an annual subscription of ShemarooMe Bollywood Classic for you and your loved ones.</div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="float-left w-100 classic-box planboxwrap">
          <h1 class="float-left w-100 text-center font-bold text-uppercase">How do you get started?</h1>
          <div class="planbox planbox1">
            <p class="font-medium text-center">Subscribe to ShemarooMe Bollywood Classic</p>
            <div class="float-left w-100 app-d-flex h-center">
              <a href="/plans" class="font-bold mb-3">Yearly Plan INR 499</a>
            </div>
            <div class="float-left w-100 app-d-flex h-center">
              <a href="/plans" class="font-bold mb-2">Two Yearly Plan INR 899</a>
            </div>
          </div>
          <div class="planbox planbox2">
            <p class="font-medium text-center">Subscribe to ShemarooMe Premium (Bollywood Classics, Bollywood Premieres, TV shows, Devotional content, Regional content and Kids entertainment)</p>
            <div class="float-left w-100 app-d-flex h-center">
              <a href="/plans" class="font-bold mb-1">Yearly Plan INR 749</a>
            </div>  
          </div>
          <div class="float-left w-100 bottomcon">
            <p class="font-medium text-center">Once subscribed, follow a simple 2 step activation:</p>
            <h2 class="text-center">For Yourself</h2>
            <p class="font-medium text-center">Log into the app or on to the website. Register and start watching.</p>
            <h2 class="text-center">For Your Parents</h2>
            <p class="font-medium text-center">Log into the app or on to the website. Register and you can send across a sms & a whatsapp message to your loved ones with a link. All they need to do is tap on the link and start watching.</p>
            <!-- <div class="float-left w-100 footer-classic-bottom-wrap">
              <div class="float-left w-100 footer-classic-bottom app-d-flex hv-center flex-column bg-color">
                <p class="float-left w-100 text-center text-uppercase font-bold">jab marzi tab ClassiC</p>
                <p class="float-left w-100 text-center font-medium">Discover more and more</p>
                <a href="/plans" class="font-bold mb-1">Tap here to begin</a>
              </div>  
            </div> -->
            <h2 class="text-uppercase text-center">Join the chatter about Bollywood classics on our social media</h2>
          </div>  
          <div class="float-left w-100 app-d-flex h-center mt-1  social-wrap">
            <a href="https://www.instagram.com/shemaroome/" target="_blank">
              <img src="/assets/classic/icon_instagram.svg" alt="" title="Instagram">
            </a>            
            <a href="https://www.facebook.com/ShemarooMe/" target="_blank">
              <img src="/assets/classic/icon_facebook.svg" alt="" title="Facebook">
            </a>            
          </div>
        </div>        
        
      </section>
    </div>
  </div> 
<script type="text/javascript">
  $(document).ready(function() {
     $(".header-section, .mobile-menu nav, .contest-fixed-wrapper, .mobile-menu nav ul").hide();      
     $(".mobile-menu").css("background", "none");
     if(getShemarooCookies().user_id){
      //window.location = "/"
      $("#sso_mobile_login_pop2").modal("hide");
      localStorage.removeItem("user_mob_map_st")
      localStorage.removeItem("offer_couponcode_message")
   var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_name' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'profile_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profiles' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'is_parent_control' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'pin' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_profile_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   document.cookie = 'user_actv_sub_status' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

  }); 

  

     </script>

     
</body>

