<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<!-- India Region -->
<div class="static-mobile-page padding-top-80 padding-top-60">
  <section class="onboarding-bg onboarding-bg-min-height min-height-div">
    <div class="static-container static-container-web margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20 desktop-margin-top-15">
          <h2 class="block margin-bottom-10">DocsApp offers</h2>
          <div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">
              <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Offering 1: Access to DocsApp silver Membership worth Rs 999 @ just Rs 1</p></b>
              <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">DocsApp Silver includes the following benefits:</p></b>
              <ul>
                <li>Unlimited Free Online Consultations with MD & MBBS specialist Doctors.</li>
                 <li>Free for you and your family members.</li>
                  <li>Consult Doctors across 20+ specialties.</li>
                   <li>Valid for 1 month from the activation date.</li>
                    <li>Pricing: Rs 999.</li>
              </ul>
            
              <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">  Product Link ​ <a href="https://rb.docsapp.in/shemaroo">https://rb.docsapp.in/shemaroo </a>
              </p></b>

<b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Steps to Redeem Coupon:</p></b>
              <ul style="list-style: none;">
                <li><b class="doc_bold">Step 1: </b> ​   Download the DocsApp app by ​ <a href="http://m.docsapp.in">clicking here​ </a>or visit: http://m.docsapp.in </li>
                 <li><b class="doc_bold">Step 2:</b> ​ ​ After Signup/Login, Buy Gold and select 1-month unlimited free consultation.</li>
                  <li><b class="doc_bold">Step 3:</b> ​ ​ Apply the coupon code in the next step and get DocsApp Silver membership at just Rs 1.</li>
                  <li>​<b class="doc_bold">Step 4:</b> ​ ​ Click on Pay now and your DocsApp Silver, membership will be activated. Once activated, you can start taking consultations for free for the next month.</li>
              </ul>
           <p class="block pull-left w-100 margin-bottom-15 doc_font_size ">Please Note: Users, who are already the DocsApp users, can apply the code and
upgrade to DocsApp Gold(12 months) membership by paying just Rs 1000.</p>
             <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Terms & Conditions:</p></b>
              <ul>
                <li>Coupon code applicable once per user new DocsApp user.</li>
                 <li>This offer cannot be clubbed with any other ongoing offer.</li>
                  <li>For any offer related issues, the customers have to reach out to DocsApp customer support.</li>
                   <li>Coupon code valid till June 30th.</li>
              </ul>
                     <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Offering 2: Complimentary Online Doctor Consultation across 20+ specialties @ Just Rs 1</p></b>
            <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">  Product Link ​ <a href="https://rb.docsapp.in/shemaroo">https://rb.docsapp.in/shemaroo</a>
              </p></b>
              <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Steps to Redeem:</p></b>
              <ul style="list-style: none;">
                  <li><b class="doc_bold">Step 1:</b> ​ ​ Download the DocsApp app by ​<a href="http://m.docsapp.in">clicking here​ </a>or visit: http://m.docsapp.in </li>
                  <li><b class="doc_bold">Step 2:</b> ​ ​ ​Click on Talk to Doctor and mention your concern.</li>
                  <li><b class="doc_bold">Step 3:</b> ​ ​ ​Answer the question asked by Doctor assistant and when asked for payment, apply the
                  coupon code received by removing SAVE100 and get a 100% discount on the Doctor
                  consultation.</li>
                  <li>​<b class="doc_bold">Step 4:</b> ​ ​ ​Click on proceed and your consultation will start.</li>
              </ul>

              <b><p class="block pull-left w-100 margin-bottom-15 doc_font_size doc_bold">Terms & Conditions:</p></b>
              <ul>
                <li>Coupon code applicable once per user.</li>
                 <li>This offer cannot be clubbed with any other ongoing offer.</li>
                  <li>For any offer related issues, the customers have to reach out to DocsApp customer support.</li>
                   <li>Coupon code valid till June 30th.</li>
              </ul>


          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
<script type="text/javascript">
  $(document).ready(function(){
    if(getShemarooCookies().mobile_browser_type == "android") {
        $('.header-section, .footer-section, .ft_sec').hide();
      $("body").css('background-color', '#f2f2f2');
      $('.onboarding-bg').removeClass('padding-top-80 padding-top-135 padding-top-100 padding-top-70');     
      $('.static-mobile-page').removeClass('padding-top-80 padding-top-60').addClass("mobile-padding-top-15");
    }
  
  })

</script>