<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
     <meta property="og:title" content="Shemaroo"  />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="http://shemaroome.com/assets/shemaroo_logo.svg" />
      <meta property="og:url" content="http://shemaroome.com/" />
      <meta property="og:description" content="Shemaroo Entertainmenent" />
      <meta property="fb:app_id" content="1963321883746360"/>
      <link rel="canonical" href="http://shemaroome.com/" />
     <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Shemaroo Entertainment Limited</title>
<meta name="description" content="Shemaroo" />
<meta name="keywords" content="Shemaroo" />
  <%=stylesheet_link_tag 'application', media: 'all' %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>
</head>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<body>
  <div class="static-page1">
    <div class="static-container1">
      <div class="float-left w-100 header-banner">
        <img src="/assets/w_banner.png" class="img-fluid d-none d-sm-block" alt="" title="">
        <img src="/assets/m_banner.png" class="img-fluid d-block d-sm-none" alt="" title="">
      </div>
      <div class="float-left w-100 content padding-bottom-10">
        <div class="left-sec-content">
          <div class="app-d-flex h-center">
            <img src="/assets/gujrati_samjh_logo.png" class="mt-2 mb-2" alt="" title="">
          </div>
        </div>
        <div class="right-sec-content d-none d-sm-block">
          &nbsp;
        </div>      
        <div class="left-sec-content">
          <div class="float-left w-100 form-wrap">
            <div class="form-group">      
              <input type="email" class="form-control" id="hung_email" name="email" placeholder="* Email ID">
              <label class="error" id="hunga_email_error">This field is mandatory</label>
            </div>
            <div class="form-group">      
              <input type="password" class="form-control" id="hung_password" name="password" placeholder="* Password">
              <label class="error" id="hunga_pwd_error">This field is mandatory</label>
            </div>
            <div class="form-group">      
              <input type="password" class="form-control" id="hung_cpassword" name="cpassword" placeholder="* Confirm Password">
              <label class="error" id="hunga_cpwd_error">This field is mandatory</label>
            </div>
            <div class="form-group w-100 app-d-flex h-center">      
              <a href="javascript:void(0);" class="btn" id="hung_sub">Register</a>
            </div>
            <div class="form-group">      
              <input type="text" class="form-control" id="hung_coupon" name="coupon" placeholder="*Enter Your Coupon Code">
               <label class="error" id="valid_coupon_error">This field is mandatory</label>
            </div>
            <div class="form-group w-100 app-d-flex h-center">      
              <a href="javascript:void(0);" class="btn" id="hung_apply_coupon">Apply</a>
            </div>
            <div class="app-d-flex h-center mb-1 tnc-txt">      
              *TnC apply
            </div>
          </div>
        </div>
        <div class="right-sec-content">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          </div>  
          <a href="javascript" class="btn">Watch ShemarooMe now</a>
        </div>
      </div>
      <div class="float-left w-100 bottom-content">
        <div class="float-left w-100 bottom-content-box">
          <div class="">
            <p class="float-left w-100">-Watch Swagatam and 400+ Gujarati Movies </p>
            <p class="float-left w-100">-Gujarati Nataks</p>
            <p class="float-left w-100">-Along with this watch Free news channels</p>
          </div>
          <div>
            <p class="float-left w-100">-Devotioonal channels</p>
            <p class="float-left w-100">-Gujarati Web Series and Video songs only on ShemarooMe.</p>
          </div>
        </div>
      </div>        
    </div>    
  </div>



  <div class="modal" id="plan_act_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">              
        <p class="normal_txt margin-bottom-20">Pack Activated Successfully.<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm">ok</a>
          </p>
        </div>
      </div>      
    </div>
  </div>
</div>
<input type="hidden" id ="cup_valid_chk" value= "false" >
</body>


