<!-- Term of Use India Region -->
<% if $region == "IN" %>
<script>
  $(document).ready(function() {
	$(".fixed-top").css("box-shadow","none");
	$(".scrollmenuwrap").hide();
  });
</script>
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
				<h2 class="block margin-bottom-10"><%=get_lang_string("terms_conditions")%></h2>
				<div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-20 padding-top-30 rounded font-regular mobile_padding_0">		      
				  <p class="pull-left w-100 margin-bottom-15">
					Shemaroo Entertainment Ltd., (“SEL”, “we”, “our”, “us”) provides you with a subscription service which allows you to watch a range of diversified video and other content and services as provided, which are streamed over the internet on web enabled devices. Please read these Terms of Use along with our Privacy Policy, and all other rules and policies related to our service including any rules of usage provisions provided for any specific product or service offered by us.  

				  </p>
				  <p class="pull-left w-100 margin-bottom-15">
					These Terms of Use govern your use of our service. As used in this Terms of Use, “Service” is the personalized online service called www.shemaroome.com provided by us for recommending, reviewing, discovering and watching, using interfaces, including all the service features and functionalities and any associated mobile sites, applications, including the content as provided with our service. By creating an account, viewing content, making a purchase, downloading our software, or otherwise visiting or using our Services, you accept this Terms of Use and consent to contract with us electronically. BY ACCEPTING THESE TERMS OF USE IN ANY MANNER OR ACCESSING OUR SERVICE, YOU CONSENT, AGREE AND UNDERTAKE TO ABIDE, BE BOUND BY AND ADHERE TO THE TERMS OF USE and the Privacy Policy accessible at <b><a href="https://www.shemaroome.com/privacy-policy">https://www.shemaroome.com/privacy-policy</a></b> and any other terms which govern the Service AND IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOU ARE NOT ENTITLED TO AVAIL OF / USE THE SERVICES AND ANY USE THEREAFTER SHALL BE UNAUTHORIZED.
				  </p>
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">1. Geography</h5>
				  <p class="margin-bottom-15">
					The services offered to you will be based on your geographic location, and you shall not employ any technology to obscure or disguise your location. The content offered to you may also vary from time to time and as per your location. This will be primarily basis the geography that you have subscribed our services for, and established your account in. Due to technical and other restrictions imposed by content providers, the service is available only in certain locations. The content (including subtitled and dubbed versions of the content) and how we offer Service to you, will vary over time and by location. </p>	
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">2. Compatible Devices</h5>
				  <p class="margin-bottom-15">
					Our services can be available across various devices, platforms which have been approved by us from time to time. Subject to compatibility, you may be able to access the services through handheld devices, and other IP based connected devices or any other compatible system. <br>
					[All web browsers, mobile browsers, android, IOS, Roku, FireTV, Apple TV, all other smart phones, smart TV devices and any other smart device that may come up in the future.] 
				   </p>
				  <p class="margin-bottom-15">
					Note that we may change or update the requirements for compatibility from time to time. The compatibility of such device will then depend on the software or systems provided and maintained by such manufacturer, or other parties. In such extreme scenarios, a device which might be compatible with our services might cease to be compatible at a later point of time.
				  </p>
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">3. Service</h5>
				  <p class="padding-left-15 margin-bottom-15">
					3.1 In order to avail our services and become a member, you must be 18 years of age, or the age of majority in your territory or country. Our services may be used by a minor only under the strict supervision, guidance and control of an adult. You have the option to restrict access of the Service to children below the age of 18 years which you may exercise at your discretion. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.2 Viewing of content on our platform is only for your personal and non-commercial use and should not be shared with individuals otherwise. Subject to payment of charges and your compliance with all terms of this Terms of Use, we grant you a limited, non-exclusive, non-transferable, non-sub-licensable, limited license to access our service and view our content. We have the right to remove the content from your Compatible Device after the end of its viewing period. Except for what has been specifically provided for herein, no right, title, or interest shall be transferred to you. You also agree not to use the service for public performances.  The Service and any trademarks, logos, trade names, service marks, service names, or other distinctive features owned by us are provided "as is" and we disclaim all express and implied warranties, including warranties of noninfringement.
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.3 Our services, including our content library are regularly updated. You will have access to such content depending on the subscription plan that you have signed up for. In addition, you will from time to time have access to limited content even without subscribing to our services basis your geographic location. You can manage your subscription from the View Plans tab available in the “Me” section. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.4 You agree to use all our services, in accordance with the applicable laws, rules and regulations, or other restrictions applicable on use of the service or content therein. You further agree not to reproduce, distribute, modify, display, perform, archive, publish, license, create derivative works from, offer for sale, or use (except as expressly authorized under these Terms of Use) any content and information contained on or obtained through our service. You also agree not to: circumvent, remove, degrade, deactivate or thwart any of the contents of our service; use any robot, spider, scraper or other means to access our service. You also agree not to decompile, reverse engineer, and disassemble any software or other products or processes accessible through our service. You further agree not to insert any code or product or manipulate the content of our service in any way; or use any data mining, data gathering or extraction method. Additionally, you agree not to upload, post, e-mail or otherwise send or transmit any material designed to interrupt, destroy or limit the functionality of our service. We may terminate or restrict your use of our service if you violate these Terms of Use or engage in any illegal or fraudulent use of our service. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.5 The playback resolution or quality of the content of our service will depend on a number of factors, including the type of compatible device that you are using to access the service from, and your bandwidth, which may vary during your course of viewing. If we detect that the content you are streaming from our platform is being interrupted or otherwise does not play as intended due to bandwidth issues, we may decrease the resolution and file size of the streamed content in an effort to provide you with uninterrupted viewing experience. While we strive to provide you a high quality viewing experience, we make no guarantee as to the resolution or quality of the content you will receive when streaming, even if you have paid extra for access to high definition, ultra-high definition, or high-dynamic-range content. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.6 Any use of the information you provide to us is subject to your
					understanding and acceptance of our Privacy Policy. When You use / avail the Services or send any data, information or communication to Us, you agree and understand that you are communicating with Us through electronic media/records and you consent to receive communications via electronic records from Us periodically and as and when required. We will communicate with you by email or whatsapp or any push or other message or electronic records on the email address and or mobile number available with Us.  
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					3.7 You acknowledge and specifically give your consent to Us or our respective affiliates and partners contacting you using the contact information you have provided to us at any time during your association with us for any purpose including the following purposes, which will enable Us to deliver the Services to you and/or enhance the delivery of the Services to you:
					</p>
					<p class="padding-left-15 margin-bottom-15">
						&nbsp;&nbsp;&nbsp;a. To obtain feedback regarding the Service;
					</p>
					<p class="padding-left-15 margin-bottom-15">
						&nbsp;&nbsp;&nbsp;b. To contact you for offering new products or services, whether offered by us, or our respective affiliates or partners; 			
					</p> 
				  <p class="padding-left-15 margin-bottom-15">
					3.8 To find more information about our service and its features or if you need assistance with your account, please read the Frequently Asked Questions (FAQ) section and for further assistance kindly Contact Us on the details available on this website/application.  
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
					3.9 We will send you information pertaining to your account (e.g. payment authorizations, payment method, subscription plans, and notices) in electronic form only, for example via e-mails to your registered e-mail address as per our records.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
					3.10 You may not (i) transfer, copy or display the content, except as permitted; (ii) sell, rent, lease, distribute, or broadcast any right to the content; (iii) attempt to disable, bypass, modify, defeat, or otherwise circumvent any digital rights management or other content protection system used as part of the Service; or (v) use the Service or content for any commercial or illegal purpose.  
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
					3.11 We may categorize and classify certain content and provide disclaimers with respect to the content, for viewers to choose such content for viewing. Some content offered on the site may not be suitable for some viewers and therefore viewer discretion is advised. Also, some content offered on the site may not be appropriate for viewership by children. Parents and/or legal guardians are advised to comply with applicable laws and exercise discretion before allowing their children and/or wards to access content on this website. We may display a content descriptor or guidance message that indicates and informs the viewer about age-inappropriate content for minors. Your access to and use of the Services is subject to these terms and Conditions, Privacy Policy and all applicable laws, rules, and regulations. By granting your child permission to use the Services through your account or view the content, you agree and understand that you are responsible for monitoring and supervising your child's usage.
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
				  3.12 We reserves the right solely at our discretion to modify, suspend, or discontinue the Service, or any part of the Service, at any time and without notice (except as required by applicable law). 
					</p>
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">4. Subscription</h5>
				  <p class="padding-left-15 margin-bottom-15">
					4.1 To use our services you will have to have internet access, and a web enabled compatible device, and become a member. Your membership will continue for the duration as mentioned at the point of purchase in your experience of our app/website. Any free trial period shall also be communicated in the said experience and shall be applied accordingly. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					4.2 For your membership and subscription, once you have chosen a subscription plan, you will have to provide us with one or more payment methods. “Payment method” means a current, valid, accepted method of payment, as may be updated by you from time to time, and which will also include payment made from your account in conjunction with a third party.
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					4.3 We may change our subscription plans and the pricing of our service from time to time. However, any changes to the pricing or the subscription plans may be intimated to you. A change in your subscription plan shall only be effective immediately. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">5. Payment and Termination</h5>		      	
				  <p class="padding-left-15 margin-bottom-15">
					5.1 The membership fee for our service and any other charges you may incur in connection with your use of the service, such as taxes and other processing charges, will be charged basis the periodicity of your subscription. You can visit our website and click on the Account details link for further information on payment history. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					5.2 You remain responsible for any uncollected amounts pertaining to your subscription. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees with additional transactional costs, you have to check with your Payment Method service provider for such details.
				  </p>	
				  <h5 class="padding-left-15 font-semibold">6. Cancellation</h5>	
				  <p class="padding-left-15 margin-bottom-15">
					6.1 Unless you have cancelled your membership, you authorize us to charge your subsequent period’s membership fee to your Payment method, on an auto renewal basis unless otherwise opted out. 
				  </p>
				  <!--p class="padding-left-15 margin-bottom-15">
					6.2 You can cancel your membership at any point of time, and you will continue to have access to our services through to the end of your current subscription billing period.
				  </p-->
				  <p class="padding-left-15 margin-bottom-15">
					6.2 You can cancel your membership at any time, and you will continue to have access to our service through the end of your billing period. To the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial-month membership periods or unwatched content. You can go to your “View Plans” page and follow further instructions to cancel subscription to our services. If you cancel your subscription, it will come to an end automatically at the end of the billing period. In the event, where you have used third party services to create an account with us, or use our services, you will have to check your settings on such third party services to ensure that your subscription is cancelled. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">7. Warranties and Limitations </h5>
				  <p class="padding-left-15 margin-bottom-15">
					You agree that your access to the platform and our services is at your own discretion. Our service to you is provided “as is” and is without any warranty or condition, expressed or implied. Without limitation, we do not make any warranties of fitness for any error-free and uninterrupted services. However, these terms will not limit any warranties which may not be waived, or any other consumer rights which you may be entitled to under the laws of your country of residence.
				  </p>
				  <h5 class="padding-left-15 font-semibold">8. Governing Law </h5>
				  <p class="padding-left-15 margin-bottom-15">
					These Terms of Use shall be governed by the laws of India, without regards to any conflict of law provisions, and for resolution of any dispute arising out of your use of the services. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">9. Severability </h5>
				  <p class="padding-left-15 margin-bottom-15">
					If any provision or provisions of these Terms of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">10. Liability </h5>
				  <p class="padding-left-15 margin-bottom-15">
					To the maximum extent permitted by applicable law, SEL shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the services; (ii) any conduct or content of any third party on the services, including without limitation, any defamatory, offensive or illegal conduct of other users or third parties; (iii) any content obtained from the services; or (iv) unauthorized access, use or alteration of your transmissions or content. Without limiting the warranties and limitations herein in no event shall our, our content providers’ and our sub-contractors’ total liability to you for any and all damages arising out of or related to your use or inability to use the Service shall not exceed the amount you paid to us over the past 6 months of your claim for damages. The limitations in this section will apply to even if the remedies fail of their essential purpose. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">11. Changes to Terms of Use and Assignment </h5>
				  <p class="padding-left-15 margin-bottom-15">
					We may from time to time change these Terms of Use and it is recommended you stay updated with the same. We may assign or transfer our agreement with you including our associated rights and obligations at any time and you agree to cooperate with us in connection with such an assignment or transfer. Your continued use of the services will be deemed to constitute your acceptance of all of such revised terms. 
				  </p>
				  <h5 class="padding-left-15 font-semibold">12. Display & Video Ads on ShemarooMe Platform </h5>
				  <p class="padding-left-15 margin-bottom-15">
					A registered user subscribed to ShemarooMe Premium Plan (All Access) for any duration, the said user can view exclusive, unlimited, ad-free content (both video ads & display ads) for the purchased plan and get the best ShemarooMe experience. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					A registered user subscribed to a category plan other than ShemarooMe Premium Plan for any duration the said user can view exclusive, unlimited, ad-free content (video ads) for the purchased plan of the same category. The said user will continue seeing the display ads on the platform. These display ads will not alter or interrupt the video streaming experience.
				  </p>
				  <h5 class="margin-bottom-5 margin-top-0 font-semibold">13. ShemarooMe Box Office </h5>
				  <p class="padding-left-15 margin-bottom-15">
					SEL allows you to view certain premium content in exchange for a fee (“ShemarooMe Box Office Services/Content”). Your transactions and any other use of the ShemarooMe Box Office Content are subject to these Terms of Use.
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					If you have successfully purchased a ticket to a ShemarooMe Box Office movie/ film from our ticketing partner platform or through the ShemarooMe platform, please read the following points carefully: 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
				   13.1 Payment: Payments are accepted via the current payment method indicated prior to purchase. You agree to abide by any relevant Terms of Service or other legal agreement, whether with any other party, that governs your use of a given payment processing method. Prices for any ShemarooMe Box Office Content may change at any time, and we do not provide price protection or refunds in the event of a price reduction or promotional offering. You agree to pay for any ShemarooMe Box Office Content that you order. We will charge your credit card or other form of payment for the price listed on the relevant ShemarooMe Box Office Content offer, along with any additional amounts relating to applicable taxes and bank fees.    	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.2 If we are obligated to collect or pay taxes in connection with the ShemarooMe Box Office Content, the taxes will be charged to you. You must comply with any and all applicable tax laws, including the reporting and payment of any taxes arising in connection with your purchase of the ShemarooMe Box Office Content. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.3 Refund of your purchased ShemarooMe Box Office ticket: Ticket purchased by you are non-refundable. In the event of any claims with respect to refund, you may write to the concerned ticketing partner or contact us through the designated customer care. 	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.4 Refund in the event of cancelation: If the ShemarooMe Box Office Content for which you have purchased the ShemarooMe Box Office ticket gets cancelled for any reason whatsoever, at your request, the ticket amount will be refunded to you within reasonable number of days from the date of communication of such refund request. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.5 In the event you purchase a ShemarooMe Box Office ticket of an unreleased film, you have the option of watching the film unlimited number of times from the date of release of the film for a period of three (3) days.   	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.6 In the event you purchase a ShemarooMe Box Office ticket of a released film from the ShemarooMe website/application, you have the option to watch the film unlimited number of times within seventy two hours (i.e. 3 days) commencing from the purchase of the ticket.   
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.7 In the event you purchase a ShemarooMe Box Office ticket of a released film from our ticketing partner(s), you have the option to redeem the ticket within seven (7) days from the date of your purchase and post redeeming the ticket, you have the option to watch the film unlimited number of times for a period of three (3) days commencing from the date of redemption the ticket.   	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.8 The ShemarooMe Box Office movies are available for viewing in India (or such other territory as made known to you) only.    	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					13.9 Your use of the ShemarooMe Box Office Content must be only for personal, non-commercial use. You agree not to use any ShemarooMe Box Office Content, in whole or in part in connection with any public presentation even if no fee is charged. You are receiving a non-exclusive license to the ShemarooMe Box Office Content and all rights, title and interest in the ShemarooMe Box Office Content not expressly granted to you in these Terms are reserved by SEL and its licensors. If SEL reasonably determines that you violated any of the terms and conditions, your rights will immediately terminate and SEL may terminate your right to use the ShemarooMe Box Office Content and/or your account without notice and without refund to you. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					 13.10 Restrictions: When you consume the ShemarooMe Box Office Content, you may not (or attempt to): 
					 <ul class="margin-bottom-10 padding-left-20">
						  <li class="margin-bottom-10">use the ShemarooMe Box Office Content in an illegal manner or for an illegal purpose; </li>
						  <li class="margin-bottom-10">share your account password with someone else to allow them to use any ShemarooMe Box Office Content that such person did not order; </li>
						  <li class="margin-bottom-10">copy, sell, rent, or sublicense the ShemarooMe Box Office Content to any third party; </li>
						  <li class="margin-bottom-10">circumvent, reverse-engineer, modify, disable, or otherwise tamper with any security technology that SEL uses to protect the ShemarooMe Box Office Content or encourage or help anyone else to do so;</li>
						  <li class="margin-bottom-10">use the ShemarooMe Box Office Content other than by means authorized by SEL; or </li>
						  <li class="margin-bottom-10">Remove any proprietary notices or labels on ShemarooMe Box Office Content.</li>
						</ul> 	
				  </p>

				 <!--  <h5 class="padding-left-15 font-semibold">14.Paytm Cashback Offer (10 Dec 2020 to 7th Feb 2021)</h5>
				  <p>
				   <p class="padding-left-15 margin-bottom-15">
					 <b>Offer Eligibility</b>
					 <ul class="margin-bottom-10 padding-left-20">
						  <li class="margin-bottom-10">This offer is applicable only when you make purchase through PayTM on ShemarooMe for ₹129, ₹299, ₹499, ₹599 and ₹999</li>
						  <li class="margin-bottom-10">Offer can be availed only 1 (one) time during the Campaign Period.</li>
						  <li class="margin-bottom-10">Whole amount must be paid from Paytm wallet. If money is added from other pay modes during the transaction, it will not be counted.</li>
						   <li class="margin-bottom-10">No other offer/coupons will be clubbed with this offer, cashback will be eligible only on transactions values mentioned above.</li>
						</ul> 	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					  <b>Offer Duration</b>
					 <ul class="margin-bottom-10 padding-left-20">
						  <li class="margin-bottom-10"> On your first transaction, the offer will be automatically activated.</li>
						  <li class="margin-bottom-10">This offer is valid from 11th December 2020 00:00:00 hours and shall be valid till 7th February 2021 23:59:00 hours (“Campaign Period”) during which you have make purchase on ShemarooMe via PayTM wallet.</li>
						</ul> 	
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
					<b>Rewards</b>
					 <ul class="margin-bottom-10 padding-left-20">
						  <li class="margin-bottom-10">For each transaction made on ShemarooMe via PayTM you will be eligible for upto 100% cashback reward.</li>
						</ul> 	
				  </p> -->
				  <!-- <h5 class="padding-left-15 font-semibold">13.Club Mahindra Holidays Offer</h5>
				    <p class="padding-left-15 margin-bottom-15">A.This offer can be availed once per customer during the offer period .</p>
				    <p class="padding-left-15 margin-bottom-15">B.The same cannot be transferred or redeemed for cash .</p>
				    <p class="padding-left-15 margin-bottom-15">
					1. This Holiday Voucher is valid only in the following resorts of Mahindra Holidays & Resorts India Limited (Club Mahindra) :: Allepey, Acacia Palms (Goa),Baiguney, Binsar-Valley, Binsar-Villa, Coorg-Madikeri, Corbett, Derby Green Ooty ,Danish Villa Ooty, Dharamshala, Gangtok, Gir, Goa-Emerald Palms, Hatgad, Jaisalmar, Jodhpur, Kanatal, Kandhaghat, Kanha, Kodaikanal, Kumarakom, Kumbhalgarh, Le Poshe-Kodaikanal, Manali, Mashobra (Shimla), Lake View -Munnar, Mount Serene Munnar, Mussoorie, Nadiad, Naldhera, Naukuchiatal, Puducherry, Poovar, Thekkady, Udaipur, Virajpet, White Meadows Manali & Yercaud. 
				  </p>
				  <p class="padding-left-15 margin-bottom-15">
				  	2.Club Mahindra Holidays reserves its right to add to or remove any Resort/s from the above list at its sole discretion without any advance intimation/notification. An updated List shall be displayed at the holiday voucher redemption page (http://giftvoucher.clubmahindra.com/gvredeem). The enumeration of any Resort in the above list does not guarantee a booking against requisition.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	3.The holiday voucher can be availed only in the following periods 5th January to 12th April, 18th June to 15th October, 22nd October to 1st November & 18th November to 20th December. 
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	4.Reservations for Club Mahindra Resorts are open only 4 months in advance and availability can be checked online using the redemption code. All the bookings are on first – come- first – serve basis and subject to availability.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	5.Availability of Resort & Apartment is subject to change from time to time and can be confirmed basis real-time online availability as and when you login for the purposes of the seeking Booking. 
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	6.Accommodation will be provided free of cost basis apartment category reserved only to the number of individual as permissible and provided for in the given apartment category no further accompanying guests shall be allowed. All other costs, including but not limited to cost of travel, meals, taxes (including luxury tax where applicable) and cost of using various services and facilities at the above mentioned resorts, will have to be borne by the bearer of the Holiday Voucher.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	7.The Booking should be confirmed within the validity period.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	8.Club Mahindra shall provide alternate accommodation, if for some reason, it is unable to provide holiday after issuance of confirmation voucher in the allotted resort.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	9.An Electronic Confirmation Voucher (e-CV) would be sent to your email address registered with us within an hour from the time of booking.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	10.To honour your reservation, Please carry the Confirmation Voucher with a valid government photo identity proof at the time of check-in at the resort.
				  </p>
				   <p class="padding-left-15 margin-bottom-15">
				   	11.This Holiday voucher is non-transferable, non- exchangeable for cash and valid for only use Confirmation Voucher (CV).Holidays once confirmed cannot be cancelled or deferred or gifted. The stay under Holiday Voucher cannot be clubbed with any other GV / Offer / Facility / Right.
				  </p> -->
				</div>
				</div>
			</div>
		</div>
	</section>
</div>
<%else%>
<!-- Term of Use Non India Region -->
<div class="static-mobile-page padding-top-80 padding-top-60">
	<section class="onboarding-bg onboarding-bg-min-height min-height-div">
		<div class="static-container static-container-web margin-bottom-30">
			<div class="row">
			  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap terms_section margin-bottom-20 desktop-margin-top-15">
				<h2 class="block margin-bottom-10">Terms & Conditions</h2>
				<div class="pull-left w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded font-regular mobile_padding_0">			      
				  <p class="pull-left w-100 margin-bottom-15">
					This Terms of Use (this “TOU”) describes the terms and conditions applicable to your access and use of all services, website and Apps operated by <b>Shemaroo Media & Entertainment LLC.</b> and/ or its affiliates ( “Shemaroo”, “we”, “us”, or “our”), where this TOU is posted on our website and Apps (the “Sites”) and the services provided in association with the Sites (collectively, the “Service”). Shemaroo provides a subscription service that allows our subscribers to access video content such as movies and TV shows streamed over the Internet to certain Internet-connected TV's, computers and other devices.
				  </p>
				   <p class="pull-left w-100 margin-bottom-15">
					<i>This TOU sets forth the terms and conditions under which Shemaroo provides you access to the Sites and the Service.</i>
				  </p>
				  <p class="pull-left w-100 margin-bottom-15">
					<b>Your use of the Site constitutes your acceptance of and agreement to be bound by these Terms of Use. If you do not agree to abide by these Terms of Use, you must stop using the Site and exit the Site now. </b>
				  </p>
				  <p class="pull-left w-100 margin-bottom-15">
					If you agree to these Terms of Use, then Shemaroo grants you permission to access to and use the Sites and Service in accordance with these Terms of Use and any other related terms and conditions which may be presented to you for your use or involvement with any subscription Service or events or other promotional Shemaroo related activities.
				  </p>
				  <p class="pull-left w-100 margin-bottom-15">
					Shemaroo may make changes to the Sites and/or the Service at any time. Shemaroo may also amend this TOU at any time by posting the amended Terms of Use on the Sites, and/or sending you an email, and you agree that you will be bound by any changes to this TOU. For your convenience, the date of last revision is included at the top of this page. 
				  </p>
				  <p class="pull-left w-100 margin-bottom-15">
					<b><u>Privacy Policy.</u></b> Personally identifying information is subject to our Privacy Statement, the terms of which are incorporated herein. By using the Sites or the Service, you represent that you have read and consent to our <a href="/privacy-policy">Privacy Policy</a> in addition to this TOU. Shemaroo may revise the Privacy Policy at any time, and the new versions will be available on the Sites. If at any point you do not agree to any portion of the Privacy Policy, you may contact us, as set forth in the Privacy Policy, and you must immediately stop using the Sites and/or Service.
				  </p>
				  
				  <h5 class="pull-left w-100 margin-bottom-5 padding-left-15 margin-top-0 font-semibold"><u>1. Shemaroo Accounts and Internet Connection.</u></h5>
				  <p class="pull-left padding-left-15 margin-bottom-15">
					In order to access some features of the Sites, you will have to create a Shemaroo account. You may never use another's Shemaroo account without permission. When creating your account you must provide accurate and complete information. You must keep your account password confidential and secure because you are solely responsible for the activity that occurs on your Shemaroo account. You must notify Shemaroo immediately if you become aware of any breach of security or unauthorized use of your account.
				  </p>	
				  <p class="pull-left padding-left-15 margin-bottom-15">
					You are solely responsible for any Internet connection and telecommunication fees or charges that you may incur when accessing the Service.
				  </p>
				  <p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>2. TOU Updates.</u></b> Shemaroo will revise this TOU as the Sites and/or Service evolves. You must agree to all revisions if you choose to continue using the Sites and/or Service. By using the Sites and/or Service, you agree to the then-current version of this TOU as posted on the Sites. If at any point you do not agree to any portion of the then-current version of this TOU, you must immediately stop using the Sites and/or Service.
					</p>
					 <p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>3. Termination of Service.</u></b> Shemaroo reserves the right to deny service to any person at Shemaroo’s sole and absolute discretion. The Sites and/or Service is offered with the understanding that Shemaroo may terminate any account registered to you and/or your access to the Sites and/or Service at any time, for any reason or no reason, including without limitation for any violation of this TOU, or our Privacy Policy. Shemaroo may stop offering and/or supporting the Sites and/or Service at any time.
					</p>
					 <p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>4. Eligibility.</u></b> You represent that you are 18 years old or older and have the legal capacity to enter a contract in the jurisdiction where you reside, or that you have the permission, consent and agreement of your parent or authorized legal guardian where legally applicable.
					</p>
					<h5 class="pull-left w-100 margin-bottom-5 margin-top-0 font-semibold">Unsolicited Idea Submissions.</h5>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>5. Unsolicited Ideas.</u></b> Shemaroo values your feedback on its Services, Sites and products, but please do NOT submit any creative ideas, suggestions or materials to us. Neither Shemaroo nor any of its employees and/or subcontractors accept or consider unsolicited ideas, original creative artwork or other works, including, without limitation, ideas or suggestions for new or improved business concepts or technologies, product enhancements, improvements to existing programs, marketing plans or names for new content (collectively <b>"Unsolicited Ideas"</b>). Please do not send your Unsolicited Ideas to Shemaroo or its employees and/or subcontractors. This policy is aimed at avoiding potential misunderstandings or disputes when Shemaroo products, Sites or Services might seem the same or similar to Unsolicited Ideas that were submitted.
					</p>
					 <p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>6. Rights to Unsolicited Ideas.</u></b> If you do submit your Unsolicited Ideas to Shemaroo, or to any of its employees and/or subcontractors, then you hereby acknowledge and agree that, from the time of uploading, transmission or dispatch, you grant Shemaroo and its designees a worldwide, perpetual, irrevocable, sublicensable, transferable, assignable, and royalty-free right to use, reproduce, distribute, create derivative works of, publicly perform, publicly display, digitally perform, make, have made, sell, offer for sale and import your Unsolicited Ideas, including, without limitation, all copyrights, trademarks, trade secrets, patents, industrial rights, so-called “moral rights” and all other intellectual and proprietary rights related thereto, in any media now known or hereafter created, devised or developed, for any purpose whatsoever, commercial or otherwise, including, without limitation, giving the Unsolicited Ideas to others, without any compensation or attribution to you. You also waive any claim that any use by Shemaroo and/or its licensees of your Unsolicited Ideas violates any of your rights, including but not limited to moral rights, privacy rights, rights to publicity, proprietary or any other rights, and/or rights to credit for the material or ideas set for therein.
					</p>
					<h5 class="pull-left w-100 margin-bottom-5 margin-top-0 font-semibold">Restrictions and Conditions of Use.</h5>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>7. Use of Sites and Service.</u></b> In order to access our services and become a member, you must subscribe and be 18 years of age, or the age of majority in your territory or country. Our services may be used by a minor only under the strict supervision, guidance and control of a parent or legal guardian. During your subscription period, we grant you a limited, non-exclusive, non-transferable right to access our service and view our content. Shemaroo authorizes you to view and use the Sites solely for your personal, non-commercial use. This authorization is not a transfer of title in the Sites, any information or any copies of any information, or to any text, graphics, logos, images (including without limitation, audio-video content), data compilations, software or other materials on or related to the Sites (“Materials”), and is subject to the following restrictions: (a) you may not remove or modify any copyright, trademark, logo or any other proprietary notices affixed to any information and/or Materials; (b) you may not modify any information and/or Material in any way, or reproduce or publicly display, distribute or otherwise use the information and/or Material for any public or commercial purpose; (c) you also agree not to use the Service or Materials for any public performances. You agree not to license, create derivative works from, transfer, sell or re-sell any information, Material or Services obtained from the Sites. You agree to abide by all additional restrictions displayed on the Sites, as updated from time to time.  
					</p>
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>A. Our services,</b> including our content library are regularly updated. You will have access to such content depending on the subscription plan that you have signed up for. In addition, you may from time to time have access to limited content even without subscribing to our services basis your geographic location. You can manage your subscription from the View Plans tab available in the “Me” section. You can be logged in to the Service on 4 internet connected devices and concurrent viewing is allowed on 2 such devices.
					</p>			     	 
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>B. Playback resolution,</b> or quality of the content of our service, will depend on a number of factors, including the type of compatible device that you are using to access the service from, and your internet bandwidth, which may vary during your course of viewing. If we detect that the content you are streaming from our platform is being interrupted or otherwise does not play as intended due to bandwidth issues, we may decrease the resolution and file size of the streamed content in an effort to provide you with uninterrupted viewing experience.
					</p>
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>C. To find more information</b> about our Service and its features or if you need assistance with your account, please read the Frequently Asked Questions (FAQ) section and for further assistance kindly Contact Us on the details available on this website/application. We will send you information pertaining to your account (e.g. payment authorizations, payment method, subscription plans, and notices) in electronic form only, for example via e-mails to your registered e-mail address as per our records.  
					</p>
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>D. Subscriptions:</b> To use our services you will have to have internet access, and a web enabled compatible device, and become a member. Your membership will continue for the duration as set forth at the point of purchase on our Sites. A free trial period, if any, will be applied accordingly. For your membership and subscription, once you have chosen a subscription plan, you will have to provide us with one or more payment methods. “Payment method” means a current, valid, accepted method of payment, as may be updated by you from time to time, and which will also include payment made from your account in conjunction with a third party. We may change our subscription plans and the pricing of our service from time to time. However, any changes to the pricing or the subscription plans will be communicated to you 15 days in advance, and will not apply to you before such notice period of 15 days. A change in the subscription plan will only be effective from the new billing cycle.
					</p>
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>E. Payments and Termination:</b> We currently use Adyen as the third party service provider for payment services (e.g. card acceptance, merchant settlement, and related services). By taking a membership as mentioned in the TOU, you agree to be bound by the terms of service and privacy policy of Adyen. Shemaroo is not responsible for any error by Adyen. The subscritption/membership fee for our Service and any other charges you may incur in connection with your use of the Service, such as taxes and other processing charges, will be charged based on your subscription. You can visit our Sites and click on the Account details link for further information on payment history. You remain responsible for any uncollected amounts pertaining to your subscription. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the Service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees with additional transactional costs, you would need to check with your Payment Method service provider for such details.  
					</p>
					<p class="pull-left padding-left-30 margin-bottom-15">
						<b>F. Auto-Renewal; Cancellation:</b> Unless you have cancelled your membership, you authorize us to charge your subsequent period’s membership fee to your Payment Method, on an auto-renewal basis. You can cancel your membership at any time, and you will continue to have access to our Service through the end of your billing period. To the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial-month membership periods or unwatched content. You can go to your “Account” page and follow further instructions to cancel subscription to our Services. If you cancel your subscription, it will come to an end automatically at the end of the billing period. In the event, where you have used third party services to create an account with us, or use our Services, you will have to check your settings on such third party services to ensure that your subscription is cancelled. 
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>9. No Violation of Laws.</u></b>	You agree that you will not, in connection with your use of the Sites or the Service, violate any applicable law or regulation. Without limiting the foregoing, you agree that you will not make available through the Sites and/or Service any material or information that infringes any copyright, trademark, patent, trade secret, or any other right of any party (including rights of privacy or publicity).
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>10.  Misuse of Sites and/or Service.</u></b> You may not connect to or use the Sites and/or Service in any way not expressly permitted by this TOU. Without limiting the foregoing, you agree that you will not: (a) institute, assist, or become involved in any type of attack, including without limitation denial of service attacks, upon the Sites and/or Service or otherwise attempt to disrupt the Sites and/or Service or any other person’s use of the Sites and/or Service; or (b) attempt to gain unauthorized access to the Sites, Service, accounts registered to other users, or the computer systems or networks connected to the Sites and/or Service. Furthermore, you may not use the Sites or Service to develop, generate, transmit or store information that: (i) is defamatory, harmful, abusive, obscene or hateful; (ii) in any way obstructs or otherwise interferes with the normal performance of another person’s use of the Sites and/or Service; (iii) performs any unsolicited commercial communication not permitted by applicable law; (iv) constitutes harassment or a violation of privacy or threaten other people or groups of people; (v) is harmful to children in any manner; (vi) violates any applicable law, regulation or ordinance; (vii) makes any false, misleading or deceptive statement or representation regarding Shemaroo, and/or the Service; (viii) constitutes phishing, pharming or impersonates any other person, or steals or assumes any person’s identity (whether a real identity or online nickname or alias); or (ix) generates artificial, automated or fraudulent views of pages or videos or ‘clicks’ on advertisements or offers.
					</p>

					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>11. No Commercial Uses.</u></b> You agree that you will not use the Sites or the Service for any commercial purpose or the benefit of any third party or charge any person, or receive any compensation for, the use of the Sites or Service.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>12. No Data Mining or Harmful Code.</u></b> You agree that you will not: (a) obtain or attempt to obtain any information from the Service, including without limitation email information of other account holders; (b) intercept, examine or otherwise observe any proprietary communications protocol used by the Service, whether through the use of a network analyzer, packet sniffer or other device; or (c) use any type of bot, spider, virus, clock, timer, counter, worm, software lock, drop dead device, Trojan-horse routing, trap door, time bomb or any other codes, instructions, malware or third-party software that is designed to provide a means of surreptitious or unauthorized access to, or distort, delete, damage or disassemble the Sites or the Service.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>13. Mobile Devices.</u></b> The Sites and Service contains services and features that are available to or through certain mobile devices. Your carrier's normal rates and fees apply. We do not guarantee that any or all Services will work with or be accessible through all carriers or devices.
					</p>
					<h5 class="pull-left w-100 margin-bottom-5 margin-top-0 font-semibold">Links.</h5>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>14. Third Party Links from the Sites.</u></b> The Sites may contain links to websites, Apps and content platforms operated by other parties (for example: Amazon, Apple, Roku, YouTube, Google, Facebook, Twitter, Instagram, etc.). Shemaroo provides these links to other websites and content platforms as a convenience, and use of these websites and content platforms is at your own risk. The linked websites, APPs and content platforms are not under the control of Shemaroo, and Shemaroo is not responsible for the content available on the other websites, Apps and content platforms. Such links do not imply Shemaroo’s endorsement of information or material on any other website, App or content platform and Shemaroo disclaims all liability with regard to your access to and use of such linked websites, Apps and content platforms. Products and/or services offered on or in association with the third party linked websites and Apps are provided through independent third party vendors, and you agree to look solely to such third party vendors, and not Shemaroo, for any issues related to such products and/or services.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>15. Links to the Sites.</u></b> Unless otherwise set forth in a written agreement between you and Shemaroo, you must adhere to Shemaroo’s linking policy as follows: (i) the appearance, position and other aspects of the link may not be such as to damage or dilute the goodwill associated with Shemaroo’s and/or its licensors’ names and trademarks, (ii) the appearance, position and other attributes of the link may not create the false appearance that you or your organization or entity is sponsored by, affiliated with, or associated with Shemaroo, (iii) when selected by a user, the link must display the Sites on full-screen and not within a “frame” on the linking Sites, and (iv) Shemaroo reserves the right to revoke its consent to the link at any time and in its sole discretion.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>16. Social Networks.</u></b> The Service may include features that operate in conjunction with certain third party social networking websites or APPs that you visit, including the use of such features to log into your account on the Sites (“Social Network Features”). While your use of the Social Network Features is governed by this TOU, your access and use of third party social networking websites and the services provided through those websites is governed by the terms of service and other agreements posted on those third party websites. It is impossible for Shemaroo to determine in each case whether your use of the Social Network Features would cause you to violate or breach the terms of service and/or other agreements posted on those third party websites. You understand and acknowledge that your actions in association with your use of the Social Network Features may possibly cause you to violate or breach the terms of service and other agreements posted on those third party websites which could result in the termination of your account and ability to access those third party websites and, in some cases, could give rise to the possibility of liability for damages. <b>You agree that you alone are responsible for your use of the social network features and that Shemaroo will not be liable to you or anyone else for your violation or breach of any terms of service or other agreement of any third party website, App or service that may result from your use of the Social Network Features.</b>
					</p>
					<h5 class="pull-left w-100 margin-bottom-5 margin-top-0 font-semibold">Intellectual Property.</h5>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>17. Trademarks.</u></b> “Shemaroo” and the Shemaroo logos are the trademarks and/or service marks of Shemaroo. Unauthorized use of any Shemaroo trademark, service mark or logo would be a violation of international and U.S. Federal and State trademark laws.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>18. Copyright.</u></b> The Sites and Service and the content made available through the Sites and the Service are protected by U.S. and international copyright laws. Except as authorized in this TOU, you may not use, modify, reproduce or distribute any of the content, or the design or layout of the Sites or Service, or individual sections of the content, design or layout of the Sites without Shemaroo’s express prior written permission.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>19. DMCA Copyright Claim and Agent.</u> Note: the following information is provided exclusively for notifying Shemaroo that your copyrighted material may have been infringed. All other inquiries, such as requests for technical assistance, reports of social media or email abuse or piracy reports, will not receive a response through this process.</b> Shemaroo respects the intellectual property rights of others, and requires that visitors and users who use the Sites and the Service do the same.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						<b>A. Copyright Infringement Claim: If you believe that your work has been used or copied in a way that constitutes copyright infringement, please forward the following information to the Shemaroo Copyright Agent, designated as such pursuant to the Digital Millennium Copyright Act, 17 U.S.C. § 512(c)(2), named below:</b>
					</p>
					<ul class="pull-left padding-left-25 margin-bottom-20">
			  <li class="margin-bottom-20">
				Your address, telephone number, and email address;
			  </li>
			  <li class="margin-bottom-20">
				A description of the copyrighted work that you claim has been infringed;
			  </li>
			  <li class="margin-bottom-20">
				A description of where the alleged infringing material is located;
			  </li>
			  <li class="margin-bottom-20">
				A statement by you that you have a good faith belief that the disputed use is not authorized by you, the copyright owner, its agent, or the law;
			  </li>
			  <li class="margin-bottom-20">
				An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; and
			  </li>
			  <li class="margin-bottom-0">
				A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
			  </li>
			</ul>
			<p class="pull-left padding-left-25 margin-bottom-15">
				Copyright Agent: Legal Department<br>
							Shemaroo Media & Entertainment, LLC<br> 	
							c/o Mission50 Coworking<br>
							50 Harrison Street, PH 475<br>
							Hoboken, NJ 07030  USA<br><br>
							Email: <a href="mailto:usasupport@shemaroome.com">usasupport@shemaroome.com</a>
			</p>
			<p class="pull-left padding-left-15 margin-bottom-15">
				<b>Inquiries not compliant with the procedure outlined above may not receive a response.</b> Shemaroo may, in appropriate circumstances, terminate an account holder or subscriber to a Site or Service if he or she is a repeat infringer. If you believe that an account holder or subscriber is a repeat infringer, please follow the instructions above to contact Shemaroo's DMCA agent and provide information sufficient for us to verify that the account holder or subscriber is a repeat infringer.
			</p>
			<p class="pull-left padding-left-15 margin-bottom-15">
				<b>B. Counter-Notice.</b> If you believe that your user Posting that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the content in your Posting, you may send a counter-notice containing the following information to the Shemaroo Copyright Agent:
			</p>
			<p class="pull-left padding-left-15 margin-bottom-15">
				To be effective, a Counter Notification must be a written communication provided to Shemaroo's Designated Agent that includes substantially the following:
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				1. A physical or electronic signature of the Shemaroo account holder;
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				2. Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				3. A statement under penalty of perjury that the Subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled;
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				<% if $region == "CA" %>
				4. The Subscriber’s name, address, email and telephone number, and a statement that the Subscriber consents to the exclusive jurisdiction of the state and federal courts located within the State on Ontario, Canada, and the Subscriber will accept service of process from the person who provided notification or an agent of such person.
				<%else%>
				4. The Subscriber's name, address, email and telephone number, and a statement that the Subscriber consents to the to the exclusive jurisdiction of the state and federal courts located within the State of New Jersey, USA, and that the Subscriber will accept service of process from the person who provided notification or an agent of such person.
				<%end%>

				
			</p>
			<p class="pull-left padding-left-15 margin-bottom-15">
				<i>Upon receipt of a Counter Notification containing the information as outlined in 1 through 4 above:</i>
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				1. Shemaroo will without undue delay provide you, the complaining party, with a copy of the Counter Notification;
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				2. Shemaroo will inform you that it will replace the removed material or cease disabling access to it within approximately 10 to 14 business days;
			</p>
			<p class="pull-left padding-left-25 margin-bottom-15">
				3. Shemaroo will replace the removed material or cease disabling access to the material within approximately 10 to 14 business days following receipt of the Counter Notification, provided Shemaroo's Designated Agent has not received notice from you that an action has been filed seeking a court order to restrain Subscriber from engaging in infringing activity relating to the material on Shemaroo's network or system.
			</p>
			<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>20. Location.</u></b> The Sites and the Service are operated by Shemaroo in the United States. Those who choose to access the Sites, and/or the Service from locations outside the United States do so on their own initiative and are solely responsible for compliance with applicable local laws. The services offered to you will be based on your geographic location, and you are not allowed to use or employ any technology to obscure or disguise your location. The content offered to you may also vary from time to time and as per your location. 
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>21. User Postings on the Sites.</u></b> The Sites may provide users with the ability to post messages on the Sites. Shemaroo is under no obligation to review any messages; information or content (“Postings”) posted on the Sites by users and assumes no responsibility or liability relating to any Postings. Notwithstanding the above, Shemaroo may from time to time monitor the Postings on the Sites and may remove any Postings at its sole discretion. You grant other users of the Sites permission to access, use, record, reproduce, distribute, publicly display, publicly perform, and prepare derivative works of your Postings in any medium (whether now known or later developed). We do not guarantee any confidentiality with respect to any Postings that you may submit, upload, post or otherwise provide to the Sites, and it is your responsibility to protect any rights that you may have in your Postings. <b>Please also be aware that any personally identifiable information that you choose to include in your Postings for publication on the Sites will not be protected.</b> If Shemaroo has provided you with any free or discounted product or other item of value (other than sales and discounts available to the general public), you agree to disclose the value received in your Postings in compliance with Section 5 of the U.S. Federal Trade Commission Act.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>22. Submitted Content.</u></b> Shemaroo does not claim ownership of any materials of the Postings you make available through the Sites. At Shemaroo’s sole discretion, such materials in the Postings may be included in the Service in whole or in part or in a modified form. With respect to such materials in the Postings you submit or make available for inclusion on the Sites, you grant Shemaroo a perpetual, irrevocable, non-terminable, worldwide, royalty-free, fully paid-up and non-exclusive license to use, copy, distribute, publicly perform, display, modify, create derivative works, and sublicense such materials in the Postings or any part of such materials and Postings. You hereby represent and warrant: that any materials or Postings you provide do not include anything (including, but not limited to, text, images, music or video) to which you do not have the full right to grant the license specified above in this Section entitled “Submitted Content”. You also grant us the right, but not the obligation, to use your name, likeness, and identity in connection with your materials and Postings. You voluntarily waive all so-called “moral rights” or similar rights you may have in your materials and Postings.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>23. Children.</u></b> The Sites and the Service are not directed toward children under 13 years of age nor does Shemaroo knowingly collect information from children under 13 or allow them to create an account or access account features. The Children's Online Privacy Protection Act (COPPA) of 1998 provides safeguards to protect children who use the Internet by regulating the online collection of personal information from children under the age of 13. To ensure compliance with this law, Shemaroo does not knowingly collect or maintain information provided by children under the age of 13 unless expressly authorized by a parent or legal guardian. Shemaroo does not sell products, services or other activities by or for purchase by children, and we ask that minors (under the age of 13) do not submit any personal information to us. If we learn that we have inadvertently collected personal information from a child we will make all reasonable efforts to delete that data from our records.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>24. Disclaimer of Warranties.</u>The Sites and Service are provided on an “AS IS” and “AS AVAILABLE ” basis for your use, without warranties of any kind, either express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, title, non-infringement, and those arising from course of dealing or usage of trade. Shemaroo makes no warranty as to the accuracy, completeness or reliability of any content available through, or the performance of, the Sites or the Service. You are responsible for verifying any information before relying on it. Use of the Sites and/or the Service is at your sole risk. Shemaroo does not warrant that you will be able to access or use the Sites and/or Service at the times or locations of your choosing; that the Sites or the Service will be uninterrupted or error-free; that defects will be corrected; or that the Sites or the Service are free of viruses or other harmful components.</b><br>
						<i>Because some states or jurisdictions do not allow the disclaimer of implied warranties, the foregoing disclaimer may not apply to you.</i>
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>25. Limitation of Liability; Sole and Exclusive Remedy.</u></b> To the maximum extent permitted by law, Shemaroo, its affiliates, licensors and business partners (collectively, the “Related Parties”) disclaim all liability, whether based in contract, tort (including negligence), strict liability or otherwise, and further disclaims all losses, including without limitation direct, indirect, incidental, consequential, or special damages arising out of or in any way connected with access to or use of the Sites and/or Service, even if Shemaroo and/or Related Parties have been advised of the possibility of such damages. Without limiting the foregoing, in no case will the liability of Shemaroo or any of the Related Parties exceed the amount that you paid to us or our designees during the 6 months prior to the time the cause of action giving rise to liability arose or $100, whichever amount is less.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b>Shemaroo will not be responsible or liable, under any circumstances, for any loss, liability, expenses or damages incurred in connection with the Site and/or the Service to the extent caused by or resulting from: (a) your acts, defaults or omissions; (b) your violation of any of any term, condition, representation or warranty contained in this TOU; or (c) acts or omissions of third parties, including third parties contracted by Shemaroo.</b>
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<i>Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, the liability of Shemaroo and its affiliates shall be limited to the fullest extent permitted by law.</i>
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<b><u>26. Indemnification.</u></b> You agree to indemnify, defend and hold Shemaroo and the Related Parties harmless from any and all claims, demands, damages or other losses, including reasonable attorneys’ fees, resulting from or arising out of your use of the Sites and/or the Service or any breach by you of this TOU or any other policies that Shemaroo may issue for the Sites and/or Service from time to time.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15">
						<%if $region == "CA"%>
						27. This TOU is governed by, and will be construed under, the laws of the Canada and the law of the State of Ontario, without regard to conflict of law principles. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. Except as expressly provided below (and claims proceeding in any small claims court), all disputes arising out of or related to your use of the Sites and/or the Service shall be subject to binding arbitration as provided in paragraph 28. To the extent any matter is excluded from arbitration as set forth below, all such disputes, shall be subject to the exclusive jurisdiction of the state and federal courts located within Ontario and you agree to submit to the personal jurisdiction and venue of such courts.<b> You and Shemaroo agree that any cause of action arising out of or related to the Sites or Services must commence within 1 year after the cause of action accrues. Otherwise, such cause of action is permanently barred.</b>
						<%else%>
						<b><u>27. Governing Law; Jurisdiction.</u></b> This TOU is governed by, and will be construed under, the laws of the United States of America and the law of the State of New Jersey, without regard to conflict of law principles. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. Except as expressly provided below (and claims proceeding in any small claims court), all disputes arising out of or related to your use of the Sites and/or the Service shall be subject to binding arbitration as provided in paragraph 28. To the extent any matter is excluded from arbitration as set forth below, all such disputes, shall be subject to the exclusive jurisdiction of the state and federal courts located within Mercer county New Jersey and you agree to submit to the personal jurisdiction and venue of such courts. <b>You and Shemaroo agree that any cause of action arising out of or related to the Sites or Services must commence within 1 year after the cause of action accrues. Otherwise, such cause of action is permanently barred.</b>
						<%end%>
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>28. Binding Arbitration.</u></b></p>
					<p class="pull-left padding-left-25 margin-bottom-15"><b><u>28.1 Arbitration Procedures.</u></b>
						You and Shemaroo agree that, except as provided in this Section 28, all disputes, controversies and claims related to this TOU (each a “Claim”), will be finally and exclusively resolved by binding arbitration, which may be initiated by either party by sending a written notice requesting arbitration to the other party. Any election to arbitrate by one party will be final and binding on the other. The arbitration will be conducted under the Streamlined Arbitration Rules and Procedures of JAMS that are in effect at the time the arbitration is initiated (the “JAMS Rules”) and under the terms set forth in this TOU. In the event of a conflict between the terms set forth in this Section and the JAMS Rules, the terms in this Section will control and prevail.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						Except as otherwise set forth in this Section, you may seek any remedies available to you under federal, state or local laws in an arbitration action. As part of the arbitration, discovery shall be permitted pursuant to the JAMS Rules. The arbitrator will provide a written statement of the arbitrator’s decision regarding the Claim, the award given and the arbitrator’s findings and conclusions on which the arbitrator’s decision is based. The determination of whether a Claim is subject to arbitration (arbitrability) will be governed by the JAMS Rules and shall be determined by an arbitrator. Notwithstanding the foregoing, you and Shemaroo may litigate in court to compel arbitration, stay proceedings pending arbitration, obtain interim equitable relief, or confirm, modify, vacate or enter judgment on the award entered by the arbitrator. 
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
							<b>By agreeing to this arbitration provision, you understand that you and Shemaroo waive the right to sue in court and have a jury trial.</b>
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15"><b><u>28.2 Location and Timing.</u></b> The arbitration will take place within 30 days following receipt by either party of the other party’s notice of arbitration.  The arbitration will be conducted in Trenton, New Jersey.  
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15"><b><u>28.3 Limitations.</u></b> You and Shemaroo agree that any arbitration will be limited to the Claim between Shemaroo and you individually. <b>You and Shemaroo agree that: (a) there is no right or authority for any dispute to be arbitrated on a class-action basis or to utilize class action procedures; (b) there is no right or authority for any dispute to be brought in a purported representative capacity or as a private attorney general; and (c) no arbitration will be joined with any other arbitration.</b>
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15"><b><u>28.4 Severability.</u></b> You and Shemaroo agree that if any portion this Section 28 is found illegal or unenforceable, that portion will be severed and the remainder of the Section will be given full force and effect. 
					</p>
					<h5 class="pull-left w-100 margin-bottom-5 margin-top-0 font-semibold">Additional Terms.</h5>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>29. TOU Revisions.</u></b> This TOU may only be revised in a writing signed by Shemaroo, or published by Shemaroo on the Sites.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>30. No Partnership.</u></b> You agree that no joint venture, partnership, employment, or agency relationship exists between you and Shemaroo as a result of this TOU or your use of the Service.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>31. Assignment.</u></b> Shemaroo may assign this TOU, in whole or in part, to any person or entity at any time with or without your consent. You may not assign the TOU without Shemaroo’s prior written consent, and any unauthorized assignment by you will be null and void.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>32. Severability. </u></b> If any part of this TOU is determined to be invalid or unenforceable, then that portion will be severed, and the remainder of the TOU will be given full force and effect.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>33. Attorneys’ Fees.</u></b> In the event any litigation or arbitration is brought by either party in connection with this TOU, the prevailing party will be entitled to recover from the other party all the reasonable costs, attorneys’ fees and other expenses incurred by such prevailing party in the litigation.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>34. No Waiver. </u></b> Our failure to enforce any provision of this TOU will in no way be construed to be a present or future waiver of such provision, nor in any way affect the right of any party to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of this TOU will not constitute a waiver of any future obligation to comply with such provision, condition or requirement.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>35. Notices.</u></b> All notices given by you or required under this TOU will be in writing and addressed to: Shemaroo Media & Entertainment, LLC., c/o Mission50 Coworking, 50 Harrison Street, PH 475, Hoboken, NJ 07030 ATTN: Legal Deptment.  Email: <a href="mailto:usasupport@shemaroome.com">usasupport@shemaroome.com</a>
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>36. Equitable Remedies</u></b> You hereby agree that Shemaroo would be irreparably damaged if the terms of this TOU were not specifically enforced, and therefore you agree that we will be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to breaches of this TOU, in addition to such other remedies as we may otherwise have available to us under applicable laws.
					</p>
					<p class="pull-left padding-left-15 margin-bottom-15"><b><u>37. Terms Applicable for Apple ios</u></b> If you are accessing or using one of our Apps through a device manufactured and/or sold by Apple, Inc. <b>(“Apple”),</b> such a device will be referenced as an <b>“Apple Device”</b>:
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						1. To the extent that you are accessing the App through an Apple Device, you acknowledge that this TOU is entered into between you and Shemaroo and, that Apple is not a party to these Terms other than as third-party beneficiary as set forth below. 	
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						2. The use of the Sites and Service granted to you in this TOU is subject to the permitted Usage Rules set forth in the Apple App Store Terms and Conditions (see: http://www.apple.com/legal/itunes/us/terms.html) and any third party terms of agreement applicable to the App.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						3. You acknowledge that Shemaroo, and not Apple, is responsible for providing the App and Content thereof.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						4. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance or any support services to you with respect to the App.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						5. To the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the App.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						6. Notwithstanding anything to the contrary herein, and subject to the terms in this TOU, you acknowledge that, solely as between Apple and Shemaroo, Shemaroo and not Apple is responsible for addressing any claims you may have relating to the App, or your possession and/or use thereof, including, but not limited, to: (i) product liability claims, (ii) any claim that the App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						7. Further, you agree that if the App, or your possession and use of the App, infringes on a third party’s intellectual property rights, you will not hold Apple responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claims.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						8. You acknowledge and agree that Apple, and Apple’s subsidiaries, are third-party beneficiaries of these Terms, and that, upon your acceptance of the terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as a third-party beneficiary thereof.
					</p>
					<p class="pull-left padding-left-25 margin-bottom-15">
						9. When using the App, you agree to comply with any and all third-party terms that are applicable to any platform, website, technology or service that interacts with the App.
					</p>
						<p class="pull-left padding-left-25 margin-bottom-15"><b><u>38. Entire Agreement.</u></b>
							This TOU, including documents expressly incorporated by reference, constitutes the entire agreement between you and us with respect to the Sites and/or Service and supersedes all prior or contemporaneous communications, whether electronic, oral or written, between you and us with respect to the Sites and/or Service.
						</p>

				</div>
				</div>
			</div>
		</div>
	</section>
</div>	
<%end%>
<%=render "layouts/page_height_setting"%>
<%=render "app_static_page"%>
