<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />
  <link rel="icon" href="/assets/shemaroo_favicon.png" type="image/gif">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132050085-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132050085-1');
  </script>
</head>
<%= stylesheet_link_tag  'application', media: 'all' %>
<script type="text/javascript">
var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body>
  <div class="wrapper">
    <div class="container-fluid padding-left-0 padding-right-0">
      <div class="inside-wrapper" style="background: #f2f2f2; min-height: 100px;">
        <section class="header-section1" id="with_header_tabs" >
          <div class="header-border col-xl-12 col-lg-12 col-md-12 col-sm-12 col- d-none d-xl-block">
          </div>
          <div class="row">
            <div class="header col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
              <div class="main-logo pull-left"> 
               <a href="/" class="main_logo_link">        
                <img src="/assets/shemaroo_logo.svg" alt="shemaroo" title="shemaroo">
                </a>
              </div>            
            </div>  
          </div>
          
        </section>
        <div class="padding-top-80 thanks_page min-height-div-pre">
          <div class="content text-center">
            <h1 class="text-uppercase heading_title_color">india ka asli entertainment</h1>
            <h6 class="text-uppercase">Thank you for registering with us!</h6>
            <p class="bottom-space">Stay tuned for an endless stream of entertaining content!</p>
           <!--  <p class="">Meanwile, check out our <a href="" class="shemaroo-btn"><span class="text-wrap"><span class="text">engagement page</span></span></a> and stand a chance to win exciting merchandise!</p> -->
          </div>
        </div>  
      </div>
    </div>
  </div>
  <%=render "layouts/page_height_setting"%>
  <section class="footer-section pre-register-page" id="footer-section">
    <div class="row">
      <div class="footer-menu pull-left">
        <ul>
          <li class="text-uppercase <%=params[:action] == "privacy_policy" ? "active" : ""%>"><a href="/privacy_policy">privacy policy&nbsp;&nbsp;|</a></li>
          <li class="text-uppercase <%=params[:action] == "terms_and_conditions" ? "active" : ""%>"><a href="/terms_and_conditions">&nbsp;&nbsp;terms and conditions</a></li>
        </ul>
        <p class="margin-bottom-0">Shemaroo Entertainment Ltd &copy; 2019, All Rights Reserved</p>
      </div>
      <div class="pull-right">
        <ul class="pull-left">
          <li><a href="https://www.instagram.com/shemaroome/"><img src="/assets/instagram.png" alt="instagram" title="instagram"></a></li>
          <li><a href="https://www.facebook.com/ShemarooMe/"><img src="/assets/facebook.svg" alt="facebook" title="facebook"></a></li>
          <li><a href="https://twitter.com/ShemarooMe"><img src="/assets/twitter.svg" alt="twitter" title="twitter"></a></li>
        </ul>
        <ul class="pull-right" style="padding-top: 0px;padding-bottom: 0px;">
          <li><a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank"><img src="/assets/android_play_store.png" alt="playstore" title="playstore"></a></li>
          <li><a href="https://itunes.apple.com/in/app/shemaroome/id1439041310" target="_blank"><img src="/assets/app_store.png" alt="appstore" title="appstore"></a></li>                
        </ul>           
      </div>
      
    </div>
  </section>
<style>
  @media(max-width: 1366px) {
    .row {
      margin: 0px;
    }
  }
</style>
</body>