/*
 * Copyright (C) Saranyu Technologies - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 *
 * Written by :  BHARATH S N <bharath@saranyu.in>, Year 2016
 * Team Members : Harinandan , Bharath , Uday
 * License: contact mkt@saranyu.in

 * File Description : Saranyu HLS MSE Player CSS

*/

/*
 *	CSS Architecture for Player

		.sp-main-container-wrapper
			|
			|_ .sp-main-container
				|
				|_ .sp-player-inner
					|
					|_ .sp-ad-container (should contains ad-video-element , and its controls)
					|
					|_ .sp-media-element (should contain video element for HLS play-back)
					|
					|_ .sp-player-layers (should contain overlay layers like big play/pause and poster)
					|
					|_ .sp-full-controls (should contain all control elements)

	sp = saranyu player
*/



/* Begin of CSS declarations  */
.sp-main-container-wrapper{
	position: relative;
	height: 100% !important;
	width: 100% !important;
	box-sizing : border-box;
}
.sp-main-container{
	height : inherit;
	width : inherit;
}
.sp-player-inner{
	width:100%;
	height:100%;
	position:relative;
	background: black;
}

.sp-player-inner:focus {
    outline-width: 0;
}
/*
 media element is 100% height and we are hiding control bar display when not necessary
 this is parent element and contain <video> element
*/
.sp-player-inner .sp-media-element{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.sp-player-inner .sp-media-element video{
	object-fit : contain;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin: auto;
}





/*
*	.sp-player-layers
* layer for big playpause and prevention of right click on video player
*/


.sp-player-inner .sp-player-layers{
    position: absolute;
    width: inherit;
    /*height: calc(100% - 40px - 15px - 30px);
    top : 40px;*/
    top: 0px;
}

/*Poster  Start*/
.sp-player-inner .sp-player-layers .sp-player-poster{
    position: absolute;
    height: 100%;
    width: 66%;
}
.sp-player-inner .sp-player-layers .sp-player-poster img{
    height: 100%;
    width: 100%;
}
/*Poster  End*/

/*Big Play Icon*/
/*.sp-player-inner .sp-player-layers .sp-player-bigplay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(image/bigplay.png) no-repeat center center;
    cursor: pointer;
}*/

/*Loading Icon*/
.sp-player-inner .sp-player-layers .sp-player-loading{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(image/loading.svg) no-repeat center center;
    background-size: 34px;
}


/*Loading Icon*/
.sp-player-inner .sp-player-layers .sp-player-replay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(image/replay.svg) no-repeat center center;
    background-size: 42px;
}

/*Feeback Text Elements*/
.sp-player-inner .sp-player-layers .sp-player-text-feedback-container{
	position: absolute;
    height: auto;
    width: 25%;
    background-color: black;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    display: inline;
    top: 30%;
    padding: 2%;
    font-size: 1.2em;
    border-radius: .5em;
}


/*
	layer which have controls of player

	.sp-full-controls
		|
		|_.sp-controls-top
		|
		|_.sp-controls-bottom
				|
				|_.sp-controls-bottom-progress-bar
				|
				|_.sp-controls-bottom-plyr-controls


	.sp-controls-bottom-plyr-controls
	|
	|_play/pause , volume , fullscreen , quality control
*/

.sp-player-inner .sp-full-controls {
	background-color: black;
	opacity: 0.9;
}

.sp-player-inner .sp-full-controls.under-ads-active{
	opacity: 1;
}

.sp-player-inner .sp-full-controls .sp-controls-top {
	position: absolute;
	padding: 0;
	top: 0;
	padding: 0 17.1%;
    width: 65.8%;
	background-color: transparent;
    
}
 .sp-controls-top .sp-controls-top-video-title{
    position: relative;
    height: inherit;
    width: 100%;
    display: none;
    box-sizing: border-box;
    color:white;
    padding: 0.5em;
    text-align: left;
}
.sp-player-inner .sp-full-controls .sp-controls-top .sp-controls-tvlogo {
	display: flex;
	float: right!important;
	height: 100%;
}
.sp-controls-top .sp-controls-top-video-title .sp-controls-top-video-title-text{
    position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	width: 80%;
  	font-size: 0.9em;
}

.sp-controls-bottom-wrap {
	height: 50px;
	padding: 0;
	width: 100%;
}
.sp-player-inner .sp-full-controls .sp-controls-bottom{
	position: absolute;
	padding: 0 17%;
	bottom: 0;
	height: 30px;
	width: 66%;
	left: 0%;
	background-color: transparent;
}
.sp-is-fullscreen .sp-full-controls .sp-controls-bottom {
    padding: 0px 0px 0px 10px;
    width: calc(100% - 0px);
}
/*Progress bar Start*/
.sp-player-inner .sp-full-controls .sp-controls-bottom .sp-controls-bottom-plyr-controls{
		width: 66%;
		height: 30px;
		position: absolute;
		box-sizing : border-box;
		padding: 0.1em 0em 0.1em 0.3em;
}

.sp-player-inner .sp-full-controls .sp-controls-bottom .sp-controls-bottom-progress-bar{
		width: 100%;
		height: 15px;
		bottom: 30px;
		position: absolute;
		background-color: black;
		cursor: pointer;
}

.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail{
	position: relative;
	width: 100%;
	height: 7px;
}

.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-buffering{
	position: absolute;
	width: 100%;
	height: inherit;
	background-color: #333;
}
.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-loaded{
	position: absolute;
	width: 00%;
	height: inherit;
	background-color: #918e8e;
}
.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-cues{
	height: inherit;
}
.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-cues .sp-ad-cue-points{
    height: inherit;
    width: 1px;
    background-color: yellow;
    position: absolute;
}

.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-current{
	position: absolute;
	width: 00%;
	height: inherit;
	background-color: #39f;
}

.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-handle{
	position: absolute;
	width: 16px;
	height: 16px;
	top: -4px;
	background-color: white;
	border-radius: 100%;
	/*left : calc(0% - 8px);*/
}
.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-timefloat{
    background: black;
    width: 50px;
    height: 20px;
    color: white;
    position: absolute;
    top: -25px;
    border-radius: 6px;
    padding: 2px;
    font-size: 0.8em;
    box-sizing : border-box;
    text-align: center;
    display: none;
}
.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-seekbar-preview{
	display: none;
	height: auto;
	width: auto;
	bottom: 32px;
	position: absolute;
	background: black;
	padding: 5px;
}

.sp-controls-bottom-progress-bar .sp-progress-bar-time-rail .sp-progress-bar-seekbar-preview .sp-progress-bar-seekbar-preview-img{
	display: inherit;
	object-fit: none;
	/*height will be calculated from js*/
	/*width will be calculated from js*/
	/*left will be calculated from js*/
  	/*
  	    will be calculated from js
  		object-position: 0 -234px;
  	*/
}
/*Progress bar End*/

.sp-controls-bottom-plyr-controls .sp-button{
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	padding:0 0.4em;
	text-align: center;
	clear: none;
	opacity: inherit;
	cursor: pointer;
}

.sp-controls-bottom-plyr-controls .sp-button button{
	display: block;
	position: relative;
	height: 20px;
    width: 20px;
   	padding: 0;
    margin: 0;
    border: 0;
    background-position: 0 0;
    outline: none;
    border: 0px !important;
    cursor: pointer;
}
.sp-button .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 7px;
    opacity: inherit;
    font-size : 0.7em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
}

.sp-button:hover .tooltiptext {
    visibility: hidden;
}

/* Play Pause Start */

/*play icon*/
.sp-controls-bottom-plyr-controls .sp-button.sp-play-pause.sp-play .sp-play-pause-btn{
	background: url(image/spritesheet_etv.png) -35px -45px ;
}


/*pause icon*/
.sp-controls-bottom-plyr-controls .sp-button.sp-play-pause.sp-pause .sp-play-pause-btn{
	background: url(image/spritesheet_etv.png) -35px -100px;
}


/*replay icon Start*/
.sp-controls-bottom-plyr-controls .sp-button.sp-play-pause.sp-replay .sp-play-pause-btn{
	background: url(image/controls.png) -336px -49px;
}
.sp-controls-bottom-plyr-controls .sp-button.sp-play-pause.sp-replay .sp-play-pause-btn:hover{
	background: url(image/controls.png) -389px -49px;
}
/*Play Pause End */




/*volume Start */
/*volume buttons start*/
.sp-controls-bottom-plyr-controls .sp-button.sp-volume-btn-wrap .sp-volume-btn{
	/*background: url(image/spritesheet_etv.png) -471px -295px;*/
	background: url(image/fs_volume.svg) no-repeat;
    width: 25px !important;
}

.sp-controls-bottom-plyr-controls .sp-button.sp-volume-btn-wrap.sp-mute .sp-volume-btn{
    /*background: url(image/spritesheet_etv.png) -318px -294px;*/
    background: url(image/mute.svg) no-repeat; 
    background-size: 80%;
}
/*volume buttons end*/
/*volume slider start*/
.sp-controls-bottom-plyr-controls .sp-volume-slider.sp-volume-slider-wrap{
    position: relative;
    display: inline-block;
    width: 65px;
    background-color: #918e8e;
    box-sizing: border-box;
    height: 5px;
    top: -15px;
    cursor: pointer;
}

.sp-volume-slider .sp-volume-current{
	position : absolute;
	background-color: #39f;
	height: inherit;
	width: 100%;
}

.sp-volume-slider .sp-volume-handle{
	position : absolute;
	background-color: white;
	border-radius:100%;
	height: 12px;
	width: 12px;
	top: -4px;
	left: calc(100% - 6px);
}

.sp-volume-slider .sp-volume-handle .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 7px;
    opacity: inherit;
    font-size : 0.7em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -50%;
}

.sp-volume-slider .sp-volume-handle:hover .tooltiptext {
    visibility: visible;
}
/*volume slide end*/
/*volume End */

/*player time Start*/
.sp-controls-bottom-plyr-controls .sp-player-time{
	position: relative;
    display: inline;
    color: white;
    text-align: center;
    margin: 0% 2% 0% 0%;
    font-size: 0.8em;
    left: 0;
    top: 0px;    
}

.sp-controls-bottom-plyr-controls.mute_remove .sp-player-time {
    left: 105px;
    top: -14px;
}

.sp-player-time .sp-plyr-currenttime{

}
.sp-player-time .sp-plyr-duration{

}
/*player time End*/


/* full-screen / unfull-screen Start */

.sp-is-fullscreen{

}

/*The tooltip was going out of player window under fullscreen mode*/
.sp-fullscreen-unfullscreen .tooltiptext{
	left : -50%;
}

.sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen{
	float: right;
}

		/*fullscreen*/
/*.sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-fullscreen .sp-fullscreen-btn{
	background: url(image/spritesheet_etv.png) -39px -263px;
}*/
		/*un-fullscreen*/
/*.sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-unfullscreen .sp-fullscreen-btn{
    background: url(image/spritesheet_etv.png) -39px -210px
}*/
.sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-fullscreen .sp-fullscreen-btn {
	background-size: 70%;
    top: 11px;
}
.sp-is-fullscreen .sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-unfullscreen .sp-fullscreen-btn {
	top: 11px;
}
/* full-screen / unfull-screen End */


/* Playlist Start */
.sp-controls-bottom-plyr-controls .sp-button.sp-playlist-button-wrap{
	float: right;
}
.sp-controls-bottom-plyr-controls .sp-button.sp-playlist-button-wrap .sp-playlist-btn{
	height : 20px;
	width  : 30px;
	display: none;
}
.sp-controls-bottom-plyr-controls .sp-button.sp-playlist-button-wrap.sp-playlist-inactive:hover .sp-playlist-btn{
	background: url(image/controls.png) -98px -158px;
}
.sp-controls-bottom-plyr-controls .sp-button.sp-playlist-button-wrap.sp-playlist-inactive .sp-playlist-btn{
	background: url(image/controls.png) -33px -158px;
}

.sp-controls-bottom-plyr-controls .sp-button.sp-playlist-button-wrap.sp-playlist-active .sp-playlist-btn{
	background: url(image/controls.png) -98px -158px;
}
.sp-player-inner .sp-playlist-panel{
	height: 120px;
	bottom: 50px;
	position: absolute;
	width: 100%;
	background-color: black;
	border-radius: 6px;
	display: none;
}
.sp-player-inner .sp-playlist-panel .sp-playlist-panel-left-btn{
	background: url("image/controls.png") -255px -244px;
	width: 30px;
	height: 25px;
	position: absolute;
	top: calc(50% - 12.5px);
}
.sp-player-inner .sp-playlist-panel .sp-playlist-panel-left-btn:hover{
background : url("image/controls.png") -215px -244px;
}

.sp-player-inner .sp-playlist-panel .sp-playlist-panel-right-btn{
	background: url("image/controls.png") -275px -291px;
	width: 30px;
	height: 25px;
	position: absolute;
	top: calc(50% - 12.5px);
	left : calc(100% - 30px)
}
.sp-player-inner .sp-playlist-panel .sp-playlist-panel-right-btn:hover{
	background : url("image/controls.png") -235px -291px;
}

.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview{
	position: absolute;
	left: 5%;
	width: 90%;
	height: inherit;
	background-color: black;
	overflow: hidden;
}

.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview .item{
  padding: 3px;
  border: none;
  box-sizing : border-box;
  height: 100%;
}

.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview .item.sp-playlist-active-item{
  padding: 3px;
  border: 3px solid blue;
  box-sizing : border-box;
}

.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview .sp-playlist-item .sp-playlist-item-img{
  display: block;
  width: 100%;
  height: 100%;
}
.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview .sp-playlist-item .sp-playlist-item-videotitle{
 	position: absolute;
    bottom: 3px;
    font-size: 0.9em;
    background: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: inherit;
    box-sizing: border-box;
    width: 90%;
    left: 5%;
    display: none;
}
.sp-player-inner .sp-playlist-panel .sp-playlist-panel-itemview .sp-playlist-item:hover .sp-playlist-item-videotitle{
	display: inline;
}
/* Playlist End */

/* Subtitles Switching Start */

.sp-player-inner .sp-media-element .sp-subtitles-panel{
	opacity: 0.8;
	display: inline;
	position: absolute;
	font-size: 0.875em;
	color: white;
	width: 98%;
	background-color: black;
	left: 1%;
	text-align: center;
	bottom: 54px;
	word-wrap: break-word;
	box-sizing: border-box;
	padding: 0.2em;
	border-radius: 6px;
	display: none;
}

.sp-controls-bottom-plyr-controls .sp-subtitles-switch.sp-subtitles-switch-wrap{
	position : relative;
	display : inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	float: right;
	color: white;
}
.sp-subtitles-switch .sp-subtitles-switch-btn{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: inherit;
	padding: 0 !important;
	font-size: 0.7em;
	cursor: pointer;
	display: none;
}
.sp-subtitles-switch .sp-subtitles-switch-btn:hover{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: #39f;
	padding: 0 !important;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap{
    position: absolute;
    bottom: 200%;
    background-color: black;
    width: 100px;
    padding: 5px;
    box-sizing : border-box;
    right: 35%;
    display: none;
    cursor: pointer;
    border-radius: 6%;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap div{
	margin: 5px; cursor: pointer;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap div button{
	background-color: black;
	color: white;
	border: 0px;
	outline: none;
	cursor: pointer;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap div button:hover{
	color: #39f;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap .active{
	color: #39f;
}
.sp-subtitles-switch-wrap .sp-subtitles-switch-popup-wrap .inactive{
	color: white;
}
/* Subtitles Switching End */


/* Quality Switching Start */
.sp-controls-bottom-plyr-controls .sp-quality-switch.sp-quality-switch-wrap{
	position : relative;
	display : inline-block;
	height: 20px;
	width: 15px;
	text-align: center;
	float: right;
	color: white;
}
.sp-quality-switch .sp-quality-switch-btn{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: inherit;
	padding: 0 !important;
	font-size: 0.7em;
	cursor: pointer;
	background: url(image/fs_settings.svg) no-repeat;
	top: 3px;
	right: 4px;
}
.sp-quality-switch .sp-quality-switch-btn:hover{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: #39f;
	padding: 0 !important;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap{
    position: absolute;
    bottom: 200%;
    background-color: black;
    width: 100px;
    padding: 5px;
    box-sizing : border-box;
    right: 35%;
    display: none;
    cursor: pointer;
    border-radius: 6%;
    margin-left: -18px;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap div{
	margin: 5px; cursor: pointer;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap div button{
	background-color: rgba(0, 0, 0, 0.0);
	color: white;
	border: 0px;
	outline: none;
	cursor: pointer;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap div button:hover{
	color: #39f;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap .active{
	color: white;
}
.sp-quality-switch-wrap .sp-quality-switch-popup-wrap .inactive{
	color: white;
}
/* Quality Switching End */


/*  Multi Audio Switching Start */
.sp-controls-bottom-plyr-controls .sp-multiaudio-switch.sp-multiaudio-switch-wrap{
	position : relative;
	display : inline-block;
	height: 20px;
	width: 60px;
	text-align: center;
	float: right;
	color: white;
}
.sp-multiaudio-switch .sp-multiaudio-switch-btn{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: inherit;
	padding: 0 !important;
	font-size: 0.7em;
	cursor: pointer;
	display: none;
}
.sp-multiaudio-switch .sp-multiaudio-switch-btn:hover{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: #39f;
	padding: 0 !important;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap{
    position: absolute;
    bottom: 200%;
    background-color: black;
    width: 100px;
    padding: 5px;
    box-sizing : border-box;
    left: -35%;
    display: none;
    cursor: pointer;
    border-radius: 6%;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap div{
	margin: 5px; cursor: pointer;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap div button{
	background-color: black;
	color: white;
	border: 0px;
	outline: none;
	cursor: pointer;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap div button:hover{
	color: #39f;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap .active{
	color: #39f;
}
.sp-multiaudio-switch-wrap .sp-multiaudio-switch-popup-wrap .inactive{
	color: white;
}
/* Multi Audio Switching End */

/*NX playback Switch Start*/
.sp-controls-bottom-plyr-controls .sp-nxplayback-switch.sp-nxplayback-switch-wrap{
	position : relative;
	display : inline-block;
	height: 20px;
	width: 60px;
	text-align: center;
	float: right;
	color: white;
}
.sp-nxplayback-switch .sp-nxplayback-switch-btn{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: inherit;
	font-size: 0.7em;
	padding: 0 !important;
	cursor: pointer;
       display:none;
}
.sp-nxplayback-switch .sp-nxplayback-switch-btn:hover{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: #39f;
	padding: 0 !important;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap{
    position: absolute;
    bottom: 200%;
    background-color: black;
    width: 100px;
    padding: 5px;
    box-sizing : border-box;
    left: -35%;
    display: none;
    cursor: pointer;
    border-radius: 6%;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap div{
	margin: 5px; cursor: pointer;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap div button{
	background-color: black;
	color: white;
	border: 0px;
	outline: none;
	cursor: pointer;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap div button:hover{
	color: #39f;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap .active{
	color: #39f;
}
.sp-nxplayback-switch-wrap .sp-nxplayback-switch-popup-wrap .inactive{
	color: white;
}
/*NX playback Switch End*/

/*Closed Caption Switch Start*/
/*
.sp-controls-bottom-plyr-controls .sp-closedcaptions-switch.sp-closedcaptions-switch-wrap{
	position : relative;
	display : inline-block;
	height: 20px;
	width: 60px;
	text-align: center;
	float: right;
	color: white;
}
*/
/*
.sp-closedcaptions-switch .sp-closedcaptions-switch-btn{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: inherit;
	padding: 0 !important;
}
*/
/*
.sp-closedcaptions-switch .sp-closedcaptions-switch-btn:hover{
	height: inherit;
	width: inherit;
	background: inherit;
	border: 0px;
	outline: none;
	color: #39f;
	padding: 0 !important;
}
*/
/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap{
    position: absolute;
    bottom: 200%;
    background-color: black;
    width: 100px;
    padding: 5px;
    box-sizing : border-box;
    left: -35%;
    display: none;
    cursor: pointer;
}
*/

/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap div{
	margin: 5px; cursor: pointer;
}
*/

/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap div button{
	background-color: black;
	color: white;
	border: 0px;
	outline: none;
	cursor: pointer;
}
*/

/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap div button:hover{
	color: #39f;
}
*/
/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap .active{
	color: #39f;
}
*/
/*
.sp-closedcaptions-switch-wrap .sp-closedcaptions-switch-popup-wrap .inactive{
	color: white;
}
*/
/*Closed Caption Switch End*/

/* Ads related */
/*Start*/

/*
	.sp-player-inner .sp-ad-container = main ad container
	this will contain overlay player with controls , video title and ad video player.

	.sp-ad-container
		|
		|--- .sp-ad-top-controlbar // ad title.
		|
		|--- .sp-ad-video-element // given to google ima sdk.
		|
		|--- .sp-ad-bottom-controlbar // ad playpause , volume , time and fullscreen.

*/

.sp-player-inner .sp-ad-container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;/*should be made -ve*/
    display: none;/*should be made none*/
    background-color: black;
    overflow: hidden;
}


.sp-player-inner .sp-ad-container.sp-ad-container-display{
    display: block !important;
}

.sp-player-inner .sp-ad-container.sp-ad-active{
	z-index: 10;
	display: block;
}

.sp-player-inner .sp-ad-container .sp-ad-dummy-video{
    position: absolute;
    top: 30px;
    height : calc(100% - 120px);
    width: 100%;
}

.sp-player-inner .sp-ad-container .sp-ad-top-controlbar{
	position: relative;
    height: 30px;
    width: 100%;
    background-color: black;
}

.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar{
	position: relative;
    height: 30px;
    width: 100%;
    background-color: black;
    padding: 4px;
    box-sizing: border-box;
}

.sp-player-inner .sp-ad-container .sp-ad-video-element{
	position: relative;
    width: 100%;
    height : calc(100% - 60px);
}
/*if banner then hide controls , dummy video element , just show banner portion*/
.sp-player-inner .sp-ad-container.sp-ad-banner{
	height: 100px;
	z-index: 10;
	bottom: 50px;
	background-color: transparent;
	display: block;
}
.sp-player-inner .sp-ad-container.sp-ad-banner.sp-playlist-show{
	bottom : 170px;
}
.sp-player-inner .sp-ad-container.sp-ad-banner .sp-ad-video-element{
	height : inherit;
	background-color: black;
}
.sp-player-inner .sp-ad-container.sp-ad-banner .sp-ad-video-element .sp-ad-banner-closebtn{
    color: white;
    position: absolute;
    background-color: black;
    right: 0;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 6px;
    padding: 0.2em;
}
.sp-player-inner .sp-ad-container.sp-ad-banner .sp-ad-bottom-controlbar{
	display: none;
}
.sp-player-inner .sp-ad-container.sp-ad-banner .sp-ad-top-controlbar{
	display: none;
}
.sp-player-inner .sp-ad-container.sp-ad-banner .sp-ad-dummy-video{
	display: none;
}
/*if banner then ends*/


.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button{
	position: relative;
	width: 25px;
	height: 20px;
	display: inline-block;
	padding:0 0.4em;
	text-align: center;
	clear: none;
	opacity: inherit;
	cursor: pointer;
}

.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button button{
	display: block;
	position: relative;
	height: 20px;
    width: 20px;
   	padding: 0;
    margin: 0;
    border: 0;
    background-position: 0 0;
    outline: none;
    border: 0px !important;
    cursor: pointer;
}

/*ad play pause btn start*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-playpause{
	float: left;
}
/*play icon*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-playpause.sp-ad-play button{
	background: url(image/controls.png) -35px -45px ;
}
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-playpause.sp-ad-play:hover button{
	background: url(image/controls.png) -102px -45px ;
}

/*pause icon*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-playpause.sp-ad-pause button{
	background: url("image/controls.png") -35px -100px;
}
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-playpause.sp-ad-pause:hover button{
	background: url(image/controls.png) -101px -100px;
}
/*ad play pause btn stop*/


/*ad fullscreen begin*/
		/*fullscreen*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-fullscreen-unfullscreen{
	float: right;
}
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-fullscreen-unfullscreen.sp-ad-fullscreen button{
    background: url(image/controls.png) -39px -263px;
    /*background: url(image/controls.png) -452px -112px;*/
}
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-fullscreen-unfullscreen.sp-ad-fullscreen:hover button{
   background: url(image/controls.png) -104px -263px;
     /*background: url(image/controls.png) -531px -112px;*/
}

		/*un-fullscreen*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-fullscreen-unfullscreen.sp-ad-unfullscreen button{
    background: url(image/controls.png) -39px -210px;
   /* background: url(image/controls.png) -452px -112px;*/
}
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-button.sp-ad-fullscreen-unfullscreen.sp-ad-unfullscreen:hover button{
    background: url(image/controls.png) -105px -210px;
   /* background: url(image/controls.png) -531px -112px;*/
}
/*ad fullscreen end*/

/*ad mute and unmute start*/
.sp-player-inner .sp-ad-container .sp-ad-button.sp-ad-volume-muteunmute{
	float: left;
}
.sp-player-inner .sp-ad-container .sp-ad-button.sp-ad-volume-muteunmute.sp-ad-unmute button{
	background: url(image/controls.png) -450px -295px;
}
.sp-player-inner .sp-ad-container .sp-ad-button.sp-ad-volume-muteunmute.sp-ad-mute button{
    background: url(image/controls.png) -318px -294px;
}
/*ad mute and unmute start*/
/*volume slider start*/
.sp-ad-bottom-controlbar .sp-ad-volume-slider.sp-ad-volume-slider-wrap{
    position: relative;
    display: inline-block;
    width: 65px;
    background-color: #918e8e;
    box-sizing: border-box;
    height: 5px;
    cursor: pointer;
}

.sp-ad-volume-slider .sp-ad-volume-current{
	position : absolute;
	background-color: #39f;
	height: inherit;
	width: 100%;
}

.sp-ad-volume-slider .sp-ad-volume-handle{
	position : absolute;
	background-color: white;
	border-radius:100%;
	height: 12px;
	width: 12px;
	top: -4px;
	left: calc(100% - 6px);
}
/*volume slide end*/

/*Ad Time Start*/
.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-player-time{
	position: relative;
    display: inline;
    color: white;
    text-align: center;
    margin: 0 2%;
    font-size: 0.8em;
}

.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-player-time .sp-ad-plyr-currenttime{

}

.sp-player-inner .sp-ad-container .sp-ad-bottom-controlbar .sp-ad-player-time .sp-ad-plyr-duration{

}
/*Ad Time End*/


/*Ad title start*/
.sp-player-inner .sp-ad-container .sp-ad-top-controlbar .ad-video-title{
	position: relative;
    height: inherit;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    color:white;
    padding: 0.5em;
    text-align: left;
}
.sp-player-inner .sp-ad-container .sp-ad-top-controlbar .ad-video-title .ad-video-title-text{
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	width: 80%;
  	font-size: 0.9em;
}
/*Ad title end*/

/* Ads related Stop*/

/* Next episode starts */
.sp-controls-bottom-wrap {
	bottom: 48px;
	width: auto;
}
.next-episode {	    
	border-radius: 5px 0px 0px 5px;	
	padding: 0px;
	width: 216px;
	height: 57px;
}
.next-episode-img {
	width: 100px;
}
/*.next-episode-img img.play_ico {  
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  width: 28px;
}*/
.next-episode-txt {	    
  padding-left: 5px;
  width: 110px;
}
.next-episode-txt p#fir {
  font-size: 12px;
  line-height: 15px;
}
.next-episode-txt p#sec {
  font-size: 11px;
  line-height: 13px;  
}
/* Styles by NKS */

.sp-is-fullscreen .sp-full-controls .sp-controls-bottom1, .sp-is-fullscreen .sp-full-controls .sp-controls-bottom, .sp-is-fullscreen .sp-full-controls .sp-controls-top {
	padding: 0 0px;
    width: calc(100% - 0px) !important;
}
.credit_watch_button {
  padding: 6px 9px;
  right: 13px;
  top: 13px;
}
.circluar_progress_wrap {
  top: 15px;
  left: 36px;
}
.progress {
  height: 32px;
  width: 32px;
}
.progress .progress-value .play_ico {
  left: 12px;
  top: 8px;
  width: 12px !important;
}
.progress:after {
  border: 4px solid #999999;
}
.progress .progress-bar {
  border-width: 4px;
}
  /* Player icons in mobile */
@media(min-width: 768px) and (max-width: 1300px) {
	.sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-fullscreen .sp-fullscreen-btn, .sp-is-fullscreen .sp-controls-bottom-plyr-controls .sp-button.sp-fullscreen-unfullscreen.sp-unfullscreen .sp-fullscreen-btn {
		top: 7px;
	}

}
@media(min-width: 768px) and (max-width: 850px) { 
    .sp-is-fullscreen .sp-full-controls .sp-controls-bottom1 {
        bottom: 48px!important;
    }
    .sp-player-inner .sp-full-controls .sp-controls-bottom1 {
        bottom: 24px !important;
    }
}
@media(max-width: 767px) {
	.sp-controls-bottom-plyr-controls .sp-button.sp-play-pause {
		float: left;
	}
	.sp-controls-bottom-plyr-controls .sp-subtitles-switch .sp-subtitles-switch-btn {
		background-size: 91%;
    top: 11px;
    margin-right: 0;
    right: 10px;
	}
	.sp-controls-bottom-plyr-controls .sp-button button {
		margin-top: -7px;
	}
	.sp-player-inner .sp-player-layers .sp-player-bigplay {
		background-size: 85px;
	}
	.sp-player-inner .sp-player-layers .sp-player-poster, .sp-player-inner .sp-full-controls .sp-controls-bottom, 
	.sp-player-inner .sp-full-controls .sp-controls-bottom1 {
		padding: 0;
		width: 100%;
	}
	.sp-player-inner .sp-full-controls .sp-controls-bottom {
		height: 25px;
	}
	.sp-player-inner .sp-full-controls .sp-controls-bottom .sp-controls-bottom-plyr-controls {
		height: 25px;
		width: 100%;
	}
	/*.sp-player-inner .sp-player-layers .sp-player-poster {
		height: auto;
		padding-top: 57.5%;
	}*/
	.sp-player-inner .sp-full-controls .sp-controls-top, .sp-player-inner .sp-full-controls .sp-controls-middle, .sp-player-inner .sp-full-controls .sp-controls-bottom, .sp-player-inner .sp-full-controls .sp-controls-bottom1 {
		padding: 0;
    	width: 100%;
	}


}  
@media(max-width: 640px) {
	.sp-player-inner .sp-player-layers .sp-player-bigplay {
		background-size: 70px;
	}
}
@media(max-width: 440px) {
	.sp-player-inner .sp-player-layers .sp-player-bigplay {
		background-size: 55px;
	}
}
@media only screen and (min-height: 2000px) and (orientation: portrait) {
  .sp-is-fullscreen .sp-player-layers .sp-player-poster {
    height: auto;
    padding-top: 38.5%;
    width: 100%;
  }
}
@media only screen and (max-width: 470px) and (orientation: portrait) {
	.sp-player-inner.sp-is-fullscreen .sp-media-element .sp-subtitles-panel {
		bottom: 39.5%;
	}
}

.sp-controls-middle .sp-button.sp-play-pause, .sp-controls-middle .sp-button.sp-play-pause button, .sp-controls-middle .sp-button.sp-play-pause.sp-play .sp-play-pause-btn {
	height: 47px;
	width: 35px;	
}
.sp-controls-middle .sp-button {
	height: 30px;
	margin: 0px 13px;
	width: 30px;
}