.container, .container1 {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
}
.paddingLeft0 {
    padding-left: 0px;
}

.paddingRight0 {
    padding-right: 0px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.top15 {
    margin-top: 15px;
}

.right15 {
    margin-right: 15px;
}

.left15 {
    margin-left: 15px;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-25 {
    padding: 25px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-35 {
    padding: 35px !important;
}

.padding-40 {
    padding: 40px !important;
}

.padding-horizontal-5 {
    padding: 0 5px !important;
}

.padding-horizontal-10 {
    padding: 0 10px !important;
}

.padding-horizontal-15 {
    padding: 0 15px !important;
}

.padding-horizontal-20 {
    padding: 0 20px !important;
}

.padding-vertical-10 {
    padding: 10px 0 !important;
}

.padding-vertical-15 {
    padding: 15px 0 !important;
}

.padding-vertical-20 {
    padding: 20px 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-45 {
    padding-bottom: 45px !important;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}
.padding-top-35 {
    padding-top: 35px !important;
}
.padding-top-40 {
    padding-top: 40px !important;
}
.padding-top-45 {
    padding-top: 45px !important;
}
.padding-top-50 {
    padding-top: 50px !important;
}
.padding-top-65 {
    padding-top: 65px !important;
}
.padding-top-80 {
    padding-top: 80px !important;
}
.padding-top-82 {
    padding-top: 82px !important;
}
.padding-top-85 {
    padding-top: 85px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}
.padding-left-28 {
    padding-left: 28px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}
.padding-right-26 {
    padding-right: 26px !important;
}
.padding-right-28 {
    padding-right: 28px !important;
}
.padding-right-30 {
    padding-right: 30px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-45 {
    margin-bottom: 45px !important;
}
.margin-bottom--10 {
    margin-bottom: -10px !important;
}
.margin-bottom-62 {
    margin-bottom: 62px !important;
}

.margin-bottom-72 {
    margin-bottom: 72px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 5em !important;
    text-align: center;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline {
    display: inline;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.no-display {
    display: none !important;
}

.display-table {
    display: table !important;
}

.display-table-cell {
    display: table-cell !important;
}
.list-none {
    list-style: none;
}
.list-inside {
    list-style-position: inside;
}
.text-underline {
  text-decoration: underline;
}
.she-col1 {
    color: #000 !important;
}
.dark-theme .she-col1 {
    color: #fff !important;
}
.shemaroo-color1, .shemaroo-color1:hover {
    color: #666 !important;
}
.shemaroo-color2, .shemaroo-color2:hover {
    color: #000 !important;
}
.shemaroo-color3, .shemaroo-color3:hover {
    color: #999 !important;
}
.shemaroo-color4, .shemaroo-color4:hover {
    color: #ffffff;
}
.shemaroo-color5, .shemaroo-color5:hover {
    color: #A5A5A5;
}
.shemaroo-color6, .shemaroo-color6:hover {
    color: #fff !important;
}
.shemaroo-color7, .shemaroo-color7:hover {
    color: #3F244A !important;
}
.shemaroo-color8, .shemaroo-color8:hover {
    /*color: #D91F53 !important;*/
}
.shemaroo-color9, .shemaroo-color9:hover {
    color: #35444E !important;
}
.dark-theme .she-col2{
  color: #fff !important;
}
.she-col2{
    color: #000 !important;
}

.she-col11{
    color: #666 !important;
}
.dark-theme .she-col11{
    color: #fff !important;
}

.she-col7{
   color: #3F244A !important; 
}
.dark-theme .she-col7{
    color: #fff !important;
}

.she-col9{
    color: #35444E !important;
}

.dark-theme .she-col9{
    color: #fff !important;
}

.she-col93{
    color: #35444E !important;
}

.dark-theme .she-col93{
    color: #999 !important;
}

.w-65 {
    width: 65% !important;
}
section {
  float: left;
  width: 100%;
}
/*a.see-more {
    font-size: 0.875em;
    color: #D41E52;
    margin-right: 108px;
    margin-top: 8px;
    text-decoration: none;
}*/
a.see-more:hover {
    color: #0095DB;
    text-decoration: none;
}
.heading_title_color,#heading_title_color{
    display: inline-block;
    font-family: 'condensed-semibold';
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
}
.modal-open {
    overflow: hidden;
    position: fixed;
}
.relative-content {
    position: relative;
}
.center-align-content {
    display: flex;
    justify-content: center;
}
.vcenter-align-content {
  display: flex;
  align-items: center;  
}
.app-d-flex {
  display: flex;
}
.h-center {
  justify-content: center;
}
.v-center {
  align-items: center;
}
.hv-center {
  align-items: center;
  justify-content: center;  
}
#watch_list_delete_toast .center-align-content, #continue_watch_delete_toast .center-align-content {
    align-items: flex-end;
    min-height: 350px;
}
#watch_list_delete_toast .less_height_box, #continue_watch_delete_toast .less_height_box {
    min-height: 80px;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.no-events {
    pointer-events: none;
}
.normal_txt {
    /*color: #666;
    font-family: 'condensed-regular';
    font-size: 0.875em;*/
    color: #35444E;
    font-family: 'Muli-Regular';
    font-size: 1em;
}
.dark-theme .normal_txt {
  color: #999;
}
.custom-control.material-switch, .cursor-pointer {
    cursor: pointer;
}
.txt-success {
    color: #8dc63f;
}
.txt-failure {
    color: #ff0000;
}
.rounded {
    border-radius: 3px!important;
}
.font-size1 {
    font-size: 16px;
}
.font-size2 {
    font-size: 14px;
}
.font-size3 {
    font-size: 12px;
}
.font-size4 {
    font-size: 20px;
}
.font-size5 {
    font-size: 18px;
}
.font-size6 {
  font-size: 24px;
}
.mulli-font1 {
  font-size: 14px;
  letter-spacing: -0.09px;
}
.mulli-font2 {
  font-size: 16px;
  letter-spacing: -0.1px;
}
.mulli-font3 {
  font-size: 18px;
  letter-spacing: -0.11px;
}
.app-btn3, .app-btn4 {  
  background: #D51F53;
  border-radius: 24px;
  align-items: center;
  display: flex;
  justify-content: center;  
  font-size: 18px;
}
.app-btn3 {
  width: 240px;
  height: 48px;
  margin: 0px 8px;
}
.app-btn4 {
  height: 48px;
  width: 135px;
}
.horizontal_title.rounded img.rounded, .square_big_title.rounded img.rounded {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;   
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.content-separator {
    background: linear-gradient(-180deg, rgba(0,0,0,0.15) 3%, rgba(0,0,0,0.1) 10%, rgba(255,255,255,1) 100%);
    /*topbar - opacity 15% distaqcce 5px spread 0 size 10px angle 90%*/
    display: none;
    height: 14px;
}
@media(max-width: 1199px) {
 /* a.see-more {
      margin-right: 100px;
      margin-top: 5px;
  }*/
  .padding-top-100 {
      padding-top: 100px !important;
  }
  .padding-top-135 {
      padding-top: 145px!important;
  }
  .padding-top-148 {
      padding-top: 148px!important;
  }
  .app-btn3, .app-btn4 {
    border-radius: 20px;
    font-size: 17px;
  }
  .app-btn3 {
    height: 43px;
    width: 190px;
  }
  .app-btn4 {
    height: 45px;
    width: 125px;
  }
}
@media(max-width: 768px) { 
  /*a.see-more {
      margin-right: 60px;        
  } */   
  #watch_list_delete_toast .center-align-content, #continue_watch_delete_toast .center-align-content {
    min-height: 75px;
  }
}
@media(max-width: 767px) {
  .tile-box-shadow.padding-top-65 {
      padding-top: 35px!important;
  }
  /*a.see-more {
      font-size: 0.6875em;
  }*/
  .padding-top-60 {
      padding-top: 60px!important;
  }
  .padding-top-70 {
      padding-top: 70px!important;
  }
  .mobile-padding-top-85 {
      padding-top: 85px!important;    
  }
  .padding-top-135 {
      padding-top: 125px!important;
  }
  .padding-left-28 {
      padding-left: 8px !important;
  }
  .padding-right-26 {
      padding-right: 8px !important;
  }
  .padding-right-28 {
      padding-right: 8px !important;
  }
  .mobile_padding_0 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .app-btn3, .app-btn4 {    
    font-size: 15px;
  }
  .app-btn3 {
    height: 38px;
    width: 170px;
  }
  .app-btn4 {
    height: 42px;
    width: 115px;
  }
}   
@media(max-width: 576px) { 
  /*a.see-more {
      margin-right: 15px;        
  }*/
  .app-btn3, .app-btn4 {
    font-size: 14px;
  }
  .app-btn4 {
    height: 41px;
    width: 110px;
  }
}

