@supports (mix-blend-mode: lighten) {
  .light .gradient-circle {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient-circle::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient-circle::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient1 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient1::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient1::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient2 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient2::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient2::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient3 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient3::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient3::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient4 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient4::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient4::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient5 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient5::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient5::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient6 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient6::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient6::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient7 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient7::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient7::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .light .gradient8 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .light .gradient8::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; }
    .light .gradient8::before {
      mix-blend-mode: screen; } }

@supports (mix-blend-mode: lighten) {
  .custom-gradient .gradient1 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .custom-gradient .gradient1::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 0;
      left: 1px;
      width: calc(100% + -2px);
      height: calc(100% + -1px);
      background: linear-gradient(42deg, #D92F5C 0%, #D92F5C 50%, #F6704A 51%, #F6704A 100%);
      pointer-events: none; }
    .custom-gradient .gradient1::before {
      mix-blend-mode: screen; } }
@supports (mix-blend-mode: lighten) {
  .custom-gradient .gradient2 {
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply; }
    .custom-gradient .gradient2::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 0;
      left: 1px;
      width: calc(100% + -2px);
      height: calc(100% + -1px);
      background: linear-gradient(to right,#a6a6a6, #aaaaaa);
      pointer-events: none; }
    .custom-gradient .gradient2::before {
      mix-blend-mode: screen; } }

.custom-control.material-checkbox {
  --color: #26a69a; }
  .custom-control.material-checkbox .material-control-input {
    display: none; }
    .custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator {
      border-color: var(--color);
      transform: rotateZ(45deg) translate(1px, -5px);
      width: 10px;
      border-top: 0px solid #fff;
      border-left: 0px solid #fff; }
  .custom-control.material-checkbox .material-control-indicator {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s; }
.custom-control.fill-checkbox {
  --color: #26a69a;
  --color1: #E0314C;
  --color2: #EF503A; }
  .custom-control.fill-checkbox .fill-control-input {
    display: none; }
    .custom-control.fill-checkbox .fill-control-input:checked ~ .fill-control-indicator {
      background-color: var(--color);
      border-color: var(--color);
      background-size: 80%; }
  .custom-control.fill-checkbox .fill-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
    background: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }
.custom-control.overflow-checkbox .overflow-control-input {
  display: none; }
  .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
    transform: rotateZ(45deg) scale(1);
    top: 0px;
    left: 6px; }
  .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::before {
    opacity: 1; }
.custom-control.overflow-checkbox .overflow-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 20px;
  border: 1px solid #E5E5E5;
  cursor: pointer; }
  .custom-control.overflow-checkbox .overflow-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 15px;
    transition: .3s;
    transform: rotateZ(90deg) scale(0);
    width: 9px;
    border-bottom: 3px solid #0496DC;
    border-right: 3px solid #0496DC;
    border-radius: 3px;
    top: -2px;
    left: 2px; }
  .custom-control.overflow-checkbox .overflow-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 13px;
    transition: .3s;
    width: 9px;
    border-right: 7px solid #fff;
    border-radius: 3px;
    transform: rotateZ(45deg) scale(1);
    top: 0px;
    left: 5px;
    opacity: 0; }
.custom-control.material-switch {
  --color: #D51F53;
  --color1: #E0304D;
  --color2: #F0533A;
  padding-left: 0; }
  .custom-control.material-switch .material-switch-control-input {
    display: none; }
    .custom-control.material-switch .material-switch-control-input:checked ~ .material-switch-control-indicator::after {
      background: linear-gradient(45deg, var(--color1) 50%, var(--color2) 100%);
      left: 17px; }
  .custom-control.material-switch .material-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 16px;
    background: #ddd;
    border-radius: 16px;
    transition: .3s; }
    .custom-control.material-switch .material-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      transition: .3s;
      top: -1px;
      left: -1px;
      background: #fdfdfd;
      box-shadow: 0 2px 10px #aaa; }
.custom-control.ios-switch {
  --color: #4cd964;
  padding-left: 0; }
  .custom-control.ios-switch .ios-switch-control-input {
    display: none; }
    .custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
      width: 20px; }
    .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
      border: 10px solid var(--color); }
      .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
        top: -8px;
        left: 4px; }
    .custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
      left: 0px; }
  .custom-control.ios-switch .ios-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ddd; }
    .custom-control.ios-switch .ios-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      transition: .3s;
      top: 0px;
      left: 0px;
      background: #fff;
      box-shadow: 0 0 2px #aaa, 0 2px 5px #999; }
.custom-control.border-switch {
  --color: #4cd964;
  padding-left: 0; }
  .custom-control.border-switch .border-switch-control-input {
    display: none; }
    .custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator {
      border-color: var(--color); }
      .custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator::after {
        left: 14px;
        background-color: var(--color); }
  .custom-control.border-switch .border-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ccc; }
    .custom-control.border-switch .border-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transition: .3s;
      top: 2px;
      left: 2px;
      background: #ccc; }
.custom-control.teleport-switch {
  --color: #4cd964;
  padding-left: 0; }
  .custom-control.teleport-switch .teleport-switch-control-input {
    display: none; }
    .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
      border-color: var(--color); }
      .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
        left: -14px; }
      .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
        right: 2px;
        background-color: var(--color); }
  .custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden; }
    .custom-control.teleport-switch .teleport-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transition: .3s;
      top: 2px;
      left: 2px;
      background: #ccc; }
    .custom-control.teleport-switch .teleport-switch-control-indicator::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transition: .3s;
      top: 2px;
      right: -14px;
      background: #ccc; }

.list-group:first-child .list-group-control:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; }
.list-group::last-child .list-group-control:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem; }
.list-group.list-group-flush:last-child .list-group-control:last-child {
  border-bottom: 0;
  margin-bottom: 0; }
.list-group.list-group-flush:first-child .list-group-control:first-child {
  border-top: 0; }
.list-group.list-group-flush .list-group-control {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
.list-group .list-group-control {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .list-group .list-group-control .custom-control {
    margin: 0;
    padding: .75rem 1.25rem;
    padding-left: 3rem;
    display: block; }
    .list-group .list-group-control .custom-control .custom-control-indicator, .list-group .list-group-control .custom-control .material-control-indicator, .list-group .list-group-control .custom-control .fill-control-indicator, .list-group .list-group-control .custom-control .overflow-control-indicator {
      top: 1rem;
      left: 1.25rem; }

/*# sourceMappingURL=gradient.css.map */
