/*/*/* Font integration */
@font-face {
  font-family: 'muli-regular';
  src: url('fonts/Muli-Regular.ttf');  
}
@font-face {
  font-family: 'muli-semibold';
  src: url('fonts/Muli-SemiBold.ttf');
}
@font-face {    
  font-family: 'muli-bold';
  src: url('fonts/Muli-Bold.ttf');
}
@font-face {    
  font-family: 'muli-black';
  src: url('fonts/Muli-Black.ttf');
}
@font-face {    
  font-family: 'BalooBhaijaan-Regular';
  src: url('fonts/BalooBhaijaan-Regular.ttf');
}
@font-face {    
  font-family: 'condensed-regular';
  src: url('fonts/EncodeSansCondensed-Regular.ttf');
}
@font-face {
  font-family: 'condensed-medium';
  src: url('fonts/EncodeSansCondensed-Medium.ttf');    
}
@font-face {
  font-family: 'condensed-semibold';
  src: url('fonts/EncodeSansCondensed-SemiBold.ttf');
}
@font-face {    
  font-family: 'condensed-extra-bold';
  src: url('fonts/EncodeSansCondensed-ExtraBold.ttf');
}

.payment-contianer {
	margin: 0 auto;
	max-width: 526px
}
.onboarding-payment-contianer {
	margin: 0 auto;
	max-width: 586px
}
.payment-header {
	border: 1px dashed #E77794
}
.plans_summary_section .payment-header ul li {
	float: left;
	font-size: 0.875em;
	margin-right: 8px;
	width: auto
}
.plans_summary_section .payment-header ul li:first-child {
	margin-right: 0;
	width: calc(100% - 200px);
	color: #666;
	font-size: 16px
}
.plans_summary_section .payment-header ul li:last-child {
	float: right;
	margin-right: 0px
}
.plans_summary_section .payment-header ul li .custom-control span.overflow-control-description {
	color: #010300;
	font-size: 1.25em;
	margin-top: 0px
}
.plans_summary_section .payment-header ul li .custom-control span.overflow-control-description label {
	color: #686669;
	float: left;
	font-size: 0.7em;
	margin-bottom: 0px;
	margin-top: -5px
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px
}
[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 32px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
	width: 80px
}
[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 24px;
	height: 24px;
	border: 1px solid #686868;
	border-radius: 100%;
	background: transparent
}
[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #201E1C;
	position: absolute;
	top: 9px;
	left: 6px;
	border-radius: 100%;
	transition: all 0.2s ease
}
[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0)
}
[type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}
#revert_first_plan {
	font-size: 12px
}
.modal {
	background: rgba(0, 0, 0, 0.125)
}
#promocode_pop .modal-dialog,
#ctn_watch_delete_pop .modal-dialog,
#modify_remove_plan_pop .modal-dialog {
	max-width: 340px
}
.promocode_pop_textbox_wrap {
	width: calc(100% - 10px)
}
.plans_summary_section .payment-header .custom-control.overflow-checkbox .overflow-control-indicator::before {
	border-right: 7px solid transparent
}
.plans_summary_section .payment-header .custom-control.overflow-checkbox .overflow-control-indicator::after {
	border-bottom: 3px solid #010300;
	border-right: 3px solid #010300
}
.plans_summary_section .payment-header .custom-control.overflow-checkbox .overflow-control-indicator {
	border: 1px solid #817C7A
}
.payment-header label span:first-child {
	color: #212529;
	font-size: 1.15em
}
.payment-header label span {
	float: left;
	margin-bottom: -5px;
	width: 100%
}
.payment-header label span:last-child {
	font-size: 12px
}
#revert_plan {
	color: #ABABAB;
	font-size: 0.75em;
	display: none
}
.payment-body li {
	color: #666666;
	font-size: 1em
}
.payment-body li.promocode_wrap {
	font-size: 14px
}
.payment-body li.pull-right {
	color: #999;
	font-size: 1em
}
.payment-footer li,
#pre_rel_mesg {
	font-size: 18px
}
.payment-footer li.pull-left span {
	font-size: 16px
}
.payment-body .border-bottom,
.account_details .border-bottom {
	border-color: #F2F2F2 !important
}
.payment-contianer h2 {
	margin-bottom: 13px
}
#payable-amount {
	padding: 8px 15px
}
#payable-amount span.pull-left {
	color: #666;
	font-size: 0.875em;
	margin-top: 2px
}
#payable-amount span.pull-right {
	color: #000
}
#saved-cards h5,
#payment-mode h5 {
	font-size: 1em
}
#saved-cards .list-group-item {
	padding-left: 0px;
	padding-right: 0px
}
#saved-cards .list-group-item:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
#saved-cards .list-group-item .pull-left input,
#saved-cards .list-group-item .pull-left img,
#saved-cards .list-group-item .pull-left div {
	float: left;
	margin-right: 7px
}
#saved-cards .list-group-item input[type="radio"] {
	margin-top: 5px
}
#saved-cards .list-group-item .pull-left div {
	font-size: 0.875em;
	width: 250px
}
#saved-cards .list-group-item .pull-left input[type="text"],
#saved-cards .list-group-item .pull-left input[type="password"] {
	border: 0px;
	float: left;
	margin-right: 0px;
	width: 22px
}
#saved-cards .list-group-item .pull-left div span {
	float: left;
	width: 100%
}
#saved-cards .list-group-item .pull-left input[type="text"] {
	width: 28px
}
#saved-cards .list-group-item .pull-right input[type="text"] {
	border: 1px solid #dbdbdb;
	padding: 0px 5px;
	width: 40px
}
#saved-cards .list-group-item:first-child,
#payment-mode .list-group-item:first-child,
#faqs .list-group-item:first-child {
	border-top: 0px
}
#payment-mode .list-group-item,
#faqs .list-group-item {
	padding-left: 0px;
	padding-right: 0px
}
#payment-mode .list-group-item a,
#faqs .list-group-item a {
	color: #666
}
#payment-mode .list-group-item .pull-right img,
#faqs .list-group-item .pull-right img {
	width: 10px
}
#payment-mode .list-group-item:last-child,
#faqs .list-group-item:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
#payment-mode #accordion .card,
#faqs #accordion .card {
	border: 0px;
	border-bottom: 1px solid #F2F2F2;
	border-radius: 0px
}
#faqs #accordion .card-body {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0
}
#payment-mode #accordion .card-header,
#faqs #accordion .card-header {
	padding: 0.75rem 0rem;
	margin-bottom: -1px;
	border: 0px;
	background: none
}
#payment-mode #accordion .card-link::after {
	font-family: 'FontAwesome';
	content: "\f078";
	float: right
}
#payment-mode #accordion .paypal-mode::after {
	content: ''
}
#payment-mode .custom-gradient .gradient1 {
	color: #F6704A;
	font-weight: normal
}
#payment-mode .btn:not(:disabled):not(.disabled) {
	font-weight: 600
}
#faqs #accordion .card-link::after {
	color: #666;
	font-family: 'FontAwesome';
	content: "\f067";
	float: right;
	-webkit-text-stroke: 2px white;
	font-size: 1em
}
#payment-mode #accordion .card-link[aria-expanded="false"]::after {
	color: #666;
	content: "\f078"
}
#payment-mode #accordion .card-link[aria-expanded="true"]::after {
	color: #666;
	content: "\f077"
}
#faqs #accordion .card-link[aria-expanded="false"]::after {
	color: #666;
	content: "\f067"
}
#faqs #accordion .card-link[aria-expanded="true"] {
	color: #666;
	font-family: 'condensed-semibold';
	font-size: 0.875em
}
#faqs #accordion .card-link[aria-expanded="true"]::after {
	content: "\f00d";
	color: #767676
}
#payment-mode #accordion .card-link,
#faqs #accordion .card-link,
.card-link.paypal-mode {
	color: #A5A5A5;
	font-size: 1em
}
#payment-mode #accordion .card-body {
	padding-left: 20%;
	padding-right: 20%
}
#payment-mode #accordion .input-group.expiry {
	margin-right: 30px
}
#payment-mode #accordion .input-group.expiry,
#payment-mode #accordion .input-group.cvv {
	float: left;
	width: 38%
}
#payment-mode #accordion .input-group.expiry1 {
	float: left;
	margin-right: 30px;
	width: 20%
}
#payment-mode #accordion .input-group.expiry2 {
	float: left;
	margin-right: 30px;
	width: 22%
}
.payment-contianer #accordion .input-group.button::before {
	content: ""
}
.payment-contianer #accordion .input-group.button {
	justify-content: center
}
.payment-contianer .input-group.button a span {
	font-family: 'condensed-semibold';
	font-size: 0.753em
}
.zipcode {
	width: 110px
}
.input-group.zipcode .input-label {
	left: 30px;
	top: 8px
}
.input-group.zipcode input[type="text"],
.input-group.zipcode input[type="number"] {
	border: 1px solid #E5E5E5;
	padding: 5px 30px !important
}
.modify_btn a {
	float: left
}
.modify_btn span {
	font-size: 100%
}
.view_planss {
	color: #666666;
	font-size: 83%;
	float: left
}
.view_planss a,
.view_planss span {
	float: left
}
.view_planss span {
	font-size: 110% !important;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: -1px
}
.modify_toggle {
	float: right !important
}
.current_plans .plans_box,
.prev_plans .plans_box {
	width: 100%
}
.current_plans small,
.prev_plans span,
.prev_plans small {
	color: #666666;
	font-size: 83%
}
.current_plans b,
.prev_plans b {
	color: #000;
	font-size: 16px;
	font-family: 'condensed-bold'
}
.modify_feature_options img {
	margin-right: 3px;
	vertical-align: middle
}
.modify_feature_options img#up_arrow {
	margin-top: -2px
}
.modify_feature_options img#remove_arrow {
	margin-top: -3px
}
.modify_feature_options a {
	font-size: 14px
}
.modify_feature_options .font-regular {
	color: #666;
	margin-right: 15px
}
.modify_btn a {
	font-size: 14px
}
.current_plans span.date,
.prev_plans span.date {
	color: #000;
	font-size: 14px
}
.custom-gradient .gradient1,
.custom-gradient .gradient2 {
	font-size: 14px
}
.active_plan,
.expired_plan {
	color: #8FC646 !important;
	display: block;
	font-size: 0.65em !important;
	margin-top: 3px
}
.expired_plan {
	color: red !important
}
.current_plan_payment_method img {
	width: 32px
}
.current_plan_payment_method span.label_pwd {
	color: #000;
	font-size: 1.5em;
	letter-spacing: 0px;
	margin-right: 5px;
	margin-left: 2px
}
.current_plan_payment_method span {
	color: #000 !important
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background: linear-gradient(to right, #f2681f 0%, #f5791a 34%, #f88915 40%, #f99913 60%, #faa915 100%)
}
.modify_plan_box {
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
	float: left;
	padding: 12px 18px
}
.remove_modify_plan {
	border: 1px solid #2596ca;
	border-radius: 15px;
	float: left;
	font-size: 0.875em;
	margin-top: 7px;
	padding: 6px 15px
}
.amount_payable_purchase {
	margin-right: -30%;
	margin-left: -15px
}
.cvv_box,
#accordion .input-group .cvv_box {
	display: none;
	left: -104px;
	position: absolute;
	top: 10px
}
.cvv_box img,
#accordion .input-group .cvv_box img {
	width: 130px
}
.cvv_box_val,
#accordion .input-group .cvv_box_val {
	top: -15px
}
input[type="number"] {
  letter-spacing: 1px
}
input#cardno {
  letter-spacing: 1.25px
}
.onboarding-contianer input[type="text"]:focus,
.onboarding-contianer input[type="password"]:focus,
.onboarding-contianer input[type="number"]:focus,
.onboarding-contianer input[type="email"]:focus,
#accordion .input-group input[type="text"]:focus,
.onboarding-payment-contianer input[type="text"]:focus,
.onboarding-payment-contianer input[type="password"]:focus,
.static-container input[type="text"]:focus,
.static-container textarea:focus {
  padding: 5px 5px 5px 5px
}
.onboarding-contianer .login_page input[type="text"],
.onboarding-contianer .login_page input[type="password"],
.onboarding-contianer .login_page input[type="number"] {
  padding: 5px 5px 5px 5px
}
.onboarding-contianer input[name="mobilenumber"] {
  padding-left: 0px
}
.transation_status_page .no-content-wrap {
	max-width: 370px;
	width: 370px
}
.no-content-wrap img.search-no-results-image {
	width: 166px;
	margin-top: 114px;
	margin-bottom: 30px
}
#no_search_results_wrap .no-content-wrap img.search-no-results-image {
	margin-top: 0px
}
.no-content-wrap p {
	color: #666;
	font-size: 0.875em
}
.content-not-availble-page .logoimage {
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
	width: 167px
}
.content-not-availble-page {
	background-color: #fff;
	background-image: url("/assets/content_not_availble.png");
	background-repeat: no-repeat;
	background-size: 100%
}
.content-not-availble-page .left-side {
	float: left;
	margin-right: 40px;
	width: calc(50% - 40px)
}
.content-not-availble-page .right-side {
	float: left;
	margin-left: 40px;
	margin-right: 160px;
	width: calc(50% - 200px)
}
.content-not-availble-page h1 {
	font-size: 30px
}
.content-not-availble-page p {
	font-size: 18px
}
.content-not-availble-page img.social-icon {
	margin-right: 5px;
	width: 34px
}
.content-not-availble-page .mobile_content .logoimage {
	display: block;
	margin: 0 auto;
	margin-top: 85px;
	width: 115px
}
.content-not-availble-page .mobile_content .no_content_img {
	display: block;
	margin: 0 auto;
	margin-top: 80px;
	width: 122px
}
.content-not-availble-page .mobile_content p {
	font-size: 20px
}
label.error,
span.hint_txt {
	color: #B11944;
	display: none;
	font-family: 'condensed-regular';
	font-size: 0.6875em;
	float: left;
	left: 0px;
	width: 100%;
	position: absolute;
	bottom: 12px
}
span.hint_txt {
	bottom: 24px;
	color: #666;
	display: block
}
#offers_signup_user_promo_error,
#worldmeday_signup_user_promo_error,
#rehalt_signup_user_promo_error {
	bottom: 5px
}
span#adyen_hint_zip,
span#paypal_hint_zip {
	bottom: 22px;
	width: calc(100% + 150px)
}
.input-group.cpwd label.error {
	bottom: -10px
}
label#promo_error,
label#promo_backend_error,
label#promo_code_backend_error {
	bottom: -11px;
	text-align: left
}
.input-group.custom-controls-stacked label.error {
	bottom: -45px;
	left: 0px
}
label#query_error {
	bottom: -20px
}
label#verify_otp_error,
label#resend_otp_msg,
label#pin_error,
label#verify_pin_error,
label#fp_verify_otp_error,
#fp_resend_otp_msg,
label#cnfrm_pin_error,
label#pin_errors,
label#new_pin_errors,
label#cnfrm_pin_errors {
	bottom: -27px
}
.onboarding-contianer .input-group.all_error::before {
	content: ""
}
.all_error {
	position: absolute;
	top: 10px
}
.all_error label.error {
	position: static;
	padding: 2px 0px 7px
}
.welcome_page p {
	color: #666;
	font-size: 14px
}
.welcome_page_image {
	width: 80px
}
.spinner {
	align-items: center;
	display: flex;
	height: 550px;
	justify-content: center;
	margin: 0 auto;
	max-width: 350px
}
.embed-responsive {
	height: 0
}
.embed-responsive-16by9 {
	padding-bottom: 37%
}
#coming_soon .modal-content h2 {
	background: linear-gradient(to right, #D51F53, #F15A22) !important;
	padding: 0;
	text-align: center;
	display: inline-block;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent
}
.coming_soon_content {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 250px
}
button:focus {
	outline: 0px
}
#payment_success_pop .modal-dialog,
#plan_no_modify_pop .modal-dialog {
	width: 350px
}
#confirm_plan_modification_pop .modal-dialog,
#upgrade_downgrade_pop .modal-dialog {
	max-width: 478px
}
#confirm_plan_modification_pop h6,
#upgrade_downgrade_pop h6,
#confirm_upgrade_plan_modification_pop h6,
#confirm_downgrade_plan_modification_pop h6,
#modify_remove_plan_pop h6 {
	font-size: 1em
}
#confirm_plan_modification_pop .heading,
#upgrade_downgrade_pop .heading,
#confirm_upgrade_plan_modification_pop .heading,
#confirm_downgrade_plan_modification_pop .heading,
#modify_remove_plan_pop .heading {
	color: #6f6f6f;
	font-size: 0.6875em
}
#confirm_plan_modification_pop li:nth-child(odd),
#upgrade_downgrade_pop li:nth-child(odd),
#confirm_upgrade_plan_modification_pop li:nth-child(odd),
#confirm_downgrade_plan_modification_pop li:nth-child(odd) {
	float: left;
	width: 60%;
	margin: 0px
}
#confirm_plan_modification_pop li:nth-child(even),
#upgrade_downgrade_pop li:nth-child(even),
#confirm_upgrade_plan_modification_pop li:nth-child(even),
#confirm_downgrade_plan_modification_pop li:nth-child(even) {
	float: left;
	width: 40%;
	margin: 0px
}
#confirm_downgrade_plan_modification_pop li.exist_plan_title,
#confirm_downgrade_plan_modification_pop li.new_plan_title,
#confirm_upgrade_plan_modification_pop li.exist_plan_title,
#confirm_upgrade_plan_modification_pop li.new_plan_title {
	font-size: 0.875em;
	margin-bottom: 1px
}
#confirm_upgrade_plan_modification_pop li.normal_txt,
#confirm_upgrade_plan_modification_pop li.normal_txt {
	font-size: 0.875em
}
#confirm_plan_modification_pop .normal_txt,
#upgrade_downgrade_pop .normal_txt,
#confirm_upgrade_plan_modification_pop .normal_txt,
#confirm_downgrade_plan_modification_pop .normal_txt {
	font-family: 'condensed-regular';
	font-size: 0.875em;
	line-height: 15px;
	padding-bottom: 5px
}
#modify_remove_plan_pop .normal_txt {
	font-size: 0.875em;
	line-height: 20px
}
#confirm_plan_modification_pop .plan_title,
#confirm_plan_modification_pop .txt-success,
#confirm_plan_modification_pop .txt-failure,
#confirm_upgrade_plan_modification_pop .txt-success,
#confirm_downgrade_plan_modification_pop .txt-failure {
	font-size: 0.85em
}
#confirm_plan_modification_pop p.normal_txt,
#upgrade_downgrade_pop p.normal_txt,
#confirm_upgrade_plan_modification_pop p.normal_txt,
#confirm_downgrade_plan_modification_pop p.normal_txt,
#modify_remove_plan_pop p.normal_txt {
	margin-top: 12px
}
#confirm_plan_modification_pop .radius-button,
#upgrade_downgrade_pop .radius-button,
#confirm_upgrade_plan_modification_pop .radius-button,
#confirm_downgrade_plan_modification_pop .radius-button,
#modify_plans_options-pop .radius-button,
#modify_remove_plan_pop .radius-button {
	padding: 10px 10px 11px
}
#confirm_plan_modification_pop .btn,
#confirm_upgrade_plan_modification_pop .btn,
#confirm_upgrade_plan_modification_pop .btn,
#confirm_upgrade_plan_modification_pop .btn,
#modify_remove_plan_pop .btn {
	font-size: 0.875em
}
.toster-message-wrap {
	display: none
}
.toster-message {
	background: linear-gradient(45deg, #D72554 5%, #D82554 15%, #D92556 30%, #DE2E4D 50%, #F35B34 70%, #F55E33 95%, #F55E32 100%);
	box-shadow: -2px -4px 35px 9px rgba(0, 0, 0, 0.15);
	color: #fff;
	display: table;
	padding-bottom: 13px;
	padding-left: 85px;
	padding-top: 11px;
	width: 500px
}
.toster-message p {
	padding: 0px 10px 0px 7px
}
.toster-message-small {
	padding-left: 30px !important;
	width: 200px !important
}
.toster-message .fa {
	display: table-cell;
	font-size: 3em;
	vertical-align: middle
}
.toster-message img {
	display: table-cell;
	margin-right: 0px;
	margin-top: 7px;
	vertical-align: middle;
	width: 40px
}
.toster-message p {
	display: table-cell;
	font-size: 1.15em;
	margin-bottom: 0px;
	vertical-align: middle
}
.toster-message p span {
	color: #fff;
	float: left;
	font-size: 100%;
	margin-top: -5px
}
.watchlist-page .row-show-list .item .list-tile-duration,
#continue-watching-carousel .text-ellipsis {
	width: calc(100% - 30px)
}
.watchlist-page img.remove {
	width: 11px;
	cursor: pointer
}
.settings_page ul li {
	padding: 12px 0px
}
.settings_page li .fa {
	color: #999999;
	font-weight: 600
}
.otp-roku-container {
	margin: 0 auto;
	max-width: 400px
}
.otp-roku-container .otp-verification-page input[type="text"]:nth-child(4),
.otp-roku-container .otp-verification-page input[type="number"]:nth-child(4) {
	margin-right: 10px
}
.otp-roku-container .otp-verification-page input[type="text"]:nth-child(6),
.otp-roku-container .otp-verification-page input[type="number"]:nth-child(6) {
	margin-right: 0px
}
.registered_devices_page {
	min-height: 242px
}
.registered_devices_page ul li {
	border-bottom: 1px solid #f6f6f6
}
.registered_devices_page ul li img {
	margin: 0px 13px 0px 5px;
	width: 28px
}
.registered_devices_page ul li.tv_device img {
	margin: 2px 8px 0px 0px;
	width: 20px
}
.registered_devices_page ul li img.web_device+span,
.registered_devices_page ul li img.firetv_device+span,
.registered_devices_page ul li img.appletv_device+span {
	margin-top: 2px
}
.registered_devices_page ul li img.rokutv_device+span {
	margin-top: 4px
}
.registered_devices_page ul li .pull-right img {
	margin-right: 0px;
	width: 16px
}
.active_device {
	color: #2faf02;
	font-size: 14px;
	margin-top: 2px
}
.create-pin-page span {
	font-size: 0.875em
}
#clear-watch-history-pop .modal-dialog {
	max-width: 340px
}
#clear-watch-history-pop .normal_txt {
	font-size: 0.875em
}
#streaming-quality-pop ul li {
	padding: 13px 0px 5px 0px
}
#streaming-quality-pop[type="radio"]:checked+label:before,
#streaming-quality-pop[type="radio"]:not(:checked)+label:before {
	height: 18px;
	width: 18px
}
#streaming-quality-pop[type="radio"]:checked+label:before {
	border: 1px solid #E54137
}
#streaming-quality-pop[type="radio"]:checked+label:after,
#streaming-quality-pop[type="radio"]:not(:checked)+label:after {
	background: #E54137;
	height: 10px;
	left: 4px;
	position: absolute;
	top: 4px;
	width: 10px
}
#verify_code_error {
	bottom: -26px
}
div#watch_later_pop,
div#copy_link_pop,
div#remove_continue_watching_pop {
	position: absolute;
	top: 60px;
	width: 85%
}
div#remove_continue_watching_pop,
div#reset_password_email,
div#reset_password {
	top: 6%;
	width: 92%;
	z-index: 1;
	position: absolute
}
.share_code_page #copy_link_pop {
	top: 70%
}
#continue-watching-title {
	background: linear-gradient(to right, #D51E54, #F15A23)
}
#player_subscription_pop .custom-gradient.text-center,
#player_login_pop .custom-gradient.text-center {
	display: flex;
	justify-content: center
}
#player_subscription_pop .custom-gradient .radius-button,
#player_login_pop .custom-gradient .radius-button {
	padding: 5px 12px 6px
}
input::-webkit-credentials-auto-fill-button {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0
}



.plans-bg {
	background: #F9F9F9
}
.plans-container {
	margin: 0 213px auto
}
.plan-box-container {
	margin: 0px 25px
}
.plan-box-wrap {
	float: left;
	padding: 0px 22px;
	width: 50%
}
.plans-container h1 {
	font-size: 32px;
	letter-spacing: -0.2px
}
.plan-box {
	background: #E5E5E5;
	padding: 12px
}
.shadow-box {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	border-radius: 8px
}
.plan-box h2 {
	background: #D51F53;
	color: #fff;
	font-size: 24px;
	letter-spacing: -0.15px;
	margin: 0px -28px;
	padding: 18px 20px
}
.price-box {
	background: #FFFFFF;
	justify-content: space-between;
	padding: 14px 20px 14px 23px
}
.plan-box-wrap.odd-plan-box {
	clear: left
}
.plan-box-wrap.even-plan-box {
	clear: right
}
.odd-plan-box .plan-box {
	margin-right: 22px
}
.even-plan-box .plan-box {
	margin-left: 22px
}
.plans-container [type="radio"]:not(:checked) + label:before,
.plans-summary-container [type="radio"]:not(:checked) + label:before {
	top: 0
}
.plans-des {
	min-height: 84px
}
.crown.price-box {
	padding: 3px 20px 9px 23px
}
.crown.price-box label img {
	width: 23px
}
.plans-container [type="radio"]:checked + label:after,
.plans-container [type="radio"]:not(:checked) + label:after,
.plans-summary-container [type="radio"]:checked + label:after,
.plans-summary-container [type="radio"]:not(:checked) + label:after {
	top: 4px;
	left: 4px
}
.plans-container [type="radio"]:checked + label:after,
.plans-summary-container [type="radio"]:checked + label:after {
	background: #0090D6
}
.plans-container [type="radio"]:checked + label:before, 
.plans-container [type="radio"]:not(:checked) + label:before,
.plans-summary-container [type="radio"]:checked + label:before,
.plans-summary-container [type="radio"]:not(:checked) + label:before {
	height: 20px;
	top: 0px;
	width: 20px
}
.plans-container [type="radio"]:checked + label:before,
.plans-summary-container [type="radio"]:checked + label:before {
	border: 1px solid #0090D6
}
.plans-container .crown [type="radio"]:checked + label:before,
.plans-container .crown [type="radio"]:not(:checked) + label:before {
	top: 13px
}
.plans-container .crown [type="radio"]:checked + label:after,
.plans-container .crown [type="radio"]:not(:checked) + label:after {
	top: 17px
}
.plans-container .old-price {
	margin-left: 140px
}
.plans-container .old-price:before {
	color: #FF0000;
	content: "/";
	font-size: 1.5em;
	font-family: 'condensed-medium';
	left: 45%;
	position: absolute;
	top: -5px;
	-webkit-transform: rotate(70deg);
	transform: rotate(70deg)
}
.all-plans {
	display: none
}
a#all_plans {
	font-size: 16px
}
.plans-summary-container {
	width: 424px;
	margin: 0 auto
}
.plans-summary-container .white-box-wrap .plans_summary_section {
	background: #fff;
	border-top: 1px solid #E9E9E9;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin: 0px -32px;
	padding: 30px 32px 30px 32px
}
.plans-summary-container .heading_title_color {
	background: linear-gradient(45deg, #d51f52 20%, #f36940 25%);
	font-family: 'condensed-extra-bold'
}
.plans-summary-selected-plan-wrap {
	background: #fff;
	border: 1px solid #E9E9E9
}
.desc-box.shadow-box {
	background: #E5E5E5;
	padding: 12px;
	width: calc(100% + 26px);
	margin-left: -13px
}
.selected-plan-box {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 25px 20px 20px 20px
}
.selected-plan-box .pull-right p {
	font-size: 24px;
	color: #35444E;
	letter-spacing: -0.15px
}
.plans-summary-container .promo-box input[type="text"] {
	border: 1px dashed #999999;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	border-radius: 6px;
	height: 48px;
	margin-bottom: 13px;
	width: 231px
}
.plans-summary-container .promo-box input::-webkit-input-placeholder,
.plans-summary-container .input-group.zipcode input::-webkit-input-placeholder {
	color: #999;
	font-family: 'Muli-Regular';
	font-size: 16px
}
.plans-summary-container .promo-box input:-ms-input-placeholder,
.plans-summary-container .input-group.zipcode input:-ms-input-placeholder {
	color: #999;
	font-family: 'Muli-Regular';
	font-size: 16px
}
.plans-summary-container .promo-box input::-ms-input-placeholder,
.plans-summary-container .input-group.zipcode input::-ms-input-placeholder {
	color: #999;
	font-family: 'Muli-Regular';
	font-size: 16px
}
.plans-summary-container .promo-box input::placeholder,
.plans-summary-container .input-group.zipcode input::placeholder {
	color: #999;
	font-family: 'Muli-Regular';
	font-size: 16px
}
#plan_apply_promo,
.pink-btn {
	background: #D51F53;
	border-radius: 24px;
	border-radius: 24px;
	font-size: 18px;
	height: 48px;
	margin-left: 18px;
	color: #FFFFFF;
	letter-spacing: -0.11px;
	padding: 10px 8px;
	text-align: center;
	width: 133px
}
.promo-box {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 25px 20px 20px 20px;
	width: 100%
}
.plans-summary-container .input-group.zipcode input[type="text"],
.plans-summary-container .input-group.zipcode input[type="number"] {
	height: 48px;
	padding: 5px 16px !important
}
.plans-summary-container .zipcode {
	width: 160px
}
.plans-summary-container span#adyen_hint_zip,
span#paypal_hint_zip {
	bottom: -18px;
	margin-left: 3px
}
.plans-summary-container .promo-box .error {
	position: static
}
.plans-summary-container .total-price {
	border-top: 1px solid #C6C6C6;
	margin-top: 20px;
	padding-top: 20px
}
.plans-summary-container .plan-box {
	margin: 0px 22px
}
.plans-summary-container .price-box {
	margin-left: -24px;
	margin-right: -24px;
	min-height: 58px;
	padding: 11px 20px 11px 23px
}
.plans-summary-container .price-box img {
	width: 36px
}
.plans-summary-container [type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	width: auto
}
.promo-box {
	float: left
}
.promo-box input[type="text"] {
	border: 1px dashed #A3A3A3;
	margin-bottom: 31px;
	font-size: 14px;
	height: 47px;
	padding: 5px 16px !important;
	width: 156px
}
.promo-box a {
	background: linear-gradient(60deg, #d51f53, #f15a22);
	color: #fff;
	margin-left: 8px;
	padding: 7px 8px
}
.promo-box p {
	color: #21b2d6;
	margin-bottom: 3px
}
.promo-box .error {
	bottom: -10px;
	color: #f15a22
}
.promo-box .error img {
	width: 15px
}
#promo_success_msge {
	display: none
}
.plans_summary_section .cancel_plan_promo,
.plans-summary-container .cancel_plan_promo {
	background: #989898;
	border-radius: 8px;
	cursor: pointer;
	margin-top: -3px;
	padding: 3px;
	width: 14px
}
.plans_summary_section .card-header {
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0
}
.plans_summary_section #accordion .card-body {
	padding-left: 0px;
	padding-right: 0px
}
.plans_summary_section #accordion .card-link::after {
	color: #999;
	font-family: 'FontAwesome';
	content: "\f078";
	float: right;
	-webkit-text-stroke: 1px white;
	font-size: 1em
}
.plans_summary_section #accordion .card-link[aria-expanded="false"]::after {
	color: #999;
	content: "\f078"
}
.plans_summary_section #accordion .card-link[aria-expanded="true"]::after {
	color: #999;
	content: "\f077"
}
.plans_summary_section #accordion[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
	width: 20px;
	height: 20px;
	border: 2px solid #989898;
	top: 8px
}
.plans_summary_section #accordion[type="radio"]:checked+label:before {
	border: 2px solid #E33946
}
.plans_summary_section #accordion[type="radio"]:checked+label:after {
	background: linear-gradient(to right, #D51E54, #F15A23);
	left: 5px;
	top: 13px;
	width: 10px;
	height: 10px
}
.payment-body li.font-size4 {
	font-size: 20px
}
.plans_summary_section .adyen_card_details_wrap {
	width: 70%
}
.plans-summary-container .plans_summary_section .adyen_card_details_wrap {
	width: 100%
}
.plans_summary_section .adyen_card_details_wrap_box {
	display: none
}
.plans_summary_section .adyen_card_details_wrap {
	display: block
}
.input-group.expiry1,
.input-group.expiry2,
.input-group.cvv {
	float: left;
	width: 25%
}
.input-group.expiry2,
.input-group.cvv {
	margin-left: 15px
}
.plans_summary_section .zipcode_wrap input {
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
	width: 193px;
	height: 59px
}
.plans_summary_section .zipcode_wrap input:focus {
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1)
}
.plans_summary_section .zipcode_wrap img {
	position: absolute;
	top: 22px;
	width: 15px;
	right: 16px
}
.plans_summary_section .zipcode_wrap img.loading {
	width: 20px
}
.plans_summary_section .zipcode_wrap input::-webkit-input-placeholder,
.promo-box input[type="text"]::-webkit-input-placeholder {
	color: #707070;
	font-family: 'condensed-semibold';
	font-size: 14px
}
.plans_summary_section .zipcode_wrap input:-ms-input-placeholder,
.promo-box input[type="text"]:-ms-input-placeholder {
	color: #707070;
	font-family: 'condensed-semibold';
	font-size: 14px
}
.plans_summary_section .zipcode_wrap input::-ms-input-placeholder,
.promo-box input[type="text"]::-ms-input-placeholder {
	color: #707070;
	font-family: 'condensed-semibold';
	font-size: 14px
}
.plans_summary_section .zipcode_wrap input::placeholder,
.promo-box input[type="text"]::placeholder {
	color: #707070;
	font-family: 'condensed-semibold';
	font-size: 14px
}
.plans_summary_section .zipcode_wrap input::-webkit-input-placeholder {
	color: #999 !important
}
.plans_summary_section .zipcode_wrap input:-ms-input-placeholder {
	color: #999 !important
}
.plans_summary_section .zipcode_wrap input::-ms-input-placeholder {
	color: #999 !important
}
.plans_summary_section .zipcode_wrap input::placeholder {
	color: #999 !important
}
.lazypaybtn_wrap img {
	margin-top: 5px;
	width: 39px
}
label#lazypay_email_error {
	bottom: -6px
}
#lazypay-otp-pop .input-group input[type='number'] {
	border-bottom: 2px solid #999;
	margin-bottom: 24px;
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
	width: 50px
}
#lazypay-pop.modal p,
#lazypay-otp-pop.modal p {
	color: #000;
	font-size: 14px
}
#lazypay_confirm_pop h2 {
	font-size: 24px
}
.lazypay_price_section {
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	padding: 7px 0px 3px
}
.lazypay_price_section span {
	font-size: 18px;
	color: #D91F53
}
.lazypay_price_section .font-size2 {
	font-size: 14px
}
.lazypay_price_section img {
	width: 32px
}
#lazypay_confirm_pop ul img {
	margin-top: 3px;
	width: 20px
}
.arrow_design_bg {
	background: url(/assets/arrowdesign.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	margin-bottom: 20px;
	padding-bottom: 5px
}
.promoboxwrap {
	border-bottom: 1px solid #E0E0E0
}
.promoboxwrap a {
	color: #CC4057;
	font-size: 16px
}
.promoboxwrap input[type="text"] {
	border: 1px dashed #C6C6C6 !important;
	width: 194px;
	height: 48px !important;
	border-radius: 6px !important;
	margin-right: 15px
}
.promoboxwrap #promo_apply {
	background: #DD2F54;
	border-radius: 27px;
	color: #fff;
	padding: 12px 42px
}
#player_subscription_pop img {
	cursor: pointer;
	float: right;
	margin-right: -10px;
	width: 16px
}
#player_subscription_pop p.font-size2 {
	font-size: 14px
}
#acntv_suc_pop .modal-dialog {
	max-width: 640px
}
#acntv_suc_pop .modal-content {
	background-color: #fff;
	background-image: url(/assets/firebase/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px
}
#acntv_suc_pop a.btn {
	padding: 15px 40px;
	font-size: 18px;
	background: #3F244A !important;
	border: 0
}
.referal_page {
	background: #F9F9F9;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400
}
.referal_page .container {
	max-width: 720px;
	padding: 0px 15px
}
.referal_page .font1 {
	font-size: 36px;
	letter-spacing: -0.22px
}
.referal_page .font2 {
	font-size: 32px;
	letter-spacing: -0.2px
}
.referal_page .font3 {
	font-size: 24px;
	letter-spacing: -0.15px
}
.referal_page .font4 {
	font-size: 20px;
	letter-spacing: -0.12px
}
.referal_page .font5 {
	font-size: 16px;
	letter-spacing: -0.1px
}
.referal_page #referal_code {
	font-size: 48px;
	letter-spacing: -0.3px
}
.font-bregular {
	font-family: 'BalooBhaijaan-Regular'
}
.referal_page .posterimage {
	height: 406px;
	width: 100%;
	margin-top: 20px
}
.font-rcb {
	font-weight: 700
}
.referal_page .btn {
	border-radius: 24px;
	font-size: 20px;
	letter-spacing: -0.12px;
	text-align: center;
	height: 48px;
	width: 257px
}
.referal_page .earnings_box .btn {
	height: 38px;
	width: 100px
}
.referal_page .earnings_box input[type="text"] {
	width: 60%
}
.referal_page .btn-primary {
	background: #D51F53;
	border: 0;
	color: #FFFFFF
}
.referal_page .btn-secondary {
	background: transparent;
	border: 1px solid #D51F53;
	color: #D51F53
}
.social_wrap img {
	margin: 0px 60px;
	height: 64px;
	width: 64px
}
.referal_form_wrap {
	padding: 0px 80px 0px 84px
}
.referal_form_wrap .form-group label.col-form-label {
	flex: 0 0 39.3333333333%;
	max-width: 39.3333333333%;
	padding-right: 15px;
	padding-left: 15px
}
.referal_form_wrap .form-group label span {
	color: #F90000;
	letter-spacing: -0.12px;
	line-height: 24px
}
.add_bank_acc_page .referal_form_wrap .form-group div {
	flex: 0 0 56.6666666667%;
	max-width: 56.6666666667%
}
.add_bank_acc_page .referal_form_wrap .form-group div.custom-controls-stacked {
	flex: 0 0 100%;
	max-width: 100%
}
.referal_form_wrap .form-group div input[type="text"],
.referal_form_wrap .form-group div input[type="number"],
.referal_form_wrap .form-group div input[type="email"] {
	background: #FFFFFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	font-weight: 400
}
.get_start_page .referal_form_wrap {
	padding: 0px 105px
}
.get_start_page .referal_form_wrap .form-group label.col-form-label {
	flex: 0 0 32.333333%;
	max-width: 32.333333%
}
.referal_page label.error {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	margin-bottom: 0;
	line-height: 12px;
	margin-top: 5px;
	padding: 0;
	position: static;
	width: 100%
}
.referal_form_wrap .form-group div {
	flex: 0 0 64.666667%;
	max-width: 64.666667%
}
.referal_form_wrap .form-group .custom-control span {
	color: #35444E
}
.referal_form_wrap .form-group .custom-control span a {
	color: #1C1CF8;
	text-decoration: underline
}
.get_start_page .referal_form_wrap .form-group .custom-control {
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 35px
}
.referal_page .custom-control.overflow-checkbox .overflow-control-indicator {
	height: 18px;
	border: 1px solid #727272;
	width: 18px
}
.referal_page .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
	left: 4px
}
.referal_page #faqs #accordion .card {
	background: #FFFFFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 20px 0px 18px
}
.referal_page .card-header {
	background: none;
	border-bottom: 0;
	padding: 0rem 1.25rem
}
.referal_page #faqs #accordion .card-header {
	padding: 0 1.25rem
}
.referal_page #faqs #accordion .card-link {
	font-size: 20px
}
.referal_page #faqs #accordion .card-link::after {
	color: #586F7B;
	font-family: 'FontAwesome';
	content: "\f107";
	float: right;
	-webkit-text-stroke: 1px white;
	font-size: 2.25em;
	line-height: 0.5em
}
.referal_page #faqs #accordion .card-link[aria-expanded="true"]::after {
	content: "\f106";
	color: #586F7B
}
.referal_page #faqs #accordion .card-link[aria-expanded="true"] {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif
}
.referal_page #faqs #accordion .card-body {
	padding: 1.25rem 1.25rem 0
}
.get_start_page .fa-angle-down {
	line-height: 10px
}
.earnings_box {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	height: 180px
}
#claim_btn {
	border: 1px solid #D51F53;
	border-radius: 24px;
	height: 48px;
	width: 161px
}
.earnings_box .numbers {
	font-size: 54px;
	letter-spacing: -0.37px
}
.col-md-12 .earnings_box {
	height: 179px
}
.earnings_box p {
	line-height: 28px
}
.earnings_page table tr td {
	font-size: 20px;
	line-height: 24px
}
.earnings_page table tr:nth-of-type(odd) {
	background: #F2F2F2
}
.earnings_page table tr:nth-of-type(even) {
	background: #FFFFFF
}
.earnings_page table tr td span.total_price {
	font-size: 42px
}
.add_bank_btn {
	color: #37454E;
	cursor: pointer;
	padding: 8px 25px 7px;
	border: 1px solid #35444E;
	border-radius: 30px
}
.add_bank_btn .fa {
	color: #677B86;
	margin-right: 7px;
	font-size: 28px;
	-webkit-text-stroke: 2px white
}
#ref_share_code .social_wrap img {
	margin: 0px 12px
}
#ref_share_code .mb-5,
#ref_share_code .mb-4,
#ref_share_code .pb-4 {
	margin-bottom: 0px !important
}
#ref_share_code #desk_share {
	margin-bottom: 20px !important
}
.date_wrap button {
	background: none;
	border: none;
	box-shadow: none
}
.date_wrap div {
	position: absolute;
	top: 7px;
	right: 28px
}
.date_wrap img {
	width: 24px;
	height: 24px
}
.check_earning_wrap {
	border-top: 1px solid #D4D4D4;
	padding-left: 16%;
	padding-right: 16%;
	width: 68%
}
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block
}
.upload-btn-wrapper .btn {
	border: 2px solid #999;
	color: #999;
	background-color: #F9F9F9;
	cursor: pointer;
	padding: 8px 20px;
	border-radius: 24px;
	font-size: 20px;
	font-weight: bold;
	width: auto
}
.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0
}
.referal_page table {
	white-space: pre
}
.adyen_card_details_wrap.payment_box {
	margin: 0px -10px
}
.adyen_card_details_wrap {
    display: none;
}
.adyen_card_details_wrap .form-control,
.adyen_card_details_wrap .form-control:focus {
	border: 0;
	border-bottom: 1px solid #999;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	width: 100%
}
.adyen_card_details_wrap h3 {
	margin-top: 20px;
	margin-bottom: 25px
}
.adyen_card_details_wrap input::-webkit-input-placeholder {
	letter-spacing: -0.11px;
	color: #999999;
	font-family: 'Muli-Regular'
}
.adyen_card_details_wrap input:-ms-input-placeholder {
	letter-spacing: -0.11px;
	color: #999999;
	font-family: 'Muli-Regular'
}
.adyen_card_details_wrap input::-ms-input-placeholder {
	letter-spacing: -0.11px;
	color: #999999;
	font-family: 'Muli-Regular'
}
.adyen_card_details_wrap input::placeholder {
	letter-spacing: -0.11px;
	color: #999999;
	font-family: 'Muli-Regular'
}
.adyen_card_details_wrap .input-group.cardno {
	padding-top: 25px
}
.input-group.date {
	padding-top: 50px
}
.adyen_card_details_wrap .info-label {
	top: 0px;
	position: absolute
}
.adyen_card_details_wrap .input-group.date .info-label {
	top: 30px
}
.adyen_card_details_wrap .expiry_date {
	float: left;
	width: 170px
}
.adyen_card_details_wrap #expiry_date,
.adyen_card_details_wrap #rp_expiry_date,
.adyen_card_details_wrap #rp_debit_expiry_date {
	margin-right: 10px;
	width: 50px;
	float: left
}
.adyen_card_details_wrap #expiry_year,
.adyen_card_details_wrap #card_cvv,
.adyen_card_details_wrap #rp_expiry_year,
.adyen_card_details_wrap #rp_debit_expiry_year,
.adyen_card_details_wrap #rp_card_cvv,
.adyen_card_details_wrap #rp_debit_card_cvv {
	width: 50px
}
.adyen_card_details_wrap .input-group.cardname {
	padding-top: 40px
}
#cardno_error,
#debit_cardno_error {
	color: #B00020;
	bottom: -32px;
	font-size: 14px !important
}
#card_name_error {
	bottom: -20px !important
}
#debit_card_name_error {
	bottom: -20px !important
}
#expiry_date .info-label,
#rp_expiry_date .info-label,
#rp_debit_expiry_date .info-label {
	left: 0;
	top: 31px
}
#cvv .info-label {
	left: 100px;
	top: 31px
}
.expiry_date .slash {
	color: #999;
	float: left;
	margin-top: 7px
}
.adyen_card_details_wrap.payment_box .custom-control.overflow-checkbox .overflow-control-indicator::before {
	border-right: 7px solid #F9F9F9
}
.adyen_card_details_wrap.payment_box .custom-control span.overflow-control-description {
	font-size: 18px;
	margin-top: -3px;
	margin-left: 13px
}
.adyen_card_details_wrap.payment_box .custom-control.overflow-checkbox .overflow-control-indicator {
	border: 1px solid #010101;
	border-radius: 0;
	height: 18px;
	width: 18px
}
.adyen_card_details_wrap.payment_box .custom-control.overflow-checkbox .overflow-control-indicator::after {
	border-bottom: 3px solid #0095DB;
	border-right: 3px solid #0095DB;
	height: 14px
}
.adyen_card_details_wrap.payment_box .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
	left: 4px
}
.adyen_card_details_wrap.payment_box .pink-btn {
	width: 224px
}
.adyen_card_details_wrap table {
	border-collapse: collapse
}
.paylist-box-wrap {
	border: 1px solid #DFDFDF;
	border-radius: 12px
}
.paylist-box {
	border-right: 1px solid #DFDFDF;
	width: 33.333%
}
.paylist-box:nth-child(1),
.paylist-box:nth-child(2),
.paylist-box:nth-child(3) {
	border-bottom: 1px solid #DFDFDF
}
.paylist-box:nth-child(4),
.paylist-box:nth-child(5),
.paylist-box:nth-child(6) {
	border-bottom: 0
}
.paylist-box:nth-child(3),
.paylist-box:nth-child(6) {
	border-right: 0
}
.plans-summary-container .paylist-box img {
	width: auto;
	margin-bottom: 8px
}
.plans-summary-container .custom-select {
	background: #E5E5E5;
	width: 93px
}
.plans-summary-container .select-items div,
.plans-summary-container .select-selected {
	color: #69737A;
	background: none
}
.price-box .select-selected:after {
	color: #5C717C
}
.line-m-txt {
	font-size: 36px
}
.line-m-txt {
	display: table;
	position: relative;
	white-space: nowrap;
	z-index: 1
}
.line-m-txt:before {
	right: 0%
}
.line-m-txt:before,
.line-m-txt:after {
	border-top: 2px solid #B6B6B6;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.67em;
	width: 45%
}
.plans-summary-container .custom-control.overflow-checkbox .overflow-control-indicator {
	border: 2px solid #757575
}
.custom-control span.overflow-control-description {
	font-size: 1em;
	margin-top: 1px
}
.plans-summary-container .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
	top: -1px;
	left: 5px
}
.upi-pay-btn {
	width: 220px
}
.plans-summary-container .bankwrap .custom-select {
	background: none;
	border-bottom: 1px solid #9E9E9E
}
.bank-cancel-btn {
	border: 1px solid #D51F53;
	border-radius: 24px
}
.bank-pay-btn,
.bank-cancel-btn {
	height: 48px;
	width: 170px
}
.plans-summary-container .payment_box .custom-select {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}
#expiry_error,
#invalid_cvv,
#debit_invalid_cvv,
#debit_expiry_error {
	bottom: -27px;
	width: auto
}
#invalid_cvv,
#debit_invalid_cvv {
	left: 170px
}
.paytm_cashback_img img {
	width: 240px;
	padding-top: 30px
}*/*/