.gujarthi-page-bg {
	background-color: #fff;
	background-image: url(/assets/gujarathi_bg.png)
}
.top-section-padding {
	padding-left: 100px;
	padding-right: 70px
}
.content-section-padding1 {
	padding-left: 110px;
	padding-right: 70px
}
.content-section-padding2 {
	padding-left: 70px;
	padding-right: 85px
}
.content-section-padding2 img {
	float: left;
	margin-right: 8px;
	width: calc(50% - 4px)
}
.content-section-padding2 img:last-child {
	margin-right: 0px
}
.gujarthi-page header img {
	width: 200px
}
.gujarthi-page .info-first {
	float: left;
	width: 26%
}
.gujarthi-page .info-second {
	float: left;
	width: 32%
}
.gujarthi-page .info-third {
	float: left;
	width: 42%
}
.promotion-page .info-first {
	width: 33%
}
.gujarthi-page .info-first p {
	font-size: 22px;
	line-height: 28px;
	width: calc(100% - 135px)
}
.gujarthi-page .info-second p {
	font-size: 22px;
	line-height: 28px;
	width: calc(100% - 150px)
}
.gujarthi-page .info-third p {
	font-size: 22px;
	line-height: 28px;
	width: calc(100% - 160px)
}
.line-divider1 {
	float: left;
	margin: 0px 165px 5px 200px;
	height: 3px;
	background: #D72556;
	width: calc(100% - 365px)
}
.line-divider2 {
	float: left;
	margin: 0px 145px 0px 180px;
	height: 3px;
	background: #FFBB3B;
	width: calc(100% - 325px)
}
.line-text {
	font-size: 18px
}
.free-trial-btnp a {
	background: linear-gradient(#D51F53, #F15A22) !important;
	padding: 14px 0px;
	font-size: 24px;
	color: #fff !important;
	border-radius: 10px;
	font-family: 'condensed-semibold';
	width: 85%;
	float: left;
	margin-left: 7%;
	margin-right: 3%
}
.gujarthi-page h6 {
	color: #6C5A5A
}
.pack-btnp p {
	border: 1px dashed #6C6C6C;
	border-radius: 5px;
	float: left;
	margin-left: 25px;
	padding: 1px
}
.pack-btnp-second p {
	margin-left: -15px
}
.pack-btnp p a {
	background: #DEDEDE;
	color: #5B5B5B;
	width: 190px;
	float: left;
	height: 78px;
	font-size: 14px;
	text-align: center;
	padding-top: 10px
}
.pack-btnp p a.pack-active {
	background-color: #D82754;
	color: #fff
}
.bollywood_plus_pack p a.pack-active {
	background-color: #0090D7
}
.pack-btnp p a span {
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 36px
}
.gujarthi-login-box-wrap {
	background: url("/assets/login_bg.png") no-repeat;
	background-size: 100% 100%;
	margin-left: 10px;
	margin-right: 30px;
	padding: 40px 40px 55px 40px
}
.gujarthi-login-box {
	border-radius: 4px;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
	padding: 15px
}
.gujarthi-login-box h3 {
	color: #5D5D5D
}
.gujarthi-login-box .all_error {
	left: 10px;
	top: 55px
}
.gujarthi-login-box input[type="text"],
.gujarthi-login-box input[type="password"],
.gujarthi-login-box input[type="email"] {
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid #E5E5E5;
	border-radius: 0px;
	color: #666;
	font-family: 'condensed-regular';
	height: calc(2em + 2px);
	margin-bottom: 35px;
	padding: 5px 5px 5px 5px
}
.gujarthi-login-box .password_toggle {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 15px;
	width: 16px;
	z-index: 1
}
.gujarthi-login-box a.btn {
	background: linear-gradient(45deg, #D51F53, #F15A22) !important;
	padding: 14px 0px;
	font-size: 24px;
	color: #fff;
	border-radius: 40px;
	font-family: 'condensed-bold';
	width: 85%;
	float: left;
	margin-left: 7%;
	border: 0px;
	margin-right: 3%
}
.gujarthi-page .offer_text p {
	margin-right: 30px;
	font-size: 64px;
	color: #D72454;
	font-family: 'condensed-bold';
	line-height: 60px;
	padding-right: 40px;
	border-right: 1px solid #2A2A2A;
	margin-top: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px
}
.promotion-page .promocodetext1 {
	padding-top: 13px;
	padding-bottom: 3px
}
.promotion-page .promocodetext1 p {
	max-width: 380px;
	float: right;
	margin-right: 15px;
	padding-right: 40px;
	border-right: 1px solid #2A2A2A
}
.gujarthi-page .promocodetext p {
	font-size: 28px;
	color: #000000;
	line-height: 36px;
	text-align: center;
	width: 210px
}
.promotion-page .promocodetext p {
	margin-left: 15px;
	width: 335px
}
.gujarthi-page .promocodetext p span {
	font-size: 44px;
	color: #D72454;
	float: left;
	margin-top: 4px;
	width: 100%
}
.gujarthi-page .promocodetext p span.small {
	color: #000;
	font-size: 12px;
	line-height: 10px;
	margin: 5px 0px;
	text-align: right;
	width: 100%
}
.bollywood_plus_box .content-section-padding1 {
	padding-left: 55px;
	padding-right: 25px
}
.col-xl-4.bollywood_plus_box {
	width: 40%
}
.col-xl-8.bollywood_plus_box {
	width: 60%
}
.bollywood_plus_box .free-trial-btnp a {
	padding: 15px 45px;
	font-size: 18px;
	float: none;
	margin: 0;
	width: auto
}
.bollywood_plus_box .bollywood_plus_pack {
	width: 150px !important
}
.bollywood_plus_box .pack-btnp p a {
	float: left;
	font-size: 13px;
	height: auto;
	padding-bottom: 3px;
	width: 140px
}
.bollywood_plus_box .pack-btnp p {
	margin-left: 0px
}
.bollywood_plus_box .pack-btnp p a span {
	font-size: 20px;
	line-height: 28px
}
.bollywood_plus_box #player {
	margin-top: 95px
}
.video-wrap {
	padding-left: 30px;
	padding-right: 105px
}
.video-wrap video {
	height: auto;
	width: 100%
}
.bollywood_plus_box .gujarthi-login-box-wrap {
	margin-left: 0px;
	margin-right: 30px;
	padding: 32px 27px 35px 27px
}
.bollywood_plus_box .gujarthi-login-box h3 {
	font-size: 18px
}
.bollywood_plus_box .gujarthi-login-box a.btn {
	padding: 15px 0px;
	font-size: 15px;
	width: 88%;
	margin-left: 6%;
	margin-right: 4%
}
.bollywood_plus_pack1 p a.pack-active {
	background: #D82754
}
.cgi_container {
	max-width: 980px;
	margin: 0 auto
}
.cgi_container_top {
	max-width: 1166px;
	margin: 0 auto
}
.cgi-page .info-first {
	width: 29%
}
.cgi-page .info-second {
	width: 38.5%
}
.cgi-page .info-third {
	width: 32.5%
}
.cgi-page .cgi_container_top .info-first {
	width: 36%
}
.cgi-page .cgi_container_top .info-second {
	width: 33.5%
}
.cgi-page .cgi_container_top .info-second img {
	width: 91px
}
.cgi-page .cgi_container_top .info-third {
	width: 30.5%
}
.cgi_highlight_txt p {
	color: #BC2B52;
	font-size: 30px;
	margin: 10px 11% 8px
}
.cgi_container_bottom .cgi_highlight_txt p {
	font-size: 34px
}
.cgi-page .bollywood_plus_box {
	margin-right: 4.5%;
	padding-right: 3%
}
.cgi-page .bollywood_plus_box a {
	font-size: 12px
}
.cgi-page .bollywood_plus_box p {
	color: #373737
}
.cgi_offer_box {
	border: 1px dashed #ddd;
	margin: 55px 40px 10px
}
.cgi_offer_box div,
.cgi-page .cgi_container_bottom .cgi_offer_box .cgi_offer_box_wrap {
	background: #FEB914;
	margin: 0px 7px 7px;
	position: relative;
	padding: 0px 10px 10px
}
.cgi-page .bollywood_plus_box .cgi_offer_box h3 {
	position: absolute;
	top: 8px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	font-family: condensed-bold;
	width: calc(100% - 18px)
}
.cgi_offer_box1 {
	border: 1px dashed #ddd;
	margin: 55px 40px 10px;
	float: left
}
.cgi_offer_box1 .cgi_offer_box_wrap {
	background: #FEB914;
	margin: 0px 7px 7px;
	position: relative;
	float: left
}
.cgi_offer_box1 img {
	margin-left: -12px;
	margin-top: -29px;
	width: 109%
}
.cgi_offer_box1 #offer_tag_text {
	position: absolute;
	top: -15px;
	width: 100%
}
.cgi_offer_box1 h3 {
	font-size: 28px;
	color: #fff;
	font-family: condensed-bold;
	margin-bottom: 5px;
	text-align: center;
	width: calc(100% - 0px)
}
.cgi_offer_box1 #offer_tag_text p {
	color: #fff;
	font-size: 18px;
	line-height: 22px
}
#offer_txt_wrap {
	float: left;
	width: 100%;
	padding: 0px 20px
}
.cgi_container_bottom .thumb-header {
	padding: 0 5%
}
#offer_txt_wrap .pull-left p {
	color: #000;
	font-size: 19px;
	line-height: 24px;
	margin-top: 8px
}
#offer_txt_wrap .pull-left p span {
	position: relative;
	margin-right: 17px
}
#offer_txt_wrap .pull-left p span small {
	position: absolute;
	top: -3px;
	font-size: 60%;
	left: 8px
}
.cgi-page .info-third img {
	width: 80px
}
.cgi_offer_box img {
	margin-left: -18px;
	margin-top: -29px;
	width: 114%
}
.cgi-page .bollywood_plus_box p {
	font-size: 14px
}
.cgi_offer_box p.offer_price {
	font-size: 18px;
	position: relative
}
.cgi-page .bollywood_plus_box p.offer_price span {
	height: 1px;
	width: 64px;
	background: black;
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-transform: rotate(-11deg);
	transform: rotate(-11deg)
}
.cgi-page .bollywood_plus_box .cgi_offer_box p.price {
	font-size: 36px;
	color: #F00608;
	line-height: 26px;
	margin-bottom: 3px
}
.cgi_offer_box1 p.offer_price {
	font-size: 28px;
	position: relative;
	line-height: 32px
}
.cgi_offer_box1 p.price {
	font-size: 44px;
	color: #F00608;
	line-height: 34px;
	margin-bottom: 10px
}
.cgi-page .cgi_offer_box1 p.offer_price span {
	height: 2px;
	left: 2px;
	-webkit-transform: rotate(-6deg);
	transform: rotate(-6deg);
	width: 88px
}
.cgi-page .thumb-section {
	border: 1px dashed #CFB5C0;
	border-top: 0px;
	margin-left: 12.5%;
	padding: 15px 10px 10px
}
.cgi-page .thumb-section .row {
	margin: 0px -6px
}
.cgi-page .thumb-section .col-xl-6 {
	padding: 0px 3px
}
.cgi-page .thumb-section img {
	height: auto;
	width: 100%
}