.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.paddingLeft0 {
    padding-left: 0px;
}

.paddingRight0 {
    padding-right: 0px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.top15 {
    margin-top: 15px;
}

.right15 {
    margin-right: 15px;
}

.left15 {
    margin-left: 15px;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-25 {
    padding: 25px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-35 {
    padding: 35px !important;
}

.padding-40 {
    padding: 40px !important;
}

.padding-horizontal-5 {
    padding: 0 5px !important;
}

.padding-horizontal-10 {
    padding: 0 10px !important;
}

.padding-horizontal-15 {
    padding: 0 15px !important;
}

.padding-horizontal-20 {
    padding: 0 20px !important;
}

.padding-vertical-10 {
    padding: 10px 0 !important;
}

.padding-vertical-15 {
    padding: 15px 0 !important;
}

.padding-vertical-20 {
    padding: 20px 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-45 {
    padding-bottom: 45px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-45 {
    padding-top: 45px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-65 {
  padding-top: 65px !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-top-82 {
  padding-top: 82px !important;
}
.padding-top-85 {
  padding-top: 85px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 5em !important;
    text-align: center;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline {
    display: inline;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.no-display {
    display: none !important;
}

.display-table {
    display: table !important;
}

.display-table-cell {
    display: table-cell !important;
}
.list-none {
    list-style: none;
}
.relative-content {
  position: relative;
}
.wrapper {
  background: #F9F9F9;
}
header {
  background: #191A1B;
}
footer {
  background: #FFFFFF;
}
.app-d-flex, .h-center, .v-center, .hv-center {
  display: flex;
}
.h-center {
  justify-content: center;
}
.v-center {
  align-items: center;
}
.hv-center {
  align-items: center;  
  justify-content: center;
}
.app-color1, .app-color1:hover {
  color: #35444E;
}
.app-color2, .app-color2:hover {
  color: #999999;
}
.app-color3, .app-color3:hover {
  color: #666666;
}
.app-color4, .app-color4:hover {
  color: #FFFFFF;
}
.app-color5, .app-color5:hover { 
  color: #999999;
}
.app-col6 {
    color: #000000 !important;
}
.dark-theme .app-col6{
    color:  #fff !important;
}
.app-color6, .app-color6:hover { 
  color: #000000 !important;
}
.app-color7, .app-color7:hover { 
  color: #0095DB;
}
.dark-theme .app-color1, .dark-theme .app-color1:hover {
  color: #fff;
}
.dark-theme .app-color3, .dark-theme .app-color3:hover {
  color: #999;
}
.app-bg-color1 {
  background-color: #FFFFFF
}
.app-btn {  
  align-items: center;
  background-color: #8DC640;
  border-radius: 16px;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
  letter-spacing: -0.09px;
  padding: 5px 20px 6px;  
}
.blue-btn {
  background-color: #0095DB;
}
.pink-btn {
  background-color: #DD2F54;
}
button {
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent;
}
button:focus {
  outline: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
/* clears the 'X' from Internet Explorer */
input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

/* clears the 'X' from Chrome */
input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none; 
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-none {
    list-style: none;
}
.list-inside {
    list-style-position: inside;
}
.text-underline {
  text-decoration: underline;
}
.radius-button {
    border: 1px solid #000;
    border-radius: 40px;
    font-size: 0.875em;
    padding: 13px 18px;
}
.w-65 {
    width: 65% !important;
}
section {
  float: left;
  width: 100%;
}
.relative-content {
    position: relative;
}
.center-align-content {
    display: flex;
    justify-content: center;
}
.vcenter-align-content {
  display: flex;
  align-items: center;  
}
#watch_list_delete_toast .center-align-content, #continue_watch_delete_toast .center-align-content {
    align-items: flex-end;
    min-height: 350px;
}
#watch_list_delete_toast .less_height_box, #continue_watch_delete_toast .less_height_box {
    min-height: 80px;
}
.no-events {
    pointer-events: none;
}
.custom-control.material-switch, .cursor-pointer {
    cursor: pointer;
}
.txt-success {
    color: #8dc63f;
}
.txt-failure {
    color: #ff0000;
}
.rounded {
    border-radius: 3px!important;
}
.font-size1 {
    font-size: 16px;
}
.font-size2 {
    font-size: 14px;
}
.font-size3 {
    font-size: 12px;
}
.font-size4 {
    font-size: 20px;
}
.font-size5 {
    font-size: 18px;
}
.details-container .app-btn3 {
  width: 240px;
}
.horizontal_title.rounded img.rounded, .square_big_title.rounded img.rounded {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;   
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
@media(max-width: 1199px) {
  .details-container .app-btn3 {
    width: 220px;
  }
}
@media(max-width: 768px) { 
  #watch_list_delete_toast .center-align-content, #continue_watch_delete_toast .center-align-content {
    min-height: 75px;
  }
}
@media(max-width: 767px) {
  .details-container .app-btn3 {
    width: 210px;
  }
}   
@media(max-width: 576px) { 
  
}
@media(max-width: 440px) {  
  .details-container .app-btn3 {
    width: 100%;
  }
}