/* Font integration */
@font-face {
  font-family: 'muli-regular';
  src: url('fonts/Muli-Regular.ttf');  
}
@font-face {
  font-family: 'muli-semibold';
  src: url('fonts/Muli-SemiBold.ttf');
}
@font-face {    
  font-family: 'muli-bold';
  src: url('fonts/Muli-Bold.ttf');
}
@font-face {    
  font-family: 'muli-black';
  src: url('fonts/Muli-Black.ttf');
}
@font-face {    
  font-family: 'BalooBhaijaan-Regular';
  src: url('fonts/BalooBhaijaan-Regular.ttf');
}
@font-face {    
  font-family: 'condensed-regular';
  src: url('fonts/EncodeSansCondensed-Regular.ttf');
}
@font-face {
  font-family: 'condensed-medium';
  src: url('fonts/EncodeSansCondensed-Medium.ttf');    
}
@font-face {
  font-family: 'condensed-semibold';
  src: url('fonts/EncodeSansCondensed-SemiBold.ttf');
}
@font-face {    
  font-family: 'condensed-extra-bold';
  src: url('fonts/EncodeSansCondensed-ExtraBold.ttf');
}
@font-face {
  font-family: 'overpass-regular';
  src: url('fonts/Overpass-Regular.ttf');
}
@font-face {    
  font-family: 'overpass-bold';
  src: url('fonts/Overpass-Bold.ttf');
}
::placeholder {
  color: #999999;
  font-family: 'muli-regular';
  font-size: 16px;
  opacity: 1;  
  letter-spacing: -0.1px;
}

a, a:hover {
  /*color: #0496DC;*/
  color: inherit;
  text-decoration: none;
}
*:focus {
    outline: none;
}
.input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.form-control:focus {
  border: 0px;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: none;
  z-index: 0;
}
.font-semibold {
  font-family: 'muli-semibold'!important; 
}
.font-bold, .font-mbold {
  font-family: 'muli-bold'!important; 
}
.font-regular, .font-mregular {
  font-family: 'muli-regular'!important; 
}
.font-black, .font-mblack {
  font-family: 'muli-black'!important;
}

/* Header Design Starts */

body {
  font-family: 'muli-regular';
  font-size: 16px;
  letter-spacing: -0.09px;
  line-height: 1.25;
  margin: 0;    
}
body.dark-theme {
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'muli-bold';
}
header.navbar {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);  
  left: 0;
  /*padding: 14px 20px 13px;*/
  padding: 0px 20px 0px;
  position: fixed;
  z-index: 5;
}
header.navbar .navbar-nav-scroll li {
  padding: 17px 0px 17px;
}
.container, header.navbar {
  max-width: 3000px;
}
.logo-section {
  margin-right: 5.6%;
  padding: 15px 0px 15px;
  width: 99px;
}
.main-logo {  
  width: 99px;
}
header .navbar-nav img {
  width: 22px;
}
.navbar-expand nav .navbar-nav .nav-link {
  color: #999;
  letter-spacing: -0.11px;
  margin-top: 1px;
  padding-left: 32px;
  padding-right: 32px;
}
header li a.livemenu:after, .mobile-menu li a.livemenu:after {
  content: "";
  background: #e02020;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 22px;
  top: 12px;
  border-radius: 4px;
}
.navbar-expand .navbar-nav .active .nav-link, .app-btn {
  color: #fff;
  font-family: 'muli-bold';   
}
.upgrade_plan .pink-btn {
  height: auto;
  width: auto;
}
.header-view-plan {
  /*padding-right: 40px;*/
  padding-right: 24px;
}
.header-view-plan span {
  font-size: 14px;  
  margin-left: 9px;
}
.header-search {
  /*padding-right: 42px;*/
  padding-right: 15px;
  padding-left: 12px;
  margin-right: 27px;
} 
.navbar-expand .navbar-nav .active a:before, .navbar-expand .navbar-nav-scroll .navbar-nav li a:hover:before,
.navbar-expand .navbar-nav .header-search a:hover:before {
  background: #D51F53;
  border-radius: 4px;
  border-radius: 4px;
  bottom: -18px;
  content: "";
  height: 8px;
  position: absolute;
  left: 0;
  width: 100%;
}
.navbar-expand .navbar-nav .browse_menu_wrap a:hover:before {
  content: "";
  display: none;
} 
.navbar-expand .navbar-nav .header-search a:before.navbar-expand .navbar-nav .header-search.active a:before {
  bottom: -23px;
}
.main-content {
  padding-top: 72px;
}
.slick-parent-container-inner {
  width: 100%;
  height: 100%;
}
.slick-parent-container-inner {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.landing-page {
  min-height: 100vh;
}
.swiper-pagination-bullet {
  background: #c1c1c1;
  width: 8px;
  height: 8px;
  text-align: center;
  margin: 0px 3px;  
}
.swiper-pagination-bullet-active {
  background: #FCB813;
}
.swiper-container {  
  min-height: 300px;
  padding-bottom: 30px;
  width: 100%;
}
.swiper-wrapper {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
}
.swiper-slide:before {
  background-image: linear-gradient(180deg, rgba(25,26,27,0.00) 0%, #191A1B 90%, #191A1B 90%);
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1;
}
.swiper-content {
  position: absolute;
  top: 58%;
  width: 95%;
  left: 5%;
  z-index: 1;
}
.swiper-content h3 {
  border-bottom: 3px solid #D51F53;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 2.67px;
  width: auto !important;
  display: inline-block;
  margin-bottom: 7px;
  text-transform: uppercase;
  padding-bottom: 3px;
}
.swiper-content h2 {
  letter-spacing: -0.12px;
  font-size: 20px;
}
.swiper-content li {
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: -0.07px;
  margin-right: 5px;
  padding: 0.1% 1.9% 0.3%;
}
.swiper-content p {
  letter-spacing: -0.09px;
  font-size: 14px; 
}
.swiper-content p img {
  margin-right: 2.5%;
  width: 20px;
}
.banner-slider {
  margin: 15px 0px 40px;
}
.single-slide .image-gradient, .single-slide .masthead-data {
  display: none;
}
.banner-slider .owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  top: calc(50% - 24px);
  width: 100%;
}
.banner-slider .owl-theme .owl-nav .owl-prev, .banner-slider .owl-theme .owl-nav .owl-next {
  position: absolute;  
  top: 0;
}
.banner-slider .owl-theme .owl-nav .owl-prev {
  left: 40px;
}
.banner-slider .owl-theme .owl-nav .owl-next {
  right: 40px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
}
.banner-slider .owl-carousel .owl-item img {
  border-radius: 8px;
}
.browser-banner-wrap:after {
  position: absolute;
  content: "";
  width: 100%;
  background: transparent linear-gradient(180deg, #FDFDFD00 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  height: 100%;
  left: 0;
}
.browser-banner-wrap p, .browser-banner-wrap h2 {
  left: 60px;
  position: absolute;
  z-index: 1;
} 
.browser-banner-wrap p {
  bottom: 50px;
  font-size: 24px;  
  letter-spacing: -0.15px;  
}
.browser-banner-wrap h2 { 
  bottom: 0px;
  font-size: 39px;  
  letter-spacing: -0.3px;  
}
.owl-carousel .owl-item .item {
  position: relative;
}
#banner-bg-slider {
  display: none;
}
.slicks-container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.mb-gap {
  margin-bottom: 88px;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container {
  position: relative;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container:hover {
  z-index: 2;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container .slick-slider {
  margin-bottom: 0px;
  /*margin-left: -5px;*/
  visibility: hidden;
}
.slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container .slick-slider.slick-initialized {
  visibility: visible;
}
.slicks-container .slicks .slick-gap, .ad-wrap, .browse-section  {
  margin-bottom: 25px;
}
.slick-initialized .slick-slide {
  display: inline-block;
  padding-bottom: 0px;
  margin-right: 10px;
  position: relative;
}
.search-page .slick-initialized .slick-slide {
  margin-right: 20px;
}
.banner-slider .owl-item .item {
  border-radius: 10px;
  position: relative;
}
.banner-slider .owl-item .item img {
  border-radius: 10px;
}
#banner-carousel .owl-item {
  opacity: 0.45;
}
#banner-carousel .owl-item.active {
  opacity: 1;
}

/*.owl-carousel .owl-item:hover .item:before {
  background: transparent linear-gradient(90deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  left: 41px;
  top: 0;
  width: 204px;
}
.owl-carousel .owl-item:hover .item:after {
  background: transparent linear-gradient(270deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  right: 41px;
  top: 0;
  width: 200px;  
}*/
/*.owl-carousel .owl-item .item:before {
  background: transparent linear-gradient(90deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  left: 41px;
  top: 0;
  width: 204px;
}
.owl-carousel .owl-item .item:after {
  background: transparent linear-gradient(270deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  right: 41px;
  top: 0;
  width: 200px;  
}*/
.slick-initialized .slick-slide:before {
  background: transparent linear-gradient(90deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  width: 70px;
  z-index: 1;
}
.slick-initialized .slick-slide:after {
  background: transparent linear-gradient(270deg, #F9F9F900 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  width: 60px;  
  z-index: 1;
}
.dark-theme .slick-initialized .slick-slide:before {
  background: transparent linear-gradient(90deg, #222222 0%, #222222 100%) 0% 0% no-repeat padding-box;
}
.dark-theme .slick-initialized .slick-slide:after {
  background: transparent linear-gradient(270deg, #222222 0%, #222222 100%) 0% 0% no-repeat padding-box;
}
.slick-initialized .slick-active:before, .slick-initialized .slick-active:after,
.owl-carousel .owl-item.active .item:after, .owl-carousel .owl-item.active .item:before {
  content: "";
  display: none;
}
.slick-wrapper .slick-list.draggable {
  overflow: visible;
  margin-left: 5px;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  padding: 0px 10px 0px 0px;
}
.slick-initialized article, .vertical-listing-thumb article, .horizontal-listing-thumb article, .item-exp {
  /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);*/ /* I added this style */
  width: inherit;
  /*overflow: hidden;*/
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  -webkit-transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -webkit-transition: -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  -o-transition: -o-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
  transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -o-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
}

.slick-initialized article.expand.slick-vertical-thumb, article.expand.slick-horizontal-thumb {
  -webkit-transform: scale3d(1.2, 1.2, 1) translate3d(0, 0, 0) perspective(500px);
  transform: scale3d(1.2, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
  z-index: 4;
}
.item-exp{ box-shadow: 0 0 black; }
.expand {
  -webkit-transform: scale3d(1.2, 1.2, 1) translate3d(0, 0, 0) perspective(500px);
  transform: scale3d(1.14, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
  z-index: 4;
}
.slick-initialized article.expand .details, .expand {
  opacity: 0.99;
}
.slick-initialized article .thumbnail-container {
  position: relative;
}
.slick-vertical-thumb .card-img-container {
  padding-bottom: calc(1.5 * 100%);
}
.horizontal .slick-vertical-thumb .card-img-container, .horizontal-listing-thumb .slick-vertical-thumb .card-img-container,
.tab-horizontal .slick-vertical-thumb .card-img-container {
  padding-bottom: calc(0.565 * 100%);
}
.square2 .slick-vertical-thumb .card-img-container, 
.square2-listing-thumb .slick-vertical-thumb .card-img-container,
.tab-square2 .slick-vertical-thumb .card-img-container {
  padding-bottom: calc(0.565 * 100%);
}
.square2 .slick-thumb-details {
  background: none;
}
.slick-initialized article .card-img-container {
  position: relative;
}
.slick-list {
  overflow: visible;
}
.slick-track {
  margin-left: auto;
  margin-right: auto;
}
.slick-area .slick-track {  
  min-width: 100%;
}
.app-slick-container a.more, .tab-pane a.more {
  font-family: muli-regular;
  font-size: 20px;
  color: #0095DB;
  letter-spacing: -0.12px;
  text-align: right;
}
.dark-theme .app-slick-container a.more, .dark-theme .tab-pane a.more {
  color: #fff;
}
.lazy-img-loader.loaded {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
}
.slider img {
  width: 100%;
}
.slick-initialized article .card-img-container img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: inline-block;
}
.slick-initialized article .details {
  bottom: 0;
  opacity: 0;
  color: #fff;
  padding: 30px 5px 7px 5px;
  position: absolute;
  width: 100%;  
  background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0), rgba(33, 33, 33, 1))
}
.slick-initialized article.movie-card .details {
  padding: 30px 10px 7px 5px;
}
.ellipsize {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
.slicks-container {
  max-width: calc(100vw - 134px);  
}
.slick-prev, .slick-next {
  z-index: 1;
}
.section-title {
  font-family: Muli-Black;
  font-size: 22px;
  letter-spacing: -0.15px;  
}
.section-title, .section-title2 {
  margin-bottom: 17px !important;
}
.details-wrapper .section-title, .details-wrapper .section-title2 {
  margin-bottom: 12px !important;
}
.section-title3 {
  font-size: 32px;
  letter-spacing: -0.2px;
  margin-bottom: 30px !important;
  margin-top: 20px !important
}
.browse-thumb-wrap {
  margin: 0px -5px;
}
.browse-thumb {
  float: left;
  padding: 0px 4px;
  position: relative;
  width: 20%;
}
.browse-thumb:first-child, .browse-thumb:nth-child(2), .browse-thumb:nth-child(3),
.browse-thumb:nth-child(4), .browse-thumb:nth-child(5) {
  margin-bottom: 8px;
}
.browse-thumb img {
  border-radius: 6px;
  height: auto;
  width: 100%;
}
.browse-thumb a:before {
  background-image: linear-gradient(180deg, rgba(253,253,253,0.00) 30%, #FFFFFF 93%);
  border-radius: 6px;
  bottom: 0;
  content: "";
  left: 2px;
  height: 66%;
  position: absolute;
  width: calc(100% - 4px);
}
.dark-theme .browse-thumb a:before {
  height: 0%;
  background: transparent linear-gradient(180deg, #3A1235 0%, #3A1235 100%) 0% 0% no-repeat padding-box;
}
.dark-theme .browse-thumb span {
  color: #fff !important;
}
.browse-thumb a {
  position: relative;
}
.ad-section {
  background: #EFEFEF;
  height: 90px;
  margin: 0 auto;
  width: 970px;
}
.continue-thumb-details .sub-info {
  width: calc(100% - 40px);
}

.play-img {
  width: 20px;
  height: 24px;
  margin-right: 10px;
}

.channel_play-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.buy-txt, .coming-soon-txt, .premium-txt, .episodes-txt, .banner-prm-txt {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  border-radius: 16px;
  color: #fff;
  font-family: 'muli-black';  
  line-height: 28px;
  padding: 2px 13px;  
  position: absolute;
  text-transform: uppercase;
  top: -10px;
}
.premium-img { 
  height: 24px;
  width: 24px;
  position: absolute;
  top: 7px;
  left: 10px;
}
.banner-premium-img
{
  height: 32px;
  width: 123px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.premium-img-wat { 
  height: 24px;
  width: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
}
.free-txt {
  background: #0095DB;
  box-shadow: 0px 1px 2px #00000080;
  border-radius: 6px 0px 6px 6px;
  font-size: 18px;
  color: #fff;
  font-family: 'muli-black';
  line-height: 28px;
  padding: 4px 13px 0px;
  position: absolute;
  bottom: 0px;
  z-index: 21;
}
.free-txt_channel {
  position: absolute;
  bottom: 0px;
  z-index: 21;
  height: 48px;
  width: 48px;
  margin-right: 10px;
}
.buy-txt {
  background: #D51F53;
  font-size: 16px;
}
.coming-soon-txt {
  background: #F15A22;
  font-size: 14px;
}
/*.premium-txt {
  background: #8DC640;
  font-size: 14px;
}*/
.episodes-txt {
  background: #F15A22;
  box-shadow: 0px 1px 2px #00000080;
  border-radius: 6px;
  font-size: 18px;
}
.browse-thumb span {
  bottom: 5px;
  font-family: Muli-Black;
  font-size: 18px;
  letter-spacing: -0.11px;
  position: absolute;
}
article .thumbnail-container.has-content:before {
  background-image: linear-gradient(180deg, rgba(25,26,27,0.00) 0%, #191A1B 100%);
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  bottom: 0;
  content: "";
  display: none;
  height: 20%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
} 
.expand .thumbnail-container.has-content:before {
  display: inline-block;
}
.slick-thumb-details {
  background: linear-gradient(transparent, black); 
  bottom: 0px;
  display: none;
  left: 0;
  padding-bottom: 5px;
  padding-top: 50%;    
  position: absolute;
  width: 100%;
  z-index: 1  
}
.horizontal-listing-thumb .slick-thumb-details {
  padding-top: 22%;
}
.expand .slick-thumb-details {
  display: inline-block;
}
.horizontal.slider .slick-thumb-details {
  padding-top: 10%;
}
.slick-thumb-details .content-title {
  font-family: Muli-Black;
  /*font-size: 24px;*/
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.15px;
  padding-left: 11px;
}
.slick-thumb-details .sub-info {
  font-family: muli-regular;
  /*font-size: 16px;*/
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: -0.1px;
  padding-left: 11px;
}
.slick-prev, .slick-next {
  height: 34px;
  margin-top: 0;
  top: calc(50% - 22px);
  width: 40px;  
}
.slick-prev {
  left: -45px;
}
.slick-next {
  right: -45px;
}
.slick-prev:before, .slick-next:before {  
  content: "";
  width: 40px;
  height: 34px;
  line-height: 48px;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
}
.dark-theme .slick-prev:before {
  background: url('/assets/new_icons/carousel_prev_dark.svg');
  background-size: 100%;
}
.dark-theme .slick-next:before {
  background: url('/assets/new_icons/carousel_next_dark.svg');
  background-size: 100%;
}
.slick-prev:before {
  background: url('/assets/new_icons/carousel_prev.svg');
  background-size: 100%;
}
.slick-next:before {
  background: url('/assets/new_icons/carousel_next.svg');
  background-size: 100%;
}
.slick-disabled {
  display: none !important;
}
footer {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
  padding: 10px 96px 20px 40px;
}
.dark-theme footer {
  background: #191A1B;
  box-shadow: 0px 0px 4px #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
footer .footer-menu li a, footer p {
  font-family: 'muli-regular';
  font-size: 14px;  
  letter-spacing: -0.09px;
  line-height: 18px;
}
.footer-menu {
  margin-bottom: 8px;
  margin-top: 10px;
}
.footer-menu li {
  padding: 0;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ababab;
  line-height: 14px;
}
.footer-menu li:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px;  
}
.footer-menu a {
  padding: 0;
}
.footer-section .pull-left ul li.active a {
  color: #191A1B;
}
footer h2 {
  font-size: 20px;
  font-family: muli-bold;
  color: #fff;
  letter-spacing: -0.12px;
  line-height: 25px;
  margin-bottom: 14px;
}
footer .social-icon {
  margin-right: 39px;
}
footer .social-icon li {
  margin-right: 10px;
}
footer .social-icon li:last-child {
  margin-right: 0;
}
footer .social-icon img {
  height: 42px;
  width: 42px;
}
footer .app-icon li {
  margin-right: 17px;
}
footer .app-icon li:last-chil {
  margin-right: 0;
}
footer .app-icon li:first-child img {
  width: 130px;
}
footer .app-icon li:nth-child(4) img, footer .app-icon li:last-child img {
  width: 42px;
}
footer .app-icon li:nth-child(2) img, footer .app-icon li:nth-child(3) img {
  width: 140px;
}


/* video details page design starts */
.details-wrapper {
  padding: 0px 60px;
}
.details-container {
  max-width: 1000px;
  margin: 0 auto;
}
.breadcrumbs {
  margin-bottom: 37px;
  margin-top: 24px;
}
.breadcrumbs li {
  color: #170000;
  position: relative;
  text-decoration: underline;
  padding-right: 22px;
  margin-right: 12px;
}
.breadcrumbs li:last-child {
  text-decoration: none;
}
.breadcrumbs li a, .breadcrumbs li a:hover, 
.player_desc_section .breadcrumbs li a, .player_desc_section .breadcrumbs li a:hover {
  color: #170000;
}
.dark-theme .breadcrumbs li, .dark-theme .breadcrumbs li a, 
.dark-theme .breadcrumbs li a:hover, 
.dark-theme .player_desc_section .breadcrumbs li a, 
.dark-theme .player_desc_section .breadcrumbs li a:hover {
  color: #fff;
}
.breadcrumbs li a {
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 20px;
}
.breadcrumbs li:after {
  background: #170000;
  border-radius: 4px;
  content: "";
  height: 8px;
  position: absolute;
  top: 8px;
  right: 0px;
  width: 8px;
}
.dark-theme .breadcrumbs li:after {
  background: #fff;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.video-info {
  margin-top: 14px;
}
.video-info-right {

}
.tab-content h4 {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 6px;
} 
.ad-wrap {
  /*border: 1px solid #666;*/
  height: 255px;
  width: 305px;
}
.video-info-left li.app-color5 {
  border: 2px solid #999999;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: -0.1px;
  margin-right: 5px;
  padding: 0.1% 1.1% 0.3%;
}
.video-info-left li:last-child {
  margin-right: 0;
}
.section-title2 {
  font-size: 32px;
  letter-spacing: -0.2px;
}
.video-info-left .video-feature li {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-right: 0;
}
/*.video-feature li {
  height: 120px;
  width: 120px;
}*/
.video-feature li {
  height: 96px;
  width: 96px;
}
.video-feature li p {
  /*border: 2px solid #E6E6E6;*/
  border-radius: 32px;
  height: 35px;
  width: 64px;
}
.dark-theme .video-feature li p {
  /*border: 2px solid #fff;*/
}
.video-feature li img {
  width: 29px;
}
.video-feature li ul li {
  height: auto;
  width: auto;
}
.video-info-bottom {
  margin-top: -10px;
}
.video-info h4, .thumb-info {
  font-size: 20px;
}
.details-wrapper .slick-area {
  margin-top: 30px;
}

/* search page design starts */
.padd-wrapper {
  padding: 0px 60px;
}
.search-page input[type="search"] {
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
  border: 0;
  border-radius: 6px;
  font-family: muli-regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.1px;
  float: left;
  margin-bottom: 5px;
  padding: 15px 20px 15px 60px;
  width: 100%;
}
.dark-theme .search-page input[type="search"] {
  background: #333333;
  /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 30%);*/
  color: #fff;
  border: 1px solid #CCCCCC;
}
.search-page input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
  text-align: left;
  letter-spacing: -0.1px;
  color: #999999;
  font-family: muli-regular;
  font-size: 16px;
  /*padding-left: 0px;*/
  padding-top: 25px !important;
}
.search-box-wrap img {
  position: absolute;
  right: 20px;
  top: 28%;
  width: 22px;
}    
.search-box-wrap img.search_icon {
  left: 21px;
  top: 15px;
}
.search-image-wrap {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  border-radius: 6px;
  float: left;
  padding: 0px 0px;
  position: relative;  
  width: 50%;
}
.search-category-wrap {
  width: 50%;
}
.search-image-wrap img {
  border-radius: 6px;
}
.search-category-wrap {
  float: left;
  padding: 0px 10px 0px 20px;
}
.search-thumb-wrap {
  margin-bottom: 40px;
}
.search-tile-title {
  font-size: 24px;
  letter-spacing: -0.15px;
  margin-bottom: 2px;
}
.search-tile-category {
  font-size: 16px;
  letter-spacing: -0.1px;
  margin-bottom: 2px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #35444E;
    font-size: 16px;
    width: auto;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 24px;
    height: 24px;
    border: 2px solid #686868;
    /*border: 2px solid #fff;*/
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #201E1C;
    position: absolute;
    top: 9px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#theme-pop [type="radio"]:checked + label:before, 
#theme-pop [type="radio"]:not(:checked) + label:before {
  top: 1px;
  width: 20px;
  height: 20px
}

.dark-theme .price-box [type="radio"]:checked + label:before, 
.dark-theme .price-box [type="radio"]:not(:checked) + label:before {
  border: 2px solid #fff;
}
.dark-theme .price-box [type="radio"]:checked + label:after, 
.dark-theme .price-box [type="radio"]:not(:checked) + label:after {
  background: #0090D6;
}

#theme-pop [type="radio"]:checked + label:after, 
#theme-pop [type="radio"]:not(:checked) + label:after {
  height: 10px;
  top: 6px;
  left: 5px;
  width: 10px;
}
.dark-theme [type="radio"]:checked + label:before, 
.dark-theme [type="radio"]:not(:checked) + label:before {
  border: 2px solid #fff;
}
.dark-theme [type="radio"]:checked + label:after, 
.dark-theme [type="radio"]:not(:checked) + label:after {
  background: #fff;
}
.search-type-wrap label {
  min-width: 150px;
}
.search-type-wrap [type="radio"]:checked + label, .search-type-wrap [type="radio"]:not(:checked) + label {
  line-height: 30px;  
}
.search-type-wrap [type="radio"]:not(:checked) + label:before {
  border: 2px solid #010101;
}
.search-type-wrap [type="radio"]:checked + label:before {
  border: 2px solid #0095DB;  
}
.search-type-wrap [type="radio"]:checked + label:after {  
  background: #0095DB;  
}
.tag {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 24px;
  font-size: 20px;
  float: left;
  letter-spacing: -0.12px;
  line-height: 25px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 7px 18px 10px 18px;
}
.dark-theme .tag {
  background: #333333 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
}
.clear-txt {
  font-size: 16px;  
  letter-spacing: -0.12px;
}

/* Listing page design starts */

.listing-thumb {  
  /*margin-right: 10px;*/
  display: inline-block;
  padding: 10px;  
  position: relative;  
}
.vertical-listing-thumb {
  width: calc(16.9% - 8px);
}
.horizontal-listing-thumb {
  width: calc(20% - 4px);
}
.listing-thumb .lazy-img-loader.loaded {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: inline-block;
}
.listing-thumb article.expand.slick-vertical-thumb, article.expand.slick-horizontal-thumb {
    -webkit-transform: scale3d(1.2, 1.2, 1) translate3d(0, 0, 0) perspective(500px);
    transform: scale3d(1.2, 1.1, 1) translate3d(0, 0, 0) perspective(500px);
    z-index: 4;
}

/* Profile page design starts */
.profile-container {
  margin: 0 auto;
  max-width: 970px;
}
.profile-banner-container {
  margin: 0 auto;
  max-width: 600px;  
}
#profile_signin_btn {
  background: #1C94DB;
  box-shadow: 0px 1px 2px #00000033;
  border-radius: 6px;
  height: 64px;
  width: 460px;
}
.owl-theme .owl-dots {
  margin-top: 8px;
}
.owl-theme .owl-dots .owl-dot span {  
  background: #c1c1c1;
  height: 8px;
  margin: 3px 3px;
  width: 8px;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #FDB913;
}
.owl-carousel .owl-item img {
  border-radius: 6px;
}
.banner-slider .image-desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(transparent, black);
  padding-bottom: 42px;
  padding-left: 30px;
  width: 100%;
  z-index: 1;

}
.banner-slider .image-desc h4 {
  color: #fff;
  font-size: 43px;
  line-height: 56px;
}
.banner-slider .image-desc h2 {
  color: #fff;
  font-size: 72px;
  line-height: 60px; 
}
#profle_upgrade_btn {
  background: #DD2F54;
  border-radius: 4px;
  font-size: 16px;
  height: 48px;
  margin-bottom: 8px;
  margin-top: 25px;
  width: 328px;
}
.menu-box {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px #00000033;
  border-radius: 6px;  
  float: left;
  /*padding: 0px 34px;*/
}
.dark-theme .menu-box {
  background: #333333;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.33);
}
.menu-box a {
  padding: 0px 34px;  
}
.menu-box img {
  margin-right: 25px;
  height: 45px;
  width: 45px;
}
.menu-box1 {
  height: 64px;
  margin-right: 20px;
  width: 300px;
}
.menu-box1:last-child {
  margin-right: 0;
}
.menu-box2 {
  height: 64px;
  width: 460px;
}
.profile-wrap {
  width: 126px;
}
.profile-wrap label {
  font-size: 20px;
}
.profile-wrap.active label {
  background: #F15A22;  
  border-radius: 40px;
  color: #fff;
  height: 80px; 
  width: 80px;
}
.profile-wrap p {
  margin-top: 11px;
  font-size: 16px;
}
.profile-wrap.inactive label {
  background: #F15A22;
  border-radius: 27px;
  color: #fff;
  height: 54px;
  width: 54px;
}
.profile-wrap.inactive p {
  font-family: "muli-regular" !important
}
.profile-wrap.active p {
  font-size: 20px;
  letter-spacing: -0.12px;
}
.profile-wrap.kids label {  
  background: #44D7B6;
  border-radius: 27px;
  font-size: 20px;
  color: #fff;
  height: 54px;
  width: 54px;
}
.profile-wrap.kids.active label {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.subscribed-plan-box-container {
  padding-left: 33.5%;
}
.subscribed-plan-box-wrap {
  overflow: auto;
  white-space: nowrap;
}
.subscribed-plan-box {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px #00000033;
  border-radius: 6px;
  display: inline-block;
  margin-right: 20px;
  padding: 20px 16px;
  width: 620px;
}
.dark-theme .subscribed-plan-box {
  background: #333333 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #000000;
}
.subscribed-plan-box p.font-black {
  font-size: 20px;
}
.subscribed-plan-box:last-child {
  margin-right: 0;
}
.subscribed-plan-box .plan-progress {
  background: #576E7A;
  border-radius: 8px;
  height: 16px;
}
.subscribed-plan-box .plan-progress span {
  background: #8DC63F;
  border-radius: 8px 0px 0px 8px;      
  height: 100%;  
  position: absolute;
  width: 40%;
  z-index: 1;
}
.subscribed-plan-box .btn {
  background: #D51F53 0% 0% no-repeat padding-box;
  border-image: none;
  border-radius: 24px;
  border-width: 0;
  font-size: 18px; 
  padding: 12px 24px 13px;
}
#no_plan_box p {
  font-size: 24px;
}
.manage-profile-section .profile-wrap {
  width: 206px;
  margin-bottom: 30px;
}
.manage-profile-section .profile-wrap label {
  border-radius: 60px;
  height: 80px;
  width: 80px;
}
.manage-profile-section #new_profile  label {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C4C4C4; 
}
.manage-profile-section .profile-wrap p {
  font-size: 20px;
}
.edit-profile-name-section p {
  font-size: 20px;
  line-height: 25px;
  width: 268px;
}
.edit-profile-name-section input[type="text"] {
  background: none;
  border: 0;
  border-bottom: 1px solid #D8D8D8;
  font-size: 18px;
  line-height: 23px;
  padding: 0px 0px 12px;   
  width: 268px;
}

.inside-container {
  padding: 0 3.1% !important;
}

/* watch list page design starts */
.user-item-thumb-list-container {
  padding: 0px 20px;
}
.user-item-thumb-list-wrap {
  margin: 0px -11px !important;
}
.thumb-list {
  line-height: 1.25;
  padding: 11px 11px;
  box-shadow: 1px 1px 10px 0 rgba(255, 255, 255, 0.2);
}
.thumb-list img.img-fluid {
  border-radius: 4px;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
}
.thumb-info img {
  height: 27px;
  width: 27px;
}
.continue-thumb-details.thumb-info img {
  margin-top: 4px;
}
/* Old UI css starts(user flow, static pages) */
.static-container {
  color: #666;
  margin: 0 auto;
  max-width: 785px
}
.dark-theme .static-container {
  color: #999;
}
.contact-page .static-container {
  max-width: 440px
}
#confirm_pass .toster-message{
  position: absolute;
  left: 35%;
}
.onboarding-payment-contianer, .onboarding-contianer {
  padding-top: 24px;
}
.login-txt {                                
  color: #0095DB;
}
.log-out {
  width: 40px;
  height: 28px
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.player_subscription_pop .modal-content,  #player_login_pop .modal-content {
  margin-top: 17%;
}
/*.search-img {
  width: 400px;
  height: 225px;
}*/
.banner-prm-txt {
  background: #8DC640;
  font-size: 14px;
  margin-top: 16px;
  margin-left: 3px;
}
#signup_privacy_check {
  max-width: 460px;
  width: 100%;
}

.contest-fixed-wrapper {
  display: inline-block;
  position: fixed;
  top: calc(100% - 65px);
  right: 0px;
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  transition: all 0.6s ease-in;
  z-index: 9;
}
.contest-fixedbox {
    position: relative;
    display: inline-block;
}
.contest-fixedbox a {
    display: inline-block;
    bottom: 5%;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
}
.contest-fixedbox a img {
    width: 50px;
}
/*@media(max-width: 440px){
  .banner-slider .single-slide{ padding-bottom: 0px; }
  }
@media(max-width: 500px){
  .slicks-container{ margin: 0% 0% 0% 7%; }
  .browse-section, .slicks-container{ margin-bottom: 0px; }
  .banner-slider .single-slide{ padding-bottom: 0px; }
}
.move-left {
margin-left: 300px;
}
*/

/* SSO events design starts */
.sso_pop {
  line-height: 1.25;
}
.sso_pop .logo {
  width: 226px;
}
.sso_pop h2 {
  font-size: 20px;
  letter-spacing: -0.12px;
}
.sso_pop .modal-bottom-content {
  background: #FFFFFF80 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #0000004D;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 470px;  
}
.dark-theme .custom-gradient .radius-button2 {
  background: transparent !important;
  border: 1px solid #aaa;
  color: #d51f53
}
.dark-theme .custom-gradient .gradient1, .dark-theme .custom-gradient .gradient2 {
  background: transparent !important;
  color: #fff;
  mix-blend-mode: normal;
}
.dark-theme .custom-gradient .gradient2 {
  color: #999;
}
.dark-theme .custom-gradient .gradient1::before, .dark-theme .custom-gradient .gradient2::before {
  display: none;
}
.dark-theme .custom-control.material-switch .material-switch-control-indicator::after {
  box-shadow: 0 2px 10px #111;
}
.dark-theme .modal-content {
  background-color: #333;
}
.dark-theme .modal-content h1, .dark-theme .modal-content h2, .dark-theme .modal-content h3,
.dark-theme .modal-content h4, .dark-theme .modal-content h5, 
.dark-theme .modal-content h6 {
  color: #fff;
}
.dark-theme .social_pop .user_flow .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator {
  border: 2px solid #fff;
}
.dark-theme .social_pop .user_flow .custom-control.overflow-checkbox .overflow-control-indicator::after {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
.dark-theme .modal-content .rc-anchor-light {
  color: #fff;
  background: #333;
}
.dark-theme .social_pop .modal-bottom-content {
  background: #22222280 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #0000004D;
}
.sso_pop .input-group {
  margin: 0;
  width: 100%;
}
.sso_content_container1 {
  margin: 0px auto;
  max-width: 328px;
}
.sso_pop .fa-angle-right {
  font-size: 24px;
}
.sso_pop .otp-btn {
  background: #EB0050 0% 0% no-repeat padding-box;
  border: 0px;
  border-radius: 24px;
  height: 48px;
  width: 238px;
}
#lang_selection_pop .modal-dialog {
  max-width: 1120px;
}
#lang_selection_pop .modal-content {
  border-radius: 12px;
}
#lang_selection_pop .modal-body {
  background: url('https://daex9l847wg3n.cloudfront.net/shemoutputimages/Jack-&-Dil/60124ccaa609d20cd3000002/xl_image_16_9_1613534990.jpg?1613547004');
  background-position: center center;
  border-radius: 12px;
  float: left;
  width: 100%;
  padding: 13px 10px 10px;
  position: relative;
}
#lang_selection_pop .modal-body:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent linear-gradient(180deg, #FFFFFFC2 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
#lang_selection_pop .lang_content {
  position: relative;
}
#lang_selection_pop .lang_wrap {
  padding: 41px 18px 86px;
  float: left;
  width: 99%;
}
#lang_selection_pop .lang_box {
  cursor: pointer;
  float: left;
  padding: 11px 30px 12px;
  transition: all 0.3s ease-in;
  width: 33.33%;
}
#lang_selection_pop .lang_box p {
  letter-spacing: 0px;
  color: #222222;
  font-size: 17px;
  float: left;
  width: 100%;
}
#lang_selection_pop .lang_box h4 {
  float: left;
  font-size: 28px;
  display: flex;
  align-items: center;
}
#lang_selection_pop .lang_box h4 img {
  display: none;
  float: right;
  margin-left: 21px;
  height: 17px;
  transition: all 0.3s ease-in;
  width: 21px;
}
#lang_selection_pop .lang_box.selected {
  border: 2px solid #999999;
  border-radius: 74px;
}
#lang_selection_pop .lang_box.selected h4 img {
  display: inline;
}
#lang_selection_pop a.btn, #small_selection_pop a.btn {
  background: #D51F53;
  border: 0px;
  border-radius: 57px;
  height: 48px;
  margin-bottom: 50px;
  width: 176px;
  font-size: 18px;
}
#small_selection_pop .modal-dialog {
  max-width: 436px;  
}
#small_selection_pop .modal-content {
  border-radius: 12px;
}
#small_selection_pop .modal-body {
  padding: 21px 21px 18px 40px;
}
#small_selection_pop .lang_box {
  border: 1px solid #999999;
  border-radius: 27px;
  height: 40px;
  padding: 8px 40px 8px 21px;
  width: 236px;
}
#small_selection_pop, #lang_selection_pop {
  line-height: 1.25;
}
#small_selection_pop h4 {
  margin-bottom: 58px;
} 
#small_selection_pop .lang_box span {  
  font-size: 16px;
}
#small_selection_pop .lang_box img {
  display: none;
  width: 12px;
  height: 9px;
}
#small_selection_pop .lang_box.selected img {
  display: inline;
}
#small_selection_pop a.btn {  
  margin-top: 8px;
  border: 1px solid #fff;
}
.modal-open {
  position: static !important;
}
/*#ctn_watch_delete_pop .modal-dialog {
  display: inline-block;
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 170px);
  height: auto;
  min-height: 100px;
}*/


#tab-button {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: inline-block;
  width: auto;
}
#tab-button li a {
  display: block;
  padding: 16px 30px 18px;
  text-align: center;
  color: #999;
  text-decoration: none;
}
#tab-button li.is-active:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 6px;
  background: #0095DB;
  bottom: 0;
  border-radius: 3px;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  color: #35444E;
}
.dark-theme #tab-button li a, 
.dark-theme #tab-button li a:hover, 
.dark-theme #tab-button .is-active a {
  color: #fff;
}
.tab-contents {
  padding: 10px 0px;
}
/*.tab-button-outer {
  display: none;
}*/
.tab-contents {
  margin-top: 0px;
}
.full-width-content h2.search-results-sec-title {
  color: #35444E;
}
.dark-theme .full-width-content h2.search-results-sec-title {
  color: #fff;
}
.search-results-sec-title {
  display: inline-block;
  font-size: 24px;
}
.search-thumb-img-section img {
  border-radius: 6px;
  width: 100%;
}
.search-thumb-desc-section h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 6px !important;
}
.dark-theme .search-thumb-desc-section h2 {
  color: #fff !important;
}
.search-thumb-desc-section p {
  font-size: 16px;
  margin-bottom: 0;
  min-height: 25px;
}
.search-page .slicks-container {
  margin-left: 60px;
  max-width: calc(100vw - 120px);
}
.search-slicks-container {
  margin-left: 0px;
  max-width: calc(100vw - 340px);  
}
.search-page .full-width-content {
  padding-left: 0%;
  padding-right: 0;
}
.search-page .slick-initialized .slick-slide:before, .search-page .slick-initialized .slick-slide:after {
  display: none;
}
.search-page .slick-prev.slick-disabled:before, .search-page .slick-next.slick-disabled:before {
  opacity: 0.75;
}
.search-page .slick-prev { 
  left: 8px;
}
.search-page .slick-next {
  right: 32px;
}
.search-page .search-slicks-container .slick-prev, 
.search-page .search-slicks-container .slick-next {
  top: calc(50% - 32px);
  right: -190px;
}
.search-see-all {
  margin-right: 0%;
  color: #0095DB;
}
.dark-theme .search-see-all {
  color: #fff;
}
.search-see-all img {
  margin-left: 6px;
}
#tab-select {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid #D51F53;
}
.search-see-all-resuts-thumb-wrap {
  margin: 0px -8px;
  width: calc(100% + 16px) !important;
}
.search-see-all-resuts-thumb-wrap .item {
  float: left;
  margin-bottom: 16px;
  padding: 0px 8px;
  width: 20%;
}
.search-see-all-page h2 {
  font-size: 18px;
}
#srch_tit{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.browse_menu_wrap {
  /*display: none; */
  position: absolute;
  /*top: 85px;*/
  background: #222222E6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000004D;
  /*left: 0;*/
  width: 100%;
  /*padding-left: calc(5.6% + 120px);*/
  padding-top: 14px;
  padding-bottom: 14px;
  position: absolute;
  opacity: 0;
  overflow: auto;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.browse_menu_wrap nav {
  padding-left: calc(5.6% + 120px);
}
.browse_menu_wrap li {
  margin-right: 15px;
}
.browse_menu_wrap li:last-child {
  margin-right: 0px;
}
.browse_menu_wrap li a {
  color: #fff !important;
  font-family: 'muli-regular'!important; 
  font-size: 16px !important;
  letter-spacing: -0.1px !important;
  line-height: 1.25;
  margin-top: 0px !important;
  padding: 11px !important;
  border-radius: 6px;
}
.browse_menu_wrap li a:hover, .browse_menu_wrap li a.browse-active-menu {
  background: #FFF;
  color: #35444E !important;
  /*font-family: 'muli-bold'!important; */
  margin-top: 0px !important;
}
.brow_menu .browse_menu_wrap.opened {
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 100%;
}
.browse_menu_opened {
  position: fixed;
}
.menu-box .current_lang_box {
  color: #c1c1c1;
}
.menu-box #prof_lang_sel {
  padding-right: 20px;
}
.dark-theme .card {
  background: #333;
}
.dark-theme .custom-control.overflow-checkbox .overflow-control-indicator::before {
  border-right: 7px solid #222;
}
.dark-theme .custom-control.overflow-checkbox .overflow-control-indicator::after {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
/* Static pages design starts */

.static-container1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1366px;
  line-height: 1.25;  
}
.static-container1 .content {
  background: #C4BCB9;
  padding: 0px 30px;
}
.static-container1 .left-sec-content {
  float: left;
  padding-right: 7%;
  width: 55%;
}
.static-container1 .left-sec-content img {
  width: 86px;
}
.static-container1 .right-sec-content {
  float: left;
  padding-left: 3%;
  padding-right: 4.25%;
  width: 45%;
}
.static-container1 .right-sec-content a.btn {
  background: none;
  border: 3px solid #DED9D6;
  border-radius: 5px;
  color: #753221;
  font-size: 28px;
  font-weight: 600;
  margin: 35px 0px 10px 0px;
  padding: 13px 25px;
  width: 100%;
}
.static-container1 .form-wrap {
  background: #fff;
  border-radius: 12px;
  padding: 10px 25px;
}
.static-container1 .form-group input  {
  background: #C4BCB9;
  border-radius: 8px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 28px 12px !important;
}
.static-container1 .form-group input::placeholder {
  color: #514B4A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.static-container1 label.error {
  position: static;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.static-container1 .form-group a {
  background: #7B2B10;
  border: 0px;
  border-radius: 23px;
  color: #fff;  
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 8px 45px;
}
.static-container1 .tnc-txt {
  font-size: 13px;
}
.static-container1 .bottom-content {
  background: #7B2B10;
  padding: 24px 30px;
}
.static-container1 .bottom-content-box {
  border: 3px solid #BD8574;
  border-radius: 5px;
  padding: 14px 26px 12px;
}
.static-container1 .bottom-content p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;  
}
.static-container1 .bottom-content-box div:first-child {
  float: left;
  width: 49%;
}
.static-container1 .bottom-content-box div:first-child p:last-child {
  margin-bottom: 0;
}
.static-container1 .bottom-content-box div:last-child {
  float: left;
  width: 51%;
}
.static-container1 .bottom-content-box div:last-child p:last-child {
  margin-bottom: 0;
}

.hcity-page .h-title {
  bottom: calc(0% - 90px);  
  left: calc(50% - 168px);
  position: absolute;
  width: 316px;
}
.hcity-page .static-container1 .form-group input {
  background: #FADC00;
  border: 1px solid #FADC00;
}

.form-group-overlay-layer:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 11;  
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
}
.hcity-page .static-container1 .form-group a {
  background: #F02653;
}
.hcity-page .static-container1 .content {
  background: #FADC00;
  padding-top: 8%;
}
.hcity-page .static-container1 .right-sec-content p {
  color: #C90031;
  font-size: 28px;
  font-weight: 600;
  margin: 35px 0px 10px 0px;
  width: 100%;
}
.hcity-page .static-container1 .bottom-content {
  background: url("/assets/hungama/footer.jpg");
  padding: 60px 30px;
}
.hcity-page .static-container1 .bottom-content-box {
  border: 0px;
  border-radius: 0px;
  padding: 14px 26px 10px;
}
.hcity-page .static-container1 .bottom-content p {  
  font-size: 26px;
  letter-spacing: 0.8px;
}
.swagatam-page .static-container1 .content {
  background: #132935;
  padding-top: 2%;
}
.swagatam-page .static-container1 .form-group input {
  background: #132935;
  border: 1px solid #132935;
  color: #fff;
}
.swagatam-page .static-container1 .form-group input::placeholder {
  color: #fff;  
} 
.swagatam-page .static-container1 .form-group a {
  background: #335E79;
}
.swagatam-page .static-container1 .tnc-txt {
  color: #122A34;
}
.swagatam-page .static-container1 .right-sec-content p {
  color: #fff;
}
.swagatam-page .static-container1 .bottom-content {
  background: url("/assets/swagatam/footer_desktop.jpg");
  padding: 60px 30px;
}
.shemaroome_classic_page header img {
  width: 200px;
}
.shemaroome_classic_page .banner-content {
  position: absolute;
  top: 65%;
  z-index: 111;
}
.shemaroome_classic_page .banner-content p:first-child {
  background: #240101 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #00000029;
  border-radius: 11px;
  color: #FFE095;
  font-size: 24px;
  margin-bottom: 14px;
  padding: 6px 12px;
}
.shemaroome_classic_page .banner-content p:last-child {
  border: 2px solid #FFFFFF;
  color: #fff;
  font-size: 36px;
  padding: 6px 12px;
}
.row-three-box .classic-icon-box {
  float: left;
  padding: 0px 15px;
  width: 33.333%;
}
.row-three-box .classic-icon-box p {
  font-size: 24px;
  color: #571E0D;
  letter-spacing: 3px;
}
.classic-box {
  padding: 50px 60px; 
}
.device-box {
  padding-right: 30px;
}
.three-box img {
  margin-bottom: 30px;
}
.three-box p {
  margin-bottom: 5px;
}
.shemaroome_classic_page h1 {
  color: #571E0D;
  font-size: 44px;
  letter-spacing: 4px;
  line-height: 60px;
  margin-bottom: 55px;  
  padding: 0px 10%;
}
.shemaroome_classic_page .bg-color, .footer-classic-bottom-wrap .bg-color {
  background-color: #FFF2E7;
}
.device-box p {
  color: #000;  
  float: left;
  font-size: 24px;
  letter-spacing: 1.25px;
  line-height: 32px;
  padding-right: 2%;
  width: 50%;
}
.device-box img {
  float: right;
  width: 50%;
}
.relive-box-left {
  float: left;
  width: 67%;
}
.relive-box-left label, .relive-box-left p {
  float: left;
  font-size: 24px;  
  margin-bottom: 32px;
}
.relive-box-left label {
  color: #571E0D;
  margin-right: 28px;
  min-width: 150px;
}
.relive-box-right {
  float: right;
  width: 33%;
}
.relive-icon-box {
  float: left;
  width: 50%;
}
.relive-icon-box p {
  color: #571E0D;
  font-size: 18px;
}
.relive-icon-box img {
  margin-bottom: 3px;
  width: 84px;
}
.under-stand-box h1 {
  margin-bottom: 20px;
}
.under-stand-box p {
  color: #571E0D;
  font-size: 36px;
}
/*.thumb-right-box div {
  float: left;
  position: relative;
  width: 52%;
}
.thumb-left-box div {
  float: left;
  position: relative;
  width: 52%;
}*/
/*.thumb-right-box div:before {
  background: transparent linear-gradient(to right, #946C46 0%, #946C46 73%, #946C4600 100%) 0% 0% no-repeat;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}*/
.thumb-left-box p, .thumb-right-box p {
  font-size: 24px;
}
.thumb-left-box img {
  float: left;
  width: 50%;
}
.thumb-right-box img {
  float: right;
  width: 50%;
}
/*.thumb-left-box img, .thumb-right-box img {
  width: 48%;
}*/
.thumb-left-box p {
  color: #571E0D;
}
.thumb-left-box, .thumb-right-box {
  padding: 0px;
}
.thumb-left-box .description, .thumb-right-box .description {
  font-size: 24px;
  color: #fff;
  padding: 0px 0px 0px 80px;
  line-height: 36px;
}
.thumb-left-box .description {
  color: #571E0D;
}
/*.thumb-right-box p {
  color: #fff;
}*/
.classic-box .planbox {
  border: 2px solid #571E0D;
  padding: 10px;
  float: left;
  width: 47.5%;  
}
.classic-box .planbox p {
  color: #571E0D;
  font-size: 22px;
  padding: 0px 16px;
}
.classic-box .planbox1 {
  margin-right: 2.5%;
}
.classic-box .planbox2 {
 margin-left: 2.5%;
}
.classic-box .planbox1 p {
  margin-top: 5px;
  margin-bottom: 40px;
}
.classic-box .planbox2 p {
  color: #000;
  line-height: 32px;
  margin-bottom: 5px;
}
.classic-box .planbox a, .footer-classic-bottom a {
  background: #571E0D 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #fff;
  font-family: 'muli-bold';
  font-size: 28px;
  padding: 8px 32px;
}
.bottomcon p, .bottomcon h2 {
  padding: 0 15%;
}
.bottomcon {
  margin-top: 45px;
}
.bottomcon p {
  font-size: 22px;  
  margin-bottom: 28px;
}
.bottomcon h2 {
  color: #571E0D;
  font-size: 28px;
  font-family: 'muli-bold';
  margin-bottom: 18px;
}
.classic-box .masthead-card {
  width: 100%;
  /*background: #1e1e1e;*/
  cursor: pointer;
  height: 100%;
  position: relative;
  border-radius: 0px;
}
.classic-box .masthead-card .image-holder {
  border-radius: 0px;
  overflow: hidden;
}
.classic-box .masthead-card .image-gradient {
  top: 0;
  left: 44.4%;
  width: 200px;
  height: inherit;
  content: '';
  position: absolute;   
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #1e1e1e);
}
.thumb-right-box .masthead-card .image-gradient {
  background: transparent linear-gradient(to right, #946C46 0%, #946C46 73%, #946C46 100%) 0% 0% no-repeat;
}
.thumb-left-box .masthead-card .image-gradient {
  background: transparent linear-gradient(180deg, #E8E8E3 0%, #E8E8E3 73%, #E8E8E3 100%) 0% 0% no-repeat;
}
/*.thumb-right-box img {
  transform: rotate(180deg);
}*/
.thumb-right-box {
  margin-bottom: 8px;
}
.thumb-right-box .masthead-data {
  background-color: #946C46;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  left: 0px;
}
.thumb-left-box .masthead-data {
  background-color: #E8E8E3;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  margin-left: 12px;
  display: flex;
  align-items: center;
  right: 0px;
}
.classic-box .slider-caption {
  top: 66px;
  opacity: 1;
  width: 100%;
  padding-right: 10%;
}
.classic-box .content-holder {
    opacity: 1;
}
.social-wrap img {
  margin-right: 60px;
  width: 106px;
}
.social-wrap a:last-child img {
  margin-right: 0;
}
.footer-classic-bottom-wrap {
  padding: 5% 20% 7% 20%;
}
.footer-classic-bottom {
  border-radius: 4px;
  padding: 30px 15px 20px;
}
.footer-classic-bottom p.font-bold {
  color: #571E0D;
  font-size: 32px;
  letter-spacing: 3px;
}
.footer-classic-bottom p.font-medium {
  color: #571E0D;
  font-size: 32px;
  letter-spacing: 1.5px;  
}
/*.footer-classic-fixed {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 11;
}
.footer-classic-bottom {
  max-width: 500px;
}*/

.microsite_classic2_page .container {
  margin: 0 auto;
  max-width: 1280px;
}
.microsite_classic2_page .section1 .text-section {
  position: absolute;
  top: 44%;
  width: 32%;
  left: 10%;
}
.microsite_classic2_page .section h2 {
  color: #fff;
  /*font-family: 'overpass-regular';*/
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 24px; 
}
.microsite_classic2_page .section h2 span {
  /*font-family: 'overpass-bold';*/
  font-weight: 700;
  font-size: 37px; 
}
.microsite_classic2_page .section1_video {
  position: absolute;
  top: 18%;
  width: 35%;
  right: 18%;
}
.microsite_classic2_page .section1-couple {
  position: absolute;
  bottom: 0;
  right: 7%;
  z-index: 1;
}
.microsite_classic2_page .section1-logo {
  position: absolute;
  top: 4.5%;
  left: 13%;
}
.microsite_classic2_page .section2 .text-section, 
.microsite_classic2_page .section3 .text-section,
.microsite_classic2_page .section6 .text-section {
  position: absolute;
  top: 0;
  width: 32%;  
  display: flex;
  align-items: center;
  height: 100%;
}
.microsite_classic2_page .section2 .text-section, 
.microsite_classic2_page .section6 .text-section {
  left: 3%;
}
.microsite_classic2_page .section3 .text-section, 
.microsite_classic2_page .section2 .text-section {
  flex-direction: column;
  right: 3%;
  justify-content: center;
}
.microsite_classic2_page .section6 .text-section {
  width: 35%;
}
.microsite_classic2_page .section3 h2, 
.microsite_classic2_page .section4 h2, 
.microsite_classic2_page .section5 h2,
.microsite_classic2_page .section6 h2, {
  color: #5A514C;
  margin-bottom: 0px;
}
.microsite_classic2_page .section4 .text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 5%;
  width: 100%;
}
.microsite_classic2_page .section5 .text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 21%;
  left: 3%;
  width: 35%;
}
.microsite_classic2_page .section7 {
  background: url("/assets/classic2/desktop/section7-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 55px 15px 60px;
}
.microsite_classic2_page .section7 ul li {
  padding: 0px 7px;
  border-right: 2px solid #fff;
  line-height: 22px;
}
.microsite_classic2_page .section7 ul li:first-child {
  padding-left: 0;
}
.microsite_classic2_page .section7 ul li:last-child {
  padding-right: 0;
  border-right: 0
}
.microsite_classic2_page .section7 ul li a {
  font-size: 30px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}
.microsite_classic2_page .section7 .cpy_text p {
  color: #D769D8;
  font-size: 20px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  margin-bottom: 42px;
}
.microsite_classic2_page .section7 .social_icons a {
  height: auto;
  margin: 0px 7px;
  width: auto;
}
.microsite_classic2_page .section7 .social_icons a#app_store {
  margin-left: 13px;
}
.microsite_classic2_page .section7 .social_icons a#firetv {
  margin-left: 0;
}
.subscription-fixed-wrapper {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0px;
  /* -webkit-transform: translate(-100%); */
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  /* -webkit-transform: translate(-100%); */
  transition: all 0.6s ease-in;
  z-index: 9;
  transform: rotate(0deg);
  width: 100%;
}
.subscription-fixedbox {
  position: relative;
  display: inline-block;
  background: #fef200;
  padding: 10px 10px 2px;
}
.subscription-fixedbox a {
  text-transform: uppercase;
  font-weight: 700;
  color: #050502;
  font-family: 'Overpass', sans-serif;
  font-size: 35PX;
}
#evergreen_page {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}
#evergreen_page .head-section img {
  margin: 0px 30px;
}
#evergreen_page .head-section #green_logo1 {
  width: 240px;
}
#evergreen_page .head-section #green_logo2 {
  width: 124px;
}
#evergreen_page .head-section p {
  color: #252525;
  font-size: 16px;
}
.titletag-section p {
  color: #F05922;
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  position: relative;
}
.titletag-section p.boderline:before, 
.titletag-section p.boderline:after {    
  content: "";
  height: 3px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.titletag-section p.boderline:before {
  background-color: #E7A812;
  bottom: 35px;
}
.titletag-section p.boderline:after {
  background-color: #D51F52;  
  bottom: 25px;
  margin: 0px 15px;
  width: calc(100% - 30px);
}
#evergreen_page .player-section {
  margin: 0 auto;
  max-width: 1040px;
}
#evergreen_page #btn_play_video {
  width: 270px;
}
#evergreen_cpy_txt {
  margin-top: 10px;
}
#evergreen_cpy_txt p {
  color: #898989;
  font-weight: 600;
}
.add_new_plan_upgrade_btn_wrap a {
  background: #DD2F54;
  border-radius: 27px;
  color: #fff;
  height: 40px;
  margin: 0px 8px;
  width: 158px;
}
.add_new_plan_upgrade_btn_wrap .no-bg {
  background: none;
  border: 1px solid #DD2F54;
  color: #DD2F54;
}
.upgrade_plage_page .plan-box-wrap {
  width: 100%;
}
#chs_pln {
  font-size: 32px;
}
.plns_title {
  font-size: 24px;
  border-bottom: 1px solid #707070;
}
.chs_pln2 {
  font-size: 20px;
}
.hrline-wrap {
  margin-top: 20px;
  margin-bottom: 5px;
}
.hrline {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #35444E; 
  line-height: 0.1em;
  margin: 10px 0 20px;   
}
.hrline span {
  background:#fff; 
  padding:0 10px;
}
.or {
  float: left;
  height: 100vh;
  text-align: center;
}
.or {
  position: relative;
  width: 6%;
}
.or-line {
  float: left;
  width: 50%;   
  border-right: 1px solid #35444E;
  height: 100%;
}
.or-label {
  background: #fff;
  color: #35444E;
  height: 2em;
  left: 50%;
  margin-left: -1.25em;
  margin-top: 2em;
  padding: .5em;
  position: absolute;
  text-transform: uppercase;
  top: 44%;
  width: 2em;
}
.dark-theme .or-label {
  background: #222222;
  color: #FFFFFF;
}
.upgrade_plan_alert_container {
  max-width: 1440px;
  margin: 0 auto;
}
.pln-box1, .pln-box2 {
  width: 47%;
}
.upgrade_plan_alert {
  background: url('/assets/upgrade/bg_desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.25;   
  padding: 0 45px;
}
.upgrade_plan_alert .primary_text {
  font-size: 32px;
}
.upgrade_plan_alert .secondary_text, .link_text span {
  font-size: 16px;
}
.link_text {
  font-size: 20px;
}
.upgrade_plan_alert .app-btn {
  background: #DD2F54;
  border-radius: 27px;
  margin-top: 48px;
  height: 40px;
  width: 118px;
}
.plan-decbgbox {
  padding: 10px 0px 9px;
  background: #E5E5E5;
  margin: 0px 15px 15px;
  border-radius: 8px;
}
.plan-decbgbox .price-box {
  background: #0095DB;
  margin: 0px -15px;
}
.price-box .shemaroo-color9 {
  color: #fff !important;
}
.plan-decbgbox .price-box .shemaroo-color9 {
  color: #fff !important;
}
.plan-decbgbox .plans-descer {
  color: #000;
  padding: 0px 13px;
  margin-bottom: 0;
}
.plan-decbgbox [type="radio"]:checked + label:before, 
.plan-decbgbox [type="radio"]:not(:checked) + label:before {
  border: 2px solid #fff;
} 

.plans-container [type="radio"]:checked + label:before, 
.plans-container [type="radio"]:not(:checked) + label:before {
  border: 2px solid #fff;
}

.plans-container .plan-decbgbox  [type="radio"]:checked + label:after, 
.plan-decbgbox  [type="radio"]:checked + label:after {
  background: #fff !important;
}
/*.plans-summary-container [type="radio"]:checked + label:after {
  border: 2px solid #686868;
  background: #201E1C !important;;
}*/
.fwdslash {
  margin: 0px 13px 0px 0px;
}
.fwdslash:before {
  position: absolute;
  content: "/";
  font-family: 'muli-bold';
  color: #35444E;
  font-size: 20px;
  top: -5px;
}
.guj_page_form {
  max-width: 370px;
  margin: 0 auto;
}
#guj_stamp {
  width: 110px;
}
.content-section-padding2 {
  padding-left: 120px;
  padding-right: 100px;
}
.contact-page-container {
  max-width: 1920px;
  margin: 0px 60px auto;
}
.contact-form-wrap {
  float: left;
  padding-right: 4%;
  width: 30%;
}
.contact-form-text {
  float: left;
  padding-left: 3%;
  width: 70%;
}
table.rt-responsive-table {
  width: 100%;
  border-collapse: collapse;
}
table.rt-responsive-table th {
  background: #666;
  color: white;
  font-weight: normal;
}
.dark-theme table.rt-responsive-table th {
  background: #333
}
.dark-theme .table-bordered {
  border: 1px solid #fff;
}
.table-bordered {
  border: 1px solid #666;
}
table.rt-responsive-table td, table.rt-responsive-table th {
  padding: 7px 13px;
  border: 1px solid #999;
  text-align: left;
}
.dark-theme table.rt-responsive-table td, .dark-theme table.rt-responsive-table th {
  border: 1px solid #fff;
}
table.rt-responsive-table.rt-vertical-table, table.rt-responsive-table.rt-vertical-table thead, table.rt-responsive-table.rt-vertical-table tbody, table.rt-responsive-table.rt-vertical-table th, table.rt-responsive-table.rt-vertical-table td, table.rt-responsive-table.rt-vertical-table tr {
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  clear: left;
  width: 100%
}
table.rt-responsive-table.rt-vertical-table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
table.rt-responsive-table.rt-vertical-table tr {
  border: 1px solid #fff;
}
table.rt-responsive-table.rt-vertical-table td {
  border: 0;
  border-bottom: 1px solid #666;
  position: relative;
  padding-left: 72%
}
.dark-theme table.rt-responsive-table.rt-vertical-table td {
  border-bottom: 1px solid #fff;
}
table.rt-responsive-table.rt-vertical-table td:last-child {
  border-bottom: 0;
}
table.rt-responsive-table.rt-vertical-table td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  /*white-space: nowrap;*/
  font-weight: normal;
}
.dark-theme .contact-page-container .custom-gradient .radius-button,
.contact-page-container .custom-gradient .radius-button  {
  padding: 14px 10px 14px;
}
.dark-theme .contact-page-container .custom-gradient .gradient1,
.contact-page-container .custom-gradient .gradient1 {
  padding: 0px 43px;
  font-size: 18px;
}
.details_player_btn1 {
  background: #D51F53;
}
.details_player_btn2 {
  background:  #1C95DB;
}
.details_player_btn1, .details_player_btn2 {
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  width: 280px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#details_tabs:after {
  background: #999;
}
.dark-theme #details_tabs:after {
  background: #333;
}
#details_tabs:after {
  bottom: 0px;
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  width: 100%;
}
#details_tabs {
  overflow-x: auto;
  white-space: nowrap;
}
#details_tabs li {
  display: inline-block;
}

#details_tabs a {
  color: #35444E;
  font-size: 24px;
  float: left;
  padding: 22px 35px 23px;
  position: relative;
}
#details_tabs a.active {
  color: #222;
}
#details_tabs a.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #8DC53E;
  bottom: -4px;
  left: 0;
  z-index: 1;
}
.details-wrapper2 .tab-content > .tab-pane {
  /*display: inline-block;*/
  width: 100%;
}
.tab-content .fade.active {
  opacity: 1;
  /*display: block !important;*/
}
.dark-theme #details_tabs a {
  color: #999;
}
.dark-theme #details_tabs li a {
  color: #fff;
}
.meta-info11, .meta-info12 {
  font-size: 20px;
  color: #35444E;
}
.meta-info13 {
  font-size: 20px;
  color: #666;
}
.meta-info2 {
  font-size: 18px;
  color: #35444E;
}
.dark-theme .meta-info11, .dark-theme .meta-info12,
.dark-theme .meta-info2 {
  color: #fff;
}
.dark-theme .meta-info13 {
  color: #999;
}
.slider .tab-thumb-play {
  position: absolute;
  width: 49px;
  height: 49px;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.video_tag {
  float: left;
  width: auto;
  margin-top: 15px;
  /*background: linear-gradient(45deg, red, green);*/
  background: url('/assets/shemaroome_original_tag.png');
  background-size: 100%;
  padding: 3px 30px 3px 5px;
  color: #000;
}
.channel_details_page .slick-wrapper .square2 .slick-list {
  padding: 0px 320px !important;
  padding-left: 0 !important;
}
.channel_details_page .square2.slick-initialized .slick-slide:before {
  left: 317px;
}
/*.channel_details_page .slick-initialized .slick-slide:before,
.media_list_data .slick-initialized .slick-slide:before {
  display: none;
}
.channel_details_page .slick-initialized .slick-slide:after,
.media_list_data .slick-initialized .slick-slide:after {
  display: none;
}*/
.channel_details_page .square2 .slick-thumb-details {
  display: block;
}
.channel_details_page .square2 .slick-thumb-details .image-desc {
  position: absolute;
  bottom: 35%;
  left: 50.5%;
}
.square2 .slick-thumb-details .image-desc h4 {
  font-size: 24px;
  line-height: 27px;
  color: #fff;
}
.square2 .slick-thumb-details .image-desc h2 {
  color: #fff;
  font-size: 32px;
  line-height: 28px; 
}
.media_list_thumb_details .content-title p {
  font-size: 22px;
}
.media_list_thumb_details .sub-info p {
  font-size: 20px;
}
.media_list_data .slick-initialized article {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}
@media not all and (min-resolution:.001dpcm){ 
  @supports (-webkit-appearance:none) {
    .search-page input[type="search"]::placeholder {
      padding-top: 0px !important;
    }    
  }
}
