@media(min-width: 576px) {
  .thumb-right-box img.d-sm-none {
    display: block !important;
  }
  .thumb-right-box img.d-sm-block {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: inline-block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: 0px;
    margin-top: 0;
  }
  .thumb-right-box img.d-sm-none {
    display: none !important;
  }
  .thumb-right-box img.d-sm-block {
    display: block !important;
  }
}
@media(min-width: 1200px) {
  #banner-carousel .owl-dots {
    display: none;
  }
  .brow_menu:hover .browse_menu_wrap {
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 100%;
  }
}
@media(min-width: 1281px) { 
  .shemaroome_classic_page #banner-img {
    width: 100%;
  }
}
@media(min-width: 1600px) {
  .padding-top-80 {
    padding-top: 85px !important;
  }
  header.navbar {
    /*padding: 16px 24px 15px;*/
  }
  header.navbar .navbar-nav-scroll li {
    padding: 19px 0px 19px;
  }
  .logo-section {
    padding: 15px 0px 16px;
    width: 120px;
  }
  .main-logo {
    width: 120px;
  }    
  header .navbar-nav img {
    width: 24px;
  }
  .big-desktop-app-font1, footer .footer-menu li a, footer p {
    font-size: 16px !important; /* normal - 14px */
  }
  .big-desktop-app-font2 {
    font-size: 20px !important; /* normal - 18px menu& h thumb meta1 title */ 
  }
  .big-desktop-app-font3 {
    font-size: 28px !important; /* normal - 24px section title, v thumb meta1 title */
  }
  .big-desktop-app-font4, footer h2 {
    font-size: 22px !important; /* normal - 20px footer sec title */
  }
  .navbar-expand nav .navbar-nav .nav-link {
    padding-left: 36px;
    padding-right: 36px;
  }
  header li a.livemenu:after, .mobile-menu li a.livemenu:after {
    right: 25px;
    top: 8px;
  }
  .header-search {
    /*padding-right: 50px;*/    
    margin-right: 35px;
  }
  .navbar-expand .navbar-nav .header-search.active a:before, .navbar-expand .navbar-nav .header-search a:hover:before {
    bottom: -29px;
  }
  .header-view-plan {
    /*padding-right: 46px;*/
    padding-right: 30px;
  }
  .header-view-plan span {
    margin-left: 10px;
  }
  .navbar-expand .navbar-nav .active a:before, .navbar-expand .navbar-nav-scroll .navbar-nav li a:hover:before {
    bottom: -19px;
  }
  .main-content {
    padding-top: 85px;
  }
  .app-btn {
    border-radius: 24px;
    padding: 7px 24px 8px;
  }
  .banner-slider {
    margin: 0px 0px 48px;
  }
  .banner-slider .owl-theme .owl-nav .owl-prev {
    left: 48px;
  }
  .banner-slider .owl-theme .owl-nav .owl-next {
    right: 48px;
  }
  .slicks-container .slicks>div>div, .ad-wrap, .browse-section {
    margin-bottom: 44px;
  }
  .slick-thumb-details .content-title {
    font-size: 16px;   
  }
  .slick-thumb-details .sub-info {
    font-size: 14px;    
  }
  .slick-initialized .slick-slide {
    margin-right: 15px;
  }
  .searchpage .slick-initialized .slick-slide {
    margin-right: 20px;  
  }
  .mb-gap {
    margin-bottom: 106px;
  }
  .section-title, .section-title2 {
    margin-bottom: 20px !important;
  }
  .details-wrapper .section-title, .details-wrapper .section-title2 {
    margin-bottom: 12px !important;
  }
  .buy-txt {
    font-size: 18px;
  }
  .browse-thumb {
    padding: 0px 5px;
  }
  .browse-thumb span {
    font-size: 21px;
  }
  .coming-soon-txt, .premium-txt {
    font-size: 16px;
  }
  footer {
    padding: 14px 96px 26px 40px;
  }
  .footer-menu {
    margin-bottom: 10px;
  }
  footer .social-icon img {
    height: 48px;
    width: 48px;
  }
  footer .app-icon li:first-child img {
    height: 50px;
    width: 170px;
  }
  footer .app-icon li:nth-child(2) img, footer .app-icon li:nth-child(3) img {
    height: 50px;
    width: 172px;
  }
  .details-container {
    max-width: 1200px;
  }
  .section-title2 {
    font-size: 38px;
  }
  .video-info h4, .thumb-info p {
    font-size: 22px;
  }
  .search-thumb-wrap {
    flex: 0 0 43.666667%;
    max-width: 43.666667%;
  }
  .tag {
    border-radius: 30px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 15px 22px 13px 22px;
  }
  .paytm_cashback_img img {
    width: 275px;
  }  
  .user-item-thumb-list-container {
    padding: 0px 25px;
  }
  .user-item-thumb-list-wrap .thumb-list {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media(min-width: 1850px) {
  .browse-thumb span {
    font-size: 24px;
  }
}
@media(max-width: 1750px) {
  .subscribed-plan-box-container {
    padding-left: 32%;
  }
  .thumb-info img {
    height: 22px;
    width: 22px;
  }  
  .browse_menu_wrap {
    top: 84px;
  }
}
@media(max-width: 1650px) {
  .full-width-content .tab-contents .owl-stage {
    left: -120px;
  }
  .search-page .search-slicks-container .slick-prev, 
  .search-page .search-slicks-container .slick-next {
    right: -120px;
  }
  .search-page .slick-next {
    right: 25px;
  }
  .gu .mobile-footer-wrap .float-right {
    width: 66%;
  }
  .gu footer {
    padding: 10px 40px 20px 40px;
  }
}
@media(max-width: 1550px) {
  .subscribed-plan-box-container {
    padding-left: 29.2%;
  }
  .video-info-left li.app-color5 {
    padding: 0.1% 0.6% 0.3%;
  }
  .plan-box-container {
    margin: 0px 10px;
  }
}
@media(max-width: 1400px) {
  .subscribed-plan-box-container {
    padding-left: 28%;
  }
  .owl-carousel .owl-item .item:before {
    left: 25px;
  }
  .owl-carousel .owl-item .item:after {
    right: 25px;    
  } 
  .full-width-content .tab-contents .owl-stage {
    left: -100px;
  }
  .search-slicks-container {
    max-width: calc(100vw - 260px)
  }
  #tab-button li a {
    padding: 14px 22px 16px;
  }
  .search-page .slick-initialized .slick-slide {
    margin-right: 15px;
  }
  .search-page .search-slicks-container .slick-prev, 
  .search-page .search-slicks-container .slick-next {
    right: -80px;
  }
  /*.browse_menu_wrap nav {    
    top: 70px;
  }*/
  .browse_menu_wrap nav {
    padding-left: calc(5.6% + 90px);
  }
  header.navbar .navbar-nav-scroll .browse_menu_wrap li {
    padding: 10px 0px 10px;
  }
  .shemaroome_classic_page header img {
    width: 160px;
  }
  footer .social-icon{
    margin-right: 25px;
    margin-left: 12px;
  }
  footer .social-icon img, 
  footer .app-icon li:nth-child(4) img, footer .app-icon li:last-child img {
    height: 32px;
    width: 32px;
  }
  footer .app-icon li {
    margin-right: 12px;
  }
  footer .app-icon li:first-child img, 
  footer .app-icon li:nth-child(2) img, 
  footer .app-icon li:nth-child(3) img {
    width: 120px;
   }
}
@media(max-width: 1350px) {  
  .subscribed-plan-box-container {
    padding-left: 26%;
  }
  .vertical-listing-thumb {
    width: 16.3%;
  }
  .search-slicks-container {
    max-width: calc(100vw - 220px)
  }
  #tab-button li a {
    padding: 13px 18px 15px;
  }
}
@media(max-width: 1199px) {
  .static-container1 .left-sec-content img {
    width: 78px;
  }
  .static-container1 .right-sec-content {
    padding-left: 1%;
    padding-right: 2.25%;
  }
  .static-container1 .left-sec-content {
    padding-right: 6%;
  }
  .static-container1 .form-group input {
    font-size: 14px;
    padding: 11px 20px 9px !important;
  }
  .static-container1 .form-group input::placeholder {
    font-size: 14px;
    padding: 11px 0px 9px !important;  
  }
  .static-container1 .right-sec-content a.btn {
    font-size: 24px;
    margin: 30px 0px 10px 0px;
    padding: 8px 16px;
  }
  .hcity-page .static-container1 .right-sec-content p {
    font-size: 24px;
    margin: 30px 0px 10px 0px;      
  }
  .static-container1 .form-group {
    margin-bottom: 0.75rem;
  }
  .static-container1 .form-group a {
    border-radius: 18px;
    font-size: 16px;
    padding: 6px 35px;
  }
  .hcity-page .static-container1 .form-group a {
    padding: 6px 28px;
  }
  .hcity-page .static-container1 .bottom-content { 
    padding: 40px 30px;
  }
  .static-container1 .bottom-content p {
    font-size: 16px;
  }
  .hcity-page .h-title { 
    bottom: calc(0% - 70px);
    left: calc(50% - 125px);    
    width: 250px;
  }
  .hcity-page .static-container1 .bottom-content p {
    font-size: 24px;
  }
  .classic-box {
    padding: 40px 50px;
  }
  .thumb-left-box, .thumb-right-box {
    padding: 0;
  }
  .classic-icon-box img {
    margin-bottom: 22px;
    width: 120px;
  }
  .row-three-box .classic-icon-box p, .device-box p,
  .relive-box-left label, .relive-box-left p,  
  .thumb-left-box .description, .thumb-right-box .description {
    font-size: 21px;
  }
  .thumb-left-box .description, .thumb-right-box .description {
    line-height: 33px;
    padding: 0px 0px 0px 70px;
  }
  .device-box p {
    line-height: 26px;
  }
  .shemaroome_classic_page h1 {
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 48px;
  }
  .thumb-right-box .masthead-card .image-gradient {
    left: 49.4%;
    width: 100px;
  }
  .thumb-left-box .masthead-card .image-gradient {
    left: 41%;
  }
  .classic-box .slider-caption {
    padding-right: 0;
  }
  .relive-box-left label {
    margin-right: 20px;
    min-width: 130px;
  }
  .relive-icon-box img {
    width: 74px;
  }
  .relive-icon-box p {
    font-size: 16px;
  }
  .under-stand-box h1 {
    margin-bottom: 16px;
  }
  .under-stand-box p {
    font-size: 32px;
  }
  .classic-box .planbox p {
    font-size: 20px; 
  }
  .classic-box .planbox a, .footer-classic-bottom a {
    font-size: 24px;
    padding: 7px 28px;
  }
  .bottomcon p {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .bottomcon h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .footer-classic-bottom p.font-bold, .footer-classic-bottom p.font-medium {
    font-size: 28px;
  }
  .footer-classic-bottom p.font-bold {
    letter-spacing: 2px;
  }
  .footer-classic-bottom p.font-medium {
    letter-spacing: 1.2px;
  }
  .social-wrap img {
    margin-right: 44px;
    width: 84px;
  }
  /*.footer-classic-bottom-wrap {
    padding: 5% 18% 7% 18%;
  }*/
  .bottomcon .footer-classic-bottom-wrap p, .bottomcon .footer-classic-bottom-wrap h2 {
    padding: 0;
  }
  .shemaroome_classic_page .banner-content {
    top: 62%;
  }
  .shemaroome_classic_page .banner-content p:first-child {
    font-size: 20px;    
  }
  .shemaroome_classic_page .banner-content p:last-child {
    font-size: 28px;   
  }
  .microsite_classic2_page .section h2 {
    font-size: 20px; 
  }
  .microsite_classic2_page .section h2 span {
    font-size: 32px; 
  }
  .microsite_classic2_page .section1 .text-section {
    top: 52%;
    left: 5%;
  }
  .microsite_classic2_page .section1-logo {
    left: 5%;
    width: 230px;
    top: 7%;
  }
  .microsite_classic2_page .section1-couple {
    width: 66%;
  }
  .microsite_classic2_page .section2 .text-section, 
  .microsite_classic2_page .section3 .text-section {
    width: 34%;
  }
  .microsite_classic2_page .section6 .text-section {
    width: 36%;
  }
  .microsite_classic2_page .section5 .text-section {
    width: 37%;
  }
  .microsite_classic2_page .section7 ul li a {
    font-size: 26px;
  }
  .microsite_classic2_page .section7 .cpy_text p {
    font-size: 17px;
  }
  #evergreen_page .head-section #green_logo1 {
    width: 212px;
  }
  #evergreen_page .head-section #green_logo2 {
    width: 110px;
  }
  .titletag-section p {
    font-size: 36px;
    line-height: 43px;
  }
  #evergreen_page #btn_play_video {
    width: 220px;
  }
  .plans-container h1 {
    font-size: 26px;
  }
  .plans-container .font-mbold.mulli-font2 {
    font-size: 14px;
  } 
  .profle_upgrade_btn_wrap h4 {
    font-size: 22px;
  }
  .profle_upgrade_btn_wrap img {
    width: 110px;
  }
  .subscription-fixedbox a {
    font-size: 32px;
  }
  #guj_stamp {
    width: 96px;
  }
  #chs_pln {
    font-size: 30px;
  }
  .chs_pln2 {
    font-size: 18px;
  }
  .plns_title {
    font-size: 22px;
  }
  .contact-page-container {
    margin: 0px 45px auto;
  }
  table.rt-responsive-table.rt-vertical-table td:before {
    width: 62%;
    top: 27%;
  }
  table.rt-responsive-table.rt-vertical-table td:after {
    content: "";
    height: 100%;
    position: absolute;
    width: 2px;
    background: #666;
    left: 66%;
    top: 0;
  }
  .dark-theme table.rt-responsive-table.rt-vertical-table td:after {
    background: #fff;
  } 
  table.rt-responsive-table td {
    padding: 17px 13px;
  }
  .channel_details_page .slick-wrapper .square2 .slick-list {
    padding: 0px 240px !important;
    padding-left: 0 !important;
  }
  .square2 .slick-thumb-details .image-desc h4 {
    font-size: 21px;
    line-height: 24px;
  }
  .square2 .slick-thumb-details .image-desc h2 {
    color: #fff;
    font-size: 28px;
    line-height: 24px; 
  }
  /*.plans-container .old-price {
    margin-left: 90px;
  }*/
  .media_list_thumb_details .content-title p {
    font-size: 21px;
  }
  .media_list_thumb_details .sub-info p {
    font-size: 17px;
  }
}
@media(max-width: 1160px) {
  .main-logo {
    width: 102px;
  }
  .navbar-expand nav .navbar-nav .nav-link {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }    
  .header-view-plan span {
    display: none;
  }
  header .app-btn {
    font-size: 13px;
  }
  .browse_menu_wrap {    
    padding-top: 10px;
    padding-bottom: 10px
  }
  .browse_menu_wrap nav {
    padding-left: calc(5.6% + 60px);
  }
  .browse_menu_wrap li {
    margin-right: 7px;
  }
  .browse_menu_wrap li a {
    font-size: 13px !important;
    padding: 8px !important
  }
  .main-content {
    padding-top: 73px;
  }
  .banner-slider {
    margin: 15px 0px 20px;
  }
  .banner-slider .owl-theme .owl-nav .owl-prev {
    left: 32px;
  }
  .banner-slider .owl-theme .owl-nav .owl-next {
    right: 32px;
  }
  .browser-banner-wrap p, .browser-banner-wrap h2 {
    left: 15px;
  }
  .browser-banner-wrap h2 {
    font-size: 44px;
  }
  .slicks-container {
    max-width: calc(100vw - 40px);
  }
  .search-page .slicks-container {
    max-width: calc(100vw - 80px);
    margin-left: 40px;
  }
  .search-slicks-container {
    max-width: calc(100vw - 120px); 
  }
  .slick-gap .section-title, .slick-gap .section-title2 {
    margin-bottom: 26px !important;
  }
  .slick-area .slick-wrapper .app-slick-carousel .app-slick-slider-container .slick-slider {
    margin-left: 0px;
  }
  .slick-next, .slick-prev {
    display: none !important;
  }
  .slick-prev:before, .slick-next:before {
    height: 29px;
    width: 34px;
  }
  .browse-thumb span {
    font-size: 16px;
  }
  .app-slick-container a.more {
    font-size: 18px;
    letter-spacing: -0.11px;
  }
  .buy-txt, .coming-soon-txt, .premium-txt {
    line-height: 23px;
    padding: 2px 11px;
  }
  .buy-txt {
    font-size: 14px;
  }
  .coming-soon-txt {
    font-size: 12px;
  }
  .premium-txt {
    font-size: 12px;
  }
  .premium-img { 
    height: 18px;
    width: 18px;
    position: absolute;
    top: 7px;
    left: 10px;
  }
  .banner-premium-img {
    height: 24px;
    width: 84px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .premium-img-wat { 
    height: 18px;
    width: 18px;
    position: absolute;
    top: 7px;
    left: 20px;
  }
  .ad-section {
    height: 64px;
    width: 712px;
  }
  .ad-wrap {
    width: auto;
  }
  footer {
    padding: 10px 20px 19px 20px;
  }
  footer .social-icon {
    margin-right: 28px;
  }
  footer .app-icon li {
    margin-right: 10px;
  }
  .details-wrapper {
    padding: 0;
  }
  .details-wrapper2 {
    padding: 0px 43px;
  }  
  .details-container {
    max-width: 100%;
    margin: 0;
    width: 100%;
  }
  .details-page .slicks-container {
    max-width: calc(100vw - 80px);
  }
  .video-info {    
    margin-top: 20px;
  }
  .breadcrumbs {
    margin-bottom: 20px;
    margin-top: 0;
  }

  header li a.livemenu:after {
    right: 10px;
    top: 8px;
  }
  .subscribed-plan-box-container {
    padding-left: 14%;
  }
  footer .footer-menu li a {
    line-height: 13px;
  }
  .owl-carousel .owl-item .item:before {
    left: 20px;
  }
  .owl-carousel .owl-item .item:after {
    right: 20px;    
  }
  .owl-carousel .owl-item .item:before, .owl-carousel .owl-item .item:after {
    background: none;
  }
  .thumb-info img {
    height: 20px;
    width: 20px;
  }
  .padd-wrapper {
    padding: 0px 30px;
  }
  .vertical-listing-thumb {
    width: 19.5%;
  }
  .horizontal-listing-thumb {
    width: calc(25% - 4px);
  }
  .tag {
    font-size: 18px;
  }
  .sso_pop .logo {
    width: 205px;
  }
  #small_selection_pop h4 {
    margin-bottom: 44px;
  }  
  #tab-button li a {
    padding: 11px 9px 12px;
  }
  .search-page .slick-initialized .slick-slide {
    margin-right: 10px;
  } 
  .search-see-all-resuts-thumb-wrap .item {
    width: 25%;
  }
  .search-see-all-page h2, .search-page h2, .search-thumb-desc-section h2 {
    font-size: 20px;
  }
  .search-thumb-desc-section p {
    font-size: 14px;
  }
  .tab-button-outer {
    display: inline-block;
    width: 650px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #guj_stamp {
    width: 96px;
  }
  .tab-content h4 , #details_tabs a {
    font-size: 20px;
  }
  .meta-info11, .meta-info12, .meta-info13 {
    font-size: 18px;
  }
  .meta-info2 {
    font-size: 16px;
  }
  .channel_details_page .slick-wrapper .square2 .slick-list {
    padding: 0px 240px !important;
    padding-left: 0 !important;
  }
  .square2 .slick-thumb-details .image-desc h4 {
    font-size: 21px;
    line-height: 24px;
  }
  .square2 .slick-thumb-details .image-desc h2 {
    color: #fff;
    font-size: 28px;
    line-height: 24px; 
  }
  .media_list_thumb_details .content-title p {
    font-size: 21px;
  }
  .media_list_thumb_details .sub-info p {
    font-size: 17px;
  }
}
@media(max-width: 991px) {
  header.navbar {
    padding: 0px 8px;
  }
  .main-logo {    
    width: 90px;
  }
  .logo-section {
    margin-right: 10px;
  }
  .navbar-expand nav .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
  }
  header .app-btn {
    padding: 5px 12px 6px;
  }
  .header-view-plan {
    padding-right: 17px;
  }
  .header-search {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .navbar-expand .navbar-nav .header-search.active a:before {
    bottom: -24px;
  }
  .navbar-expand .navbar-nav .active a:before, .navbar-expand .navbar-nav li a:hover:before {
    bottom: -16px;
  }
  .browse_menu_wrap nav {
    padding-left: calc(5.6% + 10px);
  }
  .browse_menu_wrap li a {
    padding: 6px !important;
  }
  .banner-slider .owl-theme .owl-nav .owl-prev {
    left: 13px;
  }
  .banner-slider .owl-theme .owl-nav .owl-next {
    right: 13px;
  }
  .banner-slider .owl-theme .owl-nav .owl-prev img, .banner-slider .owl-theme .owl-nav .owl-next img {
    height: 40px;
    width: 40px;
  }  
  .browse-thumb span {
    font-size: 13px;
  }
  .browser-banner-wrap h2 {
    font-size: 38px;
  } 
  footer.app-d-flex {
    display: block;
    padding: 21px 20px 19px 20px;
  } 
  footer .v-center.flex-column {
    display: block;
    width: 36%;
  }   
  .footer-menu {
    display: block;
    margin-bottom: 48px;
    margin-top: 0px;
    width: 70%;
  }
  .footer-menu li {
    display: inline-block;
    padding-right: 8px;
  }
  /*footer .footer-menu li a {
    line-height: 32px;
  }*/
  footer p {    
    float: left;
    margin-top: 29px;
    width: 100%;
  }
  footer .float-right {
    width: 47%;
  }
  footer .social-icon {
    margin-right: 6%;
  }
  footer .social-icon ul {    
    display: inline-block;
    width: 100%;     
  }
  footer .social-icon li {    
    float: left;    
    margin-left: 0px;
    margin-right: 10px;    
  }
  footer .app-icon ul {
    flex-direction: column;
    justify-content: center;
  }
  footer .app-icon li {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }
  /*footer .app-icon li:nth-child(2) img {
    width: 130px;
  } */
  footer .app-icon li:nth-child(4), footer .app-icon li:last-child {
    display: none;
  }  
  footer .app-icon2 li, footer .app-icon2 li:first-child, footer .app-icon2 li:last-child {
    display: inline-block;
    margin-bottom: 0;
  }
  footer .app-icon2 li:first-child img, footer .app-icon2 li:last-child img {
    width: 32px;
    height: 32px;
  }
  footer .app-icon2 li:first-child {
    margin-left: 27px;
    margin-right: 7px;
  }
  footer .app-icon2 li:last-child {
    margin-left: 7px;
    margin-right: 13px;  
  }
  .details-wrapper2 {
    padding: 0px 20px;
  }
  .details-page .slicks-container {
    max-width: calc(100vw - 40px);
  }
  .video-feature ul {
    margin: 0px -20px;
    width: calc(100% + 40px) !important;
  }
  .video-feature ul li ul {
    margin: 0px;
    width: 108px !important;
  }
  /*.video-info-left ul.mb-3 {
    margin-bottom: 22px !important;
  }*/
  /*.video-feature li {
    height: 109px;
    width: 109px;
  }*/
  .video-feature li img {
    width: 27px;
  }
  .section-title2 {
    font-size: 20px;
  }
  .video-info .section-title2 {
    font-size: 32px;
  }
  .video-info h4, .thumb-info p {
    font-size: 16px;
  }
  .profile-container {
    padding: 0 15px;
  }
  .owl-carousel .owl-item .item:before {
    left: 5px;
  }
  .owl-carousel .owl-item .item:after {
    right: 5px;    
  }
  .profile-page .menu-box1-wrap {
    flex-wrap: wrap;
  }
  .profile-page .menu-box1 {        
    flex: 0 0 48%;
    max-width: 48%;
    width: 48%;
  }
  .profile-page .menu-box1:first-child, .profile-page .menu-box1:nth-child(2) {
    margin-bottom: 20px;
  }
  .profile-page .menu-box1:nth-child(even) {
    margin-right: 0;
  }
  .listing-thumb {
    padding: 7px;
  }
  .static-container {
    max-width: 720px;
  }
  .thumb-info img {
    height: 17px;
    width: 17px;
  }
  #lang_selection_pop .lang_wrap {
    padding: 35px 25px 55px;
  }
  #lang_selection_pop .lang_box h4 {
    font-size: 24px;
  }
  #lang_selection_pop .lang_box p {
    font-size: 14px;
  }
  #lang_selection_pop a.btn {
    font-size: 14px;
  }  
  .static-container1 .right-sec-content {
    padding-left: 1%;
    padding-right: 0.25%;
  }
  .static-container1 .left-sec-content {
    padding-right: 6%;
  }
  .static-container1 .form-wrap {
    padding: 5px 20px;
  }
  .static-container1 .left-sec-content img {
    width: 78px;
  }
  .static-container1 .right-sec-content a.btn, .hcity-page .static-container1 .right-sec-content p {   
    font-size: 18px;
  }  
  .static-container1 .form-group input {
    font-size: 12px;
    padding: 11px 17px 9px !important;
  }
  .static-container1 .form-group input::placeholder {
    font-size: 12px;
    padding: 11px 0px 9px !important;  
  }
  .static-container1 .form-group a {
    font-size: 14px;
    padding: 6px 28px;
  }
  .hcity-page .h-title { 
    bottom: calc(0% - 55px);
    left: calc(50% - 95px);    
    width: 190px;
  }
  .hcity-page .static-container1 .bottom-content p {
    font-size: 22px;
  }
  #tab-button li a {
    padding: 11px 14px 12px;
  }
  .search-see-all-resuts-thumb-wrap .item {
    width: 33.333%;
  }
  .classic-box {
    padding: 30px 38px;
  }
  .thumb-left-box, .thumb-right-box {
    padding: 0;
  }
  .classic-icon-box img {
    margin-bottom: 18px;
    width: 108px;
  }
  .row-three-box .classic-icon-box p, .device-box p,  
  .thumb-left-box .description, .thumb-right-box .description,
  .relive-box-left label, .relive-box-left p {
    font-size: 17px;
  }
  .relive-box-left label {
    margin-right: 12px;
    min-width: 104px;
  }
  .device-box p {
    line-height: 21px;
  }
  .shemaroome_classic_page h1 {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 46px;
    margin-bottom: 40px;
    padding: 0 2%;
  }
  .under-stand-box h1 {
    margin-bottom: 16px;
  }
  .relive-box-left {
    width: 64%;
  }
  .relive-box-right {
    width: 36%;
  }
  .relive-icon-box img {
    width: 60px;
  }
  .relive-icon-box p {
    font-size: 14px;
  }
  .under-stand-box p {
    font-size: 24px;
  }
  .classic-box .planbox p {
    font-size: 18px; 
  }
  .classic-box .planbox a, .footer-classic-bottom a {
    font-size: 21px;
    padding: 6px 20px;
  }
  .bottomcon p {
    font-size: 18px;
    margin-bottom: 21px;
  }
  .bottomcon h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .classic-box .planbox {
    width: 48%;
  }
  .classic-box .planbox1 {
    margin-right: 2%;
  }
  .classic-box .planbox2 {
    margin-left: 2%;
  }
  .classic-box .planbox2 p {
    line-height: 28px;
  }
  .thumb-left-box .description, .thumb-right-box .description {
    padding: 0px 0px 0px 54px;
  }
  .footer-classic-bottom p.font-bold, .footer-classic-bottom p.font-medium {
    font-size: 25px;
  }
  .social-wrap img {
    margin-right: 36px;
    width: 74px;
  }  
  .shemaroome_classic_page .banner-content {
    top: 59%;
  }  
  .shemaroome_classic_page .banner-content p:first-child {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .shemaroome_classic_page .banner-content p:last-child {
    font-size: 24px;
  }
  .microsite_classic2_page .section h2 {
    font-size: 16px; 
  }
  .microsite_classic2_page .section h2 span {
    font-size: 24px; 
  }
  .microsite_classic2_page .section1-logo {
    width: 216px;
    top: 7%;
  }
  .microsite_classic2_page .section1-couple {
    width: 56%;
  }
  .microsite_classic2_page .section1 .text-section {
    width: 35%;
  }
  .microsite_classic2_page .section2 .text-section, 
  .microsite_classic2_page .section3 .text-section {
    width: 36%;
  }
  .microsite_classic2_page .section2 .text-section, 
  .microsite_classic2_page .section6 .text-section {
    left: 2%;
  }
  .microsite_classic2_page .section5 .text-section {
    width: 39%;
  }
  .microsite_classic2_page .section2 .text-section {
    right: 3%;
  }
  .microsite_classic2_page .section6 .text-section {
    width: 37%;
  }
  .microsite_classic2_page .section7 {
    padding: 30px 15px 30px;
  }
  .subscription-fixedbox a {
    font-size: 28px;
  }
  #profle_upgrade_btn {
    margin-bottom: 5px;
    margin-top: 20px;
  }
  #guj_stamp {
    width: 90px;
  }
  .contact-page-container {
    margin: 0px 30px auto;
  }
  .contact-form-wrap {
    padding-left: 2%;
  }
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(4):before,
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(5):before {
    top:  12%;
  }
  .tab-content h4 , #details_tabs a {
    font-size: 18px;
  }
  .meta-info11, .meta-info12, .meta-info13 {
    font-size: 18px;
  }
  .meta-info2 {
    font-size: 16px;
  }
  .channel_details_page .slick-wrapper .square2 .slick-list {
    padding: 0px 180px !important;
    padding-left: 0 !important;
  }
  .square2 .slick-thumb-details .image-desc h4 {
    font-size: 17px;
    line-height: 21px;
  }
  .square2 .slick-thumb-details .image-desc h2 {
    color: #fff;
    font-size: 24px;
    line-height: 21px; 
  }
  .media_list_thumb_details .content-title p {
    font-size: 18px;
  }
  .media_list_thumb_details .sub-info p {
    font-size: 16px;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .video-info-left {
    padding-right: 15px;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  .plan-box-container .plan-box-wrap {
    width: 62%;
  }
}
@media(max-width: 767px) {
  .tab-button-outer {
      display: inline-block;
      width: 300px;
      overflow-x: scroll;
      white-space: nowrap;
    }  
  .mobile-menu {
    background: #222222;
    position: fixed;
    padding-bottom: 8px;
    padding-top: 6px;        
    top: 73px;
    z-index: 11;
  }
  .mobile-menu .nav-link {
    color: #999;
    font-size: 14px;
    letter-spacing: -0.07px;    
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px 2px;
  }
  .mobile-menu .mobile_browse_menu_wrap .nav-link {
    color: #fff;
  }
  .mobile-menu li a.livemenu:after {
    right: 7px;
    top: 5px;
  }
  .mobile-menu .active .nav-link {
    color: #fff;
    font-family: 'muli-bold';   
  } 
  .mobile-menu .navbar-nav .active:before {
    background: #D51F53;
    border-radius: 4px;
    border-radius: 4px;
    bottom: -8px;
    content: "";
    height: 4px;
    position: absolute;
    left: 0;
    width: 100%;
  }  
  .navbar-expand .navbar-nav .header-search.active:before {
    border-radius: 4px;
    border-radius: 4px;
    height: 4px;
  }
  .mobile-menu nav {
    overflow-x: auto;
  } 
  .mobile_browse_menu_wrap {
    background: #222222E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004D;
    display: none;
    max-height: 266px;
    overflow-y: auto;
  }
  .mobile_browse_menu_wrap ul {
    max-width: 170px;
    margin: 0 auto;
  }
  .mobile_browse_menu_wrap ul li a.browse-active-menu {
    background: #FFF;
    color: #35444E !important;
    font-family: "muli-bold" !important;
    margin-top: 0px !important;
    border-radius: 6px;
  }
  header.navbar {
    padding: 16px;
  }
  .logo-section {
    display: inline-flex;
    padding: 0;
  }
  .section-title {
    font-size: 20px;
  }
  .main-content {
    padding-top: 121px;
  }
  .banner-slider {
    margin: 0px 0px 20px;  
  }
  .banner-slider .owl-theme .owl-nav .owl-prev {
    left: 5px;
  }
  .banner-slider .owl-theme .owl-nav .owl-next {
    right: 5px;
  }
  .browser-banner-wrap p {
    bottom: 47px;
    font-size: 20px;
  } 
  .browser-banner-wrap h2 {
    font-size: 36px;
  } 
  .ad-section {
    height: 200px;
    width: 280px;
  }
  .slick-wrapper .browse-slider .slick-list.draggable {
    margin-left: 0px;
    padding: 0px;
  }
  .slicks-container {
    max-width: calc(100vw - 32px);
    margin-left: 16px;
  }
  .details-page .slicks-container {
    max-width: calc(100vw - 32px);
  }
  .listing-page .slicks-container {
    max-width: calc(100vw - 32px);
  }
  .search-page .slicks-container {
    max-width: calc(100vw - 32px);
    margin-left: 16px;
  }
  .browse-slider.slick-initialized .slick-slide {
    margin-right: 6px;
  }
  .browse-slider.slick-slide img {
    width: 100%;
  }
  .browse-thumb {
    margin-bottom: 6px;
    padding: 0px;
  }
  .browse-thumb:before {
    left: 0px;
    width: calc(100% - 0px);
  }
  .browse-thumb span {
    font-size: 13px;
    letter-spacing: -0.08px;
  }
  .coming-soon-txt {
    font-size: 11px;
  }
  .slick-prev {
    left: -20px;
  } 
  .slick-next {
    right: -20px;
  }
  footer .v-center.flex-column {
    width: 43%;
  }
  footer .float-right {
    width: 52%;
  }
  footer .social-icon {
    margin-right: 4%;
  }
  .footer-menu {
    width: 97%;
  }
  footer p {
    margin-top: 50px;
    width: 170%;
  }
  .footer-menu li {
    /*border-right: 0px;*/
    position: relative;
  }
  /*.footer-menu li:after {
    content: "|";
    position: absolute;
    right: 0;
    height: 18px;
    width: 1px;
    color: #ababab;
    top: 8px;
    font-size: 18px;
  }
  .footer-menu li:last-child:after {
    content: "";
    display: none;
  }*/
  .details-wrapper2 {
    padding: 0px 16px;
  }
  .video-info .section-title2 {
    font-size: 24px;
  }  
  .video-info-left li.app-color5 {
    font-size: 14px;
    padding: 0.1% 1% 0.2%;
  }
  .video-feature ul {
    margin: 0px -10px;    
    width: calc(100% + 30px) !important;
  }
  .video-info-left .video-feature li {
    width: 33.333%;
  } 
  .video-info-left .video-feature li  ul li {
    height: auto;;
    width: auto;
  }
  .video-feature li p {
    border-radius: 28px;
    height: 56px;
    width: 56px;
  }
  .video-feature li img {
    width: 20px;
  }
  .player_desc_section .share_feature {
    left: -12px;
    top: 71px;
  }
  .player_desc_section .share_feature:before {
    left: 54px;    
  }
  .search-image-wrap {
    margin: 0px 10px;
    width: calc(100% - 20px);
  }
  .search-image-wrap img {
    width: 100%;
  }
  .search-category-wrap {
    padding: 0;
    width: 100%;
  }
  .menu-box1-wrap {
    flex-wrap: wrap;
  }
  #no_plan_box {
    width: 100%;
  }
  .profile-banner-container {
    margin: 0px 15px auto;
  }
  .menu-box1 a {
    padding: 0px 10px;
  }
  .menu-box1 {        
    flex: 0 31%;
  }
  .menu-box1:first-child, .menu-box1:nth-child(2) {
    margin-bottom: 20px;
  }
  /*.menu-box1:nth-child(even) {
    margin-right: 0;
  }*/
  .subscribed-plan-box-container {
    padding-left: 5%;
  }
  .inside-container, .onboarding-payment-contianer, .otp-roku-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 66px !important;
  }
  .static-container-web {
    padding-top: 66px !important;
  }
  .static-container {
    /*background: #fff*/;
    padding-left: 0px !important;
    padding-right: 0px !important;    
  }
  .redeem_codee {
    margin-top: 50px;
  }
  .static-container .tile-box-shadow.padding-left-30.padding-right-30.mobile_padding_0 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .static-container h2 {
    padding: 0px 10px;
  }
  .padd-wrapper {
    padding: 0px 15px;
  }
  .full-width-content .section-title, .full-width-content .section-title2 {
    margin-bottom: 20px !important;
  }
  .vertical-listing-thumb {
    width: 24.2%;
  }
  .horizontal-listing-thumb {
    width: calc(33.33% - 3.5px);
  }
  #signup_privacy_check .custom-control {
    padding-left: 1.7rem;
  }
  #signup_privacy_check .custom-control.overflow-checkbox .overflow-control-indicator {
    height: 18px;
    width: 20px;
  }
  .social_pop #signup_privacy_check .custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
    left: 4px;
    top: -2px;
  }
  #lang_selection_pop .lang_wrap {
    padding: 30px 20px 45px;
  }
  #lang_selection_pop .lang_box {
    width: 50%;
  }
  #lang_selection_pop .lang_box h4 {
    font-size: 18px;
  }
  #lang_selection_pop .lang_box p {
    font-size: 12px;
  }
  #lang_selection_pop a.btn {
    margin-bottom: 25px;
  }
  #small_selection_pop h4 {
    margin-bottom: 36px;
  }
  .app-slick-container a.more {
    font-size: 14px;
  }
  .contest-fixedbox a img {
    width: 54px;
  }

  #tab-select {
    margin-top: 25px;
  }
  .search-see-all-resuts-thumb-wrap .item {
    margin-bottom: 10px;
    padding: 0px 5px;    
  }
  .search-see-all-resuts-thumb-wrap {
    margin: 0px -5px;
    width: calc(100% + 10px) !important;
  }
  .static-container1 .form-wrap {
    padding: 3px 16px;
  }
  .static-container1 .content {
    padding: 0px 16px;
  }
  .static-container1 .bottom-content {
    padding: 5px 16px;
  }
  .static-container1 .bottom-content-box {
    padding: 4px 5px 2px;
  }
  .static-container1 .left-sec-content {
    padding-right: 5%;
  }
  .static-container1 .left-sec-content img {
    width: 64px;
  }
  .hcity-page .static-container1 .bottom-content {
    padding: 24px 16px;
  }
  .hcity-page .h-title {  
    bottom: calc(0% - 45px);
    left: calc(50% - 78px);
    position: absolute;
    width: 156px;
  }
  .hcity-page .static-container1 .bottom-content p {
    font-size: 20px;
  }
  .classic-box {
    padding: 20px 26px;
  }
  .thumb-left-box, .thumb-right-box {
    padding: 0;
  }
  .row-three-box .classic-icon-box {
    width: 50%;
  }
  .row-three-box .classic-icon-box:last-child {
    width: 100%;
  }
  .classic-icon-box img {
    margin-bottom: 18px;
    width: 108px;
  }
  .row-three-box .classic-icon-box p, .device-box p,
  .relive-box-left label, .relive-box-left p  {
    font-size: 16px;
  }
  .thumb-left-box .description, .thumb-right-box .description {
    line-height: 24px;
  }
  .classic-box .masthead-card .image-holder {
    overflow: visible;
  }
  .relive-box-left label {
    margin-right: 12px;
    min-width: 100px;
  }
  .device-box p {
    line-height: 20px;
    width: 100%;
  }
  .device-box p, .device-box img, .relive-box-left, .relive-box-right,
  .thumb-right-box div, .thumb-left-box img, .thumb-right-box img
  .classic-box .planbox, .thumb-right-box .masthead-data, 
  .thumb-left-box .masthead-data, .thumb-right-box img, .thumb-left-box img {
    width: 100%;
  }  
  .shemaroome_classic_page h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
    padding: 0 0%;
  }
  .under-stand-box h1 {
    margin-bottom: 12px;
  }
  .relive-icon-box {
    width: 50%;
  }
  .relive-icon-box p {
    font-size: 14px;
  }
  .under-stand-box p {
    font-size: 16px;
  }
  .classic-box .planbox p {
    font-size: 14px; 
  }
  .classic-box .planbox a, .footer-classic-bottom a {
    font-size: 14px;
    padding: 6px 20px;
  }
  .classic-box .planbox1 p {
    margin-bottom: 20px;
  }
  .bottomcon p {
    font-size: 16px;
    margin-bottom: 21px;
  }
  .bottomcon h2 {
    font-size: 18px;
    margin-bottom: 14px;    
  }

  .bottomcon h2, .bottomcon p {
    padding: 0;  
  }
  .classic-box .planbox1, .classic-box .planbox2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .classic-box .planbox2 p {
    line-height: 18px;
  }
  .thumb-right-box, .thumb-left-box {
    position: relative;
  }
  .thumb-right-box .masthead-card, .thumb-left-box .masthead-card {
    position: static;
  } 
  .classic-box .slider-caption {
    top: unset;
    bottom: 0px;
    padding: 0;
  }
  .thumb-right-box .masthead-data, .thumb-left-box .masthead-data {
    top: unset;
    bottom: 0;
    height: auto;
  }
  .thumb-left-box .description, .thumb-right-box .description {
    font-size: 14px;
    text-align: center;
    padding: 0px 10px 16px;
    line-height: 18px;
  }
  .thumb-right-box .masthead-card .image-gradient,
  .thumb-left-box .masthead-card .image-gradient {
    background: transparent linear-gradient(
  180deg
  , #946C46 0%, #946C46 73%, #946C46 100%) 0% 0%;
    width: 100%;
    left: 0;
    height: 30px;
    bottom: 51px;
    top: unset;
  }
  .thumb-left-box .masthead-card .image-gradient {
    bottom: 51px;
  }
  .thumb-left-box .masthead-card .image-gradient {
    background:  transparent linear-gradient(180deg, #E8E8E3 0%, #E8E8E3 73%, #E8E8E3 100%) 0% 0%;    
  }
  .social-wrap img {
    margin-right: 30px;
    width: 48px;
  }
  .footer-classic-bottom-wrap {
    padding: 5.5% 10%;
  }
  .shemaroome_classic_page .banner-content p:first-child {
    font-size: 11px;    
  }
  .shemaroome_classic_page .banner-content p:last-child {
    font-size: 15px;
  }
  .microsite_classic2_page .section1-logo {
    top: 7%;
    width: 184px;
  }
  .microsite_classic2_page .section1 .text-section {
    top: 51%;
    width: 38%;
  }
  .microsite_classic2_page .section2 .text-section, 
  .microsite_classic2_page .section3 .text-section,
  .microsite_classic2_page .section5 .text-section {
    width: 41%;
  }
  .microsite_classic2_page .section6 .text-section {
    width: 42%;
  }
  .microsite_classic2_page .section h2 {
    font-size: 15px; 
  }
  .microsite_classic2_page .section h2 span {
    font-size: 22px; 
  }
  .microsite_classic2_page .section7 ul li a {
    font-size: 20px;
  }  
  .microsite_classic2_page .section7 ul li {
    line-height: 18px;
  }
  .microsite_classic2_page .section7 .cpy_text p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .microsite_classic2_page .section7 .social_icons a {
    margin: 0px 4px;
  }
  .microsite_classic2_page .section7 .social_icons a img {
    width: 32px;
  }
  .microsite_classic2_page .section7 .social_icons a#app_store img, 
  .microsite_classic2_page .section7 .social_icons a#play_store img {
    width: 105px;
  }
  .microsite_classic2_page .section7 .social_icons a#app_store {
    margin-left: 8px;
  }
  .subscription-fixedbox a {
    font-size: 24px;
  }
  #evergreen_page .head-section #green_logo1 {
    width: 160px;
  }
  #evergreen_page .head-section #green_logo2 {
    width: 82px;
  }
  #evergreen_page #btn_play_video {
    width: 180px;
  }
  .titletag-section p {
    font-size: 28px;
    line-height: 33px;
  }
  .hrline-wrap {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .hrline-wrap .hrline {
    margin: 10px 0 12px;
  } 
  .upgrade_plan_alert_container {
    margin-top: 0px;
  }
  .upgrade_plan_alert {
    padding: 60px 45px 50px;
    margin-bottom: 0px;
  }
  .upgrade_plan_alert.height-div1 {
    height: auto !important;    
  }
  .even-plan-box .plan-short-info {
    margin-left: 0px;
  }
  #guj_stamp {
    width: 84px;
  }
  #chs_pln {
    font-size: 28px;
  }
  .chs_pln2 {
    font-size: 16px;
  }
  .plns_title {
    font-size: 20px;
  }
  .contact-page-container {
    margin: 0px 20px auto;
  }
  .contact-form-wrap, .contact-form-text {
    width: 100%;
    padding: 0;
  }
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(4):before,
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(5):before {
    top:  27%;
  }
  .tab-content h4 , #details_tabs a {
    font-size: 16px;
  }
  .meta-info11, .meta-info12, .meta-info13 {
    font-size: 16px;
  }
  .meta-info2 {
    font-size: 14px;
  }
}
@media(max-width: 640px) {
  #signup_privacy_check {
    padding-left: 0px;
    max-width: 380px;
    width: 100%;
  }  
  .thumb-left-box .masthead-card .image-gradient {
    bottom: 69px;
  }
}
@media(max-width: 576px) {
  .full-width-content .tab-contents .owl-stage {
    left: -35px;
  }
  .swagatam-page .static-container1 .content {
    padding-top: 5%;
  }
  .swagatam-page .static-container1 .bottom-content {
    background: url("/assets/swagatam/footer_mobile.jpg");
    background-position: center right;
  }
  .shemaroome_classic_page .banner-content {
    top: 63%;
  }
}
@media(max-width: 440px) {
  header .navbar-nav img {
    width: 24px;
  }
  .header-search {
    padding-right: 5px;
  }
  .header-view-plan {
    padding-right: 12px;
  }
  .mobile-menu .nav-link {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 82px;
  }
  .single-slide .image-gradient, .single-slide .masthead-data {
    display: inline-block;
  }
  .banner-slider {
    margin: 15px 0px 0px;
  }
  .swiper-slide {
    background-position: center center; 
  }
  .swiper-pagination {
    bottom: 0px !important;
    width: 100%;
  }
  .banner-slider .single-slide {
    padding-bottom: 30px;
    position: relative;
  }
  /*#banner-carousel {
    display: none;
  }
  #banner-bg-slider {
    display: block;
  }*/  
  #banner-bg-slider > ul {
    bottom: -20px;
  }
  .browser-banner-wrap p {
    bottom: 35px;
    font-size: 17px;
  } 
  .browser-banner-wrap h2 {
    font-size: 26px;
  } 
  .slick-gap .section-title, .slick-gap .section-title2 {
    margin-bottom: 28px !important;
  }
  .full-width-content .section-title, .full-width-content .section-title2 {
    margin-bottom: 20px !important;  
  }
  .coming-soon-txt {
    font-size: 9px;
  }
  footer.app-d-flex {
    padding: 10px 16px 20px;
    display: flex;
    flex-direction: column;
  }     
  .mobile-footer-wrap {
    display: flex;
    flex-direction: column-reverse;
  }     
  footer .v-center.flex-column {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: 75%;    
  }
  .footer-menu {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
  }
  footer .app_icon12 {
    display: flex;
    flex-direction: row;
  }
  footer .app-icon ul {
    justify-content: left;
  }
  footer p {
    margin-top: 0px;
    width: 100%;
  }
  footer .float-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer .social-icon {
    margin-bottom: 13px;
    margin-right: 0px;
    margin-left: 0;
  }
  footer .app-icon {
    margin-bottom: 23px;
  }
  /*footer .app-icon ul {
    flex-direction: row;
  }  */
  footer .app-icon li, footer .app-icon li:first-child {
    margin-right: 9px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .app-icon li:first-child {
    margin-bottom: 17px;
  }
  footer .app-icon2 li:first-child { 
    margin-left: 5px;
    margin-right: 0;
  }
  footer .app-icon2 li:last-child  {
    margin-right: 0;
  }
  .video-info .section-title2 {
    font-size: 20px;
    line-height: 25px;
  }
  .breadcrumbs li a, .breadcrumbs li {
    font-size: 11px;
    letter-spacing: -0.07px;
    line-height: 14px;
  }
  .breadcrumbs li {
    padding-right: 15px;
    margin-right: 8px;
  }  
  .breadcrumbs li:after {
    border-radius: 3px;
    height: 6px;
    top: 5px;
    width: 6px;
  }
  .video-info-left li.app-color5 {
    font-size: 12px;
    letter-spacing: -0.07px;
  }
  .video-info .justify-content-between {
    flex-direction: column;
  }
  .video-info-bottom p {
    font-size: 14px;
  }
  .section-title {
    font-size: 15px;
  }
  .section-title2 {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -0.11px;
  }
  .details-wrapper2 {
    padding: 0px 16px;
  }
  .video-feature ul {
    margin: 0px;
    width: 100% !important;
  }
  .video-info-bottom {
    margin-top: 25px;
  }
  .video-info-right {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .menu-box {
    /*padding: 0px 10px; */
  }
  .menu-box a {
    padding: 0px 10px;  
  }
  .profile-page .menu-box1, .menu-box1 {
    flex: 0 0 100%;
    margin-right: 0; 
    max-width: 100%;
    width: 100%;
  }
  .menu-box2 {
    width: 100%;
  }
  .signin-page .menu-box1:last-child {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .menu-box img {
    margin-right: 0;
    width: 32px;
  }
  .menu-box span {
    margin-left: 10px;
  }
  #buy_red_sec {
    flex-direction: column;
  }
  #buy_red_sec a:first-child {
    margin-bottom: 16px;
  }
  .user-item-thumb-list-wrap {
    padding: 0px -7px !important;
  }
  .user-item-thumb-list-container {
    padding: 0px 15px;
  }
  .thumb-list {
    padding: 0px 11px;
    width: 100%;
  }
  .thumb-info {
    margin-top: 4px !important;
  }  
  .video-feature ul li ul {
    width: 113px !important;
  }
  .search-image-wrap {
    margin: 0px;
    width: 100%;
  }
  .vertical-listing-thumb {
    width: 32.43%;
  }
  .horizontal-listing-thumb {
    width: calc(50% - 3.5px)
  }
  .search-page input[type="search"], .search-page input[type="search"]::placeholder {
    font-size: 14px;
  }
  .search-box-wrap img {
    width: 20px;
  }
  .search-box-wrap img.search_icon {
    left: 15px;
    top: 13px;
    width: 20px;
  }
  .search-page input[type="search"] {
    padding: 15px 15px 15px 15px;
  }
  .search-page input[type="search"]::placeholder { 
    padding-left: 30px;
  }
  .tag {
    font-size: 16px;
  }   
  .otp-verification-page input[type="text"], .otp-verification-page input[type="number"] {
    height: 42px;
    width: 42px;
  }
  .plans-container [type="radio"]:checked + label, .plans-container [type="radio"]:not(:checked) + label {
    font-size: 14px;
  }
  .plans-container [type="radio"]:checked + label:before, .plans-container [type="radio"]:not(:checked) + label:before {
    height: 16px;
    top: 2px;
    width: 16px;
  }
  .plans-container [type="radio"]:checked + label:after, .plans-container [type="radio"]:not(:checked) + label:after {
    height: 7px;
    width: 6px;
  }
  /*.plans-container .old-price {
    margin-left: 20px;
  }*/
  #lang_selection_pop .lang_wrap {
    padding: 20px 0px 30px;
  }
  #lang_selection_pop .lang_box {
    padding: 10px 20px;
  }
  .player_desc_section ul.play_feature2 li img.preview_video {
    height: 25px;
    width: 25px;
  }
  .player_desc_section ul.play_feature2 li img.watch_later {
    height: 20px;
    width: 22px;
  }
  .player_desc_section ul.play_feature2 li img.share {
    height: 23px;
    width: 23px;
  }
  .player_desc_section ul.play_feature2 li img.download {
    height: 24px;
    width: 24px;
  }
  .search-see-all-resuts-thumb-wrap .item {
    width: 50%;
  }
  .static-container1 .left-sec-content, .static-container1 .right-sec-content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .static-container1 .form-wrap {
    margin-bottom: 10px;
  }
  .static-container1 .bottom-content-box div:first-child, .static-container1 .bottom-content-box div:last-child {
    width: 100%;  
  }
  .hcity-page .static-container1 .bottom-content p {
    font-size: 18px;
  }
  .static-container1 .right-sec-content {
    margin-top: 20px;
  }
  .classic-box {
    padding: 16px 22px;
  }
  .thumb-left-box, .thumb-right-box {
    padding: 0;
  }
  .classic-icon-box img {
    margin-bottom: 18px;
    width: 84px;
  }
  .row-three-box .classic-icon-box p {
    padding: 0px 4px;
  }
  .row-three-box .classic-icon-box p, .device-box p,
  .relive-box-left label, .relive-box-left p,
  .thumb-left-box p, .thumb-right-box p, .relive-icon-box p {    
    font-size: 12px;
  }
  .relive-box-left label {
    margin-right: 12px;
    min-width: 72px;
  }
  .device-box p {
    line-height: 16px;
  }
  .device-box p, .device-box img, .relive-box-left, .relive-box-right,
  .thumb-right-box div, .thumb-left-box img, .thumb-right-box img
  .classic-box .planbox {
    width: 100%;
  }  
  .shemaroome_classic_page h1 {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 21px;   
  }
  .under-stand-box h1 {
    margin-bottom: 12px;
  }
  .relive-icon-box img {
    width: 68px;
  }
  .under-stand-box p {
    font-size: 12px;
  }
  .classic-box .planbox p {
    font-size: 12px; 
  }
  .classic-box .planbox a, .footer-classic-bottom a {
    font-size: 12px;
    padding: 6px 12px;
  }
  .bottomcon p {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .bottomcon h2 {
    font-size: 12px;      
  }
  .classic-box .planbox2 p {
    line-height: 16px;
  }
  .thumb-left-box .description, .thumb-right-box .description {
    font-size: 12px; 
    line-height: 16px;   
  }
  .thumb-right-box .masthead-card .image-gradient,
  .thumb-left-box .masthead-card .image-gradient {    
    height: 30px;
    bottom: 62px;
    top: unset;
  }  
  .footer-classic-bottom p.font-bold, .footer-classic-bottom p.font-medium {
    font-size: 14px;
  }
  .social-wrap img {
    margin-right: 16px;
    width: 32px;
  }
  /*.footer-classic-bottom {
    max-width: 300px;
  }*/
  .shemaroome_classic_page .banner-content {
    top: 63%;
  }
  .shemaroome_classic_page .banner-content p:first-child {
    font-size: 9px;    
  }
  .shemaroome_classic_page .banner-content p:last-child {
    font-size: 12px;
  }
  .microsite_classic2_page .section1-logo {
    top: 1.5%;
    width: 184px;
    left: calc(50% - 90px);
  }
  .microsite_classic2_page .section1-couple {
    width: 100%;
    left: 0%;
  }
  .microsite_classic2_page .img-fluid {
    width: 100%;
  }
  .microsite_classic2_page .section1 .text-section {
    top: 29.5%;
    width: 80%;
    left: 10%;
  }
  .microsite_classic2_page .section h2 {
    font-size: 14px; 
  }
  .microsite_classic2_page .section h2 span {
    font-size: 20px; 
  }
  .microsite_classic2_page .section2 .text-section, 
  .microsite_classic2_page .section3 .text-section, 
  .microsite_classic2_page .section5 .text-section, 
  .microsite_classic2_page .section6 .text-section,  {
    bottom: 0;
    top: unset;
    width: 100%;
    height: auto;
  }
  .microsite_classic2_page .section3 h2 {
    color: #fff;
  }
  .microsite_classic2_page .section h2 {
    bottom: 26px;
  }
  .microsite_classic2_page .section5 .text-section, 
  .microsite_classic2_page .section6 .text-section {
    top: 20px;
    height: auto;
    bottom: unset;
    width: 70%;
    left: 15%;
  }
  .microsite_classic2_page .section3 .text-section {
    bottom: 10px;
  }
  .microsite_classic2_page .section4 .text-section {
    left: 17%;
    width: 66%;
  }
  .microsite_classic2_page .section7 ul {
    flex-wrap: wrap;
  }
  .microsite_classic2_page .section7 ul li {
    margin-bottom: 7px;
  }
  .microsite_classic2_page .section1_video {
    top: 44%;
    width: 75%;
    right: 12%;
  }
  .subscription-fixedbox a {
    font-size: 21px;
  }
  #evergreen_page .head-section #green_logo1 {
    width: 120px;
  }
  #evergreen_page .head-section #green_logo2 {
    width: 62px;
  }
  #evergreen_page .head-section p, #evergreen_cpy_txt p {
    font-size: 14px;
  }
  .titletag-section p {
    font-size: 20px;
    line-height: 26px;
  }
  #evergreen_page #btn_play_video {
    width: 140px;
  }
  .plans-summary-container .price-box img.margin-left-15 {
    margin-left: 8px !important;
  }
  #profle_upgrade_btn {
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .add_new_plan_upgrade_btn_wrap a {
    font-size: 14px;
  }
  .upgrade_plan_alert {
    background: url('/assets/upgrade/bg_mobile.png');
    background-size: cover;
  }
  .upgrade_plan_alert {
    padding: 120px 45px 100px;   
  }
  .pln-box1, .pln-box2 {
    width: 100%;
  }
  .plan-box-wrap {
    padding: 0px 17px;
  }
  .onboarding-payment-contianer-new {
    margin: 0px -11px; 
  }
  .onboarding-payment-contianer-new .input-group.cvv {
    width: 32%;
  }
  .contact-page-container {
    margin: 32px 16px auto;
  }
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(2):before,
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(4):before,
  table.rt-responsive-table-0.rt-vertical-table td:nth-of-type(5):before {
    top:  12%;
  }
  .plans-container .old-price {
    left: calc(100% - 110px);
  }
  .plans-container .old-price:before {
    content: url(/assets/rectangle_strike.svg);
    left: 6px;
    top: -1px;
  }
  .tab-content h4 , #details_tabs a {
    font-size: 14px;
  }
  .meta-info11, .meta-info12, .meta-info13 {
    font-size: 14px;
  }
  .meta-info2 {
    font-size: 12px;
  }
  .player_desc_section ul {
    margin-bottom: 8px !important;
  }
  .video-info-left li.app-color5 {
    margin-bottom: 8px;
  }
  .video_feature2 > .app-d-flex {
    flex-wrap: wrap;
  }
  .details_player_btn1, .details_player_btn2 {
    margin-right: 0 !important;
    margin-bottom: 10px;
    height: 48px;
    width: 100%;
  }
  .channel_details_page .slick-wrapper .square2 .slick-list {
    padding: 0px 120px !important;
    padding-left: 0 !important;
  }
  .channel_details_page .square2 .slick-thumb-details .image-desc {
    bottom: 23%;
    left: 40%;
  }
  .square2 .slick-thumb-details .image-desc h4 {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 0;
  }
  .square2 .slick-thumb-details .image-desc h2 {
    font-size: 21px;
    line-height: 18px; 
  }
  .media_list_thumb_details .content-title p {
    font-size: 17px;
  }
  .media_list_thumb_details .sub-info p {
    font-size: 14px;
  }
}
@media(max-width: 400px) {
  footer .app-icon {
    margin-bottom: 5px;
  }
  footer .app_icon12 {
    flex-direction: column;
  }  
  .mobile-menu .nav-link {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 72px;
  }
  .video-info-left .video-feature li {
    font-size: 12px;
  }
  .video-feature li p {
    height: 43px;
    width: 43px;
  }
  .player_desc_section ul.play_feature2 li img.preview_video {
    height: 21px;
    width: 21px;
  }
  .player_desc_section ul.play_feature2 li img.watch_later {
    height: 20px;
    width: 18px;
  }
  .player_desc_section ul.play_feature2 li img.share {
    height: 22px;
    width: 22px;
  }
  .player_desc_section ul.play_feature2 li img.download {
    height: 23px;
    width: 23px;
  }
  .thumb-left-box .masthead-card .image-gradient {
    bottom: 78px;
  }
}
@media(max-width: 359px) {
  .header-search {
    margin-right: 8px;
    padding-left: 8px;
  }
  header .navbar-nav img {
    width: 20px;
  }
  .header-view-plan {
    padding-right: 10px;
  }
  header .app-btn {
    padding: 4px 8px 5px;
  }
  .logo-section {
    margin-right: 2px;
  }
  .coming-soon-txt {
    font-size: 7px;
  }          
  .vertical-listing-thumb {
    width: 32%;
  }     
  .mobile-menu .nav-link {
    font-size: 12px;
    width: 64px;
  }
  .footer-classic-bottom-wrap {
    padding: 4.5% 10%;
  }
  .footer-classic-bottom p.font-bold, .footer-classic-bottom p.font-medium {
    font-size: 12px;
  }
  .shemaroome_classic_page .banner-content p:first-child {
    font-size: 8px;    
    margin-bottom: 8px;
  }
  .shemaroome_classic_page .banner-content p:last-child {
    font-size: 12px;
  }
  .plans-summary-container .price-box img.margin-left-15 {
    margin-left: 6px !important;
  }
}