<div class="" style="margin: 0 auto; width: 600px; padding: 20px 30px 0px 30px;font-family: arial, sans-serif; font-size: 14px; line-height: 22px;">
  <table style="font-family: arial, sans-serif; font-size: 14px; line-height: 22px;" width="100%">
    <tr>
      <td align="center">
        <a href="#">
          <img src="http://staging1.shemaroome.com/assets/shemaroo_logo.svg" alt="Shemaroome Logo" title="Shemaroome Logo" style="width: 120px; height: auto;">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <ul class="menu" style="background: none; list-style: none; float: left; width: 76%; padding: 0px 12% 20px 12%;margin: 12px 0px 20px 0px; border-bottom: 1px solid #e5e5e5;">
          <li style="float: left; font-weight: bold;">movies<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">music<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">comedy<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">kids<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">regional<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">lifestyle<span class="dot" style="height: 5px;width: 5px;margin: 0px 7px 2px;background-color: #E53937;border-radius: 50%;display: inline-block;"></span></li>
          <li style="float: left; font-weight: bold;">devotion</li>          
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0px 0px 20px 0px; font-size: 14px;"><b>Dear Jayant Kumar,</b></p>
        <h2 style="padding: 0px; background: none; margin: 0px 0px 10px 0px; color: #0095DB; font-size: 18px;">Welcome to ShemarooMe!</h2>
        <p style="margin: 0px 0px 30px 0px;font-size: 14px;"> ShemarooMe is your one stop destination for authentic Indian content.</p>
        <p style="margin: 0px 0px 20px 0px;font-size: 14px;">Your ShemarooMe login ID is as follows:<br>
        jayant.kumar@gmail.com<br><br></p>
        <img src="http://staging1.shemaroome.com/assets/banner.png" alt="banner" title="banner" style="max-width: 100%; height: auto; margin: 0px 0px 30px 0px;">
        <h2 style="margin: 0px 0px 15px 0px; color: #8dc63f;font-size: 18px; background: none; padding-left: 0;">Why choose ShemarooMe Premium?</h2>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px; float: left; width: 100%;"><b style="float: left;">01.</b> <span style="float: left; margin-left: 5px; width: 95%;">Get unlimited, ad-free access to a library of <b>over 4300+ titles</b> with content spanning various genres and languages</span></p>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px; float: left; width: 100%;"><b style="float: left;">02.</b> <span style="float: left; margin-left: 5px; width: 95%;">Six curated <b>24<span style="font-size: 11px; margin-top: 4px; line-height: 10px;">&#10005;</span>7 TV channels</b> along with channel programming</span></p>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px; float: left; width: 100%;"><b style="float: left;">03.</b> <span style="float: left; margin-left: 5px; width: 95%;">Get access to <b>Live streams</b> from famous Temples and Gurudwaras</span></p>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px; float: left; width: 100%;"><b style="float: left;">04.</b> <span style="float: left; margin-left: 5px; width: 95%;">Seamless <b>device synchornization</b> on multiple devices - Mobile, Desktop, Apple TV, Amazon Fire TV and Roku TV</span></p>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px; float: left; width: 100%;"><b style="float: left;">05.</b> <span style="float: left; margin-left: 5px; width: 95%;">Kids friendly zone with <b>parental control</b></span></p>
        <p style="margin: 0px 0px 30px 0px; font-size: 14px; float: left; width: 100%;">If you have problems signing in, please write to us at <a href="mailto:support@shemaroome.com" style="color: #d51f53;">support@shemaroome.com</a></p>
        <h2 style="float: left;color: #f15a22;width: 100%;padding: 0px;margin-bottom: 10px;background: none;padding-left: 0">ShemarooMe Plans & Packages</h2>
      </td>
    </tr>

  </table>
  <table width="100%" cellpadding="10" style="margin-bottom: 40px;border-collapse: collapse;font-size: 14px; line-height: 22px;">
    <thead>
      <tr>
        <th align="left" style="width: 50%; padding-left: 0px;">Plans</th>
        <th align="left" style="width: 30%;">Duration</th>
        <th align="left" style="width: 20%;"">Pricing</th>
      </tr>
    </thead>
    <tbody>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Bollywood Classic</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Bollywood Plus</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Gujarati</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Kids</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Bhakti</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Ibaadat</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">Punjabi</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
      <tr style="border-bottom: 1px solid #e5e5e5;">
        <td align="left" style="padding-left: 0px;">All</td>
        <td align="left"><%= get_lang_string("plan_title") %></td>
        <td align="left">&#x20b9; 499 / &#x20b9; 49</td>      
      </tr>
    </tbody>
  </table>
  <table style="font-size: 14px; line-height: 22px;">
    <tr>
      <td align="center">
        <a href="#" style="background-color: #d51f53; color: #fff; text-decoration: none; padding: 12px 18px; font-weight: bold;">SUBSCRIBE NOW</a> </td>
    </tr>
    <tr>
      <td>
        <h2 style="padding: 0px; background: none; margin: 33px 0px 15px 0px; color: #fdb913; font-size: 18px;">ShemarooMe Offers</h2>
        <p style="margin: 0px 0px 30px 0px;">Use the below mentioned code in your ShemarooMe App and get 1 month subscription completely free. Offer valid only for first time users in India.</p>
        <p style="margin: 0px 0px 30px 0px;">
          <span style="padding: 10px 15px;border: 1px dashed #FFBD19;font-weight: bold;font-size: 22px;">SHE1MONFREE</span>
        </p>
        <p style="margin: 0px 0px 30px 0px; color: #B43258; font-weight: bold;">MORE OFFERS</p>
        <p style="margin: 0px 0px 30px 0px;">Warm Regards,<br><b>Team ShemarooMe</b></p>
        <p style="margin: 0px 0px 30px 0px; padding: 10px; background-color: #F1F1F1;">
          <b>Note:</b><br>
          <i>You can change password by logging to ShemarooMe and clicking on the change password link in My Account section.
          You can use the same username and password to login to the ShemarooMe
          ShemarooMe - Available on Multiple Devices</i>
        </p>
        <h2 style="padding: 0px; background: none; margin: 0px 0px 15px 0px; font-size: 18px;">ShemarooMe - Available on Multiple Devices</h2>
        <img src="http://staging1.shemaroome.com/assets/devices.png" alt="devices" title="devices"
        style="max-width: 100%; height: auto; margin: 0px 0px 10px 0px;">
        <p style="text-align: center; color: #999999; font-size: 12px; margin: 8px 0px 10px 0px;">ShemarooMe &copy; 2018</p>
        <img src="http://staging1.shemaroome.com/assets/bottom_bar.png" alt="" title=""
        style="max-width: 100%; height: auto; margin: 0px 0px 0px 0px;">
      </td>
    </tr>
  </table>
</div>
<style>
    body{
        margin: 0px;
    }
    .menu {
        background: none;
        background-color: transparent;
    }
    .good, .butcpt, .sbut, .slien, .rbutcpt, .rscpt, .rscptl, .rscptr, .rsbut, .rsbutl, .rsbutr, .bodyindex, h2, .gnml, .gnmr, .gnhl_w, .gnhr_w, .gnhl, .gnhr, .gnm, .gnh, .hbb, .glink:hover, .hlink:hover, .fond {
        background: none;
    }
</style>