<div class="" style="margin: 0 auto; max-width: 1080px; padding: 0px;font-family: arial, sans-serif; font-size: 14px; line-height: 22px;">
  <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, sans-serif; font-size: 14px; line-height: 22px;" width="100%">
    <tr>
      <td align="center">
        <p style="margin-bottom: 0; height: 106px;"></p>
      </td>
    </tr>
    <tr>
      <td align="center">
        <img src="https://preprod.shemaroome.com/assets/email_templates/banner.jpg" style="width: 100%; height: auto;">
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://preprod.shemaroome.com/assets/email_templates/congratulations.jpg" style="width: 100%; height: auto;">
      </td>
    </tr>
    <tr>
      <td align="center">
        <!-- <p style="margin-top: 45px; font-size: 32px; margin-bottom: 30px; color: #000;">Hey Superstar,</p> -->
        <p style="margin-top: 45px; margin-bottom: 30px;"><img src="https://preprod.shemaroome.com/assets/email_templates/hey_superstar.png"></p>
        <p style="font-size: 22px; margin-bottom: 30px; color: #000; line-height: 34px;">IN MONTH, <br> YOUR CODE HAS BEEN USED FOR SUBSCRIPTION OF </p>
        <p style="color: #0091D5; font-size: 44px; margin-bottom: 40px;">111</p>
        <p style="font-size: 22px; margin-bottom: 30px; color: #000;">YOUR TOTAL EARNING ARE</p>
        <p style="color: #D82354; font-size: 44px; margin-bottom: 40px;">111</p>
        <!-- <p style="font-size: 22px; margin-bottom: 30px; color: #000;">YOUR TOTAL EARNING ARE</p>
        <p style="color: #F45E37; font-size: 44px; margin-bottom: 40px;">111</p> -->
        <p style="margin-bottom: 40px;">
          <a href="javscript:void(0);"><img src="https://preprod.shemaroome.com/assets/email_templates/check_your_earnings_button.png" style="max-width: 300px;"></a>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <img src="https://preprod.shemaroome.com/assets/email_templates/refermore_earnmore.jpg" style="width: 100%; height: auto;">
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, sans-serif; font-size: 14px; line-height: 22px; padding: 6px 16px; background: #e1e1e1;" width="100%">
    <tr>
      <td align="left">
        <a href="https://www.shemaroome.com/terms-and-conditions" style="color: #666; text-decoration: none; font-size: 11px;">TERMS OF USE&nbsp;&nbsp;|</a>
        <a href="https://www.shemaroome.com/privacy-policy" style="color: #666; text-decoration: none; font-size: 11px;">PRIVACY POLICY&nbsp;|</a>
        <a href="https://www.shemaroome.com/faq" style="color: #666; text-decoration: none; font-size: 11px;">FAQ&nbsp;|</a>
        <a href="https://www.shemaroome.com/contact-us" style="color: #666; text-decoration: none; font-size: 11px;">CONTACT US</a>
        <p style="color: #666; font-size: 11px; margin: 0px;">Shemaroo Entertainment Ltd &copy; 2020, All Rights Reserved</p>
      </td>
      <td align="right">
        <a href="https://www.instagram.com/shemaroome/" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/instagram.png" alt="instagram" title="instagram" style="width: 36px; margin: 0px 2px;">
        </a>
        <a href="https://www.facebook.com/ShemarooMe/" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/facebook.svg" alt="facebook" title="facebook" style="width: 36px; margin: 0px 2px;">
        </a>
        <a href="https://twitter.com/ShemarooMe" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/twitter.svg" alt="twitter" title="twitter" style="width: 36px; margin: 0px 17px 0px 2px">
        </a>
        <a href="https://itunes.apple.com/app/apple-store/id1439041310?pt=2089066&amp;ct=Web%20Campaign&amp;mt=8" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/app_store.svg" alt="ios play store" title="ios play store" style="width: 117px; margin: 0px 2px;">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/google_play.svg" alt="google play store" title="google play store" style="width: 108px; margin: 0px 2px;">
        </a>
        <a href="https://www.amazon.in/Shemaroo-Entertainment-Limited-ShemarooMe/dp/B07KZQVQB5/ref=sr_1_1?keywords=shemaroome&amp;qid=1560839694&amp;s=gateway&amp;sr=8-1" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/fire_tv.png" alt="firetv" title="firetv" style="width: 36px; margin: 0px 2px;">
        </a>
        <a href="https://itunes.apple.com/in/app/shemaroome/id1439041310" target="_blank" style="display: inline-block;">
          <img src="https://www.shemaroome.com/assets/apple_tv.png" alt="appletv" title="appletv" style="width: 36px;  margin: 0px 0px 0px 2px;">
        </a>
        
      </td>
    </tr>
  </table>
</div>
<style>
    body{
        margin: 0px;
    }
    .menu {
        background: none;
        background-color: transparent;
    }
    .good, .butcpt, .sbut, .slien, .rbutcpt, .rscpt, .rscptl, .rscptr, .rsbut, .rsbutl, .rsbutr, .bodyindex, h2, .gnml, .gnmr, .gnhl_w, .gnhr_w, .gnhl, .gnhr, .gnm, .gnh, .hbb, .glink:hover, .hlink:hover, .fond {
        background: none;
    }
</style>