<script type="text/javascript">
	$("#with_header_tabs").hide();
	$("#without_header_tabs").show();

	$(document).ready(function(){
    if(getShemarooCookies().mobile_browser_type == undefined){
    	  $("#google_pay_sec").hide();
      }
     if(getShemarooCookies().mobile_device_type != undefined && getShemarooCookies().mobile_device_type == "huawei"){
    	  $("#google_pay_sec").hide();
    	  $("#net_banking_sec").hide();
    	  $("#razor_upi_sec").hide();
    	  $("#mobikwik_sec").hide();
    	  $("#credit_card_sec").hide();
    	  $("#debit_card_sec").hide();
      }

		if(user_region == "US"){
		 $("#chs_pymt,#google_pay_sec").hide();
		}
		localStorage.setItem("first_purcahse_promo_flag","true");
		var  keysToRemove = ["first_purcahse_promo_flag","first_purcahse_promo_code","first_purcahse_promo_id","first_purcahse_us_promo_disc_amt","first_purcahse_promo_amt","first_purcahse_payment_page","first_purcahse_promo_disc_amt,first_purcahse_promo_code_name,first_purcahse_promo_code_type","promocode_type"];
		keysToRemove.forEach(k => localStorage.removeItem(k))
		var mob_amz_url = "<%=@amz_mobile_url%>"
		var cur_reg = "<%=$region%>"
		var login_user_id = "<%=params[:user_id]%>";
		var user_login_id = "<%=params[:user_login_id]%>";
		var mobile_browser_type = "<%=params[:browser]%>";
		var user_region = "<%=params[:user_region]%>";
		var user_analytic_id = "<%=params[:user_analytic_id]%>"
		var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
		var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : "" %>"
		if(login_user_id.length != 0){
			branch.logout();
			branch.setIdentity(user_analytic_id);
			document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			$.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
			$.cookie('user_id',login_user_id, { expires: 14,path: '/'});
			$.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
			$.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
			$.cookie('app_version',ap_ver, { expires: 14,path: '/'});
			$('.header-section, .footer-section, .ft_sec').hide();
			$('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
			var  keysToRemove = ["first_purchase_plan_selected_plan_ids","first_purchase_plan_price","first_purchase_plans_details","first_purchase_plan_currency","tvod_plan_title","new_plan_promo_code","mv_rel_dt","mv_title"]
			keysToRemove.forEach(k => localStorage.removeItem(k))
			var curncy = "<%=params[:plan_currency_symbol]%>"
			var plan_id = "<%=params[:plan_id]%>"
			var price = "<%=params[:plan_price]%>"
			var pck_name = "<%=raw(params[:pack_name])%>"
			var plan_info = "<%=params[:plan_id]%>|<%=params[:plan_catalog_id]%>|<%=params[:plan_category_type]%>|<%=params[:plan_type]%>|<%=params[:plan_currency]%>|<%=params[:plan_currency_symbol]%>|<%=params[:price]%>|<%=params[:adeyon_price]%>|<%=params[:price]%>|<%=params[:plan_category_id]%>|<%=raw(params[:pack_name])%>"
			var pre_rele_st = "<%=Date.parse(params[:releaseDate]) <= Date.today() ? "true" : "false" if params[:releaseDate].present?%>"
			var tvod_mov_valid = "<%=get_mov_andrd_till(params) if params[:releaseDate].present? && params[:duration].present?%>"
			var tvod_mv_rel_dt  = "<%= Time.parse(params[:releaseDate]).strftime("%d %b %Y").to_s if params[:releaseDate].present?%>"+ " at "+ "<%= Time.parse(params[:releaseDate]).strftime("%H %p").to_s.downcase if params[:releaseDate].present?%>"
			var mov_tit = "<%=raw(params[:movie_title])%>"
			localStorage.setItem("first_purchase_plan_selected_plan_ids",plan_id);
			localStorage.setItem("first_purchase_plan_price",price);
			localStorage.setItem("first_purchase_plans_details",plan_info);
			localStorage.setItem("first_purchase_plan_currency",curncy)
			localStorage.setItem("tvod_plan_title",pck_name)
			localStorage.setItem("mv_pre_rel",pre_rele_st)
			localStorage.setItem("mv_rel_dt",tvod_mv_rel_dt)
			localStorage.setItem("mv_valid_till",tvod_mov_valid)
			localStorage.setItem("mv_title",mov_tit)
			localStorage.setItem("subscription_type",'fresh');

			var plan_category = "<%=params[:plan_category_type]%>"
			if(plan_category == "test_tvod"){
				localStorage.setItem("mv_cnt_type","TVOD")
				$("#google_pay_sec").show();
			}
		}

		var user_region = "<%=@region%>"
		celecom_disable(user_region)

		localStorage.setItem("promocode_type","NA")   
		document.cookie = 'first_purcahse_amz_plan_amt' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		var cur_reg = "<%=$region%>"
		var user_id = $.cookie("user_analytical_id")  
		var app_version = ""
		if(getShemarooCookies().app_version != undefined){
			app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
		}
		var mobile_browser_type = getShemarooCookies().mobile_browser_type
		if(cur_reg == "IN"){
			if (app_version != undefined && app_version > 53 && mobile_browser_type == "android"){
				$("#amazon_pay_sec").show()
			}
			if(mobile_browser_type == undefined){
				$("#amazon_pay_sec").show()
			}
		}

  /*Start of Setting Plan name and plan amount*/

  var sel_pln_detls  = [localStorage.getItem("first_purchase_plans_details")]
  var pln_det = localStorage.getItem("first_purchase_plans_details").split(",")[0].split("|");
  var pln_name = pln_det[10].replace(/_/g," ")
  var pln_prc = localStorage.getItem("first_purchase_plan_price")
  var pln_curncy = pln_det[5]
  var pln_cat_type = pln_det[3]
  $("#selected_plan").text(pln_name.replace("Plan","")+" ("+pln_cat_type+")");
  $(".sel_pl_cuncy").text(pln_curncy)
  $(".sel_pln_prc,.sel_pln_final_prc").text(pln_prc);
  var pln_category = pln_det[2]
  var reg = "<%=$region%>"
  if(reg == "IN" && pln_category == "all_access_pack"){
  	$("#mv_prmtn").show();
  }
  set_promo_code_offers()
  /*End of Setting Plan name and plan amount*/

  /* Malaysia region celcom disable for yearly plan*/
	function celecom_disable(reg){
	 if (reg == "IN" || reg == "US"){
			var pln_chk = localStorage.getItem("first_purchase_plans_details").split('|')[3].replace(" ","-").toLowerCase()
			if(pln_chk == "two-yearly"){
				$("#google_pay_sec").hide();
			}
		}else if(reg == "MY"){
			var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
				if(cat_pln == "daily"){
					$("#unifi_sec,#unifi_sec,#celecom_sec,#google_pay_sec").hide();
				}
				else if(cat_pln == "yearly"){
					 $("#celecom_sec,#digi_sec").hide();
					 $("#unifi_sec").hide();
				}
				else if(cat_pln == "monthly"){
	              //$("#celcom_promo_msg").text("7 days free trial for Celcom subscribers");
	              $("#celcom_promo_msg").text("Get 20% discount with Celcom Billing");
	              $("#digi_promo_msg").text("Get 20% discount with Digi Billing");
	              //$("#celcom_promo_msg").text("Get this plan with 7 days free trail & additional discount of 20% with Celcom billing");
	              $("#unifi_sec,#unifi_sec").show();
	              $("#unifi_promo_msg").text("Special offer of 30 days Free Trial for unifi customers");

				}
				else if(cat_pln == "weekly"){
	      	//$("#celcom_promo_msg").text("Special offer of 7 days free trial for Celcom users");
	      	$("#google_pay_sec").hide();
	      	$("#unifi_sec").hide();
				}
		  }
			else if(reg == "KW" || reg == "OM"){
					var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
		  	if(cat_pln == "weekly" || cat_pln == "daily"){
			 		$("#google_pay_sec").hide();
			 		$("#ooredoo_sec,#zain_sec,#oman_sec").show();
			 	}
			 	else if(cat_pln == "yearly"){
			 		$("#ooredoo_sec,#viva_sec,#zain_sec,#oman_sec").hide();
			 		$("#google_pay_sec").show();
			 	}
			 	else if(cat_pln == "monthly"){
			 	var is_postpaid = 	'<%= @is_postpaid %>'
			 	if(is_postpaid == "1"){
			 		$("#ooredoo_sec").show();
			 		$("#google_pay_sec").show();
			 	}else if(is_postpaid == "2"){
			 		$("#ooredoo_sec").hide();
			 		$("#google_pay_sec").show();
			 	}
		         $("#viva_kw_prm_msg").text("Special offer of 7 Days Free trial");
		         $("#zain_sec,#oman_sec").show();
		         $("#zain_prm_msg").text("Special offer of 7 Days Free trial");
		         $("#ooredoo_kw_prm_msg").text("Special offer of 7 Days Free trial");
			 	}
		  }
	  else if(reg == "QA"){
	  	var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
		 	if(cat_pln == "yearly"){
		 		$("#ooredoo_sec").hide();
		 	}
		 	else if(cat_pln == "monthly"){
		 		$("#ooredoo_prm_msg").text("Get 7 days free trial with this pack");
		 	}
		 	else if(cat_pln == "weekly" || cat_pln == "daily"){
		 		$("#google_pay_sec").hide();
		 	}
	  }
	  else if(reg == "SA"){
	  	var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
	  	if(cat_pln == "yearly"){
	  		$("#ksa_stc_sec,#ksa_sec,#mobily_sec").hide();

	  	}
	  	else if(cat_pln == "weekly"){
	  		$("#google_pay_sec").hide();
	  	}
	  	else if(cat_pln == "monthly"){
	  		$("#ksa_sec,#ksa_stc_sec,#mobily_sec").hide();

	  	}
		 	else if(cat_pln == "daily"){
		 		$("#mobily_sec").hide();
		 	}
	  }
	  else if(reg == "AE"){
	  	var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
	  	if(cat_pln == "yearly"){
	  		$("#etisalat_sec").hide();
	  		$("#google_pay_sec").show();
	  		$("#du_sec").hide();
	  	}
	  	else if(cat_pln == "monthly"){
				$("#etisalat_promo_msg").text("Get 7 days free trial with this pack")
				$("#du_promo_msg").text("Get 7 days free trial with this pack")
	  	} else if(cat_pln == "weekly"){
	  		$("#etisalat_promo_msg").text("Get 1 day free trial with this pack")
	  		$("#du_promo_msg").text("Get 1 day free trial with this pack")
	  		$("#google_pay_sec").hide();
	  	}
	  }
	  else if (reg == "BH") {
	  	var cat_pln = localStorage.getItem("first_purchase_plans_details").split("|")[3].toLowerCase()
			if(cat_pln == "yearly"){
				$("#stc_bahrain_sec").hide();
			}
			else if(cat_pln == "weekly"){
			  $("#stc_bahrain_sec").hide();
			}
			else if(cat_pln == "daily"){
				 $("#stc_bahrain_sec").hide();
			}
	  }
	}
  /* Malaysia region celcom disable for yearly plan*/



  $(".pay_sel_radio,#rp_submit").click(function(){
    init_transaction()
  })

  function init_transaction(){
  	var user_region = $(".user_selected_region").val();
  	if(user_region != "US"){
    	$(".loader").show();
  	}
	  var pymt_gt_type = $(".pay_sel_radio:checked").val();
	  var payment_mode = $(".radio_razor_pay:checked").data("mode"); 
	  var payment_mode_type = $(".radio_razor_pay:checked").data("type"); 
	  var pymt_pg = localStorage.getItem("first_purcahse_payment_page")
	  var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
	  if(pymt_pg != undefined && pymt_pg == "false"){
	  	pymt_gt_type = "coupon"
	  }
	  var currency_symbol = "<%=$region == "IN" ? "INR" : "USD"%>"
	  if(user_region == "MY"){
	  	currency_symbol = 'MYR'
	  }
	  var amount_charged = $("#grand_amount").text()
	  var content_name = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10]+"_"+t.split("|")[3] }).toString()
	  function fb_pixel_initiate_checkout(){
		  fbq('track', 'InitiateCheckout', {
		  value: amount_charged,
		  currency: currency_symbol ,
		  content_name: content_name,
		  });
	  }
	  branch_Initiate_Purchase(currency_symbol, amount_charged, content_name, user_state)
	  var currency_type = ""
	  if(user_region == "IN"){
	  	currency_type = "INR"
	  }
	  else if(user_region = "MY"){
	  	currency_type = currency_symbol
	  }
	  else{
	  	currency_type = "USD"
	  }
	  var price = localStorage.getItem("first_purchase_plan_price")
	  var amount_charged = $(".sel_pln_final_prc").text()
	  var total_price_charged = ""
	  var promo_dis_amt = localStorage.getItem("first_purcahse_promo_flag")
	  var plan_type = localStorage.getItem("subscription_type")
	  if(getShemarooCookies().mobile_browser_type == "android"){
	  	var data = $.cookie('android_branch_set').split('|')
	  	 //var branch_details = [aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip]
	  	var branch_data = {
          "aaid": data[0],
          "city": data[1],
          "device_id" : data[2],
          "device_make": data[3],
          "user_ip": data[4],
          "os": data[5]
        }
					
		}else{
			var osname = get_os_det()
			var user_id = getShemarooCookies().user_analytical_id;
			var user_city = $(".user_city").val();
			var branch_data = {
        "os": osname,
        //"developer_identity": user_id,
        "user_agent": navigator.userAgent,
        "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
        "city": user_city
      }
    }

	  if(promo_dis_amt != undefined && promo_dis_amt == "true"){
	  	total_price_charged = localStorage.getItem("first_purcahse_promo_disc_amt")
	  }
	  else{
		  var typ_pln  = localStorage.getItem("first_purchase_plans_details").split(",")[0].split("|")[3].toLocaleLowerCase()
		  if(user_region == "MY" &&  typ_pln == "monthly" && (pymt_gt_type == "celcom" ||  pymt_gt_type == "unifi" || pymt_gt_type == "digi")){
		  	total_price_charged = "8"
		  	$(".sel_pln_prc,.sel_pln_final_prc").text("8");
		  }
		  else{
		  	total_price_charged = localStorage.getItem("first_purchase_plan_price")
		  }
	  }
	  if(pymt_gt_type == undefined || pymt_gt_type.length < 1){
	  pymt_gt_type	= "razor_pay"
	  }
	  $.ajax({
		  url: "/plans/new_plans_init_transaction",
		  type: 'POST',
		  data: { 
			  actual_price: price,
			  charged_price: total_price_charged,
			  new_plan_det: sel_pln_detls,
			  promo_check: localStorage.getItem("first_purcahse_promo_flag"),
			  coupon_code: localStorage.getItem("first_purcahse_promo_code"),
			  coupon_id: localStorage.getItem("first_purcahse_promo_id"),
			  adyen_promo_amount: localStorage.getItem("first_purcahse_us_promo_disc_amt"),
			  payment_page: localStorage.getItem("first_purcahse_payment_page"),
			  payment_gateway: pymt_gt_type,
			  payment_mode: payment_mode,
			  plan_type: plan_type,
			  branch_data: branch_data
		  },
		  success: function(response){
	  	if(response.status != "error"){	
		  	console.log(response);
		  	var nc_coupon_type = localStorage.getItem("promocode_type")
		  	var plat_frm = "web"
				if(getShemarooCookies().mobile_browser_type == "android"){
					plat_frm = "android"
				}
		  	Netcore_Subscription_Checkout(pymt_gt_type,sel_pln_detls,response,total_price_charged,localStorage.getItem("first_purcahse_promo_flag"),nc_coupon_type,plat_frm, user_state)

		    var page = localStorage.getItem("first_purcahse_payment_page")
        if(page != undefined && page == "false"){
          call_purchase_evnt(user_state)
          call_s2s_pur_event(response.payment_dat.transaction_id,currency_type)
          $(".loader").hide();
          $("#cupn_suc_pop").modal("hide");
          $("#payment_success_pop").modal("show");
        }
       	else{
	       	if(pymt_gt_type == "paytm"){
	        	set_paytm_data(response)
	         	$("#paytmform").submit();
	       	}
	       	else if(pymt_gt_type == "amazon_pay_web"){
						aws_pay(response)
	       	}
	       	else if(pymt_gt_type == "lazypay"){
	         lzypay_sub(response)
	       	}
	       	else if(pymt_gt_type == "payu"){
	         set_payu_data(response.payment_dat)
	       	}
	       	else if(pymt_gt_type == "unifi"){
	         unifi_check(response.payment_dat)
	       	}
	        else if(pymt_gt_type == "google"){
	        	Android.doGooglepayment(response.payment_dat.google_product_id,response.payment_dat.transaction_id);
	        }
	        else if(pymt_gt_type == "adyen"){
						$("#new_plan_total_amount").text(localStorage.getItem("first_purchase_plan_price"));
						var lohana_check = localStorage.getItem("offer_purcahse_lohan_flag")
						if(lohana_check != undefined){
							var price_charge = localStorage.getItem("offer_purcahse_lohan_det").split("|")
							$("#plan_price_charged").val(price_charge[1]); 
						}
						else{
							$("#plan_price_charged").val(localStorage.getItem("first_purchase_plan_price"));
						}
						$("#new_plan_order_id").val(response.init_data["merchantReference"])
						$("#new_selected_plan").val(localStorage.getItem("first_purchase_plans_details"));
	        }else if(pymt_gt_type == "razor_pay"){
	        		if(payment_mode == "credit"){
	        			  var card_details = {
						"cardno": $("#rp_cardno").val(),
						"expiry_date": $("#rp_expiry_date").val(),
						"expiry_year": $("#rp_expiry_year").val(),
						"card_cvv": $("#rp_card_cvv").val(),
						"cardcheck": $("#rp_cardcheck").val(),
						"card_name": $("#rp_card_name").val(),
					}
					call_razor_pay(response["payment_data"], card_details, payment_mode)
	        	}
	        	else if(payment_mode == "debit"){
	        			  var card_details = {
						"cardno": $("#rp_debit_cardno").val(),
						"expiry_date": $("#rp_debit_expiry_date").val(),
						"expiry_year": $("#rp_debit_expiry_year").val(),
						"card_cvv": $("#rp_debit_card_cvv").val(),
						"card_name": $("#rp_debit_card_name").val(),
					}
					call_razor_pay(response["payment_data"], card_details, payment_mode)
	        	        	     		
	        	}else if(payment_mode == "netbanking"){
	        		 var card_details = {
	        		 	"bank": $( "#rp_net_banks option:selected").val()
	        		 }
	        		call_razor_pay(response["payment_data"], card_details, payment_mode)
	        	}
	        	else if(payment_mode == "upi"){
	        		var rp_upi = {
	        			vpa: $("#rp_upi").val(),
    					flow: 'collect'
	        		}
	        		call_razor_pay(response["payment_data"], rp_upi, payment_mode)
	        	}
	        	else if(payment_mode == "mobikwik"){
	        		var rp_mobikwik = {
	        			email: $("#wallet_email").val(),
    					phone_no: $("#wallet_phone").val()
	        		}
	        		call_razor_pay(response["payment_data"], rp_mobikwik, payment_mode)
	        	}
	        }
	        else{
	        	window.location = response.payment_url
	        }
		  	}
		  }else{
				$(".loader").hide();
		  	if(response.code == "5003"){
		  		alert("Sorry something went wrong");
		  	}else{
			  	alert("Invalid Amount");
		  	}
		  }	
			},
			error: function(){
				$(".loader").hide();
				$("#ghoori_bd").prop("checked",false);
				alert("Sorry something went wrong");
			}

		});
	}
  
  //TVOD Implementation
  var tvod_chck = localStorage.getItem("mv_cnt_type")
  if(tvod_chck == "TVOD"){
    var pre_chk = localStorage.getItem("mv_pre_rel")
    if(pre_chk == "false"){
     $("#pre_rel_mesg").text(localStorage.getItem("mv_title")+" Releasing on "+localStorage.getItem("mv_rel_dt"))
    }
    else{
     $("#pre_rel_mesg").text(localStorage.getItem("mv_title"));
    }
   $("#mov_valid_till").text("(Ticket valid till "+localStorage.getItem("mv_valid_till")+")")
   $("#mov_valid_till").show();
   $("#tvod_sec").show();
  }
//TVOD Implementation

  $("#adyenzip_code").keyup(function(){
  	$(".sel_pln_final_prc").text(localStorage.getItem("first_purchase_plan_price"))
  	$("#inc_tax").text("*<%= get_lang_string("tax_inclusive")%>");
  	var zip_data = JSON.parse($("#shipping_zip_codes").val());
	  $("#price_sect").removeClass("padding-top-20")
	  $("#is_tax_amount").val("false");
	  var promo_check = localStorage.getItem("first_purcahse_promo_flag")
	  if(promo_check != undefined && promo_check == "true"){
	    $(".sel_pln_final_prc").text(localStorage.getItem("first_purcahse_promo_disc_amt"));
	  }
	  else{
	    $(".sel_pln_final_prc").text(localStorage.getItem("first_purchase_plan_price"));
	  }
	  if (this.value.length == 5){
	  	$("#adyen_method_us").prop("checked","true");
	  	var pln_chk = localStorage.getItem("first_purchase_plans_details").split('|')[3].replace(" ","-").toLowerCase()
			if(pln_chk == "two-yearly"){
				$("#google_pay_sec").hide();
				$(".adyen_card_details_wrap_box,#chs_pymt").show();
			}else {
	  	$(".adyen_card_details_wrap_box,#chs_pymt,#google_pay_sec").show();
	  	}
	  	$("#google_pay_sec").css("margin-top","12px");
	  	$("#pymnt_sec").addClass("white-box-wrap");
	  	$("#adyen_pymnt_sec").show()
	    $(".user_zip_code").val($("#adyenzip_code").val());
	    $('.adyen_card_details_wrap, #adyenzip_code_remove').show();
	    if(jQuery.inArray($("#adyenzip_code").val(), zip_data) != -1){
	      console.log("zipcode is found");
	      $("#tax_exclusive_sec").show();
	      $("#price_sect").addClass("padding-top-20")
	      $("#is_tax_amount").val("true");
	      var tax_price = (localStorage.getItem("first_purchase_plan_price")*6.625)/100
	      if(promo_check != undefined && promo_check == "true"){
	        var new_tax_amout  = ((localStorage.getItem("first_purcahse_promo_disc_amt")*6.625)/100+parseFloat(localStorage.getItem("first_purcahse_promo_disc_amt"))).toFixed(2)
	      }
	      else{
	        var new_tax_amout  = ((localStorage.getItem("first_purchase_plan_price")*6.625)/100+parseFloat(localStorage.getItem("first_purchase_plan_price"))).toFixed(2)
	      }
	      $(".sel_pln_final_prc").text(new_tax_amout)
	      $("#inc_tax").text("*Inclusive of 6.625% NJ tax");
	    }
	    else{
	      $("#inc_tax").text("*<%= get_lang_string("tax_inclusive")%>");
	      $(".user_region_payment_methods").show()
	      $("#price_sect").removeClass("padding-top-20")
	      console.log("No zip code found");            
	    }
	    check_google_pay_disable()
	  }
	  else{
	    $("#pymnt_sec").removeClass("white-box-wrap")
	    $(".tax_mesg").text("*<%= get_lang_string("tax_inclusive")%>");
	    $("#adyen_pymnt_sec,.adyen_card_details_wrap_box,#chs_pymt,#google_pay_sec").hide();
	  }
	});


	var region = "<%=@region%>"
	if(region == "US"){
		document.getElementById('adyen-encrypted-form-expiry-generationtime').value = new Date().toISOString();
		var form  = document.getElementById('adyen-encrypted-form');
		var prod_env_check = "<%=Rails.env.production? ? "true" : "false"%>"
		if(prod_env_check == "true"){
			var key = "10001|DBACFA56BE2837F41F83F4BCE68B46FA76762476B76F4A331D5A1ADE3E123B23BC019CACA9E2E6AEDB37EDAF3932C508829ADB717CD8207A6F03BFECA959A2E914B3A1730DE170206F1DDE2CF50E1B1EAAD273EA41FBDB04B98E14231A17693644E939D7E000F9F2738FF747BC81BEB4A7961581F6C5EDAAB36A7B99CB34B1478613F7AAEACC67EDE2F2FC5FEEB31F1E2E9C22C5A91FA1ABCF29607B0D368BC642938B45D936465C43968BA41FA776E34C20C8B525E7D3F72FDD5962C40DADA8E7934F8BAB16D3F8E1933606744E08E815090F24B1951305277BEC22C13C1935B7E5AC8CE4CFE6A71310D17C728C7EE5B41B959E490FC123C9AD862FE75EFCD7";
		}
		else{
			var key = "10001|D24F70B0EBF0F65C522B79130DB92B7B6636CDFF4CA6F42310A5043"+
			"807345F93E342C0DE24D945415E3CAC030A2206DCBC4312A65B5305FFA658122CC1DED4508665F4"+
			"4BF7075D7A575402B35F6A912204A81CD91D297D83E5468291CC9B8B281944F5513A333A371E1E37EFA"+
			"4CB87A246B60371368B3286C5FF174C1E6F390051A5EE53303BF540C8118B4795CE2399270294D"+
			"F574EAB8A86B3B07FBFB7936B56933DB6FF52C86CE13838660F48775487EDBC22E70F6ED265"+
			"952D598522025D70BD83D54BC57E649F836E729372B7A94C89D1B8898EFD66911FD0EB0F6D89"+
			"29459F21F828E960FA106ECDF3C87761D3802BF83837B9E9212C6E71F8A219495D"
		}
		var options = {};
		options.cardTypeElement = document.getElementById('cardType');
		var encryptedForm = adyen.encrypt.createEncryptedForm(form, key, options);
		function checkNumberValidity(){
			var element = document.getElementById("errormessageHere");
			var valid = encryptedForm.validate("Number");
			var p = document.createElement("p");
			p.innerHTML = "";
			if(valid.number == false || valid.luhn == false){
				$('#cardno_error').show();
			}
			else{
				$('#cardno_error').hide();
			}
		}
		$("#cardno").focusout(function() { 
			if($(this).val().length > 0) {
				checkNumberValidity();  
			}
			else {
				$('#cardno_error').hide(); 
			}
		});
		$('.expiry input[type="text"], .cvv input[type="text"], .cardno input[type="text"]').on('keypress', function (event){
			var regex = new RegExp("^[0-9]+$");
			var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
			if (!regex.test(key)) {
			event.preventDefault();
			return false;
			}
		});
	}

	if(getShemarooCookies().mobile_browser_type == "android"){
	$(".adyen_card_details_wrap #cardno").focus(function() {
		$("html, body").animate({ scrollTop: $(document).height()-$(window).height() - 10 });
		});
	}   
	$("#card_cvv").focus(function() {
		$('img.info').css({"top":"-13px"});
		$(".cvv_box").addClass("cvv_box_val");
	});
	$("#card_cvv").focusout(function() {
		if(!$("#card_cvv").val().length) {
			$(".cvv_box").removeClass("cvv_box_val");
			$('img.info').css({"top":"12px"}); 
		}
	});

  
  
	function check_google_pay_disable(){
		var plan_cnt = localStorage.getItem("first_purchase_plans_details").split(",")
		if(plan_cnt.length > 1 || getShemarooCookies().mobile_browser_type == undefined){
		  $("#google_pay_sec").hide();
		}
		var pln_category =  localStorage.getItem("first_purchase_plans_details").split(",")[0].split("|")[2]
		if(pln_category == "worldbbtv" && getShemarooCookies().mobile_browser_type == "android"){
			$("#google_pay_sec").hide();
		} 
		if(localStorage.getItem("offer_purcahse_promo_code") != undefined && getShemarooCookies().mobile_browser_type == "android" && localStorage.getItem("offer_purcahse_promo_code") == "DIWALI2020"){
			$("#google_pay_sec").hide();
		}
		init_transaction()
	}


	$("#plan_apply_promo").click(function(){
		var promo_code = $("#promo_code").val();
		if(promo_code.trim().length == 0){
			$(".promocode_error").text("<%= get_lang_string("enter_promo_code_1")%>").show().fadeOut(2000);
		}
		else{
			apply_promo_code()
		}
	});
  
  // $("#promo_code").keyup(function(){
  // 	var code = $(this).val();
  // })

	function apply_promo_code(){
		$("#promo_success_msg").hide();
		$("#plan_apply_promo").text("<%= get_lang_string("apply")%>...")
		var promo_code = $("#promo_code").val();
		var price = localStorage.getItem("first_purchase_plan_price")
		var plan = localStorage.getItem("first_purchase_plans_details")
		if(promo_code.length > 0){
			branch_apply_promo_event(promo_code, price, plan.split(","), "false")
			$.ajax({
				url: "/plans/promocode_apply",
				type: 'POST',
				data: { 
				promocode: promo_code,
				actual_price: localStorage.getItem("first_purchase_plan_price"),
				new_plan_det: plan.split(",")
				},
				success: function(response, status){
					console.log(response);
					set_us_region_promo_data("true",response.promo_coupon_id,promo_code)
					$("#plan_apply_promo").text("<%= get_lang_string("apply")%>")
					//$("#promo_code").val("");
					if(response.status == true){
						$("#google_pay_sec,.promo_sec").hide();
						$("#promo_suc_pop").show();
						document.cookie = 'first_purcahse_amz_plan_amt' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
						$.cookie('first_purcahse_amz_plan_amt',response.grand_total,{ expires: 14,path: '/'});
						$("#google_pay_sec").hide();
						//$("#disct_sec").show();
						check_payment_modes("true",response.payment_modes)
						// $(".promo-box").hide();
						$("#promo_success_msg").text(response.free_trail_coupon_msg).show();
						$("#user_promo_code").text(promo_code);
						$(".sel_pln_final_prc").text(response.grand_total);
						$("#promo_currency").text(localStorage.getItem("first_purchase_plan_currency"));
						localStorage.setItem("first_purcahse_promo_flag","true");
						localStorage.setItem("first_purcahse_promo_code",promo_code);
						localStorage.setItem("first_purcahse_promo_id",response.promo_coupon_id);
						localStorage.setItem("first_purcahse_promo_amt",response.coupon_amount);
						localStorage.setItem("first_purcahse_us_promo_disc_amt",response.adyen_disc_amount)
						localStorage.setItem("first_purcahse_promo_disc_amt",response.grand_total)
						localStorage.setItem("first_purcahse_payment_page",response.payment_page)
						localStorage.setItem("promocode_type","flat") 
						if(response.coupon_type == "percentage"){
							localStorage.setItem("promocode_type","percentage") 
						}
						localStorage.setItem("subscription_type",'fresh')
						branch_apply_promo_event(promo_code, localStorage.getItem("first_purchase_plan_price"), plan.split(","), response.status)
						$("#promo_code_amount").text(response.coupon_amount);
						if(user_region == "US"){
							if($("#adyenzip_code").val().length == 5){
								var zip_data = JSON.parse($("#shipping_zip_codes").val());
								if(jQuery.inArray($("#adyenzip_code").val(), zip_data) != -1){
									var act_amt = parseFloat(response.grand_total)
									var disc_amt = (parseFloat(response.grand_total)*6.625/100).toFixed(2);
									var final_amt = parseFloat(act_amt)+parseFloat(disc_amt)
									$("#grand_amount,.grand_amount,#paytm_auto_amt").text(final_amt);
									}
								init_transaction()
							}
						}
						if(response.coupon_type == "free_trial" || response.subs_type == "free_trail"){
							if(user_region == "US"){
								function start_trail_andrd(){
									branch.logEvent(
									"START_TRIAL",
									{'amount': "0",
									'currency': "USD",
									'user_state': $.cookie('user_actv_sub_status'),
									'user_id': getShemarooCookies().user_analytical_id },
									function(err) { console.log(err); }
									);
								}
								if(getShemarooCookies().mobile_browser_type == "android"){
									try{
										Android.doStarttrail("0|USD");
									}
									catch(err){
										start_trail_andrd()
									}
								}
								else{
									start_trail_andrd()
								}
							}
							$(".user_free_trail_period,#user_due_today_sec").show();
							$("#start_date").text(response.free_coupon_start_date)
							$("#end_date").text(response.free_coupon_end_date)
							$("#promo_free_trail").show();
							$(".promo_free_trail_mesg").text(response.free_trail_coupon_msg)
						}
						$(".promo_free_trail_mesg").text(response.free_trail_coupon_msg).show();
						if(response.payment_page == false){
							var pln_type = localStorage.getItem("first_purchase_plans_details").split("|")[3]
							var name = pln_name.replace("Plan","")+" ("+pln_type+")"
							$("#sel_pln_name").text(name);
            	$("#cupn_suc_pop").modal("show");
						}
					}
					else{
						check_payment_modes("false","")
						Netcore_Incorrect_Coupon_Code(response,promo_code)
						$(".promocode_error").text(response.error_message).show();
					}
				}
			});
		}
		else{
		$("#promo_error").show().fadeOut(2000);
		$("#plan_apply_promo").text("<%= get_lang_string("apply")%>");
		}
	}

	function check_payment_modes(st,py_modes){
		var region = $(".user_region").val()
		if(st == "true" && region == "IN"){
			if(py_modes[0] != "all"){
				var all_py_modes = ["amazon_pay","paytm","ccavenue","lazypay"]
				var disb_pm = $(all_py_modes).not(py_modes).get();
				for(p=0;p<disb_pm.length;p++){
					if(disb_pm[p].toLowerCase() == "ccavenue"){
						$("."+disb_pm[p]+"_sec").hide();
					}
					else{
						$("#"+disb_pm[p]+"_sec").hide();
					}
				}
			}
		}
		else if(region == "IN" && st == "false"){
			var all_py_modes = ["amazon_pay","paytm","ccavenue","lazypay"]
			for(p=0;p<all_py_modes.length;p++){
				$("#"+all_py_modes[p]+"_sec").show();
			}
		}
	}


	function Netcore_Incorrect_Coupon_Code(response,c_code, user_state){
		var user_region = $(".user_region").val()
		var plat_frm = "web"
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
			if(getShemarooCookies().mobile_browser_type == "android"){
				plat_frm = "android"
			}
		console.log("netcore Incorrect_Coupon_Code----------------------------",response)
		smartech('dispatch', 'Incorrect_Coupon_Code', {
      "coupon_code": c_code,
      "error_message": response.error_message,
			"user_id": getShemarooCookies().user_analytical_id,
			'user_state': $.cookie('user_actv_sub_status').toLowerCase(),
			"platform": plat_frm,
			"subscription_type": sub_type,
			"country": reg,
			"region": reg
		});

    if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
    	var cpn_er_msg = response.error_message
     Android.doIncorrectCouponCode(c_code+"|"+cpn_er_msg+"|"+sub_type)
    }
    else{
    	sub_coupon_event(response.error_message,c_code,sub_type)
      Apxor_Incorrect_Coupon_Code(response,c_code,sub_type)
    }

			branch.logEvent(
			"Incorrect_Coupon_Code",
			  {
			"coupon_code":c_code,
			"subscription_type": sub_type,
			"error_message": response.error_message

			  },
			function(err) { console.log(err); }
			);
		
	}

	function Apxor_Incorrect_Coupon_Code(response,c_code,sub_type){
		console.log("Apxor Incorrect_Coupon_Code----------------------------",response)
		var user_region = $(".user_region").val()
		var plat_form = "web"
    var user_state = $.cookie('user_actv_sub_status') ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
		if(getShemarooCookies().mobile_browser_type == "andriod"){
		plat_form = "andriod"
		}
		Apxor.logEvent('Incorrect_Coupon_Code', {
		"coupon_code": c_code,
    "error_message": response.error_message,
		"user_id": getShemarooCookies().user_analytical_id,
		'user_state': user_state,
		"platform": plat_form,
		"subscription_type": sub_type,
		"region": reg,
		"COUNTRY": user_region
		}, "PURCHASE_PLAN");
	}


	function get_andrd_ver(){
		var ver_st = "false"
		if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
			var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
			if(app_version != undefined && app_version > 80){
				ver_st = "true"
			}
		}
		return ver_st
	}

	var andr_ver = get_andrd_ver()

  function branch_apply_promo_event(promocode, price, plandetails, applied_status){
    var region = "<%= $region %>"
    console.log(String(plandetails).split("|"))
     var pack_duration = String(plandetails).split("|")[3]
     var pack_name = String(plandetails).split("|")[2]
     var session_id = ""
     var branch_name = "";
		var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
    if($.cookie('user_id') != undefined){
      session_id = $.cookie('user_id')
    }
    if(applied_status == "false"){
      branch_name = "Coupon_Code_Applied"
    }
    else{
      branch_name = "Coupon_Code_Applied_Success"
    }
    _paq.push(['trackEvent', 'Media', 'Activity', branch_name, 1, {dimension14: getShemarooCookies().user_analytical_id, dimension31: region, dimension33: session_id, dimension36: pack_name, dimension37: price, dimension38: pack_duration, dimension39: promocode, dimension40: 'NA'}]);

    smartech('dispatch', branch_name, {
      'user_id': getShemarooCookies().user_analytical_id,
      'user_state': user_state,
      'session_id': session_id,
      'region': region,
      'pack_name': pack_name,
      'pack_duration': pack_duration,
      'pack_amount': price,
      'coupon_name': promocode
    });
    function branch_name_andrd(){
        branch.logEvent(
       branch_name,
        {'user_id': getShemarooCookies().user_analytical_id,
        'user_state': user_state,
        'session_id': session_id,
        'region': region,
        'pack_name': pack_name,
        'pack_duration': pack_duration,
        'pack_amount': price,
        'coupon_name': promocode
        },
       function(err) { console.log(err); }
      );
    }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doApplypromocode(branch_name+"|"+pack_name+"|"+price+"|"+pack_duration+"|"+price+"|"+promocode);
      }
      catch(err){
        branch_name_andrd()
      }
    }
    else{
      branch_name_andrd()
    }
  }
	

  function set_payu_data(payment_dt){
  	var py_type = $(".pay_sel_radio:checked ").data("pymnt-type");
  		if(py_type == "CC" || py_type == "DC"){
		var tag =   '<input type="hidden" name="si"  id="si" value="1" style="display: none">'
		$("#payuForm").append(tag)
		}
		if(py_type == "UPI"){
			$('#mode').val("UPI")
			$('#bankcode').val("UPI")
		}
		if(py_type == "CASH"){
			$('#bankcode').val("PATYM")
		}
		$('#key').val(payment_dt["merchant_key"])
		$('#txnid').val(payment_dt["signature_data"]["txnid"])
		$('#hash').val(payment_dt["signature"])
		$('#amount').val(payment_dt["signature_data"]["amount"])
		$('#firstname').val( payment_dt["signature_data"]["first_name"])
		$('#email').val(payment_dt["signature_data"]["email"])
		$('#phone').val(parseInt(payment_dt["signature_data"]["mobile_number"]))
		$('#productinfo').val(payment_dt["signature_data"]["product_info"])
		$('#surl').val(payment_dt["surl"])
		$('#furl').val(payment_dt["furl"])
		$('#pg').val(py_type)
		// $('#si_details').val(payment_dt["signature_data"]["si_details"])
		$('#payuForm').attr('action',payment_dt['payment_url']);
		$("#payuForm").submit();
 	}

	function lzypay_sub(response){
		localStorage.setItem("first_purchase_plan_order_id",response.payment_dat.order_id)
		$("#lzypy_mob_no,#lzypy_email").val("");
		$("#lazy_pay_error").hide();
		if(getShemarooCookies().mobile_browser_type == "android"){
      var user_anal_id = getShemarooCookies().user_analytical_id;
      branch.logout();
      branch.setIdentity(user_anal_id);
    }
    $("#lazypay_mobile_number_error,#lazypay_email_error,#lazy_pay_error").hide();
    var lz_mobile_no = $("#user_mob_no").val();
    var lz_email = $("#lzypy_email").val();
    var regex_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var price = localStorage.getItem("first_purchase_plan_price")
    var plan_category = localStorage.getItem("first_purchase_plans_details").split("|")[3]
    var promo_dis_amt = localStorage.getItem("first_purcahse_promo_flag")
    if(promo_dis_amt != undefined && promo_dis_amt == "true"){
        price  = localStorage.getItem("first_purcahse_promo_disc_amt")
    }
    if(lz_mobile_no.trim().length != 0 && lz_mobile_no.length == 10){
			$("#lazypay_confirm").text("Proceed...");
			$(".loader").show();
			$.ajax({
				url: "/users/validate_lzy_mobile",
				type: "POST",
				data: {
					mobile: lz_mobile_no,
					email: lz_email,
					amt: price,
					plan_catgry: plan_category,
					otp_check: "true"
				},
				success: function(response, status) {
					console.log(response);
					$(".loader").hide();
					$("#lazypay_confirm").text("Proceed");
					if (response.status == "true") {
						set_lazy_pay_cookies(response);
						$("#lazypay-pop").modal("hide");
						$(".lzypy_plan_amt").text(price)
						$("#lazypay_confirm_pop").modal("show");
					}
					else{
						$("#lazy_pay_error").text(response.error_msg).show();
					}
				}
			});
    }
    else{
      if(lz_mobile_no.trim().length == 0){
        $("#lazypay_mobile_number_error").text("This field is mandatory").show();
      }
      else if(lz_mobile_no.trim().length != 0 && lz_mobile_no.length < 10){
       $("#lazypay_mobile_number_error").text("Please enter your 10 digit mobile number").show();
      }
      else if(lz_email.trim().length == 0){
       $("#lazypay_email_error").text("This field is mandatory").show();
      }
      else if(lz_email.trim().length != 0 && !regex_email.test(lz_email)){
       $("#lazypay_email_error").text("Please enter a valid email address").show();
      }
    }
	}

	function delete_lazy_lcstge(){
		var  keysToRemove = ["lazy_pay_elgi_id","lazy_pay_sub_req_id","lazy_pay_mobile_no","lazy_pay_email_id"];
		keysToRemove.forEach(k => localStorage.removeItem(k))
	}

	function set_lazy_lcstge(det){
		var mob_no = $("#user_mob_no").val();
		var email_id = "";
		localStorage.setItem("lazy_pay_elgi_id",det.elg_id);
		localStorage.setItem("lazy_pay_sub_req_id",det.sub_req_id)
		localStorage.setItem("lazy_pay_mobile_no",mob_no)
		localStorage.setItem("lazy_pay_email_id",email_id)
	}

	function set_lazy_pay_cookies(lz_dt){
		delete_lazy_lcstge()
		set_lazy_lcstge(lz_dt)
	}
  
  function aws_pay(response){
		localStorage.setItem("first_purchase_plan_order_id",response.payment_dat.order_id)
		document.cookie = 'first_purcahse_amz_order_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		document.cookie = 'first_purcahse_amz_plan_amt' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		$.cookie('first_purcahse_amz_plan_amt',localStorage.getItem("first_purchase_plan_price"), { expires: 14,path: '/'});
		$.cookie('first_purcahse_amz_order_id',localStorage.getItem("first_purchase_plan_order_id"), { expires: 14,path: '/'});
		$.cookie('first_purcahse_amz_token',"asdfsdfsdfsd", { expires: 14,path: '/'});
		if(getShemarooCookies().mobile_browser_type == "android"){
		var amt = getShemarooCookies().first_purcahse_amz_plan_amt;
		var amz_disc_check = localStorage.getItem("first_purcahse_promo_disc_amt")
		if(amz_disc_check != undefined){
			amt = amz_disc_check
		}
		var orde_det = "?order_id="+localStorage.getItem("first_purchase_plan_order_id")+"&amount="+amt+"&user_id="+getShemarooCookies().user_id;
		$(".loader").hide();
		Android.doAmazonpayment("amazonpay",mob_amz_url+orde_det); 
		}
		else{
			web_pay_amazon()
		}
  }

  function web_pay_amazon(){
		var params = "";
		var amz_disc_check = localStorage.getItem("first_purcahse_promo_disc_amt")
		if(amz_disc_check != undefined){
			params = "amz_disc_amt="+amz_disc_check
		}
		options = {scope:'payments::conduct_silentpay',response_type:'code', state : params,popup : false
		};
		amazon.Login.authorize(options,'https://www.shemaroome.com/payment/amazonpay');
		return false;
  }

  function  set_paytm_data(response){
    var paytm_data = response.payment_data;
    $('#mid').val(paytm_data['MID'])
    $('#order_id').val(paytm_data['ORDER_ID'])
    $('#cust_id').val(paytm_data['CUST_ID'])
    $('#industry_type_id').val(paytm_data['INDUSTRY_TYPE_ID'])
    $('#channel_id').val(paytm_data['CHANNEL_ID'])
    $('#txn_amount').val(paytm_data['TXN_AMOUNT'])
    $('#merc_ref').val(paytm_data['MERC_UNQ_REF'])
    $('#website').val(paytm_data['WEBSITE'])
    $('#callback_url').val(paytm_data['CALLBACK_URL'])
    $('#checksumhash').val(paytm_data['CHECKSUMHASH'])
    $('#region').val(paytm_data['region'])
    $('#request_type').val(paytm_data['REQUEST_TYPE'])
    $('#subs_amount_type').val(paytm_data['SUBS_AMOUNT_TYPE'])
    $('#subs_max_amount').val(paytm_data['SUBS_MAX_AMOUNT'])
    $('#subs_freuency_unit').val(paytm_data['SUBS_FREQUENCY_UNIT'])
    $('#subs_frequency').val(paytm_data['SUBS_FREQUENCY'])
    $('#subs_enable_retry').val(paytm_data['SUBS_ENABLE_RETRY'])
    $('#subs_expiry_date').val(paytm_data['SUBS_EXPIRY_DATE'])
    $('#subs_start_date').val(paytm_data['SUBS_START_DATE'])
    $('#subs_grace_days').val(paytm_data['SUBS_GRACE_DAYS'])
    $('#subs_payment_mode').val(paytm_data['SUBS_PAYMENT_MODE'])
    $('#subs_ppi_only').val(paytm_data['SUBS_PPI_ONLY'])
    $('#paytmform').attr('action',paytm_data['payment_url']);
  }

	function subscr_evnt(ev_name,u_id,pltfrm,pln_type,pln_name,pymnt_mode,cu_code,cu_co_ty,co_name,price,ord_id,price_inr,reg,sub_type){
   $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": {
	      "event_name": ev_name,
	      "plan_type": pln_type,
				"plan_name": pln_name,
				"payment_mode": pymnt_mode,
				"coupon_code": cu_code,
				"coupon_code_type": cu_co_ty,
				"coupon_code_name": co_name,
				"price_charged": price,
				"order_id": ord_id,
				"pack_value_INR": price_inr,
				"subscription_type": sub_type,
				"user_id": u_id,
				"platform": "web",
				"browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
				"region": reg
       }
      },
      success: function(response){
      }
    });
  }


  function sub_coupon_event(err_msg,c_code,sub_type){
   $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": {
	      "event_name": "Incorrect_Coupon_Code",
	      "coupon_code": c_code,
	      "error_message": err_msg,
				"user_id": getShemarooCookies().user_analytical_id,
				"platform": "web",
				"subscription_type": sub_type,
				"browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
				"region": reg
       }
      },
      success: function(response){
      }
    });
  }





	function Netcore_Subscription_Checkout(payment_gateway_type,plan_det,response,price,coupon_code,cu_co_type,plat_frm){
		var plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
		var plan_name = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
		var tra_order_id = get_order_id() 
		function get_order_id(){
			if(payment_gateway_type == "amazon_pay_web"){
				tra_order_id = response.payment_dat.order_id
			}
			else if(payment_gateway_type == "ccavenue"){
				tra_order_id = response.payment_dat['transaction_id']
			}
			else if(payment_gateway_type == "paytm"){
				tra_order_id = response.payment_data['ORDER_ID']
			}
			else if(payment_gateway_type == "adyen"){
				tra_order_id = response.init_data['transaction_id']
			}
			else if(payment_gateway_type == "google" || payment_gateway_type == "coupon" || payment_gateway_type == "ghoori"){
				tra_order_id = response.payment_dat.transaction_id
			}
			else if(payment_gateway_type == "razor_pay"){
				tra_order_id = response.payment_data.transaction_id
			}

			else if(payment_gateway_type == "celcom" || payment_gateway_type == "unifi" || payment_gateway_type == "digi" || payment_gateway_type == "ooredo_kuwait" || payment_gateway_type == "viva_kuwait" || payment_gateway_type == "zain_kuwait" || payment_gateway_type == "ooredoo" || payment_gateway_type == "omantel" || payment_gateway_type == "ksa-stc" || payment_gateway_type == "etisalat_uae" || payment_gateway_type == "ksa-zain" || payment_gateway_type == "mobily" || payment_gateway_type == "boost" || payment_gateway_type == "du" || payment_gateway_type == "stc-bahrain" ){
				tra_order_id = response.payment_dat.order_id
			}
		 return tra_order_id
		}
        var coupon_code_name = $("#promo_code").val()
        if(coupon_code_name == undefined || coupon_code_name.length < 1){
        	coupon_code_name = "NA"
        }
        if(coupon_code == undefined){
        	coupon_code = 0
        }
        else{
        	coupon_code = 1
        }
		
       var tvod_pln_type = plan_type.join(",")
       var tvod_pln_name = plan_name.join(",")
       var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
 				var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
       if(tvod_pln_type.toLowerCase() == "daily"){
       	tvod_pln_type = "tvod"
       	tvod_pln_name = "tvod-"+localStorage.getItem("first_purchase_plans_details").split("|")[10]
       }
			if(getShemarooCookies().mobile_browser_type == "android" &&  andr_ver == "true"){
				var and_pl_type = tvod_pln_type.toLowerCase();
				var and_amt = parseFloat($("#grand_amount").text());
				Android.doSubscriptionCheckout(and_pl_type+"|"+tvod_pln_name+"|"+ response.paymenttype+"|"+coupon_code+"|"+cu_co_type+"|"+coupon_code_name+"|"+and_amt+"|"+tra_order_id+"|"+and_amt+"|"+sub_type+"|"+user_state)
			}

      else{
      	subscr_evnt('Subscription_Checkout',getShemarooCookies().user_analytical_id,plat_frm,tvod_pln_type.toLowerCase(),tvod_pln_name,response.paymenttype,coupon_code,cu_co_type,coupon_code_name,parseFloat($("#grand_amount").text()),tra_order_id,parseFloat($("#grand_amount").text()),user_region,sub_type)
      	var user_region = $(".user_region").val()
				smartech('dispatch', 'Subscription_Checkout', {
				"user_id": getShemarooCookies().user_analytical_id,
				'user_state': user_state,
				"plan_type": plan_type.join(","),
				"plan_name": plan_name.join(","),
				"payment_mode": response.paymenttype, 
				"coupon_code": coupon_code,
				"coupon_code_type": cu_co_type,
				"coupon_code_name":coupon_code_name,
				"price_charged": parseFloat($("#grand_amount").text()),
				"order_id": tra_order_id,
				"pack_value_INR": parseFloat($("#grand_amount").text()),
				"subscription_type": sub_type,
				"platform": plat_frm,
				"region": user_region,
				"country": user_region
				});
				Apxor.logEvent('Subscription_Checkout', {
				"user_id": getShemarooCookies().user_analytical_id,
				'user_state': user_state,
				"plan_type": plan_type.join(","),
				"plan_name": plan_name.join(","),
				"payment_mode": response.paymenttype, 
				"coupon_code": coupon_code,
				"coupon_code_type": cu_co_type,
				"coupon_code_name":coupon_code_name,
				"price_charged": parseFloat($("#grand_amount").text()),
				"order_id": tra_order_id,
				"pack_value_INR": parseFloat($("#grand_amount").text()),
				"subscription_type": sub_type,
				"platform": plat_frm,
				"region": user_region,
				"country": user_region
		    },"PURCHASE_PLAN");
			

			branch.logEvent(
				"Subscription_Checkout",
				{
				"user_id": getShemarooCookies().user_analytical_id,
				'user_state': user_state,
				"plan_type": plan_type.join(","),
				"plan_name": plan_name.join(","),
				"payment_mode": response.paymenttype, 
				"coupon_code": coupon_code,
				"coupon_code_type": cu_co_type,
				"coupon_code_name":coupon_code_name,
				"price_charged": parseFloat($("#grand_amount").text()),
				"order_id": tra_order_id,
				"pack_value_INR": parseFloat($("#grand_amount").text()),
				"subscription_type": sub_type,
				"platform": plat_frm,
				"region": user_region,
				"country": user_region
				},
				function(err) { console.log(err); }
				);

		    
			}
		}

	function call_purchase_evnt(){
		branch.logEvent(
		"Subscriptions_Success",
		{
			"user_data": {
				'user_state': user_state,
			'user_id': getShemarooCookies().user_analytical_id
			},
			"event_data": {
				'revenue': price,
				'currency': localStorage.getItem("first_purchase_plans_details").split("|")[4],
				'plan_details': (localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10]+"_"+t.split("|")[3] })).toString(),
				'description': "Preferred purchase"
			},
		},
		function(err) { console.log(err); }
		);
	}

	function branch_Initiate_Purchase(currencytype, amountcharged, contentname, user_state){
		var user_id = ""
		var today = new Date();
		var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
		var h =  today.getHours(), m = today.getMinutes();
		var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
		var region = $(".user_region").val();
		var user_city = $(".user_city").val();
		var currency_symbol = "<%=$region == "IN" ? "INR" : "USD"%>"
		if(getShemarooCookies().user_analytical_id != undefined){
			user_id = getShemarooCookies().user_analytical_id
		}
		var session_id = ""
		if(getShemarooCookies().user_id != undefined){
			session_id = getShemarooCookies().user_id
		}
		_paq.push(['trackEvent', 'Payments', 'Activity', 'transaction init', 1, {dimension14: user_id, dimension22: contentname, dimension20: currency_symbol, dimension21: amountcharged, dimension31: region, dimension29: date, dimension30: time, dimension32: user_city, dimension33: session_id }]);
		smartech('dispatch', 'INITIATE_PURCHASE', {
		'userid': user_id,
		'user_state': user_state,
		'session_id': session_id,
		'productName': contentname,
		'currencyType': currency_symbol,
		'productPrice': amountcharged,
		'region': region,
		'city': user_city,
		'date_event': date,
		'time_event': time
		});
		function initiate_purchase_andrd(){
			branch.logEvent(
			"INITIATE_PURCHASE",
			{
			"productName": contentname,
			'user_state': user_state,
			"currencyType": currency_symbol,
			"productPrice": amountcharged,
			"userid": user_id,
			"region": region,
			"city":  user_city,
			"date_event": date,
			"time_event": time,
			"session_id": session_id
			},
			function(err) { console.log(err); }
			);
		}
		if(getShemarooCookies().mobile_browser_type == "android"){
			try{
				Android.doInitiate_purcahse(contentname+"|"+currency_symbol+"|"+amountcharged);
			}
			catch(err){
				initiate_purchase_andrd()
			}
		}
		else{
			initiate_purchase_andrd()
		}
  }

  $("#cupn_can").click(function(){
   $("#cupn_suc_pop").modal("hide");
  })

  $("#cupn_proc").click(function(){
   $("#cupn_suc_pop").modal("hide");
   $(this).text("Proceed...")
   init_transaction()
  })

  $(".cancel_plan_promo").click(function(){
  	$("#promo_suc_pop,#promo_success_msg").hide();
  	$(".promo_sec").show();
  	$("#promo_code").val("");
  	set_us_region_promo_data("false","","")
  	localStorage.setItem("first_purcahse_promo_flag","false");
    var keysToRemove = ["first_purcahse_promo_flag","first_purcahse_promo_code","first_purcahse_promo_id","first_purcahse_us_promo_disc_amt","first_purcahse_promo_amt","first_purcahse_payment_page","first_purcahse_promo_disc_amt"];
     keysToRemove.forEach(k => localStorage.removeItem(k))
    $(".sel_pln_final_prc").text(pln_prc);
    if(getShemarooCookies().mobile_browser_type != undefined && getShemarooCookies().mobile_browser_type == "android"){
      $("#google_pay_sec").show();
    }
  })
 

    function call_s2s_pur_event(ord,cur_sym){
  	var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var price = "0"
  	var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var cupn_code = localStorage.getItem("first_purcahse_promo_code")
		var new_plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
		var new_plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
		if(getShemarooCookies().mobile_browser_type == "android"){
		  var app_version = ""
      var mobile_browser_type = getShemarooCookies().mobile_browser_type
		try{
			var cupn_tit = $("#promo_success_msg").text();
			if(app_version != undefined && app_version > 69 && app_version < 94 && mobile_browser_type == "android"){
			  Android.doPurchase(ord+"|"+new_plan_name+"|"+"0"+"|"+"coupon code"+"|"+"yes"+"|"+cupn_tit+"|"+new_plan_type+"|"+cupn_code+"|"+sub_type+"|"+"Plan purchase|"+cur_sym)
		  }
		  else if(app_version < 69){
        Android.doPurchase(orderno+"|"+cur_sym+"|"+price+"|Plan purchase|"+plan_name);
		  }	  
		}
		catch(err){
		}
		}
		else{
		//post_dt_branch(new_plan_name,ord,0,region,user_city,date,time,new_plan_type,cupn_code)
		}  
	}



 function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}
 function post_dt_branch(plan_name,transaction_id,price,region,user_city,date,time,pln_type,coupn_code){
  var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  //branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data) });
  var evn_name = "PURCHASE"
  var evn_desc = "Plan purchase"
  var cupn_tit = $("#promo_success_msg").text();
  /*if(plan_name.length == 1){
    if (!(plan_name[0].indexOf('Premium') > -1)){
      evn_name = "ADD_PAYMENT_INFO"
      evn_desc = "TVOD Plan purchase"
    }
  }*/
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_s2s",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "productName": plan_name.join(","),
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": "web",
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "coupon code",
              "coupon_code": "yes",
              "coupon_code_partner": cupn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "amount": price,
              "coupon_code_name": coupn_code,
              "subscription_type": sub_type,
              "user id": user_id
            },
            "event_data": {
              "currency": "INR",
              "description": evn_desc,
              "pack_name": plan_name.join(","),
              "revenue": price,
              "transaction_id": transaction_id
            },
            "name": evn_name,
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }

 function set_us_region_promo_data(st,promo_id,code){
 	if(st == "true"){
   $("#promo_check").val("true");
   $("#coupon_code").val(code);
   $("#coupon_code_id").val(promo_id);

 	}
 	else{
   $("#promo_check").val("false");
   $("#coupon_code,#coupon_code_id").val("");
 	}
 }

 var tvd_cnt_type = localStorage.getItem("mv_cnt_type")
 var plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
 var plan_name = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
	var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "registered"
 var plat_form = "website"
 var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
  if(getShemarooCookies().mobile_browser_type == "andriod"){
    plat_form = "android"
 	}
 
	if(tvd_cnt_type != undefined && tvd_cnt_type == "TVOD"){
		Apxor.logEvent('Subscription_Start', {
		"user_id": getShemarooCookies().user_analytical_id,
		"source": "buy now",
		"plan_type": "tvod",
		//"plan_count": plan_name.length,
		"plan_name": "tvod-"+plan_name.join(","),
		"country": user_region,
		"platform": "web",
		"region": user_region,
		'subscription_type': sub_type
		},"PURCHASE_PLAN");
	
	}

function unifi_check(dt){
  $.ajax({
		url: "/plans/ip_check",
		type: "POST",
		data: {trans_id: dt.order_id},
		success: function(response,status){
    	if(response.status == "true"){
        if(response.iv_code.length != 0){
        	window.location = "/plans/unifi_otp?code="+response.iv_code+"&u_name="+response.user_name+"&tr_id="+response.trans_id+"&pr_id="+response.prod_id
        }
        else{
          $(".loader").hide();
          console.log(response.msg);
          alert(response.msg);
        }
    	}
    	else{
       $(".loader").hide();
       $("#unify_my, #boost_my").prop("checked",false);
       $("#unify_invalid").modal("show");
     	}
		}
	});
}

$("#unifi_ok").click(function(){
	 $("#unify_invalid").modal("hide");
})




  function set_promo_code_offers(){
    //var offer_promo = localStorage.getItem("offer_page_promo_status")
    var promo_code = localStorage.getItem("offer_purcahse_promo_code")
    var offer_coupon_message = localStorage.getItem("offer_couponcode_message")
    if(offer_coupon_message != undefined || offer_coupon_message != null){
      $("#promo_free_trail").show();
      console.log(promo_code,"==============")
      $("#promo_code").val(promo_code)
      $(".promo_free_trail_mesg").text(offer_coupon_message).show()
      $(".promo_free_trail_mesg").css("font-weight", "bold")
      $("#plan_promo_pop").hide()
       $(".cancel_plan_promo,#plan_apply_promo").hide();
       $("#promo_success_msg").text("This code gives you 50% off and a $20 Amazon voucher. T&C applied").show();
       $("#user_promo_code").text(promo_code);
      /*$(".promocode_wrap").append("<div class='hidable'><label class='font-regular'>Applied Code <b class='font-bold'>"+promo_code+"</b></label></div>")*/
      localStorage.setItem("first_purcahse_promo_flag","true");
      localStorage.setItem("first_purcahse_promo_code",promo_code);
      localStorage.setItem("first_purcahse_promo_id",localStorage.getItem("offer_purcahse_promo_id"));
      localStorage.setItem("first_purcahse_promo_amt","0");
      var black_day_check = localStorage.getItem("offer_purcahse_black_day_flag")
      if(black_day_check != undefined){
        var price_det = localStorage.getItem("offer_purcahse_black_day_det").split("|")
        localStorage.setItem("first_purcahse_promo_amt",price_det[0]);
        localStorage.setItem("first_purcahse_us_promo_disc_amt",price_det[1])
        localStorage.setItem("first_purcahse_promo_disc_amt",price_det[2])
        $("#grand_amount,.grand_amount").text(price_det[2]);
        $("#promo_suc_pop").show();
        $("#google_pay_sec,.promo_sec,.cancel_plan_promo").hide();
      }
      else{
        $("#user_due_today_sec").show();
      }
      
      $("#user_free_trail_period").show();
    }
    if(offer_coupon_message == undefined || offer_coupon_message == null){
      $("#promo_free_trail").hide();
      $("#plan_promo_pop").show()
    }

  }



$(".razor_pay_card_sec").click(function(){
	$("#razor_pay_card_sec").show()

})

$(".razor_pay_debit__sec").click(function(){
	$("#razor_pay_debit_card_sec").show()

})



$(".razor_pay_upi_sec").click(function(){
	$("#razor_pay_upi_details").show()

})


$(".razor_pay_mobikwik_sec").click(function(){
	$("#razor_pay_mobikwik_details").show()

}) 
$(".razor_pay_net_bank_sec").click(function(){
	$("#razor_pay_net_bank_details").show()

})

$(".radio_razor_pay").click(function(){
	rp_mode = $(this).data("mode")
	rp_type = $(this).data("type")
	if(rp_type == "credit"){
		$("#razor_pay_debit_card_sec").hide()
	}

	if(rp_type == "debit"){
		$("#razor_pay_card_sec").hide()
	}

	if(rp_mode != 'debit' &&  rp_mode != 'credit' ){
		$("#razor_pay_card_sec").hide()
		$("#razor_pay_debit_card_sec").hide()
	}

	if(rp_mode != 'upi'){
		$("#razor_pay_upi_details").hide()
	}
	if(rp_mode != 'mobikwik'){
		$("#razor_pay_mobikwik_details").hide()
	}
	if(rp_mode != 'netbanking'){
		$("#razor_pay_net_bank_details").hide()
	}
})


$("#rp_card_submit").click(function(){
	$("#cardno_error, #expiry_error, #invalid_cvv, #card_name_error").hide()
	var card_num = $("#rp_cardno").val()
	var rp_expiry_date = $("#rp_expiry_date").val()
	var rp_expiry_year = $("#rp_expiry_year").val()
	var rp_card_cvv = $("#rp_card_cvv").val()
	var rp_card_name = $("#rp_card_name").val()
	var status = true
	
	if(card_num === undefined || card_num.length == 0){
		$('#cardno_error').html("<%= get_lang_string("enter_card_number")%>").show()
		status = false

	}else if( card_num.length != 16){
		$('#cardno_error').html("Invalid card number").show()
		status = false
	}else if(rp_expiry_date == undefined || rp_expiry_date > 31 || rp_expiry_date < 1 || rp_expiry_year == undefined || rp_expiry_year.length != 2 || rp_expiry_date.length != 2){
		$('#expiry_error').show()
		status = false
	}else if(rp_card_cvv == undefined || rp_card_cvv.length != 3){
		$("#invalid_cvv").show()
		status = false
	}else if(rp_card_name == undefined || rp_card_name.length < 2){
		$("#card_name_error").show()
		status = false
	}
     if(status == true){
     	 init_transaction()
     }

})


$("#rp_debit_submit").click(function(){
	$("#debit_cardno_error, #debit_expiry_error, #debit_invalid_cvv, #debit_card_name_error").hide()
	var card_num = $("#rp_debit_cardno").val()
	var rp_expiry_date = $("#rp_debit_expiry_date").val()
	var rp_expiry_year = $("#rp_debit_expiry_year").val()
	var rp_card_cvv = $("#rp_debit_card_cvv").val()
	var rp_card_name = $("#rp_debit_card_name").val()
	var status = true
	if(card_num === undefined || card_num.length == 0){
		$('#debit_cardno_error').html("Please enter card number").show()
		status = false

	}else if(card_num.length != 16){
		$('#debit_cardno_error').html("Invalid card number").show()
		status = false
	}else if(rp_expiry_date == undefined || rp_expiry_date > 31 || rp_expiry_date < 1 || rp_expiry_year == undefined || rp_expiry_year.length != 2 || rp_expiry_date.length != 2){
		$('#debit_expiry_error').show()
		status = false
	}else if(rp_card_cvv == undefined || rp_card_cvv.length != 3){
		$("#debit_invalid_cvv").show()
		status = false
	}else if(rp_card_name == undefined || rp_card_name.length < 2){
		$("#debit_card_name_error").show()
		status = false
	}
     if(status == true){
     	 init_transaction()
     }

})


$("#rp_upi_submit").click(function(){
var upi = $("#rp_upi").val()
if(upi == undefined || upi.length < 5 ){
 $("#upi_error").show()
}else{
	init_transaction()
}
})

$("#rp_mobikwik_submit").click(function(){
var phone_no = $("#wallet_phone").val()
var status = true
if(phone_no === undefined || phone_no.length == 0){
	$('#wallet_phone_error').html("<%= get_lang_string("empty_mobile")%>").show().fadeOut(4500)
	status = false
}
else if(phone_no.length != 10 ){
  status = false
  $("#wallet_phone_error").html("<%= get_lang_string("invalid_mobile")%>").show().fadeOut(4500)
}
if(status == true){
  init_transaction()
}
})


	function get_os_det(){
	  var osname = "Linux";
	  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
	 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
	 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
	 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
	 return osname
	}


 function  call_razor_pay(payment_dt, card_det, payment_mode){
  var razorpay = new Razorpay({
  key: payment_dt['data-key'],
  "redirect": true
});
  var site_url =  "<%=SITE%>";
   document.cookie = 'razorpay_order_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
   $.cookie('razorpay_order_id',payment_dt["data-order_id"], { expires: 14,path: '/'})
   var data 
   var crd_type = $(".radio_razor_pay:checked").data("type")
   var is_recur = 1
   if(crd_type == "debit"){
    is_recur = "preferred"
   }

  if(payment_mode  == "credit" || payment_mode  == "debit"){
	  data = {
	  "description": payment_dt['data-description'],
	  "currency": "INR",
	  "callback_url":  site_url  + "/payment/razor_pay_response?payment_mode=" + payment_mode,
	  "amount":  payment_dt['data-amount'].toString(),
	  "email": payment_dt['data-prefill.email'],
	  "contact":  payment_dt['data-prefill.contact'].toString(),
	  "customer_id":   payment_dt['data-customer_id'].toString(),
	  "order_id":  payment_dt['data-order_id'].toString(),
	  "method": "card",
	  'card[name]':  card_det["card_name"],
	  'card[number]': card_det["cardno"].toString(),
	  'card[cvv]':  card_det["card_cvv"].toString(),
	  'card[expiry_month]':  card_det["expiry_date"].toString(),
	  'card[expiry_year]':  card_det["expiry_year"].toString()

	}
}else if(payment_mode  == "upi"){
	 data = {
	  "description": payment_dt['data-description'],
	  "currency": "INR",
	  "callback_url":  site_url + "/payment/razor_pay_response?payment_mode=" + payment_mode,
	  "amount":  payment_dt['data-amount'].toString(),
	  "email": payment_dt['data-prefill.email'],
	  "contact":  payment_dt['data-prefill.contact'].toString(),
	  "order_id":payment_dt["data-order_id"],
	  "method": payment_mode,
	  "upi[vpa]": card_det["vpa"],
    "upi[flow]": card_det["flow"] 
  }
}
else if(payment_mode  == "netbanking" ){

	data = {
  "description": payment_dt['data-description'],
  "currency": "INR",
  "callback_url":  site_url + "/payment/razor_pay_response?payment_mode=" + payment_mode,
  "amount":  payment_dt['data-amount'].toString(),
  "email": payment_dt['data-prefill.email'],
  "contact":  payment_dt['data-prefill.contact'].toString(),
  "order_id": payment_dt["data-order_id"],
  "method": payment_mode,
  "bank": card_det["bank"]
	}
}else if(payment_mode  == "mobikwik" ){

	data = {
  "description": payment_dt['data-description'],
  "currency": "INR",
  "callback_url":  site_url + "/payment/razor_pay_response?payment_mode=wallet",
  "amount":  payment_dt['data-amount'].toString(),
  "email":$("#wallet_email").val(),
  "contact":  $("#wallet_phone").val(),
  "order_id": payment_dt["data-order_id"],
  "method": "wallet",
  "wallet": "mobikwik"
	}
}
razorpay.createPayment(data);

  }

var razorpay = new Razorpay({
	 key: 'rzp_live_2uX9DxY16dgDev',
  //key: 'rzp_test_JHAePycQPmQhXf',
  image: 'https://i.imgur.com/n5tjHFD.png',
});
razorpay.once('ready', function(response) {
var banks  = response["methods"]["netbanking"]
console.log(banks)

for (var property in banks) { 
  $("#rp_net_banks").append('<option value="'+property +'" >'+ banks[property] +' </option>')
  console.log(banks.length,banks[property] )

 }
})

})




</script>

