<div class="modal" id="lazypay-pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <p class="pull-left w-100 margin-top-5 margin-bottom-10 font-regular shemaroo-color2">
          LazyPay offers Zero cost Credit with just an OTP 
        </p>
        <p class="pull-left w-100 margin-top-0 margin-bottom-10 font-regular shemaroo-color2">
        	Proceed to link LazyPay with Mobile number
        </p>	
        <p class="pull-left w-100 margin-top-0 margin-bottom-10 font-regular shemaroo-color2 error" id="lazy_pay_error" style="color: #B11944 !important;display:none;">
          Your Mobile no is not eligilble for lazypay
        </p>
        <div class="input-group">
					<input type="number" id="lzypy_mob_no" name="mobilenumber" class="form-control disableAutoComplete" autocomplete="new-username" value="">
					<span class="input-label">Mobile Number</span>
					<label class="error" id="lazypay_mobile_number_error">This field is mandatory</label>
				</div>
				<div class="input-group">
					<input type="email" id="lzypy_email" name="login_email" class="form-control disableAutoComplete" value="" autocomplete="new-username" autocorrect="off">
					<span class="input-label">Enter Email</span>
					<label class="error" id="lazypay_email_error">This field is mandatory</label>
				</div>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-20 text-center">
          <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="lazypay_cancel">Cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="lazypay_confirm">Proceed</a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="lazypay-otp-pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-body text-left padding-left-30 padding-right-30">
      	<p class="pull-left w-100 text-center margin-bottom-15 margin-top-5 shemaroo-color2" id="lazy_pay_otp_bkd_err" style="display:none;color: #B11944 !important;">Please enter the OTP</p>
				<div class="input-group margin-bottom-5 margin-top-30 center-align-content">
          <input type="number" id="first_otp_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeypress="focusNext(event)">
          <input type="number" id="second_otp_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeypress="focusNext(event)">
          <input type="number" id="third_otp_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeypress="focusNext(event)">
          <input type="number" id="fourth_otp_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeypress="focusNext(event)">        
          <!-- <span class="pull-left w-100 text-center font-regular margin-top-0 font-size2 shemaroo-color2" id="timer">OTP Valid for 00:26 minutes</span> -->
          <label class="error text-center" id="otp_verify_error" style="bottom: 5px !important;">Plese enter the the valid 4 digit otp</label>
          <label class="error text-center" id="resend_otp_msg">Otp sent sucessfully</label>
          <span class="pull-left w-100 text-center font-regular margin-top-15" id="timer">00:60</span>
        </div>
        <div class="resend_lzy_sec" style="display:none;">
         <div class="text-center margin-bottom-15 margin-top-0 font-regular">
              <p>Didn't receive the OTP?</p>
            </div>
            <div class="text-center margin-bottom-20 font-semibold">
              <a href="javascript:void(0)" class="inline-block text-uppercase" id="resend_otp_lazypay">Resend</a>
          </div>
        </div>
        <div class="input-group custom-controls-stacked d-block margin-bottom-25">
          <label class="custom-control overflow-checkbox">
            <input type="checkbox" class="agree_terms overflow-control-input" id="register_agree_terms" checked>
            <span class="overflow-control-indicator"></span>
            <span class="overflow-control-description shemaroo-color2 font-regular">I agree to pay back LazyPay for this transaction, anytime before <span id="lazy_pay_dt"><!-- 03 January 2020 --><%=get_lazy_pay_due_date%></span>. By proceeding, I also agree to the <a href="https://lazypay.in/tnc" target="_blank">T&C </a>of LazyPay</span>
          </label>
         <label class="error" id="terms_check_error">Please check the terms of use</label> 
        </div> 

        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-25 text-center">
           <p class="inline radius-button radius-button2 margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="lazypay_otp_cancel">Cancel</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="lazypay_otp_confirm">pay</a>
          </p>
        </div> 

      </div>
    </div>
  </div>
</div>      

<div class="modal" id="lazypay_confirm_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">              
        <h2 class="pull-left w-100 text-center margin-bottom-20 margin-top-10">LazyPay would like to pay for you</h2>
        <p class="lazypay_price_section pull-left w-100 text-center shemaroo-color2">
         <span><i class="fa fa-inr" aria-hidden="true"></i> <span class="lzypy_plan_amt">999.00</span></span> <span class="shemaroo-color2 font-size2">to</span> <img src="/assets/lazypay_small.png" alt="lazypay" title="lazypay"> LAZYPAY
        </p>
        <ul class="pull-left w-100 list-none">
          <li class="pull-left w-100 font-size2 shemaroo-color2 font-medium margin-bottom-5">
            <img src="/assets/lazypay_small.png" class="pull-left margin-right-5" alt="lazypay" title="lazypay">
            LazyPay is for exclusive customers only</li>
          <li class="pull-left w-100 font-size2 shemaroo-color2 font-medium margin-bottom-5">
            <img src="/assets/lazypay_small.png" class="pull-left margin-right-5" alt="lazypay" title="lazypay">
            Place you order with just an OTP</li>
          <li class="pull-left w-100 font-size2 shemaroo-color2 font-medium margin-bottom-5">
            <img src="/assets/lazypay_small.png" class="pull-left margin-right-5" alt="lazypay" title="lazypay">
            We’ll pay for you with no extra cost</li>
          <li class="pull-left w-100 font-size2 shemaroo-color2 font-medium margin-bottom-5">
            <img src="/assets/lazypay_small.png" class="pull-left margin-right-5" alt="lazypay" title="lazypay">
            Pay us back via the LazyPay App</li>
        </ul>
        <!-- <p class="pull-left w-100 text-center">
          <a href="javascript:void(0);" class="font-size2 text-underline margin-top-5 shemaroo-color8">Know more?</a>
        </p> -->
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-20 text-center">
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="lazypay_otp_confirm_yes">CONFIRM WITH OTP</a>
          </p>
        </div>

      </div>      
    </div>
  </div>
</div>


<%=render "users/validate_mobile_number"%>
<script type="text/javascript">

function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
    //console.log(target.previousSibling.previousSibling);    
    var prevElement = target.previousSibling.previousSibling
    if(prevElement != null) {
      prevElement.focus();  
    }        
  } 
  
  if (myLength < maxLength) {
    var next = target;
    console.log(next.id);
    while (next = next.nextElementSibling) {      
      if(next == null)
        break;
      if(next.tagName.toLowerCase() == "input") {
        next.focus();
        break;
      }
    }
  }
  else {
    if(myLength >= 1)  {      
      $("#lazypay_otp_confirm").focus();
    }  
  }
}
</script>
