<script type="text/javascript">
$(document).ready(function(){
  var plat_form = "web"
  if(getShemarooCookies().mobile_browser_type == "android"){
    plat_form = "android"
  }
  var andrd_chk = window.location.search.includes("browser=android")
 if(getShemarooCookies().mobile_browser_type == "android"){
     andrd_chk = true
 }
    var reg_check = "<%=check_valid_region%>"
    if(reg_check == "false" && andrd_chk == false){
       $(".in_us_plan,#my_telecom").hide();
       $("#no_plans").show()
    }
    localStorage.removeItem("brnch_finger_id");
    branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data)});
   var user_regs_st = localStorage.getItem("new_user_registered_st")
   if(user_regs_st == "true"){
     $("#skip_continue_btn").show();
     localStorage.removeItem("new_user_registered_st");
   }
	// $(".plan_sel").click(function(){
    $(".price-box").click(function(){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "subscribed"
    var year_cnt = $("#user_yearly_plan_cnt").val();
		var user_selected_pack_ids = []
    var user_selected_plan_info = []

    var  keysToRemove = ["new_plan_selected_plan_ids","new_plan_price","new_plans_details","new_plan_currency","first_purchase_plan_selected_plan_ids","first_purchase_plan_price","first_purchase_plans_details","first_purchase_plan_currency","first_purchase_plan_charged","first_purchase_plan_currency_symbol","first_purchase_plan_order_id","new_popup_select",'subscription_type','old_plan_id','old_sub_id','discount','new_dsc_price'];

      keysToRemove.forEach(k => localStorage.removeItem(k));
		var sel_plan_id = $(this).attr("id").split("_sec")[0]
		var loggedin_user_status = "false"
    loggedin_user_status = "<%=params[:user_id].present? ? "true" : "false"%>"
    if($.cookie("user_id")){
      loggedin_user_status = "true"
    }
    var  idd = $(this).attr("id").split("_sec")[0]
    $(`#${idd}`).prop("checked",true)
    if(loggedin_user_status == "true"){
    var quar_st = check_quartely_pck_st(sel_plan_id)
     if(quar_st == "true"){
      var half_yr_pck = sel_plan_id
      if(half_yr_pck == "all_access_pack-yearly"){
        $("#pln_up_txt").text("Wait! Pay just ₹250 more and enjoy an EXTRA 12 months of ShemarooMe, with our 2 Yearly Plan")
      }
      if(half_yr_pck == "all_access_pack-half_yearly"){
        $("#pln_up_txt").text("Pay just Rs 150 more to add 6 extra months to your subscription! Upgrade to our yearly plan now")
      }
      if(half_yr_pck == "all_access_pack-quarterly"){
       $("#pln_up_txt").text("Wait! Use Code SME20 and pay Rs 200 more to get a yearly subscription of ShemarooMe plan.");
      }
      if(half_yr_pck == "all_access_pack-monthly"){
       $("#pln_up_txt").text("Wait! You are paying Rs 199 for 1 month. Now just pay 400 more to get 12 months subscription. Apply code YEAR20");
      }
      if(half_yr_pck == "bollywood_plus-monthly" || half_yr_pck == "marathi-monthly"){
       $("#pln_up_txt").text("Shh! Now to move a yearly plan at just Rs 399. Use code YEAR20 to get a 20% discount");
      }
       localStorage.setItem("new_popup_select",half_yr_pck)
       $("#plns_quart_pop").modal("show");
       status = false
     }
     else{
      $(".loader").show();
     // var selected_plan_id = $(this).attr("id");
      set_lcstrg_pln_det(idd)
     }
    }
    else{
   	  var android_check = "<%=params[:user_login_status].present? ? "true" : "false"%>";
      if(android_check == "false"){
       $("#plans_login_pop").modal("show");
       localStorage.setItem("nc_sub_strt_src",true)
      }
      else{
        Android.doLoginOnAndroid("Kindly login before subscribe");
      }
    }
	})

  function upgrade_plan(button_click){
   var pln_info = $(".plan_sel:checked").attr("id").replace(/-/g,"_")
   var plat_form = "web"
     if(getShemarooCookies().mobile_browser_type == "android"){
       if (getShemarooCookies().app_version > 107) {
          Android.doUpgradeClicked(pln_info,button_click)
        }
    }else{
      var pln_info = $(".plan_sel:checked").attr("id").replace(/-/g,"_")

      smartech('dispatch', 'Upgrade_popup', {
          'initial_plan': pln_info,
          'button_click': button_click,
          'platform': plat_form,
          'user_id': getShemarooCookies().user_analytical_id
      });
     branch.logEvent(
        "Upgrade_popup",
      {
        'initial_plan': pln_info,
        'button_click': button_click,
        'platform': plat_form,
        'user_id': getShemarooCookies().user_analytical_id
      },
        function(err) { console.log(err); }
      );

       Apxor.logEvent("Upgrade_popup", {
        'initial_plan': pln_info,
        'button_click': button_click,
        'platform': plat_form,
        'user_id': getShemarooCookies().user_analytical_id
      },"UPGRADE_POPUP");
    }
  }

	function set_lcstrg_pln_det(cat){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "subscribed"
    var pln_catgy = cat
    var pln_det = $("#"+cat).val();
    localStorage.setItem("new_plan_selected_plan_ids",pln_catgy);
    var price = pln_det.split("|")[6]
    var pln_curncy = pln_det.split("|")[5]
    var currency_symbol = pln_det.split("|")[4]
    var plan_names = pln_det.split("|")[10]
    localStorage.setItem("new_plan_price",price);
    localStorage.setItem("new_dsc_price",price);
    localStorage.setItem("new_plans_details",pln_det);
    localStorage.setItem("new_plan_currency",pln_curncy);
    localStorage.setItem("new_plan_type",'success');
    localStorage.setItem("subscription_type",'fresh')
    localStorage.setItem("old_plan_id",'');
    localStorage.setItem("old_sub_id",'');
    localStorage.setItem("discount","");
    set_netcore_sub(cat,user_state)
    Netcore_Subscription_Start(user_state)
    smarttech_addtocart(price, pln_curncy, plan_names, user_state)
    branch_add_to_cart(price,plan_names.toString(),currency_symbol, user_state)
    branch_view_cart(price,plan_names.toString(),currency_symbol,user_state)
    call_fb_google_pixel_event(currency_symbol,user_state)
    document.cookie = 'new_plan_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('new_plan_id',pln_det.split("|")[0], { expires: 14,path: '/'});
    document.cookie = 'new_sub_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('new_sub_id',pln_det.split("|")[9], { expires: 14,path: '/'});
    var web = getShemarooCookies().mobile_browser_type === "android" ?  "android" : "web" 
    document.cookie = 'new_app_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('new_app_type',web, { expires: 14,path: '/'});

    console.log("chk cookies", pln_det.split("|")[0], pln_det.split("|")[9], web)

    var pln_sum_url = "/plans/new_plan_summary"
    
    if(getShemarooCookies().shm_sel_lang != undefined && getShemarooCookies().shm_sel_lang != "en"){
      pln_sum_url = "/"+getShemarooCookies().shm_sel_lang+pln_sum_url
    }
    window.location = pln_sum_url
  }

   function subscr_evnt(ev_name,u_id,src,platform,pln_typ,pln_name,reg,sub_type){
   $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": {"event_name": ev_name,"source": src,"plan_type": pln_typ,"plan_name": pln_name,"platform": "web","user_id": u_id,"browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),"region": reg, "subscription_type":sub_type}},
      success: function(response){
      }
    });
  }

  function Netcore_Subscription_Start(user_state){
		var src = localStorage.getItem("nc_sub_strt_src") 
		if(src == undefined){
		src = "direct"
		}
		var plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
		var plan_name = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
    var user_state = getShemarooCookies().user_actv_sub_status != undefined ? getShemarooCookies().user_actv_sub_status.toLowerCase() : "registered"
		var user_region = $(".user_region").val()
		
  
    var ver_st = "false"
    if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
      var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
    }

 var andr_ver = ver_st
 if(plat_form == "android" && andr_ver == "true"){
  var pln_typ = plan_type.join(",").toLowerCase();
  var pln_name = plan_name.join(",");
  Android.doSubscriptionStart("direct|"+pln_typ+"|"+pln_name+"|"+sub_type+"|"+user_state)
 }
 else{
  subscr_evnt('Subscription_Start',getShemarooCookies().user_analytical_id,"now",plat_form,plan_type.join(",").toLowerCase(),plan_name.join(","),user_region,sub_type)
  var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
  smartech('dispatch', 'Subscription_Start', {
      'user_id': getShemarooCookies().user_analytical_id,
      'user_state': user_state,
      'session_id': $.cookie('user_id'),
      "source": src,
      "plan_type": plan_type.join(","),
      //"plan_count": plan_name.length,
      "plan_name":plan_name.join(","),
      "pack_value_new": parseFloat(localStorage.getItem("new_plan_price")),
      "country": user_region,
      "platform": plat_form,
      "region": user_region
    });
  
  Apxor.logEvent('Subscription_Start', {
    "user_id": getShemarooCookies().user_analytical_id,
    'user_state': user_state,
    "platform": plat_form,
    "source": src,
    "plan_type": plan_type.join(",").toLowerCase(),
   // "plan_count": plan_name.length,
    "plan_name":plan_name.join(","),
    "pack_value_new": parseFloat(localStorage.getItem("first_purchase_plan_price")),
    "country": user_region,
    "region": user_region,
    "subscription_type": sub_type
    },"PURCHASE_PLAN");

      branch.logEvent(
    "Subscription_Start",
      {
    "user_id": getShemarooCookies().user_analytical_id,
    'user_state': user_state,
    "source":src,
    "plan_type": plan_type.join(",").toLowerCase(),
    "plan_name": plan_name.join(","),
    "platform": plat_form,
    "region": user_region,
    "subscription_type": sub_type
      },
    function(err) { console.log(err); }
    );

}
}
	function smarttech_addtocart(amount, currency,  packs, user_state){
    smartech('dispatch', 'add_to_cart', {
      'value': amount,
      'currency': currency,
      'pack_name': packs, 
      'identity': getShemarooCookies().user_analytical_id,
      'user_state': user_state,
      'is_loggedIn': '1',
      'transaction_type': 'fresh'
    });
  }

  function branch_add_to_cart(price,plan_names,currency, user_state){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var session_id = ""
    if($.cookie('user_id') != undefined){
      session_id = $.cookie('user_id')
    }
    function addtocart_andrd(){
      var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
      branch.logEvent(
       "ADD_TO_CART",
        {"region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": session_id,
        "productName": plan_names,
        "currencyType": currency,
        "productPrice": price,
        'user_state': user_state,
        'transaction_type': sub_type,
        "userid": getShemarooCookies().user_analytical_id
        },
       function(err) { console.log(err); }
      );
    }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doAddtocart(plan_names+"|"+currency+"|"+price);
      }
      catch(err){
        addtocart_andrd()
      }
    }
   else{
    addtocart_andrd()
    }
  }

  function branch_view_cart(price,plan_names,currency, user_state){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var session_id = ""
    if($.cookie('user_id') != undefined){
      session_id = $.cookie('user_id')
    }
    var user_id = ""
    if(getShemarooCookies().user_analytical_id != undefined){
      user_id = getShemarooCookies().user_analytical_id
    }
    _paq.push(['trackEvent', 'Users', 'Activity', 'View_Cart', 1, { dimension14: user_id, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: session_id, dimension20: currency, dimension21: price, dimension36: plan_names }]);

    smartech('dispatch', 'View_Cart', {
      'userid': user_id,
      'user_state': user_state,
      'session_id': session_id,
      'productName': plan_names,
      'currencyType': currency,
      'productPrice': price,
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time
      });

   function viewcart_andrd(){
      branch.logEvent(
     "View_Cart",
      {"region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "session_id": session_id,
      "productName": plan_names,
      "currencyType": currency,
      "productPrice": price,
      'user_state': user_state,
      "userid": user_id
      },
     function(err) { console.log(err); }
     );
   }
   if(getShemarooCookies().mobile_browser_type == "android"){
      try {
      Android.doViewcart(plan_names+"|"+currency+"|"+price);
      }
      catch(err) {
        viewcart_andrd()
      } 
   }
   else{
      viewcart_andrd()
    }
  }

 function set_netcore_sub(plan_id, user_state){
  smartech('dispatch', 'sub_intent', {
      'plan_details': plan_id,
      'user_id': getShemarooCookies().user_analytical_id,
      'user_state': user_state
    })
  set_apxor_sub(plan_id)
  }
 

  function set_apxor_sub(plan_id){
    /*Apxor.logEvent('sub_intent', {
         "user_id": getShemarooCookies().user_analytical_id,
         "platform": plat_form,
        'plan_details': plan_id
      }, "PURCHASE_PLAN")*/
  }

  function call_fb_google_pixel_event(currency){
    var price = localStorage.getItem("new_plan_price");
    var plan_names =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10]+"_"+t.split("|")[3] })
    fbq('track', 'AddToCart', {
      value: price,
      currency: currency,
      content_name: plan_names,
    })
  }

	$(".quiz_url").click(function(){
		var pc_url = "<%=SITE%>/offer_terms_conditions"
	 	if(window.location.search.includes("browser=android") == true) {
	  	Android.doAmazonpayment("externalurl",pc_url); 
	  }
	  else{
			$(".quiz_url").attr("href",pc_url)
	  }
	});

  function check_quartely_pck_st(pln_id){
    var user_region = $(".user_region").val();
    var st = "false"
     if(user_region == "IN" && (pln_id == "all_access_pack-monthly" || pln_id == "all_access_pack-quarterly" || pln_id == "all_access_pack-half_yearly" || pln_id == "all_access_pack-yearly" || pln_id == "bollywood_plus-monthly" || pln_id == "marathi-monthly")){
      st  = "true"
    }
    return st
  }

  $("#quar_cont").click(function(){
    $("#plns_quart_pop").modal("hide");
    $(".loader").show();
    var button_click = document.getElementById("quar_cont").textContent
    upgrade_plan(button_click)
    set_lcstrg_pln_det($(".plan_sel:checked").attr("id"));
  })

  function netcore_up_pln_evnt(){
    var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "subscribed"
    var today = new Date();
    //var pln_info = $(".plan_sel:checked").attr("id").split("all_access_pack-")[1].replace(/_/g,"")
    var pln_info = $(".plan_sel:checked").attr("id").replace(/-/g,"_")
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
    smartech('dispatch', "Plan_upgrade", {
      'user_id': getShemarooCookies().user_analytical_id,
      'session_id': getShemarooCookies().user_id,
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time,
      'user_state': user_state,
      'initial_plan': pln_info,
      'subscription_type': sub_type
    });
    Apxor.logEvent('Plan_Upgrade', {
      'user_id': getShemarooCookies().user_analytical_id,
      "platform": plat_form,
      'initial_plan': pln_info,
      'user_state': user_state
    },"PLAN_UPGRADE");

    console.log("chk brach val",getShemarooCookies().user_analytical_id, getShemarooCookies().user_id, region, user_city, date, time, pln_info, sub_type)

    branch.logEvent(
    "Plan_upgrade",
      {'user_id': getShemarooCookies().user_id,
        'session_id': getShemarooCookies().user_id,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'initial_plan': pln_info,
        'subscription_type': sub_type
    },
    function(err) { console.log(err); }
    );
  }

  $("#quar_upgrade").click(function(){
    $("#plns_quart_pop").modal("hide");
    $(".loader").show();
    var button_click = document.getElementById("quar_upgrade").textContent
    upgrade_plan(button_click)
    var plan_offer = localStorage.getItem("new_popup_select")
    if(plan_offer == "all_access_pack-half_yearly" || plan_offer == "all_access_pack-quarterly" || plan_offer == "all_access_pack-monthly"){
      $("#all_access_pack-yearly").prop("checked",true)
    }else if(plan_offer == "all_access_pack-yearly" ){
      $("#all_access_pack-two_yearly").prop("checked",true)
    }else if (plan_offer == "bollywood_plus-monthly"){
       $("#bollywood_plus-yearly").prop("checked",true)
    }else if (plan_offer == "marathi-monthly"){
      $("#marathi-yearly").prop("checked",true)
    }
    netcore_up_pln_evnt()
    set_lcstrg_pln_det($(".plan_sel:checked").attr("id"));
  })

})

//Start For Andriod set the cookies
$(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var free_trail_st = "<%=@free_trail_status%>";
  localStorage.removeItem("user_free_trail_status");
  localStorage.removeItem("free_trail_msg");
  localStorage.setItem("user_free_trail_status",free_trail_st)
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var aaid = "<%=params[:aaid]%>"
  var city = "<%=params[:city]%>"
  var device_id = "<%=params[:device_id]%>"
  var device_make = "<%=params[:device_make]%>"
  var user_ip = "<%=params[:user_ip]%>"
  var os = "<%=params[:os]%>"
  var user_agent = "<%=params[:user_agent]%>"
  var branch_details = aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip+'|'+os+'|'+user_agent
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'android_branch_set' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('android_branch_set',branch_details, { expires: 14,path: '/'});
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     var theme = "<%=params[:theme_option]%>";
     theme = theme ? theme : getShemarooCookies().theme_option
     document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     $('.header-section, .footer-section, .ft_sec').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
     if(first_time_user == "true"){
      $("#skip_continue_btn").show();
     }
  }
  var user_login_status = "<%=params[:user_login_status]%>"
  if(user_login_status.length != 0){
     $('.header-section, .footer-section, .ft_sec').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
  }
});

//End For Andriod set the cookies

</script>



<script type="text/javascript">
  
function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      //window.location.href = "/"
  }
  
</script>