<form enctype="application/x-www-form-urlencoded" method ="post"  action="" id = "paytmcardform">
    <input type="hidden" name="MD" id = "MD"  value = '' />
    <input type="hidden" name="PaReq" id = "PaReq"  value = '' />
    <input type="hidden" name="TermUrl" id = "TermUrl"  value = '' />
    <input type="hidden" name="PaymentID" id = "PaymentID"  value = '' />
</form>

