<form method="post" action="" id = "paytmform">
   <input type="hidden" id = "mid" name="MID" value="">
   <input type="hidden" id = "order_id" name="ORDER_ID" value="">
   <input type="hidden" id = "cust_id" name="CUST_ID" value="">
   <input type="hidden" id = "industry_type_id" name="INDUSTRY_TYPE_ID" value="">
   <input type="hidden" id = "channel_id" name="CHANNEL_ID" value="">
   <input type="hidden" id = "txn_amount" name="TXN_AMOUNT" value="">
   <input type="hidden" id = "region" name="REGION" value="">
   <input type="hidden" id = "merc_ref" name="MERC_UNQ_REF" value="">
   <input type="hidden" id = "website" name="WEBSITE" value="">
   <input type="hidden" id = "callback_url" name="CALLBACK_URL" value="">
   <input type="hidden" id = "checksumhash" name="CHECKSUMHASH" value="">
   <input type="hidden" id = "request_type" name="REQUEST_TYPE" value="">
   <input type="hidden" id = "subs_amount_type" name="SUBS_AMOUNT_TYPE" value="">
   <input type="hidden" id = "subs_max_amount" name="SUBS_MAX_AMOUNT" value="">
   <input type="hidden" id = "subs_freuency_unit" name="SUBS_FREQUENCY_UNIT" value="">
   <input type="hidden" id = "subs_frequency" name="SUBS_FREQUENCY" value="">
   <input type="hidden" id = "subs_enable_retry" name="SUBS_ENABLE_RETRY" value="">
   <input type="hidden" id = "subs_expiry_date" name="SUBS_EXPIRY_DATE" value="">
   <input type="hidden" id = "subs_start_date" name="SUBS_START_DATE" value="">
   <input type="hidden" id = "subs_grace_days" name="SUBS_GRACE_DAYS" value="">
   <input type="hidden" id = "subs_payment_mode" name="SUBS_PAYMENT_MODE" value="">
   <input type="hidden" id = "subs_ppi_only" name="SUBS_PPI_ONLY" value="">
</form>
