  <form name="payuForm"   id="payuForm" action="https://test.payu.in/_payment" method="POST" >
    <input type="hidden" name="key"  id="key" value="" />
    <input type="hidden" name="hash"  id="hash" value=""/>
    <input type="hidden" name="txnid"  id="txnid" value="" />
    <input type="hidden" name="amount"  id="amount"value="" />
    <input type="hidden" name="firstname" id="firstname" value="" />
    <input type="hidden" name="email"  id="email" value="" />
    <input type="hidden" name="phone"   id="phone" value="" />
    <input type="hidden" name="productinfo" id="productinfo" value="" />
    <input type="hidden" name="surl" id="surl" value="" />
    <input type="hidden" name="furl" id="furl" value="" />
    <input type="hidden" name="pg" id="pg" value="">
    <!-- <input type="hidden" name="api_version"  id="api_version" value="7"> -->
    <input type="hidden" name="mode" id="mode" value="">
    <input type="hidden" name="bankcode"  id="bankcode" value="">

    </form>