<form method ="post"  action="" id = "paytmupiform">
	
    <input type="hidden" name="MERCHANT_VPA" id = "MERCHANT_VPA"  value = '' />
    <input type="hidden" name="CHANNEL" id = "CHANNEL"  value = '' />
    <input type="hidden" name="externalSrNo" id = "externalSrNo"  value = '' />
    <input type="hidden" name="MCC" id = "MCC"  value = '' />
    <input type="hidden" name="payerVpa" id = "payerVpa"  value = '' />
    <input type="hidden" name="txnAmount" id = "txnAmount"  value = '' />
    <input type="hidden" name="txnToken" id = "txnToken"  value = '' />

</form>
