<%if $region == "IN"%>

<!-- credit card -->
  <% if @gateway == "razor_pay"  && @payment == "credit"%>
    <div class="adyen_card_details_wrap payment_box  "  id= "<%= "#{@gateway.split(" ").join("_")}_#{@payment.split(" ").join("_")}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
      <div class="input-group cardno">
        <input type="number" id="rp_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
        <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>
        <label id="cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
      </div>
      <div class="input-group date">
        <div class=" expiry_date">
          <input type="number" id="rp_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="slash">/</span>
          <input type="number" id="rp_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="YY"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
          <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>
        </div>  
        <div class="cvv">
          <input type="password" id="rp_card_cvv" class="form-control" maxlength="3" placeholder="***" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>
        </div>  
        <label id="invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>
        <label id="expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>
      </div>
      <div class="input-group cardname">
        <input type="text" id="rp_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
        <label id="card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>
      </div>
      <p class="mt-5 mb-4 float-left w-100"><!-- 
        <label class="custom-control overflow-checkbox"> -->
        <span class="overflow-control-description she-col9 font-size3"><%= get_lang_string("charges_untill_you_cancel")%></span>
                    <!-- </label> -->
      </p>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_card_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
  <% elsif @gateway == "razor_pay"  && @payment == "debit"%>
  <!-- debit card -->
    <div class="adyen_card_details_wrap payment_box"  id= "<%="#{@gateway.split(" ").join("_")}_#{@payment.split(" ").join("_")}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
      <div class="input-group cardno">         
        <input type="number" id="rp_debit_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                  
        <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>            
        <label id="debit_cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
      </div>
      <div class="input-group date">
        <div class=" expiry_date">
          <input type="number" id="rp_debit_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="slash">/</span>                                  
          <input type="number" id="rp_debit_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="YY"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
          <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>  
        </div>  
        <div class="cvv">
          <input type="password" id="rp_debit_card_cvv" class="form-control" maxlength="3" placeholder="***" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>
        </div>  
        <label id="debit_invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>
        <label id="debit_expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>
      </div>
      <div class="input-group cardname">
        <input type="text" id="rp_debit_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
        <label id="debit_card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>
      </div>
      <p class="mt-5 mb-4 float-left w-100"><!-- 
        <label class="custom-control overflow-checkbox"> -->
        <span class="overflow-control-description she-col9 font-size3"><%= get_lang_string("charges_untill_you_cancel")%></span>
         <!-- </label> -->
      </p>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_debit_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
  <% elsif @gateway == "razor_pay"  && @payment == "upi"%>
    <!-- UPI -->
    <div class="adyen_card_details_wrap payment_box  "  id= "<%= "#{@payment.downcase}_section"%>" >
      <h3 class="shem-col9 font-mbold font-size4"><%= get_lang_string("enter_upi_id")%></h3>
      <div class="input-group cardno">
        <input type="text" id="rp_upi" class="form-control pl-0" data-encrypted-name="text"  placeholder="<%= get_lang_string("enter_upi")%>">                    
        <span class="info-label font-msbold"><%= get_lang_string("upi_id")%></span>
        <label id="upi_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_upi_id")%></label>
      </div>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_upi_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
     <% elsif @payment == "upi_autopay"%>
    <!-- UPI -->
    <div class="adyen_card_details_wrap payment_box  "  id= "<%= "#{@payment.downcase}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4">Enter your UPI ID for autopay</h3>
      <p class="font-regular font-size2">UPI AutoPay is a new way to pay with UPI that will charge you automatically.</p>
      <p class="font-semibold font-size3 mb-0">
        Now accepting:
        <img src="/assets/bhim.png">
        <span class="fwdslash relative-content"></span>
        <img src="/assets/paytm1.png">
        <span class="fwdslash relative-content"></span>
        <img src="/assets/phonepe.png">
      </p>
      <div class="input-group cardno">
        <input type="text" id="rp_upi_autopay" class="form-control pl-0" data-encrypted-name="text"  placeholder="<%#= get_lang_string("enter_upi")%>UPI ID">                    
        <!-- <span class="info-label font-msbold"><%#= get_lang_string("upi_id")%></span> -->
        <label id="upi_autopay_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_upi_id")%></label>
      </div>

      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_upi_autopay_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
  <% elsif @payment == "netbanking" %>
    <!-- Net Banking -->
    <div class="adyen_card_details_wrap payment_box  "  id= "<%= "#{@payment.downcase}_section"%>" >
    <!-- <div class="custom-select font-regular w-100"> -->
      <select id="rp_net_banks" class="w-100 mb-3">            
      </select>
    <!-- </div> -->
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
  <% elsif @payment == "mobikwik"%>
  <!-- Mobikwik -->
    <div class="adyen_card_details_wrap payment_box"  id= "<%= "#{@payment.downcase}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4">Enter Mobikwik Details</h3>
      <div class="input-group cardno" style="padding-top: 35px;">
        <!-- <input type="number" id="wallet_phone" inputmode="numeric" pattern="[0-9]*" class="form-control pl-0" data-encrypted-name="text"  placeholder="Enter Mobile Number"> -->
        <input type="text" id="wallet_phone" placeholder="Enter Mobile Number"  maxlength="10" class="form-control font-mregular my-text-box" value="">
        <p id="mobikwik_tc_txt">Use KWIK050 for 5% Cashback. <a href="/mobikwik_terms" style="color:#0095DB;text-decoration: underline; letter-spacing: -0.1px;">T&C</a>&nbsp;apply.</p> 
        <span class="info-label font-msbold"><%= get_lang_string("sign_mobile")%></span>
        <label id="wallet_phone_error" for = "wallet_phone" class="error font-mregular font-size2" style="display: none; top: 23px;"><%= get_lang_string("invalid_mobile")%></label>
        <input type="hidden" id="wallet_email" name="wallet_email" value="mobikwik@payment.com">
      </div>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_mobikwik_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
     <%# elsif @gateway == "razor_pay" && @payment == "upi" %>
    <!-- UPI -->
    <!-- <div class="adyen_card_details_wrap payment_box  "  id= "<%#= "#{@gateway.downcase}_section"%>" >
      <h3 class="shem-col9 font-mbold font-size4"><%#= get_lang_string("enter_upi_id")%></h3>
      <div class="input-group cardno">
        <input type="text" id="paytm_upi" class="form-control pl-0" data-encrypted-name="text"  placeholder="<%#= get_lang_string("enter_upi")%>">                    
        <span class="info-label font-msbold"><%#= get_lang_string("upi_id")%></span>
        <label id="paytm_upi_error" class="error font-mregular font-size2" style="display: none;"><%#= get_lang_string("invalid_upi_id")%></label>
      </div>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "paytm_upi" id="paytm_upi_submit"><%#= get_lang_string("submit_1")%></a>
      </p>
    </div> -->
    <% elsif @gateway == "paytm_upi"  &&  @payment == "upi" %>
    <div class="adyen_card_details_wrap payment_box"  id= "<%= "#{@gateway.downcase}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4"><%= get_lang_string("enter_upi_id")%></h3> 
      <div class="input-group cardno">
        <input type="text" id="paytm_upi_txt" class="form-control pl-0" data-encrypted-name="text"  placeholder="<%= get_lang_string("enter_upi")%>">                    
        <span class="info-label font-msbold"><%= get_lang_string("upi_id")%></span> 
        <label id="paytm_upi_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_upi_id")%></label>
      </div>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "paytm" id="paytm_upi_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
    <% elsif @gateway == "paytm_upi"  &&  @payment == "credit" %>
    <div class="adyen_card_details_wrap payment_box  "  id= "<%= "#{@gateway.split(" ").join("_")}_#{@payment.split(" ").join("_")}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
      <div class="input-group cardno">
        <input type="number" id="paytm_credit_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
        <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>
        <label id="paytm_credit_cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
      </div>
      <div class="input-group date">
        <div class=" expiry_date">
          <input type="number" id="paytm_credit_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="slash">/</span>
          <input type="number" id="paytm_credit_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="YY"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
          <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>
        </div>  
        <div class="cvv">
          <input type="password" id="paytm_credit_card_cvv" class="form-control" maxlength="4" placeholder="****" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>
        </div>  
        <label id="paytm_credit_invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>
        <label id="paytm_credit_expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>
      </div>
      <div class="input-group cardname">
        <input type="text" id="paytm_credit_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
        <label id="paytm_credit_card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>
      </div>
      <p class="mt-5 mb-4 float-left w-100"><!-- 
        <label class="custom-control overflow-checkbox"> -->
        <span class="overflow-control-description she-col9 font-size3"><%= get_lang_string("charges_untill_you_cancel")%></span>
                    <!-- </label> -->
      </p>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="paytm_credit_card_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
    <% elsif @gateway == "paytm_upi"  &&  @payment == "debit" %>
    <div class="adyen_card_details_wrap payment_box"  id= "<%= "#{@gateway.split(" ").join("_")}_#{@payment.split(" ").join("_")}_section"%>" >
      <h3 class="she-col9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
      <div class="input-group cardno">         
        <input type="number" id="paytm_debit_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                  
        <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>            
        <label id="paytm_debit_cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
      </div>
      <div class="input-group date">
        <div class=" expiry_date">
          <input type="number" id="paytm_debit_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="slash">/</span>                                  
          <input type="number" id="paytm_debit_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="YY"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
          <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>  
        </div>  
        <div class="cvv">
          <input type="password" id="paytm_debit_card_cvv" class="form-control" maxlength="4" placeholder="****" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
          <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>
        </div>  
        <label id="paytm_debit_invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>
        <label id="paytm_debit_expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>
      </div>
      <div class="input-group cardname">
        <input type="text" id="paytm_debit_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
        <label id="paytm_debit_card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>
      </div>
      <p class="mt-5 mb-4 float-left w-100"><!-- 
        <label class="custom-control overflow-checkbox"> -->
        <span class="overflow-control-description she-col9 font-size3"><%= get_lang_string("charges_untill_you_cancel")%></span>
         <!-- </label> -->
      </p>
      <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
        <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="paytm_debit_card_submit"><%= get_lang_string("submit_1")%></a>
      </p>
    </div>
  <%end%>
<%elsif ($region == "US" || $region == "CA") && @payment == "adyen" %>
  <div class="onboarding-payment-contianer-new">
    <div class="plans_summary_section">
      <div class="adyen_card_details_wrap_box" style="display:none;">
        <form id="adyen-encrypted-form" action="/plans/new_plan_user_purchase" method="get">
          <input type="hidden" id="new_selected_plan" name="new_selected_plan" value="">
          <input type="hidden" id="plan_price_charged" name="plan_price_charged" value="">
          <input type="hidden" id="new_plan_order_id" name="new_plan_order_id" value="">
          <input type="hidden" id="promo_check" name="promo_check" value="false">
          <input type="hidden" id="coupon_code" name="coupon_code" value="">
          <input type="hidden" id="coupon_code_id" name="coupon_id" value="">
          <input type="hidden" id="is_tax_amount" name="is_tax_amount" value="false">
          <input type="hidden" class="user_zip_code" name="zip_code" value="false">
          <input type="hidden" class="user_free_trail" name="user_free_trail" value="false">
          <input type="hidden" class="ca_tax_amount" name="ca_tax_amount" value="">
          <div class="adyen_card_details_wrap">
            <div class="input-group cardno">
              <input type="number" id="cardno" name="" class="form-control" data-encrypted-name="number" maxlength="16">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("card_num")%></span>
              <label id="cardno_error" class="error"><%= get_lang_string("invalid_card_num")%></label>
            </div>
            <div class="input-group expiry1">
              <input type="number" id="expiry_date" name="" class="form-control" required="" size="2" maxlength="2" data-encrypted-name="expiryMonth">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("month_mm")%></span>
            </div>
            <div class="input-group expiry2">
              <input type="number" id="expiry_year" name="" class="form-control" required="" size="4" maxlength="4" data-encrypted-name="expiryYear">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label">YYYY</span>
            </div>
            <div class="input-group cvv hide_password_group">
              <input type="password" id="card_cvv" name="" class="form-control" data-encrypted-name="cvc" maxlength="4">
              <i class="fa fa-circle cvv-circle" aria-hidden="true"></i>
              <img src="/assets/information.svg" class="info" alt="" title="">
              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
              <div class="cvv_box">
              <img src="/assets/cvv_box.png" alt="" title="">
              </div>
              <span class="input-label cvv-label"><%= get_lang_string("cvv")%></span>
            </div>
            <input type="hidden" id="adyen-encrypted-form-expiry-generationtime" value="generate-this-server-side" data-encrypted-name="generationtime" />
            <div class="input-group cardname">
              <input type="text" id="card_name" name="" class="form-control margin-bottom-10"  data-encrypted-name="holderName">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="input-label"><%= get_lang_string("name_of_card")%></span>
            </div>
          </div>
          <div class="inline-block margin-top-20 margin-bottom-10 custom-gradient w-100 text-center">
            <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">       
              <input class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" id="buttonpay" style="padding:5px 20px;" type="submit" value="proceed">
            </p>
          </div>
        </form>                      
      </div>
    </div>
  </div>

<%end%>

