<% if $region == "IN" %>
  <% if @payment == "paytm" %>
    <img src="/assets/paytm.svg" class="pull-right" alt="Paytm" title="Paytm">
  <% elsif @payment == "amazonpayweb" %>
    <img src="/assets/amazon_pay_logo.png" class="pull-right" alt="Amazon Pay" title="Amazon Pay" style="width:100px;">
  <% elsif @payment == "credit" %>
    <label class="pull-right app-d-flex v-center">
      <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
      <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
      <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
      <!-- <img src="/assets/american_express_logo.png" class="pull-left margin-left-15" alt="" title="" style="height: 22px;margin-top: 7px;"> -->
    </label>
    <% elsif @payment == "credit_card" %>
    <label class="pull-right app-d-flex v-center">
      <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
      <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
      <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
      <img src="/assets/american_express_logo.png" class="pull-left margin-left-15" alt="" title="" style="height: 22px;margin-top: 7px;">
    </label>

  <% elsif @payment == "debit" %>
    <label class="pull-right app-d-flex v-center">  
      <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
      <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
      <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
    </label>
    <% elsif @payment == "debit_card" %>
    <label class="pull-right app-d-flex v-center">  
      <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
      <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
      <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
    </label>
  <% elsif (@payment == "upi" || @payment == "upi_autopay") %>
     <img src="/assets/<%= @theme == "light_theme" ? "upi.svg" : "upi_dark.png"%>" class="pull-right" alt="Razor Pay" title="Razor Pay" id= "razor_pay_img">
  <% elsif @payment == "netbanking" %>
   <img src="/assets/<%= @theme == "light_theme" ? "new_netbanking.svg" : "new_netbanking_dark.svg"%>" class="pull-right" alt="Razor Pay" title="Razor Pay" id= "razor_pay_img">
  <% elsif @payment == "mobikwik" %>
    <img src="/assets/mobiKwik_new.png" class="pull-right" alt="Mobikwik" title="Mobikwik" id= "razor_pay_img" style="width: 100px;">
  <% elsif @payment == "lazy_pay" %>
    <img src="/assets/lazypay.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay">
  <% elsif @payment == "google" %>
    <img src="/assets/google_play.png" class="pull-right" alt="Google Pay" title="Google Pay">
  <% end %>
<% elsif ($region == "US" || $region == "CA") && @payment == "adyen" %>
  <label class="pull-right app-d-flex v-center">  
    <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
    <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
    <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
  </label>
<!-- BD -->
<% elsif $region == "BD" %>
  <% if @payment == "ghoori" %>
    <img src="/assets/bkash.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
  <% end %>
 <!-- MY celcom -->
<% elsif $region == "MY" %>
  <% if @payment == "celcom" %>
    <img src="/assets/celcom.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
    <!-- MY unifi -->
  <% elsif @payment == "unifi" %>
    <img src="/assets/unifi.png" class="pull-right" alt="unifi" title="unifi" style="width: 62px;">
    <!-- MY digi -->
  <% elsif @payment == "digi" %>
    <img src="/assets/digi_logo.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
  <% end %>
<% elsif @payment == "google" %>
    <img src="/assets/google_play.png" class="pull-right" alt="Google Pay" title="Google Pay">
<% end %>