<script type="text/javascript">
var env_check = "<%=Rails.env.production? ? "true": "false"%>"
    if(env_check == "true"){
   $(window).on('keydown',function(event){
    if(event.keyCode==123 || event.ctrlKey && event.shiftKey && event.keyCode==73 || event.ctrlKey && event.keyCode==73 ||  event.ctrlKey && event.shiftKey && event.keyCode==74 || event.ctrlKey && event.shiftKey && event.keyCode== 67){
        return false;
      }
  });

 $(document).on("contextmenu",function(e){
  e.preventDefault();
 });
}
 </script>