 <h2 class="shemaroo-color8 margin-top-15 margin-bottom-10">ShemarooMe Premium Plan</h2>
 <p class="font-regular shemaroo-color1 font-size2">Experience Authentic Indian content right at your fingertips with ShemarooMe's Bollywood, Regional, Comedy & kids content</p>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        <p class="margin-top-15 font-size1 shemaroo-color2">Choose a plan</p>
      </div>
    </div>
   <div class="pull-left w-100">
    <% unless @all_plans.first["catalog_list_items"].first["plans"].blank? %>
    <%np = @all_plans.first["catalog_list_items"].first%>
    <% @all_plans.first["catalog_list_items"].first["plans"].each do |i_plan| %>
    <div class="mplan_box_wrap odd-box relative-content">
        <%#if $region != "MY"%>
        <%desc_st,box_st = check_plan_box_st(i_plan["title"].downcase.gsub(" ","_"))%>
            <div class="mplan_desc" style="<%=box_st%>">
                <p class="font-regular font-size2 margin-bottom-0"><%= $region == "MY" ? get_plan_desc(i_plan['title']) : i_plan['description'] %></p>
            </div>
        <%#end%>
        <div class="mplan_box" style="position: <%=desc_st%>;">
            <input type="radio" id="<%=np['category']%>-<%=i_plan["title"].downcase.gsub(" ","_")%>" class="plan_select_radio" name="plan_select_radio_group"  data-new-plan-info="<%=i_plan['id']%>|<%=np['catalog_id']%>|<%=np['category']%>|<%=i_plan['title']%>|<%=i_plan['currency']%>|<%=i_plan['currency_symbol']%>|<%=i_plan['discounted_price']%>|<%=i_plan['pg_price']['adyen']%>|<%=i_plan['pg_price']['cc_avenue']%>|<%=np['content_id']%>|<%=np['title'].gsub(" ","_")%>">
            <label for="<%=np['category']%>-<%=i_plan["title"].downcase.gsub(" ","_")%>" class="font-bold">
                <span class="text-uppercase font-bold shemaroo-color2 font-size2 pull-left margin-top-10">
                    <%=i_plan["currency"] %>&nbsp
                    <%= i_plan["discounted_price"]%></span>
            </label>
            <span class="shemaroo-color6 pull-right text-uppercase font-bold font-size2 mpack_type">
                <%= i_plan["title"]%></span>
            <p class="font-regular margin-bottom-0 font-size2"><%#=i_plan['title']%>ShemarooMe Premium - <%=i_plan["title"]%> Plan</p>
        </div>
    </div>
    <% end %>
    <% end %>
</div>