<script type="text/javascript">
$(document).ready(function(){
  var plat_form = "web"
  if(getShemarooCookies().mobile_browser_type == "android"){
    plat_form = "android"
  }
  //var andrd_chk = window.location.search.includes("browser=android")
 // if(getShemarooCookies().mobile_browser_type == "android"){
 //     andrd_chk = true
 // }
 //    var reg_check = "<%=check_valid_region%>"
 //    if(reg_check == "false" && andrd_chk == false){
 //       $(".in_us_plan,#my_telecom").hide();
 //       $("#no_plans").show()
 //    }
    localStorage.removeItem("brnch_finger_id");
    branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data)});
   // var user_regs_st = localStorage.getItem("new_user_registered_st")
   // if(user_regs_st == "true"){
   //   $("#skip_continue_btn").show();
   //   localStorage.removeItem("new_user_registered_st");
   // }
   var status = false
   $(".price-box").click(function(){
    if (status == false){
      status = true
    upgrade_plan_events()
    var year_cnt = $("#user_yearly_plan_cnt").val();
		var user_selected_pack_ids = []
    var user_selected_plan_info = []
    var  keysToRemove = ["new_plan_selected_plan_ids","new_plan_price","new_plans_details","new_plan_currency","first_purchase_plan_selected_plan_ids","first_purchase_plan_price","first_purchase_plans_details","first_purchase_plan_currency","first_purchase_plan_charged","first_purchase_plan_currency_symbol","first_purchase_plan_order_id",'subscription_type','old_plan_id','old_sub_id','discount','new_dsc_price','android_branch_set'];
      keysToRemove.forEach(k => localStorage.removeItem(k));
		// var sel_plan_id = $(this).attr("id");
		// var loggedin_user_status = "false"
  //   loggedin_user_status = "<%=params[:user_id].present? ? "true" : "false"%>"
  //   if($.cookie("user_id")){
  //     loggedin_user_status = "true"
  //   }
  //   if(loggedin_user_status == "true"){
  //   var quar_st = check_quartely_pck_st($(this).attr("id"))
    $(".loader").show();
     // var selected_plan_id = $(this).attr("id");
       var  idd = $(this).attr("id").split("_sec")[0]
      $(`#${idd}`).prop("checked",true)
      set_lcstrg_pln_det(idd)
    //}
    // else{
   	//   var android_check = "<%#=params[:user_login_status].present? ? "true" : "false"%>";
    //   if(android_check == "false"){
    //    $("#plans_login_pop").modal("show");
    //    localStorage.setItem("nc_sub_strt_src",true)
    //   }
    //   else{
    //     Android.doLoginOnAndroid("Kindly login before subscribe");
    //   }
    // }
  }
	})

  function set_upgrade_plan(cat){
   var pln_det = $("#"+cat).val();
    if (pln_det.split("|")[12] == 'renewal'){
       var pln_val = "<%= @renewal_plns %>".replace(/&quot;/g,'"')
    }else if(pln_det.split("|")[12] == 'upgrade'){
      var pln_val = "<%= @upgrade_plns %>".replace(/&quot;/g,'"')
    }
    $.ajax({
      url:"/plans/set_upgrade_plan",
      type: "POST",
      data: {"amount": pln_val,
             "plan_id": pln_det.split("|")[0],
             "transaction_type": pln_det.split("|")[12],
             "subscription_id":pln_det.split("|")[1]
       },
      success: function(response){
      }
    });
  }

  
	function set_lcstrg_pln_det(cat){
    set_upgrade_plan(cat)
    var pln_catgy = cat
    var pln_det = $("#"+cat).val();
    localStorage.setItem("new_plan_selected_plan_ids",pln_catgy);
    var price = pln_det.split("|")[6]
    var pln_curncy = pln_det.split("|")[5]
    var currency_symbol = pln_det.split("|")[4]
    var plan_names = pln_det.split("|")[10]
    var org_prc = pln_det.split("|")[10]
    var dis_prc = pln_det.split("|")[14]
    localStorage.setItem("new_plan_price",price);
    localStorage.setItem("new_plans_details",pln_det);
    localStorage.setItem("new_plan_currency",pln_curncy);
    localStorage.setItem("new_dsc_price",dis_prc);
    if (pln_det.split("|")[12] == 'renewal'){
      localStorage.setItem("subscription_type",'renewal');
      localStorage.setItem("old_plan_id",pln_det.split("|")[0]);
      localStorage.setItem("old_sub_id",pln_det.split("|")[9]);
      localStorage.setItem("discount",pln_det.split("|")[13]);
    }else {
     localStorage.setItem("subscription_type",'upgrade');
     localStorage.setItem("old_plan_id",'<%= @old_plan_id %>');
     localStorage.setItem("old_sub_id",'<%= @old_sub_id %>');
     localStorage.setItem("discount",pln_det.split("|")[13]);
    }
    set_netcore_sub(cat)
    Netcore_Subscription_Start()
    smarttech_addtocart(price, pln_curncy, plan_names)
    branch_add_to_cart(price,plan_names.toString(),currency_symbol)
    branch_view_cart(price,plan_names.toString(),currency_symbol)
    call_fb_google_pixel_event(currency_symbol)
    var pln_sum_url = "/plans/new_plan_summary"
    document.cookie = 'new_plan_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        $.cookie('new_plan_id',pln_det.split("|")[0], { expires: 14,path: '/'});
        document.cookie = 'new_sub_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        $.cookie('new_sub_id',pln_det.split("|")[9], { expires: 14,path: '/'});
        var web = getShemarooCookies().mobile_browser_type === "android" ?  "android" : "web" 
        document.cookie = 'new_app_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        $.cookie('new_app_type',web, { expires: 14,path: '/'});
    if(getShemarooCookies().shm_sel_lang != undefined && getShemarooCookies().shm_sel_lang != "en"){
      pln_sum_url = "/"+getShemarooCookies().shm_sel_lang+pln_sum_url
    }
    window.location = pln_sum_url
  }

   function subscr_evnt(ev_name,u_id,src,platform,pln_typ,pln_name,reg){
   $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": {"event_name": ev_name,"source": src,"plan_type": pln_typ,"plan_name": pln_name,"platform": "web","user_id": u_id,"browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),"region": reg}},
      success: function(response){
      }
    });
  }

  function Netcore_Subscription_Start(){
		var src = localStorage.getItem("nc_sub_strt_src") 
		if(src == undefined){
		src = "direct"
		}
		var plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
		var plan_name = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
    var user_state = getShemarooCookies().user_actv_sub_status != undefined ? getShemarooCookies().user_actv_sub_status.toLowerCase() : "registered"
		var user_region = $(".user_region").val()  
    var ver_st = "false"
    if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
      var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
    }

 var andr_ver = ver_st
 if(plat_form == "android" && andr_ver == "true"){
  var pln_typ = plan_type.join(",").toLowerCase();
  var pln_name = plan_name.join(",");
  Android.doSubscriptionStart("direct|"+pln_typ+"|"+pln_name+"|"+sub_type+"|"+user_state)
 }
 else{
  subscr_evnt('Subscription_Start',getShemarooCookies().user_analytical_id,"now",plat_form,plan_type.join(",").toLowerCase(),plan_name.join(","),user_region)
    smartech('dispatch', 'Subscription_Start', {
      'user_id': getShemarooCookies().user_analytical_id,
      'session_id': $.cookie('user_id'),
      "source": src,
      "plan_type": plan_type.join(","),
      //"plan_count": plan_name.length,
      "plan_name":plan_name.join(","),
      "pack_value_new": parseFloat(localStorage.getItem("new_plan_price")),
      "country": user_region,
      "platform": plat_form,
      "region": user_region,
      "user_state": user_state,
      "subscription_type": sub_type
    });
  Apxor.logEvent('Subscription_Start', {
    "user_id": getShemarooCookies().user_analytical_id,
    "platform": plat_form,
    "source": src,
    "plan_type": plan_type.join(",").toLowerCase(),
   // "plan_count": plan_name.length,
    "plan_name":plan_name.join(","),
    "pack_value_new": parseFloat(localStorage.getItem("first_purchase_plan_price")),
    "country": user_region,
    "region": user_region,
    "user_state": user_state,
    "subscription_type": sub_type
    },"PURCHASE_PLAN");

      branch.logEvent(
    "Subscription_Start",
      {
    "user_id": getShemarooCookies().user_analytical_id,
    "source":src,
    "plan_type": plan_type.join(",").toLowerCase(),
    "plan_name": plan_name.join(","),
    "platform": plat_form,
    "region": user_region,
    "user_state": user_state,
    "subscription_type": sub_type
      },
    function(err) { console.log(err); }
    );

}
}
	function smarttech_addtocart(amount, currency,  packs){
    smartech('dispatch', 'add_to_cart', {
      'value': amount,
      'currency': currency,
      'pack_name': packs, 
      'identity': getShemarooCookies().user_analytical_id,
      'is_loggedIn': '1',
      'transaction_type': 'upgrade'
    });
  }

  function branch_add_to_cart(price,plan_names,currency){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var session_id = ""
    if($.cookie('user_id') != undefined){
      session_id = $.cookie('user_id')
    }
    function addtocart_andrd(){
      branch.logEvent(
       "ADD_TO_CART",
        {"region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": session_id,
        "productName": plan_names,
        "currencyType": currency,
        "productPrice": price,
        "userid": getShemarooCookies().user_analytical_id
        },
       function(err) { console.log(err); }
      );
    }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doAddtocart(plan_names+"|"+currency+"|"+price);
      }
      catch(err){
        addtocart_andrd()
      }
    }
   else{
    addtocart_andrd()
    }
  }

  function upgrade_plan_events(){
    var src = localStorage.getItem("upgrade_click") 
    var user_state = getShemarooCookies().user_actv_sub_status != undefined ? getShemarooCookies().user_actv_sub_status.toLowerCase() : "registered"
    if(src == undefined){
    src = "direct"
    }
    var subscription_type = localStorage.getItem("subscription_type")
    if(subscription_type == undefined){
      subscription_type = "fresh"
    }
    var plt_form = getShemarooCookies().mobile_browser_type != undefined ? "Android" : "Web"
    Apxor.logEvent("Upgrade_button",{
    "user_id": getShemarooCookies().user_analytical_id,
    "platform": plt_form,
    "source": src,
    "user_state": user_state,
    "subscription_type": subscription_type
    }, "Upgrade_button");
    smartech('dispatch', 'Upgrade_button', {
    "user_id": getShemarooCookies().user_analytical_id,
    "platform": plt_form,
    "source": src,
    "user_state": user_state,
    "subscription_type": subscription_type
    });
    branch.logEvent("Upgrade_button",{
      "user_id": getShemarooCookies().user_analytical_id,
      "platform": plt_form,
      "source": src,
      "user_state": user_state,
    "subscription_type": subscription_type
    },
    function(err) { console.log(err); }
    )
  }

  function branch_view_cart(price,plan_names,currency){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var session_id = ""
    if($.cookie('user_id') != undefined){
      session_id = $.cookie('user_id')
    }
    var user_id = ""
    if(getShemarooCookies().user_analytical_id != undefined){
      user_id = getShemarooCookies().user_analytical_id
    }
    _paq.push(['trackEvent', 'Users', 'Activity', 'View_Cart', 1, { dimension14: user_id, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: session_id, dimension20: currency, dimension21: price, dimension36: plan_names }]);

    smartech('dispatch', 'View_Cart', {
      'userid': user_id,
      'session_id': session_id,
      'productName': plan_names,
      'currencyType': currency,
      'productPrice': price,
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time
      });

   function viewcart_andrd(){
      branch.logEvent(
     "View_Cart",
      {"region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "session_id": session_id,
      "productName": plan_names,
      "currencyType": currency,
      "productPrice": price,
      "userid": user_id
      },
     function(err) { console.log(err); }
     );
   }
   if(getShemarooCookies().mobile_browser_type == "android"){
      try {
      Android.doViewcart(plan_names+"|"+currency+"|"+price);
      }
      catch(err) {
        viewcart_andrd()
      } 
   }
   else{
      viewcart_andrd()
    }
  }

 function set_netcore_sub(plan_id){
  smartech('dispatch', 'sub_intent', {
      'plan_details': plan_id,
      'user_id': getShemarooCookies().user_analytical_id
    })
  set_apxor_sub(plan_id)
  }
 

  function set_apxor_sub(plan_id){
    /*Apxor.logEvent('sub_intent', {
         "user_id": getShemarooCookies().user_analytical_id,
         "platform": plat_form,
        'plan_details': plan_id
      }, "PURCHASE_PLAN")*/
  }

  function call_fb_google_pixel_event(currency){
    var price = localStorage.getItem("new_plan_price");
    var plan_names =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10]+"_"+t.split("|")[3] })
    fbq('track', 'AddToCart', {
      value: price,
      currency: currency,
      content_name: plan_names,
    })
  }

	$(".quiz_url").click(function(){
		var pc_url = "<%=SITE%>/offer_terms_conditions"
	 	if(window.location.search.includes("browser=android") == true) {
	  	Android.doAmazonpayment("externalurl",pc_url); 
	  }
	  else{
			$(".quiz_url").attr("href",pc_url)
	  }
	});

  // function check_quartely_pck_st(pln_id){
  //   var user_region = $(".user_region").val();
  //   var st = "false"
  //   if(user_region == "IN" && (pln_id == "all_access_pack-quarterly" || pln_id == "all_access_pack-half_yearly")){
  //     st  = "true"
  //   }
  //   return st
  // }

  $("#quar_cont").click(function(){
    $("#plns_quart_pop").modal("hide");
    $(".loader").show();
    set_lcstrg_pln_det($(".plan_sel:checked").attr("id"));
  })

  function netcore_up_pln_evnt(){
    var today = new Date();
    var pln_info = $(".plan_sel:checked").attr("id").split("all_access_pack-")[1].replace(/_/g,"")
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    smartech('dispatch', "Plan_upgrade", {
      'user_id': getShemarooCookies().user_analytical_id,
      'session_id': getShemarooCookies().user_id,
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time,
      'initial_plan': pln_info,
      'subscription_type': sub_type
    });
    Apxor.logEvent('Plan_upgrade', {
      'user_id': getShemarooCookies().user_analytical_id,
      "platform": plat_form,
      'initial_plan': pln_info,
      'subscription_type': sub_type
    },"PLAN_UPGRADE");

    branch.logEvent(
  "Plan_upgrade",
    {'user_id': getShemarooCookies().user_analytical_id,
      'session_id': getShemarooCookies().user_id,
      'region': region,
      'city': user_city,
      'date_event': date,
      'time_event': time,
      'initial_plan': pln_info,
      'subscription_type': sub_type
  },
  function(err) { console.log(err); }
  );
  }

  $("#quar_upgrade").click(function(){
    netcore_up_pln_evnt()
    $("#plns_quart_pop").modal("hide");
    $(".loader").show();
    $("#all_access_pack-yearly").prop("checked",true)
    set_lcstrg_pln_det($(".plan_sel:checked").attr("id"));
  })

})


//Start For Andriod set the cookies
$(document).ready(function(){
  var login_user_id = "<%=params[:user_id]%>";
  var free_trail_st = "<%=@free_trail_status%>";
  localStorage.removeItem("user_free_trail_status");
  localStorage.removeItem("free_trail_msg");
  localStorage.setItem("user_free_trail_status",free_trail_st)
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>";
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var first_time_user = "<%=params[:new_user_st].present? ?  "true" : "false"%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var aaid = "<%=params[:aaid]%>"
  var city = "<%=params[:city]%>"
  var device_id = "<%=params[:device_id]%>"
  var device_make = "<%=params[:device_make]%>"
  var user_ip = "<%=params[:user_ip]%>"
  var os = "<%=params[:os]%>"
  var user_agent = "<%=params[:user_agent]%>"
  var branch_details = aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip+'|'+os+'|'+user_agent
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'android_branch_set' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('android_branch_set',branch_details, { expires: 14,path: '/'});
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     var theme = "<%=params[:theme_option]%>";
     theme = theme ? theme : getShemarooCookies().theme_option
     document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     $('.header-section, .footer-section, .ft_sec').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
     if(first_time_user == "true"){
      $("#skip_continue_btn").show();
     }
  }
  var user_login_status = "<%=params[:user_login_status]%>"
  if(user_login_status.length != 0){
     $('.header-section, .footer-section, .ft_sec').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
  }
});

//End For Andriod set the cookies

</script>



<script type="text/javascript">
  
function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      //window.location.href = "/"
  }
  
</script>