<%
   meta title: "Payment success",
    description: "Payment success",
    keywords: "Payment success"
%>
<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">

      <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
        <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
        <img src="/assets/success.png" class="status_image" alt="Transaction Success" title="Transaction Success">
       <p class="font-regular margin-bottom-15"><%=@message%></p> 
        <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%=@transaction_id%></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Order ID </p>
          <p class="font-bold margin-bottom-20 font-size3 shemaroo-color1"><%=@order_id%></p>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="/" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue">continue browsing</a>
            </p>
          </div>
        </div>
          <!-- <p class="inline radius-button">
              <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_login">Login</a>
            </p> -->
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
  // var paypal_suc_st = "<%=@status%>"
  // if(paypal_suc_st == "success"){
    
  // }
  var status_message = "<%=@status%>"
  var orderno = "<%=@order_id%>"
  var message = "<%=@message%>"
  var cupn_code = ""
  var plan_name = ""
  var pln_type = ""
  var price = "<%=@price%>"
  var coupon_code_name = ""
  var cpn_type = ""
  var today = new Date();
  var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
  var h =  today.getHours(), m = today.getMinutes();
  var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
  var region = $(".user_region").val();
  var user_city = $(".user_city").val();

  if(localStorage.getItem("first_purchase_plans_details")){
    plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
     pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }

  if(localStorage.getItem("first_purcahse_promo_code")){
    coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
  }


function post_dt_branch(plan_name,transaction_id,price,region,user_city,date,time){
  var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  var plan_categry = "SVOD"
  var cupn_type = ""
  //branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data) });
   if(localStorage.getItem("first_purchase_plans_details")){
      plan_categry =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })[0]
    }
  var evn_name = "PURCHASE"
  var evn_desc = "Plan purchase"
  if(plan_name.length == 1 && plan_categry == "test_tvod"){
    // if (!(plan_name[0].indexOf('Premium') > -1)){
      evn_name = "ADD_PAYMENT_INFO"
      evn_desc = "TVOD Plan purchase"
    //}
  }
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_s2s",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "productName": plan_name,
            "coupon_type": cupn_type,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": "web",
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "adyen",
              //"coupon_code": cupn_cde_st,
              //"coupon_code_partner": cupn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "amount": price,
              "coupon_code_name": cupn_code,
              "subscription_type": "fresh",
              "user id": user_id
            },
            "event_data": {
              "currency": "USD",
              "description": evn_desc,
              "pack_name": plan_name.join(","),
              "revenue": price,
              "transaction_id": transaction_id
            },
            "name": evn_name,
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }

 if(getShemarooCookies().mobile_browser_type != "android"){
   //post_dt_branch(plan_name,orderno,price,region,user_city,date,time)
 }

  function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }
  var andr_ver = get_andrd_ver()
  if(status_message ==  "success"){
    if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
        Android.doSubscriptionSuccess(orderno+"|"+"adyen"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+""+"|"+"USD"+"|"+coupon_code_name+"|"+""+"|fresh|android|online")
    }
  }
  var tr_id = orderno;
  if(status_message == "failure"){
    if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
       Android.doSubscriptionFailure(tr_id+"|"+message+"|adyen|"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+"USD"+"|"+price+"|"+coupon_code_name+"|"+""+"|"+"fresh|android")
      }
    }
});  
</script>
