<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
  <div class="float-left w-100 min-height-div">
    <div class="plans-container mb-3">
      <div class="row in_us_plan">
        <div class="col-lg-12 col-sm-12 col">
          <%if $region == "IN"%>
             <!-- <p class="app-d-flex h-center paytm_cashback_img"><a href="javascript:void(0)" alt="paytm_cashback"><img src="/assets/paytm_cashback.jpg"></a></p> -->
          <%end%>
  				<h1 class="font-mblack margin-bottom-10 mt-5 she-col9 " id="chs_pln"><%=get_lang_string("choose_plans")%></h1>
  				<%if $region == "IN" && @plan_info_st == "true"%>
  		     <p class="font-mbold mulli-font2 margin-bottom-20 she-col9 "><%#=@pln_msg%></p> 
         	<%end%>
        	<!-- <p class="font-mbold mulli-font2 margin-bottom-20 she-col9 ">Plan that provide access to all categories</p> -->
  				<%
          if $region == "BD" || $region == "MY"
            all_pack = @all_plans[0...1]
          else
            all_pack = @all_plans[0...2]
          end
          %>
          <div class="plan-box-container">
            <%if $region == "IN" %>
            <div class="float-left w-100 app-d-flex h-center">
           <%all_pack.each_with_index do |ap,i|%>
            <%unless ap['plans'].blank?%>
              <div class="plan-box-wrap mt-1 odd-plan-box relative-content mb-3">
                <div class="">
                <h2 class="font-mblack  mb-3 pb-2 plns_title" style="color:  <%=get_pln_box_color(ap["category"])%>"><%=ap['ml_title'] rescue ap['title'].gsub("Plan","")%></h2>
                  <p class="font-mregular mulli-font1 she-col9 mt-1 plans-des">
                    <ul>
                      <%ap["ml_synopsis"].split("\n").reject(&:blank?).each do |ml|%>
                        <li><%=ml rescue get_pln_desc(ap["pack_details"].first["value"],$region)%></li>
                      <%end%>
                    </ul>
                  </p>
                  <%ap["plans"].each do |aa|%>
                  <div class="relative-content  <%=( ap['category'] == "all_access_pack" && (aa['title'].downcase == "yearly" || aa['title'].downcase == "monthly" )) ? "plan-decbgbox" : "" %>" >
                      <p class="margin-bottom-<%=ap["plans"].count == 1 ? "10" : "10"%> d-flex align-items-center price-box shadow-box relative-content <%=(ap['category']== "all_access_pack" && aa['title'].downcase == "yearly") ? "" : ""%>" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>_sec">
                      <input type="radio" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" name="radio-group" value="<%=aa['id']%>|<%=ap['catalog_id']%>|<%=ap['category']%>|<%=aa['title']%>|<%=aa['currency']%>|<%=aa['currency_symbol']%>|<%=aa['discounted_price']%>|<%=aa['pg_price']['adyen']%>|<%=aa['pg_price']['cc_avenue']%>|<%=ap['content_id']%>|<%=ap['title'].gsub(" ","_")%>|<%=get_lang_string(aa["title"].gsub(" ","_").downcase) %>" class="plan_sel" disabled>
                          <label for="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" class="mb-0 shemaroo-color9 font-mblack mulli-font1 text-uppercase">
                            <%#if (ap['category']== "all_access_pack" && aa['title'].downcase == "yearly")%>
                              <!-- <img src="/assets/crown.svg" alt="" title=""><br>  -->
                            <%#end%>        
                            <%=get_lang_string(aa["title"].gsub(" ","_").downcase) rescue aa["title"]%>                        
                          </label>
                          <%if $region == "IN" && ap['category'] == "all_access_pack" && (aa["title"].downcase == "yearly" || aa["title"].downcase == "two yearly")%>
                                <span class="old-price relative-content shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i><%=aa["price"]%></span>
                              <%end%>
                    <span class="price font-mblack shemaroo-color9 font-size4"><!-- <i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> --> <span class="shemaroo-color9 font-mregular"><%=aa['currency_symbol']%></span>&nbsp;<%=aa["discounted_price"]%></span>
                    </p>
                    <%if (ap['category']== "all_access_pack" && aa['title'].downcase == "yearly")%>
                    <p class="plans-descer font-bold font-size2">Use Code SME20 to get the yearly plan at Rs 600</p>
                    <%end%>
                    <% if ((ap['category']== "all_access_pack" && aa['title'].downcase == "monthly")) %>
                    <p class="plans-descer font-bold font-size2">Only via UPI, PayTM Wallet</p>
                    <%end%>
                     <%# if ((ap['category']== "all_access_pack" && aa['title'].downcase == "two yearly")) %>
                    <!-- <p class="plans-descer font-bold font-size2">Use Code SME20 to get the two yearly plan at Rs 1120</p> -->
                    <%#end%>
                  </div>
                  <%end%>
                  </div>
                </div>
            </div>
            <%end%>
            <%end%>
            <%else%>

            <%all_pack.each_with_index do |ap,i|%>
              <%unless ap['plans'].blank?%>
                <div class="plan-box-wrap mt-1 <%=i.even? ? "odd" : "even"%>-plan-box relative-content mb-3">
                  <div class="">
                    <h2 class="font-mblack  mb-3 pb-2 plns_title" style="color:  <%=get_pln_box_color(ap["category"])%>"><%=ap['ml_title'] rescue ap['title'].gsub("Plan","")%></h2>
                    <p class="font-mregular mulli-font1 she-col9 mt-1 plans-des">
                      <ul>
                        <%ap["ml_synopsis"].split("\n").reject(&:blank?).each do |ml| %> 
                        <li><%=ml rescue get_pln_desc(ap["pack_details"].first["value"],$region)%></li>
                        <%end%>
                      </ul>
                    </p>
                    <%ap["plans"].each do |aa|%>
                      <%#if check_mnth_pak_status(aa["title"],ap['category'])%>
                      <%#if check_mnth_pak_status(aa["title"])%>
                     
                      <% unless (@is_postpaid  == "1" && aa['title'] == "Daily") || (@is_postpaid  == "1" && aa['title'] == "Weekly") && $region == "KW" %>
                      <% platform = params[:browser] ? "android" : "web"%>
                      <%if check_month_status(aa['title'].downcase,ap['category'],platform) == "true" %>
                      <div class="relative-content <%=($region == "US" &&  ap['category'] == "all_access_pack" && aa['title'].downcase == "yearly") ? "plan-decbgbox" : "" %>">
                        <p class="margin-bottom-<%=ap["plans"].count == 1 ? "10" : "10"%>
                         d-flex align-items-center price-box shadow-box relative-content <%=($region != "US" && ap['category']== "all_access_pack" && aa['title'].downcase == "yearly") ? "crown" : ""%>" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>_sec">
                          
                          <input type="radio" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" name="radio-group" value="<%=aa['id']%>|<%=ap['catalog_id']%>|<%=ap['category']%>|<%=aa['title']%>|<%=aa['currency']%>|<%=aa['currency_symbol']%>|<%=aa['discounted_price']%>|<%=aa['pg_price']['adyen']%>|<%=aa['pg_price']['cc_avenue']%>|<%=ap['content_id']%>|<%=ap['title'].gsub(" ","_")%>|<%=get_lang_string(aa["title"].gsub(" ","_").downcase) %>" class="plan_sel" disabled>
                          <label for="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" class="mb-0 shemaroo-color9 font-mblack mulli-font1 text-uppercase">
                            <%if ($region != "US" && ap['category']== "all_access_pack" && aa['title'].downcase == "yearly")%>
                              <img src="/assets/crown.svg" alt="" title=""><br> 
                            <%end%>        
                            <%=get_lang_string(aa["title"].gsub(" ","_").downcase) rescue aa["title"]%>                        
                          </label>
                          <%if $region == "IN" && ap['category'] == "all_access_pack"  && aa["title"].downcase == "yearly"%>
                            <span class="old-price relative-content shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i><%=aa["price"]%></span>
                          <%end%> 
                          <%#if $region == "IN" && ap['category'] != "gujarati"  && aa["title"].downcase == "yearly"%>
                            <!-- <span class="old-price relative-content shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i><%#=aa["price"]%></span> -->
                          <%#end%>                         
                          <span class="price font-mblack shemaroo-color9 font-size4"><!-- <i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> --> <span class="shemaroo-color9 font-mregular"><%=aa['currency_symbol']%></span>&nbsp;<%=aa["discounted_price"]%></span>
                        </p>
                        <%if ( $region == "US" && ap['category']== "all_access_pack" && aa['title'].downcase == "yearly")%>
                          <p class="plans-descer">Use SME20 & get extra 20% off</p>
                          <%end%>
                        </div>
                      <%end%>
                      <%end%>
                    <%end%>
                  </div>
                </div>
             
              <%end%>
            <%end%>
          <%if $region != "BD" && $region != "MY"%>
            <%if @all_plans.length > 2  %>
              <%@all_plans[2..@all_plans.length-1].compact.each_with_index do |np,i|%>
                <% unless np['plans'].blank?%>
                  <div class="all-plans plan-box-wrap mt-1 <%=i.even? ? "odd" : "even"%>-plan-box relative-content mb-3">
                    <div class="">
                      <h2 class="font-mblack  mb-3 pb-2 plns_title" style="color:  <%=get_pln_box_color(np["category"])%>"><%=np["ml_title"] rescue np["title"].gsub("Plan","")%></h2>
                      <p class="font-mregular mulli-font1 she-col9 mt-1 plans-des">
                        <ul>
                          <%np["ml_synopsis"].split("\n").reject(&:blank?).each do |ml| %>
                          <li><%=ml rescue np["pack_details"].first["value"]%></li>
                          <%end%>
                        </ul>
                      </p>
                      <%unless np['plans'].blank?%>
                        <%np['plans'].each do |p|%>
                        <% unless (@is_postpaid  == "1" && p['title'] == "Dialy") || (@is_postpaid  == "1" && p['title'] == "Weekly") %>
                          <p class="margin-bottom-<%=np["plans"].count == 1 ? "10" : "10"%> d-flex align-items-center price-box shadow-box" id="<%=np['category']%>-<%=p["title"].gsub(" ","_").downcase%>_sec" >
                            <input type="radio" id="<%=np['category']%>-<%=p["title"].gsub(" ","_").downcase%>" name="radio-group" value="<%=p['id']%>|<%=np['catalog_id']%>|<%=np['category']%>|<%=p['title']%>|<%=p['currency']%>|<%=p['currency_symbol']%>|<%=p['discounted_price']%>|<%=p['pg_price']['adyen']%>|<%=p['pg_price']['cc_avenue']%>|<%=np['content_id']%>|<%=np['title'].gsub(" ","_")%>|<%=get_lang_string(p["title"].gsub(" ","_").downcase) %>" class="plan_sel" disabled>
                            <label for="<%=np['category']%>-<%=p["title"].gsub(" ","_").downcase%>" class="xmb-0 shemaroo-color9 font-mblack text-uppercase mulli-font1"><%=get_lang_string(p["title"].gsub(" ","_").downcase) rescue p["title"]%></label>
                            <span class="price font-mblack shemaroo-color9 font-size4"><!--<i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i>--><span class="shemaroo-color9 font-mregular"><%=p['currency_symbol']%></span>&nbsp;<%=p['discounted_price']%></span>
                          </p>
                          <%end %>
                        <%end%>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              <% end %>
              <% end %>
            <% end %>
            <%end%>
          </div>
          <%if $region  == "IN"%>
            <!-- <div class="w-100 mt-4 pt-4 d-flex justify-content-center">
              <a href="javascript:void(0);" id="all_plans" class="shemaroo-color9 font-mbold text-center">
                View All Plans
                <br>
                <img src="/assets/down_arrow.svg" style="width: 22px;">
              </a>
            </div> -->
          <%end%>
          
        </div>
      </div>

      <div class="no-plan-box margin-bottom-30 margin-top-25" id="no_plans" style="display:none;">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-30">         
            <h2 class="block margin-bottom-10 font-bold">Plans</h2>
            <div class="pull-left w-100 tile-box-shadow padding-bottom-30 padding-top-25 padding-left-30 padding-right-30 rounded">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="margin-bottom-25 margin-left-10 margin-right-10 font-semibold font-size4 text-center">
                  You can subscribe by downloading the ShemarooMe Android App from the Playstore or the iOS app from the App store
                </p>
                <a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank"><img src="/assets/google_play_badge.png" class="mt-2 mb-4" alt="google play"></a>
                <a href="https://itunes.apple.com/app/apple-store/id1439041310?pt=2089066&ct=Web%20Campaign&mt=8" target="_blank"><img src="/assets/app_store_apple.png" class="mb-2" alt="App Store"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>  

<div class="modal" id="plans_login_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5 font-bold"><%= get_lang_string("login")%></h5>
        <% svod_login  = get_lang_popup("svod_login")%>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= svod_login['title_text']%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cancel_login1"><%= svod_login['negative']%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="plans_signin_link"><%= svod_login['positive']%></a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>
<div class="modal" id="plns_quart_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5 font-bold"></h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt" style="font-size: 1.1em;" id="pln_up_txt">
        Limited Time Offer! Upgrade to <b>Premium Yearly Plan</b> and <b>Save Rs. 447!</b>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="quar_cont" value="continue">Continue</a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="quar_upgrade" value="upgrade">Upgrade</a>
          </p>        
        </div>
      </div>   
    </div>
  </div>
</div>

<%=render "layouts/page_height_setting"%>
<%=render "check_valid_browser_type"%>
<%=render "plans_selection"%>
<%=render "right_click_disable"%>


<script>
  $(document).ready(function() {


    var user_region = "<%=$region%>"
    $(".all-plans").show();
    /*if(user_region == "IN"){
      $("#all_plans").click(function() {
        $(this).hide();
        $(this).parent(".d-flex").removeClass("mt-4 pt-4");
        $(".all-plans").show();
      });
    }
    else{
     $(".all-plans").show();
    }*/
    $("input[type='radio']").prop("checked",false)
  });
</script>