<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
	<div class="plans-summary-container mb-3">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col">
       <%if $region == "IN"%>
           <!-- <p class="app-d-flex h-center paytm_cashback_img"><a href="javascript:void(0)" alt="paytm_cashback"><img src="/assets/paytm_cashback.jpg"></a></p> -->
        <%end%>
				<div class="pull-left w-100 plans-summary-selected-plan-wrap">		
					<div class="pull-left w-100 selected-plan-box">
						<div class="pull-left">
							<p class="mb-1 font-mregular font-size1"><%= get_lang_string("plan_selected")%></p>
							<p class="font-size-plan mb-0 font-mblack" id="selected_plan" style="color:#D51F53"></p>
              <!-- <p class="font-size-plan mb-0 font-mregular" id="mv_prmtn" style="display:none;">Kasaai Movie(₹ 0)</p> -->
						</div>
						<div class="pull-right">
							<p class="font-mblack1 mb-0"><span class="sel_pl_cuncy font-mregular">₹</span>&nbsp;<span class="sel_pln_prc"></span></p>
						</div>	
					</div>	
					<div class="promo-box relative-content">
	          <p class="pull-left w-100 shemaroo-color9 font-size1 mb-2 font-mbold promo_sec"><%= get_lang_string("have_promocode")%></p>
	          <input type="text" name="" class="pull-left font-size1 promo_sec" placeholder="<%=get_lang_string("enter_promo_code")%>" id="promo_code" maxlength="15">
	          <a href="javascript:void(0);" class="pull-left text-uppercase font-mbold font-size3 promo_sec" id="plan_apply_promo"><%=get_lang_string("apply")%></a>
            <p class="font-mregular pull-left w-100 text-left shemaroo-color1 font-size3" id="promo_suc_pop" style="display: none;">
              <span class="pull-left w-100 font-mregular font-size2 shemaroo-color1"><img src="/assets/check_green.svg" alt="" title="">&nbsp;&nbsp;<%= get_lang_string("apply_code")%>&nbsp;&nbsp;<span class="text-uppercase font-semibold shemaroo-color4"><span id="user_promo_code"> </span>&nbsp;&nbsp;</span><img src="/assets/cancel.svg" class="cancel_plan_promo" alt="" title=""><br></span>
            </p>
	          <label class="font-mregular error promocode_error mb-0">
	            Sorry, this Promo Code is Invalid<img src="/assets/error_info.png" class="ml-1" style="margin-top: -4px;">
	          </label>
	          <p class="font-mregular pull-left w-100 text-left shemaroo-color8 font-size2" id="promo_success_msg" style="display: none;">
	          	Your 20% discounted coupon code is been applyed
	          </p>
            <%if $region == "US"%>
              <div class="pull-left w-100 padding-top-30 margin-top-25 margin-bottom-5" style="border-top: 1px solid #c6c6c6;">
                <div class="input-group zipcode margin-bottom-15" >
                  <div class="zipcode_wrap relative-content">
                    <input type="number" id="adyenzip_code" name="" class="form-control" maxlength="4" placeholder="Enter ZIP Code" onKeyPress="if(this.value.length==5) return false;" >
                    <span id="adyen_hint_zip" class="hint_txt">Zip code should be 5 digits</span>                                             
                  </div>  
                  <label id="zip_error" class="error">Invalid zip code</label>
                </div>
              </div>
            <%end%>
	          <div class="pull-left w-100 total-price">
	          	<p class="pull-right w-100 text-right mb-3 font-mbold shemaroo-color9 font-size5" id="disct_sec" style="display:none;">
	          		<span class="font-mregular shemaroo-color3 mr-4 font-size2">Discount</span>
	          		<i class="fa fa-inr"></i> 999
	          	</p>
	          	<p class="pull-left font-mbold shemaroo-color9 font-size4">
	          		<%= get_lang_string("total_payable")%><br>
	          		<span class="pull-left w-100 font-mregular shemaroo-color3 font-size2">*<%= get_lang_string("tax_inclusive")%></span>
	          	</p>
	          	<p class="pull-right font-mblack1 shemaroo-color9" style="font-size: 24px;">
	          		<span class="sel_pl_cuncy font-mregular"></span>&nbsp;<span id = "grand_amount" class="sel_pln_final_prc"></span>
	          	</p>
	          </div>
	        </div>
	      </div>		
	      <div class="pull-left w-100 plans-payment-wrap mt-3">
	      	<h2 class="font-mbold font-size4 mb-3 ml-3 mt-1 pb-1 font-mbold" id="chs_pymt"><%= get_lang_string("choose_payment_mode")%></h2>
	      	<div class="plan-box-wrap relative-content mb-3 w-100 p-0">
						<div class="pull-left w-100" style="padding: 0px 32px" id="pymnt_sec">
              <%if $region == "IN"%>
                  <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="paytm_sec">
                    <input type="radio" id="paytm" name="radio-group" class="pay_sel_radio" value="paytm">
                   <label for="paytm" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("patym")%></label>
                  <img src="/assets/paytm.svg" class="pull-right" alt="Paytm" title="Paytm">
                  </p>
  							<!-- <div class="desc-box shadow-box mb-3" > -->
                  <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="amazon_pay_sec">
                    <input type="radio" id="amazon_pay_web" name="radio-group" class="pay_sel_radio" value="amazon_pay_web">
                    <label for="amazon_pay_web" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("amazon_pay")%></label>
                    <img src="/assets/amazon_pay_logo.png" class="pull-right" alt="Amazon Pay" title="Amazon Pay" style="width:100px;">
                  </p>
                 <!--  <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0">
                    Get Cashback up to Rs 250/- on minimum transaction of Rs. 99/-<br>
                   <a href="https://www.amazon.in/b?node=20729345031" target="_blank"> Amazon Pay T&C </a>
                  </p> 
                </div>  -->
                <%if  @lazypay_check == "false" && @vaild_lazy_num %>
    							<p class="mb-3 vcenter-align-content price-box shadow-box mb-3"  id="lazypay_sec">
    								<input type="radio" id="lazypay" name="radio-group" class="pay_sel_radio" value="lazypay">
    		    				<label for="lazypay" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("lazy_pay")%></label>
    		    				<img src="/assets/lazypay.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay">
    							</p>
                <%end%>	
                <!--<p class="mb-3 vcenter-align-content price-box shadow-box mb-3 ccavenue_sec">
                  <input type="radio" id="ccavenue_cc" name="radio-group" class="pay_sel_radio" value="ccavenue">
                  <label for="ccavenue_cc" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("credit_card")%></label>
                  <label class="pull-right">                    
                    <img src="/assets/visa.svg" class="pull-right margin-left-15" alt="" title="">
                    <img src="/assets/master_card.svg" class="pull-right" alt="Credit Card" title="Credit Card">
                  </label>  
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 ccavenue_sec">
                  <input type="radio" id="ccavenue_dc" name="radio-group" class="pay_sel_radio" value="ccavenue">
                  <label for="ccavenue_dc" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("debit_card")%></label>
                  <label class="pull-right">                    
                    <img src="/assets/visa.svg" class="pull-right margin-left-15" alt="" title="">
                    <img src="/assets/master_card.svg" class="pull-right" alt="DEBIT CARD" title="DEBIT CARD">                    
                  </label>  
                </p> 
                 <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 ccavenue_sec">
                  <input type="radio" id="ccavenue_upi" name="radio-group" class="pay_sel_radio" value="ccavenue">
                  <label for="ccavenue_upi" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("upi")%></label>
                  <img src="/assets/upi.svg" class="pull-right" alt="UPI" title="UPI">
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 ccavenue_sec">
                  <input type="radio" id="ccavenue_nb" name="radio-group" class="pay_sel_radio" value="ccavenue">
                  <label for="ccavenue_nb" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("net_bank")%></label>
                  <img src="/assets/new_netbanking.svg" class="pull-right" id= "nb_cc" alt="NET BANKING" title="NET BANKING">
                </p> 
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 payu_sec">
                  <input type="radio" id="payu_cc" name="radio-group" class="pay_sel_radio" value="payu" data-pymnt-type="CC">
                  <label for="payu_cc" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("credit_card")%></label>
                  <label class="pull-right">                    
                    <img src="/assets/visa.svg" class="pull-right margin-left-15" alt="" title="">
                    <img src="/assets/master_card.svg" class="pull-right" alt="" title="">                    
                  </label>  
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 payu_sec">
                  <input type="radio" id="payu_dc" name="radio-group" class="pay_sel_radio" value="payu" data-pymnt-type="DC">
                  <label for="payu_dc" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("debit_card")%></label>
                  <label class="pull-right">                    
                    <img src="/assets/visa.svg" class="pull-right margin-left-15" alt="" title="">
                    <img src="/assets/master_card.svg" class="pull-right" alt="" title="">                    
                  </label>  
                </p> 
                 <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 payu_sec">
                  <input type="radio" id="payu_upi" name="radio-group" class="pay_sel_radio" value="payu" data-pymnt-type="UPI">
                  <label for="payu_upi" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("upi")%></label>
                  <img src="/assets/upi.svg" class="pull-right" alt="UPI" title="UPI">
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3 payu_sec">
                  <input type="radio" id="payu_nb" name="radio-group" class="pay_sel_radio" value="payu" data-pymnt-type="NB">
                  <label for="payu_nb" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("net_bank")%></label>
                  <img src="/assets/new_netbanking.svg" class="pull-right" alt="Lazy Pay" title="Lazy Pay">
                </p>  -->



                <!-- razor pay mobikwik -->
                 <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="mobikwik_sec">
                  <input type="radio" id="razor_pay_mobikwik" name="radio-group" class="radio_razor_pay razor_pay_mobikwik_sec" value="razor_pay" data-mode = "mobikwik" >
                  <label for="razor_pay_mobikwik" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase">Mobikwik</label>
                  <img src="/assets/mobiKwik_new.png" class="pull-right" alt="Mobikwik" title="Mobikwik" id= "razor_pay_img" style="width: 100px;">
                </p> 
                    <div class="adyen_card_details_wrap payment_box"  id= "razor_pay_mobikwik_details" >
                  <h3 class="shemaroo-color9 font-mbold font-size4">Enter Mobikwik Details</h3>
                  
                  <div class="input-group cardno" style="padding-top: 35px;">
                    <!-- <input type="number" id="wallet_phone" inputmode="numeric" pattern="[0-9]*" class="form-control pl-0" data-encrypted-name="text"  placeholder="Enter Mobile Number"> -->   
                    <input type="text" id="wallet_phone" placeholder="Enter Mobile Number"  maxlength="10" class="form-control font-mregular my-text-box" value="">
                   <p id="mobikwik_tc_txt">Use KWIK050 for 5% Cashback. <a href="/mobikwik_terms" style="color:#0095DB;text-decoration: underline; letter-spacing: -0.1px;">T&C</a>&nbsp;apply.</p>  

                    <span class="info-label font-msbold"><%= get_lang_string("sign_mobile")%></span>
                    <label id="wallet_phone_error" for = "wallet_phone" class="error font-mregular font-size2" style="display: none; top: 23px;"><%= get_lang_string("invalid_mobile")%></label>
                    <input type="hidden" id="wallet_email" name="wallet_email" value="mobikwik@payment.com">
                  </div>
                  <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
                    <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_mobikwik_submit"><%= get_lang_string("submit_1")%></a>
                  </p>
                </div>


                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="credit_card_sec">
                  <input type="radio" id="razor_pay" name="radio-group" class="radio_razor_pay razor_pay_card_sec" value="razor_pay" data-mode = "credit" data-type = "credit">
                  <label for="razor_pay" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("credit_card")%></label>
                     <label class="pull-right app-d-flex v-center">
                      <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
                      <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
                      <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
                      <img src="/assets/american_express_logo.png" class="pull-left margin-left-15" alt="" title="" style="height: 22px;margin-top: 7px;">
                  </label> 
                </p> 
                        <div class="adyen_card_details_wrap payment_box  "  id= "razor_pay_card_sec" >
                  <h3 class="shemaroo-color9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
                  <div class="input-group cardno">
                    <input type="number" id="rp_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
                    <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>
                    <label id="cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
                  </div>
                  <div class="input-group date">
                    <div class=" expiry_date">
                      <input type="number" id="rp_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
                      <span class="slash">/</span>                                                                    
                      <input type="number" id="rp_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="<%= get_lang_string("year_yy")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
                      <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>  

                    </div>  

                    <div class="cvv">
                      <input type="password" id="rp_card_cvv" class="form-control" maxlength="3" placeholder="***" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
                      <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>

                    </div>  
                    <label id="invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>

                    <label id="expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>

                  </div>
                  <div class="input-group cardname">
                    <input type="text" id="rp_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
                    <label id="card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>

                  </div>
                  <p class="mt-5 mb-4 float-left w-100"><!-- 
                    <label class="custom-control overflow-checkbox"> -->
                      <span class="overflow-control-description shemaroo-color9 font-size2"><%= get_lang_string("card_details_saved")%></span>
                    <!-- </label> -->
                  </p>
                  <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
                    <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_card_submit"><%= get_lang_string("submit_1")%></a>
                  </p>
                </div>



                  <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="debit_card_sec">
                  <input type="radio" id="razor_pay_debit" name="radio-group" class="radio_razor_pay razor_pay_debit__sec" value="razor_pay" data-mode = "debit" data-type = "debit" >
                  <label for="razor_pay_debit" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("debit_card")%></label>
                  <label class="pull-right app-d-flex v-center">  
                    <img src="/assets/visa.svg" class="pull-left" alt="Visa Card" title="Visa Card">
                    <img src="/assets/master_card.svg" class="pull-left margin-left-15" alt="" title="">
                    <img src="/assets/rupay.jpg" class="pull-left margin-left-15" alt="RuPay" title="RuPay">
                  </label>
                </p>
                        <div class="adyen_card_details_wrap payment_box  "  id = "razor_pay_debit_card_sec" >
                  <h3 class="shemaroo-color9 font-mbold font-size4"><%= get_lang_string("card_details")%></h3>
                  <div class="input-group cardno">
        
                     <input type="number" id="rp_debit_cardno" class="form-control pl-0" data-encrypted-name="number" maxlength="16" placeholder="<%= get_lang_string("enter_card_number_1")%>" oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                  
                    <span class="info-label font-msbold"><%= get_lang_string("card_num")%></span>
                    <label id="debit_cardno_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_card_num")%></label>
                  </div>
                  <div class="input-group date">
                    <div class=" expiry_date">
                      <input type="number" id="rp_debit_expiry_date" class="form-control" required="" size="2" maxlength="2" placeholder="<%= get_lang_string("month_mm")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
                      <span class="slash">/</span>                                                                    
                      <input type="number" id="rp_debit_expiry_year" class="form-control" required size="2" maxlength="2" placeholder="<%= get_lang_string("year_yy")%>"  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">                    
                      <span class="info-label font-msbold"><%= get_lang_string("expiry")%></span>  

                    </div>  

                    <div class="cvv">
                      <input type="password" id="rp_debit_card_cvv" class="form-control" maxlength="3" placeholder="***" required  oninput="javascript: this.value=this.value.slice(0,this.maxLength)">
                      <span class="info-label font-msbold"><%= get_lang_string("cvv")%></span>

                    </div>  
                    <label id="debit_invalid_cvv" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_cvv")%></label>

                    <label id="debit_expiry_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_expiry")%></label>

                  </div>
                  <div class="input-group cardname">
                    <input type="text" id="rp_debit_card_name" class="form-control margin-bottom-10 pl-0" placeholder="<%= get_lang_string("name_of_card")%>" onkeypress='return validateSpecialCharNum(event);'>
                    <label id="debit_card_name_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("enter_name")%></label>

                  </div>
                  <p class="mt-5 mb-4 float-left w-100"><!-- 
                    <label class="custom-control overflow-checkbox"> -->
                      <span class="overflow-control-description shemaroo-color9 font-size2"><%= get_lang_string("card_details_saved")%></span>
                    <!-- </label> -->
                  </p>
                  <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
                    <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_debit_submit"><%= get_lang_string("submit_1")%></a>
                  </p>
                </div>

  <!-- razor pay net banking -->
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="net_banking_sec">
                  <input type="radio" id="razor_pay_netbank" name="radio-group" class="radio_razor_pay razor_pay_net_bank_sec" value="razor_pay" data-mode = "netbanking" >
                  <label for="razor_pay_netbank" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("net_bank")%></label>
                  <img src="/assets/new_netbanking.svg" class="pull-right" alt="Razor Pay" title="Razor Pay" id= "razor_pay_img">
                </p> 
                    <div class="adyen_card_details_wrap payment_box  "  id= "razor_pay_net_bank_details" >

                      <!-- <div class="custom-select font-regular w-100"> -->
                          <select id="rp_net_banks" class="w-100 mb-3">
                            <option>Select Bank</option>                
            <!--               <option value="AUBL">AU Small Finance Bank </option><option value="AIRP">Airtel Payments Bank </option><option value="ALLA">Allahabad Bank </option><option value="ANDB">Andhra Bank </option><option value="ANDB_C">Andhra Bank - Corporate Banking </option><option value="UTIB">Axis Bank </option><option value="BDBL">Bandhan Bank </option><option value="BBKM">Bank of Bahrein and Kuwait </option><option value="BARB_R">Bank of Baroda - Retail Banking </option><option value="BKID">Bank of India </option><option value="MAHB">Bank of Maharashtra </option><option value="BACB">Bassein Catholic Co-operative Bank </option><option value="CNRB">Canara Bank </option><option value="CSBK">Catholic Syrian Bank </option><option value="CBIN">Central Bank of India </option><option value="CIUB">City Union Bank </option><option value="COSB">Cosmos Co-operative Bank </option><option value="DCBL">DCB Bank </option><option value="BKDN">Dena Bank </option><option value="DEUT">Deutsche Bank </option><option value="DBSS">Development Bank of Singapore </option><option value="DLXB">Dhanlaxmi Bank </option><option value="DLXB_C">Dhanlaxmi Bank - Corporate Banking </option><option value="ESAF">ESAF Small Finance Bank </option><option value="ESFB">Equitas Small Finance Bank </option><option value="FDRL">Federal Bank </option><option value="FSFB">Fincare Small Finance Bank </option><option value="HDFC">HDFC Bank </option><option value="ICIC">ICICI Bank </option><option value="IBKL">IDBI </option><option value="IBKL_C">IDBI - Corporate Banking </option><option value="IDFB">IDFC FIRST Bank </option><option value="IDIB">Indian Bank </option><option value="IOBA">Indian Overseas Bank </option><option value="INDB">Indusind Bank </option><option value="JAKA">Jammu and Kashmir Bank </option><option value="JSFB">Jana Small Finance Bank </option><option value="JSBP">Janata Sahakari Bank (Pune) </option><option value="KCCB">Kalupur Commercial Co-operative Bank </option><option value="KJSB">Kalyan Janata Sahakari Bank </option><option value="KARB">Karnataka Bank </option><option value="KVBL">Karur Vysya Bank </option>    -->          
                          </select>
                        <!-- </div> -->
                  <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
                    <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_submit"><%= get_lang_string("submit_1")%></a>
                  </p>
                </div>


                
                <!-- razor pay upi -->
                 <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="razor_upi_sec">
                  <input type="radio" id="razor_pay_upi" name="radio-group" class="radio_razor_pay razor_pay_upi_sec" value="razor_pay" data-mode = "upi" >
                  <label for="razor_pay_upi" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("upi")%></label>
                  <img src="/assets/upi.svg" class="pull-right" alt="Razor Pay" title="Razor Pay" id= "razor_pay_img">
                </p> 
                    <div class="adyen_card_details_wrap payment_box  "  id= "razor_pay_upi_details" >
                  <h3 class="shemaroo-color9 font-mbold font-size4"><%= get_lang_string("enter_upi_id")%></h3>
                  <div class="input-group cardno">
                    <input type="text" id="rp_upi" class="form-control pl-0" data-encrypted-name="text"  placeholder="<%= get_lang_string("enter_upi")%>">                    
                    <span class="info-label font-msbold"><%= get_lang_string("upi_id")%></span>
                    <label id="upi_error" class="error font-mregular font-size2" style="display: none;"><%= get_lang_string("invalid_upi_id")%></label>
                  </div>
                  <p class="float-left w-100 mb-4 pb-3 mt-2 center-align-content">
                    <a href="javascript:void(0);" class="pull-left text-uppercase shemaroo-color6 font-mbold font-size5 pink-btn" value= "razor_pay" id="rp_upi_submit"><%= get_lang_string("submit_1")%></a>
                  </p>
                </div>

          



              <%elsif $region == "US"%>
                <%if Rails.env.production? || Rails.env.pre_production? %>
                  <script src="https://live.adyen.com/hpp/cse/js/1115481402240181.shtml"></script>
                <%else%>
                  <script src="https://test.adyen.com/hpp/cse/js/8215290589662396.shtml"></script>
                <%end%>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="adyen_pymnt_sec" style="display:none;">
                  <input type="radio" id="adyen_method_us" name="radio-group" class="pay_sel_radio" value="adyen">
                  <label for="adyen_method_us" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("credit_debit")%></label>
                  <label class="pull-right">                    
                    <img src="/assets/visa.svg" class="pull-right margin-left-15" alt="" title="">
                    <img src="/assets/master_card.svg" class="pull-right" alt="Credit Card" title="Credit Card">
                  </label>
                </p>
                <div class="onboarding-payment-contianer">
                  <div class="plans_summary_section">
                    <div class="adyen_card_details_wrap_box" style="display:none;">
                      <form id="adyen-encrypted-form" action="/plans/new_plan_user_purchase" method="get">
                        <input type="hidden" id="new_selected_plan" name="new_selected_plan" value="">
                        <input type="hidden" id="plan_price_charged" name="plan_price_charged" value="">
                        <input type="hidden" id="new_plan_order_id" name="new_plan_order_id" value="">
                        <input type="hidden" id="promo_check" name="promo_check" value="false">
                        <input type="hidden" id="coupon_code" name="coupon_code" value="">
                        <input type="hidden" id="coupon_code_id" name="coupon_id" value="">
                        <input type="hidden" id="is_tax_amount" name="is_tax_amount" value="false">
                        <input type="hidden" class="user_zip_code" name="zip_code" value="false">
                        <input type="hidden" class="user_free_trail" name="user_free_trail" value="false">
                        <div class="adyen_card_details_wrap">
                          <div class="input-group cardno">
                            <input type="number" id="cardno" name="" class="form-control" data-encrypted-name="number" maxlength="16">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label"><%= get_lang_string("card_num")%></span>
                            <label id="cardno_error" class="error"><%= get_lang_string("invalid_card_num")%></label>
                          </div>
                          <div class="input-group expiry1">
                            <input type="number" id="expiry_date" name="" class="form-control" required="" size="2" maxlength="2" data-encrypted-name="expiryMonth">                            
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label"><%= get_lang_string("month_mm")%></span>
                          </div>
                          <div class="input-group expiry2">
                            <input type="number" id="expiry_year" name="" class="form-control" required="" size="4" maxlength="4" data-encrypted-name="expiryYear">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label">YYYY</span>
                          </div>
                          <div class="input-group cvv hide_password_group">
                            <input type="password" id="card_cvv" name="" class="form-control" data-encrypted-name="cvc" maxlength="4">
                            <i class="fa fa-circle cvv-circle" aria-hidden="true"></i>
                            <img src="/assets/information.svg" class="info" alt="" title="">
                            <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                            <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                            <div class="cvv_box">
                              <img src="/assets/cvv_box.png" alt="" title="">
                            </div>
                            <span class="input-label cvv-label"><%= get_lang_string("cvv")%></span>
                          </div>
                          <input type="hidden" id="adyen-encrypted-form-expiry-generationtime" value="generate-this-server-side" data-encrypted-name="generationtime" />
                          <div class="input-group cardname">
                            <input type="text" id="card_name" name="" class="form-control margin-bottom-10"  data-encrypted-name="holderName">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label"><%= get_lang_string("name_of_card")%></span>
                          </div>
                        </div>
                        <div class="inline-block margin-top-20 margin-bottom-10 custom-gradient w-100 text-center">
                          <p class="inline radius-button">                          
                          <input class="btn heading_title_color text-uppercase font-bold" id="buttonpay" style="padding:5px 20px;" type="submit" value="proceed">
                          </p>
                        </div>
                      </form>                      
                    </div>
                  </div>
                </div>  
              <%elsif $region == "BD"%>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="ghoori_bd" name="radio-group" class="pay_sel_radio" value="ghoori">
                  <label for="ghoori_bd" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase">Bkash</label>
                  <img src="/assets/bkash.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
                </p>
               <%elsif $region == "MY"%>
                 <div class="desc-box shadow-box mb-3" id="celecom_sec">
                  <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                    <input type="radio" id="celcom_my" name="radio-group" class="pay_sel_radio" value="celcom">
                    <label for="celcom_my" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase1">celcom</label>
                    <img src="/assets/celcom.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
                  </p>
                   <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="celcom_promo_msg">
                  </p>  
                </div> 
                <div class="desc-box shadow-box mb-3" id="unifi_sec">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="unify_my" name="radio-group" class="pay_sel_radio" value="unifi">
                  <label for="unify_my" class="mb-0 shemaroo-color9 font-mregular font-size1">unifi</label>
                  <img src="/assets/unifi.png" class="pull-right" alt="unifi" title="unifi" style="width: 62px;">
                </p>
                <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="unifi_promo_msg"></p>
              </div>
 <!--               <div class="desc-box shadow-box mb-3" id="boost_sec">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="boost_my" name="radio-group" class="pay_sel_radio" value="boost">
                  <label for="boost_my" class="mb-0 shemaroo-color9 font-mregular font-size1">Boost</label>
                  <img src="/assets/Boost.png" class="pull-right" alt="boost" title="boost" style="width: 62px;">
                </p>
                <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="boost_promo_msg"></p>
              </div> -->
              <div class="desc-box shadow-box mb-3" id="digi_sec">
               <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="digi_my" name="radio-group" class="pay_sel_radio" value="digi">
                  <label for="digi_my" class="mb-0 shemaroo-color9 font-mregular font-size1">digi</label>
                  <img src="/assets/digi_logo.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay" style="width: 62px;">
                </p>
                <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="digi_promo_msg"></p>
              </div>
              <%elsif $region == "QA"%>
              <div class="desc-box shadow-box mb-3" id="ooredoo_sec">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="ooredoo_qa" name="radio-group" class="pay_sel_radio" value="ooredoo">
                  <label for="ooredoo_qa" class="mb-0 shemaroo-color9 font-mregular font-size1" style="color: #CF0610 !important;">Oordeoo</label>
                </p>
                <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="ooredoo_prm_msg"></p>
              </div>
              <% elsif $region == "KW" %>
                <div class="desc-box shadow-box mb-3" id="ooredoo_sec">              
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="ooredoo_sec">
                 <input type="radio" id="ooredoo_qa" name="radio-group" class="pay_sel_radio" value="ooredo_kuwait">
                 <label for="ooredoo_qa" class="mb-0 shemaroo-color9 font-mregular font-size1">Oordeoo</label>
                 </p>
                 <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="ooredoo_kw_prm_msg"></p>
                </div>
                <div class="desc-box shadow-box mb-3" id="viva_sec">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                 <input type="radio" id="viva_kuwait" name="radio-group" class="pay_sel_radio" value="viva_kuwait">
                 <label for="viva_kuwait" class="mb-0 shemaroo-color9 font-mregular font-size1">stc</label>
                </p> 
                 <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="viva_kw_prm_msg"></p>
              </div>
               <div class="desc-box shadow-box mb-3" id="zain_sec">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="zain_sec">
                <input type="radio" id="zain_kw" name="radio-group" class="pay_sel_radio" value="zain_kuwait">
                <label for="zain_kw" class="mb-0 shemaroo-color9 font-mregular font-size1" >Zain</label>
                </p>
                <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="zain_prm_msg"></p>
              </div>
              <% elsif $region == "OM" %>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="oman_sec">
                <input type="radio" id="omantel_om" name="radio-group" class="pay_sel_radio" value="omantel">
                <label for="omantel_om" class="mb-0 shemaroo-color9 font-mregular font-size1" style="color: #CF0610 !important;">Omantel</label>
              <% elsif $region == "SA"%>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="ksa_stc_sec">
                 <input type="radio" id="ksa_stc" name="radio-group" class="pay_sel_radio" value="ksa-stc">
                 <label for="ksa_stc" class="mb-0 shemaroo-color9 font-mregular font-size1">stc</label>
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="ksa_sec">
                 <input type="radio" id="ksa_zain" name="radio-group" class="pay_sel_radio" value="ksa-zain">
                 <label for="ksa_zain" class="mb-0 shemaroo-color9 font-mregular font-size1">ksa-zain</label>
                </p>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="mobily_sec">
                <input type="radio" id="mobily_sa" name="radio-group" class="pay_sel_radio" value="mobily">
                <label for="mobily_sa" class="mb-0 shemaroo-color9 font-mregular font-size1">Mobily</label>
                </p>
              <% elsif $region == "AE" %>
               <div class="desc-box shadow-box mb-3" id="etisalat_sec">
                 <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio" id="etisalat_ae" name="radio-group" class="pay_sel_radio" value="etisalat_uae">
                    <label for="etisalat_ae" class="mb-0 shemaroo-color9 font-mregular font-size1">Etisalat</label>
                </p>
                  <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="etisalat_promo_msg">
                  </p> 
                </div> 
                <div class="desc-box shadow-box mb-3" id="du_sec">
                  <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                    <input type="radio" id="du_uae" name="radio-group" class="pay_sel_radio"  value="du">
                    <label for="du_uae" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase1">du</label>
                    </p>
                  <p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0" id="du_promo_msg"></p>
                 </div>
              <%elsif $region == "BH"%>
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="stc_bahrain_sec">
                  <input type="radio" id="stc_bahrain" name="radio-group" class="pay_sel_radio" value="stc-bahrain">
                  <label for="stc_bahrain" class="mb-0 shemaroo-color9 font-mregular font-size1">stc</label>
                </p> 
              <%else%>
              <%end%> 
               <p class="mb-3 vcenter-align-content price-box shadow-box mb-3" id="google_pay_sec">
                  <input type="radio" id="google_pay" name="radio-group" class="pay_sel_radio" value="google">
                  <label for="google_pay" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%=get_lang_string("google_pay")%></label>
                  <img src="/assets/google_play.png" class="pull-right" alt="Google Pay" title="Google Pay">
                </p>				
						</div>
            <div class="float-left w-100 more_pay_options app-d-flex hv-center flex-column mt-4">
              <p class="font-bold app-color1 mb-0 font-size3">More Payment Options</p>
              <a href="javascript:void(0);">
                <img src="/assets/down_arrow1.svg" alt="" title="">
              </a>
            </div>	
					</div>
	      </div>
			</div>
		</div>
	</div>	
</div>	
<div class="modal" id="payment_success_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">              
        <p class="normal_txt margin-bottom-20"><%= get_lang_string("prem_plan_active")%><b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm" id="mobile_continue" onclick="tellAndroidSuccess('pack activated sucessfully')"><%= get_lang_string("ok")%></a>
            </p>
          </div>
        </div>      
      </div>
  </div>
</div>



  <div class="modal" id="unify_invalid">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Please check if you are connected to unifi WIFI connection & try again<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="unifi_ok"><%= get_lang_string("ok")%></a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>

<div class="modal" id="cupn_suc_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"></h5>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
        <%= get_lang_string("coupon_eligible_1")%> <b id="sel_pln_name"> </b> <%= get_lang_string("plan")%>.
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button2 margin-right-10">
              <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cupn_can"><%=get_lang_string("cancel")%></a>
            </p>
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="cupn_proc"><%=get_lang_string("proceed")%></a>
            </p>        
        </div>
      </div>   
    </div>
  </div>
</div>

<%if $region == "IN"%>
	<%=render "paytm_form"%>
	<%=render "lazy_pay_popup"%>
  <%=render "payu_form"%>
<%end%>
<input type="hidden" id="shipping_zip_codes" name="shipping_zip_codes" value="<%=@shipping_zip_codes%>">
<input type="hidden" name="user_selected_region" class="user_selected_region" value="<%=@region%>">
<%=render "check_valid_browser_type"%>
<%=render "new_pln_sumry_script"%>
<%=render "right_click_disable"%>
<script type="text/javascript">
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message); 
  }
</script>

 <script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);


  // $(document).on('keypress', ':input[type="number"]', function (e) {
  //   if (isNaN(e.key)) {
  //       return false;
  //   }
  // });


   (function($)
 {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      } else {
        this.value = "";
      }
    });
  };
}(jQuery));

    $("#wallet_phone").inputFilter(function(value) {
    return /^\d*$/.test(value);    
  });
  </script>