<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="mobile_plans_selector padding-top-80 padding-top-60 padding-bottom-30">
  <section class="full-width-content light plans_list_section min-height-div">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20">
        <h2 class="pull-left">Existing Plan</h2>
      </div>
    </div>
    <div class="row" style="margin: 0px;">
      <div class="plans_box all_categories block current_plans">
        <div class="pull-left w-100 margin-bottom-25">
          <div class="card">
            <div class="card-body">
              <div class="pull-left w-100">
                <div class="pull-left margin-bottom-0">
                  <h5 class="<%=@user_modified_plans['current_plans'].first['category']%>_color" style="<%=get_title_item_color(@user_modified_plans['current_plans'].first["category"])%>" id="heading_title_color"><%=@user_modified_plans['current_plans'].first["pack_title"]%></h5>
                  <br>
                  <span class="pull-left"><%=@user_modified_plans['current_plans'].first['category']%></span>
                </div>
                <div class="pull-right margin-bottom-0">
                  <span class="pull-right text-uppercase text-right">
                    <small class="pull-right"><%=@user_modified_plans['current_plans'].first['plan_title']%></small> 
                    <br><b><%=@user_modified_plans['current_plans'].first['currency_symbol']%>&nbsp;<%=@user_modified_plans['current_plans'].first['discounted_price']%></b>
                  </span>      
                </div>    
              </div>
              <div class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
                <span><small>next billing</small></span><br>
                <span class="date"><%=DateTime.parse(@user_modified_plans['current_plan_expiry_date']).strftime("%d %b %Y")%></span>                    
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
        <h2 class="pull-left">Downgrade To</h2>
      </div>
    </div>
    <%@user_modified_plans['downgrade_plans'].each do |dp|%>
      <div class="odd-box-wrap">
        <div class="individual_category plans_box inline-block margin-bottom-10 odd-box">
          <div class="card">
            <div class="card-body">
              <ul class="list-none padding-left-0 margin-bottom-0 packs_lists">
                <li>
                  <h5 class="<%=dp["category"]%>_color" style="<%=get_title_item_color(dp["category"])%>" id="heading_title_color"><%=dp["pack_title"]%></h5>
                  <div class="plan_list_show">
                    <ul class="padding-left-10 list-none">
                      <% dp["pack_details"].each_with_index do |pd,index|%>
                        <%unless pd["value"].blank?%>
                          <%if index != 0 %>
                            <li class="shemaroo-color2 font-regular border-0 margin-right-0 w-100"><%=pd["value"]%></li>
                          <%end%>
                        <%end%>
                      <%end%>
                    </ul>  
                  </div>
                  <p class="w-100"><%=dp["pack_details"].first["value"] unless dp["pack_details"].blank?%></p>
                </li>
                <li class="text-center downgrade_plan" data-pack-det="<%=dp['plan_id']%>|<%=dp['catalog_id']%>|<%=dp['subscription_category_id']%>|<%=dp['category']%>|<%=dp['pack_title']%>|<%=dp['plan_title']%>|<%=dp['discounted_price']%>|<%=dp['currency_symbol']%>|<%=dp['pg_price']['adyen']%>|<%=dp['currency']%>|<%=@plan_payment_type%>|" id="<%=dp['category']%>_<%=dp['plan_title'].downcase%>">
                  <span class="text-uppercase block"><%=dp['plan_title']%></span>
                  <span class="block price"><%=dp['currency_symbol']%>&nbsp;<%=dp['discounted_price']%></span>
                <!--   <span class="block"><%#=dp['currency_symbol']%>&nbsp;<%#=dp['price']%></span> -->
                </li>
              </ul>
              <p class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- padding-left-0 padding-right-0 margin-bottom-0">
                <img src="/assets/italic_info.jpg" class="toggle_description cursor-pointer" alt="toggle description">
              </p>
            </div>
          </div>
        </div>
      </div>
   <%end%>
    <input type="hidden"  class="user_downgrade_plans" value="<%=@downgrade_plans%>">
    <div class="modal" id="confirm_downgrade_plan_modification_pop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h6 class="margin-bottom-10 margin-top-5">Confirm Plan Downgrade</h6>
            <ul class="pull-left w-100 list-none padding-left-0 margin-bottom-20">
              <li class="heading text-uppercase margin-bottom-10 font-bold">From</li>
              <li class="heading text-uppercase margin-bottom-10 font-bold">to</li>
              <li class="exist_plan_title"><%=@user_modified_plans['current_plans'].first['category'].gsub("_" ," ").capitalize%></li>
              <li class="new_plan_title">all_access_pack</li>
              <li class="exist_category_type normal_txt border-bottom"><%=@user_modified_plans['current_plans'].first['plan_title'].upcase%><span class="pull-left w-100 plan_valid_till">Access till on <%=DateTime.parse(@user_modified_plans['current_plan_expiry_date']).strftime("%d %b %Y")%></li>
              <li class="can-valid normal_txt border-bottom"><span class="new_plan_category">yearly</span><span class="pull-left w-100 plan_valid_till">Next  Billing on <span id="next_billing_date"><%=DateTime.parse(@user_modified_plans['current_plan_expiry_date']).strftime("%d %b %Y")%></span></span></li>
              <li class="heading text-uppercase margin-bottom-10 margin-top-10 font-bold w-100">amount payable for downgrade</li>
              <li class="new_plan_title">Punjabi</li>
              <li class="w-100 modify_plan_amount txt-success" id="modify_downgrade_amount"></li>
            </ul>
            <div class="inline-block w-100 custom-gradient margin-bottom-15 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10">
              <a href="/plans/downgrade_user_plan/<%=@user_modified_plans['current_plans'].first['plan_id']%>" class="text-uppercase btn gradient2 font-bold" id="">cancel</a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold modify-downgrade-confirm" id="">confirm</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>
  </section>
  <section class="plans_footer">
    <div class="inside-container">
      <div class="pull-left">
        <p class="text-uppercase margin-bottom-0"><span id="plans_count"></span> 1 plan selected</p>
        <span id="currency" class="plan_currency"></span>
        <span id="amount" class="plan_amount"></span>
      </div>
      <div class="pull-right light">
        <div class="inline-block margin-top-10 margin-bottom-10 custom-gradient">
          <p class="inline radius-button">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="downgrade_plan_proceed">Proceed</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var free_trail_status = "<%=@free_trail_status%>";
    if(free_trail_status == "true"){
      var free_trail_end_date = "<%=@free_trail_end_date%>";
      $("#next_billing_date").text(free_trail_end_date);
    }
    $(".toggle_description").click(function() {
   
      var a = $(".full-width-content").outerHeight();
      if(($(this).parent("p").parent(".card-body").find(".plan_list_show")).is(":visible")) {
        $(".plan_list_show").hide();
        $(this).parent("p").parent(".card-body").find(".plan_list_show").hide();
      }
      else {
        $(".plan_list_show").hide();
        var b = $(this).parent("p").parent(".card-body").outerHeight();
        var offset = $(this).offset();
        var c = offset.top;
        
        $(this).parent("p").parent(".card-body").find(".plan_list_show").show().css("top",b);
        var e = $(this).parent("p").parent(".card-body").find(".plan_list_show").outerHeight();
        $(this).parent("p").parent(".card-body").toggleClass("box-open");

        var d = a - c;
        if(d < e) {        
          $(this).parent("p").parent(".card-body").addClass("reverseBox");
          $(this).parent("p").parent(".card-body").find(".plan_list_show").show().css({"top":"unset", "bottom":b});
        }
      }
      

    });

    var  keysToRemove = ["modify_downgrade_current_plan_info","modify_downgrade_selected_plan_info","modify_downgrade_price_charged","modify_downgrade_actual_price","modify_downgrade_plan_order_id"];
            keysToRemove.forEach(k => localStorage.removeItem(k))
    var current_plan_id = "<%=@user_modified_plans['current_plans'].first['plan_id']%>";
    var current_plan_sub_id = "<%=@user_modified_plans['current_plans'].first['subscription_category_id']%>"
     var current_plan_category_id = "<%=@user_modified_plans['current_plans'].first['catalog_id']%>"
     var current_plan_name = "<%=@user_modified_plans['current_plans'].first['pack_title']%>";
     var current_plan_category_type = "<%=@user_modified_plans['current_plans'].first['category']%>";
     var current_plan_type = "<%=@user_modified_plans['current_plans'].first['plan_title']%>"
    localStorage.setItem("modify_downgrade_current_plan_info",current_plan_id+"|"+current_plan_sub_id+"|"+current_plan_category_id+"|"+current_plan_name+"|"+current_plan_category_type+"|"+current_plan_type)


  function remove_active_class(selected_plan_id){
   var all_downgrade_plans = JSON.parse($(".user_downgrade_plans").val())
   for(i=0;i<all_downgrade_plans.length;i++){
     if(all_downgrade_plans[i] != selected_plan_id){
      $("#"+all_downgrade_plans[i]).removeClass("active");
      $("#"+all_downgrade_plans[i]).css("background","");
     }
   }
  }

  $(".downgrade_plan").click(function(){
    var downgrade_plans_count = "<%=@user_modified_plans['downgrade_plans'].count%>";
    if(downgrade_plans_count > 1){
      remove_active_class($(this).attr("id"))
    }
    var gradient = $(this).siblings("li").find("h5").attr("class");
    var selected_style = $("."+gradient).attr("style").split("background: ")[1];
    $(this).css("background",selected_style);
    $(this).addClass("active");
    var selected_plan_id = $(this).attr("data-pack-det");
    localStorage.setItem("modify_downgrade_selected_plan_info",selected_plan_id);
    var selected_plan_info = selected_plan_id.split("|");
    $(".plan_currency").text(selected_plan_info[7]);
    $(".plan_amount").text("0.00");
    $(".plans_footer").show();
  })

  
  $("#downgrade_plan_proceed").click(function(){
    var user_selected_pack_info = localStorage.getItem("modify_downgrade_selected_plan_info").split("|");
    $(".new_plan_title").text(user_selected_pack_info[3].replace("_" , " ").substr(0,1).toUpperCase()+user_selected_pack_info[3].replace("_" , " ").substr(1));
     $(".new_plan_category").text(user_selected_pack_info[5].toUpperCase());
     $("#modify_downgrade_amount").text(user_selected_pack_info[7]+" 0.00")
    $("#confirm_downgrade_plan_modification_pop").modal("show");
  })

  $(".modify-downgrade-confirm").click(function(){
    $(this).text("Confirm...");
    var current_plan_info = localStorage.getItem("modify_downgrade_current_plan_info").split("|");
    var user_selected_pack_info = localStorage.getItem("modify_downgrade_selected_plan_info").split("|");
    var new_plan_category = user_selected_pack_info[3];
    var currency = user_selected_pack_info[9];
    var plan_actual_amount = user_selected_pack_info[6];
    var selected_plan_catalog_id = user_selected_pack_info[1];
    var price_charged = user_selected_pack_info[6]; 
    smartech('dispatch', 'downgrade', {
      'user_id': getShemarooCookies().user_analytical_id,
      'pack_name': new_plan_category,
      'is_loggedIn': '1'
    })
     $.ajax({
        url: "/plans/init_transaction",
        type: 'POST',
        data: { 
           pack_category: new_plan_category,
           currency: currency ,
           actual_price: plan_actual_amount,
           catalog_id: selected_plan_catalog_id,
           charged_price: localStorage.getItem("price_charged"),
           modify_plan_type: "downgrade",
           current_plan_id: current_plan_info[0],
           currentplan_sub_id: current_plan_info[1],
           new_plan_id: user_selected_pack_info[0],
           new_plan_sub_id: user_selected_pack_info[2],
           new_plan_catalog_id: user_selected_pack_info[1],
           payment_gateway: user_selected_pack_info[10]
        },
        success: function(response){
          //if(response.paymenttype == "adyen"){
            window.location = "/plans/view_plans"
          //}
       }
    });
  })

  })
</script>