<%
   meta title: "Payment success",
    description: "Payment success",
    keywords: "Payment success"
%>
<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
      <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
        <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
        <img src="/assets/success.png" class="status_image" alt="Transaction Success" title="Transaction Success">
       <p class="font-regular margin-bottom-15"><%=@message%></p> 
        <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%=@transaction_id%></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Order ID </p>
          <p class="font-bold margin-bottom-20 font-size3 shemaroo-color1"><%=@order_id%></p>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="/" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue">continue browsing</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
  var paypal_suc_st = "<%=@status%>"
  if(paypal_suc_st == "success"){
     
  }
});  
</script>