<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-15">
          <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
          <img src="<%=@status == "success" ? "/assets/success.png" : "/assets/transaction_failed.svg"%>" class="status_image" alt="something went wrong" title="something went wrong">
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-regular margin-bottom-10 font-size3 shemaroo-color1"><%=params[:order_id]%></p>
            <%if @status == "success"%>
              <p class="font-regular margin-bottom-0">Price Charged: &nbsp;<%=@price%></p>
                <p class="font-bold margin-bottom-0 font-size3 shemaroo-color1"><b>Plan: </b>&nbsp;<span class="suc_mv_title"><%=@pln_tit%></span></p>
               <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Expiry Date: &nbsp;<%=(Time.parse(@pln_exp_st)).strftime("%d %b %Y %I:%M:%S %p")%></b></p>
            <%end%>
          <p class="margin-bottom-0 font-regular margin-bottom-15"><strong><%=@message%></strong></p>
          <%if $region == "IN" && @status == "success"%>
            <!-- <p class="font-regular margin-bottom-20 font-size2 shemaroo-color1">We’re happy to provide you your DocsApp coupon code: <b>CARE4U</b> to avail unlimited Doctor consultation for you and your family for a period of 1 month. Avail offer on <a href="javascript:void(0)" id="doc_app_link">https://rb.docsapp.in/shemaroo </a>before 15/06/2020. <a href="javascript:void(0)" id="doc_app_tc">T&C Apply.</a></p> -->
          <%end%>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="<%=(@status == 'success') ? '/' : '/plans' %>" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=@message%>')">
                <%if @status == "success"%>
                 continue
                 <%else%>
                 Try again
                 <%end%>
               </a>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>


<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
   var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "Registered"
    var tvod_type  = localStorage.getItem("mv_cnt_type")
   if(tvod_type != undefined && localStorage.getItem("mv_tvod_url") != undefined){
    $("#mobile_continue").attr("href",localStorage.getItem("mv_tvod_url"))
   }
    var tc_url = "<%=SITE%>/shemaroo_docs_offer"
   $("#doc_app_link").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android") {
       Android.doAmazonpayment("externalurl","https://rb.docsapp.in/shemaroo"); 
      }
      else{
       $("#doc_app_link").attr("href","https://rb.docsapp.in/shemaroo")
      }
    })
    $("#doc_app_tc").click(function(){
     if(getShemarooCookies().mobile_browser_type == "android") {
      Android.doAmazonpayment("externalurl",tc_url+"?type=mobile"); 

    }
    else{
      $("#doc_app_tc").attr("href",tc_url)
    }
  });

    var plan_name = ""
    var pln_type = ""
    var coupon_code_name = ""
    var cur_sym  = ""

    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] }).join(",")
      pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] }).join(",")
      cur_sym = localStorage.getItem("first_purchase_plans_details").split("|")[4]
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] }).join(",")
      pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] }).join(",")
      cur_sym = localStorage.getItem("new_plans_details").split("|")[4]
    }

     
    if(localStorage.getItem("first_purcahse_promo_code")){
      coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
    }
    var cu_co_type = localStorage.getItem("promocode_type")
    var coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
     var nc_coupon_code = localStorage.getItem("first_purcahse_promo_flag")
    if(coupon_code_name == undefined){
      coupon_code_name = localStorage.getItem("new_plan_promo_code")
      nc_coupon_code  = localStorage.getItem("new_plan_promo_flag")
      if(coupon_code_name == undefined){
        coupon_code_name = "NA"
        nc_coupon_code = "NA"
      }
    }
    nc_coupon_code = nc_coupon_code == "true" ? 1 : 0

    if(getShemarooCookies().mobile_browser_type == "android"){
      var user_anal_id = getShemarooCookies().user_analytical_id;
      branch.logout();
      branch.setIdentity(user_anal_id);
    }
    var message = "<%=@message%>"
    var status_message = "<%=@status%>"
    var orderno = "<%=params[:order_id]%>"
    var price = "<%=@price%>"
    // var plan_name = "";
    var currency = "<%=@currency%>"
    var cupn_code = "<%=@coupon_code%>"
    var cupn_tit = "<%=@coupon_title%>"
    var cupn_cde_st = "<%=@coupon_code.length == 0 ?  "no" : "yes"%>"
    send_netcore_sub_status()


    function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }



    function branch_purcahse_event(price,currency,plan_name,pln_type){
      var today = new Date();
      var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
      var h =  today.getHours(), m = today.getMinutes();
      var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
      var region = $(".user_region").val();
      var user_city = $(".user_city").val();
      var event_and_custom_data = {
       "transaction_id": orderno,
       "currency": region == "IN" ? "INR" : "USD",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': $.cookie('user_state'),
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
      };

      if(getShemarooCookies().mobile_browser_type == "android"){
        var app_version = ""
        var mobile_browser_type = getShemarooCookies().mobile_browser_type
        try{
          if(getShemarooCookies().app_version != undefined){
            app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
          }
          if (app_version != undefined && app_version > 69 && app_version < 94 && mobile_browser_type == "android"){
          Android.doPurchase(orderno+"|"+plan_name+"|"+price+"|"+"GooglePay"+"|"+cupn_cde_st+"|"+cupn_tit+"|"+pln_type+"|"+cupn_code+"|"+sub_type+"|"+message+"|Plan purchase|"+cur_sym)
          purchase_andrd()      
           }
           else if(app_version < 69){
            Android.doPurchase(orderno+"|"+cur_sym+"|"+price+"|Plan purchase|"+plan_name)
            purchase_andrd()      
           }  

         }
        catch(err){
          //purchase_andrd()
        }
        if(app_version != undefined && app_version > 80 && mobile_browser_type == "android"){
           Android.doSubscriptionSuccess(orderno+"|"+"GooglePay"+"|"+nc_coupon_code+"|"+cu_co_type+"|"+plan_name+"|"+pln_type+"|"+"INR"+"|"+coupon_code_name+"|"+price+"|"+sub_type+"|android|online"+"|"+user_state)
        }
      }
      else{
        //purchase_andrd()
      }
    }

    function purchase_andrd(){
      branch.logEvent(
       "Purchase_App",
       {
        "amount": price,
        "revenue": parseFloat(price) ,
        "payment_mode": "GooglePay",
        "description": "Plan Purchase",
        "user_id": getShemarooCookies().user_analytical_id,
        "plan_type": pln_type,
        "coupon_code": cupn_code,
        "city": user_city,
        "message": message,
        "plan_name": plan_name,
        "productName": plan_name,
        "date_event": date,
        "time_event": time,
        "subscription_type": sub_type,
        "region": region,
        "coupon_code_name": coupon_code_name,
        "order_id": orderno,
        "session_id": getShemarooCookies().user_id,
        'user_state': user_state
       },
       function(err) { console.log(err); }
      );
    }


    if(status_message == "success"){
      netcore_payment_success()
      
      //_paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1]);
       /*branch.logEvent(
     "SUBSCRIBE",
      {'amount': price,
      'currency': currency,
      'user_id': getShemarooCookies().user_analytical_id},
     function(err) { console.log(err); }
     );*/

     branch_purcahse_event(price,currency,plan_name,pln_type)
     branch_sub_pack_cnt()
    _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1, {dimension36: plan_name, dimension37: price}]);

    function payment_resp_andrd(){
      branch.logEvent(
     "Transaction_Success",
     {  "transaction_id": orderno,
        "pack_name": plan_name,
        "pack_value": price,
        "pack_duration": '',
        "transaction_value": '',
        "transaction_status": 'Success',
        "transaction_mechanism": '',
        "transaction_coupon": '',
        "auto_renew": ''
      },
     function(err) { console.log(err); }
     );
    }

    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionsuccess(orderno+"|"+plan_name+"|"+price);
      }
      catch(err){
        payment_resp_andrd()
      }
    }
    else{
      payment_resp_andrd()  
    }

     fb_pixel_subscribe_event()
    }
    if(status_message == "failure"){
     _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction failure &'+message, 1, {dimension23: message, dimension22: 'NA'}]);
      smartech('dispatch', 'sub_failed', {
        'order_id': orderno,
        'error_reason': message
      });
     fb_pixel_transaction_fail_event()
     var trn_id = "<%=@order_id%>"
     var andr_ver = get_andrd_ver()
     if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){

       Android.doSubscriptionFailure(trn_id+"|"+"Transaction failure"+"|GooglePay|"+nc_coupon_code+"|"+cu_co_type+"|"+plan_name+"|"+pln_type+"|INR|"+price+"|"+coupon_code_name+"|"+""+"|"+sub_type+"|android"+"|"+ user_state)

     }
     else{
       //pymnt_failure_branch(plan_name,trn_id,price,region,user_city,date,time,pln_type)
     }
     branch_transactionfail_event()
    }

  function fb_pixel_subscribe_event(){
    var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    if(plan_name.join(",") != "test_tvod"){
      fbq('track', 'Subscribe', {
        value: price,
        currency: 'INR',
        content_name: plan_name,
      })

      fbq('track', 'Purchase', {
        value: parseFloat(price),
        currency: 'INR',
      })

    }
  }

  function fb_pixel_transaction_fail_event(){
    fbq('track', 'TransactionFailed', {
    value: 0,
    currency: 'INR',
    });
  }

  function netcore_payment_success(){
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }

      smartech('dispatch', 'subscribe success', {
        'user_id': getShemarooCookies().user_analytical_id,
        'user_state': $.cookie('user_actv_sub_status'),
        'amount': price,
        'currency': currency,
        'plan_name': plan_name,
        'transaction_id': orderno,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '',
        'transaction_status': 'Success',
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': ''
      });
    }

   /* $("#mobile_continue").click(function(){
      var payment_status = "<%=@status%>"
      if(payment_status == "success"){
        window.location = "/"
      }
      else{
        window.location = "/plans"
      }
    }) */
    function branch_transactionfail_event(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
      var transaction_id = "<%=params[:order_id]%>"
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      _paq.push(['trackEvent', 'Payments', 'Activity', 'Subscription_Cancelled', 1, {dimension36: plan_name, dimension37: price, dimension23: message, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id, dimension14: getShemarooCookies().user_analytical_id}]);

      function tran_failed_andrd(){
        branch.logEvent(
         "Transaction_Failed",
          {"transaction_id": transaction_id,
          "pack_name": plan_name,
          "pack_value": price,
          "pack_duration": '',
          "transaction_value": '0',
          "transaction_status": status_message,
          "transaction_mechanism": '',
          "transaction_coupon": '',
          "auto_renew": '',
          "failure_reason": message
          },
         function(err) { console.log(err); }
        );
      }
    var user_region = $(".user_region").val()
    /*  smartech('dispatch', 'Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
      });

       Apxor.logEvent('Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
 },"PURCHASE_PLAN"); */

      tran_failed_andrd()

    /*  branch.logEvent(
     "Subscription_Cancelled",
      {"transaction_id": transaction_id,
      "pack_name": plan_name,
      "pack_value": price,
      "pack_duration": '',
      "transaction_value": '0',
      "transaction_status": status_message,
      "transaction_mechanism": '',
      "transaction_coupon": '',
      "auto_renew": '',
      "failure_reason": message,
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "userid": getShemarooCookies().user_analytical_id,
      "session_id": getShemarooCookies().user_id
      },
     function(err) { console.log(err); }
     ); */
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doTransactionfailed(transaction_id+"|"+plan_name+"|"+price+"|"+status_message+"|"+message);
        }
        catch(err){
          tran_failed_andrd()
        }
   }
    }


     function branch_sub_pack_cnt(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var mnt_cnt = 0;
    var year_cnt = 0;
    var all_type_dt = "";
    if(localStorage.getItem("first_purchase_plans_details")){
     all_type_dt  =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    all_type_dt =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
   var counts = {};
   all_type_dt.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
  if(counts["Monthly"] != undefined){
    var mnt_cnt = counts["Monthly"]
    for(i=0;i<mnt_cnt;i++){
      function sub_monthly_andrd(){
        branch.logEvent(
          "Subscription_MonthlyPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              'user_state': $.cookie('user_actv_sub_status'),
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsmonthlypack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_monthly_andrd()
        }
      }
      else{
        sub_monthly_andrd()
      }
    }
  }
  else if(counts["Yearly"] != undefined){
    var year_cnt = counts["Yearly"]
    for(i=0;i<year_cnt;i++){
      function sub_annual_andrd(){
        branch.logEvent(
          "Subscription_AnnualPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              'user_state': $.cookie('user_actv_sub_status'),
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsannualpack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_annual_andrd()
        }
      }
      else{
        sub_annual_andrd()  
      }
    }
  }
  }


 function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}

 function pymnt_failure_branch(plan_name,transaction_id,price,region,user_city,date,time,pln_type){
  var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_custom_event",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "PayTM",
              "message": message,
              "coupon_code": cupn_code,
              "coupon_code_partner": cupn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "coupon_code_name": cupn_tit,
              "amount": price,
              "subscription_type": "fresh",
              "user id": user_id
            },
            "name": "Purchase_failure",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }

 
function dfr_pixel_event(prc){
  fbq('track', 'DFRPurchase', {
    value: parseFloat(prc),
    currency: 'INR',
    content_name: 'DFR_Purchase',
  });
}

function subscr_evnt(ev_name,or_id,pymt_mode,cupn_code,cupn_type,pln_name,pln_type,currency,cupn_name,price,reg,msg){
    var ev_det = {
      "event_name": ev_name,
      "order_id": or_id,
      "payment_mode": pymt_mode,
      "coupon_code": cupn_code,
      "coupon_code_type": cupn_type,
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "coupon_code_name": cupn_name,
      "price_charged_new": price,
      "subscription_type": "fresh",
      "transaction_type": "online",
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_state'),
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  if(ev_name == "Subscription_Failure"){
    ev_det = {
      "order_id": or_id,
      "message": msg,
      "payment_mode": pymt_mode,
      "coupon_code": "",
      "coupon_code_type": "",
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "pack_value_INR": price,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": "fresh",
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_state'),
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  }
    $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": ev_det },
      success: function(response){
      }
    });
  }


function send_netcore_sub_status(){
 var plan_name = ""
 var plan_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
  var pln_cnt = plan_name.length
  var coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
  var nc_coupon_code = localStorage.getItem("first_purcahse_promo_flag")
if(coupon_code_name == undefined){
   nc_coupon_code  = localStorage.getItem("new_plan_promo_flag")
  coupon_code_name = localStorage.getItem("new_plan_promo_code")
  if(coupon_code_name == undefined){
     coupon_code_name = "NA"
     nc_coupon_code  = "NA"
  }
}
nc_coupon_code = nc_coupon_code == "true" ? 1 : 0
var cu_co_type = localStorage.getItem("promocode_type")
  if(plan_name.length == 1 && plan_name.join(",") == "test_tvod"){
   plan_name = "tvod-"+localStorage.getItem("first_purchase_plans_details").split(",")[0].split("|")[10]
   pln_cnt = 1
   cu_co_type = ""
   coupon_code_name = "" 
   //if(getShemarooCookies().mobile_browser_type != "android"){
    dfr_pixel_event(prc)
   //}
  }
  else{
   plan_name = plan_name.join(",")
  }

  var msg ="<%=@message%>"
   var st = "<%=@status == "success" ? "True" : "False"%>"
   var user_region = $(".user_region").val()
   smartech('dispatch', 'Subscription_Result', {
    'user_id': getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    'status': st,
    'order_id': orderno,
    'message': msg,
    'payment_mode': "Google Wallet",
    'coupon_code': nc_coupon_code,
    'price_charged': parseFloat(price),
    'COUNTRY':user_region,
    'plan_name': plan_name,
    'plan_type': plan_type.join(","),
    //'plan_count': pln_cnt,
    'pack_value': parseFloat(price),
    'coupon_code_name': coupon_code_name
  });


/*Apxor.logEvent('Subscription_Result', {
    'user_id': getShemarooCookies().user_analytical_id,
    'status': st,
    'order_id': orderno,
    'message': msg,
    'payment_mode': "Google Wallet",
    'coupon_code': nc_coupon_code,
    'price_charged': parseFloat(price),
    'COUNTRY':user_region,
    'plan_name': plan_name,
    'plan_type': plan_type.join(","),
    'plan_count': pln_cnt,
    'pack_value': parseFloat(price),
    'coupon_code_name': coupon_code_name
},"PURCHASE_PLAN");*/

var sub_stat = "<%=@status%>"
var evn_name = 'Subscription_Failure'

var evn_st = "failure"
if(sub_stat == "success"){
  evn_name = 'Subscription_Success'
  evn_st = "success"
}else{
  price = 0
}

var plat_form = "web"
  if(getShemarooCookies().mobile_browser_type == "android"){
    plat_form = "android"
  }

var pack_value = localStorage.getItem("first_purchase_plan_price")
if(pack_value == undefined){
  pack_value = localStorage.getItem("new_plan_price")
}
var tvod_pln_type = plan_type.join(",")
if(tvod_pln_type.toLowerCase() == "daily"){
   tvod_pln_type = "tvod"
}
 
var andr_ver = get_andrd_ver()
if(andr_ver == "false"){
   subscr_evnt(evn_name,orderno,"GooglePay",nc_coupon_code,cu_co_type,plan_name,tvod_pln_type.toLowerCase(),"INR",coupon_code_name,parseFloat(price),user_region,message)
     smartech('dispatch', evn_name, {
      'user_id': getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_actv_sub_status'),
      "order_id": orderno,
      "payment_mode": "Google Wallet",
      "coupon_code": nc_coupon_code,
      "coupon_code_type": cu_co_type,
      "plan_name": plan_name,
      "plan_type": tvod_pln_type.toLowerCase(),
      "pack_value_currency": cur_sym,
      "pack_value_INR": parseFloat(price),
      "coupon_code_name": coupon_code_name,
      "price_charged_new": parseFloat(pack_value),
      "subscription_type": "fresh",
      "transaction_type": "online",
      "platform": plat_form,
      "message": message,
      'status': evn_st,
      "region": user_region
    });


    Apxor.logEvent(evn_name, {
    'user_id': getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    "order_id": orderno,
    "payment_mode": "Google Wallet",
    "coupon_code": nc_coupon_code,
    "coupon_code_type": cu_co_type,
    "plan_name": plan_name,
    "plan_type": tvod_pln_type.toLowerCase(),
    "pack_value_currency": cur_sym,
    "pack_value_INR": parseFloat(price),
    "coupon_code_name": coupon_code_name,
    "price_charged_new": parseFloat(pack_value),
    "subscription_type": "fresh",
    "transaction_type": "online",
    "platform": plat_form,
    "message": message,
    'status': evn_st,
    "region": user_region
      },"PURCHASE_PLAN");

    branch.logEvent(
    evn_name,
      {
        'user_id': getShemarooCookies().user_analytical_id,
        'user_state': $.cookie('user_actv_sub_status'),
        "order_id": orderno,
        "payment_mode": "Google Wallet",
        "coupon_code": nc_coupon_code,
        "coupon_code_type": cu_co_type,
        "plan_name": plan_name,
        "plan_type": tvod_pln_type.toLowerCase(),
        "pack_value_currency": cur_sym,
        "pack_value_INR": parseFloat(price),
        "coupon_code_name": coupon_code_name,
        "price_charged_new": parseFloat(pack_value),
        "subscription_type": "fresh",
        "transaction_type": "online",
        "platform": plat_form,
        "message": message,
        'status': evn_st,
        "region": user_region
      },
    function(err) { console.log(err); }
    );
  }
}
})
  

</script>
<script>
  var status = "<%=@status == "success" ? "true" : "false" %>"
   if (status == "true"){
    var orderno = "<%=params[:order_id]%>"
    gtag('event', 'conversion', {
        'send_to': 'AW-381231221/yoMrCPXH4ZECEPXA5LUB',
        'transaction_id': orderno
    });
  }

</script>