<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-15 pr-3 pl-3 pb-2 pt-2">
          <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
          <img src="<%=@status == "success" ? "/assets/success.png" : "/assets/transaction_failed.svg"%>" class="status_image" alt="something went wrong" title="something went wrong">
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%=params[:order_id]%></p>
           <input type="hidden" id="lzypay_order_id" value="<%=params[:order_id]%>">
            <%if @status == "success"%>
              <p class="font-regular margin-bottom-0">Price Charged: &nbsp;<%=@currency%> &nbsp;<%=@price%></p>
            <!--   <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Plan: </b>&nbsp;<%=@pln_tit%></p>
             <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Expiry Date: </b>&nbsp;<%#=Time.parse(@pln_exp_st).strftime("%d %b %Y")%></p> -->
            <%end%>
          <p class="margin-bottom-0 font-regular margin-bottom-15"><strong><%=@message%></strong></p>
          <!-- <p class="font-regular margin-bottom-20 font-size2 shemaroo-color1">We’re happy to provide you your DocsApp coupon code: CARE4U to avail unlimited Doctor consultation for you and your family for a period of 1 month. Avail offer on <a href="https://rb.docsapp.in/shemaroo" target="_blank">https://rb.docsapp.in/shemaroo </a>before 31/05/2020. <a href="/shemaroo_docsapp_offers.pdf" target="_blank">T&C Apply.</a></p> -->
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="<%=(@status == 'success') ? '/' : '/plans' %>" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=@message%>')">
                <%if @status == "success"%>
                 continue
                 <%else%>
                 Try again
                 <%end%>
               </a>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>

<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
</script>
<script type="text/javascript">
$(document).ready(function(){
  var tvod_type  = localStorage.getItem("mv_cnt_type")
   if(tvod_type != undefined && localStorage.getItem("mv_tvod_url") != undefined){
    $("#mobile_continue").attr("href",localStorage.getItem("mv_tvod_url"))
   }
  var message = "<%=@message%>"
      var status_message = "<%=@status%>"
      var orderno = $("#lzypay_order_id").val()
      var price = "<%=@price%>"
      var plan_name = "";
      var currency = "<%=@currency%>"
      var cupn_code = ""
      var cpn_type = ""
      var coupon_code_name = ""
      var pln_type = ""
      var cur_sym  = ""

      if(localStorage.getItem("first_purchase_plans_details")){
        plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
         pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
         cur_sym = localStorage.getItem("first_purchase_plans_details").split("|")[4]
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
        pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
        cur_sym = localStorage.getItem("new_plans_details").split("|")[4]
      }

      if(localStorage.getItem("first_purcahse_promo_code")){
        coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
      }
     send_netcore_sub_status(price)

    function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }

    function branch_purcahse_event(price,currency,plan_name){
      var today = new Date();
      var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
      var h =  today.getHours(), m = today.getMinutes();
      var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
      var region = $(".user_region").val();
      var user_city = $(".user_city").val();
      var event_and_custom_data = {
       "transaction_id": orderno,
       "currency": "INR",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
      };

      function purchase_andrd(){
        branch.logEvent(
         "Purchase_App",
         {
         "transaction_id": orderno,
         "currency": "INR",
         "revenue": parseFloat(price) ,
         "description": "Plan purchase",
         "productName": plan_name,
          "user_id": getShemarooCookies().user_analytical_id,
          "region": region,
          "city": user_city,
          "date_event": date,
          "time_event": time,
          "session_id": getShemarooCookies().user_id
         },
         function(err) { console.log(err); }
        );
      }


      if(getShemarooCookies().mobile_browser_type == "android" && app_version < 94){
        try{
          Android.doPurchase(orderno+"|INR|"+price+"|Plan purchase|"+plan_name);
        }
        catch(err){
          //purchase_andrd()
        }
        var andr_ver = get_andrd_ver()
        if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
            Android.doSubscriptionSuccess(orderno+"|"+"Lazypay"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+""+"|"+"INR"+"|"+coupon_code_name+"|"+""+"|fresh|android|online")
            purchase_andrd()
        }

      }
      else{
        //purchase_andrd()
      }
    }

     if(status_message == "success"){
      netcore_payment_success()
      
      //_paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1]);
       /*branch.logEvent(
     "SUBSCRIBE",
      {'amount': price,
      'currency': currency,
      'user_id': getShemarooCookies().user_analytical_id},
     function(err) { console.log(err); }
     );*/
     branch_purcahse_event(price,currency,plan_name)
     branch_sub_pack_cnt()
    _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1, {dimension36: plan_name, dimension37: price}]);

    function payment_resp_andrd(){
      branch.logEvent(
     "Transaction_Success",
     {  "transaction_id": orderno,
        "pack_name": plan_name,
        "pack_value": price,
        "pack_duration": '',
        "transaction_value": '',
        "transaction_status": 'Success',
        "transaction_mechanism": '',
        "transaction_coupon": '',
        "auto_renew": ''
      },
     function(err) { console.log(err); }
     );
    }

    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionsuccess(orderno+"|"+plan_name+"|"+price);
      }
      catch(err){
        payment_resp_andrd()
      }
    }
    else{
      payment_resp_andrd()  
    }

     fb_pixel_subscribe_event()
    }
    if(status_message == "failure"){
     _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction failure &'+message, 1, {dimension23: message, dimension22: 'NA'}]);
      smartech('dispatch', 'sub_failed', {
        'order_id': orderno,
        'error_reason': message
      });
     fb_pixel_transaction_fail_event()
     branch_transactionfail_event()
     var andr_ver = get_andrd_ver()
     if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
       Android.doSubscriptionFailure(tr_id+"|"+message+"|Lazypay|"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+"INR"+"|"+price+"|"+coupon_code_name+"|"+""+"|"+"fresh|android")
     }
    }

    function fb_pixel_subscribe_event(){
    var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    fbq('track', 'Subscribe', {
      value: price,
      currency: 'INR',
      content_name: plan_name,
    })
  }

  function fb_pixel_transaction_fail_event(){
    fbq('track', 'TransactionFailed', {
    value: 0,
    currency: 'INR',
    });
  }

  function netcore_payment_success(){
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }

      smartech('dispatch', 'subscribe success', {
        'user_id': getShemarooCookies().user_analytical_id,
        'amount': price,
        'currency': currency,
        'plan_name': plan_name,
        'transaction_id': orderno,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '',
        'transaction_status': 'Success',
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'user_state': $.cookie('user_actv_sub_status')
      });
    }

    function branch_transactionfail_event(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
      var transaction_id = "<%=params[:ORDERID]%>"
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      _paq.push(['trackEvent', 'Payments', 'Activity', 'Subscription_Cancelled', 1, {dimension36: plan_name, dimension37: price, dimension23: message, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id, dimension14: getShemarooCookies().user_analytical_id}]);

      function tran_failed_andrd(){
        branch.logEvent(
         "Transaction_Failed",
          {"transaction_id": transaction_id,
          "pack_name": plan_name,
          "pack_value": price,
          "pack_duration": '',
          "transaction_value": '0',
          "transaction_status": status_message,
          "transaction_mechanism": '',
          "transaction_coupon": '',
          "auto_renew": '',
          "failure_reason": message
          },
         function(err) { console.log(err); }
        );
      }

      /*smartech('dispatch', 'Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id
      });

       Apxor.logEvent('Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_ids
       },"PURCHASE_PLAN"); */


      tran_failed_andrd()

     /* branch.logEvent(
     "Subscription_Cancelled",
      {"transaction_id": transaction_id,
      "pack_name": plan_name,
      "pack_value": price,
      "pack_duration": '',
      "transaction_value": '0',
      "transaction_status": status_message,
      "transaction_mechanism": '',
      "transaction_coupon": '',
      "auto_renew": '',
      "failure_reason": message,
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "userid": getShemarooCookies().user_analytical_id,
      "session_id": getShemarooCookies().user_id
      },
     function(err) { console.log(err); }
     ); */
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doTransactionfailed(transaction_id+"|"+plan_name+"|"+price+"|"+status_message+"|"+message);
        }
        catch(err){
          tran_failed_andrd()
        }
   }
    }


     function branch_sub_pack_cnt(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var mnt_cnt = 0;
    var year_cnt = 0;
    var all_type_dt = "";
    if(localStorage.getItem("first_purchase_plans_details")){
     all_type_dt  =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    all_type_dt =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
   var counts = {};
   all_type_dt.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
  if(counts["Monthly"] != undefined){
    var mnt_cnt = counts["Monthly"]
    for(i=0;i<mnt_cnt;i++){
      function sub_monthly_andrd(){
        branch.logEvent(
          "Subscription_MonthlyPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id,
              'user_state': $.cookie('user_actv_sub_status')
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsmonthlypack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_monthly_andrd()
        }
      }
      else{
        sub_monthly_andrd()
      }
    }
  }
  else if(counts["Yearly"] != undefined){
    var year_cnt = counts["Yearly"]
    for(i=0;i<year_cnt;i++){
      function sub_annual_andrd(){
        branch.logEvent(
          "Subscription_AnnualPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id,
              'user_state': $.cookie('user_actv_sub_status')
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsannualpack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_annual_andrd()
        }
      }
      else{
        sub_annual_andrd()  
      }
    }
  }
  }  


function subscr_evnt(ev_name,or_id,pymt_mode,cupn_code,cupn_type,pln_name,pln_type,currency,cupn_name,price,reg,msg){
    var ev_det = {
      "event_name": ev_name,
      "order_id": or_id,
      "payment_mode": pymt_mode,
      "coupon_code": cupn_code,
      "coupon_code_type": cupn_type,
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "coupon_code_name": cupn_name,
      "price_charged_new": price,
      "subscription_type": "fresh",
      "transaction_type": "online",
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  if(ev_name == "Subscription_Failure"){
    ev_det = {
      "order_id": or_id,
      "message": msg,
      "payment_mode": pymt_mode,
      "coupon_code": "",
      "coupon_code_type": "",
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "pack_value_INR": price,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": "fresh",
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  }
    $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": ev_det },
      success: function(response){
      }
    });
  }

  function send_netcore_sub_status(prc){
   var plan_name = ""
 var plan_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }

  var st = "<%=@status == "success" ? "True" : "False"%>"
  var user_region = $(".user_region").val()
smartech('dispatch', 'Subscription_Result', {
    'status': st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Lazypay",
    'coupon_code': 'False',
    'price_charged': parseFloat(price),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(price),
    'coupon_code_name': '',
    'user_state': $.cookie('user_actv_sub_status')
  });

Apxor.logEvent('Subscription_Result', {
    'status': st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Lazypay",
    'coupon_code': 'False',
    'price_charged': parseFloat(price),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(price),
    'coupon_code_name': '',
    'user_state': $.cookie('user_actv_sub_status')
},"PURCHASE_PLAN");

var sub_stat = "<%=@status%>"
var evn_name = 'subscription_failure'
var plat_form = "web"
if(getShemarooCookies().mobile_browser_type == "android"){
  plat_form = "android"
}
 
var evn_st = "failure"
  if(sub_stat == "success"){
    evn_name = 'subscription_success'
    evn_st = "success"
  }else{
    prc = 0
  }
var coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
   var nc_coupon_code = localStorage.getItem("first_purcahse_promo_flag")

if(coupon_code_name == undefined){
 nc_coupon_code  = localStorage.getItem("new_plan_promo_flag")
  coupon_code_name = localStorage.getItem("new_plan_promo_code")
  if(coupon_code_name == undefined){
    coupon_code_name = "NA"
    nc_coupon_code = "NA"
  }
}
nc_coupon_code = nc_coupon_code == "true" ? 1 : 0
var cu_co_type = localStorage.getItem("promocode_type")
var pack_value = localStorage.getItem("first_purchase_plan_price")
if(pack_value == undefined){
  pack_value = localStorage.getItem("new_plan_price")
}
 
 var andr_ver = get_andrd_ver()
if(andr_ver == "false"){
  subscr_evnt(evn_name,orderno,"Lazypay",nc_coupon_code,cu_co_type,plan_name,tvod_pln_type.toLowerCase(),"INR",coupon_code_name,parseFloat(prc),user_region,message)
    smartech('dispatch', evn_name, {
      'status': evn_st,
      'user_id': getShemarooCookies().user_analytical_id,
      'order_id': orderno,
      'message': message,
      'payment_mode': "Lazypay",
      'coupon_code': nc_coupon_code,
      'COUNTRY':user_region,
      'plan_name': plan_name.join(","),
      'plan_type': plan_type.join(","),
      //'plan_count': plan_name.length,
      'pack_value': parseFloat(pack_value),
      'coupon_code_type': cu_co_type, 
       'price_charged': parseFloat(prc),
       'coupon_code_name': coupon_code_name,
       "subscription_type":"fresh",
       "platform":  plat_form,
       "transaction_type" : "online",
       "pack_value_currency": cur_sym,
       'user_state': $.cookie('user_actv_sub_status')
    });
  Apxor.logEvent(evn_name, {
    'status': evn_st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Lazypay",
    'coupon_code': nc_coupon_code,
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(pack_value),
    'coupon_code_type': cu_co_type, 
     'price_charged': parseFloat(prc),
     'coupon_code_name': coupon_code_name,
     "platform":  plat_form,
     "transaction_type" : "online",
     "pack_value_INR": parseFloat(prc),
     "pack_value_currency": cur_sym,
     "region": user_region,
     'user_state': $.cookie('user_actv_sub_status')
  },"PURCHASE_PLAN");
}


 branch.logEvent(
evn_name,
  {
"order_id": orderno,
"payment_mode": "Lazypay",
"coupon_code": nc_coupon_code, 
"coupon_code_type": cu_co_type,
"plan_name": plan_name,
"plan_type": plan_type.join(","),
// "plan_count": plan_name.length,
"pack_value":  parseFloat(pack_value),
"coupon_code_name": coupon_code_name,
"price_charged_new":  parseFloat(prc),
"subscription_type":"fresh",
"platform":  plat_form,
"transaction_type" : "online",
"pack_value_INR": parseFloat(prc),
"pack_value_currency": cur_sym,
"region": user_region,
'user_state': $.cookie('user_actv_sub_status')

  },
function(err) { console.log(err); }
);




}


});
</script>
