<div class="mobile_plans_selector padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <!-- <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20 onboarding-box-wrap">
          <h2 class="pull-left margin-bottom-10">Summary</h2>
        </div>
      </div>
        <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20">
          <p class="amz_pay_mobile">Amazon pay</p>
        </div>
 -->
    </div>
  </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>


<script type="text/javascript">
  
    $('.header-section, .footer-section, .ft_sec').hide();
    $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
  $(".loader").show()
	$(document).ready(function(){
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
    $.cookie('amz_chrm_custm_tab',"true", { expires: 14,path: '/'});
    var order_det = window.location.search.split("?")[1].split("&user_id=");
    $.cookie('user_id',order_det[1], { expires: 14,path: '/'});
    //alert(getShemarooCookies().first_purcahse_amz_order_id);
		//$(".amz_pay_mobile").click(function(){
    //$.cookie('user_id',order_det[1], { expires: 14,path: '/'});
    // var check_wallet_url = window.location.search.includes("type=wallet")
    // if(check_wallet_url == true){
    //   var walt_url = window.location.search.split("?")[0]
    //   window.location = walt_url
    // }
    // else{
    var params = order_det[0];
     options = {scope:'payments::conduct_silentpay',response_type:'code', state : params,popup : false
    };
    //amazon.Login.authorize(options,'https://preprod.shemaroome.com/payment/amazonpay');
    amazon.Login.authorize(options,'https://www.shemaroome.com/payment/amazonpay');
    return false;
    //})
    // }
	})
</script>