<%if Rails.env.production?%>
  <script src="https://live.adyen.com/hpp/cse/js/1115481402240181.shtml"></script>
<%else%>
  <script src="https://test.adyen.com/hpp/cse/js/8215290589662396.shtml"></script>
<%end%>
 <div class="mobile_plans_selector padding-top-80">
  <section class="onboarding-bg min-height-div">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-top-20">
        <h2 class="pull-left margin-bottom-10">Select Payment Method</h2>
        <!-- <a href="/plans" class="pull-right margin-top-5">All Plans</a> -->
        </div>
      </div>
      <%=render "layouts/page_height_setting"%>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20">
          <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded mobile_padding_0">
            <div id="payable-amount" class="w-100 pull-left onboarding-bg margin-bottom-20">
            <span class="pull-left">Number of packs selected</span>
            <span class="pull-right" id="new_plan_total_cnt"></span>
            <!-- <span class="pull-right" id="new_plan_currency"></span> -->
            </div>
            <%if $region == "US"%>
            <div id="payment-mode">
                <h5 class="margin-top-25 font-bold">Choose Payment Mode</h5>
               <div id="accordion" class="font-mregular">
                  <div class="card border-0">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseCB">Credit/Debit Card</a>
                    </div>
                    <div id="collapseCB" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <input type="hidden" id="shipping_zip_codes" name="shipping_zip_codes" value="<%=@shipping_zip_codes%>">
                        <form id="adyen-encrypted-form" action="/plans/new_plan_user_purchase" method="get">
                          <input type="hidden" id="new_selected_plan" name="new_selected_plan" value="">
                          <input type="hidden" id="plan_price_charged" name="plan_price_charged" value="">
                          <input type="hidden" id="new_plan_order_id" name="new_plan_order_id" value="">
                          <input type="hidden" id="promo_check" name="promo_check" value="">
                          <input type="hidden" id="coupon_code" name="coupon_code" value="">
                          <input type="hidden" id="coupon_id" name="coupon_id" value="">
                          <input type="hidden" id="adyen_promo_amount" name="adyen_promo_amount" value="">
                          <input type="hidden" id="is_tax_amount" name="is_tax_amount" value="false">
                          <input type="hidden" class="user_zip_code" name="zip_code" value="false">
                      <!--     <div class="input-group">
                            <input type="number" id="houseno" name="" class="form-control margin-bottom-20">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label">House Number</span>
                            <label id="houseno_error" class="error">Invalid House Number</label>
                          </div>
                          <div class="input-group">
                            <input type="text" id="street" name="" class="form-control">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label">Street</span>
                            <label id="street_error" class="error">Invalid Street</label>
                          </div>
                          <div class="input-group">
                            <input type="text" id="city" name="" class="form-control">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label">City</span>
                            <label id="city_error" class="error">Invalid City</label>
                          </div>
                          <div class="input-group">
                            <input type="text" id="country" name="" class="form-control">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="input-label">Country</span>
                            <label id="country_error" class="error">Invalid Country</label>
                          </div> -->
                          <div class="input-group zipcode">
                            <div class="zipcode_wrap">
                              <input type="number" id="adyenzip_code" name="" class="form-control">
                              <span class="input-label">Zip code</span>
                              <span id="adyen_hint_zip" class="hint_txt">Zip code should be 5 digits</span>                           
                              <a href="javascript:void(0);" id="adyenzip_code_remove" class='margin-left-5'>Remove</a>
                            </div>
                            <label id="zip_error" class="error">Invalid zip code</label>
                          </div>
                          <div class="adyen_card_details_wrap">
                            <div class="input-group cardno">
                              <input type="number" id="cardno" name="" class="form-control" data-encrypted-name="number" maxlength="16">
                              <i class="fa fa-circle" aria-hidden="true"></i>
                              <span class="input-label"><%= get_lang_string("card_num")%></span>
                              <label id="cardno_error" class="error"><%= get_lang_string("invalid_card_num")%></label>
                            </div>
                            <div class="input-group expiry1">
                              <input type="number" id="expiry_date" name="" class="form-control" required="" size="2" maxlength="2" data-encrypted-name="expiryMonth">                            
                              <i class="fa fa-circle" aria-hidden="true"></i>
                              <span class="input-label">MM</span>
                            </div>
                            <div class="input-group expiry2">
                              <input type="number" id="expiry_year" name="" class="form-control" required="" size="4" maxlength="4" data-encrypted-name="expiryYear">
                              <i class="fa fa-circle" aria-hidden="true"></i>
                              <span class="input-label">YYYY</span>
                            </div>
                            <div class="input-group cvv hide_password_group">
                              <input type="password" id="card_cvv" name="" class="form-control" data-encrypted-name="cvc" maxlength="4">
                              <i class="fa fa-circle cvv-circle" aria-hidden="true"></i>
                              <img src="/assets/information.svg" class="info" alt="" title="">
                              <img src="/assets/hide_password.svg" class="password_toggle" alt="hide password" title="hide password">
                              <img src="/assets/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password">
                              <div class="cvv_box">
                                <img src="/assets/cvv_box.png" alt="" title="">
                              </div>
                              <span class="input-label cvv-label"><%= get_lang_string("cvv")%></span>
                            </div>
                            <input type="hidden" id="adyen-encrypted-form-expiry-generationtime" value="generate-this-server-side" data-encrypted-name="generationtime" />
                            <div class="input-group cardname">
                              <i class="fa fa-circle" aria-hidden="true"></i>
                              <input type="text" id="card_name" name="" class="form-control margin-bottom-10"  data-encrypted-name="holderName">
                              <span class="input-label"><%= get_lang_string("name_of_card")%></span>
                            </div>
                            <div class="row margin-top-15 amount_payable_purchase">
                              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-">
                                <div class="pull-left">
                                  <b class="font-size2">Amount Payable</b><br>
                                  <p class="font-size3 shemaroo-color1" id="tax_exclusive_sec" style="display:none;">exclusive of USD <span class="tax_perc_amount"> </span>New Jersey State Tax</p>
                                </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-">
                                <div class="pull-right" id="price_sect">
                                  <b class="font-size1">
                                    <span id="new_plan_currency"></span>
                                    <span id="new_plan_total_amount"></span>
                                    <span id="tax_section" style="display:none;">
                                      <span> + </span><span id="tax_amount"></span>
                                    </span>
                                  </b>
                                </div>
                              </div>  
                            </div>  
                            <div class="inline-block margin-top-20 margin-bottom-10 custom-gradient w-100 text-center">
                              <p class="inline radius-button">                          
                              <input class="btn heading_title_color" id="buttonpay" style="padding:5px 20px;" type="submit" value="Proceed">
                              </p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  <!--  <a href="javascript:void(0)" class="card-link paypal-mode font-regular inline-block w-100 margin-bottom-5" id="adyen_payment">Adyen</a> -->
                  <!-- <a href="javascript:void(0)" class="card-link paypal-mode font-regular inline-block w-100 margin-left-0" id="paypal_payment">Paypal</a> -->
                   <!-- <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapsePaypal" id="paypal_payment111">Paypal</a>
                    </div>
                    <div id="collapsePaypal" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <div class="input-group zipcode">
                          <div class="zipcode_wrap">
                            <input type="number" id="paypalzip_code" name="" class="form-control" maxlength="4">
                            <span class="input-label">Zip code</span>
                            <span id="adyen_hint_zip" class="hint_txt">Zip code should be 4 or 5 digits</span>                           
                            <a href="javascript:void(0);" id="paypalzip_code_remove">Remove</a>
                          </div>  
                          <label id="zip_error" class="error">Invalid zip code</label>
                        </div>
                         <div class="inline-block margin-top-20 margin-bottom-10 custom-gradient w-100 text-center">
                          <p class="inline radius-button">                          
                          <input class="btn heading_title_color" id="paypal_proceed_btn" disabled style="padding:5px 20px;" type="submit" value="Proceed">
                          </p>
                        </div>
                      </div>
                    </div> -->
                  <form method="post" action="https://test.adyen.com/hpp/skipDetails.shtml" id="adyenForm" name="adyenForm" target="_parent">
                    <input type="hidden" id="adyen_merchant_sig" name="merchantSig" value="" />
                    <input type="hidden" id="adyen_session_validity" name="sessionValidity" value="" />
                    <input type="hidden" id="adyen_ship_before_date" name="shipBeforeDate" value=/>
                    <input type="hidden" id="adyen_shopper_locale" name="shopperLocale" value=/>
                    <input type="hidden" id="adyen_merchant_account" name="merchantAccount" value=/>
                    <input type="hidden" id="adyen_payment_amount" name="paymentAmount" value= />
                    <input type="hidden" id="adyen_currency_code" name="currencyCode" value=/>
                    <input type="hidden" id="adyen_skin_code" name="skinCode" value=/>
                    <input type="hidden" id="adyen_merchant_reference" name="merchantReference" value=/>
                    <input type="hidden" id="adyen_brand_code" name="brandCode" value=/>
                  </form>
                  <form method="post" action="" id="paypalForm" name="paypalForm" target="_parent">
                    <input type="hidden" id="merchant_sig" name="merchantSig" value="" />
                    <input type="hidden" id="session_validity" name="sessionValidity" value="" />
                    <input type="hidden" id="ship_before_date" name="shipBeforeDate" value=/>
                    <input type="hidden" id="shopper_locale" name="shopperLocale" value=/>
                    <input type="hidden" id="merchant_account" name="merchantAccount" value=/>
                    <input type="hidden" id="payment_amount" name="paymentAmount" value= />
                    <input type="hidden" id="currency_code" name="currencyCode" value=/>
                    <input type="hidden" id="skin_code" name="skinCode" value=/>
                    <input type="hidden" id="merchant_reference" name="merchantReference" value=/>
                    <input type="hidden" id="recurring_contract" name="recurringContract" value=/>
                    <input type="hidden" id="shopper_reference" name="shopperReference" value=/>
                     <input type="hidden" id="brand_code" name="brandCode" value=/>                   
                  </form>

                <!-- </div> -->

              </div>
            <%else%>
             <div id="payment-mode">
                <h5 class="margin-top-25 font-bold">Choose Payment Mode</h5>
                <div id="accordion" class="font-mregular">
                  <div class="card border-0">
                    <div class="card-header">
                    <a class="card-link ccavenue_payment_type" data-toggle="collapse" href="#collapseCB" id="credit_card">Credit Card</a>
                    </div>
                  </div>
                  <div class="card border-0">
                    <div class="card-header">
                    <a class="card-link ccavenue_payment_type" data-toggle="collapse" href="#collapseCB" id="debit_card"><%= get_lang_string("debit_card")%></a>
                    </div>
                  </div>
                  <div class="card border-0">
                    <div class="card-header">
                    <a class="card-link ccavenue_payment_type" data-toggle="collapse" href="#collapseCB" id="net_banking">NetBanking</a>
                    </div>
                  </div>
                </div>
              </div>         
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%=render "users/validate_mobile_number"%>
<%=render "check_valid_browser_type"%>

<script type="text/javascript">
  $("#with_header_tabs").hide();
  $("#without_header_tabs").show(); 
   var region = "<%=@region%>"
 if(region == "US"){
document.getElementById('adyen-encrypted-form-expiry-generationtime').value = new Date().toISOString();
  var form  = document.getElementById('adyen-encrypted-form');
    var prod_env_check = "<%=Rails.env.production? ? "true" : "false"%>"
    if(prod_env_check == "true"){
      var key = "10001|DBACFA56BE2837F41F83F4BCE68B46FA76762476B76F4A331D5A1ADE3E123B23BC019CACA9E2E6AEDB37EDAF3932C508829ADB717CD8207A6F03BFECA959A2E914B3A1730DE170206F1DDE2CF50E1B1EAAD273EA41FBDB04B98E14231A17693644E939D7E000F9F2738FF747BC81BEB4A7961581F6C5EDAAB36A7B99CB34B1478613F7AAEACC67EDE2F2FC5FEEB31F1E2E9C22C5A91FA1ABCF29607B0D368BC642938B45D936465C43968BA41FA776E34C20C8B525E7D3F72FDD5962C40DADA8E7934F8BAB16D3F8E1933606744E08E815090F24B1951305277BEC22C13C1935B7E5AC8CE4CFE6A71310D17C728C7EE5B41B959E490FC123C9AD862FE75EFCD7";
    }
    else{
      var key = "10001|D24F70B0EBF0F65C522B79130DB92B7B6636CDFF4CA6F42310A5043"+
    "807345F93E342C0DE24D945415E3CAC030A2206DCBC4312A65B5305FFA658122CC1DED4508665F4"+
    "4BF7075D7A575402B35F6A912204A81CD91D297D83E5468291CC9B8B281944F5513A333A371E1E37EFA"+
    "4CB87A246B60371368B3286C5FF174C1E6F390051A5EE53303BF540C8118B4795CE2399270294D"+
    "F574EAB8A86B3B07FBFB7936B56933DB6FF52C86CE13838660F48775487EDBC22E70F6ED265"+
    "952D598522025D70BD83D54BC57E649F836E729372B7A94C89D1B8898EFD66911FD0EB0F6D89"+
    "29459F21F828E960FA106ECDF3C87761D3802BF83837B9E9212C6E71F8A219495D";
    }
    
  var options = {};
  options.cardTypeElement = document.getElementById('cardType');
  var encryptedForm = adyen.encrypt.createEncryptedForm(form, key, options);
  function checkNumberValidity(){
    var element = document.getElementById("errormessageHere");
    var valid = encryptedForm.validate("number");
    var p = document.createElement("p");
    p.innerHTML = "";
    if(valid.number == false || valid.luhn == false){
      $('#cardno_error').show();
    }
    else{
     $('#cardno_error').hide();
    }
  }
  $("#cardno").focusout(function() { 
      if($(this).val().length > 0) {
        checkNumberValidity();  
      }
      else {
       $('#cardno_error').hide(); 
      }
    });
  $('.expiry input[type="text"], .cvv input[type="text"], .cardno input[type="text"]').on('keypress', function (event){
    var regex = new RegExp("^[0-9]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
    event.preventDefault();
    return false;
    }
  });   
}
$("#card_cvv").focus(function() {
  $('img.info').css({"top":"-13px"});
  $(".cvv_box").addClass("cvv_box_val");
});
$("#card_cvv").focusout(function() {
  if(!$("#card_cvv").val().length) {
    $(".cvv_box").removeClass("cvv_box_val");
    $('img.info').css({"top":"12px"}); 
  }
});

function set_paypal_data(){
  $("#merchant_sig").val(localStorage.getItem("new_plan_paypal_merchant_sig"));
  $("#session_validity").val(localStorage.getItem("new_plan_paypal_session_validity"));
  $("#ship_before_date").val(localStorage.getItem("new_plan_paypal_ship_before_date"));
  $("#shopper_locale").val(localStorage.getItem("new_plan_paypal_shopper_locale"));
  $("#merchant_account").val(localStorage.getItem("new_plan_paypal_merchant_account"));
  $("#payment_amount").val(localStorage.getItem("new_plan_paypal_payment_amount")); 
  $("#currency_code").val(localStorage.getItem("new_plan_paypal_currency_code")); 
  $("#skin_code").val(localStorage.getItem("new_plan_paypal_skin_code"));
  $("#merchant_reference").val(localStorage.getItem("new_plan_paypal_merchant_reference"));
  $('#recurring_contract').val(localStorage.getItem("new_plan_paypal_recurring_contract")); 
  $('#shopper_reference').val(localStorage.getItem("new_plan_paypal_shopper_reference")); 
  $("#brand_code").val(localStorage.getItem("new_plan_paypal_brand_code")); 
  $('#paypalForm').attr('action',localStorage.getItem("new_plan_paypal_url"));
  }
  $(document).ready(function(){

    $(".input-group.cvv .info").click(function() {
      $(".cvv_box").toggle();
    });


    var zip_codes = "<%=@shipping_zip_codes%>"
    var zip_data = JSON.parse($("#shipping_zip_codes").val());
   set_paypal_data()
    $("#new_plan_total_amount").text(localStorage.getItem("new_plan_price"));
    $("#new_plan_total_cnt").text(localStorage.getItem("new_plans_details").split(",").length)
    var selected_currency_sym = localStorage.getItem("new_plan_currency_symbol")
    if(selected_currency_sym == undefined){
      selected_currency_sym = localStorage.getItem("new_plans_details").split(",")[0].split("|")[5];
    }
    $("#new_plan_currency").text(selected_currency_sym);
    $("#new_selected_plan").val(localStorage.getItem("new_plans_details"));
    $("#plan_price_charged").val(localStorage.getItem("new_plan_charged"));
    $("#new_plan_order_id").val(localStorage.getItem("new_plan_order_id"));
    $("#promo_check").val(localStorage.getItem("new_plan_promo_flag"));
    $("#coupon_code").val(localStorage.getItem("new_plan_promo_code"));
    $("#coupon_id").val(localStorage.getItem("new_plan_promo_id"));
    $("#adyen_promo_amount").val(localStorage.getItem("new_plan_us_promo_disc_amt"));
    var user_region = "<%= $region %>";

    if (user_region != "IN") { 
/*
      if($("#houseno").val().length) {
        $("#houseno").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#houseno").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#houseno").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#houseno").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }  
              
      if($("#street").val().length) {
        $("#street").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#street").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#street").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#street").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }

      if($("#city").val().length) {
        $("#city").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#city").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#city").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#city").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }

      if($("#country").val().length) {
        $("#country").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#country").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#country").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#country").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }*/

      if($("#adyenzip_code").val().length) {
        $("#adyenzip_code").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#adyenzip_code").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#adyenzip_code").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#adyenzip_code").nextAll(".input-group .input-label").css({"top":"8px","left":"30px"});          
      }

      /*if($("#paypalzip_code").val().length) {
        $("#paypalzip_code").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#paypalzip_code").nextAll(".input-label").css({"top":"-18px","left":"0px", "font-size":"0.75em"});
      }
      else {
        $("#paypalzip_code").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#paypalzip_code").nextAll(".input-group .input-label").css({"top":"8px","left":"30px"});          
      }*/

      if($("#cardno").val().length) {
        $("#cardno").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#cardno").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#cardno").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#cardno").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }
      if($("#expiry_date").val().length) {
        $("#expiry_date").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#expiry_date").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#expiry_date").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#expiry_date").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }
      if($("#expiry_year").val().length) {
        $("#expiry_year").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#expiry_year").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#expiry_year").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#expiry_year").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }
      if($("#card_cvv").val().length) {
        $("#card_cvv").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $(this).nextAll(".input-group img.info").css({"top":"-13px"});  
        $(".cvv_box").addClass("cvv_box_val");
        $("#card_cvv").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#card_cvv").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $(this).nextAll(".input-group img.info").css({"top":"12px"});  
        $("#card_cvv").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
        $(".cvv_box").removeClass("cvv_box_val");
      }
      if($("#card_name").val().length) {
        $("#card_name").parents(".input-group").children('.fa-circle').css({"top":"-10px","left":"0px"});
        $("#card_name").nextAll(".input-label").css({"top":"-14px","left":"10px", "font-size":"0.75em"});
      }
      else {
        $("#card_name").parents(".input-group").children('.fa-circle').css({"top":"14px","left":"0px"});
        $("#card_name").nextAll(".input-group .input-label").css({"top":"12px","left":"10px"});          
      }
    }
    $(".ccavenue_payment_type, #paypal_payment1").click(function(){
    var payment_type = $(this).attr("id");
    var new_plan_details = localStorage.getItem("new_plans_details").split(",")
    $.ajax({
      url: "/plans/new_plans_init_transaction",
      type: 'POST',
      data: { 
        actual_price: localStorage.getItem("new_plan_price"),
        charged_price: localStorage.getItem("new_plan_price"),
        new_plan_det: new_plan_details,
        payment_purchase_type: payment_type
      },
      success: function(response){
       if(payment_type == 'paypal_payment') {
          var paypal_data = response.init_data;
          console.log(response.init_data);
          $("#merchant_sig").val(paypal_data['merchantSig']);
          $("#session_validity").val(paypal_data['sessionValidity']);
          $("#ship_before_date").val(paypal_data['shipBeforeDate']);
          $("#shopper_locale").val(paypal_data['shopperLocale']);
          $("#merchant_account").val(paypal_data['merchantAccount']);
          $("#payment_amount").val(paypal_data['paymentAmount']); 
          $("#currency_code").val(paypal_data['currencyCode']); 
          $("#skin_code").val(paypal_data['skinCode']);
          $("#merchant_reference").val(paypal_data['merchantReference']);
          $('#recurring_contract').val(paypal_data['recurringContract']);
          $('#shopper_reference').val(paypal_data['shopperReference']);   
          $('#paypalForm').attr('action',paypal_data['url']);
          $("#brand_code").val(paypal_data['brandCode']); 
          $("#paypalForm").submit();
        }
        else {
          window.location = response.payment_url;   
        }
      }
    });
  })
  
    $("#adyenzip_code, #paypalzip_code").keypress(function(event) {
    var key = window.event ? event.keyCode : event.which;
    if(event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 35 || event.keyCode == 36 || event.keyCode == 37 || event.keyCode == 39) {  
      return true;
    }
    else if ( key < 48 || key > 57) {
    return false;
    }
    else if($(this).val().length >= 5) {
      return false;
    }
    else return true
  });

  
  $("#adyenzip_code").keyup(function(){
     $("#price_sect").removeClass("padding-top-20");
      $("#is_tax_amount").val("false");
      $("#tax_exclusive_sec").hide();
      $("#plan_price_charged").val(localStorage.getItem("new_plan_charged"))
        if (this.value.length == 5) {
          $(".user_zip_code").val($("#adyenzip_code").val());
          console.log("4 digits are entered")
          $('.adyen_card_details_wrap, #adyenzip_code_remove').show();
          if(jQuery.inArray($("#adyenzip_code").val(), zip_data) != -1) {
             $("#is_tax_amount").val("true");
           console.log("zipcode is found");
           var tax_price = (localStorage.getItem("new_plan_charged")*6.625)/100
          $("#tax_section").show();
          $("#tax_amount").text("USD "+tax_price.toFixed(2));
          $(".tax_perc_amount").text(tax_price.toFixed(2)+" ");
          $("#tax_exclusive_sec").show();
          $("#price_sect").addClass("padding-top-20")
          //$("#plan_price_charged").val(localStorage.getItem("new_plan_charged")+tax_price)
          }
          else{
            $("#price_sect").removeClass("padding-top-20")
            console.log("No zip code found");
          }
        }
        else{
          $('.adyen_card_details_wrap, #adyenzip_code_remove').hide();
           $("#tax_section").hide();
        }
    });
  $("#paypal_payment").click(function(){
      $("#paypalForm").submit();
    });

  $("#adyenzip_code_remove").click(function() {
    $(this).hide();
    $("#adyenzip_code").val("");
    $('.adyen_card_details_wrap').hide();
    $(".input-group.zipcode .input-label").css({"top": "12px", "left": "10px"});
  }); 
    
  $("#paypalzip_code").keyup(function(){ 
    if (this.value.length == 5) {
      $('#paypal_proceed_btn').removeAttr("disabled");        
      $("#paypalzip_code_remove").show();    
    } 
    else {
      $('#paypal_proceed_btn').attr("disabled", "true");
      $("#paypalzip_code_remove").hide();    
    }
  });

  $("#paypalzip_code_remove").click(function() {
    $(this).hide();
    $("#paypalzip_code").val("");      
    $(".input-group.zipcode .input-label").css({"top": "12px", "left": "10px"});
    $('#paypal_proceed_btn').attr("disabled", "true");
  }); 
  

   $("#paypal_proceed_btn").click(function(){
    $.ajax({
      url: "/plans/update_transaction_details",
      type: 'POST',
      data: { 
        price_charged: localStorage.getItem("new_plan_price"),
        zip_code: $("#paypalzip_code").val(),
        order_id: $("#merchant_reference").val()
      },
      success: function(response){
        $("#paypalForm").submit();
      }
    })
  });


});
</script>