<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-15">
          <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
          <img src="<%=@status == "success" ? "/assets/success.png" : "/assets/transaction_failed.svg"%>" class="status_image" alt="something went wrong" title="something went wrong">
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%=@order_no%></p>
            <%if @status == "success"%>
              <p class="font-regular margin-bottom-0">Price Charged: &nbsp;KWD &nbsp;<%=@price%></p>
            <%end%>
          <p class="margin-bottom-0 font-regular margin-bottom-15"><strong><%=@message%></strong></p>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="<%=(@status == 'success') ? '/' : '/plans' %>" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=@message%>')">
                <%if @status == "success"%>
                 browse
                 <%else%>
                 Try again
                 <%end%>
               </a>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var plan_name = "";
     if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    var amz_call_url = "<%=@amz_top_url%>"
    if(amz_call_url.length != 0 ){
      window.location = amz_call_url.replace(/&amp;/g, '&')
    }
  })
</script>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
});
</script>
<%=render "check_valid_browser_type"%>    
<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    if(getShemarooCookies().mobile_browser_type == "android"){
      var user_anal_id = getShemarooCookies().user_analytical_id;
      branch.logout();
      branch.setIdentity(user_anal_id);
    }
    var message = "<%=@message%>"
    var status_message = "<%=@status%>"
    var orderno = "<%=@order_no%>"
    var price = "<%=@price%>"
    var plan_name = "";
    var currency = "<%=@currency%>"
    var cupn_cde_st = "<%=(params[:cupn_code].present? && params[:cupn_code].length) == 0 ?  "0" : "1" %>"
    var cupn_code = "<%=params[:cupn_code]%>"
    var cpn_type = ""
    var coupon_code_name = ""
    var plan_name = ""
    var pln_type = ""
    var cur_sym  = ""

    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
       pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
       cur_sym = localStorage.getItem("first_purchase_plans_details").split("|")[4]
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
      cur_sym = localStorage.getItem("new_plans_details").split("|")[4]
    }

    if(localStorage.getItem("first_purcahse_promo_code")){
      coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
    }

    function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }
    
    function branch_purcahse_event(price,currency,plan_name,pln_type){
      var today = new Date();
      var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
      var h =  today.getHours(), m = today.getMinutes();
      var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
      var region = $(".user_region").val();
      var user_city = $(".user_city").val();
      var event_and_custom_data = {
       "transaction_id": orderno,
       "currency": "KWD",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
      };
      /*if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doPurchase(orderno+"|INR|"+price+"|Plan purchase|"+plan_name);
        }
        catch(err){
          purchase_andrd()
        }
      }
      else{
        purchase_andrd()
      }*/
    }

    function purchase_andrd(){
      branch.logEvent(
       "Purchase_App",
       {
       "transaction_id": orderno,
       "currency": "KWD",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
       },
       function(err) { console.log(err); }
      );
    }

    if(status_message == "success"){
      netcore_payment_success()
      apxor_payment_success("success")
      
      //_paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1]);
       /*branch.logEvent(
     "SUBSCRIBE",
      {'amount': price,
      'currency': currency,
      'user_id': getShemarooCookies().user_analytical_id},
     function(err) { console.log(err); }
     );*/

     branch_purcahse_event(price,currency,plan_name,pln_type)
     branch_sub_pack_cnt()
    _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1, {dimension36: plan_name, dimension37: price}]);

    function payment_resp_andrd(){
      branch.logEvent(
     "Transaction_Success",
     {  "transaction_id": orderno,
        "pack_name": plan_name,
        "pack_value": price,
        "pack_duration": '',
        "transaction_value": '',
        "transaction_status": 'Success',
        "transaction_mechanism": '',
        "transaction_coupon": '',
        "auto_renew": ''
      },
     function(err) { console.log(err); }
     );
    }

    if(getShemarooCookies().mobile_browser_type == "android"){
        var app_version = ""
        var mobile_browser_type = getShemarooCookies().mobile_browser_type
        try{
        if(getShemarooCookies().app_version != undefined){
            app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
          }
        if (app_version != undefined && app_version > 69 && app_version < 94 && mobile_browser_type == "android"){
          var free_trail_check = "<%=(params[:free_trial].present? && params[:free_trial] == "true") ? "true" : "false"%>";
          if(free_trail_check == "true"){
             Android.doPurchase(orderno+"|"+plan_name+"|"+price+"|"+"ooredo_kuwait"+"|"+cupn_cde_st+"|"+""+"|"+pln_type+"|"+cupn_code+"|"+"fresh"+"|"+message+"|Plan purchase|KWD|false|true")
          }
          else if(app_version < 69){
             Android.doPurchase(orderno+"|"+plan_name+"|"+price+"|"+"ooredo_kuwait"+"|"+cupn_cde_st+"|"+""+"|"+pln_type+"|"+cupn_code+"|"+"fresh"+"|"+message+"|Plan purchase|KWD")
          }
        
       }
       else{
        //Android.doPurchase(orderno+"|KWD|"+price+"|Plan purchase|"+plan_name)
       }

        }
        catch(err){
          //purchase_andrd()
        }
        if(app_version != undefined && app_version > 80 && mobile_browser_type == "android"){
            Android.doSubscriptionSuccess(orderno+"|"+"ooredo_kuwait"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+""+"|"+"KWD"+"|"+coupon_code_name+"|"+""+"|fresh|android|online")
            purchase_andrd()
         }
      }
      else{
        //post_dt_branch(plan_name,orderno,price,region,user_city,date,time)
        //purchase_andrd()
      }

     fb_pixel_subscribe_event()
    }
    var tr_id = orderno;
    if(status_message == "failure"){
     _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction failure &'+message, 1, {dimension23: message, dimension22: 'NA'}]);
      smartech('dispatch', 'sub_failed', {
        'order_id': orderno,
        'error_reason': message
      });
     fb_pixel_transaction_fail_event()
     branch_transactionfail_event()
     apxor_payment_success("failure")
     var andr_ver = get_andrd_ver()
     if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
       Android.doSubscriptionFailure(tr_id+"|"+message+"|ooredo_kuwait|"+"|0|"+""+"|"+plan_name+"|"+pln_type+"|"+"KWD"+"|"+price+"|"+coupon_code_name+"|"+""+"|"+"fresh|android")
     }
    }

  function fb_pixel_subscribe_event(){
    var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    fbq('track', 'Subscribe', {
      value: price,
      currency: 'KWD',
      content_name: plan_name,
    })
  }

  function fb_pixel_transaction_fail_event(){
    fbq('track', 'TransactionFailed', {
    value: 0,
    currency: 'KWD',
    });
  }

function subscr_evnt(ev_name,or_id,pymt_mode,cupn_code,cupn_type,pln_name,pln_type,currency,cupn_name,price,reg,msg){
    var ev_det = {
      "event_name": ev_name,
      "order_id": or_id,
      "payment_mode": pymt_mode,
      "coupon_code": cupn_code,
      "coupon_code_type": cupn_type,
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "coupon_code_name": cupn_name,
      "price_charged_new": price,
      "subscription_type": "fresh",
      "transaction_type": "online",
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  if(ev_name == "Subscription_Failure"){
    ev_det = {
      "order_id": or_id,
      "message": msg,
      "payment_mode": pymt_mode,
      "coupon_code": "",
      "coupon_code_type": "",
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "pack_value_INR": price,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": "fresh",
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  }
    $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": ev_det },
      success: function(response){
      }
    });
  }


  function netcore_payment_success(){
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }

      smartech('dispatch', 'subscribe success', {
        'user_id': getShemarooCookies().user_analytical_id,
        'amount': price,
        'currency': currency,
        'plan_name': plan_name,
        'transaction_id': orderno,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '',
        'transaction_status': 'Success',
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'user_state': $.cookie('user_actv_sub_status')
      });
    }

   /* $("#mobile_continue").click(function(){
      var payment_status = "<%=@status%>"
      if(payment_status == "success"){
        window.location = "/"
      }
      else{
        window.location = "/plans"
      }
    }) */
    function branch_transactionfail_event(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
      var transaction_id = "<%=@order_no%>"
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      _paq.push(['trackEvent', 'Payments', 'Activity', 'Subscription_Cancelled', 1, {dimension36: plan_name, dimension37: price, dimension23: message, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id, dimension14: getShemarooCookies().user_analytical_id}]);

      function tran_failed_andrd(){
        branch.logEvent(
         "Transaction_Failed",
          {"transaction_id": transaction_id,
          "pack_name": plan_name,
          "pack_value": price,
          "pack_duration": '',
          "transaction_value": '0',
          "transaction_status": status_message,
          "transaction_mechanism": '',
          "transaction_coupon": '',
          "auto_renew": '',
          "failure_reason": message
          },
         function(err) { console.log(err); }
        );
      }

      /*smartech('dispatch', 'Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id
      }); */

      tran_failed_andrd()

    /*  branch.logEvent(
     "Subscription_Cancelled",
      {"transaction_id": transaction_id,
      "pack_name": plan_name,
      "pack_value": price,
      "pack_duration": '',
      "transaction_value": '0',
      "transaction_status": status_message,
      "transaction_mechanism": '',
      "transaction_coupon": '',
      "auto_renew": '',
      "failure_reason": message,
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "userid": getShemarooCookies().user_analytical_id,
      "session_id": getShemarooCookies().user_id
      },
     function(err) { console.log(err); }
     ); */
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doTransactionfailed(transaction_id+"|"+plan_name+"|"+price+"|"+status_message+"|"+message);
        }
        catch(err){
          tran_failed_andrd()
        }
   }
    }


     function branch_sub_pack_cnt(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var mnt_cnt = 0;
    var year_cnt = 0;
    var all_type_dt = "";
    if(localStorage.getItem("first_purchase_plans_details")){
     all_type_dt  =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    all_type_dt =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
   var counts = {};
   all_type_dt.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
  if(counts["Monthly"] != undefined){
    var mnt_cnt = counts["Monthly"]
    for(i=0;i<mnt_cnt;i++){
      function sub_monthly_andrd(){
        branch.logEvent(
          "Subscription_MonthlyPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id,
              'user_state': $.cookie('user_actv_sub_status')
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsmonthlypack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_monthly_andrd()
        }
      }
      else{
        sub_monthly_andrd()
      }
    }
  }
  else if(counts["Yearly"] != undefined){
    var year_cnt = counts["Yearly"]
    for(i=0;i<year_cnt;i++){
      function sub_annual_andrd(){
        branch.logEvent(
          "Subscription_AnnualPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id,
              'user_state': $.cookie('user_actv_sub_status')
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsannualpack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_annual_andrd()
        }
      }
      else{
        sub_annual_andrd()  
      }
    }
  }
  }


    function apxor_payment_success(pymnt_st){
      var user_region = $(".user_region").val();
      var evn_name = "Subscription_Success"
      if(pymnt_st == "failure"){
        evn_name = "Subscription_Failure"
      }
      var pack_value = localStorage.getItem("first_purchase_plan_price")
      if(pack_value == undefined){
        pack_value = localStorage.getItem("new_plan_price")
      }
      var user_region = $(".user_region").val()
      var transaction_id = "<%=@order_no%>"
      var cupn_cde_sts = "<%=(params[:cupn_code].present? && params[:cupn_code].length) == 0 ?  "0" : "1" %>"
      var cupn_code = "<%=params[:cupn_code]%>"
    var plat_form = "web"
    if(getShemarooCookies().mobile_browser_type == "android"){
      plat_form = "android"
    }
    var plan_name = ""
     var plan_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }

    var andr_ver = get_andrd_ver()
    if(andr_ver == "false"){
      subscr_evnt(evn_name,orderno,"ooredo_kuwait",nc_coupon_code,cu_co_type,plan_name,tvod_pln_type.toLowerCase(),"KWD",coupon_code_name,parseFloat(prc),user_region,message)
      Apxor.logEvent(evn_name, {
      'status': evn_name,
      'user_id': getShemarooCookies().user_analytical_id,
      "platform": plat_form,
      'order_id': transaction_id,
      'message': message,
      'payment_mode': "ooredo_kuwait",
      'coupon_code': cupn_cde_sts,
      'COUNTRY': user_region,
      'plan_name': plan_name.join(","),
      'plan_type': plan_type.join(","),
      //'plan_count': 1,
      'pack_value': parseFloat(pack_value),
      'coupon_code_type': "percentage",
      'price_charged_new': parseFloat(price),
      'coupon_code_name': cupn_code,
      'subscription_type': "fresh",
      "transaction_type" : "online",
      "pack_value_INR": parseFloat(prc),
      "pack_value_currency": cur_sym,
      "region": user_region,
      'user_state': $.cookie('user_actv_sub_status')
    },"PURCHASE_PLAN");
  }
  }
})
</script>
<script>
  var orderno = "<%=@order_no%>"
  gtag('event', 'conversion', {
      'send_to': 'AW-381231221/yoMrCPXH4ZECEPXA5LUB',
      'transaction_id': orderno
  });

</script>