<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
        <h2 class="block margin-bottom-10 margin-top-15 font-bold">Your payment could not be processed</h2>
        <img src="/assets/transaction_failed.svg" class="status_image" alt="" title="">
        <!-- <p class="font-mregular margin-bottom-15">Your payment of Rs. 45 could not be processed</p>  -->
        <p class="font-regular margin-bottom-15">Reason: <%=@resp["error"]["message"]["message"]%><!-- &nbsp;&nbsp;(Error: <%#=@resp["error"]["code"]%>) --></p>
        <!-- <p class="font-mregular margin-bottom-0">Transation ID</p>  -->
        <!-- <p class="margin-bottom-0 font-medium margin-bottom-15"><strong>999999</strong></p> -->
        <div class="inline-block w-100 custom-gradient">
          <p class="inline radius-button">
            <a href="/plans" class="btn gradient margin-bottom-25 heading_title_color" id="" onclick="tellAndroidSuccess('<%=@resp["error"]["message"]["message"]%>')">Try again</a>
          </p>
        </div>
      </div>
    </div>
  </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>

  </section>
</div>  
<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
</script>
<script>
$("#with_header_tabs").hide();
$(document).ready(function(){
  var message = "<%=@resp["error"]["message"]["message"]%>"
  smartech('dispatch', 'sub_failed', {
    'order_id': '',
    'error_reason': message
  });
  $("#without_header_tabs").show();  
   var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var orderno = "<%=@pymt_rep["order_id"]%>"
    var price = "<%=@pymt_rep["price_charged"]%>"
    var cpn_code = "<%=@pymt_rep["coupon_code"]%>"
    var cpn_tit = "<%=@pymt_rep["coupon_code_title"]%>"
    _paq.push(['trackEvent', 'Payments', 'Activity', 'Subscription_Cancelled', 1, {dimension23: message, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id, dimension14: getShemarooCookies().user_analytical_id}]);
var user_region = $(".user_region").val()
   /* smartech('dispatch', 'Subscription_Cancelled', {
        'transaction_status': "Payment canceled",
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
      });

       Apxor.logEvent('Subscription_Cancelled', {
        'transaction_status': "Payment canceled",
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
      },"PURCHASE_PLAN"); */

    var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
   
    function transaction_failed_andrd(){
      branch.logEvent(
     "Transaction_Failed",
      {
      "transaction_status": "Payment canceled",
      "failure_reason": message,
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "userid": getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_actv_sub_status'),
      "session_id": getShemarooCookies().user_id
      },
     function(err) { console.log(err); }
     );
    }

     var plan_name = ""
    var pln_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionfailed(" "+"|"+plan_name+"|"+" "+"|Payment canceled|"+message);
      }
      catch(err){
        transaction_failed_andrd()
      }
    }
    else{
      transaction_failed_andrd()
    }

if(getShemarooCookies().mobile_browser_type == "android"){
 //Android.doPurchaseFailure(orderno+"|"+plan_name+"|"+price+"|"+"Ccavenue"+"|"+cpn_code+"|"+cpn_tit+"|"+pln_type+"|"+cpn_tit+"|"+"fresh|"+message); 
}
else{
 //pymnt_failure_branch(plan_name,orderno,price,region,user_city,date,time,pln_type)
}


 function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}
function pymnt_failure_branch(plan_name,transaction_id,price,region,user_city,date,time,pln_type){
  var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
   var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_custom_event",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "Ccavenue",
              "message": message,
              "coupon_code": cpn_code,
              "coupon_code_partner": cpn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "coupon_code_name": cpn_tit,
              "amount": price,
              "subscription_type": "fresh",
              "user id": user_id
            },
            "name": "Purchase_failure",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }
});
</script>