<%
   meta title: "Payment success",
    description: "Payment success",
    keywords: "Payment success"
%>
<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
          <h2 class="block margin-bottom-10 margin-top-15">Transaction Successful</h2>
          <img src="/assets/success.png" class="status_image" alt="transaction success" title="transaction success">
          <p class="font-regular margin-bottom-20 font-size2 shemaroo-color1"><%=params[:message]%></p>
           <!-- <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%#=params[:transaction_id]%></p> -->
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Order ID</p>
          <p class="font-bold margin-bottom-20 font-size3 shemaroo-color1"><%=params[:order_id]%></p>

          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1">Price</p>
          <p class="font-bold margin-bottom-20 font-size3 shemaroo-color1"><%= @currency %><%= params[:price] %></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Plan: </b>&nbsp;<%=params[:title]%></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Expiry Date: </b>&nbsp;<%=(Time.parse(params[:dt])).strftime("%d %b %Y %I:%M:%S %p")%></p>
          <p class="font-bold shemaroo-color1 font-size3 margin-bottom-20">Enjoy browsing on ShemarooMe!</p>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="/" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=params[:msg]%>')">continue</a>
            </p>
            </div><!-- 
               <p class="inline radius-button">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="user_login">Login</a>
              </p> -->
         </div>     
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
   var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "Registered"
  var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id","offer_couponcode_message","offer_purcahse_lohan_det","offer_purcahse_lohan_flag"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
   var tvod_type  = localStorage.getItem("mv_cnt_type")
   if(tvod_type != undefined && localStorage.getItem("mv_tvod_url") != undefined){
    $("#mobile_continue").attr("href",localStorage.getItem("mv_tvod_url"))
   }
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var cupn_code = "<%=params[:cupn_code]%>"
    var cupn_tit = "<%=params[:copun_tit]%>"
    var cupn_cde_st = "<%=params[:cupn_code].length == 0 ?  "no" : "yes"%>"

  function get_user_region_time_data(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    return [region,user_city,date,time]
  }

  if(getShemarooCookies().mobile_browser_type == "android"){
      var user_anal_id = getShemarooCookies().user_analytical_id;
      branch.logout();
      branch.setIdentity(user_anal_id);
    }
  localStorage.removeItem("offer_couponcode_message")
  var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
     var message = "<%=@message%>"
  var price = "<%=params[:price]%>";
  var transaction_id = "<%=params[:order_id]%>"
  var plan_name = "";
  var today = new Date();
  var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
  var h =  today.getHours(), m = today.getMinutes();
  var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
  var region = $(".user_region").val();
  var user_city = $(".user_city").val();
  var free_trail_st = localStorage.getItem("user_free_trail_status")
  send_netcore_sub_status(price)
  var plan_name = ""
  var pln_type = ""
  var cur_sym  = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
      cur_sym = localStorage.getItem("first_purchase_plans_details").split("|")[4]
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
      cur_sym = localStorage.getItem("new_plans_details").split("|")[4]
    }
  /*$(".fb_pixel script").append(`!function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '397219034188525');
  fbq('track', 'PageView');
  fbq('track', 'Subscribe', {
    value: `+price+`,
    currency: 'USD',
    content_name: `+plan_name+`,
  })`);
  $('.fb_pixel').append(`<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=397219034188525&ev=PageView&noscript=1"
  /></noscript>`)*/
  
  var free_trails_status = localStorage.getItem("user_free_trail_status")
  //if(free_trails_status != null && free_trails_status == "true"){
    //smartech('dispatch', 'Free trial registration complete', {});
  //}
  localStorage.removeItem("user_free_trail_status");
   var event_and_custom_data = {
     "transaction_id": transaction_id,
     "currency": "USD",
     "revenue": parseFloat(price) ,
     "description": "Plan purchase",
     "productName": plan_name,
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_actv_sub_status'),
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "session_id": getShemarooCookies().user_id
  };
   branch_sub_pack_cnt()
    function purchase_andrd(){
      branch.logEvent(
       "Purchase_App",
       {
       "transaction_id": transaction_id,
       "currency": "USD",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        'user_state': $.cookie('user_actv_sub_status'),
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
       },
       function(err) { console.log(err); }
      );
      
    }
    if(getShemarooCookies().mobile_browser_type == "android"){
      var app_version = ""
      var mobile_browser_type = getShemarooCookies().mobile_browser_type
      try{
       if(getShemarooCookies().app_version != undefined){
            app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
          }
        if (app_version != undefined && app_version > 69 && app_version < 94 && mobile_browser_type == "android"){
        var cpn_type = "<%=params[:coupon_code_type]%>"
        Android.doPurchase(transaction_id+"|"+plan_name+"|"+price+"|"+"Adyen"+"|"+cupn_cde_st+"|"+cupn_tit+"|"+pln_type+"|"+cupn_code+"|"+sub_type+"|"+message+"|Plan purchase|USD|"+cpn_type)
        purchase_andrd()
      }
      else if(app_version < 69){
        Android.doPurchase(transaction_id+"|USD|"+price+"|Plan purchase|"+plan_name)
        purchase_andrd()
      }
      }
      catch(err){
        //purchase_andrd()
      }
       if(app_version != undefined && app_version > 80 && mobile_browser_type == "android"){
          var cpn_type = "<%=params[:coupon_code_type]%>"
          Android.doSubscriptionSuccess(transaction_id+"|"+"Adyen"+"|0|"+cpn_type+"|"+plan_name+"|"+pln_type+"|"+"USD"+"|"+cupn_code+"|"+price+"|"+sub_type+"|android|online|"+user_state)
        }
    } 
    else{
      //purchase_andrd()
      //post_dt_branch(plan_name,transaction_id,price,region,user_city,date,time,pln_type)
      fb_purchase_event(price)
    }
    /*branch.logEvent(
     "PURCHASE",
     event_and_custom_data,
     {
     "user_data": {
        'user_id': getShemarooCookies().user_analytical_id,
         "region": region,
         "city": user_city,
         "date_event": date,
         "time_event": time,
         "session_id": getShemarooCookies().user_id
      },
      "event_data": {
        'transaction_id': transaction_id,
        'revenue': parseFloat(price),
        'currency': "USD",
        'description': "Preferred purchase",
        'productName': plan_name
      }
      },
     function(err) { console.log(err); }
     );*/
  /*branch.logEvent(
     "SUBSCRIBE",
      {'amount': price,
      'currency': "USD",
      'plan_details': plan_name,
      'user_id': getShemarooCookies().user_analytical_id},
     function(err) { console.log(err); }
     );*/
     var transaction_id = "<%=params[:order_id]%>"
      _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1, {dimension41: transaction_id, dimension36: plan_name, dimension14: getShemarooCookies().user_analytical_id  } ]);
      function tran_success_andrd(){
        branch.logEvent(
       "Transaction_Success",
        {"transaction_id": transaction_id,
          "pack_name": plan_name,
          "pack_value": '',
          "pack_duration": '',
          "transaction_value": '',
          "transaction_status": 'Success',
          "transaction_mechanism": '',
          "transaction_coupon": '',
          "auto_renew": ''
        },
       function(err) { console.log(err); }
      );
      }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionsuccess(transaction_id+"|"+plan_name+"|"+"");
      }
      catch(err){
        tran_success_andrd()
      }
    } 
    else{
      tran_success_andrd()
    }
  smartech('dispatch', 'subscribe success', {
    'user_id': getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    'amount': price,
    'currency': "USD",
    'plan_details': plan_name,
    'transaction_id': transaction_id,
    'pack_name': plan_name,
    'pack_value': '',
    'pack_duration': '',
    'transaction_value': '',
    'transaction_status': 'Success',
    'transaction_mechanism': '',
    'transaction_coupon': '',
    'auto_renew': ''
  });
  if(free_trail_st != undefined && free_trail_st != null && free_trail_st == "true"){
   _paq.push(['trackEvent', 'Payments', 'Activity', 'Free_Trial_USA_Success_Users', 1, {dimension37: "0", dimension20: "USD", dimension14: getShemarooCookies().user_analytical_id}]);
   var det = get_user_region_time_data()
   smartech('dispatch', 'Free_Trial_USA_Success_Users', {
    'amount': "0",
    'currency': "USD",
    'user_id': getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    'session_id': getShemarooCookies().user_id,
    'region': det[0],
    'city': det[1],
    'date_event': det[2],
    'time_event': det[3]
   });
  if(getShemarooCookies().mobile_browser_type != "android") { 
     branch.logEvent(
       "Free_Trial_USA_Success_Users",
        {'amount': "0",
        'currency': "USD",
        'user_id': getShemarooCookies().user_analytical_id,
        "user_data": {
            'user_id': getShemarooCookies().user_analytical_id,
            'user_state': $.cookie('user_actv_sub_status'),
             "region": region,
             "city": user_city,
             "date_event": date,
             "time_event": time,
             "session_id": getShemarooCookies().user_id
          }
        },
       function(err) { console.log(err); }
       );
    }
    else{
     Android.doFreeTrailUsaSucess("Free_Trial_USA_Success_Users"+"|"+"0"+"|"+"USD");
    }
   free_trail_fb_google_event_us()
  }
  else{
    fbq('track', 'Subscribe', {
    value: price,
    currency: 'USD',
    content_name: plan_name,
  })
  }
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
  function free_trail_fb_google_event_us(){
      fbq('track', 'StartTrial', {
      value: 0,
      currency: 'USD',
    })
  } 

  function fb_purchase_event(price){
  fbq('track', 'Purchase', {
      value: parseFloat(price),
      currency: 'INR',
    })
  }

  function branch_sub_pack_cnt(){
    var mnt_cnt = 0;
    var year_cnt = 0;
    var all_type_dt = "";
    if(localStorage.getItem("first_purchase_plans_details")){
     all_type_dt  =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    all_type_dt =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
   var counts = {};
   all_type_dt.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
   if(counts["Monthly"] != undefined){
     var mnt_cnt = counts["Monthly"]
     for(i=0;i<mnt_cnt;i++){
      if(getShemarooCookies().mobile_browser_type == "android"){
        Android.doSubsmonthlypack(transaction_id+"|"+plan_name);
      }
      else{
        branch.logEvent(
        "Subscription_MonthlyPacks",
        {"transaction_id": transaction_id,
          "pack_name": plan_name,
        "user_data": {
          'user_id': getShemarooCookies().user_analytical_id,
          'user_state': $.cookie('user_actv_sub_status'),
           "region": region,
           "city": user_city,
           "date_event": date,
           "time_event": time,
           "session_id": getShemarooCookies().user_id
        }
      },
       function(err) { console.log(err); }
       );
      }
     }
   }
   else if(counts["Yearly"] != undefined){
    var year_cnt = counts["Yearly"]
     for(i=0;i<year_cnt;i++){
      if(getShemarooCookies().mobile_browser_type == "android"){
        Android.doSubsannualpack(transaction_id+"|"+plan_name);
      }
      else{
        branch.logEvent(
        "Subscription_AnnualPacks",
        {"transaction_id": transaction_id,
          "pack_name": plan_name,
        "user_data": {
          'user_id': getShemarooCookies().user_analytical_id,
          'user_state': $.cookie('user_actv_sub_status'),
           "region": region,
           "city": user_city,
           "date_event": date,
           "time_event": time,
           "session_id": getShemarooCookies().user_id
        }
      },
       function(err) { console.log(err); }
       );
      }
     }
   }
  }

function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}

 function post_dt_branch(plan_name,transaction_id,price,region,user_city,date,time){
  var user_id = getShemarooCookies().user_analytical_id;
  //localStorage.removeItem("brnch_finger_id")
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  var cpn_type = "<%=params[:coupon_code_type]%>"
   //branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data) });
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_s2s",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "coupon_type": cpn_type,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "Adeyon",
              "coupon_code": cupn_cde_st,
              "coupon_code_partner": cupn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "amount": price,
              "coupon_code_name": cupn_code,
              "subscription_type": sub_type,
              "user_state": "subscribed",
              "user id": user_id
            },
            "event_data": {
              "currency": "USD",
              "description": "Plan purchase",
              "pack_name": plan_name,
              "revenue": price,
              "transaction_id": transaction_id
            },
            "name": "PURCHASE",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }

function subscr_evnt(ev_name,or_id,pymt_mode,cupn_code,cupn_type,pln_name,pln_type,currency,cupn_name,price,reg,msg){
  
    var ev_det = {
      "event_name": ev_name,
      "order_id": or_id,
      "payment_mode": pymt_mode,
      "coupon_code": cupn_code,
      "coupon_code_type": cupn_type,
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": sub_type,
      "transaction_type": "online",
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  if(ev_name == "Subscription_Failure"){
    ev_det = {
      "order_id": or_id,
      "message": msg,
      "payment_mode": pymt_mode,
      "coupon_code": "",
      "coupon_code_type": "",
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "pack_value_INR": price,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": sub_type,
      "user_id": getShemarooCookies().user_analytical_id,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    }
  }
    $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": ev_det },
      success: function(response){
      }
    });
  }


function send_netcore_sub_status(pr){
  $.cookie('user_actv_sub_status',"Subscribed", { expires: 14,path: '/'});
   var plan_name = ""
 var plan_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
  var st = "True"
  //var st = "<%=@status == "success" ? "True" : "False"%>"
  var mesg = "<%=params[:message]%>"
  var user_region = $(".user_region").val()
   smartech('dispatch', 'Subscription_Result', {
    "user_id": getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    "status": st,
    "order_id": transaction_id,
    "message": mesg,
    "payment_mode": "adeyon",
    "coupon_code": "NA",
    "price_charged": parseFloat(pr),
    "COUNTRY":user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(pr),
    'coupon_code_name': ''
  });

  /* Apxor.logEvent('Subscription_Result', {
    "user_id": getShemarooCookies().user_analytical_id,
    "status": st,
    "order_id": transaction_id,
    "message": mesg,
    "payment_mode": "adeyon",
    "coupon_code": "NA",
    "price_charged": parseFloat(pr),
    "COUNTRY":user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    'plan_count': plan_name.length,
    'pack_value': parseFloat(pr),
    'coupon_code_name': ''
},"PURCHASE_PLAN");*/

   
    smartech('dispatch', 'subscription_success', {
    "user_id": getShemarooCookies().user_analytical_id,
    'user_state': $.cookie('user_actv_sub_status'),
    "status": "success",
    "order_id": transaction_id,
    "message": mesg,
    "payment_mode": "adeyon",
    "coupon_code": "NA",
    "price_charged": parseFloat(price),
    "COUNTRY":user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(pr),
    'coupon_code_name': '',
    'coupon_code_type': '',
    'subscription_type': sub_type,
    "pack_value_currency": cur_sym
  });

    var cupn_cde_sts = "<%=params[:cupn_code].length == 0 ?  "0" : "1" %>"
    var plat_form = "web"
    if(getShemarooCookies().mobile_browser_type == "android"){
      plat_form = "android"
    }


    evn_name = 'Subscription_Success'
    
    var andr_ver = get_andrd_ver()
    if(andr_ver == "false"){
      subscr_evnt(evn_name,transaction_id,"adeyon",cupn_cde_sts,"percentage",plan_name.join(","),plan_type.join(","),"USD",cupn_tit,parseFloat(pr),user_region,message)
      Apxor.logEvent(evn_name, {
      'status': "Subscription_Success",
      'user_id': getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_actv_sub_status'),
      "platform": plat_form,
      'order_id': transaction_id,
      'message': message,
      'payment_mode': "adeyon",
      'coupon_code': cupn_cde_sts,
      'COUNTRY':user_region,
      'plan_name': plan_name.join(","),
      'plan_type': plan_type.join(","),
      //'plan_count': pln_cnt,
      'pack_value': parseFloat(pr),
      'coupon_code_type': "percentage",
      'price_charged_new': parseFloat(pr),
      'coupon_code_name': cupn_tit,
      'subscription_type': sub_type,
      "transaction_type" : "online",
      "pack_value_currency": cur_sym
    },"PURCHASE_PLAN");

      branch.logEvent(
      evn_name,
        {
      "order_id": transaction_id,
      "payment_mode": "adeyon",
      "coupon_code": cupn_cde_sts, 
      "coupon_code_type": "percentage",
      "plan_name": plan_name.join(","),
      "plan_type": plan_type.join(","),
      // "plan_count": pln_cnt,
      "pack_value":  parseFloat(pr),
      "coupon_code_name": cupn_code,
      "price_charged_new":  parseFloat(price),
      "subscription_type": sub_type,
      "platform": plat_form,
      "transaction_type" : "online"

        },
      function(err) { console.log(err); }
      );
    }
  }

var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id","offer_couponcode_message","offer_purcahse_lohan_det","offer_purcahse_lohan_flag"]
keysToRemove.forEach(k => localStorage.removeItem(k))

});  
</script>
<%=render "check_valid_browser_type"%>    
<script>
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      //window.location.href = "/"
  }


  function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }

</script>
<script>
  var orderno = "<%=params[:order_id]%>"
  gtag('event', 'conversion', {
      'send_to': 'AW-381231221/yoMrCPXH4ZECEPXA5LUB',
      'transaction_id': orderno
  });

</script>