<%
   meta title: "Payment failure",
    description: "Payment failure",
    keywords: "Payment failure"
%>
<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-25">
        <h2 class="block margin-bottom-10 margin-top-15">Transaction Failed</h2>
        <img src="/assets/transaction_failed.svg" class="status_image" alt="Transaction Failed" title="Transaction Failed">
        <p class="font-regular margin-bottom-15"><%=params[:message]%></p> 
        <!-- <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%#=params[:transaction_id]%></p> -->
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Order ID </p>
          <p class="font-bold margin-bottom-20 font-size3 shemaroo-color1"><%=params[:order_id]%></p>
        <div class="inline-block w-100 custom-gradient">
          <p class="inline radius-button">
            <a href="/" class="text-uppercase btn gradient1 font-bold prim_button" id="" onclick="tellAndroidFailed('<%=params[:msg]%>')">Try again</a>          
          </p>
          </div>
      </div>
    </div>
  </div>
    <%=render "layouts/page_height_setting"%>
  </section>
</div>
<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
  localStorage.removeItem("offer_couponcode_message")
  var  keysToRemove = ["offer_purcahse_promo_flag","offer_coupon_message","offer_purcahse_promo_code","offer_purcahse_promo_id"]
     keysToRemove.forEach(k => localStorage.removeItem(k))
  fbq('track', 'TransactionFailed', {
    value: 0,
    currency: 'USD',
  });
  var message = "<%=params[:message]%>"
  var orderid = "<%=params[:order_id]%>"
  var transaction_id = "<%=params[:transaction_id]%>"
  var pr = "0"
  var cupn_code = "<%=params[:cupn_code]%>"
  var cupn_tit = "<%=params[:copun_tit]%>"
  var orderno = "<%=params[:order_id]%>"
  var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
  function get_user_region_time_data(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    return [region,user_city,date,time]
  }
  smartech('dispatch', 'sub_failed', {
    'order_id': orderid,
    'error_reason': message
  });
  send_netcore_sub_status(pr)
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
  _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction failure &'+message, 1, {dimension23: message, dimension22: 'NA'}]);

  function payment_fail_andrd(){
    branch.logEvent(
       "Transaction_Failed",
        {"transaction_id": transaction_id,
        "pack_name": '',
        "pack_value": '',
        "pack_duration": '',
        "transaction_value": '0',
        "transaction_status": 'failed',
        "transaction_mechanism": '',
        "transaction_coupon": '',
        "auto_renew": '',
        "failure_reason": message
       },
       function(err) { console.log(err); }
    );
  }
    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionfailed(transaction_id+"|"+""+"|"+"");
      }
      catch(err){
        payment_fail_andrd()
      }
    }
    else{
      payment_fail_andrd()
   }
   function send_netcore_sub_status(pr){
   var plan_name = ""
   var plan_type = ""
   var user_region = $(".user_region").val()
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
        var coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
        if(coupon_code_name == undefined){
        coupon_code_name = localStorage.getItem("new_plan_promo_code")
         if(coupon_code_name == undefined){
          coupon_code_name = "NA"
         }
        }
        var pack_value = localStorage.getItem("first_purchase_plan_price")
if(pack_value == undefined){
 pack_value = localStorage.getItem("new_plan_price")
}
var cu_co_type = localStorage.getItem("promocode_type")
   smartech('dispatch', 'subscription_failure', {
    'user_state': $.cookie('user_state').toLowerCase(),
    'user_id': getShemarooCookies().user_analytical_id,
    'status': "failure",
    'order_id': orderid,
    'message': message,
    'payment_mode': "adeyen",
    'coupon_code': coupon_code_name,
    'COUNTRY':user_region,
    'plan_name': plan_name.join(','),
    'plan_type': plan_type.join(','),
    // 'plan_count': plan_name.length,
    'pack_value_new': parseFloat(pack_value),
    'coupon_code_type': cu_co_type,
    'price_charged_new': parseFloat(pr),

  });
   Apxor.logEvent("subscription_failure", {
    'user_id'          : getShemarooCookies().user_analytical_id,
    'status'           : "failure",
    'order_id'         : orderid,
    'message'          : message,
    'payment_mode'     : "adeyen",
    'coupon_code'      : coupon_code_name,
    'COUNTRY'          : user_region,
    'plan_name'        : plan_name.join(','),
    'plan_type'        : plan_type.join(','),
    // 'plan_count'    : plan_name.length,
    'pack_value_new'   : parseFloat(pack_value),
    'coupon_code_type' : cu_co_type,
    'price_charged_new': parseFloat(pr),
    'source': src
     },"PURCHASE_PLAN");
 }

 branch.logEvent(
      "subscription_failure",
        {
    'user_state'       : $.cookie('user_state').toLowerCase(),
    'user_id'          : getShemarooCookies().user_analytical_id,
    'status'           : "failure",
    'order_id'         : orderid,
    'message'          : message,
    'payment_mode'     : "adeyen",
    'coupon_code'      : coupon_code_name,
    'COUNTRY'          : user_region,
    'plan_name'        : plan_name.join(','),
    'plan_type'        : plan_type.join(','),
    // 'plan_count'    : plan_name.length,
    'pack_value_new'   : parseFloat(pack_value),
    'coupon_code_type' : cu_co_type,
    'price_charged_new': parseFloat(pr),
    'source': src

        },
      function(err) { console.log(err); }
      );
 var plan_name = ""
    var pln_type = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      pln_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
    }

function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}


if(getShemarooCookies().mobile_browser_type == "android"){
 //Android.doPurchaseFailure(orderno+"|"+plan_name+"|"+price+"|"+"Adyen"+"|"+cupn_code+"|"+cupn_tit+"|"+pln_type+"|"+cupn_tit+"|"+"fresh|"+message); 
}
else{
 //pymnt_failure_branch(plan_name,orderno,price,region,user_city,date,time,pln_type)
}

function get_andrd_ver(){
  var ver_st = "false"
  if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
    var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
    if(app_version != undefined && app_version > 80){
      ver_st = "true"
    }
  }
  return ver_st
}



var andr_ver = get_andrd_ver()
if(andr_ver == "false"){
  subscr_evnt("Subscription_Failure",transaction_id,"adeyon","","percentage",plan_name.join(","),"","USD",cupn_tit,parseFloat(pr),"US",message)
}

function subscr_evnt(ev_name,or_id,pymt_mode,cupn_code,cupn_type,pln_name,pln_type,currency,cupn_name,price,reg,msg){

     branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data)});

    ev_det = {
      "event_name": "Subscription_Failure",
      "order_id": or_id,
      "message": msg,
      "payment_mode": pymt_mode,
      "coupon_code": "",
      "coupon_code_type": "",
      "plan_name": pln_name,
      "plan_type": pln_type,
      "pack_value_currency": currency,
      "pack_value_INR": price,
      "coupon_code_name": "",
      "price_charged_new": price,
      "subscription_type": "fresh",
      "user_id": getShemarooCookies().user_analytical_id,
      'user_state': $.cookie('user_state').toLowerCase(),
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "platform": "web",
      "region": reg
    
  }
    $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": ev_det },
      success: function(response){
      }
    });
  }

function pymnt_failure_branch(plan_name,transaction_id,price,region,user_city,date,time,pln_type){
  var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
   var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_custom_event",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(","),
              "order_id": transaction_id,
              "payment_mode": "Adyen",
              "message": message,
              "coupon_code": cupn_code,
              "coupon_code_partner": cupn_tit,
              "plan_name": plan_name.join(","),
              "plan_type": pln_type.join(","),
              "coupon_code_name": cupn_tit,
              "amount": price,
              "subscription_type": "fresh",
              "user id": user_id
            },
            "name": "Purchase_failure",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }


});
</script>
<%=render "check_valid_browser_type"%>    
<script>
  function tellAndroidFailed(message) {
    console.log(message);
    Android.failed(message);
    window.location.href = "/plans"
  }
</script>x