<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <h2 class="block margin-bottom-10 margin-top-15">Payment Processing</h2>
        <img src="/assets/payment_pending.svg" class="status_image" alt="" title="">
        <p class="font-regular margin-bottom-15">It looks like it's taking longer than usual to process your payment. Please check after some time</p>
        <div class="inline-block w-100 custom-gradient">
          <p class="inline radius-button">
            <a href="/" class="text-uppercase btn gradient1 font-bold" id="">OK</a>
          </p>
        </div>
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>  
<script>
$("#with_header_tabs").hide();
$(document).ready(function(){
  $("#without_header_tabs").show();  
});  
</script>