<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-15 pr-3 pl-3 pb-2 pt-2">
          <h2 class="block margin-bottom-10 margin-top-15"><%=@heading_msg%></h2>
          <img src="<%=@status == "success" ? "/assets/success.png" : "/assets/transaction_failed.svg"%>" class="status_image" alt="something went wrong" title="something went wrong">
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> Transaction ID </p>
          <p class="font-bold margin-bottom-10 font-size3 shemaroo-color1"><%=@order_id%></p>
            <%if @status == "success"%>
              <p class="font-regular margin-bottom-0">Price Charged: &nbsp;<%=@currency%> &nbsp;<%=@price%></p>
              <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Plan: </b>&nbsp;<%=@pln_tit%></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b>Expiry Date: &nbsp;<%=(Time.parse(@pln_exp_st)).strftime("%d %b %Y %I:%M:%S %p")%></b></p>
            <%end%>
          <p class="margin-bottom-0 font-regular margin-bottom-15"><strong><%=@message%></strong></p>
          <% if @status == "success"%>
           <!--  <p class="font-regular margin-bottom-20 font-size2 shemaroo-color1">We’re happy to provide you your DocsApp coupon code: <b>CARE4U</b> to avail unlimited Doctor consultation for you and your family for a period of 1 month. Avail offer on <a href="javascript:void(0)" id="doc_app_link">https://rb.docsapp.in/shemaroo </a>before 15/06/2020. <a href="javascript:void(0)" id="doc_app_tc">T&C Apply.</a></p> -->
          <%end%>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="<%=(@status == 'success') ? '/' : '/plans' %>" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=@message%>')">
                <%if @status == "success"%>
                 continue
                 <%else%>
                 Try again
                 <%end%>
               </a>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>


<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
     var tc_url = "<%=SITE%>/shemaroo_docs_offer"
   $("#doc_app_link").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android") {
       Android.doAmazonpayment("externalurl","https://rb.docsapp.in/shemaroo"); 
      }
      else{
       $("#doc_app_link").attr("href","https://rb.docsapp.in/shemaroo")
      }
    })
    $("#doc_app_tc").click(function(){
     if(getShemarooCookies().mobile_browser_type == "android") {
      Android.doAmazonpayment("externalurl",tc_url+"?type=mobile"); 

    }
    else{
      $("#doc_app_link").attr("href",tc_url)
    }
  });
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
  $("#doc_app_link").click(function(){
      if(getShemarooCookies().mobile_browser_type == "android") {
       Android.doAmazonpayment("externalurl","https://rb.docsapp.in/shemaroo"); 
      }
      else{
        $("#doc_app_link").attr("href","https://rb.docsapp.in/shemaroo")
      }
  })
});
</script>
<%=render "check_valid_browser_type"%>    
<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var tvod_type  = localStorage.getItem("mv_cnt_type")
   if(tvod_type != undefined && localStorage.getItem("mv_tvod_url") != undefined){
    $("#mobile_continue").attr("href",localStorage.getItem("mv_tvod_url"))
   }
    if(getShemarooCookies().mobile_browser_type == "android"){
      var user_anal_id = getShemarooCookies().user_analytical_id;
      branch.logout();
      branch.setIdentity(user_anal_id);
    }
    var message = "<%=@message%>"
    var status_message = "<%=@status%>"
    var price = "<%=@price%>"
    var currency = "<%=@currency%>"
    var orderno = "<%=@order_id%>"
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    send_netcore_sub_status(price)
    function branch_purcahse_event(price,currency,plan_name){
      var event_and_custom_data = {
       "transaction_id": orderno,
       "currency": "INR",
       "revenue": parseFloat(price) ,
       "description": "Plan purchase",
       "productName": plan_name,
        "user_id": getShemarooCookies().user_analytical_id,
        "region": region,
        "city": user_city,
        "date_event": date,
        "time_event": time,
        "session_id": getShemarooCookies().user_id
      };

      function purchase_andrd(){
        branch.logEvent(
         "Purchase_App",
         {
         "transaction_id": orderno,
         "currency": "INR",
         "revenue": parseFloat(price) ,
         "description": "Plan purchase",
         "productName": plan_name,
          "user_id": getShemarooCookies().user_analytical_id,
          "region": region,
          "city": user_city,
          "date_event": date,
          "time_event": time,
          "session_id": getShemarooCookies().user_id
         },
         function(err) { console.log(err); }
        );
      }

      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doPurchase(orderno+"|INR|"+price+"|Plan purchase|"+plan_name);
          purchase_andrd()
        }
        catch(err){
          //purchase_andrd()
        }
      }
      else{
        //purchase_andrd()
      }
    }
    if(status_message == "success"){
      netcore_payment_success()
      
      //_paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1]);
       /*branch.logEvent(
     "SUBSCRIBE",
      {'amount': price,
      'currency': currency,
      'user_id': getShemarooCookies().user_analytical_id},
     function(err) { console.log(err); }
     );*/
     var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
     branch_purcahse_event(price,currency,plan_name)
     branch_sub_pack_cnt()
    _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction success', 1, {dimension36: plan_name, dimension37: price}]);

    function payment_resp_andrd(){
      branch.logEvent(
     "Transaction_Success",
     {  "transaction_id": orderno,
        "pack_name": plan_name,
        "pack_value": price,
        "pack_duration": '',
        "transaction_value": '',
        "transaction_status": 'Success',
        "transaction_mechanism": '',
        "transaction_coupon": '',
        "auto_renew": ''
      },
     function(err) { console.log(err); }
     );
    }

    if(getShemarooCookies().mobile_browser_type == "android"){
      try{
        Android.doTransactionsuccess(orderno+"|"+plan_name+"|"+price);
      }
      catch(err){
        payment_resp_andrd()
      }
    }
    else{
      payment_resp_andrd() 
      //post_dt_branch(plan_name,orderno,price,region,user_city,date,time) 
    }

     fb_pixel_subscribe_event()
    }
    if(status_message == "failure"){
     _paq.push(['trackEvent', 'Payments', 'Activity', 'transaction failure &'+message, 1, {dimension23: message, dimension22: 'NA'}]);
      smartech('dispatch', 'sub_failed', {
        'order_id': orderno,
        'error_reason': message
      });
     fb_pixel_transaction_fail_event()
     branch_transactionfail_event()
    }

  function fb_pixel_subscribe_event(){
    var plan_name = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
    }
    fbq('track', 'Subscribe', {
      value: price,
      currency: 'INR',
      content_name: plan_name,
    })
  }

  function fb_pixel_transaction_fail_event(){
    fbq('track', 'TransactionFailed', {
    value: 0,
    currency: 'INR',
    });
  }

  function netcore_payment_success(){
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }

      smartech('dispatch', 'subscribe success', {
        'user_id': getShemarooCookies().user_analytical_id,
        'amount': price,
        'currency': currency,
        'plan_name': plan_name,
        'transaction_id': orderno,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '',
        'transaction_status': 'Success',
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': ''
      });
    }

   /* $("#mobile_continue").click(function(){
      var payment_status = "<%=@status%>"
      if(payment_status == "success"){
        window.location = "/"
      }
      else{
        window.location = "/plans"
      }
    }) */
    function branch_transactionfail_event(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
      var transaction_id = "<%=@order_id%>"
      var plan_name = "";
      if(localStorage.getItem("first_purchase_plans_details")){
       plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      else if(localStorage.getItem("new_plans_details")){
        plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[10] })
      }
      _paq.push(['trackEvent', 'Payments', 'Activity', 'Subscription_Cancelled', 1, {dimension36: plan_name, dimension37: price, dimension23: message, dimension29: date, dimension30: time, dimension31: region, dimension32: user_city, dimension33: getShemarooCookies().user_id, dimension14: getShemarooCookies().user_analytical_id}]);

      function tran_failed_andrd(){
        branch.logEvent(
         "Transaction_Failed",
          {"transaction_id": transaction_id,
          "pack_name": plan_name,
          "pack_value": price,
          "pack_duration": '',
          "transaction_value": '0',
          "transaction_status": status_message,
          "transaction_mechanism": '',
          "transaction_coupon": '',
          "auto_renew": '',
          "failure_reason": message
          },
         function(err) { console.log(err); }
        );
      }
       var user_region = $(".user_region").val()
      smartech('dispatch', 'Subscription_Cancelled', {
        'user_id': getShemarooCookies().user_analytical_id,
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
      });

      /* Apxor.logEvent('Subscription_Cancelled', {
        'transaction_id': transaction_id,
        'pack_name': plan_name,
        'pack_value': price,
        'pack_duration': '',
        'transaction_value': '0',
        'transaction_status': status_message,
        'transaction_mechanism': '',
        'transaction_coupon': '',
        'auto_renew': '',
        'failure_reason': message,
        'region': region,
        'city': user_city,
        'date_event': date,
        'time_event': time,
        'userid': getShemarooCookies().user_analytical_id,
        'session_id': getShemarooCookies().user_id,
        'COUNTRY':user_region
      },"PURCHASE_PLAN"); */


      tran_failed_andrd()

     /* branch.logEvent(
     "Subscription_Cancelled",
      {"transaction_id": transaction_id,
      "pack_name": plan_name,
      "pack_value": price,
      "pack_duration": '',
      "transaction_value": '0',
      "transaction_status": status_message,
      "transaction_mechanism": '',
      "transaction_coupon": '',
      "auto_renew": '',
      "failure_reason": message,
      "region": region,
      "city": user_city,
      "date_event": date,
      "time_event": time,
      "userid": getShemarooCookies().user_analytical_id,
      "session_id": getShemarooCookies().user_id
      },
     function(err) { console.log(err); }
     ); */
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doTransactionfailed(transaction_id+"|"+plan_name+"|"+price+"|"+status_message+"|"+message);
        }
        catch(err){
          tran_failed_andrd()
        }
   }
    }


     function branch_sub_pack_cnt(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    var mnt_cnt = 0;
    var year_cnt = 0;
    var all_type_dt = "";
    if(localStorage.getItem("first_purchase_plans_details")){
     all_type_dt  =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
  else if(localStorage.getItem("new_plans_details")){
    all_type_dt =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
  }
   var counts = {};
   all_type_dt.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
  if(counts["Monthly"] != undefined){
    var mnt_cnt = counts["Monthly"]
    for(i=0;i<mnt_cnt;i++){
      function sub_monthly_andrd(){
        branch.logEvent(
          "Subscription_MonthlyPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsmonthlypack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_monthly_andrd()
        }
      }
      else{
        sub_monthly_andrd()
      }
    }
  }
  else if(counts["Yearly"] != undefined){
    var year_cnt = counts["Yearly"]
    for(i=0;i<year_cnt;i++){
      function sub_annual_andrd(){
        branch.logEvent(
          "Subscription_AnnualPacks",
          {"transaction_id": orderno,
            "pack_name": plan_name,
            "user_data": {
              'user_id': getShemarooCookies().user_analytical_id,
              "region": region,
              "city": user_city,
              "date_event": date,
              "time_event": time,
              "session_id": getShemarooCookies().user_id
            }
          },
          function(err) { console.log(err); }
        );
      }
      if(getShemarooCookies().mobile_browser_type == "android"){
        try{
          Android.doSubsannualpack(orderno+"|"+plan_name);
        }
        catch(err){
          sub_annual_andrd()
        }
      }
      else{
        sub_annual_andrd()  
      }
    }
  }
  }

 function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}

 function post_dt_branch(plan_name,transaction_id,price,region,user_city,date,time){
  var user_id = getShemarooCookies().user_analytical_id;
  //localStorage.removeItem("brnch_finger_id")
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  //branch.getBrowserFingerprintId(function(err, data) { localStorage.setItem("brnch_finger_id",data) });
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_s2s",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "productName": plan_name.join(",")
            },
            "event_data": {
              "currency": "INR",
              "description": "Plan purchase",
              "pack_name": plan_name,
              "revenue": price,
              "transaction_id": transaction_id
            },
            "name": "PURCHASE",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
 }





function send_netcore_sub_status(prc){
   var plan_name = ""
   var plan_type = ""
   var cur_sym  = ""
    if(localStorage.getItem("first_purchase_plans_details")){
      plan_name =  localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[2] })
       plan_type = localStorage.getItem("first_purchase_plans_details").split(",").map(function(t){ return t.split("|")[3] })
       cur_sym = localStorage.getItem("first_purchase_plans_details").split("|")[4]
    }
    else if(localStorage.getItem("new_plans_details")){
      plan_name =  localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[2] })
      plan_type = localStorage.getItem("new_plans_details").split(",").map(function(t){ return t.split("|")[3] })
      cur_sym = localStorage.getItem("new_plans_details").split("|")[4]
    }

  var st = "<%=@status == "success" ? "True" : "False"%>"
  var user_region = $(".user_region").val()
smartech('dispatch', 'Subscription_Result', {
    'status': st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Payu",
    'coupon_code': 'False',
    'price_charged': parseFloat(prc),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(prc),
    'coupon_code_name': ''
  });

Apxor.logEvent('Subscription_Result', {
  'status': st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Payu",
    'coupon_code': 'False',
    'price_charged': parseFloat(prc),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(prc),
    'coupon_code_name': ''
},"PURCHASE_PLAN");


  var sub_stat = "<%=@status%>"
  var evn_name = 'subscription_failure'
var plat_form = "website"
  if(getShemarooCookies().mobile_browser_type == "android"){
    plat_form = "android"
  }
var evn_st = "failure"
if(sub_stat == "success"){
  evn_name = 'subscription_success'
  evn_st = "success"
}else{
  prc = 0
}
var cu_co_type = localStorage.getItem("promocode_type")
var coupon_code_name = localStorage.getItem("first_purcahse_promo_code")
 var nc_coupon_code = localStorage.getItem("first_purcahse_promo_flag")
if(coupon_code_name == undefined){
  coupon_code_name = localStorage.getItem("new_plan_promo_code")
  nc_coupon_code  = localStorage.getItem("new_plan_promo_flag")
  if(coupon_code_name == undefined){
    coupon_code_name = "NA"
    nc_coupon_code  = "NA"
  }
}
nc_coupon_code = nc_coupon_code == "true" ? 1 : 0
var pack_value = localStorage.getItem("first_purchase_plan_price")
if(pack_value == undefined){
  pack_value = localStorage.getItem("new_plan_price")
}
  smartech('dispatch', evn_name, {
    'status': evn_st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Payu",
    'coupon_code': nc_coupon_code,
    'price_charged': parseFloat(prc),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(pack_value),
    'coupon_code_type': cu_co_type,
     'coupon_code_name': coupon_code_name,
     "transaction_type" : "online",
     "pack_value_currency": cur_sym

  });


Apxor.logEvent(evn_name, {
    'status': evn_st,
    'user_id': getShemarooCookies().user_analytical_id,
    'order_id': orderno,
    'message': message,
    'payment_mode': "Payu",
    'coupon_code': nc_coupon_code,
    'price_charged': parseFloat(prc),
    'COUNTRY':user_region,
    'plan_name': plan_name.join(","),
    'plan_type': plan_type.join(","),
    //'plan_count': plan_name.length,
    'pack_value': parseFloat(pack_value),
    'coupon_code_type': cu_co_type,
     'coupon_code_name': coupon_code_name,
     "transaction_type" : "online",
     "pack_value_currency": cur_sym
  },"PURCHASE_PLAN");

  branch.logEvent(
  evn_name,
    {
  "order_id": orderno,
  "payment_mode": "Payu",
  "coupon_code": nc_coupon_code, 
  "coupon_code_type": cu_co_type,
  "plan_name":plan_name.join(","),
  "plan_type": plan_type.join(","),
  // "plan_count":  plan_name.length,
  "pack_value":  parseFloat(pack_value),
  "coupon_code_name": coupon_code_name,
  "price_charged_new":  parseFloat(prc),
  "subscription_type":"fresh",
  "platform": plat_form == "website" ? "web" : plat_form

    },
  function(err) { console.log(err); }
  );


}




})
  

</script>
<script>
  var orderno = "<%=@order_id%>"
  
  gtag('event', 'conversion', {
      'send_to': 'AW-381231221/yoMrCPXH4ZECEPXA5LUB',
      'transaction_id': orderno
  });

</script>