<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
	<div class="plans-container mb-3">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col">
				<h1 class="font-mblack margin-bottom-10 mt-5 shemaroo-color9">Choose plans</h1>
				<p class="font-mbold mulli-font2 margin-bottom-20 shemaroo-color9">Plan that provide access to all categories</p>
				<p class="font-mblack mulli-font3 mt-1 mb-4 pb-2 shemaroo-color9">Buy any yearly plan and get a chance to Win 1 lac. Click here for T&C</p>
				
				<div class="plan-box-container">
					<div class="plan-box-wrap mt-1 odd-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">ShemarooMe Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly1" name="radio-group">
		    				<label for="monthly1" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly1" name="radio-group">
		    				<label for="yearly1" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>
					<div class="plan-box-wrap  mt-1 even-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Bollywood Premiere</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>							
							<p class="margin-bottom-62 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly2" name="radio-group">
		    				<label for="yearly2" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="old-price relative-content shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 699</span>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 499</span>
							</p>
						</div>
					</div>

					<div class="all-plans plan-box-wrap mt-1 odd-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Bollywood Classic Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly3" name="radio-group">
		    				<label for="monthly3" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly3" name="radio-group">
		    				<label for="yearly3" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>


					<div class="all-plans plan-box-wrap mt-1 even-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Kids Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly4" name="radio-group">
		    				<label for="monthly4" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly4" name="radio-group">
		    				<label for="yearly4" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>


					<div class="all-plans plan-box-wrap mt-1 odd-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Punjabi Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly5" name="radio-group">
		    				<label for="monthly5" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly5" name="radio-group">
		    				<label for="yearly5" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>

					<div class="all-plans plan-box-wrap mt-1 even-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Gujarati Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>							
							<p class="margin-bottom-62 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly6" name="radio-group">
		    				<label for="yearly6" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>

					<div class="all-plans plan-box-wrap mt-1 odd-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Marathi Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly7" name="radio-group">
		    				<label for="monthly7" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly7" name="radio-group">
		    				<label for="yearly7" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>

					<div class="all-plans plan-box-wrap mt-1 even-plan-box relative-content mb-3">
						<div class="plan-box shadow-box">
							<h2 class="font-mblack shadow-box mb-3">Comedy Premium</h2>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1">Experience authentic Indian content right at your fingertips with ShemarooMe’s Bollywood, Regional, Comedy & Kids content.</p>
							<p class="margin-bottom-10 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="monthly8" name="radio-group">
		    				<label for="monthly8" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Monthly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 129</span>
							</p>
							<p class="margin-bottom-0 d-flex align-items-center price-box shadow-box">
								<input type="radio" id="yearly8" name="radio-group">
		    				<label for="yearly8" class="mb-0 shemaroo-color9 font-mblack text-uppercase">Yearly</label>
		    				<span class="price font-mblack shemaroo-color9"><i class="fa fa-inr shemaroo-color9" aria-hidden="true"></i> 999</span>
							</p>
						</div>
					</div>

				</div>
				<div class="w-100 mt-4 pt-4 d-flex justify-content-center">
					<a href="javascript:void(0);" id="all_plans" class="shemaroo-color9 font-mbold text-center">
						View All Plans
						<br>
						<img src="/assets/down_arrow.svg" style="width: 22px;">
					</a>
				</div>
				
					
			</div>
		</div>
	</div> 
</div>	

<script>
	$(document).ready(function() {
		$("#all_plans").click(function() {
			$(this).hide();
			$(this).parent(".d-flex").removeClass("mt-4 pt-4");
			$(".all-plans").show();
		});
	});
</script>