<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
	<div class="plans-summary-container mb-3">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col">
				<div class="pull-left w-100 plans-summary-selected-plan-wrap">		
					<div class="pull-left w-100 selected-plan-box">
						<div class="pull-left">
							<p class="mb-1 font-mregular font-size1"><%= get_lang_string("plan_selected")%></p>
							<p class="font-size4 mb-0 font-mblack" id="selected_plan">ShemarooMe Premium</p>
						</div>
						<div class="pull-right">
							<p class="font-mblack mb-0"><i class="fa fa-inr"> 999</i></p>
						</div>	
					</div>	
					<div class="promo-box relative-content">
	          <p class="pull-left w-100 shemaroo-color9 font-size1 mb-2 font-mbold"><%= get_lang_string("have_promocode")%></p>
	          <input type="text" name="" class="pull-left font-size1" placeholder="Enter Promo Code" id="promo_code">
	          <a href="javascript:void(0);" class="pull-left text-uppercase font-mbold font-size3" id="plan_apply_promo">Apply</a>
	          <label class="font-semibold error promocode_error mb-0">
	            Sorry, this Promo Code is Invalid<img src="/assets/error_info.png" class="ml-1" style="margin-top: -4px;">
	          </label>
	          <p class="font-mregular pull-left w-100 text-left shemaroo-color8 font-size2" id="promo_success_msg" style="display: none;">
	          	Your 20% discounted coupon code is been applyed
	          </p>
	          <div class="pull-left w-100 total-price">
	          	<p class="pull-right w-100 text-right mb-3 font-mbold shemaroo-color9 font-size5">
	          		<span class="font-mregular shemaroo-color3 mr-4 font-size2">Discount</span>
	          		<i class="fa fa-inr"></i> 999
	          	</p>
	          	<p class="pull-left font-mbold shemaroo-color9 font-size4">
	          		<%= get_lang_string("total_payable")%><br>
	          		<span class="pull-left w-100 font-mregular shemaroo-color3 font-size2">*<%= get_lang_string("tax_inclusive")%></span>
	          	</p>
	          	<p class="pull-right font-mbold shemaroo-color9" style="font-size: 24px;">
	          		<i class="fa fa-inr"></i> 800
	          	</p>
	          </div>
	        </div>
	      </div>		

	      <div class="pull-left w-100 plans-payment-wrap mt-3">
	      	<h2 class="font-mbold font-size4 mb-3 ml-3 mt-1 pb-1"><%= get_lang_string("choose_payment_mode")%></h2>
	      	<div class="plan-box-wrap relative-content mb-3 w-100 p-0">
						<div class="plan-box shadow-box mb-3">
							<p class="d-flex align-items-center price-box shadow-box mb-3">
								<input type="radio" id="gp" name="radio-group">
		    				<label for="gp" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("google_pay")%></label>
		    				<img src="/assets/google_play_logo.png" class="pull-right mr-4" alt="goole play" title="google play">
							</p>
							<p class="font-mregular mulli-font1 shemaroo-color9 mt-1 mb-0">Lorem ipsum dolor sit amet, consetetur sadipscingundefined</p>	
						</div>
						<div class="pull-left w-100" style="padding: 0px 32px">
							<p class="mb-3 d-flex align-items-center price-box shadow-box mb-3">
								<input type="radio" id="paytm" name="radio-group">
		    				<!-- <label for="cc" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("credit_card")%></label>
		    				<img src="/assets/google_play_logo.png" class="pull-right" alt="goole play" title="google play"> -->
		    				<label for="paytm" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("patym")%></label>
		    				<img src="/assets/paytm.svg" class="pull-right" alt="Paytm" title="Paytm">
							</p>
							<p class="mb-3 d-flex align-items-center price-box shadow-box mb-3">
								<input type="radio" id="dc" name="radio-group">
		    				<label for="paytm" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("amazon_pay")%></label>
		    				<img src="/assets/amazon_pay.png" class="pull-right" alt="Amazon Pay" title="Amazon Pay">
							</p>
							<p class="mb-3 d-flex align-items-center price-box shadow-box mb-3">
								<input type="radio" id="upi" name="radio-group">
		    				<label for="paytm" class="mb-0 shemaroo-color9 font-mregular font-size1 text-uppercase"><%= get_lang_string("lazy_pay")%></label>
		    				<img src="/assets/lazypay.png" class="pull-right" alt="Lazy Pay" title="Lazy Pay">
							</p>							
						</div>	
					</div>
	      </div>

			</div>
		</div>
	</div>	
</div>	
