<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="mobile_plans_selector padding-top-80 padding-top-60">
	<section class="onboarding-bg min-height-div padding-left-15 padding-right-15">		
	  <div class="onboarding-payment-contianer">	  	
	  	<div class="row">
	  		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-">
	  			<h2 class="pull-left w-100 margin-top-25">Plan Details</h2>  			
	  		</div>
	  	</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- current_plans plans_details_page">
					<div class="pull-left w-100 margin-bottom-25">
	            <div class="card">
	              <div class="card-body">
	              	<div class="pull-left w-65">
		                <h5 class="gradient1 pull-left margin-bottom-0" style="<%=get_title_item_color(@plan["plan_categories"].first) if @plan["plan_categories"].present?%>" id="heading_title_color"><%= @plan['ml_subscription_title'] rescue @plan["subscription_title"]%><br></h5>
			                <% if Time.now > Time.parse(@plan["valid_till"])%>
			                <span class="text-uppercase expired_plan font-semibold">EXPIRED PLAN</span>
			                <%else%>
			                <span class="pull-left text-uppercase active_plan font-semibold w-100">
			               <%if @plan["auto_renew"] == "false" && @plan["plan_modified"] == "true"%>
			                 cancelled
			                 <%else%>
			                 <%=get_lang_string("active_plan")%>
			                 <%end%>
			            </span>
			                <%end%>
			              </div>
			              <%if @plan["category"]=="combo"%>
			              <span class="pull-left"> &nbsp;(<%=@plan["plan_categories"].join(", ").gsub("_"," ")%>)</span>
			              <%end%>
			              <div class="pull-right">
			              	<span class="pull-left text-uppercase text-right">
												<small class="pull-right"><%=get_lang_string(@plan["plan_title"].gsub(" ","_").downcase) rescue @plan["plan_title"]%></small> 
												<br><b><%=@plan["currency"]%>&nbsp;<%if @plan["free_trial_pack"] == "true"%>0
                             <%else%>
                            <%=@plan["price_charged"]%><%end%></b>
											</span> 
			              </div>								
									<div class="pull-left w-100">
										<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
											<span class="text-uppercase"><small><%=get_lang_string("transaction_id")%></small></span><br>
											<span class="date"><%=@plan["transaction_id"]%></span>
										</p>
										<%if @plan["free_trial_pack"] == "true" && @plan.has_key?("free_trial_end_date") && !@plan["free_trial_end_date"].blank?%>
										<p class="pull-right margin-top-10 margin-bottom-0 mobile-left">
											<span class="text-uppercase pull-left w-100 text-right mobile-left"><small>Free Trial Period</small></span><br>
											<span class="date"><%=Time.parse(@plan["free_trial_start_date"]).strftime("%d %b %Y") if @plan["free_trial_start_date"].present?%> - <%=((@plan["free_trial_end_date"]).to_date - 1.day).strftime("%d %b %Y") if @plan["free_trial_end_date"].present?%></span>
										</p> 
										<%end%>      
									</div>	
									<%if @plan["auto_renew"] != "false" && @plan["plan_modified"] != "true"%>
									<div class="pull-left w-100">
										<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
											<%if @plan["txn_status"] == "success" || @plan["txn_status"] == "autorenewal_success"%>
											<span class="text-uppercase"><small>Next Billing On</small></span><br>
											<span class="date"><%=Time.parse(@plan["billing_date"]).strftime("%d %b %Y") %></span>
											<span class="date">You will be charged  <%=@plan['currency']%> 
                       <%if $region == "MY" && (@plan["period"].downcase == "month" || @plan["period"].downcase == "monthly") %>
                         8
                        <%else%>
												<%=@plan['next_billing_amount']%>
												<%end%>
												</span>
										   <%else%>
										   <!-- <span class="text-uppercase"><small>Billing Status</small></span><br>
                       <span class=""><%#= @plan["txn_msg"]%></span> -->
										   <%end%>
										</p>
									</div>
									<%end%>

									<%if @plan["txn_status"] == "pending" %>
									<div class="pull-left w-100">
										<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
										   <span class="text-uppercase"><small>Billing Status</small></span><br>
                       <span class=""><%= @plan["txn_msg"]%></span>
										</p>
									</div>
									<%end%>

									<%if @plan["txn_status"] == "parking" %>
									<div class="pull-left w-100">
										<p class="pull-left margin-top-10 margin-bottom-0 margin-right-25">
										   <span class="text-uppercase"><small>Parking Status</small></span><br>
                       <span class=""><%= @plan["txn_msg"]%></span>
										</p>
									</div>
									<%end%>

									<div class="pull-left w-100">
										<div class="pull-left margin-top-10 margin-bottom-0">
											<p class="margin-bottom-0"><span class="text-uppercase"><small><%=get_lang_string("payment_method")%></small></span><br></p>
											<p class="margin-bottom-0 current_plan_payment_method">
												<!-- <img src="/assets/master-card.png" alt="" title=""> -->
												<!-- <span class="label_pwd">.... .... ....</span><span>9012</span> -->


												<%if @plan['payment_gateway'] != "amazon_pay_web" && @plan['payment_gateway'] != "viva_kuwait"%>
													<span><small><%=@plan["payment_gateway"].gsub("_","").capitalize%></small></span> 
													<span><small><%="| "+@plan["payment_mode"].gsub("_","").capitalize unless @plan["payment_mode"].blank?%></small></span>
												    <%elsif @plan['payment_gateway'] == "viva_kuwait" 
												    	%>
												    <span><small>stc</small></span> 
													<%else%>
													<span><small>AmazonPay</small></span> 
													<%end%>
											</p>	
											<%if  false%>
											<p>
											<%if  @plan["auto_renew"] != "false"%>
											            <a href="javascript:;" class="text-uppercase"  onclick="unsubscribe_plan('<%=@plan["subscription_id"]%>','<%=@plan["plan_id"]%>')">Unsubscribe AUTO RENEW</a>
											
		                <%else%>
		                <small>NO AUTO RENEW</small>
		                <%end%><br>
											</p>
											<%end%>
		              </div>
		             <!--  <div class="pull-right margin-top-10">
		              	<small><a href="javascript:;" class="text-uppercase font-medium">edit</a></small>
		              </div> -->
	            	</div>
		          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>

	</section>
</div>
<script type="text/javascript">
	function unsubscribe_plan(subscription_id,plan_id){ 
            var data = 'subscription_id='+subscription_id+'&plan_id='+plan_id
        $.ajax({
            url: "/plans/unsubscribe_plan",
            type: 'GET',
            data: data,
            success: function(data){
            	locatioin.reload();
            }
        });
        // }
    }

    $(document).ready(function() {
    	if(getShemarooCookies().mobile_browser_type == "android") { 
		    $('.min-height-div').css('min-height',window.outerHeight+'px');      
		  } 
    });

</script>
