<%if $region == "US" || $region == "CA" %>
  <%if Rails.env.production? || Rails.env.pre_production? %>
    <script src="https://live.adyen.com/hpp/cse/js/1115481402240181.shtml"></script>
  <%else%>
    <script src="https://test.adyen.com/hpp/cse/js/8215290589662396.shtml"></script>
  <%end%>
<%end%>  
<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
  <div class="plans-summary-container mb-3 min-height-div">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col">
        <div class="pull-left w-100 plans-summary-selected-plan-wrap">  
          <div class="pull-left w-100 selected-plan-box">
            <div class="pull-left">
              <p class="mb-1 font-mregular font-size1"><%= get_lang_string("plan_selected")%></p>
              <p class="font-size-plan mb-0 font-mblack" id="selected_plan" style="color:#D51F53"></p>
            </div>
            <div class="pull-right">
              <p class="font-mblack1 mb-0"><span class="sel_pl_cuncy font-mregular">₹</span>&nbsp;<span class="sel_pln_prc"></span></p>
            </div>  
          </div>  
          <div class="promo-box relative-content">
            <p class="pull-left w-100 she-col9 font-size1 mb-2 font-mbold promo_sec"><%= get_lang_string("have_promocode")%></p>
            <input type="text" name="" class="pull-left font-size1 promo_sec" placeholder="<%=get_lang_string("enter_promo_code")%>" id="promo_code" maxlength="15">
            <a href="javascript:void(0);" class="pull-left text-uppercase font-mbold font-size3 promo_sec" id="plan_apply_promo"><%=get_lang_string("apply")%></a>
            <p class="font-mregular pull-left w-100 text-left shemaroo-color1 font-size3" id="promo_suc_pop" style="display: none;">
              <span class="pull-left w-100 font-mregular font-size2 shemaroo-color1"><img src="/assets/check_green.svg" alt="" title="">&nbsp;&nbsp;<%= get_lang_string("apply_code")%>&nbsp;&nbsp;<span class="text-uppercase font-semibold <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color4" %>"><span id="user_promo_code"> </span>&nbsp;&nbsp;</span><img src="/assets/cancel.svg" class="cancel_plan_promo" alt="" title=""><br></span>
            </p>
            <label class="font-mregular error promocode_error mb-0">
              Sorry, this Promo Code is Invalid<img src="/assets/error_info.png" class="ml-1" style="margin-top: -4px;">
            </label>
            <p class="font-mregular pull-left w-100 text-left shemaroo-color8 font-size2" id="promo_success_msg" style="display: none;">
              Your 20% discounted coupon code is been applyed
            </p>
            <%if $region == "US" || $region == "CA"%>
              <div class="pull-left w-100 padding-top-30 margin-top-25 margin-bottom-5" style="border-top: 1px solid #c6c6c6;">
                <div class="input-group zipcode margin-bottom-15">
                  <div class="zipcode_wrap relative-content">
                  <%if $region == "US" %>
                    <input type="number" id="adyenzip_code" name="" class="form-control" placeholder="Enter ZIP Code" onKeyPress="if(this.value.length==5) return false;">
                     <span id="adyen_hint_zip" class="hint_txt">Zip code should be 5 digits</span>
                  <%else%>  
                    <input type="text" id="adyenzip_code" name="" class="form-control" placeholder="Enter ZIP Code" onKeyPress="if(this.value.length==6) return false;">
                    <span id="adyen_hint_zip" class="hint_txt">Zip code should be 6 digits</span>
                  <%end%>  
                                                                 
                  </div>  
                  <label id="zip_error" class="error">Invalid zip code</label>
                </div>
              </div>
            <%end%>
            <div class="pull-left w-100 total-price">
              <p class="pull-right w-100 text-right mb-3 font-mbold she-col9 font-size5" id="disct_sec" style="display:none;">
                <span class="font-mregular shemaroo-color3 mr-4 font-size2">Discount</span>
                <i class="fa fa-inr"></i> 999
              </p>
              <p class="pull-left font-mbold she-col9 font-size4">
                <%= get_lang_string("total_payable")%><br>
                <span class="pull-left w-100 font-mregular shemaroo-color3 font-size2" id="inc_tax">*<%= get_lang_string("tax_inclusive")%></span>
              </p>
              <p class="pull-right font-mblack1 she-col9" style="font-size: 24px;">
                <span class="sel_pl_cuncy font-mregular"></span>&nbsp;<span id = "grand_amount" class="sel_pln_final_prc"></span>
              </p>
            </div>
            <div class="pull-left w-100 total-price" id="tvod_sec" style="display:none;">
              <p class="pull-left font-mbold shemaroo-color6 font-size4">
                <span id="pre_rel_mesg"> </span><br>
                <span class="pull-left w-100 font-mregular shemaroo-color3 font-size2" id="mov_valid_till" style="display:none;">*<%= get_lang_string("tax_inclusive")%></span>
              </p>
            </div>
          </div>
        </div>
         <% if @payment_details.present? %>
        <div class="pull-left w-100 plans-payment-wrap mt-3">
          <h2 class="font-mbold font-size4 mb-3 ml-3 mt-1 pb-1" id="chs_pymt"><%= get_lang_string("choose_payment_mode")%></h2>
          <div class="plan-box-wrap relative-content mb-3 w-100 p-0">
           
              <% @payment_details[0..4].each do |payment| %>
                <div class="pull-left w-100 payment_optionbox_wrap" id="<%= "#{payment["mode"].downcase.split(" ").join("_")}_option"%>">
                  <% @payment = payment["mode"] %>
                  <% @gateway = payment["payment_gateway"] %>
                  <div class=" <%=payment['en_description'].present?  || payment['hi_description'].present? || payment['gu_description'].present? ? "payment_optionbox_bg" : "" %>">
                      <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                      <input type="radio"  id="<%= (payment["payment_gateway"].present? && payment["payment_gateway"] != "") ? "#{payment["payment_gateway"].downcase.split(" ").join("_")}_"+"#{payment["mode"].downcase.split(" ").join("_")}_sec" : "#{payment["mode"].downcase.split(" ").join("_")}_sec" %>" name="radio-group" class="pay_sel_radio" value="<%=payment['slash_price']%>|<%=payment['discount_price']%>|<%=payment['discount']%>|<%= payment['discount_type'] %>|<%= payment['payment_gateway'] ? payment['payment_gateway'] : payment['mode']%>" data-mode = "<%= "#{payment["mode"].downcase.split(" ").join("_")}" %>" data-type = "<%= "#{payment["mode"].downcase.split(" ").join("_")}" %>">
                      
                      <label for="<%= (payment["payment_gateway"].present? && payment["payment_gateway"] != "") ? "#{payment["payment_gateway"].downcase.split(" ").join("_")}_"+"#{payment["mode"].downcase.split(" ").join("_")}_sec" : "#{payment["mode"].downcase.split(" ").join("_")}_sec" %>" class="mb-0 she-col9 font-mregular font-size1 text-uppercase"><%= params[:lang] == "hi" ? payment["name"]["hi"]: params[:lang] == "gu" ? payment["name"]["gu"] : payment["name"]["en"]%></label> 
                        <%=render "payment_images"%>
                    </p>
                    <%if params[:lang] == "hi" && payment['hi_description'].present? %>
                      <span class="payment_optionbox_desc">
                        <%= payment['hi_description'] %>
                      </span>
                       <%elsif params[:lang] == "gu" && payment['gu_description'].present? %>
                      <span class="payment_optionbox_desc">
                        <%= payment['gu_description'] %>
                      </span>
                      <%elsif  payment['en_description'].present?%>
                      <span class="payment_optionbox_desc">
                        <%= payment['en_description'] %>
                      </span>
                    <%end%>
                  </div>
                  <%=render "payment_sections"%>
                  </div>
              <% end %>
              
              
            </div>
            <% if @payment_details.length > 5 %>  
             <div class="float-left w-100 more_pay_options app-d-flex hv-center flex-column mt-4">
              <p class="font-bold app-color1 mb-0 font-size3"><%= get_lang_string("more_payment_options")%></p>
              <a href="javascript:void(0);">
                <img src="/assets/new_icons/<%= @theme == "light_theme" ? "down_arrow_dark.svg" : "down_arrow.svg"%>" alt="" title="">
              </a>
              </div>
            <% end %>
              <div class="plan-box-wrap relative-content mb-3 w-100 p-0">
              
                <div id="hiding-content" style="display: none;">
                <%if @payment_details[5..(@payment_details.length - 1)].present?%>
              <% @payment_details[5..(@payment_details.length - 1)].each do |payment| %>
              <div class="pull-left w-100 payment_optionbox_wrap" id="<%= "#{payment["mode"].downcase.split(" ").join("_")}_option"%>">
               <% @payment = payment["mode"] %>
               <% @gateway = payment["payment_gateway"] %>
              <div class=" <%=payment['en_description'].present?  || payment['hi_description'].present? || payment['gu_description'].present? ? "payment_optionbox_bg" : "" %>">
                <p class="mb-3 vcenter-align-content price-box shadow-box mb-3">
                  <input type="radio"  id="<%= (payment["payment_gateway"].present? && payment["payment_gateway"] != "") ? "#{payment["payment_gateway"].downcase.split(" ").join("_")}_"+"#{payment["mode"].downcase.split(" ").join("_")}_sec" : "#{payment["mode"].downcase.split(" ").join("_")}_sec" %>" name="radio-group" class="pay_sel_radio" value="<%=payment['slash_price']%>|<%=payment['discount_price']%>|<%=payment['discount']%>|<%= payment['discount_type'] %>|<%= payment['payment_gateway'] ? payment['payment_gateway'] : payment['mode']%>" data-mode = "<%= "#{payment["mode"].downcase.split(" ").join("_")}" %>" data-type = "<%= "#{payment["mode"].downcase.split(" ").join("_")}" %>">
                      
                  <label for="<%= (payment["payment_gateway"].present? && payment["payment_gateway"] != "") ? "#{payment["payment_gateway"].downcase.split(" ").join("_")}_"+"#{payment["mode"].downcase.split(" ").join("_")}_sec" : "#{payment["mode"].downcase.split(" ").join("_")}_sec" %>" class="mb-0 she-col9 font-mregular font-size1 text-uppercase"><%= params[:lang] == "hi" ? payment["name"]["hi"]: params[:lang] == "gu" ? payment["name"]["gu"] : payment["name"]["en"]%></label>  
                  <%=render "payment_images"%>
                </p>
                
                   <%if params[:lang] == "hi" && payment['hi_description'].present? %>
                  <span class="payment_optionbox_desc">
                    <%= payment['hi_description'] %>
                  </span>
                   <%elsif params[:lang] == "gu" && payment['gu_description'].present? %>
                  <span class="payment_optionbox_desc">
                    <%= payment['gu_description'] %>
                  </span>
                  <%elsif  payment['en_description'].present?%>
                  <span class="payment_optionbox_desc">
                    <%= payment['en_description'] %>
                  </span>
                <%end%>
              </div>
                <%=render "payment_sections"%>
                </div>
              <% end %>
              <% end %>
              
            </div>
            </div>  
        </div>
        <% end %>
      </div>
    </div>
  </div>  
</div>  
<div class="modal" id="payment_success_pop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p class="normal_txt margin-bottom-20 <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color6" %>"><%= get_lang_string("pack_activated")%><b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="/" class="text-uppercase btn gradient1 font-bold modify-confirm" id="mobile_continue" onclick="tellAndroidSuccess('pack activated sucessfully')"><%= get_lang_string("ok")%></a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>


  <div class="modal" id="unify_invalid">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Please check if you are connected to unifi WIFI connection & try again<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="unifi_ok"><%= get_lang_string("ok")%></a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="modal" id="cupn_suc_pop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-left padding-left-30 padding-right-30">
            <h5 class="pull-left w-100 margin-bottom-5 margin-top-5"></h5>
            <p class="pull-left w-100 margin-top-5 margin-bottom-25 <%= @theme == "light_theme" ? "shemaroo-color2" : "shemaroo-color6 "%> font-mregular normal_txt">
             <%= get_lang_string("coupon_eligible_1")%> <b id="sel_pln_name"> </b> <%= get_lang_string("plan")%>.
            </p>
            <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
              <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
                <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="cupn_can"><%=get_lang_string("cancel")%></a>
              </p>
              <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="cupn_proc"><%=get_lang_string("proceed")%></a>
              </p>        
            </div>
          </div>   
        </div>
      </div>
    </div>

<script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 0; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);
  </script>

<%if $region == "IN"%>
  <%=render "paytm_form"%>
  <%=render "paytm_upi_form"%>
  <%=render "lazy_pay_popup"%>
  <%=render "payu_form"%>
  <%=render "paytm_card_form"%>
<%end%>
<%=render "layouts/page_height_setting"%>

 <%=render "check_valid_browser_type"%>
 <%=render "right_click_disable"%>
<input type="hidden" id="shipping_zip_codes" name="shipping_zip_codes" value="<%=@shipping_zip_codes%>">
<input type="hidden" name="user_selected_region" class="user_selected_region" value="<%=@region%>">
<%=render "pln_sumry_script"%>
<script type="text/javascript">
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }
  
   
//  $(document).on('keypress', ':input[type="number"]', function (e) {
//     if (isNaN(e.key)) {
//         return false;
//     }
// });  

 
   (function($)
 {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      } else {
        this.value = "";
      }
    });
  };
}(jQuery));

  $("#wallet_phone").inputFilter(function(value) {
    return /^\d*$/.test(value);    
  });

  <%if $region == "US" || $region == "CA" %>
  $("#adyen_option").hide()
  <%end%>

  $(".more_pay_options").click(function(){
    $("#hiding-content").show();
    $(".more_pay_options").hide();
  
  })
</script>
