<div class="mobile_plans_selector padding-top-80">
  <section class="min-height-div transation_status_page">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans text-center">
        <div class="pull-left w-100 padding-bottom-30 tile-box-shadow margin-bottom-15">
          <h2 class="block margin-bottom-10 margin-top-15"><%= get_lang_string("transactional_successful")%></h2>
          <img src="/assets/success.png" class="status_image" alt="something went wrong" title="something went wrong">
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"> <%= get_lang_string("transaction_id")%></p>
          <p class="font-regular margin-bottom-10 font-size3 shemaroo-color1"><%=params[:order_id]%></p>
            <%#if @status == "success"%>
<!--               <p class="font-regular margin-bottom-0">Price Charged: &nbsp;<%=@currency%> &nbsp;<%=@price%></p>
 -->            <%#end%>
          <p class="margin-bottom-0 font-regular margin-bottom-15"><strong><%=params[:msg]%></strong></p>
          <p class="font-bold margin-bottom-0 font-size3 shemaroo-color1"><b><%= get_lang_string("plan")%>: </b>&nbsp;<span class="suc_mv_title"><%=params[:pln_tit]%></span></p>
          <p class="font-regular margin-bottom-0 font-size3 shemaroo-color1"><b><%= get_lang_string("expiry_date")%>: </b>&nbsp;<b><%=((params[:exp_dt].to_time)+5.hours + 30.minutes).strftime("%d %b %Y %H:%M %p")%></b></p>
          <br>
          <div class="inline-block w-100 custom-gradient">
            <p class="inline radius-button">
              <a href="<%=(@status == 'success') ? '/' : '/' %>" class="text-uppercase btn gradient1 font-bold"  id="mobile_continue" onclick="tellAndroidSuccess('<%=params[:msg]%>')">
                <%#if @status == "success"%>
                 <%= get_lang_string("continue")%>
                 <%#else%>
                 <!-- Try again -->
                 <%#end%>
               </a>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>  
  </section>
</div>

<script type="text/javascript">
$("#with_header_tabs").hide();
$(document).ready(function(){
   var tvod_type  = localStorage.getItem("mv_cnt_type")
   if(tvod_type != undefined && localStorage.getItem("mv_tvod_url") != undefined){
    $("#mobile_continue").attr("href",localStorage.getItem("mv_tvod_url"))
   }
  $("#without_header_tabs").show();  
  if(getShemarooCookies().mobile_browser_type == "android") { 
    $('.min-height-div').css('min-height',window.outerHeight+'px');      
  }
});
</script>
<%=render "check_valid_browser_type"%>    
<script>  
  function tellAndroidSuccess(message) {
    console.log(message);
      Android.success(message);
      
  }

  $(document).ready(function(){
    var user_state = getShemarooCookies().user_actv_sub_status != undefined ? getShemarooCookies().user_actv_sub_status.toLowerCase() : "Registered"
    var user_region = $(".user_region").val();
    var mov_tit = "<%=params[:pln_tit]%>"
    var tkt_name = "<%=params[:cupn_code]%>"
    var tkt_exp = "<%=((params[:exp_dt].to_time)+5.hours + 30.minutes).strftime("%d %b %Y %H:%M")%>"
    var tkt_prc = "" 
    smartech('dispatch', 'Redeem_Ticket', {
    'user_id': getShemarooCookies().user_analytical_id,
    'status': "success",
    'movie_name': mov_tit,
    'ticket_name': tkt_name,
    'ticket_expiry': tkt_exp,
    'ticket_value': 100,
    'user_state': user_state,
    'COUNTRY':user_region
  });
    
  Apxor.logEvent("Redeem_Ticket", {
    'user_id': getShemarooCookies().user_analytical_id,
    'status': "success",
    'movie_name': mov_tit,
    'ticket_name': tkt_name,
    'user_state': user_state,
    'ticket_expiry': tkt_exp
   }, "REDEEM_TICKET");

 branch.logEvent(
  "Redeem_Ticket",
    {'user_id': getShemarooCookies().user_analytical_id,
    'status': "success",
    'movie_name': mov_tit,
    'ticket_name': tkt_name,
    'ticket_expiry': tkt_exp,
    'ticket_value': 100,
    'user_state': user_state,
    'COUNTRY':user_region
  });

 });
</script>