<div class="padding-top-70 landing_page min-height-div-pre1 pull-left w-100">
          <section class="onboarding-bg">
            <div class="onboarding-payment-contianer margin-bottom-30 unify-otp-page">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- onboarding-box-wrap margin-bottom-20">
                  <h2 class="block margin-bottom-10 margin-top-15"><!-- <img src="/assets/back_arrow.svg" class="back_arrow" alt="" title=""> --> OTP Verification</h2>
                  <div class="w-100 tile-box-shadow padding-left-30 padding-right-30 padding-bottom-30 padding-top-30 rounded otp-verification-page">
                    <p>Security Code:&nbsp;<label id="iv_code" class="shemaroo-color2 mb-0"><%=params[:code]%></span></label>
                    <p class="mb-0 font-regular d-block d-sm-none" style="width: 80px;">OTP Code</p>
                    <div class="input-group margin-bottom-25 d-flex align-items-center">
                      <p class="mb-4 pb-1 font-regular d-none d-sm-block" style="width: 80px;">OTP Code</p>
                      <div class="">
                        <input type="number" id="otm_first_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                        <input type="number" id="otm_second_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                        <input type="number" id="otm_third_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>
                        <input type="number" id="otm_fourth_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>   
                        <input type="number" id="otm_fifth_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>     
                        <input type="number" id="otm_sixth_digit" name="" placeholder="0" maxlength="1" pattern="[0-9]" onkeyup="focusNext(event)" onkeypress='return validateNumber(event);'>          
                       <!--  <span class="pull-left w-100 text-center font-regular margin-top-15" id="timer">00:60</span> -->
                        <label class="error text-center" id="otp_verify_error" style="bottom: 5px !important;">Plese enter the the valid 6 digit otp</label>
                        <label class="error text-center" id="resend_otp_msg">Otp sent sucessfully</label>
                      </div>
                    </div>
                    <div class="resend-hide" style="display: none;">
                      <div class="text-center margin-bottom-15 margin-top-0 font-regular">
                        <p>Didn't receive the OTP?</p>
                      </div>
                      <div class="text-center margin-bottom-20 font-semibold" >
                        <a href="javascript:void(0)" class="inline-block text-uppercase" id="otm_resnd">Resend</a>
                      </div>
                    </div>
                    <div class="text-center light">
                      <!-- <a href="javascript:void(0)" class="inline-block text-uppercase gradient-button1" id="verify_otp">
                        <span class="verify_text">Verify</span>
                      </a> -->
                      <div class="inline-block margin-top-10 margin-bottom-15 custom-gradient">
                        <p class="inline radius-button">
                          <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="otm_verfy">verify</a>
                        </p>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
          </section>
        </div>

      </div>
    </div>
  </div>

<%=render "check_valid_browser_type"%>
  <!-- <section class="footer-section pre-register-page" id="footer-section">
    <div class="row">
      <div class="footer-menu pull-left">
        <ul>
          <li class="text-uppercase <%#=params[:action] == "privacy_policy" ? "active" : ""%>"><a href="/privacy_policy">privacy policy</a></li>        
        </ul>
        <p class="margin-bottom-0">Shemaroo &copy; 2018, All Rights Reserved</p>
      </div>
      <div class="pull-right">
        <ul class="pull-left">
          <li><a href="https://www.instagram.com/shemaroome/"><img src="/assets/instagram.png" alt="instagram" title="instagram"></a></li>
          <li><a href="https://www.facebook.com/ShemarooMe/"><img src="/assets/facebook.svg" alt="facebook" title="facebook"></a></li>
          <li><a href="https://twitter.com/ShemarooMe"><img src="/assets/twitter.svg" alt="twitter" title="twitter"></a></li>
        </ul>
        <ul class="pull-right" style="padding-top: 0px;padding-bottom: 0px;">
          <li><a href="javascript:;" class="coming_soon"><img src="/assets/android_play_store.png" alt="playstore" title="playstore"></a></li>
          <li><a href="javascript:;" class="coming_soon"><img src="/assets/app_store.png" alt="appstore" title="appstore"></a></li>                
        </ul>              
      </div>
      
    </div>
    <%#=render "users/validate_mobile_number"%>

  </section> -->
<style>
  @media(max-width: 1366px) {
    .row {
      margin: 0px;
    }
  }
  @media(max-width: 767px) {

    .padding-top-70 {
          
      padding-top: 52px;
      background: #fff;
    }
  }
</style>
<%#=render "validate_mobile_number"%>
<script type="text/javascript">
  $(document).ready(function() {


    var window_height = window.innerHeight;
    var y = $('.header-section1').outerHeight() + $('.footer-section').outerHeight();
    
      var content_height_pre1 = window_height - y + 77;      
      $('.min-height-div-pre1').css('min-height',content_height_pre1+'px');
  });
function focusNext(event) {
  var target = event.target;

  var maxLength = parseInt(target.attributes["maxlength"].value, 10)
  var myLength = target.value.length;
  if(event.keyCode == 8) {
		//console.log(target.previousSibling.previousSibling);		
		var prevElement = target.previousSibling.previousSibling
		if(prevElement != null) {
			prevElement.focus();	
		}
				
	} 
  if (myLength >= maxLength) {
      var next = target;
      while (next = next.nextElementSibling) {
          if (next == null)
              break;
          if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
          }
      }
  }
}

var counter = 60;
var interval = setInterval(function() {
    counter--;
    if (counter <= 0) {
        clearInterval(interval);
        $('#timer').text("00:00");
        return;
    }else{
      $('#timer').text("00:"+counter);
      //console.log("Timer --> " + counter);
    }
}, 1000);
function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}

$(document).ready(function () {
    var id = setInterval(function() {
    $('.resend-hide').show();
    clearInterval(id);

    }, 240000);
});


</script>


