<%if  @user_plans['add_new'] == false %>
<div class="upgrade_alert_page padding-top-80 padding-top-60 pull-left w-100">
	<div class="upgrade_plan_alert_container">
		<div class="float-left w-100 upgrade_plan_alert height-div1 height-div">
			<div class="appd-flex h-100 w-100 flex-column hv-center">
				<p class="primary_text font-black mb-0"><%= get_lang_string("hurry")%></p>
				<p class="secondary_text mb-4 font-regular"><%= get_lang_string("on_top_most_plan")%></p>
				<a href="javascript:void(0);" class="link_text app-color7 font-black text-center"><%= get_lang_string("premium_plan")%><br><span class="small"><%= get_lang_string("two_year_plan")%></span></a>
				<a href="/" class="text-uppercase h-center app-btn" onclick="tellAndroidSuccess1('upgrade')"><%= get_lang_string("home")%></a>
			</div>
		</div>
	</div>
</div>
<%end%>
<% if  @user_plans['add_new'] == true %>
 <div class="upgrade_alert_page padding-top-80 padding-top-60 pull-left w-100">
	<div class="upgrade_plan_alert_container">
		<div class="float-left w-100 upgrade_plan_alert height-div1 height-div">
			<div class="appd-flex h-100 w-100 flex-column hv-center">
				<p class="primary_text <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-black mb-0"><%= get_lang_string("ah")%></p>
				<p class="secondary_text mb-4 <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%> font-regular text-center"><%= get_lang_string("wont_able_to_upgrade")%>&nbsp;<span><%= get_lang_string("your_current_plan")%></span></p>
				<div class="float-left w-100 app-d-flex h-center add_new_plan_upgrade_btn_wrap">
          <a href="<%=get_lang_url("/plans/add_new_plan")%>" class="text-uppercase app-d-flex font-bold no-bg hv-center"><%= get_lang_string("add_new_plan")%></a>
        </div>
				<a href="/" class="text-uppercase h-center app-btn" onclick="tellAndroidSuccess1('upgrade')"><%= get_lang_string("home")%></a>
			</div>
		</div>
	</div>
</div> 
<%end%>
<%=render "layouts/page_height_setting"%>
<%=render "check_valid_browser_type"%>

<script>  
  function tellAndroidSuccess1(message) {
    console.log(message);
      Android.success(message);
  }

  $(document).ready(function() {
    var browser_type = "<%=@type%>";
    var aaid = "<%=params[:aaid]%>"
    var city = "<%=params[:city]%>"
    var device_id = "<%=params[:device_id]%>"
    var device_make = "<%=params[:device_make]%>"
    var user_ip = "<%=params[:user_ip]%>"
    var os = "<%=params[:os]%>"
    var user_agent = "<%=params[:user_agent]%>"
    var branch_details = aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip+'|'+os+'|'+user_agent
    var theme = "<%=params[:theme_option]%>";
    if(browser_type == 'android'){
      document.cookie = 'android_branch_set' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('android_branch_set',branch_details, { expires: 14,path: '/'});
      var login_user_id = "<%=params[:user_id]%>";
      var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
      document.cookie = 'mobile_device_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
        document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
       document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
       $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
        document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
    }

    var src = localStorage.getItem("upgrade_click")
    var user_state = getShemarooCookies().user_actv_sub_status != undefined ? getShemarooCookies().user_actv_sub_status.toLowerCase() : "registered"
    if(src == undefined){
      src = "direct"
    }
    var subscription_type = localStorage.getItem("subscription_type")
    if(subscription_type == undefined){
      subscription_type = "fresh"
    }
    var plt_form = getShemarooCookies().mobile_browser_type != undefined ? "Android" : "Web"
    Apxor.logEvent("Upgrade_button",{
      "user_id": getShemarooCookies().user_analytical_id,
      "platform": plt_form,
      "source": src,
      "user_state": user_state,
      "subscription_type": subscription_type
    }, "Upgrade_button");
    smartech('dispatch', 'Upgrade_button', {
      "user_id": getShemarooCookies().user_analytical_id,
      "platform": plt_form,
      "source": src,
      "user_state": user_state,
      "subscription_type": subscription_type
    });
    branch.logEvent("Upgrade_button",{
      "user_id": getShemarooCookies().user_analytical_id,
      "platform": plt_form,
      "source": src,
      "user_state": user_state,
      "subscription_type": subscription_type
    },
    function(err) { console.log(err); }
    )
      
    var login_user_id = "<%=params[:user_id]%>";
    if(login_user_id.length != 0){
      $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
    }
	})    
  
</script>