<div class="padding-top-80 padding-top-60 pull-left w-100 plans-bg">
	<div class="plans-container min-height-div">
		<div class="row in_us_plan">
			<div class="col-lg-12 col-sm-12 col  mb-3 upgrade_plage_page">
				<h1 class="font-mblack margin-bottom-10 mt-5 pt-1 she-col9" id="chs_pln"><%= get_lang_string("upgrade_your_sub")%></h1>                   
				  <div class="plan-box-container">  
            <%if @user_plans['renewal_plans'].present? %>
              <div class="float-left pln-box1">
                <h2 class="font-mblack margin-bottom-10 mt-2 she-col9 chs_pln2" id=""><%= get_lang_string("renew_your_plan")%></h2>
                <div class="float-left w-100 renew_plan_box_wrap">
                  <%@user_plans['renewal_plans'].each_with_index do |ap,i|%>  
        					<div class="plan-box-wrap mt-1 <%=i.even? ? "odd" : "even"%>-plan-box relative-content mb-3">
                    <%if ap['renewal_discount'] != 0 %>
                     <p class="font-mbold mulli-font2 margin-bottom-20 she-col9 plan-short-info"><%= ap['renewal_discount'] %>% <%= get_lang_string("renewal_discount")%></p>
                     <%end%>
        						<div class="">
                      <h2 class="font-mblack  mb-3 pb-2 plns_title" style="color:  <%=get_pln_box_color(ap["category"])%>"><%=ap['ml_title'] rescue ap['title'].gsub("Plan","")%></h2>
                      <p class="font-mregular mulli-font1 she-col9 mt-1 plans-des">
                        <ul>
                          <%ap["ml_synopsis"].split("\n").reject(&:blank?).each do |ml| %>
                          <li><%=ml rescue get_pln_desc(ap["pack_details"].first["value"],$region)%></li>
                          <%end%>
                        </ul>
                      </p>
                      <%ap["plans"].each do |aa|%>
                        <p class="margin-bottom-<%=ap["plans"].count == 1 ? "10" : "10"%> d-flex align-items-center price-box shadow-box " id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>_sec">
                          <input type="radio" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" name="radio-group" value="<%=aa['id']%>|<%=ap['catalog_id']%>|<%=ap['category']%>|<%=aa['title']%>|<%=aa['currency']%>|<%=aa['currency_symbol']%>|<%=aa['original_price']%>|<%=aa['pg_price']['adyen']%>|<%=aa['pg_price']['cc_avenue']%>|<%=ap['content_id']%>|<%=ap['title'].gsub(" ","_")%>|<%=get_lang_string(aa["title"].gsub(" ","_").downcase) %>|renewal|<%=ap['renewal_discount']%>|<%=aa['discounted_price']%>" class="plan_sel">
                          <label for="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" class="mb-0 shemaroo-color9 font-mblack mulli-font1 text-uppercase">
                                  
                            <%=get_lang_string(aa["title"].gsub(" ","_").downcase) rescue aa["title"]%>                        
                          </label>
                          
                          <span class="price font-mblack shemaroo-color9 font-size4"><span class="shemaroo-color9 font-mregular"><%=aa['currency_symbol']%></span>&nbsp;<%=aa["discounted_price"]%></span>
                        </p>
                      <%end%>
                    </div>
                  </div>
                   <%end%>
                </div>
              </div>  
            <%end%>            
            <% if @user_plans['upgrade_plans'].present? && @user_plans['renewal_plans'].present?%>
              <div class="or d-none d-sm-block">
                <div class="or-line"></div>
                <div class="or-label">Or</div>
              </div>
              <div class="float-left w-100 hrline-wrap d-block d-sm-none">
                <p class="hrline"><span style="-webkit-text-fill-color: #35444E">OR</span></p>
              </div>
            <%end%>
            <% if @user_plans['upgrade_plans'].present? %>
            <div class="float-left pln-box1">              

              <h2 class="font-mblack margin-bottom-10 mt-2 she-col9 chs_pln2"><%= get_lang_string("upgrade_your_plan")%></h2>                   
              <div class="float-left w-100 upgrade-plans-box-wrap">
                <%@user_plans['upgrade_plans'].each_with_index do |ap,i|%>
                <div class="plan-box-wrap mt-1 <%=i.even? ? "odd" : "even"%>-plan-box relative-content mb-3">
                  <%if @user_plans['upgrade_discount'] != 0%>
                  <p class="font-mbold mulli-font2 margin-bottom-20 <%= @theme == "light_theme" ? "shemaroo-color9" : "shemaroo-color6"%>"><%=@user_plans['upgrade_discount'] %>% <%= get_lang_string("upgrade_discount")%></p>
                  <%end%> 
                  <div class="">
                    <h2 class="font-mblack mb-3 pb-2 plns_title" style="color:  <%=get_pln_box_color(ap["category"])%>"><%=ap['ml_title'] rescue ap['title'].gsub("Plan","")%></h2>
                    <p class="font-mregular mulli-font1 she-col9 mt-1 plans-des">
                      <ul>
                        <%ap["ml_synopsis"].split("\n").reject(&:blank?).each do|ml|%> 
                            <li><%=ml rescue get_pln_desc(ap["pack_details"].first["value"],$region)%></li>
                        <%end%>
                      </ul>
                    </p>
                     <%ap["plans"].each do |aa|%>
                    <p class="margin-bottom-10 d-flex align-items-center price-box shadow-box" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>_sec">
                      <input type="radio" id="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" name="radio-group" value="<%=aa['id']%>|<%=ap['catalog_id']%>|<%=ap['category']%>|<%=aa['title']%>|<%=aa['currency']%>|<%=aa['currency_symbol']%>|<%=aa['original_price']%>|<%=aa['pg_price']['adyen']%>|<%=aa['pg_price']['cc_avenue']%>|<%=ap['content_id']%>|<%=ap['title'].gsub(" ","_")%>|<%=get_lang_string(aa["title"].gsub(" ","_").downcase) %>|upgrade|<%=@user_plans['upgrade_discount']%>|<%=aa['discounted_price']%>" class="plan_sel">
                      <label for="<%=ap['category']%>-<%=aa["title"].gsub(" ","_").downcase%>" class="mb-0 shemaroo-color9 font-mblack mulli-font1 text-uppercase">
                              
                        <%=get_lang_string(aa["title"].gsub(" ","_").downcase) rescue aa["title"]%>                        
                        </label>
                         
                        <span class="price font-mblack shemaroo-color9 font-size4"><span class="shemaroo-color9 font-mregular"><%=aa['currency_symbol']%></span>&nbsp;<%=aa["discounted_price"]%></span>
                    </p>
                    <%end%>
                  </div>
                </div>
                <%end%>
              </div>
            </div> 
            <%end%> 
          </div>
  			</div>
  		</div>
  	</div>
    </div>
	</div> 
</div>

<%=render "layouts/page_height_setting"%>
<%=render "check_valid_browser_type"%>
<%=render "upgrade_plan_selection"%>
<%=render "right_click_disable"%>
