<script>
  $(document).ready(function() {
    $(".fixed-top").css("box-shadow","none");
    $(".scrollmenuwrap").hide();
  });
</script>
<div class="mobile_plans_selector padding-top-80 padding-top-60">
  <section class="onboarding-bg min-height-div padding-left-15 padding-right-15">
    <div class="onboarding-payment-contianer margin-bottom-30">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20">
            <%if $region == "IN"%>
         <!-- <p class="sub-title in_us_plan">
          Buy any yearly plan and get a chance to Win 1 lac. Click here for <a href="javascript:void(0)" class="quiz_url">T&C</a></p> -->
         <%end%>
         <%if $region == "IN" && @plan_info_st == "true"%>
          <p class="sub-title"><%#=@pln_msg%></p>
        <%end%>
          </div>
        </div>
      <%if @current_plans.count == 0 %>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- no-content-wrap no_content_plans no-active-plans text-center">
            <img src="/assets/no_active_plan.svg" class="status_image" alt="" title="">
            <p class="font-bold margin-bottom-0"><%=get_lang_string("no_active_plan")%></p>         
            <p class="font-regular margin-bottom-20"><%=get_lang_string("no_active_plan_1")%></p>         
            <div class="text-center margin-bottom-10 light">
              <div class="inline-block margin-top-5 margin-bottom-15 custom-gradient trans-gradient">
                <p class="inline radius-button">
                  <a href="<%=get_lang_url("/plans/add_new_plan")%>" class="text-uppercase btn gradient1 font-bold" id="update_personal_details"><%=get_lang_string("view_plans")%></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <%if @current_plans.count > 0 %>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-top-20">
            <h2 class="pull-left"><%= get_lang_string("current_plans")%></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- current_plans">
            <input type="hidden" name="" value="<%=Time.now.strftime("%Y-%m-%d")%>" id="today_dt">
            <%@current_plans.each do |plan|%>
              <div class="pull-left w-100 margin-bottom-25">
                <div class="card">
                  <div class="card-body">
                    <div class="pull-left w-100">
                      <div class="pull-left margin-bottom-0 w-65">
                        <h5 class="pull-left margin-bottom-0 shemaroo-color8" style="<%=get_title_item_color(plan["plan_categories"].first) if plan["plan_categories"].present?%>" id="heading_title_color"> <%=get_lang_string(plan["title"].gsub(" ","_").downcase) rescue plan["title"]%><%=plan["ml_subscription_title"] rescue plan["subscription_title"]%></h5>
                        <br>
                        <small class="pull-left font-bold shemaroo-color1"><%#=plan["plan_categories"].join(", ").gsub("_"," ")%></small>

                        <%if plan["free_trial_pack"] == "true" && plan.has_key?("free_trial_end_date") && !plan["free_trial_end_date"].blank?%>
                         <span class="pull-left font-semibold shemaroo-color2"><%=(plan['free_trial_end_date'].to_date - plan['free_trial_start_date'].to_date).to_i %> days Trial Period</span>
                        <%end%>
                      </div>
                      <div class="pull-right margin-bottom-0">
                        <span class="pull-right text-uppercase text-right">
                          <small class="pull-right font-bold"> <%=get_lang_string(plan["plan_title"].gsub(" ","_").downcase) rescue plan["plan_title"]%></small> 
                          <br><b><%=plan["currency"]%>&nbsp;<%if plan["free_trial_pack"] == "true"%>0
                             <%else%>
                            <span class="pln_amt"><%=plan["price_charged"].to_f.round(2).to_s%></span><%end%></b>      
                        </span>      
                      </div>    
                    </div>
                    <%if plan["auto_renew"] == "false" && plan["plan_modified"] == "true"%>
                      <div class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
                        <span class="font-bold"><small>cancelled</small></span><br>
                        <span class="date">Access Till: &nbsp;<%=(Time.parse(plan["valid_till"])).strftime("%d %b %Y %I:%M:%S %p") if plan["valid_till"].present?%></span>
                        <span class="pull-right" style="font-size: 14px;"><%= link_to get_lang_string("view"), plan_path(plan["id"]) %>
                          <%if plan['auto_renew'] == "false" && plan["payment_mode"] == "credit_card" && plan['device_info'].downcase != "ios"%>
                          <span class="shemaroo-color1" style="font-size: 100%;">|</span><a href="javascript:void(0)" class="reactivate_plan" id="<%=plan['plan_id']%>|<%=plan['subscription_id']%>" data-plan-expiry="<%=Time.parse(plan["valid_till"]).strftime("%d %b %Y")%>">&nbsp;Reactivate</a></span>
                         <%end%>
                      </div> 
                    <%else%>
                      <div class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
                        <%if plan["auto_renew"] == "true"%>
                            <%if plan["txn_status"] == "success" || plan["txn_status"] == "autorenewal_success" || plan["txn_status"] == "downgrade" || plan["txn_status"] == "upgrade" || plan["txn_status"] == "renewal" || plan["txn_status"] == "autorenew" %>
                              <span class="font-semibold"><small><%=plan['payment_gateway'] == "unifi" ? "Next Renewal on" : "next billing on"%> <%=Time.parse(plan["billing_date"]).strftime("%d %b %Y %I:%M:%S %p") if plan["billing_date"].present?%></small></span><br>
                              <span class="date shemaroo-color1"><small>You will get charged <%=plan["currency"]%> 
                                <%if $region == "MY" && (plan["period"].downcase == "month" || plan["period"].downcase == "monthly") %>
                                8
                               <%else%>
                                  <%=plan["next_billing_amount"]%>
                                <%end%></small></span>
                              <%else%>
                                <span class="font-semibold text-capitalize">Status:&nbsp;&nbsp;<small><%= plan["txn_msg"]%></small></span><br>
                                <% d = plan["start_date"].to_date%>
                                <span class="font-semibold text-capitalize">Subscription Date:&nbsp;&nbsp;<small><%= d.to_formatted_s(:rfc822)%></small></span>
                              <%end%>
                        <%else%>
                          <span class="font-bold"><small><%=get_lang_string("expires_on")%></small></span><br>
                          <span class="date"><%=(Time.parse(plan["valid_till"])).strftime("%d %b %Y %I:%M:%S %p") if plan["valid_till"].present?%></span>
                         <%end%>
                        <input type="hidden" name="" class="pln_can_<%=plan['plan_id'].split("T")[0]%>" id="<%=plan['start_date']%>">
                        <div class="pull-right modify_btn <%= (plan["auto_renew"] == "true" && plan['is_upgradable'] == true &&  !@plan_categories.include?("all_access_pack-yearly") && plan['is_downgradable'] == true) == true ? "close_enable2" : ""%>">
                          <div class="view_planss">
                            <%= link_to get_lang_string("view"), "#{get_lang_url("/plans/plan_details/#{plan["id"]}")}", :class => "" %>
                            <%if plan["auto_renew"] == "true" && (plan["payment_gateway"] != "du" && plan["payment_gateway"] != "easyads")%><span>|</span><%end%>
                          </div>
                          <%if plan["auto_renew"] == "true" && (plan["payment_gateway"] != "du" && plan["payment_gateway"] != "easyads")%>
                              <a href="javascript:void(0);" class="modify_toggle" id="<%=plan['device_info'].downcase%>"><%= get_lang_string("modify")%></a>
                            <div class="modify_feature_options pull-left margin-right-15">
                            <%if plan['is_upgradable'] == true &&  plan["payment_gateway"] != "amazon_pay_web" && plan['payment_gateway'] != "lazypay" && plan["payment_gateway"] != "ooredoo" && plan["payment_gateway"] != "digi" && plan["payment_gateway"] != "omantel" && $region != "SA" && plan["payment_gateway"] != "etisalat_uae" && plan['payment_gateway'] != "unifi" && plan["payment_gateway"] != "boost" && $region != "AE" && $region != "BH" %>
                               <%unless @plan_categories.include?("all_access_pack-yearly")%>
                                 <%if plan["payment_gateway"] != "operator_billing" &&  plan["payment_gateway"] != "ooredo_kuwait" && plan["payment_gateway"] != "viva_kuwait" && plan["payment_gateway"] != "omantel" && plan["payment_gateway"] != "celcom"%>
                                   <!--  <a href="/plans/upgrade_user_plan/<%#=plan['plan_id']%>" class="font-regular"> 
                                    <img src="/assets/up_arrow.png" id="up_arrow" class="" alt="" title=""><%#= get_lang_string("upgrade")%></a> -->
                                  <%end%>
                                <%end%>
                              <%end%>
                              <%if plan['is_downgradable'] == true &&  plan["payment_gateway"] != "amazon_pay_web" && plan['payment_gateway'] != "lazypay" && plan["payment_gateway"] != "ooredo_kuwait" && plan["payment_gateway"] != "ooredoo" &&  plan["payment_gateway"] != "digi" && plan["payment_gateway"] != "viva_kuwait" && plan["payment_gateway"] != "omantel" && $region != "SA" && plan["payment_gateway"] != "etisalat_uae" && plan['payment_gateway'] != "unifi" && plan["payment_gateway"] != "boost" && $region != "AE" && $region != "BH"%>
                                <%if plan["payment_gateway"] != "celcom"%>
                                   <%if plan["plan_title"].downcase != "quarterly"%>
                                     <!--  <a href="javascript:void(0)" class="font-regular downgrade_pack" id="<%#=plan["subscription_title"]%>|<%#=plan['plan_title']%>|<%#=plan['plan_id']%>"><img src="/assets/down_arrow.png" id="down_arrow" class="" alt="" title=""><%#= get_lang_string("downgrade")%></a> -->
                                    <%end%>
                                  <%end%>
                              <%end%>
                          
                            <%if plan["auto_renew"] == "true"%>
                              <a href="javascript:void(0)" class="font-regular  <%= plan["payment_gateway"] == "google" ? "google_pay_cancel" : "remove_plan" %>" id="<%=plan["subscription_title"]%>|<%=plan['plan_title']%>|<%=Time.parse(plan["valid_till"]).strftime("%d %b %Y")%>" data-remove-det="<%=plan['plan_id']%>|<%=plan['subscription_id']%>" data-free-trail-expiry="<%=plan['free_trial_pack'] == "true" ? "#{plan['free_trial_end_date'].to_date.strftime("%d %b %Y") unless plan['free_trial_end_date'].blank?}" : "" %>" data-plan-name="<%=plan["subscription_title"]%>" data-plan-cat ="<%=plan["category"]%>" data-billing-date="<%=plan["billing_date"]%>" data-plan-type="<%=plan["plan_title"]%>" data-plan-st="<%=plan['txn_status']%>"><img src="/assets/remove_arrow.png" id="remove_arrow" alt="Remove Plan" title="Remove Plan">Cancel</a>
                            <%end%>
                            </div> 
                          <%end%> 
                        </div>
                        </div> 
                        <% if plan["payment_gateway"] == "easyads"%>
                           <span class="margin-top-6 font-semibold text-center"><small>You can manage your subscription by visiting</small> <bold><a href="https://www.easyadd.my/">https://www.easyadd.my/</a></bold></span>
                        <%end%>
                      <%end%>
                    </div>
                  </div>
                </div>
              <%end%>
              <%#end%>
            </div>
            <%unless  @plan_categories.include?("all_access_pack-two_yearly")%>
             <% st = "true"
             if @plan_categories.any?(/all_access_guj/) && @plan_categories.any?(/gujarati/)
              st = "false"
             end
             if $region == "QA" || $region == "MY" ||  $region == "KW" || $region  == "OM" || $region == "SA" || $region == "AE" || $region == "BH"
                  unless (@plan_categories.include?("all_access_pack-monthly")) &&  (@plan_categories.include?("all_access_pack-daily")) && (@plan_categories.include?("all_access_pack-weekly"))                   
                    st = "false"
                 end
               end
              %>
              <%if st == "true"%>
               <%if @gift_trail_check == 0%>
                 <%unless @current_plans.collect{|x|x["plan_id"]}.include?("5e789b20b541704214000000")%>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- modify-plan-new text-center margin-bottom-10 margin-top-5 light">
                    <!-- <div class="inline-block margin-top-0 margin-bottom-15 custom-gradient">
                      <p class="inline radius-button">
                        <a href="<%#=get_lang_url("/plans/add_new_plan")%>" class="text-uppercase btn gradient1 font-bold" id=""><%#= get_lang_string("add_new_plan") %></a>
                      </p>
                    </div>
                  </div> -->
                    <div class="float-left w-100 app-d-flex h-center add_new_plan_upgrade_btn_wrap">
                      <% if !@plan_categories.any?(/all_access_pack/)%>
                      <a href="<%=get_lang_url("/plans/add_new_plan")%>" class="text-uppercase app-d-flex font-bold no-bg hv-center">Add NEW Plan</a>
                      <%end%>
                      <% if @current_plans.present? && @region != "CA" %> 
                      <a href="<%=get_lang_url("/plans/upgrade_plans")%>" class="text-uppercase font-bold app-d-flex hv-center" id="upgrade_btn"><%= get_lang_string("upgrade") %></a>
                      <%end%>
                    </div>
                  </div>
                  <%end%>
                <%end%>
              <%end%>
            <%else%>
             <%if $region == "US" && !@plan_categories.include?("worldbbtv")%>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- modify-plan-new text-center margin-bottom-10 margin-top-5 light">
                    <div class="inline-block margin-top-0 margin-bottom-15 custom-gradient">
                      <p class="inline radius-button">
                        <a href="<%=get_lang_url("/plans/add_new_plan")%>" class="text-uppercase btn gradient1 font-bold" id=""><%= get_lang_string("add_new_plan") %></a>
                      </p>
                    </div>
                  </div>
                <%end%>
            <%end%>
          </div> 
        <%end%>
        
         <%if @expired_plans.present?%>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- current_plans">
              <h2 class="block"><%=get_lang_string("previous_plan")%></h2>
              <%@expired_plans.each do |plan|%>
                <div class="pull-left w-100 margin-top-20 margin-bottom-0">
                  <div class="card">
                    <div class="card-body">
                      <div class="pull-left w-100">
                        <div class="pull-left margin-bottom-0">
                          <h5 class="pull-left margin-bottom-0 shemaroo-color8" style="<%=get_title_item_color(plan["plan_categories"].first) if plan["plan_categories"].present?%>" id="heading_title_color"><%=plan["title"]%><%=plan['ml_subscription_title'] rescue plan["subscription_title"]%></h5>
                          <br>
                          <span class="pull-left font-bold"><%#=plan["plan_categories"].join(", ").gsub("_"," ")%></span>
                        </div>
                        <div class="pull-right margin-bottom-0">
                          <span class="pull-right text-uppercase text-right">
                            <small class="pull-right font-bold"><%=get_lang_string(plan["plan_title"].gsub(" ","_").downcase) rescue plan["plan_title"]%></small> 
                            <br><b><%=plan["currency"]%>&nbsp;<%=plan["next_billing_amount"]%></b>
                          </span>      
                        </div>    
                      </div>
                      <div class="pull-left w-100 text-uppercase margin-top-20 margin-bottom-0">
                        <span><small><%=get_lang_string("expired_on")%></small></span><br>
                        <span class="date"><%=(Time.parse(plan["valid_till"])).strftime("%d %b %Y %I:%M:%S %p") if plan["valid_till"].present?%></span>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>  
            </div>
          </div>
        </div>
        <%end%> 

    


    <%=render "layouts/page_height_setting"%>
    <%=render "check_valid_browser_type"%>
    <!-- The Modal -->
      <div class="modal" id="modify_remove_plan_pop">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <h6 class="margin-bottom-10 margin-top-5">Confirm Plan Removal</h6>
              <p class="normal_txt margin-bottom-20">Are you sure you want to remove <b><span class="plan_det"> </span> plan? </b> <span id="pln_valid_info">You will still have access to it till <b><span class="plan_validity"></span></b><!--  20 August 2019 --></span></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button2 margin-right-10">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient2 font-bold" id="remove_plan_cancel">cancel</a>
                </p>
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold modify-confirm" id="remove_plan_confirm">confirm</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
        <input type="hidden" name="plan_info" value="" id="plan_details">
      </div>

      <!-- The Modal -->
      <div class="modal" id="reactivate_plan_pop">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <h6 class="margin-bottom-10 margin-top-5">Reactivate Plan?</h6>
              <p class="normal_txt margin-bottom-20">Your Pack has been Re-activated next billing cycle will be  <b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button2 margin-right-10">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient2 font-bold" id="reactivate_plan_cancel">cancel</a>
                </p>
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold modify-confirm" id="reactivate_plan_confirm">confirm</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
        <input type="hidden" name="plan_info" value="" id="plan_reactivate_details">
      </div>


       <div class="modal" id="plan_no_modify_pop">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <p class="normal_txt margin-bottom-20">This plan was purchased on an iOS device. Please try to modify or view this plan on iOS<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="plan_no_modify_ok">ok</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
      </div>

       <div class="modal" id="google_pay_cancel_popup">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">              
              <p class="normal_txt margin-bottom-20">This plan was purchased via Google Play's in-app billing. To cancel the subscription, please go to Google Playstore, click on subscriptions and cancel the plan<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
              <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
                <p class="inline radius-button radius-button border-radius-40 margin-left-10">
                  <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="google_pay_ok">ok</a>
                </p>
              </div>
            </div>      
          </div>
        </div>
      </div>

  <div class="modal" id="unifi_pack_cancel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">              
          <p class="normal_txt margin-bottom-20">Deactivation Unsuccessful, Please try after some time<b><span class="reactivate_plan_validity"></span></b><!--  20 August 2019 --></p>
          <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
            <p class="inline radius-button radius-button border-radius-40 margin-left-10">
              <a href="javascript:void(0)" class="text-uppercase btn gradient1 font-bold modify-confirm" id="unifi_pck_ok">ok</a>
            </p>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <input type="hidden" name="plan_expired" value="<%= true if @current_plans.blank? && @expired_plans.present? %>" id="plan_expired">
  </section>
</div>
<script type="text/javascript">
var window_height = window.outerHeight;
  var window_height = window_height - 175;
  $('.min-height-div').css('min-height',window_height+'px');

      function delete_plan(subscription_id,plan_id){ 
            var data = 'subscription_id='+subscription_id+'&plan_id='+plan_id
        $.ajax({
            url: "/plans/delete_inactive_plan",
            type: 'GET',
            data: data,
            success: function(data){
              location.reload();
            }
        });
        // }
    }


$(document).ready(function(){
  if( $("#plan_expired").val() == "true" ){
    $.cookie('user_actv_sub_status','expired', { expires: 14,path: '/'});
  }
  $("#upgrade_btn").on('click',function(){
    localStorage.setItem("upgrade_click", 'View plans')
  })

  if( $("#plan_expired").val() == "true" ){
    $.cookie('user_actv_sub_status','expired', { expires: 14,path: '/'});
    localStorage.setItem("subscription_type", 'renew')
  }
  $('.modify_toggle').click(function () {
    
   var plan_type = $(this).attr("id");
   if(plan_type != "ios"){
    if($(this).text() == "MODIFY"){
      $(this).text("Close");
      $(this).parents(".pull-right.modify_btn").addClass("close_enable");
      if($(this).parents(".pull-right.modify_btn").hasClass("close_enable2")) {
        $(this).parents(".card").addClass("padding-bottom-20");
      }
    }
    else{
      $(this).text("Close");
      $(this).parents(".pull-right.modify_btn").removeClass("close_enable");      
      $(this).parents(".card").removeClass("padding-bottom-20");
    }

    $(this).prev('.view_planss').toggle();
    $(this).next('.modify_feature_options').toggle();
   }
   else{
    $("#plan_no_modify_pop").modal("show");
   }
    
  });

 $(".reactivate_plan").click(function(){
  var plan_det = $(this).attr("id");
  var plan_expiry = $(this).data("plan-expiry");
  $("#plan_reactivate_details").val(plan_det);
  $(".reactivate_plan_validity").text(plan_expiry);
  $("#reactivate_plan_pop").modal("show");
 });

 $("#reactivate_plan_cancel").click(function(){
  $("#reactivate_plan_pop").modal("hide");
 })


  var login_user_id = "<%=params[:user_id]%>";
  var user_login_id = "<%=params[:user_login_id]%>";
  var mobile_browser_type = "<%=params[:browser]%>";
  var user_region = "<%=params[:user_region]%>"
  var user_analytic_id = "<%=params[:user_analytic_id]%>"
  var ap_ver = "<%=params[:version].present? ? "#{params[:version]}" : ""%>"
  var huwai_check = "<%=params[:platform_type].present? ? "true" : "false"%>"
  var aaid = "<%=params[:aaid]%>"
  var city = "<%=params[:city]%>"
  var device_id = "<%=params[:device_id]%>"
  var device_make = "<%=params[:device_make]%>"
  var user_ip = "<%=params[:user_ip]%>"
  var os = "<%=params[:os]%>"
  var user_agent = "<%=params[:user_agent]%>"
  var branch_details = aaid+'|'+city+'|'+device_id+'|'+device_make+'|'+user_ip+'|'+os+'|'+user_agent
  if(login_user_id.length != 0){
    branch.logout();
    branch.setIdentity(user_analytic_id);
    Apxor.setUserId(user_analytic_id)
    document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_region' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_browser_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'user_analytical_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'app_version' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'mobile_device_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = 'android_branch_set' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('android_branch_set',branch_details, { expires: 14,path: '/'});
     $.cookie('user_id',login_user_id, { expires: 14,path: '/'});
     $.cookie('user_login_id',user_login_id, { expires: 14,path: '/'});
     $.cookie('mobile_browser_type',"android", { expires: 14,path: '/'});
     $.cookie('user_analytical_id',user_analytic_id, { expires: 14,path: '/'})
     $.cookie('app_version',ap_ver, { expires: 14,path: '/'});
     if(huwai_check == "true"){
       $.cookie('mobile_device_type',"huawei", { expires: 14,path: '/'});
     }
     //$.cookie('user_region',user_region, { expires: 14,path: '/'});
  }

  if(getShemarooCookies().mobile_browser_type == "android"|| login_user_id.length != 0) { 
      $('.header-section, .footer-section,.ft_sec,.contest-fixedbox').hide();
     $('.full-width-content, .onboarding-bg, .transation_status_page, .mobile_plans_selector').removeClass('padding-top-80 padding-top-85 padding-top-135 padding-top-148 padding-top-60');
    $('.min-height-div').css('min-height',window.outerHeight+'px');
    $(".navbar-nav-scroll").remove();
  } 

function remove_plan_netcore(plan_details){
  var pack = plan_details[0]+"-"+plan_details[1]
  smartech('dispatch', 'sub_cancel', {
    'plan_details': pack,
    'user_id': getShemarooCookies().user_analytical_id,
    'is_loggedIn': '1',
    'user_state': $.cookie('user_actv_sub_status')
  });
}

 function get_user_region_time_data(){
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();
    return [region,user_city,date,time]
  }

function branch_subscriptioncancel_event(cancel_status){
  var det = get_user_region_time_data()
   /* branch.logEvent(
       'Subscription_Cancelled',
        {"region": det[0],
        "city": det[1],
        "date_event": det[2],
        "time_event": det[3],
        "session_id": getShemarooCookies().user_id,
        "user_id": getShemarooCookies().user_analytical_id,
        "plan_details": $(".plan_det").text()
        },
       function(err) { console.log(err); }
    );*/
 }

  function subscr_evnt(ev_name,u_id,platform,pln_typ,pln_name,reg,p_dt,c_dt){
   $.ajax({
      url:"/users/sub_events",
      type: "POST",
      data: {"evnt_dt": {
      "event_name": ev_name,
      "plan_type": pln_typ,
      "plan_name": pln_name,
      "purchase_date": p_dt,
      "cancellation_date": c_dt,
      "user_id": u_id,
      "platform": platform,
      "browser_fingerprint_id": localStorage.getItem("brnch_finger_id"),
      "region": reg
      }},
      success: function(response){
      }
    });
  }


function Netcore_Subscription_Cancelled(selected_plan,plan_name,plan_cat,bill_date,net_plan_type){
smartech('identify', getShemarooCookies().user_analytical_id); 
var purchase_date = bill_date 
 var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
if(bill_date != undefined && bill_date.length > 0){
  purchase_date = bill_date.split("T")[0]
}
var user_region = $(".user_region").val()
smartech('dispatch', 'Subscription_Cancelled', {
"user_id": getShemarooCookies().user_analytical_id,
"plan_type": net_plan_type,
//"plan_count": "1",
"plan_name": plan_name,
"purchase_date": purchase_date,
"cancellation_date": $("#today_dt").val(),
"COUNTRY":user_region,
'user_state': $.cookie('user_actv_sub_status')
  });
  function get_andrd_ver(){
      var ver_st = "false"
      if(getShemarooCookies().mobile_browser_type == "android" && getShemarooCookies().app_version != undefined){
        var app_version = parseInt(getShemarooCookies().app_version.split("(")[1].replace(")",""))
        if(app_version != undefined && app_version > 80){
          ver_st = "true"
        }
      }
      return ver_st
    }

  var andr_ver = get_andrd_ver()
  var sub_type =  localStorage.getItem("subscription_type") != undefined ? localStorage.getItem("subscription_type") : "fresh"
if(getShemarooCookies().mobile_browser_type == "android" && andr_ver == "true"){
  var can_dt = $("#today_dt").val()
  Android.doSubscriptionCancelled(net_plan_type+"|"+plan_name+"|"+purchase_date+"|"+can_dt+"|"+sub_type)
}
else{
  var plat_form = "web"
    if(getShemarooCookies().mobile_browser_type == "andriod"){
    plat_form = "andriod"
    }
  subscr_evnt("Subscription_Cancelled",getShemarooCookies().user_analytical_id,plat_form,net_plan_type,plan_name,user_region,purchase_date,$("#today_dt").val())
   Apxor.logEvent('Subscription_Cancelled', {
  "user_id": getShemarooCookies().user_analytical_id,
"plan_type": net_plan_type,
//"plan_count": "1",
"plan_name": plan_name,
"purchase_date": purchase_date,
"cancellation_date": $("#today_dt").val(),
"COUNTRY":user_region,
'user_state': $.cookie('user_actv_sub_status')
      },"PURCHASE_PLAN");

}
 branch.logEvent(
"Subscription_Cancelled",
  {
"user_id": getShemarooCookies().user_analytical_id,
"plan_type": net_plan_type,
//"plan_count": "1",
"plan_name": plan_name,
"purchase_date": purchase_date,
"cancellation_date": $("#today_dt").val(),
'user_state': $.cookie('user_actv_sub_status')

  },
function(err) { console.log(err); }
);




}
 $(".remove_plan").click(function(){
  var plan_details = $(this).attr("id").split("|");
  remove_plan_netcore(plan_details)
  var pack_info = $(this).data("remove-det");
  var free_trail_expiry = $(this).data("free-trail-expiry");
  if(free_trail_expiry.length != 0){
    $(".plan_validity").text(free_trail_expiry)
  }
  else{
    $(".plan_validity").text(plan_details[2]);
  }
  $("#plan_details").val(pack_info);
  var pln_st = $(this).data("plan-st");
  if(pln_st != undefined && (pln_st == "grace" || pln_st == "parking")){
   $("#pln_valid_info").hide();
  }
  $(".plan_det").text(plan_details[0]+" ("+plan_details[1]+")")
  var plan_name = $(this).data("plan-name")
  var plan_cat = $(this).data("plan-cat")
  var bill_date = $(this).data("billing-date")
  var net_plan_type = $(this).data("plan-type") 
  localStorage.setItem("nt_plan_name",plan_name)
  localStorage.setItem("nt_plan_cat",plan_cat)
  localStorage.setItem("nt_bill_date",bill_date)
  localStorage.setItem("nt_plan_type",net_plan_type)
    

  $("#modify_remove_plan_pop").modal("show");
 })

$("#remove_plan_cancel").click(function(){
 $("#modify_remove_plan_pop").modal("hide");
 window.location.reload();
})

   var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+"-"+today.getFullYear();
    var h =  today.getHours(), m = today.getMinutes();
    var time = (h > 12) ? (h-12 + ':' + m +' PM') : (h + ':' + m +' AM');
    var region = $(".user_region").val();
    var user_city = $(".user_city").val();


function get_os_det(){
  var osname = "Linux";
  if (navigator.appVersion.indexOf("Win")!=-1) osname="Windows";
 if (navigator.appVersion.indexOf("Mac")!=-1) osname="MacOS";
 if (navigator.appVersion.indexOf("X11")!=-1) osname="UNIX";
 if (navigator.appVersion.indexOf("Linux")!=-1) osname="Linux";
 return osname
}




function branch_sub_cancel(selected_plan,plan_name,plan_cat,bill_date,net_plan_type){
   var user_id = getShemarooCookies().user_analytical_id;
  var key = "<%= Rails.env.production? ? "key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF" : "key_test_hdcBLUy1xZ1JD0tKg7qrLcgirFmPPVJc"%>"
  var osname = get_os_det()
  var ses_id = getShemarooCookies().user_id;
    $.ajax({
      url: "/users/branch_custom_event",
      type: "POST",
      data: { 
          "data": {
            "platform": "web",
            "developer_identity": user_id,
            "custom_data": {
              "city": user_city,
              "date_event": date,
              "os": osname,
              "region": region,
              "session_id": ses_id,
              "time_event": time,
              "plan_type": plan_cat,
              "plan_name": plan_name ,
              "coupon_code_partner": "NA",
              "cancellation_date": $("#today_dt").val(),
              "amount paid": $("#pln_amt").text(),
              "user id": user_id
            },
            "name": "Subscription_cancelled",
            "os": osname,
            "branch_key": key,
              "user_data": {
              "os": osname,
              "developer_identity": user_id,
              "user_agent": navigator.userAgent,
              "browser_fingerprint_id": localStorage.getItem("brnch_finger_id")
            }
        }
      },
      success: function(response,status){
      }
    })
}


$("#remove_plan_confirm").click(function(){
  //branch_subscriptioncancel_event("false")
  $("#remove_plan_confirm").text("Confirm...");
  var selected_plan_det = $("#plan_details").val();
  var pln_pur_dt = $(".pln_can_"+selected_plan_det.split("|")[0]).attr("id");
  var plan_name =   localStorage.getItem("nt_plan_name")
  var plan_cat =  localStorage.getItem("nt_plan_cat")
  var bill_date = localStorage.getItem("nt_bill_date")
  var net_plan_type = localStorage.getItem("nt_plan_type")
  var payment_gatway = localStorage.getItem("paymnt_gatway_type")
  var pln_amt = $("#pln_amt").text();
  var can_dt = $("#today_dt").val()
  if(getShemarooCookies().mobile_browser_type == "android"){
     //Android.doSubscriptionCancel(net_plan_type+"|"+plan_name+"|"+""+"|"+can_dt+"|"+pln_amt); 
   }
 else{
   //branch_sub_cancel($("#plan_details").val(),plan_name,plan_cat,pln_pur_dt,net_plan_type)
 }
  Netcore_Subscription_Cancelled( $("#plan_details").val(),plan_name,plan_cat,pln_pur_dt,net_plan_type)
    $.ajax({
    url: "/plans/remove_user_plan",
    type: 'POST',
    data: {plan_id: selected_plan_det, paymnt_gatway_type: payment_gatway},
    success: function(data){
      if(data.status == "true"){
        branch_subscriptioncancel_event("true")
        location.reload();
      }
      else{
        $("#modify_remove_plan_pop").modal("hide");
        $("#unifi_pack_cancel").modal("show");
      }
      
    }
    });
  });

$("#reactivate_plan_confirm").click(function(){
  $("#reactivate_plan_confirm").text("Confirm...");
  var selected_plan_det = $("#plan_reactivate_details").val();
    $.ajax({
    url: "/plans/reactivate_user_plan",
    type: 'POST',
    data: {plan_id: selected_plan_det},
    success: function(data){
     location.reload();
    }
    });
  })


 $("#plan_no_modify_ok").click(function(){
   $("#plan_no_modify_pop").modal("hide");
 })

 $(".downgrade_pack").click(function(){
  var selected_plan_det = $(this).attr("id").split('|')
  var pack = selected_plan_det[0]+"-"+selected_plan_det[1]
  var plan_id = selected_plan_det[2]
  window.location = "/plans/downgrade_user_plan/"+plan_id
 })


$(".google_pay_cancel").click(function(){
  $("#google_pay_cancel_popup").modal("show")
})

$("#google_pay_ok").click(function(){
  $("#google_pay_cancel_popup").modal("hide")

})



$(".quiz_url").click(function(){
     var pc_url = "<%=SITE%>/offer_terms_conditions"
     if(window.location.search.includes("browser=android") == true) {
      Android.doAmazonpayment("externalurl",pc_url); 

    }
    else{
      $(".quiz_url").attr("href",pc_url)
    }


});


$("#unifi_pck_ok").click(function(){
  $("#unifi_pack_cancel").modal("hide");
})

})

</script>

  