<footer class="float-left w-100 app-d-flex justify-content-between v-center ft_sec">
	<div class="w-100  mobile-footer-wrap v-center justify-content-between">
		<div class="float-left app-d-dlex flex-column">
			<ul class="list-none p-0 app-d-flex footer-menu">
				<li><a href="/about-us" target="_blank" class="nav-link text-uppercase app-color2" title= <%= get_lang_string("about_us")%>><%= get_lang_string("about_us")%></a></li>
				<li><a href="<%=get_lang_url("terms_and_conditions")%>" class="nav-link text-uppercase app-color2 <%=params[:action] == "terms_conditions" ? "active" : ""%>" title="<%=get_lang_string("terms_of_use")%>"><%=get_lang_string("terms_of_use")%></a></li>
				<li><a href="<%=get_lang_url("privacy-policy")%>" class="nav-link text-uppercase app-color2 <%=params[:action] == "privacy_policy" ? "active" : ""%>" title="<%=get_lang_string("privacy_policy")%>"><%=get_lang_string("privacy_policy")%></a></li>				<li>
				<a href="<%=get_lang_url("faq")%>" class="nav-link text-uppercase app-color2 <%=params[:action] == "faq" ? "active" : ""%>" title="<%=get_lang_string("faq")%>"><%=get_lang_string("faq")%></a>
				</li>
				<li>
				<a href="<%=get_lang_url("contact-us")%>" class="nav-link text-uppercase app-color2 <%=params[:action] == "contact_us" ? "active" : ""%>" title="<%=get_lang_string("contact_us")%>"><%=get_lang_string("contact_us")%></a>
				</li>
			</ul>
			<p class="app-color2 mb-0"><%=get_lang_string("copyright")%></p>
		</div>
		<div class="float-right">
			<div class="float-left social-icon">
				<h2 class="app-color1"><%= get_lang_string("connect_us")%></h2>
				<ul class="list-none p-0 app-d-flex mb-0">
				<li>
				<a href="<%= $region == "US" ? 'https://www.instagram.com/shemaroomeusa/' : 'https://www.instagram.com/shemaroome/'%>" target="_blank"><img src="/assets/instagram_new.png" alt="Instagram" title=<%= get_lang_string("instagram")%>></a>
				</li>
				<li>
				<a href="<%= $region == "US" ? 'https://www.facebook.com/ShemarooUSA/' : 'https://www.facebook.com/ShemarooMe/' %>" target="_blank"><img src="/assets/facebook_new.png" alt="Facebook" title=<%= get_lang_string("facebook")%>></a>
				</li>
				<li>
				<a href="<%= $region == "US" ? 'https://twitter.com/ShemarooMeUSA' : 'https://twitter.com/ShemarooMe' %>" target="_blank"><img src="/assets/twitter_new.png" alt="Twitter" title=<%= get_lang_string("twitter")%>></a>
				</li>
				</ul>  
			</div> 
			<div class="float-left app-icon">
				<h2 class="app-color1"><%= get_lang_string("shemaroo_app")%></h2>
				<div class="app_icon12">
					<ul class="list-none p-0 app-d-flex mb-0">

						<li><a href="https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld" target="_blank"><img src="/assets/google-play-badge.svg" alt="google play store" title="google play store"></a></li>     
						<li><a href="https://itunes.apple.com/app/apple-store/id1439041310?pt=2089066&ct=Web%20Campaign&mt=8" target="_blank"><img src="/assets/apple-app-store.svg" alt="ios play store" title="ios play store"></a></li>
						<li><a href="https://appgallery.huawei.com/app/C101540999" target="_blank"><img src="/assets/app_gallery.png" alt="huawei app gallery" title="<%= get_lang_string("huawie_app_gallery")%>"></a></li>
						<li>
		          <a href="https://www.amazon.in/Shemaroo-Entertainment-Limited-ShemarooMe/dp/B07KZQVQB5/ref=sr_1_1?keywords=shemaroome&qid=1560839694&s=gateway&sr=8-1" target="_blank">
		            <img src="/assets/fire_tv.png" alt="firetv" title=<%= get_lang_string("firetv")%>>
		          </a>
		        </li> 
		        <li>
		          <a href="https://itunes.apple.com/in/app/shemaroome/id1439041310" target="_blank">
		            <img src="/assets/apple_tv.png" alt="appletv" title=<%= get_lang_string("appletv")%>>
		          </a>
		        </li>

						
					</ul>  
					<ul class="list-none p-0 mb-0 d-block d-lg-none app-icon2">
						<li>
		          <a href="https://www.amazon.in/Shemaroo-Entertainment-Limited-ShemarooMe/dp/B07KZQVQB5/ref=sr_1_1?keywords=shemaroome&qid=1560839694&s=gateway&sr=8-1" target="_blank">
		            <img src="/assets/fire_tv.png" alt="firetv" title=<%= get_lang_string("firetv")%>>
		          </a>
		        </li> 
		        <li>
		          <a href="https://itunes.apple.com/in/app/shemaroome/id1439041310" target="_blank">
		            <img src="/assets/apple_tv.png" alt="appletv" title=<%= get_lang_string("appletv")%>>
		          </a>
		        </li>
					</ul>
				</div>	
			</div>
		</div>  
	</div>  
</footer>

 <script type="text/javascript">

  $(document).ready(function() {

    $( '.footer-menu a').on( 'click', function() {
      var value = $(this).attr('title');
      footer_events(value)
    });

    $( '.social-icon a,.app-icon a').on( 'click', function() {
      var value = $('img', this).attr('title');
      footer_events(value)
    });


    function footer_events(value){
    	var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
      Apxor.logEvent("App_Browse",{
      "bottom_navigation": value,
      'user_state': user_state
      }, "App_Browse");

      smartech('dispatch', 'App_Browse', {
        "bottom_navigation": value,
        'user_state': user_state
      });
      branch.logEvent(
      "App_Browse",
        {"bottom_navigation": value,
        'user_state': user_state
      },
      function(err) { console.log(err); }
      );
    }

  });

</script>