<header class="float-left w-100 header-section app-d-flex justify-content-between v-center navbar navbar-expand">
  <div class="logo-section">
    <a href="/<%=params[:lang]%>" class="main-logo">
      <img src="/assets/shemaroo_logo.svg">
    </a>
  </div>
  <div class="navbar-nav-scroll d-none d-md-block">
    <nav class="non_kids_tabs">
      <ul class="list-none mb-0 navbar-nav bd-navbar-nav flex-row tab_desktop">

        <%@header_tabs.each_with_index do |t,i|%>
            <% home_link_chk = (params[:lang].present? ? get_head_link(t['home_link'],"home").split("/")[2] : get_head_link(t['home_link'],"home").split("/")[1])%>
            <li class=" <%= (i == 0 && params[:catalog_name].nil?) ? "active" : (params[:catalog_name] == "#{home_link_chk}") ? "active" : "" %>  header_tab " id="<%=t['display_title'].gsub(' ','-').downcase%>"><a href="<%= t['display_title'].downcase == "home" ? "/#{params[:lang]}" : get_head_link(t['home_link'],"home") %>" class="nav-link relative-content big-desktop-app-font2 <%=t['display_title'].downcase == "live" ? "livemenu" : "" %>" title="<%=t['ml_display_title'] rescue t['display_title']%>"><span><%=t['ml_display_title'] rescue t['display_title']%></span></a></li>
      <%end%>
        <li class=" header_tab brow_menu">
          <a href="javascript:void(0);" class="nav-link browse_menu relative-content big-desktop-app-font2"><%= get_lang_string("browse")%></a>
          <div class="browse_menu_wrap">
            <nav class="">
              <ul class="list-none mb-0 navbar-nav bd-navbar-nav flex-row non_kids_tabs">
                 <%@browse_list.each do |b|%>
                <li class="">
                  <a href="<%=get_lang_url(b['home_link'])%>" class="nav-link relative-content <%= (@layout_scheme.present? && @layout_scheme.gsub('_','-').downcase == b["home_link"]) ? "browse-active-menu" : ""%> big-desktop-app-font2"><%=b['ml_display_title'] rescue b['display_title'] %></a>
                </li>
                <%end%>
              </ul>
            </nav>
          </div>
        </li>
      </ul>
    </nav>
  </div> 
  <ul class="navbar-nav ml-auto flex-row v-center">
    <li class="nav-item header-search relative-content">
      <a href="<%=get_lang_url("search")%>" class="">
        <img src="/assets/new_icons/search_not_selected.svg" alt="search" title="<%=get_lang_string("search")%>">
      </a>
    </li>
    <li class="nav-item pr-1 non_kids_tabs upgrade_plan" style="display: none">
      <a href="<%=get_lang_url("/plans/upgrade_plans")%>" class="app-btn app-btn1 pink-btn big-desktop-app-font1"><%= get_lang_string("upgrade2")%>
      </a>
    </li>
    <li class="nav-item header-view-plan  non_kids_tabs subscribe_plan" style="display: none">
      <a href="<%=get_lang_url("/plans")%>" class="app-btn app-btn1 blue-btn big-desktop-app-font1">              
        <%= get_lang_string("subscribe")%>
      </a>
    </li>
    <li class="nav-item header-signin relative-content with_out_login_item" style="display:none;">
      <a href="<%=get_lang_url("/users/sign_in")%>" class="app-btn app-btn1 big-desktop-app-font1">
      <%=get_lang_string("sign_in1")%>
      </a>
    </li>
    <li class="nav-item header-signin relative-content with_login_item" style="display:none;">
      <a href="<%=get_lang_url("/users/profile")%>" class="">
        <img src="/assets/new_icons/me.svg" alt="" title= "<%= get_lang_string("profile")%>">    
      </a>
    </li>
  </ul>  
  <div class="browse_menu_wrap">
    <nav class="">
      <ul class="list-none mb-0 navbar-nav bd-navbar-nav flex-row non_kids_tabs">
         <%@browse_list.each do |b|%>
        <li class="relative-content">
          <a href="<%=get_lang_url(b['home_link'])%>" class="nav-link big-desktop-app-font2 <%= (@layout_scheme.present? && @layout_scheme == b["home_link"]) ? "browse-active-menu" : ""%>"><%=b['ml_display_title'] rescue b['display_title'] %></a>
        </li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>
<!-- <div id="mobile-tab-kids"> -->
<div class="navbar-nav-scroll w-100 d-block d-md-none mobile-menu tab_mobile"> 
  <nav class="non_kids_tabs">
    <ul class="list-none mb-0  navbar-nav bd-navbar-nav flex-row">
      <%@header_tabs.each_with_index do |t,i|%>
      <% home_link_chk_mob = (params[:lang].present? ? get_head_link(t['home_link'],"home").split("/")[2] : get_head_link(t['home_link'],"home").split("/")[1])%>
        <li class=" <%= (i == 0 && params[:catalog_name].nil?) ? "active" : (params[:catalog_name] == "#{home_link_chk_mob}") ? "active" : "" %> relative-content" id="<%= t["display_title"] %>" ><a href="<%= t['display_title'].downcase == "home" ? "/#{params[:lang]}" : get_head_link(t['home_link'],"home") %>" class="nav-link big-desktop-app-font2 <%=t['display_title'].downcase == "live" ? "livemenu" : "" %>"><span><%=t['ml_display_title'] rescue t['display_title']%></span></a></li>
      <%end%>
      <li class="relative-content">
        <a href="javascript:void(0);" class="nav-link big-desktop-app-font2 mobile_browse_menu" title="">
          <span><%= get_lang_string("browse")%></span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="mobile_browse_menu_wrap">
    <nav class="pt-3 pb-3">
      <ul class="list-none mb-0 navbar-nav bd-navbar-nav  non_kids_tabs">
        <%@browse_list.each do |b|%>
          <li class="relative-content w-100 mb-1">
            <a href="<%=get_lang_url(b['home_link'])%>" class="w-100 nav-link big-desktop-app-font2  text-center <%= (@layout_scheme.present? && @layout_scheme == b["home_link"]) ? "browse-active-menu" : ""%>"><%=b['ml_display_title'] rescue b['display_title'] %></a>
          </li>
        <%end%>
      </ul>
    </nav>
  </div>  
</div>
<!-- </div> -->

<%if params[:action] != "profile" && params[:action] != "sign_in"%>
  <div class="modal pr-0" id="lang_selection_pop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-left">
          <div class="lang_content">
            <img src="/assets/new_icons/close.svg" class="float-right cursor-pointer mt-2 mr-2" id="cls_lang">
              <div class="lang_wrap">
                <%@all_langs.each do |l|%>
                  <div class="lang_box hd_lg_box" id="<%=l['language_code']%>" data-color="<%=l['start_color']%>">
                  <h4 class="font-bold" style="color:#<%=l['start_color']%>"><%=l['language']%><img src="/assets/new_icons/tick.svg"></h4>
                    <p class="mb-0 font-regular"><%=l['language_text']%></p>
                  </div>  
                 <%end%>
              </div>
            <div class="float-left w-100">
              <div class="app-d-flex flex-column hv-center">
                <label class ="" id="select_lang_error" style="display: none">Please select any one language to proceed further</label> 
                <a href="javascript:void(0);" class="btn app-d-flex hv-center app-color4 mt-3" id="home_lang_sel"><%= get_lang_string("continue")%></a>
              </div>  
            </div>  
          </div>  
        </div>   
      </div>
    </div>
  </div>
<%end%>



<div class="contest-fixed-wrapper">
  <div class="contest-fixedbox">
    <a href="<%= get_lang_url("contest_gamification")%>"><img src="/assets/contest/contest_icon_new.svg" alt="contest" title= <%= get_lang_string("contest") %>></a>
  </div>
</div>
<input type="hidden" id="lang_continue" value="<%= get_lang_string("continue")%>">

<input type="hidden" id="mb_lgn_type" value="<%=@mb_login_type%>">
<input type="hidden" id="user_sub_stat" value="<%=@user_status%>">

<%=render "users/firebase_login"%>

<script type="text/javascript">
  $(document).ready(function() {
    if(getShemarooCookies().user_id){
      var active_status = $("#user_sub_stat").val()
       if (active_status == 'expired'){
          $.cookie('user_actv_sub_status',"Expired", { expires: 14,path: '/'});
       }else if (active_status == 'active'){
          $.cookie('user_actv_sub_status',"Subscribed", { expires: 14,path: '/'});
       }
      if (getShemarooCookies().user_actv_sub_status == "Subscribed"){
        var reg = "<%=$region%>"
        if(reg == "IN" || reg == "US"){
          $(".subscribe_plan a").hide()
          $(".upgrade_plan a").show()
        }else {
          $(".subscribe_plan a").hide()
          $(".upgrade_plan a").hide()
        }
        localStorage.setItem("upgrade_click", 'Home')
      }else{
        if(reg == "IN" || reg == "US"){
          $(".subscribe_plan a").show()
          $(".upgrade_plan a").hide()
        }else{
          $(".subscribe_plan a").show()
          $(".upgrade_plan a").hide()
        }
      }
    }else{
      $(".subscribe_plan a").show()
      $(".upgrade_plan a").hide()
    }  
    <%if params['controller'] == "search"%>
      $('.header-search').addClass('active');
      $('.list-none li').removeClass('active');
    <%else%>    
      $('.header-search').removeClass('active');
    <%end%>

    <%if params['controller'] == "plans" || params['controller'] == "users" %>
      $('.list-none li').removeClass('active');
    <%end%>
    
    var user_lang = getShemarooCookies().shm_sel_lang
    var reset_psd_chk = "<%= params[:action] == "reset_password_email" ? "true" : "false" %>"
    if(getShemarooCookies().mobile_browser_type != "android"){
      if(!window.location.search.includes("browser=android")){
        if(!window.location.search.includes("browser=ios")){
          if(!window.location.search.includes("type=mobile")){
            if(!window.location.search.includes("user_login_id")){
              if(user_lang == undefined){
                if($(".user_region").val() == "IN" && reset_psd_chk == "false"){
                  //$("#lang_selection_pop").modal("show");
                }
              }
            }
          }
        }
      }
    }
    

    // <%#if params['controller'] == "users"%>
    //   $('.header-signin').addClass('active');
    //   $('.list-none li').removeClass('active');
    //   $('.header-search').removeClass('active');
    // <%#else%>    
    //   $('.header-signin').removeClass('active');
    // <%#end%>


    if(getShemarooCookies().user_profile_type == "kids"){
        $(".non_kids_tabs").hide();
        // $("#mobile-tab-kids").hide()
     }

    $( '.header-search a, .header-view-plan a').on( 'click', function() {
      var value = $('img', this).attr('title');
      header_events(value)
    });

    $( '.header_tab a').on( 'click', function() {
      $('.header-search, .header-signin').removeClass('active');
      $('.list-none li').removeClass('active');
      $('.header_tab a').removeClass('active');
        $(this).find('span').addClass('active');
      var value = $(this).attr('title');
      header_events(value)
    });

    function header_events(value){
      var user_state = $.cookie('user_actv_sub_status') != undefined ? $.cookie('user_actv_sub_status').toLowerCase() : "anonymous"
      Apxor.logEvent("App_Browse",{
      "tab_selected": value ,
      "user_state": user_state
      }, "App_Browse");

      smartech('dispatch', 'App_Browse', {
        "tab_selected": value,
        "user_state": user_state
      });

      branch.logEvent(
      "App_Browse",
        {"tab_selected": value,
        "user_state": user_state
      },
      function(err) { console.log(err); }
      );
    }



  $(".lang_box").click(function(){
    //document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    $(".lang_box").removeClass("selected");
    //var lang = $(this).attr("id");
    //$.cookie('shm_sel_lang',lang, { expires: 14,path: '/'});
    $(this).addClass("selected");
  })

  $("#home_lang_sel").click(function(){
    document.cookie = 'shm_sel_lang' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    var user_lang = $(".hd_lg_box.selected").attr("id");
    $.cookie('shm_sel_lang',user_lang, { expires: 14,path: '/'});
    var lang = getShemarooCookies().shm_sel_lang
    if(lang == undefined){
      $("#select_lang_error").text("Please select any one language to proceed further").show().fadeOut(3000);
      window.stop()
    }
    else if(lang != "en"){
      window.location = "/"+lang
    } 
    else if(lang == "en"){
      window.location = "/"
    } 
  })

  $("#cls_lang").click(function(){
    $("#lang_selection_pop").hide();
  })
  if(window.window.outerWidth < 1200 && window.window.outerWidth > 767) {
    $(".browse_menu").click(function() {
      $(".browse_menu_wrap").toggleClass("opened");
    });
  }
  

  $(".browse_menu").click(function() {
    $(".browse_menu_wrap").slideToggle();
  });

if(localStorage.getItem("user_mob_map_st") != undefined && localStorage.getItem("user_mob_map_st") == "false" ){
  $("#sso_mobile_login_pop2").modal({backdrop: 'static', keyboard: false});
}


  // $( ".browse_menu" ).hover(
  //   function() {
  //     $(".browse_menu_wrap").slideToggle();
  //   }, function() {
  //     $(".browse_menu_wrap").slideToggle();
  //   }
  // );
  // $(".browse_menu_wrap").hover(
  //   function() {
  //     $(this).show();
  //   })
  
  $(".mobile_browse_menu").click(function() {
    $("body").addClass("browse_menu_opened");
    $(".mobile_browse_menu_wrap").slideToggle();
  });
  });



  /*If user forcefully accesing the url without lang  redirecting to lang url written by kotesh*/
  var cur_url = window.location.pathname
  if(getShemarooCookies().shm_sel_lang != undefined && getShemarooCookies().shm_sel_lang != "en"){
    if(cur_url.split("/")[1] != getShemarooCookies().shm_sel_lang){
      var new_url = cur_url.slice(3)
      if(!window.location.pathname.includes("payment")){
        if(!window.location.search.includes("type=mobile")){
          if(!window.location.pathname.includes("browser=ios")){
            if(window.location.pathname == "/tv"){
       
              window.location = "/"+getShemarooCookies().shm_sel_lang+"/tv"
            }
            else{
            //window.location = "/"+getShemarooCookies().shm_sel_lang+new_url
            }
          }
        } 
      }
    }
  }
/*If user forcefully accesing the url without lang  redirecting to lang url written by kotesh*/
</script>