<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"  />  
    <%#= metamagic %> 
   <%title,desc,image,keywords = get_meta_details%>
   <%if  params[:action] == "all_items_list"%>
   <% title,desc,keywords = "" %>
   <%title,desc,keywords= @meta_title,@meta_description,@meta_keywords%>
   <%end%>
    <title><%=title%></title>
    <meta name="title" content="<%=title%>" />
    <meta name="keywords" content="<%=keywords%>" />
     <meta name="description" content="<%=desc%>" />
    <link rel="canonical" href="<%=SITE%><%=request.fullpath%>" />
   <meta http-equiv="Cache-control" content="public">
  <link rel="icon" href="/assets/shemaroo_favicon_new.png" type="image/gif">
  <% if @item_details.present? %>
    <link rel="alternate" href="<%=SITE%>" hreflang="<%= (@item_details['language'].present? ? @item_details['language'].slice(0..1): "en")+'-'+$region.downcase%>" />
  <% elsif @episode_details.present? %>
    <link rel="alternate" href="<%=SITE%>" hreflang="<%= (@episode_details['language'].present? ? @episode_details['language'].slice(0..1): "en")+'-'+$region.downcase%>" />
  <% else %>
    <link rel="alternate" href="<%=SITE%>" hreflang="<%= (params[:lang].present? ? params[:lang]: "en")+'-'+$region.downcase%>" />
  <% end %>
<%if  @item_details.nil?%>
  <meta itemprop="name" content="<%=title%>"/><meta itemprop="description" content="<%=desc%>"/><meta itemprop="image" content="<%=image.split("?")[0]%>"/>
<%end%>
<%if params[:controller] == "catalogs"  && params[:action] == "index"%>
  <meta name="facebook-domain-verification" content="uah5htcn4450aewcst899k0sm8ndf3" />
<%end%>
<% if @item_details.present? && @item_details['theme'] == "movie"  %>
  <meta property="og:type" content="video.movie" /><meta property="video:release_date" content="<%=@item_details['release_date_string'].split("T")[0]%>">
  <%elsif @episode_details.present?%>
  <meta property="og:type" content="<%= @episode_details["catalog_object"]["layout_type"] rescue 'shows' %>" />
<%else%>
  <meta property="og:type" content="website" />
<%end%>
<meta property="og:title" content="<%=title%>"  /><meta property="og:description" content="<%=desc%>" /><meta property="og:url" content="<%=SITE%><%=request.fullpath%>" /><meta property="og:image" content="<%=image.split("?")[0]%>" />
<% if @item_details.present? %>
<meta property="video:actor" content="<%= @item_details['item_additional_data']['Starring'].join(",")  rescue " " %>"><meta property="video:director" content="<%= @item_details['item_additional_data']['Directed By'][0]  rescue " " %>">
<% end %>
<% if @episode_details.present? %>
<meta property="video:actor" content="<%= @episode_details['item_additional_data']['Starring'].join(",") rescue " " %>"><meta property="video:director" content="<%= @episode_details['item_additional_data']['Directed By'][0]  rescue " " %>">
<% end %>
<!-- robots -->
<meta name="robots" content="noodp,noydir" /><meta name="YahooSeeker" content="INDEX, FOLLOW"><meta name="googlebot" content="index,follow"><meta name="msnbot" content="INDEX, FOLLOW">
<!-- extra -->
<meta name="expires" content="never"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="author" content="ShemarooMe" /><meta name="Rating" content="General"><meta http-equiv="Content-Language" content="en"><meta name="Revisit-After" content="1 Days"><meta name="Language" content="English"><meta name="distribution" content="Global"><meta name="allow-search" content="yes">
  <!-- FB -->
 <meta property="fb:admins" content="@ShemarooMe"/>
<!-- Twitter -->
<meta name="twitter:card" content="summary" /><meta name="twitter:site" content="@ShemarooMe" /><meta name="twitter:title" content="<%= title%>" /><meta name="twitter:description" content="<%= desc %>" /><meta name="twitter:image" content="<%=image.split("?")[0]%>" />
  <%#= csrf_meta_tags %>
  <%#= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :head %>
  <!-- Matomo -->
  <!-- device management pop -->
  <div class="modal" id="device-limit-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h6 class="margin-bottom-10 margin-top-5"><%= get_lang_string("device_limit")%></h6>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= get_lang_string("device_limit_desc")%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button2 margin-right-10 sec_button_wrap">
            <a href="javascript:void(0);" class="text-uppercase btn gradient2 font-bold" id="limit_device_cancel"><%= get_lang_string("cancel")%></a>
          </p>
          <p class="inline radius-button radius-button border-radius-40 margin-left-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="limit_device_confirm"><%= get_lang_string("manage_devices")%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>


<div class="modal" id="concurrent-limit-pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h6 class="margin-bottom-10 margin-top-5"><%= get_lang_string("user_limit")%></h6>
        <p class="pull-left w-100 margin-top-5 margin-bottom-25 font-mregular normal_txt">
          <%= get_lang_string("too_many_users")%>
        </p>
        <div class="inline-block w-100 custom-gradient margin-bottom-20 margin-top-5 text-center">
          <p class="inline radius-button radius-button margin-right-10">
            <a href="javascript:void(0);" class="text-uppercase btn gradient1 font-bold" id="concurrent_limit_ok"><%= get_lang_string("ok")%></a>
          </p>
        </div>
      </div>   
    </div>
  </div>
</div>
<!-- device management pop ends here -->
<!-- regional popup -->
<div class="modal" id="regional_popup"><div class="modal-dialog"><div class="modal-content"><div class="modal-body text-left padding-left-0 padding-right-0 padding-top-0"><div class="gradient_content pull-left w-100"><a href="javascript:void(0);" class="text-right pull-right text-underline margin-right-20 close-opt" id="skip_popup"><%= get_lang_string("skip")%></a><p class="text-center margin-top-10"><img src="/assets/shemaroo_logo.svg" id="logo" alt="shemaroome logo" title="shemaroome"></p><p class="text-center margin-top-25"><img src="/assets/glob.png" id="glob" alt="" title=""></p></div><p class="margin-bottom-45 shemaroo-color2"><%= get_lang_string("invalid_region")%></p><p class="text-center"><img src="/assets/track.png" id="track" class="" alt="" title=""></p><p class="margin-top-25 shemaroo-color2 margin-bottom-25"><%= get_lang_string("sign_in_with_region_credentials")%></p><p class=" text-center margin-top-15 padding-top-10 margin-bottom-15"><a href="javascript:void(0);" id="region_sign_in"class="text-uppercase region_btn"><%= get_lang_string("sign_in")%></a></p></div></div></div></div>

<input type="hidden" id="manage_devices"  value="<%=get_lang_string("manage_devices")%>">
<input type="hidden" id="device_cancel"  value="<%=get_lang_string("cancel")%>">
<!-- Matomo -->
<script type="text/javascript">
  var matomo_value = '1'
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = "https://analytics.shemaroome.com/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', matomo_value]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
 <%if $region != "US"%>
 <%if payment_success_page(params[:action]) == true %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-381231221"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-381231221');
      </script>
 <%else%>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134437338-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134437338-1');
  </script>
 <%end%>
 <%end%>
   <script type="text/javascript">
      var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
    </script>
<script>
  var lang_selected = (getShemarooCookies().shm_sel_lang != undefined)  ? getShemarooCookies().shm_sel_lang : "en"
  $('body').addClass(lang_selected);
   var theme = "<%=params[:theme_option]%>";
      theme  = theme ? theme : getShemarooCookies().theme_option
     if (theme == "dark_theme" || theme == "light_theme"){
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
     $.cookie('theme_option',theme, { expires: 14,path: '/'});
     }else {
      document.cookie = 'theme_option' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      $.cookie('theme_option',"light_theme", { expires: 14,path: '/'});
     }
    if (getShemarooCookies().theme_option == "dark_theme" ){
      $('body').addClass("dark-theme");
    }
  
  var user_analytical_id = getShemarooCookies().user_analytical_id
  if(user_analytical_id == undefined){
    user_analytical_id = '';
  } 
</script>
<script src='//cdnt.netcoresmartech.com/smartechclient.js'></script>  
<script>
 smartech('create', 'ADGMOT35CHFLVDHBJNIG50K968SF88APLS8HMS7NN4OLU8FSE4CG');
 smartech('register', '21c0991a4c2327fc3461186644e7d2c3');               
 smartech('identify', user_analytical_id); 
 smartech('dispatch',1,{});
</script> 


<%if $region == "US" %>
  <!-- facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '397219034188525');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=397219034188525&ev=PageView&noscript=1"
    /></noscript>
<%elsif $region == "CA" %>
  <!-- facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '397219034188525');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=397219034188525&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
<%elsif @region == "IN" %>
<!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '626609931113137');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=626609931113137&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
<%else%>
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '395244572495160');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=395244572495160&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- End Facebook Pixel Code -->
<%end%>


<%if $region != "IN"%>
  <!-- Global site tag (gtag.js) - Google Ads: 773430063 -->
  <%if params[:action] == "payment_success" %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-381231221"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-381231221');
      </script>
 <%else%>
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-773430063"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-773430063');
  </script>
  <%end%>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PH6WPGG');</script>
<!-- End Google Tag Manager -->
<%else%>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TP9J5PG');</script>
<!-- End Google Tag Manager -->
<%end%>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>

  (adsbygoogle = window.adsbygoogle || []).push({

    google_ad_client: "ca-pub-5841056313801222",

    enable_page_level_ads: true

  });

</script>
<%if params[:action] == "partner" ||  params[:action] == "item_details"  ||  params[:action] == "episode_details" || params[:action]  == "show_catalog_item"%>
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
  <script>
    window.googletag = window.googletag || {cmd: []};
    var gptAdSlots = [];
    googletag.cmd.push(function() {
    
    gptAdSlots[0]  = googletag.defineSlot('/21794751780/ShemarooMe_Web_728x90', [728, 90], 'div-gpt-ad-1585741893616-0').addService(googletag.pubads());

    gptAdSlots[1]  = googletag.defineSlot('/21794751780/ShemarooMe_Web_728x90', [728, 90], 'div-gpt-ad1-1585741893616-0').addService(googletag.pubads());

    gptAdSlots[2] =  googletag.defineSlot('/21794751780/shemaroome_boxAd_300x250', [300, 250], 'div-gpt-ad-1585723049846-0').addService(googletag.pubads());

    gptAdSlots[3] =  googletag.defineSlot('/21794751780/Ixigo_Android_300x250_VideoPlayer_ATF', [300, 250], 'div-gpt-ad-1571401090315-0').addService(googletag.pubads());
    gptAdSlots[4] =  googletag.defineSlot('/21794751780/SME_UcBrowser_Display_Ad', [300, 250], 'div-gpt-ad-1589367833644-0').addService(googletag.pubads());


    googletag.pubads().enableSingleRequest();

    googletag.enableServices();
  });
   /* googletag.cmd.push(function() {
      googletag.defineSlot('/21794751780/Ixigo_Android_300x250_VideoPlayer_ATF', [300, 250], 'div-gpt-ad-1571401090315-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });*/
  </script>
<%end%>
<script type="text/javascript">
(function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent logEvent disableTracking getBrowserFingerprintId crossPlatformIds lastAttributedTouchData".split(" "), 0);
   branch.init('key_live_flJg9QCXB43vk5MY1qhmfahmqFfYLPFF', function(err, data) {
    // callback to handle err or data
});
</script>
<script async type="text/javascript" src="//tag.hockeycurve.com/shemaroome-001.js"></script>
  <!-- Taboola Pixel Code -->
  <script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1405398});
    !function (t, f, a, x) {
           if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
           }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/unip/1405398/tfa.js',
    'tb_tfa_script');
  </script>
  <!-- End of Taboola Pixel Code -->

  <!-- Razor pay -->
  <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>

  <% if params[:action] == "payment_success" || params[:action] == "razor_pay_response" || params[:action] == "paytm_response" || params[:action] == "payu_payment_response" || params[:action] == "amazonpay" || params[:action] == "googlepay_response" %>
    <!-- Global site tag (gtag.js) - Google Ads: 770086861 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-770086861"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-770086861');
    </script>

    <!-- Event snippet for Purchase - IA Account conversion page -->
    <script>
      gtag('event', 'conversion', {
          'send_to': 'AW-770086861/fp7ICNr1uP4CEM2vmu8C',
          'transaction_id': ''
      });
    </script>
  <%end%>
    <!-- Programmatic Pixel -->
  <script language='JavaScript1.1' async src='//pixel.mathtag.com/event/js?mt_id=1565988&mt_adid=248704&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3='></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src=https://www.googletagmanager.com/gtag/js?id=G-TQRFGW5KY1></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-TQRFGW5KY1');
  </script>
  </head>
  <!--Start of amazon pay -->
<div id="amazon-root"></div>
<script type="text/javascript">

window.onAmazonLoginReady = function() {
amazon.Login.setClientId('amzn1.application-oa2-client.44766ffeadb349bcbfc3b366f2e295b5');
};
(function(d) {
var a = d.createElement('script'); a.type = 'text/javascript';
a.async = true; a.id = 'amazon-login-sdk';
a.src ='https://assets.loginwithamazon.com/sdk/na/login1.js'; d.getElementById('amazon-root').appendChild(a);})(document);
</script>

<!--end of amazon pay -->
  <div class="fb_pixel">
    <script type="text/javascript">
    </script>
  </div>
   <div class="free_trail_fb_pixel">
    <script type="text/javascript">
    </script>
  </div>
  <div class="google_pixel">
    <script type="text/javascript">
    </script>
     <div class="free_trail_google_pixel">
    <script type="text/javascript">
    </script>
  </div>
  </div>
  <body class= "">
    <% if params[:action] != "plans_summary" && params[:action] != "new_plan_summary" && params[:action] != "razor_pay_response" && params[:action] != "paytm_response" && params[:action] != "payment_success" && params[:action] != "amazonpay" && params[:action] != "googlepay_response" && params[:action] !=  "payu_payment_response" %>
      <!--
      Start of Floodlight Tag: Please do not remove
      Activity name of this tag: Shemaroo catalogue
      URL of the webpage where the tag is expected to be placed:
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 11/16/2021
      -->
      <script type="text/javascript">
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema001;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema001;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
      <!-- End of Floodlight Tag: Please do not remove -->
    <% elsif params[:action] == "payment_success" || params[:action] == "razor_pay_response" || params[:action] == "paytm_response" || params[:action] == "payu_payment_response" || params[:action] == "amazonpay" || params[:action] == "googlepay_response" %>
      <!--
      Start of Floodlight Tag: Please do not remove
      Activity name of this tag: Shemaroo Purchase
      URL of the webpage where the tag is expected to be placed:
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 11/15/2021
      -->
      <script type="text/javascript">
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema00;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema00;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
      <!-- End of Floodlight Tag: Please do not remove -->
    <% elsif params[:action] == "plans_summary" || params[:action] == "new_plan_summary" %>
              <!--
        Start of Floodlight Tag: Please do not remove
        Activity name of this tag: Shemaroo cart
        URL of the webpage where the tag is expected to be placed:
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 11/15/2021
        -->
        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema000;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        </script>
        <noscript>
        <iframe src="https://11477807.fls.doubleclick.net/activityi;src=11477807;type=invmedia;cat=shema000;u1=[Variable 1];u2=[Variable2];u3=[Variable3];u4=[Number1];u5=[Number2];u6=[Number3];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
        </noscript>
        <!-- End of Floodlight Tag: Please do not remove -->
    <% end %>


    <%#title,desc,keywords,theme,genres = get_item_meta_det(@item_details)%>
    
<% if params[:catalog_name] == 'show' && (params[:action] == "show_catalog_item" || params[:action] == "indiv_category_landing") %>
<script type="application/ld+json">
{
   "@context": "http://schema.org/",
   "@type":"BreadcrumbList",
   "itemListElement" : "<%= raw @schem_tag %>"
</script>
<% end %>
<%if !@episode_details.nil?%>
 <script type="application/ld+json"> 
{
  "@context": "https://schema.org",
  "@type": "videoObject",
  "name": "<%=title%>",
  "description": "<%=desc%>",
  "keywords": "<%=keywords%>",
  "uploadDate": "<%= @episode_details['release_date_string'] ? @episode_details['release_date_string'].split("T")[0] :  @episode_details['last_episode']['release_date_string'].split("T")[0] rescue "NA" %>",
  "duration": "<%= @episode_details['duration_string'] ?  get_video_duration(@episode_details) : get_video_duration(@episode_details['last_episode']) rescue "NA" %>",  
  "contentUrl": "<%=SITE%><%=request.fullpath%>",
  "thumbnailUrl": "<%=image.split("?")[0]%>"
}
</script>
<script type="application/ld+json">
  {"@context":"http://schema.org","@id":"<%=SITE%><%=request.fullpath%>","@type":"videoObject",
"name":"<%= @episode_details['title'] %>","url":"<%=SITE%><%=request.fullpath%>","description":"<%= @episode_details['description']%>","potentialAction":{"@type":"WatchAction","target":[{"@type":"EntryPoint","urlTemplate":"<%=SITE%><%=request.fullpath%>","contentUrl": "<%=SITE%><%=request.fullpath%>","inLanguage":"en","actionPlatform":["http://sche
ma.org/DesktopWebPlatform","http://schema.org/MobileWebPlatform","http://schema.org/IOSPlatform","http://schema.googleapis.com/GoogleVideoCast","http://schema.org/AndroidPlatform"]}],"expectsAcceptanceOf":{"@type":"Offer","availabilityStarts":"","availabilityEnds":"2022-12-31T18:29:00.000Z","category":"subscription","name":"ShemarooMe Premium","price":349,"priceCurrency":"INR","seller":{"@type":"Organization","name":"","sameAs":" https://www.shemaroome.com/"},"eligibleRegion":{"@type":"Country","name":"IN"}}},"image":"<%=image.split("?")[0]%>","uploadDate":"<%= @episode_details['last_episode']['release_date_string'] rescue "NA" %>","thumbnailUrl":"<%=image.split("?")[0]%>","actor":[{"@type":"Person","name":<%=raw @episode_details['item_additional_data']['Starring'] rescue "NA" %>}],"director":[{"@type":"Person","name":<%=raw @episode_details['item_additional_data']['Directed By'] rescue "NA" %>}],"duration":"<%= @episode_details['duration_string'] ?  get_video_duration(@episode_details) : get_video_duration(@episode_details['last_episode']) rescue "NA" %>"}
</script>
<%end%>
<%if params[:controller] == "catalogs"  && params[:action] == "item_details" && !@item_details.nil? && (@item_details['theme'] == "movie" || @item_details['theme'] == "video")%>
 <script type="application/ld+json">
  {
  "@context":"http://schema.org",
  "@type":"VideoObject",
  "name":"<%=@item_details['title']%>",
  "description":[{"@language":"en-in","@value":"Watch <%=@item_details['title']%> full movie online on ShemarooMe. Stream full movie online <%=@item_details['title']%>. Download ShemarooMe app and subscribe to ShemarooMe Premium to stream latest &amp; old Indian Hindi Bollywood, Bollywood Premiere, Bollywood Classic, Gujarati, Marathi, Kids, Bhakti, Comedy and Punjabi movies. Watch comedy  <%=@item_details['title']%> movie online. Stream hindi  movie  <%=@item_details['title']%> only on ShemarooMe."}],
  "thumbnailUrl":["<%=image.split("?")[0]%>"],
  "uploadDate":"<%=@item_details['release_date_string'].split("T")[0]%>",
  "duration":"PT<%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S",
  "embedUrl":"<%=SITE%><%=request.fullpath%>",
  "regionsAllowed":[{"@type":"Place","name":"IN"}],
  "publication":{
    "@type":"BroadcastEvent",
    "isLiveBroadcast":false,
    "startDate":"2020-04-02T17:30:00.000Z"
  }
}
</script>
<% if @item_details['theme'] == "video" %>
<script data-react-helmet="true" id="videoObject" type="application/ld+json">{"@context":"http://schema.org/","@type":"VideoObject","name":[{"@language":"en-in","@value":"<%=@item_details['title']%>" }],"description":[{"@language":"en-in","@value":"Watch <%=@item_details['title']%> full movie online on ShemarooMe. Stream full movie online . Download ShemarooMe app and subscribe to ShemarooMe Premium to stream latest &amp; old Indian Hindi Bollywood, Bollywood Premiere, Bollywood Classic, Gujarati, Marathi, Kids, Bhakti, Comedy and Punjabi movies. Watch comedy  <%=@item_details['title']%>  movie online. Stream hindi  movie  <%=@item_details['title']%>  only on ShemarooMe"}],"contentRating":"undefined","inLanguage": "<%=@item_details['language']%>","thumbnailUrl":["<%=image.split("?")[0]%>"],"url":"<%=SITE%><%=request.fullpath%>","id":"<%=SITE%><%=request.fullpath%>#videoObject","dateCreated":"2016-8-7","releasedEvent":{"@type":"PublicationEvent","name":"<%=@item_details['title']%>","startDate":"<%=@item_details['release_date_string'].split("T")[0]%>"},"potentialAction":{"@type":"WatchAction","target":{"@type":"EntryPoint","inLanguage": "<%=@item_details['language']%>","urlTemplate":"<%=SITE%><%=request.fullpath%>","actionPlatform":["http://schema.org/DesktopWebPlatform","http://schema.org/MobileWebPlatform","http://schema.org/IOSPlatform","http://schema.org/AndroidPlatform","http://schema.org/AndroidTVPlatform","http://schema.googleapis.com/GoogleVideoCast"]},"expectsAcceptanceOf":[{"@type":"Offer","availabilityStarts":"<%=@item_details['release_date_string'].split("T")[0]%>","category":"subscription","eligibleRegion":[{"@type":"Country","name":"in"},{"@type":"Country","name":"us"},{"@type":"Country","name":"sd"}]}]},"genre":<%=raw @item_details['genres']%>,"embedUrl":"<%=SITE%><%=request.fullpath%>","uploadDate":"<%=@item_details['release_date_string'].split("T")[0] rescue "NA" %>","hasPart":[],"duration":"PT<%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S","director": "<%=raw @item_details['item_additional_data']['Directed By'] rescue "NA" %>","actors": <%=raw @item_details['item_additional_data']['Starring'] rescue "NA" %>}</script>
<script data-react-helmet="true" id="video Song" type="application/ld+json">{"@context":"http://schema.org/","@type":"Video Song","name":[{"@language":"en-in","@value":"<%=@item_details['title']%>" }],"description":[{"@language":"en-in","@value":"Watch <%=@item_details['title']%> full movie online on ShemarooMe. Stream full movie online . Download ShemarooMe app and subscribe to ShemarooMe Premium to stream latest &amp; old Indian Hindi Bollywood, Bollywood Premiere, Bollywood Classic, Gujarati, Marathi, Kids, Bhakti, Comedy and Punjabi movies. Watch comedy  <%=@item_details['title']%>  movie online. Stream hindi  movie  <%=@item_details['title']%>  only on ShemarooMe"}],"contentRating":"undefined","inLanguage": "<%=@item_details['language']%>","thumbnailUrl":["<%=image.split("?")[0]%>"],"url":"<%=SITE%><%=request.fullpath%>","id":"<%=SITE%><%=request.fullpath%>#videoSchema","dateCreated":"2016-8-7","Music 
director":<%=raw @item_details['item_additional_data']['Music Director'].present? ? @item_details['item_additional_data']['Music Director'] : "NA" %>, "Singer":<%=raw @item_details['item_additional_data']['Singers'].present? ? @item_details['item_additional_data']['Singers'] : "NA" %>,"releasedEvent":{"@type":"PublicationEvent","name":"<%=@item_details['title']%>","startDate":"<%=@item_details['release_date_string'].split("T")[0]%>"},"potentialAction":{"@type":"WatchAction","target":{"@type":"EntryPoint","inLanguage": "<%=@item_details['language']%>","urlTemplate":"<%=SITE%><%=request.fullpath%>","actionPlatform":["http://schema.org/DesktopWebPlatform","http://schema.org/MobileWebPlatform","http://schema.org/IOSPlatform","http://schema.org/AndroidPlatform","http://schema.org/AndroidTVPlatform","http://schema.googleapis.com/GoogleVideoCast"]},"expectsAcceptanceOf":[{"@type":"Offer","availabilityStarts":"<%=@item_details['release_date_string'].split("T")[0]%>","category":"subscription","eligibleRegion":[{"@type":"Country","name":"in"},{"@type":"Country","name":"us"},{"@type":"Country","name":"sd"}]}]},"genre":<%=raw @item_details['genres']%>,"embedUrl":"<%=SITE%><%=request.fullpath%>","uploadDate":"<%=@item_details['release_date_string'].split("T")[0] rescue "NA" %>","hasPart":[],"duration":"PT<%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S","director":<%=raw @item_details['item_additional_data']['Directed By'] rescue "NA" %>,"actor": <%=raw @item_details['item_additional_data']['Starring'] rescue "NA" %>}</script>
<% else %>
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@id":"<%=SITE%><%=request.fullpath%>",
    "@type":"<%= @item_details['theme'] %>",
    "name":[{
      "@language":"en-in",
      "@value":"<%=@item_details['title']%>"
    }],
    "url":"<%=SITE%><%=request.fullpath%>",
    "description":"<%= @item_details['description'].truncate(300) %>",
    "potentialAction":{
      "@type":"WatchAction",
      "target":[{
        "@type":"EntryPoint",
        "urlTemplate":"<%=SITE%><%=request.fullpath%>",
        "inLanguage":"<%=@item_details['language'].first(2)%>",
        "actionPlatform":[
        "http://schema.org/DesktopWebPlatform",
        "http://schema.org/MobileWebPlatform",
        "http://schema.org/IOSPlatform",
        "http://schema.googleapis.com/GoogleVideoCast",
        "http://schema.org/AndroidPlatform"
        ]
      }],
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "availabilityStarts":"<%=@item_details['release_date_string']%>",
        "availabilityEnds":"2022-12-31T18:29:00.000Z",
        "category":"subscription",
        "name":"ShemarooMe Premium",
        "price":349,
        "priceCurrency":"INR",
        "seller":{
          "@type":"Organization",
          "name":"",
          "sameAs": " https://www.shemaroome.com/"},
          "eligibleRegion":{
            "@type":"Country",
            "name":"IN"
          }
        }
      },
      "image":"<%=image.split("?")[0]%>",
      "actor":[{
        "@type":"Person",
        "name":"<%= raw @item_details['item_additional_data']['Starring'].first %>"
      }],
      "director":[{
        "@type":"Person",
        "name":"<%= raw @item_details['item_additional_data']['Directed By'].first %>"
      }],
      "duration":"PT<%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S"
  }
}
</script>
<% end %>
 <div itemscope itemtype="http://schema.org/VideoObject" style="display: none;">
    <h2 itemprop="name"><%=@item_details['title']%></h2><br>
    <link itemprop="contentUrl" href="<%=SITE%><%=request.fullpath%>">
    <time itemprop="duration" content="PT<%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S"><%=@item_details['duration_string'].split(":")[0]%>H<%=@item_details['duration_string'].split(":")[1]%>M<%=@item_details['duration_string'].split(":")[2]%>S</time><br>
    <img itemprop="thumbnailUrl" src="<%= image.split("?")[0]%>" alt="<%=@item_details['title']%>"><br>
    <span itemprop="uploadDate"><%=@item_details['release_date_string'].split("T")[0]%></span><br>
    <span itemprop="description">Watch <%=@item_details['title']%> full movie online on ShemarooMe. Stream full movie online <%=@item_details['title']%>. Download ShemarooMe app and subscribe to ShemarooMe Premium to stream latest &amp; old Indian Hindi Bollywood, Bollywood Premiere, Bollywood Classic, Gujarati, Marathi, Kids, Bhakti, Comedy and Punjabi movies. Watch comedy  <%=@item_details['title']%> movie online. Stream hindi  movie  <%=@item_details['title']%> only on ShemarooMe.</span>
  </div>




<% end %>
<%if params[:controller] == "catalogs"  && params[:action] == "index"%>



  <script type="application/ld+json">
    
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "ShemarooMe",
  "url": "https://www.shemaroome.com/",
  "logo": "https://www.shemaroome.com/assets/shemaroo_logo.svg",
  "sameAs": [
    "https://www.facebook.com/ShemarooMe/",
    "https://twitter.com/ShemarooMe",
    "https://www.instagram.com/shemaroome/",
    "https://www.youtube.com/channel/UCrbgiUM0ikz4L6zVjzVbyWg",
    "https://en.wikipedia.org/wiki/Shemaroo_Entertainment",
    "https://www.shemaroome.com/"
  ]
}
</script>
<%end%>
    <%if $region == "IN"%>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP9J5PG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<%else%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH6WPGG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<%end%>

    <div class="float-left w-100 wrapper">
    <div class="container">   
          <div class="loader" style="display: none;"></div>
             <script>
        // Your web app's Firebase configuration
          var firebaseConfig = {
          apiKey: "AIzaSyDao8u3ipgjpON1lYOHD-vsE5tuOAYt-eQ",
          authDomain: "shemaroome-fa3b3.firebaseapp.com",
          databaseURL: "https://shemaroome-fa3b3.firebaseio.com",
          projectId: "shemaroome-fa3b3",
          storageBucket: "shemaroome-fa3b3.appspot.com",
          messagingSenderId: "535802096681",
          appId: "1:535802096681:web:9ffcaf22170a3ccd1bc038",
          measurementId: "G-7R95HMN23M"
        };
      // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
      </script>
      <script src="/node_modules/apxor/dist/apxor.min.js"></script>
       <script type="text/javascript">
         Apxor.init('e170a9513966fbdcde03486d8fa8383e', {});
       </script>

        <%=render "layouts/header"%>
          <%= yield %>
          <%if params[:action] == "partner"%>
          <div class="add_unit" style ="display: none !important" >
    <div id='div-gpt-ad-1571401090315-0' style='width: 300px; height: 250px; display: none !important'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571401090315-0'); });
  </script>
</div>
</div>
    <%end%>
          <%=render "layouts/footer"%>
        </div>
      </div>
    <input type="hidden" class="user_region"  value="<%= $region %>">
    <input type="hidden" id="host_site"  value="<%= SITE %>">

    <input type="hidden" class="user_city" value="<%= $city %>">
    <input type="hidden" class="country_name" value="<%= @country_name %>">
   <input type="hidden" class="free_trail" name="free trail" value="<%=@free_trail%>">
   <input type="hidden" class="free_trail_msg" name="free trail message" value="<%=@free_trail_message%>">
   <input type="hidden" id="ext_country_code"  value="<%= @phone_prefix%>" readonly>
   <input type="hidden" id="max_phone_digit"  value="<%= @max_ph_digits%>"  >

  </body>
  <script type="text/javascript">
function delete_all_user_cookies(){
  _paq.push(['resetUserId']);
  _paq.push(['trackPageView']);
  document.cookie = 'user_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'user_login_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'user_name' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'profile_id' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'user_profiles' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'is_parent_control' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'pin' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = 'user_profile_type' + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

 function check_user_session(){
   $.ajax({
      url: "/users/check_valid_user_session",
      type: "POST",
      data: { user_id:  $.cookie('user_id') },
      success: function(response){
        // console.log(response,"response")
       if(response.status == "false"){
         delete_all_user_cookies(); 
         window.location = "/"
       } 
       else if(response.reg_loc_use == "false"){
            delete_all_user_cookies(); 
            clearInterval(user_interval)
           $(".with_login_item, .mobile_with_login").hide();
           $(".with_out_login_item,.mobile_with_out_login_item").show();
            $("#regional_popup").modal("show")
          } 
      }
    });
 }

   /*f(!!$.cookie('user_id')){
  var user_interval =  window.setInterval(function(){
        check_user_session()
   }, 180000);
   }*/
   
    var getShemarooCookies = function(){
      var pairs = document.cookie.split("; ");
      var cookies = {};
      for (var i=0; i<pairs.length; i++){
      var pair = pairs[i].split("=");
      cookies[pair[0]] = unescape(pair[1]);
      }
      return cookies;
    }
    $(document).ready(function(){
     if(getShemarooCookies().user_id){
      var profile_type = getShemarooCookies().user_profile_type;  
      if(profile_type != undefined && profile_type == "kids"){
        $("#non_kids_tabs,#mobile_non_kids,.non_kid_tab").hide();
         if(window.location.pathname == "/" || window.location.pathname == "/"+getShemarooCookies().shm_sel_lang){
          var kids_url = "/kids"
          if (getShemarooCookies().shm_sel_lang != undefined  && getShemarooCookies().shm_sel_lang != "en"){
            kids_url = "/"+getShemarooCookies().shm_sel_lang+"/kids"
          }
          window.location = kids_url
       }
         $(".kids-header").addClass("active");
         $("#kids_tabs,#mobile_kids").show();
      }
    } 
  })
    //User kids profile refresh the /kids page //
    if(getShemarooCookies().user_id){
      var profile_type = getShemarooCookies().user_profile_type;  
      if(profile_type != undefined && profile_type == "kids"){
         $(".main_logo_link").attr("href","/kids");
         if(window.location.pathname == "/kids"){
          $("#non_kids_tabs,#mobile_non_kids,.non_kid_tab").hide();
           $(".kids-header").addClass("active");
           $("#kids_tabs,#mobile_kids").show();
       }
      }
    } 
       //User kids profile refresh the /kids page //
       
    //Share url code starts here//
    var window_location = window.location.href
    var is_share_url =  window_location.indexOf("share_url=true")
    is_share_url = parseInt(is_share_url)
    var isMobile = {
      android: function() {
          return navigator.userAgent.match(/Android/i);
      },
      iphone: function() {
          return navigator.userAgent.match(/iPhone/i);
      },
      ipad: function() {
          return navigator.userAgent.match(/iPad/i);
      }
    };

    var url = '';
    var share_url = $("#app_share_url").val();
    if(is_share_url != -1){
      if ((isMobile.iphone() || isMobile.ipad())) {
        var siti_check = window_location.indexOf("source=siti_cable")
        if(siti_check != -1){
          siti_url  = window.location.search.split("source=siti_cable")[1]
          share_url = share_url+"&source=siti_cable"+siti_url
        }
        var action_name = "<%= action_name %>"
        if(action_name =="show_catalog_item" || action_name =="indiv_category_landing"){
          var homelink = "<%= params["catalog_name"]%>"
          var category_title= $("#category_title").val()
          share_url = "url=category_deeplinked&homelink="+ homelink +"&title="+ category_title
        }else if(action_name == "all_plans" || action_name == "view_plans"){
          share_url = "plans"
        }
        url = "shemaroome://www.shemaroome.com?"+share_url
      }
      else if(isMobile.android()){
        if(window_location.includes("type=amazon")){
          var trans_url = window_location.split("|")
         url = "shemaroome://shemaroome/home?transaction_id="+trans_url[1]+"&currency_type=INR&pack_value="+trans_url[2]+"&pack_name="+trans_url[4]+"&transaction_status="+trans_url[3]
         if(trans_url[3] == "failure"){
           url = url+"&failure_reason=Transaction failed"
          }
        }
        else{
          url = "https://play.google.com/store/apps/details?id=com.saranyu.shemarooworld"
        }
      }
      if((isMobile.iphone() || isMobile.ipad() || isMobile.android())){
        window.location = url;
        if((isMobile.iphone() || isMobile.ipad() ) && siti_check != -1){
          // setTimeout("window.location = 'https://apps.apple.com/app/apple-store/id1439041310';", 1000); 
        }
      }
    }

    //shemaroome://shemaroome/home?transaction_id=&currency_type=INR&pack_value=&pack_name=Bollywood_Premiere&transaction_status=success&failure_reason=sdkjskdjskdjType a message
    //Share url code ends here//

  //Reset password for Iphone

    var window_location = window.location.href
    var is_reset_pwd =  window_location.indexOf("reset_pwd=true")
    is_reset_pwd_url = parseInt(is_reset_pwd)
    var isMobile = {
      android: function() {
          return navigator.userAgent.match(/Android/i);
      },
      iphone: function() {
          return navigator.userAgent.match(/iPhone/i);
      },
      ipad: function() {
          return navigator.userAgent.match(/iPad/i);
      }
    };

    var mobile_url = '';
    var reset_url = window.location.href
    if(is_reset_pwd_url != -1){
      if ((isMobile.iphone() || isMobile.ipad())) {
        mobile_url = "shemaroome://www.shemaroome.com?"+reset_url
      }
      if((isMobile.iphone() || isMobile.ipad())){
        window.location = mobile_url;
      }
    }
    
//Resetpassword for iphone

      //maximum device limit code starts here//
      //$(document).ready(function(){
        function user_logout(){
          $.ajax({
            url: "/users/sign_out",
            type: "POST",
            data: { },
            success: function(response,status){
              console.log(response);
              if(response.status == true){ 
                localStorage.removeItem("max_device_limit_reached")
                delete_all_user_cookies();
                window.location = "/";
              }
            }
          });
        }
        if(getShemarooCookies().user_id){
          var max_device_limit =  localStorage.getItem("max_device_limit_reached")
          if(localStorage.getItem("max_device_limit_reached") != undefined && max_device_limit == "true"){
            if(window.location.pathname != "/"+getShemarooCookies().shm_sel_lang+"/users/registered_devices" && window.location.pathname != "/users/registered_devices"){
              $("#concurrent-limit-pop").modal("show")    
              user_logout()
              $("#concurrent_limit_ok").click(function(){
                $(this).text("<%= get_lang_string("ok")%>...")
                location.reload()
              })
            } 
          }
        } 
      //})
      //maximum device limit code ends here//
      if(getShemarooCookies().user_id){
       var session_error_check =  window_location.indexOf("session_error=true")
       if(session_error_check != -1){
        user_logout();
        location.reload()
       }
     }
  //Start of BranchIo Deeplinking feature
    /*var is_branch_deep_link_url =  window_location.indexOf("_branch_match_id")
    if(is_branch_deep_link_url != -1){
      branch.first(function(err,data) {
        var deep_link_url = jQuery.parseJSON(data["data"])["$canonical_url"];
        if(deep_link_url.length != 0){
          window.location = deep_link_url
        }
      });
    }*/
  //End of Branch Deeplinking feature
   


</script>
<!--Table stream script starts here-->
<script type="text/javascript">
 

 

    $(document).ready(function(){

      // if we are iframed

      if ( window.location !== window.parent.location ) {

         

         // Create IE + others compatible event handler

         var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";

         var eventer = window[eventMethod];

         var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

         // Listen to message from parent window

         eventer(messageEvent,function(e) {

           console.log('origin: ', e.origin);

           console.log('iframe received message from: ', e.origin);

           console.log('iframe received message!: ', e.data);

 

           if(e.origin.search('tabletstream') > -1){

                  pass_data = JSON.parse(event.data);

                    console.log('data_passed',pass_data);

                  if(pass_data.action == 'login'){

                     document.getElementById('user_login_id').click();

                     document.getElementById('signin_email').value = pass_data.user_name;

                     document.getElementById('signin_password').value = pass_data.user_pass;

                     parent.postMessage("loging_in","*");

                     document.getElementById('user_signin').click();

                    

                  }

                  if(pass_data.action == 'logout'){

                    parent.postMessage("iframelogingout","*");

                    console.log('loging out');

                   document.getElementById('user_signout').click();

                   document.getElementById('logout_confirm').click()

                  } 

           }

 

         }, false)

         parent.postMessage("iframeready","*");

      }

    });

$(document).ready(function(){
  if(getShemarooCookies().user_profile_type == "kids"){
      $(".non_kids_tabs").hide();
  } else{
    $(".non_kids_tabs").show();
  } 
  var user_region = "<%=$region%>"
   if(user_region == "IN"){
      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
       $(".add_unit").show();
    
   }
   else{
    var uc_browse = window.location.search.split("utm_source=")[1]
    if (uc_browse == "ucbrowser") {
      $("#non_uc_browse_adds").hide()
      $("#uc_browser_ads").show()
    }
     $(".desktop_ads").show();
   }

}


})

$("#region_sign_in").click(function(){
  console.log("inside regional_popup ")
  $("#regional_popup").modal("hide")
  $("#fb_login_pop").modal("show")
})

$("#skip_popup").click(function(){
  if(window.location.pathname.includes("users") == true){
      window.location = "/"
    }
    $("#regional_popup").modal("hide")

})

function Netcore_Browse(tab_name,episodes,view_plan){
   console.log("netcore Netcore_Browse----------------------------")
   var user_region = $(".user_region").val()
    smartech('dispatch', 'Browse', {
    "user_id": getShemarooCookies().user_analytic_id,
   "tab_selected": tab_name,
  "all_episodes": "",
   "view_plans":"",
   "COUNTRY":user_region
    });
}


</script>
<!--Table stream script ends here-->
</html>